<template>
  <div>
    <div>
      <h1 class="text-center">{{ message }}</h1>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: "",
    };
  },

  computed: {
    routeType() {
      return this.$route.params.type;
    },
  },

  methods: {
    async loadMessageError() {
      const type = this.routeType;
      if (type === "shorten-url") {
        this.message =
          "Sorry, this link is invalid or has expired. Please speak with your company manager to get a new link.";
      }
    },
  },

  created() {
    this.loadMessageError();
  },
};
</script>
