<template>
  <div>
    <img class="w-48 mx-auto" src="@/assets/images/logo-no-stroke.png" />

    <p class="text-center text-xl font-bold my-4">
      Hera’s having some routine grooming done right now! Aren’t spa days the
      best? Sorry for the inconvenience, but please check back soon to access
      your account.
    </p>
  </div>
</template>