<template>
    <div class="grid grid-flow-row grid-cols-12 gap-4 mt-4">
        <div class="card col-span-12" :class="{'md:col-span-6':performanceCounts}" v-if="importCounts">
            <div class="card-title">Import Results</div>
            <div class=" space-y-6">
                <div class="border rounded-lg text-center h-24" :class="{'border-brand': uploadFormFields[importType.shortName]}" v-for="importType in types" :key="importType.name">
                    <span class="px-4 capitalize -top-4 text-gray-600 text-sm relative bg-white font-bold" :class="{'text-brand': uploadFormFields[importType.shortName]}">{{importType.resultTitle || importType.name + ' Records'}}</span>
                    <div v-if="loading && uploadFormFields[importType.shortName]" class="mb-1 flex align-middle justify-center">
                        <svg class="animate-spin h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#0268BC" stroke-width="4"></circle>
                            <path class="opacity-75" fill="#0268BC" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </div>
                    <div v-else class="grid grid-cols-4">
                        <div class="py-2 -mt-4" :class="{'opacity-25': !uploadFormFields[importType.shortName]}" v-for="countType in ['created', 'updated', 'errors']" :key="importType.shortName+countType">
                            <span
                                class="text-gray-600 text-2xl" 
                                :class="{'text-great':   importCounts[importType.shortName][countType] && countType == 'created', 
                                        'text-brand':   importCounts[importType.shortName][countType] && countType == 'updated', 
                                        'text-red-500': importCounts[importType.shortName][countType] && countType == 'errors'}"
                                >
                                <el-popover
                                    v-if="countType === 'errors' && importCounts[importType.shortName][countType]"
                                    placement="top-start"
                                    trigger="hover">
                                    <el-table 
                                        header-cell-class-name="table-header-cell"
                                        :data="importErrors[importType.shortName]" 
                                        row-class-name="table-row"
                                        class="data-table">
                                        <el-table-column width="60" prop="year" label="Year"></el-table-column>
                                        <el-table-column width="60" prop="week" label="Week"></el-table-column>
                                        <el-table-column width="150" prop="name" :label="`${$t('label.associate')} Name`"></el-table-column>
                                        <el-table-column width="300" prop="msg" label="Message"></el-table-column>
                                    </el-table>
                                    <span slot="reference">{{importCounts[importType.shortName][countType]}}</span>
                                </el-popover>
                                <span v-else>{{importCounts[importType.shortName][countType]}}</span>
                                
                            </span>
                            <div class="text-gray-900 capitalize">{{countType}}</div>
                            <div v-if="types[importType.shortName] && (importCounts[importType.shortName][countType + 'Das'] > 0)" class="text-xs font-medium -mt-1 text-gray-700">For {{importCounts[importType.shortName][countType + 'Das']}} {{$t('label.associates')}}</div>
                        </div>
                        <div class="pt-2 pb-0 -mt-4 border-l border-gray-500 h-20" :class="{'opacity-25': !uploadFormFields[importType.shortName]}">
                            <span class="text-gray-600 text-2xl" :class="{'text-great': uploadFormFields[importType.shortName] > 0}">
                                {{importCounts[importType.shortName]['savedFiles']}}
                            </span>
                            <div class="text-gray-900 capitalize">File{{importCounts[importType.shortName]['savedFiles'] != 1 ? 's' : ''}} Saved</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-span-12" :class="{'md:col-span-6':importCounts}" v-if="performanceCounts">
            <div class="card-title">Messages and Coaching</div>
            <div class=" space-y-6">
                <div class="border rounded-lg text-center h-24" :class="{'border-brand': true}" v-for="typeSection in ['message','kudo','issue']" :key="typeSection">
                    <span class="px-4 capitalize -top-4 text-gray-600 text-sm relative bg-white font-bold" :class="{'text-brand': true}">{{performanceLabels[typeSection]}}</span>
                    <div v-if="(loading)" class="mb-1 flex align-middle justify-center">
                        <svg class="animate-spin h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#0268BC" stroke-width="4"></circle>
                            <path class="opacity-75" fill="#0268BC" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </div>
                    <div v-else-if="typeSection == 'message' && (!performanceCounts[typeSection].created && !performanceCounts[typeSection].updated && !performanceCounts[typeSection].errors && !performanceCounts[typeSection].attempts)" class="px-3 text-sm text-left -mt-4 xl:text-center xl:mt-0">
                        <p>Pending coaching messages are only created or updated when you import daily files that are no more than one day old.</p>
                    </div>
                    <div v-else class="grid" :class="{'grid-cols-4': typeSection !== 'message', 'grid-cols-3': typeSection === 'message'}">
                        <div class="py-2 -mt-4" :class="{'opacity-25': false}" v-for="countType in listOfTypeSeccion(typeSection)" :key="performanceCounts[typeSection]+countType">
                            <span
                                class="text-gray-600 text-2xl" 
                                :class="{'text-great': performanceCounts[typeSection][countType] > 0 && countType == 'created', 
                                        'text-brand': performanceCounts[typeSection][countType] > 0 && countType == 'updated', 
                                        'text-red-500': performanceCounts[typeSection][countType] > 0 && countType == 'errors'}"
                                >
                                <el-popover
                                    v-if="countType === 'errors' && performanceCounts[typeSection][countType] > 0"
                                    placement="top-start"
                                    trigger="hover">
                                    <el-table 
                                        header-cell-class-name="table-header-cell"
                                        :data="performanceCounts[typeSection].errorMsgs"
                                        row-class-name="table-row"
                                        class="data-table">
                                        <el-table-column width="60" prop="year" label="Year"></el-table-column>
                                        <el-table-column width="60" prop="week" label="Week"></el-table-column>
                                        <el-table-column width="150" prop="name" :label="`${$t('label.associate')} Name`"></el-table-column>
                                        <el-table-column width="300" prop="msg" label="Message"></el-table-column>
                                    </el-table>
                                    <span slot="reference">{{performanceCounts[typeSection][countType]}}</span>
                                </el-popover>
                                <span v-else>{{performanceCounts[typeSection][countType]}}</span>
                                
                            </span>
                            <div class="text-gray-900 capitalize">{{countType}}</div>
                            <div v-if="performanceCounts[typeSection][countType + 'Das'] > 0" class="text-xs font-medium -mt-1 text-gray-700">For {{performanceCounts[typeSection][countType + 'Das']}} {{$t('label.associates')}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <slot name="additionalCards"/>
        <div v-if="showAutomatedMessagesWarning"  class="card col-span-12 -mt-4">
            <div class="card-title"><i class="uil uil-exclamation-triangle"></i>Pending Messages Warning</div>
            <p>
                Your selected time of {{ formattedSendTime }} to send your automated coaching messages has passed 
                for  today. Based on the daily performance data you just imported, would 
                you like to send automated coaching messages now for today's rostered {{$t('label.associates')}}?
            </p>
            <p class="mt-2">
                We recommend sending these messages now. If you do 
                not, they will be sent the next time the {{$t('label.associate')}} is rostered.
            </p>
        </div>

    </div>
</template>
<script>
export default {
    props: ['importCounts', 'importErrors', 'performanceCounts', 'succeededFiles', 'showAutomatedMessagesWarning', 'formattedSendTime', 'sendCoachingMessagesNow', 'types','loading'],
    data(){
        return {
            performanceLabels: {
                message: 'Pending Coaching Messages' ,
                kudo: this.$t('label.associate') + ' Kudos' ,
                issue: this.$t('label.associate') + ' Issues'
            }
        }
    },
    computed:{
        uploadFormFields(){
            const tagList = this.types.map(type => (type.shortName) )
            const counter = tagList.reduce((map, key) => {
                map[key] = 0
                return map
            }, {})

            this.succeededFiles.forEach((job)=>{
                const tagName = job.type
                counter[tagName]++
            })
            return counter
        }
    },
    methods:{

        listOfTypeSeccion(typeSection){
            return typeSection === 'message' ? ['created', 'updated', 'errors'] : ['created', 'updated', 'deleted', 'errors'] 
        },
    }
}
</script>