<template>
    <!-- Step 2: Match DAs -->
    <div class="grid grid-flow-row grid-cols-12 gap-4">
        <div class="card mt-4 col-span-12 xl:col-span-6" v-for="(table, index) in tables" :key="table.ref" >
            <div class="card-title" >{{table.cardTitle}}</div>
            <div class="card-subtitle" :class="{'mb-9': !suggestionFound && (index == 0)}">{{table.cardSubtitle}}<span v-if="suggestionFound && index == 0"> Hera has automatically made suggestions where possible to help you match these {{$t('label.associates')}}.</span></div>
            <template v-if="loading">
                <!-- TABLE SKELETON LOADER -->
                <div class="container">
                    <div class="animate-pulse flex space-x-4 mt-4">
                        <div class="flex-1 space-y-4 py-1">
                            <div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/>
                        </div>
                        <div class="flex-1 space-y-4 py-1">
                            <div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/>
                        </div>
                        <div class="flex-1 space-y-4 py-1">
                            <div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/><div class="h-4 bg-gray-400 rounded w-full"/>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else-if="tableData[index]">
                <!-- TABLE -->
                <MatchTable v-if="tableData[index].length"
                    :table="table"
                    :tableData="tableData"
                    :data="tableData[index]"
                    :activeAssociateList="activeAssociateList"
                    :types="types"
                >
                    <template #underEntries="{row}">
                        <slot :row="row" name="underEntries"/>
                    </template>
                </MatchTable>
            </template>
        </div>
    </div>
</template>
<script>
// import ImportCard from '@/components/importing/ImportCard.vue'
import MatchTable from '@/components/importing/MatchTable.vue'
export default {
    components:{
        MatchTable
    },
    props:['activeAssociateList','types','loading','tableData','suggestionFound'],
    data(){
        return {
            tables: [
                {   
                    cardTitle: 'Not Yet Matched',
                    cardSubtitle: `These uploaded ${this.$t('label.associates')} have not yet been matched to ${this.$t('label.associates')} inside of Hera.`,
                    ref: 'tableNotYetMatch',
                    emptyText: `All ${this.$t('label.associates')} Matched Previously`
                },
                {   
                    cardTitle: 'Previously Matched',
                    cardSubtitle: `These are the uploaded ${this.$t('label.associates')} that have already been matched to ${this.$t('label.associates')} in Hera during a previous import.`,
                    ref: 'tablePreviouslyMatch',
                    emptyText: `No Previously Matched ${this.$t('label.associates')}`
                },
            ],
            
        }
    },
    computed:{
        
    }
}
</script>

<style>

    .el-notification__content {
        width: 250px !important;
    }
</style>
<style scoped>
    .text-invisible{
        @apply text-transparent !important
    }
    .selected-pending-job{
        box-shadow: 0 0 0 3px rgb(2 104 188 / 50%);
    }
    .child-view {
        transition: all .3s cubic-bezier(.55,0,.1,1);
    }
    .slide-left-enter, .slide-right-leave-active {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
    .slide-left-leave-active, .slide-right-enter {
        opacity: 0;
        -webkit-transform: translate(0, -30px);
        transform: translate(0, -30px);
    }
</style>