<template>
    <!-- Pending Import Jobs Grid -->
    <div class="grid grid-flow-row grid-cols-12 gap-4 mt-5 select-columns-component">
        <template v-if="loading">
            <!-- TABLE SKELETON LOADER -->
            <div class="container mt-4 col-span-12">
                <div class="animate-pulse flex space-x-2 mt-4">
                    <div class="space-y-4 py-1 w-1/12">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="flex space-x-12">
                            <div class="w-full"/>
                            <div class="h-4 bg-gray-300 rounded w-full"/>
                        </div>
                        <div class="flex space-x-12">
                            <div class="w-full"/>
                            <div class="h-4 bg-gray-300 rounded w-full"/>
                        </div>
                        <div class="flex space-x-12">
                            <div class="w-full"/>
                            <div class="h-4 bg-gray-300 rounded w-full"/>
                        </div>
                    </div>
                    <div class="space-y-4 py-1 w-3">
                        <div class="flex h-6">
                            <div class="h-4 bg-blue-400 rounded w-full place-self-center"/>
                        </div>
                        <div class="flex h-6">
                            <div class="h-4 bg-blue-400 rounded w-full place-self-center"/>
                        </div>
                        <div class="h-4 bg-blue-400 rounded w-full"/>
                        <div class="h-4 bg-blue-400 rounded w-full"/>
                        <div class="h-4 bg-blue-400 rounded w-full"/>
                    </div>
                    <div class="flex-1 space-y-4 py-1">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 border-1 border-gray-400 bg-gray-100 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                    </div>
                    <div class="flex-1 space-y-4 py-1">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 border-1 border-gray-400 bg-gray-100 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                    </div>
                    <div class="flex-1 space-y-4 py-1">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 border-1 border-gray-400 bg-gray-100 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                    </div>
                    <div class="flex-1 space-y-4 py-1">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 border-1 border-gray-400 bg-gray-100 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                    </div>
                    <div class="flex-1 space-y-4 py-1">
                        <div class="h-6 bg-gray-300 rounded w-full"/>
                        <div class="h-6 border-1 border-gray-400 bg-gray-100 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                        <div class="h-4 bg-gray-300 rounded w-full"/>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="col-span-12 mt-5">
                <el-table
                :ref="updateStep"
                v-if="columnTableData.data && columnTableData.header"
                :data="columnTableData.data"
                class="rounded-lg shadow"
                style="width: 100%"
                header-cell-class-name="header-cell-style"
                append="asdasdasdasjdasjdhjkasd"
                >
                    <el-table-column fixed="left" width="150" align="right">
                        <template #header>
                            <div class="flex justify-end">
                            <div class="flex-none">
                                <div class="leading-4">Imported<br/>Column Name</div>
                            </div>
                            <div class="self-center ml-2 leading-4 mt-1">
                                <i class="grow el-icon-right rounded-full text-white bg-primary"/>
                            </div>
                            </div>
                        </template>
                        <template #default="{row, $index}">
                            <div class="flex justify-end">
                                <div class="w-full">
                                    <div v-if="row.matchToDailyRosterColumn" class="leading-4 font-bold">Match to Daily<br/>Roster Column</div>
                                    <div v-else  class="font-bold">{{$index}}</div>
                                </div>
                                <div class="self-center ml-2 leading-4">
                                    <i class="grow el-icon-right rounded-full text-white bg-primary"/>
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                    v-for="(column, i) in columnTableData.header"
                    :key="i"
                    :prop="column"
                    :width="i<columnTableData.header.length-1?200:null"
                    :min-width="i===columnTableData.header.length-1?200:null"
                    >
                        <template #header>
                            <div class="leading-4">{{column}}</div>
                        </template>
                        <template #default="{row}">
                            <template v-if="row.matchToDailyRosterColumn">
                                <div class="el-badge">
                                    <el-select
                                    size="mini"
                                    v-model="row[column].userMatch"
                                    clearable
                                    @change="handleChangeMatchColumn"
                                    class="ma-0 w-full"
                                    :class="{'do-not-import': row[column].userMatch === 'DO NOT IMPORT', 'required-field': !row[column].userMatch}"
                                    placeholder="Select Column"
                                    >
                                    <el-option-group>
                                    <el-option value="DO NOT IMPORT" >
                                        <span class="italic">DO NOT IMPORT</span>
                                    </el-option>
                                    </el-option-group>
                                    <el-option-group v-if="groupedRosterColumns.notSelected.length">
                                    <el-option
                                        v-for="(rosterColumn, j) in groupedRosterColumns.notSelected"
                                        :key="j"
                                        value-key="label"
                                        :label="rosterColumn.label"
                                        :value="rosterColumn.label"
                                        />
                                    </el-option-group>
                                    <el-option-group v-if="groupedRosterColumns.alreadySelected.length" label="Already Selected">
                                        <el-option
                                        v-for="(rosterColumn, j) in groupedRosterColumns.alreadySelected"
                                        :key="j"
                                        value-key="label"
                                        :label="rosterColumn.label"
                                        :value="rosterColumn.label"
                                        disabled
                                        />
                                    </el-option-group>
                                    </el-select>
                                    <sup
                                    v-if="getPopoverObject(row[column].userMatch)"
                                    class="el-badge__content cursor-default text-md"
                                    :class="getPopoverObject(row[column].userMatch).symbolClass"
                                    @mouseenter="popoverHandler($event, true, row[column].userMatch)"
                                    @mouseleave="popoverHandler($event, false, row[column].userMatch)"
                                    @click="popoverHandler($event, 'click', row[column].userMatch)"
                                    />
                                </div>
                            </template>
                            <template v-else>
                                {{showValue(row, column)}}
                            </template>
                            
                        </template>
                    </el-table-column>
                    <template #append>
                        <slot name="append"/>
                    </template>
                </el-table>
            </div>
            <div class="col-span-12 mt-5 text-right">
                <div class="text-gray-600 font-bold inline pr-2">Match Associates Using:</div>
                <el-select
                size="mini"
                v-model="matchStaffBySelected"
                >
                    <el-option
                    v-for="(column, i) in matchAssociateOptions"
                    :key="i"
                    value-key="label"
                    :label="column.label"
                    :value="column.label"
                    />
                </el-select>
            </div>
            
            <!-- popover -->
            <el-popover
            ref="popoverElement"
            placement="top-start"
            width="350"
            trigger="hover"
            :open-delay="0"
            :close-delay="0"
            :popper-class="popperClass"
            >
                <div class="leading-4 text-sm text-opacity-60" v-html="popoverTitle"/>
            </el-popover>

        </template>
    </div>
</template>
<script>

import { mapState } from 'vuex'
export default {
    props:['columnTableData','matchAssociateOptions','groupedRosterColumns','rosterColumnNames','loading','matchStaffBy'],
    data(){
        return {
            popoverTitle: null,
            updateStep: 0,
            popperClass: 'popover-style popover-style-back'
        }
    },
    computed:{
        ...mapState(['userInfo']),
        matchColumnRow(){
            return this.columnTableData?.data?.[0] || {}
        },
        matchStaffBySelected:{
            get(){
                return this.matchStaffBy
            },
            set(value){
                this.$emit('update:matchStaffBy', value)
            }
        }
    },
    methods:{
        getMatchedColumn(userMatch){
            if(!userMatch || userMatch === 'DO NOT IMPORT'){
                return
            }
            return this.rosterColumnNames.find(row => row.label === userMatch)
        },
        showValue(row, column){
            const cell = this.matchColumnRow[column]
            let value = row[column]
            const matchedColumn = this.getMatchedColumn(cell?.userMatch)
            let parseValue = matchedColumn?.parseValue
            if(parseValue){
                value = parseValue(value)
            }
            return value || '—'
        },
        getPopoverObject(userMatch){
            const matchedColumn = this.getMatchedColumn(userMatch)
            return matchedColumn?.popover
        },

        popoverHandler(event, show, userMatch){
            const popoverEl = this.$refs["popoverElement"]
            if(this.isIos() || this.isAndroid()){
                if(popoverEl.referenceElm === event.target){
                    event.preventDefault()
                    setTimeout(()=>{
                        if(!show && popoverEl.referenceElm){
                            popoverEl.doClose()
                            popoverEl.referenceElm = undefined
                        }
                    }, 245)
                    return
                }else if(popoverEl.referenceElm){
                    popoverEl.doClose()
                    popoverEl.referenceElm = undefined
                    const popoverClick = () => this.popoverHandler(event, show, userMatch)
                    setTimeout(popoverClick, 240)
                    return
                }
            }
            const { message, popperClass } = this.getPopoverObject(userMatch)
            if(message instanceof Function){
                this.popoverTitle = message({tenant: this.userInfo.tenant})
            }else{
                this.popoverTitle = message
            }
            this.popperClass = popperClass
            if(show){
                popoverEl.referenceElm = event.target
                popoverEl.doToggle()
            }else{
                popoverEl.doClose()
                popoverEl.referenceElm = undefined
            }
        },
        handleChangeMatchColumn(){
            this.updateStep++
        }
    },
    watch:{
        matchAssociateOptions(curr, bef){
            if(curr.length !== 1){
                this.matchStaffBySelected = null 
            }else{
                this.matchStaffBySelected = curr[0].label
            }
        }
    }
}
</script>
<style lang="scss">
.select-columns-component{
    .el-table{
        .header-cell-style, tr:nth-child(1){
            @apply bg-gray-100 text-gray-600;
        }
        tr > td:nth-child(1){
            @apply text-gray-600;
        }
        tr:nth-child(n+1) > :nth-child(1) > .cell{
            @apply pr-1;
        }
        tr:nth-child(n+1):nth-child(-n+1) > td:nth-child(n+2) > .cell{
            @apply pl-2;
        }
        tbody > tr:nth-child(n+2) td:nth-child(n+2) .cell{
            @apply pl-3;
        }
        .el-table__body-wrapper{
            overflow-x: scroll !important;
        }
    }
    .el-badge__content.custom-primary{
        @apply bg-primary;
    }
    .el-badge{
        @apply flex items-center;
        sup{
            @apply top-0 ml-1;
        }
    }
}

.popover-style{
    text-align: justify !important;
    word-break: keep-all !important;
    font-weight: 450 !important;
    .el-popover__title{
        color: antiquewhite !important;
        text-align: justify !important;
        word-break: keep-all !important;
    }
}

.popover-style-info{
    @apply bg-blue-900 text-green-100;
    .popper__arrow::before, .popper__arrow::after {
        border-top-color: theme('colors.blue.900') !important;
    }
}

.popover-style-back{
    background-color: #303133 !important;
    color: white !important;
    .popper__arrow::before, .popper__arrow::after {
        border-top-color: #303133 !important;
    }
}

.popover-style-warning{
    @apply bg-yellow-900 text-orange-100;
    .popper__arrow::before, .popper__arrow::after {
        border-top-color: theme('colors.yellow.900') !important;
    }
}

.do-not-import .el-input__inner{
    font-style: italic !important;
    color: #0000008c !important;
}

</style>
<style>
.select-columns-component .el-badge__content {
    @apply w-5 h-5 !important p-0 text-lg !important;
}
.select-columns-component .el-badge__content::before {
    @apply m-0 !important
}
</style>
