<template>
    <div>
        <!-- Pending Import Jobs Grid -->
        <div class="grid grid-flow-row grid-cols-12 gap-4 mt-5">
            <template v-if="!loading">
                <ImportCard
                    v-for="(file, index) in pendingFiles" :key="index"
                    :processing="processing"
                    :tag="file.tag"
                    :status="file.jobStatus"
                    :tagClass="elementClass(file.tag)"
                    :date="file.date"
                    :dateString="file.dateString"
                    :daysToImport="file.daysToImport"
                    :fileName="file.name"
                    @remove="removePendingFile(index)"
                    :systemData="systemData"
                />
            </template>
            <UploadCard
                :loading="loading"
                v-if="showUploadCard"
                @change="sharedInsertDocumentForUpload"
                :dropText="dropText"
                :multiple="multiple"
                :accept="accept"
                :tips="tips"
                :systemData="systemData"
            />
        </div>

        <div class="flex mt-3" v-if="typeof maxNumberOfFiles === 'number'">
            <div class="text-left w-1/2 z-30 text-gray-600 text-sm font-medium" :class="{'text-gray-900 font-bold': pendingFiles.length > thresholdPercentage, 'text-red-600 font-bold': pendingFiles.length >= maxNumberOfFiles}">
                You can upload up to {{maxNumberOfFiles}} files at a time.
            </div>
            <div v-show="pendingFiles.length > thresholdPercentage" class="text-right w-1/2 z-30 font-medium">
                <span :class="{'text-red-600 ': pendingFiles.length > 10, 'text-yellow-600 ': pendingFiles.length <= maxNumberOfFiles && pendingFiles.length > thresholdPercentage}" >{{pendingFiles.length}}</span>
                <span> / {{maxNumberOfFiles}}</span>
            </div>
        </div>

    </div>
</template>
<script>
import ImportCard from '@/components/importing/ImportCard.vue'
import UploadCard from '@/components/importing/UploadCard.vue'
export default {
    components:{
        ImportCard,
        UploadCard
    },
    props:['pendingFiles','processing','loading','tips','types', 'dropText','maxNumberOfFiles','multiple','accept','systemData'],
    computed:{
        thresholdPercentage(){
            const percentage = 0.7 //70%
            return this.maxNumberOfFiles * percentage
        },
        showUploadCard(){
            if(
                (!this.multiple && this.pendingFiles.length >= 1) ||
                (this.pendingFiles.length >= this.maxNumberOfFiles)
            ){
                return false
            }
            return !this.processing
        }
    },
    methods:{
        removePendingFile(index){
            this.pendingFiles.splice(index, 1)
        },
        sharedInsertDocumentForUpload(evt){
            this.$emit('sharedInsertDocumentForUpload',evt)
        },
        elementClass(tag){
            return this.types.find(type => type.name === tag)?.domClass
        }
    }
}
</script>