<template>
        <div>
            <div class="text-green-700 text-center">
                <p><i class="uil uil-check-circle text-6xl"/></p>
                <p class="text-xl">Counseling record acknowledged successfully</p>
            </div>
        </div>
</template>