<template>
  <div data-cy="counseling-container">
  
    <table-card
      v-if="hasCounselingManagement"
      tablecard-class="rounded-lg"
    >
      <template v-slot:table-filters>
        <container-filter inTable>
          <template v-slot:title>
            <span>COUNSELINGS</span>
          </template>
          <template v-slot:filter-count>
            <counter-filter :counter="getResumeFilters" />
          </template>
          <template v-slot:filters>
              <multi-select-filter
                type="associateStatus"
                title="Associate Status"
                filterAllTitle="Associate Statuses"
                :options="associateStatusOptions"
                :selected="associateStatusSelected"
                @update-filters="updateFilters"
              />
              <multi-select-filter
                type="counselingStatus"
                title="Counseling Status"
                filterAllTitle="Counseling Statuses"
                :options="counselingStatusOptions"
                :selected="counselingStatusSelected"
                @update-filters="updateFilters"
              />
              <!-- <multi-select-filter
                type="counselingSeverity"
                title="Counseling Severity"
                :options="counselingSeverityOptions"
                :selected="counselingSeveritySelected"
                @update-filters="updateFilters"
              /> -->
              <single-select-filter
                title="Occurrence"
                :options="datesOptions"
                :currentFilter="dateSelected"
                @update-options="updateOptions"
              />
              <single-select-filter
                title="Sent"
                :options="datesOptionsTwo"
                :currentFilter="dateSelectedTwo"
                @update-options="updateOptionsTwo"
              />
          </template>
        </container-filter>
      </template>

      <template v-slot:table-searchbox>
        <search-box data-cy="filter" inTable @search-data="searchData"/>
      </template>

    <!--Table-->
      <custom-table
      v-loading="loading || isSendingBatchCounselings"
      ref="table"
      inTable
      withSelect
      withTableMenu
      emptyText="No Counselings"
      footerTable="Total Counselings"
      class="counseling-index-class"
      :selectionEntityLabels="['COUNSELING', 'COUNSELINGS']"
      :selectionCustomActions="selectionActions"
      :selectionRowDisabledResolver="disableRowFromSelection"
      :selectionDeleteHandler="deleteSelectedCounselingsHandler"
      :selectionDisplayDeleteActionResolver="displayDeleteActionResolver"
      :defaultSort = "{prop: 'date', order: 'descending'}" 
      :columns="cols"
      :data="filteredData"
      :totalRecords="totalCounselings"
      :optionsHeader="optionsContextHeader"
      :optionsRows="optionsContextRow"
      :expandCollapseColumn="true"
      @click-menu="handleCommand"
      @selection-change="selectedRows => selectedCounselings = selectedRows"
      >
        <template #date="row">
          <span>{{ row.date | date }}</span>
        </template>
        <template #dateSent="row">
          <span>{{ row.dateSent | date }}</span>
        </template>
        <template #severity="row">
          <span>{{ `${row.severity ? row.severity.option: ''}` | text }}</span>
        </template>
        <template #firstName="row">
          <span v-if="row.staff">
            {{ row.staff.firstName | text }}
          </span>
          <span v-else>—</span>
        </template>
        <template #lastName="row">
          <span v-if="row.staff">
            {{ row.staff.lastName | text }}
          </span>
          <span v-else>—</span>
        </template>
        <template #custom-tooltip-counselingNotes></template>
        <template #custom-dropdown="row">
            <el-dropdown
            data-cy="three_dot_button_row"
            trigger="hover"
            @command="handleCommand">
              <span class="context-menu"><i class="uil uil-ellipsis-h"></i></span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item data-cy="view-counceling" :command="{action: 'view', row: row}">View Counseling</el-dropdown-item>
                <el-dropdown-item v-if="sendRow(row)" :command="{action: 'send', row: row}">Send to {{$t('label.associate')}}</el-dropdown-item>
                <el-dropdown-item disabled v-if="!row.staff"><span class="text-red-400"> This Counseling does not have {{$t('label.associate')}}</span></el-dropdown-item>
                <el-dropdown-item v-if="(row.status!=COUNSELING_STATUS_NOT_SENT && row.status!=COUNSELING_STATUS_SIGNED) && !row.refusedToSign" :command="{action: 'refuse', row: row}">Refuse to Sign</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
        </template>
      </custom-table>
    </table-card>

    <div class="notes col-span-4 border rounded-lg shadow  p-4 whitespace-pre-line mt-4" v-else>
      <div class="flex justify-between">
        <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Counselings in Hera.</h4>
      </div>
    </div>
  </div>
</template>

<script>
    import { counselingsByGroup, counselingsByGroupAndStatus } from '@/graphql/queries';
    import PremiumWarning from '@/components/PremiumWarning'
    import { mapState, mapGetters, mapMutations} from 'vuex'
    import { updateCounseling, deleteCounseling } from '@/graphql/mutations'
    import sendMessage from '@/scripts/sendMessage'
    import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
    import TableCard from "@/components/TableCard/TableCard";
    import CustomTable from "@/components/TableCard/CustomTable";
    import ContainerFilter from "@/components/TableCard/ContainerFilter";
    import SearchBox from "@/components/TableCard/SearchBox";
    import MultiSelectFilter from "@/components/MultiSelectFilter";
    import SingleSelectFilter from "@/components/SingleSelectFilter";
    import CounterFilter from "@/components/CounterFilters";
    import CellToolTip from '@/components/CellToolTip'
    import { isInRange, calculateRange } from '@/utilities/dateRangeCalculator'
    import { COUNSELING_STATUS_NOT_SENT, COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_REFUSED_TO_SIGN, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';
    import { parseCounselingStatusValueToLabel, parseCounselingStatusLabelToValue } from './utils';
    import { getTextWidth } from 'get-text-width';
    import { parseDatesToTimezone } from '@/utilities/parseDatesToTimezone'

    export default {
        name: 'CounselingIndex',
        components: {
          PremiumWarning,
          ContextMenuHeaderIcon,
          TableCard,
          CustomTable,
          ContainerFilter,
          SearchBox,
          MultiSelectFilter,
          SingleSelectFilter,
          CounterFilter,
          CellToolTip,
        },
        data() {
            return {
                selectedCounselings: [],
                tableData: [],
                search: '',
                loading: false,
                isSendingBatchCounselings: false,
                cols: [
                    { name: "Date Of Occurrence", col: "date", fixed: false, width: "140", sortable: true,  sortMethod: this.sortDate},
                    { name: "Date Sent", col: "dateSent", fixed: false, width: "140", sortable: true, sortMethod: this.sortDateSent },
                    { name: "Associate First Name", col: "firstName", fixed: false, width: "120", sortable: true, sortMethod: this.sortFirstName },
                    { name: "Associate Last Name", col: "lastName", fixed: false, width: "120", sortable: true, sortMethod: this.sortLastName },
                    { name: "Counseling Description", col: "counselingNotes", fixed: false, width: "220", sortable: true, sortMethod: this.sortDescription },
                    { name: "Counseling Severity", col: "severity", fixed: false, width: "200", sortable: true, sortMethod: this.sortCounselingSeverity },
                    { name: "Status", col: "status", fixed: false, width: "170", sortable: true, sortMethod: this.sortStatus},
                    { name: "Associate Status", col: "staff.status", fixed: false, width: "200", sortable: true, sortMethod: this.sortAssociateStatus},
                ],
                optionsContextHeader: [
                  { label: "Add Counseling", action: "add", divided:  false},
                ],
                optionsContextRow: [],

                associateStatusOptions: [],
                associateStatusSelected: ['Active'],
              
                counselingStatusOptions: [],
                counselingStatusSelected: [],

                counselingSeverityOptions: [],
                counselingSeveritySelected: [],

                dateSelected: "last 60 days",
                dateSelectedTwo: "all dates",
                datesOptions: [
                  { value: "all dates", label: "All Dates", selected: true },
                  { value: "current week", label: "Current Week", selected: false },
                  { value: "last week", label: "Last Week", selected: false },
                  { value: "last 2 weeks", label: "Last 2 Weeks", selected: false },
                  { value: "last 3 weeks", label: "Last 3 Weeks", selected: false },
                  { value: "previous month", label: "Previous Month", selected: false },
                  { value: "last 30 days", label: "Last 30 Days", selected: false },
                  { value: "last 60 days", label: "Last 60 Days", selected: false },
                  { value: "last 90 days", label: "Last 90 Days", selected: false },
                  { value: "current year", label: "Current Year", selected: false },
                  { value: "last year", label: "Last Year", selected: false },
                ],
                datesOptionsTwo: [],
                totalCounselings: 0,
                originalTableData: [], 
                maxSizeExpand: [],
                maxSizeColumn: 225,
                counselingTypes: [],
            }
        },

        created: function(){
          this.COUNSELING_STATUS_SIGNED = COUNSELING_STATUS_SIGNED;
          this.COUNSELING_STATUS_NOT_SENT = COUNSELING_STATUS_NOT_SENT;
          this.COUNSELING_STATUS_REFUSED_TO_SIGN = COUNSELING_STATUS_REFUSED_TO_SIGN;

          this.counselingTypes = this.counselingSeverityTypeList.map(item => item.option);

          this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;

          this.datesOptionsTwo = [...this.datesOptions,{ value: 'No Date', label: 'No Date', selected: false }]
           this.loadFilters()
           this.loadData().then((result) => {
             for (let i = 3; i < this.cols.length; i++) {
               let maxValue;
               let value;
               let colName = this.cols[i].col
               if (this.tableData) {
                 maxValue = this.tableData.map(v => {
                   if (colName == 'firstName' || colName == 'lastName') {
                     if (v.staff) return v.staff[colName]
                   } else {
                     return v[colName]
                   }
                 }).filter(v => {
                   if (v !== undefined || v !== null) return v
                 })

                 if (maxValue.length > 0) {
                   value = maxValue.reduce((r, c) => r.length > c.length ? r : c)
                   this.maxSizeExpand.push(Math.round(getTextWidth(value) + 10))

                   if (Math.round(getTextWidth(value)) >= this.cols[i].width) {
                     if (Math.round(getTextWidth(value)) >= this.maxSizeColumn) {
                       this.cols[i].width = this.maxSizeColumn + 10
                     } else {
                       this.cols[i].width = Math.round(getTextWidth(value) + 10)
                     }
                   }
                 }
               }
             }
           })
        },

        computed: {
          ...mapState([
            'userInfo',
            'valuelists',
          ]),
          ...mapGetters([
            'getFiltersAssociateStatus',
            'getFiltersCounselingStatus',
            'getFiltersCounselingSeverity',
            'getDateOfOccurrenceCounseling',
            'getDateSendCounseling',
            'counselingSeverityTypeList',
            'hasCounselingManagement',
          ]),

          filteredData() {
            return this.filterArray(this.tableData, this.search);
          },

          selectionActions() {
            return [
              { command: 'select_all_not_sent', label: 'Select All Counselings that are Not Sent', handler: this.selectAllNotSentHandler, shouldDisplay: undefined },
              { command: 'select_all_pending', label: 'Select All Counselings that are Pending Signature', handler: this.selectAllPendingHandler, shouldDisplay: undefined },
              { command: 'send_counselings', label: this.sendCounselingsActionLabel, handler: this.sendCounselingsHandler, shouldDisplay: this.displaySendCounselingsActionResolver },
            ];
          },

          sendCounselingsActionLabel() {
            const selectedCount = this.selectedCounselings.length;
            const counselingLabel = this.pluralize(selectedCount, 'Counseling', `Counselings`);
            const associateLabel = this.pluralize(selectedCount, 'Associate', 'Associates')
            return `Send Selected ${counselingLabel} to ${associateLabel}`;
          },

          getResumeFilters() {
            const filtersAssociateStatus = this.associateStatusSelected.length === this.associateStatusOptions.length ? 0 : 1;
            const filtersCounselingType = this.counselingTypeSelected.length === this.counselingTypeOptions.length ? 0 : 1;
            const filtersCounselingSeverity = this.counselingSeveritySelected.length === this.counselingSeverityOptions.length ? 0 : 1;
            const filtersCounselingStatus = this.counselingStatusSelected.length === this.counselingStatusOptions.length ? 0 : 1;

            const filterDatesOne = this.dateSelected === "all dates" ? 0 : 1;
            const filterDatesTwo = this.dateSelectedTwo === "all dates" ? 0 : 1;
             
            const total = filtersAssociateStatus + filtersCounselingType + filtersCounselingSeverity + filtersCounselingStatus + filterDatesOne + filterDatesTwo;
            return total; 
          },
        },
       
        methods: {
            ...mapMutations([
              'setFiltersAssociateStatus',
              'setFiltersCounselingStatus',
              'setFiltersCounselingSeverity',
              'setDateOfOccurrenceCounseling',
              'setDateSendCounseling',
            ]),

            async deleteSelectedCounselingsHandler(selectedRows) {
              try {
                this.loading = true;
                const sendPromisified = async (list) => {
                  const promises = list.map(async (item) => (await this.api(deleteCounseling, {input:{id: item.id}})));
                  await Promise.allSettled(promises);
                }
                await this.sendBatchCounselingQueries(selectedRows, sendPromisified);
                this.displayUserNotification({
                  title: "Success",
                  type: "success",
                  message: "Counseling(s) deleted.",
                });
                await this.loadData();
              }
              catch (error) {
                this.printUserError(error);
                this.displayUserError(error, "Counseling(s) could not be deleted.");
              }
              finally {
                this.loading = false;
              }
            },

            sendCounselingsHandler(selectedRows, selectionByCb) {
              const singular = `selected ${selectedRows.length} Counseling`;
              const counselingLabel = this.pluralize(selectedRows.length, singular, `${singular}s`);
              const associateLabel = this.pluralize(selectedRows.length, 'Associate', 'Associates')
              const message = `Send ${counselingLabel} to ${associateLabel}?`;
              this.$msgbox({
                title: 'Warning',
                message: message,
                showCancelButton: true,
                confirmButtonText: 'Send',
                cancelButtonText: 'Cancel',
              })
              .then(async () => {
                const sendPromisified = async (list) => {
                  const promises = list.map(async (item) => await this.sendCounseling(item, true));
                  await Promise.allSettled(promises);
                }
                await this.sendBatchCounselingQueries(selectedRows, sendPromisified);
                await this.loadData();
              })
              .catch(() =>
                this.displayUserNotification({title: 'Send', message: 'Canceled send', type: 'info'})
              );
            },

            selectAllPendingHandler(selectedRows, selectionByCb) {
              selectionByCb((row) => row.status === COUNSELING_STATUS_PENDING_SIGNATURE);
            },

            selectAllNotSentHandler(selectedRows, selectionByCb) {
              selectionByCb((row) => row.status === COUNSELING_STATUS_NOT_SENT);
            },

            displayDeleteActionResolver(selectedRows) {
              return !selectedRows.some(row => row.status === COUNSELING_STATUS_SIGNED);
            },

            displaySendCounselingsActionResolver(selectedRows) {
              const shouldHide = (row) => [COUNSELING_STATUS_SIGNED, COUNSELING_STATUS_REFUSED_TO_SIGN].includes(row.status);
              return (
                (selectedRows.length > 0) &&
                !selectedRows.some(shouldHide)
              );
            },

            disableRowFromSelection(row) {
              return (
                row.status === COUNSELING_STATUS_SIGNED ||
                row.status === COUNSELING_STATUS_REFUSED_TO_SIGN
              );
            },

            loadFilters(){
              const staffStatuses = this.valuelists['staff-status']?.items || [];
              const associateStatuses = this.valueListActivesOnly(staffStatuses).map(s => s.value);
              this.associateStatusOptions = associateStatuses;

              this.counselingStatusOptions =  [
                parseCounselingStatusValueToLabel(COUNSELING_STATUS_PENDING_SIGNATURE),
                parseCounselingStatusValueToLabel(COUNSELING_STATUS_NOT_SENT),
                parseCounselingStatusValueToLabel(COUNSELING_STATUS_REFUSED_TO_SIGN),
                parseCounselingStatusValueToLabel(COUNSELING_STATUS_SIGNED),
              ]

              this.counselingTypeOptions = this.counselingTypes;

              // this.counselingSeverityOptions = this.getFiltersCounselingSeverity
              if (this.getFiltersAssociateStatus.length === 0) {
                this.setFiltersAssociateStatus(['Active']);
              }
              if(this.getFiltersCounselingStatus.length === 0){
                this.setFiltersCounselingStatus([
                  parseCounselingStatusValueToLabel(COUNSELING_STATUS_PENDING_SIGNATURE),
                  parseCounselingStatusValueToLabel(COUNSELING_STATUS_NOT_SENT)
                ])
              }
              if(this.getDateOfOccurrenceCounseling === ""){
                this.setDateOfOccurrenceCounseling(this.dateSelected)
              }
              if(this.getDateSendCounseling === ""){
                this.setDateSendCounseling(this.dateSelectedTwo)
              }
              
              this.associateStatusSelected = this.getFiltersAssociateStatus;
              this.counselingStatusSelected = this.getFiltersCounselingStatus
              this.counselingTypeSelected = this.counselingTypes
              // this.counselingSeveritySelected = this.getFiltersCounselingSeverity

              this.dateSelected = this.getDateOfOccurrenceCounseling
              this.dateSelectedTwo = this.getDateSendCounseling
            },

            updateOptions(e) {
              this.datesOptions = e.options
              this.dateSelected = e.currentFilter
              this.setDateOfOccurrenceCounseling(this.dateSelected)
              this.reloadData()
            },

            updateOptionsTwo(e) {
              this.datesOptionsTwo = e.options
              this.dateSelectedTwo = e.currentFilter
              this.setDateSendCounseling(this.dateSelectedTwo)
              this.reloadData()
            },

            updateFilters(e){
              const { type, filters } = e;
              const actions = {
                associateStatus: () => {
                  this.associateStatusSelected = filters;
                  this.setFiltersAssociateStatus(filters);
                },
                counselingType: () => {
                  this.counselingTypeSelected = filters;
                },
                // counselingSeverity: () => {
                //   this.counselingSeveritySelected = filters
                //   this.setFiltersCounselingSeverity(filters)
                // },
                counselingStatus: () => {
                  this.counselingStatusSelected = filters
                  this.setFiltersCounselingStatus(filters)
                },
              }
              actions[type]()
              this.reloadData()
            },

            reloadData(){
              this.getFilteredRecords(
                this.originalTableData,
                this.counselingStatusSelected?.map(parseCounselingStatusLabelToValue),
                this.counselingTypeSelected,
                this.associateStatusSelected,
                this.counselingSeveritySelected
              )
            },

            getFilteredRecords(data = [], primaryFilters = [], secondaryFilters = [], associateStatusFilters = []) {
              if(data.length === 0) return data;
              if(primaryFilters.length === 0 && secondaryFilters.length === 0) return data;
              const originalData = [...data];
              let filteredData = [];

              filteredData = this.filterByCounselingStatus(originalData, primaryFilters);

              const dataSubFilterDate = [...filteredData];
              filteredData = this.dateSelected === "all dates" ? dataSubFilterDate : this.filterByDateOfOccurrence(dataSubFilterDate, this.dateSelected);

              const dataSubFilterDateTwo = [...filteredData];
              filteredData = this.dateSelectedTwo === "all dates" ? dataSubFilterDateTwo : this.filterByDateSend(dataSubFilterDateTwo, this.dateSelectedTwo);

              filteredData = this.filterByAssociateStatus(filteredData, associateStatusFilters);

              this.tableData = filteredData;
            },


            filterByCounselingStatus(data, filters = []){
              if (filters.length === 0) return data;
              return data.filter( obj =>filters.includes(obj.status))
            },

            filterByDateOfOccurrence(data, filterDate){
              const dataClone = [...data];
              if(filterDate == 'all dates') return dataClone;
              const [dateStart, dateEnd] = calculateRange(filterDate);
              let dataFiltered = [];
              dataFiltered = dataClone.filter((counseling) => {
                const { date } = counseling;
                if(!date) return false;
                return isInRange(dateStart, dateEnd, date)
              })
             
              return dataFiltered;
            },

            filterByDateSend(data, filterDate){
              const dataClone = [...data];
              if(filterDate == 'all dates') return dataClone;
              if (filterDate == 'No Date') {
                return dataClone.filter((counseling) => {
                  return !counseling.dateSent
                });
              }
              const [dateStart, dateEnd] = calculateRange(filterDate);
              let dataFiltered = [];
              dataFiltered = dataClone.filter((counseling) => {
                const { dateSent } = counseling;
               
                if(!dateSent) return false;
                return isInRange(dateStart, dateEnd, dateSent)
              })
              
              return dataFiltered;
            },

            filterByAssociateStatus(data, filters) {
              return data.filter(counseling => filters.includes(counseling.staff?.status));
            },

            compareRowStatus(rowStatus) {
              return statusToCompare => rowStatus === statusToCompare;
            },

            /**
             * On row click go to the VehicleDetail route.
             * @param {object} row
             * @param {object} column
             * @param {object} event
             */
            handleRowClick(row, column, event){
                this.$router.push({name: 'CounselingDetail', params: { counselingId: row.id }})    
            },

            handleCommand(payload) {
              const { row, action } = payload;

              if(action == "view"){
                  this.handleRowClick(row)
                  return
              }
              if(action == "send"){
                  this.confirmSend(row)
                  return
              }
              if(action == "add"){
                  if(this.$store.getters.hasPerformanceCoaching){
                      this.$router.push({ name: 'CounselingNew' , params: { userId: this.$store.state.userInfo.id, redirect : 'Index' }})
                  }
                  else{
                      this.showUpgradeDialog = true
                  }
              }
              if(action == "viewAll"){
                  this.goToCounselingList()
              }
              if(action == 'refuse'){
                  this.handleRefuseSign(row)
              }
            },

            async sendBatchCounselingQueries(counselingList, sendPromisified) {
              this.isSendingBatchCounselings = true;
              let toSend = [];
              const MAX_QUERIES_PER_BATCH = 20;
              for (const counseling of counselingList) {
                toSend.push(counseling);
                if (toSend.length === MAX_QUERIES_PER_BATCH) {
                  await sendPromisified(toSend);
                  await this.sleepTimeOut(850);
                  toSend = [];
                }
              }
              if (toSend.length) {
                await sendPromisified(toSend);
              }
              this.isSendingBatchCounselings = false;
            },

            /**
             * Load data using the vehicleIndex custom GraphQL query
             */
            loadData: async function(){
              this.loading = true;
              try{
                  var input = {
                      group: this.$store.state.userInfo.tenant.group
                  }
                  this.loading = true
                  //load pending counselings
                  if(this.$route.name == "PendingCounselingsReport"){
                    input.status = {eq: COUNSELING_STATUS_PENDING_SIGNATURE}
                    var result = await this.gLoadListAll(counselingsByGroupAndStatus, input, 'counselingsByGroupAndStatus')
                    result = this.dataParseDateSentToTimezone(result)
                    var sortedResults = result.sort( (a,b) => new Date(b.date) - new Date(a.date) )
                    this.tableData = sortedResults
                  
                  //load all counselings
                  }else{
                    this.tableData = await this.gLoadListAll(counselingsByGroup, input, 'counselingsByGroup')
                    this.tableData = this.dataParseDateSentToTimezone(this.tableData)
                    this.originalTableData = this.tableData
                    this.totalCounselings = this.tableData.length
                    
                    this.getFilteredRecords(
                      this.tableData,
                      this.counselingStatusSelected?.map(parseCounselingStatusLabelToValue),
                      this.counselingTypeSelected,
                      this.associateStatusSelected,
                      this.counselingSeveritySelected
                    );
                  }
                }
                catch(e){
                  this.displayUserError(e)
                }
                finally{
                  this.loading = false
                }
            },

            dataParseDateSentToTimezone(data){
              const dateFields = ['dateSent'];
              const timezone = this.getTenantTimeZone();
              return data.map((e)=> parseDatesToTimezone(e, timezone, dateFields))
            },

            searchData(e) {
              this.search = e;
            },

            sendRow(row){
              return (row.staff && !row.dateSigned && row.status !== COUNSELING_STATUS_REFUSED_TO_SIGN)
            },

            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            sortDateSent(a, b) {
              let v1 = a.dateSent ? new Date(a.dateSent) : null 
              let v2 = b.dateSent ? new Date(b.dateSent) : null 
              if( v1 === null ) return 1
              if( v2 === null ) return -1
              if (v1 < v2) {
                return -1;
              }
              if (v1 > v2) {
                return 1;
              }
              return 0;
            },

            sortFirstName(a,b){
              return ('' + a.staff?.firstName.toLowerCase()).localeCompare(b.staff?.firstName.toLowerCase());
            },

            sortLastName(a,b){
              return ('' + a.staff?.lastName.toLowerCase()).localeCompare(b.staff?.lastName.toLowerCase());
            },

            sortCounselingSeverity(a,b){
              return ('' + a.severity?.option.toLowerCase()).localeCompare(b.severity?.option.toLowerCase());
            },

            sortStatus(a,b){
              return ('' + a.status.toLowerCase()).localeCompare(b.status.toLowerCase());
            },

            sortAssociateStatus(a, b) {
              const statusA = a?.staff?.status;
              const statusB = b?.staff?.status;

              if (!statusA) return -1;
              if (!statusB) return 1;

              return statusA.localeCompare(statusB);
            },

            sortDescription(a,b){
              return ('' + a.counselingNotes?.toLowerCase()).localeCompare(b.counselingNotes?.toLowerCase());
            },

            confirmSend(row){
              if(!row.dateSent || row.status === COUNSELING_STATUS_NOT_SENT){
                  var message = `This ${this.$t("label.associate")} has not been sent their counseling. Would you like to send this counseling record to ${row.staff?.firstName} ${row.staff?.lastName} to be acknowledged?`;
              }
              else{
                  var date = this.$moment(row.dateSent).format('MM/DD/YYYY')
                  var message = `This counseling record was already sent to ${row.staff?.firstName} ${row.staff?.lastName} at ${date}. Would you like to send it again?`;
              }

              this.$msgbox({
                title: 'Warning',
                message: message,
                showCancelButton: true,
                confirmButtonText: 'Send',
                cancelButtonText: 'Cancel',
              }).then(() =>{
                this.sendCounseling(row)
              }).catch(() =>{
                this.displayUserNotification({title: 'Send', message: 'Canceled send', type: 'info'})
              });
          },
          async refuseCounseling(row){
            this.loading = true;
            var input = {
              id: row.id,
              refusedToSign: true,
              status: COUNSELING_STATUS_REFUSED_TO_SIGN,
              dateSigned: new Date()
            }
            try {
              await this.api(updateCounseling, {input})
              this.loadData()
            } catch(e){
              this.displayUserError(e) 
              throw(e)
            } 
          },

          async handleRefuseSign(row){
            this.$confirm('This will permanently refuse this Counseling. Continue?', 'Warning', {
            confirmButtonText: 'Refuse',
            cancelButtonText: 'Cancel',
            }).then(() => {
              this.refuseCounseling(row)          
            }).catch(() => {
              console.log("canceled refuse")         
            });
          },

          async sendCounseling(row, isBatchSend=false){
              if(!row.staff.email){
                this.displayUserNotification({title: 'Error', message: `${this.$t('label.associate')} must have an email to send counselings.`, type: 'error'})
                this.loading = false;
                return
              }
              var staff = row.staff
              var date = this.$moment(row.date).format("dddd MM/DD/YYYY")
              var header = `${parseCounselingStatusValueToLabel(row.severity?.option)} Counseling: ${date}`;
              var subject = `${parseCounselingStatusValueToLabel(row.severity?.option)} Counseling: ${date}`;
              var companyName = this.userInfo.tenant.companyName
              
              const firstName = staff.firstName

              try{
                  this.loading = true;
                  await sendMessage({staff, companyName, firstName, header, subject, user: this.userInfo, counselingId: row.id, withShortenUrl: true});
                  row.refusedToSign = false;
                  row.signatureAcknowledge = false;
                  row.dateSent = new Date();
                  row.status = COUNSELING_STATUS_PENDING_SIGNATURE;
                  var input = {
                      ...row
                  }
                  input = this.cleanCounselingInput(input)
                  await this.sleepTimeOut(100);
                  const counseling = await this.api(updateCounseling, {input});
                  this.displayUserNotification({title: 'Success', message: 'Counseling sent successfully', type: 'success'})
                  if (!isBatchSend) {
                    await this.loadData();
                  }
              }
              catch(e){
                this.displayUserError(e, "Counseling could not be sent. ")
              }
              finally{
                  this.loading = false;
              }
          },
        }
    }
</script>
<style lang="scss">
.selected-checkbox {
  font-size: 12px !important;
  background-color: rgb(2, 104, 188);
  border-color: rgb(2, 104, 188);
  color: white;
}

input[type="checkbox"] {
  accent-color: rgb(2, 104, 188);
}

.el-dropdown-menu__item.is-disabled {
    color: black !important;
}

.counseling-index-class .el-table th.el-table__cell > .cell {
  display: flex !important;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.custom-span {
  padding-top: 3px;
  padding-bottom: 3px;
}

</style>