<template>
    <div>
        <!--Header-->
        <div class="flex justify-between items-center">
            <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum" class="mb-4">
                <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'CounselingIndex' }">Counselings</el-breadcrumb-item>
                <el-breadcrumb-item>{{counselingNewOrEdit}}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <!-- FORM -->
        <CounselingForm
            :infractionPayload="infractionPayload"
            :userID="userId"
            :staffID="staffId"
            :redirect = "redirect"
            :counselingID="counselingId"
            ref="counselingForm"
            :isCreationForm="isCreationForm"/>
    </div>
</template>
<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import CounselingForm from './components/CounselingForm'

export default {
    props: ['userId', 'staffId', 'counselingId', 'infractionPayload', 'redirect'],
    components:{
        CounselingForm
    },
    data(){
        return{
            isCreationForm: true
        }
    },

    computed:{
        ...mapState([
            'userInfo'
        ]),

        counselingNewOrEdit(){
            if(this.$route.name == "CounselingNew"){
                this.isCreationForm = true
                return "New Counseling"
            }
            this.isCreationForm = false
            return "Edit Counseling"
        }
    },

}
</script>