<template>
    <div v-loading="loading" data-cy="counseling-container">

        <!-- DELETE DIALOG -->
        <deletePopUpCounseling 
        :deleteCounselingDialog="deleteCounselingDialog"
        :deleteConfirmation="deleteConfirmation"
        @closeDeleteModal="closeDeleteModal"
        @deleteCounseling="deleteCounseling"
      />
        
        <!--Header-->
        <div class="flex mb-4">
            <div class="flex flex-wrap justify-between items-center w-55 md:w-2/4">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum" class="space-y-1 md:space-y-0">
                <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'CounselingIndex' }">Counselings</el-breadcrumb-item>
                <el-breadcrumb-item>{{$t("label.associate")}}: <span v-if="formData.staff">{{ formData.staff.firstName }} {{formData.staff.lastName}}</span></el-breadcrumb-item>
                </el-breadcrumb>
            </div>

            <div class="flex flex-wrap align-top space-x-0 md:space-x-4 justify-end w-45 md:w-2/4" :class="{'is-generating-counseling-files': isGeneratingCounselingFiles}">
                <i
                    title="File download"
                    @click="handleDownload"
                    class="icon-button hover:text-brand uil uil-file-download"/>
                    <i
                    title="Print"
                    @click="handlePrint"
                    class="icon-button hover:text-brand uil uil-print"/>
                <i
                    data-cy="edit"
                    title="Edit"
                    @click="handleEdit"
                    class="icon-button hover:text-brand uil uil-pen"/>
                <i
                    title="Send"
                    @click="confirmSend"
                    v-if="$store.getters.hasPerformanceCoaching"
                    :class="{ 'icon-button hover:text-brand uil uil-message': true, 'cursor-not-allowed opacity-25': isCounselingSigned }"/>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                <i
                    title="Send"
                    slot="reference"
                    class="icon-button hover:text-brand uil uil-message"/>
                <PremiumWarning
                    action="send counselings"
                    premiumFeature="performance and coaching">
                </PremiumWarning>
                </el-popover>
                <i
                    data-cy="delete"
                    title="Delete"
                    v-if="!formData.refusedToSign && !isCounselingSigned"
                    @click="openCounselingDeleteDialog"
                    class="icon-button hover:text-brand uil uil-trash-alt"/>
                <el-tooltip
                    v-else
                    class="box-item"
                    effect="dark"
                    content="It is not possible to delete counselings that are signed. This data is important for legal and historical record-keeping purposes.  This information could be critical for unemployment hearings or potential lawsuits, so it must be retained."
                    placement="bottom"
                >
                    <i
                    data-cy="delete"
                    class="icon-button hover:text-brand uil uil-trash-alt"
                    :class="{'cursor-not-allowed opacity-25': isCounselingSigned }"
                />
                </el-tooltip>
                    
            </div>
        </div>
        <!-- MAIN INFO GRID -->
        <div class="card">
            <p class="card-title">Counseling Details</p>
            <el-form label-position="top" size="small" v-if="!loading" v-loading="loading">
                <div class="block lg:flex space-x-4">

                    <div class="flex-1">
                        <el-form-item label="Team Leader" prop="teamLeaderName" class="non-edit-field">
                            <p v-if="JSON.stringify(formData.user) != '{}'">{{ formData.user.firstName }}  {{ formData.user.lastName }}</p>
                            <p v-else>&#8211;</p>
                        </el-form-item>
                        <el-form-item :label="$t('label.associate')" prop="employeeName" class="non-edit-field">
                            <span v-if="formData.staff">{{ formData.staff.firstName }}  {{ formData.staff.lastName }}</span>
                        </el-form-item>
                    </div>

                    <div class="flex-1">
                        <el-form-item label="Date of Occurrence" prop="date" class="non-edit-field">
                            {{ formData.date | date}}
                        </el-form-item>
                        <el-form-item label="Counseling Severity" prop="severity" class="non-edit-field">
                            {{ `${formData.severity ? formData.severity.option : ''}` | text }}
                        </el-form-item>
                    </div>

                    <div class="flex-1">
                        <el-form-item label="Status" prop="status" class="non-edit-field">
                            {{ parseCounselingStatusValueToLabel(formData.status) }}
                        </el-form-item>
                        <el-form-item :label="setDateSignedLabel(formData)" prop="dateSigned" class="non-edit-field">
                            {{ formData.dateSigned | date }} 
                        </el-form-item>
                    </div>

                    <div class="flex-1">
                        <el-form-item :label="setSignatureLabel(formData)" prop="signature" class="non-edit-field">
                            {{ setCounselingRefusedName(formData) | text }} 
                        </el-form-item>
                        <el-form-item :label="setTimeSignedLabel(formData)" prop="timeSigned" class="non-edit-field">
                            {{ getTimeSigned(formData.dateSigned) }}
                        </el-form-item>
                    </div>
                </div>
                <div class="block lg:flex space-x-4">

                    <div class="flex-1">
                        <el-form-item label="Created From" prop="createdFrom" class="non-edit-field-text-xs">
                            {{ formData.createdFrom | text }}
                        </el-form-item>
                    </div>
                    
                    <div class="flex-1">
                        <el-form-item label="Date Last Sent" prop="dateSent" class="non-edit-field">
                            {{ this.formData.dateSent | date }}
                        </el-form-item>
                    </div>

                    <div class="flex-1"></div>
                    
                    <div class="flex-1"></div>
                    
                </div>

                <el-form-item label="Statement of Problem" prop="counselingNotes" class="non-edit-field-text-xs non-edit-field-width-40-rem">
                    <p v-if="formData.counselingNotes" v-html="indentFieldText(formData.counselingNotes)"></p>
                </el-form-item>
                <el-form-item label="Prior Discussion Summary" prop="priorDiscussionSummary" class="non-edit-field-text-xs non-edit-field-width-40-rem">
                    <p v-if="formData.priorDiscussionSummary" v-html="indentFieldText(formData.priorDiscussionSummary)"></p>
                </el-form-item>
                <el-form-item label="Summary of Corrective Action Discussed" prop="correctiveActionSummary" class="non-edit-field-text-xs non-edit-field-width-40-rem">
                    <p v-if="formData.correctiveActionSummary" v-html="indentFieldText(formData.correctiveActionSummary)"></p>
                </el-form-item>
                <el-form-item label="Consequences of Failure to Improve Performance or Corrective Behavior" prop="consequencesOfFailure" class="non-edit-field-text-xs non-edit-field-width-40-rem">
                    <p v-if="formData.consequencesOfFailure" v-html="indentFieldText(formData.consequencesOfFailure)"></p>
                </el-form-item>
                <el-form-item :label="`${$t('label.associate')} Notes`" prop="employeeNotes" class="non-edit-field-text-xs non-edit-field-width-40-rem">
                    <p v-if="formData.employeeNotes" v-html="indentFieldText(formData.employeeNotes)"></p>
                    <p v-else class="italic text-gray-700">(Associate provided no notes.)</p>
                </el-form-item>
            </el-form>
        </div>
        <!-- MAIN INFO GRID -->
        <div v-if="formData.staff" class="card">
            <div class="card-title">Amazon Violation/Defects &amp; {{$t('label.associate')}} Issues</div>
            <DaIssueList ref="daIssueList" v-if="formData.staff && formData.staff.id" :counselingId="counselingId" :daId="formData.staff.id" range="all"/>
        </div>
        <div class="w-full justify-center border mt-4 p-4 rounded-lg shadow">
            <p class="block text-gray-600 mb-4 text-base font-bold">COUNSELING IMAGES/DOCUMENTS</p>
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <div v-for="image in sortedCounselingDocuments" :key="image.id" class="group relative">
                    <div v-if="image.id !=null && image.type.includes('image')" class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 lg:h-80 flex items-center">
                        <img @click="handlePictureCardPreview(image.key)" :src="image.url" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                    </div>
                    <div v-else class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 flex justify-center items-center flex-col lg:h-80 min-h-80">
                        <i class="uil uil-file-alt text-6xl"/>
                        <a :href="image.url" target="_blank" class="hover:underline"><i>{{image.name}}</i></a>
                    </div>
                    <div class="my-2 flex justify-between">
                        <div>
                            <i 
                            title="Download Image"
                            @click="downloadFile(image.key)"
                            class="icon-button uil uil-import hover:text-brand"/>
                        </div>
                    </div>
                </div>
            </div>
            <el-dialog :visible.sync="dialogVisible" width="50%" center :close-on-click-modal="false" show-close>
              <img class="w-full" :src="dialogImageUrl">
            </el-dialog>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import { getCounseling, infractionsByStaff } from '@/graphql/queries'
import { deleteCounseling, updateCounseling } from '@/graphql/mutations'
import DaIssueList from '@/views/DaIssues/components/DaIssueList.vue'
import sendMessage from '@/scripts/sendMessage'
import PremiumWarning from '@/components/PremiumWarning'
import Validator from '@/utilities/FormValidator'
import deletePopUpCounseling from '@/views/Counseling/components/deletePopUpCounseling'
import { parseCounselingStatusValueToLabel, setSignatureLabel, setDateSignedLabel, setTimeSignedLabel, setCounselingRefusedName } from './utils'
import { parseDatesToTimezone } from '@/utilities/parseDatesToTimezone'
import moment from 'moment-timezone'
import CounselingDownloadMixin from '@/views/Counseling/mixins/CounselingDownloadMixin';
import { COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_REFUSED_TO_SIGN, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';
    
export default {
    props: ['counselingId'],

    mixins: [
        CounselingDownloadMixin,
    ],

    components:{
        DaIssueList,
        PremiumWarning,
        deletePopUpCounseling
    },

    data(){
        return{
            loading: true,
            infractionList: [],
            counselingDocuments: [],
            formData:{
                staff: {},
                user: {}
            },
            deleteCounselingDialog: false,
            deleteConfirmation: {
                deleteMessage:'',
                delete: '',
                deleteInfractions: false,
                showInfractionCheck: false,
            },
            deleteRules: {
                delete: [
                    { required: true, message: 'Please enter the correct phrase to confirm', validator: Validator.delete },
                ]
            },
            isCounselingSigned: false,
            issueID: null,
            dateSentMMDDYYYY: null,
            dialogVisible: false,
            dialogImageUrl: '',
        }
    },

    async mounted(){
        this.loadData();
        this.issueID=this.$route.query.issueID?this.$route.query.issueID:null;
    },

    created() {
        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
        this.setSignatureLabel = setSignatureLabel;
        this.setDateSignedLabel = setDateSignedLabel;
        this.setTimeSignedLabel = setTimeSignedLabel;
        this.setCounselingRefusedName = setCounselingRefusedName;
    },

    computed:{
        ...mapState([
            'userInfo',
            'isGeneratingCounselingFiles'
        ]),
        sortedCounselingDocuments(){
            return this.counselingDocuments.sort((a,b)=>{
                if(a.type.includes('image')){
                    if(b.type.includes('image'))
                        return a.name.localeCompare(b.name)
                    else
                        return 1
                }else{
                    if(b.type.includes('image'))
                        return -1
                    else
                        return a.name.localeCompare(b.name)
                }
            })
        }
    },


    methods:{
        getTimeSigned(dateSigned) {
            if(!dateSigned) return '--:--';

            const isoFormat = 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]';
            return this.$moment(dateSigned, isoFormat).format('hh:mm A');
        },

        /**
         * close delete modal and clear reset delete confirmation object
         */
        closeDeleteModal(){
            this.deleteCounselingDialog = false
            this.deleteConfirmation.deleteMessage = ''
            this.deleteConfirmation.delete = ''
            this.deleteConfirmation.showInfractionCheck = false
            this.deleteConfirmation.deleteInfractions = false
        },

        async setImageURLs(images){
            const imagesWithURL = []
            images.forEach(async (image) =>{
                const imageURL = await Storage.get(image.key)
                imagesWithURL.push({...image, url: imageURL})
            })
            this.counselingDocuments = imagesWithURL
        },
        /**
         * delete Counseling
         */
        async deleteCounseling(){
            try{
                var counselingID = this.formData.id
                var deleteInfractions = this.deleteConfirmation.deleteInfractions
                
                this.deleteCounselingDialog = false
                this.loading = true

                this.deleteCounselingDialog = false
                this.deleteConfirmation.deleteMessage = ''
                this.deleteConfirmation.delete = ''
                this.deleteConfirmation.showInfractionCheck = false
                this.deleteConfirmation.deleteInfractions = false


                if(deleteInfractions){
                    //delete driver issues in child component 
                    this.$refs.daIssueList.deleteAllDaIssues()
                }
                else{
                    // unlink driver issues in child components
                    this.$refs.daIssueList.unlinkAllDaIssues()
                }

                await this.api(deleteCounseling, {input:{id: counselingID}})
                this.displayUserNotification({
                    title: "Success",
                    type: "success",
                    message: "Counseling deleted."
                }) 
                this.$router.push({name: 'CounselingIndex'})
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


        /**
         * Loads in form data for Counseling Record
         */
        loadData: async function(){
            this.loading = true;
            try{
                var input = {
                    id: this.counselingId
                }
                var counseling = await this.api(getCounseling, input);
                var data = counseling.data.getCounseling;
                if(data.user == null){
                    data.user = {}
                }

                this.dateSentMMDDYYYY = this.getDateSentDDMMYYYY(data)
                const timezone = this.getTenantTimeZone();
                const dateFields = ['dateSent', 'dateSigned'];
                this.formData = parseDatesToTimezone(data, timezone, dateFields);

                await this.setImageURLs(data.images.items);

                if(this.formData.staff){
                    var input = {
                        staffId: this.formData.staff.id,
                        sortDirection: "ASC"
                    }
                    var result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                    var filteredResult = result.filter((infraction => infraction.counseling != null && infraction.counseling.id == this.formData.id));
                    this.infractionList = filteredResult,
                    this.isCounselingSigned = this.formData.dateSigned ? true : false
                }
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }

        },

        getDateSentDDMMYYYY(data){
            if(data.dateSent){
                const timezone = this.getTenantTimeZone();
                return moment(data.dateSent).tz(timezone).format('MM/DD/YYYY')
            }
            return null
        },

        confirmSend(){
            if(!this.formData.dateSent){
                var message = `Would you like to send this counseling record to ${this.formData.staff.firstName} ${this.formData.staff.lastName} to be acknowlegded?`;
            } else if(this.formData.dateSent && this.formData.dateSigned) {
                // Counseling already signed. do not send again.
                return;
            } else{
                var message = `This counseling record was already sent to ${this.formData.staff.firstName} ${this.formData.staff.lastName} at ${this.dateSentMMDDYYYY}. Would you like to send it again?`;
            }

            this.$confirm(message, 'Warning',{
              confirmButtonText: 'Send',
              cancelButtonText: 'Cancel',
              type: 'warning'  
            })
            .then(() =>{
                this.sendCounseling()
            })
            .catch(() =>{
                console.log("canceled send");
            });
        },

        async sendCounseling(){
            var staff = this.formData.staff
            if(!staff.email){
                this.$message.error("User must have an email to send counselings.");
                this.loading = false;
                return
            }
            var date = this.$moment(this.formData.date).format("dddd MM/DD/YYYY")
            var header = `${this.formData.severity?.option} Counseling: ${date}`;
            var subject = `${this.formData.severity?.option} Counseling: ${date}`;
            var companyName = this.userInfo.tenant.companyName
            const firstName = staff.firstName

            try{
                this.loading = true;
                var response = await sendMessage({staff, companyName, firstName, header, subject, user: this.userInfo, counselingId: this.counselingId, withShortenUrl: true});
                this.formData.refusedToSign = false;
                this.formData.signatureAcknowledge = false;
                this.formData.dateSent = new Date();
                this.formData.status = COUNSELING_STATUS_PENDING_SIGNATURE;
                delete this.formData.signature;
                var input = {
                    ...this.formData
                }
                input = this.cleanCounselingInput(input)

                if (!input.dateSigned) {
                    delete input.dateSigned;
                }
                const counseling = await this.api(updateCounseling, {input})
                
                this.formData.dateSent = counseling.data.updateCounseling.dateSent

                this.$message.success("Counseling sent successfully");
            }
            catch(e){
                this.displayUserError(e, "Counseling could not be sent. ")
            }
            finally{
                this.loading = false;
            }
        },

        handleEdit: function(){
            if(this.formData.signature || this.formData.dateSigned || [COUNSELING_STATUS_SIGNED, COUNSELING_STATUS_REFUSED_TO_SIGN].includes(this.formData.status)){
                this.$message.error("Cannot edit signed counselings.")
                return
            }
            this.$router.push({name: 'CounselingEdit', params: {counselingId: this.counselingId}})
        },

        handlePrint: function(){
            let route = this.$router.resolve({name: 'CounselingPrint', params:{counselingId: this.counselingId}})
            window.open(route.href, '_blank');
        },

        async handleDownload() {
            const staffID = this.formData.staff.id;
            const counselingList = [ {...this.formData} ];

            await this.$_Counseling_download(staffID, counselingList);
        },

        openCounselingDeleteDialog(){
            try{
                if(!this.formData.staff || !this.formData.staff.id) throw `Cannot delete counseling. Error: ${this.$t("label.associate")} is missing.`
                if(this.$refs.daIssueList.tableData.length > 0) this.deleteConfirmation.showInfractionCheck = true
                if(!this.formData.dateSent && !this.formData.signature) this.deleteConfirmation.deleteMessage = "Are you sure you want to delete this counseling?"
                if(this.formData.dateSent) this.deleteConfirmation.deleteMessage = `Are you sure you want to delete this sent counseling? ${this.formData.staff.firstName} ${this.formData.staff.lastName} will no longer be able to access this counseling.`
                if(this.formData.signature) this.deleteConfirmation.deleteMessage = `Are you sure you want to delete this signed counseling? ${this.formData.staff.firstName} ${this.formData.staff.lastName} has acknowledge this counseling.`
    
                this.deleteCounselingDialog = true
            }
            catch(e){
                this.displayUserError(e)
            }
        },

        indentFieldText(formDatatext){
            return formDatatext.replace(/\n/g, '<br/>')
        },

        async handlePictureCardPreview(key) {
            const url = await Storage.get(key)
            this.dialogImageUrl = url;
            this.dialogVisible = true;
        },
    }
}
</script>
<style scoped>

.icon-disabled {
    opacity: 0.6;
}
.margin-bottom-1-rem{
    @apply mb-1 !important;
}
</style>