<template>
    <div v-if="formData" class="py-2 px-3">
        <div>
            <div class=""> <img :src="companyLogo" class="h-20"> 
            </div>
            <div class="mt-4"> 
                <p class="text-black text-base font-bold">{{tenantName}}</p>
            </div>
        </div>
        <!-- MAIN INFO GRID -->
        <div class="block float-left mb-4 mt-4">
            <p class="text-base font-bold text-black">COUNSELING FOR: {{ formData.staff.firstName }} {{ formData.staff.lastName }}</p>
            <p class="text-base font-bold text-black">DATE OF OCCURRENCE: {{ formData.date | date}}</p>
        </div>
        <div class="block w-full mt-20">
            <el-form label-position="top" size="small" v-if="!loading" v-loading="loading">
                <div class="flex lg:space-x-4">

                    <div class="flex-1">
                        <el-form-item label="Team Leader" prop="teamLeaderName" class="non-edit-field-text-black">
                           <p v-if="formData.user"> {{ formData.user.firstName }}  {{ formData.user.lastName }} </p>
                        </el-form-item>
                    </div>

                    <div class="flex-1">
                        <el-form-item label="Counseling Severity" prop="severity" class="non-edit-field-text-black">
                            {{ formData.severity.option }}
                        </el-form-item>
                    </div>
                </div>

                <p>Counseling Information</p>
                <div class="border-b-1 border-gray-600"/>

                <el-form-item label="Date Last Sent" prop="dateSent" class="non-edit-field-text-xs-text-black">
                    {{ formData.dateSent | date }}
                </el-form-item>
                <el-form-item label="Statement of Problem" prop="counselingNotes" class="non-edit-field-text-xs-text-black">
                    <p v-if="formData.counselingNotes" v-html="indentFieldText(formData.counselingNotes)"></p>
                </el-form-item>
                <el-form-item label="Prior Discussion Summary" prop="priorDiscussionSummary" class="non-edit-field-text-xs-text-black">
                    <p v-if="formData.priorDiscussionSummary" v-html="indentFieldText(formData.priorDiscussionSummary)"></p>
                </el-form-item>
                <el-form-item label="Summary of Corrective Action Discussed" prop="correctiveActionSummary" class="non-edit-field-text-xs-text-black">
                    <p v-if="formData.correctiveActionSummary" v-html="indentFieldText(formData.correctiveActionSummary)"></p>
                </el-form-item>
                <el-form-item label="Consequences of Failure to Improve Performance or Corrective Behavior" prop="consequencesOfFailure" class="non-edit-field-text-xs-text-black">
                    <p v-if="formData.consequencesOfFailure" v-html="indentFieldText(formData.consequencesOfFailure)"></p>
                </el-form-item>

                <p>Signature Information</p>
                <div class="border-b-1 border-gray-600"/>
                <div class="flex lg:space-x-4">
                    <div class="flex-1">
                        <el-form-item label="Status" prop="status" class="non-edit-field-text-xs-text-black">
                            {{ formData.status }} 
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item :label="setSignatureLabel(formData)" prop="signature" class="non-edit-field-text-xs-text-black">
                            {{ setCounselingRefusedName(formData) | text }} 
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item :label="setDateSignedLabel(formData)" prop="dateSigned" class="non-edit-field-text-xs-text-black">
                            {{ formData.dateSigned | date }} 
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item :label="setTimeSignedLabel(formData)" prop="timeSigned" class="non-edit-field-text-xs-text-black">
                            {{ getTimeSigned(formData.dateSigned) }}
                        </el-form-item>
                    </div>
                </div>
            </el-form>
        </div>
        <div v-if="infractionList && infractionList.length > 0" class="block mt-6">
            <p>{{$t('label.associate')}} Issues</p>
            <div class="border-b-1 border-gray-600"/>
            <div v-for="infraction in infractionList" :key="infraction.id">
                <DaIssueListPrint
                    :formData="infraction"/>
            </div>
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import { infractionsByStaff } from '@/graphql/queries'
import { getCounseling } from './queries'
import DaIssueListPrint  from '@/views/DaIssues/components/DaIssueListPrint.vue'
import { parseDatesToTimezone } from '@/utilities/parseDatesToTimezone'
import { parseCounselingStatusValueToLabel, setSignatureLabel, setDateSignedLabel, setTimeSignedLabel, setCounselingRefusedName } from './utils'
 
export default {
    props: ['counselingId'],
    components: {
        DaIssueListPrint
    },
    data(){
        return{
            loading: false,
            formData: null,
            infractionList: [],
        }
    },

    created(){
        this.windowPrint();
        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
        this.setSignatureLabel = setSignatureLabel;
        this.setDateSignedLabel = setDateSignedLabel;
        this.setTimeSignedLabel = setTimeSignedLabel;
        this.setCounselingRefusedName = setCounselingRefusedName;
    },

    computed:{
        ...mapState([
            'valuelists',
            'companyLogo',
            'userInfo'
        ]),
        tenantName(){
            return this.userInfo.tenant.companyName
        },
    },

    methods:{
        /**
         * Loads in form data for Counseling Record
         */
        loadData: async function(){
            this.loading = true;
            try{
                var input = {
                    id: this.counselingId
                }
                var counseling = await this.api(getCounseling, input);
                var data = counseling.data.getCounseling;

                const timezone = this.getTenantTimeZone();
                const dateFields = ['date', 'dateSent', 'dateSigned'];
                this.formData = parseDatesToTimezone(data, timezone, dateFields);

                this.dateSigned = new Date(this.formData.dateSigned)

                this.infractionList = [];

                var input = {
                    staffId: this.formData.staff.id,
                    sortDirection: "ASC"
                }
                var result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                this.infractionList = result.filter((infraction => infraction.counseling != null && infraction.counseling.id == this.formData.id));
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }

        },

        getTimeSigned(dateSigned) {
            if(!dateSigned) return '--:--';

            const isoFormat = 'YYYY-MM-DD[T]HH:mm:ss.SSS[Z]';
            return this.$moment(dateSigned, isoFormat).format('hh:mm A');
        },

        windowPrint: async function(){
            try{
                await this.loadData();
                await this.sleep(1500);
                const associateFullName = `${this.formData.staff.firstName} ${this.formData.staff.lastName}`
                const occuranceDate = this.$options.filters.date(this.formData.date);
                document.title = `Hera Counseling - ${associateFullName} - ${occuranceDate}`
                window.print()
            }
            catch(e){
                this.displayUserError(e)
            }
        },

        sleep(ms) {
            return new Promise((resolve) => {
                setTimeout(resolve, ms);
            });
        },

        indentFieldText(formDataText){
            return formDataText.replace(/\n/g, '<br/>')
        },
    }
}
</script>