<template>
    <div>
        <!-- COMPANY LOGO -->
        <div class="mb-4 w-full flow-root"> 
            <el-image v-if="logoURL" :src='logoURL' fit='cover' class="h-20 float-left" lazy>
                <template #error>
                    <span class="text-gray-600 text-base font-bold">{{tenantName}}</span>
                </template>
            </el-image> 
            <span v-else class="text-gray-600 text-base font-bold">{{tenantName}}</span>
            <img class="h-10 float-right" src="@/assets/images/logo-powered.png" />
        </div>
        <!-- HEADER -->
        <div v-if="!errorMessage">
            <p class="text-sm mb-4" v-if="acknowledged == false">Please review this counseling and sign at the bottom:</p>
        </div>

        <!-- MAIN INFO GRID -->
        <div v-if="!errorMessage" v-loading="loading">
            <div class="card">
                <p class="card-title">Counseling Details</p>
                <div>
                    <el-form label-position="top" size="small" v-if="!loading" v-loading="loading">
                        <div class="block lg:flex">

                            <div class="flex-1">
                                <el-form-item label="Team Leader" prop="teamLeaderName" class="non-edit-field" v-if="userData">
                                    {{ userData.firstName }} {{ userData.lastName }}
                                </el-form-item>
                                <el-form-item :label="$t('label.associate')" prop="employeeName" class="non-edit-field" v-if="staffData">
                                    {{ staffData.firstName }} {{ staffData.lastName }}
                                </el-form-item>
                            </div>

                            <div class="flex-1">
                                <el-form-item label="Date of Occurrence" prop="date" class="non-edit-field" v-if="counselingData.date">
                                    {{ counselingData.date | date}}
                                </el-form-item>
                                <el-form-item label="Counseling Severity" prop="severity" class="non-edit-field" v-if="counselingData.severity ">
                                    {{ counselingData.severity.option }}
                                </el-form-item>
                            </div>
                        </div>

                        <el-form-item label="Created From" prop="counselingNotes" class="non-edit-field-text-xs" v-if="counselingData.createdFrom">
                            {{ counselingData.createdFrom | text }}
                        </el-form-item>
                        <el-form-item label="Statement of Problem" prop="counselingNotes" class="non-edit-field-text-xs" v-if="counselingData.counselingNotes">
                            {{ counselingData.counselingNotes | text }}
                        </el-form-item>
                        <el-form-item label="Prior Discussion Summary" prop="priorDiscussionSummary" class="non-edit-field-text-xs" v-if="counselingData.priorDiscussionSummary">
                            {{ counselingData.priorDiscussionSummary | text }}
                        </el-form-item>
                        <el-form-item label="Summary of Corrective Action Discussed" prop="correctiveActionSummary" class="non-edit-field-text-xs" v-if="counselingData.correctiveActionSummary">
                            {{ counselingData.correctiveActionSummary | text }}
                        </el-form-item>
                        <el-form-item label="Consequences of Failure to Improve Performance or Corrective Behavior" prop="consequencesOfFailure" class="non-edit-field-text-xs" v-if="counselingData.consequencesOfFailure">
                            {{ counselingData.consequencesOfFailure | text }}
                        </el-form-item>
                    </el-form>
                </div>
            </div>

            <!-- MAIN INFO GRID -->
            <div class="card" v-if="daIssuesList.length && counselingData.id && staffData.id">
                <div class="card-title">Amazon Violation/Defects &amp; {{$t('label.associate')}} Issues </div>
                <DaIssueList :counselingId="counselingData.id" :daId="staffData.id" range="all"/>
            </div>
            <div class="w-full justify-center border mt-4 p-4 rounded-lg shadow">
                <p class="block text-gray-600 mb-4 text-base font-bold">COUNSELING IMAGES/DOCUMENTS</p>
                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div v-for="document,index in documents" :key="index" class="group relative">
                        <div v-if="document !=null && document.type.includes('image')" class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 lg:h-80 flex items-center">
                            <img @click="handlePictureCardPreview(document.docSignedUrl)" :src="document.docSignedUrl" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                        </div>
                        <div v-else class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 flex justify-center items-center flex-col lg:h-80 min-h-80">
                            <i class="uil uil-file-alt text-6xl"/>
                            <a :href="document.docSignedUrl" target="_blank" class="hover:underline"><i>{{document.name}}</i></a>
                        </div>
                    </div>
                </div>
                <el-dialog :visible.sync="dialogVisible" width="50%" center :close-on-click-modal="false" show-close>
                    <img class="w-full" :src="dialogImageUrl">
                </el-dialog>
            </div>
            <div v-if="acknowledged == true" class="mt-4">
                <p class="text-red-600 text-sm">This counseling has already been acknowledged, if this is a mistake please contact management.</p>
            </div>
            <div v-else class="mt-4">
                <p class="text-xs mb-4">By clicking an option and typing my name below, I acknowledge receipt of the counseling and consent to using an electronic signature:</p>
                <el-radio-group v-model="signature" @change="handleRadioChange" @blur="handleRadioChange">
                    <el-radio label="accepted" class="margin-bottom-1-rem lb-whitespace-normal">I have reviewed the counseling and <strong>accept</strong> the terms listed above.</el-radio>
                    <el-radio label="refused" class="lb-whitespace-normal">I have reviewed the counseling and <strong>refuse</strong> the terms listed above.</el-radio>
                </el-radio-group>

                <el-form label-position="top" ref="signature" class="mt-4 pb-0 mb-0"> 
                    <el-form-item prop="employeeNotes" style="margin-bottom: 3px !important" :label="`Optionally add notes here, which will be seen by the company:`">
                        <el-input v-model="employeeNotes" type="textarea" rows="2"></el-input>
                    </el-form-item>
                    <el-form-item prop="signature" class="!mt-0" label="Please type your name as shown in this counseling record:">
                        <el-input v-model="signatureName" class="margin-bottom-0"></el-input>
                    </el-form-item>
                    <p class="text-xs text-gray-600 mt-4">{{ staffData.firstName }} {{ staffData.lastName }}</p>
                </el-form>
            </div>
            
            <!--Footer-->
            <div class="flex justify-between mt-8" v-if="acknowledged != true">
                <el-button @click="updateCounseling" type="success">Save</el-button>
            </div> 
        </div>
        <div v-else class="text-red-700 text-center">
            <p><i class="el-icon-warning-outline text-6xl"/></p>
            <p class="text-xl">Could not load counseling record</p>
            <p class="text-sm text-gray-700">{{errorMessage}}</p>
        </div>
        
    </div> 
</template>
<script>
//Shutdown intercom
window.Intercom('shutdown');

// @ is an alias to /src
import { API } from 'aws-amplify';
import DaIssueList from '@/views/DaIssues/components/DaIssueList.vue'
import { COUNSELING_STATUS_REFUSED_TO_SIGN, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';
import { parseCounselingStatusValueToLabel } from './utils';


export default {
    props: ['counselingId'],
    name: 'CounselingSignature',
    components:{
        DaIssueList
    },
    data(){
        return{
            loading: true,
            counselingData: {},
            staffData: {},
            userData: {},
            daIssuesList: [],
            signature: '',
            errorMessage: null,
            acknowledged: false,
            signatureName: '',
            logoURL: null,
            employeeNotes: null,
            documents: {},
            dialogVisible: false,
            dialogImageUrl: '',
            tenantName: '',
        }
    },

    created(){
        this.loadData();

        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
    },


    methods:{
        /**
         * Loads in form data for Counseling Record
         */
        loadData: async function(){
            this.loading = true;
            try{
                let apiName = 'heraPublicApi'
                let path = '/counseling/' + this.counselingId;
                var result = await API.get(apiName, path)
                this.counselingData = {...result.counselingData.Item}
                this.staffData = {...result.staffData.Item}
                this.userData = {...result.userData.Item}
                this.daIssuesList = [...result.infractionData.Items]
                this.logoURL = result.companyLogo
                this.tenantName = result.companyName
                this.documents = this.counselingData.images.filter((image)=>{
                    return image?.isDocVisibleToAssociate
                }).map((image)=>{
                const name = image.key.slice(image.key.lastIndexOf("/")+1 , image.key.length )
                    return {...image, name}
                })
                //Update radio button group
                if(this.counselingData.signatureAcknowledge == true){
                    this.signature = "accepted"
                    this.acknowledged = true;
                }
                else if(this.counselingData.refusedToSign == true){
                    this.signature = "refused"
                    this.acknowledged = true;
                }
                else{
                    this.signature = ""
                    this.acknowledged = false;
                }
            }
            catch(e){
                this.printUserError(e)
                this.errorMessage = e.response.data.message
            }
            finally{
                this.loading = false;
            }

        },

        handleRadioChange(){
            if(this.signature == "accepted"){
                this.counselingData.signatureAcknowledge = true;
                this.counselingData.refusedToSign = false;
            }
            if(this.signature == "refused"){
                this.counselingData.signatureAcknowledge = false;
                this.counselingData.refusedToSign = true;  
                
            }
        },

        async updateCounseling(){

          try {

            //EXIT FUNCTION IF OPTION WASN'T CHOOSEN
           if(this.signature == null || this.signature == '' || this.signature == undefined){
               this.$message.error("Please accept or refuse the counseling.")
               return
           }

           //EXIT FUNCTION IF NAME IN SIGNATURE IS THE NOT THE SAME OR EMPTY
           var firstName = this.staffData.firstName.replace(/^\s+|\s+$/g, '');
           var lastName = this.staffData.lastName.replace(/^\s+|\s+$/g, '');
           var staffName = `${firstName} ${lastName}`.replace(/['"`´!@#$%^&*,?¿]/g, '');
           if(!this.signatureName){
                this.$message.error("Please sign by typing your name below.")
                return  
           }

            // replace whitespace characters between words
           this.signatureName = this.signatureName.replace(/\s+/g, ' ');

           // remove whitespace characters at the beginning and end
            this.signatureName = this.signatureName.replace(/^\s+|\s+$/g, '');

            // remove quotes and double quotes characters for signature and staffName
            this.signatureName = this.signatureName.replace(/['‘’"“”]/g, '');

           if(this.signatureName.toLowerCase() != staffName.toLowerCase()){
               this.$message.error("The name typed does not match the name on the counseling")
               return
           }

           if(this.counselingData.refusedToSign == true){
               var status = COUNSELING_STATUS_REFUSED_TO_SIGN;
           }
           else{
               var status = COUNSELING_STATUS_SIGNED;
           }
           this.loading = true
           
            
            var input = { 
                id: this.counselingId,
                signatureAcknowledge: this.counselingData.signatureAcknowledge, 
                refusedToSign: this.counselingData.refusedToSign,
                status: status,
                signature: this.signatureName,
                dateSigned: new Date(),
                employeeNotes: this.employeeNotes
            }


            let apiName = 'heraPublicApi'
            let path = '/counseling/' + this.counselingId
            let put = {body: input}
            var result = await API.put(apiName, path, put);
            this.$message.success("The counseling record has been updated.")
            this.$router.push({name: 'CounselingSignatureComplete'});
           }
           catch(e){
               this.displayUserError(e)
           }
           finally{
               this.loading = false
           }

        },
        async handlePictureCardPreview(url) {
            this.dialogImageUrl = url;
            this.dialogVisible = true;
        },

    }
}
</script>
<style scoped>
.margin-bottom-1-rem{
    @apply mb-4 !important
}
.margin-bottom-0{
    @apply mb-0 !important
    
}
.lb-whitespace-normal{
    white-space: normal !important;
}
</style>