  <template>
  <div data-cy="card_hera-data-imports" >
    <Card title="Daily Performance Data Imports"
    :footer="true"
    iconClass="uil-calender">
      <template v-slot:body>
        <el-tabs type="border-card" class="dashboard-card-body">
        <!-- v-if="false" INTENCIONAL CONDITION (At the request of @Jake)-->
        <el-tab-pane v-if="false">
          <span slot="label">
              <div class="text-center h-4">
                <i v-if="!yesterday.icon" class="uil uil-exclamation-triangle size-important"></i>
                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
              </div>
              <div class="text-xs text-black">{{ yesterday.title }}</div>
          </span>
          <div class="h-84">
            <DataImportTable 
            :table="yesterdayTable"
            typeTable="daily"
            :sendTime="automatedCoachingSendTime"/>
          </div>
        </el-tab-pane>
        <!-- v-if="false" INTENCIONAL CONDITION (At the request of @Jake)-->
        <el-tab-pane v-if="false">
          <span slot="label">
              <div class="text-center h-4">
                <i v-if="!beforeYesterday.icon" class="uil uil-exclamation-triangle size-important"></i>
                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
              </div>
              <div class="text-xs text-black">{{ beforeYesterday.title }}</div>
          </span>
          <div class="h-84">
            <DataImportTable 
            :table="beforeYesterdayTable"
            typeTable="daily"
            :sendTime="automatedCoachingSendTime"/>
          </div>
        </el-tab-pane>
        <el-tab-pane>
          <span slot="label">
              <div class="text-center h-4">
                <i v-if="!thisWeek.icon" class="uil uil-exclamation-triangle size-important"></i>
                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
              </div>
              <div class="text-xs text-black">{{ thisWeek.title }}</div>
          </span>
          <div class="h-84">
            <DataImportTable v-loading="loading"
            :table="thisWeekTable"
            typeTable="daily"
            :sendTime="automatedCoachingSendTime"/>
          </div>
        </el-tab-pane>
        <el-tab-pane>
          <span slot="label">
              <div class="text-center h-4">
                <i v-if="!lastWeek.icon" class="uil uil-exclamation-triangle size-important"></i>
                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
              </div>
              <div class="text-xs text-black">{{ lastWeek.title }}</div>
          </span>
          <div class="h-84">
            <DataImportTable
            :table="lastWeekTable"
            typeTable="daily"
            :sendTime="automatedCoachingSendTime"/>
          </div>
        </el-tab-pane>
      </el-tabs>
      </template>
      <template v-slot:footer>
        <button class="link text-sm" @click="$router.push({ name: 'ReportsIndex'})">View Performance Reports</button>
      </template>
    </Card>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import momentTz from 'moment-timezone'
import Card from '@/components/Dashboard/Card.vue'
import DataImportTable from '@/components/Dashboard/CardContent/DataImportTable.vue'
import { textractJobsByGroupAndDate, eocScoresByGroupLevelAndDate } from './queries'
import { calculateIconColor, fillSpecificWeekOrDayTable, fillWeeksOrDaysTable } from '@/utilities/dashboardPerformance'

export default {
    name: "DailyPerformanceDataImports",
    components: {
      Card,
      DataImportTable 
    },
    data() {
      return {
        loading: false,
        yesterday: {
          title:  this.$moment().subtract(1, 'days').format('MMMM DD, YYYY'),
          icon: false
        },
        beforeYesterday: {
          title:  this.$moment().subtract(2, 'days').format('MMMM DD, YYYY'),
          icon: false
        },
        thisWeek: {
          title: 'This Week',
          icon: false
        },
        lastWeek: {
          title: 'Last Week',
          icon: false
        },
        dailyImportByDay: {
          columns: [
            {name: 'File Type', keyData: 'label'},
            {name: 'Imported', keyData: 'importData'},
            {name: 'Action Button', keyData: 'actionButtonText'}
          ],
          data: [{
              label: 'Mentor',
              fileType: 'mentor',
              importData: {importStatus: false},
              actionButtonText: 'Import File Now',
            }, {
              label: 'Netradyne',
              fileType: 'netradyne',
              importData: {importStatus: false},
              actionButtonText: 'Import File Now',
            }, {
              label: 'EOC',
              fileType: 'eoc',
              importData: {importStatus: false},
              actionButtonText: 'Import File Now',
          }],
          actionButton: true,
        },
        dailyImportByWeek: {
          columns: [
            {name: 'Data From', keyData: 'weekOrDay'},
            {name: 'Mentor', keyData: 'mentor'},
            {name: 'Netradyne', keyData: 'netradyne'},
            {name: 'EOC', keyData: 'eoc'}
          ],
          data: [{
            weekOrDay: '',
            mentor: {importStatus: false},
            netradyne: {importStatus: false},
            eoc: {importStatus: false}
          }],
          actionButton: false,
        },
        yesterdayTable: {},
        beforeYesterdayTable: {},
        thisWeekTable: {},
        lastWeekTable: {},
        automatedCoachingSendTime: ''
      }
    },

    mounted() {
      this.loadData()
    },

    computed: {
      ...mapState(['userInfo']),
    },

    methods: {
      /**
       * Load data from backend
       */
      async loadData() {
        this.automatedCoachingSendTime = this.userInfo.tenant.automatedCoachingSendTime
        const today = momentTz.tz(this.getTenantTimeZone())
        let data = await this.loadTextractJob(today)
        data = data.sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime())
        
        this.yesterdayTable = JSON.parse(JSON.stringify(this.dailyImportByDay));
        this.beforeYesterdayTable = JSON.parse(JSON.stringify(this.dailyImportByDay));
        this.thisWeekTable = JSON.parse(JSON.stringify(this.dailyImportByWeek));
        this.lastWeekTable = JSON.parse(JSON.stringify(this.dailyImportByWeek));
        await this.fillYesterdayAndBeforeYesterdayTable(data, 'yesterday', today)
        await this.fillYesterdayAndBeforeYesterdayTable(data, 'beforeYesterday', today)
       
        await this.fillWeekTable(data, "thisWeek", today)
        await this.fillWeekTable(data, "lastWeek", today)
        await this.fillTabs(today)
      },
      
      async loadEOCScore(beforeSunday, yesterday) {
        const input = {
          group: this.userInfo.tenant.group,
          levelDate: {
            ge: {level: 'dsp', date: beforeSunday}
          },
          sortDirection: "DESC"
        }
        try{
            const { data } = await this.api(eocScoresByGroupLevelAndDate, input)
            return data.eocScoresByGroupLevelAndDate.items
        }catch(e){
            this.displayUserError(e)
        }
      },

      async loadTextractJob(today) {
        this.loading = true
        const yesterday = await this.getYesterday(today, 'date')
        const beforeSunday = await this.getBeforeSundayDay(today)
        // input
        const input = {
          group: this.userInfo.tenant.group,
          date: { 
            between: [ beforeSunday, yesterday ]
          },
          filter: {
            jobStatus: { eq: "SUCCEEDED" },
            key: { ne : "" },
            and: [ 
                { type:{ ne: "scorecard", } },
                { type:{ ne: "podQualityFeedback"} },
                { type:{ ne: "customerFeedback" } },
                { type:{ ne: "customCsv" } }
            ]
          },
          sortDirection: "DESC"
        }
        let resultTextractJob = []
        let resultEOCScore = []
        try {
          resultTextractJob = await this.gLoadListAll(textractJobsByGroupAndDate, input, 'textractJobsByGroupAndDate')
          resultEOCScore = await this.loadEOCScore(beforeSunday, yesterday)

          const resultTextractJobDates = resultTextractJob
            .filter(item => item.type === 'eoc')
            .map(item => this.$moment(item.date).format('YYYY-MM-DD[T]HH:mm:ss.SSS[Z]')) 
          
          resultEOCScore = resultEOCScore
            .filter(eoc => !resultTextractJobDates.includes(eoc.date))
            .map(eoc => {
              eoc.date = this.$moment(eoc.date, 'YYYY-MM-DD').format('YYYY-MM-DD')
              eoc.type = 'eoc'
              return eoc
          })
          
          resultTextractJob = [...resultTextractJob, ...resultEOCScore]

        } catch(e) {
          console.log(e)
          this.displayUserError(e)
        } finally {
          this.loading = false
          return resultTextractJob
        }
      },

      async fillYesterdayAndBeforeYesterdayTable(data=[], day, today){
        if(!data.length){
          this.beforeYesterdayTable.data = []
          this.yesterdayTable.data = []
          return
        }
       
        const yesterday = await this.getYesterday(today, 'date')
        let yesterdayData = this.yesterdayTable.data
        let beforeYesterday = await this.getBeforeYesterday(today, 'date')
        let beforeYesterdayData = this.beforeYesterdayTable.data
        let selectedDay = yesterday
        let dayData = yesterdayData
        if(day === 'beforeYesterday'){
          selectedDay = beforeYesterday
          dayData = beforeYesterdayData
        }
        const year = this.$moment(today).year()
        const dataResult = await fillSpecificWeekOrDayTable(data, dayData, selectedDay, year, 'dailys')
        if(day === 'beforeYesterday') this.beforeYesterdayTable.data = dataResult
        else this.yesterdayTable.data = dataResult
      },
      
      async fillWeekTable(data=[], weekTime, today) {
        if(!data.length){
          this.thisWeekTable.data = []
          this.lastWeekTable.data = []
          return
        }
        const { thisWeekRange, lastWeekRange } = await this.getWeeklyDays(today)
        let weekRange = thisWeekRange
        if (weekTime === "lastWeek") {
          weekRange = lastWeekRange
        }
        const year = this.$moment(today).year()
        const dataResult = await fillWeeksOrDaysTable(data, weekRange, year, 'dailys')
        if (weekTime === "lastWeek") this.lastWeekTable.data = dataResult
        else this.thisWeekTable.data = dataResult
        
      },
  
      /**
       * fill tabs table data
       * return: title, icon
       *
       */
      async fillTabs(today) {
        let yesterday = await this.getYesterday(today, "string")
        let beforeYesterday = await this.getBeforeYesterday(today, "string")

        this.yesterday.title = yesterday
        const yesterdayData = this.yesterdayTable.data
        this.yesterday.icon = await calculateIconColor(yesterdayData, "yesterday")

        this.beforeYesterday.title = beforeYesterday
        const beforeYesterdayData = this.beforeYesterdayTable.data
        this.beforeYesterday.icon = await calculateIconColor(beforeYesterdayData, "beforeYesterday")

        //calculate icon color only for two days max
        const thisWeekData = this.thisWeekTable.data.slice(0, 2)
        this.thisWeek.icon = await calculateIconColor(thisWeekData, "thisWeekDaily")
        const lastWeekTable= this.lastWeekTable.data.slice(0, 2)
        this.lastWeek.icon = await calculateIconColor(lastWeekTable, "lastWeekDaily")
        
      },
      /**
       * get the date of yesterday
       */
      async getYesterday(today, format) {
        let yesterday;
        if (format === 'string') {
          yesterday = this.$moment(today).subtract(1, 'days').format('MMMM DD, YYYY');
        } else {
          yesterday = this.$moment(today).subtract(1, 'days').format('YYYY-MM-DD');
        }
        return yesterday
      },
      /**
       * get the date of before yesterday
       */
      async getBeforeYesterday(today, format, n=2) {
        let beforeYesterday;
        if (format === 'string') {
          beforeYesterday = this.$moment(today).subtract(n, 'days').format('MMMM DD, YYYY');
        } else {
          beforeYesterday = this.$moment(today).subtract(n, 'days').format('YYYY-MM-DD');
        }
        return beforeYesterday
      },

      async getWeeklyDays(today) {
        const yesterday = this.$moment(today).subtract(1, 'days');
        let sunday = this.$moment(today).weekday(0);
        let thisWeekRange = []
        let day
        for (let n = 0; n < 7; n++ ) {
          day = this.$moment(today).subtract(n, 'days');
          if ( day.isBetween(sunday, yesterday, null, '[]') === true ) {
            thisWeekRange.push(day.format('YYYY-MM-DD'))
          }
        }
        // another weekdays
        let lastSaturday = sunday.subtract(1, 'days');
        let lastSunday = this.$moment(lastSaturday).weekday(0)
        let lastWeekRange = []
        for (let n = 0; n < 7; n++ ) {
          day = this.$moment(lastSaturday).subtract(n, 'days');
          if ( day.isBetween(lastSunday, lastSaturday, null, '[]') === true ) {
            lastWeekRange.push(day.format('YYYY-MM-DD'))
          }
        }
        return { thisWeekRange, lastWeekRange }
      },
      /**
       * get the initial day (sunday) of the before last week
       */
      async getBeforeSundayDay(today) {
        const yesterday = this.$moment(today).subtract(1, 'days');
        const sunday = this.$moment(yesterday).weekday(0);
        const beforeSunday = sunday.subtract(7, 'days').format('YYYY-MM-DD');
        return beforeSunday

      },
    }
}
</script>
<style scoped>
.size-important {
  @apply text-xl !important;
}
  
</style>
