<template>
    <Card title="Recent DSP-Level Metrics" 
    :footer="false"
    iconClass="uil-file-graph">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body">
            <el-tab-pane v-for="tab in tabs" :key="tab.title">
                <span slot="label">
                    <div class="text-center h-4">
                        {{ tab.counterData }}    
                    </div>
                    <div class="text-xs text-black">{{ tab.title }}</div>
                </span>
                <div class="h-84">
                    <DataImportTable v-loading="loading"
                    :table="tab.table"
                    typeTable="DSPLevelMetrics"/>
                </div> 
                <div class="individual-card-footer" v-if="tab.footerLink.visible">
                    <button class="link text-sm" @click="$router.push({ name: tab.footerLink.routeName })">{{ tab.footerLink.text  }}</button>
                </div>
            </el-tab-pane>
            </el-tabs>
        </template>
    </Card>
</template>
<script>
import { mapState } from 'vuex'
import { 
    companyScoreCardsByGroup,
    podQualitySummaryByGroupAndWeek,
    cxFeedbackSummaryByGroupAndWeek,
    eocScoresByGroupLevelAndDate
} from './queries'
import Card from '@/components/Dashboard/Card.vue'
import DataImportTable from '@/components/Dashboard/CardContent/DataImportTable.vue'

export default {
    name: 'RecentDSPLevelMetrics',
    components: {
        Card,
        DataImportTable
    },
    data(){
        return {
            loading: false,
            tabs: [
                {
                    title: 'Scorecards', 
                    table: {},
                    counterData: 0, 
                    footerLink: {
                        visible: true, 
                        routeName: 'DaPerformanceImportedData', 
                        text: 'View Weekly Imports Report'
                    }
                },
                {   
                    title: 'POD Reports', 
                    table: {},
                    counterData: 0,  
                    footerLink: {
                        visible: true, 
                        routeName: 'DaPerformanceImportedData', 
                        text: 'View Weekly Imports Report'
                    }
                },
                {   
                    title: 'CX Feedback', 
                    table: {},
                    counterData: 0,  
                    footerLink: {
                        visible: true, 
                        routeName: 'DaPerformanceImportedData', 
                        text: 'View Weekly Imports Report'
                    }
                },
                {   
                    title: 'EOC', 
                    table: {},
                    counterData: 0,  
                    footerLink: {
                        visible: false, 
                    }
                },
            ],   
            scorecadTable: {
                columns: [
                    {name: 'Week', keyData: 'week', width:"16"},
                    {name: 'Overall', keyData: 'overall', width:"16"},
                    {name: 'Safety', keyData: 'safety', width:"15"},
                    {name: 'Team', keyData: 'team', width:"14"},
                    {name: 'Quality', keyData: 'quality', width:"16"},
                    {name: 'Cust. Esc.', keyData: 'custEsc', width:"16", tooltip: 'Customer Escalation'},
                    {name: 'Action Button', keyData: 'actionButtonText', width:"0"}
                ],
                data: [],
                actionButton: true
            },      
            podReportsTable: {
                columns: [
                    {name: 'Week', keyData: 'week', width:"50"},
                    {name: 'Not Detected', keyData: 'notDetected'},
                    {name: 'Not Visible', keyData: 'notVisible'},
                    {name: 'Human in Picture', keyData: 'hInPicture'},
                    {name: 'Action Button', keyData: 'actionButtonText', width:"0"}
                ],
                data: [],
                actionButton: true
            },      
            cxFeedbackTable: {
                columns: [
                    {name: 'Week', keyData: 'week', width:"50"},
                    {name: 'Respectful', keyData: 'respectful'},
                    {name: 'Great Delivery', keyData: 'greatDelivery'},
                    {name: 'Followed Instr.', keyData: 'followedInstr'},
                    {name: 'Action Button', keyData: 'actionButtonText', width:"0"}
                ],
                data: [],
                actionButton: true
            },      
            eocTable: {
                columns: [
                    {name: 'Day', keyData: 'day', width:"55"},
                    {name: 'Average This Day', keyData: 'averageDay'},
                    {name: '7-Day Rolling Average', keyData: 'rollingAverage'},
                    {name: 'Action Button', keyData: 'actionButtonText', width:"0"}
                ],
                data: [],
                actionButton: true
            }            
        }
    },

    computed:{
        ...mapState(['userInfo']), 
    },

    created() {
        this.loadData()
    },
    methods:{

        async loadData() {
            const scorecardData = await this.loadDataScoreCard()
            const podData = await this.loadDataPODReport()
            const cxFeedbackData = await this.loadDataCxFeedback()
            const eocData = await this.loadDataEoc()
            await this.fillScorecardTable(scorecardData)
            await this.fillPODReportTable(podData)
            await this.fillcxFeedbackTable(cxFeedbackData)
            await this.fillEocTable(eocData)
            await this.fillTabs()
        },

        async loadDataPODReport(){
            const input = {
                group: this.userInfo.tenant.group, 
                sortDirection: 'DESC',
                limit: 10, 
            }
            try{
                const { data } = await this.api(podQualitySummaryByGroupAndWeek, input)
                return data.podQualitySummaryByGroupAndWeek.items
            }catch(e){
                this.displayUserError(e)
            }
        },
        async loadDataCxFeedback(){
            const input = {
                group: this.userInfo.tenant.group,
                sortDirection: 'DESC',
                limit: 10, 
            }
            try{
                const { data } = await this.api(cxFeedbackSummaryByGroupAndWeek, input)
                return data.cxFeedbackSummaryByGroupAndWeek.items
            }catch(e){
                this.displayUserError(e)
            }
        },
        async loadDataEoc(){
            const input = {
                group: this.userInfo.tenant.group,
                levelDate: {
                    beginsWith: { level: 'dsp'}
                },
                sortDirection: 'DESC',
                limit: 10
            }
            try{
                const { data } = await this.api(eocScoresByGroupLevelAndDate, input)
                return data.eocScoresByGroupLevelAndDate.items
            }catch(e){
                this.displayUserError(e)
            }
        },

        async loadDataScoreCard(){
            this.loading = true   
            const input = {
                group: this.userInfo.tenant.group,  
                sortDirection: 'DESC',
                limit: 10,
                filter: {
                    scorecardPdf: { beginsWith: this.userInfo.tenant.group }
                },
                nextToken: null
            }
            try{
                let result = []
                do{
                    const { data } = await this.api(companyScoreCardsByGroup, input)
                    input.nextToken = data.companyScoreCardsByGroup.nextToken
                    result = result.concat(data.companyScoreCardsByGroup.items)
                }while(result.length < 10 && input.nextToken);
                return result.slice(0, 10)
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },

        async fillScorecardTable(data=[]){
            let scorecadData = []
            let input = {}
            for(let item of data) {
                input = {
                    week: `${this.getValue(item.week)} ${this.getValue(item.year)}`,
                    overall: this.cutText(item.overall),
                    safety: this.cutText(item.safetyAndCompliance),
                    team:  this.cutText(item.team),
                    quality: this.cutText(item.quality),
                    custEsc: this.cutText(item.customerEscalationDefectDPMOText),
                    actionButtonText: 'Download Saved Scorecard',
                    importData: {
                        importStatus: true,
                        key: item.scorecardPdf
                    },
                   
                }
                scorecadData.push(input)
            } 
            this.scorecadTable.data = scorecadData
        },

        cutText(text){
            if(!text) return '—'
            if(text ==='Fair' || text==='Poor'){
                return text
            }
            return text.includes('Fantastic Plus') ? 
                'Fan+' : text.includes('Fantastic') ? 'Fan' : text.includes('Great') ? 'Grt' : '—'
        },

        async fillPODReportTable(data=[]){
            let podData = []
            let input = {}
            
            for(let item of data) {
                input = {
                    week: `${this.getValue(item.week)} ${this.getValue(item.year)}`,
                    notDetected: this.getValue(item.noPackageDetected),
                    notVisible: this.getValue(item.packageNotClearlyVisible),
                    hInPicture:  this.getValue(item.humanInThePicture),
                    actionButtonText: 'Download Saved POD Report',
                    importData:{
                        importStatus: true,
                        key: item.textractJob?.key
                    }
                }
                podData.push(input)
            }
            this.podReportsTable.data = podData
        },

        async fillcxFeedbackTable(data=[]){
            let cxData = []
            let input = {}
            
            for(let item of data) {
                input = {
                    week: `${this.getValue(item.week)} ${this.getValue(item.year)}`,
                    respectful: this.getValue(item.respectfulOfProperty),
                    greatDelivery: this.getValue(item.deliveryWasGreat),
                    followedInstr: this.getValue(item.followedInstructions),
                    actionButtonText: 'Download Saved CX Feedback File',
                    importData:{
                        importStatus: true,
                        key: item.textractJob?.key
                    },
                   
                }
                cxData.push(input)
            }
            this.cxFeedbackTable.data = cxData
        },

        async fillEocTable(data=[]){
            let eocData = []
            let input = {}
            for(let item of data) {
                input = {
                    //item.date is saved in utc format
                    day: this.$moment.utc(item.date).format('MMM DD, YYYY'),
                    averageDay: this.getValue(item.average),
                    rollingAverage: item.averageDailyCompliance || 'N/A',
                    actionButtonText: 'Download Saved EOC File',
                    importData:{
                        importStatus: true,
                        key: `ID-${item.textractJobId}`
                    },
                   
                }
                eocData.push(input)
            }
            this.eocTable.data = eocData
        },

        async fillTabs(){
            this.tabs[0].table = this.scorecadTable
            this.tabs[0].counterData = this.scorecadTable.data.length
            this.tabs[1].table = this.podReportsTable
            this.tabs[1].counterData = this.podReportsTable.data.length
            this.tabs[2].table = this.cxFeedbackTable
            this.tabs[2].counterData = this.cxFeedbackTable.data.length
            this.tabs[3].table = this.eocTable
            this.tabs[3].counterData = this.eocTable.data.length
           
        },

        getValue(value){
            return value ? value : '—'
        },
    }
}
</script>
<style scoped>
.individual-card-footer {
    @apply flex pb-0 px-4 items-center;
}
</style>