<template>
    <div>
        <Card title="Weekly Performance Data Imports" 
        :footer="true" 
        iconClass="uil-calendar-alt">
            <template v-slot:body>
                <el-tabs type="border-card" class="dashboard-card-body">
                    <el-tab-pane>
                        <span slot="label">
                            <div class="text-center h-4">
                                <i v-if="!thisWeek.icon" class="uil uil-exclamation-triangle size-important"></i>
                                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
                            </div>
                            <div class="text-xs text-black">Week {{ thisWeek.title }}</div>
                        </span>
                        <div class="h-84">
                            <DataImportTable v-loading="loading"
                            :table="thisWeekTable"
                            typeTable="weekly"
                            :sendTime="automatedCoachingSendTime"/>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label">
                            <div class="text-center h-4">
                                <i v-if="!lastWeek.icon" class="uil uil-exclamation-triangle size-important"></i>
                                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
                            </div>
                            <div class="text-xs text-black">Week {{ lastWeek.title }}</div>
                        </span>
                        <div class="h-84">
                            <DataImportTable
                            :table="lastWeekTable"
                            typeTable="weekly"
                            :sendTime="automatedCoachingSendTime"/>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane v-if="tabQuarter">
                        <span slot="label">
                            <div class="text-center h-4">
                                <i v-if="!thisQuarter.icon" class="uil uil-exclamation-triangle size-important"></i>
                                <i v-else class="uil uil-check-circle text-xl text-green-600"></i>
                            </div>
                            <div class="text-xs text-black">{{ thisQuarter.title }}</div>
                        </span>
                        <div class="h-84">
                            <DataImportTable 
                            :table="quarterTable"
                            typeTable="weekly"
                            :sendTime="automatedCoachingSendTime"/>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </template>
            <template v-slot:footer>
                <button class="link text-sm" @click="$router.push({ name: 'ReportsIndex'})">View Performance Reports</button>
            </template>
        </Card>
        
    </div>
</template>
<script>
import { mapState } from 'vuex'
import momentTz from 'moment-timezone'
import { textractJobsByGroupAndWeek } from './queries'
import Card from '@/components/Dashboard/Card.vue'
import DataImportTable from '@/components/Dashboard/CardContent/DataImportTable.vue'
import { calculateIconColor, fillSpecificWeekOrDayTable, fillWeeksOrDaysTable } from '@/utilities/dashboardPerformance'

export default {
    name: 'WeeklyPerformanceDataImports',
    components: {
        Card,
        DataImportTable
    },
    data() {
        return {
            loading: false,
            thisWeek: {
                title: this.$moment().subtract(1, 'weeks').format('ww YYYY'),
                icon: false,
            },
            lastWeek: {
                title: this.$moment().subtract(2, 'weeks').format('ww YYYY'),
                icon: false,
            },
            thisQuarter: {
                title: 'Earlier This Quarter',
                icon: false,
            },
            weekTable: {
                columns: [
                    {name: 'File Type', keyData: 'label'},
                    {name: 'Imported', keyData: 'importData'},
                    {name: 'Action Button', keyData: 'actionButtonText'}
                ],
                data: [{
                    label: 'Scorecard',
                    fileType: 'scorecard',
                    importData: {importStatus: false},
                    actionButtonText: 'Import File Now',
                }, {
                    label: 'POD Report',
                    fileType: 'podQualityFeedback',
                    importData: {importStatus: false},
                    actionButtonText: 'Import File Now',
                }, {
                    label: 'Customer Feedback',
                    fileType: 'customerFeedback',
                    importData: {importStatus: false},
                    actionButtonText: 'Import File Now',
                }],
                actionButton: true
            },
            thisWeekTable: {},
            lastWeekTable: {},
            quarterTable: {
                columns: [
                    {name: 'Week', keyData: 'weekOrDay', width:"90"},
                    {name: 'Scorecard', keyData: 'scorecard'},
                    {name: 'POD Report', keyData: 'pod'},
                    {name: 'CX Feedback', keyData: 'cfeedback'}
                ],
                data: [{
                    weekOrDay: '',
                    scorecard: {importStatus: false},
                    pod: {importStatus: false},
                    cfeedback: {importStatus: false},
                }],
                actionButton: false
            },
            tabQuarter: true,
            automatedCoachingSendTime: ''
        }
    },

    created() {
        this.loadData()
    },

    computed: {
      ...mapState(['userInfo']),
    },

    methods: {
        async loadData(){
            this.automatedCoachingSendTime = this.userInfo.tenant.automatedCoachingSendTime
            const currentDate = momentTz.tz(this.getTenantTimeZone())
            let data = await this.loadTextractJob(currentDate)
            data =  data.sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime())

            this.thisWeekTable = JSON.parse(JSON.stringify(this.weekTable))
            this.lastWeekTable = JSON.parse(JSON.stringify(this.weekTable))
           
            await this.fillWeekTable(data, 'thisWeek', currentDate)
            await this.fillWeekTable(data, 'lastWeek', currentDate)
            await this.fillQuarterTable(data, currentDate)
            await this.fillTabs(currentDate)
        },

        async loadTextractJobLastYear(input){
            let result = []
            try {
                result = await this.gLoadListAll(textractJobsByGroupAndWeek, input, 'textractJobsByGroupAndWeek')
            } catch (error) {
                console.log(e)
                this.displayUserError(e)
            } finally {
                return result
            }
        },

        async loadTextractJob(currentDate){
            this.loading = true
            let lastYearResult = []
            let result = []
            const { weekResult: thisWeek, year } = this.getThisOrLastWeek(currentDate, 1, 2)
            const { weekResult: lastWeek, year: lastWeekYear } = this.getThisOrLastWeek(currentDate, 2, 3)
            
            const weeks = this.getWeeksCurrentQuarter(currentDate)
            let startWeek = lastWeek

            let input = { 
                group: this.userInfo.tenant.group,
                filter: {
                    isProcessedS: { eq: "true" },
                    jobStatus: { eq: "SUCCEEDED" },
                    key: { ne : "" },
                    and: [ 
                        { type:{ ne: "mentor", } },
                        { type:{ ne: "netradyne"} },
                        { type:{ ne: "eoc" } },
                        { type:{ ne: "customCsv" } }
                    ]
                },
                sortDirection: "DESC"
            }

            if(thisWeek === '01'){
                input.filter.year =  { eq: lastWeekYear } 
                input.week = { eq: startWeek }
                lastYearResult = await this.loadTextractJobLastYear(input)
                startWeek = '01'
            }

            if(weeks.length > 2){
                startWeek = weeks[weeks.length - 1]
            }
            // input
            input.filter.year = { eq: year }
            input.week = { between: [startWeek, thisWeek] }
            try {
                result = await this.gLoadListAll(textractJobsByGroupAndWeek, input, 'textractJobsByGroupAndWeek')
            } catch(e) {
                console.log(e)
                this.displayUserError(e)
            } finally {
               this.loading = false
               return result.concat(lastYearResult)
            }
        },

        isWednesdayOrAfter(currentDate){
            const sunday = this.$moment(currentDate).weekday(0)
            const wednesday = this.$moment(sunday).add(3, 'days').format('YYYY-MM-DD') 
            const currentDay = this.$moment(currentDate).format('YYYY-MM-DD')
            return this.$moment(currentDay).isSameOrAfter(wednesday)
        },

        /**
         * Getting the current week and the last week.
         * tWeek and The tWeek are the weeks to go back to get the correct week depending on whether it is Wednesday or not
         */
        getThisOrLastWeek(currentDate, nWeek, nLastWeek){
            const isWednesdayOrAfter = !!this.isWednesdayOrAfter(currentDate)
            if(isWednesdayOrAfter){
                const week = this.$moment(currentDate).subtract(nWeek, 'weeks')
                const weekResult = week.format('ww')
                const year = this.$moment(week).format('YYYY')
                return { weekResult, year }
            }
            const week = this.$moment(currentDate).subtract(nLastWeek, 'weeks')
            const weekResult = week.format('ww')
            const year = this.$moment(week).format('YYYY')
            return { weekResult, year }
        },


        getThisYear(currentDate){
            const year = this.$moment(currentDate).year()
            return year
        },

        getWeeksCurrentQuarter(currentDate){
            const startOfQuarter = this.$moment(currentDate).startOf('quarter')
            const endOfQuarter = this.$moment(currentDate).endOf('quarter')
            let weeks = []
            for(let w = 0; w <= 13; w++){
                const week = this.$moment(currentDate).subtract(w, 'weeks')
                if(week.isBetween(startOfQuarter, endOfQuarter, 'day', '[]')){
                    weeks.push(week.format('ww'))       
                }
            }
            return weeks
        },

        async fillQuarterTable(data=[], currentDate){
            if(!data.length) {
                this.quarterTable.data = []
                this.tabQuarter = false
                return
            }
            
            let weekRange = this.getWeeksCurrentQuarter(currentDate)
            const isWednesdayOrAfter = !!this.isWednesdayOrAfter(currentDate)
            if(isWednesdayOrAfter) weekRange = weekRange.slice(3)
            else weekRange = weekRange.slice(4)

            if(weekRange.length < 1){
                this.tabQuarter = false
            }
            const year = this.getThisYear(currentDate)
            const dataResult = await fillWeeksOrDaysTable(data, weekRange, year, 'weeklys')
            this.quarterTable.data = dataResult
        },

        async fillWeekTable(data=[], week, currentDate){
            if(!data.length) {
                return
            }
            const { weekResult: thisWeek, year } = this.getThisOrLastWeek(currentDate, 1, 2)
            const { weekResult: lastWeek, year: lastWeekYear } = this.getThisOrLastWeek(currentDate, 2, 3)
            let selectWeek = thisWeek
            let selectYear = year
            let weekData = this.thisWeekTable.data
            let lastWeekData = this.lastWeekTable.data
            if(week === 'lastWeek'){
                selectWeek = lastWeek
                selectYear = lastWeekYear
                weekData = lastWeekData
            }

            const newWeekData = await fillSpecificWeekOrDayTable(data, weekData, selectWeek, selectYear, 'weeklys')

            if(week === 'lastWeek') this.lastWeekTable.data = newWeekData
            else this.thisWeekTable.data = newWeekData
        },

        async fillTabs(currentDate){
            const { weekResult: thisWeek, year } = this.getThisOrLastWeek(currentDate, 1, 2)
            const { weekResult: lastWeek, year: lastWeekYear } = this.getThisOrLastWeek(currentDate, 2, 3)
            
            this.thisWeek.title = `${thisWeek} ${year}`
            const thisWeekData = this.thisWeekTable.data
            this.thisWeek.icon = await calculateIconColor(thisWeekData, "thisWeek")

            this.lastWeek.title = `${lastWeek} ${lastWeekYear}`
            const lastWeekData = this.lastWeekTable.data
            this.lastWeek.icon = await calculateIconColor(lastWeekData, "lastWeek")
            //calculate icon color only for two weeks max
            const thisQuarterData = this.quarterTable.data.slice(0, 2)
            this.thisQuarter.icon = await calculateIconColor(thisQuarterData, "thisQuarter")
        },

    }
}
</script>
<style scoped>
.size-important {
  @apply text-xl !important;
}
</style>