<template>
    <div class="w-full">
        <el-form label-width="183px" label-position="top" :model="formFields" ref="form" :rules="rules" class="break-normal">
            <div class="grid grid-rows-2 grid-flow-col gap-x-4">
                <div v-show="showVehicleDropDown" class="col-span-12 md:col-span-6 xl:col-span-2">
                    <el-form-item label="Vehicle" prop="vehicleId">
                        <el-select class="custom-select-keyboardless" data-cy="reminder-form-vehicle-sel" :multiple="(formFields.vehicleId instanceof Array)" v-model="formFields.vehicleId" placeholder="Select Vehicle">
                            <el-option
                            v-for="item in vehicleArray"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"/>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="col-span-12">
                    <el-form-item label="Services" prop="services" class="w-full services">
                        <div>
                            <el-select data-cy="reminder-form-services-sel" v-model="formFields.services" multiple filterable placeholder="Select Service(s)">
                                <el-option
                                v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-maintenance-services'].items)"
                                :key="item.id"
                                :label="item.value"
                                :value="item.value"/>
                            </el-select>
                        </div>
                    </el-form-item>

                        <div v-show="showAddService" class="-mt-3">
                            <!-- Add new service option -->
                            <div v-show="inputServiceVisible" class="flex space-x-2">
                                    <el-input
                                    data-cy="reminder-form-service-in"
                                    class="flex-shrink"
                                    size="small"
                                    v-model="inputSerivceValue"
                                    ref="saveServiceInput"
                                    placeholder="Add Item"
                                    @keyup.enter.native="handleInputConfirm()"
                                    @blur="hideInput()"
                                    >
                                    </el-input>
                                <el-button data-cy="reminder-form-service-save-btn" class="flex-none" size="small" @click="handleInputConfirm()">Save Item</el-button>
                            </div>
                            <el-button data-cy="reminder-form-new-service-btn" size="small" v-show="!inputServiceVisible" @click="showInput()">+ New Dropdown Item</el-button>
                        </div>
                </div>

                <div class="col-span-6">
                    <el-form-item label="Due By Date" prop="dueByDate">
                        <DatePicker data-cy="reminder-form-duebydate-dpk" class="custom-date-picker" :selectedDate="formFields.dueByDate" placeholder="" @date-selected="handleDateSelected($event, 'dueByDate')" />
                    </el-form-item>
                </div>

                <div class="col-span-6">
                    <el-form-item label="Due By Mileage" prop="dueByMileage">
                        <el-input data-cy="reminder-form-duebymileage-in" v-model="formFields.dueByMileage" @input="formatMileageInput"></el-input>
                    </el-form-item>
                </div>

                <div v-if="showDelete" class="row-span-2 flex-shrink self-center justify-self-center">
                    <i @click="emitDelete" class="icon-button hover:text-primary uil uil-trash-alt cursor-pointer"></i>
                </div>
            
            </div>
        </el-form>
    </div>
</template>
<script>
    import Validator from '@/utilities/FormValidator'
    import loadValuelists from '@/scripts/loadValueLists'
    import { createValueListItem } from '@/graphql/mutations'
    import DatePicker from '@/components/Datepicker';
    export default {
        name: 'ReminderForm',
        components: {
            DatePicker
        },
        props:['formFields', 'showDelete', 'vehicleArray', 'showAddService'],
        data(){
            return{
                inputServiceVisible: false,
                inputSerivceValue: '',
                adding: false,
            }
        },
        mounted() {
            if (this.isMobileDevice()) {
             this.disableMobileKeyboard();
            } 
        },
        computed:{
            rules(){
                if(this.formFields){
                    return {
                        vehicleId: [
                            {required: true, validator: Validator.maintenanceVehicles, trigger: 'change'}
                        ],
                        dueByMileage: [
                            {dueByDate: this.formFields.dueByDate, dueByMileage: this.formFields.dueByMileage, validator: Validator.maintenanceReminder, trigger: 'change' }
                        ],
                        dueByDate: [
                            {dueByDate: this.formFields.dueByDate, dueByMileage: this.formFields.dueByMileage, validator: Validator.maintenanceReminder, trigger: 'change' }
                        ],
                        services: [
                            {required: true, validator: Validator.maintenanceServices, trigger: 'change' }
                        ]
                    }
                }
                else{
                    return {}
                }
            },

            showVehicleDropDown(){
                if(!this.vehicleArray || this.vehicleArray.length == 0){
                    return false
                }
                else{
                    return true
                }
            }
        },

        methods:{
            handleDateSelected(date, model) {
                this.formFields[model] = date
            },

            emitDelete(){
                this.$emit('delete-reminder')
            },


            formatMileageInput(){
                var formatted = this.formatMileage(this.cleanMileage(this.formFields.dueByMileage))
                this.formFields.dueByMileage = formatted
            },


            async handleInputConfirm() { 
                try{
                    //Check if value was entered
                    if(this.adding || !this.inputSerivceValue){
                        this.inputServiceVisible = false
                        return
                    }

                    //hide inputs
                    this.adding = true


                    //clean value
                    var value = ''; 

                    //create value list item
                    let input = {
                        custom: true,
                        group: this.$store.state.userInfo.tenant.group
                    }
                    value = this.toTitleCase(this.inputSerivceValue).trim()
                    var isUnique = await this.isUniqueInArray(value, 'value', this.$store.state.valuelists['vehicle-maintenance-services'].items)

                    if(!isUnique){
                        this.displayUserError('Service already exists')
                        this.adding = false
                        return
                    }
                    this.inputServiceVisible = false
                    input.value = value
                    input.valueListItemValueListId = this.$store.state.valuelists['vehicle-maintenance-services'].id 

                    this.adding = false
                    this.inputSerivceValue = ''
                    this.inputServiceVisible = false
                    await this.api(createValueListItem, {input})
                    await loadValuelists(this, this.$store.state.userInfo.tenant.id)
                    this.displayUserNotification({
                        title: "Success",
                        type: "success",
                        message: `Added service succesfully.`
                    })

                    this.formFields.services.push(value)

                }catch(e){
                    console.log(e)
                    this.adding = false
                    this.displayUserError(e)
                }
                finally{
                    this.$refs.form.validate()
                }
            },


            hideInput(){
                if(!this.inputSerivceValue){
                    this.inputServiceVisible = false
                }
            },


            showInput() {
                this.inputServiceVisible = true;
                this.$nextTick(_ => {
                this.$refs.saveServiceInput.$refs.input.focus();
                });

            },
        }
    }
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
    .margin-left-0{
        @apply ml-0 !important;
    }
    .services .is-error.is-required{
        @apply mb-8 !important;
    }
</style>
<style>
    .services.is-error.is-required{
        @apply mb-9 !important;
    }
</style>