<template>
       <!--Table-->
    <el-table
      ref="table"
      empty-text="No Reminders"
      :data="tableData"
      :default-sort = "{prop: 'dueByMileage', order: 'ascending'}"
      style="width: 100%"
      v-loading="loading"
      >
      
      <el-table-column
        label="Due By Mileage"
        sortable
        :sort-method="sortRemindersByMileage"
        width="150"
        prop="dueByMileage">
        <template slot-scope="scope">
          <p :class="{'text-red-500' : scope.row.dueByMileage && scope.row.dueByMileage - lastMileageReading <= 500,
          'text-orange-400' : scope.row.dueByMileage && scope.row.dueByMileage - lastMileageReading > 500 && scope.row.dueByMileage - lastMileageReading <= 1000}">{{ scope.row.dueByMileage | commaSepNum }} <span v-show="scope.row.dueByMileage"> mi.</span></p>
        </template>
      </el-table-column>

      <el-table-column
        label="Due By Date"
        sortable
        :sort-method="sortRemindersByDate"
        width="150"
        prop="dueByDate">
        <template slot-scope="scope">
          <p :class="{
            'text-red-500' : scope.row.dueByDate && new Date ( scope.row.dueByDate ) <= new Date ( currentDate ) , 
            'text-orange-400' : scope.row.dueByDate && new Date ( scope.row.dueByDate ) > new Date (currentDate) && new Date( scope.row.dueByDate ) <= new Date (weekOutDate)}">{{ scope.row.dueByDate | date }} </p>
        </template>
      </el-table-column>

      <el-table-column
        label="Services"
        prop="services">
        <template slot-scope="scope">
          <p>{{ scope.row.commaSeparatedServices | text }}</p>
        </template>
      </el-table-column>

      <el-table-column align="right" width="55">
        <template slot-scope="scope">
            <el-dropdown class="mt-1" @command="handleCommand" trigger="click">
                <i class="context-menu uil uil-ellipsis-h"></i>
                <el-dropdown-menu slot="dropdown" @command="handleCommand">
                  <el-dropdown-item :command="{row: scope.row, action: 'markAsComplete'}">Mark As Complete</el-dropdown-item>
                  <el-dropdown-item :command="{row: scope.row, action: 'edit'}">View &#38; Edit</el-dropdown-item>
                  <el-dropdown-item divided :command="{row: scope.row, action: 'delete'}">Delete</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </template>
      </el-table-column>

    </el-table>
</template>

<script>
    export default {
        name: 'RemindersList',
        props: ['reminders', 'lastMileageReading'],
        data() {
            return {
                tableData: [],
                loading: false
            }
        },

        watch:{
            reminders(){
                this.loadData()
            }
        },

        mounted(){
            this.loadData()
        },

        computed:{
          currentDate(){
              return new Date()
          },

          weekOutDate(){
            var date = new Date
            date.setDate(date.getDate() + 7);
            return date
          }
        },

        methods: {
            
            handleCommand(payload){
              var row = payload.row
              var action = payload.action
              if(action == "markAsComplete"){
                this.$emit('mark-reminder-as-complete', row)
                return
              }
              if(action == "edit"){
                this.$emit('edit-reminder', row)
                return
              }
              if(action == "delete"){
                this.$emit('delete-reminder', row)
              }
            },

            loadData(){
                this.loading = true
                this.tableData = [...this.reminders];
                this.loading = false
            },

            sortRemindersByDate(a,b){
                return new Date(a.dueByDate) - new Date(b.dueByDate);
            },

            sortRemindersByMileage(a,b){
              return a.dueByMileage - b.dueByMileage
            },
        }
    }
</script>
