<template>
    <div>
        <div v-if="hasDailyRosteringManagement" class="mt-4">
            <table-card tablecard-class="rounded-lg">
                <template v-slot:table-filters>
                    <container-filter inTable>
                        <template v-slot:title>
                            <span class="normal-case">DAILY REPORT: {{ dateDailyReportTenantTimezone }}</span>
                        </template>
                        <template v-slot:filter-count>
                            <counter-filter :counter="getResumeFilters" />
                        </template>
                        <template v-slot:filters>                 
                            <multi-select-filter
                            type="typeOfActivity"
                            title="Type of Activity"
                            :options="typeOptions"
                            :selected="typeSelected"
                            @update-filters="updateFilters"
                            />
                            <multi-select-filter
                            type="rosterStatusChange"
                            title="Roster Status Change"
                            :options="statusOptions"
                            :selected="statusSelected"
                            @update-filters="updateFilters"
                            :isDisabled="isDisabled"
                            />
                        </template>
                    </container-filter>
                </template>
                <template v-slot:table-searchbox>
                    <search-box inTable @search-data="searchData"/>
                </template>
                <custom-table
                v-loading="loading"
                inTable
                ref="table"
                :columns="cols"
                :data="filteredData"
                :totalRecords="totalActivities"
                emptyText="No Activities"
                footerTable="Activities"
                :optionsRows="optionsContextRow"
                >
                <template #time="row">
                    <span>{{ formatDate(row.time, 'hh:mm A') }}</span>
                </template>
                <template #name="row">
                    <span class="-ml-1" v-if="row.type === 'associate'">
                        <i class="uil-user"/>{{row.name}}
                    </span>
                    <span class="-ml-1" v-if="row.type === 'vehicle'">
                        <i class="uil-truck"/>{{row.vehicle}}
                    </span>
                    <span  class="-ml-1" v-if="row.type === 'accident'">
                        <i class="uil-user"/>{{row.name +' • '}}
                        <i class="uil-truck"/>{{row.vehicle}}
                    </span>
                </template>
                </custom-table>
            </table-card>
        </div>
            
        <div class="notes col-span-4 border rounded-lg shadow  p-4 whitespace-pre-line mt-4" v-else>
            <div class="flex justify-between">
                <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Daily Rostering in Hera.</h4>          
            </div>
        </div>
        
        
    </div>
</template>

<script>
import { vehicleStatusByGroup, 
    staffStatussByGroup,
    counselingsByGroupAndDateSigned,
    counselingsByGroupAndDate,
    accidentsByGroupAndAccidentDate,
    injuriesByGroupAndCreatedAt,
    dailyRostersByGroupAndNotesDate,
    dailyLogsByDate,
} from './queriesDailyReport';
import { mapState, mapGetters, mapMutations } from "vuex";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import moment from 'moment-timezone';

export default{
    name: 'DailyReport',
    props: ['dateId'],
    components:{
        TableCard,
        CustomTable,
        ContainerFilter,
        SearchBox,
        MultiSelectFilter,
        SingleSelectFilter,
        CounterFilter,
    },
    data(){
        return{
            date:'',
            formattedDate: '',
            loading: false,
            isDisabled: false,
            search:'',
            tableData: [],
            tableDataCopy: [],
            rosterStatusData: [],
            totalActivities:0,
            cols:[
                { name: 'Time', col: 'time', fixed: false, width:'90', sortable: true,  sortMethod:this.sortTime},
                { name: 'Associate/Vehicle', col: 'name', fixed: false, width:'110',},
                { name: 'Type of Activity', col: 'typeActivity', fixed: false, width:'110'},
                { name: 'Activity Details', col: 'activityDetail', fixed: false, width:'150'}
            ],
            optionsContextRow: [],
            typeOptions:[],
            typeSelected:[],
            statusOptions:[],
            statusSelected:[],
            timezone: '',
        }
        
    }, 

    created(){
        this.timeZone = this.userInfo.tenant.timeZone
        this.date = moment(new Date(this.dateId.replace(/-/g, '/'))).format('YYYY-MM-DD');
        this.formattedDate = this.date
        
        if(this.hasDailyRosteringManagement){
            this.loadFilters()
            this.loadData()
        }
    },

    computed:{
        ...mapState(['valuelists', 'userInfo']),

        ...mapGetters([
            'hasDailyRosteringManagement',
            'getFilterTypeOfActivityDailyReport', 
            'getFilterRosterStatusDailyReport'
        ]),

        filteredData() {
            return this.filterArray(this.tableData, this.search);
        },

        getResumeFilters(){
            const countType = this.typeOptions.length === this.typeSelected.length ? 0 : 1
            const countStatus = this.statusOptions.length === this.statusSelected.length ? 0 : 1
            return countType + countStatus
        },
        dateDailyReportTenantTimezone(){
            return moment(this.date).format('MMMM D, YYYY')
        }

    },

    methods: {

        ...mapMutations(['setFilterTypeOfActivityDailyReport', 'setFilterRosterStatusDailyReport']),

        loadFilters(){
            //filters by type of activity
            this.typeOptions = [
                'Roster Status Changed',
                'Rescuer',
                'Rescued',
                'Accident Recorded',
                'Injury Recorded',
                'Vehicle Damage Recorded',
                'Vehicle Maintenance Recorded',
                'Associate Status Changed',
                'Vehicle Status Changed',
                'Counseling Recorded',
                'Counseling Signed',
                'Vehicle Photo Log',
            ]
            if(this.getFilterTypeOfActivityDailyReport.length === 0 ){
               this.setFilterTypeOfActivityDailyReport(this.typeOptions)
            }

            this.typeSelected = this.getFilterTypeOfActivityDailyReport
            
            if(this.typeSelected.includes('Roster Status Changed')){
                this.isDisabled = false
            }else{
                this.isDisabled = true
            }
            
            const rosterStatus = this.valueListActivesOnly(this.valuelists['roster-status'].items).map(item =>`To "${item.value}"`)
            //filter by roster status change
            this.statusOptions = [
                ...rosterStatus,
                'To no status',
            ]
            //select default
            
            const selectDefaultRosterStatus = [
                ...this.statusOptions.slice(0,4),
                ...this.statusOptions.slice(5,6)
            ]
            if(this.getFilterRosterStatusDailyReport.length === 0){
                this.setFilterRosterStatusDailyReport(selectDefaultRosterStatus)
            }
            this.statusSelected = this.getFilterRosterStatusDailyReport
        }, 

        getDateLimitsInTenantTimeZone() {
            const timezone = this.userInfo?.tenant?.timeZone;
            const isValidTimezone = !!moment.tz.zone(timezone);
            if (!isValidTimezone) {
                return [
                    moment(this.formattedDate, 'YYYY-MM-DD').toISOString(),
                    moment(this.formattedDate, 'YYYY-MM-DD').add(1, 'day').toISOString(),
                ];
            }

            const start = moment.tz(this.formattedDate, timezone).toISOString();
            const end = moment.tz(this.formattedDate, timezone).add(1, 'day').toISOString();
            return [start, end];
        },

        async loadDataVehicleStatus(group){
            const input = {
                group: group
            }
            const result = await this.gLoadListAll(vehicleStatusByGroup, input, 'vehicleStatusByGroup')
            return result.filter(vehicle => this.formatDate(vehicle.date, 'YYYY-MM-DD').includes(this.formattedDate))
        },

        async loadDataStaffStatus(group){
            const input = {
                group: group
            }
            const result = await this.gLoadListAll(staffStatussByGroup, input, 'staffStatussByGroup')
            return result.filter(staff => this.formatDate(staff.date, 'YYYY-MM-DD').includes(this.formattedDate))
        },

        async loadDataCounselingSigned(group){
            const input = {
                dateSigned: { 
                    beginsWith: this.formattedDate 
                },
                group: group
            }
            
            const result = await this.gLoadListAll(counselingsByGroupAndDateSigned, input, 'counselingsByGroupAndDateSigned')
            return result
        },

        async loadDataCounselingSigned2(group){
            const input = {
                dateSigned: { 
                    beginsWith: this.formattedDate 
                },
                group: group
            }
            const result = await this.gLoadListAll(counselingsByGroupAndDateSigned, input, 'counselingsByGroupAndDateSigned')
            return result
        },
        
        async loadDataCounselingRecorded(group){
            const input = {
                date: { 
                    beginsWith: this.formattedDate 
                },
                group: group
            }
            const result = await this.gLoadListAll(counselingsByGroupAndDate, input, 'counselingsByGroupAndDate')
            return result
        },

        async loadDataAccident(group){
            const input = {
                accidentDate : {
                    beginsWith : this.formattedDate
                },
                group: group
            }
            const result = await this.gLoadListAll(accidentsByGroupAndAccidentDate, input, 'accidentsByGroupAndAccidentDate')
            return result
        },

        async loadDataInjury(group){
            const input = {
                createdAt: { 
                    beginsWith: this.formattedDate 
                },
                group: group
            }
            const result = await this.gLoadListAll(injuriesByGroupAndCreatedAt, input, 'injuriesByGroupAndCreatedAt')
            return result
        },

        async loadDataRoster(group){
            const input = {
                notesDate : {
                    eq: this.formattedDate
                },
                group: group
            }
            const roster = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')
            return roster
        },

        async loadDailyLogs(group) {
            const [start, end] = this.getDateLimitsInTenantTimeZone();
            const input = {
                group,
                date: { between: [start, end] },
            }
            const dailyLogs = await this.gLoadListAll(dailyLogsByDate, input, 'dailyLogsByDate');
            return dailyLogs;
        },

        async loadData(){
            const group = this.$store.state.userInfo.tenant.group
            try {
                this.loading = true
                
                const vehicleStatus = await this.loadDataVehicleStatus(group)
                const staffStatus = await this.loadDataStaffStatus(group)
                const counselingSigned = await this.loadDataCounselingSigned(group)
                const counselingRecorded = await this.loadDataCounselingRecorded(group)
                const accident = await this.loadDataAccident(group)
                const injury = await this.loadDataInjury(group)
                const roster = await this.loadDataRoster(group)
                const photoLogs = await this.loadDailyLogs(group);

                let data = []
                
                vehicleStatus.forEach(item => {
                    data.push({
                        time: item.date,
                        vehicle: item.vehicle?.name,
                        type: 'vehicle',
                        typeActivity: 'Vehicle Status Changed',
                        activityDetail: `Changed from "${item.previousStatus}" to "${item.currentStatus}"`
                    })
                });
                staffStatus.forEach(item => {
                    data.push({
                        time: item.date,
                        name: `${item.staff.firstName} ${item.staff.lastName}`,
                        type: 'associate',
                        typeActivity: 'Associate Status Changed',
                        activityDetail: `Changed from "${item.previousStatus}" to "${item.currentStatus}"`
                    })
                });
                counselingSigned.forEach(item => {
                    data.push({
                        time: item.dateSigned,
                        name: `${item.staff?.firstName} ${item.staff?.lastName}`,
                        type: 'associate',
                        typeActivity: 'Counseling Signed',
                        activityDetail: item.severity.option,
                    })
                });
                counselingRecorded.forEach(item => {
                    data.push({
                        time: item.updatedAt,
                        name: `${item.staff?.firstName} ${item.staff?.lastName}`,
                        type: 'associate',
                        typeActivity: 'Counseling Recorded',
                        activityDetail: item.severity.option,
                    })
                });

                //only accident, damage and maintenance
                accident.forEach(item => {
                    //remove the conditional if you want to display Odometer Reading
                    if(item.vehicleHistoryType != 'Odometer Reading'){
                        data.push({
                            time: item.createdAt,
                            name: item.staff ? `${item.staff.firstName} ${item.staff.lastName}`: '',
                            vehicle: item.vehicle?.name,
                            type: item.vehicleHistoryType === 'Accident' ? 'accident': 'vehicle',
                            typeActivity: this.getVehicleHistoryType(item.vehicleHistoryType),
                            activityDetail: item.vehicleHistoryType === 'Accident' 
                                ? `Verified by ${item.verifiedBy?.firstName} ${item.verifiedBy?.lastName}` : item.vehicleHistoryType === 'Maintenance' 
                                ? `At: ${item.location}`: item.vehicleHistoryType === 'Vehicle Damage' ? `Damage: ${item.damage}` : `Odometer: ${item.mileage}`
                        })
                    }
                    
                });

                injury.forEach(item => {
                    data.push({
                        time: item.createdAt,
                        name: `${item.staff?.firstName} ${item.staff?.lastName}`,
                        type: 'associate',
                        typeActivity: 'Injury Recorded',
                        activityDetail: `Completed by ${item.completedByUser?.firstName} ${item.completedByUser?.lastName}`
                    })
                })
                
                let newRosterStatusData = []
                roster.forEach(item => {
                    const { route } = item
                    route.items.forEach(itemRoute => {
                        const { rescuers, replaceByRoute } = itemRoute
                        const itemsRescuers = rescuers.items
                        const previousStatus = itemRoute.previousStatus ? `"${itemRoute.previousStatus}"` : 'no status'
                        if(itemRoute.previousStatus != itemRoute.status){
                            newRosterStatusData.push({
                                time: itemRoute.statusChangedTime ? itemRoute.statusChangedTime : itemRoute.updatedAt,
                                name: `${itemRoute.staff?.firstName} ${itemRoute.staff?.lastName}`,
                                type: 'associate',
                                typeActivity: 'Roster Status Changed',
                                activityDetail: itemRoute.status 
                                    ? `Changed from ${previousStatus} to "${itemRoute.status}"` : `Changed from ${previousStatus} to no status`,
                                status: itemRoute.status ? `To "${itemRoute.status}"` : 'To no status'
                            })
                        }
                        
                        const isReplaced = !!replaceByRoute.items.length
                        const activeReplacementAssociate =  this.routeReplacement(replaceByRoute)
                        
                        if(itemsRescuers.length){
                            const staffName = isReplaced ? activeReplacementAssociate.name : `${itemRoute.staff?.firstName} ${itemRoute.staff?.lastName}`
                            let vehicleName = isReplaced ? activeReplacementAssociate.vehicle : itemRoute.vehicle?.name
                            vehicleName = vehicleName ? `Vehicle ${vehicleName}` : 'No vehicle assigned'

                            itemsRescuers.forEach(i => {
                                //rescuer
                                data.push({
                                    time: i.updatedAt,
                                    name: `${i.staff?.firstName} ${i.staff?.lastName}`,
                                    type: 'associate',
                                    typeActivity: 'Rescuer',
                                    activityDetail: `Rescued ${vehicleName} (${staffName})`
                                })
                                //Rescued
                                data.push({
                                    time: i.updatedAt,
                                    name: staffName,
                                    type: 'associate',
                                    typeActivity: 'Rescued',
                                    activityDetail: `Rescued by ${i.staff?.firstName} ${i.staff?.lastName}`
                                })
                            })
                        }
                    })
                })

                photoLogs.forEach(item => {
                    const details =  `${item.documents?.items?.length || 0} photo uploaded` +
                        ((item.notes)? ` (${item.notes})`: '');

                    data.push({
                        time: item.date,
                        vehicle: item.vehicle?.name,
                        type: 'vehicle',
                        typeActivity: 'Vehicle Photo Log',
                        activityDetail: details,
                    });
                });

                this.tableData = data
                this.rosterStatusData = newRosterStatusData
                this.tableDataCopy = this.tableData
                this.totalActivities = [...this.tableData, ...this.rosterStatusData].length
                this.applyFilters(
                    this.tableData, 
                    this.typeSelected, 
                    this.statusSelected
                )

            } catch (e) {
                this.displayUserError(e)
            } finally {
                this.loading = false
            }
        },

        routeReplacement(replaceByRoute){
            let activeReplacementAssociate = {}
            const replace = replaceByRoute.items
            const lastPosition = replace.length - 1

            if(replace.length){
                activeReplacementAssociate.name = `${replace[lastPosition].staff?.firstName} ${replace[lastPosition].staff?.lastName}`,
                activeReplacementAssociate.vehicle = replace[lastPosition].vehicle?.name
            }
            return activeReplacementAssociate
        },

        getVehicleHistoryType(vehicleHistoryType){
            return vehicleHistoryType === 'Accident' 
                ? 'Accident Recorded' : vehicleHistoryType === 'Maintenance' 
                ? 'Vehicle Maintenance Recorded': vehicleHistoryType === 'Vehicle Damage' 
                ? 'Vehicle Damage Recorded' : 'Odometer Reading'           
        },

        reloadData(){
            //reload filters
            this.applyFilters(
                this.tableDataCopy,
                this.typeSelected, 
                this.statusSelected
            )
        },

        applyFilters(data, primaryFilters, secondaryFilters){
            if (data.length === 0 && this.rosterStatusData.length===0) return
            let filteredData = []
            filteredData = this.filterByTypeOfActivity(data, primaryFilters)
           
            let filteredDataByRosterStatus = []
            if(!this.isDisabled){
                filteredDataByRosterStatus = this.filterByRosterStatus(this.rosterStatusData, secondaryFilters)
            }
            const finalFilteredData = [...filteredData, ...filteredDataByRosterStatus]
            //sort by default
            this.tableData = finalFilteredData.sort((a, b) => new Date(a.time).getTime() - new Date(b.time).getTime())
        },

        filterByTypeOfActivity(data, filters){
            if (filters.length === 0) return []
            return data.filter(item => filters.includes(item.typeActivity))
        },

        filterByRosterStatus(data, filters){
            if(filters.length === 0) return []
            return data.filter(item => filters.includes(item.status))
        },

        updateFilters(e){
            const { type, filters } = e
            const actions = {
                typeOfActivity: () => {
                    this.typeSelected = filters
                    this.setFilterTypeOfActivityDailyReport(filters)
                    if(this.typeSelected.includes('Roster Status Changed')){
                        this.isDisabled = false
                    }else{
                        this.isDisabled = true
                    }
                },
                rosterStatusChange:() => {
                    this.statusSelected = filters
                    this.setFilterRosterStatusDailyReport(filters)
                }
            }
            actions[type]()
            this.reloadData()
        },

        searchData(e) {
            this.search = e;
        },

        sortTime(a,b){
            return a.time.localeCompare(b.time)
        },

        formatDate(date, format) {
            return moment(date).tz(this.timeZone).format(format);
        },
    }
}
</script>
