<template>
  <div data-cy="daily-roster-import" v-loading.fullscreen.lock="importLoading">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="inline-block">Daily Roster Import</h1>
        
      </div>
      <span class="flex space-x-2 flex-y-2 items-center flex-wrap md:flex-nowrap">
          
          <el-popover
            v-if="!tableData.length"
            placement="bottom"
            title="How To Import"
            width="300"
            trigger="hover"
            content=""
            class=" ml-1 whitespace-pre-line inline-block"
            > 
            <el-button class="import-instructions-btn" size="medium" slot="reference">Import Instructions</el-button>
            <div class="break-normal mb-2 text-xs">To automatically populate your {{$t('label.associates')}} in the daily roster - Log into the Amazon portal. Navigate to where you roster your {{$t('label.associates')}}, click into the current week.</div>
            <div class="break-normal mb-2 text-xs">Right next to the word “week” is a download button. Download your roster - no need to open or modify the file; simply import it into Hera. </div>
            <div class="break-normal mb-2 text-xs">You do not have to manually select vans or rabbits. You can assign vans to {{$t('label.associates')}} and assign rabbits to vans.</div>
            <div class="break-normal mb-2 text-xs">Hera will automatically populate these fields in your daily roster if vans and rabbits are assigned in the {{$t('label.associate')}} record and van record. Parking space will also populate automatically if inputted in the van record. This field is optional. </div>
            <div class="break-normal mb-2 text-xs">Lastly, route and staging change daily. Because route and staging documents do not have {{$t('label.associate')}} names, this information will be inputted each day manually. Once inputted, click the text message bubble to send to the corresponding wave. You can send the information to individual waves.</div>
          </el-popover>
          <label v-if="!tableData.length" class="fileContainer mt-2 md:mt-0" :class="{'opacity-25': loading}">
            Select File
            <input data-cy="attach-file" type="file" accept=".xlsx" @change="importXLXS" :disabled="loading" id="File">
          </label> 
          <div v-else >
            <el-button data-cy="import-cancel" :disabled="isDisabled"  @click="handleImportCancel" size="small" class="mr-4">Cancel</el-button>
            <el-button v-if="!isDisabled" @click="confirmImportData" size="small" type="success" :disabled="selected.length == 0" class="import-associates-button">{{importButtonText}}</el-button>
            <el-popover
              v-else
              title="Premium Required"
              class="ml-3"
              placement="bottom"
              width="215"
              content=""
              :center="true"
              trigger="hover">
              <el-button size="small" type="success" class="disabled-button" slot="reference">{{importButtonText}}</el-button>
              <PremiumWarning
                action="import your daily roster"
                premiumFeature="daily rostering">
              </PremiumWarning>
            </el-popover>
          </div>
          
                    
      </span>  
    </div>

    <!-- TABLE SKELETON LOADER -->
    <div v-show="loading" class="container p-4 mt-4">
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>

    <el-table 
      v-show="!loading && !tableData.length" 
      empty-text="No File Selected" 
      style="width: 100%"
      >
      <el-table-column>
      </el-table-column>
    </el-table>

    <!-- TABLE -->

      <el-table
        v-show="tableData.length"
        ref="table"
        :empty-text="`No ${$t('label.associate')} Assignments`"
        :data="tableData"
        @selection-change="handleSelectionChange">

        <el-table-column
          type="selection"
          align="left"
          width="43">
        </el-table-column>

        <el-table-column
          label="Transporter ID"
          width="170"
          prop="transporterId">
        </el-table-column>

        <el-table-column
          label="Import Name"
          width="194"
          prop="staff">
          <template slot-scope="scope" >
            <div class="break-normal">{{scope.row.staff.name}}</div>
          </template>
        </el-table-column>

        <el-table-column
          :label="`Select ${$t('label.associate')}`"        
          width="194"
          prop="transporterId">


           <template slot="header" >
            Select {{$t('label.associate')}}
              <el-tooltip class="item" effect="dark" placement="bottom-start">
                <div slot="content" class="w-80">
                    <div>
                      Please ensure the {{$t('label.associate_s')}} name matches the imported name.
                      You will only need to match names one time. If Hera asks you to match the same name repeatedly, the {{$t('label.associate')}} likely has the wrong transporter ID on the {{$t('label.associate_s')}} detail page.
                    </div>
                </div>
                <i class="uil uil-question-circle text-base"></i>
              </el-tooltip>
           </template>

          <template slot-scope="scope" >
            <el-select           
            v-model="scope.row.staff.id"
            clearable
            @change="selectStaff(scope.row)"
            :placeholder="`Select ${$t('label.associate')}`"
            :class="{'required-field': !scope.row.staff.id}"
            filterable>
              <el-option-group>
                <el-option divided value="Add New DA"  @click="addStaffModalOpen = true">+ Add New {{$t('label.associate')}}</el-option>
              </el-option-group>
              <el-option-group>
                <el-option              
                  v-for="item in staffList"
                  :key="item.id"
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>
            </el-select>
          </template>
        </el-table-column>  

        <el-table-column        
          v-for="(colDate, dateIndex) in importedDates"
          :key="dateIndex"
          :prop="'status' + dateIndex"
          align="center"
          width="90"
          class="text-center"
          :class-name=colClassName(colDate)
        >
          <!-- DON'T TAKE OUT SLOT SCOPE OR TOGGLES WON'T WORK -->
          <template slot="header" slot-scope="header">
            <div class=" text-xs">{{ colDate | moment('dddd') }}</div>
            <div>{{ colDate | moment('MM/DD/YY') }}</div>
            <el-tooltip 
              class="item" 
              content="Only upcoming days may be imported" 
              :disabled="colDate.getTime() >= date.getTime()"
              placement="bottom">
              <el-switch
                class="mt-2"
                v-model="listSwitch[dateIndex]"
                :disabled="colDate.getTime() < date.getTime()">
              </el-switch>
            </el-tooltip>
          </template>
          <template slot-scope="scope">
            <i 
              v-if="scope.row['status' + dateIndex]" 
              class="uil uil uil-check text-3xl text-brand" 
              :class="{'disabled-column': disabledColumn(colDate, dateIndex, scope.row.staff.name)}"/>
          </template>
        </el-table-column>

      </el-table>
      
       
    <div class="flex justify-between mt-8">
      <div>
        <p>{{selected.length}} of {{tableData.length}} to Roster</p>
      </div>
      <div>
        <el-button v-if="tableData.length" @click="handleImportCancel" size="small" :disabled="isDisabled" >Cancel</el-button>
        <el-button v-if="!isDisabled" @click="confirmImportData" size="small" type="success" :disabled="selected.length == 0">{{importButtonText}}</el-button>
        <el-popover
          v-else
          title="Premium Required"
          class="ml-3"
          placement="bottom"
          width="215"
          content=""
          :center="true"
          trigger="hover">
          <el-button size="small" type="success" class="disabled-button" slot="reference">{{importButtonText}}</el-button>
          <PremiumWarning
            action="import your daily roster"
            premiumFeature="daily rostering">
          </PremiumWarning>
        </el-popover>
      </div>
    </div>

    <div 
        v-if="!$store.getters.hasDailyRostering"
        class="premium-warning-container" 
        @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})">
        <div class="sample-pill">Sample Data</div>
        <div class="premium-warning-triangle">
            <p class="transform-text text-sm text-white">Requires Premium</p>
        </div>
    </div>

    <!--ADD STAFF MODAL-->
    <Dialog
    ref="newStaffDialog"
    :openDialog="addStaffModalOpen"
    :title="`Add ${$t('label.associate')}`"
    @cancel="closeDaForm"
    @create="saveAddNewStaff">
    <template v-slot:form>
      <AddDaForm class="w-full" 
      ref="addDaForm" 
      :formFields="formFields" 
      :disableTranspoterId="true" />
    </template>
    </Dialog>

  </div>
</template>

<script>
import { importListStaffs } from './queries'
import { dailyRostersByGroup, dailyRostersByGroupAndNotesDate } from './queries'
import { createRoute, deleteRoute  } from './mutations'
import { createDailyRoster } from '@/graphql/mutations'
import XLSX from 'xlsx'
import PremiumWarning from '@/components/PremiumWarning'
import moment from 'moment';
import Dialog from "@/components/Dialog/Dialog"
import AddDaForm from '@/views/Staff/components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"

export default {
  name: "DailyRosterImport",
  components: {
    PremiumWarning,
    AddDaForm,
    Dialog,
  },
  mixins: [AddDaFormMixin],
  data() {
    return {
      showDialog: false,
      showDialogUser: false,
      date: '',
      tableData: [],
      selected: [],
      staffList: [],
      search: '',
      importedDates: [],
      importLoading: false,
      loading: false,
      daysToImport: [],
      rosterData: {},
      selectedRow: {},
      staffLookup: {},
      vehicleListAssigned: [],
      createdRoutes: [],
      fakeTableData: [
          {
            staff:{ name: "Maddison Cashell" },
            status0:true,status1:true,status2:true,status3:true,status4:true,status5:true,status6:true,
            time0:"11:45am",time1:"11:45am",time2:"11:45am",time3:"11:45am",time4:"11:45am",time5:"11:45am",time6:"11:45am",
            transporterId:"A395J30GJBMWOP"
          },
          {
            staff:{ name: "Joshua Rudd" },
            status0:false,status1:true,status2:true,status3:true,status4:true,status5:true,status6:true,
            time0:"",time1:"11:45am",time2:"11:45am",time3:"11:45am",time4:"11:45am",time5:"11:45am",time6:"11:45am",
            transporterId:"ANCBAUSFZBW88"
          },
          {
            staff:{ name: "Juan Gonzalez" },
            status0:false,status1:false,status2:true,status3:true,status4:true,status5:true,status6:true,
            time0:"",time1:"",time2:"11:45am",time3:"11:45am",time4:"11:45am",time5:"11:45am",time6:"11:45am",
            transporterId:"A11ZW73CXW8PJN"
          },
          {
            staff:{ name: "Jarrod Mamaradlo" },
            status0:false,status1:false,status2:false,status3:true,status4:true,status5:true,status6:true,
            time0:"",time1:"",time2:"",time3:"11:45am",time4:"11:45am",time5:"11:45am",time6:"11:45am",
            transporterId:"A26K8ITCDXZJ01"
          },
          {
            staff:{ name: "Eric Garcia" },
            status0:false,status1:false,status2:false,status3:false,status4:true,status5:true,status6:true,
            time0:"",time1:"",time2:"",time3:"",time4:"11:45am",time5:"11:45am",time6:"11:45am",
            transporterId:"A11CC8C7U34M3A"
          },
          {
            staff:{ name: "Gerald Reece" },
            status0:false,status1:false,status2:false,status3:false,status4:false,status5:true,status6:true,
            time0:"",time1:"",time2:"",time3:"",time4:"",time5:"11:45am",time6:"11:45am",
            transporterId:"A26UKEX01P0GY0"
          }
          
        ]
    }
  },

  created(){
    let date = new Date()
    date.setHours(0,0,0,0);
    this.date = date
    this.loadStaffList()
    this.loadFakeTableData()
  },

  computed: {
    importButtonText(){
      return `Roster ${this.selected.length} ${this.$t('label.associates')}`
    },

    numberSelected: function(){
      return this.selected.length
    },

    numberUnmatched: function(){
      return this.selected.filter(function(staff){
        return !staff.staff.id
      }).length
    },

    startingDate: function(){
      var firstIndex = this.daysToImport.indexOf( true )
      return this.importedDates[firstIndex]
    },

    isDisabled: function(){
      if(this.$store.getters.hasDailyRostering) return false
      return true
    },

    noDaysSelected(){
      return this.daysToImport.every(day => {return !day})
    },
    listSwitch() {
      return this.daysToImport;
    }
  },

  methods: {
    /**
     * function intermediary to call validate form from the mixin
     * and control de reactivity with the parent view
     */
    async saveAddNewStaff() {
      const newStaff = await this.validateForm("create")

      if(!newStaff) return 

      this.staffList.push(newStaff)
      this.tableData.map(function(route) {
        if (route.transporterId === newStaff.transporterId)
          route.staff = newStaff
      })
    },

    cleanTransporterId(transporterId){
      var clean = transporterId.replace(/\s+/g, '')
      return clean
    },

    colClassName: function(date){
      return date.getTime() < this.date.getTime() ? 'disabled-column-bgcolor' : ''
    },

    /** 
     * Delete route from DB 
     * @param {Object} route object to delete
     * */
    async commitDeleteRoute(route){
      try{
        const result = await this.api(deleteRoute, {input:{ id: route.id }} ) 
      }catch(e){
        this.displayUserError(e)
      }
    },

    confirmImportData: function(){
      // check for no days selected
      if(this.noDaysSelected){
        console.log("no days selected")

        this.$alert('No days are selected. Please choose at least one day to continue.', 'Warning', {
          confirmButtonText: 'OK'
        });    
      }

      else{
        // check for unmatched staff
        if(this.numberUnmatched == 0){
          this.importData()
          return
        }

        this.$confirm('There are ' + this.numberUnmatched +  ' selected '+this.$t('label.associates')+' that are unmatched. These unmatched '+this.$t('label.associates')+' will not be imported. Continue?', 'Warning', {
          confirmButtonText: 'Continue',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })
        .then(() => {
          this.importData()
        })
        .catch(() => {
          console.log("canceled import")         
        });
      }
    },

    /**
     * Creates daily roster using GraphQL mutation
     */
    async createDailyRoster(){
      try {
        const input = {
          ...this.rosterData,
          group: this.$store.state.userInfo.tenant.group,
          creationRoute: this.$route.name, 
          userId: this.$store.state.userInfo.id
        }
        delete input.previousNotes
        const result = await this.api(createDailyRoster, {input: input})
        return result
      } 
      catch(e) {
        return e
      }
    },

     /**
     * Adds a new route for the currently selected daily roster using GraphQl
     * @param {object} input input object to create using GraphQL
     */
    async createRoute(input){
      try{
        const route = await this.api(createRoute, {input})
      }
      catch(e){
        this.displayUserError(e)
      }
    },


    /**
     * Delete all route record in the createdRoutes array out of GraphQL
     */
    async deleteCreatedRoutes(){
        this.createdRoutes.forEach( (route) => {
          console.log(route)
          this.commitDeleteRoute(route)
        })
    },
    
    handleImportCancel(){
       this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
        confirmButtonText: 'Continue',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
      .then(() => {
        this.tableData = []
        this.importedDates = []
        document.getElementById('File').value = ""
      })
      .catch(() => {
        console.log("canceled cancel import")         
      });
      
    },

    /**
     * Handles updating selected array when row checkboxes are clicked
     * @param {Array} val Array of table rows selected
     */
    handleSelectionChange(val) {
      this.selected = val;
    },

    /** Takes all items in selected and pushes them to the db, then redirects to the Daily Roster page. */
    async importData(){
      this.importLoading = true
      var secondaryVehiclesAssigned = ['','','','','','','']
      var tertiaryVehiclesAssigned = ['','','','','','','']
      try{
        // loop through days in the future
        var index = 0
        for(const date of this.importedDates){
          const formattedDate = date.toISOString().split('T')[0]
          
          if(this.daysToImport[index] ){
            // check if daily roster exists
            var input = {
              filter: {
                notesDate : {
                  eq: formattedDate
                }
              },
              group: this.$store.state.userInfo.tenant.group
            }
            const roster = await this.gLoadListAll(dailyRostersByGroup, input, 'dailyRostersByGroup');
            var rosterExists  = true
            
            // create DailyRoster record if it doesn't exist yet
            if (roster.length == 0) {
              this.rosterData.notesDate = formattedDate
              this.rosterData.dailyRosterTenantId =  this.$store.state.userInfo.tenant.id
              this.rosterData.id = `${formattedDate}${this.$store.state.userInfo.tenant.group}`
              var result = await this.createDailyRoster()

              if(result.errors && result.errors[0].errorType && result.errors[0].errorType.includes("DynamoDB:ConditionalCheckFailedException")){
                //Having duplication issues so checking one more time after waiting 500 miliseconds.
                await this.sleep(500)
                roster = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

                if(roster.length == 0 ){
                rosterExists = false
                }
              }
              else if(result.data && result.data.createDailyRoster){
                roster.push(result.data.createDailyRoster)
              }
              else{
                throw result
              }
            } 
            // if DailyRoster exists, delete all of its related Route records
            if(rosterExists){
              const routes = roster[0].route.items

              // check if today already imported
              if(date.getTime() == this.date.getTime() && routes.length > 0){
                await this.$confirm( 'Warning', {
                  message: `<span class="font-bold">This will overwrite the roster created for today.</span> To not overwrite today's roster, cancel and disable today's column before importing.`,
                  dangerouslyUseHTMLString: true,
                  confirmButtonText: 'Overwrite & Continue',
                  cancelButtonText: 'Cancel',
                  cancelButtonClass: 'cancel-primary',
                  type: 'warning'
                })
              }

              this.rosterData.id = roster[0].id
              
              routes.forEach( (route) => {
                 this.commitDeleteRoute(route)
              })
            }
            const dailyRosterId = this.rosterData.id
            
            // create route records for all selected
            for(const staff of this.selected){
              if( staff.staff.id != null) {

                // create route record if rostered for the day
                if(staff['status' + index] ){

                  // determine vehicle, device, and parking space defaults
                  var obj
                  var dV
                  if(!this.$store.getters.hasStaffManagement) dV = null
                  else if(staff.staff.defaultVehicle && staff.staff.defaultVehicle.status == "Active"){
                    // see if the employee's default vehicle is assigned
                    var defaultAlreadyAssigned = this.vehicleListAssigned.includes(staff.staff.defaultVehicle.id)

                    if(!defaultAlreadyAssigned){
                      dV = staff.staff.defaultVehicle
                    }else if(staff.staff.defaultVehicle2 && staff.staff.defaultVehicle2.status == "Active"){

                      var defaultAlreadyAssigned2 = this.vehicleListAssigned.includes(staff.staff.defaultVehicle2.id)
                      if(!defaultAlreadyAssigned2){
                         dV = staff.staff.defaultVehicle2
                      }else if(staff.staff.defaultVehicle3 && staff.staff.defaultVehicle3.status == "Active"){

                        var defaultAlreadyAssigned3 = this.vehicleListAssigned.includes(staff.staff.defaultVehicle3.id)
                        if(!defaultAlreadyAssigned3){
                           dV = staff.staff.defaultVehicle3
                        }else{
                          dV = null
                        }
                      }else{
                        dV = null
                      }
                    }else{
                      dV = null
                    }
                  }
                  else dV = null

                  var vehicleId =  dV ? dV.id : null
                  var deviceId =  dV && dV.device && dV.device.status == "Active" ? dV.device.id : null
                  var parkingSpaceId =  dV && dV.parkingSpace ? dV.parkingSpace.id : null

                  var newRouteData = {
                    routeDailyRosterId:  dailyRosterId,
                    routeStaffId: staff.staff.id,
                    time: this.$moment(staff['time' + index], "h:mm A").format("HH:mm"),
                    group: this.$store.state.userInfo.tenant.group
                  }
                  if(vehicleId){
                    newRouteData.routeVehicleId = vehicleId
                    this.vehicleListAssigned.push(vehicleId)
                  }
                  if(deviceId) newRouteData.routeDeviceId = deviceId
                  if(parkingSpaceId) newRouteData.routeParkingSpaceId = parkingSpaceId
                  try{
                    var route = await this.api(createRoute, {input: newRouteData})
                    this.createdRoutes.push(route.data.createRoute)
                  }
                  catch(e){
                    this.printUserError(e)
                    this.displayUserNotification({
                      type: "error",
                      title: "Error",
                      message: e.errors[0].message + " Please update your daily roster and try to import again."
                    })
                    this.deleteCreatedRoutes();
                    this.importLoading = false
                    return
                  }
                }
              }
            }
          }
          index++
          this.vehicleListAssigned = [] // clear out assigned vehicles for each day imported
          
        }
        if(secondaryVehiclesAssigned.length){
          secondaryVehiclesAssigned.forEach((assigned, index) =>{
            if(assigned){
              var dayFormatted = moment(this.importedDates[index]).format("MM/DD/YYYY")
              var assignedFormatted = assigned.substring(0, assigned.length - 1);
              this.displayUserNotification({
                  type: 'warning',
                  title: `Vehicles in Use - ${dayFormatted}`,
                  message: `Secondary vehicles assigned for: ${assignedFormatted}`,
                  duration: 0
              });
            }
          })
        }
        if(tertiaryVehiclesAssigned.length){
          tertiaryVehiclesAssigned.forEach((assigned, index) =>{
            if(assigned){
              var dayFormatted = moment(this.importedDates[index]).format("MM/DD/YYYY")
              var assignedFormatted = assigned.substring(0, assigned.length - 1);
              this.displayUserNotification({
                  type: 'warning',
                  title: `Vehicles in Use - ${dayFormatted}`,
                  message: `Tertiary vehicles assigned for: ${assignedFormatted}`,
                  duration: 0
              });
            }
          })
        }
        const goToDate = this.startingDate.toISOString().split('T')[0]
        this.importLoading = false
        this.$router.push({name: 'DailyRoster', params:{ dateId: goToDate}})
        
      }catch(e){
        this.importLoading = false
        if(e == 'cancel'){
          return
        }else{
          this.displayUserError(e)
        }
      }
    },

    /**
     * When a file is selected, this reads the contents of the CSV to a string using FileReader.
     * @param {object} e - The event that is triggered on input change.
     */
    importXLXS(e){
      var files = e.target.files || e.dataTransfer.files;
      var file = files[0]
      if(file){
        this.loading = true
        var reader = new FileReader()

        //Attach onload trigger function
        reader.onload = (e) => {
          var data = new Uint8Array(e.target.result)
          var workbook = XLSX.read(data, {type: 'array'})
          this.parseXLSX(workbook)
        }

        //Read the data triggering the onload trigger
        reader.readAsArrayBuffer(file);
      }
    },

    /**
     * Loads list of staffs for select using GraphQL
     */
    loadStaffList: async function(){
        if(!this.$store.getters.hasDailyRostering){
            return
        }
      this.loading = true
      let input = {
        group: this.$store.state.userInfo.tenant.group
      }
      this.staffList = await this.gLoadListAll(importListStaffs, input, 'staffsByGroup')
      //Create Staff Lookup Table
      var staffLookup = {}
      this.staffList.forEach((staff) => {
          if(staff.transporterId){
              let key = staff.transporterId
              // staffLookup[key] = {id: staff.id}
              staffLookup[key] = staff
          }
      })
      this.staffLookup = staffLookup
      this.loading = false
    },

    /**
     * Updates the scorecard with the selected staff id and updates staff id with transporter id.
     */
    openStaffModal(row){
      var nameArray = row.staff.name.split(" ")
      this.selectedRow = row
      this.formFields = {
        status: 'Active',
        firstName: nameArray[0],
        lastName: nameArray[nameArray.length - 1],
        email: '',
        phone: '',
        transporterId: row.transporterId,
        dlExpiration: '',
        hireDate: '',
        authorizedToDrive: {}
      }
      this.addStaffModalOpen = true
    },

    /**
     * @param {object} workbook - an xlsx workbook 
     */
    async parseXLSX(workbook){
      const workbookName = workbook.Workbook.Sheets[0].name
      const sheet = workbook.Sheets[workbookName]

      try{
        // determine year
        const timestamp = sheet.A2.h
        var year = new Date(timestamp).getFullYear()

        // remove header data
        delete sheet.A1
        delete sheet.A2
        delete sheet.B1
        delete sheet.B2
        delete sheet.C1
        delete sheet.C2

        // convert to json array
        const jsonSheet = XLSX.utils.sheet_to_json(sheet)

        // get list of dates
        const dates = jsonSheet.shift()
        const totalRostered = jsonSheet.shift()
        delete dates['__EMPTY'] // Associate Name column header
        delete dates['__EMPTY_1'] // Transporter ID column header
        const formattedDates = Object.values(dates).map((date) => {
          var formattedDate = new Date( this.$moment(date + ' ' + year, 'ddd, DD/MMM YYYY').format("YYYY/MM/DD"))
          
          //If invalid date, try using next year incase end of year.
          if(formattedDate == 'Invalid Date'){
            year++
            formattedDate = new Date( this.$moment(date + ' ' + year, 'ddd, DD/MMM YYYY').format("YYYY/MM/DD"))
          }
          //If still invalid date, try using last year in case end of year is later in week.
          if(formattedDate == 'Invalid Date'){
            year += -2
            formattedDate = new Date( this.$moment(date + ' ' + year, 'ddd, DD/MMM YYYY').format("YYYY/MM/DD"))
          }
          return formattedDate
        })
        this.importedDates = formattedDates;
        this.daysToImport = this.importedDates.map((day) => {
          return day.getTime() > this.date.getTime()
        });
        await this.setSwitch();

        // map array to table table data
        // find available matches based on Transporter ID
        var data = jsonSheet.map((row, index) => {
          var staffMatch = null
          var transporterId = row['__EMPTY_1']

          //Get Staff info
          let key = this.cleanTransporterId(transporterId)
          if(this.staffLookup[key]){
            var staff = this.staffLookup[key]
          }else{
            var staff = null
          }
          
          return {
              staff: {
                name: this.toTitleCase(row['__EMPTY'].trim()),
                ...staff
              },
              transporterId: transporterId,
              status0: row['__EMPTY_2'] != null && row['__EMPTY_2'] != undefined,
              status1: row['__EMPTY_3'] != null && row['__EMPTY_3'] != undefined,
              status2: row['__EMPTY_4'] != null && row['__EMPTY_4'] != undefined,
              status3: row['__EMPTY_5'] != null && row['__EMPTY_5'] != undefined,
              status4: row['__EMPTY_6'] != null && row['__EMPTY_6'] != undefined,
              status5: row['__EMPTY_7'] != null && row['__EMPTY_7'] != undefined,
              status6: row['__EMPTY_8'] != null && row['__EMPTY_8'] != undefined,
              time0: this.getTime(row['__EMPTY_2']),
              time1: this.getTime(row['__EMPTY_3']),
              time2: this.getTime(row['__EMPTY_4']),
              time3: this.getTime(row['__EMPTY_5']),
              time4: this.getTime(row['__EMPTY_6']),
              time5: this.getTime(row['__EMPTY_7']),
              time6: this.getTime(row['__EMPTY_8'])

          }
        })

        // remove blank rows
        data = data.filter((row) => {
          return  row.status0 ||
                  row.status1 ||
                  row.status2 ||
                  row.status3 ||
                  row.status4 ||
                  row.status5 ||
                  row.status6;
        })
        
        this.tableData = data
        this.$refs.table.toggleAllSelection()
        this.loading = false
        document.getElementById('File').value = ""
        if(this.tableData.length == 0){
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: "No data found in selected file"
          })
        }
      }
      catch(e){
        this.loading = false
        document.getElementById('File').value = ""
        this.displayUserError('Import failed. Please verify correct file was chosen.')
      }
    },

    async setSwitch() {
      for(let i = 0; i < this.importedDates.length; i++) {
        let formattedDateItem = this.importedDates[i].toISOString().split('T')[0];
        if(this.importedDates[i].getTime() == this.date.getTime()){
          let input = {
            filter: {
              notesDate : {
                eq: formattedDateItem
              }
            },
            group: this.$store.state.userInfo.tenant.group
          };
          try{
            const roster = await this.gLoadListAll(dailyRostersByGroup, input, 'dailyRostersByGroup');

            let routes = roster[0].route.items;
            if(routes.length > 0){
              this.daysToImport[i] = false;
            }else{
              this.daysToImport[i] = true;
            }

          }catch(err){
            console.log(err);
            this.daysToImport[i] = true;
          }
        }
      };
    },

    disabledColumn(colDate, dateIndex, staffName){
      const inThePast = colDate.getTime() < this.date.getTime()
      const dayNotSelected = !this.daysToImport[dateIndex]
      const rowSelected = this.selected.findIndex( (staff) =>{
        return staff.staff.name == staffName
      })
      return inThePast || dayNotSelected || ( rowSelected < 0)
    },

    /**
     * Get a cells time using regex
     */
    getTime(content){
      if(content == undefined || content == null) return ""

      let timeArray = content.match(/(\d?\d:\d\d\w\w)/g)

      //Check for no matches
      if(timeArray == null || timeArray == undefined){
        return ""
      }
      
      let time = timeArray[0]
      return time
    },


    /**
     * Updates the scorecard with the selected staff id and updates staff id with transporter id.
     */
    async selectStaff(row){
      //See if quick add was selected
      if(row.staff.id == 'Add New DA'){
        row.staff.id = null
        this.openStaffModal(row)
        return
      }        
      // else{
      //   // update alternate names for row
      //   var staffMatch = this.staffList.find((staff) => {
      //     return staff.id == row.staff.id
      //   })
      //   row.staff.alternateNames = staffMatch ? staffMatch.alternateNames : null
      // } 
    },

    loadFakeTableData(){
      if(!this.$store.getters.hasDailyRostering){
        this.tableData = [...this.fakeTableData];

        let curr = new Date 
        const currComp = new Date
        console.log(curr)
        let week = [];
        let daysToImport = [];

        for (let i = 0; i <= 6; i++) {
          let first = curr.getDate() - curr.getDay() + i 
          let day = new Date(curr.setDate(first))

          if(first <= currComp.getDate()){
            daysToImport.push(false)
          }
          else{
            daysToImport.push(true)
          }

          week.push(day)
        }
        this.daysToImport = [...daysToImport]
        this.importedDates = [...week]
        
      }
    }

  }
}
</script>

<style>
  .cancel-primary{
    @apply float-right ml-2 !important;
  }

  .requiredCellHeader:before{
    color: #F56C6C;
    content: '*';
    position: absolute;
  }

  .requiredCell{
    height: 5rem;
  }

  .requiredCell .cell .el-input .el-input__inner{
    border-color: #F56C6C !important;
  }

  .requiredCell .cell:after{
    color: #F56C6C !important;
    content: "Please input a device name";
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
  }

  .el-popover__title {
    @apply text-center;
  }
  .required-field .el-input.el-input--suffix input{
     @apply bg-red-500 bg-opacity-10 border-red-500 border-solid border-b border-opacity-15 !important;
   }

  .disabled-column-bgcolor {
    background-color: #F5F7FA !important;
  }

  .disabled-column-bgcolor:hover {
    cursor: not-allowed;
  }
</style>

<style scoped>
.disabled-column{
  @apply text-gray-600;
}
  .fileContainer{
    padding: .62rem !important;
    @apply text-xs !important;
  }

  .disabled-button{
    @apply opacity-50 !important;
  }
  .premium-warning-table-container{
    width: 100%;
    height: 390px;
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 150;
  }
</style>
