<template>
  <div>
    <!--Header-->

    <!--PREVIOUS DAY PM NOTES-->
    <div class="grid grid-cols-4 grid-flow-row gap-4 mt-4">
      <template v-if="hasDailyRosteringManagement">
        <div class="notes col-span-2 lg:col-span-1 border rounded-lg shadow  p-4 min-h-48 whitespace-pre-line">
          <div class="flex justify-between">
            <h4 class="mb-3 mt-2 text-sm bold">Previous Day Dispatcher's Notes</h4>          
          </div>
          <MessageWithEmojie
            class="text-xs text-gray-700 break-words"
            :bodyText="previousNotes"
          />
        </div>

     <!--STAND UP ANNOUNCEMENTS-->
        <div data-cy="standup-announcements" class="notes col-span-2 lg:col-span-1 border rounded-lg shadow  p-4 min-h-48 relative whitespace-pre-line">
          <DailyRosterNotes 
            @send-das-announcement="confirmSendAll(true)"
            @open-hera-warning="openHeraWarning"
            :rosterData="rosterData"
            :attachmentData="attachmentData"
            :dataLoading="loading"
            noteType="standUpNotes"
            noteLabel="Stand Up Announcements"
            class="mb-4 md:mb-8 dr-notes"
            :preloadedMessageTemplates="preloadedMessageTemplates"
          />
          <div v-if="$store.getters.hasDailyRostering">
            <div v-if="numberOfRoutesWithAnnouncement == 0" class="text-xs text-gray-600 absolute bottom-0 pb-2">Not Sent.</div>
            <div v-else-if="numberOfRoutesWithAnnouncement == numberOfRoutes" class="text-xs text-gray-600 md:absolute bottom-0 pb-2">Sent all rostered and standby {{$t('label.associates')}} at {{rosterData.lastStandUpSentTime}}.</div>
            <div v-else-if="numberOfRoutesWithAnnouncement != numberOfRoutes" class="text-xs text-gray-600 md:absolute bottom-0 pb-2 break-word">
              <p>Sent to {{numberOfRoutesWithAnnouncement}} {{$t('label.associates')}} at {{ rosterData.lastStandUpSentTime }}</p>
              <p class="pt-2 md:pt-0"><ButtonWrapper class="send-announcement-button mt-2" :clickHandler="confirmSendAll" :handlerArgs="[false]" type="text"> Send to remaining {{ numberOfRoutes - numberOfRoutesWithAnnouncement}} {{$t('label.associates')}}</ButtonWrapper></p>
            </div>
          </div>
        </div>
      
      <!--AM NOTES-->
        <div data-cy="managers-daily-notes" class="notes col-span-2 lg:col-span-1 border rounded-lg shadow  p-4 min-h-48 whitespace-pre-line">
          <DailyRosterNotes
            :rosterData="rosterData"
            :dataLoading="loading"
            noteType="amNotes"
            noteLabel=" Manager's Daily Notes"
            :preloadedMessageTemplates="preloadedMessageTemplates"
            />
        </div>

      <!--PM NOTES-->
        <div data-cy="dispatchers-daily-notes" class="notes col-span-2 lg:col-span-1 border rounded-lg shadow  p-4 min-h-48 whitespace-pre-line">
          <DailyRosterNotes 
            :rosterData="rosterData"
            :dataLoading="loading"
            noteType="pmNotes"
            noteLabel="Dispatcher's Daily Notes"
            :preloadedMessageTemplates="preloadedMessageTemplates"
            />
        </div>
      </template>

      <div class="notes col-span-4 border rounded-lg shadow  p-4 whitespace-pre-line" v-else>
        <div class="flex justify-between">
          <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Daily Rostering in Hera.</h4>          
        </div>
      </div>

    </div>
    <template v-if="hasDailyRosteringManagement">
      <DailyRosterRoutes 
        v-if="showTableData"
        ref="routes"
        @open-send-modal="openSendModal"
        @open-premium-warning-modal="openPremiumWarningModal"
        :date="date" 
        :dateId="dateId"
        :dailyRoster="rosterData"
        :previousDailyRoster="previousDailyRoster"
        :tableData="tableData"
        :filteredRoutes="filteredRoutes"
        :dateLimitsInTenantTimeZone="getDateLimitsInTenantTimeZone"
        :dailyLogsByRosterDayList="dailyLogsByRosterDayList"/>
      <div v-else class="container border rounded-lg shadow  p-4 mt-4">
        <div class="flex justify-between">
          <div class="flex space-x-2 items-center">
            <p class="text-gray-600 text-base font-bold">DAILY ROSTER</p>
          </div>
          <div class="flex space-x-2 items-center">
            <div class="animate-pulse flex space-x-4">
              <div class="h-8 bg-gray-400 rounded w-32"></div>
              <div class="h-8 bg-gray-400 rounded w-32"></div>
              <div class="h-8 bg-gray-400 rounded w-32"></div>
            </div>
          </div> 
        </div>
        <div class="animate-pulse flex space-x-4 mt-4">
          <div class="w-4 space-y-4 py-1">
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
          </div>
          <div class="flex-1 space-y-4 py-1">
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
          </div>
          <div class="flex-1 space-y-4 py-1">
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
          </div>
          <div class="flex-1 space-y-4 py-1">
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
          </div>
          <div class="flex-1 space-y-4 py-1">
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
            <div class="h-4 bg-gray-400 rounded w-full"></div>
          </div>
        </div>
      </div>
    </template>
    
    <!-- SEND CREATION LINKS DIALOG -->
    <el-dialog
      v-loading="sendingCreationLinks"
      :title="sendCreationLinksDialog.title"
      :visible.sync="sendCreationLinksDialog.visible"
      :close-on-click-modal="false"
      min-width="30%"
    >
    <div v-if="sendCreationLinksDialog.vehiclePhotoLogs.numberHave > 0">
      <p class="break-normal">
        {{ sendCreationLinksDialog.lettersMessage.bodyOne }}
      </p>
      <p class="break-normal pt-3">
        {{ sendCreationLinksDialog.lettersMessage.bodyTwo }}, would you like to create new Vehicle Photo Logs for the links you're sending, or would you like to send links to the most recent Vehicle Photo Log that already exists for each Vehicle?
      </p>
      <p v-if="sendCreationLinksDialog.vehiclePhotoLogs.numberNotHave" class="break-normal pt-3">
        {{ sendCreationLinksDialog.lettersMessage.bodyThree }}
      </p>
      <span slot="footer" class="dialog-footer">
        <div class="w-full flex flex-wrap justify-end pt-6">
          <el-button @click="sendCreationLinksDialog.visible=false" size="mini" class="flex-initial mt-2">Cancel</el-button>
          <el-button
            size="mini"
            type="primary"
            class="flex-initial mt-2"
            :disabled="!sendCreationLinksDialog.rosterList.length"
            @click="sendCreationLinkMessages(sendCreationLinksDialog.rosterList, true)"
          >
          Link To Existing Where Possible
          </el-button>
          <el-button
            size="mini"
            type="primary"
            class="flex-initial mt-2"
            :disabled="!sendCreationLinksDialog.rosterList.length"
            @click="sendCreationLinkMessages(sendCreationLinksDialog.rosterList)"
          >
          Create New For All
          </el-button>
        </div>
      </span>
    </div>
    <div v-else>
      <p class="break-normal">
        <b>NOTE:</b> If you have rostered an Associate but not yet chosen a Vehicle for them, they will NOT receive a Vehicle Photo Log {{ this.$t('label.associate') }} Link.
      </p>
      <p class="break-normal pt-3">
        Are you sure you want to send out {{ sendCreationLinksDialog.rosterList.length }} links?
      </p>
      <span slot="footer" class="dialog-footer">
        <div class="w-full flex flex-wrap justify-end">
          <el-button @click="sendCreationLinksDialog.visible=false" size="mini" class="flex-initial mt-2">Cancel</el-button>
          <ButtonWrapper
            size="mini"
            type="primary"
            class="flex-initial mt-2"
            :disabled="!sendCreationLinksDialog.rosterList.length"
            :clickHandler="sendCreationLinkMessages"
            :handlerArgs="[sendCreationLinksDialog.rosterList]"
          >
            Send Now ({{sendCreationLinksDialog.rosterList.length}})
          </ButtonWrapper>
        </div>
      </span>
    </div>
    </el-dialog>

      <!-- SEND SCHEDULE DIALOGUE-->
      <el-dialog
        v-loading="sendingMessages"
        :title="`Send Schedule ${sendSchedule.title}`"
        :visible.sync="sendScheduleDialogVisible"
        :close-on-click-modal="false"
        width="30%">
        <div class="break-normal">{{sendSchedule.message}}</div>
        <span slot="footer" class="dialog-footer">
          <div class="w-full flex flex-wrap justify-end">
            <el-button @click="sendScheduleDialogVisible = false" size="mini" class="flex-initial mt-2">Cancel</el-button>
            <ButtonWrapper v-if="sendSchedule.sendCount != sendSchedule.notSentCount" size="mini" class="flex-initial mt-2" :clickHandler="sendMessages" :handlerArgs="[sendSchedule.routes]">Send All Now ({{sendSchedule.sendCount}})</ButtonWrapper>
            <ButtonWrapper v-if="sendSchedule.sendCount != sendSchedule.notSentCount" size="mini" class="flex-initial mt-2" type="primary" :disabled="!sendSchedule.notSentCount" :clickHandler="sendMessages" :handlerArgs="[sendSchedule.notSentYet]">Send Remaining Now ({{sendSchedule.notSentCount}})</ButtonWrapper>
            <ButtonWrapper v-if="sendSchedule.sendCount == sendSchedule.notSentCount" size="mini" class="flex-initial mt-2" type="primary" :clickHandler="sendMessages" :handlerArgs="[sendSchedule.routes]">Send Now ({{sendSchedule.sendCount}})</ButtonWrapper>
          </div>
        </span>
      </el-dialog>

      <!-- PREMIUM WARNING DIALOG-->
      <el-dialog
          title="Premium Required"
          :visible.sync="showUpgradeDialog"
          :show-close="false"
          :center="true"
          :close-on-click-modal="false"
          width="300px">
          <PremiumWarning
            action="send DA messages"
            premiumFeature="daily rostering"
            :modal="true"
            @close-dialog="showUpgradeDialog = false">
          </PremiumWarning>
      </el-dialog>

      <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :close-on-click-modal="false"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting stand up announcements"
      @close-modal="heraDown = false"/>
    </el-dialog>
   
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapGetters } from 'vuex'
import { getVehicle } from './queries'
import { getDailyRosterData, clearCachedDailyRoster } from './multipleQueriesDailyRoster'
import { createDailyRoster, updateDailyRoster } from '@/store/mutations'
import DailyRosterNotes from './components/Notes'
import DailyRosterRoutes from './components/Routes'
import sendMessage from '@/scripts/sendMessage'
import PremiumWarning from '@/components/PremiumWarning'
import EventBus from '@/eventBus'
import FeatureOffline from '@/components/FeatureOffline'
import { Storage } from 'aws-amplify'
import MessageWithEmojie from '@/components/shared/Messenger/MessageWithEmojie'

import { Auth, API } from 'aws-amplify'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

import { getDateLimitsInTenantTimeZone } from  '@/utilities/getDate'

export default {
  name: "DailyRoster",
  props: ['dateId'],
  components:{
    DailyRosterNotes,
    DailyRosterRoutes,
    PremiumWarning,
    FeatureOffline,
    MessageWithEmojie,
    ButtonWrapper,
  },
  data(){
    return{
      heraDown: false,
      deviceId: null,
      loading: false,
      date: '',
      formattedDate: '',
      yesterday: '',
      showUpgradeDialog:false,
      sendScheduleDialogVisible: false,
      sendSchedule:{},
      sendingMessages: false,
      numberOfRoutes: 0,
      routes: [],
      numberOfRoutesWithAnnouncement: 0,
      sendingCreationLinks: false,
      sendCreationLinksDialog: {
        title: '',
        visible: false,
        rosterList: [],
        vehiclePhotoLogs: {},
        lettersMessage:{}
      },
      rosterData:{
        notesDate: null,
        amNotes: '',
        standUpNotes: '',
        pmNotes: '',
        dailyRosterTenantId: null,
      },
      attachmentInfo:{
        fileUrl: null,
        s3Key: null
      },
      excludedStatuses: [
        'Called Out',
        'No Show, No Call',
        'VTO'
      ],
      dailyRosterData: null,
      preloadedMessageTemplates: []
    }
  },

  async mounted(){
    this.routes = []

    if(typeof this.dateId !== 'object'){
      const replaceDateId = this.dateId.replace(/-/g, '/')
      let date = new Date(replaceDateId)
      this.date = date
      let yesterday = new Date(replaceDateId)
      yesterday.setDate(this.date.getDate() - 1)
      this.yesterday = yesterday.toISOString().split('T')[0]
      let convertDate = this.$moment(this.date).format("YYYY-MM-DD")
      this.formattedDate = convertDate
      if (this.$store.state.customCSVImportCompleted) {
        await this.loadData({ reset: true });
        this.$store.state.customCSVImportCompleted = false;
        return;
      }
      await this.loadData()
    }

    EventBus.$on('reload-daily-rostering', async ()=>{
      await this.loadData({ reset: true })
    })
  },
  
  beforeDestroy(){
    EventBus.$off('reload-daily-rostering')
  },

  computed:{
    ...mapState([
      'userInfo',
      'valuelists'
    ]),

    ...mapGetters([
      'hasDailyRosteringManagement'
    ]),
    
    ...mapState('subscriptionStore', [
      'associateList',
      'deviceList',
      'vehicleList',
      'dailyLogCache'
    ]),

    ...mapGetters('subscriptionStore',[
      'getAssociateLookupMap',
      'getVehicleLookupMap',
      'getDeviceLookupMap',
    ]),

    getDateLimitsInTenantTimeZone() {
      return getDateLimitsInTenantTimeZone(this.date)
    },

    showTableData(){
      return  this.rosterData &&
              this.dailyRosterData  &&
              this.associateList.lastRenderKey &&
              this.deviceList.lastRenderKey &&
              this.vehicleList.lastRenderKey
    },

    previousDailyRoster(){
      return this.dailyRosterData?.data.getPreviousDailyRoster || {}
    },

    previousNotes(){
      return this.previousDailyRoster.pmNotes || ''
    },

    attachmentData(){
      const rosterData = this.rosterData
      //force re-render by changing updatedAt
      rosterData?.updatedAt && new Date(rosterData.updatedAt).getTime()
      if(rosterData?.attachment?.id){
          const attachmentDataTemp = {...rosterData.attachment}
          //if there's an attachment, set fields...
          attachmentDataTemp.isImage = attachmentDataTemp.contentType && attachmentDataTemp.contentType.includes("image") ? true : false
          attachmentDataTemp.fileName = attachmentDataTemp.s3Key.substr( attachmentDataTemp.s3Key.lastIndexOf('/') + 1)
          if(this.attachmentInfo.s3Key !== rosterData.attachment.s3Key){
            Storage.get(attachmentDataTemp.s3Key)
              .then(url => (this.attachmentInfo.fileUrl = attachmentDataTemp.fileUrl = url) )
              .catch(this.printUserError)
            this.attachmentInfo.s3Key = attachmentDataTemp.s3Key
          }else{
            attachmentDataTemp.fileUrl =  this.attachmentInfo.fileUrl
          }
          attachmentDataTemp.expirationDateString = attachmentDataTemp.expirationDate
          attachmentDataTemp.expirationDate = parseInt(attachmentDataTemp.expirationDate)
          return attachmentDataTemp
      }
      return {
        id: null,
        file: null,
        fileUrl:  (this.attachmentInfo.fileUrl = null),
        fileName: null,
        contentType: null,
        s3Key: (this.attachmentInfo.s3Key = null),
        isImage: false,
        expirationDate: null,
        expirationDateString: null,
        src: null,
        fileSize: null
      }
    },
    
    dailyLogsByRosterDayList(){
      const dailyLogs = this.dailyLogCache[this.getDateLimitsInTenantTimeZone.join('|')]
      dailyLogs?.lastRenderKey
      return dailyLogs || []
    },

    tableData(){
      if(!this.dailyRosterData || !this.rosterData) return []
      
      const rosterData = this.rosterData

      this.routes = rosterData.route.items

      //force re-render by changing lastRenderKey
      this.routes.lastRenderKey

      const vm = this;

      let numberOfRoutesWithAnnouncement = 0

      const arr = this.routes.map(route => {

        if(!route.vehicle) {
          route.vehicle = {id: null, name: '', vehicleType: { id: null }, parkingSpace: { id: null } }
        } else {
          if(route.vehicle.parkingSpace === null){
            route.vehicle.parkingSpace = { id: null }
          }
        }
        if(!route.staff) route.staff = {id: null, firstName: '', authorizedToDrive: { items: [] }}
        if(!route.helper) route.helper = {id: null, firstName: ''}
        if(!route.rescuer) route.rescuer = {id: null, firstName: ''}
        if(!route.device) route.device = {id: null, deviceName: ''}
        if(!route.routeNumber) route.routeNumber = ''
        if(!route.parkingSpace) route.parkingSpace = { id: null }
        if(!route.staging) route.staging = ''
        route.time = route.time ? vm.convertTimeTenantTimezone(route.time, 'HH:mm', true) : '';
        if(route.messages.items.length > 0) route.messages.items = route.messages.items.sort((a, b) => {
          return new Date(a.createdAt) - new Date(b.createdAt);
        })

        route.replaceByRoute?.items?.forEach(replaceByRoute => {

          if(!replaceByRoute.vehicle) replaceByRoute.vehicle = {id: null, vehicleType: { id: null }, parkingSpace: { id: null } }
          if(!replaceByRoute.device) replaceByRoute.device = {id: null}
          if(!replaceByRoute.staff) replaceByRoute.staff = {id: null}
          if(!replaceByRoute.parkingSpace) replaceByRoute.parkingSpace = {id: null}
        })
        if(route.receivedAnnouncement == true){
          numberOfRoutesWithAnnouncement++
        }

        return route
      })

      this.numberOfRoutesWithAnnouncement = numberOfRoutesWithAnnouncement;
      this.numberOfRoutes = this.routes.length

      /**     grab yesterdays PM notes and add to todays rosterData       **/
      const dailyRosterData = this.dailyRosterData
      this.preloadedMessageTemplates.length = 0
      this.preloadedMessageTemplates.push(...(dailyRosterData.data.messageTemplatesByGroup?.items || []))

      this.loading = false
      arr.storedReactiveRoutes = this.routes
      return arr
    },

  },

  methods:{

    changeDate(delta){
      let newDate = new Date()
      newDate.setTime(this.date.getTime() + (delta * 3600 * 1000 * 24) )
      this.date = newDate      
    },

    /**
     * Creates daily roster using GraphQL mutation
     */
    async createDailyRoster(){
      try {
        this.rosterData.notesDate = this.formattedDate
        this.rosterData.dailyRosterTenantId = this.userInfo.tenant.id
        this.rosterData.id = `${this.formattedDate}${this.$store.state.userInfo.tenant.group}`
        const input = {
          ...this.rosterData,
          group: this.$store.state.userInfo.tenant.group,
          creationRoute: this.$route.name, 
          userId: this.$store.state.userInfo.id
        }
        delete input.previousNotes
        delete input.attachment
        const result = await this.api(createDailyRoster, {input: input})
        return result
      } 
      catch(e) {
        return e      
      }
    },

    /**
     * Loads data using GraphQL query
     */
    async loadData(options = {}){
      if(this.loading) return
      try{

        this.loading = true

        const dailyRosterId =`${this.formattedDate}${this.$store.state.userInfo.tenant.group}`
        const previuosDailyRosterId = `${this.yesterday}${this.$store.state.userInfo.tenant.group}`

        if(options.reset){
          clearCachedDailyRoster(dailyRosterId)
        }

        let dailyRoster = await getDailyRosterData({
          dailyRosterId,
          previuosDailyRosterId,
          dateLimitsInTenantTimeZone: this.getDateLimitsInTenantTimeZone,
          fallback: () => this.createDailyRoster() /**     create roster if one doesn't exist for today       **/
        })

        this.dailyRosterData = dailyRoster
        this.rosterData = dailyRoster.data.getCurrentDailyRoster

      }
      catch(e){
        this.displayUserError(e)
      }
    },

    openHeraWarning(){
      this.heraDown = true
    },

    //Exclusions in sending messages
    filteredRoutes(routes){
      return routes.filter(route => {
        const replaceByRoute = route.replaceByRoute?.items
          if(replaceByRoute?.length){
            return !this.excludedStatuses.includes(replaceByRoute[replaceByRoute.length-1].status)
          }
        return !this.excludedStatuses.includes(route.status)
      })
    },

    isValidAssociate( route ) {
      const { staff } = route;
      return staff.id;
    },

    openCreationLinksConfirmationDialog(sendTo='', payload={}) {

      const { rosterList, date } = payload

      if (!rosterList) return;

      const vehiclePhotoLogs = this.setNumberPhotoLogs(rosterList)
      const lettersMessage = this.setContentAsocciateLink(vehiclePhotoLogs, date)

      this.sendCreationLinksDialog = {
        title: `Send Vehicle Photo Log ${this.$t('label.associate')} Links to ${sendTo} Rostered ${this.$t('label.associates')}`,
        rosterList,
        visible: true,
        vehiclePhotoLogs,
        lettersMessage
      };

    },

    setContentAsocciateLink(vehiclePhotoLogs,date){

      const lettersMessage = {
        bodyOne: '',
        bodyTwo: '',
        bodyThree: ''
      }

      if(vehiclePhotoLogs.numberHave === 1){
        lettersMessage.bodyOne = `${vehiclePhotoLogs.numberHave} Vehicle already has a Vehicle Photo Log for ${date}.`
        lettersMessage.bodyTwo = `For this Vehicle`
        lettersMessage.bodyThree = `${vehiclePhotoLogs.numberNotHave} Vehicle do not yet have a Vehicle Photo Log for ${date}, so it will be created.`
      }

      if(vehiclePhotoLogs.numberHave > 1){
        lettersMessage.bodyOne = `${vehiclePhotoLogs.numberHave} Vehicles already have a Vehicle Photo Log for ${date}.`
        lettersMessage.bodyTwo = `For these Vehicles`
        lettersMessage.bodyThree = `${vehiclePhotoLogs.numberNotHave} Vehicles does not yet have a Vehicle Photo Log for ${date}, so they will be created.`
      }

      return lettersMessage

    },

    setNumberPhotoLogs(rosterList){

      const dailyLogsNumber = {
        numberHave : 0,
        numberNotHave : 0
      }

      rosterList.forEach((roster) => {

        if(roster.dailyLogs.length > 0){
          dailyLogsNumber.numberHave++
        }else{
          dailyLogsNumber.numberNotHave++
        }

      })
      
      return dailyLogsNumber

    },

    /**
     * Send pinpoint messages
     */
    async openSendModal(payload){

      const creationLinkOthersCommands = ['sendCreationLinkPhotoLog'];
      if (creationLinkOthersCommands.includes(payload.command)) {

        const { selected } = payload

          try {
              await this.sendCreationLinkMessages(selected);
              this.displayUserNotification({
                title: "Success",
                message: 'Vehicle Photo Log Creation and Associate Link sent successfully',
                type: 'success'
              })

          } catch (error) {
             this.printUserError(error);
          } finally {
             return;
          }
      }

      const creationLinkCommands = ['sendVehiclePhotoLinksToAll', 'sendVehiclePhotoLinksToSelected'];
      if (creationLinkCommands.includes(payload.command)) {
        const sendTo = (payload.command === 'sendVehiclePhotoLinksToAll')? 'All': 'Selected';
        return this.openCreationLinksConfirmationDialog(sendTo, payload);
      }

      var scheduleInfo = {}
      //Determine who we are sending to all or certain time
      if(payload.command == 'all'){
        var routes = this.filteredRoutes(this.rosterData.route.items)
        scheduleInfo.title = "to All Rostered " + this.$t('label.associates')
      }else if(payload.command == 'selected'){
        var routes = payload.selected
        scheduleInfo.title = "to Selected"
      }else{
        var routes = this.rosterData.route.items.filter(route => {
          const formatedRouteTime = this.$moment(route.time,'HH:mm').format('h:mma')
          return formatedRouteTime == payload.command
        })
        scheduleInfo.title = `to ${payload.command.toUpperCase()} ${this.$t('label.associates')}`
      }

      for(let route of routes){
        //sendMessage needs staff information
        if(route.staff?.id) route.staff = this.getAssociateLookupMap[route.staff.id]
        if(route.vehicle?.id) route.vehicle = this.getVehicleLookupMap[route.vehicle.id]
        if(route.device?.id) route.device = this.getDeviceLookupMap[route.device.id]
      }

      // validate driver assignments
      var invalidDriverAssignments = routes.filter((route) => {
        if (route.standby){
          return !route.staff.id
        }
        return !route.staff.id
      })
      if( invalidDriverAssignments.length === routes.length ){
        await this.$alert('There are ' + invalidDriverAssignments.length +  ` invalid ${this.$t('label.associate')} assignment(s). Please correct these issues before sending.`, 'Invalid Driver Assignments', {
          confirmButtonText: 'OK',
          type: 'warning'
        })
        return
      }

      //Determine total to send to and how many have already been sent notification
      let sendCount = routes.length + routes.filter((route)=> route.helper?.id).length
      // var notSentYet = routes.filter((route)=> route.messages.items.length < 1)
      var notSentYet = routes.filter((route)=> route.messages.items.filter((message)=> message.messageType != "standUpAnnouncements").length < 1)
      var notSentCount = notSentYet.length
      var alreadySentCount = sendCount - notSentCount
      scheduleInfo = {
        ...scheduleInfo,
        routes: routes,
        notSentYet: notSentYet,
        notSentCount: notSentCount,
        sendCount: sendCount
      }   
      if( alreadySentCount == 0){
        scheduleInfo.message = `Are you sure you want to send out ${sendCount} messages?`;
      }else{
        scheduleInfo.message = `You've already sent a message to ${alreadySentCount} of these ${this.$t('label.associates')}, do you want to send to all ${sendCount} ${this.$t('label.associates')} or just the ${notSentCount} that haven't received a message yet?` ;
      }
      scheduleInfo = {
        ...scheduleInfo,
        sendCount: routes.length - invalidDriverAssignments.length
      }
      this.sendSchedule = scheduleInfo

      this.sendScheduleDialogVisible = true        
    },

    getPayloadListForCreationLinks(routes=[], reused = false) {

      const payload = {
        tenantId: this.userInfo.tenant.id,
        rosteredDayId: this.rosterData.id,
        sentByUserId: this.userInfo.id,
        routes: [],
      };

      for (const route of routes) {

        const reusedLink = route.dailyLogs?.length > 0 && reused

        payload.routes.push({
          id: route.id,
          associateId: route.staff.id,
          vehicleId: route.vehicle.id,
          reusedLink,
          sentDateTime: route.date, 
          dateCreateLink: route.dateCreateLink
        });
        
      }
      return payload;
      
    },

    async appendCreationLinksToRoutes(routes=[], reused = false) {
      const payload = this.getPayloadListForCreationLinks(routes,reused);
      const apiName = 'heraPublicApi';
      const apiPath = "/vehicle-photo-log/generate-token";
      const options = { body: payload };
      const tokenList = await API.post(apiName, apiPath, options);
      const mappedTokens = tokenList.reduce((acc, item) => {
        acc[item.id] = item.token;
        return acc;
      }, {});

      const routesList = [];
      for (const route of routes) {
        const token = mappedTokens[route.id];
        if (!token) continue;

        routesList.push({...route, creationLink: `${window.location.origin}/u/vpl/${token}`});
      }
      return routesList;
    },

    getRoutesToSendCreationLinks(routes) {
      const validRoutes = [];

      for (const route of routes) {
        if (!route.replaceByRoute?.items?.length) {
          route.isReplacement = false;
          validRoutes.push(route);
          continue;
        }

        const lastReplacedBy = route.replaceByRoute.items.at(-1);
        const replacementObj = {...lastReplacedBy};
        replacementObj.isReplacement = true;
        replacementObj.helper = {...route.helper};
        replacementObj.rescuer = {...route.rescuer};
        validRoutes.push(replacementObj);
      }

      return validRoutes;
    },

    async sendCreationLinkMessages(routes, reused = false) {

      const validRoutes = this.getRoutesToSendCreationLinks(routes);
      if (!validRoutes.length) {
        this.sendingCreationLinks = false;
        this.sendCreationLinksDialog = {
          title: '',
          visible: false,
          rosterList: [],
          vehiclePhotoLogs: {},
          lettersMessage:{}
        };
        return;
      }

      this.sendingCreationLinks = true;

      try {

        const routesList = await this.appendCreationLinksToRoutes(validRoutes,reused);
        const routesAssociateValid = routesList.filter(route => this.isValidAssociate(route));

        for (const route of routesAssociateValid) {
          const matchStaff = this.getAssociateLookupMap[route.staff.id]
          const staff = {
            id: matchStaff.id,
            firstName: matchStaff.firstName,
            lastName: matchStaff.lastName,
            receiveTextMessages: matchStaff.receiveTextMessages,
            receiveEmailMessages: matchStaff.receiveEmailMessages,
            phone: matchStaff.phone,
            email: matchStaff.email,
          };
          let vehicle = this.getVehicleLookupMap[route.vehicle.id]
          if(!vehicle){
            const response = await this.api(getVehicle, {id: route.vehicle.id})
            vehicle = response.data.getVehicle
          }
          const creationLink = route.creationLink;

          const date = this.$moment(this.date).format("dddd MM/DD/YYYY");
          const header = 'Vehicle Photo Log Creation';
          const subject = `Vehicle Photo Log for Vehicle: ${vehicle.name} (${date})`;
          const companyName = this.$store.state.userInfo.tenant.companyName;

          const bodyText = `${staff.firstName}, please create a Vehicle Photo Log for Vehicle ${vehicle.name}. This link expires at the end of the day: ${creationLink}`;
          const bodyHtml = `<span><b>${staff.firstName}</b>, please create a Vehicle Photo Log for the following Vehicle today: <b>${vehicle.name}</b>. This link will expire at the end of the day:</span> <a href="${creationLink}">Vehicle Photo Log Creation</a>`;

          try {
            await sendMessage({ staff, route, header, subject, bodyText, bodyHtml, companyName, user: this.$store.state.userInfo });
          }
          catch (error) {
            console.log(error);
          }
          
        }
      }
      catch (error) {
        console.log(error);
        this.displayUserError(error);
      }
      finally {
        this.sendingCreationLinks = false;
        this.sendCreationLinksDialog = {
          title: '',
          visible: false,
          rosterList: [],
          vehiclePhotoLogs: {},
          lettersMessage:{}
        };
      }
    },

    async sendMessages(routes){
      //creates an array of only active individuals
      var newArr = []
      routes.forEach(route => {
        var parentAdded = false
        if(!route.isNotActive){
          route.isReplacement = false
          newArr.push(route)
          parentAdded = true
        }
        route.replaceByRoute.items.forEach(replacementRoute =>{
          if (!replacementRoute.isNotActive){
            var replacementObj = {...replacementRoute}
            replacementObj.isReplacement = true
            if(!parentAdded){
              //if the parent record wasn't added, the helper and rescuer need to be added manually.
              replacementObj.helper = {...route.helper}
              replacementObj.rescuer = {...route.rescuer}
            }
            newArr.push(replacementObj)
          }
        })
      })

      const getTextForStandByMessage = (text) => text.startsWith('You are on standby')? `${text.split('.')[0]}.`: text;

      const routesAssociateValid = newArr.filter( route => this.isValidAssociate( route ) );
      await Promise.all( routesAssociateValid.map(async(route)=>{
        var status = route.status ? route.status.toLowerCase() : null

        //only sends message if the status of the route is not 'Called Out' or 'No Show, No Call'
        if(!status || (status && !status.includes('called out') && !status.includes('no show'))){
          this.sendingMessages = true
          let staff = route.staff
          const helper = this.getAssociateLookupMap[route.helper?.id] || route.helper;
          let date = this.$moment(this.date).format("dddd MM/DD/YYYY")
          let header = `Daily Roster for ${date}`
          let subject = `Daily Roster for ${date}`
          let companyName = this.$store.state.userInfo.tenant.companyName

          let helperMessage = `with ${ helper.firstName } ${ helper.lastName } `
          let bodyText = `You are ${route.standby ? 'on standby' : 'rostered'} ${helper.id ? helperMessage : '' }for ${date}. ${route.vehicle.name || route.device.deviceName || route.parkingSpace.option ? 'Your' : ''}${!route.vehicle.name ? '' : ' vehicle is ' + route.vehicle.name}${route.vehicle.name && route.device.deviceName ? ' with' : ''}${!route.device.deviceName ? '' : ' device ' + route.device.deviceName}${route.device.deviceName && route.parkingSpace.option  || route.vehicle.name && route.parkingSpace.option ? ' and' : ''}${!route.parkingSpace.option ? '' : ' parking space ' + route.parkingSpace.option}${!route.routeNumber ? '' : '. Your route is ' + route.routeNumber}${!route.staging ? '' : ' with staging ' + route.staging}${route.vehicle.name || route.device.deviceName || route.parkingSpace.option || route.routeNumber || route.staging ? '.' : ''}`
          let bodyHtml = `You are ${route.standby ? 'on standby' : 'rostered'} ${helper.id ? helperMessage : '' }for <strong>${date}</strong>.  ${route.vehicle.name || route.device.deviceName || route.parkingSpace.option ? 'Your' : ''}${!route.vehicle.name ? '' : ' vehicle is <strong>' + route.vehicle.name + '</strong>'}${route.vehicle.name && route.device.deviceName ? ' with' : ''}${!route.device.deviceName ? '' : ' device <strong>' + route.device.deviceName + '</strong>'}${route.device.deviceName && route.parkingSpace.option  || route.vehicle.name && route.parkingSpace.option ? ' and' : ''}${!route.parkingSpace.option ? '' : ' parking space <strong>'+ route.parkingSpace.option + '</strong>'}${!route.routeNumber ? '' : '. Your route is <strong>' + route.routeNumber + '</strong>'}${!route.staging ? '' : ' with staging <strong>' + route.staging + '</strong>'}${route.vehicle.name || route.device.deviceName || route.parkingSpace.option || route.routeNumber || route.staging ? '.' : ''}`

          bodyText = getTextForStandByMessage(bodyText);
          bodyHtml = getTextForStandByMessage(bodyHtml);

          var response = await sendMessage({staff, companyName, route, bodyText, bodyHtml, header, subject, user: this.$store.state.userInfo})

          // also send to helper
          if(helper.id){
            let helperMessage = `with ${ route.staff.firstName } ${ route.staff.lastName } `
            let bodyText = `You are ${route.standby ? 'on standby' : 'rostered'} ${helperMessage}for ${date}.  ${route.vehicle.name || route.device.deviceName || route.parkingSpace.option ? 'Your' : ''}${!route.vehicle.name ? '' : ' vehicle is ' + route.vehicle.name}${route.vehicle.name && route.device.deviceName ? ' with' : ''}${!route.device.deviceName ? '' : ' device ' + route.device.deviceName}${route.device.deviceName && route.parkingSpace.option || route.vehicle.name && route.parkingSpace.option ? ' and' : ''}${!route.parkingSpace.option ? '' : ' parking space ' + route.parkingSpace.option}${!route.routeNumber ? '' : '. Your route is ' + route.routeNumber}${!route.staging ? '' : ' with staging ' + route.staging}${route.vehicle.name || route.device.deviceName || route.parkingSpace.option || route.routeNumber || route.staging ? '.' : ''}`
            let bodyHtml = `You are ${route.standby ? 'on standby' : 'rostered'} ${helperMessage}for <strong>${date}</strong>.  ${route.vehicle.name || route.device.deviceName || route.parkingSpace.option ? 'Your' : ''}${!route.vehicle.name ? '' : ' vehicle is <strong>' + route.vehicle.name + '</strong>'}${route.vehicle.name && route.device.deviceName ? ' with' : ''}${!route.device.deviceName ? '' : ' device <strong>' + route.device.deviceName + '</strong>'}${route.device.deviceName && route.parkingSpace.option || route.vehicle.name && route.parkingSpace.option ? ' and' : ''}${!route.parkingSpace.option ? '' : ' parking space <strong>'+ route.parkingSpace.option + '</strong>'}${!route.routeNumber ? '' : '. Your route is <strong>' + route.routeNumber + '</strong>'}${!route.staging ? '' : ' with staging <strong>' + route.staging + '</strong>'}${route.vehicle.name || route.device.deviceName || route.parkingSpace.option || route.routeNumber || route.staging ? '.' : ''}`

            bodyText = getTextForStandByMessage(bodyText);
            bodyHtml = getTextForStandByMessage(bodyHtml);

            var helperResponse = await sendMessage({staff: helper, companyName, route, bodyText, bodyHtml, header, subject, user: this.$store.state.userInfo})
          }
        }
        else{
          console.log('message skipped due to route status')
        }
        
        //need to also send to active replacements
      }))

      this.sendingMessages = false
      this.sendScheduleDialogVisible = false
    },


    /**
     * SENDS OUT TEXT AND EMAIL FOR COUNSELING REQUIRED
     */
    async sendCounselingMessage(route){
      const matchStaff = this.getAssociateLookupMap[route.staff?.id] || {}
      const staff = {
        id: matchStaff.id,
        firstName: matchStaff.firstName,
        lastName: matchStaff.lastName,
        receiveTextMessages: matchStaff.receiveTextMessages,
        receiveEmailMessages: matchStaff.receiveEmailMessages,
        phone: matchStaff.phone,
        email: matchStaff.email,
      };
      if(!staff.email){
        this.$message.error("User must have an email to send counselings.");
        this.loading = false;
        return
      }
      let date = this.$moment(this.date).format("dddd MM/DD/YYYY")
      let header = `Counseling Required`;
      let subject = `Counseling Required`;
      let companyName = this.$store.state.userInfo.tenant.companyName
      let messageType = "Counseling"
      let bodyText = `We are informing you that a counseling is being required from your team leader for your route on ${date} at ${route.time}. Please meet with them after all routes are completed.`;
      let bodyHtml = `We are informing you that a counseling is being required from your team leader for your route on <strong>${date}</strong> at <strong>${route.time}</strong>. Please meet with them after all routes are completed.`;
      try{
        var response = await sendMessage({staff, companyName, route, bodyText, bodyHtml, header, subject, messageType, user: this.userInfo})
      }
      catch(e){
        this.printUserError(e)
        this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e.message
        })
      }  
    },

    /**
     * Confirm user wants to send the announcement
     */
    async confirmSendAll(sendToAll = true){
      // this.heraDown = true
      try {
        await this.$confirm(`This will send to all currently rostered and standby ${this.$t('label.associates')}`, 'Warning', {
          confirmButtonText: 'Continue',
          cancelButtonText: 'Cancel',
          type: 'warning'
        });
        await this.sendDAsAnnouncement(sendToAll);
      }
      catch (error) {
        console.log("canceled sending announcement");
      }
    },

    /**
     * To send the Announcement to DAs
     */
    async sendDAsAnnouncement(sendToAll = true){    
      try {
          // sending announcement
          const notesDate = this.rosterData.notesDate
          const attachmentId = this.attachmentData.id
          const withShortenUrl = this.attachmentData.id ? true : false
          const expirationDate = this.attachmentData.expirationDateString
          let formattedNotesDate= this.$moment(notesDate).format("dddd MM/DD/YYYY")
          let apiName = 'sendMessages';
          let path = '/sendStandUpAnnouncements';
          let post = {
              body: {
                dailyRosterId: this.rosterData.id,
                notificationPreferencesBaseUrl: window.location.origin,
                userInfo: this.userInfo,
                notesDate,
                formattedNotesDate,
                attachmentId,
                sendToAll,
                withShortenUrl,
                expirationDate
              }, 
              headers: {
                'Content-Type' : 'application/json',
                Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
              } 
          } 
          
          const notificationInstance = this.$notify({
            title: 'Info',
            message: 'Sending messages...',
            type: 'info',
            duration: 0
          })
          const result = await API.post(apiName, path, post)
          const messageText = result.body.numSent > 1 ? 'messages' : 'message'
          notificationInstance.close()
          this.displayUserNotification({
            title: 'Success', 
            message: `${result.body.numSent} ${messageText} sent successfully`, 
            type: 'success'
          })
      
          const time = this.$moment().format('LT');
          //Update last stand up sent time
          const input = {
            id: this.rosterData.id,
            lastStandUpSentTime: time
          }
          await this.api(updateDailyRoster, {input})

          this.sendingMessages = false
          this.sendScheduleDialogVisible = false
          await this.loadData();
      }
      catch(e){
        this.displayUserError(e)
      }

    },

    goToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails'})
    },

    openPremiumWarningModal(){
      this.showUpgradeDialog = true;
    },

    sleep(ms) {
    return new Promise((resolve) => {
      setTimeout(resolve, ms);
    });
    },
  }
}
</script>


<style>
.send-announcement-button{
  @apply text-xs my-0 py-0 !important;
  white-space: normal !important;
  width: 90%;
}  

</style>