<template>
    <div v-if="$store.getters.isLoggedIn">
        <div class="sm-wrap flex justify-between items-center">
            <div class="sm-wrap flex justify-between items-center">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                    <el-breadcrumb-item><i class="uil-calender"></i> Daily Rostering</el-breadcrumb-item>
                    <el-breadcrumb-item></el-breadcrumb-item>
                </el-breadcrumb>
                <div class="flex space-x-2 items-center" v-if="hasDailyRosteringManagement">
                    <div class="flex w-full">
                        <el-button-group class="calendar-slider flex w-full">
                            <el-button class="date-prev" size="small" @click="changeDate(-1)"><i class="mr-2 uil uil-angle-left-b"/>Previous <span class="hidden md:inline">Day</span></el-button>
                            <el-button class="date-picker-button">
                            <el-date-picker
                                v-if="!is_mobile"
                                class="date-picker"
                                v-model="date"
                                type="date"
                                :clearable="false"
                                placeholder="Pick a day"
                                format="MM/dd/yyyy"
                                size="small"
                                align="center"
                                :picker-options="pickerOptions">
                            </el-date-picker>
                            <el-date-picker
                                v-else
                                class="date-picker"
                                v-model="date"
                                type="date"
                                :clearable="false"
                                placeholder="Pick a day"
                                format="MM/dd/yyyy"
                                size="small"
                                align="center"
                                >
                            </el-date-picker>
                            </el-button>
                            <el-button class=" date-next" size="small" @click="changeDate(1)">Next <span class="hidden md:inline">Day</span> <i class="ml-1 uil uil-angle-right-b"/></el-button>
                        </el-button-group>
                    </div>
                    
                </div>
                
            </div>
            
           
             <!-- TAB CONTROL -->
            <el-radio-group data-cy="dr-tab-control-rad" @change="changeRadio($event)" v-model="radio" size="small" class="flex-none border-gray-600 pt-2 md:pt-0" v-if="hasDailyRosteringManagement">
                <el-radio-button class="w-35" label="Daily Roster"></el-radio-button>
                <el-radio-button class="w-35" label="Daily Report"></el-radio-button>
            </el-radio-group>
        </div>
       
        <div>
            <router-view></router-view>
        </div>

    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { dateTimeZone } from '@/utilities/getDate'

export default {
    name: 'DailyRosteringIndex',
    props: ['dateId'],
    data(){
        return {
            is_mobile: false,
            date: '',
            radio: 'Daily Roster',
            pickerOptions: {
                disabledDate(time) {
                const date = new Date();
                date.setTime(date.getTime() + 3600 * 1000 * 24 * 90);
                return time.getTime() > date;
                },
                shortcuts: [          
                {
                    text: 'Yesterday',
                    onClick(picker) {
                    const date = new Date();
                    date.setTime(date.getTime() - 3600 * 1000 * 24);
                    picker.$emit('pick', date);
                    }
                },
                {
                    text: 'Today',
                    onClick(picker) {
                    picker.$emit('pick', new Date());
                    }
                },  
                {
                    text: 'Tomorrow',
                    onClick(picker) {
                    const date = new Date();
                    date.setTime(date.getTime() + 3600 * 1000 * 24);
                    picker.$emit('pick', date);
                    }
                }
                ]
            }
        }
    },

    created(){
        if(this.isIos() || this.isAndroid()) this.is_mobile = true
        this.loadTab()
        const dateTimezone = dateTimeZone(this.dateId)
        const dateReplace = new Date(dateTimezone.replace(/-/g, '/'))
        this.date = dateReplace
    },

    computed:{
        ...mapGetters(['hasDailyRosteringManagement']),

      
    },

    watch:{

        date:function(){
            const year = this.date.getFullYear()
            const month = this.date.getMonth() + 1
            const day = this.date.getDate()
            const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`

            const rosterPath = `/daily-rostering/${formattedDate}/roster`
            const reportPath = `/daily-rostering/${formattedDate}/report`

            if(this.$route.name === 'DailyRoster'){
                if(this.$route.path !== rosterPath){  
                    this.$router.push({ name: 'DailyRoster' , params: { dateId: formattedDate } })
                }
            }
            if(this.$route.name === 'DailyReport'){
                if(this.$route.path !== reportPath){
                    this.$router.push({ name: 'DailyReport' , params: { dateId: formattedDate } })
                }
            }
            
        }
    },

    methods: {
        loadTab(){

            if(this.$route.name == 'DailyRoster'){
                this.radio = 'Daily Roster'
            }

            if(this.$route.name == 'DailyReport'){
                this.radio = 'Daily Report'
            }

        },

        changeRadio(e) {
            if (e == 'Daily Roster') {
                this.$router.push({ name:'DailyRoster' })
            }
            
            if (e == 'Daily Report') {
                this.$router.push({ name:'DailyReport' })
            }
        },

        /**
         * 
         * @param { Number } value 1 or -1
         * change the date to the next day or the day before
         */
        changeDate(value){
            let newDate = new Date()
            newDate.setTime(this.date.getTime() + (value * 3600 * 1000 * 24) )
            this.date = newDate
        },

    }
}
</script>
<style>
.date-picker-button {
    padding: 0;
    overflow: hidden;
    height: 2.05rem;
}
.date-picker input {
  border: none;
  @apply text-brand font-bold text-center text-base !important;
  width: 160px !important;
}
 
.date-prev, .date-next, .date-picker-button{
    border-radius: 0px !important;
    @apply shadow-none !important;
    width: 145px !important;
}
.calendar-slider{
  @apply shadow rounded-lg !important;
}
.date-prev{
  @apply rounded-l-lg !important;
  width: 130px !important;
}
.date-next{
  @apply rounded-r-lg !important;
  width: 105px !important;
}

@media only screen and (max-width: 768px) {
    .calendar-slider input.el-input__inner {
        font-size: 1em !important;  
        padding-left: 0;
    }
    .calendar-slider{
        @apply grid w-full grid-cols-3;
    }
    .el-button-group::before{
        display: none;
    }
    .calendar-slider .el-button.el-button--default{
        width: auto !important
    }
}
</style>