<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>{{podQualityCount}} POD Quality Report(s) With {{tableData.length}} Unmatched {{$t('label.associate')}} Records</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <el-input
          v-model="search"
          size="mini"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </span>  
    </div>

    <el-table
      ref="table"
      empty-text="No Data"
      :data="filterArray( tableData, search )"   
      style="width: 100%">

      
      <el-table-column
        label="Year"
        sortable
        width="100"
        prop="year">
      </el-table-column>

      <el-table-column
        label="Week"
        sortable
        width="100"
        prop="week">
      </el-table-column>


      <el-table-column
        label="Transporter ID"
        sortable
        prop="transporterId">
      </el-table-column>


      <el-table-column
        label="Import Name"
        sortable
        prop="employeeName">
      </el-table-column>

      

      <el-table-column
        :label="`Select ${$t('label.associate')}`"        
        prop="transporterId">
        <template slot-scope="scope">
          <el-select           
          @change="selectStaff(scope.row)"
          filterable
          v-model="scope.row.staffId"
          :placeholder="`Select ${$t('label.associate')}`">
            <el-option-group>
              <el-option divided value="Add New DA">+ Add New {{$t('label.associate')}}</el-option>
            </el-option-group>
            <el-option-group>
              <el-option              
                v-for="item in staff"
                :key="item.id"
                :label="item.firstName + ' ' + item.lastName"
                :value="item.id">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>  

      <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
            <i 
              title="Edit POD Quality Report"
              @click="openPodQualityReportModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
            <!-- <el-button type="text" size="small" @click="openPodQualityReportModal(scope.row)">Edit</el-button> -->
          </template>
      </el-table-column>    

  </el-table>
  <div v-if="nextToken" class="flex justify-center mt-4">
    <el-button round @click="loadData(false)">Load More</el-button>
  </div>

    <!--ADD DA MODAL-->
    <Dialog
      ref="newStaffDialog"
      :openDialog="addStaffModalOpen"
      :title="`Add ${$t('label.associate')}`"
      @cancel="closeDaForm"
      @create="saveAddNewStaff">
      <template v-slot:form>
        <AddDaForm class="w-full" ref="addDaForm" 
        :formFields="formFields"
        :disableTranspoterId="true"
        :requireTransporterId="false" />
      </template>
    </Dialog>

    <!--EDIT MODAL-->
    <el-dialog
      title="Edit POD Quality Report"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <PodQualityForm :formFields="editFields"/>

      <span slot="footer" class="dialog-footer">
        <el-button type="danger" class="float-left" @click="deletePodQualityReport">Delete</el-button>
        <el-button @click="editModalOpen = false">Cancel</el-button>
        <el-button type="primary" @click="updatePodQuality">Update</el-button>
      </span>
    </el-dialog>


  </div>
</template>

<script>
import { updateStaff, updatePodQuality, deletePodQuality } from '@/graphql/mutations.js'
import { podQualityReportsByGroupUnmatched, podQualityReportsByGroupAndTransporterId, staffIndex } from './queries'
import { getPodQualityUpdatedTimestamp } from '@/utilities/timestampQueries'
import PodQualityForm from '@/views/Staff/components/PodReports/PodForm.vue'

import Dialog from "@/components/Dialog/Dialog"
import AddDaForm from '@/views/Staff/components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"

export default {
  name: 'PodQualityIndex',
  components:{
    PodQualityForm,
    AddDaForm
  },
  mixins: [AddDaFormMixin],
  data() {
    return {
      tableData: [],
      search: '',
      staff: [],
      limit: 50,
      editModalOpen: false,
      editFields:{},
      nextToken: null,
      loading: false,
    }
  },
  mounted(){
    this.loadStaffData()
    this.loadData(true)
  },

  computed:{
    podQualityCount(){
      var unique = {};
      this.tableData.forEach(podQuality => {
        var yearWeek = podQuality.year + podQuality.week
        unique[yearWeek] = true
      })
      var keys = Object.keys(unique)
      return keys.length
    }
  },


  methods: {
    /**
     * Load data using the staffIndex custom GraphQL query
     */
    async loadStaffData(){
      try{
        //Load Staff With No Transporter ID
        var input = {
          group: this.$store.state.userInfo.tenant.group
        }
        this.staff = await this.gLoadListAll(staffIndex, input, 'staffsByGroup')
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },

    
    /**
     * Load data using the podQualityReportsByGroup custom GraphQL query
     */
    async loadData(refresh){
      this.loading = true
      try{      
        var input = {
          sortDirection: 'DESC',
          limit: this.limit,
          nextToken: refresh ? null : this.nextToken,
          group: this.$store.state.userInfo.tenant.group,
          matchedSYearWeek: {beginsWith: {matchedS: 'false'}}
        }
        const podQualityReports = await this.api(podQualityReportsByGroupUnmatched, input)
        this.nextToken = podQualityReports.data.podQualityReportsByGroupUnmatched.nextToken
        if(refresh) this.tableData = podQualityReports.data.podQualityReportsByGroupUnmatched.items
        else this.tableData = [...this.tableData, ...podQualityReports.data.podQualityReportsByGroupUnmatched.items]
        this.loading = false

      }catch(e){
        this.loading = false
        console.log(e)
        this.displayUserError(e)
      }
    },

    /**
     * Updates the pod quality report with the selected staff id and updates staff id with transporter id.
     * 
     */
    async selectStaff(row){
      try{

        //See if quick add was selected
        if(row.staffId == 'Add New DA'){
          row.staffId = null
          this.openStaffModal(row)
          return
        }

        var transporterId = row.transporterId
        var staffId = row.staffId

        //Find all pod quality reports with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.$store.state.userInfo.tenant.group
        }
        const podQualityReports = await this.gLoadListAll(podQualityReportsByGroupAndTransporterId, input, 'podQualityReportsByGroupAndTransporterId')
        if( podQualityReports.length > 1){
          await this.$confirm('Found ' + podQualityReports.length + ' POD quality reports(s) with this transporter ID. Are you sure you want to update all of them?')
        }

        //Get staff record
        this.loading = true
        var staff = this.staff.find((rec)=> rec.id == staffId)
        //If transporter id already exists, don't replace as it is probably more accurate than parsed data
        if(staff.transporterId){
          transporterId = staff.transporterId
        }
       
        //Update staff record
        input = {
          id: staffId,
          transporterId: transporterId
        }
        var updateStaffResponse = await this.api(updateStaff, {input})

        //Update all pod quality reports
        this.updatePodQualityReports(podQualityReports, staffId)

      }catch(e){
        this.loading = false
        if(e == 'cancel'){
          row.staffId = null
        }else{
          console.log(e)
          this.displayUserError(e)
        }
      }          
    },

    /**
     * Updates the pod quality report with the selected staff id and updates staff id with transporter id.
     * 
     */
    async updatePodQualityReports(podQualityReports, staffId){
      try{
        //Update all pod quality reports
        // podQualityReports.forEach(async (podQualityReport) => {
        for(const podQualityReport of podQualityReports){
          let input = {
            id: podQualityReport.id,
            podQualityStaffId: staffId,
            matched: true,
            matchedS: 'true',
            year: podQualityReport.year,
            week: podQualityReport.week
          }
          var updatePodQualityReportsResponse = await this.api(updatePodQuality, {input})
        };
        
        // setTimeout(()=>{
            // this.loadStaffData()
            this.loadData(true)
        // }, 500);

      }catch(e){
        console.log(e)
        this.displayUserError(e)   
      }          
    },

    openStaffModal(row){
      var nameArray = row.employeeName.split(" ")
      this.formFields = {
        status: 'Active',
        firstName: nameArray[0],
        lastName: nameArray[nameArray.length - 1],
        email: '',
        phone: '',
        transporterId: row.transporterId,
        dlExpiration: '',
        hireDate: '',
        authorizedToDrive: {}
      }
      this.addStaffModalOpen = true
    },

    /** Adds record to db */
    async saveAddNewStaff(){
      try {
        var transporterId = this.formFields.transporterId
        //Find all pod quality reports with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.$store.state.userInfo.tenant.group
        }
        const podQualityReports = await this.gLoadListAll(podQualityReportsByGroupAndTransporterId, input, 'podQualityReportsByGroupAndTransporterId')
        if( podQualityReports.length > 1){
          await this.$confirm('Found ' + podQualityReports.length + ' POD quality reports with this transporter ID. Are you sure you want to create a new ' + this.$t('label.associate') +' and update all the POD quality reports?')
        }
      }catch(e){
        if(e != 'cancel'){          
          console.log(e)
          this.displayUserError(e)
        }
      }
      
      // call mixin logic
      const newStaff = await this.validateForm("create")
      if(!newStaff) return
      
      //Update pod quality report
      this.updatePodQualityReports(podQualityReports, newStaff.id)

    },

    openPodQualityReportModal(podQualityReport){
        this.editFields = podQualityReport
        this.editModalOpen = true
    },
    
    async updatePodQuality(){
      try{
        let input = {...this.editFields}
        delete input.staffId
        await this.api(updatePodQuality, {input}, getPodQualityUpdatedTimestamp, 'getPodQuality' )
        this.editFields = {}
        this.editModalOpen = false
        this.loadData(true)
      }catch(e){
        console.log(e)
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    },


    async deletePodQualityReport(){
      try{
        await this.$confirm('This will permanently delete the POD quality report. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })

        var timestampResult = await this.api(getPodQualityUpdatedTimestamp, {id: this.editFields.id})
        if(!timestampResult.data.getPodQuality){
          throw "POD Quality is missing or deleted by another user."
        }
        var timestamp = timestampResult.data.getPodQuality.updatedAt
        if(this.editFields.updatedAt != timestamp){
          throw "Record was updated by another user. Please copy any changes and refresh the page."
        }

        await this.api(deletePodQuality, {input:{ id: this.editFields.id }} )
        this.editFields = {}
        this.editModalOpen = false
        this.loadData(true)
      }catch(e){
        console.log(e)
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    }


  },
}
</script>