<template>
  <div>
    <!--Header-->
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-9">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
        <el-breadcrumb-item>{{$t('label.associate')}} Kudos</el-breadcrumb-item>
      </el-breadcrumb>
      </div>
      <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-3">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div>
    </div>
    <DaKudosList range="all" class="mt-4" :search="search" :addKudo="$route.params.addKudo" />
  </div>
</template>

<script>
    import DaKudosList from '@/views/Performance&Coaching/Coaching/components/DaKudos/DaKudosList'

    export default {
        name: 'DaKudoIndex',
        components: {
            DaKudosList
        },
        data() {
            return {
                search: '',
                filterStatus: null,
            }
        },

        
    }
</script>
<style scoped>

</style>