<template>
  <div data-cy="da-driver-licenses-report">
    <div class="flex items-center justify-between">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center mb-4 h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Driver Licenses Report</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="flex gap-4">
      <div data-cy="past-due-dl-list" v-if="!loading" class="w-1/2 border shadow rounded-lg p-4"> 
            <DriversLicenseList 
              title="Past Due Driver Licenses"
              :startDate="invalid" 
              :endDate="twoMonths"
              :key="pastDueKey"
              :type="'expired'"
              @loadData="loadData"
            />
      </div> 
      <div data-cy="dl-due-soon-list" v-if="!loading"  class="w-1/2 border shadow rounded-lg p-4"> 
            <DriversLicenseList 
              title="Driver Licenses Due Soon (Within next 2 months)"
              :startDate="today" 
              :endDate="twoMonths"
              :key="dueSoonKey"
              :type="'expiring'"
              @loadData="loadData"
            />
      </div>    
    </div>
  </div>
</template>

<script>

import DriversLicenseList from './components/DriversLicenseList'

export default {
  components:{ DriversLicenseList },
  data() {
    return {
      loading: true,
      countDLExpired: 0,
      countDLExpiring: 0,
      today : null,
      twoMonths : null,
      invalid : null,
      dueSoonKey: 1,
      pastDueKey: 2

    }
  },
  mounted: function(){
    this.loadData()
    
  },

  computed: {
    
  },
  methods: {
    async loadData(){
      try{
        this.today = this.$moment().format('YYYY-MM-DD')
        this.twoMonths = this.$moment().add( 2 , "months" ).format('YYYY-MM-DD')
        this.invalid = this.$moment().subtract( 10 , "years" ).format('YYYY-MM-DD')
        this.dueSoonKey++
        this.pastDueKey++
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }finally{
        this.loading= false
      }
    }
  },
}
</script>