<template>
  <div>
    <!-- report summaries -->
    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks &
              Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Associates Missing a Phone Number Report</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <!-- New table -->
    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <div>
          <ContainerFilter inTable>
            <template v-slot:title>
              <div class="text-center">
                <span class="uppercase">Associates Missing a Phone Number</span>
              </div>
            </template>
            <template v-slot:filters>
              <CounterFilter :counter="getResumeFilters" />
              <MultiSelectFilter 
                type="status" 
                :title="`${$t('label.associate')} Status`"
                :filterAllTitle="`${$t('label.associate')} Statuses`" 
                :options="optionsStatus"
                :selected="filterOptionsStatus" 
                @update-filters="updateFilters" 
              />

              <MultiSelectFilter 
                type="sms" 
                title="SMS Opt Out Status"
                filterAllTitle="SMS Opt Out Statuses"
                :options="smsOutOptions"
                :selected="smsOptionsChecked" 
                @update-filters="updateFilters" 
              />

            </template>
          </ContainerFilter>
        </div>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="handleSearch"></SearchBox>
      </template>

      <CustomTable v-loading="loading" inTable v-if="dataReady" :columns="cols" :data="filteredData"
        :totalRecords="tableDataRecords" emptyText="No Associates" footerTable="Associates" @click-menu="handleCommand"
        :childs="{ children: 'records' }" :optionsRows="optionsContext" :optionsSubRows="optionsContext"
      >
        <template #status="row">
          <span class="font-bold rounded-full bg-opacity-10 px-3 py-1 text-xs mr-7 max-w-full flex-initial"
            :class="classStatus(row.status)">
            {{ row.status }}
          </span>
        </template>
        <template #optedOutSms="row">
          <span :class="{'font-bold': !row.receiveTextMessages}">{{ row.receiveTextMessages ? "On" : "Off" }}</span>
        </template>
      </CustomTable>
    </TableCard>
    <el-dialog :visible.sync="heraDown" width="320px" :show-close="false">
      <FeatureOffline feature="broadcasting messages" @close-modal="heraDown = false" />
    </el-dialog>

  </div>
</template>

<script>

import { staffsByGroupStatus } from './queries';
import FeatureOffline from '@/components/FeatureOffline'
import { mapState } from 'vuex'
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import { SMS, EMAIL } from '@/utilities/constants/messagePreferenceType';
import { createMessagePreferencesHistory, updateStaffPreferences } from './mutations';

export default {
  name: 'MissingPhoneNumberReport',
  components: {
    FeatureOffline,
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    SingleSelectFilter,
    MultiSelectFilter,
    CounterFilter
  },
  data() {
    return {
      heraDown: false,
      loading: true,
      dataReady: true,
      tableData: [],
      search: '',
      cols: [
        {
          name: "First Name",
          col: "firstName",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "150"
        },
        {
          name: "Last Name",
          col: "lastName",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "150"
        },
        {
          name: "SMS On/Off",
          col: "optedOutSms",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "165"
        },
        {
          name: "Email",
          col: "email",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "165"
        },
        {
          name: "Associate Status",
          col: "status",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "200"
        },
      ],
      optionsStatus: [],
      filterOptionsStatus: [
        "Active",
        "Inactive - Failed Onboarding",
        "Inactive - Medical Leave",
        "Inactive - Misc",
        "Inactive - Personal Time/Vacation",
        "Inactive - Terminated",
        "Onboarding"
      ],
      optionsContext: [
        {
          label: "Opt Back In Email",
          action: "optBackInEmail",
        },
        {
          label: "Opt Back In SMS",
          action: "optBackInSms",
        },
        {
          label: `View ${this.$t('label.associate')}`,
          action: "viewAssociates",
        },
      ],
      tableDataRecords: "",
      smsOutOptions: [ "SMS On", "SMS Off" ],
      smsOptionsChecked: [ "SMS On", "SMS Off" ]
    }
  },

  created() {
    this.loadData()
    let optionsStatus = this.valuelists['staff-status']?.items || [];
    this.optionsStatus = this.valueListActivesOnly(optionsStatus).map(v => (v.value))

    if (this.$route.params.beforeRoute) {
      this.filterOptionsStatus = [ "Active" ];
      this.updateShowDefaultFilter("SMS On");
    }
  },

  computed: {
    ...mapState(['userInfo', 'valuelists']),

    filteredData() {
      return this.filterArray(this.tableData, this.search);
    },

    getResumeFilters() {
      const filterAssociateStatus = this.filterOptionsStatus.length === this.optionsStatus.length ? 0 : 1;
      const filterSMSOutStatus = this.smsOptionsChecked.length === this.smsOutOptions.length ? 0 : 1;
      return filterAssociateStatus + filterSMSOutStatus;
    },
  },

  methods: {
    /**
     * Load data using the staffsByGroup custom GraphQL query
     */
    async loadData() {
      this.loading = true
      try {
        var input = {
          group: this.$store.state.userInfo.tenant.group,
          filter: { phone: { attributeExists: false } }
        }
        var staffs = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
        staffs.forEach(staff => {
          staff.smsStatus = staff.receiveTextMessages ? "SMS On" : "SMS Off"
        })
        this.tableData = staffs.filter(item => this.filterOptionsStatus.includes(item.status));
        const tableFilterByOptOutStatus = this.associatesFilteredBySMSOutStatus( [ ...this.tableData ] );
        this.tableData = [ ...tableFilterByOptOutStatus ];
        this.tableDataRecords = staffs.length
      } catch (e) {
        console.log(e)
        this.displayUserError(e)
      } finally {
        this.loading = false
        this.reloading = false
      }
    },

    sortFirstName(a, b) {
      return ('' + a.firstName?.toLowerCase()).localeCompare(b.firstName?.toLowerCase());
    },

    sortLastName(a, b) {
      return ('' + a.lastName?.toLowerCase()).localeCompare(b.lastName?.toLowerCase());
    },

    async optIn(row, type) {
      //Update Record
      try {
        const newReceiveMessagesValue = true
        let messagePreferencesHistoryInput = {
          group: row.group,
          datetime: new Date().toISOString(),
          messagePreferencesHistoryStaffId: row.id,
          description: `${this.userInfo.firstName} ${this.userInfo.lastName} changed the opt-in status to ${newReceiveMessagesValue}`
        }
       
        var rowIndex = this.tableData.findIndex(tableRow => tableRow == row)
        let input = {
          id: row.id,
        }

        if(type == "email") {
          if(!!row.receiveEmailMessages){
            this.showInfoNotification(row)
            return
          }
          input.receiveEmailMessages = newReceiveMessagesValue;
          messagePreferencesHistoryInput.messagePreferenceType = EMAIL;
        } else if (type == "SMS") {
          if(!!row.receiveTextMessages){
            this.showInfoNotification(row)
            return
          }
          input.receiveTextMessages = newReceiveMessagesValue,
          messagePreferencesHistoryInput.messagePreferenceType = SMS;
        } else {
          return
        }

        const response = await this.api(updateStaffPreferences, {input})
        const newData = response.data.updateStaff
        //update the row
        this.tableData[rowIndex].receiveEmailMessages = newData.receiveEmailMessages
        this.tableData[rowIndex].receiveTextMessages = newData.receiveTextMessages
         
        await this.createMessagePreferencesHistory(messagePreferencesHistoryInput);

        //notify user
        this.displayUserNotification({
          title: "Success",
          type: "success",
          message: row.firstName + " " + row.lastName + " has been opted back in for " + type
        })

      } catch (e) {
        console.log(e)
        this.displayUserError(e)
      }

    },


    showInfoNotification(row){
      this.displayUserNotification({
        title: "Info",
        type: "info",
        message: `No need to update for ${row.firstName} ${row.lastName}`
      })
    },

    async createMessagePreferencesHistory(input){
      try {
        await this.api(createMessagePreferencesHistory, {input})
      } catch (error) {
        this.displayUserError(error);
      }
    },

    updateFilters(e) {
      const { filters, type } = e;
      if ( type === 'sms' ) {
        this.smsOptionsChecked = filters;
      } else {
        this.filterOptionsStatus = filters;
      }
      this.loadData()
    },

    handleSearch(search) {
      this.search = search
    },

    handleCommand({ action, row }) {
      if (action == "optBackInEmail") {
        this.optIn(row, "email")
      }
      else if (action == "optBackInSms") {
        this.optIn(row, "SMS")
      }
      else if (action == "viewAssociates") {
        this.$router.push({ name: 'StaffDetail', params: { id: row.id } })
        return
      }
    },

    classStatus(status) {
      if (status === "Active") return "text-green-600 bg-green-500"
      return "text-red-600 bg-red-500"
    },

    associatesFilteredBySMSOutStatus(listAssociates) {
      const associatesFiltered = listAssociates.filter(associate => this.smsOptionsChecked.includes( associate.smsStatus ));
      return associatesFiltered;
    },

    updateShowDefaultFilter( filter ) {
      this.smsOptionsChecked = [ filter ];
    }
  }
}
</script>

<style lang="scss">

</style>