<template>
  <div v-loading="loading">
    <!--Header-->
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
        <div class="col-span-12 md:col-span-4 lg:col-span-5 xl:col-span-6">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum text-base">
          <el-breadcrumb-item :to="{ name: 'ReportsIndex' }">
            <i class="uil uil-file-alt"> Tasks & Reports</i>
          </el-breadcrumb-item>
          <el-breadcrumb-item>Scorecard Performance Data</el-breadcrumb-item>
        </el-breadcrumb>
      </div>

    <div class="col-span-12 md:col-span-4 xl:col-span-3">
      <el-input
        v-model="search"
        size="small"
        prefix-icon="uil uil-search"
        clearable
        class="flex-1 mr-1"
        :placeholder="`Search Scorecards by ${$t('label.associate')} Name...`"
        @change="searchChanged()"
      />
     </div>

     <div class="col-span-12 md:col-span-4 lg:col-span-3">
      <el-date-picker
        v-model="dateRange"
        type="daterange"
        size="small"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        format="MM/dd/yyyy"
        :clearable="false"
        :picker-options="pickerOptions"
        @change="dateRangeChanged()"
      />
      </div>

    </div>

    <!--SCORECARD TABLE-->
    <el-table
      ref="table"
      class="data-table"
      empty-text="No Scorecards"
      :data="tableData"
      :default-sort="{ prop: 'year', order: 'descending' }"
      style="width: 100%"
      header-cell-class-name="table-header-cell"
    >
      <el-table-column
        label="Year"
        align="center"
        prop="year"
        width="87"
      >
        <template slot-scope="scope">
          <div class="break-normal">
            {{ scope.row.year }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Week"
        align="center"
        prop="week"
        width="87"
      >
        <template slot-scope="scope">
          <div class="break-normal">
            {{ scope.row.week }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="Name" prop="name" width="150">
        <template slot-scope="scope">
          <div class="break-normal">
            {{ scope.row.name }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Transporter ID"
        align="center"
        prop="transporterId"
        width="140"
      >
        <template slot-scope="scope">
          <div class="break-normal">
            {{ scope.row.transporterId }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Overall Tier"
        align="center"
        prop="overallTier"
        width="124"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="'text-' + scope.row.overallTier.toLowerCase()"
          >
            {{ scope.row.overallTier | text }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Delivered"
        align="center"
        prop="delivered"
        width="95"
      >
        <template slot-scope="scope">
          <div class="break-normal">
            {{ scope.row.delivered | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Key Focus Area"
        align="center"
        width="150"
        prop="keyFocusArea"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.keyFocusArea ||
                scope.row.keyFocusArea === 'Coming Soon',
            }"
          >
            {{ scope.row.keyFocusArea | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Speeding Events Rate"
        align="center"
        prop="speedingEventRate"
        width="120"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.speedingEventRate ||
                scope.row.speedingEventRate === 'Coming Soon',
            }"
          >
            {{ scope.row.speedingEventRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Harsh Braking"
        align="center"
        prop="harshBrakingRate"
        width="100"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.harshBrakingRate ||
                scope.row.harshBrakingRate === 'Coming Soon',
            }"
          >
            {{ scope.row.harshBrakingRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Harsh Cornering"
        align="center"
        prop="harshCorneringRate"
        width="100"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.harshCorneringRate ||
                scope.row.harshCorneringRate === 'Coming Soon',
            }"
          >
            {{ scope.row.harshCorneringRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Seatbelt Off Rate"
        align="center"
        prop="seatbeltOffRate"
        width="100"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.seatbeltOffRate ||
                scope.row.seatbeltOffRate === 'Coming Soon',
            }"
          >
            {{ scope.row.seatbeltOffRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Distractions Rate"
        align="center"
        prop="distractionsRate"
        width="110"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.distractionsRate ||
                scope.row.distractionsRate === 'Coming Soon',
            }"
          >
            {{ scope.row.distractionsRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Following Distance Rate"
        align="center"
        prop="followingDistanceRate"
        width="120"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.followingDistanceRate ||
                scope.row.followingDistanceRate === 'Coming Soon',
            }"
          >
            {{ scope.row.followingDistanceRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Sign/Signal Violations Rate"
        align="center"
        prop="signSignalViolationsRate"
        width="150"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.signSignalViolationsRate ||
                scope.row.signSignalViolationsRate === 'Coming Soon',
            }"
          >
            {{ scope.row.signSignalViolationsRate | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="FICO" align="center" prop="ficoScore" width="80">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.ficoScore || scope.row.ficoScore === 'Coming Soon',
            }"
          >
            {{ scope.row.ficoScore | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="DCR" align="center" prop="dcr" width="80">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder: !scope.row.dcr || scope.row.dcr === 'Coming Soon',
            }"
          >
            {{ scope.row.dcr | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="DAR" align="center" prop="dar" width="80">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder: !scope.row.dar || scope.row.dar === 'Coming Soon',
            }"
          >
            {{ scope.row.dar | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="SWC-POD" align="center" prop="swcPod" width="115">
        <template slot-scope="scope">
          <div
            :class="{
              placeholder:
                !scope.row.swcPod || scope.row.swcPod === 'Coming Soon',
            }"
          >
            {{ scope.row.swcPod | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="SWC-CC" align="center" prop="dcr" width="110">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.swcCc || scope.row.swcCc === 'Coming Soon',
            }"
          >
            {{ scope.row.swcCc | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="SWC-SC" align="center" prop="dcr" width="110">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.swcSc || scope.row.swcSc === 'Coming Soon',
            }"
          >
            {{ scope.row.swcSc | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="DNRs" align="center" prop="dnrs" width="80">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder: !scope.row.dnrs || scope.row.dnrs === 'Coming Soon',
            }"
          >
            {{ scope.row.dnrs | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="POD Opps."
        align="center"
        prop="podOpps"
        width="80"
      >
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.podOpps || scope.row.podOpps === 'Coming Soon',
            }"
          >
            {{ scope.row.podOpps | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column label="CC Opps." align="center" prop="ccOpps" width="80">
        <template slot-scope="scope">
          <div
            class="break-normal"
            :class="{
              placeholder:
                !scope.row.ccOpps || scope.row.ccOpps === 'Coming Soon',
            }"
          >
            {{ scope.row.ccOpps | textractText }}
          </div>
        </template>
      </el-table-column>

      <el-table-column width="70" fixed="right" align="right">
        <template slot-scope="scope">
          <div class="flex align-middle">
            <i
              v-show="scope.row.staff"
              @click="viewDA(scope.row)"
              class="icon-button uil uil-file-landscape-alt -ml-2"
            />
            <i
              @click="openEditScorecardModal(scope.row)"
              class="icon-button uil uil-pen"
            />
          </div>
        </template>
      </el-table-column>
    </el-table>

    <p class="mt-4">{{ tableData.length || 0 }} Total Scorecards</p>

    <div class="mt-4 text-center">
      <el-button-group>
        <el-button
          type="text"
          @click="previousPage"
          :disabled="isPreviousButtonDisabled"
          style="width: 150px"
          ><i class="el-icon-arrow-left text-black"></i>Previous Page
        </el-button>
        <el-button
          type="text"
          @click="nextPage"
          :disabled="isNextButtonDisabled"
          style="width: 150px"
          >Next Page<i class="el-icon-arrow-right text-black"></i>
        </el-button>
      </el-button-group>
    </div>

    <el-dialog
      :title="'Edit Scorecard for Week ' + selectedScorecardWeek"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
    >
      <ScorecardForm ref="editModalForm" :formFields="editScorecardData" />
      <span slot="footer" class="dialog-footer">
        <el-button
          type="danger"
          class="float-left"
          @click="confirmDeleteScorecard"
          >Delete
        </el-button>
        <el-button @click="cancelEditModal">Cancel</el-button>
        <el-button type="primary" @click="updateScorecard">Update</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getStaffScoreCardUpdatedTimestamp } from '@/utilities/timestampQueries'
import { staffScorecardsByGroupMatchedAndName } from '@/graphql/queries'
import { updateStaffScoreCard, deleteStaffScoreCard } from '@/graphql/mutations'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import ScorecardForm from '@/views/ScoreCards/components/ScorecardForm'

export default {
  name: 'ScorecardPerformanceData',
  components: {
    ContextMenuHeaderIcon,
    ScorecardForm,
  },
  data() {
    return {
      loading: true,
      search: '',
      selectedScorecardWeek: '',
      editModalOpen: false,
      editScorecardData: {},
      tableData: [],
      nextToken: null,
      nextNextToken: null,
      previousTokens: [],
      disablePageButtons: false,
      dateRange: '',
      input: {},
    }
  },

  mounted() {
    if (this.$route.name == 'ScorecardPerformanceData') {
      this.initInput()
      this.loadData()
    }
  },

  computed: {
    isPreviousButtonDisabled: function () {
      return this.previousTokens.length === 0 || this.disablePageButtons
    },

    isNextButtonDisabled: function () {
      return this.nextNextToken === null || this.disablePageButtons
    },
  },

  methods: {
    initInput: function () {
      let input = {
        group: this.$store.state.userInfo.tenant.group,
        sortDirection: 'DESC',
        matchedSYearWeekName: {
          between: [
            {
              matchedS: 'true',
              week: this.$moment().subtract(1, 'months').week(),
              year: this.$moment().year(),
            },
            {
              matchedS: 'true',
              week: this.$moment().week(),
              year: this.$moment().year(),
            },
          ],
        },
        nextToken: this.nextToken,
      }

      this.input = { ...this.input, ...input }
    },

    loadData: async function () {
      try {
        this.loading = true

        let result = await this.api(
          staffScorecardsByGroupMatchedAndName,
          this.input
        )

        this.disablePageButtons = false
        this.nextNextToken =
          result.data.staffScorecardsByGroupMatchedAndName.nextToken
        this.tableData = result.data.staffScorecardsByGroupMatchedAndName.items
      } catch (e) {
        console.log(e)
      } finally {
        this.loading = false
      }
    },

    dateRangeChanged: function () {
      this.previousTokens = []
      this.nextToken = null

      if (!this.dateRange) {
        this.initInput()
      }

      if (this.dateRange) {
        this.input.matchedSYearWeekName = {
          between: [
            {
              matchedS: 'true',
              week: this.$moment(this.dateRange[0]).week(),
              year: this.$moment(this.dateRange[0]).year(),
            },
            {
              matchedS: 'true',
              week: this.$moment(this.dateRange[1]).week(),
              year: this.$moment(this.dateRange[1]).year(),
            },
          ],
        }
      }

      this.loadData()
    },

    searchChanged: function () {
      this.previousTokens = []
      this.input.nextToken = null
      delete this.input.filter

      if (this.search) {
        this.input.filter = {
          name: { contains: this.search },
        }
      }

      this.loadData()
    },

    previousPage: function () {
      this.disablePageButtons = true
      this.nextToken = this.previousTokens.pop()
      this.nextNextToken = null
      this.loadData()
    },

    nextPage: function () {
      this.disablePageButtons = true
      this.previousTokens.push(this.nextToken)
      this.nextToken = this.nextNextToken
      this.nextNextToken = null
      this.loadData()
    },

    /** Closes edit scorecard modal window */
    cancelEditModal: async function () {
      this.editScorecardData = {}
      this.editModalOpen = false
      this.$emit('loadData')
    },

    /** Prompt if scorecard should really be deleted*/
    async confirmDeleteScorecard() {
      this.$confirm(
        'This will permanently delete this scorecard. Continue?',
        'Warning',
        {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.commitDeleteScorecard()
        })
        .catch(() => {
          console.log('canceled delete')
        })
    },

    /** Delete scorecard from DB */
    async commitDeleteScorecard() {
      try {
        var timestampResult = await this.api(
          getStaffScoreCardUpdatedTimestamp,
          { id: this.editScorecardData.id }
        )
        if (!timestampResult.data.getStaffScoreCard) {
          throw 'Scorecard is missing or deleted by another user.'
        }
        var timestamp = timestampResult.data.getStaffScoreCard.updatedAt
        if (this.editScorecardData.updatedAt != timestamp) {
          throw 'Record was updated by another user. Please copy any changes and refresh the page.'
        }
        const result = await this.api(deleteStaffScoreCard, {
          input: { id: this.editScorecardData.id },
        })
        this.editScorecardData = {}
        this.editModalOpen = false
        this.$emit('loadData')
        this.$message({
          type: 'success',
          message: 'Scorecard Deleted',
        })
      } catch (e) {
        console.log(e)
        this.displayUserError(e)
      }
    },

    openEditScorecardModal(scorecard) {
      this.selectedScorecardWeek = `${scorecard.week} - ${scorecard.year}`
      this.editScorecardData = { ...scorecard }
      this.editModalOpen = true
    },

    viewDA: function (row) {
      this.$router.push({
        name: 'StaffDetail',
        params: { id: row.staff.id },
      })
    },

    /** Update a scorecard's information */
    async updateScorecard() {
      try {
        var timestampResult = await this.api(
          getStaffScoreCardUpdatedTimestamp,
          { id: this.editScorecardData.id }
        )
        if (!timestampResult.data.getStaffScoreCard) {
          throw 'Scorecard is missing or deleted by another user.'
        }
        var timestamp = timestampResult.data.getStaffScoreCard.updatedAt
        if (this.editScorecardData.updatedAt != timestamp) {
          throw 'Record was updated by another user. Please copy any changes and refresh the page.'
        }
        const input = {
          ...this.editScorecardData,
        }
        delete input.staff

        const result = await this.api(
          updateStaffScoreCard,
          { input: input },
          getStaffScoreCardUpdatedTimestamp,
          'getStaffScoreCard'
        )
        this.editModalOpen = false
        this.$emit('loadData')
        this.$message({
          type: 'success',
          message: 'Scorecard Updated',
        })
        this.loadData()
      } catch (e) {
        console.log(e)
        this.displayUserError(e)
      }
    },
  },
}
</script>

<style>
.el-date-editor {
  width: 100% !important;
}

.filter-btn {
  width: 210px;
  height: 32.5px;
  border-left: 0;

  border-radius: 0 !important;
  border-radius: 0 0.5rem 0.5rem 0 !important;
  box-shadow: none !important;

  @media (min-width: 400px) {
    width: 230px;
  }

  @media (min-width: 768px) {
    width: 270px;
  }
}
</style>