<template>
  <div v-if="$store.getters.isLoggedIn">
    <!--Header-->
    <div class="sm-wrap flex justify-between items-center mb-4">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item><i class="uil uil-user"></i> {{$t('label.associate')}} Management</el-breadcrumb-item>
        </el-breadcrumb>
        <div data-cy="damanagement-options">
          <el-radio-group @change="handleChange" v-model="radio" size="small" class="border-gray-600">
              <el-radio-button class="w-32" data-cy="dashboard-tab" label="dashboard">Dashboard</el-radio-button>
              <el-radio-button class="w-32" data-cy="dalist-option" label="associate-list">{{$t('label.associate')}} List</el-radio-button>
              <el-radio-button class="w-32" data-cy="onboarding-tab" label="onboarding">Onboarding</el-radio-button>
              <el-radio-button class="w-32" data-cy="bulk-updates-tab" label="bulk-updates">Bulk Updates</el-radio-button>
          </el-radio-group>
        </div>
    </div>
    <!-- If you don't have access -->
    <div v-if="!hasDAManagement" class="notes col-span-4 border rounded-lg shadow  p-4 whitespace-pre-line">
      <div class="flex justify-between">
        <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to {{$t('label.associate')}} Management in Hera.</h4>          
      </div>
    </div>
    <!-- Router View -->
    <div v-else>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
export default {
  name: 'StaffIndex',
  data(){
    return{
    }
  },
  props:{
    childRoute: {
      type: String,
      default: null
    }
  },
  mounted(){
    this.radio = this.childRoute
    this.handleChange()
  },
  computed:{
    ...mapState([
      'radioAssociateManagement'
    ]),
    ...mapGetters([
      'hasDAManagement'
    ]),
    radio: {
      get() {
        return this.radioAssociateManagement;
      },
      set(value) {
        if(!value) return
        this.$store.commit('setSelectedRadioOption', value);
      },
    },
    currentRoute() {
      return this.$route.name;
    },
  },
  methods:{
    handleChange(){
      const selectedRoute = this.radio;
      if (this.currentRoute !== selectedRoute) {
        this.$router.push({ name: this.radio });
      }
    }
  }
}
</script>

<style>

</style>