<template>
  <div>
    <!-- report summaries -->  
    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Opted Out of Communications Report</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <!-- New table -->
    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <div>
          <ContainerFilter inTable>
            <template v-slot:title>
              <div class="text-center">
                <span class="uppercase">Opted Out of Communications Report</span>
              </div>
            </template>
            <template v-slot:filters>
              <CounterFilter :counter="getResumeFilters" />
              <MultiSelectFilter
                type="status"
                :title="`${$t('label.associate')} Status`"
                :filterAllTitle="`${$t('label.associate')} Statuses`"
                :options="optionsStatus"
                :selected="filterOptionsStatus"
                @update-filters="updateFilters"
              />
              <MultiSelectFilter
                type="optout"
                title="Opt Out Status"
                filterAllTitle="Opt Out Status Statuses"
                :options="optOutOptions"
                :selected="optOutOptionSelected"
                @update-filters="updateFilters"
              />
            </template>
          </ContainerFilter>
        </div>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="handleSearch"></SearchBox>
      </template>

      <CustomTable
        v-loading="loading"
        inTable
        v-if="dataReady"
        :columns="cols"
        :data="filteredData"
        :totalRecords="tableDataRecords"
        emptyText="No Associates"
        footerTable="Associates"
        @click-menu="handleCommand"
        :childs="{ children: 'records' }"
        :optionsRows="optionsContext"
        :optionsSubRows="optionsContext"
      >
        <template #status="row">
          <span class="font-bold rounded-full bg-opacity-10 px-3 py-1 text-xs mr-7 max-w-full flex-initial" :class="classStatus(row.status)">
            {{ row.status }}
          </span>
        </template>
        <template #optedOutEmail="row">
          <span :class="{'font-bold': !row.receiveEmailMessages}">{{ row.receiveEmailMessages ? "On" : "Off" }}</span>
        </template>
        <template #optedOutSms="row">
          <span :class="{'font-bold': !row.receiveTextMessages}">{{ row.receiveTextMessages ? "On" : "Off" }}</span>
        </template>
      </CustomTable>
    </TableCard>
    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>
  
</div>
</template>

<script>

import { staffsByGroupStatus } from './queries';
import { createMessagePreferencesHistory, updateStaffPreferences } from './mutations';
import { SMS, EMAIL } from '@/utilities/constants/messagePreferenceType';
import FeatureOffline from '@/components/FeatureOffline'
import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import TabCard from "@/components/TableCard/TabCard";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";

const TAB_FILTERS = {
  email: [ "Email Off", "SMS On", "SMS Off" ],
  sms: [ "Email On", "Email Off", "SMS Off" ],
  both: [ "Email Off", "SMS Off" ]
}

export default {
  components:{
    FeatureOffline,
    PremiumWarning,
    TabCard,
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    SingleSelectFilter,
    MultiSelectFilter,
    CounterFilter
  },
  props:['tab'],
  data() {
    return {
      heraDown: false,
      loading: true,
      dataReady: true,
      tableData: [],
      numberOfStaff: 0,
      tableDataSelected: {},
      optionSelected: [],
      dataReady: true,
      search: '',
      cols: [
        {
          name: "First Name",
          col: "firstName",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "200"
        },
        {
          name: "Last Name",
          col: "lastName",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "200"
        },
        {
          name: "SMS On/Off",
          col: "optedOutSms",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "165"
        },
        {
          name: "Email On/Off",
          col: "optedOutEmail",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "175"
        },
        {
          name: "Phone",
          col: "phone",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "150"
        },
        {
          name: "Email",
          col: "email",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "200"
        },
        {
          name: "Status",
          col: "status",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "300"
        },
      ],
      optionsStatus: [],
      filterOptionsStatus: [],
      optionsContext: [
        {
          label: "Opt Back In Email",
          action: "optBackInEmail",
        },
        {
          label: "Opt Back In SMS",
          action: "optBackInSms",
        },
        {
          label: `View ${this.$t('label.associate')}`,
          action: "viewAssociates",
        },
      ],
      tableDataRecords: "",
      optOutOptionSelected: [ "Email On", "Email Off", "SMS Off" ],
      optOutOptions: [ "Email On", "Email Off", "SMS On", "SMS Off" ]
    }
  },

  created() {
    this.optionsStatus = this.valueListActivesOnly(this.valuelists['staff-status']?.items || []).map(v => (v.value))
    const { tab } = this.$route.params;
    if ( tab !== undefined ) {
      this.filterOptionsStatus = [ "Active" ]
      this.optOutOptionSelected = TAB_FILTERS[ tab ];
    }else{
      //all selected
      this.filterOptionsStatus = this.optionsStatus;
    }
  }, 

  mounted: function(){
    this.loadData()
  },

  computed: {
    ...mapState(['userInfo', 'valuelists']),

    filteredData() {
      return this.filterArray(this.tableData, this.search);
    },

    getResumeFilters() {
      const filterAssociateStatus = this.filterOptionsStatus.length === this.optionsStatus.length ? 0 : 1;
      const filterOptOutStatus = this.optOutOptionSelected.length === this.optOutOptions.length ? 0 : 1;
      return filterAssociateStatus + filterOptOutStatus;
    },

    isfilterSameType() {
      return this.optOutOptionSelected.every( option => option.includes( 'SMS' ) ) || this.optOutOptionSelected.every( option => option.includes( 'Email' ) );
    },

    hasOneFilterSelected() {
      return this.optOutOptionSelected.length === 1;
    },

    hasTwoFiltersSelected() {
      return this.optOutOptionSelected.length === 2;
    },

    countFiltersOptOut() {
      return this.optOutOptionSelected.length;
    },
  },

  methods: {
    /**
     * Load data using the staffsByGroup custom GraphQL query
     */
    async loadData(){
      try{
        var input = {
            group: this.$store.state.userInfo.tenant.group,
            filter: { 
              or: 
                [
                  { receiveTextMessages: { eq: false } }, 
                  { receiveEmailMessages: { eq: false } },
                ]
            }
        }
        var staffs = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
        staffs.forEach( staff => {
            staff.smsStatus = staff.receiveTextMessages ? "SMS On" : "SMS Off";
            staff.emailStatus = staff.receiveEmailMessages ? "Email On" : "Email Off";
        })
        let result = [...staffs]
        this.tableData = result.filter(item => this.filterOptionsStatus.includes(item.status));
        const tableFilterByOptOutStatus = this.associatesFilteredByOptOutStatus([ ...this.tableData ]);
        this.tableData = [ ...tableFilterByOptOutStatus ];

        this.tableDataRecords = staffs.length
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }finally{
        this.loading = false
        this.reloading = false
      }
    },

    sortFirstName(a,b){
      return ('' + a.firstName.toLowerCase()).localeCompare(b.firstName.toLowerCase());
    },  
    sortLastName(a,b){
      return ('' + a.lastName.toLowerCase()).localeCompare(b.lastName.toLowerCase());
    },  
    sortPhone(a,b){
      if(a.phone != null) a = '' + a.phone.replace(/\D/g,'')
      else if(a.phone == null) a = ''
      else a = '' + a.phone

      if(b.phone != null) b = b.phone.replace(/\D/g,'')
      else if (b.phone == null) b = ''
      else b = b.phone

      return (a).localeCompare(b);
    }, 

    async optIn(row, type){
        //Update Record

        try{

          const newReceiveMessagesValue = true
          let messagePreferencesHistoryInput = {
            group: row.group,
            datetime: new Date().toISOString(),
            messagePreferencesHistoryStaffId: row.id,
            description: `${this.userInfo.firstName} ${this.userInfo.lastName} changed the opt-in status to ${newReceiveMessagesValue}`
          }

          var rowIndex = this.tableData.findIndex(tableRow => tableRow == row)

          let input = {
            id: row.id,
          }
          if(type == "email"){
            if(!!row.receiveEmailMessages){
              this.showInfoNotification(row)
              return
            }
            input.receiveEmailMessages = newReceiveMessagesValue;
            messagePreferencesHistoryInput.messagePreferenceType = EMAIL;
          }else if (type == "SMS"){
            if(!!row.receiveTextMessages){
              this.showInfoNotification(row)
              return
            }
            input.receiveTextMessages = newReceiveMessagesValue,
            messagePreferencesHistoryInput.messagePreferenceType = SMS;
          }else{
            return
          }

          const response = await this.api(updateStaffPreferences, {input})
          const newData = response.data.updateStaff
          //update the row
          this.tableData[rowIndex].receiveEmailMessages = newData.receiveEmailMessages
          this.tableData[rowIndex].receiveTextMessages = newData.receiveTextMessages
          await this.createMessagePreferencesHistory(messagePreferencesHistoryInput);

          //notify user
          this.displayUserNotification({
            title: "Success", 
            type: "success", 
            message: row.firstName + " " + row.lastName + " has been opted back in for " + type
          })

        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }

    },

    showInfoNotification(row){
      this.displayUserNotification({
        title: "Info",
        type: "info",
        message: `No need to update for ${row.firstName} ${row.lastName}`
      })
    },

    async createMessagePreferencesHistory(input){
      try {
        await this.api(createMessagePreferencesHistory, {input})
      } catch (error) {
        this.displayUserError(error);
      }
    },

    updateFilters(e) {
      const { filters, type } = e;
      if ( type === 'optout' ) {
        this.optOutOptionSelected = filters;
      } else {
        this.filterOptionsStatus = filters;
      }
      this.loading = true
      this.loadData()
    },

    handleSearch(search) {
      this.search = search
    },

    handleCommand({ action, row }) {
      if(action == "optBackInEmail"){
        this.optIn(row, "email")
      }
      else if(action == "optBackInSms"){
        this.optIn(row, "SMS")
      }
      else if(action == "viewAssociates"){
        this.$router.push({name: 'StaffDetail', params:{id: row.id}})
        return
      }
    },

    classStatus(status){
      if(status === "Active") return "text-green-600 bg-green-500"
      return "text-red-600 bg-red-500"
    },

    associatesFilteredByOptOutStatus( listAssociates ) {
      const associates = [ ...listAssociates ];
      let associatesFiltered = [];
      if ( this.hasOneFilterSelected ) {
        const [ filter ] = this.optOutOptionSelected;
        associatesFiltered = filter.includes( 'SMS' ) ? 
          associates.filter( associate => this.optOutOptionSelected.includes( associate.smsStatus ) ) : 
          associates.filter( associate => this.optOutOptionSelected.includes( associate.emailStatus ) );
      } else if ( this.hasTwoFiltersSelected && this.isfilterSameType ) {
        associatesFiltered = associates;
      } else {
        associatesFiltered = 
          associates
            .filter( associate => this.optOutOptionSelected.includes( associate.smsStatus ) )
            .filter( associate => this.optOutOptionSelected.includes( associate.emailStatus ) );
      }
      return associatesFiltered;
    }
  }
}
</script>

<style lang="scss">
</style>