<template>
  <div data-cy="staff-detail-container" v-loading="loading">

    <!--DELETE DIALOG-->
    <el-dialog
    title="Are you sure?"
    :visible.sync="deleteDaDialog"
    :close-on-click-modal="false"
    width="30%"
    data-cy="modal_to_delete_da"
    >
      <div>
        <p class="padding-bottom-1 warning-message">Are you sure you want to delete this {{$t('label.associate')}}?</p>
        <p class="text-red-500 font-bold">There is no undo for this action.</p>
        <el-form label-position="top" ref="delete" :rules="deleteRules" :model="deleteConfirmation" :hide-required-asterisk="true"> 
          <el-form-item prop="delete" label="Type the word delete to confirm">
            <el-input v-model="deleteConfirmation.delete"></el-input>
          </el-form-item>
        </el-form>
        <div class="flex justify-end">
          <el-button type="default" class="cancel-button" @click="deleteDaDialog = false">Cancel</el-button>
          <el-button type="primary" @click="deleteDA" data-cy="btn-delete">Confirm</el-button>
        </div>
      </div>
    </el-dialog>

    <!--WARNING DIALOG-->
    <el-dialog
      title="Upgrade to Premium"
      :visible.sync="showUpgradeDialog"
      width="30%"
    >
      <PremiumWarning
      :action="premiumAction"
      premiumFeature="DA management">
      </PremiumWarning>
    </el-dialog>


    <!--RESCUED BY OTHERS ROUTES DIALOG-->
    <el-dialog
    title="Routes Rescued By Others"
    :visible.sync="rescuedRouteByOthersOpen"
    width="60%"
    :close-on-click-modal="false"
    :show-close="true">
        <RescuedRoutesTable :tableData="rescuedRoutesByOthers" :employeeLabel="'Rescued By'"></RescuedRoutesTable>
    </el-dialog>

    <!--RESCUED ROUTES DIALOG-->
    <el-dialog
    :title="rescuedRoutesDialogTitle"
    :visible.sync="rescuedRoutesOpen"
    :close-on-click-modal="false"
    width="60%"
    :show-close="true">
        <RescuedRoutesTable :tableData="rescuedRoutes" :employeeLabel="`Rescued ${$t('label.associate')}`"></RescuedRoutesTable>
    </el-dialog>

    <!--Header-->
    <div class="block md:flex mt-3 md:mt-0 w-full justify-between items-center" >
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }"><i class="uil uil-user"></i> {{$t('label.associate')}} Management</el-breadcrumb-item>
        <el-breadcrumb-item data-cy="da_page_fullname">{{fullName}}</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="flex space-x-2 items-center mt-3 md:mt-0">
        <el-popover :visible="true" placement="bottom" trigger="hover" popper-class="custom-tooltip-lowest-z-index">
          <template #reference>
            <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
          </template>
          <p class="font-bold mb-1 text-center">{{$t('label.associate')}} Status Change Log</p>
          <div class="overflow-y-auto max-h-96 max-w-md pr-2" >
            <StatusHistory :statusHistory="staffStatusHistorySorted.slice(0, 10)"/>
          </div>
          <button v-if="staffStatusHistorySorted.length > 10" class="link text-sm pt-2" @click="toggleAssociateStatusHistory">View all...</button>
        </el-popover>
        <Drawer
          v-if="showAssociateStatusHistoryDrawer"
          title="Associate Status Change Log"
          :visibility="showAssociateStatusHistoryDrawer"
        >
          <template v-slot:drawerContent>
            <div class="p-5">
              <StatusHistory :statusHistory="staffStatusHistorySorted"/>
            </div>
          </template>
          <template v-slot:drawerfooter>  
          <div class="custom-drawer__footer p-4 flex justify-end">
            <el-button @click="toggleAssociateStatusHistory">Close</el-button>
          </div>
        </template>
        </Drawer>
        <div class="el-form-item__label pr-0">{{$t('label.associate')}} Status</div>
        <div  @click="openStatusModal" class="status underline leading-10 transition duration-500 hover:text-brand cursor-pointer">
          {{staffData.status}}
        </div>
        <el-dropdown data-cy="specific_da_dropdown" @command=handleDropdownCommand>
          <ContextMenuHeaderIconButton/>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="message" v-if="hasMessengerManagement">Message</el-dropdown-item>
            <el-dropdown-item command="daPreference">{{$t('label.associate')}} Preference</el-dropdown-item>
            <el-dropdown-item command="deleteDA" divided data-cy="specific_da_delete_option">Delete {{$t('label.associate')}}</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>

    <!--Personal info-->
    <!-- labelType: Associates & title = fullName (default) -->
    <ProfileDescription
    v-if="staffData.id"
      labelType="Associates"
      :profileData="staffData"
      :userInfo="userInfo" 
      :fullName="fullName"
      @loadData="loadData">
    </ProfileDescription>

    <!--Pinned Onboarding Accordian-->
    <el-collapse class="-mt-4" v-model="pinnedOnboardingActive" v-if="staffData.status == 'Onboarding'" >
      <el-collapse-item title="ONBOARDING" name="PinnedOnboarding">
        <OnBoarding 
          :staffData="staffData"
          :dataStaffTableFilterByActive="dataStaffTableFilterByActive"
          :dataStaffTableFilterByInactive="dataStaffTableFilterByInactive"
          @pinOnboarding="pinOnboarding"
          @loadData="loadData"/>
      </el-collapse-item>
    </el-collapse>
  
    <!--Main Info Grid-->
    <div class="grid grid-cols-8 grid-flow-row gap-4">

      <div v-loading="loadingHeraScore" class="card col-span-8 xl:col-span-4 relative">
        <p class="card-title">Hera Score</p>
        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-3 grid-flow-row gap-1">
            <div class="col-span-1" >
                <div class="block md:flex">
                  <p class="text-gray-700 text-xs relative top-1">Hera Score Range</p>
                  <el-tooltip class="item" effect="dark" placement="top" popper-class="custom-tooltip-higher-z-index" >
                    <div slot="content" class="w-52">
                        The longer time frame you pick, the less your {{$t('label.associates')}}' Hera Scores will change. The recommended range is 15 - 30 days.
                    </div>
                    <i class="uil uil-question-circle text-base text-gray-700"/>
                  </el-tooltip>
                </div>
                <p class="text-lg font-bold text-brand">
                    {{ tenant.coachingDriverRankRange }} <span class="view-details">days</span>
                </p>
            </div>
            <div class="col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1" v-if="activeDas[staffData.id]">Hera Score</p>
                 <el-tooltip v-if="activeDas[staffData.id]" class="item" effect="dark" :content="'Hera Score from previous ' + tenant.coachingDriverRankRange + ' day range: ' + activeDas[staffData.id].heraScorePrev" placement="top" popper-class="custom-tooltip-higher-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <div class="text-lg font-bold text-brand" v-if="activeDas[staffData.id]">
                    <span >{{activeDas[staffData.id].heraScore}}</span>
                    <span class="align-text-bottom" v-if="activeDas[staffData.id].heraScore > activeDas[staffData.id].heraScorePrev">
                            <i class="align-top text-2xl p-0 uil uil-sort-amount-up text-green-500"></i>
                    </span>
                    <span v-else-if="activeDas[staffData.id].heraScore == activeDas[staffData.id].heraScorePrev">
                            <i class="ml-1 text-xl uil uil-bars text-blue-500"></i>
                        </span>
                    <span class="align-text-bottom" v-else-if="activeDas[staffData.id].heraScore < activeDas[staffData.id].heraScorePrev">
                            <i class=" align-top text-2xl p-0 uil uil-sort-amount-down text-red-500"></i>
                    </span>
                </div>
            </div>
            <div class="col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1" v-if="activeDas[staffData.id]">Hera Rank</p>
                 <el-tooltip v-if="activeDas[staffData.id]" class="item" effect="dark" :content="'Hera Rank based on selected ' + tenant.coachingDriverRankRange + ' day range'" placement="top" popper-class="custom-tooltip-higher-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <div class="text-lg font-bold text-brand" v-if="activeDas[staffData.id]">{{activeDas[staffData.id].heraRank}}</div>
            </div>
        </div>
        <div 
            @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
            class="premium-warning-container"
            v-if="!$store.getters.hasPerformanceCoaching">
            <div class="sample-pill">Sample Data</div>
            <div class="premium-warning-triangle">
                <p class="transform-text text-sm text-white">Requires Premium</p>
            </div>
        </div>
      </div>
        <div class="card col-span-8 xl:col-span-4">
            <p class="card-title">Overall Statistics</p>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 grid-flow-row gap-1">
            <div class="col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">Total Fantastic</p>
                 <el-tooltip class="item" effect="dark" content="Number of imported scorecards with fantastic rating" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                :class="{'text-gray-600': !numberWeeksFantastic, 'text-brand': numberWeeksFantastic }" 
                class="text-lg font-bold">
                {{ numberWeeksFantastic | text }}
                </p>
            </div>
            <div class="col-span-1 ">
                <div class="flex">
                  <p class="text-gray-700 text-xs relative top-1">Consecutive</p>
                  <el-tooltip class="item" effect="dark" content="Number of consecutive fantastic rated scorecards" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"></i>
                  </el-tooltip>
                </div>
                <p 
                :class="{'text-gray-600': !numberWeeksFantasticConsecutive, 'text-brand': numberWeeksFantasticConsecutive }"
                class="text-lg font-bold">
                {{ numberWeeksFantasticConsecutive | text }}
                </p>
            </div>
            <div class="col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">Times Rescued</p>
                 <el-tooltip class="item" effect="dark" :content="`Number of routes that were rescued by other ${$t('label.associates')}`" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"></i>
                 </el-tooltip>
                </div>
                <p class="text-lg font-bold text-brand">
                    {{ countOfRescuedRoutesByOthers }}  <el-button @click="showRescuedRoutesTable(true)" type="text" class="view-details-button">View</el-button>
                </p>
            </div>
            <div class="col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">Times Rescuer</p>
                 <el-tooltip class="item" effect="dark" :content="`Number of routes that the ${$t('label.associate')} rescued`" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"></i>
                 </el-tooltip>
                </div>
                <p class="text-lg font-bold text-brand">
                    {{ countOfRescuedRoutes }} <el-button @click="showRescuedRoutesTable(false)" type="text" class="view-details-button">View</el-button>
                </p>
            </div>
        </div>
      </div>
      <div class="-mt-3 card col-span-8 xl:col-span-8">
        <LatestScorecard
          v-if="staffData.id"
          :staffData="staffData"/>
      </div>
      <div class="-mt-3 card col-span-8 lg:col-span-4">
        <StaffPersonalInfo 
          v-if="staffData.id"
          :staffData="staffData"
          :userInfo="userInfo" 
          :fullName="fullName"
          @loadData="loadData"/>
      </div>
      <div class="-mt-3 card col-span-8 lg:col-span-4">
        <StaffPerformance
          v-if="staffData.id"
          :staffData="staffData"
          @loadData="loadData"/>
      </div>
      <div class="-mt-3 card col-span-8 lg:col-span-4">
        <StaffCompanyInfo 
          v-if="staffData.id"
          :staffData="staffData"
          :fullNameAssigned="fullNameAssigned"
          @loadData="loadData"/>
      </div>
      <div class="-mt-3 card col-span-8 lg:col-span-4">
        <StaffDriverInfo 
          v-if="staffData.defaultVehicle"
          ref="staffDriverInfo"
          :staffData="staffData"
          :authorizedToDrive="authorizedToDrive"
          @loadData="loadData"/>
      </div>
    </div>

    <!--Accordian-->
    <el-collapse v-model="collapseActive" class="mt-4">
      <el-collapse-item title="NOTES" name="notes">
        <StaffDAnotes
          v-if="staffData.id"
          :staffData="staffData"
          @collapse-danotes="collapse"
          @update-danotes="updateNote"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item
        v-if="hasCounselingSettings && hasCounselingManagement"
        title="COUNSELINGS"
        name="counseling"
      >
        <CounselingData
        v-if="staffData.id"
        :tableData="staffData.counselings.items"
        :staffID="staffData.id"
        @load-data="loadData"/>
      </el-collapse-item>
       <el-collapse-item title="SUPERVISOR FOR" name="supervisor" v-if="this.supervisorList.length > 0">
        <SupervisorData
          v-if="staffData.id" 
          :tableData="supervisorList"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item title="MENTOR DATA" name="mentorData">
        <StaffMentorData
          v-if="staffData.mentor" 
          :fullName="fullName"
          :tableData="staffData.mentor.items"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item :title="`${$t('label.associate')} Issues &amp; Kudos`" name="issuesAndKudos" class="relative">
            <el-tabs v-model="activeIssuesAndKudosTap">
                <el-tab-pane name="issues">
                    <span slot="label">
                        {{$t('label.associate')}} Issues
                    </span>
                    <DaIssueList ref="issueList" v-if="staffData.id" :range="!$store.getters.hasStaffManagement ? 'sample' : 'all'" :daFirstName="staffData.firstName" :daLastName="staffData.lastName" :daId="staffData.id"/>
                </el-tab-pane>
                <el-tab-pane name="kudos">
                    <span slot="label">
                        {{$t('label.associate')}} Kudos
                    </span>
                    <DaKudosList ref="kudoList" v-if="staffData.id" :range="!$store.getters.hasStaffManagement ? 'sample' : 'all'" :daId="staffData.id"/>
                </el-tab-pane>
            </el-tabs>
            <!-- PREMIUM TRIANGLE -->
            <div 
                @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
                class="premium-warning-accordion-container"
                v-if="!$store.getters.hasStaffManagement">
                <div class="sample-pill">Sample Data</div>
                <div class="premium-warning-triangle">
                <p class="transform-text text-sm text-white">Requires Premium</p>
                </div>
            </div>
      </el-collapse-item>
      <el-collapse-item title="NETRADYNE ALERTS" class="relative overflow-hidden" name="netradyneAlertData" id="netradyneAlertData">
        <StaffNetradyneAlertData
          v-if="staffData.id" 
          :staffId="staffData.id"/>
          <!-- PREMIUM TRIANGLE -->
          <div 
            @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
            class="premium-warning-accordion-container"
            v-if="!$store.getters.hasPerformanceCoaching">
            <div class="sample-pill">Sample Data</div>
            <div class="premium-warning-triangle">
              <p class="transform-text text-sm text-white">Requires Premium</p>
            </div>
          </div>
      </el-collapse-item>
      <el-collapse-item v-if="!USER_PERMISSIONS || (USER_PERMISSIONS && $store.state.userInfo.permissionDocuments)" title="DOCUMENTS" name="documents">
        <StaffDocuments 
          v-if="staffData.documents" 
          :fullName="fullName"
          :staffData="staffData"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item v-show="!$store.getters.isTeamLead" title="MEDICAL CARDS" name="physicals">
        <Physical
          v-if="staffData.physicals" 
          :staffData="staffData" 
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item :title="accidentTitle" name="accidents">
        <AccidentList 
          v-if="staffData.accidents"
          :fullName="fullName"
          :staffID="staffData.id"
          :firstName="staffData.firstName"
          :lastName="staffData.lastName"/>
      </el-collapse-item>
      <el-collapse-item v-if="!USER_PERMISSIONS || (USER_PERMISSIONS && $store.state.userInfo.permissionInjuries)" title="INJURIES" name="injuries">
        <InjuryList 
          v-if="staffData.injuries"
          :fullName="fullName"
          :staffID="staffData.id" />
      </el-collapse-item>
      <el-collapse-item v-if="((!USER_PERMISSIONS && !$store.getters.isTeamLead) || (USER_PERMISSIONS && $store.state.userInfo.permissionDrugTests))" title="DRUG TESTS" name="drugTests">
        <DrugTest 
          v-if="staffData.drugTests" 
          :staffData="staffData" 
          @loadData="loadData"
          @showWarningDialog="showWarningDialog"/>
      </el-collapse-item>
      <el-collapse-item title="UNIFORMS" name="uniforms">        
        <UniformList
          v-if="staffData.uniforms" 
          :uniforms="staffData.uniforms.items || []" 
          :staffId="staffData.id"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item title="PAST SCORECARDS" name="pastScorecards">
        <StaffPastScorecards 
          v-if="staffData.scoreCards" 
          :tableData="staffData.scoreCards.items"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item title="PAST CUSTOMER FEEDBACK" name="pastCXFeedback">
        <StaffPastCxFeedback
          v-if="staffData.cxFeedback" 
          :tableData="staffData.cxFeedback.items"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item title="PAST POD QUALITY REPORTS" name="pastPod">
        <StaffPastPodReports
          v-if="staffData.podQualities" 
          :tableData="staffData.podQualities.items"
          @loadData="loadData"/>
      </el-collapse-item>
      <el-collapse-item title="PAST COACHING OPPORTUNITIES" name="pastMessages">
        <StaffPastCoachingOpportunities
          v-if="coachingMessages" 
          :tableData="coachingMessages"/>
      </el-collapse-item>
      <el-collapse-item v-if="staffData.status != 'Onboarding'" title="ONBOARDING" name="onboarding">
        <OnBoarding 
          :staffData="staffData"
          @pinOnboarding="pinOnboarding"
          @loadData="loadData"
          :dataStaffTableFilterByActive="dataStaffTableFilterByActive"
          :dataStaffTableFilterByInactive="dataStaffTableFilterByInactive"
        />
      </el-collapse-item>
    </el-collapse>

    <!--STATUS DIALOG-->
    <FormChangeStatusDialog :items="valueListActivesOnly(valuelists['staff-status'].items)" :staffData="staffData" v-if="valuelists['staff-status'] && statusOpen" @closeFormDialog="statusOpen = false" @updated="updateStatusStaff($event)" />

    <!--USER SYSTEM PREFERENCES-->
    <el-dialog
      :title="staffData.firstName + ' ' + staffData.lastName + '\'s Preferences'"
      :visible.sync="systemPreferences.open"
      :close-on-click-modal="false"
      width="50%"
      >
      <StaffSystemPreferences :data="staffData" :systemPreferences = "systemPreferences" ref="staffSystemPreferences"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="systemPreferences.open = false" :disabled="systemPreferences.loading">Done</el-button>
      </span>
    </el-dialog>

    <div class="fixed z-20 bottom-0 left-0 w-full bg-white border">
      <div class="flex space-x-8 p-4">
        <div class="mx-auto space-x-8 flex">
          <router-link v-if="prevStaff" class="flex items-center space-x-4" :to="{name: 'StaffDetail', params:{id: prevStaff.id }, query: $route.query}">
            <div>
              <i class="el-icon-arrow-left text-xl"/>
            </div>
            <div>
              <p class="text-brand text-sm">Previous</p>
              <p class="text-xs">{{prevStaff.firstName}} {{prevStaff.lastName}}</p>
            </div>
          </router-link>
          <router-link class="flex items-center space-x-4" :to="{name: previousRoute.route ? previousRoute.route : 'StaffIndex'}">
            <div>
              <p class="text-brand text-sm">Go back to</p>
              <p class="text-xs">{{ previousRoute.routeName ? previousRoute.routeName : 'DA Management' }}</p>
            </div>
          </router-link>
          <router-link v-if="nextStaff" class="flex items-center space-x-4 text-right" :to="{name: 'StaffDetail', params:{id: nextStaff.id }, query: $route.query}">
            <div>
              <p class="text-brand text-sm">Next</p>
              <p class="text-xs">{{nextStaff.firstName}} {{nextStaff.lastName}}</p>
            </div>
            <div>
              <i class="el-icon-arrow-right text-xl"/>
            </div>
          </router-link>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import { getStaff, messagesByStaffAndMessageType, staffsByGroup, staffScoreCardsByGroup, accidentsByStaffAndHistoryType  } from './queries'
import { getStaffUpdatedTimestamp, getStaffStatusUpdatedTimestamp } from '@/utilities/timestampQueries'
import { createStaffStatus, updateTenant, deleteOnBoard, deleteStaff, deleteStaffStatus, deleteOptionsCustomListsStaff } from '@/graphql/mutations'
import { updateStaff } from '@/store/mutations'
import { mapState, mapGetters } from 'vuex'
import OnBoarding from './components/Onboarding/Onboarding'
import StaffDocuments from './components/Documents/Documents'
import StaffDAnotes from './components/DAnotes/DAnotes'
import StaffDriverInfo from './components/DriverInfo/DriverInfo'
import StaffPastScorecards from './components/PastScorecard/PastScorecards'
import StaffPastCoachingOpportunities from './components/CoachingOpportunities/PastMessages'
import StaffMentorData from './components/Mentor/MentorData'
import StaffNetradyneAlertData from './components/NetradyneAlert/NetradyneAlertTable'
import StaffPersonalInfo from './components/PersonalInfo/PersonalInfo'
import ProfileDescription from '@/components/Profile/ProfileDescription'
import StaffCompanyInfo from './components/CompanyInfo/CompanyInfo'
import StaffPerformance from './components/LatestPerformance'
import StaffCxFeedback from './components/CxFeedback'
import StaffPastPodReports from './components/PodReports/PastPodReports'
import AccidentList from '@/views/Accident/AccidentList'
import StaffPastCxFeedback from './components/CustomerFeedback/PastCxFeedback'
import UniformList from './components/Uniforms/UniformList'
import InjuryList from './components/Injuries/InjuryList'
import Physical from './components/Physicals/Physical'
import DrugTest from './components/DrugTests/DrugTest'
import StaffSystemPreferences from './components/SystemPreferences'
import LatestScorecard from './components/LatestScorecard'
import CounselingData from './components/Counseling/CounselingData'
import SupervisorData from './components/Supervisor/SupervisorData'
import RescuedRoutesTable from './components/Routes/RescuedRoutes'
import store from '@/store'
import PremiumWarning from '@/components/PremiumWarning'
import Validator from '@/utilities/FormValidator'
import DaKudosList from '@/views/Performance&Coaching/Coaching/components/DaKudos/DaKudosList'
import DaIssueList from '@/views/DaIssues/components/DaIssueList.vue'
import FormChangeStatusDialog from './components/FormChangeStatusDialog'
import { phoneNumberFormatUS } from '@/utilities/phoneNumberFormat'
import ContextMenuHeaderIconButton from '@/components/ContextMenuHeaderIconButton'
import moment from 'moment-timezone';
import Drawer from "@/components/shared/Drawer/Drawer"
import mixin from '@/mixins/vehicleType'
import EventBus from '@/eventBus'
import { loadDaPerformanceData } from '@/views/DaPerformanceReport/calculateDaPerformanceReport'
import labelsMixin from "@/mixins/labelsMixin"
import StatusHistory from '@/components/shared/StatusHistory/StatusHistory'

export default {
  name: 'StaffDetail',
  components:{ 
    ContextMenuHeaderIconButton,
    AccidentList,
    UniformList, 
    OnBoarding,
    StaffDocuments,
    StaffDriverInfo,
    StaffPastScorecards,
    StaffMentorData,
    InjuryList,
    ProfileDescription,
    StaffPersonalInfo,
    StaffCompanyInfo,
    StaffDAnotes, 
    StaffCxFeedback,
    StaffPastCxFeedback, 
    StaffPastPodReports,
    StaffPerformance,
    StaffPastCoachingOpportunities,
    Physical, 
    DrugTest, 
    StaffSystemPreferences,
    LatestScorecard,
    CounselingData,
    SupervisorData,
    RescuedRoutesTable,
    PremiumWarning,
    StaffNetradyneAlertData,
    DaKudosList,
    DaIssueList,
    FormChangeStatusDialog,
    Drawer,
    StatusHistory
  },  
  props: ['id', 'fromNetradyneDashboard'],
  mixins: [mixin, labelsMixin],
  data(){
    return{
      USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
      driverRankRangeOptions: [7,15,30,45,60,75,90,105,120,135,150,165,180],
      activeIssuesAndKudosTap: 'issues',
      active: true,
      staffData:{},
      labelType: "Associates",
      tenant: {},
      activeDas: {},
      authorizedToDrive: {},
      photoUrl: null,
      sortedScoreCards: [],
      coachingMessages: [],
      accidents: [],
      showUpgradeDialog: false,
      systemPreferences: {
        open: false,
        loading: false
      },
      statusOpen: false,
      collapseActive: [],
      pinnedOnboardingActive: ['PinnedOnboarding'],
      loading: true,
      loadingHeraScore: false,
      rescuedRoutesByOthers: [],
      countOfRescuedRoutesByOthers: 0,
      rescuedRoutes: [],
      countOfRescuedRoutes: 0,
      rescuedRoutesOpen: false,
      rescuedRouteByOthersOpen: false,
      deleteDaDialog: false,
      deleteConfirmation: {
        delete: ''
      },
      deleteRules: {
        delete: [
          { required: true, message: 'Please enter the correct phrase to confirm', validator: Validator.delete },
        ]
      },
      premiumAction: '',
      fullNameAssigned: null,
      supervisorList: [],
      previousRoute: {
        routeName: this.$route.query.previousRouteText,
        route: this.$route.query.previousRouteName
      },
      dataStaffTableFilterByActive: [],
      dataStaffTableFilterByInactive: [],
      showAssociateStatusHistoryDrawer: false,
    }
  },

  watch:{
    onBoardingComplete(newVal){
      if(newVal && this.staffData.status == "Onboarding"){
        this.statusOpen = true
      }
    },
    
  },

  mounted(){
    if(window.Cypress) window.StaffDetail=this
    this.$nextTick(async()=>await this.loadData())

    EventBus.$on('reload-da-performance-report', () => { 
      this.getDataFromStore()
    })
  },
  
  beforeDestroy(){
    EventBus.$off('reload-da-performance-report')
  },

  computed: {
    ...mapState([
      'userInfo',
      'valuelists',
      'messengerNotifications'
    ]),
    
    ...mapState('subscriptionStore', [
        'associateList',
    ]),

    ...mapGetters([
      'hasMessengerManagement',
      'getTenantCoachingInfo',
      'getDaPerformanceData',
      'hasCounselingSettings',
      'hasCounselingManagement',
    ]),

    accidentTitle(){
        if(!this.USER_PERMISSIONS || (this.USER_PERMISSIONS && this.$store.state.userInfo.permissionAccidents)){
            return 'Incidents & Vehicle Damage'
        }
        else if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
            return 'Vehicle Damage'
        }
    },

    fullName() {
      return this.staffData.firstName + " " + this.staffData.lastName
    },

    latestScorecard() {
      if(!this.staffData.scoreCards || this.staffData.scoreCards.items.length < 1) return {}
      return this.staffData.scoreCards.items.reduce(function(a, b){
          return parseInt(a.year+a.week.padStart(2, 0)) > parseInt(b.year+b.week.padStart(2, 0)) ? a : b
      })
    },

    prevStaff(){
      let currentIndex = this.associateList.findIndex(staff => staff.id === this.id)
      let prevIndex = currentIndex - 1
      if( prevIndex < 0){
        return null
      }
      return this.associateList[prevIndex]
    },

    nextStaff(){
      let currentIndex = this.associateList.findIndex(staff => staff.id === this.id)
      let nextIndex = currentIndex + 1
      if( nextIndex === this.associateList.length){
        return null
      }
      return this.associateList[nextIndex]
    },

    numberWeeksFantastic(){
      if(!this.latestScorecard.id) return ''
      var accumulator = 0
      return this.staffData.scoreCards.items.filter( (scoreCard) =>{
        return scoreCard.overallTier == "Fantastic"
      }).length
    },

    onBoardingComplete() {
      if(!this.staffData.onBoarding) return false
      if(this.staffData.onBoarding.items.length < 12) return false
      return this.staffData.onBoarding.items.every((task) =>{
        return task.isComplete == true || 
        task.status == 'Completed' || 
        task.status == 'Cleared' || 
        task.status == 'Not Required' || 
        task.status == 'Signed' || 
        task.status == 'Amazon Cleared' ||
        task.status == 'Profile Completed' ||
        task.status == 'Account Created'
      })
    }, 

    staffStatusHistorySorted() {
      if(!this.staffData.staffStatusHistory) return []
      return this.staffData.staffStatusHistory.items.sort((a,b) => {
        return new Date(b.createdAt) - new Date(a.createdAt);
      })
    },

    rescuedRoutesDialogTitle(){
      return "Routes Rescued By " + this.staffData.firstName + " " + this.staffData.lastName
    },

    scoreCardsSorted(){
      if(!this.staffData.scoreCards) return []
      return this.staffData.scoreCards.items.sort((a,b) => {
        return parseInt(b.year+b.week.padStart(2, 0)) - parseInt(a.year+a.week.padStart(2, 0))
      })
    },

    numberWeeksFantasticConsecutive(){
      if(!this.scoreCardsSorted.length) return ''
      var accumulator = 0
      for(const scoreCard of this.scoreCardsSorted){
        if(scoreCard.overallTier == "Fantastic") accumulator++
        else break
      }
      return accumulator.toString()
    }

    
  },
  
  methods: {
      async updateTenant(){
            try {
              if(this.staffData.status && !this.staffData.status.toLowerCase().includes('onboarding')){
                // this.loading = true
                var input = {
                    ...this.tenant
                }

                await this.api(updateTenant, {input: input})   
                // this.loadData()

                
                this.loadHeraScore()
              }
            } 
            catch(e) {
                this.loading = false
                console.log(e)
                this.displayUserError(e)   
            }
        },

    /**
     * Deletes DA
     */
    async deleteDA(){
      try{
        this.$refs.delete.validate((valid) => {
          if (!valid) {
            throw{
              errors: [
                { message: "Error: Incorrect phrase"}
              ]
            }
          }
        })
        this.deleteDaDialog = false
        this.loading = true


        //delete onboarding records
        var onBoardings = this.staffData.onBoarding.items
        for(var onBoarding of onBoardings){
          let input = {
            id: onBoarding.id
          }
          let result = await this.api(deleteOnBoard, {input})
        }

        //delete status history records
        var statusHistory = this.staffData.staffStatusHistory.items
        for(var history of statusHistory){
          let input = {
            id: history.id
          }
          let result = await this.api(deleteStaffStatus, {input})
        }

        //Delete Options Custom List Staff 
        let staffAuthorizedToDriveList = this.staffData.authorizedToDrive.items

        for(const item of staffAuthorizedToDriveList) {
          let input = {
            id: item.id
          }
          await this.api(deleteOptionsCustomListsStaff, { input })
        }

        let input = {
          id: this.staffData.id
        }
        //Delete Labels subs
        for(const subs of this.staffData.labels.items){
          this.labelsModule_deleteLabelSubscription(subs.id)
        }

  
        var result = await this.api(deleteStaff, {input})

        this.displayUserNotification({
          title: "Success",
          type: "success",
          message: `${this.$t('label.associate')} deleted.`
        })
        this.$router.push({name: 'StaffIndex'})
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
      finally{
        this.loading = false
      }
    },

    /**
     * Opens delete dialog if DA has no related data
     */
    openDeleteDaDialog(){

      if(JSON.stringify(this.staffData.defaultVehicle) == "{}" &&
      JSON.stringify(this.staffData.defaultVehicle2) == "{}" && 
      JSON.stringify(this.staffData.defaultVehicle3) == "{}" && 
      this.staffData.accidents.items.length == 0 &&
      this.staffData.counselings.items.length == 0 && 
      this.staffData.cxFeedback.items.length == 0 &&
      this.staffData.documents.items.length == 0 &&
      this.staffData.drugTests.items.length == 0 &&
      this.staffData.infractions.items.length == 0 &&
      this.staffData.injuries.items.length == 0 &&
      this.staffData.mentor.items.length == 0 &&
      this.staffData.messages.items.length == 0 &&
      this.staffData.podQualities.items.length == 0 &&
      this.staffData.physicals.items.length == 0 &&
      this.staffData.route.items.length == 0 &&
      this.staffData.routeHelper.items.length == 0 &&
      this.staffData.routeRescuer.items.length == 0 &&
      this.staffData.scoreCards.items.length == 0 &&
      this.staffData.uniforms.items.length == 0
      ){
        this.deleteDaDialog = true
      }
      else{
        var e = `Cannot delete ${this.$t('label.an_associate')} that is being used in Hera.`
        this.displayUserError(e)
      }

    },

    collapse() {
      this.collapseActive = []
    },

    async updateNote(datanote) {
      try{
        this.collapse()
        var input = {
          id: this.staffData.id,
          notes: datanote,
          updatedAt: this.staffData.updatedAt
        }
        const { data } = await this.api(updateStaff, {input}, getStaffUpdatedTimestamp, 'getStaff')
        this.staffData.updatedAt = data.updateStaff.updatedAt
        this.displayUserNotification({
          title: "Success",
          type: "success",
          message: "Notes saved."
        })
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },

    async openSystemPreferences(){
      // update communication preferences if necessary
      this.systemPreferences.loading = true
      this.systemPreferences.open = true
      if(this.$refs.staffSystemPreferences){
        await this.$refs.staffSystemPreferences.setPrefs()
      }
    },

    handleDropdownCommand(command){
      console.log(command)
      if(command == "message"){
        if(this.$store.getters.hasStaffManagement){
          if(this.staffData.phone) {
            this.$router.push({ name: 'Messenger', params:{staffId: this.staffData.id} })
          } else {
            this.displayUserNotification({
              title: "Associate does not have a phone number",
              type: "warning",
              duration: 0,
              message: `${this.staffData.firstName} does not have a phone number in their Associate profile. Please add their phone number to Hera in order to send them messages.`
            })
          }
        }
        else{
          this.premiumAction = "use Hera messenger"
          this.showUpgradeDialog = true
        }
      }
      else if(command == "daPreference"){
        this.openSystemPreferences()
      }
      else if(command == "deleteDA"){
        this.openDeleteDaDialog()
      }
    },

    getDataFromStore(){
      this.tenant = this.getTenantCoachingInfo
      this.activeDas[this.staffData.id] = this.getDaPerformanceData.find(item => item.id == this.staffData.id)
    },

    async loadData(source=null){
      if(!source && source != 'drivingInfo') this.loading = true
      try{
        const staff = await this.api(getStaff, { id: this.id })
        var staffData = staff.data.getStaff
        staffData.counselings.items.map((counseling) => (counseling.user == null) ?(counseling.user = {}) : (counseling.user = counseling.user) )
        if(!staffData.defaultVehicle) staffData.defaultVehicle = {}
        if(!staffData.defaultVehicle2) staffData.defaultVehicle2 = {}
        if(!staffData.defaultVehicle3) staffData.defaultVehicle3 = {}
        if(!staffData.notes) staffData.notes = ''

        this.authorizedToDrive.items = this.setAuthorizeToDriveItems(staffData)
        this.staffData = staffData

        // code below isn't needed for updating vehicle types in Onboarding.vue
        if(!!source && source === 'Update Staff Vehicle Type') return 
        if(!!source && source === 'drivingInfo') return this.$refs.staffDriverInfo.loading = false
        
        //Get Routes that were rescued by others
        let rescuedRoutesByOthers = this.staffData.route.items.filter((route) =>{
          return route.rescued == true;
        });
        let inputStaffList = {
          group: this.$store.state.userInfo.tenant.group,
          limit: 80
        }
        const dataStaffTable = await this.gLoadListAll(staffsByGroup, inputStaffList, 'staffsByGroup');

        let removeOwnUser = dataStaffTable.filter((staff) => {
          return staff.id !== staffData.id;
        });
        
        this.dataStaffTableFilterByActive = removeOwnUser.filter((staff) => {
          return staff.status === 'Active';
        });
        
        this.dataStaffTableFilterByInactive = dataStaffTable.filter((staff) => {
          return staff.status !== 'Active';
        });
        
        this.setSupervisedItems(dataStaffTable);

        var formattedRescuedRoutesByOthers = []; 
        rescuedRoutesByOthers.forEach(value =>{
          var rescuers = value.rescuers.items?.map((item)=> ({
            id: item.id, 
            firstName: item.staff.firstName, 
            lastName: item.staff.lastName
          })) ?? []
          var routeObject = {
            id:value.id,
            date: value.dailyRoster.notesDate,
            staff: value.rescuer?.id ? [...rescuers, {
              id: value.rescuer?.id,
              firstName: value.rescuer?.firstName,
              lastName: value.rescuer?.lastName
            } ] : [...rescuers]
          }

          formattedRescuedRoutesByOthers.push(routeObject)
        })
        this.rescuedRoutesByOthers = [...formattedRescuedRoutesByOthers];
        const timesRescued = staffData.route.items?.filter((route)=> route.rescued === true);
        const totalRescuedByDay = this.getTotalRescuedByDay(timesRescued);
        this.countOfRescuedRoutesByOthers = totalRescuedByDay;

        //Get Routes rescued by staff member
        var rescuedRoutes = this.staffData.routeRescuer.items;
        var rescued = this.staffData.routeRescuerStaff.items ?? []
        var formattedRescuedRoutes = [];
        rescuedRoutes.forEach(value =>{
          var routeObject = {
            id: value.id, 
            date: value.dailyRoster.notesDate,
            staff:{
              id: value.staff.id,
              firstName: value.staff.firstName,
              lastName: value.staff.lastName
            }
          }

          formattedRescuedRoutes.push(routeObject)
        });
        rescued.forEach(value => {
          if(value.route) {
            var routeObject = {
              id: value.route.id, 
              date: value.route.dailyRoster.notesDate,
              staff:{
                id: value.staff.id,
                firstName: value.route.staff.firstName,
                lastName: value.route.staff.lastName
              }
            }
            formattedRescuedRoutes.push(routeObject)
          }
        })
        this.rescuedRoutes = [...formattedRescuedRoutes];
        const timesRescuer = this.filterItemsValid(staffData.routeRescuer.items);
        const timesRecuers = this.filterItemsValid(staffData.routeRescuerStaff.items);
        
        this.countOfRescuedRoutes = timesRescuer + timesRecuers;
        
        // loading coaching messages
        var input = {
          staffId: this.staffData.id, 
          messageTypeCreatedAt: {
            beginsWith: {
              messageType: "coaching"
            }
          }   
        }
        var messages = await this.api(messagesByStaffAndMessageType, input)
        this.coachingMessages = messages.data.messagesByStaffAndMessageType.items

        if(this.fromNetradyneDashboard){
          this.collapseActive.push('netradyneAlertData')
          let el = document.getElementById('netradyneAlertData');
          el.scrollIntoView({behavior: 'smooth'});
        }

        //Load Hera score, not awaiting
        if(staffData.status && !staffData.status.toLowerCase().includes('onboarding')){
          this.loadHeraScore()
        }
        else{
          this.loadingHeraScore = false
        }
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    async loadHeraScore(){
      if(!this.$store.getters.hasPerformanceCoaching){
          this.loading = false
          this.activeDas[this.staffData.id] = {
              heraScore: 314,
              heraScorePrev: 300,
              heraRank: 1
          }
          this.tenant.coachingDriverRankRange = 30
          this.loadingHeraScore = false
          return
      }
      try{
        this.loadingHeraScore = true
        if(this.getDaPerformanceData.length && Object.keys(this.getTenantCoachingInfo).length){
          this.getDataFromStore()
        }else{
          //loadData
          const { tenant, tableData } = await loadDaPerformanceData()
          this.tenant = tenant
          this.activeDas[this.staffData.id] = tableData.find(item => item.id == this.staffData.id)
        }
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
      finally{
        this.loadingHeraScore = false
      }
    },

    setSupervisedItems(dataStaffTable) {
      
      this.fullNameAssigned = null;
      let fullName = `${this.staffData.firstName} ${this.staffData.lastName}`;
      let supervisorList = [];

      dataStaffTable.map((ele)=>{
        let fullNameAssigned = `${ele.firstName} ${ele.lastName}`;

        if(ele.id === this.staffData.assignedLead || fullNameAssigned === this.staffData.assignedLead){
          this.fullNameAssigned = fullNameAssigned;
        }

        if(ele.assignedLead === this.staffData.id || ele.assignedLead === fullName){
          let dataStaffLead = {firstName: ele.firstName, lastName: ele.lastName, id: ele.id};
          supervisorList.push(dataStaffLead);
        }
      });

      this.supervisorList = supervisorList;
    },
    openStatusModal(){
      this.statusOpen = true
    },

    async pinOnboarding(){
      this.staffData.onboardingPinned = !this.staffData.onboardingPinned
      this.scrollToTop()
      await this.saveData()
      
      var index = this.collapseActive.indexOf('onboarding')
      if (index > -1) {
        this.collapseActive.splice(index, 1);
      }
      
    },

    /**
     * Save data using the updateStaff GraphQL mutation
     */
    saveData: async function(){
      try{
        var input = {...this.staffData}
        input = this.cleanStaffInput(input)
        const staff = await this.api(updateStaff, {input})
        this.staffData = staff.data.updateStaff
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },

    scrollToTop() {
       window.scrollTo(0,0);
    },

    showWarningDialog(){
      this.premiumAction = "upload documents"
      this.showUpgradeDialog = true;
    },

    goToAccountDetails(){
      this.showUpgradeDialog = false;
      this.$router.push({name: 'SettingsAccountDetails'})
    },

    showRescuedRoutesTable: function(byOthers){
      if(byOthers == true){
          this.rescuedRouteByOthersOpen = true;
      }
      else{
          this.rescuedRoutesOpen = true;
      }
    },

    updateStatusStaff(data) {
      this.staffData.status = data.status;
      this.staffData.updatedAt = data.updatedAt;
      this.staffData.staffStatusHistory.items = data.staffStatusHistory?.items || [];
    },

    getTotalRescuedByDay( data ) {
      if (data.length > 0) {
        const total = data.reduce((count, item) => {
          count += item.rescuers.items.length;
          return count;
        }, 0)
        return total;
      }
      return data.length
    },

    filterItemsValid( data ) {
      if (data.length > 0) {
        const arrayFilter = data.filter( item => item.route !== null );
        return arrayFilter.length;
      }

      return data.length
    },

    toggleAssociateStatusHistory(){
      this.showAssociateStatusHistoryDrawer = this.showAssociateStatusHistoryDrawer ? false: true
    },
  }
}
</script>

<style scoped>
  .el-select-form{
    width: 100%;
  }
  .pinned-button{
    top: 2.5rem;
    left: 8rem;
    border: none;
  } 
  .pinned-button:hover, .pinned-button:active{
    background-color: rgba(255,255,255,0) !important;
  } 
  .el-form-item__label.pr-0{
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
  .status{
    @apply mr-8 !important;
  }

  .el-col {
    margin: 1px !important;
  }
  .actions {
    margin: 3px !important;
    margin-top: 2.5px !important;
  }
  .actions-button {
    padding-right: 0%;
  }
</style>

<style>
  .view-details-button{
    @apply text-xs my-0 py-0 underline !important;
  } 
  .view-details{
    @apply text-xs my-0 py-0 !important;
  }
</style>
