<template>
  <div v-loading.fullscreen.lock="importLoading">
    <div class="flex items-center justify-between flex-wrap space-y-4 md:flex-row" data-cy="da-import-container">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }">{{$t('label.associate')}}</el-breadcrumb-item>
        <el-breadcrumb-item>{{$t('label.associate')}} Import</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2 items-center">
        <el-popover
          v-if="!tableData.length"
          placement="bottom"
          title="How To Import"
          width="300"
          trigger="hover"
          content=""
          class=" ml-1 text-center inline-block outline-none ">
          <el-button 
            class="import-instructions-btn" 
            size="medium" 
            slot="reference">
            Import Instructions
          </el-button>
          <p class="text-left break-normal">
            To import {{$t('label.associates')}} into Hera, download the template file below. If the attached file opens in a new tab, right-click or long press and click Download As or Save As. After filling in the template, upload the file using the Select File button. Any {{$t('label.associate')}} in the template file with an email address or transporter ID that matches an existing {{$t('label.associate')}} will be updated.
          </p>
          <p class="text-center mt-6 mb-4">
            <a class='text-white text-xs bg-brand px-3 py-2 rounded-lg shadow cursor-pointer' @click="downloadFile">Download Template</a>
          </p>
        </el-popover>
        <label v-if="!showDataTable && !tableData.length" class="fileContainer" :class="{'opacity-25': loading}">
          Select File
          <input type="file" accept=".csv" @change="importCSV" :disabled="loading" id="File" data-cy="attach-file">
        </label>   
        <div v-else>
          <el-button data-cy="import-cancel" size="small" @click="handleImportCancel">Cancel</el-button>
          <el-button data-cy="import-success" @click="importData" size="small" type="success" :disabled="selected.length == 0">Import {{selected.length}} {{$t('label.associates')}}</el-button>
        </div>         
      </span>  
    </div>

    <!-- TABLE SKELETON LOADER -->
    <div v-show="loading" class="container p-4 mt-4">
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>

    <el-table 
      v-show="!loading && !tableData.length" 
      empty-text="No File Selected" 
      style="width: 100%"
      >
      <el-table-column>
      </el-table-column>
    </el-table>

    <!-- Right Scroll -->
    <div v-show="showDataTable && tableData.length" class="sticky top-20 z-10 float-right -mr-8 -mb-16">
     <i 
      @click="scroll_right"
      class="text-4xl icon-button hover:text-brand uil uil-arrow-right"/>
    </div>
    <!-- Left Scroll -->
    <div v-show="showDataTable && tableData.length" class="sticky top-20 z-10 float-left -ml-8 -mb-16">
     <i 
      @click="scroll_left"
      class="text-4xl icon-button hover:text-brand uil uil-arrow-left"/>
    </div>

    <!-- Match on -->
    <div  v-show="showDataTable && tableData.length"  class="flex mt-4">
      <el-form ref="matchForm" label-width="120px" class="-ml-6 -mb-4">
        <el-form-item label="Match On">
          <el-select size="small" v-model="matchCriteria" class="flex-initial">
            <el-option key="transporterId" label="Transporter ID" value="transporterId"></el-option>
            <el-option key="email" label="Email" value="email"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-tooltip class="item flex-initial mt-2 ml-1" popper-class="w-52" effect="dark"  placement="right" :content="`This is the field that we will match against the ${$t('label.associate_s')} in your Hera account. If a match is found, the ${$t('label.associate_s')} record will be updated with all the other fields you are importing, or if no match is found a new ${$t('label.associate')} record will be created.`">
        <p class="text-gray-700 text-xs"><i class="uil uil-question-circle text-base"></i></p>
      </el-tooltip>
    </div>

    <!-- Import Data Table -->
    <el-table
      v-show="showDataTable && tableData.length"
      ref="table"
      :header-cell-class-name="headerClass"
      row-class-name="align-baseline"
      :cell-class-name="cellClass"
      empty-text="No File Selected"
      class="import-table"
      :data="tableData"
      @selection-change="handleSelectionChange">


      <el-table-column
        align="center"
        type="selection"
        width="55">
      </el-table-column>
      
      <el-table-column
        label="Action"
        sortable
        width="100"
        prop="action">
        <template slot-scope="scope">
          <template v-if="matchCriteria == 'transporterId'">
            <div>{{ existingTrasportersIDs[scope.row.transporterId.trim()] ? "Update" : "Create" }}</div>
          </template>
          <template v-else>
            <div>{{ existingEmails[scope.row.email.trim()] ? "Update" : "Create" }}</div>
          </template>
        </template>
      </el-table-column>

      <el-table-column
        label="Transporter ID"
        sortable
        width="235"
        prop="transporterId">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.transporterId" placeholder="Transporter ID"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existingTrasportersIDs[scope.row.transporterId] && matchCriteria !== 'transporterId'">{{ messageForExists }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="isFieldDuplicate('transporterId', scope.row.transporterId)">{{ messageForDuplicates }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="Email"
        sortable
        width="240"
        
        prop="email">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.email" placeholder="Email"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existingEmails[scope.row.email.trim().toLowerCase()] && matchCriteria !== 'email'">{{ messageForExists }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="isFieldDuplicate('email', scope.row.email)">{{ messageForDuplicates }}</span>
        </template>
      </el-table-column>

      <el-table-column        
        label="Status"
        sortable
        prop="status"
        width="155"
         >
         <template slot-scope="scope">
          <el-select size="small" v-model="scope.row.status" placeholder="Status" >
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['staff-status'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
          <!-- {{scope.row.status}} -->

        </template>
      </el-table-column>

      <el-table-column
        label="First Name"
        sortable
        width="150"
        prop="firstName">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.firstName" placeholder="First Name"></el-input>
          <!-- {{scope.row.firstName}} -->
        </template>
      </el-table-column>

      <el-table-column
        label="Last Name"
        sortable
        width="150"
        prop="lastName">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.lastName" placeholder="Last Name"></el-input>
          <!-- {{scope.row.lastName}} -->
        </template>
      </el-table-column>


      <el-table-column
        label="Phone"
        width="170"
        sortable
        prop="phone">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.phone" v-mask="'(###) ###-####'" placeholder="Phone"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existingPhones[formatPhoneNumber(scope.row.phone)]">{{ messageForExists }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="isFieldDuplicate('phone', scope.row.phone)">{{ messageForDuplicates }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="Hire Date"
        sortable
        width="160"
        prop="hireDate">
        <template slot-scope="scope">
          <el-date-picker size="small" format="MM/dd/yyyy" v-model="scope.row.hireDate" placeholder="Hire Date" type="date"></el-date-picker>
          <!-- {{scope.row.hireDate | importDate }} -->
        </template>
      </el-table-column> 

      <el-table-column
        label="Gender"
        width="120"
        sortable
        prop="gender">
        <template slot-scope="scope">
          <el-select 
            size="small" v-model="scope.row.gender" 
            placeholder="Gender" 
            allow-create
            filterable
            clearable>
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['genders'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
          <!-- {{scope.row.gender}} -->
        </template>
      </el-table-column> 

      <el-table-column
        label="Pronouns"
        sortable
        width="140"
        prop="pronouns">
        <template slot-scope="scope">
          <el-select 
            size="small" v-model="scope.row.pronouns" 
            placeholder="Pronouns" 
            allow-create
            filterable
            clearable>
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['pronouns'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
          <!-- {{scope.row.pronouns}} -->
        </template>
      </el-table-column> 

      <el-table-column
        label="DOB"
        sortable
        width="160"
        prop="dob">
        <template slot-scope="scope">
          <el-date-picker size="small" format="MM/dd/yyyy" v-model="scope.row.dob" type="date" placeholder="DOB"></el-date-picker>
          <!-- {{scope.row.dob | importDate }} -->
        </template>
      </el-table-column> 

      <el-table-column
        label="Gas Card PIN"
        sortable
        width="145"
        prop="gasCardPin">
        <template slot-scope="scope">
          <el-input size="small" v-model="scope.row.gasCardPin" placeholder="Gas Card PIN"></el-input>
          <!-- {{scope.row.gasCardPin}} -->
        </template>
      </el-table-column>

      <el-table-column
          label="Authorized To Drive"
          sortable
          width="210"
          prop="authorizedToDrive">
        <template slot-scope="scope">
          <el-select
            v-model="scope.row.authorizedToDrive.items"
            placeholder="Authorized To Drive"
            size="small"
            multiple
            filterable>
            <el-option
              v-for="item in vehicleTypeList"
              :key="item.id"
              :label="item.option"
              :value="item.id">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <el-table-column
        label="DL Expiration"
        sortable
        width="170"
        prop="dlExpiration">
        <template slot-scope="scope">
          <el-date-picker size="small" format="MM/dd/yyyy" v-model="scope.row.dlExpiration" placeholder="DL Expiration" type="date"></el-date-picker>
          <!-- {{scope.row.dlExpiration | moment('MM/DD/YYYY') }} -->
        </template>
      </el-table-column> 

      <el-table-column
        label="Motor Vehicle Report"
        sortable
        width="190"
        prop="vehicleReport">
        <template slot-scope="scope">
          <el-date-picker size="small" format="MM/dd/yyyy" v-model="scope.row.vehicleReport" placeholder="MVR Date" type="date"></el-date-picker>
          <!-- {{scope.row.vehicleReport | importDate }} -->
        </template>
      </el-table-column> 

      <el-table-column        
        label="Hourly Status"
        sortable
        width="155"
        prop="hourlyStatus">
         <template slot-scope="scope">
          <el-select size="small" v-model="scope.row.hourlyStatus" placeholder="Hourly Status" clearable>
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['hourly-status'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
          <!-- {{scope.row.hourlyStatus}} -->
        </template>
      </el-table-column>
    </el-table>
   
  <div class="flex justify-between mt-8">
    <div>
      <p>{{selected.length}} of {{tableData.length}} to Import</p>
    </div>
    <div>
      <el-button v-show="showDataTable && tableData.length" size="small" @click="handleImportCancel">Cancel</el-button>
      <el-button @click="importData" type="success" size="small" :disabled="selected.length == 0">Import {{selected.length}} {{$t('label.associates')}}</el-button>
    </div>
  </div>

  </div>
</template>

<script>
import { cleanPhoneNumber, validatePhoneNumberFormat } from '@/utilities/phoneNumberFormat';
import { API } from 'aws-amplify';
import { mapActions, mapGetters, mapState } from "vuex";
import DropdownListFromStore from "@/components/DropdownListFromStore.vue";
import customListMixin from '@/mixins/customListMixin';
import vehicleTypeMixin from '@/mixins/vehicleType'
import downloadMixin from '@/mixins/downloadMixin'

export default {
  name: 'StaffImport',
  mixins: [  ],
  components: { DropdownListFromStore },
  mixins:[
    downloadMixin,
    customListMixin,
    vehicleTypeMixin
  ],
  data() {
    return {
      loading: false,
      importLoading: false,
      tableData: [],
      selected: [],
      matchCriteria: 'transporterId',
      existingTrasportersIDs: {},
      existingEmails: {},
      existingPhones: {},
      existConflicts: false,
      messageForExists: 'Already exists in Hera',
      messageForDuplicates: 'Duplicates are not allowed',
      authorizedToDriveItems: [],
      MAX_CHUNK_SIZE: 25,
      showDataTable: false,
    }
  },

  computed: {
    ...mapState([
      'userInfo'
    ]),
    ...mapGetters([
      'existsInStore',
      'vehicleTypeList'
    ]),
  },

  methods: {
    ...mapActions([
      'setCustomListOption'
    ]),

    async downloadFile() {
      try {
        let params = {
          "bucket": "hera-import-templates",
          "key": 'Hera_Staff_Import_Template_v2.csv',
          "fileName": "Hera_Staff_Import_Template_v2"
        }

        await this.downloadTemplate(params) 
      } catch (error) {
        this.displayUserError(error)
      }
    },
    scroll_left() {
      let content = document.querySelector(".import-table .el-table__body-wrapper");
      content.scrollLeft -= 300;
    },
    scroll_right() {
      let content = document.querySelector(".import-table .el-table__body-wrapper");
      content.scrollLeft += 300;
    },

    /**
     * Applies the required cell class to the name column cells
     * @param {Object} obj Row of table 
     */
    cellClass(obj){
      if(obj.columnIndex === 2 && (this.matchCriteria == 'transporterId') ) return 'matchColumn'
      else if(obj.columnIndex === 3 && (this.matchCriteria == 'email') ) return 'matchColumn'
      else if(obj.columnIndex === 5 && (!obj.row.firstName) ) return 'requiredInputCell requiredName'
      else if(obj.columnIndex === 6 && (!obj.row.lastName) ) return 'requiredInputCell requiredName'
      else if(obj.columnIndex === 4 && !obj.row.status ) return 'requiredSelectCell requiredStatus'
    },

    /**
     * Applies the required cell header class to the name column header
     * @param {Object} obj Row of table 
     */
    headerClass(obj){
      return obj.columnIndex === 4 || obj.columnIndex === 5 || obj.columnIndex === 6 ? 'requiredCellHeader' : '';
    },

    /**
     * Determines if table row will update or create a record in Dynamo
     * Performance: O(1)
     * @param {string} t transporter ID of table row
     * @param {string} e email of table row
     */
    determineAction(transporterID, email){
      if(this.matchCriteria == 'transporterId'){
        return this.existingTrasportersIDs[transporterID.trim()] ? 'Update' : 'Create'
      }
      return this.existingEmails[email.trim()] ? 'Update' : 'Create'
    },

    handleImportCancel(){
       this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
        confirmButtonText: 'Continue',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
      .then(() => {
        this.tableData = []
        this.showDataTable = false
        document.getElementById('File').value = ""
      })
      .catch(() => {
        console.log("canceled cancel import")         
      })
      .finally(() => {
        this.loadCustomList()
      })
    },

    /**
     * Handles updating selected array when row checkboxes are clicked
     */
    handleSelectionChange(val) {
      this.selected = val;
    },

    /**
     * When a file is selected, this reads the contents of the CSV to a string using FileReader.
     * @param {object} e - The event that is triggered on input change.
     */
    importCSV(e){
      var files = e.target.files || e.dataTransfer.files;
      var file = files[0]
      if(file){
        this.loading = true
        var reader = new FileReader();

        //Attach onload trigger function
        reader.onload = (e) => {
          var text = reader.result;
          var config = {header:false, skipEmptyLines:true, delimiter: ',', encoding: 'ISO-8859-1'}
          var csv = this.$papa.parse(text,config)
          this.parseCSV(csv)
        }

        //Read the data triggering the onload trigger
        reader.readAsText(file, 'ISO-8859-1')
      }
    },

    /**
     * Takes a csv string and converts it to a json object stored in tableData, then toggles them all to be selected.
     * Parsing is done by order of the columns only, the first column is skipped.
     * @param {string} csv - a csv string. 
     */
    async parseCSV(csv){
      let recordsByChunks = []
      let transporters = {}
      let emails = {}
      let phones = {}

      const rows = csv.data
      rows.shift()
      try{
        const data = rows.map(row => {
          let dlExpiration = row[12] ? this.validateDateDLExp(row[12]) : null;
          return {
            status: this.cleanStatus(row[0], 'da'),
            firstName: this.toTitleCase(row[1]).trim(),
            lastName: this.toTitleCase(row[2]).trim(),
            transporterId: row[3].replace(/\s+/g, ''),
            email: row[4].toLowerCase().replace(/\s+/g, ''),
            phone: row[5].replace(/\s+/g, ''),
            hireDate: row[6] ? new Date(row[6]) : null,
            gender: this.toTitleCase(row[7].trim()),
            pronouns: row[8].trim(),
            dob: row[9] ? new Date(row[9]) : null,
            gasCardPin: row[10].trim(),
            authorizedToDrive: { items: this.setAuthorizedToDrive(row[11]) },
            dlExpiration: dlExpiration,
            vehicleReport: row[13] ? new Date(row[13]) : null,
            hourlyStatus: this.toTitleCase(row[14].trim())
          }
        })

        //Breaking up payload into chunks of data
        for (let i = 0; i < data.length; i += this.MAX_CHUNK_SIZE) {
          const chunk = data.slice(i, i + this.MAX_CHUNK_SIZE);
          recordsByChunks.push(chunk);
        }

        //Send chunks of by data to the Lambda
        await Promise.all(recordsByChunks.map(async(records) => {
          const response = await this.callToApiImportData(records, 'validation', 'staffs')
          transporters = { ...transporters, ...response.data.transporters }
          emails = { ...emails, ...response.data.emails }
          phones = { ...phones, ...response.data.phones }
          this.tableData = [ ...this.tableData, ...records]
          if(data.length === this.tableData.length) this.showDataTable = true
        })).catch(e => {
          throw e
        });

        this.existingTrasportersIDs = transporters
        this.existingEmails = emails
        this.existingPhones = phones

        if (this.tableData.length) {
          this.$refs.table.toggleAllSelection();
        } else {
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: "No data found in selected file"
          })
        }
      }
      catch(e){
        this.printUserError(e)
        if(e.isCustomListError) return this.displayUserError(e)
        this.displayUserError("Import failed. Please verify correct file was chosen.")
        this.showDataTable = false
        this.tableData = []
      } finally {
        document.getElementById('File') ? document.getElementById('File').value = "" : false
        this.loading = false
      }
    },

    /** Takes all items in selected and pushes them to the db, then redirects to the StaffIndex page. */
    async importData(){
      this.importLoading = true
      let recordsByChunks = []
      try {
        let recordsCreate = 0;
        let recordsUpdate = 0;

        const validRequiredFields = this.isValidRequiredFields( this.selected );
        if( validRequiredFields ) throw { message: "Please fill out all required fields and correct any errors." };

        // check for Email, Phone or Transporter ID conflicts/duplicates
        const fieldsDuplicated = this.hasRecordsWithDuplicateFields(this.selected);
        const fieldsExisting = this.hasRecordsWithExistingFields(this.selected);
        
        if(fieldsDuplicated || fieldsExisting) throw "Please fill out all required fields and correct any errors."

        const recordsToImport = await this.mapActionRecord(this.selected);

        //Breaking up payload into chunks of data
        for (let i = 0; i < recordsToImport.length; i += this.MAX_CHUNK_SIZE) {
          const chunk = recordsToImport.slice(i, i + this.MAX_CHUNK_SIZE);
          recordsByChunks.push(chunk);
        }

        //Send chunks of by data to the Lambda
        await Promise.all(recordsByChunks.map(async(records) => {
            const response = await this.callToApiImportData(records, 'import', 'staffs')
            recordsCreate += response.data.countRecordsCreate || 0
            recordsUpdate += response.data.countRecordsUpdate || 0
        })).then(async ()=> {
          this.showDataTable = false
          this.tableData = []
        })
        .catch(e => {
          throw e
        });

        this.displayUserNotification({
          title: `${this.$t('label.associate')} Import Results`,
          type: "success",
          duration: 10000,
          message: `${recordsCreate} ${this.pluralize(recordsCreate, `${this.$t('label.associate')} added`, `${this.$t('label.associates')} added` )}, ${recordsUpdate} ${this.pluralize(recordsUpdate, `${this.$t('label.associate')} updated`, `${this.$t('label.associates')} updated`)}`
        })

        await this.loadCustomList();
        this.$router.push({ name: 'StaffIndex', params: { childRoute : 'associate-list'}});
        
      }catch(e){
        this.printUserError(e)
        this.displayUserError(e)
      }finally {
        this.importLoading = false
      }
    },

    validateDateDLExp(date){
        let dateFormat = new Date(date);
        if(dateFormat.getFullYear() < 2000){
          dateFormat.setFullYear(dateFormat.getFullYear() + 100);
        }
        return dateFormat;
    },

    setAuthorizedToDrive(types) {
      return types ? this.formatVehicleTypes(types) :  []
    },

    formatVehicleTypes(items) {
			const vehicles = items.trim().split(';')
			const values = vehicles.filter(item => item ?? item).map( item => {
				if(!item) return
				const vehicleType = item;
        if(vehicleType.length > 30) throw { message: this.getCustomListMessageErrorByType('authorize-to-drive'), isCustomListError: true }
        this.existsInStore(vehicleType, 'vehicle-type')
				return this.vehicleTypeList.find(item => item.option.toLowerCase() == vehicleType.toLowerCase())?.id
			})
			return values
    },

    async callToApiImportData(data, type, module) {
      try {
        let apiName = 'heraPublicApi';
        let path = '/import-records';
        let post = {
          body:{
            "recordsToImport": data,
            "group": this.userInfo.tenant.group,
            "matchColumn": this.matchCriteria,
            "type": type,
            "module": module
          }
        }
        const response = await API.post(apiName, path, post);
        if(response.message && response.error) throw response
        return response;
      } catch (e) {
        throw e
      }
    },

    isValidRequiredFields(records) {
      return records.some( item => !item.firstName || !item.lastName || !item.status || !item.authorizedToDrive );
    },

    isFieldDuplicate(field, value) {
      const recordsWithFieldDuplicate = this.tableData.filter( (associate) => value && value === associate[field].trim());
      return recordsWithFieldDuplicate.length > 1;
    },

    hasRecordsWithDuplicateFields(data) {
      const mapData = [...data];
      const emails = [];
      const transportersIds = [];
      const phones = [];
      let conflicts = false;
      for (const item of mapData) {
        const { phone, email, transporterId } = item;
        const rawPhone = phone.replace(/[^0-9]+/g, "");
        if (phones.includes(rawPhone)) {
          conflicts = true;
          break;
        } else {
          if (phone) phones.push(rawPhone);
        }
        if(emails.includes(email)) {
          conflicts = true;
          break;
        } else {
          if (email) emails.push(email);
        }
        if(transportersIds.includes(transporterId)) {
          conflicts = true;
          break;
        } else {
          if (transporterId) transportersIds.push(transporterId)
        }
      };
      return conflicts;
    },

    hasRecordsWithExistingFields(data) {
      const mapData = [...data];
      let conflicts = false;
      for (const item of mapData) {
        const { transporterId, email, phone } = item;
        if (this.existingPhones[this.formatPhoneNumber(phone).trim()]) {
          conflicts = true;
          break;
        }

        if (this.matchCriteria === 'email') {
          if (this.existingTrasportersIDs[transporterId.trim()]) {
            conflicts = true;
            break;
          }
        } else {
          if (this.existingEmails[email.trim().toLowerCase()]) {
            conflicts = true;
            break;
          }
        }
      }
      return conflicts;
    },
    
    formatPhoneNumber(phone) {
      const phoneNumberFormat = cleanPhoneNumber(phone, 'US');
      return phoneNumberFormat
    },

    async validatedPhoneNumber(records) {
     return await validatePhoneNumberFormat(records);
    },
    async mapActionRecord(data) {
      const records = [...data];
      const recordsUpdated = records.map( item => {
        return {
          ...item,
          email: item.email.trim().toLocaleLowerCase(),
          phone: item.phone ?? '', 
          action: this.determineAction(item.transporterId, item.email),
          group: this.$store.state.userInfo.tenant.group,
        }
      })

      const recordsUpdatedValidated = await this.validatedPhoneNumber(recordsUpdated);
      const recordsUpdatedUltimateValidated = recordsUpdatedValidated.map( item => {
        const result = {
          ...item,
          phone: item.validated ?  item.phone : '', 
          receiveTextMessages : item.phone ? true : false,
          receiveEmailMessages : item.email ? true : false,
          authorizedToDriveItems : this.mapAuthorizeDrive(item.authorizedToDrive.items)
        }
        delete result.validated
        return result
      })

      return recordsUpdatedUltimateValidated;
    },

    mapAuthorizeDrive(vehicles) {
      let vehiclesFormated = []
      if (vehicles.length) {
        const arrayVehiclesIds = [...vehicles];
        vehiclesFormated = arrayVehiclesIds.map( vehicleId => {
          const foundVehicle = this.vehicleTypeList.find(item => item.id == vehicleId);
          return {
            id: foundVehicle.id,
            option: foundVehicle.option
          }
        })
      }
      return vehiclesFormated;
    }
  }
}
</script>

<style scoped>
  .el-date-editor.el-input{
    @apply w-full !important;
  }
</style>

<style>
.matchColumn{
  @apply bg-blue-100 !important;
}

.requiredInputCell .el-input input, .requiredSelectCell input{
  @apply border-red-500 border !important;
}
.requiredInputCell .el-input, .requiredSelectCell .el-select{
  height: 3.5rem;
}
.requiredInputCell .el-input:after, .requiredSelectCell:after{
  @apply text-red-500 !important;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  left: 10px;
  display: block;
}
.requiredName .el-input:after{
  @apply break-normal !important;
  content: "Invalid Name" !important;
}
/* .requiredStatus:after{
  @apply break-normal !important;
  content: "Invalid Status" !important;
} */

.el-table__empty-block{
    @apply w-full !important;
  }

  .duplicateInputCell input {
    @apply border-red-500 border;
  }
  .duplicateInputCell{
    height: 3rem;
  }
  .duplicateInputCell:after{
    @apply text-red-500 !important;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
    content: "Duplicate in this import" !important;
  }

.duplicateInputCellWarning input {
    @apply border-fair border !important;
  }
  .duplicateInputCellWarning:after{
    @apply text-fair !important;
    content: "Duplicate in this list" !important;
  }
  
  /* .matchEmail:after{
    content: "In use by another DA in your account" !important;
  } */
  .matchInputCell:after{
    content: "Used by another Associate in your account" !important;
  }
  .matchInputCell input {
    @apply border-red-500 border;
  }

  .matchInputCellWarning:after{
    @apply text-fair !important;
  }
  .matchInputCellWarning input {
    @apply border-fair border !important;
  }
  .matchInputCell{
    height: 3rem;
  }
  .matchInputCell:after{
    @apply text-red-500 !important;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
  }
  .changingInputCell{
    height: 3rem;
  }
  .changingInputCell:after{
    @apply text-fair;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
  }
  .emailChanging:after{
     content: "Will overwrite Associate's current email";
  }
  .transporterIdChanging:after{
    content: "Will overwrite Associate's current ID";

  }
  .align-baseline td{
    vertical-align: baseline !important;
  }
</style>