<template>
<div>

    <div v-if="!errorMessage" v-loading="isLoading" class="pl-4">            
        <h1 class="mb-4 text-center">Hello {{prefs.firstName}} {{prefs.lastName}}</h1>        
        <p class="mb-4 font-bold">Update Your Hera Communication Preferences</p>
        <div class="flex items-center space-x-2 mb-2">
            <p class="w-32">Email Updates</p>
            <el-switch
                v-model="prefs.receiveEmailMessages"
                active-color="#13ce66"
                >
            </el-switch>
        </div>

        <div class="flex items-center space-x-2 mb-2">
            <p class="w-32">Text Updates</p>
            <el-switch
                v-model="prefs.receiveTextMessages"
                active-color="#13ce66"
                >
            </el-switch>
        </div>
        <div class="mt-8">
            <el-button type="primary" @click="updatePreferences()" :disabled="isNoDataChange">Update Preferences</el-button>
        </div>
    </div>
    <div v-else class="text-red-700 text-center">
        <p><i class="el-icon-warning-outline text-6xl"/></p>
        <p class="text-xl">Could not load communcation preferences</p>
        <p class="text-sm text-gray-700">{{errorMessage}}</p>
    </div>

</div>
    
</template>


<script>
//Shutdown intercom
window.Intercom('shutdown');

import { API } from 'aws-amplify';
import { SMS, EMAIL } from '@/utilities/constants/messagePreferenceType';

export default {
    props: ['staffId'],
    data(){
        return{
            prefs:{},
            startingPrefs:{},
            isLoading: true,
            errorMessage: null
        }
    },
    mounted(){
        this.loadData()
    },
    computed:{
        isNoDataChange(){
            return ( this.prefs.receiveTextMessages === this.startingPrefs.receiveTextMessages &&
                     this.prefs.receiveEmailMessages === this.startingPrefs.receiveEmailMessages )
        }
    },
    methods:{
        async loadData(){
            try{
                
                let apiName = 'ManageNotificationPreferences'
                let path = '/staff/' + this.staffId        
                var result = await API.get(apiName, path)
                this.prefs = {...result.staffData}
                this.startingPrefs = {...result.staffData}
            }catch(e){
                console.log(e)
                this.errorMessage = e.response.data.message
            }finally{
                this.isLoading = false
            }
        },
        async updatePreferences(){
            try{
                this.isLoading = true

                //Update logs
                let messagePreferencesHistoryInput = {
                    group: this.prefs.group,
                    datetime: new Date().toISOString(),
                    messagePreferencesHistoryStaffId: this.staffId
                }
                let preferencesHistoryInputTypeSMS = null;
                let preferencesHistoryInputTypeEMAIL = null;

                if( this.prefs.receiveTextMessages !== this.startingPrefs.receiveTextMessages){
                    messagePreferencesHistoryInput.messagePreferenceType = SMS;
                    messagePreferencesHistoryInput.description = `${this.prefs.firstName} ${this.prefs.lastName} changed the opt-in status to ${this.prefs.receiveTextMessages}`;
                    preferencesHistoryInputTypeSMS = messagePreferencesHistoryInput
                }
                if( this.prefs.receiveEmailMessages !== this.startingPrefs.receiveEmailMessages){
                    messagePreferencesHistoryInput.messagePreferenceType = EMAIL;
                    messagePreferencesHistoryInput.description = `${this.prefs.firstName} ${this.prefs.lastName} changed the opt-in status to ${this.prefs.receiveEmailMessages}`;
                    preferencesHistoryInputTypeEMAIL = messagePreferencesHistoryInput
                }

                const body = {
                    staffData: this.prefs,
                    preferenceTypeSms: preferencesHistoryInputTypeSMS,
                    preferenceTypeEmail: preferencesHistoryInputTypeEMAIL
                }

                let apiName = 'ManageNotificationPreferences'
                let path = '/staff/' + this.staffId        
                let put = {body: body}
                await API.put(apiName, path, put)
                this.$message.success("Your preferences have been udpated!");
                this.startingPrefs = {...this.prefs}
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.isLoading = false
            }
        },

    }
}
</script>