<template>
  <div v-loading="loading">

    <!--Header-->
    <div class="flex items-center justify-between mb-8">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }">{{$t('label.associates')}}</el-breadcrumb-item>
        <el-breadcrumb-item>New {{$t('label.associate')}}</el-breadcrumb-item>
      </el-breadcrumb>    
    </div>

    <!--Form-->
    <AddDaForm class="w-full" ref="addDaForm" 
    :formFields="formFields" 
    :disableTranspoterId="false"/>


    <!--Footer-->
    <div class="flex justify-end mt-8 flex-wrap gap-y-3">
      <ButtonGroupWrapper>
        <template slot-scope="{disabled, setDisabled}">
          <el-button
            :disabled="disabled"
            @click="$router.go(-1)"
          >
            Cancel
          </el-button>
          <ButtonWrapper
            type="primary"
            data-cy="staffnew_create_btn"
            :clickHandler="validateForm"
            :handlerArgs="[false]"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            Create
          </ButtonWrapper>
          <ButtonWrapper
            type="primary"
            data-cy="staffnew_create_another_btn"
            :clickHandler="validateForm"
            :handlerArgs="[true]"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            Create + Add Another
          </ButtonWrapper>
        </template>
      </ButtonGroupWrapper>
    </div>
  </div>
</template>

<script>
import AddDaForm from './components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  name: 'StaffNew',
  props: ['formStatus'],
  components: {
    AddDaForm,
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  mixins: [AddDaFormMixin],  
  data() {
    return {
    }
  },
  mounted(){
    if(window.Cypress) window.StaffNew=this  /*this line is for test cypress*/
  }
}
</script>