<template>
  <div>
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-7">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
          <el-breadcrumb-item :to="{ name: 'ReportsIndex' }">
            <i class="uil uil-file-alt mr-1"></i>Tasks & Reports
          </el-breadcrumb-item>

          <el-breadcrumb-item>Incident Records</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>

    <div
      v-if="!hasIncidentAccess"
      class="bg-gray-900 premium-warning-container bg-opacity-50"
      @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
    >
      <div class="sample-pill">Upgrade</div>
      <div class="premium-warning-triangle">
        <p class="transform-text text-sm text-white">Requires Premium</p>
      </div>
    </div>

    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            <span>Incident Records</span>
          </template>

          <template v-slot:filters>
            <CounterFilter :counter="countAppliedFilters" />

            <MultiSelectFilter
              type="incidentType"
              title="Incident Type"
              :options="incidentTypeFilterOptions"
              :selected="incidentTypeSelectedOptions"
              @update-filters="handleMultipleFilterChange"
            />

            <SingleSelectFilter
              title="Incident Date"
              :options="incidentDateFilterOptions"
              :currentFilter="incidentDateSelectedOption"
              @update-options="handleSingleFilterChange"
            />
          </template>
        </ContainerFilter>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="$event => search = $event"/>
      </template>

      <!--Table-->
      <CustomTable
        v-loading="loading"
        inTable
        :withTableMenu="hasIncidentAccess"
        :expandCollapseColumn="true"
        ref="table"
        emptyText="No Incident Records"
        footerTable="Incident Records"
        :defaultSort = "{prop: 'date', order: 'descending'}" 
        :columns="cols"
        :data="filteredTableData"
        :totalRecords="tableData.length"
        :optionsHeader="optionsContextHeader"
        :optionsRows="optionsContextRow"
        @click-menu="handleCommand"
      >
        <template #accidentDate="row">
          <span>{{ intlFormatDate(row.accidentDate) }}</span>
        </template>

        <template #staff.firstName="row">
          <span>{{ getStaffName(row, 'firstName') | text }}</span>
        </template>

        <template #staff.lastName="row">
          <span>{{ getStaffName(row, 'lastName') | text }}</span>
        </template>

        <template #vehicle.name="row">
          <span class="truncate">{{ getVehicleName(row) | text }}</span>
        </template>

        <template #attachments="row">
          <el-button
            v-if="incidentHasAttachments(row)"
            type="text"
            class="align-middle inline-block el-button--text text-sm cursor-pointer"
            data-cy="download-attachments-button"
            @click="() => downloadAttachments(row)"
          >
            <i class="uil uil-paperclip icon-button"></i> {{ getAttachmentsCount(row) }}
          </el-button>

          <span v-else>—</span>
        </template>
      </CustomTable>
    </TableCard>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import TableCard from '@/components/TableCard/TableCard';
import CustomTable from '@/components/TableCard/CustomTable';
import ContainerFilter from '@/components/TableCard/ContainerFilter';
import MultiSelectFilter from '@/components/MultiSelectFilter';
import SingleSelectFilter from '@/components/SingleSelectFilter';
import SearchBox from '@/components/TableCard/SearchBox';
import { calculateRange, isInRange } from '@/utilities/dateRangeCalculator';
import CounterFilter from '@/components/CounterFilters';
import { accidentsByGroupAndHistoryType } from './queries'
import {
  INCIDENT_ROUTE_EDIT,
  INCIDENT_ROUTE_NEW,
} from '@/utilities/constants/routeNames';
import {
  sortByDateProp,
  sortByStringProp,
} from '@/utilities/sortHelpers';
import { getDateFilterOptions } from '@/utilities/filterOptions';
import sampleData from './sampleData';

export default {
  name: "AccidentIndex",

  components: {
    TableCard,
    CustomTable,
    ContainerFilter,
    CounterFilter,
    MultiSelectFilter,
    SingleSelectFilter,
    SearchBox,
  },

  inject: [
    'showWarningDialog',
  ],

  data() {
    return {
      tableData: [],
      search: '',
      loading: false,
      incidentTypeFilterOptions: [],
      incidentTypeSelectedOptions: [],
      incidentDateSelectedOption: 'all dates',
      incidentDateFilterOptions: getDateFilterOptions('all dates'),
      optionsContextHeader: [
        { label: "Add Incident Record", action: "addIncident", divided: false},
      ],
      optionsContextRow: [
        { label: "View Incident Record", action: "viewIncident", divided:  false},
      ],
      cols: [
        { name: "Date", col: "accidentDate", fixed: false, width: "110", sortable: true,  sortMethod: sortByDateProp('accidentDate')},
        { name: `${this.$t('label.associate')} First Name`, col: "staff.firstName", fixed: false, width: "220", sortable: true, sortMethod: sortByStringProp('staff.firstName') },
        { name: `${this.$t('label.associate')} Last Name`, col: "staff.lastName", fixed: false, width: "220", sortable: true, sortMethod: sortByStringProp('staff.lastName') },
        { name: "Vehicle", col: "vehicle.name", fixed: false, width: "150", sortable: true, sortMethod: sortByStringProp('vehicle.name') },
        { name: "At Fault?", col: "atFault", fixed: false, width: "120", sortable: false },
        { name: "Notes", col: "notes", fixed: false, width: "200", sortable: false },
        { name: "Attachments", col: "attachments", fixed: false, width: "150", sortable: false },
      ],
    }
  },

  async created() {
    this.loadData();
    // await for filters to load before loading selected options
    await this.loadIncidentTypeFilterOptions();
    this.loadFilterOptions();
  },

  computed:{
    ...mapState([
      'userInfo',
    ]),

    ...mapGetters([
      'hasIncidentAccess',
      'incidentTypeList'
    ]),

    countAppliedFilters() {
      const incidentTypeApplied = this.incidentTypeFilterOptions.length !== this.incidentTypeSelectedOptions.length;
      const incidentDateApplied = this.incidentDateSelectedOption !== "all dates"

      let count = 0;
      count += incidentTypeApplied? 1: 0;
      count += incidentDateApplied? 1: 0;

      return count;
    },

    filteredTableData() {
      let filteredData = this.filterArray(this.tableData, this.search);

      filteredData = this.filterDataByIncidentType(filteredData, this.incidentTypeSelectedOptions);
      filteredData = this.filterDataByIncidentDate(filteredData, this.incidentDateSelectedOption);

      return filteredData;
    },
  },

  methods: {
    filterDataByIncidentType(data=[], filters=[]) {
      if (!filters?.length) return data;

      const mappedFilters = new Map();
      filters.forEach(value => mappedFilters.set(value, true));

      return data.filter(item => !!mappedFilters.get(item?.optionCustomList?.option));
    },

    filterDataByIncidentDate(data=[], filter='') {
      if (!filter || filter === 'all dates') return data;

      const [start, end] = calculateRange(filter);
      return data.filter(item => isInRange(start, end, item.accidentDate));
    },

    handleMultipleFilterChange(e){
      const { type, filters } = e;

      if (type === 'incidentType') {
        this.incidentTypeSelectedOptions = filters;
      }
    },

    handleSingleFilterChange(e) {
      this.incidentDateFilterOptions = e.options;
      this.incidentDateSelectedOption = e.currentFilter;
    },

    async loadIncidentTypeFilterOptions() {
      const firstList = this.incidentTypeList;
      const sortedList = firstList.sort((a, b) => a.order - b.order);
      this.incidentTypeFilterOptions = sortedList.map(item => item.option);
      return this.incidentTypeFilterOptions
    },

    loadFilterOptions() {
      const typeFilters = this.getTypeQueryFilters();
      // Load type multi filter
      if (!typeFilters?.length ||
          typeFilters.length === this.incidentTypeFilterOptions.length)
      { // Select all filters
        this.incidentTypeFilterOptions = [...this.incidentTypeFilterOptions]; // Reload filter list
        this.incidentTypeSelectedOptions = this.incidentTypeFilterOptions;
      }
      else {
        this.incidentTypeSelectedOptions = typeFilters;
      }

      // Load date single filter
      this.selectDateQueryFilters();
    },

    selectDateQueryFilters() {
      const { query } = this.$route;
      const date = query?.date;

      if (!date) return;

      const key = date.toLowerCase();
      const dateOption = this.incidentDateFilterOptions.find(item => item.value === key);

      if (dateOption) {
        this.incidentDateFilterOptions = this.incidentDateFilterOptions.map(item => ({
          ...item,
          selected: item.value === dateOption.value,
        }));
        this.incidentDateSelectedOption = dateOption.value;
      }
    },

    getTypeQueryFilters() {
      const { query } = this.$route;
      const type = query?.type;

      if (!type) return [];

      const typeMap = new Map();
      for (const filter of this.incidentTypeFilterOptions) {
        const key = filter.toLowerCase();
        typeMap.set(key, filter);
      }

      const typeFilters = type?.split(',').reduce((filters, filter) => {
        const key = filter.toLowerCase();
        const value = typeMap.get(key);

        if (value) {
          filters.push(value);
        }

        return filters;
      }, []);

      return typeFilters;
    },

    getStaffName(incident, nameProp) {
      const staff = incident?.staff;
      if (!staff) return '—';

      return staff[nameProp]|| '—';
    },

    getVehicleName(incident) {
      return incident?.vehicle?.name || '—';
    },

    getIncidentAttachments(incident) {
      let attachments = [];
      attachments = attachments.concat(incident.incidentDocuments?.items || []);
      attachments = attachments.concat(incident.vehicleDamageImages?.items || []);
      attachments = attachments.concat(incident.maintenanceDocuments?.items || []);
      // Count only item that can be downlaoded from s3
      return attachments.filter(item => !!item.key);
    },

    incidentHasAttachments(incident) {
      const attachments = this.getIncidentAttachments(incident);
      return attachments.length > 0;
    },

    getAttachmentsCount(incident) {
      const attachments = this.getIncidentAttachments(incident);

      if (!attachments.length) return '—';

      return `${attachments.length} Files`;
    },

    async downloadAttachments(incident) {
      const attachments = this.getIncidentAttachments(incident);

      for (const file of attachments) {
        await this.downloadBlob(file.key, file.name);
      }
    },

    handleCommand(payload) {
      if(!this.hasIncidentAccess) {
        this.showWarningDialog('Vehicle Management or Associate Management', 'create Indicent Records');
        return;
      }

      const {action, row} = payload;

      if(action === "addIncident") return this.$router.push({ name: INCIDENT_ROUTE_NEW });

      if(action == "viewIncident") {
        return this.$router.push({
          name: INCIDENT_ROUTE_EDIT,
          params:{
            accidentID: row.id,
          },
        });
      }
    },

    async loadRecordsByHistoryType(historyType) {
      const input = {
        group: this.userInfo.tenant.group,
        vehicleHistoryTypeAccidentDate: {
          beginsWith: {
            vehicleHistoryType: historyType,
          }
        },
        sortDirection: "DESC",
      };

      try {
        const records = await this.gLoadListAll(accidentsByGroupAndHistoryType, input, 'accidentsByGroupAndHistoryType');
        return records;
      }
      catch (error) {
        throw new Error(error);
      }
    },

    async loadData() {
      if (!this.hasIncidentAccess) { // load sample data
        this.tableData = sampleData;
        return;
      }

      try {
        this.loading = true;

        const incidents = await this.loadRecordsByHistoryType('Incident');
        const accidents = await this.loadRecordsByHistoryType('Accident');

        this.tableData = incidents.concat(accidents);
      }
      catch(e) {
        console.log(e);
        this.displayUserError(e);
      }
      finally {
        this.loading = false;
      }
    },
  }
}
</script>
