
<template >
  <div v-loading="loading">
    <!--HEADER-->
    <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-dropdown v-if="$store.getters.hasVehicleManagement" @command="handleAddCommand" trigger="hover">
            <div class="flex items-center space-x-3">
                <el-button  size="small" class="w-40" type="primary">Add<i class=" rotate-90 uil uil-angle-right-b"></i></el-button>
            </div>
            <el-dropdown-menu slot="dropdown" @command="handleAddCommand">
              <template v-if="hasAccidentPermissions">
                <el-dropdown-item :command="{command: 'addIncident', param: 'incident'}">
                  Incident Record
                </el-dropdown-item>
                <el-dropdown-item :command="{command: 'addIncident', param: 'accident'}">
                  <i class="uil uil-corner-down-right"></i> Accident
                </el-dropdown-item>
              </template>

              <el-dropdown-item :command="{command: 'addVehicleDamage'}">Vehicle Damage</el-dropdown-item>
            </el-dropdown-menu>
            </el-dropdown>
            <el-popover
            v-else
            placement="bottom"
            title="Premium Required"
            width="215"
            trigger="hover"
            content=""
            class="mr-2 text-center"
            > 
            <el-button class="w-40 opacity-50" size="small" type="primary" slot="reference">Add</el-button>
            <PremiumWarning
                action="add Accident Records and vehicle damage"
                premiumFeature="vehicle management">
            </PremiumWarning>
            </el-popover>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            class="flex-1"
            placeholder="Filter this list by any column..."/>
        </div>
    </div>  


    <!--ACCIDENT TABLE-->
    <el-table
        ref="table"
        empty-text="No Incidents or Vehicle Damage"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'date', order: 'descending'}"
        >
        <el-table-column
        label="Type"
        sortable
        prop="vehicleHistoryType">
          <template slot-scope="scope">
            {{ handleRecordHistoryType(scope.row) }}
          </template>
        </el-table-column> 
        

        <el-table-column
          v-if="staffID"
          label="Vehicle"
          sortable
          prop="vehicle"
          :sort-method="sortVehicle">
          <template slot-scope="scope">
            <p v-if="scope.row.vehicle">
              {{ scope.row.vehicle.name | text }}
            </p>
            <p v-else>—</p>
          </template>
        </el-table-column>

        <el-table-column
          label="Date"
          sortable
          prop="date"
          :sort-method="sortDate">
          <template slot-scope="scope">
            {{ scope.row.accidentDate | date }}
          </template>
        </el-table-column>

        <el-table-column
          v-if="staffID"
          label="Drug Test Date"
          prop="drugTestDate">
          <template slot-scope="scope">
            {{ scope.row.drugTestDate | date }}
          </template>
        </el-table-column>   

        <el-table-column
          v-if="staffID"
          label="Results"
          prop="drugTestResults">
          <template slot-scope="scope">
            {{ scope.row.drugTestResult | text }}
          </template>
        </el-table-column>  

        <el-table-column
          v-if="staffID"
          label="Damage"
          prop="damage"
          width="150">
          <template slot-scope="scope">
            <span class="truncate">{{ scope.row.damage | text }}</span>
          </template>
        </el-table-column>

        <el-table-column
          v-if="staffID"
          label="Damage Severity"
          prop="damageSeverity">
          <template slot-scope="scope">
            {{ scope.row.damageSeverity | text }}
          </template>
        </el-table-column>  

        <el-table-column
          v-if="staffID"
          label="Notes"
          prop="notes"
          width="120">
          <template slot-scope="scope">
            <span class="truncate width-80-px">{{ scope.row.notes | text }}</span>
          </template>
        </el-table-column>  

        <el-table-column fixed="right" align="right" width="60">
          <template slot-scope="scope">
          <el-dropdown class="mt-1" @command="handleCommand" trigger="click">
            <i class="context-menu uil uil-ellipsis-h"></i>
            <el-dropdown-menu slot="dropdown" @command="handleCommand">
              <el-dropdown-item :command="{row: scope.row, action: 'edit'}">View &#38; Edit</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.vehicleHistoryType == 'Accident'" :command="{row: scope.row, action: 'print'}">Print</el-dropdown-item> 
            </el-dropdown-menu>
          </el-dropdown>
          </template>
        </el-table-column>

    </el-table>

    <p class="mt-4">{{tableCount}}</p>

    <!-- VEHICLE DAMAGE DRAWER -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="VehicleDamage_StaffList"
      :loadingStaffList="VehicleDamage_LoadingStaffList"

      :vehicleList="VehicleDamage_VehicleList"
      :loadingVehicleList="VehicleDamage_LoadingVehicleList"
      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="handleDamageSave"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="handleDamageDelete"
    />
  </div>

</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { accidentsByVehicle } from './queries'
import { accidentsByStaffAndHistoryType } from './queries'
import PremiumWarning from '@/components/PremiumWarning'
import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
import {
  INCIDENT_ROUTE_EDIT,
  INCIDENT_ROUTE_NEW,
} from '@/utilities/constants/routeNames';

export default {
  name: 'AccidentList',
  props: ['fullName', 'staffData', 'staffID', 'vehicleID', 'firstName', 'lastName'],

  mixins: [
    VehicleDamageMixin,
  ],

  components: {
    PremiumWarning,
    VehicleDamage,
  },

  inject: ['showWarningDialog'],

  data() {
    return {
      USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
      loading: '',
      search: '',
      tableData: [],
      editAccidentData:{},
      redirect: '',
    }
  },

  mounted(){
      this.loadData()
  },

    computed:{
      ...mapState([
        'userInfo',
      ]),

      ...mapGetters([
        'hasIncidentAccess',
      ]),


      hasAccidentPermissions() {
        return (
          (!this.USER_PERMISSIONS) ||
          (this.USER_PERMISSIONS && this.userInfo.permissionAccidents)
        );
      },

        tableCount(){
            let str = (this.tableData.length || 0) + ' Total'
            if(!this.USER_PERMISSIONS || ( this.USER_PERMISSIONS && this.$store.state.userInfo.permissionAccidents)){
                str += ' Incidents and'
            }
            str += ' Vehicle Damage'
            return str
        }
    },

  methods: {
    handleRecordHistoryType(accident) {
      const historyType = accident.vehicleHistoryType;
      const incidentType = accident.optionCustomList?.option;

      if (incidentType) return `Incident (${incidentType})`;
      if (historyType) return historyType;

      return '—';
    },


    handleAddCommand(payload) {
      const { command } = payload;

      if(command == "addIncident") {
        if(!this.hasIncidentAccess) {
          this.showWarningDialog('Vehicle Management or Associate Management', 'create Indicent Records');
          return;
        }

        const loadAsAccidentType = payload.param === 'accident';

        this.$router.push({
          name: INCIDENT_ROUTE_NEW,
          params: {
            loadAsAccidentType,
            staffID: this.staffID,
            fullName: this.fullName,
          },
        });
        return;
      }

      if(command == "addVehicleDamage"){
        this.openCreateDamageModal()
        return
      }
    },

    async loadData() {
      this.loading = true;

      try{
        if (this.staffID != null && this.staffID != undefined){
          const input = {
            staffId: this.staffID,
          };

          // filter out accidents if user doesn't have permission
          if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
            input.filter = {
              and: [
                { vehicleHistoryType: { ne: "Accident" } },
                { vehicleHistoryType: { ne: "Incident" } },
              ]
            }
          }

          this.tableData = await this.gLoadListAll(accidentsByStaffAndHistoryType, input, 'accidentsByStaffAndHistoryType');
        }
        if (this.vehicleID != null && this.vehicleID != undefined){
          const input = {
            vehicleId: this.vehicleID,
          };

          this.tableData = await this.gLoadListAll(accidentsByVehicle, input, 'accidentsByVehicle');
        }
      }catch(e) {
        this.displayUserError(e)         
      }finally{
        this.loading = false;
        this.redirect = this.$route.fullPath
      }
    },

    handleCommand(payload){
      var row = payload.row
      var action = payload.action
      
      if(action == "edit" && (row.vehicleHistoryType == "Accident" || row.vehicleHistoryType == "Incident")){
        this.$router.push({
          name: INCIDENT_ROUTE_EDIT,
          params: {
            accidentID: row.id,
            staffID: this.staffID,
          }
        });
        return
      }
      if(action == "edit" && row.vehicleHistoryType == "Vehicle Damage"){
        this.viewDamageDetails(row.id)
        return
      }
      if(action == "print"){
        this.handlePrint(row)
        return
      }
    },

    /*
    * Opens the last saved accident data in a print view
    */
    handlePrint: function(row){
      let routerName = ''

      if(row.vehicleHistoryType == "Accident") routerName = 'PrintAccident'
      if(row.vehicleHistoryType == "Vehicle Damage") routerName = 'PrintVehicleDamage'

      let route = this.$router.resolve({name: `${routerName}`, params:{accidentID: row.id}})
      window.open(route.href, '_blank')
    },

    openCreateDamageModal() {
      const payload = {
        mode: 'create',
        formAction: 'Create',
        formTitle: 'Add Vehicle Damage Record',
        disableVehicleSelection: false,
        formFields: {
          staff: { id: this.staffID }
        },
        prefixCounselingCreatedFrom: 'Vehicle Damage Record',
      };

      this.$_VehicleDamage_open(payload);
    },

    viewDamageDetails(id) {
      const payload = {
        mode: 'edit',
        damageId: id,
        formAction: "Update",
        formTitle: "Edit Vehicle Damage Record",
        disableVehicleSelection: false,
      };

      this.$_VehicleDamage_open(payload);
    },

    async handleDamageSave() {
      await this.$_VehicleDamage_saveData();

      if (!this.VehicleDamage_IsOpen) { // Save success
        this.loadData();
      }
    },

    async handleDamageDelete() {
      await this.$_VehicleDamage_delete();

      if (!this.VehicleDamage_IsOpen) { // Delete success
        this.loadData();
      }
    },

    sortVehicle(a,b){
      return ('' + a.vehicle.name.toLowerCase()).localeCompare(b.vehicle.name.toLowerCase());
    },  
    sortDate(a,b){
        return new Date(a.accidentDate) - new Date(b.accidentDate);
    },
    sortLastName(a,b){
      return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
    },
  }
}
</script>
<style scoped>
 .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

.width-80-px{
  width: 80px !important;
}
</style>