<template>
  <div>
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-7">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
          <el-breadcrumb-item v-if="isIndexRoute" :to="{ name: 'VehicleIndex' }">
            <i class="uil uil-truck mr-1"></i>Vehicle Management
          </el-breadcrumb-item>

          <el-breadcrumb-item v-else :to="{ name: 'ReportsIndex' }">
            <i class="uil uil-file-alt mr-1"></i>Reports
          </el-breadcrumb-item>

          <el-breadcrumb-item>
            {{ isRecentRoute? 'Recent': '' }} Vehicle Damage Records
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>

      <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-5">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          placeholder="Filter this list by any column..."/>
      </div>
    </div>

    <div>
      <el-table
        v-loading="loading"
        ref="table"
        class="data-table"
        style="width: 100%"
        empty-text="No Vehicle Damage"
        row-class-name="table-row cursor-pointer"
        header-cell-class-name="table-header-cell"
        :data="filteredRecords"
        :default-sort = "{prop: 'date', order: 'descending'}"
      >
        <el-table-column
          label="Date"
          width="110"
          prop="date"
          sortable
          :sort-method="sortByDateProp('accidentDate')"
        >
          <template slot-scope="scope">
            {{scope.row.accidentDate | date}}
          </template>
        </el-table-column>

        <el-table-column
          :label="`${$t('label.associate')} First Name`"
          width="220"
          prop="staffFirstName"
          sortable
          :sort-method="sortByStringProp('staff.firstName')">
          <template slot-scope="scope">
            <div v-if="scope.row.staff">{{scope.row.staff.firstName | text}}</div>
            <div v-else>—</div>
          </template>
        </el-table-column>

        <el-table-column
          :label="`${$t('label.associate')} Last Name`"
          prop="staffLastName"
          width="220"
          sortable
          :sort-method="sortByStringProp('staff.lastName')">
          <template slot-scope="scope">
            <div v-if="scope.row.staff">{{scope.row.staff.lastName | text}}</div>
            <div v-else>—</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Vehicle"
          width="200"
          prop="injury"
          sortable
          :sort-method="sortByStringProp('vehicle.name')">
          <template slot-scope="scope">
            <div v-if="scope.row.vehicle" class="truncate">{{scope.row.vehicle.name | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Damage"
          width="200"
          prop="injury">
          <template slot-scope="scope">
            <div class="truncate">{{scope.row.damage | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Damage Severity"
          width="100"
          prop="injury">
          <template slot-scope="scope">
            {{scope.row.damageSeverity | text}}
          </template>
        </el-table-column>

        <el-table-column
          label="At Fault?"
          width="100"
          prop="injury"
        >
          <template slot-scope="scope">
            <div class="truncate">{{scope.row.atFault | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Notes"
          prop="incident"
        >
          <template slot-scope="scope">
            <div class="truncate width-180-px">{{scope.row.notes | text}}</div>
          </template>
        </el-table-column>
        
        <el-table-column aligh="right" width="55">
          <template slot="header">
            <el-dropdown v-if="$store.getters.hasVehicleManagement" class="mt-1" @command="handleCommand">
                <ContextMenuHeaderIcon class="mr-1 context-menu-header-hover"/>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item :command="{action: 'addDamage', }">Add Vehicle Damage Record</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
          </template>

          <template slot-scope="scope">
            <el-dropdown @command="handleCommand" trigger="click" class="mt-1">
              <i class="context-menu uil uil-ellipsis-h"></i>
              <el-dropdown-menu slot="dropdown" @command="handleCommand">
                <el-dropdown-item :command="{record: scope.row, action: 'viewDamage'}">View Vehicle Damage Record</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
    
        </el-table>
        <div v-if="nextToken" class="flex justify-center mt-4">
          <el-button round @click="loadData">Load More</el-button>
        </div>

        <p class="mt-4">{{ footerText }}</p>
    </div>

    <!-- VEHICLE DAMAGE DRAWER -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="VehicleDamage_StaffList"
      :loadingStaffList="VehicleDamage_LoadingStaffList"

      :vehicleList="VehicleDamage_VehicleList"
      :loadingVehicleList="VehicleDamage_LoadingVehicleList"
      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="handleDamageSave"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="handleDamageDelete"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import { accidentsByGroupAndHistoryType } from './queries'
import { accidentsByGroupAndAccidentDate } from '@/views/Vehicles/queries';
import PremiumWarning from '@/components/PremiumWarning'
import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
import {
  sortByDateProp,
  sortByStringProp,
} from '@/utilities/sortHelpers';
import {
  VEHICLE_DAMAGE_ROUTE_INDEX,
  VEHICLE_DAMAGE_ROUTE_RECENT,
} from '@/utilities/constants/routeNames';

export default {
  name: "AccidentVehicleDamageIndex",

  mixins: [
    VehicleDamageMixin,
  ],

  components: {
    PremiumWarning,
    ContextMenuHeaderIcon,
    VehicleDamage,
  },
  props: ['addVehicleDamage'],
  data() {
    return {
      tableData: [],
      search: '',
      loading: true,
      nextToken: null,
    }
  },

  created() {
    this.appendSortFunctionsToInstace();

    this.handleLoadData();
  },

  mounted() {
    if(this.addVehicleDamage || this.$route.params.addVehicleDamage) {
      this.handleCreateDamage();
    }
  },

  computed:{
    ...mapState([
      'userInfo',
    ]),

    isIndexRoute() {
      return this.$route.name === VEHICLE_DAMAGE_ROUTE_INDEX;
    },

    isRecentRoute() {
      return this.$route.name == VEHICLE_DAMAGE_ROUTE_RECENT;
    },

    filteredRecords() {
      return this.filterArray(this.tableData, this.search);
    },

    footerText() {
      const type = this.isRecentRoute? 'Recent': '';
      const totalCount = this.tableData.length;
      const subCount = this.filteredRecords.length;

      let text = `${totalCount} Total ${type} Vehicle Damage Records`;

      if (this.search) {
        text = `Showing ${subCount} of ${text}`;
      }

      return text;
    },
  },

  methods: {
    appendSortFunctionsToInstace() {
      this.sortByDateProp = sortByDateProp;
      this.sortByStringProp = sortByStringProp;
    },

    handleLoadData() {
      if(this.isIndexRoute) return this.loadData();
      if (this.isRecentRoute) return this.loadRecentData();
    },

    handleCommand(payload={}) {
      const {action, record} = payload;

      if(action == "addDamage") return this.handleCreateDamage();
      if(action == "viewDamage") return this.editVehicleDamage(record.id);
    },

    handleCreateDamage() {
      const payload = {
        mode: 'create',
        formAction: 'Create',
        formTitle: 'Create Vehicle Damage Report',
        disableVehicleSelection: false,
        prefixCounselingCreatedFrom: 'Vehicle Damage Record',
      };

      this.$_VehicleDamage_open(payload);
    },

    editVehicleDamage(damageId) {
      const payload = {
        mode: 'edit',
        damageId,
        formAction: "Update",
        formTitle: "Edit Vehicle Damage Report",
        disableVehicleSelection: true,
      };

      this.$_VehicleDamage_open(payload);
    },

    getVehicleDamageFetchInput() {
      return {
        group: this.userInfo.tenant.group,
        vehicleHistoryTypeAccidentDate: {
          beginsWith: {
            vehicleHistoryType: "Vehicle Damage"
          }
        },
        limit: 20,
        sortDirection: "DESC",
        nextToken: this.nextToken,
      };
    },

    async loadData() {
      const input = this.getVehicleDamageFetchInput();
      
      try {
        this.loading = true;

        const result = await this.api(accidentsByGroupAndHistoryType, input, 'accidentsByGroupAndHistoryType');
        const newRecords = result.data.accidentsByGroupAndHistoryType.items;
        this.nextToken = result.data.accidentsByGroupAndHistoryType.nextToken;

        this.tableData = this.tableData.concat(newRecords);
      }
      catch(e) {
        console.log(e)
        this.displayUserError(e)
      }
      finally {
        this.loading = false;
      }
    },

    async handleDamageSave() {
      await this.$_VehicleDamage_saveData();

      if (!this.VehicleDamage_IsOpen) { // Save success
        this.handleLoadData();
      }
    },

    async handleDamageDelete() {
      await this.$_VehicleDamage_delete();

      if (!this.VehicleDamage_IsOpen) { // Delete success
        this.handleLoadData();
      }
    },

    async loadRecentData(){
      this.loading = true;

      try{
        const currentDate = this.$moment();
        const tomorrow = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
        const ninetyDaysAgo = this.$moment(currentDate).subtract(90, 'days').format('YYYY-MM-DD');

        const input = {
          sortDirection: "ASC",
          group: this.userInfo.tenant.group,
          accidentDate: {
            between: [ninetyDaysAgo, tomorrow],
          },
        };

        const results = await this.gLoadListAll(accidentsByGroupAndAccidentDate, input, 'accidentsByGroupAndAccidentDate');

        this.tableData = results.filter(item => item.vehicleHistoryType == "Vehicle Damage");
      }
      catch(e) {
        console.log(e);
        this.displayUserError(e);
      }
      finally {
        this.loading = false;
      }
    }
  }
}
</script>

<style scoped>
.width-180-px{
  width: 180px !important;
}
</style>
