<template>
    <div v-if="formData" class="px-4" >
        <div class="flex justify-between w-full items-center">
            <div class="flex items-center mt-2 space-x-4"> <img :src="companyLogo" class="h-20"><span class="text-gray-600 text-base font-bold">{{tenantName}} Accident Form</span></div><div> </div>
        </div>
        
        <div class="block w-full pl-2" v-if="!loading">
            <el-form label-position="top" size="small" v-if="!loading" v-loading="loading">
                <div class="flex lg:space-x-4 mx-2">

                    <div class="flex-1">
                        <el-form-item :label="$t('label.associate')" prop="name" class="non-edit-field-text-black">
                            {{ formData.staff.firstName }}  {{ formData.staff.lastName }}
                        </el-form-item>
                    </div>

                    <div class="flex-1">
                        <el-form-item label="Accident Date" prop="date" class="non-edit-field-text-black">
                            {{ formData.accidentDate | date }}
                        </el-form-item>
                    </div>
                </div>

                <div class="border-b-1 border-gray-600"/>


                <div class="flex lg:space-x-4 mx-2">
                    <div class="flex-1">
                        <el-form-item label="Vehicle" prop="v" class="non-edit-field-text-xs-text-black">
                            {{ formData.vehicle ? formData.vehicle.name : "" | text }}
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item label="Accident Location" prop="address" class="non-edit-field-text-xs-text-black">
                            <p>{{ formData.address | text }}</p>
                            {{ formData.addressCity | text }}, {{ formData.addressState | text }}  {{ formData.addressZip | text }}
                        </el-form-item>
                    </div>
                </div>
                <el-form-item label="At Fault?" prop="atFault" class="non-edit-field-text-xs-text-black mx-2">
                    {{ formData.atFault | text }}
                </el-form-item>
                <div class="flex lg:space-x-4 mx-2">
                    <div class="flex-1">
                        <el-form-item label="Drug Test" prop="drugTestDate" class="non-edit-field-text-xs-text-black">
                            {{ formData.drugTestDate | date }}
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item label="Results" prop="drugTestResults" class="non-edit-field-text-xs-text-black">
                            {{ formData.drugTestResult | text }}
                        </el-form-item>
                    </div>
                </div>
                <div class="flex lg:space-x-4 mx-2">
                    <div class="flex-1">
                        <el-form-item label="Police Department" prop="policeDepartment" class="non-edit-field-text-xs-text-black">
                            {{ formData.policeDepartment | text }}
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item label="Police Officer Name" prop="policeOfficerName" class="non-edit-field-text-xs-text-black">
                            {{ formData.policeOfficerName | text}}
                        </el-form-item>
                    </div>
                </div>
                <el-form-item label="Police Report Number" prop="policeReportNumber" class="non-edit-field-text-xs-text-black mx-2">
                    {{ formData.policeReportNumber | text }}
                </el-form-item>
                <div class="flex lg:space-x-4 mx-2">
                    <div class="flex-1">
                        <el-form-item label="Verified Date" prop="verifiedDate" class="non-edit-field-text-xs-text-black">
                            {{ formData.verifiedDate | date }}
                        </el-form-item>
                    </div>
                    <div class="flex-1">
                        <el-form-item label="Verified By" prop="verifiedBy" class="non-edit-field-text-xs-text-black">
                            {{ formData.verifiedBy.firstName }} {{ formData.verifiedBy.lastName }}
                        </el-form-item>
                    </div>
                </div>
                <el-form-item label="Notes" prop="notes" class="non-edit-field-text-xs-text-black mx-2">
                    {{ formData.notes | text }}
                </el-form-item>
            </el-form>
        </div>
        <div class="flex mt-6">
            <!--<p>Accident Images</p>
            <div class="border-b-1 border-gray-600"/>
            <div v-for="image in imageList" :key="image.id">
                <infractionListDetail
                    :formData="infraction"
                />
            </div>-->
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { getAccident } from './queries'

export default {
    name: 'AccidentPrint',
    props: ['accidentID'],
    data(){
        return{
            loading: true,
            fileUploadEvent: null,
            formData: {},
            path: null,
            deleteFile: false,
            deleteFileKey: null,
            formFields: {}
        }
    },
    mounted(){
        this.windowPrint()
    },


    computed:{
        tenantName(){
            return this.userInfo.tenant.companyName
        },
        tenantLogo(){
            return this.companyLogo
        },
        ...mapState([
            'valuelists',
            'companyLogo',
            'userInfo'
        ])
    },

    methods:{   
        
        async loadData(){
        if (this.accidentID){
            try{
                this.loading = true
                let accident = await this.api(getAccident, { id: this.accidentID }) 
                this.formData = accident.data.getAccident
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        }
        },

        windowPrint: async function(){
            try{
                await this.loadData();
                await this.sleep(1500);
                window.print();
            }
            catch(e){
                this.displayUserError(e)
            }
        },

        sleep(ms) {
            return new Promise((resolve) => {
                setTimeout(resolve, ms);
            });
        }
    },
}
</script>