<template>
    <div v-if="hasIncidentAccess && hasAccidentPermissions" data-cy="vm_accident_form" v-loading="loading">
        <!--CREATE COUNSELING MODAL-->
        <el-dialog
        title="Create Incident"
        :visible.sync="createCounselingModal"
        width="600px"
        :close-on-click-modal="false"
        >
            <p class="break-normal">
                Would you like to also create a pending counseling record with this incident?
            </p>

            <span slot="footer" class="dialog-footer">
                <el-button @click="createCounselingModal = false">Cancel</el-button>
                <el-button type="primary" @click="createAccident">No</el-button>
                <el-button data-cy="create_counseling_accicent_btn" v-if="$store.getters.hasPerformanceCoaching" type="primary" @click="createCounselingAndAccident">Yes</el-button>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block"
                    > 
                <el-button class="opacity-50" type="primary" slot="reference">Yes</el-button>
                <PremiumWarning
                    action="create counselings with accidents"
                    premiumFeature="performance and coaching">
                </PremiumWarning>
                </el-popover>
            </span>
        </el-dialog>

        <!--HEAD-->
        <div class="flex justify-between items-center">
            <div class="flex justify-between">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum" class="mb-4">
                    <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="staffID" :to="{ name: 'StaffIndex' }">{{$t('label.associate')}}</el-breadcrumb-item>
                    <el-breadcrumb-item v-else-if="vehicleID" :to="{ name: 'VehicleIndex' }">Vehicle</el-breadcrumb-item>
                    <el-breadcrumb-item v-if="staffID" :to="{ name: 'StaffDetail', params: { id: staffID } }">{{fullName}}</el-breadcrumb-item>
                    <el-breadcrumb-item v-else-if="vehicleID" :to="{ name: 'VehicleDetail', params: { id: vehicleID } }">{{selectedVehicleName}}</el-breadcrumb-item>

                    <el-breadcrumb-item>{{ breadcrumbIncidentText }}</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <span v-if="!isNew" class="flex space-x-2 justify-end -mt-4">
                <i class="icon-button hover:text-brand uil uil-file-download" @click="handlePrint"/>
                <i class="icon-button hover:text-brand uil uil-print" @click="handlePrint"/>
                <i v-if="hasVehicleManagement" class="icon-button hover:text-brand uil uil-trash-alt" @click="deleteModalOpen=true"/>
            </span>
        </div>
        <el-form
            ref="form"
            label-width="auto"
            :model="formFields"
            :rules="rules"
        >
            <div class="w-full border p-4 rounded-lg shadow">
                <!--MAIN PANEL-->
                <p class="block text-gray-600 mb-4 text-base font-bold">INCIDENT INFORMATION</p>

                <div class="accident-form columns-1 md:columns-2">
                    <el-form-item label="Incident Type" prop="incidentType" class="w-full md:w-1/2 inline-block md:pr-2">
                        <CustomListsOptionsSelect
                            v-model="formFields.incidentType.id"
                            clearable
                            filterable
                            ref="incidentTypeSelect"
                            data-cy="incidentType_sel"
                            placeholder="Select"
                            listType="incident-type"
                            linkText="+ Add New Custom Incident Type"
                            :customListEnabledArgs="[isNew, formFields.incidentType.id]"
                        />
                    </el-form-item>
                    <el-form-item label="Incident Date & Time" prop="accidentDate" class="md:pl-2 md:w-1/2 inline-block">
                        <div>
                            <DatePicker
                                style="width: 49% !important"
                                data-cy="accidentDate_dpk" 
                                :selectedDate="formFields.accidentDate" 
                                clearable  
                                class="custom-date-picker w-1/2 mr-1" 
                                @date-selected="handleDateSelected($event, 'accidentDate')" 
                            />
                            <el-time-picker
                                style="width: 50% !important"
                                v-model="accidentTime"
                                format="hh:mm a"
                                value-format="HH:mm"
                            >
                            </el-time-picker>
                        </div>
                    </el-form-item>
                </div>

                <div class="accident-form columns-1 md:columns-2">

                    <el-form-item :label="$t('label.associate')" prop="staff" class="w-full md:w-1/2 inline-block md:pr-2 ">
                        <el-select 
                        class="w-full md:w-1/2 inline-block"
                        data-cy="staff_op"
                        v-model="formFields.staff.id"  
                        clearable
                        filterable
                        placeholder="Select">
                            <el-option
                            v-for="item in staffList"
                            :key="item.id"
                            :label="item.firstName + ' ' + item.lastName"
                            :value="item.id">
                            <span style="float: left">{{ item.firstName + ' ' + item.lastName }} ({{ item.status }})</span>
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Associate At Fault?" class="md:pl-2 w-full md:w-1/2 inline-block">
                        <el-radio-group data-cy="atFault_rad" v-model="formFields.atFault">
                            <el-radio-button label="Yes"></el-radio-button>
                            <el-radio-button label="No"></el-radio-button>
                            <el-radio-button label="Unknown"></el-radio-button>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="Incident Location" class="md:pr-2 w-full md:w-1/2 inline-block">
                        <div class="mb-1">
                            <el-input data-cy="street_in" v-model="formFields.address" placeholder="Street"></el-input>
                        </div>
                        <div class="mb-1 flex space-x-1">
                            <el-input data-cy="city_in" v-model="formFields.addressCity" placeholder="City"></el-input>
                            <el-input data-cy="state_in" v-model="formFields.addressState" placeholder="State"></el-input>
                            <el-input data-cy="zip_in" v-model="formFields.addressZip" placeholder="Zip"></el-input>
                        </div>
                    </el-form-item>

                    <div class="dtd md:pl-2 w-full md:w-1/2 inline-block">
                        <el-form-item label="Drug Test Date">
                            <DatePicker data-cy="drugTestDate_dpk" :selectedDate="formFields.drugTestDate" placeholder=""  class="custom-date-picker" @date-selected="handleDateSelected($event, 'drugTestDate')" />
                        </el-form-item>
                        <el-form-item label="Test Results" prop="drugTestResult">
                            <el-select data-cy="drugTestResult_sel" class="w-full custom-select-keyboardless" v-model="formFields.drugTestResult" clearable>
                                <el-option
                                v-for="item in valueListActivesOnly(valuelists['drug-test-results'].items)"
                                :key="item.id"
                                :label="item.value"
                                :value="item.value">
                                </el-option>
                            </el-select>    
                        </el-form-item>
                    </div>
                    <el-form-item label="Vehicle" prop="vehicle" class="md:pr-2 w-full md:w-1/2 inline-block">
                        <el-select 
                            data-cy="vehicle_op"
                            v-model="formFields.vehicle.id"  
                            clearable
                            filterable
                            placeholder="Select">
                                <el-option
                                    v-for="item in vehicleList"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Claim Number" prop="insuranceClaimNumber" class="md:pr-2 w-full md:w-1/2 inline-block">
                            <el-input data-cy="insuranceClaimNumber_in" placeholder="" class="" v-model="formFields.insuranceClaimNumber" ></el-input>  
                    </el-form-item>
                    <el-form-item label="Verified By" prop="verifiedBy" class="md:pl-2 w-full md:w-1/2 inline-block">
                            <el-select
                            data-cy="verifiedBy_op"
                            v-model="formFields.verifiedBy.id"  
                            clearable
                            filterable
                            placeholder="Select">
                                <el-option
                                    v-for="user in userList"
                                    :key="user.id"
                                    :label="user.firstName + ' ' + user.lastName"
                                    :value="user.id">
                                </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Police Department" prop="policeDepartment" class="md:pr-2 w-full md:w-1/2 inline-block">
                        <el-input data-cy="policeDepartment_in" placeholder="" class="" v-model="formFields.policeDepartment" ></el-input>  
                    </el-form-item>
                    <el-form-item label="Police Officer Name"  prop="policeOfficerName" class="md:pl-2 w-full md:w-1/2 inline-block">
                        <el-input data-cy="policeOfficerName_in" placeholder="" class="" v-model="formFields.policeOfficerName" ></el-input>
                    </el-form-item>
                    <el-form-item label="Police Report Number"  prop="policeReportNumber" class="md:pr-2 w-full md:w-1/2 inline-block">
                        <el-input data-cy="policeReportNumber_in" placeholder="" class="" v-model="formFields.policeReportNumber" ></el-input>
                    </el-form-item>
                    <el-form-item label="Verified Date" prop="verifiedDate" class="md:pl-2 w-full md:w-1/2 inline-block">
                        <DatePicker data-cy="verifiedDate_dpk" :selectedDate="formFields.verifiedDate" placeholder="" class="custom-date-picker" @date-selected="handleDateSelected($event, 'verifiedDate')" />
                    </el-form-item>
                    <el-form-item label="Notes" prop="notes">
                        <textarea
                            data-cy="notes_txt" 
                            class="el-textarea__inner pt-2"
                            rows="8"
                            v-model="formFields.notes">
                        </textarea>
                    </el-form-item>
                </div>
            </div>

            <div class="mt-4 w-full border p-4 rounded-lg shadow">
                <!--MAIN PANEL-->
                <p class="block text-gray-600 mb-4 text-base font-bold">STATEMENTS</p>
                <div class="accident-form grid md:grid-cols-2 md:gap-4">
                    <el-form-item label="Associate Statement" prop="associateStatement">
                        <el-input
                            data-cy="associateStatement_sel"
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 5}"
                            v-model="formFields.associateStatement" />
                    </el-form-item>

                    <div>
                        <el-form-item label="Witness Name" prop="witnessName">
                            <el-input
                                data-cy="witnessName_in"
                                v-model="formFields.witnessName" />
                        </el-form-item>

                        <el-form-item label="Witness Statement" prop="witnessStatement">
                            <el-input
                                data-cy="witnessStatement_sel"
                                type="textarea"
                                :autosize="{ minRows: 2, maxRows: 5}"
                                v-model="formFields.witnessStatement" />
                        </el-form-item>
                    </div>
                </div>
            </div>
        </el-form>

        <div class="w-full justify-center border mt-4  p-4 rounded-lg shadow">
            <p class="block text-gray-600 mb-4 text-base font-bold uppercase">Related Documents, Images, & Videos</p>
            <MediaInputDisplay
                placeholder="Drop Related Documents, Images, & Videos here or click to upload"
                :existingDocumentsList="incidentDocuments"
                :toUploadByDefault="incidentDocumentsToUploadByDefault"
                @document-delete="loadData"
                @file-list-to-upload="filesToUpload => incidentDocumentsToUpload = filesToUpload"
            />
        </div>

        <div class="flex pt-4 justify-end">
            <ButtonGroupWrapper>
              <template slot-scope="{disabled, setDisabled}">
                <el-button
                    data-cy="cancel_btn"
                    :disabled="disabled"
                    @click="handleCancel"
                >
                    Cancel
                </el-button>
                <ButtonWrapper
                    v-if="isNew && hasVehicleManagement"
                    type="primary"
                    data-cy="create_btn"
                    :clickHandler="confirmCreateAccidentWithCounseling"
                    :disabled="disabled || loading"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Create
                </ButtonWrapper>
                <ButtonWrapper
                    v-else-if="!isNew && hasVehicleManagement"
                    type="primary"
                    data-cy="update_btn"
                    :clickHandler="updateAccident"
                    :disabled="disabled || loading"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Update
                </ButtonWrapper>
                <PremiumWarningButton v-else :buttonText="buttonText" action="create or edit" premiumFeature="vehicle" placement="top"/>
              </template>
            </ButtonGroupWrapper>
        </div>
           <!-- DELETION DIALOG -->
        <el-dialog
            title="Are you sure?"
            :visible.sync="deleteModalOpen"
            width="30%"
            >
            <CommonDeleteDialog 
            deletionMessage="This will permanently delete this Accident Record and its attachments."
            @close-modal="deleteModalOpen=false"
            @delete-action="commitDeleteAccident"

            />
        </el-dialog>
    </div>
    <div v-else>
        <template v-if="!hasIncidentAccess">
            <h1>PREMIUM REQUIRED</h1>
            <p>
                To create Indicent Records you will need to purchase the premium Vehicle Management or Associate Management add-on.
            </p>
            <router-link :to="{name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}}" tag="button" class="text-brand underline text-sm">Upgrade</router-link>
        </template>

        <template v-else-if="!hasAccidentPermissions">
            <h1>Unable to show this page</h1>
            <p>
                Please speak with your Hera Administrator to view this page.
            </p>
        </template>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { Storage } from 'aws-amplify'
import { createAccident, updateAccident, deleteAccident, createCounseling, createDocument } from '@/graphql/mutations'
import { staffsByGroup, vehiclesByGroup, getAccident, getTenant } from './queries'
import { getAccidentUpdatedTimestamp } from '@/utilities/timestampQueries'
import Validator from '@/utilities/FormValidator'
import PremiumWarning from '@/components/PremiumWarning'
import CommonDeleteDialog from '@/components/CommonDeleteDialog'
import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
import { INCIDENT_TYPE_CREATE_INCIDENT } from '@/utilities/constants/defaultSectionsByCustomList';
import { COUNSELING_STATUS_NOT_SENT } from '@/utilities/constants/counseling';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import DatePicker from '@/components/Datepicker';
import { validateOptionCustomListsExist } from '@/utilities/optionCustomLists/helpers';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect.vue'
import MediaInputDisplay from '@/components/MediaInputDisplay';
import moment from 'moment-timezone';

export default {
    name: 'AccidentForm',
    props: [
        'accidentID',
        'accidentData',
        'staffID',
        'staffData',
        'vehicleID',
        'id',
        'fullName',
        'loadAsAccidentType'
    ],
    inject: ['showWarningDialog'],
    components: {
        PremiumWarning,
        CommonDeleteDialog,
        PremiumWarningButton,
        DatePicker,
        ButtonWrapper,
        ButtonGroupWrapper,
        CustomListsOptionsSelect,
        MediaInputDisplay,
    },
    data(){
        return{
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            deleteFile: false,
            deleteModalOpen: false,
            deleteFileKey: null,
            fileUploadEvent: null,
            incidentDocuments: [],
            incidentDocumentsToUpload: [],
            incidentDocumentsToUploadByDefault: [],
            isNew: true,
            loading: false,
            path: null,
            createCounselingModal: false,
            staffList: [],
            vehicleList: [],
            selectedVehicleName: null,
            userList: [],
            incidentCustomListOptions: [],
            formFields: {
                accidentDate: "",
                atFault:"",
                drugTestDate: "",
                drugTestResult: "",
                incidentType: {id: null},
                address: "",
                addressCity: "",
                addressState: "",
                addressZip: "",
                notes:"",
                insuranceClaimNumber: "",
                policeDepartment: "",
                policeOfficerName: "",
                policeReportNumber: "",
                fileName: "",
                associateStatement: "",
                witnessName: "",
                witnessStatement: "",
                verifiedBy: {id: null},
                verifiedDate: "",
                staff: {id: null},
                vehicle: {id: null},
                updatedAt: "",
            },
            accidentTime: "",
            buttonText: 'Create',
        }
    },

    created() {
        if (!this.hasIncidentAccess) {
            this.showWarningDialog('Vehicle Management or Associate Management', 'create Indicent Records');
            return;
        }
    },

    async mounted(){
        if (this.isMobileDevice()){
             this.disableMobileKeyboard();
            } 
        if(this.$route.params.newForm){
            this.formFields.staff.id = this.$route.params.newForm.staffId;
            this.formFields.vehicle.id = this.$route.params.newForm.vehicleId;
            const fileName = this.$route.params.newForm.s3Key.substr(this.$route.params.newForm.s3Key.lastIndexOf('/') + 1);
            const file = await Storage.get(this.$route.params.newForm.s3Key, { download: true});
            const fileObject = {
                id: this.generateUUID(),
                file: file.Body,
                fileName: fileName,
                fileType: this.$route.params.newForm.contentType,
                key: this.$route.params.newForm.s3Key,
            };
            this.incidentDocumentsToUploadByDefault.push(fileObject);
        }
        this.loadData()
    },

    computed:{
        ...mapState([
            'valuelists',
            'userInfo',
        ]),

        ...mapGetters([
            'hasVehicleManagement',
            'hasIncidentAccess',
            'incidentTypeList',
            'counselingSeverityTypeList',
        ]),

        breadcrumbIncidentText() {
            const action = (this.accidentID)? 'Edit': 'Create';

            return `${action} Incident`;
        },

        rules() {
            const incidentId = this.formFields.incidentType?.id;
            const incidentType = this.incidentCustomListOptions?.find(item => item.id === incidentId);
            const isAccidentType = incidentType?.option === 'Accident';

            const formRules = {
                incidentType: [
                    { required: true, validator: Validator.incidentType, trigger: 'change' }
                ],
                staff: [
                    { required: true, validator: Validator.staff, trigger: 'change' }
                ],
                verifiedBy: [
                    { required: true, validator: Validator.verifiedBy, trigger: 'change' }
                ],
                accidentDate:[
                    { required: true, message: "Please enter the date of the accident", trigger: 'change' }
                ],
            };

            if (isAccidentType) {
                formRules.vehicle = [
                    { required: true, validator: Validator.vehicle, trigger: 'change' }
                ];
            }

            return formRules;
        },
    },

    watch: {
        'formFields.incidentType.id': 'clearValidateForm',
    },

    methods:{
        clearValidateForm() {
            setTimeout(this.$refs["form"]?.clearValidate, 0);
        },

        hasAccidentPermissions() {
            return (
                (!this.USER_PERMISSIONS) ||
                (this.USER_PERMISSIONS && this.userInfo.permissionAccidents)
            );
        },
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },

        /** Delete accident from DB */
        async commitDeleteAccident( ){
            try{
            //check timestamp
            var timestampResult = await this.api(getAccidentUpdatedTimestamp, {id: this.accidentID})
            if(!timestampResult.data.getAccident){
                throw "Accident Record is missing or deleted by another user."
            }
            var timestamp = timestampResult.data.getAccident.updatedAt
            if(timestamp != this.formFields.updatedAt){
                throw "Record was updated by another user. Please copy any changes and refresh the page."
            }
            this.deleteModalOpen = false
            this.loading = true
            await this.commitDeleteFile()
            const result = await this.api(deleteAccident, {input:{ id: this.accidentID }} )
            this.$router.go(-1)
            this.$message({
                type: 'success',
                message: 'Accident Deleted'
            });
            }catch(e){
                this.displayUserError(e)
            }
        },


         /**
         * Deletes S3 object.
         */
        async commitDeleteFile() {
            var objectKey = this.deleteFileKey ? this.deleteFileKey : this.formFields.file
            var result = await Storage.remove(objectKey)
        },


        /**
         * Confirms if user wants to create a counseling record with the accident
         */
        async confirmCreateAccidentWithCounseling(){
            if(!this.hasVehicleManagement){
                this.displayUserNotification({title: this.buttonText, type: 'info', message:'Premium Required'})
                return
            }
            // validate form
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                this.displayUserError("Please fill out all required fields.")
                return 0
            }
            this.createCounselingModal = true;
        },


        /** Prompt if Accident test should really be deleted*/
        async confirmDeleteAccident(){
            if (this.isNew ){
                await this.handleCancel()
                return
            }
            this.$confirm('This will permanently delete this accident. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
            this.commitDeleteAccident()          
            }).catch(() => {
            console.log("canceled delete")         
            });
        },

        openAlert(msg){
            this.$message({
                type: 'success',
                message: `Incident ${msg}`,
            });
        },

        getHistoryTypeBasedOnIncidentType(incidentTypeId) {
            const incidentType = this.incidentCustomListOptions.find(item => item.id === incidentTypeId);
            const isAccident = incidentType?.option?.toLowerCase() === 'accident';

            return isAccident? 'Accident': 'Incident';
        },

        /** 
         * Creates Accident in DB
         * */
        async createAccident(){
            // validate form
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                this.displayUserError("Please fill out all required fields.")
                return 0
            }
            this.createCounselingModal = false;
            this.loading = true
            try {
                //save ids and strip from object
                const formFields = {...this.formFields};
                const staffID = formFields.staff.id;
                const vehicleID = formFields.vehicle.id;
                const verifiedID = formFields.verifiedBy.id;
                const accidentOptionCustomListId = formFields.incidentType.id;
                const vehicleHistoryType = this.getHistoryTypeBasedOnIncidentType(formFields.incidentType.id);

                delete formFields.updatedAt;

                //Create DB record
                const input = {
                    ...formFields,
                    accidentDate: this.parsePlainDateToTenantTimezoneMomentDate(formFields.accidentDate, this.accidentTime),
                    accidentStaffId: staffID,
                    staffId: staffID,
                    vehicleId: vehicleID,
                    accidentVehicleId: vehicleID,
                    accidentVerifiedById: verifiedID,
                    group: this.$store.state.userInfo.tenant.group,
                    vehicleHistoryType,
                    accidentOptionCustomListId,
                }

                if(!vehicleID){
                    delete input.vehicleId;
                    delete input.accidentVehicleId;
                }

                this.cleanAccidentInput(input);

                await validateOptionCustomListsExist(input.accidentOptionCustomListId);
                const result = await this.api(createAccident, {input: input});
                const accident = result.data.createAccident;
                const accidentID = accident.id;

                for(const document of this.incidentDocumentsToUpload) {
                    await this.createDocument(accidentID, document);
                }

                this.$router.go(-1)
                this.openAlert('successfully created!');

            //Clean up app state
            } catch(e) {
                this.displayUserError(e)
                throw(e)       
            }
            finally{
                this.loading = false;
            }
        },   


        /**
         * Creates a counseling record in DB, then runs function to create an accident
         */
        async createCounselingAndAccident(){
            this.createCounselingModal = false;
            if(this.formFields.accidentDate){
                var date = this.$moment(this.formFields.accidentDate).format("dddd MM/DD/YYYY")
                var problemDescription = `Accident on ${date} at ${this.formFields.address}, ${this.formFields.addressCity}, ${this.formFields.addressCity} ${this.formFields.addressZip}.`;
            }
            else{
                var problemDescription = `Accident at ${this.formFields.address}, ${this.formFields.addressCity}, ${this.formFields.addressCity} ${this.formFields.addressZip}.`;
            }

            var employeeNotes = this.formFields.notes
            var input = {
               counselingUserId: this.$store.state.userInfo.id,
               group: this.$store.state.userInfo.tenant.group,
               status: COUNSELING_STATUS_NOT_SENT,
               date: this.formFields.accidentDate,
               counselingStaffId: this.formFields.staff.id, 
               employeeNotes: employeeNotes,
               counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
               createdFrom: `Accident Record (${problemDescription})`,
               tenantId: this.$store.state.userInfo.tenant.id
            }
            try{
                this.loading = true;
                var results = await this.api(createCounseling, {input: input});

                await this.createAccident();
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }
        },


        /**
         * Uploads document to S3 then creates document record in DB
         */
        async createDocument(accidentID, document) {
            try{
                // Upload file to S3
                const { fileType, fileName } = document;
                const timestamp = String(Date.now());
                const path = '/media-files/';
                const s3Key = `${this.userInfo.tenant.group}/accidents/${accidentID.toLowerCase()}${path}${timestamp}/${fileName}`;
                const object = await Storage.put(s3Key, document.file);
                const input = {
                    group: this.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: fileType,
                    key: object.key,
                    documentIncidentId: accidentID,
                }
                //Create DB Record
                await this.api(createDocument, {input: input});
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }
        },


        /**
         * Gets S3 URL using object key and downloads the linked file
         */
        downloadAccidentFile: async function(){
            var documentUrl = await Storage.get(this.formFields.file)
            window.open(documentUrl, "_blank")
        },

        
        /** 
        * Prompts user about saving changes
        */
        handleCancel(){
            this.$confirm('Any unsaved changes will be lost. Continue?', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.go(-1)  
            }).catch(() => {
            });
        },

      
        /** 
        * Prompts user if file should really be deleted
        * @param {string} objectKey S3 key of file to delete
        */
        async handleRemove(objectKey){
            this.$confirm('This will permanently delete this file. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.stageDeleteFile(objectKey)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },


        /*
        * Opens the last saved accident data in a print view
        */
        handlePrint: function(){
            let route = this.$router.resolve({name: 'PrintAccident', params:{accidentID: this.accidentID}})
            window.open(route.href, '_blank')
            console.log(route)
        },


        /**
         * Loads list of staffs for select using GraphQL
         */
        async loadData(){
            try{
                this.loading = true
                await this.loadStaffList()
                await this.loadUserList()
                await this.loadVehicleList()
                await this.loadCustomLists()
                
                this.formFields.verifiedBy.id = this.$store.state.userInfo.id
                if (this.staffID != null && this.staffID != undefined){
                    this.formFields.staff.id = this.staffID  
                    if(this.staffData != null && this.staffData != undefined){
                        this.formFields.vehicle.id = this.staffData.defaultVehicle.id
                    }                   
                }
                if (this.vehicleID != null){
                    this.formFields.vehicle.id = this.vehicleID 
                    let selectedVehicle = this.vehicleList.find(vehicle => vehicle.id == this.vehicleID);
                    this.selectedVehicleName = selectedVehicle.name;
                }
                if (this.accidentID){
                    this.isNew = false
                    this.buttonText = 'Update'
                    var input = {
                        id: this.accidentID
                    }
                    var accident = await this.api(getAccident, input)

                    if(accident.data.getAccident.staff){
                        this.formFields.staff.id = accident.data.getAccident.staff.id
                    }

                    if(accident.data.getAccident.vehicle){
                        this.formFields.vehicle.id = accident.data.getAccident.vehicle.id
                    }
                    if(accident.data.getAccident.verifiedBy != null){
                        this.formFields.verifiedBy.id = accident.data.getAccident.verifiedBy.id
                    }
                    this.formFields.verifiedDate = accident.data.getAccident.verifiedDate
                    this.formFields.accidentDate = accident.data.getAccident.accidentDate
                    this.formFields.accidentType = accident.data.getAccident.accidentType
                    this.formFields.drugTestDate = accident.data.getAccident.drugTestDate
                    this.formFields.drugTestResult = accident.data.getAccident.drugTestResult
                    this.formFields.fileName = accident.data.getAccident.fileName
                    this.formFields.address = accident.data.getAccident.address
                    this.formFields.addressState = accident.data.getAccident.addressState
                    this.formFields.addressCity = accident.data.getAccident.addressCity
                    this.formFields.addressZip = accident.data.getAccident.addressZip
                    this.formFields.insuranceClaimNumber = accident.data.getAccident.insuranceClaimNumber
                    this.formFields.policeDepartment = accident.data.getAccident.policeDepartment
                    this.formFields.policeOfficerName = accident.data.getAccident.policeOfficerName
                    this.formFields.policeReportNumber = accident.data.getAccident.policeReportNumber
                    this.formFields.notes = accident.data.getAccident.notes
                    this.formFields.updatedAt = accident.data.getAccident.updatedAt
                    this.formFields.atFault = accident.data.getAccident.atFault

                    this.formFields.incidentType = accident.data.getAccident.optionCustomList;
                    this.formFields.associateStatement = accident.data.getAccident.associateStatement;
                    this.formFields.witnessName = accident.data.getAccident.witnessName;
                    this.formFields.witnessStatement = accident.data.getAccident.witnessStatement;

                    this.incidentDocuments = accident.data.getAccident.incidentDocuments?.items || [];
                    this.accidentTime = this.intlFormatDate(accident.data.getAccident.accidentDate, { hour: 'numeric', minute: "numeric", second: "numeric", hour12: false });
                }
                else {
                    this.accidentTime = this.intlFormatDate(new Date(), { hour: 'numeric', minute: "numeric", second: "numeric" });
                    let isSearchedOption = (option) => option.isDefaultForSections?.includes(INCIDENT_TYPE_CREATE_INCIDENT)

                    if(this.loadAsAccidentType) {
                        isSearchedOption = (incident) => incident.option === 'Accident';
                    }

                    const incidentOption = this.incidentCustomListOptions.find(isSearchedOption);
                    if(!incidentOption?.isEnabled && this.loadAsAccidentType){
                        this.$refs.incidentTypeSelect.$refs.select.focus();
                        const message = `It has not been possible to select the "${incidentOption?.option}" option because it is disabled.`
                        this.displayUserError(message)
                        this.formFields.incidentType.id = undefined;
                        return
                    }
                    this.formFields.incidentType.id = incidentOption?.id;
                }
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },


        /**
         * Loads list of staffs for select using GraphQL
         */
        loadStaffList: async function(){
            try{
                var input = {
                group: this.$store.state.userInfo.tenant.group
                }
                this.staffList = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup')
            }catch(e){
                this.displayUserError(e)
            }
        }, 


        /**
         * Loads list of users for select using GraphQL
         */
        loadUserList: async function(){
            try{
                //SET USER LIST
                var input = {
                    id: this.$store.state.userInfo.tenant.id
                }
                var tenant = await this.api(getTenant, input)

                const users = tenant.data.getTenant.users.items;
                this.userList = this.excludeSupportAdminFromArray(users);
            }catch(e){
                this.displayUserError(e)
            }
        }, 
        
        /**
        * Loads list of vehicles for select using GraphQL
        */
        loadVehicleList: async function(){
            try{
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.vehicleList = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
            } 
            catch(e) {
                this.displayUserError(e)          
            }
        },

        /**
        * Loads list of vehicles for select using GraphQL
        */
        loadCustomLists: async function(){
            const firstList = this.incidentTypeList;
            this.incidentCustomListOptions = firstList.sort((a, b) => a.order - b.order);
        },

        /**
         * Stages the file on S3 to be deleted.
         */
        async stageDeleteFile() {
            this.fileUploadEvent = null
            this.formFields.fileName = null
            this.path = null
            
            document.getElementById('FileUpload').value = ""  
        },


        /** Update an Accident's information */
        async updateAccident(){
            if(!this.hasVehicleManagement){
                this.displayUserNotification({title: this.buttonText, type: 'info', message:'Premium Required'})
                return
            }
            // validate form
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                this.displayUserError("Please fill out all required fields.")
                return 0
            }
            this.loading = true
            try {
            const formFields = {...this.formFields};
            formFields.accidentDate = this.parsePlainDateToTenantTimezoneMomentDate(formFields.accidentDate, this.accidentTime)
            const staffID = formFields.staff.id;
            const vehicleID = formFields.vehicle.id;
            const verifiedID = formFields.verifiedBy.id;
            const accidentOptionCustomListId = formFields.incidentType.id;
            const optionFound = this.incidentCustomListOptions.find(item => item.id === accidentOptionCustomListId)
            if(optionFound && !optionFound?.isEnabled){
                this.$refs.incidentTypeSelect.$refs.select.focus();
                throw { message: this.optionDisabledMessage(optionFound.option) }
            }

            const vehicleHistoryType = this.getHistoryTypeBasedOnIncidentType(formFields.incidentType.id);

            delete formFields.staff;
            delete formFields.vehicle;
            delete formFields.verifiedBy;
            delete formFields.incidentType;

            const input = {
                ...formFields,
                id: this.accidentID,
                accidentStaffId: staffID,
                staffId: staffID,
                vehicleId: vehicleID,
                accidentVehicleId: vehicleID,
                accidentVerifiedById: verifiedID,
                group: this.$store.state.userInfo.tenant.group,
                vehicleHistoryType,
                accidentOptionCustomListId,
            }

            await validateOptionCustomListsExist(input.accidentOptionCustomListId);
            const result = await this.api(updateAccident, {input: input}, getAccidentUpdatedTimestamp, 'getAccident');
            const accident = result.data.updateAccident;
            const accidentID = accident.id;

            for(const document of this.incidentDocumentsToUpload) {
                await this.createDocument(accidentID, document);
            }
            
            this.$router.go(-1)
            this.openAlert('successfully updated');
            
            } catch(e) {
                this.displayUserError(e)         
            }
            finally{
                this.loading = false;
            }
        },

        
        /**
         * Uploads doc to S3
         */
        async uploadDocument(){
            try{
                var e = this.fileUploadEvent
                var path = this.path
                var objectType
                this.loading = true

                // Upload file to S3
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0]
                var fileType = file.type
                var fileName = file.name
                var timestamp = String(Date.now())
                var object = await Storage.put(this.userInfo.tenant.group + path + this.formFields.staff.id.toLowerCase() + '/' + timestamp + "/" + fileName, file)
                var documentUrl = await Storage.get(object.key)

                //Update fields
                this.formFields.file = object.key
                this.formFields.fileName = fileName
                this.loading = false
            }
            catch(e){
                this.displayUserError(e)
                this.loading = false
            }
        },


        /**
         * Validate form
         */
        async validateForm(){
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                this.displayUserError("Please fill out all required fields.")
            }
        },

        getPlainDate(date) {
            const onlyDate = date.split("T")[0];
            return onlyDate;
        },

        parsePlainDateToTenantTimezoneMomentDate(date, time) {
            const timezone = this.userInfo.tenant.timeZone;
            const plainDate = this.getPlainDate(date);
            return moment.tz(`${plainDate} ${time}`, timezone);
        },

        
    },
}
</script>
<style scoped>

    .fileContainer{
        @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }

    img{
        transition: .5s ease;
        display: inline;
    }
    textarea {
        padding-top: 10px;
    }
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>
<style>
@media only screen and (min-width: 769px) {
    .accident-form .dtd .el-form-item{ 
        margin-bottom: 0.25rem !important
    }
}
@media only screen and (max-width: 768px) {
    .accident-form  .el-form-item__label-wrap {
        margin-left: 0 !important;
    }
}
</style>