<template>
  <div data-cy="performance-coaching-container">
    <!--Header-->
    <div class="sm-wrap flex justify-between items-center mb-4">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
        <el-breadcrumb-item> {{$route.meta.crumbTitle}}</el-breadcrumb-item>
      </el-breadcrumb>

      <!-- TAB CONTROL -->
      <el-radio-group data-cy="pc-tab-control-rad" @change="changeRadio($event)" v-model="radio" size="small"
        class="flex-none border-gray-600" v-show="hasPerformanceCoachingManagement">
        <el-radio-button class="w-35" label="Performance Tracking"></el-radio-button>
        <el-radio-button class="w-35" label="Automated Coaching"></el-radio-button>
        <el-radio-button class="w-35" :label="`${$t('label.associate')} Kudos & Issues`" data-cy="btn-kudos-issues"></el-radio-button>
        <el-radio-button class="w-35" label="Counselings"></el-radio-button>
      </el-radio-group>
    </div>

    <div v-if="hasPerformanceCoachingManagement">
      <router-view></router-view>
    </div>

    <div class="flex justify-between card" v-show="!hasPerformanceCoachingManagement">
      <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Performance & Coaching
        in Hera.</h4>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { customListsByGroup, listOptionsCustomListss } from '@/graphql/queries'

export default {
  props: ['sendPendingMessages'],
  name: 'PerformanceCoachingIndex',
  data(){
    return {
      radio: 'Performance Tracking',
    }
  },
  async mounted() {
    await this.loadCustomList()

  },
  created(){
      // go to last visited tab
    if(this.$store.state.performanceCoachingTab){
      this.radio = this.$store.state.performanceCoachingTab
    }
    this.loadTab()
  },
  beforeDestroy(){
    this.$store.state.performanceCoachingTab = this.radio
  },
  methods:{
    loadTab(){

      if(this.$route.name == 'CoachingIndex'){
        this.radio = 'Automated Coaching'
      }

      if(this.$route.name == 'CounselingIndex'){
        this.radio = 'Counselings'
      }

      if(this.$route.name == 'KudosIndex'){
        this.radio = `${ this.$t('label.associate') } Kudos & Issues`
      }

      if(this.$route.name == 'PerformanceIndex'){
        this.radio = 'Performance Tracking'
      }

    },
    openImportModal(payload){
      this.$emit('openImportModal', payload)
    },
    changeRadio(e) {
      if (e == 'Performance Tracking') {
        this.$router.push({name:'PerformanceIndex'})
      }
      
      if (e == 'Automated Coaching') {
        this.$router.push({name:'CoachingIndex'})
      }

      if (e == `${ this.$t('label.associate') } Kudos & Issues`) {
        this.$router.push({name:'KudosIndex'})
      }

      if (e == 'Counselings') {
        this.$router.push({name:'CounselingIndex'})
      }
    },

  },
  computed: {
    ...mapState([
      'userInfo', 'setCustomList'
    ]),
    ...mapGetters([
      'hasPerformanceCoachingManagement'
    ])
  }
}
</script>