<template>
    <div>
        <!--HEADER-->
        <div class="flex justify-between">
            <div>
            </div>
            <div class="flex space-x-2 items-center">
                <el-button
                  size="small"
                  :class="{'is-generating-counseling-files': isGeneratingCounselingFiles}"
                  type="primary"
                  :disabled="!hasCounselings || isGeneratingCounselingFiles"
                  v-loading="isGeneratingCounselingFiles"
                  @click="handleDownloadCounselings"
                >
                    Download All
                </el-button>

                <router-link v-if="$store.getters.hasPerformanceCoaching" class="el-button el-button--primary el-button--small" :to="{ name: 'CounselingNew' , params: { userId: $store.state.userInfo.id, staffId: staffID} }">Add Counseling</router-link>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                > 
                    <el-button class="opacity-50" type="primary" size="small" slot="reference">Add Counseling</el-button>
                    <PremiumWarning
                        action="add counselings"
                        premiumFeature="performance and coaching">
                    </PremiumWarning>
                </el-popover>
                <el-input
                v-model="counselingSearch"
                size="small"
                prefix-icon="uil uil-search"
                clearable
                class="flex-1"
                placeholder="Filter this list by any column..."/>
            </div>
        </div>

            <!--COUNSELING TABLE-->
            <el-table
                ref="table"
                empty-text="No Counselings"
                :data="filteredCounselings"
                @row-click="handleRowClick"
                style="width: 100%">
            
                <el-table-column
                    label="Submitted Date"
                    sortable
                    :sort-method="dateSort"
                    prop="date">
                    <template slot-scope="scope">
                        {{scope.row.date | date }}
                    </template>
                </el-table-column>

                <el-table-column
                    label="Counseling Severity"
                    sortable
                    prop="severity">
                    <template slot-scope="scope">
                        {{ `${scope.row.severity ? scope.row.severity.option: ''}` | text }}
                    </template>
                </el-table-column>

                <el-table-column
                    label="Team Leader"
                    prop="user">
                    <template slot-scope="scope">
                        <div v-if="scope.row.user">
                            {{scope.row.user.firstName }} {{ scope.row.user.lastName }}
                        </div>
                    </template>
                </el-table-column>

                <el-table-column
                    label="Counseling Description"
                    prop="counselingNotes"
                    width="200"
                    class="truncate">
                    <template slot-scope="scope" class="truncate">
                        <p class="truncate width-180-px">{{ scope.row.counselingNotes | text }}</p>
                    </template>
                </el-table-column>

                <el-table-column align="right" width="50">
                    <template>
                    <i class="el-icon-arrow-right"></i>
                    </template>
                </el-table-column>
            </el-table>
    </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import { createCounseling } from '@/graphql/mutations'
import PremiumWarning from '@/components/PremiumWarning'
import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
import { COUNSELING_STATUS_NOT_SENT } from '@/utilities/constants/counseling';
import { parseDatesToTimezone } from '@/utilities/parseDatesToTimezone';
import CounselingDownloadMixin from '@/views/Counseling/mixins/CounselingDownloadMixin';
import { parseCounselingStatusValueToLabel } from '@/views/Counseling/utils';

export default {
    props: ['tableData', 'staffID'],
    components: {
        PremiumWarning
    },

    mixins: [
        CounselingDownloadMixin,
    ],

    data(){
        return{
            counselingModalOpen: false,
            formData:{},
            counselingSearch: '',
        }
    },

    created() {
        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
    },

    computed: {
        ...mapState([
            'userInfo',
            'companyLogo',
            'isGeneratingCounselingFiles',
        ]),
        ...mapGetters([
            'counselingSeverityTypeList',
        ]),
        counselingList() {
            const timezone = this.getTenantTimeZone();
            const dateFields = ['date', 'dateSent', 'dateSigned'];

            return parseDatesToTimezone(this.tableData, timezone, dateFields);            
        },
        filteredCounselings() {
            return this.filterArray(this.counselingList, this.counselingSearch);
        },
        hasCounselings() {
            return (this.filteredCounselings?.length > 0);
        }
    },

    methods: {
        dateSort(a,b){
            return new Date(a.date) - new Date(b.date);
        },

        handleAddCounseling: function(){
            this.formData = {
                date: new Date(),
                counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
                counselingNotes: '',
                refusedToSign: false,
                user: {
                    id: this.userInfo.id,
                },
                staff: {
                    id: this.staffID,
                } 
            }

            this.counselingModalOpen = true
            return
        },


        createCounseling: async function(){
            var staffID = this.formData.staff.id
            var userID = this.formData.user.id
            delete this.formData.user
            delete this.formData.staff

            var input = {
                ...this.formData, 
                counselingStaffId: staffID,
                counselingUserId: userID, 
                group: this.userInfo.tenant.group,
                createdFrom: 'Staff Detail',
                status: COUNSELING_STATUS_NOT_SENT,
                tenantId: this.$store.state.userInfo.tenant.id
            }
            
            try{
                var results = await this.api(createCounseling,  {input: input})
                console.log(results)
                this.counselingModalOpen = false
                this.displayUserNotification({
                    title: "Success",
                    type: "success",
                    message: "Counseling created successfully."
                })
                this.$emit('load-data')
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },

        /**
         * On row click go to the VehicleDetail route.
         * @param {object} row
         * @param {object} column
         * @param {object} event
         */
        handleRowClick(row, column, event){
            this.$router.push({name: 'CounselingDetail', params: { counselingId: row.id }})    
        },

        async handleDownloadCounselings() {
            const staffID = this.staffID;
            const counselingList = this.filteredCounselings;

            await this.$_Counseling_download(staffID, counselingList);
        },
    },
}
</script>
<style scoped>

.width-180-px{
  width: 180px !important;
}
</style>
