<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>{{cxFeedbackCount}} CxFeedbacks With {{tableData.length}} Unmatched {{$t('label.associate')}} Records</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <el-input
          v-model="search"
          size="mini"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </span>  
    </div>

    <el-table
      ref="table"
      empty-text="No Data"
      :data="filterArray( tableData, search )"   
      style="width: 100%">

      
      <el-table-column
        label="Year"
        sortable
        width="100"
        prop="year">
      </el-table-column>

      <el-table-column
        label="Week"
        sortable
        width="100"
        prop="week">
      </el-table-column>


      <el-table-column
        label="Transporter ID"
        sortable
        prop="transporterId">
      </el-table-column>


      <el-table-column
        label="Import Name"
        sortable
        prop="name">
      </el-table-column>

      

      <el-table-column
        :label="`Select ${$t('label.associate')}`"        
        prop="transporterId">
        <template slot-scope="scope">
          <el-select           
          @change="selectStaff(scope.row)"
          v-model="scope.row.staffId"
          filterable
          :placeholder="`Select ${$t('label.associate')}`">
            <el-option-group>
              <el-option divided value="Add New DA">+ Add New {{$t('label.associate')}}</el-option>
            </el-option-group>
            <el-option-group>
              <el-option              
                v-for="item in staff"
                :key="item.id"
                :label="item.firstName + ' ' + item.lastName"
                :value="item.id">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>  

      <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
            <i 
              title="Edit Customer Feedback"
              @click="openCxFeedbackModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
          </template>
      </el-table-column>    

  </el-table>
  <div v-if="nextToken" class="flex justify-center mt-4">
    <el-button round @click="loadData(false)">Load More</el-button>
  </div>


    <!--ADD DA MODAL-->
    <Dialog
      ref="newStaffDialog"
      :openDialog="addStaffModalOpen"
      :title="`Add ${$t('label.associate')}`"
      @cancel="closeDaForm"
      @create="saveAddNewStaff">
      <template v-slot:form>
        <AddDaForm class="w-full" ref="addDaForm" 
        :formFields="formFields"
        :disableTranspoterId="true" />
      </template>
    </Dialog>

    <!--EDIT CX FEEDBACK MODAL-->
    <el-dialog
      title="Edit Customer Feedback"
      :visible.sync="editCxFeedbackModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <CxFeedbackForm :formFields="editCxFeedbackFields"/>

      <span slot="footer" class="dialog-footer">
        <el-button class="float-left" type="danger" @click="deleteCxFeedback">Delete</el-button>
        <el-button @click="editCxFeedbackModalOpen = false">Cancel</el-button>
        <el-button type="primary" @click="updateCxFeedback">Update</el-button>
      </span>
    </el-dialog>


  </div>
</template>

<script>
import { createStaff, updateStaff, updateStaffCxFeedback, deleteStaffCxFeedback } from '@/graphql/mutations.js'
import { cxFeebackByGroupUnmatched, cxFeebackByGroupAndTransporterId, staffIndex } from './queries';
import { getStaffCxFeedbackUpdatedTimestamp } from '@/utilities/timestampQueries'
import CxFeedbackForm from './components/CxFeedbackForm'
import { getStaffCxFeedback, getStaffLatestScorecard } from './queries'
import { getTenantCoachingMessageSettings } from '@/api/queries.js'
import createPendingMessageRecord from '@/scripts/createPendingMessage'

import Dialog from "@/components/Dialog/Dialog"
import AddDaForm from '@/views/Staff/components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"

export default {
  components:{
    CxFeedbackForm,
    Dialog,
    AddDaForm
  },
  mixins: [AddDaFormMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      search: '',
      staff: [],
      tenant: {},
      editCxFeedbackModalOpen: false,
      editCxFeedbackFields:{},
      nextToken: null,
      limit: 50,
    }
  },
  mounted(){
    this.loadStaffData()
    this.loadTenant()
    this.loadData(true)
  },

  computed:{
    cxFeedbackCount(){
      var unique = {};
      this.tableData.forEach(cxFeedback => {
        var yearWeek = cxFeedback.year + cxFeedback.week
        unique[yearWeek] = true
      })
      var keys = Object.keys(unique)
      return keys.length
    },
    today(){
      return new Date()
    },
    currentYear(){
      return this.today.getFullYear()
    },
    currentWeek(){
      Date.prototype.getWeekNumber = function(){
        var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
        var dayNum = d.getUTCDay() || 7;
        d.setUTCDate(d.getUTCDate() + 4 - dayNum);
        var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
        return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
      };

      return this.today.getWeekNumber() - 1
    }
  },


  methods: {
    /**
     * Load data using the staffIndex custom GraphQL query
     */
    async loadStaffData(){
      try{
        //Load Staff With No Transporter ID
        let input = {
          group: this.$store.state.userInfo.tenant.group
        }
        this.staff = await this.gLoadListAll(staffIndex, input, 'staffsByGroup')
      }catch(e){
        this.displayUserError(e)
      }
    },

    async loadTenant(){
      try{
        var input = {
          id: this.$store.state.userInfo.tenant.id
        }
        var tenant = await  this.api(getTenantCoachingMessageSettings, input)
        this.tenant = tenant.data.getTenant

      }catch(e){
        this.printUserError(e)
        this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e.message
        })
      }
    },

    /**
     * Load data using the cxFeebackByGroupUnmatched custom GraphQL query
     */
    async loadData(refresh){
      this.loading = true
      try{      
        var input = {
          sortDirection: 'DESC',
          limit: this.limit,
          nextToken: refresh ? null : this.nextToken,
          group: this.$store.state.userInfo.tenant.group,
          matchedSYearWeek: {beginsWith: {matchedS: 'false'}}
        }
        const cxFeedbacks = await this.api(cxFeebackByGroupUnmatched, input)
        this.nextToken = cxFeedbacks.data.cxFeebackByGroupUnmatched.nextToken
        if(refresh) this.tableData = cxFeedbacks.data.cxFeebackByGroupUnmatched.items
        else this.tableData = [...this.tableData, ...cxFeedbacks.data.cxFeebackByGroupUnmatched.items]
        this.loading = false

      }catch(e){
        this.loading = false
        this.displayUserError(e)
      }
    },

    /**
     * Updates the cxFeedback with the selected staff id and updates staff id with transporter id.
     * 
     */
    async selectStaff(row){
      try{

        //See if quick add was selected
        if(row.staffId == 'Add New DA'){
          row.staffId = null
          this.openStaffModal(row)
          return
        }

        var transporterId = row.transporterId
        var staffId = row.staffId

        //Find all cxFeedbacks with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.$store.state.userInfo.tenant.group
        }
        const cxFeedbacks = await this.gLoadListAll(cxFeebackByGroupAndTransporterId, input, 'cxFeebackByGroupAndTransporterId')
        if( cxFeedbacks.length > 1){
          await this.$confirm('Found ' + cxFeedbacks.length + ' customer feeback records with this transporter ID. Are you sure you want to update all of them?')
        }

        //Get staff record
        this.loading = true
        var staff = this.staff.find((rec)=> rec.id == staffId)
        //If transporter id already exists, don't replace as it is probably more accurate than parsed data
        if(staff.transporterId){
          transporterId = staff.transporterId
        }
        
        //Update staff record
        input = {
          id: staffId,
          transporterId: transporterId
        }
        var updateStaffResponse = await this.api(updateStaff, {input})

        //Update all cxFeedbacks
        this.updateCxFeedbacks(cxFeedbacks, staffId)

      }catch(e){
        this.loading = false
        if(e == 'cancel'){
          row.staffId = null
        }else{
          this.displayUserError(e)
        }
      }          
    },

    /**
     * Updates the cxFeedback with the selected staff id and updates staff id with transporter id.
     * 
     */
    async updateCxFeedbacks(cxFeedbacks, staffId){
      try{
        //Update all cxFeedbacks
        // await cxFeedbacks.forEach(async (cxFeedback) => {
        for(const cxFeedback of cxFeedbacks){
          let input = {
            id: cxFeedback.id,
            staffCxFeedbackStaffId: staffId,
            matched: true,
            matchedS: 'true',
            year: cxFeedback.year,
            week: cxFeedback.week
          }
          var updateCxFeedbackResponse = await this.api(updateStaffCxFeedback, {input})

          // get staff latest scorecard
          var staff =  await this.api(getStaffLatestScorecard, {id: staffId})
          staff = staff.data.getStaff
          var staffLatestScorecard = staff.latestScorecard
          var yearWeek = cxFeedback.year + cxFeedback.week.padStart(2, '0')

          if( (this.currentWeek == cxFeedback.week) && (this.currentYear == cxFeedback.year)){
            // get full details of cx
              var wholeCxFeedback = await this.api(getStaffCxFeedback, {id: cxFeedback.id})
              wholeCxFeedback = wholeCxFeedback.data.getStaffCxFeedback
              wholeCxFeedback.staffCxFeedbackStaffId = staffId
              wholeCxFeedback.isNewerThanLatestScoreCard = staffLatestScorecard < yearWeek
              await createPendingMessageRecord(null, wholeCxFeedback, null, this.tenant)
          }
        }
        
        // setTimeout(()=>{
            // this.loadStaffData()
            this.loadData(true)
        // }, 900);

      }catch(e){
        this.displayUserError(e)   
      }          
    },

    openStaffModal(row){
      var nameArray = row.name.split(" ")
      this.formFields = {
        status: 'Active',
        firstName: nameArray[0],
        lastName: nameArray[nameArray.length - 1],
        email: '',
        phone: '',
        transporterId: row.transporterId,
        dlExpiration: '',
        authorizedToDrive: {}
      }
      this.addStaffModalOpen = true
    },

    /**
     * validate, create and control the reactivity with the view
     */
    async saveAddNewStaff(){
      try {
        var transporterId = this.formFields.transporterId
        const newStaff = await this.validateForm("create")
        if(!newStaff) return
        //Find all cxFeedbacks with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.userInfo.tenant.group
        }
        const cxFeedbacks = await this.gLoadListAll(cxFeebackByGroupAndTransporterId, input, 'cxFeebackByGroupAndTransporterId')
        if( cxFeedbacks.length > 1){
          await this.$confirm('Found ' + cxFeedbacks.length + ` customer feeback records with this transporter ID. Are you sure you want to create a new ${this.$t('label.associate')} and update all the customer feeback records?`)
        }
        this.updateCxFeedbacks(cxFeedbacks, staffId)
      } catch (e) {
        this.printUserError(e)
        this.displayUserError(e)
      }
    },

    openCxFeedbackModal(cxFeedback){
        this.editCxFeedbackFields = cxFeedback
        this.editCxFeedbackModalOpen = true
    },
    
    async updateCxFeedback(){
      try{
        var timestampResult = await this.api(getStaffCxFeedbackUpdatedTimestamp, {id: this.editCxFeedbackFields.id})
        if(!timestampResult.data.getStaffCxFeedback){
          throw "Customer CX is missing or deleted by another user."
        }
        var timestamp = timestampResult.data.getStaffCxFeedback.updatedAt
        if(this.editCxFeedbackFields.updatedAt != timestamp){
          throw "Record was updated by another user. Please copy any changes and refresh the page."
        }
        let input = {...this.editCxFeedbackFields}
        delete input.staffId
        await this.api(updateStaffCxFeedback, {input}, getStaffCxFeedbackUpdatedTimestamp, 'getStaffCxFeedback' )
        this.editCxFeedbackFields = {}
        this.editCxFeedbackModalOpen = false
        this.loadData(true)
      }catch(e){
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    },


    async deleteCxFeedback(){
      try{
        await this.$confirm('This will permanently delete the customer feeback record. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })
        var timestampResult = await this.api(getStaffCxFeedbackUpdatedTimestamp, {id: this.editCxFeedbackFields.id})
        if(!timestampResult.data.getStaffCxFeedback){
          throw "Mentor data is missing or deleted by another user."
        }
        var timestamp = timestampResult.data.getStaffCxFeedback.updatedAt
        if(this.editCxFeedbackFields.updatedAt != timestamp){
          throw "Record was updated by another user. Please copy any changes and refresh the page."
        }
        await this.api(deleteStaffCxFeedback, {input:{ id: this.editCxFeedbackFields.id }} )
        this.editCxFeedbackFields = {}
        this.editCxFeedbackModalOpen = false
        this.loadData(true)
      }catch(e){
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    }


  },
}
</script>