<template>
    <div class="card" >
        <div class="card-title">{{ title }}</div>
        <div class="grid grid-cols-12 grid-flow-row gap-4">
            <div 
                v-for="report in reportsToDisplay" 
                :key="report.name" 
                class="col-span-12 lg:col-span-6 xl:col-span-4 bg-gray-100 rounded-lg border border-gray-400 p-2 relative" 
                :class="{' bg-opacity-30': !hasAccessBasedOnNeededPremium(report)}">
                <div 
                    v-if="!hasAccessBasedOnNeededPremium(report)"
                    class="premium-warning-container" 
                    @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})">
                    <div class="sample-pill">Requires Premium</div>
                </div>
                <div class="flex justify-between items-center" :class="{' opacity-25': !hasAccessBasedOnNeededPremium(report)}">
                    <div class="link" @click="goToReport(report)"> {{ report.name }}
                        <el-tooltip v-if="report.description" class="item" effect="dark" placement="top" popper-class="custom-tooltip-higher-z-index">
                        <div slot="content" class=" max-w-64">
                            <div> {{ report.description }} </div>
                        </div>
                        <i class="uil uil-question-circle text-base"></i>
                        </el-tooltip>
                    </div>
                    <div>
                        <el-dropdown @command="performAction" class="flex-initial">
                            <i class="context-menu uil uil-ellipsis-h"></i>
                            <el-dropdown-menu slot="dropdown" class="custom-tooltip-higher-z-index">
                                <el-dropdown-item v-for="action in report.actions" :key="action.actionName" :command="{action: action}">
                                    {{ setActionName(action)}}
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default{
    name: "ReportCard",
    props: ['title', 'reports'],
    computed:{
        ...mapState([ 'userInfo' ]),
        reportsToDisplay(){
            const reports = this.reports.filter(this.filterBAsedOnPermissions);
            return reports.map(report => ({
                ...report,
                actions: report.actions.filter(this.filterBAsedOnPermissions),
            }));
        }
    },
    methods: {
        hasPermission(permission) {
            if (Array.isArray(permission)) return permission.every(permissionName => this.userInfo[permissionName]);
            return this.userInfo[permission];
        },

        filterBAsedOnPermissions(report) {
            return !report.neededPermission || this.hasPermission(report.neededPermission);
        },

        hasAccessBasedOnNeededPremium(report) {
            const { neededPremium } = report;

            if (typeof neededPremium === 'string') {
                return neededPremium && this.$store.getters[neededPremium];
            }

            if (Array.isArray(neededPremium)) {
                return neededPremium.some(premium => this.$store.getters[premium]);
            }

            return true;
        },

        goToReport(report){
            this.$emit('go-to-report', report)
        },
        performAction(reportAction){
            this.$emit('perform-action', reportAction)
        },
        setActionName(action) {
            return  action.requiredPermissionFullAccess ? (this.userInfo.permissionFullAccess? action.actionName : null) : action.actionName
        }
    }
}
</script>
