<template>
    <div>
        <Card :title="`${title} (${totalTasks})`" 
        customTitleClass="pl-2 py-1"
        :loading="loading" isPremiumDashboard showSampleDataText
        :premiumFeature="!hasStaffManagement && !hasReadOnlyAccess('staff')">
            <template v-slot:body>
                <div class="h-64">
                    <div class="p-2">
                        <div>
                            <div v-for="task in filteredTasks" :key="task.id">
                                <div class="cursor-pointer hover:bg-blue-100 rounded h-12 px-2">
                                    <span @click="openEditTaskModal(task)" class="text-xs font-bold ellipsis" :class="{'text-red-600': task.isOverdue}">{{ task.date | date }} 
                                    <span v-if="assignedByMeTasks && task.assignee">— To: {{task.assignee.firstName}} {{ task.assignee.lastName }} </span>
                                    <span v-if="assignedToMeTasks && task.assigner">— To: {{task.assigner.firstName}} {{ task.assigner.lastName }} </span>
                                    <span v-if="otherTasks && task.assignee">— To: {{task.assignee.firstName}} {{ task.assignee.lastName }}</span> 
                                    <span v-if="otherTasks && task.assigner">| From: {{task.assigner.firstName}} {{ task.assigner.lastName }}</span>
                                    </span>
                                    <span class="float-right" v-if="assignedToMeTasks">
                                        <i class="uil uil-check text-2xl text-gray-600 hover:text-green-500" @click="completeTask(task)"></i>
                                    </span>
                                    <p class="text-xs truncate" :class="{'text-red-600': task.isOverdue}">{{ task.taskName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </template>
        </Card>
    </div>
        
</template>
<script>
import { updateTask } from '@/graphql/mutations'
import { tasksByOwner, tasksByCreator, tasksByGroupAndStatus, getUser } from '@/views/Tasks/queries';
import { mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'

export default{
    name: "TaskSummaryCard",
    props: ['assignedByMeTasks', 'assignedToMeTasks', 'otherTasks', 'title'],
    components: { Card },
    data(){
        return {
            tasks: [],
            totalTasks: 0,
            loading: false,
        }
    },
    mounted(){
        this.loadData()
    },
    computed:{
        ...mapGetters([
            'hasStaffManagement',
            'hasReadOnlyAccess',
        ]),

        filteredTasks(){
            return this.tasks.slice(0 , 5)
        }
    },
    methods:{

        /**
         * Completes a task
         */
        async completeTask(task){
            var assignerID = task.assigner.id
            var assigneeID = task.assignee.id

            try{
            var input = {
                ...task,
                taskAssignerId: assignerID,
                taskAssigneeId: assigneeID,
                group: this.$store.state.userInfo.tenant.group
            }
            input.status = "Complete"

            delete input.assignee
            delete input.assigner
            delete input.isOverdue
            const result = await this.api(updateTask, {input: input})
            console.log(result)
            this.$message({
                type: 'success',
                message: 'Task Completed'
            });                
            this.loadData()

            }catch(e){

                console.log(e)
                this.displayUserNotification({
                    title: "Error",
                    type: "error",
                    message: e.message
                });
            }

        },

        /**
         * Loads Tasks for component
         */
        async loadData(){
            try{
                this.loading = true
                var today = this.$moment()
                if(!this.hasStaffManagement && !this.hasReadOnlyAccess('staff')){
                    this.loading = false
                    this.tasks = [
                        { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: `Roster today's ${this.$t('label.associate')}` },
                        { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: "Take Van 34 in for oil change" },
                        { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: `Interview new ${this.$t('label.associates')}` },
                    ]
                    this.totalTasks = this.tasks.length
                    return
                }
                if(this.assignedToMeTasks){
                    //calculate day
                    var fiveDaysFromNow = this.$moment().add( 5 , "days" ).format()

                    //get overdue tasks
                    var input = {
                        statusDate: {beginsWith: {status: "Pending"}},
                        owner: this.$store.state.userInfo.id,
                        date: {lt: fiveDaysFromNow},
                        sortDirection: "ASC"
                    }
                    var results = await this.gLoadListAll( tasksByOwner, input, 'tasksByOwner' )

                    results.map( task => {
                        task.isOverdue = today.format() > task.date ? true : false
                    })
                    this.tasks = results
                    this.totalTasks = results.length
                }
                else if(this.assignedByMeTasks){
                    //get upcoming tasks
                    var input = {
                        statusDate: {beginsWith: {status: "Pending"}},
                        creator: this.$store.state.userInfo.id,
                        sortDirection: "ASC"
                    }
                    var results = await this.gLoadListAll( tasksByCreator, input, 'tasksByCreator' )

                    results.map( task => {
                        task.isOverdue = today.format() > task.date ? true : false
                    })
                    this.tasks = results
                    this.totalTasks = results.length
                }
                else if(this.otherTasks){
                    //build filter
                    var filter = {
                        owner:  { ne: this.$store.state.userInfo.id},
                        creator: { ne: this.$store.state.userInfo.id},
                    }

                    //get upcoming tasks
                    var input = {
                        filter: filter,
                        status: "Pending",
                        group: this.$store.state.userInfo.tenant.group,
                        sortDirection: "ASC"
                    }
                    var results = await this.gLoadListAll( tasksByGroupAndStatus, input, 'tasksByGroupAndStatus' )

                    results.map( task => {
                        task.isOverdue = today.format() > task.date ? true : false
                    })

                    this.tasks = results
                    this.totalTasks = results.length
                }
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        /**
         * Navigates to the tasks list and opens edit modal
         */
        openEditTaskModal(task){
            this.$router.push({name: 'Task', params: {taskID: task.id}})
        },
    }
}
</script>
