<template>
  <div class="py-4 px-3 table-head" :class="inTable ? 'header-personalized-table' : 'header-personalized'">
  
    <section class="text-sm font-bold px-2 text-center color-title uppercase title-container">
      <slot name="title">Title Table</slot>
    </section>
    
    <section class="filters flex flex-row">
      <div v-if="$slots['filter-count']" class="filter-count-mobile" @click="toggleNav">
        <slot name="filter-count">Count</slot>
        <i class="toggle-icon el-icon-arrow-down el-icon--right" :class="!mobileNavActive ? 'active' : ''"></i>
        <i class="toggle-icon el-icon-arrow-up el-icon--right" :class="mobileNavActive ? 'active' : ''"></i>
      </div>
      <div class="container-filter" :class="mobileNavActive ? 'active' : ''">
        <i class="el-icon-close toggle-close-icon" @click="toggleNav" :class="mobileNavActive ? 'active' : ''"></i>
        <slot name="filters"></slot>
      </div>
    </section>
  </div>
</template>

<script>
export default {

  name: "ContainerFilter",
  data() {
    return {
      mobileNavActive: false
    }
  },
  methods: {
    toggleNav() {
      this.mobileNavActive = !this.mobileNavActive
    }
  },
  props: {
    counter: 1,
    inTable: {
      type: Boolean,
      required: false,
      default: false
    }
  }

}
</script>

<style lang="scss" scoped>

.header-personalized {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(226, 232, 240, 1);
}

.header-personalized-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(226, 232, 240, 1);
}
.filter-count{ 
  cursor: pointer; 
}
.toggle-close-icon, .toggle-icon{ 
  display: none !important;
}
.container-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-title {
  color: #606266;
}

@media (max-width: 1023px) {
  .header-personalized-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
  }

  .title-container {
    padding-bottom: .5rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .filter-count-mobile{
    display: block !important
  }
  .table-head.header-personalized-table, .table-head {
    position: relative;
    display: block;
  } 
  .filter-count-mobile .el-badge.item:after{

  }
  .filter-count-mobile .indicator-filter{
    display: inline;
  }
  .filter-count-mobile .toggle-icon{ 
    font-size: .8em;
    color: #444;
  }
  .filter-count-mobile .toggle-icon.active{ 
    display: inline-block !important
  }
  .container-filter {
    position: absolute;
    display: block;
    top: 5em;
    background: #fff;
    padding: 1em 0.5em;
    overflow: hidden;
    transition: transform .2s ease, opacity .2s ease;
    z-index: 6;
    opacity: 0;
    transform: scaleY(.5);
    transform: translateY(-20px);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 5px;
    left: 0;
    pointer-events: none;
  }
  .container-filter > *{
    display: block !important;
    margin: 1em 2.5em 1em .5em;
  }
  .container-filter .el-icon-close{
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      cursor: pointer;
      margin: 0;
      font-size: 1.2em;
      color: #888;
  }
  .container-filter.active{
    transition: transform .2s ease, opacity .2s ease;
    opacity: 1 !important;
    transform: scaleY(1) !important;
    transform: translateY(10px) !important;
    pointer-events: all;
  }
}

</style>