<template>
  <el-dropdown 
    :key="dropdownKey" 
    :placement="placement" 
    class="mt-1"
    data-cy="three_dot_button" 
    trigger="click" 
    @command="handleClick"
  >
    <slot name="trigger"></slot>
    <el-dropdown-menu slot="dropdown" id="menu" class="menuWrapper" :style="styleObject">
      <slot name="title"></slot>
      <el-dropdown-item 
        v-for="option in items" 
        :key="option.label" 
        :command="{ data: null, action: option.action }"
        :divided="option.divided"
      >
        <slot v-bind="option">{{ option.label }}</slot>
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
export default {  
  name: "ContextMenu",
  props: {
    title: {
      type: String,
      required: false,
      default: ""
    },
    options: {
      type: Array,
      required: true,
      default: () => []
    },
    styleObject: {
      type: Object,
      required: false,
      default: (() => { width: "300px" })
    },
    placement: {
      type: String,
      required: false,
      default: "bottom"
    }
  },

  data() {
    return {
      items: this.options,
      showMenu: false,
      dropdownKey: 0
    }
  },

  methods: {

    handleClick( payload ) {
      this.$emit( "handle-action", payload );
    },
  }
}
</script>

<style>

.container-menu {
  position: relative;
}

</style>