<template>
  <div :class="inTable ? 'custom-table--card' : 'custom-table'">
    <div class="relative">
      <el-table
        v-loading="loading"
        ref="table"
        :empty-text="emptyText"
        header-cell-class-name="table-header-cell"
        :data="visibleData"
        :default-sort = "defaultSort"
        :tree-props="childs"
        row-key="id"
        row-class-name="table-row"
        @sort-change="sortChange"
        :class="classTable"
      >
        <template v-if="withSelect">
          <!-- THIS COLUMN GETS RENDERED FOR TABLE SELECTION OF THIS COMPONENT -->
          <el-table-column width="100">
            <template #header>
              <el-dropdown trigger="click" @command="handleSelectionCommand">
                <section class="flex cursor-pointer">
                  <span :class="[
                    'px-2 border-rounded',
                    (selectedRowsCount > 0)? 'bg-blue-700 text-white': 'bg-gray-200',
                    ]"
                  >
                    {{ selectedRowsCount }} <i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                </section>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item>
                    <span class="font-bold text-xs uppercase contextmenu__title">{{ selectedRowsCount }} SELECTED {{ (selectedRowsCount === 1)? selectionEntityLabels[0]: selectionEntityLabels[1] }}</span>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="!areAllRowsSelected" command="select_all">Select All</el-dropdown-item>
                  <el-dropdown-item v-if="selectedRowsCount > 0" command="select_none">Select none (clear selection)</el-dropdown-item>
                  <!-- CUSTOM SELECTION ACTIONS -->
                  <el-dropdown-item
                    v-for="(action, index) in selectionCustomActionsToDisplay"
                    :key="action.command"
                    :divided="index === 0"
                    :command="action.command"
                  >
                    {{ action.label }}
                  </el-dropdown-item>
                  <!-- DELETE SECTION -->
                  <el-dropdown-item v-if="shouldDisplaySelectionDeleteAction && selectionDeleteHandler && (selectedRowsCount > 0)" command="delete_selected" divided>Delete Selected</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>

            <template slot-scope="{row}">
              <div class="ml-3">
                <el-checkbox v-model="selectedRowsIDsMap[row.id]" v-if="!selectionRowDisabledResolver(row)" />
                <el-checkbox v-else disabled aria-disabled="true"/>
              </div>
            </template>
          </el-table-column>
        </template>

        <template v-for="(column,index) in columns">
          <el-table-column
            v-if="!column.type"
            :min-width="column.width"
            :key="column.name"
            :fixed="column.fixed"
            :sortable="column.sortable"
            :sort-method="column.sortMethod"
            :render-header="column.renderHeader"
            :prop="column.col"
          >
            <template slot="header">
              <span class="inline-block leading-normal align-left">
                <slot name="column-header" :columnHeader="column.name">
                  {{ column.name }}
                </slot>
              </span>
            </template>

            <template slot-scope="{ row }">
                <span :id="row.id ? row.id + index : row[column.col] + index" :class="[
                  column.name ? 'align-left' : 'pl-2',
                  showExpandCollapseColumn ? 'inline-block truncate' : 'inline-block'
                ]" style="max-width: 500px;">
                <slot :name="column.col" v-bind="row">
                  <div v-if="isStatusField(column.col)">
                    <CellToolTip
                      v-if="getValueOfRowProp(column.col, row)"
                      :value="getValueOfRowProp(column.col, row)"
                    >
                      <div slot-scope="{textValue}" class="flex">
                        <span
                          class="font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial"
                          :class="setClassStatus(getValueOfRowProp(column.col, row))"
                        >{{textValue}}</span>
                      </div>
                    </CellToolTip>
                    <span v-else>—</span>
                  </div>
                  <template v-else>
                        <CellToolTip :value="row[column.col]" :maxLength="showExpandCollapseColumn === true ? getWidth(index,row,column) : 700">
                          <div slot="tooltip" slot-scope="{ expandedValue, contractedValue }">
                             <template v-if="expandedValue || contractedValue">{{ expandedValue ? expandedValue : contractedValue }}</template> 
                             <slot :name="'custom-tooltip-'+column.col" v-else></slot>
                          </div>
                        </CellToolTip>
                  </template>
                </slot> 
              </span>
            </template>
          </el-table-column>

          <el-table-column
            v-else
            :type="column.type"
            :min-width="column.width"
            :key="`v-else-${column.name}`"
            :fixed="column.fixed"
            :sortable="column.sortable"
            :sort-method="column.sortMethod"
            :selectable="column.selectable"
          ></el-table-column>

        </template> 
        <el-table-column align="right" :width="rowActionButton ? '95':'50'"  fixed="right" :render-header="renderHeader">
          <template slot-scope="{ row }" >
            <div class="flex justify-around items-center">
              <slot name="row-action-menu" v-bind="row"></slot>  
              <el-dropdown
                v-if="getOptionsContextRow(row).length || optionsContextSubRow.length"
                data-cy="three_dot_button_row"
                class="mt-1 fix-height"
                trigger="click"
                @command="handleCommand">
                <template v-if="childs.children">
                  <!-- Group row -->
                  <template v-if="row[childs.children]">
                    <span class="context-menu" :class="getOptionsContextRow(row).length ? '': 'hidden'">
                      <i class="uil uil-ellipsis-h"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown" >
                      <el-dropdown-item
                        v-for="option in optionsContextRow" 
                        :key="option.label"
                        :command="{ row, action: option.action }"
                      > {{ option.label }}
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                  <template v-else>
                    <!--Sub Row -->                  
                    <span class="context-menu" :class="optionsContextSubRow.length ? '': 'hidden'">
                      <i class="uil uil-ellipsis-h"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown" >
                      <el-dropdown-item 
                        v-for="option in optionsContextSubRow" 
                        :key="option.label" 
                        :command="{ row, action: option.action }">
                        {{ option.label }}
                      </el-dropdown-item>
                    </el-dropdown-menu>
                  </template>
                </template>
                <template v-else >
                  <!-- Row -->
                  <span v-if="getOptionsContextRow(row).length" class="context-menu"><i class="uil uil-ellipsis-h"></i></span>
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item 
                      v-for="option in getOptionsContextRow(row)"
                      :key="option.label" 
                      :divided="option.divided"
                      :command="{ row, action: option.dynamicAction ? option.dynamicAction(row) : option.action }">
                      {{ option.dynamicLabel ? option.dynamicLabel(row) : option.label }}
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>

              <slot name="custom-dropdown" v-bind="row"></slot> 
            </div>           
          </template>
        </el-table-column>
      </el-table>
     
      <template v-if="haveScroll && data.length">
        <div
          v-show="canScrollToLeft"
          class="absolute top-0 h-full px-2 text-white text-2xl bg-brand-50 bg-opacity-20 overflow-hidden left-0"
          @click.prevent="swipeLeft">  
          <div v-if="filterRecords <= 2" class="flex items-center h-full">
            <span><i class="el-icon-arrow-left"></i></span>
          </div>
          <div v-else>
            <div class="pt-45" v-for="i in filterRecordsNew" :key="i">
              <span><i class="el-icon-arrow-left"></i></span>
            </div>
          </div>
        </div>
        <div
          v-show="canScrollToRight"
          class="absolute top-0 h-full px-2 text-white text-2xl bg-brand-50 bg-opacity-20 overflow-hidden"
          :class="[ !haveTableMenuAction ? 'right-0':'right-5', 
          haveTableMenuAction && existFixedInTable ? 'right-9': 'right-5',
          haveTableMenuAction && rowActionButton ? 'right-9': 'right-5']" 
          @click.prevent="swipeRight">
          <div v-if="filterRecords <= 2" class="flex items-center h-full">
            <span><i class="el-icon-arrow-right"></i></span>
          </div>
          <div v-else>
            <div class="pt-45" v-for="i in filterRecordsNew" :key="i">
              <span><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
        </div>
      </template>

    </div>
    <div class="p-2 flex justify-between">
      <span v-if="showFooterText">Showing {{ filterRecords }} of {{ totalRecords }} {{ footerTable }}</span>
    </div>

    <el-dialog
      v-if="isSelectionDeleteModalOpen"
      width="30%"
      title="Are you sure?"
      :visible.sync="isSelectionDeleteModalOpen"
    >
      <CommonDeleteDialog
        @delete-action="commitSelectionDelete"
        @close-modal="isSelectionDeleteModalOpen = false"
      />
    </el-dialog>
  
  </div>
</template>

<script>
// import ContextMenu from "@/components/TableCard/ContextMenu";
import ContextMenuSelect from "@/components/TableCard/ContextMenuSelect";
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon';
import CellToolTip from '@/components/CellToolTip';
import { parseCounselingStatusValueToLabel } from "@/views/Counseling/utils";
import CommonDeleteDialog from '@/components/CommonDeleteDialog';

export default {

  components: {
    ContextMenuSelect,
    ContextMenuHeaderIcon,
    CellToolTip,
    CommonDeleteDialog,
  },

  props: {
    selectionEntityLabels: {
      type: Array,
      default: () => (['', '']),
    },
    selectionDisplayDeleteActionResolver: {
      type: Function,
      default: () => (true),
    },
    selectionRowDisabledResolver: {
      type: Function,
      default: () => (false), // All rows enabled by default
    },
    selectionDeleteHandler: {
      type: Function,
      default: null,
    },
    selectionCustomActions: {
      type: Array,
      required: false,
      default: () => ([]),
    },

    showFooterText: {
      type: Boolean,
      required: false,
      default: true
    },
    childs: {
      type: Object,
      required: false,
      default: function () {
        return {}
      }
    },
    defaultSort: {
      type: Object,
      required: false,
      default: function () {
        return {}
      }
    },
    // configuration prop
    columns: {
      type: [Array, Function],
      required: true,
      default: []
    },
    // data prop 
    data: {
      type: Array,
      required: true,
      default: () => []
    },

    totalRecords: {
      type: [String, Number],
      required: false,
      default: 0
    },
    // configuration prop
    withSelect: {
      type: Boolean,
      required: false,
      default: false
    },
    // data prop
    footerTable: {
      type: String,
      required: true,
      default: "Records"
    },

    optionsHeader: {
      type: Array,
      required: false,
      default: () => []
    },

    optionsRows: {
      type: [Array, Function],
      required: true,
      default: () => []
    },

    optionsSubRows: {
      type: Array,
      required: false,
      default: () => []
    },

    emptyText: {
      type: String,
      default: "No Records"
    },

    withTableMenu: {
      type: Boolean,
      default: false
    },

    inTable: {
      type: Boolean,
      required: false,
      default: false
    },

    classTable: {
      type: String,
      required: false,
      default: ""
    },

    rowActionButton:{
      type: Boolean,
      required: false,
      default: false
    },
    expandCollapseColumn:{
      type: Boolean,
      required: false,
      default: false
    },
    isExpanded:{
      type: Boolean,
      required: false,
      default: false     
    }
  },

  computed: {
    shouldDisplaySelectionDeleteAction() {
      const selectedRows = this.selectedRowsArray;
      return this.selectionDisplayDeleteActionResolver(selectedRows);
    },

    selectionCustomActionsToDisplay() {
      const selectedRows = this.selectedRowsArray;
      return this.selectionCustomActions
        .filter(action => {
          if (action.shouldDisplay instanceof Function) {
            return action.shouldDisplay(selectedRows);
          }
          return true;
        });
    },

    areAllRowsSelected() {
      return this.selectedRowsCount === this.data.length;
    },

    selectedRowsArray() {
      return this.data.filter(item => !!this.selectedRowsIDsMap[item.id]);
    },

    selectedRowsCount() {
      return this.selectedRowsArray.length;
    },

    isExpandedComputed() {
      return this.showExpandCollapseColumn ?  "Expand Row Height" :   "Collapse Row Height" 
    },

    filterRecords() {
      return this.data.length;
    },
    
    canScrollToLeft() {
      return this.classScrollTable.includes("is-scrolling-right") || this.classScrollTable.includes("is-scrolling-middle");
    },

    canScrollToRight() {
      return this.classScrollTable.includes("is-scrolling-left") || this.classScrollTable.includes("is-scrolling-middle");
    },

    filterRecordsNew() {
      const count = this.data.length / 3
      return this.data.length <= 1 ? 1 : parseInt(count.toFixed(0));
    },
    classHeadByRoute(){
      if( !this.rowActionButton ) return ""

      const currentRoute = this.$router.currentRoute.name
      return currentRoute == 'StaffIndex' ? '':'flex justify-end'
    },
    classBodyByRoute(){
      if( !this.rowActionButton ) return ""

      const currentRoute = this.$router.currentRoute.name
      return currentRoute == 'StaffIndex' ? 'pr-1':'pr-3'
    },
    
    classContextMenuHeaderIcon(){
      return this.rowActionButton ? '-mr-0.75' : 'ml-0.75 mr-2'
    },
    isMultipleSelectedRecords(){
      return this.selectedRowsCount > 0;
    },

  },

  async mounted() {
    this.getContentScroll();
    this.scrollLeft = this.contentScroll.scrollLeft;
    this.haveScroll = this.contentScroll.classList.contains('is-scrolling-left') || this.contentScroll.classList.contains( 'is-scrolling-none' );
    this.classScrollTable = [ ...this.contentScroll.classList ];
    this.observer = this.observerHorizontalScrollbar();
    this.existFixedInTable = this.columns.some(column => column.fixed === 'right');
  },

  created() {
    this.loadChunk();
  },

  watch: {
    data(dataList) {
      this.selectedRowsIDsMap = dataList.reduce((acc, item) =>
      (acc[item.id]=!!acc[item.id], acc),
      {});
    },

    data:{
      handler() {
        this.visibleData = []
        this.loadChunk()
      }
    },
    // Watch for changes in the visibleData length and trigger loading more data
    visibleData: {
      handler() {
        if (this.visibleData.length < this.data.length) {
          this.loadChunk();
        }
      },
    },

    selectedRowsArray(selectedRows) {
      this.$emit('selection-change', selectedRows);
    },
  },

  data() {
    return {
      isSelectionDeleteModalOpen: false,
      selectedRowsIDsMap: {},
      optionsContextHeader: this.optionsHeader,
      optionsContextRow: this.optionsRows,
      optionsContextSubRow: this.optionsSubRows,
      contentScroll: null,
      scrollLeft: 0,
      maxScroll: 10000,
      scrollRight: 0,
      haveScroll: false,
      componentKey: 0,
      haveTableMenuAction: this.withTableMenu,
      tableComponentKey: 0,
      classScrollTable: "",
      observer: null,
      existFixedInTable: false,
      showExpandCollapseColumn: this.expandCollapseColumn,
      isExpandedCol: this.expandCollapseColumn,
      scrollMaxWidth: [],
      visibleData: [],
      chunkSize: 50, // Number of rows to display at a time
      loading: false
    }
  },
  
  methods: {
    loadChunk() {
      this.loading = true;

      // Simulating an asynchronous data loading
      setTimeout(() => {
        const startIndex = this.visibleData.length;
        const endIndex = startIndex + this.chunkSize;
        this.visibleData = this.visibleData.concat(this.data.slice(startIndex, endIndex));

        this.loading = false;
      }, 500);
    },

    getOptionsContextRow(row){
      return this.optionsContextRow.filter(item => !item.condition || item.condition(row))
    },
    
    getWidth(index,row,column){

      const { width, col} = column

      const rowValidated = (Array.isArray(row[col])) ? row[col][0] : row[col]

      const id = (row?.id ? row.id : rowValidated) + index

      const element = document.getElementById(id);
      
      if(element){

        const filterWidthProperty = this.scrollMaxWidth.find(item => item.col === col)

        const widthText = filterWidthProperty?.widthText ?? element.scrollWidth ?? width;

        const existingIndex = this.scrollMaxWidth.findIndex(item => item.col === col);

        if (existingIndex !== -1) {
          // If the property exists, compare and update the value if it's greater
          if (this.scrollMaxWidth[existingIndex].widthText < widthText) {
            this.scrollMaxWidth[existingIndex].widthText = widthText;
          }
        } else {
          // If the property doesn't exist, add a new object to the array
          this.scrollMaxWidth.push({ col, widthText });
        }

        const numCharacters = this.calculateCharactersForWidth(widthText, rowValidated);

        return numCharacters
      }
    },

    calculateCharactersForWidth(desiredWidth, text) {

      const canvas = document.createElement("canvas");
      const context = canvas.getContext("2d");
      context.font = this.getCanvasFont();
      let textLength = 0;
      let textWidth = 0;
      if(!text) return 
      for (let i = 0; i < text.length; i++) {
        textLength++;
        textWidth = context.measureText(text.substring(0, textLength)).width;
        if (textWidth >= desiredWidth) {
          break;
        }
      }
      return textLength;
      
    },

    getCanvasFont() {
      const fontWeight = '400';
      const fontSize = '14px';
      const fontFamily = 'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
      return `${fontWeight} ${fontSize} ${fontFamily}`;
    },
    handleSelectionCommand(command) {
      switch(command) {
        case 'select_all': this.setSelectedValueForAllRows(true); break;
        case 'select_none': this.setSelectedValueForAllRows(false); break;
        case 'delete_selected': this.handleDeleteSelected(); break;
        default:
          const foundAction = this.selectionCustomActionsToDisplay.find((action) => action.command === command);
          if (!foundAction) throw new Error('Invalid command ${command} for selection action');
          foundAction.handler(this.selectedRowsArray, this.selectRowsByCb);
          break;
      }
    },

    selectRowsByCb(selectResolver) {
      this.selectedRowsIDsMap = this.data.reduce((acc, item) => {
        const isDisabled = this.selectionRowDisabledResolver(item);
        acc[item.id]= (isDisabled)? false: !!selectResolver(item);
        return acc;
      },
      {});
    },

    setSelectedValueForAllRows(value) {
      this.selectedRowsIDsMap = this.data.reduce((acc, item) => {
        const isDisabled = this.selectionRowDisabledResolver(item);
        acc[item.id] = (isDisabled)? false: !!value;
        return acc;
      },
      {});
    },

    handleDeleteSelected() {
      this.isSelectionDeleteModalOpen = true;
    },

    async commitSelectionDelete() {
      this.isSelectionDeleteModalOpen = false;
      await this.selectionDeleteHandler(this.selectedRowsArray);
    },

    getValueOfRowProp(prop='', row='') {
      const nested = prop.split('.');

      const isStatus = prop.toLowerCase().includes('status');

      let val = row;

      try {
        for (const nestedProp of nested) {
          val = val[nestedProp];
        }

        // Handle display parsed Counseling status
        if (isStatus && (val?.includes('_') || val?.toLowerCase().includes('signed'))) {
          return parseCounselingStatusValueToLabel(val);
        }

        return val;
      }
      catch {
        return null;
      }
    },

    isStatusField(field='') {
      return field.toLowerCase().includes('status');
    },

    setClassStatus(status='') {
      status = status.toLowerCase();

      return {
        'bg-red-500 text-red-600' : (
          !status ||
          status.includes('inactive') ||
          status.includes('refused') || // Counseling Status
          (status == 'lapsed trial' || status == 'churned') // Tenant Status
        ),
        'bg-purple-500 text-purple-600' : (
          status.includes('onboarding') ||
          status.includes('pending') // Counseling status
        ),
        'bg-green-500 text-green-600' : (
          status == 'active' ||
          status.includes('signed') // Counseling Status
        ),
        'bg-yellow-500 text-yellow-900' : (
          status.includes('not') || // Counseling Status
          status == 'trial' // Tenant Status
        ),
        'bg-orange-500 text-orange-600': (
          status == 'unknown' // Tenant Status
        )
      };
    },

    observerHorizontalScrollbar() {
      const observer = new MutationObserver(( mutationList, observer ) => {
        const contentScroll = mutationList[0].target;
        this.classScrollTable = [ ...contentScroll.classList ];
      })

      observer.observe(this.contentScroll, { attributes: true });

      return observer;
    },
    
    swipeLeft() {
      this.scrollTo( this.contentScroll, -300, 800 );
      this.scrollLeft = this.contentScroll.scrollLeft - 300;
    },

    async swipeRight() {
      await this.scrollTo( this.contentScroll, 300, 800 );
      this.scrollLeft = this.contentScroll.scrollLeft + 300;
    },

    scrollTo(element, scrollPixels, duration) {
      const scrollPos = element.scrollLeft;
        
      this.maxScroll = element.scrollWidth;
      this.scrollRight = element.clientWidth + scrollPos;
        
      const startTime = "now" in window.performance ? performance.now() : new Date().getTime();
      const vm = this;
      function scroll( timestamp ) {
        
        const timeElapsed = timestamp - startTime;
        
        const progress = Math.min( timeElapsed / duration, 1 );

        element.scrollLeft = scrollPos + scrollPixels * progress;

        if ( timeElapsed < duration ) {
          
          window.requestAnimationFrame( scroll );
        } else {
          vm.scrollRight = element.clientWidth + element.scrollLeft;
          return;
        }
      }

      window.requestAnimationFrame( scroll );
    },

    getContentScroll() {
      const table = this.$refs['table'];
      const { bodyWrapper } = table.$refs;
      this.contentScroll = bodyWrapper
    },

    sortChange(e) {
      this.$emit('sort-change', e);
    },

    handleCommand( command ) {

      if(command !== undefined)
      {
        this.$emit( "click-menu", command );
      }
		},

    handleColumn() {
      this.showExpandCollapseColumn = !this.showExpandCollapseColumn;
    },

    renderHeader(h){

      return this.haveTableMenuAction ? h(
          'el-dropdown',
          {
            placement: 'bottom-end',
            class: 'mt-1 fix-height',
            attrs: {
              'data-cy': 'three_dot_button'
            },
            trigger: 'click',
            on: { command: (command) => this.handleCommand(command) }
          },
          [
            [ this.rowActionButton ? <ContextMenuHeaderIcon class="context-menu-header-hover -mr-0.75"/>  : <ContextMenuHeaderIcon class="context-menu-header-hover ml-0.75 mr-2"/>],
            h(
              'template',
              { slot: 'dropdown' },
              [
                h(
                  'el-dropdown-menu',
                  { slot: 'dropdown', id: 'menu' },
                  [
                    this.isExpandedCol ? h(
                      'div',
                      {
                        class: 'el-dropdown-menu__item',
                        on: { click: () => this.handleColumn() }
                      },
                      [
                        h('span', {}, this.isExpandedComputed), this.isExpandedComputed === 'Expand Row Height' ? h('i', { class: 'uil-arrows-shrink-v', style: 'font-size:18px'}) : h('i', { class: 'uil-compress-lines pl-1', style: 'font-size:18px'})
                      ]
                    ) : null,
                    this.optionsContextHeader.map(option => h(
                      'el-dropdown-item',
                      {
                        props: { command: { data: null, action: option.action } },
                        key: option.label,
                        divided: option.divided,
                        disabled: option.enableOnMultipleSelection ? !this.isMultipleSelectedRecords : false
                      },
                      [ h('slot', { ...option }, option.label) ]
                    ))
                  ]
                )
              ]
            )
          ]
        ) : null
    }
  },

  beforeDestroy() {
    if(this.observer) this.observer.disconnect();
  }
}
</script>

<style lang="scss" scoped>

.dropdown__item--menu {
  padding: 0;
}

.dropdown__item--menu:not(.is-disabled):hover {
  background-color: transparent;
  cursor: default;
  color: #606266;
}

.menu__item:hover {
  background-color: #e6f0f8;
  color: #3586c9;
}

.border-rounded {
  border-radius: .5rem !important;
}

.contextmenu__title {
  font-family: 'Amazon Ember', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding-bottom: 5px;
}

.fix-height {
  height: 25px;
}

.disabled {
  cursor: default;
  color: #bbb;
  pointer-events: none;
}

.custom-table {
  border: 1px solid rgba(226, 232, 240, 1);
}

.custom-table--card {
  border: none;
}

.align-left {
  text-align: left;
}

.custom-blue-color {
  color : #0268BC
}

.truncate {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}


</style>