<template>
  <div class="py-2 px-2" :class="inTable ? 'header-search-table' : 'header-search'">
    <div class="grid grid-flow-row grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-12">
        <slot>
          <el-input
            class="w-full input-filter"
            v-model="search"
            @input="filterData"
            size="medium"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Type to search this list..." 
            data-cy="search-in"
          />
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchBox",

  props: {
    inTable: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data() {
    return {
      search: ""
    }
  },

  methods: {
    filterData( e ) {
      this.$emit("search-data", e);
    }
  }
}
</script>

<style lang="scss" scoped>

.input-filter {
  font-size: 16px;
}

</style>

<style>

.input-filter > .el-input__inner {
  border: none !important;
}

.header-search-table {
  border-bottom: 1px solid #e2e8f0;
}

.header-search {
  border: 1px solid #e2e8f0;
}

</style>