<template>
  <div :class="inTab ? ['table__card--tab', `${tablecardClass}`] : ['table__card', `${tablecardClass}`]" class="rounded-lg">
    <div id="filters">
      <slot name="table-filters"></slot>
    </div>
    
    <div id="searchbox">
      <slot name="table-searchbox"></slot>
    </div>

    <div id="table-container">
      <slot></slot>
    </div>
  </div>

</template>

<script>

export default {

  name: "TableCard",

  props: {
    inTab: {
      type: Boolean,
      required: false,
      default: false
    },
    tablecardClass: {
      type: String,
      required: false,
      default: ""
    }
  }

}
</script>

<style lang="scss" scoped>
.table__card {
  border: 1px solid rgba(226, 232, 240, 1);
}

.table__card--tab {
  border: 1px solid rgba(226, 232, 240, 1);
  border-top: 0;
}

</style>