<template>
  <div>
    <!-- DELETE DIALOG -->
      <deletePopUpCounseling 
        :deleteCounselingDialog="deleteCounselingDialog"
        :deleteConfirmation="deleteConfirmation"
        @closeDeleteModal="closeDeleteModal"
        @deleteCounseling="deleteCounseling"
      />
    <!--Table-->
    <el-table
      ref="table"
      class="data-table"
      empty-text="No Counselings"
      :data="tableData"
      header-cell-class-name="table-header-cell"
      :default-sort = "{prop: 'date', order: 'descending'}"
      v-loading="loading"
      style="width: 100%">
      

      <el-table-column
        label="Date of Occurrence"
        sortable
        :sort-method="sortDate"
        width="200"
        prop="date">
        <template slot-scope="scope">
          {{ scope.row.date | date }}
        </template>
      </el-table-column>

      <el-table-column
        label="First Name"
        sortable
        width="150"
        :sort-method="sortFirstName"
        prop="employeeFirstName">
        <template slot-scope="scope">
          <p v-if="scope.row.staff">
            {{ scope.row.staff.firstName | text }}
          </p>
          <p v-else>—</p>
        </template>
      </el-table-column>

        <el-table-column
        label="Last Name"
        width="150"
        sortable
        :sort-method="sortLastName"
        prop="employeeLastName">
        <template slot-scope="scope">
          <p v-if="scope.row.staff">
            {{ scope.row.staff.lastName | text }}
          </p>
          <p v-else>—</p>
        </template>
      </el-table-column>

      <el-table-column
        label="Counseling Description"
        width="421">
        <template slot-scope="scope">
          <p class="truncate" >{{ (scope.row.createdFrom||scope.row.counselingNotes) | text }}</p>
        </template>
      </el-table-column>

      <el-table-column
        label="Counseling Severity"
        sortable
        width="220"
        prop="severity">
        <template slot-scope="scope">
          {{ scope.row.severity.option }}
        </template>
      </el-table-column> 

        <el-table-column align="right" width="55">
            <template slot="header">
                <el-dropdown class="mt-1" @command="handleCommand">
                    <ContextMenuHeaderIcon class="mr-1 context-menu-header-hover"/>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{action: 'add'}">Add Counseling</el-dropdown-item>
                        <el-dropdown-item :command="{action: 'viewAll'}">View All Counselings</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
            <template slot-scope="scope">
                <el-dropdown class="mt-1" @command="handleCommand">
                    <i class="context-menu uil uil-ellipsis-h"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{action: 'view', row: scope.row}">View Counseling</el-dropdown-item>
                        <el-dropdown-item v-if="scope.row.staff" :command="{action: 'send', row: scope.row}">Send to {{$t('label.associate')}}</el-dropdown-item>
                        <el-dropdown-item divided :command="{action: 'delete', row: scope.row}">Delete Counseling</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
        </el-table-column>

    </el-table>
    
    <div class="flex justify-between -mb-4">
      <el-button type="text" class="link" @click="goToCounselingList()">View All Counselings</el-button>
    </div>

    <!--WARNING DIALOG-->
    <el-dialog
        title="Premium Required"
        :show-close="false"
        :center="true"
        :visible.sync="showUpgradeDialog"
        width="300px">
        <PremiumWarning
            action="add counselings"
            premiumFeature="performance and coaching"
            :modal="true"
            @close-dialog="showUpgradeDialog = false"/>
    </el-dialog>
  </div>
</template>

<script>
    import { getCounseling } from '@/views/Counseling/queries.js'
    import { counselingsByGroup, infractionsByStaff } from '@/graphql/queries';
    import { mapState } from 'vuex'
    import { updateCounseling, deleteCounseling, deleteInfraction, updateInfraction } from '@/graphql/mutations'
    import sendMessage from '@/scripts/sendMessage'
    import PremiumWarning from '@/components/PremiumWarning'
    import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
    import Validator from '@/utilities/FormValidator'
    import deletePopUpCounseling from '@/views/Counseling/components/deletePopUpCounseling'
    import { COUNSELING_STATUS_NOT_SENT, COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_TYPE_INFORMAL_WARNING } from '@/utilities/constants/counseling';
    import { parseCounselingStatusValueToLabel } from '@/views/Counseling/utils';

    export default {
        name: 'CounselingList',
        components: {
            PremiumWarning,
            ContextMenuHeaderIcon,
            deletePopUpCounseling
        },
        data() {
            return {
                tableData: [],
                numberOfCounselings: 0, 
                loading: true,
                showUpgradeDialog: false,
                deleteRow: null,
                deleteCounselingDialog: false,
                deleteConfirmation: {
                    deleteMessage:'',
                    delete: '',
                    deleteInfractions: false,
                    showInfractionCheck: false,
                },
                infractionList: null,
                deleteRules: {
                    delete: [
                        { required: true, message: 'Please enter the correct phrase to confirm', validator: Validator.delete },
                    ]
                },
            }
        },

        created: function(){
            this.loadData()

            this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
        },

        mounted: function(){
            this.numberOfCounselings = this.$refs.table.data.length
                // $refs is ready once in mounted
            this.$watch(
                () => {
                    return this.$refs.table.data.length
                },
                (val) => {
                    this.numberOfCounselings = this.$refs.table.data.length
                }
            )
        },

        computed: {
          ...mapState([
            'valuelists',
            'userInfo'
          ])

        },

        methods: {
            async handleCommand(payload){
                var row = payload.row
                var action = payload.action

                if(action == "view"){
                    this.handleRowClick(row)
                    return
                }
                if(action == "send"){
                    this.confirmSend(row)
                    return
                }
                if(action == "add"){
                    if(this.$store.getters.hasPerformanceCoaching){
                        this.$router.push({ name: 'CounselingNew' , params: { userId: this.$store.state.userInfo.id} })
                    }
                    else{
                        this.showUpgradeDialog = true
                    }
                }
                if(action == "viewAll"){
                    this.goToCounselingList()
                }
                if(action == 'delete'){
                  this.loading = true;
                  var input = {
                    id: row.id
                  }
                  var counseling = await this.api(getCounseling, input);
                  var data = counseling.data.getCounseling;
                  if(data.user == null){
                    data.user = {}
                  }
                  if(data.staff){
                    var input = {
                      staffId: data.staff.id,
                      sortDirection: "ASC"
                    }
                    var result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                    var filteredResult = result.filter((infraction => infraction.counseling != null && infraction.counseling.id == data.id));
                    this.infractionList = filteredResult;
                  }
                  this.deleteRow = data
                  try{
                      if(!this.deleteRow.staff || !this.deleteRow.staff.id) throw `Cannot delete counseling. Error: ${this.$t('label.associate')} is missing.`
                      if(this.infractionList.length > 0) this.deleteConfirmation.showInfractionCheck = true
                      if(!this.deleteRow.dateSent && !this.deleteRow.signature) this.deleteConfirmation.deleteMessage = "Are you sure you want to delete this counseling?"
                      if(this.deleteRow.dateSent) this.deleteConfirmation.deleteMessage = `Are you sure you want to delete this sent counseling? ${this.deleteRow.staff.firstName} ${this.deleteRow.staff.lastName} will no longer be able to access this counseling.`
                      if(this.deleteRow.signature) this.deleteConfirmation.deleteMessage = `Are you sure you want to delete this signed counseling? ${this.deleteRow.staff.firstName} ${this.deleteRow.staff.lastName} has acknowledge this counseling.`
          
                      this.deleteCounselingDialog = true
                      this.loading = false;
                  }
                  catch(e){
                      console.log(e)
                      this.displayUserError(e)
                  }
                }
            },

            closeDeleteModal(){
              this.deleteCounselingDialog = false
              this.deleteConfirmation.deleteMessage = ''
              this.deleteConfirmation.delete = ''
              this.deleteConfirmation.showInfractionCheck = false
              this.deleteConfirmation.deleteInfractions = false
              this.infractionList = null;
              this.deleteRow = null;
              this.loading = false;
            },
            async deleteCounseling() {
              try{
                this.loading = true
                var counselingID = this.deleteRow.id
                let input = {
                  id: counselingID
                }
                var deleteInfractions = this.deleteConfirmation.deleteInfractions

                if(deleteInfractions){
                    //delete driver issues in child component 
                    this.deleteAllDaIssues()
                }
                else{
                    // unlink driver issues in child components
                    this.unlinkAllDaIssues()
                }

                await this.api(deleteCounseling, {input});

                this.closeDeleteModal();
                this.loadData();
                this.displayUserNotification({
                  title: "Success", 
                  type: "success", 
                  message: "Counselings deleted"
                })
              }
              catch(e){
                console.log(e)
                this.displayUserError(e)
              }
            },

            async deleteAllDaIssues(){
                await Promise.all(this.infractionList.map(async(daIssue)=>{
                    await this.api(deleteInfraction, {input:{id: daIssue.id}})
                }))
            },

            async unlinkAllDaIssues(){
                await Promise.all(this.infractionList.map(async(daIssue)=>{
                    let input = {
                        id: daIssue.id,
                        group: daIssue.group,
                        infractionStaffId: daIssue.staff.id,
                        infractionCounselingId: null
                    }
                    await this.api(updateInfraction, {input})
                }))
            },

            /**
             * On row click go to the VehicleDetail route.
             * @param {object} row
             * @param {object} column
             * @param {object} event
             */
            handleRowClick(row, column, event){
                this.$router.push({name: 'CounselingDetail', params: { counselingId: row.id }})    
            },

            capitalize(str='') {
              let toCapital = ''
              if (word)
                toCapital = word => word[0].toUpperCase() + word.substr(1).toLowerCase();
              return str.split('_')
                        .map(toCapital)
                        .join(' ');
            },

            /**
             * Load data using the vehicleIndex custom GraphQL query
             */
            loadData: async function(){
              if(!this.$store.getters.hasPerformanceCoaching){
                const counselingStatus = this.capitalize(COUNSELING_STATUS_PENDING_SIGNATURE);
                this.loading = false
                this.tableData = [
                  {severity: {id: 1, option: COUNSELING_TYPE_INFORMAL_WARNING}, date: "2021-02-28T05:00:00.000Z", counselingNotes: "", status: counselingStatus, staff: { firstName: "Manuel", lastName: "Torres"}},
                  {severity: {id: 2, option: COUNSELING_TYPE_INFORMAL_WARNING}, date: "2021-02-20T05:00:00.000Z", counselingNotes: "", status: counselingStatus, staff: { firstName: "La Sha", lastName: "Chavez"}},
                  {severity: {id: 3, option: COUNSELING_TYPE_INFORMAL_WARNING}, date: "2021-02-02T05:00:00.000Z", counselingNotes: "", status: counselingStatus, staff: { firstName: "Juan", lastName: "Davis"}},
                  {severity: {id: 4, option: COUNSELING_TYPE_INFORMAL_WARNING}, date: "2021-01-17T05:00:00.000Z", counselingNotes: "", status: counselingStatus, staff: { firstName: "John", lastName: "Minard"}},
                  {severity: {id: 5, option: COUNSELING_TYPE_INFORMAL_WARNING}, date: "2021-01-03T05:00:00.000Z", counselingNotes: "", status: counselingStatus, staff: { firstName: "Kristie", lastName: "Pulido"}}
                ]
                return
              }
              this.loading = true;
              try{
                //QUERY AND SORT
                var input = {
                  group: this.$store.state.userInfo.tenant.group,
                  filter: {or:[{status: {eq: COUNSELING_STATUS_NOT_SENT}}, {status: {eq: COUNSELING_STATUS_PENDING_SIGNATURE}}]},
                }
                var result = await this.gLoadListAll(counselingsByGroup, input, 'counselingsByGroup')
                var sortedResults = result.sort( (a,b) => new Date(b.date) - new Date(a.date) )

                this.tableData = sortedResults.splice(0,5)
              }
              catch(e){
                console.log(e)
                this.displayUserError(e)
              }
              finally{
                this.loading = false
              }
            },

            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            sortFirstName(a,b){
              return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase());
            },  
            sortLastName(a,b){
              return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
            },  

            goToCounselingList(){
              this.$router.push({name: 'CounselingIndex'})
            },

            confirmSend(row){
              if(!row.dateSent){
                  var message = `This ${this.$t('label.associate')} has been sent their counseling. Would you like to send this counseling record to ${row.staff.firstName} ${row.staff.lastName} to be acknowledged?`;
              }
              else{
                  var date = this.$moment(row.dateSent).format('MM/DD/YYYY')
                  var message = `This counseling record was already sent to ${row.staff.firstName} ${row.staff.lastName} at ${date}. Would you like to send again?`;
              }

              this.$confirm(message, 'Warning',{
                confirmButtonText: 'Send',
                cancelButtonText: 'Cancel',
                type: 'warning'  
              })
              .then(() =>{
                  this.sendCounseling(row)
              })
              .catch(() =>{
                  console.log("canceled send");
              });
          },

          async sendCounseling(row){
              if(!row.staff.email){
                this.$message.error("User must have an email to send counselings.");
                this.loading = false;
                return
              }
              var staff = row.staff
              var date = this.$moment(row.date).format("dddd MM/DD/YYYY")
              var header = `${row.severity.option} Counseling: ${date}`;
              var subject = `${row.severity.option} Counseling: ${date}`;
              var companyName = this.userInfo.tenant.companyName
              const firstName = staff.firstName

              try{
                  this.loading = true;
                  var response = await sendMessage({staff, companyName, firstName, header, subject, user: this.userInfo, counselingId: row.id, withShortenUrl: true});
                  row.refusedToSign = false;
                  row.signatureAcknowledge = false;
                  row.status = COUNSELING_STATUS_PENDING_SIGNATURE;
                  row.dateSent = new Date();
                  var input = {
                      ...row
                  }
                  input = this.cleanCounselingInput(input)
                  const counseling = await this.api(updateCounseling, {input})
                  this.$message.success("Counseling sent successfully");
              }
              catch(e){
                console.log(e);
                this.displayUserError(e, "Counseling could not be sent. ")
              }
              finally{
                  this.loading = false;
              }
          },

            
        }
    }
</script>