.ant-form-item-label {
    text-align: left;
}

.ant-calendar-picker {
    width: 100%;
}

.ant-btn:hover {
    /*color: unset;*/
    border-color: unset;
    /* transform: scale(1.1);
    transition: 1s; */
}

.ant-form-item-children input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 1) inset !important;

    background-color: white !important;
    color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

.ant-progress-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height:10px;
    vertical-align: middle;
    background-color: white !important;
    border:1px solid #E0E5E8;
    border-radius: 100px;
}