.custom-colum {
    text-align: center
}
.modal-button-preview {
    margin-left: 0 !important;
}

.modal-button {
    background: #51C3B8 !important;
    color: #fff !important;
    border-radius: 5px !important;
    width: 130px !important;
    border: 0 !important;
    margin-top: 18px;
    margin-bottom: 18px;
    height: 45px;
    margin-left: 165px;
}


.modal-button-add {
    background: #51C3B8 !important;
    color: #fff !important;
    border-radius: 5px !important;
    width: 130px !important;
    border: 0 !important;
    margin-top: 18px;
    margin-bottom: 18px;
    height: 45px;
}

.reject-button{
    background-color: #F53649 !important;
    color: #fff !important;
    border-radius: 5px !important;
    width: 130px !important;
    border: 0 !important;
    margin-top: 18px;
    height: 45px;
    margin-left: 40px;
}

.mason-input {
    margin-top: 14px
}

.custom-labels {
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

.capital-money {
    color: #51C3B8;
    font-size: 32px;

}

.sub-headings {
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.sub-data {
    border-bottom: 0.3px solid #51C3B8;
    margin-top: 10px;
    background: rgb(241, 245, 245)
}

.fa-camera {
    font-size: 28px;
}

.custom-wallet-box {

    width: 104%;
    border: 1px solid #b9b0b085;
    min-height: 210px;
    max-height: 192px;
    background-color: #ffffff;
    padding-left: 0%;
    min-width: 70%;
    padding: 30px;

}

.cardtext {
    font-size: 12px
}

.small-number {
    color: #51C3B8;
    font-size: 60px;
}

.ant-input-disabled {
    color: black
}

.ant-input-number-disabled {
    color: black
}

.ant-select-disabled {
    color: black
}

.custom-wallet-paragraph {
    width: 100%;
    display: block;
    font-weight: 500;
    text-transform: capitalize;
}

.amount-rows {
    margin-top: 10px;
}

.amount-color {
    position: relative;
    font-weight: bold;
    display: inline-block;
    font-size: 1.3rem;
    word-break: break-all;
}

.add-amount {
    background: #51C3B8 !important;
    color: #fff !important;
    border-radius: 47px !important;
    width: 155px !important;
    border: 0 !important;
}

.fields-container {
    /* margin-top: 25px; */
    border-bottom: 0.2px solid rgb(220, 241, 239);
}

.label-text-bill {
    font-weight: bold !important;
    color: black;
}

.label-info-bill {
    color: #51C3B8;
}

.custom-new-table .ant-table-thead > tr > th {
    /* color: #fff;
   font-size: 20px;
   padding: 19px 0 21px 16px;
   border-bottom: 0px;
   background: linear-gradient(#676869, #2b3034);
   border-bottom: 1px solid #e8e8e8;
   border-radius: 10px; */
    font-weight: 600 !important;
    color: #000 !important;

}

.custom-new-table-click .ant-table-thead > tr > th {
    /* color: #fff;
   font-size: 20px;
   padding: 19px 0 21px 16px;
   border-bottom: 0px;
   background: linear-gradient(#676869, #2b3034);
   border-bottom: 1px solid #e8e8e8;
   border-radius: 10px; */
    font-weight: 600 !important;
    color: #000 !important;

}

.custom-new-table .ant-table-tbody > tr > td {
    font-weight: normal !important;

}

.custom-new-table-click .ant-table-tbody > tr > td {
    font-weight: normal !important;
    cursor: pointer !important;
}

.main-price-cus {
    color: #51C3B8;
    font-size: 26px;
    font-weight: bold;
}

.custom-header {
    height: 60px;
    background: #e9ecef;
    font-size: 18px;
    text-align: center;
    padding-top: 19px;
    font-weight: 600;
    color: #495057;

}

.custom-row-table {
    min-height: 60px;
    border-bottom: 2px solid rgb(235, 235, 235);
    font-size: 16px;
    text-align: center;
    padding-top: 11px;
}

.fields-container-bill {
    /*margin-top: 20px;*/
    padding: 15px 20px;
    border-bottom: 1px solid #0000001c
}

.wallet-add {
    background: linear-gradient(#676869, #2b3034);
    border-radius: 30px;
    color: #fff !important;
    text-align: center;
    font-size: 16px;
    width: 40%;
    font-weight: 500;
}

.chart-sob-display {
    box-shadow: 0px 0px 11px #e0e5e8;
    min-height: 281px;
    width: 100%;
    padding: 30px;
    background: #ffffff;
}

.ant-modal-header {
    border-radius: 0px !important;
    background: #394c64 !important;
}

.custom-paragraph-data-result {
    width: 100%;
    display: block;
    color: #9c9797;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 17px;
}

.custom-box-simple-nav {
    min-height: 140px;
    width: 94%;
    box-shadow: 0px 0px 11px #e0e5e8;
    /* border: 1px solid #b9b0b085; */

    background: #ffffff;
    padding: 30px;
}

.custom-box-simple-nav .ant-menu-item-selected a {
    color: #ffffff;
}

.title-text-billing {
    font-size: 16px;
    font-weight: bold;
}

.data-billing {
    font-size: 16px;
}