<template>
    <div>
        <div class="dashboard-card-header">
            <i :class="['uil text-2xl', iconClass]"></i>  
            <p :class="['font-bold', customTitleClass]" data-cy="card_title">{{ title }}</p>
        </div>
        <div class="relative" v-loading="loading">
            <slot name="body"></slot>
            <div class="dashboard-card-footer" v-if="footer">
                <slot name="footer"></slot>
            </div>
        </div>
        <!-- PREMIUM TRIANGLE -->
        <PremiumTriangle v-if="isPremiumDashboard && premiumFeature" :showSampleDataText="showSampleDataText"/>
    </div>
</template>
<script>
import PremiumTriangle from '@/components/PremiumTriangle'

export default {
    name: 'Card',
    components: { PremiumTriangle },
    props: {
        title: {
            type: String,
            required: false,
            default: ''
        }, 
        footer: {
            type: Boolean,
            required: false,
            default: false
        },
        iconClass: {
            type: String,
            required: false,
            default: ''
        },
        isPremiumDashboard: {
            type: Boolean,
            requiere: false,
            default: false
        },
        premiumFeature: {
            type: Boolean,
            requiere: false,
            default: false
        },
        loading: {
            type: Boolean,
            require: false,
            default: false
        },
        showSampleDataText:{
            type: Boolean,
            require: false,
            default: false
        },
        customTitleClass: {
            type: String,
            requiere: false,
            default: ''
        }
    }
}
</script>