.form-container .form-top {
  padding: 15px 5px;
}

.cmform-heading,
.form-mainarea .cm-formbox,
.cmform-subheading {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-default.submit-btn {
  margin-right: 20px;
}

.form-top .form-top-right .addr-box .fa {
  font-size: 30px;
}

.form-container {
  padding: 0 15px;
}

.form-top .form-top-right .addr-box h3 {
  line-height: 22px;
}

.form-top .form-top-left .uimg-box {
  width: 110px;
  height: 110px;
  border-radius: 0;
}

.form-top .form-top-left h1.user-title {
  font-size: 16px;
}

.form-top .form-top-left {
  border: medium none;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-top .form-top-right .addr-box a > h3 {
  overflow-wrap: break-word;
}

.cmform-select.one-third,
.cmform-input.one-third {
  width: 13.6%;
}

.form-top .form-top-right {
  width: 100%;
  display: block;
}

.cmform-select.one-third,
.cmform-input.one-third {
  margin-right: 0.8%;
}

.cmform-lbl {
  width: 48%;
}

.cmform-input,
.cmform-select.full-width {
  width: 49%;
}

.cmform-select.one-third,
.cmform-input.one-third {
  width: 14.8%;
}

.cmform-input.two-third {
  width: 32%;
}

footer h6 {
  line-height: 20px;
  padding: 10px 0;
}

.btn-default.submit-btn {
  margin-bottom: 0;
}
