.form-container .form-top {
  padding: 35px 50px;
}

.cmform-heading,
.form-mainarea .cm-formbox,
.cmform-subheading {
  margin-left: 100px;
  margin-right: 100px;
}

.btn-default.submit-btn {
  margin-right: 100px;
}
