.form-container .form-top {
  padding: 25px 30px;
}

.cmform-heading,
.form-mainarea .cm-formbox,
.cmform-subheading {
  margin-left: 80px;
  margin-right: 80px;
}

.btn-default.submit-btn {
  margin-right: 80px;
}

.form-top .form-top-right .addr-box .fa {
  font-size: 30px;
}
