.form-container .form-top {
  padding: 25px 15px;
}

.cmform-heading,
.form-mainarea .cm-formbox,
.cmform-subheading {
  margin-left: 50px;
  margin-right: 50px;
}

.btn-default.submit-btn {
  margin-right: 50px;
}

.form-top .form-top-right .addr-box .fa {
  font-size: 30px;
}

.form-container {
  padding: 0 25px;
}

.form-top .form-top-right .addr-box h3 {
  line-height: 22px;
}
