<template>
    <div
      v-loading="loading"
      data-cy="driving-info-card">
        <div class="float-left">
          <p class="card-title">Driving info</p>
        </div>
        <div class="flex space-x-4 justify-end">
          <i 
              data-cy="edit-driving-info-btn"
              @click="openEditDriverModal"
              class="icon-button hover:text-brand uil uil-pen mb-4"/>
           <!-- <el-button size="small" type="primary" plain @click="openEditDriverModal">Edit</el-button> -->
        </div>
       
        <el-form label-position="top" size="small">
          <div class="flex space-x-4">
            <div class="flex-1">
              <el-form-item label="DL Expiration" prop="dlExpiration" class="non-edit-field" :class="{ 'placeholder': !staffData.dlExpiration }">
                {{ staffData.dlExpiration | date_timezone }}
              </el-form-item>
            </div>
            
            <div class="flex-1">
              <el-form-item v-if="$store.getters.hasStaffManagement" prop="defaultVehicle" class="non-edit-field" :class="{ 'placeholder': !staffData.defaultVehicle.name }">
                <span slot="label">
                  Primary Vehicle
                  <el-tooltip class="item" effect="dark" :content="`${staffData.defaultVehicle.name} is an Inactive Vehicle. Please assign an Active Vehicle.`" popper-class="custom-tooltip-lowest-z-index" placement="top" v-if="staffData.defaultVehicle.id && staffData.defaultVehicle.name && staffData.defaultVehicle.status !== 'Active'">
                    <i class="uil uil-exclamation-triangle icon-triangle"></i>
                  </el-tooltip>
                </span>

                {{ staffData.defaultVehicle.name | text }}
              </el-form-item>
              <el-form-item v-else label="Primary Vehicle" prop="defaultVehicle" class="non-edit-field placeholder">
                Requires Premium
              </el-form-item>
            </div>
          </div>
          <div class="flex space-x-4">
            <div class="flex-1">
              <el-form-item label="Motor Vehicle Report" prop="motorVehicleReport" class="non-edit-field" :class="{ 'placeholder': !staffData.vehicleReport }">
            {{ staffData.vehicleReport | date }}
              </el-form-item>
            </div>
            <div class="flex-1">
              <el-form-item v-if="$store.getters.hasStaffManagement" prop="defaultVehicle2" class="non-edit-field" :class="{ 'placeholder': !staffData.defaultVehicle2.name }">
                <span slot="label">
                  Secondary Vehicle
                  <el-tooltip class="item" effect="dark" :content="`${staffData.defaultVehicle2.name} is an Inactive Vehicle. Please assign an Active Vehicle.`" placement="top" popper-class="custom-tooltip-lowest-z-index" v-if="staffData.defaultVehicle2.id && staffData.defaultVehicle2.name && staffData.defaultVehicle2.status !== 'Active'">
                    <i class="uil uil-exclamation-triangle icon-triangle"></i>
                  </el-tooltip>
                </span>
                {{ staffData.defaultVehicle2.name | text }}
              </el-form-item>
              <el-form-item v-else label="Secondary Vehicle" prop="defaultVehicle" class="non-edit-field placeholder">
                Requires Premium
              </el-form-item>
            </div>
          </div>
          <div class="flex space-x-4">
            <div class="flex-1">
              <el-form-item label="Gas Card PIN" prop="gasCardPin" class="non-edit-field" :class="{ 'placeholder': !staffData.gasCardPin }">
               {{ staffData.gasCardPin | text }}
              </el-form-item>
            </div>
            <div class="flex-1">
               <el-form-item v-if="$store.getters.hasStaffManagement" prop="defaultVehicle3" class="non-edit-field" :class="{ 'placeholder': !staffData.defaultVehicle3.name }">
                <span slot="label">
                  Tertiary Vehicle
                  <el-tooltip class="item" effect="dark" :content="`${staffData.defaultVehicle3.name} is an Inactive Vehicle. Please assign an Active Vehicle.`" popper-class="custom-tooltip-lowest-z-index" placement="top" v-if="staffData.defaultVehicle3.id && staffData.defaultVehicle3.name && staffData.defaultVehicle3.status !== 'Active'">
                    <i class="uil uil-exclamation-triangle icon-triangle"></i>
                  </el-tooltip>
                </span>
                {{ staffData.defaultVehicle3.name | text }}
              </el-form-item>
              <el-form-item v-else label="Tertiary Vehicle" prop="defaultVehicle" class="non-edit-field placeholder">
                Requires Premium
              </el-form-item>
            </div>
          </div>
          <div class="flex space-x-4">
            <div class="flex-1">
              <el-form-item label="Authorized to Drive" prop="authorizedToDrive" class="non-edit-field">
                {{ this.authorizedToDrive.items.map(item => item.option).join(', ') | text }}
              </el-form-item>
            </div>
          </div>
        </el-form>

          <el-dialog
            title="Edit Driving Info"
            :visible.sync="modalOpen"
            width="50%"
            :close-on-click-modal="false"
            >

            <StaffDriverInfoForm
              ref="editDriverInfoForm"
              :formFields="editDriverInfo"
              :vehicleList="vehicleList"/>

            <span slot="footer" class="dialog-footer">
              <el-button @click="modalOpen = false">Cancel</el-button>
              <ButtonWrapper type="primary" :clickHandler="updateInfo">Update</ButtonWrapper>
            </span>
          </el-dialog>
    </div>
</template>

<script>

import { mapState, mapGetters } from "vuex";
import StaffDriverInfoForm from './DriverInfoForm'
import { vehiclesByGroup } from '../../queries'
import { getStaffUpdatedTimestamp } from '@/utilities/timestampQueries'
import { updateStaff } from '@/graphql/mutations'
import mixin from '@/mixins/vehicleType'
import addDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import { validateOptionCustomListsExist } from "@/utilities/optionCustomLists/helpers";

export default {
  name: "StaffDriverInfo",
  props:['staffData', 'authorizedToDrive'],
  components:{
    StaffDriverInfoForm,
    ButtonWrapper,
  },
  mixins:[mixin, addDaFormMixin],
  data() {
    return {
      modalOpen: false,
      editDriverInfo: {},
      vehicleList: [],
      loading: false,
    }
  },

  created: function(){
    this.loadVehicleList()
  },

  computed: {
    ...mapState([
      'userInfo'
    ]),
    ...mapGetters([
      'vehicleTypeList'
    ]),
  },

  methods: {

    /**
     * Loads list of vehicles for select using GraphQL
     */
    loadVehicleList: async function(){
      try{
        var input = {
          group: this.$store.state.userInfo.tenant.group,
        }
        var vehicleList = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
        this.vehicleList = vehicleList.sort(function(a,b){  
          return a.name.toLowerCase().localeCompare(b.name.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
        }).filter(vehicle => vehicle.status.toLowerCase() === 'active')
      } 
      catch(e) {
        console.log(e)
        this.displayUserError(e)      
      }
    },

    /** Copy driver info to editDriverInfo and open modal */
    openEditDriverModal(){
      this.modalOpen = true        
      let info = {...this.staffData}
      info.authorizedToDrive.items = this.authorizedToDrive.items.map(item => item.id)
      this.editDriverInfo = info
    },
    
    /** Copy edited info to driverInfo and close modal */
    async updateInfo(){

      try {
        const isAuthorizeToDrive = await this.validateAuthorizeToDriveItems(this.editDriverInfo.authorizedToDrive.items)

        if(!isAuthorizeToDrive.isEmpty && !isAuthorizeToDrive.response) return

        const authorizedToDriveIDs = this.editDriverInfo.authorizedToDrive.items;
        await validateOptionCustomListsExist(authorizedToDriveIDs);
        const disabledOptions = this.vehicleTypeList.filter(item => this.editDriverInfo.authorizedToDrive.items?.includes(item.id) && !item.isEnabled);
        if(disabledOptions.length === 1){
          this.$refs.editDriverInfoForm.$refs.authorizedToDriveDropdown.$refs.dropdownListFromStore.focus()
          throw { message: this.optionDisabledMessage(disabledOptions[0]?.option) }
        }else if(disabledOptions.length > 1){
          this.$refs.editDriverInfoForm.$refs.authorizedToDriveDropdown.$refs.dropdownListFromStore.focus()
          let concatenatedOptions = disabledOptions.map(item => item.option).join(', ')
          if (concatenatedOptions.length > 0) {
            const lastIndex = concatenatedOptions.lastIndexOf(', ')
            if (lastIndex !== -1) {
              concatenatedOptions = concatenatedOptions.substring(0, lastIndex) + ' and ' + concatenatedOptions.substring(lastIndex + 2)
            }
          }
          throw { message: `The option "${concatenatedOptions}" are disabled, choose other options.` }
        }
        await this.updateStaff();

      } catch (e) {
        this.displayUserError(e)
      }
    },

    async updateStaff(){

      this.modalOpen = false    
      this.loading = true
      try {
        var input = {
          ...this.editDriverInfo
        }

        input.staffDefaultVehicleId = input.defaultVehicle.id ? input.defaultVehicle.id : null
        input.staffDefaultVehicle2Id = input.defaultVehicle2.id ? input.defaultVehicle2.id : null
        input.staffDefaultVehicle3Id = input.defaultVehicle3.id ? input.defaultVehicle3.id : null
        
        const currentAuthorizedToDrive = this.authorizedToDrive.items.map(item => item.id)
        const authorizeToDriveToAdd = input.authorizedToDrive.items.filter(item => !currentAuthorizedToDrive.includes(item))
        const authorizeToDriveToDelete = this.authorizedToDrive.items.filter(item => !input.authorizedToDrive.items.includes(item.id))

        /** Add new Authorize to drive items */        
        await this.addAuthorizeToDrive(authorizeToDriveToAdd, input.id)

        /** Remove Authorize to drive items */
        await this.deleteAuthorizeToDrive(authorizeToDriveToDelete)

        input = this.cleanStaffInput(input)
        await this.api(updateStaff, { input }, getStaffUpdatedTimestamp, 'getStaff')
        this.$emit("loadData", 'drivingInfo')
      } catch(e) {
        console.log(e)
        this.displayUserError(e)      
      } 
    },
  }
}

</script>
<style scoped>
  .el-select, .el-date-editor{
    width: 100% !important;
  }

  .icon-triangle {
    color: red;
  }

  .el-message-box__message .vehicleMessage {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    list-style-type: disc;
  }
</style>