<template>
    <el-form label-width="200px" label-position="right" ref="form">
        <el-form-item label="DL Expiration">
            <DatePicker data-cy="di-expiration-dpk" :selectedDate="formFields.dlExpiration" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'dlExpiration')" />
        </el-form-item>

        <el-form-item label="Motor Vehicle Report">
            <el-date-picker data-cy="di-vehicle-dpk" type="date" placeholder="Pick a day" format="MM/dd/yyyy" v-model="formFields.vehicleReport">?</el-date-picker>
        </el-form-item>

        <el-form-item label="Gas Card PIN">
            <el-input data-cy="di-gas-card-pin-in" v-model="formFields.gasCardPin"></el-input>
        </el-form-item>

        <el-form-item label="Authorized to Drive" prop="authorizedToDrive">
          <DropdownListFromStore
            ref="authorizedToDriveDropdown"
            data-cy="da-authorized-to-drive-in"
            :vModel="formFields.authorizedToDrive"
            :list="customListEnabled(vehicleTypeList, false, null, formFields.authorizedToDrive.items)"
            placeholder="Select"
            :disabled=false
            type="vehicle-type"
          />
        </el-form-item>

        <el-form-item label="Primary Vehicle" class="relative">
            <el-select data-cy="di-default-vehicle-sel" v-model="formFields.defaultVehicle.id" clearable :disabled="isDisabled">
                <el-option
                    v-for="item in vehicles"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                    :disabled="item.disabled">
                </el-option>
            </el-select>
            <div class="premium-warning-container" v-if="isDisabled">
                <el-popover
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block"> 
                    <el-button class="info-circle" size="medium" slot="reference">?</el-button>
                    <PremiumWarning 
                        action="select default vehicles" 
                        premiumFeature="DA management">
                    </PremiumWarning>
                </el-popover>
            </div>
        </el-form-item>

        <el-form-item label="Secondary Vehicle">
            <el-select data-cy="di-default-vehicle-2-sel" v-model="formFields.defaultVehicle2.id" clearable :disabled="isDisabled">
                <el-option
                    v-for="item in vehicles"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                    :disabled="item.disabled">
                </el-option>
            </el-select>
            <div class="premium-warning-container" v-if="isDisabled">
                <el-popover
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class=" ml-1 text-center inline-block"> 
                    <el-button class="info-circle" size="medium" slot="reference">?</el-button>
                    <PremiumWarning 
                        action="select default vehicles" 
                        premiumFeature="DA management" >
                    </PremiumWarning>
                </el-popover>
            </div>
        </el-form-item>
        <el-form-item label="Tertiary Vehicle">
            <el-select data-cy="di-default-vehicle-3-sel" v-model="formFields.defaultVehicle3.id" clearable :disabled="isDisabled">
                <el-option
                    v-for="item in vehicles"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                    :disabled="item.disabled">
                </el-option>
            </el-select>
            <div class="premium-warning-container" v-if="isDisabled">
                <el-popover
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class=" ml-1 text-center inline-block"> 
                    <el-button class="info-circle" size="medium" slot="reference">?</el-button>
                    <PremiumWarning 
                        action="select default vehicles" 
                        premiumFeature="DA management" >
                    </PremiumWarning>
                </el-popover>
            </div>
        </el-form-item>
    </el-form>
</template>

<script>
import PremiumWarning from '@/components/PremiumWarning.vue'
import DropdownListFromStore from '@/components/DropdownListFromStore.vue'
import { mapGetters, mapState } from "vuex";
import vehicleType from '@/mixins/vehicleType'
import DatePicker from '@/components/Datepicker';

export default {
    name: "StaffDriveInfoForm",
    props:['formFields', 'vehicleList'],
    mixins:[vehicleType],
    data() {
        return {
            countVehiclesOver10k: 0
        }
    },
    components:{
        DatePicker,
        PremiumWarning,
        DropdownListFromStore
    },
    computed:{
        ...mapState(["customList"]),
        ...mapGetters(['vehicleTypeList']),
        isDisabled(){
            if(this.$store.getters.hasStaffManagement){
                return false
            }
            else{
                return true
            }
        },
        vehicles(){
            this.vehicleList.forEach(vehicle => vehicle.disabled = true)

            const authorizedToDrive = this.formFields.authorizedToDrive.items

            this.vehicleList.forEach( vehicle => {
                if(authorizedToDrive.includes(vehicle.vehicleType.id)) {
                    vehicle.disabled = false
                }
                if(vehicle.id === this.formFields.defaultVehicle.id){
                    vehicle.disabled = true;
                }
                if(vehicle.id === this.formFields.defaultVehicle2.id){
                    vehicle.disabled = true;
                }
                if(vehicle.id === this.formFields.defaultVehicle3.id){
                    vehicle.disabled = true;
                }
            })

            if(this.formFields.defaultVehicle.id) {
                const existV1 = this.vehicleList.find(item => item.id === this.formFields.defaultVehicle.id)

                if(!existV1) {
                    this.formFields.defaultVehicle.id = 'This is an Inactive Vehicle. Please assign an Active Vehicle.'
                }
            }

            if(this.formFields.defaultVehicle2.id) {
                const existV2 = this.vehicleList.find(item => item.id === this.formFields.defaultVehicle2.id)

                if(!existV2) {
                    this.formFields.defaultVehicle2.id = 'This is an Inactive Vehicle. Please assign an Active Vehicle.'
                }
            }

            if(this.formFields.defaultVehicle3.id) {
                const existV3 = this.vehicleList.find(item => item.id === this.formFields.defaultVehicle3.id)

                if(!existV3) {
                    this.formFields.defaultVehicle3.id = 'This is an Inactive Vehicle. Please assign an Active Vehicle.'
                }
            }

            return [...this.vehicleList]
        },
    },
    methods:{
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },
        verifyVehicle() {
            let isPlural = this.countVehiclesOver10k === 1 ? 'vehicle' : 'vehicles';
            let text = `This ${this.$t('label.associate')} has been assigned to <b>${this.countVehiclesOver10k}</b> ${isPlural} that are > 10,000 lbs.<br>
                        They will be unassigned if you continue. Click Cancel to undo your change to this ${this.$t('label.associate')}.`
            if(!this.formFields.authorizedLBS) {
                if(this.countVehiclesOver10k>0){
                    this.$confirm(text, 'Warning', {
                        confirmButtonText: 'Confirm',
                        cancelButtonText: 'Cancel',
                        dangerouslyUseHTMLString: true
                        }).then(() => {
                            this.cleanValueVehicleIsOver10k();
                        }).catch(() => {
                            this.formFields.authorizedLBS = true;
                    });
                }
            }
            
        },
        cleanValueVehicleIsOver10k() {
            this.vehicleList.map((vehicle)=>{
                if(vehicle.overTenThousandPounds){
                    if(vehicle.id === this.formFields.defaultVehicle){
                        this.formFields.defaultVehicle = null;
                    }
                    if(vehicle.id === this.formFields.defaultVehicle2){
                        this.formFields.defaultVehicle2 = null;
                    }
                    if(vehicle.id === this.formFields.defaultVehicle3){
                        this.formFields.defaultVehicle3 = null;
                    }
                }
            });
        },
        goToAccountDetails(){
            this.showUpgradeDialog = false;
            this.$router.push({name: 'SettingsAccountDetails'})
        }
    },
    watch: {
        'formFields.authorizedToDrive.items'(newValue, oldValue) {
            const input = {
                staff: this.formFields,
                vehicles: this.vehicleList,
                authorizedToDrive: newValue,
            }
            const removedId = oldValue.find(item => !newValue.includes(item))

            this.validateDefaultVehicles(removedId, input)
        }
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }

    .el-message-box__message .vehicleMessage {
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        list-style-type: disc;
    }
</style>