::-webkit-scrollbar {
    width: 8px;
    height:7px;
}

::-webkit-scrollbar-track {
    background-color: #DFDFDF !important;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #444b59 !important;
}


#star-five {

    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);



    position: absolute;
    left: -10px;
    bottom: -10px;
}


#star-five:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}
