<template>
  <TableCard tablecard-class="rounded-lg">
    <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            <span>ISSUED UNIFORMS</span>
          </template>
          <template v-slot:filter-count>
            <CounterFilters :counter="filterCount" />
          </template>
          <template v-slot:filters>
              <MultiSelectFilter
                type="associateStatus"
                title="Associate Status"
                filterAllTitle="Associate Statuses"
                :options="associateStatusOptions"
                :selected="associateStatusSelected"
                @update-filters="({filters}) => (associateStatusSelected = filters)"
              />
              <MultiSelectFilter
                type="uniformType"
                title="Uniform Type"
                filterAllTitle="Uniform Types"
                :options="uniformTypeOptions"
                :selected="uniformTypeSelected"
                @update-filters="({filters}) => (uniformTypeSelected = filters)"
              />
          </template>
        </ContainerFilter>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="(searchedText) => (search = searchedText)"/>
      </template>

      <CustomTable
        v-loading="loading"
        inTable
        withTableMenu
        emptyText="No Associates"
        footerTable="Total Associates"
        :columns="uniformTableCols"
        :optionsHeader="uniformTableOptions"
        :optionsRows="uniformTableRowOptions"
        :defaultSort = "{prop: 'lastName', order: 'ascending'}"
        :data="filteredData"
        :totalRecords="tableData.length"
        :expandCollapseColumn="false"
        @click-menu="handleClickMenu"
      >
        <template #listOfItems="row">
          <span v-if="!row.listOfItems.length">—</span>
          <div v-else>
            <p
              v-for="(item, idx) of row.listOfItems"
              :key="idx"
            >
              • {{ item }}
            </p>
          </div>
        </template>
      </CustomTable>
  </TableCard>
</template>

<script>
import CounterFilters from '@/components/CounterFilters.vue';
import MultiSelectFilter from '@/components/MultiSelectFilter.vue';
import SingleSelectFilter from '@/components/SingleSelectFilter.vue';
import ContainerFilter from '@/components/TableCard/ContainerFilter.vue';
import CustomTable from '@/components/TableCard/CustomTable.vue';
import SearchBox from '@/components/TableCard/SearchBox.vue';
import TableCard from '@/components/TableCard/TableCard.vue';
import TableMixin from './tableMixin';
import { staffsUniformsByGroup } from '../queries/queries';
import { mapState } from 'vuex';

export default {
  components:{
    TableCard,
    ContainerFilter,
    CounterFilters,
    MultiSelectFilter,
    SingleSelectFilter,
    SearchBox,
    CustomTable,
  },

  mixins: [
    TableMixin,
  ],

  computed: {
    ...mapState([
      'userInfo',
      'valuelists',
    ]),

    filterCount() {
      let count = 0;
      count += (this.areAllAssociateStatusOptionsSelected)? 0: 1;
      count += (this.areAllUniformTypeOptionsSelected)? 0: 1;
      return count;
    },

    areAllAssociateStatusOptionsSelected() {
      return (this.associateStatusSelected.length == this.associateStatusOptions.length);
    },

    areAllUniformTypeOptionsSelected() {
      return (this.uniformTypeSelected.length === this.uniformTypeOptions.length);
    },

    filteredBySearch() {
      return this.filterArray(this.tableData, this.search);
    },

    filteredData() {
      let filteredData = this.filteredBySearch;
      (!this.areAllAssociateStatusOptionsSelected) && (filteredData = this.filterByAssociateStatus(filteredData, this.associateStatusSelected));
      (!this.areAllUniformTypeOptionsSelected) && (filteredData = this.filterByUniformType(filteredData, this.uniformTypeSelected));
      return filteredData;
    },
  },

  data() {
    return {
      loading: false,
      search: '',
      tableData: [],
      associateStatusOptions: [],
      associateStatusSelected: [],
      uniformTypeOptions: [],
      uniformTypeSelected: [],
    }
  },

  created() {
    this.loadFilters();
    this.loadData();
  },

  methods: {
    async loadData() {
      try {
        this.loading = true;
        const input = { group: this.userInfo.tenant.group };
        const {data} = await this.api(staffsUniformsByGroup, input);
        this.tableData = this.uniformTableMapCalculatedFields(data.staffsByGroup.items);
      }
      catch (error) {
        this.printUserError(error);
        this.displayUserError(error);
      }
      finally {
        this.loading = false;
      }
    },

    loadFilters() {
      this.loadAssociateStatus();
      this.loadUniformTypes();
    },

    filterValidValueListItems(item) {
      if (!item?.value) return false;
      return (
        (item.custom && !item.deleted) ||
        (!item.custom && !item.deleted && !item.hidden)
      );
    },

    getItemsFromValueList(listName) {
      return this.valuelists[listName]?.items
        .filter(this.filterValidValueListItems)
        .map(item => item.value) || [];
    },

    loadAssociateStatus() {
      this.associateStatusOptions = this.getItemsFromValueList('staff-status');
      this.associateStatusSelected = this.associateStatusOptions.filter(option => option?.toLowerCase() === 'active');
    },

    loadUniformTypes() {
      this.uniformTypeOptions = this.getItemsFromValueList('uniform-type');
      this.uniformTypeSelected = this.uniformTypeOptions;
    },

    getMapFromFilters(filters) {
      return filters.reduce((acc, filter) => (acc[filter] = true, acc), {});
    },

    filterByAssociateStatus(data, filters) {
      const mappedFilters = this.getMapFromFilters(filters);
      return data.filter(item => !!mappedFilters[item.status]);
    },

    filterByUniformType(data, filters) {
      const mappedFilters = this.getMapFromFilters(filters);
      return data.filter(item => item.uniforms?.items.some(u => !!mappedFilters[u.uniformType?.value]));
    },

    handleClickMenu(command) {
      const payload = {
        dataList: this.filteredData,
      };
      this.uniformTableHandleCommand(command, payload);
    },
  },
}
</script>