<template>

    <el-table
      :data="table.data"
      style="width: 100%"
      size="mini"
      class="performance-import-class"
      max-height="320">
      <template v-for="column in table.columns">
        <el-table-column
          :min-width="column.width"
          v-if="column.name != 'Action Button'"
          :key="column.keyData"
          :prop="column.keyData"
          :align="typeTable === 'DSPLevelMetrics' ? 'left':'center'">
          <template slot="header">
            <slot name="column-header">
              <el-tooltip v-if="column.tooltip"
                effect="dark"
                placement="top"
                popper-class="custom-tooltip-higher-z-index"
                :content="column.tooltip">
                <span>{{ column.name }}</span>
              </el-tooltip>
              <span v-else>{{ column.name }}</span>
            </slot>
          </template>
          <template slot-scope="scope">
            <el-tooltip
              v-if="scope.row[column.keyData].importStatus === false" 
              effect="dark" 
              popper-class="custom-tooltip-higher-z-index"
              :content="contentRed">
                <i class="uil uil-exclamation-triangle size-important"></i>
            </el-tooltip>
            
            <el-tooltip
              v-else-if="scope.row[column.keyData].importStatus === true"
              effect="dark" 
              popper-class="custom-tooltip-higher-z-index"
              :content="contentTooltip(scope.row[column.keyData])">
                <i v-if="isBefore(scope.row[column.keyData])" class="uil uil-check-circle text-xl text-green-600"></i>
                <i v-else class="uil uil-check-circle text-xl text-yellow-500"></i>

            </el-tooltip>
            <p v-else :class="textColor(scope.row[column.keyData])">
              {{ scope.row[column.keyData] }}
            </p>
          </template>
        </el-table-column>
      </template>
      
      <!-- action button -->
      <el-table-column
        v-if="table.actionButton"
        align="left" fixed="right" width="35">
        <template slot-scope="scope">
          <el-dropdown class="px-0" @command="handleCommand">
            <span class="custom-context-menu"><i class="uil uil-ellipsis-h"></i></span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item 
              :command="{ fileExist: scope.row.importData.importStatus, 
                key: scope.row.importData.key }">
                {{scope.row.actionButtonText}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
</template>
  
<script>
import momentTz from 'moment-timezone'
import {  API, graphqlOperation, Storage } from 'aws-amplify'
import { getTextractJob } from '@/views/Performance&Coaching/Performance/components/DashboardPerformanceDataImports/queries'
export default {
    name: "DataImportTable",
    props: ['table', 'sendTime', 'typeTable'],
    data() {
        return {
          contentRed: 'You have not yet imported this data file into Hera.'
        }
    },

    methods: {

      isBefore(data){
        if(this.typeTable === 'weekly'){
          //data.date is week data - format 'ww'
          const sunday = this.$moment(data.date, 'ww').add(1, 'weeks')
          const saturday = this.$moment(sunday).add(6, 'days')
          return this.importedOnTime(sunday, saturday, data.createdAt)

        }else if (this.typeTable === 'daily'){
          //data.date is date - format 'YYYY-MM-DD'
          const date = this.$moment(data.date, 'YYYY-MM-DD')
          //add 1 day: Remember that the automated coaching time today is for YESTERDAY’s data.(data.date is yesterday data) 
          const afterDate = this.$moment(date).add(1, 'days')
          return this.importedOnTime(date, afterDate, data.createdAt)
        }
        return false
      },

      importedOnTime(startDate, endDate, createdAt){
        const dateFormat = 'YYYY-MM-DD HH:mm:ss'
        const currentDate = momentTz.tz(this.getTenantTimeZone()).format(dateFormat)
       
        let fileCreatedAt = momentTz.tz(createdAt, this.getTenantTimeZone())
        const automatedCoachingSendTime = this.$moment(fileCreatedAt.format('YYYY-MM-DD') + ' ' + this.sendTime, dateFormat)
        fileCreatedAt = fileCreatedAt.format(dateFormat) 
        const differenceOfCoachingTime = this.$moment(currentDate, dateFormat).diff(automatedCoachingSendTime, 'hours')
        if(this.$moment(fileCreatedAt, dateFormat).isBetween(startDate, endDate, 'day', '[]')){
          if(this.$moment(fileCreatedAt, dateFormat).isBefore(automatedCoachingSendTime)){
            //the file was imported in time for that day
            return true
          }
          //24 hrs or more passed since the coaching time of that day
          return differenceOfCoachingTime >= 24
        }
        return false
      },     

      contentTooltip(data){
        if(this.isBefore(data)) {
            return `This data file was imported into Hera before your chosen automated coaching time. ${this.getFormatedDate(data.createdAt)}`
        }else{
            return `This data file is in Hera, but it was imported after your chosen automated coaching time. ${this.getFormatedDate(data.createdAt)}`
        }
      },

      getFormatedDate(date){
        if(date) {
          return `Imported on ${momentTz.tz(date, this.getTenantTimeZone()).format('MMM D, YYYY [at] h:mm A')}`
        }
        return ''
      },

      async handleCommand(command) {
        //command.fileExist is true or false
        if(command.fileExist){
          //download
          try {
            const key = command.key
            if(!key){
              const e = 'The file has not been found'
              throw e 
            }
            if(key.startsWith('ID-')){
              await this.getTextractJobById(key)
              return
            }
            await this.downloadPfd(key)
          } catch (e) {
            this.displayUserError(e)
          }
        }else{
          //import
          if(this.typeTable === 'weekly'){
            this.$router.push({ name: 'WeeklyDataImport' })
          }else if(this.typeTable === 'daily'){
            this.$router.push({ name: 'DailyDataImport' })
          }
          
        }
      },

      textColor(text){
        if(typeof text !== 'string'){
          return ''
        }
        return {
          'text-fantastic': text.includes('Fan'),
          'text-great': text.includes('Grt'), 
          'text-fair': text.includes('Fair'), 
          'text-poor': text.includes('Poor')
        }
      },

      async getTextractJobById(key){
        const textractJobId = key.replace('ID-', '')
        try {
          const { data } = await API.graphql(graphqlOperation(getTextractJob, {id: textractJobId}))
          const keyPdf = data.getTextractJob.key                 
          if(!keyPdf){
            const e = 'Could not extract file information'
            throw e
          }
          await this.downloadPfd(keyPdf)
        } catch (e) {
          this.displayUserError(e)
        }
      },

      async downloadPfd(key){
        const documentUrl = await Storage.get(key)
        let link = document.createElement('a')
        link.href = documentUrl
        link.target = "_blank"
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
      },

    },
  }
</script>
<style>
  .performance-import-class .cell {
    @apply whitespace-nowrap overflow-hidden leading-4;
    text-overflow: ellipsis;
  }
  .performance-import-class .custom-context-menu {
    @apply h-5 w-5 rounded-full flex items-center justify-center text-sm border-gray-600 text-gray-600 border-2 border-solid transition duration-500 cursor-pointer p-0 m-0;
  }
  .performance-import-class .custom-context-menu .uil-ellipsis-h{
    @apply h-5 w-5 mt-1 ml-px !important;
  }
  .performance-import-class .custom-context-menu:hover{
    @apply text-brand border-brand !important;
  }
  .performance-import-class .el-table__cell {
    @apply px-0 py-1;
  }
  .performance-import-class th.el-table__cell > .cell {
    @apply pl-2 pr-0;
  }
  .performance-import-class td.el-table__cell > .cell {
    @apply pl-2 pr-0;
  }
  .performance-import-class ::-webkit-scrollbar {
    display: none;
  }
  .performance-import-class .size-important {
    @apply text-xl !important;
  }
</style>