<template>
  <div > 
    <!--Header-->
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
        <div class="col-span-12 md:col-span-4 lg:col-span-5 xl:col-span-6">
            <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                    <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
                    <el-breadcrumb-item>Netradyne Alerts</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="col-span-12 md:col-span-4 xl:col-span-3">
          <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            class="flex-1 mr-1"
            placeholder="Filter this list by any column..."/>
        </div>
        <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <el-date-picker
            v-model="dateRange"
            type="daterange"
            size="small"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            format="MM/dd/yyyy"
            :clearable="false"
            :picker-options="pickerOptions"
            @change="loadData(false)"/>
        </div>
    </div>

    <!--NETRADYNE ALERT TABLE-->
    <div v-show="tableData.length" class="sticky top-20 z-10 float-right -mr-9 -mb-16">
        <i 
        @click="scroll_right"
        class="text-4xl icon-button hover:text-brand uil uil-arrow-right"/>
    </div>
    <div v-show="tableData.length" class="sticky top-20 z-10 float-left -ml-9 -mb-16">
        <i 
        @click="scroll_left"
        class="text-4xl icon-button hover:text-brand uil uil-arrow-left"/>
    </div>
    <el-table
        ref="table"
        class="data-table"
        empty-text="No Netradyne Alerts"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'date', order: 'descending'}"
        row-key="id"
        style="width: 100%"
        :row-class-name="tableRowClass"
        header-cell-class-name="table-header-cell"
        @row-click="rowClick"
        v-loading="loading"
        :default-expand-all=defaultExpandAll>

        <el-table-column
          label="First Name"
          sortable 
          prop="staff"
          width="200">
          <template slot-scope="scope">
            <span v-if="scope.row.staff">{{ scope.row.staff.firstName | text }}</span>
            <span v-else>—</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Last Name"
          sortable 
          prop="staff"
          width="200">
          <template slot-scope="scope">
            <span v-if="scope.row.staff">{{ scope.row.staff.lastName | text }}</span>
            <span v-else>—</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Alert Type"
          sortable 
          prop="alertType"
          width="200">
          <template slot-scope="scope">
            <div>{{ scope.row.alertType | text }}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Alert Severity"
          prop="alertSeverity"
          width="200">
          <template slot-scope="scope">
            <div v-if="!scope.row.children">{{ scope.row.alertSeverity | text }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Description"
          sortable
          prop="description"
          width="200">
          <template slot-scope="scope">
            <div>{{ scope.row.description | text }}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Duration"
          prop="duration"
          width="100">
          <template slot-scope="scope">
            <div v-if="!scope.row.children">{{ scope.row.duration | text }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Date"
          prop="timestamp"
          width="100">
          <template slot-scope="scope">
            <div v-if="!scope.row.children">{{ scope.row.timestamp | netradyneTimestampToDate }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Time"
          prop="time"
          width="100">
          <template slot-scope="scope">
            <div v-if="!scope.row.children">{{ scope.row.timestamp | netradyneTimeAMPM }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Alert ID"
          prop="alertId"
          width="150">
          <template slot-scope="scope">
            <div v-if="!scope.row.children" class="truncate">{{ scope.row.alertId | text }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Alert Video Status"
          prop="alertVideoStatus"
          width="200">
          <template slot-scope="scope">
            <div v-if="!scope.row.children">{{ scope.row.alertVideoStatus | text }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column
          label="Driver ID"
          prop="driverId"
          width="200">
          <template slot-scope="scope">
            <div v-if="!scope.row.children" class="truncate width-180-px">{{ scope.row.driverId | text }}</div>
            <div v-else></div>
          </template>
        </el-table-column>

        <el-table-column align="center" width="55" fixed="right">
          <template slot-scope="scope">
            <el-dropdown v-if="!scope.row.children" class="mt-1" @command="handleCommand">
              <i class="context-menu uil uil-ellipsis-h"></i>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{action: 'goToDa', row: scope.row}">View {{$t('label.associate')}}</el-dropdown-item>
                <el-dropdown-item divided :command="{action: 'viewStart', row: scope.row}">View Start LatLong</el-dropdown-item>
                <el-dropdown-item :command="{action: 'viewEnd', row: scope.row}">View End LatLong</el-dropdown-item>
                <el-dropdown-item divided :command="{action: 'deleteAlert', row: scope.row}">Delete Alert</el-dropdown-item>
            </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
    </el-table>

    <p v-if="dateRange" class="mt-4">{{ countofAlerts || 0 }} Netradyne Alerts for {{$moment(dateRange[0]).format('MM/DD/YYYY')}} to {{$moment(dateRange[1]).format('MM/DD/YYYY')}}</p>  
    <!-- PREMIUM TRIANGLE -->
    <div 
        v-if="!$store.getters.hasPerformanceCoaching"
        @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
        class="premium-warning-container">
      <div class="sample-pill">Sample Data</div>
      <div class="premium-warning-triangle">
        <p class="transform-text text-sm text-white">Requires Premium</p>
      </div>
    </div>
  </div>

</template>

<script>
    import { staffNetradyneAlertsByAlertsByGroupInDateRange } from './queries';
    import { mapMutations } from 'vuex'
    import { getStaffNetradyneAlertUpdatedTimestamp } from '@/utilities/timestampQueries'
    import { deleteStaffNetradyneAlert } from '@/graphql/mutations'

    export default {
        props: ['dashboardStartDate', 'dashboardEndDate'],
        name: 'NetradyneIndex',
        data() {
            return{
                tableData: [],
                loading: false,
                countofAlerts: 0,
                search: '',
                dateRange: '',
                pickerOptions: {
                  shortcuts: [
                    {
                      text: 'Last 7 Days',
                      onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                      }
                    },
                    {
                      text: 'Last 30 Days',
                      onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                      }
                    }
                  ]
                }
            }
        },

        created(){
          if(this.$store.state.netradyneReportDateRange){
            this.dateRange = [...this.$store.state.netradyneReportDateRange]
          }
        },

        mounted(){
            this.loadData(true)
        },

        beforeDestroy(){
          this.setNetradyneDateRange(this.dateRange)
        },

        computed: {

          defaultExpandAll(){
            if(!this.$store.getters.hasPerformanceCoaching){
              return true
            }
            else{
              return false
            }
          }
        },

        methods: {
            ...mapMutations([
              'setNetradyneDateRange'
            ]),
            /**
             * Sorts that table by the timestamp
             */
            dateSort(a,b){
                return new Date(a.timestamp) - new Date(b.timestamp);
            },

            handleCommand(payload){
                const row = payload.row
                switch (payload.action) {
                  case "goToDa":
                    this.$router.push({name: 'StaffDetail', params:{id: row.staff.id, fromNetradyneDashboard: true}})
                    break;
                  case "viewStart":
                    this.viewLatLong(row.startLatLong)
                    break;
                  case "viewEnd":
                    this.viewLatLong(row.endLatLong)
                    break;
                  case "deleteAlert":
                    this.confirmDeleteAlert(row)
                    break;
                }
            },

            /**
             * Loads in Netradyne Alert Data
             */
            async loadData(initialLoad){
                try{
                  if(!this.$store.getters.hasPerformanceCoaching){
                    this.loadFakeData()
                    return
                  }
                this.loading = true
                if(initialLoad){
                    await this.loadDates()
                }
                this.tableData = []

                if(!this.dateRange[0] || !this.dateRange[1]){
                  this.tableData = []
                  this.displayUserError("Invalid Date range.")
                  return
                }
                var startDate = this.$moment(this.dateRange[0]).format('YYYY-MM-DD')
                var startLimit = this.$moment(this.dateRange[0]).add(1, 'months').format('YYYY-MM-DD')
                var endDate = this.$moment(this.dateRange[1]).format('YYYY-MM-DD')

                if (startLimit < endDate ){
                  var endDate = startLimit
                  this.dateRange[1] = startLimit
                }

                if(endDate < startDate ){
                  this.tableData = []
                  this.displayUserError("Invalid Date range.")
                  this.countofAlerts = 0
                  return
                }
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "ASC",
                    timestamp: {
                      between: [`${startDate} 0:00:00`, `${endDate} 23:59:59` ]
                    }
                }

                var results = await this.gLoadListAll(staffNetradyneAlertsByAlertsByGroupInDateRange, input, 'staffNetradyneAlertsByAlertsByGroupInDateRange')
                this.countofAlerts = results.length

                var sortedResult = results.sort((a,b)=>{
                  return ('' + a.sortKey).localeCompare(b.sortKey);
                })

                if(this.countofAlerts > 0){
    
                    //Set intital variables for loop
                    var childrenArr = []
                    
                    var i = 0
                    var count = results.length
                    //Loop through each alert
                    for(alert of results){
                        //Take date of timestamp instead
                        var sortKey = alert.sortKey

                        //increment
                        i++

                        //Get Next sortkey
                        if(i < count){
                          var nextSortKey = sortedResult[i].sortKey
                        }
                        
                        //Add alert to children array
                        childrenArr.push(alert)

                        //Create new alert object if sort key is different from previous
                        if(i >= count || sortKey != nextSortKey){
                            var alertObject = {
                                id: i,
                                children: childrenArr,
                                alertType: alert.alertType,
                                alertSeverity: null,
                                alertId: null,
                                description: `${childrenArr.length} Alerts`,
                                time: null,
                                duration: null,
                                driverId: null,
                                startLatLong: null,
                                endLatLong: null,
                                alertVideoStatus: null,
                            }

                            if(alert.staff){
                                alertObject.staff = {
                                    id: alert.staff.id,
                                    firstName: alert.staff.firstName,
                                    lastName: alert.staff.lastName
                                }
                            }
                            this.tableData.push(alertObject)
                            childrenArr = []
                        }
                    }
                }

                  this.tableData.sort((a,b) =>{
                    return ('' + a.staff?.lastName).localeCompare(b.staff?.lastName);
                  })

                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
                finally{
                    this.loading = false
                }
            },

            loadDates(){
              var dateRangeArr = []
                if(this.dashboardStartDate){
                    dateRangeArr[0] = new Date(this.dashboardStartDate)
                }
                else if(this.$store.state.netradyneReportDateRange && this.$store.state.netradyneReportDateRange.length > 0){
                  dateRangeArr[0] = new Date(this.$store.state.netradyneReportDateRange[0])
                }
                else{
                    dateRangeArr[0] = new Date()
                }

                if(this.dashboardEndDate){
                    dateRangeArr[1] = new Date(this.dashboardEndDate)
                }
                else if(this.$store.state.netradyneReportDateRange  && this.$store.state.netradyneReportDateRange.length > 0){
                  dateRangeArr[1] = new Date(this.$store.state.netradyneReportDateRange[1])
                }
                else{
                    dateRangeArr[1] = new Date()
                }

                this.dateRange = dateRangeArr
                this.setNetradyneDateRange(this.dateRange)
            },

            loadFakeData(){
              var currentDate = this.$moment().format('YYYY-MM-DD')
              this.tableData = [
                {
                alertId: null,
                alertSeverity: null,
                alertType: "Sign Violations",
                alertVideoStatus: null,
                children: [
                  {
                    alertId: '0',
                    alertSeverity: "Severe",
                    alertType: "Sign Violations",
                    alertVideoStatus: "Available",
                    description: "No Stop",
                    driverId: "jd1",
                    duration: "-1",
                    endLatLong: "0,0",
                    id: "0",
                    staff: {
                      firstName: "Justin",
                      lastName: "Washington"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  },
                  {
                    alertId: '2',
                    alertSeverity: "Moderate",
                    alertType: "Sign Violations",
                    alertVideoStatus: "Available",
                    description: "Rolling Stop",
                    driverId: "js1",
                    duration: "-1",
                    endLatLong: "0,0",
                    id: "1",
                    staff: {
                      firstName: "Justin",
                      lastName: "Washington"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  }
                ],
                description: "2 Alerts",
                driverId: null,
                duration: null,
                endLatLong: null,
                id: "3",
                staff: {
                  firstName: "Justin",
                  lastName: "Washington"
                },
                startLatLong: null,
                time: null,

              },
                {
                alertId: null,
                alertSeverity: null,
                alertType: "Hard Turn",
                alertVideoStatus: null,
                children: [
                  {
                    alertId: '4',
                    alertSeverity: "Severe",
                    alertType: "Hard Turn",
                    alertVideoStatus: "Available",
                    description: "Turned too hard, package damaged",
                    driverId: "jd1",
                    duration: "5",
                    endLatLong: "0,0",
                    id: "4",
                    staff: {
                      firstName: "Shakia",
                      lastName: "Alcaraz"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  },
                  {
                    alertId: '5',
                    alertSeverity: "Moderate",
                    alertType: "Hard Turn",
                    alertVideoStatus: "Available For Request",
                    description: "Turned too hard",
                    driverId: "js1",
                    duration: "3",
                    endLatLong: "0,0",
                    id: "6",
                    staff: {
                      firstName: "Shakia",
                      lastName: "Alcaraz"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  }
                ],
                description: "2 Alerts",
                driverId: null,
                duration: null,
                endLatLong: null,
                id: "7",
                staff: {
                  firstName: "Shakia",
                  lastName: "Alcaraz"
                },
                startLatLong: null,
                time: null,

              },
                {
                alertId: null,
                alertSeverity: null,
                alertType: "Sign Violations",
                alertVideoStatus: null,
                children: [
                  {
                    alertId: '6',
                    alertSeverity: "Moderate",
                    alertType: "Sign Violations",
                    alertVideoStatus: "Available",
                    description: "No Stop",
                    driverId: "js1",
                    duration: "-1",
                    endLatLong: "0,0",
                    id: "8",
                    staff: {
                      firstName: "Kassandra",
                      lastName: "Wheeler"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  },
                  {
                    alertId: '7',
                    alertSeverity: "Moderate",
                    alertType: "Sign Violations",
                    alertVideoStatus: "Available",
                    description: "Rolling Stop",
                    driverId: "js1",
                    duration: "-1",
                    endLatLong: "0,0",
                    id: "9",
                    staff: {
                      firstName: "Kassandra",
                      lastName: "Wheeler"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  }
                ],
                description: "2 Alerts",
                driverId: null,
                duration: null,
                endLatLong: null,
                id: "10",
                staff: {
                  firstName: "Kassandra",
                  lastName: "Wheeler"
                },
                startLatLong: null,
                time: null,

              },
                {
                alertId: null,
                alertSeverity: null,
                alertType: "Hard Acceleration",
                alertVideoStatus: null,
                children: [
                  {
                    alertId: '8',
                    alertSeverity: "Severe",
                    alertType: "Hard Acceleration",
                    alertVideoStatus: "Available",
                    description: "Sped up too fast",
                    driverId: "js1",
                    duration: "15",
                    endLatLong: "0,0",
                    id: "11",
                    staff: {
                      firstName: "Justin",
                      lastName: "Melchor"
                    },
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                  }
                ],
                description: "1 Alerts",
                driverId: null,
                duration: null,
                endLatLong: null,
                id: "12",
                staff: {
                  firstName: "Justin",
                  lastName: "Melchor"
                },
                startLatLong: null,
                time: null,

              },
            ]
            this.countofAlerts = 7
            },

            rowClick(row) {
              if(row.children){
                this.$refs.table.toggleRowExpansion(row);
              }
            },

            tableRowClass({row}){
              if(row.children){
                return "row-header-class"
              }
              else{
                return "row-class"
              }
            },

            /**
             * Opens Google Maps in another tab with the coordinates given
             */
            viewLatLong(latLong){
                //EXAMPLE: https://www.google.com/maps/search/?api=1&query=47.5951518,-122.3316393
                var url = `https://www.google.com/maps/search/?api=1&query=${latLong}`
                window.open(url, "_blank")
            },

            scroll_left() {
                let content = document.querySelector(".data-table .el-table__body-wrapper");
                content.scrollLeft -= 300;
            },

            scroll_right() {
                let content = document.querySelector(".data-table .el-table__body-wrapper");
                content.scrollLeft += 300;
            },

            confirmDeleteAlert(alert){
                this.$confirm('This will permanently delete this alert. Continue?', 'Warning', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.deleteAlert(alert)
                    }).catch(() => {
                        console.log("canceled delete")         
                });
            },

            async deleteAlert(alert){
                try{
                    console.log(alert)
                    const id = alert.id
                    // check timestamp
                    var timestampResult = await this.api(getStaffNetradyneAlertUpdatedTimestamp, {id})
                    if(!timestampResult.data.getStaffNetradyneAlert){
                        throw "Alert is missing or deleted by another user."
                    }
                    var timestamp = timestampResult.data.getStaffNetradyneAlert.updatedAt
                    if(alert.updatedAt != timestamp){
                        throw "Record was updated by another user. Please copy any changes and refresh the page."
                    }
                    await this.api(deleteStaffNetradyneAlert, {input:{id}})
                    this.loadData()
                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
            },
        }
    }
</script>
<style scoped>
  
  .width-180-px{
    width: 180px !important;
  }
</style>
<style>
    .el-table .row-header-class{
        @apply bg-gray-25 cursor-pointer !important;
    }
    .el-table .row-class{
        @apply bg-white !important;
    }
    .el-date-editor{
        width: 100% !important;
    }
</style>
