<template>
    <div>
        <div class="z-10 absolute">
            <span class="context-menu bg-gray-100">
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        
        <div class="z-0 mx-1">
            <span class="context-menu"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ContextMenuHeaderIcon'
    }
</script>

<style scoped>

</style>