<template>
    <div class="menu-message-icon min-w-6 min-h-5 relative px-0 mx-px font-thin">
        <i class="-z-1 absolute bg-menu-message-icon-back text-2xl uil uil-comment-alt-dots w-full"></i>
        <i class="z-10 absolute bg-menu-message-icon-front text-2xl uil uil-comment-alt-dots w-full"></i>
    </div>
</template>
<script>
    export default {
        name: 'ContextMenuMessageHeaderIcon'
    }
</script>
<style>
    .menu-message-icon:hover{
        @apply text-brand !important;
    }
    .menu-message-icon .bg-menu-message-icon-front{
        background-image: linear-gradient(to bottom, transparent 0, white 30%, white 80%, transparent 0);
        left: -7px !important;
        top: 1px !important;
    }
    .menu-message-icon .bg-menu-message-icon-back{
        top: -3px;
        left: -3px;
    }
    .menu-message-icon{
        top: -2px !important;
    }
</style>