<template>
  <el-button class="w-24 rounded-3xl items-center content-center" size="mini">
      <div class="flex space-x-1 pt-0.5 pb-0.5 context-menu-header-hover">
        <ContextMenuHeaderIcon class="-ml-2"/>
        <div>
          <p class="my-1 font-medium text-xs">Actions </p>
        </div>
      </div>
  </el-button>
</template>
<script>
import ContextMenuHeaderIcon from './ContextMenuHeaderIcon.vue'
export default {
  name: 'ContextMenuHeaderIconButton',
  components: {
    ContextMenuHeaderIcon
  }
}
</script>
<style scoped>
.el-button {
  line-height: 1.25 !important;
}
</style>