<template>
  <div>
    <el-select
      v-bind="$attrs"
      v-loading="isLoading"
      ref="select"
      class="w-full"
      :value="value"
      @change="handleChange"
    >
      <div class="relative">
        <div>
          <el-option
            v-for="option in selectOptions"
            :key="option.id"
            :label="option.option"
            :disabled="!option.isEnabled"
            :value="option.id"
          />
        </div>

        <div
          class="sticky bottom-0 bg-white px-4 pb-2 pt-2 pb-0 cursor-pointer"
          @click="handleCustomListAddLinkAction"
        >
          <p class="text-primary text-sm">{{ linkText }}</p>
        </div>
      </div>
    </el-select>

    <DrawerCustomList
      :drawerVisibility="isDrawerOpen"
      :titleDrawer="customListDrawerTitle"
      :tableDataSelected="customList"
      @hideDrawer="isDrawerOpen = false"
      @reloadCustomList="handleCustomListsReload"
    />

    <el-dialog
      width="400px"
      title="Permission Needed"
      :center="true"
      :visible.sync="isModalOpen"
      :close-on-click-modal="false"
    >
      <div>
        <p class="text-center break-normal mb-4 leading-normal">
          You do not currently have permission to manage custom lists.
          Please speak with your manager to make a change to this list.
        </p>
        <div class="flex">
          <el-button
            size="small"
            type="primary"
            plain class="flex-1 rounded-lg shadow"
            @click="isModalOpen = false"
          >
            Ok
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DrawerCustomList from '@/views/Settings/CustomLists/components/DrawerCustomList';

export default {
  name: 'CustomListsOptionsSelect',

  props: {
    value: {
      required: true,
    },
    listType: {
      type: String,
      required: true,
    },
    linkText: {
      type: String,
      required: true,
    },
    customListEnabledArgs: {
      type: Array,
      default: () => ([]),
    },
  },

  components: {
    DrawerCustomList,
  },

  computed: {
    ...mapGetters([
      'getCustomListByType',
      'hasCustomListsManagement',
    ]),

    customList() {
      return this.getCustomListByType(this.listType);
    },

    customListOptions() {
      return this.customList?.options || [];
    },

    selectOptions() {
      return this.customListEnabled(this.customListOptions, ...this.customListEnabledArgs);
    },

    isValidSelectedValue() {
      return (this.value && this.selectOptions.some(item => item.id === this.value)) || true;
    },

    customListDrawerTitle() {
      return `Custom List Options: ${this.customList.listName || ''}`;
    },
  },

  data() {
    return {
      isLoading: false,
      isDrawerOpen: false,
      isModalOpen: false,
    };
  },

  watch: {
    isValidSelectedValue(curr, prev) {
      if (this.value && curr === false) {
        const defaultOption = this.selectOptions.find(item => item.default);
        if (!defaultOption) return;
        this.$emit('input', defaultOption.id);
      }
    },
  },

  methods: {
    async handleCustomListsReload() {
      try {
        this.isLoading = true;
        await this.loadCustomList();
      }
      catch(error) {
        this.printUserError(error);
        this.displayUserError(error);
      }
      finally {
        this.isLoading = false;
      }
    },

    handleChange($event) {
      this.$emit('input', $event); // To handle v-model sync
      this.$emit('change', $event);
    },

    handleCustomListAddLinkAction() {
      this.$refs.select.blur();
      if (this.hasCustomListsManagement) {
        this.openCustomListsDrawer();
        return;
      }
      this.openWaringDialog();
    },

    openCustomListsDrawer() {
      this.isDrawerOpen = true;
    },

    openWaringDialog() {
      this.isModalOpen = true;
    },
  },
}
</script>
