<template>
    <el-date-picker format="MM/dd/yyyy" v-model="selectedDateUpdate" @change="emitDate" type="date" :size="size" :placeholder="placeholder"></el-date-picker>
</template>

<script>
import moment from 'moment';
export default {
  name: 'DatePicker',
  props: {
    selectedDate: {
      type: String | Date,
      required: false
    },
    placeholder: {
      type: String,
      required: false
    },
    size: {
      type: String,
      required: false,
      default: ''
    }
  },

  watch: {
    selectedDate(date) {
      this.$nextTick(() => {
        this.selectedDateUpdate = this.convertTenantTz(date)
      });
    }
  },

  created(){
    this.selectedDateUpdate = this.convertTenantTz(this.selectedDate)
  },

  data() {
    return {
      selectedDateUpdate: ''
    };
  },

  methods: {

    emitDate() {
      const data = this.getDateDifferenceMinutesTenantTimezone(this.selectedDateUpdate)
      this.$emit('date-selected', data);
    },

    convertTenantTz(date) {
      if(!date) return
      const dateTz = moment(date).tz(this.getTenantTimeZone()).format('MM/DD/YYYY')
      return dateTz
    }
    
  }
};
</script>