<template>
    <el-date-picker
        @focus="focusPlusSetTheShortcutActionOnce"
        v-model="dateFilterValue"
        unlink-panels
        @change="onValueChange"
        :picker-options="dateFilter.pickerOptions"
        :start-placeholder="startPlaceholder||'Start date'"
        :end-placeholder="endPlaceholder||'End date'"
        :range-separator="rangeSeparator||'To'"
        :align="align||'center'"
        :type="type||'datetimerange'"
        :format="format||'MM/dd/yyyy HH:hh:mm:ss'"
        :editable="cast(editable)"
        :disabled="cast(disabled)"
        :clearable="cast(clearable)"
        :readonly="cast(readonly)"
        popper-class="hera-popper"
    />
</template>
<script>
export default {
    model:{
        prop: 'value',
        event: 'input'
    },
    props:[
        'value',
        'defaultQuickOption',
        'format',
        'align',
        'rangeSeparator',
        'startPlaceholder',
        'endPlaceholder',
        'editable',
        'disabled',
        'clearable',
        'readonly',
        'type',
        'dispatchOnCreate'
    ],

    data() {
        return {
            dateFilter:{
                value: null,
                pickerOptions: {
                    default: "Current week",
                    shortcuts: [
                        this.quickOption('Current week'),
                        this.quickOption('Last week'),
                        this.quickOption('Last two weeks'),
                        this.quickOption('Current month'),
                        this.quickOption('Last month'),
                        this.quickOption('Current year'),
                        this.quickOption('Last year')
                    ],
                    shortcutSetActiveBehaviour: null
                }
            }
        }
    },

    computed:{
        dateFilterValue:{
            get: function(){
                return this.value ?? this.dateFilter.value
            },
            set: function(value){
                this.dateFilter.value = value
                this.$emit("input", value)
            }
        }
    },

    methods: {

        cast(value){
            switch(value){
                case null:
                case 'null':
                    return null
                case undefined:
                case 'undefined':
                    return undefined
                case false:
                case 'false':
                case 'False':
                case 'FALSE':
                    return false
                case true:
                case 'true':
                case 'True':
                case 'TRUE':
                    return true
                default:
                    return value
            }
        },

        onValueChange(value){
            if(!this.dateFilter.pickerOptions.default)
                return
            this.$emit('change', value)
            this.changeActiveShortcut(null)
        },

        isVisible(e) {
            return !!( e.offsetWidth || e.offsetHeight || e.getClientRects().length || !e.hidden || e.style.display !== 'none' || e.style.visibility !== 'hidden' )
        },

        getPopper(){
            const poppers = document.getElementsByClassName('hera-popper')
            for (let i = 0; i < poppers.length; i++) {
                const popper = poppers[i]
                if(this.isVisible(popper))
                    return popper
            }
            return null
        },

        getShortcutsByClassName(className){
            const popper = this.getPopper()
            if(popper)
                return popper.getElementsByClassName(className)
            return []
        },

        changeActiveShortcut(event) {
            event?.preventDefault()
            const actives = this.dateFilter.pickerOptions.elements.filter(el => el.classList.contains("el-picker-panel__shortcut__active"))
            actives?.forEach(active => {
                if (event?.target === active)
                    return
                active.classList.remove("el-picker-panel__shortcut__active")
            })
            event?.target.classList.add("el-picker-panel__shortcut__active")
        },

        focusPlusSetTheShortcutActionOnce(event) {
            if (this.dateFilter.pickerOptions.shortcut_configured){
                this.$emit('focus', event)
                return
            }
            this.dateFilter.pickerOptions.shortcut_configured = true
            const _getShortcutsByClassName = this.getShortcutsByClassName
            const _changeActiveShortcut = this.changeActiveShortcut
            const _default= this.dateFilter.pickerOptions.default
            this.$nextTick(() => {
                    const shortcuts = _getShortcutsByClassName('el-picker-panel__shortcut')
                    const elements = []
                    for (let i = 0; i < shortcuts.length; i++) {
                        const shortcut = shortcuts[i]
                        shortcut.addEventListener("click", _changeActiveShortcut)
                        if (shortcut.innerText === _default) {
                            shortcut.classList.add("el-picker-panel__shortcut__active")
                        }
                        elements.push(shortcut)
                    }
                    this.dateFilter.pickerOptions.elements = elements
                }
            )
            this.$emit('focus', event)
        },

        quickOption(label){

            let start = new Date()
            let end = new Date()
            const day = 3600 * 1000 * 24
            const fistDayOfThisWeek = day * end.getDay()
            let daysToDecreaseStart = 0
            let daysToDecreaseEnd = 0

            switch(label){
                case "Current week":
                    daysToDecreaseStart = fistDayOfThisWeek
                    break

                case "Last week":
                    daysToDecreaseStart = fistDayOfThisWeek + (7 * day)
                    daysToDecreaseEnd = fistDayOfThisWeek + day
                    break

                case "Last two weeks":
                    daysToDecreaseStart = fistDayOfThisWeek + (14 * day)
                    daysToDecreaseEnd = fistDayOfThisWeek + day
                    break

                case "Current month":
                    start = new Date(start.getFullYear(), start.getMonth(), 1)
                    break

                case "Last month":
                    start = new Date(start.getFullYear(), start.getMonth() - 1, 1)
                    end = new Date(end.getFullYear(), end.getMonth(), 0)
                    break

                case "Current year":
                    start = new Date(start.getFullYear(), 0, 1)
                    break

                case "Last year":
                    start = new Date(start.getFullYear() - 1, 0, 1)
                    end = new Date(end.getFullYear(), 0, 0)
                    break
                default:
                    console.warn(`The quick option '${label}' does not exist`,{ component: 'DateRangePiker' })
                    break
            }

            start.setTime(start.getTime() - daysToDecreaseStart)
            end.setTime(end.getTime() - daysToDecreaseEnd)
            const value = this.type.includes('range')? [start, end] : start
            return {
                value,
                text: label,
                onClick: function(datePicker){
                    if(datePicker){
                        datePicker.$emit('pick', value)
                    }
                    else{
                        this.dateFilterValue = value
                    }
                }
            }
        },

    },

    mounted(){
        if(this.defaultQuickOption)
            this.dateFilter.pickerOptions.default = this.defaultQuickOption
        this.dateFilterValue = this.quickOption(this.dateFilter.pickerOptions.default).value
        if(this.dispatchOnCreate)
            this.$emit('change', this.dateFilterValue)
    },

    beforeDestroy(){
        this.dateFilter?.pickerOptions?.elements?.forEach(el => el.removeEventListener('click', this.changeActiveShortcut) )
    }
}
</script>
<style lang="scss">
    .el-picker-panel__shortcut__active{
        background: #dceeff;
    }
    .el-picker-panel__shortcut__active:hover{
        color: #606266;
    }
    .el-date-table td div:hover, .el-date-table td.today div {
        background: #d3eaff;
    }
    .el-date-table td:not(.start-date):not(.end-date) div:hover, .el-date-table td.today:not(.in-range) div, .el-picker-panel__shortcut {
        border-radius: 5px;
    }
    .el-date-table td.in-range div {
        background: #E3F1ED;
    }
    .el-date-table td.in-range div:hover, .el-picker-panel__shortcut:hover {
        background: #dceeff;
    }
    .el-date-table td.today div:hover {
        background: #afd8ff;
    }
    .el-date-editor .el-range-separator{
        color: #606266;
        margin: 0px;
        padding: 0px;
    }
</style>