<template>
  <el-select
      ref="dropdownListFromStore"
      :placeholder="placeholder"
      v-model="vModel.items"
      :multiple="multiple"
      :clearable="clearable"
      :filterable="filterable"
      :popper-append-to-body="false"
      :disabled="disabled">
      <el-option
          v-for="item in list"
          :key="item.id"
          :label="item.option"
          :disabled="!item.isEnabled"
          :value="item.id">
      </el-option>
    </el-select>
</template>

<script>
export default {

  name: 'DropdownListFromStore',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    vModel: {
      type: Object,
      default: { items: [] }
    },
    list: {
      type: Array,
      default: []
    },
    type: {
      type: String,
      default: null
    },
    multiple: {
      type: Boolean,
      default: true
    },
    clearable: {
      type: Boolean,
      default: true
    },
    filterable: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: true
    },
  },
  component: {},
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
<style>
</style>