<template>
     <div class="text-center">
          <div class="flex justify-center">
            <img src="@/assets/images/square-icon.png" class="w-32 h-32"/>
          </div>
          <div class="mt-4 break-normal">
            Woof, Hera is exhausted. She needs to take a nap, but {{feature}} will be back soon!
          </div>
          <div class="mt-4">
            <el-button @click="close" class="rounded-lg shadow" type="primary">
                OK
            </el-button>
          </div>
        </div>
</template>
<script>
export default {
    props: ['feature'],
    name: 'FeatureOffline',
    methods:{
        close(){
            this.$emit('close-modal')
        }
    }
}
</script>