<template>
  <div>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div v-for="document in existingFilesList" :key="document.id" class="group relative">
        <div v-if="document.id !=null && document.type.includes('image')" class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 lg:h-80 flex items-center">
          <img @click="displayImageCardPreview(document)" :src="document.url" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
        </div>
        <div v-else class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80 flex justify-center items-center flex-col">
          <i class="uil uil-file-alt text-6xl"></i>
          <a :href="document.url" target="_blank" class="w-full break-words hover:underline px-5">
            {{document.name}}
          </a>
        </div>
        <div class="my-2 flex start-between items-center space-x-2">
          <i v-if="allowDocumentDownloads" title="Download File" class="icon-button uil uil-import hover:text-brand" @click="downloadFile(document.key)"></i>
          <i v-if="allowDocumentDeletion" title="Delete File" class="icon-button uil uil-trash-alt hover:text-red-500" @click="handleDocumentDelete(document.key, document.id)"></i>
        </div>
      </div>
    </div>

    <div v-for="(fileToUpload, index) in fileListToUpload" :key="fileToUpload.id" class="w-full flex">
      <el-tag type="info" effect="plain" class="flex-auto mb-2 ellipsis">{{fileToUpload.fileName}}</el-tag>
      <i class="icon-button uil-trash-alt ml-4 hover:text-red-500" @click="confirmNewFileRemove(index)"></i>
    </div>

    <label class="fileContainer w-full h-32 bg-opacity-50 text-center mt-4">
      <div class="uil-file text-5xl"></div>
      <div>{{ placeholder }}</div>
      <input multiple ref="fileInput" type="file" class="align-middle" @change="insertFilesForUpload" >
    </label>

    <el-dialog :visible="imageDialog.isOpen" width="50%" center show-close @close="handleImageDialogClose" >
      <img class="w-full" :src="imageDialog.url">
    </el-dialog>
  </div>
</template>

<script>
import { deleteDocument } from '@/graphql/mutations';
import { Storage } from 'aws-amplify';

export default {
  name: 'MediaInputDisplay',

  props: {
    toUploadByDefault: {
      type: Array,
      default: () => ([]),
    },
    placeholder: {
      type: String,
      default: 'Drop files here or click to upload',
    },
    allowDocumentDownloads: {
      type: Boolean,
      default: true,
    },
    allowDocumentDeletion: {
      type: Boolean,
      default: true,
    },
    existingDocumentsList: {
      type: Array,
      default: () => ([]),
    },
  },

  data() {
    return {
      existingFilesList: [],
      fileListToUpload: this.toUploadByDefault,
      imageDialog: {
        url: '',
        isOpen: false,
      },
    };
  },

  watch: {
    existingDocumentsList: async function (curr, prev) {
      const promises = curr.map(async (document) => {
        const url = await Storage.get(document.key);
        return { ...document, url };
      });
      const fileList = await Promise.all(promises);
      this.existingFilesList = fileList.sort((a, b) => a.type?.includes('image')? 1: -1);
    },
  },

  methods: {
    async displayImageCardPreview(document) {
      this.imageDialog = {
        url: document.url,
        isOpen: true,
      };
    },

    handleImageDialogClose() {
      this.imageDialog = {
        url: '',
        isOpen: false,
      };
    },

    async handleDocumentDelete(objectKey, id) {
      this.$confirm('This will permanently delete this file. Continue?', 'Warning', {
        type: 'warning',
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
      })
      .then(() => this.commitDocumentDeleteFile(objectKey, id))
      .catch(() => console.log("canceled delete"));
    },

    async commitDocumentDeleteFile(objectKey, id) {
      try {
        await Storage.remove(objectKey);
        await this.api(deleteDocument, {input: {id}});
        this.$emit('document-delete', id);
      }
      catch (error) {
        this.printUserError(error);
        this.displayUserError(error);
      }
    },

    confirmNewFileRemove(index) {
      this.$confirm('Would you like to delete this file?', 'Warning', {
        type: 'warning',
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
      })
      .then(() => this.fileListToUpload.splice(index, 1))
      .catch(() => console.log("canceled delete"));
    },

    insertFilesForUpload: function(e) {
      const files = e.target.files || e.dataTransfer.files;
      Array.from(files).forEach(file => {
        const fileObject = {
          file,
          id: this.generateUUID(),
          fileName: file.name, 
          fileType: file.type,
          isDocVisibleToAssociate : file.isDocVisibleToAssociate,
        };
        this.fileListToUpload.push(fileObject);
      });
      this.$refs.fileInput.value = '';
      this.$emit('file-list-to-upload', this.fileListToUpload);
    },
  },
};
</script>

<style scoped>
  .fileContainer{
    @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
  }
</style>
