<template>
  <div data-cy="message-template-content">
    <div class="text-xs text-right">
      <el-dropdown v-loading="loading" placement="top-start" data-cy="message-template-dropdown" ref="messageTemplateDropdown">
        <el-button :disabled="disabled" type="primary" size="small">
          Use a Template
        </el-button>

        <el-dropdown-menu slot="dropdown">
          <div class="overflow-auto use-template-button">
              <el-dropdown-item
                disabled
                v-if="!messageTemplates.length"
              >
                No templates have been created
              </el-dropdown-item>

              <el-dropdown-item
                command="all"
                v-for="message in messageTemplates"
                :data-cy="message.id"
                :key="message.id"
              >
                <div
                  class="flex justify-between items-center space-x-4"
                  @click="useMessageTemplate(message.message)"
                >
                  <p>{{ message.name }}</p>
                </div>
              </el-dropdown-item>
          </div>
          <el-dropdown-item :divided="true" v-if="hasMessageTemplatePermission">
              <div
                class="flex justify-between items-center space-x-4"
                @click="$router.push({path: '/settings/messenger'})"
              >
                <p class="text-primary">Create New Message Template</p>
              </div>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { messageTemplatesByGroup } from "@/graphql/queries";

export default {
  name: 'StaffMessageTemplateDropdown',
  props: [
    'currentMessage',
    'preloadedMessageTemplates',
    'disabled',
  ],
  data() {
    return{
      loading: false,
      messageTemplates: [],
    }
  },

  computed: {
    ...mapState(['userInfo']),

    hasMessageTemplatePermission() {
      return this.userInfo?.permissionMessageTemplate && true;
    },
  },

  methods: {
    startLoading() {
      this.loading = true;
    },

    stopLoading() {
      this.loading = false;
    },

    useMessageTemplate(message) {
      
      this.$refs.messageTemplateDropdown.hide();

      if (!this.currentMessage?.length) {
        this.$emit('onMessageTemplateSelection', message);
        return;
      }

      const alertContent = 'Choosing a template will override any attachments or text for your message. Are you sure you wish to continue?';

      this.$confirm(alertContent, 'Warning', {
          confirmButtonText: 'Continue',
          cancelButtonText: 'Cancel',
          type: 'warning'
      })
      .then(() => this.$emit('onMessageTemplateSelection', message))
      .catch(() => {});
    },

    async loadMessagesTemplates () {
      this.startLoading();
      const compareByName = (a, b) => a.name?.localeCompare(b.name);

      try {
        let messageTemplates
        if(Array.isArray(this.preloadedMessageTemplates)){
          messageTemplates = this.preloadedMessageTemplates
        }else{
          let input = { group: this.userInfo?.tenant?.group };
          messageTemplates = await this.gLoadListAll(messageTemplatesByGroup, input, 'messageTemplatesByGroup');
        }
        this.messageTemplates = messageTemplates.sort(compareByName);
      } catch (error) {
        console.log({ error });
      } finally {
        this.stopLoading();
      }
    },
  },

  created() {
    this.loadMessagesTemplates();
  },
}
</script>
<style>
.use-template-button {
  max-height: 125px;
}
</style>