<template>
    <span>
        <el-dropdown class="hidden md:block">
            <button class="text-center text-gray-600 hover:text-blue-500 pr-1 hidden md:block" :class="{'text-brand': notificationCount}">
                    <i class="uil uil-bell text-2xl"></i>
                    <span v-if="notificationCount" class="notification-bubble">{{notificationCount}}</span>
                    <!-- <span v-if="notificationCount" class="animate-ping absolute -mt-8 ml-5 rounded-full bg-pink-400 opacity-75 w-4 h-4 block text-xs text-white"></span>
                    <span v-if="notificationCount" class="absolute -mt-8 ml-5 rounded-full px-1 bg-pink-500 w-auto h-4 block text-xs text-white">{{notificationCount}}</span> -->
            </button>  
            <el-dropdown-menu slot="dropdown" class="mt-0 w-120 hidden md:block pt-0">
                <div class="flex justify-center mt-0 space-x-14 px-2 md:px-0 w-full">
                    <el-radio-group v-model="toggleNotifications" size="small" class="w-full inline-block">
                        <el-radio-button class="focus:outline-none w-1/2" label="Notifications" style="display: inline-grid !important">{{notificationRegularCount > 0 ? 'Notifications (' + notificationRegularCount +')' : 'Notifications'}}</el-radio-button>
                        <el-radio-button class="focus:outline-none w-1/2" label="Hera Version History" style="display: inline-grid !important">{{notificationNewVersionCount > 0 ? 'Hera Version History (' + notificationNewVersionCount + ')' : 'Hera Version History'}}</el-radio-button>
                    </el-radio-group>
                </div>
                <template v-if="toggleNotifications === 'Notifications' ? 'Notifications' : 'Hera Version History'">
                    <div v-if="notificationCount" class="divide-y overflow-y-auto" style="max-height: 400px">
                        <div data-cy="notification-row" class="flex items-center justify-between px-3 py-2" v-for="notification in (toggleNotifications === 'Notifications' ? displayRegularNotifications : displayNewVersionNotifications)" :key="notification.id">
                            <button data-cy="n-perform-action-btn" @click="performAction(notification)" class="text-left hover:text-brand">
                                <p data-cy="n-title" class="text-sm">{{notification.title}}</p>
                                <p data-cy="n-description" class="text-xs text-gray-600 preline">{{notification.description}}</p>                    
                                <div data-cy="n-release-notes" v-if="notification.releaseNotes" class="text-xs text-gray-600 whitespace-pre-line">{{notification.releaseNotes}}</div>                    
                            </button>
                            <button data-cy="n-dismiss-btn" @click="dismiss(notification)" class="px-2">
                                <i class="uil uil-multiply ml-2 text-gray-600 hover:text-red-600"></i>
                            </button>
                        </div>
                    </div>
                    <div v-else class="p-3 text-center w-full">
                        <i class="text-6xl mb-4 text-gray-600 uil uil-bell"/>
                        <p class="text-sm text-gray-700">No Unread Notifications</p>
                    </div>
                    <p class=" px-3 pt-3 pb-1 text-center border-t flex justify-around">
                        <button data-cy="n-dismiss-all-btn" v-if="notificationCount" @click="dismissAll()" class="text-xs  text-gray-600 hover:text-red-600" href="#">{{toggleNotifications === 'Notifications' ? 'Dismiss All Notifications' : 'Dismiss All Version History'}}</button>
                        <a data-cy="n-view-all-btn" class="text-xs link"  @click="$router.push({name: 'NotificationIndex', params: {optionID: filteredOptionID}})">{{toggleNotifications === 'Notifications' ? 'View All Notifications' : 'View All Version History'}}</a>
                    </p>
                </template>                
            </el-dropdown-menu>
            
        </el-dropdown>
        <span class="rounded-full bg-pink-500 h-4 py-0.5  px-1 text-xs text-white mr-2 md:hidden">{{notificationCount}}</span>
    </span>
</template>

<script>
import {mapState} from 'vuex'
import {updateNotification} from '@/graphql/mutations'
import {loadNotifications} from '@/store/notificationSubscription'
import EventBus from '@/eventBus'

export default {

    data(){
        return{
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            tabs: [
                {name: 'notifications', table: [], title: 'Notifications'},
                {name: 'heraVersionHistory', table: [], title: 'Hera Version History'}
            ],
            toggleNotifications: 'Notifications',
        }
    },

    mounted(){
        EventBus.$off('load-notification-badge');
        EventBus.$on('load-notification-badge', ()=>{
            loadNotifications()
        })

        EventBus.$off('missing-phone-number');
        EventBus.$on('missing-phone-number', async (payload) => {
            await this.displayUserNotification({
              title: payload.title,
              type: "warning",
              duration: 0,
              message: payload.description
            })
        })
    },

    beforeDestroy(){
        EventBus.$off('load-notification-badge')
        EventBus.$off('missing-phone-number')
    },

    watch: {
        notificationCount(newVal, oldVal){
            if(newVal > 0 && this.$store.state.notifications){
                // trigger reload of performance screen
                 EventBus.$emit('load-performance')
            }
        }
    },

    computed:{
        ...mapState(['notifications']),
        filteredOptionID(){
            if(this.toggleNotifications === "Hera Version History"){
                return 'heraVersion'
            }
            return 'general'
        },
        notificationCount(){
            return this.displayNotifications.length
        },

        notificationRegularCount() {
            return this.displayRegularNotifications.length
        },

        notificationNewVersionCount() {
            return this.displayNewVersionNotifications.length
        },

        displayNotifications(){

            // filter out invoie and permissions notifications
            if((!this.USER_PERMISSIONS && !this.$store.getters.isAdmin) || (this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionFullAccess)){
                return this.notifications.filter((notification) => { return !notification.description?.includes('invoice') && !notification.description?.includes('user permissions')})
            }
            return this.notifications.filter((notification) => { return !notification.description?.includes('user permissions')})
                .filter(notification => !notification.isRead)
        },

        displayRegularNotifications() {
            return this.displayNotifications.filter((notification) => notification.title !== 'NEW VERSION')
        },

        displayNewVersionNotifications() {
            return this.displayNotifications.filter((notification) => notification.title === 'NEW VERSION')
        }
    },
    methods:{
        performAction(notification){
            if(notification.clickAction == "navigate"){
                var payload = JSON.parse(notification.payload)
                this.dismiss(notification)
                if (this.$route.name !== payload.name) this.$router.push(payload)
            }
            else if(notification.clickAction == "dismiss" || notification.clickAction == 'LOGOUT' || notification.clickAction == 'RELOAD'){
                this.dismiss(notification)
            }
            else{
                //unknown action

            }
        },
        async dismissAll(){
            let displayNotificationOption = this.toggleNotifications === 'Notifications' ? this.displayRegularNotifications : this.displayNewVersionNotifications
            // return console.log('version data', d)
            var notifications = displayNotificationOption
            try{
                await this.$confirm(`Are you sure you want to dismiss these ${notifications.length} notifications?`, 'Warning',
                    {
                        confirmButtonText: 'Dismiss',
                        type: 'warning'
                    }
                )
                notifications.forEach(async(notification)=>{
                    await this.dismiss(notification)
                })
            }catch(e){
                if(e != 'cancel'){
                    this.displayUserError("Could not dismiss all notifications")
                }
            }
        },
        async dismiss(notification){
            let input = {
                isRead: true,
                id: notification.id
            }
            await this.api(updateNotification, {input})
            await loadNotifications()
        }
    }  
}
</script>
<style scoped>
    .mt-0{
        margin-top: 0rem !important;
    }
    .pt-0{
        padding-top: 0rem !important;
    }
    .preline {
        white-space: pre-line;
    }
</style>