<template>
    <div>
        
        <el-select           
            v-if="focused"
            v-model="select.id"
            @focus="focused = true"
            @visible-change="visbleChange"
            @change="change"
            class="w-full"
            :class="{'required-field': !select.id && required}"
            :clearable="clearable"
            :filterable="filterable"
            :loading="loading"
            :no-data-text="noDataText"
            :no-match-text="noMatchText"
            :placeholder="focused ? select.id ? select.id : focusedPlaceholder : placeholder"
            ref="select"
            :size="size">
                <el-option  key="new" value="addNew" class="border-b mb-2 pb-4">{{addNew}}</el-option>
                <el-option    
                    v-for="item in options"
                    :key="item[itemKey]" 
                    :label="`${item[itemLabel1]}${itemLabel2 ? ' ' + item[itemLabel2] : ''}`"
                    :value="item[itemValue]">
                    <span style="float: left">{{ item[itemLabel1] + ' ' + item[itemLabel2] }} ({{ item.status }})</span>
                </el-option>
        </el-select>

        <div 
            v-else 
            @click="focus"
            :class="{'required-field': !select.id && required}"
            class="input-select">
            <el-input 
                :size="size"
                :class="{'filled-select-input': select.id}"
                suffix-icon="el-icon-arrow-down"
                :placeholder="displayStaticValue(select.id)"
                > 
            </el-input>
        </div>
            
    </div>
</template>

<script>
export default {
    name: "PerformanceSelect",
    props: [
        'addNew',
        'clearable',
        'filterable',
        'focusedPlaceholder',
        'index',
        'itemKey',
        'itemLabel1',
        'itemLabel2',
        'itemValue',
        'noDataText',
        'noMatchText',
        'options',
        'placeholder',
        'required',
        'row',
        'select',
        'size',
    ],
    data(){
        return{
            loading: false,
            focused: false
        }
    },
    methods:{
        change(event) {
            this.$emit('at-change', {value: event, row: this.row})
            this.$nextTick(() => {
                this.focused = false
                this.$refs.select.blur()
            });
        },
        focus(){
            this.focused = true
            this.$nextTick(() => {
                this.$refs.select.focus()
            });
        },
        visbleChange(e){
            if(!e){
                this.$nextTick(() => {
                    this.focused = false
                    this.$refs.select.blur()
                });
            }
        },
        displayStaticValue(value){
            if(!value) return this.placeholder
            if(value == 'addNew') return ''
            let item = this.options.find(option => option[this.itemKey] == value)
            return `${item[this.itemLabel1]}${this.itemLabel2 ? ' ' + item[this.itemLabel2] : ''}`
        }
    }
}
</script>

<style>
    .filled-select-input input::placeholder{
        @apply text-gray-900 not-italic !important;
    }
    .input-select input{
        @apply cursor-pointer !important;
    }
</style>