
<template>
    <!-- PREMIUM TRIANGLE -->
    <div class="premium-warning-container" 
    @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})">
        <div v-if="showSampleDataText" class="sample-pill">Sample Data</div>
        <div class="premium-warning-triangle">
            <p class="transform-text text-sm text-white">Requires Premium</p>
        </div>
    </div>
</template>
<script>
export default {
    name: 'PremiumTriangle',
    props: {
        showSampleDataText: {
            type: Boolean,
            require: false,
            default: false
        }
    }
}
</script>