<template>
    <el-popover
    :placement="placement"
    title="Premium Required"
    width="215"
    :trigger="isLink ? 'click':'hover'"
    :class="{'pl-2': !isLink, 'leading-5': isLink}"> 
        <button v-if="isLink"
            class="link text-sm"
            slot="reference">
            {{buttonText}}
        </button>
        <el-button v-else
            class="opacity-50" 
            :type="typeButton" 
            slot="reference">
        {{buttonText}}
        </el-button>
        <PremiumWarning :action="action"
        :premiumFeature="premiumFeature"
        />
    </el-popover>
</template>
<script>
import PremiumWarning from '@/components/PremiumWarning'
export default {
    name: 'PremiumWarningButton',
    components: { PremiumWarning },
    props: {
        action: {
            type: String,
            require: false,
            default: ''
        },
        premiumFeature:{
            type: String,
            require: false,
            default: ''
        },
        buttonText:{
            type: String,
            require: false,
            default: 'Need Text'
        },
        typeButton: {
            type: String,
            require: false,
            default: 'primary'
        },
        placement: {
            type: String,
            require: false,
            default: 'bottom'
        },
        isLink: {
            type: Boolean,
            require: false,
            default: false
        }
    }
}
</script>