<template>
  <div class="mx-2">
    <el-dropdown @command="selectFilter">
      <span class="el-dropdown-link">
        <span :class="{'text-sm font-bold': isFilterActive }">{{ title }}</span>
        <span class="ml-1 py-0.5 px-1 bg-gray-100">{{ getFilterLabel( currentFilter ) }}</span>
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item 
          :class="{ 'active-date font-medium': selected }" 
          v-for="{ value, label, selected } in options" 
          :key="value" 
          :command="value"
          :divided="value === 'current week'"
        >
          {{ label }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: "SingleSelectFilter",
  
  props: {
    title: {
      type: String,
      required: true,
      default: 'Filtro'
    },
    options: {
      type: Array,
      require: true,
      default: () => []
    },

    currentFilter: {
      type: String,
      require: true
    }
  },

  data () {
    return {
      filterDate: [],
      newOptions: [],
      filtersNotApplied: [ 'all dates', 'Either Email or SMS Off' ],
    }
  },

  computed: {
    isFilterActive() {
      return !this.filtersNotApplied.includes( this.currentFilter ) ;
    },
  },

  methods: {
    getFilterLabel(currentFilter) {
      if (!currentFilter) return currentFilter;
      const foundOption = this.options.find(o => o.value === currentFilter);
      const selectedLabel = foundOption?.label || currentFilter;
      const toCapital = word => word[0].toUpperCase() + word.substr(1);
      return selectedLabel.trim().replace(/\s+/g, ' ').split(' ').map(toCapital).join(' ');
    },

    selectFilter( command ) {
      this.unselectFilterDate();
      const [index, option] = this.getOptionSelected( command );
      this.updateOptionSelected( index, option );
      this.updateOptions();
    },

    unselectFilterDate() {
      const options = this.options.map(option => {
        return {
          ...option,
          selected: false
        }
      })
      this.newOptions = options;
    },

    updateOptionSelected( index, option ) {
      const optionUpdated = {
        ...option,
        selected: true
      };
      const options = [ ...this.newOptions ];
      options[index] = optionUpdated;
      this.newOptions = options;
    },

    getOptionSelected( filter ) {
      const index = this.newOptions.findIndex( option => option.value === filter );
      const option = this.newOptions.find( option => option.value === filter );
      this.filterDate = [ option.value ];
      return [index, option];
    },

    updateOptions() {
      const options = [ ...this.newOptions ];
      const [ currentFilter ] = this.filterDate; 
      this.$emit( 'update-options', { 
        options,
        currentFilter 
      })
    }

  }
}
</script>

<style>

</style>

<style lang="scss" scoped>
.active-date {
  color: #0268BC;
}
</style>