<template>
    <el-dropdown :hide-on-click="false" class="align-top w-4/5">
        <el-button size="small" :class="btnClass">
        {{filterStatusDisplay}}
        <i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>

        <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>
            <el-checkbox v-model="allStatusChecked" @change="handleCheckedAllStatus">All</el-checkbox>
        </el-dropdown-item>

        <el-checkbox-group class="flex flex-col" v-model="statusChecked" v-if="valuelists['staff-status']">
            <el-dropdown-item v-for="item in this.valueListActivesOnly(this.valuelists['staff-status'].items)" :key="item.id">
                <el-checkbox :label="item.value" @change="handleCheckedStatus">
                    {{ item.value }}
                </el-checkbox>
            </el-dropdown-item>
        </el-checkbox-group>
        </el-dropdown-menu>
    </el-dropdown>
</template>
<script>
import {mapState, mapGetters} from "vuex"
export default {
    model:{
        prop: 'value',
        event: 'input'
    },
    props: ['value', 'btnClass'],
    data() {
        return {
            statusItems: [
                'Active',
                'Inactive - Misc',
                'Inactive - Medical Leave',
                'Inactive - Personal Time/Vacation',
                'Inactive - Terminated',
                'Onboarding'
            ],
            allStatusChecked: false,
            tmpStatusCheckedValues: []
        }
    },
    computed:{
    ...mapState(['valuelists']),

        statusChecked: {
            get: function(){
                if(!this.value)
                    return this.tmpStatusCheckedValues
                return this.value
            },
            set: function(value){
                if(this.value)
                    this.$emit('input', value)
                else
                    this.tmpStatusCheckedValues = value
            }
        },
        /** 
         * Displays either "Filter" or the currently filtered Status 
         * @returns {String} 
         * */
        filterStatusDisplay(){
            let joinNames
            let str = this.statusChecked.join(', ')

            if(this.statusChecked.length === 1) {
                joinNames = this.statusChecked[0]
            } else if(this.statusChecked.length === 2) {
                joinNames = `${this.statusChecked[0]}, ${this.statusChecked[1]}`
            } else if(this.statusChecked.length >= 3) {
                joinNames = `${str.slice(0, 30)}... + ${this.statusChecked.length - 2}`
            }

            return !this.statusChecked.length ? 'Filter' : joinNames
        },
    },
    methods:{
        handleCheckedAllStatus(value) {
            this.statusChecked = value ? this.valueListActivesOnly(this.valuelists['staff-status'].items).map(v => (v.value)) : []
        },
        handleCheckedStatus(value) {
            this.allStatusChecked = value.length === this.valueListActivesOnly(this.valuelists['staff-status'].items).length
        }
    },
    watch:{
        statusChecked(statusChecked){
            this.$emit('change',{
                statusChecked,
                filterStatusDisplay: this.filterStatusDisplay,
                allStatusChecked: this.allStatusChecked,
                allStatusItems: this.valueListActivesOnly(this.valuelists['staff-status']?.items || []).map(v => (v.value))
            })
        }
    }
}
</script>