<template>
  <div data-cy="da-personal-info-card" v-loading="loading">
    <div class="float-left">
      <p class="card-title">Personal Info</p>
    </div>
    <div class="flex space-x-4 justify-end">
      <i 
        data-cy="da-personal-info-edit-btn"
        @click="handleEdit()"
        class="icon-button hover:text-brand uil uil-pen mb-4"/>
    </div>

    <el-form label-position="top" size="small" >

        <!-- FIELDS -->
        <div class="flex space-x-4">
          <div class="flex-1">
            <el-form-item label="Name" prop="name" class="non-edit-field" >
            {{ staffData.firstName }} {{staffData.lastName}} 
            </el-form-item>
          </div>
          <div class="flex-1">
            <el-form-item label="Transporter ID" prop="transporterId" class="non-edit-field" :class="{'placeholder': !staffData.transporterId}">
              {{ staffData.transporterId | text }}
            </el-form-item>
          </div>
       </div>

        <div class="flex space-x-4">
          <div class="flex-1">
            <el-form-item label="Email" prop="email" class="non-edit-field" :class="{'placeholder': !staffData.email}">
              {{ staffData.email | text}}
            </el-form-item>
          </div>
          <div class="flex-1">
            <el-form-item label="Phone" prop="phone" class="non-edit-field" :class="{'placeholder': !staffData.phone}">
              {{ staffData.phone | phone }}
            </el-form-item>
          </div>
        </div>

        <div class="flex space-x-4">
          <div class="flex-1">
            <el-form-item label="DOB" prop="dob" class="non-edit-field" :class="{'placeholder': !staffData.dob}">
              {{ staffData.dob | date_timezone }}
            </el-form-item>
          </div>
          <div class="flex-1">
            <el-form-item label="Gender" prop="gender" class="non-edit-field" :class="{'placeholder': !staffData.gender}">
              {{ staffData.gender | text }}
            </el-form-item>
          </div>
          <div class="flex-1">
            <el-form-item label="Pronouns" prop="pronouns" class="non-edit-field" :class="{'placeholder': !staffData.pronouns}">
              {{ staffData.pronouns | text }}
            </el-form-item>
          </div>
        </div> 
    </el-form>

    <!-- EDIT MODAL -->
    <el-dialog
      title="Edit Personal Info"
      :visible.sync="editModalOpen"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      >

      <StaffPersonalInfoForm 
        ref="editForm" 
        :formFields="editData" 
        :rules="rules"/>

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleEditCancel">Cancel</el-button>
        <ButtonWrapper type="primary" :clickHandler="validateForm" :handlerArgs="[false]">Update</ButtonWrapper>
      </span>
    </el-dialog>

  </div>
</template>

<script>

import { Storage } from 'aws-amplify'
import { updateStaff } from '@/store/mutations'
import { getStaff } from '@/graphql/queries'
import { getStaffUpdatedTimestamp } from '@/utilities/timestampQueries'
import StaffPersonalInfoForm from './PersonalInfoForm'
import Validator from '@/utilities/FormValidator'
import { cleanPhoneNumber, phoneNumberFormatUS } from '@/utilities/phoneNumberFormat'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import { SMS, EMAIL } from '@/utilities/constants/messagePreferenceType';
import { createMessagePreferencesHistory } from '@/views/Staff/mutations';

export default {
  name: "StaffPersonalInfo",
  props:[
      'userInfo', 
      'fullName', 
      'staffData'
    ],
  components: {
    StaffPersonalInfoForm,
    ButtonWrapper,
  },
  data() {
    return {
      dialogImageUrl: '',
      dialogVisible: false,
      editModalOpen: false,
      editData: {},
      rules: {
        firstName: [
          { required: true, message: 'Please input a first name', trigger: 'blur' }
        ],
        lastName: [
          { required: true, message: 'Please input a last name', trigger: 'blur' }
        ],
        email: [
          { required: true, trigger: 'blur', validator: Validator.uniqueEmailDA, daId: this.staffData.id },
          { validator: Validator.email, trigger: 'blur' }
        ],
        transporterId: [
          { validator: Validator.uniqueTransporterIdDA, trigger: 'blur', daId: this.staffData.id  }
        ],
        phone: [
          { validator: Validator.validatePhoneNumberDA, trigger: 'blur', daId: this.staffData.id }
        ],
      },
      loading: false
    }
  },

  computed: {
    initials(){
      return this.staffData.firstName.charAt(0) + this.staffData.lastName.charAt(0)
    },
  },
  
  methods: {
    /**
     * Delete the index and the S3 object.
     * @param {string} objectKey S3 key of file to delete
     * @param {number} index index of item to remove from array
     * @param {number} type type of docment to remove
     */

    async commitDeleteFile(objectKey, index) {
      try{
        var timestampResult = await this.api(getStaffUpdatedTimestamp, {id: this.staffData.id})
        var timestamp = timestampResult.data.getStaff.updatedAt
        if(timestamp != this.staffData.updatedAt){
          throw "Record was updated by another user. Please copy any changes and refresh the page."
        }
        var result = await Storage.remove(objectKey)
        this.editData = {...this.staffData}
        await this.validateForm(true)
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },

    handleEdit(){

      this.editData = {...this.staffData}
      this.editData.phone = phoneNumberFormatUS(this.editData.phone)
      this.editModalOpen = true
    },

    /** 
     * Handles Cancel button clicks on edit device modal
     **/
    handleEditCancel(){
      this.editModalOpen = false
      this.editData = {}
    },

    /**
     * Display picture in card window
     * @param {string} url
     */
    handlePictureCardPreview() {
      this.dialogVisible = true;
    },

    /** 
    * Prompts user if file should really be deleted
    * @param {string} objectKey S3 key of file to delete
    * @param {number} index index of item to remove from array
    * @param {number} type type of docment to remove
    */
    async handleRemove(objectKey, index, type){
      this.$confirm('This will permanently delete this ' + type + '. Continue?', 'Warning', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.commitDeleteFile(objectKey, index)
      }).catch(() => {
        console.log("canceled delete")         
      });
    },

    /**
     * Validate form
     */
    async validateForm(uploadingPhoto){
      if(!uploadingPhoto){
        try{
          await this.$refs.editForm.$refs.form.validate()  
          await this.saveData();
        }catch(e){
          console.log(e)
          this.displayUserError("Please fill out all required fields and correct any errors.")
        }
      }
      else{
        await this.saveData();
      }
    },


    /**
     * Save data using the updateStaff GraphQL mutation
     */
    saveData: async function(){
      try{

        let input = {...this.editData}
        if(input.transporterId) input.transporterId = input.transporterId.replace(/\s+/g, '')
        const updateTransporterId = input.transporterId === '' && input.transporterId !== this.staffData.transporterId
        input = this.cleanStaffInput(input)
        input.phone = cleanPhoneNumber(input.phone, 'US')
        
        if(!input.transporterId) delete input.transporterId
        if (updateTransporterId) {
          input.transporterId = null
        }
        if(input.phone ==='') input.phone = null
        if(input.replaceByRoute) delete input.replaceByRoute
        const staff = await this.api(updateStaff, {input}, getStaffUpdatedTimestamp, 'getStaff')

        let messagePreferencesHistoryInput = {
          group: this.staffData.group,
          datetime: new Date().toISOString(),
          messagePreferencesHistoryStaffId: this.staffData.id
        }

        //change receiveTextMessages
        const newReceiveTextMessages = this.editData.receiveTextMessages;
        if(this.staffData.receiveTextMessages != newReceiveTextMessages){
          messagePreferencesHistoryInput.messagePreferenceType = SMS;
          messagePreferencesHistoryInput.description = `${this.userInfo.firstName} ${this.userInfo.lastName} changed the opt-in status to ${newReceiveTextMessages}`;
          await this.createMessagePreferencesHistory(messagePreferencesHistoryInput);
        }

        //change receiveEmailMessages
        const newReceiveEmailMessages = this.editData.receiveEmailMessages
        if(this.staffData.receiveEmailMessages != newReceiveEmailMessages){
          messagePreferencesHistoryInput.messagePreferenceType = EMAIL;
          messagePreferencesHistoryInput.description = `${this.userInfo.firstName} ${this.userInfo.lastName} changed the opt-in status to ${newReceiveEmailMessages}`;
          await this.createMessagePreferencesHistory(messagePreferencesHistoryInput);
        }
        
        this.$emit("loadData")
        this.editModalOpen = false
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },

    async createMessagePreferencesHistory(input){
      try {
        await this.api(createMessagePreferencesHistory, {input})
      } catch (error) {
        this.displayUserError(error);
      }
    },
  }
}

</script>
<style scoped>
  .fileContainerAvatar{
    @apply transition duration-300 text-gray-600 bg-gray-800 pt-5 text-base opacity-0 !important;
  }
  .fileContainerAvatar:hover{
    @apply opacity-100 !important;
  }
  .avatar-upload{
    width: 94px;
    height: 94px;
  }
  .leading-0{
    line-height: 0rem !important;
  }
</style>
