<template>
    <el-form label-width="110px" :model="formFields" :rules="rules" ref="form">
        <el-form-item label="First Name" prop="firstName">
            <el-input data-cy="pi-first-name-in" v-model="formFields.firstName"></el-input>
        </el-form-item>
        <el-form-item label="Last Name" prop="lastName">
            <el-input data-cy="pi-last-name-in" v-model="formFields.lastName"></el-input>
        </el-form-item>
        <div class="flex space-x-2">
            <div class="flex-1">
                <el-form-item label="Email" prop="email">
                    <el-input data-cy="pi-email-in" v-model.trim="formFields.email" ></el-input>
                </el-form-item>
            </div>
            <div class="">
                <el-form-item label="Email Updates" prop="emailUpdates">
                  <el-switch data-cy="pi-email-updates-swch" v-model="formFields.receiveEmailMessages"></el-switch>
                </el-form-item>
            </div>
            <el-tooltip class="item mt-2" effect="dark" placement="top">
                <div slot="content">
                    <p class="font-bold mb-1">Email Opt In Change Log</p>
                    <p v-for="item in emailPreferencesHistory" :key="item.id">
                        <span>{{ item.description }} at {{ $moment(item.datetime).format(communicationsPreferenceFormat) }}</span>
                    </p>
                </div>
                <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
            </el-tooltip>
        </div>
        <div class="flex space-x-2">
          <div class="flex-1">
            <el-form-item label="Phone" prop="phone">
                <InputPhoneNumber data-cy="pi-phone-in" v-model="formFields.phone" ></InputPhoneNumber>
            </el-form-item>
          </div>
          <div class="">
            <el-form-item label="Text Updates" prop="textUpdates">
                <el-switch data-cy="pi-test-updates-swch" v-model="formFields.receiveTextMessages"></el-switch>
            </el-form-item>
          </div>
            <el-tooltip class="item mt-2" effect="dark" placement="top">
                <div slot="content">
                    <p class="font-bold mb-1">Text Opt In Change Log</p>
                    <p v-for="item in smsPreferencesHistory" :key="item.id">
                        <span>{{ item.description }} at {{ $moment(item.datetime).format(communicationsPreferenceFormat) }}</span>
                    </p>
                </div>
                <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
            </el-tooltip>
        </div>
        <el-form-item class="-mt-8 " >
            <div style="margin-top:23px" class="mt-4 leading-6 break-normal text-xs">{{$t('label.associates')}} can control their own communication preferences by sending <strong class="text-black">START</strong> or <strong class="text-black">STOP</strong> to <a class="text-brand underline inline-block" :href="'tel:' + userInfo.tenant.originationNumber">{{phone}}</a> or by clicking the link included in all email communications.</div>
        </el-form-item>
        <el-form-item label="Transporter ID" prop="transporterId">
            <el-input data-cy="pi-transporter-id-in" v-model="formFields.transporterId"></el-input>
        </el-form-item>
        <el-form-item label="DOB" prop="dob">
            <DatePicker data-cy="pi-dob-dpk" :selectedDate="formFields.dob" placeholder="" @date-selected="handleDateSelected($event, 'dob')" />
        </el-form-item>
        <el-form-item label="Gender" prop="gender">
            <el-select data-cy="pi-gender-sel" v-model="formFields.gender" placeholder="Select" clearable>
                <el-option
                    v-for="item in valueListActivesOnly($store.state.valuelists['genders'].items)"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Pronouns" prop="pronouns">
            <el-select data-cy="pi-pronouns-sel" v-model="formFields.pronouns" placeholder="Select" clearable>
                <el-option
                    v-for="item in valueListActivesOnly($store.state.valuelists['pronouns'].items)"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
</template>

<script>
import { mapState } from 'vuex'
import InputPhoneNumber from '@/components/InputPhoneNumber.vue'
import DatePicker from '@/components/Datepicker';
import { SMS, EMAIL, datetimeFormat } from '@/utilities/constants/messagePreferenceType'
import { sortByDateProp } from '@/utilities/sortHelpers'

export default {
    components: {
        InputPhoneNumber,
        DatePicker
    },
    name: 'StaffPersonalInfoForm',
    props:['formFields', 'rules'],
    data: function(){
        return{
            results: null,
            communicationsPreferenceFormat: datetimeFormat,
        }
    },

    computed:{
        ...mapState(['userInfo']),

        smsPreferencesHistory(){
            const messagePreferencesHistory = this.formFields.messagePreferencesHistory?.items || [];
            return this.filterAndSortMessagePreferencesHistory(messagePreferencesHistory, SMS);
        },

        emailPreferencesHistory(){
            const messagePreferencesHistory = this.formFields.messagePreferencesHistory?.items || [];
            return this.filterAndSortMessagePreferencesHistory(messagePreferencesHistory, EMAIL);
        },

        phone(){
            if (!this.userInfo.tenant.originationNumber){
                return
            }else if (this.userInfo.tenant.originationNumber.length <= 10){
                return this.userInfo.tenant.originationNumber
            }else{
                return this.formatPhoneNumber( this.userInfo.tenant.originationNumber.substring(2))
            }
        }
    },
    methods: {
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },

        filterAndSortMessagePreferencesHistory(history=[], type){
            return history.filter(item => item.messagePreferenceType === type).sort(sortByDateProp('datetime'));
        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>