<template>
  <div>
    <!--Header-->
    <!-- <div class="flex justify-end">
      <el-dropdown v-if="!USER_PERMISSIONS || (USER_PERMISSIONS && $store.state.userInfo.permissionFullAccess)" @command="handleDropdownCommand">
            <i class="context-menu uil uil-ellipsis-h"></i>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="coachingSettings">Edit Coaching Preferences</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div> -->

    <div>
      <!-- Coaching settings banner -->
      <div v-if="!tenant.automatedCoachingSendTime && !loading" class="mt-4 flex w-full bg-brand bg-opacity-10 border-t-4 border-brand rounded-b-lg px-4 py-3 shadow-md mb-4" role="alert">
        <div class="py-1 mr-4 flex-initial"><svg class="fill-current h-6 w-6 text-brand " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
        <div class="mr-4 flex-initial">
          <p class="font-bold text-xs md:text-base">Automated coaching settings not configured - edit options here.</p>
        </div>
        <el-button type="primary" class="w-52 ml-auto flex-initial" size="small" @click="$router.push({name: 'SettingsThresholds'})">Coaching Preferences</el-button>
      </div>

      <!-- Pending coaching messages -->
      <el-collapse v-model="collapseActive" class="mt-4">
        <el-collapse-item title="Pending Coaching Messages" name="messages">
          <Sidebar
            :sendPendingMessages.sync="computedSendPendingMessages"
            @show-pending-message="showPendingMessage"
            @go-back="goBack"/>
        </el-collapse-item>
      </el-collapse>

        <FieldAssessmentsIndex key="FieldAssessments"  class="border rounded-lg shadow  p-4 mt-4 child-view"/>

    </div>

  </div>
</template>

<script>

import Sidebar from './components/PendingMessages/Sidebar'
import FieldAssessmentsIndex from './FieldAssessmentsIndex'
import PendingMessage from './components/PendingMessages/PendingMessage'
import {getTenantSendTime} from './queries'
import PremiumWarning from '@/components/PremiumWarning'

  export default {
    props: ['sendPendingMessages'],
    name: 'CoachingIndex',
    components: {
      Sidebar,
      FieldAssessmentsIndex,
      PendingMessage,
      PremiumWarning
    },
    computed:{
      computedSendPendingMessages:{
        get(){
          return this.sendPendingMessages
        },
        set(value){
          this.$emit('update:sendPendingMessages', value)
        }
      }
    },
    data() {
      return {
          USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
        search: '',
        loading: false,
        tenant: {},
        showMessage: false,
        collapseActive: ['messages', 'counselings', 'daIssues', 'daKudos', 'driverRankings'],
      }
    },

    mounted(){
        this.loadData()
    },

    methods:{
        handleDropdownCommand(command){
            if(command === "coachingSettings") this.$router.push({name: 'SettingsThresholds'})
        },

      goBack(){
        this.showMessage = false
      },

      async loadData(){
        try{
          this.loading = true
          var input = {
            id: this.$store.state.userInfo.tenant.id
          }
          var tenant = await this.api(getTenantSendTime, input)
          this.tenant = tenant.data.getTenant

        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }finally{
          this.loading = false
        }
      },

      showPendingMessage(noMessages){
        this.showMessage = noMessages ? false : true
      }
    }

  }
</script>

<style scoped>
  .child-view {
    transition: all .5s cubic-bezier(.55,0,.1,1) !important;
  }
  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }
 
</style>
