<template>
    <div>
        <UploadZone v-if="!processing && !loading && !allImportsDisabled" @change="sharedInsertDocumentForUpload" accept=".xlsx, .pdf, .csv"/>

        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'CoachingIndex' }">Coaching</el-breadcrumb-item>
            <el-breadcrumb-item>
                Import Daily Performance Data
                <el-tooltip  class="item" popper-class="w-64" effect="dark" content="This import is used to add daily Mentor and Netradyne data to Hera. During each import, either or both files may be selected. If both files are selected, the dates must match on each file." placement="bottom">
                    <i class="uil uil-question-circle"/>
                </el-tooltip>
            </el-breadcrumb-item>
        </el-breadcrumb>

        <el-steps :active="activeStep" align-center class="mt-4" :process-status="stepProcessStatus" finish-status="success">
            <el-step title="Upload Files" ></el-step>
            <el-step :title="`Match ${$t('label.associates')}`" ></el-step>
            <el-step title="Import Results" ></el-step>
        </el-steps>
        <!-- Netradyne Import Disabled Warning -->
        <div v-if="systemData.importNetradyneDisabled && !processing" class="col-span-12 bg-orange-100 border-l-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex items-center">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                    <div>Netradyne imports are temporarily disabled and will be back as soon as we update for the latest Amazon changes.</div>
                </div>
            </div>
        </div>

        <!-- Mentor Import Disabled Warning -->
        <div v-if="systemData.importMentorDisabled && !processing" class="col-span-12 bg-orange-100 border-l-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex items-center">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                    <div>Mentor imports are temporarily disabled and will be back as soon as we update for the latest Amazon changes.</div>
                </div>
            </div>
        </div>

        <!-- EOC Import Disabled Warning -->
        <div v-if="systemData.importEocDisabled && !processing" class="col-span-12 bg-orange-100 border-l-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex items-center">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-orange-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                <div>
                    <div>EOC imports are temporarily disabled and will be back as soon as we update for the latest Amazon changes.</div>
                </div>
            </div>
        </div>
        <!-- Step 1: Upload Files -->
        <div v-if="activeStep == 0" class="z-30">
            <Step1
                :key="forceRefesh['Step1']"
                :types="fileTypes"
                :pendingFiles="pendingFiles"
                :loading="loading"
                :processing="processing"
                :dropText="dropText"
                @sharedInsertDocumentForUpload="sharedInsertDocumentForUpload"
                :tips="tips"
                :maxNumberOfFiles="maxNumberOfFiles"
                :multiple="true"
                accept=".xlsx, .csv"
                :systemData = systemData
            />
        </div>

        <!-- Step 2: Match Associates -->
        <div v-else-if="activeStep == 1"  class="z-30">
            <Step2
                :key="forceRefesh['Step2']"
                :suggestionFound="suggestionFound"
                :loading="loading"
                :tableData="tableData"
                :activeAssociateList="activeAssociateList"
                :types="fileTypes"
            >
                <template #underEntries="{row}">
                    <div class="text-xs text-gray-600">{{row.staff.importTransporterId}}</div>
                </template>
            </Step2>
        </div>
        
        <!-- Step 3: Import Results -->
        <div v-else-if="activeStep == 2"  class="z-30">
            <Step3
                :key="forceRefesh['Step3']"
                :loading="loading"
                :importCounts="importCounts"
                :performanceCounts="performanceCounts"
                :importErrors="importErrors"
                :succeededFiles="succeededFiles"
                :showAutomatedMessagesWarning="showAutomatedMessagesWarning"
                :formattedSendTime="formattedSendTime"
                :sendCoachingMessagesNow="sendCoachingMessagesNow"
                :types="filteredFileTypes"
            />
        </div>

        <div class="grid grid-flow-row grid-cols-12 gap-4 mt-4 z-30">
            <div class="text-right col-span-12 z-30">
                <el-button class="w-24 z-30" @click="handleCancel" v-show="activeStep == 0">Cancel</el-button>
                <el-button class="w-24 z-30" @click="back" v-show="activeStep > 0 && activeStep < 2">Back</el-button>
                <el-button class="w-48 z-30" @click="next" :disabled="nextButtonDisabled" type="primary" :loading="loading">{{nextButtonText}}</el-button>
                <el-button v-if="showAutomatedMessagesWarning && hasRosteredToday" class="z-30" @click="finishAndSend" type="success">Finish & Send to Rostered</el-button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import { createTextractJob} from '@/graphql/mutations'
import { staffsByGroupStatus, getTenantSendTime, textractJobsByJobId } from './queries.js'
import { listSystems } from '@/graphql/queries'
import { updateStaff } from './mutations.js'
import Step1 from '@/modules/dataImports/steps/UploadFiles.vue'
import Step2 from '@/modules/dataImports/steps/MatchAssociates.vue'
import Step3 from '@/modules/dataImports/steps/ImportResults.vue'
import UploadZone from '@/components/importing/UploadZone.vue'
import { getDetailsFromFile, fileTypes } from './scripts/daily/fileHelper.js'
import { compileFile, getTableData }  from '@/../amplify/backend/function/ProcessPerformanceData/src/dailyPerformance/dailyCompileHelper.js'
import { S3FileName } from '@/../amplify/backend/function/ParsePerformanceData/src/s3FileNameHelper'
import EventBus from '@/eventBus'
import getDailyRosters from '@/utilities/getDailyRosters'
import moment from 'moment'
import momentTz from 'moment-timezone';
import { API, Storage } from 'aws-amplify'

export default {
    components:{
        Step1,
        Step2,
        Step3,
        UploadZone
    },
    data(){
        return {
            fileTypes,
            tips: [
                "Export Engine Off Compliance (EOC) files from Amazon from your Supplementary Performance Reports section.",
                "Export Daily Mentor files from the Mentor Driver Performance Page.",
                "Export Daily Netradyne files using Netradyne's Report Central - All Alerts Report.",
                `Hera will attempt to automatically determine the file type and date of any file you choose based on its filename. <span class="font-bold">Do not edit the files or file names before importing them</span>.`
            ],
            storage:{
                associateLevel: {
                    mentorData: [],
                    netradyneData: [],
                    eocData: []
                },
                dspLevel: {
                    eocData: []
                }
            },
            associateLookupMap: {},
            activeStep: 0,
            stepProcessStatus: 'finish',
            pendingFiles: [],
            succeededFiles: [],
            processing: false,
            suggestionFound: false,
            associateList:[],
            loading: false,
            tableData:[[],[]],
            forceRefesh:{
                Step1: 0,
                Step2: 0,
                Step3: 0
            },
            hasRosteredToday: false,
            importCounts: {
                mentor: { created: 0, updated: 0, errors: 0, savedFiles: 0},
                netradyne: { created: 0, updated: 0, errors: 0, savedFiles: 0},
                eoc: { created: 0, updated: 0, errors: 0, savedFiles: 0}
            },
            performanceCounts: {
                message: { created: 0, updated: 0, errors: 0 },
                issue: { created: 0, deleted:0, updated: 0, errors: 0 },
                kudo: { created: 0, deleted:0, updated: 0, errors: 0 }
            },
            importErrors:{
                mentor: [],
                netradyne: [],
                eoc: []
            },
            showAutomatedMessagesWarning: false,
            sendCoachingMessagesNow: false,
            tenant: this.$store.state.userInfo.tenant,
            importId: null,
            maxNumberOfFiles: 10,
            daysToImport: [],
            systemData: {},
        }
    },
    computed:{
        ...mapState(['userInfo']), 

        formattedSendTime(){
            if(!this.tenant.automatedCoachingSendTime) return null
            var time = this.convert24to12Time(this.tenant.automatedCoachingSendTime)
            if(this.timeZone) return time
            return ''
        },
        proxyParams(){
            return {
                associates: this.activeAssociateList,
                types: fileTypes,
                associateLookupMap: this.associateLookupMap,
                suggestionFound: (value) => this.suggestionFound = value
            }
        },
        filteredFileTypes(){
            return fileTypes.filter(type => type.shortName !== 'weeklyMentor')
        },
        nextButtonText(){
            if(this.activeStep == 0 && this.processing) return 'Continue'
            if(this.activeStep == 0) return this.pendingFiles?.length > 1 ? 'Upload All' : 'Upload File'
            if(this.activeStep == 1) return 'Import'
            return 'Finish'
        },
        nextButtonDisabled(){
            return (this.activeStep == 0 && !this.processing && !this.pendingFiles.length) ||
                (this.activeStep == 0 && this.processing && !!this.pendingFiles.filter(job => job.jobStatus === "NOT_STARTED").length)
                || this.loading || this.pendingFiles.length > this.maxNumberOfFiles ||
                (this.systemData.importEocDisabled && this.importTypes.eoc > 0 && this.importTypes.mentor < 1 && this.importTypes.netradyne < 1) ||
                (this.systemData.importNetradyneDisabled && this.importTypes.eoc < 1 && this.importTypes.mentor <1  && this.importTypes.netradyne >0) ||
                (this.systemData.importMentorDisabled && this.importTypes.eoc < 1 && this.importTypes.mentor >0 && this.importTypes.netradyne <1) ||
                (this.systemData.importEocDisabled && this.systemData.importNetradyneDisabled && this.importTypes.eoc > 0 && this.importTypes.mentor <1 && this.importTypes.netradyne >0) ||
                (this.systemData.importEocDisabled && this.systemData.importMentorDisabled && this.importTypes.eoc > 0 && this.importTypes.mentor >0 && this.importTypes.netradyne <1) ||
                (this.systemData.importNetradyneDisabled && this.systemData.importMentorDisabled && this.importTypes.eoc < 1 && this.importTypes.mentor > 0 && this.importTypes.netradyne > 0)
        },
        importTypes(){
            let types = {
                eoc: this.eocPendingFiles.length,
                mentor: this.mentorPendingFiles.length,
                netradyne: this.netradynePendingFiles.length
            }
            return types
        },
        eocPendingFiles(){
            return this.pendingFiles.filter(pendingJob =>{
                return pendingJob.tag === 'EOC'
            })
        },
        mentorPendingFiles(){
            return this.pendingFiles.filter(pendingJob =>{
                return pendingJob.tag === 'Mentor'
            })
        },
        netradynePendingFiles(){
            return this.pendingFiles.filter(pendingJob =>{
                return pendingJob.tag === 'Netradyne'
            })
        },
        activeAssociateList: {
            get(){
                return this.associateList.sort(this.sortMethod)
            },
            set(value){
                this.associateList = value
            }
        },
        matched(){
            let matched0 = this.tableData[0].filter(function(da){
                return da.staff.id
            })

            let matched1 = this.tableData[1].filter(function(da){
                return da.staff.id
            })

            let matched = [...matched0, ...matched1]

            const matchedStaffs = matched.map(({staff})=>{
                const row = {
                    id: staff.id
                }
                if(staff.importNameKey){
                    row.importNameKey = staff.importNameKey
                }
                if(staff.importTransporterId){
                    row.importTransporterId = staff.importTransporterId
                }
                if(staff.overwriteTransporterID){
                    row.overwriteTransporterID = 1
                }
                if(staff.importTransporterIDtoHera){
                    row.importTransporterIDtoHera = 1
                }
                return row
            })

            return matchedStaffs
        },
        numberUnmatched(){
            let unmatched = this.tableData[0].filter(function(da){
                return !da.staff.id
            }).length

            unmatched += this.tableData[1].filter(function(da){
                return !da.staff.id
            }).length

            return unmatched
        },
        dropText(){
            let countEnabled = 
              !this.systemData.importNetradyneDisabled 
            + !this.systemData.importMentorDisabled 
            + !this.systemData.importEocDisabled
            let text = 'Drop any'

            if(!this.systemData.importNetradyneDisabled){
                text += ' Netradyne'
                if(countEnabled == 3) text += ','
                else if(countEnabled == 2 
                && this.systemData.importEocDisabled
                ) text += ' or'
            }
            if(!this.systemData.importMentorDisabled){
                text += ' Mentor'
                if(countEnabled == 3) text += ','
            }
            if(!this.systemData.importEocDisabled){
                if(countEnabled >= 2) text += ' or'
                text += ' EOC'
            }

            text += ' file here or click to choose'

            return text
        },
        allImportsDisabled(){
            return this.systemData.importNetradyneDisabled 
            && this.systemData.importMentorDisabled 
            && this.systemData.importEocDisabled
        },
    },
    methods:{
        async loadSystem(){
            try{
                var system = await this.gLoadListAll(listSystems, {}, 'listSystems')
                this.systemData = system[0]
            }catch(e){
                console.log(e)
                this.$message("Error")
            }
        },
        
        handleCancel(){
            if(this.activeStep == 0 && this.processing){
                this.pendingFiles = []
                this.succeededFiles = []
                this.processing = false
                history.pushState({}, '', window.location.pathname.replace(this.importId, "") )
                this.importId = null
                return
            }
            this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            })
            .then(() => {
                this.$router.go(-2)
            })
            .catch(() => {
                console.log("canceled cancel import")         
            });
        },
        back(){
            this.activeStep--
            if(this.activeStep == 0 && !this.processing){
                this.pendingFiles = []
                this.succeededFiles = []
                history.pushState({}, '', window.location.pathname.replace(this.importId, "") )
                this.importId = null
            }else if(this.activeStep == 1){
                this.tableData = [[],[]]
            }
        },
        async next(){
            if(!this.importId){
                this.importId = this.$store.state.userInfo.id + '_' + new Date().getTime()
                history.pushState({}, '', (window.location.pathname + "/" + this.importId ).replace(/\/\//g,"/") )
            }
            if(this.activeStep == 0 && !this.processing){
                this.processing = true

                // remove any pending jobs that are disabled so they aren't processed
                if(this.systemData.importNetradyneDisabled){
                    this.pendingFiles = this.pendingFiles.filter(job =>{
                        return job.tag != 'Netradyne'
                    })
                }
                if(this.systemData.importMentorDisabled){
                    this.pendingFiles = this.pendingFiles.filter(job =>{
                        return job.tag != 'Mentor'
                    })
                }
                if(this.systemData.importEocDisabled){
                    this.pendingFiles = this.pendingFiles.filter(job =>{
                        return job.tag != 'EOC'
                    })
                }

                for (const pendingFile of this.pendingFiles) {
                    await this.importDocMulti(pendingFile)
                }
                this.loading = false
            }
            else if(this.activeStep == 0 && this.processing){
                this.loading = true
                this.activeStep++
                setTimeout(this.compileResults, 100)
            }else if(this.activeStep == 1 ){
                if(this.numberUnmatched == 0){
                    await this.importData()
                }else{
                    // confirm to ignore unmatched DAs
                    let singular = `There is ${this.numberUnmatched} selected ${this.$t('label.associate')} that is unmatched. This unmatched ${this.$t('label.associate_s')} data will not be imported.`
                    let plural = `There are ${this.numberUnmatched} selected ${this.$t('label.associates')} that are unmatched. These unmatched No Previously Matched ${this.$t('label.associates')}' data will not be imported.`
                    let count = this.pluralize(this.numberUnmatched, singular, plural)
                    this.$confirm(count + " Continue?", 'Warning', {
                        confirmButtonText: 'Continue',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    })
                    .then(async () => {
                        await this.importData()
                    })
                    .catch(() => {
                        console.log("canceled import")         
                    })
                }

                let group = this.$store.state.userInfo.tenant.group
                let date = momentTz().tz(this.getTenantTimeZone()).format('YYYY-MM-DD')
                this.hasRosteredToday = await getDailyRosters(group, date)
            }
            else if(this.activeStep == 2 ){
                this.$router.push({ path: '/performance-and-coaching' })
            }
        },
        async importDocMulti(pendingJob){
            
            const { name: encodedFileName, file, type } = pendingJob

            const s3Key = this.$store.state.userInfo.tenant.group + '/' + type + '/'+ encodedFileName

            // Validate if S3key exists in the S3 bucket
            const isPDFFileExists = await safeFunction(Storage.list)(s3Key)

            const buffCurrentPdf = await file.arrayBuffer()
            const buffLastUploadedPdf = !isPDFFileExists.length ? false : await safeFunction(Storage.get)(s3Key, {download: true}).then(async({Body})=>await Body.arrayBuffer()).catch(e=>0)
            const pdfIsExactlyTheSame = buffLastUploadedPdf && Buffer.from(buffCurrentPdf, 0).equals(Buffer.from(buffLastUploadedPdf, 0))

            if(!pdfIsExactlyTheSame){ /* If the binary files are different or not uploaded yet */
                const expires = new Date()
                expires.setHours(expires.getHours()+24*7)
                //Upload to s3 bucket
                await safeFunction(Storage.put)(s3Key, file, {
                    contentType: 'application/octet-stream',
                    expires
                })
            }

            var usesXLcoaching = false
            var usesXLcoachingString = 'false'
            if(this.$store.state.userInfo.tenant.usesXLcoaching){
                usesXLcoaching = true
                usesXLcoachingString = "true"
            }

            //Create textract job
            let input = {
                key: s3Key,
                fileName: file.name,
                jobStatus: "NOT_STARTED",
                isProcessed: false,
                isProcessedS: 'false', // need the string version since booleans can't be sort fields
                type: type,
                year: pendingJob.year,
                week: pendingJob.week,
                jobId: this.importId,
                textractJobTenantId: this.$store.state.userInfo.tenant.id,
                group: this.$store.state.userInfo.tenant.group,
                owner: this.$store.state.userInfo.cognitoSub,
                tenantUsesXL: usesXLcoaching,
                tenantUsesXLS: usesXLcoachingString,
                timeZone: this.getTenantTimeZone(),
                metadataCreationDate: pendingJob.file.lastModifiedDate,
                metadataModificationDate: pendingJob.file.lastModifiedDate,
                metadataYear: pendingJob.year,
                metadataWeek: moment(pendingJob.date).isoWeek() - 1,
                date: moment(pendingJob.date).format('YYYY-MM-DD')
            }
            const response = await this.api(createTextractJob, {input})
            const job = response.data.createTextractJob
            // set id of job record to pendingImportJob object
            pendingJob.id = job.id
            pendingJob.jobId = job.jobId
            pendingJob.key = s3Key
        },
        compileResults(){
            //Create DA Lookup Table
            const associateList = {}
            this.activeAssociateList.forEach((associate) => {
                if(associate.transporterId){
                    const key = this.cleanTransporterId(associate.transporterId)
                    associateList[key] = {...associate, transporterId: key}
                }
            })

            this.associateLookupMap = associateList
            
            const storage = {
                associateLevel: {
                    mentorData: [],
                    netradyneData: [],
                    eocData: []
                },
                dspLevel: {
                    eocData: []
                }
            }

            this.succeededFiles.forEach(file => compileFile(file, storage, this.proxyParams) )
            this.storage = storage
            this.tableData = getTableData(this.storage)
            this.loading = false
        },
        async importData(){
            this.loading = true
            try{
                this.activeStep++
                const apiName = 'ProcessPerformanceData'
                const path = '/process'
                const post = {
                    body: {
                        importType: "daily",
                        importId: this.importId,
                        rows: this.matched,
                        tenantId: this.$store.state.userInfo.tenant.id,
                        group: this.$store.state.userInfo.tenant.group,
                        owner: this.$store.state.userInfo.cognitoSub,
                        clientTimeZone: this.getTenantTimeZone(),
                        user: {
                            id: this.$store.state.userInfo.id,
                            userName: `${this.$store.state.userInfo.firstName} ${this.$store.state.userInfo.lastName}`
                        },
                        daysToImport: this.daysToImportOrdered( this.pendingFiles )
                    }
                }
                let bytes = encodeURI(JSON.stringify(post)).split(/%..|./).length - 1;
                const responsePerformanceAPI = await API.post(apiName, path, post)
                //console.log({responsePerformanceAPI})
                await this.updateDArecords()
            }catch(e){
                console.log(e)
            }finally{
                this.importLoading = false
            }

        },
        /**
         * Update Transporter ID Record to DAs with checkboxes
         */
        async updateDArecords() {
            try {
                const staffToUpdate = this.matched.filter( staff => staff.importTransporterId && (staff.importTransporterIDtoHera/* || staff.overwriteTransporterID*/))

                staffToUpdate?.forEach( async (staff) => {
                    var input = {
                        id: staff.id,
                        group: this.$store.state.userInfo.tenant.group,
                        transporterId: staff.importTransporterId
                    }
                    const re = await this.api(updateStaff, { input })
                    console.log({re})
                })
            } catch (e) {
                throw e
            }
        },
        async sharedInsertDocumentForUpload(e){
            var files = e.target.files || e.dataTransfer.files
            const fileListAsArray = Array.from(files)
            for (const file of fileListAsArray) {

                const fileName = file.name

                const fileIncluded = this.pendingFiles.some(f => {
                    return f.name === fileName
                })
                
                if(fileIncluded){
                    return
                }

                const details = await getDetailsFromFile(file);

                if(!details || details?.error){
                    this.displayUserError(details?.errorMessage || fileName + ' is not a valid file.')
                }else{
                    const pendingFile = {
                        file: file,
                        name: S3FileName.encode(fileName),
                        date: details.date,
                        dateString: details.dateString,
                        daysToImport: details.daystoImport,
                        week: details.week,
                        year: details.year,
                        type: details.type.shortName,
                        tag: details.type.name,
                        jobStatus: 'NOT_STARTED',
                    }
                    this.pendingFiles.push(pendingFile)
                }
            }
        },
        finishAndSend(){
            this.$router.push({name: 'CoachingIndex', params: {sendPendingMessages: 'rostered'}})
        },
        /**
         * Loads list of DAs for selects
         */
        async loadActiveAssociateList(){
            this.loading = true
            var input = {
                group: this.$store.state.userInfo.tenant.group,
            }
            this.activeAssociateList = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
            this.loading = false
        },
        sortMethod(a,b) {
            return ('' + a.firstName.toLowerCase()).localeCompare(b.firstName.toLowerCase())
        },

        /**
         * Loads tenant data
         */
        loadTenant: async function(){
            const tenant = await this.api(getTenantSendTime, { id: this.tenant.id })
            this.tenant = {...this.tenant, ...tenant.data.getTenant}
        },

        extractDateFromFileName( fileName ) {
            const regex = /(\d{8})/;
            const match = fileName.match(regex);
            let date = null;
            let dateFormated = '';
            if (match && match.length > 1) {
                date = match[1];
            } else {
                console.log('No se encontró una fecha válida.');
            }
            if (date) {
                let year = date.slice(0, 4);
                let month = date.slice(4, 6);
                let day = date.slice(6)
                dateFormated = `${year}-${month}-${day}`
            }
            return dateFormated;
        },

        daysToImportOrdered( pendingFiles ) {
            const filesOrdered = pendingFiles.map( record => {
                return { ...record, dateFormated: this.extractDateFromFileName( record.name ) }
            }).sort(( a, b ) => new Date( a.dateFormated ) - new Date( b.dateFormated )).map( record => record.daysToImport);
            return filesOrdered;
        }
    },

    async mounted(){
        this.loadActiveAssociateList()
        this.loadSystem()
        this.loadTenant()

        EventBus.$on('mark-daily-job-complete', async (payload)=>{
            const {id, importId, jobStatus, results} = payload?.params || {}
            if(importId === this.importId){
                let job = this.pendingFiles.find(job => job.id === id)
                job.jobStatus = jobStatus
                job.results = results
                this.succeededFiles.push(job)
                this.forceRefesh['Step1']++
            }
        })

        EventBus.$on('daily-job-fail', async (payload) =>{
            const {importId, jobStatus} = payload.params
            if(importId === this.importId){
                let job = this.pendingFiles.find(job => job.id === importId)
                job.jobStatus = jobStatus
                const tenantName = this.tenant.companyName
                this.$notify({
                    type: 'error',
                    title: `Error importing ${payload.tag} for ${tenantName}.`,
                    message: `There was an error importing your ${payload.tag} file named ${payload.name}.`,
                    duration: 0,
                    dangerouslyUseHTMLString: true
                })
                this.forceRefesh['Step1']++
            }

        })

        EventBus.$on('load-daily-import-results', async (payload) =>{
            const { importId, importCounts, performanceCounts, importErrors } = payload
            if(importId === this.importId){
                //check if automated coaching message time has passed
                if(performanceCounts.message.created > 0 ){
                    const now = new Date();
                    const nowMoment = moment(now)
                    const savedMoment = moment(this.tenant.automatedCoachingSendTime, ["hh:mm:ss"])
                    
                    const currentTimeHM = nowMoment.format('HHmm')
                    const savedTimeHM =  savedMoment.format('HHmm')
                    
                    if(parseInt(savedTimeHM) < parseInt(currentTimeHM) && performanceCounts.message.created > 0){
                        this.showAutomatedMessagesWarning = true
                        this.sendCoachingMessagesNow = true
                    }
                }

                this.performanceCounts = performanceCounts
                this.importCounts = importCounts
                this.importErrors = importErrors
                this.stepProcessStatus = 'success'
                this.loading = false
            }
        })

        const { importId, importCounts, performanceCounts, importErrors } = this.$route.params
        if(importId){
            this.loading = true
            this.importId = importId
            // load jobs from DynamoDB and go to processing step
            let input = {
                jobId: importId
            }
            let jobs = await this.gLoadListAll(textractJobsByJobId, input, 'textractJobsByJobId')
            let jobsWithErrors = jobs.filter( ( { jobStatus } ) => jobStatus === "ERROR" );
            const processInvalid = jobs.length === jobsWithErrors.length
            if (!processInvalid){

                let aux = []
                for (const job of jobs) {
                    job.jobId = job.id
                    let arr = job.key.split('/')
                    job.results = JSON.parse(job.results)
                    const file = {
                        name: arr[arr.length - 1],
                        results: job.results
                    }
                    job.name = file.name
                    const details = await getDetailsFromFile(file)
                    job.date = details.date
                    job.dateString = details.dateString
                    job.tag = details.type.name
                    job.daysToImport = details.daystoImport;
                    aux.push(job)
                }

                this.pendingFiles = jobs = aux
                this.succeededFiles = jobs.filter( ( { jobStatus } ) => jobStatus === "SUCCEEDED" )
            }

            if(importCounts){ // show results page
                this.importCounts = importCounts
                this.importErrors = importErrors
                this.performanceCounts = performanceCounts
                this.pendingResults = false
                this.stepProcessStatus = 'success'
                this.activeStep = 2
            }

            this.processing = true
            this.loading = false
        }
    },
    beforeDestroy(){
        EventBus.$off('load-daily-import-results')
        EventBus.$off('mark-daily-job-complete')
        EventBus.$off('daily-job-fail')
    }
}
</script>
<style>
.el-notification__content{
    overflow-wrap: break-word !important;
}
</style>