<template>
    <div v-loading="loading" class="items-center" data-cy="card_field-assessment">
        <div class="dashboard-card-header">
            <i class="uil uil-truck text-2xl"></i>
            <p class="font-bold" data-cy="card_title">{{title}}</p>
        </div>
        <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" :before-leave="beforeLeaveTab">
            <el-tab-pane label="expiring">
                <span slot="label">
                    <div class="text-lg text-center h-4 text-brand">0</div>
                    <div class="text-xs text-black">Recommended</div>
                </span>
                <div class="h-64">
                    <div class="p-4 text-sm text-gray-600">
                        Feature Coming Soon
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="expired">
                <span slot="label">
                    <div class="text-lg text-center h-4 text-brand">0</div>
                    <div class="text-xs text-black">Recently Completed</div>
                </span>
                <div class="h-64">
                    <div class="p-4 text-sm text-gray-600">
                        Feature Coming Soon
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    
        <div class="dashboard-card-footer">
            <router-link :to="{ name: 'StaffIndex' }" disabled class=" cursor-not-allowed opacity-50 link text-sm">View All</router-link>
        </div>
    </div>
</template>

<script>

import { staffsByGroup, staffsDlExpirationDate } from '../../queries';
import { updateStaff } from '@/graphql/mutations'

export default {
    name: "SummaryCard",
    data(){
        return{
            title:"",
            staffExpiring:[],
            staffExpired:[],
            subtitleExpiring:"",
            subtitleExpired:"",
            loading: true,
            reloading: false,
            showExpiring: true,
            showExpired: false,
            currentTab: "expiring",
            showAllExpired: false,
            showAllExpiring: false,
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {

        filteredDLStaffExpired(){
        return this.staffExpired.slice(0 , 5)
        },
        filteredDLStaffExpiring(){
        return this.staffExpiring.slice(0 , 5)
        },
        showAllExpiringHeightClass(){
            if(this.showAllExpiring == true){
                return ""
            }
            else{
                return "h-36"
            }
        },
        showAllExpiredHeightClass(){
            if(this.showAllExpired == true){
                return ""
            }
            else{
                return "h-36"
            }
        },
        showAllButtonText(){
            if(this.showAllExpiring == true && this.currentTab == "expiring"){
                return "Show Less"
            }
            else if(this.showAllExpired == true && this.currentTab == "expired"){
                return "Show Less"
            }
            else{
                return "Show All"
            }
        }

    },
    methods:{
        
        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        /**
         * Get a list and count of Staff whose DL is expired or expiring soon
         */
        async checkExpirationDate(){
            try{
                var today = this.$moment()
                var twoMonths = this.$moment().add( 2 , "months" ).format()
                var input = {
                group: this.$store.state.userInfo.tenant.group,
                filter: {status: {eq: "Active"}, dlExpiration: {le: twoMonths}}
                }
                var results = await this.api( staffsDlExpirationDate, input )
                var staffs = results.data.staffsByGroup.items
                let i = 0
                staffs.forEach (staff => {
                let expDate = this.$moment(staff.dlExpiration)
                if(expDate._d != "Invalid Date"){
                    if (expDate < today){
                    staff.dlExpiration = this.$moment(staff.dlExpiration).format( "M/D/YYYY")
                    this.staffExpired.push({staff: staff, index: i, edit: false})
                    }else {
                    staff.dlExpiration = this.$moment(staff.dlExpiration).format( "M/D/YYYY")
                    this.staffExpiring.push({staff: staff, index: i, edit: false})
                    }
                    i++
                }
                })
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.reloading = false
            }
        },
        editLicense(staff, index){
            let staffArr = []
            if (this.showExpiring){  staffArr = this.filteredDLStaffExpiring}
            else if (this.showExpired) { staffArr = this.filteredDLStaffExpired}
            //deselect any previously selected
            for (let i = 0 ; i< staffArr.length ; i++){
                staffArr[i].edit = false

            }
            if (this.showExpiring){
                this.staffExpiring[index].edit = true
            }
            else if(this.showExpired){
                this.staffExpired[index].edit = true
            }
        },
        async loadData(){
            this.title = "Field Assessments"
            this.subtitleExpiring = "Due Soon"
            this.subtitleExpired = "Past Due"
            this.loading = false
            await this.checkExpirationDate()
        },

        /** 
         * Handles Cancel button clicks on send message modal
         **/
        handleEditCancel(index){
            this.editData = {...this.staffData}
            this.messageModalOpen = false
            this.infractionModalOpen = false
            this.messageText = ""
            if (this.showExpiring && this.staffExpiring[index].edit == true) {this.staffExpiring[index].edit = false}
            if (this.showExpired && this.staffExpired[index].edit == true) {this.staffExpired[index].edit = false}
        },
        /** 
        * Change which list of drivers licenses are displayed on report summary card
        */
        toggleDisplay(input) {
            if (input == "expiring"){
            this.showExpiring = true 
            this.showExpired = false
            }else if (input == "expired"){
            this.showExpiring = false
            this.showExpired = true
            }
        },  
        /**
         * Save data using the updateStaff GraphQL mutation
         */
        saveData: async function(staffMember){
            try{
                var input = staffMember
                const staff = await this.api(updateStaff, {input})
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },
        /**
         * Save license using the updateStaff GraphQL mutation
         */
        saveLicense: async function(staffMember, index){
            //clean input
            let d = new Date(staffMember.dlExpiration)
            staffMember.dlExpiration = d
            this.reloading = true
            let results = await this.saveData(staffMember)
            this.staff
            if (this.showExpiring && this.staffExpiring[index].edit == true) {this.staffExpiring[index].edit = false}
            if (this.showExpired && this.staffExpired[index].edit == true) {this.staffExpired[index].edit = false}
            this.staffExpiring = []
            this.staffExpired = []
            results = await this.checkExpirationDate()
            this.reloading = false
            this.displayUserNotification({
                title: 'Updated',
                message: 'License saved',
                type: 'success'
            })
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },

        handleShowAll(){
            if(this.currentTab == "expiring"){
                this.showAllExpiring = !this.showAllExpiring
            }
            else{
                this.showAllExpired = !this.showAllExpired
            }
        }
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>