<template>
    <div data-cy="card_hera-rankings" >
        <Card :title="$t('label.associate')+' Hera Rankings'"
        iconClass="uil-award" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasPerformanceCoaching && !hasReadOnlyAccess('performanceCoaching')">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
                <el-tab-pane :label="tab.name" v-for="tab in tabs" :name="tab.name" :key="tab.name">
                    <span slot="label">
                        <div class="text-black text-lg text-center h-4">{{tab.table.length}}</div>
                        <div class="text-xs text-black">{{tab.title}}</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="da in tab.table" :key="da.id" class="px-2 py-1 cursor-pointer hover:bg-blue-100 rounded h-6">
                                <div class="w-full grid grid-cols-12 grid-flow-row" @click="handleRowClick(da)">    
                                    <div class="col-span-1 text-xs truncate font-bold">{{da.heraRank}}</div>
                                    <div class="col-span-5 text-xs truncate">{{da.firstName}} {{da.lastName}}</div>
                                    <div class="col-span-2 text-xs truncate flex justify-end">
                                        <span>{{da.heraScore}}</span>
                                        <i v-if="da.heraScore > da.heraScorePrev" class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-green-500"></i>
                                        <i v-else-if="da.heraScore == da.heraScorePrev" class="-mt-1 text-lg uil uil-bars text-blue-500"></i>
                                        <i v-else-if="da.heraScore < da.heraScorePrev" class=" -mt-1 text-lg p-0 uil uil-sort-amount-down text-red-500"></i>
                                    </div>
                                    <div class="col-span-2 text-xs truncate text-right">{{da.issues ? da.issues.length : 0}} Issues,</div>
                                    <div class="col-span-2 text-xs truncate text-right">{{da.kudos ? da.kudos.length : 0 }} Kudos</div>
                                </div>
                            </div>
                            <div v-if="tab.table.length == 0 && !loading" class="px-2 py-1">
                                No {{$t('label.associates')}}
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <router-link v-if="hasPerformanceCoaching" :to="{ name: 'DaPerformanceReport' }" data-cy="card_link-DaPerformanceReport" class="link text-sm">View {{$t('label.associate')}} Performance Report</router-link>
            <PremiumWarningButton v-else isLink :buttonText="'View '+$t('label.associate')+' Performance Report'" action="view report" premiumFeature="performance and coaching" placement="bottom"/>
        </template>
        </Card>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EventBus from '@/eventBus'
import { loadDaPerformanceData } from '@/views/DaPerformanceReport/calculateDaPerformanceReport'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import Card from '@/components/Dashboard/Card'

export default {
    name: "DaPerformanceSummary",
    components: { 
        PremiumWarningButton,
        Card
    },
    data(){
        return{
            loading: false,
            currentTab: "highestRanking",
            tenant: {},
            activeDas: {},
            tableDataHighest: [],
            tableDataLowest: [],
            tabs: [
                {name: 'highestRanking', table: [], title: 'Highest Ranking'},
                {name: 'lowesRanking', table: [], title: 'Lowest Ranking'}
            ],
            
            sampleData:[
                { firstName: 'Rafael', lastName: 'Aparicio', issues: [1,], kudos: [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1], heraScore: 314, heraScorePrev: 0, heraRank: 1,},
                { firstName: 'Juan', lastName: 'Gonzalez', issues: [1,1,1], kudos: [1,1,1,1,1,1,1], heraScore: 270, heraScorePrev: 0, heraRank: 2,},
                { firstName: 'Dajuan', lastName: 'Mcgrill', issues: [1,1], kudos: [1,1,1,1,1], heraScore: 220, heraScorePrev: 0, heraRank: 3,},
                { firstName: 'Cinque', lastName: 'Vitela', issues: [1,1,1,1,1,1], kudos: [1,1,1,1,1,1,1], heraScore: 140, heraScorePrev: 0, heraRank: 4,},
                { firstName: 'Amand', lastName: 'Mcfrazier', issues: [1,1,1], kudos: [1,1,1,], heraScore: 75, heraScorePrev: 0, heraRank: 5,},
                { firstName: 'Omar', lastName: 'Arredondo', issues: [1,1,1,1,1,1], kudos: [1,1,1,1,1,1,1,1], heraScore:44, heraScorePrev: 0, heraRank: 6,},
                { firstName: 'Kevvon', lastName: 'Vargas', issues: [1,1,,1,1,1], kudos: [1,1,1,1], heraScore: 10, heraScorePrev: 0, heraRank: 7,},
                { firstName: 'Diana', lastName: 'Young', issues: [1,1,1,1,1,1,1,], kudos: [1,1,1], heraScore: 0, heraScorePrev: 0, heraRank: 8,},
                { firstName: 'Bianca', lastName: 'Gidanian', issues: [1,1,1,1,1,1,1,1,1,1], kudos: [1], heraScore: -34, heraScorePrev: 0, heraRank: 9,},
                { firstName: 'Anneliese', lastName: 'Gomez', issues: [1,1,1,1,1,1,1,1,1,1,1,1,], kudos: [1], heraScore: -75, heraScorePrev: 0, heraRank: 10,}
            ]
        }
    },

    mounted(){
        this.$nextTick(async() => {
            if(this.getDaPerformanceData.length && Object.keys(this.getTenantCoachingInfo).length){
                this.getDataFromStore()
            }else{
                await this.loadData()
            }
        })

        EventBus.$on('reload-da-performance-report', () => { 
            this.getDataFromStore()
        })
    },

    beforeDestroy(){
        EventBus.$off('reload-da-performance-report')
    },

    computed: {
        ...mapGetters([
            'hasPerformanceCoaching',
            'hasReadOnlyAccess',
            'getTenantCoachingInfo',
            'getDaPerformanceData',
        ]),
    },

    methods:{

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },

        handleRowClick(row){
            let previousRouteText = 'Dashboard',
            previousRouteName = this.$route.name

            this.$router.push({name: 'StaffDetail', params:{id: row.id}, query: {previousRouteText, previousRouteName}})
        },

        getDataFromStore(){
            this.tenant = this.getTenantCoachingInfo
            this.tabs[0].table = this.getDaPerformanceData.slice(0, 10)
            this.tabs[1].table = this.getDaPerformanceData.slice(Math.max(this.getDaPerformanceData.length - 10, 0))
        }, 

        async loadData(){
            this.loading = true

            if(!this.hasPerformanceCoaching && !this.hasReadOnlyAccess('performanceCoaching')){
                this.loading = false
                this.tabs[0].table = this.sampleData.slice(0, 10)
                this.tabs[1].table = this.sampleData.slice(Math.max(this.sampleData.length - 10, 0))
                return
            }
           
            try{
                const { tenant, tableData } = await loadDaPerformanceData()
                this.tenant = tenant
                this.tabs[0].table = tableData.slice(0, 10)
                this.tabs[1].table = tableData.slice(Math.max(tableData.length - 10, 0))
            }catch(e){
                this.printUserError(e)
            }finally{
                this.loading = false
            }
        }
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>