<template>
    <div class="items-center flex-1" data-cy="card_netradyne-alert">
        <Card :title="title" :iconClass="icon"
        :loading="loading"
        isPremiumDashboard showSampleDataText
        :premiumFeature="!hasPerformanceCoaching && !hasReadOnlyAccess('performanceCoaching')">
          <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
                <el-tab-pane v-for="tab in tabs" :key="tab.key" :name="tab.name" :label="tab.title">
                    <span slot="label">
                        <div class="text-black text-lg text-center h-4"> {{ tab.table.length }} </div>
                        <div class="text-xs text-black">{{ tab.title }}</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="(col, index) in tab.table" :key="index" class="px-2 py-1 hover:bg-blue-100 rounded h-6">
                                <div v-if="type == 'EocMetrics' && tab.name == 'lowestYesterday'" class="w-full grid grid-cols-12 grid-flow-row">
                                    <div class="col-span-1 text-xs truncate font-bold"> {{ col.rank }} </div>
                                    <div class="col-span-3 text-xs truncate"> {{ col.staff.firstName }} {{ col.staff.lastName }} </div>
                                    <div class="col-span-2 text-xs truncate text-right"> {{ numberFormat(col.average, 1) }}% </div>
                                    <div class="col-span-1 flex items-center">
                                        <i v-if="numberFormat(col.average, 1) > numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-green-500 "></i>
                                        <i v-else-if="numberFormat(col.average, 1) == numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-bars text-blue-500"></i>
                                        <i v-else-if="numberFormat(col.average, 1) < numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-sort-amount-down text-red-500"></i>
                                    </div>
                                    <div class="col-span-5 text-xs truncate text-left"> {{ (col.averageDailyCompliance == null) ? '0%' : `${numberFormat(col.averageDailyCompliance, 1)}%` }} rolling average </div>
                                </div>
                                <div v-if="type == 'EocMetrics' && tab.name == 'lowest7DayAverages'" class="w-full grid grid-cols-12 grid-flow-row">
                                    <div class="col-span-1 text-xs truncate font-bold"> {{ col.rank }} </div>
                                    <div class="col-span-8 text-xs truncate"> {{ col.staff.firstName }} {{ col.staff.lastName }} </div>
                                    <div class="col-span-2 text-xs truncate text-right"> {{ numberFormat(col.average, 1) }}% </div>
                                    <div class="col-span-1 flex items-center">
                                        <i v-if="numberFormat(col.average, 1) > numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-green-500 "></i>
                                        <i v-else-if="numberFormat(col.average, 1) == numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-bars text-blue-500"></i>
                                        <i v-else-if="numberFormat(col.average, 1) < numberFormat(col.averagePrev, 1)" class="-mt-1 text-lg p-0 uil uil-sort-amount-down text-red-500"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
            <div v-if="footer" class="dashboard-card-footer">
                <router-link :to="{ name: path }" data-cy="card_link-EocMetrics" class="link text-sm">{{ footerText }}</router-link>
            </div>
          </template>
        </Card>
    </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { eocScoresByGroup } from "@/graphql/queries";
import Card from '@/components/Dashboard/Card';

export default {
    name: "CardSumary",
    props: {
        type: {
            type: String,
            required: true,
        },
        title: {
            type: String,
            required: true,
        },
        icon: {
            type: String,
            required: true,
        },
        tabs: {
            type: Array,
            required: true,
            default: []
        },
        footer: {
            type: Boolean,
            required: true,
            default: false
        },
        footerText: {
            type: String,
            required: true,
            default: ''
        },
        path: {
            type: String,
            required: true,
            default: ''
        },
        tab: {
            type: String,
            required: true,
        },
    },
    components: {
        Card
    },
    data() {
        return {
            currentTab: '',
            loading: false
        };
    },
    mounted() {
        this.currentTab = this.tab
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapState(["userInfo"]),
        ...mapGetters([
            "hasPerformanceCoaching",
            "hasReadOnlyAccess"
        ]),
    },
    methods: {
        
        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        async handleTabClick(tab) {
            this.currentTab = tab.name;
        },

        async loadData() {
            try {
                let currentDate = this.$moment();
                await this.cardsData(currentDate);
            } catch (e) {
                console.log("Error: ", e);
                this.displayUserError(e);
            }
        },

        async cardsData(date) {
            try {
                const cardType = {
                    EocMetrics: async () => await this.eocMetricsData(date),
                }
                cardType[this.type]()
            } catch (e) {
                console.log("Error: ", e);
                this.displayUserError(e);
            }
        },

        async eocMetricsData(date){
            try{
                if(!this.hasPerformanceCoaching && !this.hasReadOnlyAccess('performanceCoaching')){
                    this.loadFakeData()
                    return
                }
                this.loading = true;
                const yesterday = this.$moment(date).subtract(1, "days").format("YYYY-MM-DD");
                const beforeYesterday = this.$moment(date).subtract(2, "days").format("YYYY-MM-DD");
                const before7Day = this.$moment(date).subtract(7, "days").format("YYYY-MM-DD");

                const filters = [
                    { level: { eq: "associate" }, date: { contains: yesterday } },
                    { level: { eq: "associate" }, date: { contains: beforeYesterday } },
                    { level: { eq: "associate" }, date: { contains: before7Day } }
                ];
                const queries = filters.map(filter => {
                    return this.gLoadListAll(eocScoresByGroup, { group: this.userInfo.tenant.group, filter }, "eocScoresByGroup");
                });
                const results = await Promise.all(queries);
                const [eocScoreByAssociateAndDate, eocScoreByAssociateAndDatePrev, eocScoreByAssociateAnd7DatePrev] = results;

                const getAssociateLowestAverages = (data, prevData) => {
                    return data.filter(value => value.average != null && value.staff != null && value.staff.status === 'Active').map((associate, index) => {
                        const associatePrev = prevData.find(associatePrev => associatePrev.staff.id == associate.staff.id) || { average: 0 };
                        return {...associate, averagePrev: associatePrev.average};
                    });
                };
                const lowestYesterday = getAssociateLowestAverages(eocScoreByAssociateAndDate, eocScoreByAssociateAndDatePrev);
                const lowest7DayAverages = getAssociateLowestAverages(eocScoreByAssociateAndDate, eocScoreByAssociateAnd7DatePrev);

                const getAssociateTable = (associates) => {
                    return associates.sort((a, b) => this.numberFormat(a.average, 2) - this.numberFormat(b.average, 2))
                        .map((associate, index) => ({ ...associate, rank: `${associates.length - index}` }))
                        .slice(0, 10);
                };
                this.tabs[0].table = getAssociateTable(lowestYesterday);
                this.tabs[1].table = getAssociateTable(lowest7DayAverages);

                if (this.tabs[1].table.length === 0) {
                    try {
                        const eocScoreByLastDate = await this.gLoadListAll(eocScoresByGroup, { group: this.userInfo.tenant.group, sortDirection: 'DESC', filter: { level: { eq: 'associate' } } }, 'eocScoresByGroup');

                        const associates = eocScoreByLastDate.filter(associate => associate.average != null && associate.staff != null && associate.staff.status === 'Active');

                        const day = this.$moment(associates[0]?.date).add(1, 'days').format('YYYY-MM-DD');
                        const previousDay = this.$moment(associates[0]?.date).subtract(6, 'days').format('YYYY-MM-DD');

                        const eocScoreByAssociate = await this.gLoadListAll(eocScoresByGroup, { group: this.userInfo.tenant.group, filter: { level: { eq: 'associate' }, date: { contains: day } } }, 'eocScoresByGroup');
                        const eocScoreByAssociatePrev = await this.gLoadListAll(eocScoresByGroup, { group: this.userInfo.tenant.group, filter: { level: { eq: 'associate' }, date: { contains: previousDay } } }, 'eocScoresByGroup');

                        const lowest7DayAverages = eocScoreByAssociate.filter(value => value.average != null && value.staff != null && value.staff.status === 'Active').map((associate, index) => {
                            const associatePrev = eocScoreByAssociatePrev.filter(associatePrev => associatePrev.staff.id == associate.staff.id)
                            return { ...associate, averagePrev: (associatePrev.length > 0) ? associatePrev[0].average : 0 }
                        });

                        this.tabs[1].table = lowest7DayAverages.sort((a, b) => this.numberFormat(a.average, 2) - this.numberFormat(b.average, 2)).map((associate, index) => ({ ...associate, rank: `${associates.length - index}` })).slice(0, 10);
                    } catch (e) {
                        console.log('Error: ', e);
                        this.displayUserError(e);
                    }
                }
            }catch(e){
                console.log("Error: ", e);
                this.displayUserError(e);
            }finally{
                this.loading = false
            }
        },

        numberFormat(number, decimals = 0){
            return Number(parseFloat((number == null) ? 0 : number)).toFixed(decimals)
        },

        loadFakeData(){
            this.tabs[0].table = [
                {
                    average: '98.96%',
                    averageDailyCompliance: '34.97%',
                    averagePrev: 0,
                    rank: '1',
                    staff: {
                        firstName: 'Abraham',
                        lastName: 'Tanel'
                    }
                },
                {
                    average: '97.96%',
                    averageDailyCompliance: '35.97%',
                    averagePrev: 0,
                    rank: '2',
                    staff: {
                        firstName: 'Joaquin',
                        lastName: 'Tanel'
                    }
                },
                {
                    average: '96.96%',
                    averageDailyCompliance: '36.97%',
                    averagePrev: 0,
                    rank: '3',
                    staff: {
                        firstName: 'Aaron',
                        lastName: 'Tanel'
                    }
                },
            ]
        }
    },
};
</script>
