<template>
<div class="items-center flex-1" data-cy="card_milestones">
    <Card title="Birthdays and Work Anniversaries"
        iconClass="uil-gift" 
        :loading="loading" footer>
        <template v-slot:body>
        <el-tabs ref="milestones" type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
            <el-tab-pane v-for="tab in computedTabs" :label="tab.name" :key="tab.name" :name="tab.name">
                <template v-if="navScroll">
                <span slot="label">
                    <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{tab.table.length}}</div>
                    <div class="text-xs text-black pt-0 mt-0 text-center w-14" data-cy="card_tabs-title">{{tab.title}}</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div v-for="staff in tab.table.slice(0, 5)" :key="staff.id" >
                            <div class="px-2 w-full cursor-pointer hover:bg-blue-100 rounded h-12" @click="handleRowClick(staff)">
                                <span v-if="currentTab =='birthday'" class="text-xs font-bold truncate">{{staff.firstName}} {{staff.lastName}} — {{staff.dob}} — {{staff.age}} </span>
                                <span v-else class="text-xs font-bold truncate">{{staff.firstName}} {{staff.lastName}} — {{staff.hireDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                </template>
            </el-tab-pane>     
        </el-tabs>
        </template>
        <!-- VIEW ALL -->
        <template v-slot:footer>
            <button class="link text-sm" data-cy="card_link-milestones" @click="goToViewAnniversariesSummary">{{ viewAllButtonText }}</button>
        </template>
    </Card>
</div>
</template>

<script>

import {staffsByGroup} from '../../queries';
import Card from '@/components/Dashboard/Card'

export default {
    name: "EventsSummary",
    components: { Card },
    data(){
        return{
            loading: true,
            currentTab: "birthday",
            tabs:[
                {name: 'birthday', title: 'Birthdays', entityViewAllButton:'Birthdays', table: []},
                {name: 'thirty-days', title: '30 Days', entityViewAllButton:'30 Day', table: [], months: 1},
                {name: 'three', title: '3 Months', entityViewAllButton:'3 Month', table: [], months: 3},
                {name: 'six', title: '6 Months', entityViewAllButton:'6 Month', table: [], months: 6},
                {name: 'nine', title: '9 Months', entityViewAllButton:'9 Month', table: [], months: 9},
                {name: 'year', title: '1 Year', entityViewAllButton:'1 Year', table: [], months: 12},
                {name: 'two-year', title: '2 Years', entityViewAllButton:'2 Year', table: [], months: 24},
                {name: 'three-year', title: '3 Years', entityViewAllButton:'3 Year', table: [], months: 36},
                {name: 'four-year', title: '4 Years', entityViewAllButton:'4 Year', table: [], months: 48},
            ]
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        viewAllButtonText(){
            let allButtonText = 'View All'
            
            const currentIndexTab = this.tabs.findIndex(tab => tab.name === this.currentTab)
            
            const entityViewAllButton = this.tabs[currentIndexTab].entityViewAllButton

            if(this.currentTab === 'birthday') {
                allButtonText += ` Upcoming ${entityViewAllButton}`
            }else{
                allButtonText += ` ${entityViewAllButton} Anniversaries`
            }

            return allButtonText
        },
        async navScroll(){
            if(this.loading) return
            return this.$refs?.milestones?.$children?.[0]?.$refs?.navScroll
        },
        computedTabs(){
            if(this.loading) return [this.tabs[0]]
            return this.tabs
        }
    },
    methods:{
        
        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        async loadData(){
            this.loading = true
            var input = {
                group: this.$store.state.userInfo.tenant.group
            }
            const staffs = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup')
            
            this.assignStaffsToTabs(staffs)

            // birthday
            const filterStaffsBirthday = staffs.filter((staff)=> staff.dob !== null && !['Inactive - Terminated', 'Onboarding'].includes(staff.status))
            this.tabs[0].table = filterStaffsBirthday 
                .map( staff => this.staffWithLocalHireDate( staff ) )
                .filter( staff => this.determineBirthdayActive( staff ) )
                .map((staff)=> {
                    const dob = new Date(staff.dob).toLocaleDateString('en-US');
                    const age = this.$moment().diff(dob, 'years');
                    return {
                        ...staff,
                        age,
                        dob
                    }
                })
                .sort((a, b) => this.$moment(a.dob).format('MMDD') - this.$moment(b.dob).format('MMDD'))
            this.loading = false;
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },

        handleRowClick(staff) {
            let previousRouteText = 'Dashboard',
            previousRouteName = this.$route.name

            this.$router.push({name: 'StaffDetail', params: { id: staff.id }, query: {previousRouteText, previousRouteName}})
        },

        assignStaffsToTabs(staffs){
            const today = this.$moment().startOf('day')
            const filterStaffs = staffs.filter((staff)=> staff.hireDate !== null && !['Inactive - Terminated', 'Onboarding'].includes(staff.status))
            this.tabs = this.tabs.map(tab=> !tab.hasOwnProperty('months') ? tab : this.getTabWithTableFilled(filterStaffs, tab, today))
        },

        getTabWithTableFilled(staffs, tab, today){
            const months = tab.months
            
            tab.table = staffs
                .map(staff => this.staffWithLocalHireDate(staff))
                .filter(staff => this.isFiltered(staff, months, today))
                .map(staff => this.staffWithCurrentHireDate(staff, months))
                .sort((a,b) => this.$moment(a.hireDate).format('YYYYMMDD') - this.$moment(b.hireDate).format('YYYYMMDD'))
            return tab
        },

        staffWithLocalHireDate(staff){
            return {
                ...staff,
                hireDate: this.$moment.parseZone(staff.hireDate).format('l LT')
            }
        },

        isFiltered(staff, months, today){
            return this.belongsToPeriod(staff, months, today) && staff.status == "Active"
        },

        belongsToPeriod(staff, months, today){
            const hireDate = this.hireDateWithAddedMonths(staff, months).startOf('day');
            
            const differenceDays = hireDate.diff(today, 'days')

            return months == 1 ? this.belongsToWeekPeriod(differenceDays) : this.belongsToMonthPeriod(differenceDays)
        },

        hireDateWithAddedMonths(staff, months){
            return this.$moment(staff.hireDate).add(months, 'M')
        },

        belongsToWeekPeriod(differenceDays){
            return Math.abs(differenceDays) < 5 && Math.abs(differenceDays) >= 0
        },

        belongsToMonthPeriod(differenceDays){
            return differenceDays <= 30 && differenceDays >= 0
        },

        staffWithCurrentHireDate(staff, months){
            return ({
                ...staff,
                hireDate: this.hireDateWithAddedMonths(staff,months).format("MM/DD/YYYY")
            })
        },

        determineBirthdayActive( { dob, status }  ) {
            const today = this.$moment();
            let dobWithoutTZ = this.$moment( dob ).format('MM/DD');
            const diff = this.$moment(`${dobWithoutTZ}/${today.format('YYYY')}`).startOf('day').diff(today.startOf('day'), 'months', true);
            const valid = status == 'Active' && (0 <= diff && diff < 1);
            return valid;
        },


        goToViewAnniversariesSummary() {
            localStorage.setItem('tabReportMilestone', this.currentTab );
            this.$router.push({ name: 'AnniversariesSummary', params: { milestoneOption: this.currentTab }})
        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>