<template>
  <div>
    <div v-for="(item, index) in expiringItemList.slice(0, 5)" :key="item.id">
      <div v-if="item.edit == true" class="flex items-center h-12">
        <div class="px-2 w-1/4">
          <div class="text-xs truncate">{{item.fullName}}</div>
        </div>
        <el-date-picker
          v-model="item.pickedExpirationDate"
          size="mini"
          type="date" 
          class="max-w-1/2"
          format="MM/dd/yyyy"
          value-format="MM/dd/yyyy"
          :disabled="disableDatePicker"
          @keypress.enter="handleSave(item, index)" 
        >
          {{ item.pickedExpirationDate | date }} 
        </el-date-picker> 
        <div class="flex items-center w-1/4">
          <button @click="handleSave(item, index)" class="el-button--text text-xs underline ml-2">
            <i class="uil uil-check text-lg text-green-400"></i>
          </button>
          <button @click="handleEditCancel(item)" class="el-button--text text-xs underline ml-2">
            <i class="uil uil-times text-lg text-gray-600"></i>
          </button>
        </div>
      </div>
      <div v-else @click="handleEdit(item)"  class="cursor-pointer rounded hover:bg-blue-100 h-12 flex justify-between">
        <span class="text-xs px-2 truncate">{{item.fullName}}</span>
        <div>
          <span class="text-xs px-2 truncate" :class="{'font-bold': item.expired}">{{item.expirationDate}}</span>
          <i v-if="item.expired" class="text-lg text-red-500 uil uil-ban"></i>
          <i v-else class="uil uil-exclamation-triangle"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ExpiringItemsTab',

  props: {
    expiringItemList: Array,
    disableDatePicker: Boolean,
  },

  methods: {
    handleSave(item, index) {
      item.edit = false;
      item.expirationDate = (item.pickedExpirationDate && (new Date(item.pickedExpirationDate)).toISOString()) || '';
      const payload = {item, index};
      this.$emit('save', payload);
    },

    handleEdit(item) {
      item.pickedExpirationDate = item.expirationDate;
      this.expiringItemList.forEach(item => item.edit = false);
      item.edit = true;
    },

    handleEditCancel(item) {
      item.edit = false;
    },
  },
};
</script>

<style scoped>
.uil-exclamation-triangle {
  @apply text-lg text-orange-500 !important;
}
</style>