<template>
<div data-cy="card_da-issues">
    <Card :title="'Recent '+$t('label.associate')+' Issues (Last 90 Days)'"
        iconClass="uil-exclamation-triangle" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasStaffManagement && !hasReadOnlyAccess('staff')">
       <template v-slot:body>
        <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
            <el-tab-pane label="infractions" name="infractions">
                <span slot="label">
                    <div class="text-black text-lg text-center h-4">{{countOfInfractions}}</div>
                    <div class="text-xs text-black">Amazon Violation/Defects</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div>
                            <div v-for="infraction in infractions" :key="infraction.id">
                                <div class="px-2 w-full cursor-pointer hover:bg-blue-100 rounded h-12" @click="handleClick(infraction.id)">
                                    <span class="text-xs font-bold truncate"> {{ infractionSummaryDescription(infraction) }} </span>
                                    <p class="text-xs truncate">{{infraction.infractionDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="driverIssues" name="driverIssues">
                <span slot="label">
                    <div class="text-black text-lg text-center h-4">{{countOfDriverIssues}}</div>
                    <div class="text-xs text-black">{{$t('label.associate')}} Issues</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div v-for="driverIssue in driverIssues" :key="driverIssue.id">
                            <div class="px-2 w-full cursor-pointer hover:bg-blue-100 rounded h-12" @click="handleClick(driverIssue.id)">
                                <span class="text-xs font-bold ellipsis"> {{ infractionSummaryDescription(driverIssue) }} </span>
                                <p class="text-xs truncate">{{driverIssue.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
        </template>
        <template v-slot:footer>
            <router-link v-if="hasStaffManagement" :to="{ name: 'DaIssueIndex' }" data-cy="card_link-da-issues" class="link text-sm">View All Violation/Defects and Issues</router-link>
            <PremiumWarningButton v-else isLink buttonText="View All Violation/Defects and Issues" action="view report" :premiumFeature="$t('label.associate')+' management'" placement="bottom"/>
        </template>
    </Card>

</div>
</template>

<script>

import { infractionsByGroupAndDate } from '@/views/Staff/queries/infraction';
import { COUNSELING_STATUS_PENDING_SIGNATURE } from '@/utilities/constants/counseling';
import { mapState, mapGetters } from 'vuex';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import Card from '@/components/Dashboard/Card'

export default {
    name: "DaIssuesSummary",
    components: { 
        Card, 
        PremiumWarningButton 
    },
    data(){
        return{
            loading: true,
            infractions: [],
            driverIssues: [],
            countOfInfractions: 0, 
            countOfDriverIssues: 0,
            currentTab: "infractions",
            showAllInfractions: false,
            showAllDriverIssues: false,
            sampleData: [
                {id: "1", infractionType: "Late with Call",comment: "",date: "2021-08-03T04:00:00.000Z",time: "",infractionTier: null,infractionDescription: null,counseling: {    id: "alpha",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "a",    firstName: "Justin",    lastName: "Melchor"}},
                {id: "2", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: "Dumping or abandoning multiple customers' package in an outside unsecured  location (side of road, dumpster, outside building visible from the street, etc.)",counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Julio",    lastName: "Davis"}},
                {id: "3", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: `${this.$t('label.associate')} A reputation – Fraud – Dumping or abandoning customer packages with malicious intent (side of road, dumpster)`,counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Justin",    lastName: "Melchor"}},
                {id: "4", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: `${this.$t('label.associate')} Reputation - Behavioral - Property Damage`,counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Aaron",    lastName: "Gonzalez"}},
                {id: "5", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: "Dumping or abandoning multiple customers' package in an outside unsecured  location (side of road, dumpster, outside building visible from the street, etc.)",counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Julio",    lastName: "Davis"}},
                {id: "6", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: "Gross negligence or professional misconduct",counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Cinque",    lastName: "Vitela"}},
                {id: "7", infractionType: "Scorecard DAR",comment: "Received 20 (Created from scorecard import)",date: "2021-07-24T05:00:00.000Z",time: null,infractionTier: null,infractionDescription: null,counseling: null,staff: {    id: "c",    firstName: "Cinque",    lastName: "Vitela"}},
                {id: "8", infractionType: "Scorecard DAR",comment: "Received 42 (Created from scorecard import)",date: "2021-07-24T05:00:00.000Z",time: null,infractionTier: null,infractionDescription: null,counseling: null,staff: {    id: "d",    firstName: "Aaron",    lastName: "Gonzalez"}},
                {id: "9", infractionType: "Scorecard DCR", comment: "Received 98.4% (Created from scorecard import)", date: "2021-07-24T05:00:00.000Z", time: null, infractionTier: null, infractionDescription: null, counseling: null, staff: {     id: "e",     firstName: "Isaiah",     lastName: "Moore" }}
            ]
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapState([
            'userInfo',
            'valuelists',
            'staffList'
        ]),
        ...mapGetters([
            'hasStaffManagement',
            'hasReadOnlyAccess',
        ]),
    },
    methods:{

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },


        handleShowAll(){
            if(this.currentTab == "infractions"){
                this.showAllInfractions = !this.showAllInfractions
            }
            else{
                this.showAllDriverIssues = !this.showAllDriverIssues
            }
        },


        handleClick(infractionID){
            this.$router.push({name: 'DaIssueDetail', params:{infractionID: infractionID}})
        },

        async loadData(){
            this.loading = true
            var currentDate = this.$moment();
            var dayAhead = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
            var pastDate = this.$moment(currentDate).subtract(90, 'days').format('YYYY-MM-DD');

            var input = {
                date: {between: [pastDate, dayAhead]},
                group: this.$store.state.userInfo.tenant.group,
                sortDirection: "DESC"
            }
            try{
                //QUERY AND SORT
                var results = []
                if(!this.hasStaffManagement && !this.hasReadOnlyAccess('staff')){
                    results = this.sampleData
                }
                else{
                    results = await this.gLoadListAll(infractionsByGroupAndDate, input, 'infractionsByGroupAndDate')
                }

                //GET ALL INFRACTIONS AND COUNT
                var infractions = results.filter(infraction =>{
                    const infractionName = infraction.type ? infraction.type.option : infraction.infractionType
                    return infractionName == "Infraction" || infractionName == "Amazon Violation/Defect"
                })

                this.countOfInfractions = infractions.length


                //GET ALL DRIVER ISSUES AND COUNT
                var driverIssues = results.filter(infraction =>{
                    const infractionName = infraction.type ? infraction.type.option : infraction.infractionType
                    return infractionName != "Infraction" && infractionName != "Amazon Violation/Defect"
                })
                this.countOfDriverIssues = driverIssues.length

                //GET 5 MOST RECENT INFRACTIONS AND DRIVER ISSUES
                this.infractions = infractions.slice(0,5);
                this.driverIssues = driverIssues.slice(0,5);
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        infractionSummaryDescription(infraction){
            let splitValue = infraction.date.toString().split("T")
            splitValue = splitValue[0].split("-")
            let appealStatus = infraction.appealStatus ? 'Appeal ' + infraction.appealStatus : ''
            let date = `${splitValue[1]}/${splitValue[2]}/${splitValue[0]}`
            let detailsArr = [date, infraction.staff ? infraction.staff.firstName + ' ' + infraction.staff.lastName  : '', appealStatus ]
            return detailsArr.filter(Boolean).join(" — ")
        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>