<template>
    <div class="items-center flex-1" data-cy="card_netradyne-alert">
        <Card :title="$t('label.associate')+' Issue Trends'"
        iconClass="uil-chart-down" 
        :loading="loading" footer>
            <template v-slot:body>
                <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
                <el-tab-pane v-for="tab in tabs" :key="tab.key" :name="tab.name" :label="tab.title">
                    <span slot="label">
                        <div class="text-black text-lg text-center h-4"> {{ tab.table.length }} </div>
                        <div class="text-xs text-black">{{ tab.title }}</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="(issue, index) in tab.table" :key="index" class="px-2 py-1 hover:bg-blue-100 rounded h-6">
                                <div class="w-full grid grid-cols-12 grid-flow-row">
                                    <div class="col-span-1 text-xs truncate font-bold"> {{ `${issue.infractions}x`}} </div>
                                    <div class="col-span-6 text-xs truncate"> {{ issue.type }} </div>
                                    <div class="col-span-4 text-xs truncate text-right"> {{ issue.associates }} </div>
                                    <div class="col-span-1 flex items-center">
                                        <el-tooltip effect="dark" :content="tooltipContent(issue.infractions, issue.infractionsPrev, issue.associates, issue.infractions, tab.name)" placement="top">
                                            <i v-if="issue.infractions > issue.infractionsPrev" class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-red-500 "></i>
                                            <i v-else-if="issue.infractions == issue.infractionsPrev" class="-mt-1 text-lg p-0 uil uil-bars text-blue-500"></i>
                                            <i v-else-if="issue.infractions < issue.infractionsPrev" class="-mt-1 text-lg p-0 uil uil-sort-amount-down text-green-500"></i>
                                        </el-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                </el-tabs>
            </template>
            <template v-slot:footer>
                <div v-if="hasPerformanceCoaching" class="space-x-1 whitespace-nowrap overflow-hidden">
                    <button class="link text-sm" @click="redirectToReport">{{ linkForReport }}</button>
                    <button v-if="currentTab === '30DayTrends'" class="link text-sm" @click="redirectToGraph">{{ linkForGraph }}</button>
                </div>
                <div v-else class="space-x-1 leading-5 whitespace-nowrap overflow-hidden">
                    <PremiumWarningButton isLink :buttonText="linkForReport" action="view report" premiumFeature="performance and coaching" placement="bottom"/>
                    <PremiumWarningButton isLink :buttonText="linkForGraph" action="view graph" premiumFeature="performance and coaching" placement="bottom"/>
                </div>
            </template>
        </Card>
    
    </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { infractionsByGroupAndDate } from "@/views/Staff/queries";
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import { parseType } from '@/utilities/parseType'

export default {
    name: "IssueTrendsSumary",
    components: { Card, PremiumWarningButton },
    data() {
        return {
            loading: false,
            tabs: [
                {
                    key: 1,
                    name: "30DayTrends",
                    table: [],
                    title: "30-Day Trends",
                },
                {
                    key: 2,
                    name: "30DayRepeatOffenders",
                    table: [],
                    title: "30-Day Repeat Offenders",
                },
            ],
            currentTab: "30DayTrends",
            linkForGraph: `View ${this.$t('label.associate')} Issue Trends Graphs`,
        };
    },
    async mounted() {
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapState(["userInfo"]),

        ...mapGetters([
            'hasPerformanceCoaching',
        ]),

        linkForReport(){
            return this.currentTab === '30DayTrends' ? 'View All 30-Day Trends' : 'View All 30-Day Repeat Offenders'
        }
    },
    methods: {

        redirectToReport() {
            const routeName = this.currentTab === '30DayTrends' ? 'DaIssueTrendReport' : 'RepeatOffendersReport'
            this.$router.push({name: routeName })
        },

        redirectToGraph(){
            this.$router.push({name: 'DaIssueTrendGraphsReport' })
        },

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        async handleTabClick(tab) {
            this.currentTab = tab.name;
        },

        async loadData() {
            try {
                this.loading = true;
                let currentDate = this.$moment();
                await this.infractionsTrends(currentDate);
                this.loading = false;
            } catch (e) {
                console.log("Error: ", e);
                this.displayUserError(e);
                this.loading = false;
            }
        },

        async infractionsTrends(date) {
            try {
                let { input, inputPrev } = this.lastDaysFormat(date);
                
                let inputInfraction = {
                    group: this.userInfo.tenant.group,
                    date: input.date,
                    sortDirection: "DESC"
                }
                let issueThisMonth = await this.gLoadListAll(infractionsByGroupAndDate, inputInfraction, 'infractionsByGroupAndDate')
                issueThisMonth = issueThisMonth.filter(item => item.staff?.status === "Active")

                inputInfraction.date = inputPrev.date
                let issueLastMonth = await this.gLoadListAll(infractionsByGroupAndDate, inputInfraction, 'infractionsByGroupAndDate')
                issueLastMonth = issueLastMonth.filter(item => item.staff?.status === "Active")
            
                let staffsByInfractions = [] 
                let staffsByInfractionsPrev = [] 
                let types = []
                let associates = [] 

                issueThisMonth.map(issue => {
                    const infractionType = issue.type ? issue.type.option : parseType(issue.infractionType);
                    types.push(infractionType)
                    associates.push(`${issue.staff.firstName} ${issue.staff.lastName}`)
                    staffsByInfractions.push({ id: issue.staffId, name: `${issue.staff.firstName} ${issue.staff.lastName}`, type: infractionType })
                })
                issueLastMonth.map(issue =>{
                    const infractionType = issue.type ? issue.type.option : parseType(issue.infractionType);
                    staffsByInfractionsPrev.push({ id: issue.staffId, name: `${issue.staff.firstName} ${issue.staff.lastName}`, type: infractionType })
                })

                let uniqueTypes = [...new Set(types)]
                let uniqueAssociates = [...new Set(associates)]
                this.tabs[0].table = await this.dayTrends(staffsByInfractions, staffsByInfractionsPrev, uniqueTypes);
                this.tabs[1].table = await this.dayRepeatOffendersTrends(staffsByInfractions, staffsByInfractionsPrev, uniqueAssociates);                            
            } catch (e) {
                console.log("Error: ", e);
                this.displayUserError(e);
                this.loading = false;
            }
        },

        async dayTrends(staffsByInfractions, staffsByInfractionsPrev, uniqueTypes) {
            try {
                let table = [] 
                let associates = []
                uniqueTypes.map(type => {
                    let infraction = staffsByInfractions.filter(infraction => infraction.type == type)
                    let infractionPrev = staffsByInfractionsPrev.filter(infractionPrev => infractionPrev.type == type)
                    infraction.map(associate => associates.push(associate.id))
                    associates = [...new Set(associates)]
                    table.push({
                        type,
                        infractions: infraction.length,
                        infractionsPrev: infractionPrev.length,
                        associates: `${associates.length} ${this.$t("label.associates")}`
                    })
                })
                return table.sort((a, b) => { return b.infractions - a.infractions;}).slice(0, 10);
            } catch (e) {
                console.log("Error: ", e);
                this.displayUserError(e);
            }
        },

        async dayRepeatOffendersTrends(staffsByInfractions, staffsByInfractionsPrev, uniqueAssociates) {
            try{
                let table = [] 
                let types = []
                uniqueAssociates.map(associate => {
                    let infraction = staffsByInfractions.filter(infraction => infraction.name == associate)
                    let infractionPrev = staffsByInfractionsPrev.filter(infractionPrev => infractionPrev.name == associate)
                    infraction.map(associate => types.push(associate.type))
                    types = [...new Set(types)]
                    types.map(type => {
                        table.push({
                            type,
                            infractions: infraction.filter(infraction => infraction.type == type).length,
                            infractionsPrev: infractionPrev.filter(infractionPrev => infractionPrev.type == type).length,
                            associates: associate
                        })
                    })
                })
                table = table.filter(item => item.infractions >= 2)
                return table.sort((a, b) => { return b.infractions - a.infractions;}).slice(0, 10);
            }catch(e){
                console.log("Error: ", e);
                this.displayUserError(e);
            }
        },

        lastDaysFormat(date) {
            let to = this.$moment(date).add(1, 'days').format("YYYY-MM-DD");
            let from = this.$moment(date).subtract(30, "days").format("YYYY-MM-DD");
            let toPrev = from;
            let fromPrev = this.$moment(date).subtract(60, "days").format("YYYY-MM-DD");
            let input = {
                date: { between: [from, to] },
                group: this.userInfo.tenant.group,
            };
            let inputPrev = {
                date: { between: [fromPrev, toPrev] },
                group: this.userInfo.tenant.group,
            };            
            return { input, inputPrev };
        },

        tooltipContent(infraction, infractionPrev, associate, infractions, tab) {
            if(tab == "30DayTrends"){
                if (infraction > infractionPrev) return `Up ${(infraction - infractionPrev)} from ${associate} in the previous 30-day period.`;
                if (infraction < infractionPrev) return `Down ${(infractionPrev - infraction)} from ${associate} in the previous 30-day period.`; 
                if (infraction == infractionPrev) return `No change compared to the previous 30-day period.`;
            }else if(tab == "30DayRepeatOffenders"){
                if (infraction > infractionPrev) return `Up from this Associate having this Issue ${infractions}x in the previous 30-day period.`;
                if (infraction < infractionPrev) return `Down from this Associate having this Issue ${infractions}x in the previous 30-day period.`;
                if (infraction == infractionPrev) return `No change in how many times this Associate had this Issue in the previous 30-day period.`;
            }
        },
    },
};
</script>
