<template>
<div data-cy="card_driver-licenses">
    <Card title="Expiring Items"
    iconClass="uil-user-exclamation" 
    :loading="loading" footer isPremiumDashboard showSampleDataText
    :premiumFeature="!hasStaffManagement && !hasReadOnlyAccess('staff')">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" v-model="currentTab" :before-leave="beforeLeaveTab">
                <el-tab-pane label="Driver Licenses" name="driverLicenses">
                    <span slot="label">
                        <div class="text-lg text-center h-4" :class="getExpiringClassColor(expiringLicenses)">{{expiringLicenses.length}}</div>
                        <div class="text-xs text-black">Driver Licenses</div>
                    </span>
                    <div class="h-64" v-loading="reloading">
                        <div class="p-2">
                            <ExpiringItemsTab
                                :expiringItemList="expiringLicenses.slice(0, 5)"
                                :disableDatePicker="!hasStaffManagement"
                                @save="saveLicense"
                            />
                        </div>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Medical Cards" name="medicalCards">
                    <span slot="label">
                        <div class="text-lg text-center h-4" :class="getExpiringClassColor(expiringMedicalCards)">{{expiringMedicalCards.length}}</div>
                        <div class="text-xs text-black">Medical Cards</div>
                    </span>
                    <div class="h-64" v-loading="reloading">
                        <div class="p-2">
                            <ExpiringItemsTab
                                :expiringItemList="expiringMedicalCards.slice(0, 5)"
                                @save="saveMedicalCard"
                            />
                        </div>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Motor Vehicle Reports" name="motorVehicleReports">
                    <span slot="label">
                        <div class="text-lg text-center h-4" :class="getExpiringClassColor(expiringMotorReports)">{{expiringMotorReports.length}}</div>
                        <div class="text-xs text-black">Motor Vehicle Reports</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <ExpiringItemsTab
                                :expiringItemList="expiringMotorReports"
                                :disableDatePicker="!hasStaffManagement"
                                @save="saveMotorReport"
                            />
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <template v-if="currentTab==='driverLicenses'">
                <router-link v-if="hasStaffManagement" :to="{ name: 'DriverLicensesReport' }" data-cy="card_link-driver-licenses" class="link text-sm">View All Expiring Driver Licenses</router-link>
                <PremiumWarningButton v-else isLink buttonText="View All Expiring Driver Licenses" action="view report" :premiumFeature="$t('label.associate')+' management'" placement="bottom"/>
            </template>
            <router-link v-else-if="currentTab==='medicalCards'" to="" :disabled="true" tag="button" data-cy="card_link-medical-cards" class="link text-sm">View All Expiring Medical Cards</router-link>
            <template v-else-if="currentTab==='motorVehicleReports'">
                <router-link v-if="hasStaffManagement" to="" :disabled="true" tag="button" data-cy="card_link-motor-vehicle-reports" class="link text-sm">View All Expiring Motor Vehicle Reports</router-link>
            </template>
        </template>
    </Card>  
</div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import { staffsDlExpirationDateByGroupAndStatus, staffsExpirationVehicleReport, physicalExpirationDate } from '../../queries';
import { updateStaffDlExpiration, updateStaffExpirationVehicleReport, updatePhysicalExpirationDate } from '../../mutations'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ExpiringItemsTab from './ExpiringItemsTab';

export default {
    name: "LicenseSummary",
    components: { 
        Card, 
        PremiumWarningButton,
        ExpiringItemsTab,
    },
    data(){
        return{
            currentTab: 'driverLicenses',
            expiringLicenses: [],
            expiringMedicalCards: [],
            expiringMotorReports: [],
            loading: false,
            reloading: false,
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },

    computed: {
        ...mapState([
            'userInfo',
        ]),

        ...mapGetters([
            'hasStaffManagement',
            'hasReadOnlyAccess',
        ]),

        today() {
            return this.$moment();
        },

        expirationDateBoundary() {
            return this.$moment().add( 2 , "months" ).format('YYYY-MM-DD');
        },
    },

    methods:{
        isDateExpired(momentDate) {
            return momentDate < this.today;
        },

        getExpiringClassColor(list) {
            return list.some(item => !!item.expired)? 'text-red-600': 'text-orange-600';
        },

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        getExpiringItemList(expireDateField, expiringItems) {
            return expiringItems
                .map(item => {
                    const expirationDate = this.$moment(item[expireDateField]);
                    if (!item[expireDateField] || !expirationDate.isValid()) return null;
                    return {
                        id: item.id,
                        expirationDate: this.$moment(item[expireDateField]).format( "M/D/YYYY"),
                        pickedExpirationDate: this.$moment(item[expireDateField]).format( "M/D/YYYY"),
                        fullName: `${item.staff.firstName} ${item.staff.lastName}`,
                        expired: !!(expirationDate < this.today),
                        edit: false,
                    };
                })
                .filter(item => !!item);
        },

        appendStaffPropToStaff(item) {
            return {
                ...item,
                staff: {
                    firstName: item.firstName,
                    lastName: item.lastName,
                },
            };
        },

        async loadExpiringLicenses() {
            const input = {
                group: this.userInfo.tenant.group,
                status: {eq: 'Active'},
                filter: {dlExpiration: {le: this.expirationDateBoundary}},
            };
            const expiringItems = await this.gLoadListAll(staffsDlExpirationDateByGroupAndStatus, input, 'staffsByGroupStatus');
            this.expiringLicenses = this.getExpiringItemList('dlExpiration', expiringItems.map(this.appendStaffPropToStaff));
        },

        async loadExpiringMedicalCards() {
            const input = {
                group: this.userInfo.tenant.group,
                filter: {expirationDate: {le: this.expirationDateBoundary}},
            };
            const expiringItems = await this.gLoadListAll(physicalExpirationDate, input, 'physicalsByGroup');
            this.expiringMedicalCards = this.getExpiringItemList('expirationDate', expiringItems);
        },

        async loadExpiringMotorReports() {
            const input = {
                group: this.userInfo.tenant.group,
                status: {eq: 'Active'},
                filter: {vehicleReport: {le: this.expirationDateBoundary}},
            };
            const expiringItems = await this.gLoadListAll(staffsExpirationVehicleReport, input, 'staffsByGroupStatus');
            this.expiringMotorReports = this.getExpiringItemList('vehicleReport', expiringItems.map(this.appendStaffPropToStaff));
        },

        async loadExpiringObjects() {
            try {
                this.loading = true;
                await Promise.all([
                    this.loadExpiringLicenses(),
                    this.loadExpiringMedicalCards(),
                    this.loadExpiringMotorReports(),
                ]);
            }
            catch (error) {
                this.printUserError(error);                
                this.displayUserError(error);
            }
            finally {
                this.loading = false;
            }
        },

        async loadData(){
            if(!this.hasStaffManagement && !this.hasReadOnlyAccess('staff')){
                this.staffExpiring = [
                    { staff: { dlExpiration: this.$moment(new Date()).format( "M/D/YYYY"), firstName: "Kassandra", lastName:  "Wheeler" } },
                    { staff: { dlExpiration: this.$moment(new Date()).format( "M/D/YYYY"), firstName: "Luis", lastName:  "Mason" } },
                    { staff: { dlExpiration: this.$moment(new Date()).format( "M/D/YYYY"), firstName: "Lorena", lastName:  "Jones" } },
                    { staff: { dlExpiration: this.$moment(new Date()).format( "M/D/YYYY"), firstName: "Amand", lastName:  "Mcfrazier" } },
                    { staff: { dlExpiration: this.$moment(new Date()).format( "M/D/YYYY"), firstName: "Diana", lastName:  "Young" } },
                ]
                this.loading = false
                return
            }
            this.loading = true
            await this.loadExpiringObjects();
        },

        updateLocalList(list, index, newDate) {
            const momentDate = this.$moment(newDate);
            const plainDate = momentDate.format('YYYY-MM-DD');
            if (!newDate || plainDate > this.expirationDateBoundary) { // Remove the item as is no longer an expiring item
                return list.filter((_, idx) => idx !== index);
            }
            return list.map((item, idx) => {
                if (index === idx) { // Calculate fields for updated
                    return {
                        ...item,
                        expirationDate: momentDate.format( "M/D/YYYY"),
                        pickedExpirationDate: momentDate.format( "M/D/YYYY"),
                        expired: this.isDateExpired(momentDate),
                    }
                }
                return {...item};
            });
        },

        async saveWrapper(payload) {
            const {cb, onError} = payload;
            try {
                this.reloading = true;
                await cb();
                this.displayUserNotification({
                    title: 'Updated',
                    message: 'Successful save',
                    type: 'success',
                });
            }
            catch (error) {
                this.printUserError(error);
                this.displayUserError(error);
                await onError();
            }
            finally {
                this.reloading = false;
            }
        },

        /**
         * Save license using the updateStaff GraphQL mutation
         */
        async saveLicense({item, index}){
            if(!this.hasStaffManagement){
                this.displayUserNotification({title: 'Edit', type: 'info', message:'Premium Required'})
                return
            }
            const saveCb = async () => {
                const input = {
                    id: item.id,
                    dlExpiration: item.expirationDate,
                };
                this.expiringLicenses = this.updateLocalList(this.expiringLicenses, index, item.expirationDate);
                await this.api(updateStaffDlExpiration, {input});
            };
            await this.saveWrapper({
                cb: saveCb,
                onError: this.loadExpiringLicenses,
            });
        },

        async saveMedicalCard({item, index}) {
            const saveCb = async () => {
                const input = {
                    id: item.id,
                    expirationDate: item.expirationDate,
                };
                this.expiringMedicalCards = this.updateLocalList(this.expiringMedicalCards, index, item.expirationDate);
                await this.api(updatePhysicalExpirationDate, {input});
            };
            await this.saveWrapper({
                cb: saveCb,
                onError: this.loadExpiringMedicalCards,
            });
        },

        async saveMotorReport({item, index}) {
            if(!this.hasStaffManagement){
                this.displayUserNotification({title: 'Edit', type: 'info', message:'Premium Required'})
                return
            }
            const saveCb = async () => {
                const input = {
                    id: item.id,
                    vehicleReport: item.expirationDate,
                };
                this.expiringMotorReports = this.updateLocalList(this.expiringMotorReports, index, item.expirationDate);
                await this.api(updateStaffExpirationVehicleReport, {input});
            };
            await this.saveWrapper({
                cb: saveCb,
                onError: this.loadExpiringMotorReports,
            });
        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>