<template>
    <div class="items-center flex-1" data-cy="card_netradyne-alert">
        <Card title="Netradyne Alerts"
        iconClass="uil-exclamation-octagon" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasPerformanceCoaching && !hasReadOnlyAccess('performanceCoaching')">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" v-model="currentTab" @tab-click="handleTabClick" :before-leave="beforeLeaveTab">
                <!-- FIRST TAB -->
                <!-- TODAY'S ALERTS -->
                <el-tab-pane name="yesterday" label="yesterday">
                    <span slot="label">
                        <div class="text-black text-lg text-center h-4">{{countOfYesterday}}</div>
                        <div class="text-xs text-black" data-cy="yesterday-alert">Yesterday's Alerts</div>
                    </span>
                    <div class="h-64">
                        <NetradyneDashboardTable :tableData="filteredAndSortedAlertsYesterday"/>
                    </div>
                </el-tab-pane>
                <!-- SECOND TAB -->
                <!-- THIS WEEK'S ALERTS -->
                <el-tab-pane name="thisWeek" label="thisWeek">
                    <span slot="label">
                        <div class="text-black text-lg text-center h-4">{{countOfThisWeek}}</div>
                        <div class="text-xs text-black">This Week's Alert</div>
                    </span>
                    <div class="h-64">
                        <NetradyneDashboardTable :tableData="filteredAndSortedAlertsWeek"/>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <button v-if="hasPerformanceCoaching" @click="navigateToNetradyneIndex" class="link text-sm" data-cy="card_link-netradyne">{{ viewAllButtonText }}</button>
            <PremiumWarningButton v-else isLink :buttonText="viewAllButtonText" action="view report" premiumFeature="performance and coaching" placement="bottom"/>
        </template>
        </Card>

    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { staffNetradyneAlertsByAlertsByGroupInDateRange } from '@/views/Staff/queries';
import NetradyneDashboardTable from '@/views/Staff/components/NetradyneAlert/NetradyneDashboardTable'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'

export default {
    name: "SummaryCard",
    components:  { 
        NetradyneDashboardTable, 
        Card,
        PremiumWarningButton
    },
    data(){
        return{
            loading: false,
            currentTab: "yesterday",
            yesterdayAlerts: [],
            thisWeeksAlerts: [],
            countOfYesterday: 0,
            countOfThisWeek: 0
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapGetters([
            'hasPerformanceCoaching',
            'hasReadOnlyAccess',
        ]),
        viewAllButtonText(){
            if(this.currentTab == "yesterday"){
                return "View All Alerts from Yesterday"
            }
            else{
                return "View All Alerts from this Week"
            }
        },

        filteredAndSortedAlertsYesterday(){
            var array = this.yesterdayAlerts
            array.sort((a,b) => { return b.total - a.total})
            return array.slice(0 , 5)
        },

        filteredAndSortedAlertsWeek(){
            var array = this.thisWeeksAlerts
            array.sort((a,b) => { return b.total - a.total})
            return array.slice(0 , 5)
        },

    },
    methods:{

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        /**
         * Switches tab
         */
        handleTabClick(tab){
            this.currentTab = tab.name
        },

        /**
         * Loads page data
         */
        async loadData(){
            try{
                if(!this.hasPerformanceCoaching && !this.hasReadOnlyAccess('performanceCoaching')){
                    this.loadFakeData()
                    return
                }
                this.loading = true
                var currentDate = this.$moment()
                var yesterday = this.$moment(currentDate).subtract(1, 'days').format('YYYY-MM-DD');
                var startWeek = currentDate.startOf('week').format('YYYY-MM-DD')
                var endWeek = currentDate.endOf('week').format('YYYY-MM-DD')

                
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "ASC",
                    timestamp: {
                        between: [`${yesterday} 0:00:00`, `${yesterday} 23:59:59` ]
                    }
                }

                var yesterdayAlertResult = await this.gLoadListAll(staffNetradyneAlertsByAlertsByGroupInDateRange, input, 'staffNetradyneAlertsByAlertsByGroupInDateRange')
                
                this.countOfYesterday = yesterdayAlertResult.length
                yesterdayAlertResult.sort((a,b)=>{
                    return ('' + a.staffId).localeCompare(b.staffId);
                })

                if(this.countOfYesterday > 0){
                    // map array to table table data
                    var yesterdayData = yesterdayAlertResult.reduce((map, alert) => {
                        var staff = {
                            id: alert.staff.id, 
                            firstName: alert.staff.firstName,
                            lastName: alert.staff.lastName
                        }
                        var staffKey = alert.staffId
                        if(!map[staffKey]){
                            map[staffKey] = {staff: staff, total: 0, severeAlerts: 0, moderateAlerts:0}
                        }
                        map[staffKey].total++
                        if(alert.alertSeverity.toLowerCase().includes("severe")){
                            map[staffKey].severeAlerts++
                        }
                        if(alert.alertSeverity.toLowerCase().includes("moderate")){
                            map[staffKey].moderateAlerts++
                        }
                        return map
                    }, {})
                    
                    if(!Object.keys(yesterdayData).length){
                        this.yesterdayAlerts = []
                    }
                    else{
                        var todayAlertKeys = Object.entries(yesterdayData)
                        for(const todayKey of todayAlertKeys){
                            var alertObj = yesterdayData[todayKey[0]]

                            var obj = {
                                staff: {
                                    id: alertObj.staff.id,
                                    firstName: alertObj.staff.firstName,
                                    lastName: alertObj.staff.lastName
                                },
                                total: alertObj.total, 
                                severe: alertObj.severeAlerts,
                                moderate: alertObj.moderateAlerts
                            }

                            this.yesterdayAlerts.push(obj)
                        }
                    }
                }

                input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "ASC",
                    timestamp: {
                        between: [ startWeek, endWeek]
                    } 
                }
                var thisWeekAlertResult = await this.gLoadListAll(staffNetradyneAlertsByAlertsByGroupInDateRange, input, 'staffNetradyneAlertsByAlertsByGroupInDateRange')
                this.countOfThisWeek = thisWeekAlertResult.length
                thisWeekAlertResult.sort((a,b)=>{
                    return ('' + a.staffId).localeCompare(b.staffId);
                })
                if(this.countOfThisWeek > 0){
                     // map array to table table data
                    var weekData = thisWeekAlertResult.reduce((map, alert) => {
                        var staff = {
                            id: alert.staff?.id, 
                            firstName: alert.staff?.firstName,
                            lastName: alert.staff?.lastName
                        }
                        var staffKey = alert.staffId
                        if(!map[staffKey]){
                            map[staffKey] = {staff: staff, total: 0, severeAlerts: 0, moderateAlerts:0}
                        } 
                        map[staffKey].total++
                        if(alert.alertSeverity.toLowerCase().includes("severe")){
                            map[staffKey].severeAlerts++
                        }
                        if(alert.alertSeverity.toLowerCase().includes("moderate")){
                            map[staffKey].moderateAlerts++
                        }
                        return map
                    }, {})

                    if(!Object.keys(weekData).length){
                        this.thisWeeksAlerts = []
                    }
                    else{
                        var thisWeekAlertKeys = Object.entries(weekData)
                        for(const weekKey of thisWeekAlertKeys){
                            var alertObj = weekData[weekKey[0]]

                            var obj = {
                                staff: {
                                    id: alertObj.staff.id,
                                    firstName: alertObj.staff.firstName,
                                    lastName: alertObj.staff.lastName
                                },
                                total: alertObj.total, 
                                severe: alertObj.severeAlerts,
                                moderate: alertObj.moderateAlerts
                            }

                            this.thisWeeksAlerts.push(obj)
                        }
                    }
                }


            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        loadFakeData(){
            this.yesterdayAlerts = [
                {
                    total: 5,
                    severe: 3,
                    moderate: 2,
                    staff:{
                        id: 1, 
                        firstName: "Martin",
                        lastName: "Yrigoyen"
                    }
                },
                {
                    total: 4,
                    severe: 3,
                    moderate: 1,
                    staff:{
                        id: 1, 
                        firstName: "Joshua",
                        lastName: "Rudd"
                    }
                },
                {
                    total: 4,
                    severe: 2,
                    moderate: 2,
                    staff:{
                        id: 1, 
                        firstName: "Aaron",
                        lastName: "Gonzalez"
                    }
                },
                {
                    total: 3,
                    severe: 1,
                    moderate: 2,
                    staff:{
                        id: 1, 
                        firstName: "Taisho",
                        lastName: "Adewale"
                    }
                },
                {
                    total: 2,
                    severe: 0,
                    moderate: 2,
                    staff:{
                        id: 1, 
                        firstName: "Stephanie",
                        lastName: "Aguilar"
                    }
                },
            ]
            this.countOfYesterday = 18
        },

        navigateToNetradyneIndex(){
            var currentDate = this.$moment()
            var yesterday = this.$moment(currentDate).subtract(1, 'days');
            var startWeek = new Date(currentDate.startOf('week'))
            var endWeek = new Date(currentDate.endOf('week'))

            if(this.currentTab == "yesterday"){
                this.$router.push({name: 'NetradyneIndex', params:{dashboardStartDate: yesterday, dashboardEndDate: yesterday}})
            }
            else{
                this.$router.push({name: 'NetradyneIndex', params:{dashboardStartDate: startWeek, dashboardEndDate: endWeek}})
            }
        }
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>