<template>
<div data-cy="card_optedOut">
    <Card :title="'Active '+$t('label.associate')+' Opted Out of Comms'"
    iconClass="uil-comment-alt-block" 
    :loading="loading" footer isPremiumDashboard showSampleDataText
    :premiumFeature="needPremiumPerformanceRosteringStaff">
       <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab" :before-leave="beforeLeaveTab">
                <el-tab-pane label="email" name="email">
                    <span slot="label">
                        <div class="text-lg pb-0 mb-0 text-center h-4">{{staffNoEmails.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0" data-cy="card_tabs-title">Email Off</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="staff in filteredStaffNoEmails" :key="staff.id" >
                                <div class="hover:bg-blue-100 rounded h-6 px-2 py-1 cursor-pointer" @click="handleRowClick(staff)">
                                    <div class="flex space-x-1 justify-between">
                                        <span class="text-xs truncate">{{staff.firstName}} {{staff.lastName}} {{staff.emailOptOutDate ? "— Opted out on " + staff.emailOptOutDate : ""}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="sms" name="sms">
                    <span slot="label">
                        <div class="text-lg pb-0 mb-0 text-center h-4">{{staffNoTexts.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0" data-cy="card_tabs-title">SMS Off</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="staff in filteredStaffNoTexts" :key="staff.id" >
                                <div class="hover:bg-blue-100 rounded h-6 px-2 py-1 cursor-pointer" @click="handleRowClick(staff)">
                                    <div class="flex space-x-1 justify-between">
                                        <span class="text-xs truncate">{{staff.firstName}} {{staff.lastName}} {{staff.textOptOutDate ? "— Opted out on " + staff.textOptOutDate : ""}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="both" name="both">
                    <span slot="label">
                        <div class="text-lg pb-0 mb-0 text-center h-4">{{staffNoNotifications.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0" data-cy="card_tabs-title">Both Off</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="staff in filteredStaffNoNotifications" :key="staff.id" >
                                <div class="hover:bg-blue-100 rounded h-6 px-2 py-1 cursor-pointer" @click="handleRowClick(staff)">
                                    <div class="flex space-x-1 justify-between">
                                        <span class="text-xs truncate">{{staff.firstName}} {{staff.lastName}} {{displayDates(staff.textOptOutDate, staff.emailOptOutDate)}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="Missing Phone" name="Missing Phone">
                    <span slot="label">
                        <div class="text-lg pb-0 mb-0 text-center h-4">{{staffMissingPhone.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0" data-cy="card_tabs-title">SMS On But No Phone</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="staff in filteredStaffMissingPhone" :key="staff.id" >
                                <div class="hover:bg-blue-100 rounded h-6 px-2 py-1 cursor-pointer" @click="handleRowClick(staff)">
                                    <div class="flex space-x-1 justify-between">
                                        <span class="text-xs truncate">{{staff.firstName}} {{staff.lastName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
       <template v-slot:footer>
            <div v-if="hasPerformanceCoaching && hasDailyRostering && hasStaffManagement">
                <button v-if="currentTab !== 'Missing Phone' " data-cy="card_link-optedout" class="link text-sm" @click="$router.push({ name: 'StaffOptedOut', params: { tab: currentTab } })">View All {{$t('label.associates')}} Opted Out of Communications</button>
                <button v-else data-cy="card_link-optedout" class="link text-sm" @click="$router.push({ name: 'MissingPhoneNumberReport', params: { beforeRoute: 'OptOutSummary'} })">View All {{$t('label.associates')}} With SMS On But No Phone</button>
            </div>
            <PremiumWarningButton v-else isLink :buttonText="footerLink" action="view report" :premiumFeature="'performance and coaching, daily rostering and '+ $t('label.associates')+' management'" placement="bottom"/>
       </template>
    </Card>   
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import { staffsByGroupStatus } from '../../queries';
import { SMS, EMAIL } from '@/utilities/constants/messagePreferenceType';

export default {
    name: "OptedOutSummaryCard",
    components: { 
        Card, 
        PremiumWarningButton 
    },
    data(){
        return{
            loading: false,
            currentTab: "email",
            staffNoTexts: [],
            staffNoEmails: [],
            staffNoNotifications: [],
            staffMissingPhone: [],
            format: 'M/D/YYYY',

        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapGetters([
            'hasPerformanceCoaching',
            'hasDailyRostering',
            'hasStaffManagement',
            'hasReadOnlyAccess',
        ]),
        footerLink(){
            return this.currentTab !== 'Missing Phone' ? `View All ${this.$t('label.associates')} Opted Out of Communications` : `View All ${this.$t('label.associates')} With SMS On But No Phone`
        },
        needPremiumPerformanceRosteringStaff(){
            return !this.hasPerformanceCoaching && !this.hasDailyRostering &&
            !this.hasStaffManagement && !this.hasReadOnlyAccess('performanceCoaching') && !this.hasReadOnlyAccess('dailyRostering') && !this.hasReadOnlyAccess('staff')
        },

        filteredStaffNoEmails(){
            return this.extractPreviewRecords( this.staffNoEmails, 10 );
        },
        filteredStaffNoTexts(){
            return this.extractPreviewRecords( this.staffNoTexts, 10 );
        },
        filteredStaffNoNotifications(){
            return this.extractPreviewRecords( this.staffNoNotifications, 10 );
        },
        filteredStaffMissingPhone(){
            return this.extractPreviewRecords( this.staffMissingPhone, 10 );
        },


    },
    methods:{

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        async loadStaffNotReceivingNotifications(){
            let staffs = []
            try{
                const input = {
                    group: this.$store.state.userInfo.tenant.group,
                    status: { eq:"Active" },
                    filter: {
                        or: [
                            {receiveTextMessages: {eq: false}}, 
                            {receiveEmailMessages: {eq: false}}
                        ]
                    },
                }
                staffs = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
            }catch(error){
                this.displayUserError(error)
                staffs = []
            }finally{
                return staffs
            }
        },

        getPreferenceMessageLog(messagePreferencesHistory=[], type=''){
            let preferenceMessageLog = messagePreferencesHistory.filter(item => {
                return item.messagePreferenceType === type && (item.description?.endsWith("to false") || item.description?.includes("STOP"))
            });
            preferenceMessageLog = preferenceMessageLog.sort((a, b) => new Date(b.datetime).getTime() - new Date(a.datetime).getTime());
            return preferenceMessageLog;
        },

        async loadStaffNoTexts(staffs=[]){
            try{
                staffs.forEach( staff => {
                    let preferenceMessageLog = staff.messagePreferencesHistory?.items || [];
                    preferenceMessageLog = this.getPreferenceMessageLog(preferenceMessageLog, SMS);
                    const textOptOutDate = preferenceMessageLog[0]?.datetime || null;
                    if(textOptOutDate){
                        staff.textOptOutDate = this.$moment(textOptOutDate).format(this.format);
                    }
                })
                this.staffNoTexts = [...staffs]
            }catch(e){
                this.displayUserError(e)
            }
        },

        async loadStaffNoEmails(staffs=[]){
            try{
                staffs.forEach( staff => {
                    let preferenceMessageLog = staff.messagePreferencesHistory?.items || [];
                    preferenceMessageLog = this.getPreferenceMessageLog(preferenceMessageLog, EMAIL);
                    const emailDate = preferenceMessageLog[0]?.datetime || null;
                    if(emailDate){
                        staff.emailOptOutDate = this.$moment(emailDate).format(this.format);
                    }
                })
                this.staffNoEmails = [...staffs]
            }catch(e){
                this.displayUserError(e)
            }
        },
        

        async loadStaffNoNotifications(staffs=[]){
            try{
                staffs.forEach( staff => {
                    const preferenceMessageLog = staff.messagePreferencesHistory?.items || [];
                    const smsPreferenceMessageLog = this.getPreferenceMessageLog(preferenceMessageLog, SMS);
                    const emailPreferencesHistory = this.getPreferenceMessageLog(preferenceMessageLog, EMAIL);
                    const textOptOutDate = smsPreferenceMessageLog[0]?.datetime || null;
                    const emailDate = emailPreferencesHistory[0]?.datetime || null;
                    if(textOptOutDate){
                        staff.textOptOutDate = this.$moment(textOptOutDate).format(this.format);
                    }
                    if(emailDate){
                        staff.emailOptOutDate = this.$moment(emailDate).format(this.format);
                    }
                })
                this.staffNoNotifications = [...staffs]
            }catch(e){
                this.displayUserError(e)
            }
        },

        async loadStaffMissingPhone(){
            try{
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    status: { eq: "Active" },
                    filter: { receiveTextMessages: { eq: true }, phone: { attributeExists: false } }
                }
                var staffs = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
                this.staffMissingPhone = [...staffs]
            }catch(e){
                this.displayUserError(e)
            }
        },

        async loadData(){
            if(this.needPremiumPerformanceRosteringStaff){
                this.loadFakeData()
                return
            }
            this.loading = true
            const staffs = await this.loadStaffNotReceivingNotifications()
            const staffsNotReceiveTextMessages = staffs.filter(staff => !staff.receiveTextMessages)
            const staffsNotReceiveEmailMessages = staffs.filter(staff => !staff.receiveEmailMessages)
            const staffsNotReceivingNotifications = staffs.filter(staff => !staff.receiveTextMessages && !staff.receiveEmailMessages)
            await this.loadStaffNoTexts(staffsNotReceiveTextMessages)
            await this.loadStaffNoEmails(staffsNotReceiveEmailMessages)
            await this.loadStaffNoNotifications(staffsNotReceivingNotifications)
            await this.loadStaffMissingPhone()
            this.loading = false
        },

        loadFakeData(){
            this.staffNoEmails = [
                {
                    id: 1,
                    emailOptOutDate: "04/18/2022",
                    firstName: 'Kellen',
                    lastName: 'Hilbert'
                },
                {
                    id: 2,
                    emailOptOutDate: "04/15/2022",
                    firstName: "Meghann",
                    lastName: "Ariella"
                },
                {
                    id: 3,
                    emailOptOutDate: "08/14/2022",
                    firstName: "Jackie",
                    lastName: "Lucienne"
                },
                {
                    id: 4,
                    emailOptOutDate: "10/08/2022",
                    firstName: "Alisha",
                    lastName: "Chesna"
                },
                {
                    id: 5,
                    emailOptOutDate: "10/31/2022",
                    firstName: "Kirbee",
                    lastName: "Marden"
                }
            ]
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },

        displayDates(textDate, emailDate){
            if (textDate && emailDate){
                return "— Opted out on " + textDate + " (SMS) and " + emailDate + " (email)"
            }else if (textDate && !emailDate){
                return "— Opted out on " + textDate + " (SMS)"
            }else if (!textDate && emailDate){
                return "— Opted out on " + emailDate + " (email)"
            }else{
                return ""
            }
        },

        handleRowClick(staff) {
            let previousRouteText = 'Dashboard',
            previousRouteName = this.$route.name

            this.$router.push({name: 'StaffDetail', params: { id: staff.id }, query: {previousRouteText, previousRouteName}})
        },

        extractPreviewRecords(listRecords, totalRecordsPreview) {
            return listRecords.slice( 0, totalRecordsPreview );
        },

    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>