<template>
<div data-cy="card_tasks">
    <Card :title="title"
    iconClass="uil-check-square" 
    :loading="loading" footer isPremiumDashboard showSampleDataText
    :premiumFeature="!hasStaffManagement && !hasReadOnlyAccess('staff')">
    <template v-slot:body>
        <el-tabs type="border-card" class="dashboard-card-body" v-model="currentTab" @tab-click="handleTabClick" :before-leave="beforeLeaveTab">
            <!-- FIRST TAB -->
            <!-- ASSIGNED TO ME TASKS -->
            <el-tab-pane name="upcoming" label="upcoming">
                <span slot="label">
                    <div class="text-black text-lg text-center h-4" :class="{'text-red-600': hasOverdueTaskAssignedFrom}">{{assignedFromTasks.length}}</div>
                    <div class="text-xs text-black">{{subtitleAssignedFrom}}</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div>
                            <div v-for="(assignedFromTask) in filteredAssignedFromTasks" :key="assignedFromTask.id">
                                <div class="cursor-pointer hover:bg-blue-100 h-12 rounded px-2">
                                    <span @click="openEditTaskModal(assignedFromTask)" class="text-xs font-bold truncate" :class="{'text-red-600': assignedFromTask.isOverdue}">{{ assignedFromTask.date | date }}
                                        <span v-if="assignedFromTask.assigner">— From: {{assignedFromTask.assigner.firstName}} {{ assignedFromTask.assigner.lastName }}</span>
                                    </span>
                                    <span class="float-right">
                                        <i class="uil uil-check text-2xl text-gray-600 hover:text-green-500" @click="completeTask(assignedFromTask)"></i>
                                    </span>
                                    <p class="text-xs truncate" :class="{'text-red-600': assignedFromTask.isOverdue}" >{{ assignedFromTask.taskName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <!-- SECOND TAB -->
            <!-- ASSIGNED TO OTHERS TASKS -->
            <el-tab-pane name="pastDue" label="pastDue">
                <span slot="label">
                    <div class="text-black text-lg text-center h-4" :class="{'text-red-600': hasOverdueTaskAssignedTo}">{{assignedToTasks.length}}</div>
                    <div class="text-xs text-black">{{subtitleAssignedTo}}</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div v-for="(assignedToTask) in filteredAssignedToTasks" :key="assignedToTask.id">
                            <div @click="openEditTaskModal(assignedToTask)" class="cursor-pointer hover:bg-blue-100 rounded h-12 px-2">
                                <span class="text-xs font-bold ellipsis" :class="{'text-red-600': assignedToTask.isOverdue}">{{ assignedToTask.date | date }} 
                                   <span v-if="assignedToTask.assignee">— To: {{assignedToTask.assignee.firstName}} {{ assignedToTask.assignee.lastName }} </span>
                                </span>
                                <p class="text-xs truncate" :class="{'text-red-600': assignedToTask.isOverdue}">{{ assignedToTask.taskName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <!-- MISC TASKS -->
            <el-tab-pane name="other" label="other">
                <span slot="label">
                    <div class="text-black text-lg text-center h-4" :class="{'text-red-600': hasOverdueTaskOtherTasks}">{{otherTasks.length}}</div>
                    <div class="text-xs text-black">{{subtitleAssignedOther}}</div>
                </span>
                <div class="h-64">
                    <div class="p-2">
                        <div v-for="(otherTask) in filteredOtherTasks" :key="otherTask.id">
                            <div @click="openEditTaskModal(otherTask)" class="cursor-pointer hover:bg-blue-100 rounded h-12 px-2">
                                <span class="text-xs font-bold ellipsis" :class="{'text-red-600': otherTask.isOverdue}">{{ otherTask.date | date }}
                                    <span v-if="otherTask.assignee">— To: {{otherTask.assignee.firstName}} {{ otherTask.assignee.lastName }}</span> 
                                    <span v-if="otherTask.assigner">| From: {{otherTask.assigner.firstName}} {{ otherTask.assigner.lastName }}</span>
                                </span>
                                <p class="text-xs truncate" :class="{'text-red-600': otherTask.isOverdue}">{{ otherTask.taskName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    </template>
    <template v-slot:footer>
        <router-link v-if="hasStaffManagement" :to="{ name: 'Task' }" data-cy="card_link-Tasks" class="link text-sm">View All Tasks</router-link>
        <PremiumWarningButton v-else isLink buttonText="View All Tasks" action="view report" :premiumFeature="$t('label.associate')+' management'" placement="bottom"/>
    </template>
    </Card>
    

    <!--EDIT TASK MODAL-->
    <el-dialog
      title="Edit Task"
      :visible.sync="editTaskModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <TaskForm :formData="formData" :isNew="false" ref="editTaskForm" v-loading="modalLoading"/>
    
      <span slot="footer" class="dialog-footer">
        <el-button @click="editTaskModalOpen = false, tempReminderDate = null" :disabled="modalLoading">Cancel</el-button>
        <el-button type="primary" @click="updateTask" :disabled="modalLoading" >Update</el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import { updateTask } from '@/graphql/mutations'
import generateTemplate from '@/scripts/emailTemplate.js'
import TaskForm from '@/views/Tasks/components/TaskForm'
import { getTaskUpdatedTimestamp } from '@/utilities/timestampQueries'
import { tasksByOwner, tasksByCreator, tasksByGroupAndStatus, getUser } from '@/views/Tasks/queries';
import { mapState, mapGetters } from 'vuex'
import { API } from 'aws-amplify';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import Card from '@/components/Dashboard/Card'

export default {
    name: "TaskSummary",
    components:{
        TaskForm, 
        Card,
        PremiumWarningButton
    },
    data(){
        return{
            title:"Tasks",
            subtitleAssignedFrom:"Assigned To Me",
            subtitleAssignedTo:"Assigned By Me",
            subtitleAssignedOther: "Other Tasks",

            loading: true,

            currentTab: "upcoming",
            showAllInfractions: false,
            showAllDriverIssues: false,

            assignedToTasks: [],
            assignedFromTasks: [],
            otherTasks: [],

            editTaskModalOpen: false,
            tempReminderDate: null,
            formData: {},

            modalLoading: false,
        }
    },
    mounted(){
        this.$nextTick(async()=>await this.loadData())
    },
    computed: {
        ...mapState([
            'userInfo',
            'valuelists',
            'staffList'
        ]),

        ...mapGetters([
            'hasStaffManagement',
            'hasReadOnlyAccess'
        ]),

        filteredAssignedToTasks(){
            return this.assignedToTasks.slice(0 , 5)
        },

        filteredAssignedFromTasks(){
            return this.assignedFromTasks.slice(0 , 5)
        },

        filteredOtherTasks(){
            return this.otherTasks.slice(0 , 5)
        },

        hasOverdueTaskAssignedFrom(){
            return this.assignedFromTasks.some( task => task.isOverdue)
        },

        hasOverdueTaskAssignedTo(){
            return this.assignedToTasks.some( task => task.isOverdue)
        },

        hasOverdueTaskOtherTasks(){
            return this.otherTasks.some( task => task.isOverdue)
        },

    },
    methods:{

        beforeLeaveTab(tabName){
            return document.querySelector(`#tab-${tabName}`)
        },

        /**
         * Loads page data
         */
        async loadData(){
            this.loading = true
            if(!this.hasStaffManagement && !this.hasReadOnlyAccess('staff')){
                this.loading = false
                this.assignedFromTasks = [
                    { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: "Roster today's "+ this.$t('label.associate')},
                    { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: "Take Van 34 in for oil change" },
                    { date: new Date().toISOString(), assigner:{ lastName: "Donte", firstName: "Mouse" }, taskName: "Interview new DAs" },
                ]
                return
            }
           
            await this.loadAssignedToTasks()
            await this.loadAssignedFromTasks()
            await this.loadOtherTasks()
            this.loading = false
        },



        /**
         * Get a list of over due tasks
         */
        async loadAssignedFromTasks(){
            try{
                //calculate day
                var today = this.$moment()
                var fiveDaysFromNow = this.$moment().add( 5 , "days" ).format()

                //get overdue tasks
                var input = {
                    statusDate: {beginsWith: {status: "Pending"}},
                    owner: this.$store.state.userInfo.id,
                    date: {lt: fiveDaysFromNow},
                    sortDirection: "ASC"
                }
                var results = await this.gLoadListAll( tasksByOwner, input, 'tasksByOwner' )
                
                results.map( task => {
                    task.isOverdue = today.format() > task.date ? true : false
                })
                this.assignedFromTasks = results

            }catch(e){
                console.log(e)
                this.displayUserNotification({
                    title: "Error",
                    type: "error",
                    message: e.message
                })
            }

        },

        /**
         * Get a list of upcoming tasks
         */
        async loadAssignedToTasks(){
            try{
                var today = this.$moment()

                //get upcoming tasks
                var input = {
                    statusDate: {beginsWith: {status: "Pending"}},
                    creator: this.$store.state.userInfo.id,
                    sortDirection: "ASC"
                }
                var results = await this.gLoadListAll( tasksByCreator, input, 'tasksByCreator' )

                results.map( task => {
                    task.isOverdue = today.format() > task.date ? true : false
                })
                this.assignedToTasks = results

            }catch(e){
                console.log(e)
                this.displayUserNotification({
                    title: "Error",
                    type: "error",
                    message: e.message
                })
            }
        },

        async loadOtherTasks(){
            try{
                var today = this.$moment()
                //build filter
                var filter = {
                    owner:  { ne: this.$store.state.userInfo.id},
                    creator: { ne: this.$store.state.userInfo.id},
                }

                //get upcoming tasks
                var input = {
                    filter: filter,
                    status: "Pending",
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "ASC"
                }
                var results = await this.gLoadListAll( tasksByGroupAndStatus, input, 'tasksByGroupAndStatus' )

                results.map( task => {
                    task.isOverdue = today.format() > task.date ? true : false
                })
                this.otherTasks = results

            }catch(e){
                console.log(e)
                this.displayUserNotification({
                    title: "Error",
                    type: "error",
                    message: e.message
                })
            }
        },

        /**
         * Switches tab
         */
        handleTabClick(tab){
            this.currentTab = tab.name
        },

        
        /**
         * Completes a task
         */
        async completeTask(task){
            var assignerID = task.assigner.id
            var assigneeID = task.assignee.id

            try{
            var input = {
                ...task,
                taskAssignerId: assignerID,
                taskAssigneeId: assigneeID,
                group: this.$store.state.userInfo.tenant.group,
            }
            input.status = "Complete"

            delete input.assignee
            delete input.assigner
            delete input.isOverdue
            const result = await this.api(updateTask, {input: input}, getTaskUpdatedTimestamp, 'getTask')
            console.log(result)
            this.$message({
                type: 'success',
                message: 'Task Completed'
            });                
            await this.loadData()

            }catch(e){

                console.log(e)
                this.displayUserError(e)
            }

        },

        async openEditTaskModal(task){
            try{
                //check timestamp
                var timestampResult = await this.api(getTaskUpdatedTimestamp, {id: task.id})
                if(!timestampResult.data.getTask){
                  throw "Task is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getTask.updatedAt
                if(task.updatedAt != timestamp){
                    throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
                this.$router.push({name: 'Task', params: {taskID: task.id}})
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            // this.formData = {...task}
            // this.tempReminderDate = task.reminderDate
            // this.editTaskModalOpen = true
        },

        async updateTask(){
            // this.loading = true
            this.modalLoading = true
            var assignerID = this.formData.assigner.id
            var assigneeID = this.formData.assignee.id
            var executionARN = this.formData.executionARN

            try {
                //check timestamp
                var timestampResult = await this.api(getTaskUpdatedTimestamp, {id: task.id})
                if(!timestampResult.data.getTask){
                  throw "Task is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getTask.updatedAt
                if(this.formData.updatedAt != timestamp){
                  throw "Record was updated by another user. Please copy any changes and refresh the page."
                }

                this.$refs.editTaskForm.$refs.newTaskForm.validate((valid) => {
                    if (!valid) {
                        throw{
                            errors: [
                                { message: "Please fill out all required fields"}
                            ]
                        }
                    }
                })
            }catch (e) {
                console.log(e)
                this.loading = false
                this.modalLoading = false
                this.displayUserError(e)           
                return
            }

            try{
            var input = {
                ...this.formData,
                owner: assigneeID,
                creator: assignerID,
                taskAssignerId: assignerID,
                taskAssigneeId: assigneeID,
                group: this.userInfo.tenant.group
            }
            delete input.executionARN
            delete input.assignee
            delete input.assigner
            delete input.isOverdue

            //if the reminder date changes, the reminder date is greater than now, and they want a reminder. 

            if(this.tempReminderDate != input.reminderDate && new Date (input.reminderDate) > new Date() && input.isDateReminder){
                console.log("updating steps")

                //get user info
                const userInfo = await this.api(getUser, {id: assigneeID})
                var user = userInfo.data.getUser
                var assignerName = user.firstName + ' ' + user.lastName

                //check user settings
                if (user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                    //user receives emails and texts
                    var channelType = "SMS/EMAIL"
                }else if (user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                    //user receives just texts
                    var channelType = "SMS"
                }else if (!user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                    //user receieves just emails
                    var channelType = "EMAIL"
                }else if (!user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                    //user receives no notifications
                    var channelType = "none"
                }

                let apiName = 'ScheduleNotifications'
                let path = '/notification'
                let put = {
                    body: {
                        notification:{
                            owner: user.cognitoSub,
                            id: input.id + 'upcoming',
                            title: 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"",
                            description: "Click here to dismiss",
                            isRead: false,
                            group: this.$store.state.userInfo.tenant.group,
                            clickAction: "dismiss",
                            payload: ""
                        },
                        executionARN: executionARN,
                        reminderDate: input.reminderDate,
                        taskID: input.id,
                        message: {
                            createdAt: new Date().toISOString(),
                            id: input.id + new Date().toISOString(),
                            group: this.$store.state.userInfo.tenant.group,
                            isReadS: 'false',
                            subject: 'Upcoming Task',
                            bodyHtml: generateTemplate(input.taskName, 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"", '', this.$store.state.userInfo.tenant.companyName),
                            messageType: 'taskReminder',
                            channelType: channelType,
                            bodyText: 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"",
                            destinationNumber: user.phone,
                            destinationEmail: user.email                        
                        }
                    }
                }
                console.log(put)
                await API.put(apiName, path, put)
            }

            const result = await this.api(updateTask, {input: input})
            this.editTaskModalOpen = false
            this.$message({
                type: 'success',
                message: 'Task Updated'
            });         
  
            //reload
            if(this.currentTab == "upcoming"){
                this.loadAssignedFromTasks()
            }else if (this.currentTab == "pastDue"){
                this.loadAssignedToTasks()
            }else if (this.currentTab == "other"){
                this.loadOtherTasks()
            }

            }catch(e){
                console.log(e)
                this.displayUserError(e)   

            }finally{
                this.modalLoading = false
                // this.loading = false
            }

        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>