.heading{
    line-height: unset;
}
.createBillForm label{
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.65) !important;
}

.create-bill .title-text-billing{
    display: flex;
    font-weight: normal;
}
.deduction-row .deduction-text{
    font-weight: normal;
}
.create-bill label{
    margin-right: 20px;
    margin-bottom: unset;
}

.create-bill p{
    margin-bottom:unset;
    margin-top:1em;
}

.create-bill .fields-container-bill{
    border-bottom: 1px solid black !important;
    padding:10px 15px;
}
.create-bill  .ant-input-number{
    height:unset !important;
}

.create-bill .deduction-row .ant-row{
    margin-top: 10px;
}

.create-bill .deduction-row .ant-form-item{
    margin-top: unset;
}

.create-bill .ant-form-item-with-help{
    margin-bottom: unset !important;
}

.other-detail{
    padding-left:40px;
}

.total-deduction{
    text-align: right;
}

.create-bill .ant-form-item-control{
    line-height: 20px;
}

.reason-label {
    font-weight: bold;
    color:#000;
}