.flex-box{
  min-height: 210px;
  height: 210px;
  padding: 0 40px;
  width: 100%;
  background-color: rgb(249, 249, 249);
  box-shadow: 0 0 8px #e8e8e8;
  display: grid;
  border: 20px solid #fff;
  align-content: center;
}
.flex-box:hover{
  min-height: 210px;
  height: 210px;
  padding: 0 40px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  box-shadow: 0 0 8px #e8e8e8;
  display: grid;
  border: 20px solid #fff;
  align-content: center;
  transition: all ease-in 0.3s;
}
.flex-box-heading{
  text-align: center;
  font-weight: 700;
  font-size : 25px;
  color: #000;
  text-transform: uppercase;
}
.flex-box-heading i{
  color: #ed1b24;
}
.space-bw{
  margin-top: 30px;
}
.m-custom-table{
  background: #fff;
}
.m-custom-table td{}
.m-custom-table th{
  background: #f7f7f7;
}
.qr-scan-screen{
  background: #fff;
  border:2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 300px;
}
.m-r-camera video{
    width: 100% !important;
    height: 100% !important;
}
.m-r-camera img{
  width: 100% !important;
  height: 100% !important;
}
.rd{
  color: #ed1b24;
}
.p-r-20{
  padding-right: 20px;
}
.scan a{
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ff0000;
  padding: 5px 10px;
  border-radius: 4px;
  background: #ee2730;
}
.scan a:hover{
  color: #ffffff;
  background: #d21821;
}
.view a{
  font-weight: 600;
  color: #007bff;
}
.event-name{
  color:#239a47;
}
.scan-btn-wrap{
  text-align: center;
  margin-top: 40px;
}
.scan-btn-wrap a{
  color: unset;
}
.m-t-30{
  margin-top: 30px;
}
.service-panel-toggle{
  display: none;
}
.white{
  color: #ffffff;
  cursor: pointer;
}
.login-menu{}
.login-menu .login-profile{
  display: inline-flex;
  color: #ffffff;
}
.login-menu .login-profile .login-img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  border: 5px solid #f7f7f773;
}
.login-menu .login-profile img{}
.login-menu .login-profile .login-name{
  line-height: 50px;
  margin-left: 11px;
}
.login-menu .login-logout{
  line-height: 50px;
  margin-left: 11px;
}
.red{
  color: #ef3941;
  font-weight: bold;
}
.red-btn{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #f62d51;
    border-color: #f62d51;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: inline-block;
    padding: 0 20px;
    border-radius: 2px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
}
.border-btn{
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #575757;
  background-color: white;
  border-color: #575757;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 0 20px;
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
}
.ant-input{
  border-radius: 0 !important;
  height: 38px !important;
}
.link{
  color: #239a47;
  text-decoration: underline;
  cursor: pointer;
}
.tags-bg{
  background-color: #e6e6e6 !important;
  padding: 2px 7px;
  color: hsl(0,0%,20%) !important;
  margin-right: 4px;
}

.tags-container2{
  position: absolute;
  margin-top: -3px;
  margin-left: -3px;
}


.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  /* border-color: #a5d24a; */
}

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  /* border: 1px solid #a5d24a; */
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  /* padding: 5px; */
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
  font-weight: bold;
    color: #505050;
    font-size: 15px;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
.ticketlake-btn{
  background: #ed1b24;
  border-color: #ed1b24;
}
.ticketlake-btn:hover{
  background: #ed1b24 !important;
  border-color: #ed1b24 !important;
}
.p-b-30{
  padding-bottom: 30px;
}
.m-b-20{
  margin-bottom: 20px;
}
.white-bg{
  background: #fff;
}
.white-bg th{
  background: #ffffff;
}
.topheadings button{
  float:right;
}
.topheadings{
  margin-bottom: 40px;
}
.c-search{
  min-width: 294px;
}
.search_icon{
  position: relative;
  right: 25px;
  top: 8px;
  z-index: 90;
}
.link{
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}
.center{
  text-align: center;
}
.height-auto{
  height: auto !important;
}
.custom-tabs-design i{
  display: none;
}
.custom-tabs-design .ant-tabs-bar{
  border-bottom: 0px; 
}
.custom-tabs-design .ant-tabs-bar{
  margin: 0px;
}
.custom-tabs-design .ant-tabs-top-content, 
.custom-tabs-design .ant-tabs-bottom-content{
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
}
.custom-tabs-design .ant-tabs-tab-active {
  color: #ffffff !important;
  background: #ffffff !important;
  font-weight: normal !important;
}
.custom-tabs-design .ant-tabs-tab-active{
  border-color: #ff0000 !impportant;
  background: #ff0000 !important;
  color: #ffffff !important;
  border-bottom: 1px solid #f00 !important;
}
.custom-tabs-design .ant-tabs-tab-active div{
  color: #ffffff;
  line-height: 37px
}
.custom-tabs-design .ant-tabs-content{
 border-top: 3px solid #ff0000;
 margin-top: 1px;
}
.custom-tabs-design .ant-tabs-tab{
  /* border: 0px !important; */
  border-radius: 0px;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-bottom-15{
  margin-bottom: 15px !important;
}
.margin-bottom-40{
  margin-bottom: 40px !important;
}
.coupon-tabs-design .ant-tabs-nav-wrap{
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.coupon-tabs-design .ant-tabs-nav-container{
  height: 57px !important;
}
.coupon-tabs-design .ant-tabs-bar{
  border-bottom: 0px;
}
.coupon-tabs-design > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent !important;
  background: transparent !important;
  padding: 0 30px !important;
  line-height: 50px !important;
  height: 50px !important;
}
.coupon-tabs-design .ant-tabs-tab{
  font-size: 20px;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
.border{
  border:1px solid #d9d9d9 !important;
}
.border input{
  margin-bottom: 0px;
}
.ant-select-selection--single{
  height: 40px !important;
  border-radius: 0px !important;
}
.ant-select-selection__rendered{
  line-height: 40px !important;
}
.ant-input-number{
  height: 40px !important;
  border-radius: 0px !important;
  line-height: 40px !important;
  width: 100% !important;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
  color: #ff0000 !important;
}
.category-icon{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 5px solid #f7f7f7;
  border-radius: 10px;
  margin-right: 10px;
}
.category-image{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 5px solid #f7f7f7;
  border-radius: 10px;
  margin-right: 10px;
}
.ant-upload-list-item-info > span{
  height: 100%;
}


.stats-box{
  padding: 15px;
}
.right{
  text-align: right;
}
.bar-charts{

}
.percentage{
  color: #4CAF50;
}
.red-sub-title{
  font-size: 24px;
  color: #252122;
  font-weight: 500;
}
.full-width{
  width: 100%;
}
.red-title{
  font-size: 37px;
  color: #f00;
  font-weight: 500;
}
.custom-section-design .ant-table-wrapper{
  width: 100%;
  margin-top: 20px;
}
.red-text{
  color: #a0a0a0;
}
.icon-btns-1{
  padding: 5px 8px;
  border: 1px solid;
  color: #5e72e4;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}
.icon-btns-2{
  padding: 5px 8px;
  border: 1px solid;
  color: #f00;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}
.model-design .ant-modal-content{
 border-radius: 0px;
}
.model-design{
  width: 100% !important;
  max-width: 700px !important;
}
.model-design .ant-modal-footer .ant-btn{
  border-radius:0px;
  width: 92px;
  /* border: 0px;  */
}
.model-design .ant-modal-footer .ant-btn-primary{
  background: #f00;
  border-radius:0px;
  border: 0px; 
}
.delete-btn{
  border: 1px solid #f00;
  color: #f00;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}
.delete-btn i{
  display: inline-block !important;
}
.multiple-tags-design .ant-select-selection__choice{
  height: 34px !important;
  line-height: 29px !important;
  background-color: #eaf1f5 !important;
}
.react-html5-camera-photo>.display-error{
  width: 100% !important;
  height: 200px !important;
}