
/********************** Animations  *****************************/

.floorView-appear {
    opacity: 0.01;
    /*transform: translate3d(-200px,0,0);*/
}


.floorView-appear.floorView-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;

}


.itemEnterLeave-enter {
    opacity: 0.01;
}

.itemEnterLeave-enter.itemEnterLeave-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.itemEnterLeave-leave {
    opacity: 1;
}

.itemEnterLeave-leave.itemEnterLeave-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}