<template>
  <div>
    <TableCard tablecard-class="rounded-lg">
      <!-- filters  -->
      <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            <span>{{ tableTitle }}</span>
          </template>
          <template v-slot:filters>
            <CounterFilter :counter="getResumeFilters"/>
            <MultiSelectFilter
              type="vehicleStatus"
              title="Vehicle Status"
              :options="optionsVehicleStatus"
              :selected="filterVehicleStatus"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="vehiclesByType"
              title="Vehicle Type"
              :options="optionsVehiclesByType"
              :selected="filterVehiclesByType"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="vehicleCompany"
              title="Company"
              :options="optionsVehicleCompany"
              :selected="filterVehicleCompany"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="vehicleLabels"
              title="Labels"
              :options="optionsVehicleLabels"
              :selected="filterVehicleLabels"
              @update-filters="updateFilters"
            />
          </template>
        </ContainerFilter>
      </template>

      <!-- search box -->
      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="searchData"/>
      </template>

      <CustomTable
        v-loading="!getVehicles.lastRenderKey"
        :columns="cols"
        :data="tableData"
        :totalRecords="totalVehicles"
        :emptyText="emptyText"
        :footerTable="footerTableName"
        withTableMenu
        :selectionEntityLabels="['Vehicle', 'Vehicles']"
        @click-menu="handleCommand"
        :optionsRows="optionsRow"
        :optionsHeader="optionsContextHeader"
        inTable
      >
        <template #status="row">
          <div class="flex">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial" :class="classStatus(row)">
              {{ row.status }}
            </span>
          </div>
        </template>
        <template #vehicleType="row">
          {{ row.vehicleType ? row.vehicleType.option : "No vehicleType applied" || 'No vehicleType' }}
        </template>
        <template #labels="row">
            {{ showLabels(row) }}
            <!-- <ProfileLabels
              v-if="row.id"
              labelType="Vehicles"
              :profileId="row.id"
              :labels="row.labels? row.labels.items : []"
              :userInfo="userInfo" 
              :fullName="row.name">
            </ProfileLabels> -->
        </template>
        <template #viewVehicle="row" class="relative">
          <p style="padding-left: 2px" class="absolute z-10 top-1/2 left-15 transform -translate-y-1/2">
            <el-tooltip class="item flex-initial" effect="dark" :content="`View Vehicle`" placement="bottom">
                <i data-cy="view-da" @click="handleCommand({row, action: 'view'})" class="icon-button uil uil-file-landscape-alt text-2xl"></i>
            </el-tooltip>
          </p>
        </template>
        <template  #licensePlateExp="row" class="relative">
            <p :class="{'text-red-500' : row.licensePlateExp && new Date(row.licensePlateExp) <= new Date(), 'text-orange-500' 
            : row.licensePlateExp && new Date(row.licensePlateExp) > new Date()}">{{ row.licensePlateExp | date }}</p>
        </template>
        <template  #lastOdometerReadingDate="row" class="relative">
          {{ row.lastOdometerReadingDate | date }}
        </template>
      </CustomTable>

    </TableCard>

    <!--WARNING DIALOG-->
    <el-dialog
        title="Premium Required"
        :show-close="false"
        :center="true"
        :visible.sync="showUpgradeDialog"
        width="300px">
        <PremiumWarning
            :action="warningMessage"
            :premiumFeature="warningType"
            :modal="true"
            @go-to-account-details="navigateToAccountDetails"
            @close-dialog="showUpgradeDialog = false">
        </PremiumWarning>
    </el-dialog>


    <!-- ADD ODOMETER FORM-->
    <el-dialog
        title="Add Odometer Reading"
        :visible.sync="odometerReadingModalOpen"
        width="65%"
        :show-close="false"
        @close="handleOdometerCancel"
    >
    <OdometerReadingForm
      v-loading="loading"
      :formFields="odometerFormFields"
      :singleVehicleArray="singleVehicleArray"
      :vehicleSelectionDisabled="vehicleSelectionDisabled"
      :modalStatus="odometerReadingModalOpen"
      @set-edit-vehicle-data="setEditVehicleData"
      ref="odometerReadingForm"
      @submit-event="saveOdometerData"
    />
    <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              data-cy="or-cancel-btn"
              @click="handleOdometerCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              v-if="hasVehicleManagement"
              type="primary"
              data-cy="or-create-btn"
              :clickHandler="saveOdometerData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Create
            </ButtonWrapper>
            <PremiumWarningButton v-else buttonText="Create" action="create" premiumFeature="vehicle" placement="bottom"/>
          </template>
        </ButtonGroupWrapper>
    </span>
    </el-dialog>

    <!-- VEHICLE DAMAGE DRAWER -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="VehicleDamage_StaffList"
      :loadingStaffList="VehicleDamage_LoadingStaffList"

      :vehicleList="vehicleList"
      :loadingVehicleList="loadingVehicles"
      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="$_VehicleDamage_saveData"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="$_VehicleDamage_delete"
    />

    <!-- VEHICLE DAILY LOG -->
    <VehicleDailyLog
      :isOpen="VehicleDailyLog_IsOpen"
      :loading="VehicleDailyLog_Loading"
      :formTitle="VehicleDailyLog_FormTitle"
      :formFields="VehicleDailyLog_FormFields"
      :vehicle="VehicleDailyLog_Vehicle"

      :primarySectionTitle="VehicleDailyLog_PrimarySectionTitle"
      :secondarySectionTitle="VehicleDailyLog_SecondarySectionTitle"

      :logImages="VehicleDailyLog_Images"
      :logImagesToCreate="VehicleDailyLog_ImagesToCreate"
      :logImagesToDelete="VehicleDailyLog_ImagesToDelete"

      :mostRecentDailyLog="VehicleDailyLog_MostRecentDailyLog"
      :mostRecentDailyLogImages="VehicleDailyLog_MostRecentDailyLogImages"

      :createdByOptions="VehicleDailyLog_CreatedByOptions"
      :handleSearchCreatedBy="$_VehicleDailyLog_handleSearchCreatedBy"

      @date-or-time-change="$_VehicleDailyLog_loadMostRecentDailyLog"
      @cancel-save="$_VehicleDailyLog_cancelSave"
      @save-data="$_VehicleDailyLog_saveData"
      @save-plus-add-damage="$_VehicleDailyLog_savePlusAddDamage"
    />

    <!-- VEHICLE MAINTENANCE FORM-->
    <Drawer
      v-if="Maintenance_DrawerVisibility"
      title="Add Vehicle Maintenance Record" 
      :visibility="Maintenance_DrawerVisibility" 
    >
      <template v-slot:drawerContent>
        <div class="p-5">
          <MaintenanceForm
            :formFields="MaintenanceForm_formFields"
            :reminders="MaintenanceForm_Reminders"
            :documents="MaintenanceForm_Documents"
            :createdDocuments="MaintenanceForm_DocumentsCreated"
            :deletedDocuments="MaintenanceForm_DocumentsDeleted"
            ref="maintenanceForm"
          />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="handleMaintenanceCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              v-if="hasVehicleManagement"
              type="primary"
              :clickHandler="saveMaintenanceData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Create
            </ButtonWrapper>
            <PremiumWarningButton v-else buttonText="Create" action="create" premiumFeature="vehicle" placement="bottom"/>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

    <!--VEHICLE STATUS MODIFY DIALOG-->
    <StatusFormModal
      v-if="$store.state.valuelists && $store.state.valuelists['vehicle-status'] && $store.state.valuelists['vehicle-status'].items && statusVehicleForm.vehicle"
      :formFields="statusVehicleForm.vehicle"
      :statusOpen="stateVehiculeOpen"
      :statusForm="statusVehicleForm"
      :statusRules="statusVehicleRules"
      @closeStatusModal="closeStatusModal"
      @updateStatus="updateStatus"
      :loading="loading"
    ></StatusFormModal>

  <!--EXPORT DIALOG-->
  <el-dialog
    title="Export Vehicles"
    :show-close="true"
    :center="true"
    :visible.sync="showExportDialog"
    width="300px"
    :custom-class="'customized'"
  >
    <ExportDialog
    :modal="true"
    exportField="vehicle"
    exportFields="vehicles"
    :number="tableData.length"
    :filterStatus="this.filterStatus"
    :statusChecked="statusChecked"
    @export-action="exportCSV(csvData)"
    @close-dialog="showExportDialog = false"
    >
    </ExportDialog>
  </el-dialog>


  </div>
</template>
<script>
import { mapState, mapGetters, mapActions } from "vuex";
import { getVehicleUpdatedTimestamp} from '@/utilities/timestampQueries'
import { accidentsByVehicleAndHistoryType } from '../../queries';
import TableCard from "@/components/TableCard/TableCard";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import PremiumWarning from '@/components/PremiumWarning';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ExportDialog from '@/components/ExportDialog';
import Drawer from "@/components/shared/Drawer/Drawer";
import OdometerReadingForm from '@/views/Vehicles/components/Odometer/OdometerReadingForm';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
import VehicleDailyLog from '@/views/Vehicles/components/VehicleDailyLog/VehicleDailyLog';
import VehicleDailyLogMixin from '@/views/Vehicles/components/VehicleDailyLog/VehicleDailyLogMixin';
import MaintenanceForm from '@/views/Vehicles/components/Maintenance/MaintenanceForm'
import VehicleListMaintenanceMixin from '@/views/Vehicles/components/Radios/VehicleListMaintenanceMixin'
import StatusFormModal from '@/views/Vehicles/components/StatusFormModal';
import { updateHistoryMaintenanceComplete } from '@/views/Vehicles/components/Maintenance/maintenance';
import {exportCSV} from '@/utilities/exportCSV'
import {
    createAccident,
    deleteAccident,
    createVehicleStatus,
  } from '@/graphql/mutations'
import {updateVehicle} from '@/store/mutations';
// import ProfileLabels from '@/components/Profile/Labels/ProfileLabels'

export default{
  name: 'VehicleList',
  mixins: [
    VehicleDamageMixin,
    VehicleDailyLogMixin,
    VehicleListMaintenanceMixin
  ],

  components: {
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    MultiSelectFilter,
    CounterFilter,
    ExportDialog,
    // ProfileLabels,
    Drawer,
    PremiumWarning,
    OdometerReadingForm,
    ButtonGroupWrapper,
    ButtonWrapper,
    VehicleDamage,
    VehicleDailyLog,
    PremiumWarningButton,
    MaintenanceForm,
    StatusFormModal
  },
  data(){
    return {
      tableTitle: "VehicleList",
      footerTableName: "Total Vehicles",
      emptyText: "No Vehicles",
      loading: false,
      searchVehicle: "",
      totalVehicles: 0,
      cols: [
        {name: "Vehicle Name", col: "name", fixed: false, width: "160", sortable: true,  sortMethod: undefined},
        {name: "Mileage", col: "mileage", fixed: false, width: "135", sortable: true,  sortMethod: undefined},
        {name: "Last Mileage Reading", col: "lastOdometerReadingDate", fixed: false, width: "200", sortable: true,  sortMethod: undefined},
        {name: "Vin", col: "vin", fixed: false, width: "160", sortable: true,  sortMethod: undefined},
        {name: "License Plate", col: "licensePlate", fixed: false, width: "150", sortable: true,  sortMethod: undefined},
        {name: "License Plate Exp", col: "licensePlateExp", fixed: false, width: "190", sortable: true,  sortMethod: undefined},
        {name: "State", col: "state", fixed: false, width: "135", sortable: true,  sortMethod: undefined},
        {name: "Gas Card", col: "gasCard", fixed: false, width: "135", sortable: true,  sortMethod: undefined},
        {name: "Status", col: "status", fixed: false, width: "135", sortable: true,  sortMethod: undefined},
        {name: "Vehicle Type", col: "vehicleType", fixed: false, width: "140", sortable: true,  sortMethod: undefined},
        {name: "Company", col: "company", fixed: false, width: "135", sortable: true,  sortMethod: undefined},
        {name: "Labels", col: "labels", fixed: false, width: "240", sortable: false,  sortMethod: undefined},
        {name: '', col: "viewVehicle", fixed: "right", width: "45", sortable: false, sortMethod: undefined },
      ],
      originalTableData: [],
      tableData: [],
      filteredVehicles: this.tableData,
      optionsRow: [
        { label: "View Vehicle", action: "view" },
        { label: "Add Odometer Reading", action: "addOdometerReading" },
        { label: "Add Vehicle Damage", action: "viewVehicleDamage" },
        { label: "Add Vehicle Photo Log", action: "addVehicleDailyLog" },
        { label: "Add Maintenance Record", action: "viewMaintenanceRecord" },
        { label: "Change Vehicle Status", action: "editStatus", divided: true },
      ],
      optionsContextHeader: [
        { label: "Add Vehicle", action: "add", divided: false },
        { label: "Export Vehicles", action: "export", divided: false },
        { label: "Import Vehicles", action: "import", divided: false },
      ],
      //filters
      optionsVehicleStatus: [],
      filterVehicleStatus: [],
      optionsVehiclesByType: [],
      filterVehiclesByType: [],
      optionsVehicleLabels: [],
      filterVehicleLabels: [],
      optionsVehicleCompany: [],
      filterVehicleCompany: [],
      // upgrade modal
      warningMessage: '',
      warningType: '',
      showUpgradeDialog: false,
      // odometer reading
      editVehicleData: {},
      odometerReadingModalOpen: false,
      odometerFormFields: {
          odometerDate: new Date(),
          odometerType: null,
          mileage: null,
          time: null,
          vehicleId: null,
          accidentVehicleId: null,
          deviceId: null,
          notes: null
      },
      singleVehicleArray: [],
      vehicleSelectionDisabled: true,
      // vehicle damage
      loadingVehicles: false,
      //vehicle status
      stateVehiculeOpen: false,
      statusVehicleForm: {
        newStatus: '',
        date: null,
        vehicle: null,
        statusChangeReason: '',
        addNewRecordMaintenance: true,
        addCompleteRecordMaintenance: true
      },
      statusVehicleRules: {
        newStatus: [
          { required: true, message: 'Please select a status', trigger: 'blur' }
        ],
        date: [
          { required: true, message: 'Please select a date', trigger: 'blur' },
        ]
      },
      // export
      filterStatus: '',
      statusChecked: [],
      showExportDialog: false,
    }
  },
  beforeMount() {
    this.loadFilters()
  },
  computed: {
    ...mapState([
      'valuelists',
      'userInfo',
    ]),

    ...mapState('subscriptionStore', [
        'vehicleList',
    ]),

    ...mapGetters('subscriptionStore', [
      'getVehicles',
      'getVehiclesLicensePlate90days',
      'getVehiclesWeekOldOdometerReadings',
      'getVehiclesTwoWeekOldOdometerReadings',
      'getVehiclesHighMileageOdometerReadings'
    ]),

    ...mapGetters([
      'vehicleTypeList',
      'getVehicleLabels',
      'getVehicleListStatusFilter',
      'getVehicleListTypeFilter',
      'getVehicleListLabelsFilter',
      'getVehicleListCompanyFilter',
      'hasVehicleManagement',
    ]),

    getResumeFilters() {
      this.loadData()
      const filtersVehicleStatus = this.filterVehicleStatus.length === this.optionsVehicleStatus.length ? 0 : 1;
      const filtersVehicleByType = this.filterVehiclesByType.length === this.optionsVehiclesByType.length ? 0 : 1;
      const filtersVehicleByLabel = this.filterVehicleLabels.length === this.optionsVehicleLabels.length ? 0 : 1;
      const filtersVehicleByCompany = this.filterVehicleCompany.length === this.optionsVehicleCompany.length ? 0 : 1;
      const filtersApplied = [
        {
            filter: 'Vehicle Status',
            values: this.filterVehicleStatus,
            applied: filtersVehicleStatus
        },
        {
            filter: 'Vehicle Type',
            values: this.filterVehiclesByType,
            applied: filtersVehicleByType
        },
        {
            filter: 'Company',
            values: this.filterVehicleCompany,
            applied: filtersVehicleByCompany
        },
        {
            filter: 'Labels',
            values: this.filterVehicleLabels,
            applied: filtersVehicleByLabel
        }
      ]
      this.statusChecked =  filtersApplied.filter(item => item.applied === 1)
      return filtersVehicleStatus + filtersVehicleByType + filtersVehicleByLabel + filtersVehicleByCompany;
      
    },

    calculateTableData(){
      //load data
      this.tableData = []
      this.loading = true      
      if (this.$route.name == "VehicleLicensePlate") {
        this.tableData = this.getVehiclesLicensePlate90days
        this.tableTitle = "Expiring License Plates"
        this.footerTableName = "Total Expiring License Plates"
        this.emptyText = "No Expiring License Plates Vehicles"
      } else if (this.$route.name == "VehicleWeekOldOdometerReadings") {
        this.tableData = this.getVehiclesWeekOldOdometerReadings
        this.tableTitle = "Week Old Odometer Readings"
        this.footerTableName = "Total Week Old Odometer Readings"
        this.emptyText = "No Week Old Odometer Readings Vehicles"
      } 
      else if(this.$route.name == "VehicleTwoWeekOldOdometerReadings"){
        this.tableData = this.getVehiclesTwoWeekOldOdometerReadings
        this.tableData = this.getVehiclesWeekOldOdometerReadings
        this.tableTitle = "Two Week Old Odometer Readings"
        this.footerTableName = "Total Two Week Old Odometer Readings"
        this.emptyText = "No Two Week Old Odometer Readings Vehicles"
      }else if(this.$route.name == "VehicleHighMileageOdometerReadings"){
        this.tableData = this.getVehiclesHighMileageOdometerReadings
        this.tableData = this.getVehiclesWeekOldOdometerReadings
        this.tableTitle = "High Mileage Odometer Readings"
        this.footerTableName = "Total High Mileage Odometer Readings"
        this.emptyText = "No High Mileage Odometer Readings Vehicles"
      } else 
        this.tableData = this.getVehicles
      
      this.originalTableData = this.tableData
      this.totalVehicles = this.tableData.length
      // for filters
      this.getFilteredRecords(
        this.originalTableData,
        this.filterVehicleStatus,
        this.filterVehiclesByType,
        this.filterVehicleLabels,
        this.filterVehicleCompany,
      )
      this.loading = false
      this.filteredVehicles = this.tableData
      return this.tableData
    },

    csvData() {
        const data = this.tableData
        return data.map(item => {
          const name = item.name ? `"${item.name.replaceAll('"',"'")}"` : ""
          const notes = item.notes ? `"${item.notes.replaceAll('"',"'")}"` : ""

          return {
            "Status": this.formatColumnsForExport(item.status),
            "Name": this.formatColumnsForExport(name),
            "Make": this.formatColumnsForExport(item.make),
            "Model": this.formatColumnsForExport(item.model),
            "Year": item.year ? item.year : "",
            "VIN": this.formatColumnsForExport(item.vin),
            "License Plate": this.formatColumnsForExport(item.licensePlate),
            "State": this.formatColumnsForExport(item.state),
            "Last Mileage Reading": item.mileage ? item.mileage : 0,
            "Start Date": item.dateStart ? this.$moment(item.dateStart).format("MM/DD/YYYY"): "",
            "End Date": item.dateEnd ? this.$moment(item.dateEnd).format("MM/DD/YYYY"): "",
            "Company": this.formatColumnsForExport(item.company),
            "Ownership": this.formatColumnsForExport(item.ownership),
            "Vehicle Type": this.formatColumnsForExport(item.vehicleType?.option),
            "Description": this.formatColumnsForExport(item.type),
            "Rental Agreement Number": this.formatColumnsForExport(item.rentalAgreementNumber),
            "Toll Pass ID": this.formatColumnsForExport(item.tollPassId),
            "Parking Space": this.formatColumnsForExport(item.parkingSpace?.option),
            "Assigned Device": this.formatColumnsForExport(item.device?.deviceName),
            "Gas Card (Last 6)": this.formatColumnsForExport(item.gasCard),
            "Notes": this.formatColumnsForExport(notes),
            "Labels": this.formatColumnsForExport(item.labels ? item.labels.items.map(item => item.label.name).join("; ") : ""),
          }
        })
      },
    
  },
  

  methods: {
    ...mapActions([
			'setVehicleListFilters'
		]),
    
    showLabels(row){
      let finalList = row.labels? row.labels.items.filter(item => (item.label.status === true)).map(item => item.label.name) : []
      if (finalList) return finalList.join(', ')
      else return "No Labels Assigned"
    },

    async loadFilters(){
      //vehicle status of value list
      const vehicleStatusList =  this.valueListActivesOnly(this.valuelists['vehicle-status'].items)
      this.optionsVehicleStatus = vehicleStatusList.map(vehicleStatus => vehicleStatus.value)

      //vehicle types of store
      this.optionsVehiclesByType = this.vehicleTypeList.map(vehicleType => vehicleType.option)

      //vehicle labels
      this.optionsVehicleLabels = this.getVehicleLabels.map(vehicleLabel => vehicleLabel.name)
      this.optionsVehicleLabels.push("Vehicles with No Label")

      //vehicle company
      const vehicleCompanyList =  this.valueListActivesOnly(this.valuelists['vehicle-company'].items)
      this.optionsVehicleCompany = vehicleCompanyList.map(vehicleCompany => vehicleCompany.value)
      this.optionsVehicleCompany.push("Vehicles with No Company")

      if(this.getVehicleListStatusFilter.length === 0)
        this.setVehicleListFilters({ filter: 'status', value: ['Active'] })
      if(this.getVehicleListTypeFilter.length === 0)
        this.setVehicleListFilters({ filter: 'vehicleType', value: this.optionsVehiclesByType })
      if(this.getVehicleListLabelsFilter.length === 0)
        this.setVehicleListFilters({ filter: 'labels', value: this.optionsVehicleLabels })
      if(this.getVehicleListCompanyFilter.length === 0)
        this.setVehicleListFilters({ filter: 'company', value: this.optionsVehicleCompany })

      this.filterVehicleStatus = this.getVehicleListStatusFilter
      this.filterVehiclesByType = this.getVehicleListTypeFilter
      this.filterVehicleLabels = this.getVehicleListLabelsFilter
      this.filterVehicleCompany = this.getVehicleListCompanyFilter
    },

    updateFilters(opts) {
      const { type, filters } = opts;
      if (type === 'vehicleStatus'){
        this.setVehicleListFilters({ filter: 'status', value: filters })
        this.filterVehicleStatus = this.getVehicleListStatusFilter
      } else if (type === 'vehiclesByType'){
        this.setVehicleListFilters({ filter: 'vehicleType', value: filters })
        this.filterVehiclesByType = this.getVehicleListTypeFilter
      } else if (type === 'vehicleLabels'){
        this.setVehicleListFilters({ filter: 'labels', value: filters })
        this.filterVehicleLabels = this.getVehicleListLabelsFilter
      } else if (type === 'vehicleCompany'){
        this.setVehicleListFilters({ filter: 'company', value: filters })
        this.filterVehicleCompany = this.getVehicleListCompanyFilter
      }
    },

    sortVehicleName(a,b){    
      return a.name.toLowerCase().localeCompare(b.name.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
    },
    async loadData(reload = false){
      
      try{
        return this.tableData = this.calculateTableData
      } catch(e){
        this.displayUserError(e)
      }finally{
        this.$nextTick(() => {
          this.loading = false;
        })
      }
    },

    

    classStatus(row) {
      return {
        'bg-red-500 text-red-600' : row.status?.toLowerCase().includes('inactive'), 
        'bg-green-500 text-green-600' : row.status?.includes('Active'), 
      }
    },

    reloadData(){
      this.getFilteredRecords(
        this.originalTableData,
        this.filterVehicleStatus,
        this.filterVehiclesByType,
        this.filterVehicleLabels,
        this.filterVehicleCompany,
      )
    },

    getFilteredRecords(data = [], statusFilter = [], vehicleTypeFilter = [], labelsFilter = [], companyFilter = []){
      if(data.length === 0) return data
      if(statusFilter.length === 0 && vehicleTypeFilter.length === 0) return data
      const originalData = [...data]
      let filteredData = []
      filteredData = originalData.filter((row) => 
          (statusFilter.length > 0 && (row.status && statusFilter.includes(row.status))) && 
          (vehicleTypeFilter.length > 0 && (row.vehicleType.option && vehicleTypeFilter.includes(row.vehicleType.option))) &&
          (this.filterVehiclesByCompany(row, companyFilter)) &&
          (this.filterVehiclesByLabel(row, labelsFilter))
        )
      this.tableData = this.filterArray(filteredData, this.searchVehicle)
    },

    filterVehiclesByCompany(row, companyFilter = []){
      if (companyFilter.length === 0) return false
      if (companyFilter.includes("Vehicles with No Company") && !row.company)
        return true

      return companyFilter.includes(row.company)
    },

    filterVehiclesByLabel(row, labelsFilter = []){
      if (labelsFilter.length === 0) return false
      else if (labelsFilter.includes("Vehicles with No Label") && (!row.labels || !row.labels.items || row.labels.items.length == 0 ))
        return true
      else if (!row.labels || !row.labels.items || row.labels.items.length == 0 ){
        return false
      }
        // return false
      let hasMatch = false;

      for (let i = 0; i < labelsFilter.length; i++) {
        const valueFromFilter = labelsFilter[i];
        // Using the `some` function to check for a match with any object in row.labels
        hasMatch = row.labels.items.some(itemB => itemB.label.name === valueFromFilter);
        if (hasMatch) {
          break; // Break the loop if there is a match
        }
      }
      return hasMatch
    },

    handleCommand(payload){
        let vehicle = payload.row ? payload.row : {}
        let action = payload.action

        if(action == "view"){
          let previousRouteText = 'Vehicle List',
            previousRouteName = this.$route.name
          this.$router.push({name: 'VehicleDetail', params: { id: vehicle.id }, query: {previousRouteText, previousRouteName}})
          return
        }

        if(action == "add"){
            this.$router.push({ name: 'VehicleNew' })
            return
        }
        if(action == "import"){
            this.$router.push({name: 'VehicleImport'})
            return
        }
        if(action == "export"){
            this.showExportDialog = true
            return
        }

        if(action == "editStatus"){
          this.openModalStatus(vehicle);
        }

        if(action == "addOdometerReading"){
          this.openOdometerModalOpen(vehicle)
          return
        }
        
        if(action == 'viewVehicleDamage') {
          const payload = {
            mode: 'create',
            formAction: 'Create',
            formTitle: 'Add Vehicle Damage',
            disableVehicleSelection: true,
            formFields: {
              vehicleId: vehicle.id,
            },
            prefixCounselingCreatedFrom: 'Vehicle List',
          };

          this.$_VehicleDamage_open(payload);
        }

        if (action === 'addVehicleDailyLog') {
          const payload = {
            mode: 'create',
            vehicleId: vehicle.id
          };

          this.$_VehicleDailyLog_open(payload);
          return;
        }
        
        if(action == 'viewMaintenanceRecord'){
          this.MaintenanceDrawer_open(payload, vehicle)
          return
        }
      },

      openOdometerModalOpen (vehicle) {
        if(!this.hasVehicleManagement){
            this.warningMessage = "add odometer readings"
            this.warningType = "vehicle management"
            this.showUpgradeDialog = true
            return
          }
          this.editVehicleData = {...vehicle}
          let date = new Date()
          this.odometerFormFields.odometerDate = date
          this.odometerFormFields.vehicleId = vehicle.id
          this.odometerFormFields.accidentVehicleId = vehicle.id
          this.odometerFormFields.group = this.$store.state.userInfo.tenant.group
          this.odometerFormFields.vehicleHistoryType = "Odometer Reading"
          if(vehicle.device){
              this.odometerFormFields.deviceId = vehicle.device.id
          }
          this.vehicleSelectionDisabled = true
          this.odometerReadingModalOpen = true

          var vehicleObj = {
              id: vehicle.id,
              name: vehicle.name
          }
          this.singleVehicleArray.push(vehicleObj)
      },

      /**
       * Handles clicking the cancel button on the Odometer Reading Form
       */
       handleOdometerCancel(){
          this.$refs.odometerReadingForm.$refs.form.clearValidate()
          this.odometerReadingModalOpen = false
          this.odometerFormFields = {
              odometerDate: null,
              odometerType: null,
              mileage: null,
              time: null,
              accidentVehicleId: null,
              vehicleId: null,
              deviceId: null
          }
          this.singleVehicleArray = []
          this.editVehicleData = {}
      },

      setEditVehicleData(){
        // get vehicle based on id
        let vehicle = this.singleVehicleArray.find(vehicle =>{
            return vehicle.id === this.odometerFormFields.vehicleId
        })
        this.editVehicleData = vehicle
      },


      /**
       * Creates a Odometer Reading Type Accident Record
       */
      async saveOdometerData(){
          try{
            this.loading = true
            
            if(!this.editVehicleData.id){
                throw 'Please select a vehicle.'
            }
            //check vehicle timestamp
            var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.editVehicleData.id})
            if(!timestampResult.data.getVehicle){
              throw "Vehicle is missing or deleted by another user."
            }
            var timestamp = timestampResult.data.getVehicle.updatedAt
            if(this.editVehicleData.updatedAt != timestamp){
              throw "Record was updated by another user. Please copy any changes and refresh the page."
            }
            var odometerReadingId = null;
            try {
              await this.$refs.odometerReadingForm.$refs.form.validate();
            } catch (error) {
              throw new Error('Please fill out all required fields.');
            }
            var input = {...this.odometerFormFields}
            var vehicleId = input.vehicleId
            var deviceId = input.deviceId
            input.mileage = this.cleanMileage(input.mileage)
            input.accidentVehicleId = vehicleId
            input.accidentDate = input.odometerDate
            this.cleanAccidentInput(input)
            const result = await this.api(createAccident, {input})
            odometerReadingId = result.data.createAccident.id

            //load data
            this.loadData()

            //Get Last Mileage Record
            var input = {
                vehicleId: vehicleId,
                sortDirection: "DESC",
                limit: 5, 
                vehicleHistoryTypeAccidentDate: 
                    {beginsWith: {vehicleHistoryType: "Odometer"}
                }
            }

            var odometerReading = await this.api(accidentsByVehicleAndHistoryType, input)
            var readings = odometerReading.data.accidentsByVehicleAndHistoryType.items
            readings.sort((a,b)=>{
              var accidentDateA = a.accidentDate
              var createdTimestampA = a.createdAt

              var accidentDateB = b.accidentDate
              var createdTimestampB = b.createdAt

              if(accidentDateA == accidentDateB){
                return new Date(createdTimestampB) - new Date(createdTimestampA)
              }

              return new Date(accidentDateB) - new Date(accidentDateA)
            })

            //Updated vehicle with the latest mileage reading
            var input = {
              ...this.editVehicleData
            };
            input.mileage = readings[0].mileage,
            input.lastOdometerReadingDate = readings[0].accidentDate

            if(deviceId){
                input.vehicleDeviceId = deviceId
            }
            input.vehicleDevice2Id = null

            input = this.cleanVehicleInput(input)
            if(!input.licensePlateExp){
                input.licensePlateExp = null
            }
            await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')

            //Wrap up
            this.loadData()
            this.odometerReadingModalOpen = false
            
            this.odometerFormFields = {
                odometerDate: null,
                odometerType: null,
                mileage: null,
                time: null,
                vehicleId: null,
                accidentVehicleId: null
            }
            this.singleVehicleArray = []
            this.loading = false
          }
          catch(e){
            console.log(e)
            if(e == false){
                e = "Please fill out all required fields and correct any errors."
            }

            //Only deletes if the odometer is being created, not updated.
            //odometerReadingId will be null if the odometer was updated
            if(odometerReadingId){
                this.api(deleteAccident, {input: {id: odometerReadingId}})
            }
            this.displayUserError(e)
          }
          finally{
            this.loading = false
          }
      },

      searchData(e) {
        this.searchVehicle = e
      },

      navigateToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})
      },

      /**
      * Confirms with user if they want to mark the selected vehicle change status
      */
      openModalStatus(vehicle) {
        this.statusVehicleForm.newStatus = vehicle.status;
        this.statusVehicleForm.date = new Date();
        this.statusVehicleForm.vehicle = vehicle;
        this.stateVehiculeOpen = true;
      },

      closeStatusModal() {
        this.statusVehicleForm.statusChangeReason = null
        this.stateVehiculeOpen = false;
      },

      /**
       * Update the selected vehicle's status and reloads the data
       */
      async updateStatus() {
        
        try{
          this.loading = true;
          if(this.statusVehicleForm.newStatus === 'Inactive'){
            await this.beforeUpdateVehicle(this.statusVehicleForm.vehicle);
            return;
          }

          var input = {
              reason: this.statusVehicleForm.statusChangeReason,
              previousStatus: this.statusVehicleForm.vehicle.status,
              date: this.statusVehicleForm.date,
              currentStatus: this.statusVehicleForm.newStatus,
              vehicleStatusVehicleId: this.statusVehicleForm.vehicle.id,
              group: this.$store.state.userInfo.tenant.group
          }

          await this.api(createVehicleStatus, {input})

          var input = {
              id: this.statusVehicleForm.vehicle.id,
              status: this.statusVehicleForm.newStatus,
              updatedAt: this.statusVehicleForm.date,
              vin: (this.statusVehicleForm.vehicle.vin === '') ? null : this.statusVehicleForm.vehicle.vin
          }

          if(this.statusVehicleForm.vehicle.device){
              input.vehicleDeviceId = this.statusVehicleForm.vehicle.device.id
          }

          if(!this.statusVehicleForm.vehicle.licensePlateExp){
            input.licensePlateExp = null
          }

          const {data: {updateVehicle: updatedVehicle}} = await this.api(updateVehicle, {input});
          // Initial load sets this exact data, is needed to map on the below call to setBulkUpdateData
          this.tableData = this.handleTableDataUpdate(updatedVehicle);

          if(this.statusVehicleForm.addNewRecordMaintenance && this.statusVehicleForm.newStatus === 'Inactive - Maintenance'){
            var dataNewRecordMaintenance = {vehicle: this.statusVehicleForm.vehicle, action: 'viewMaintenanceRecord', id: this.statusVehicleForm.vehicle.id, valueActionToggle:this.statusVehicleForm.addNewRecordMaintenance};
            this.handleCommand(dataNewRecordMaintenance);
          }
          if(this.statusVehicleForm.addCompleteRecordMaintenance && this.statusVehicleForm.newStatus !== 'Inactive - Maintenance'){
            await updateHistoryMaintenanceComplete(this.statusVehicleForm.vehicle.id);
          }
        }
        catch(e){
            console.log(e)
            this.displayUserError(e)
        }
        finally {
          this.setBulkUpdateData();
          this.closeStatusModal();
          this.loading = false;
        }
      },

      /**
       * set bulk update
       */
      setBulkUpdateData() {
        this.tableBulkUpdateData = this.tableData.map((item, idx) => {
          return {
            id: item.id,
            name: item.name,
            lastOdometerReadingDate: item.lastOdometerReadingDate,
            mileage: item.mileage,
            status: item.status,
            vin: item.vin,
            defaultStaff: item.defaultStaff,
            defaultStaff2: item.defaultStaff2,
            defaultStaff3: item.defaultStaff3,
            parkingSpace: item.parkingSpace ? item.parkingSpace : { id: null },
            vehicleType: item.vehicleType?.option,
            device: item.device || {id: null},
            updatedAt: item.updatedAt
          };
        }).filter((item)=>item.status === 'Active');
        this.initTableBulkData = JSON.parse(JSON.stringify(this.tableBulkUpdateData))
      },

      handleTableDataUpdate(updatedVehicle) {
        if (!updatedVehicle) return;
        return this.tableData.map(item => (
          (item.id === updatedVehicle.id)? updatedVehicle: item
        ));
      },

      // export
      exportCSV(arrData) {
        const fileName = `vehicle-export-${this.filterStatus ?? "All"}-${this.$moment().format('MM/DD/YYYY')}.csv`
        exportCSV({arrData, fileName})
        this.showExportDialog = false
      },
      
    },
  }
// }
</script>
<style>
</style>