/*====== inner-page style =========*/

@font-face {
  font-family: FontAwesome;
  src: url(fonts/font-awesome/fonts/FontAwesome.otf);
}

@font-face {
  font-family: fontawesome-webfont;
  src: url(fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}

@font-face {
  font-family: "FontAwesome";
  src: url("fonts/font-awesome/fonts/fontawesome-webfont.eot"); /* support Internet explorer  */
  src: url("fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    /* support Modern browser  */
      url("fonts/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"),
    /* support firefox , chrome   */
      url("fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg"); /* Svg form   */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot"); /* support Internet explorer  */
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"),
    /* support Modern browser  */ url("fonts/open-sans/OpenSans-Regular.ttf")
      format("truetype"),
    /* support firefox , chrome   */ url("") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CenturyGothic;
  src: url(fonts/century-gothic/CenturyGothic.ttf);
}

.inner_container {
  width: 100%;
  float: none;
  display: block;
  margin: 30px auto;
}

.inner_container .inner_title {
  font-family: CenturyGothic;
  color: #083b5b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.inner_container .inner_data p {
  font-family: CenturyGothic;
  font-size: 13px;
  color: #bebebe;
  padding-bottom: 18px;
  border-bottom: 1px solid #efefef;
  line-height: 18px;
}

.inner_container #cssmenu li ul li {
  padding: 0;
}

.inner_container .data_heading .data_row1,
.inner_container .data_heading .data_row2,
.inner_container .data_heading .data_row3 {
  width: 100%;
}

.inner_container .data_heading .data_row2 {
  background-color: #0f7eb8;
  /* margin-bottom: 30px; */
}

.inner_container .data_heading .data_row1 h2,
.inner_container .data_heading .data_row2 h2 {
  font-family: CenturyGothic;
  font-size: 14px;
  color: #083b5b;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  line-height: 40px;
  display: inline-block;
  width: 22%;
  padding-left: 8px;
}
.inner_container .data_heading .data_row3 h2 {
  font-family: CenturyGothic;
  font-size: 10px;
  color: #083b5b;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  padding-left: 8px;
}
.inner_container .data_heading .data_row2 h2 {
  border-right: 1px solid #fff;
  text-transform: none;
  color: #fff;
}

.inner_container .data_heading .data_row2 h2:last-child {
  border: none;
}

.inner_container .data_content .content_heading h2 {
  font-family: CenturyGothic;
  font-size: 18px;
  color: #0f7eb8;
  margin: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  background-color: #e9e9e9;
  font-weight: 100;
}

.inner_container .content_table {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 12px;
}

.inner_container .content_table tr th {
  font-family: CenturyGothic;
  font-size: 14px;
  color: #999;
  font-weight: 700;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.inner_container .content_table tr th:last-child {
  border-right: none;
}

.inner_container .content_table tr th,
.inner_container .content_table tr td {
  width: 17%;
  text-align: left;
  padding-left: 12px;
  height: 45px;
  line-height: 45px;
}

.inner_container .content_table tr td {
  font-family: CenturyGothic;
  font-size: 14px;
  color: #999;
  font-weight: 100;
  height: 40px;
  line-height: 40px;

  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.inner_container .content_table tr th:last-child,
.inner_container .content_table tr td:last-child {
  width: 49%;
}

.inner_container .content_table tr th:last-child,
.inner_container .content_table tr td:last-child {
  border-right: none;
}

.inner_container .content_table tr:last-child td {
  border-bottom: none;
}

.temp_btn {
  background-color: #0f7eb8;
  text-align: center;
  border: none;
  box-shadow: none;
  outline: 0;
  padding: 0 6px;
  height: 22px;
  line-height: 21px;

  font-family: CenturyGothic;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.temp_btn:hover {
  background-color: #1da2e8;
}

/*========== checkboxes ===========*/

/* Base for label styling */
.inner_container .custom_chkbox:not(:checked),
.inner_container .custom_chkbox:checked {
  position: absolute;
  left: -9999px;
}
.inner_container .custom_chkbox:not(:checked) + label,
.inner_container .custom_chkbox:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* checkbox aspect */
.inner_container .custom_chkbox:not(:checked) + label:before,
.inner_container .custom_chkbox:checked + label:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 7px;
  width: 13px;
  height: 13px;
  border: 1px solid #dadada;
  background: #f7f7f7;
  border-radius: 0;
  /*  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) */
}
/* checked mark aspect */
.inner_container .custom_chkbox:not(:checked) + label:after,
.inner_container .custom_chkbox:checked + label:after {
  /* content: '✔'; */
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  top: 6px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #0f7eb8;
  font-weight: 100;
  transition: all 0.2s;
}
/* checked mark aspect changes */
.inner_container .custom_chkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.inner_container .custom_chkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.inner_container .data_row3 .chkbox_p {
  border: none;
  margin: 0;
  padding-bottom: 5px;
  /* margin-top: 20px; */
  padding-top: 10px;
  margin-left: 8px;
  display: inline-block;
}

.inner_container .data_row3 .chkbx_label {
  font-family: CenturyGothic;
  font-size: 14px;
  padding-left: 25px;
  padding-top: 7px;
  color: #999;
}
.inner_container #cssmenu ul ul a {
  display: inline-block;
}

.inner_container .content_table td a {
  display: inline-block;
}
.inner_container .data_heading .data_row3 {
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
.description-stage {
  background-color: #f5f5f5;
  margin-bottom: 30px;
}
.inner_container .data_row3 h6.data_percent {
  color: #999;
  font-family: CenturyGothic;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-left: 8px;
  display: inline-block;
}

.inner_container .data_content h6.data_percent span {
}

.inner_container .data_row3 .gen_invioce {
  background-color: #0f7eb8;
  border: none;
  box-shadow: none;
  color: #fff;
  font-family: CenturyGothic;
  font-size: 12px;
  height: 20px;
  line-height: 19px;
  outline: 0 none;
  padding: 0 12px;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 8px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.inner_container .data_row3 .gen_invioce:hover {
  background-color: #1da2e8;
}

.inner_container .data_content .hor_line {
  margin-top: 30px;
  border: 1px solid #999;
}

.inner_container .total_div .deposit_div {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.inner_container .total_div .amount_div {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.inner_container .total_div .amount_div {
}

.inner_container .total_div h5,
.inner_container .total_div h5 {
  font-family: CenturyGothic;
  font-size: 18px;
  color: #0f7eb8;
  margin: 0;
  margin-bottom: 5px;
  line-height: 22px;
}

.inner_container .total_div h5 span {
  font-weight: 100;
}

.inner_container .total_div .deposit_div h5 {
  padding-left: 10px;
  display: inline-block;
}

.inner_container .total_div .deposit_div .gen_dep_invoice {
  display: inline-block;

  background-color: #0f7eb8;
  border: medium none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: CenturyGothic;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  outline: 0 none;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.inner_container .total_div .deposit_div .gen_dep_invoice:hover {
  background-color: #1da2e8;
}
