﻿.inv-row {
  float: left;
  width: 100%;
}
.client-tab {
  width: 219px !important;
}
.client-show-hide {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

.detail_heading {
  cursor: pointer;
}
