﻿.strong {
  font-weight: bold;
}

.close-dialog {
  cursor: pointer;
  float: right;
  font-size: 16px;
  height: 10px;
  margin-right: 5px;
  width: 20px;
}

.fp-row {
  float: right;
  margin-right: 15px !important;
  margin-top: 5px !important;
  text-align: right;
}

.btn-login {
  float: left;
  margin-left: 60px;
  margin-top: 20px;
  width: 75%;
}

.index-detail {
  width: 355px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.margin-index {
  margin-left: 6%;
  margin-top: 4%;
}

.margin-index h2 {
  font-size: 40px;
  font-weight: bold;
}

.well {
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset,
    0 1px 0 rgba(255, 255, 255, 0.1);
  color: #595959;
  text-align: center;
  padding: 10px;
  text-align: center;
  margin-top: 25px;
  width: 550px;
  padding-bottom: 20px;
}

.homebg {
  background-image: url("/Content/Images/home_bg.jpg");
  background-size: cover;
  min-height: 900px;
  width: 100%;
}

.col-lg-12 {
  padding: 0px;
  margin: 0px;
}

.btn-primary {
  background-color: #0f3451;
  color: #fff;
}

.btn {
  border-radius: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.noTitleStuff {
  z-index: 15000;
}

.noTitleStuff .ui-dialog-titlebar {
  display: none;
  font-family: "Century Gothic";
}

.noTitleStuff.ui-dialog-content .ui-widget-content {
  padding: 0 !important;
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  font-family: "Century Gothic";
}

.ui-widget {
  font-family: "Century Gothic" !important;
}

.dialog-header {
  background-color: #0f3451;
  color: white;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.dialog-content {
  color: gray;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

#con-email {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}
