﻿@import url(https://fonts.googleapis.com/css?family=Lato);
@charset "UTF-8";
/* Base Styles */
.cssmenu,
.cssmenu ul,
.cssmenu li,
.cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  position: relative;
}
.cssmenu a {
  line-height: 1.3;
  padding: 9px 15px;
}
.cssmenu {
}
.cssmenu > ul > li {
  cursor: pointer;
}
.cssmenu > ul > li:last-child {
}

/* main menu item */

.cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  color: 0.8bc53f;
  font-family: Catamaran-SemiBold;
  background-color: transparent;
}

.cssmenu > ul > li > a:hover {
  text-decoration: none;
  color: 0.2c3041;
}
.cssmenu > ul > li.active {
  border-bottom: none;
}
.cssmenu > ul > li.active > a {
  color: 0.2c3041;
}

/* before click main sub filed */

.cssmenu > ul > li.has-sub > a:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  width: 6px;
  height: 10px;
}

/* when click main sub filed */

.cssmenu > ul > li.has-sub.active > a:after {
  left: 0px;
  top: 14px;
  width: 10px;
  height: 6px;
}
/* Sub menu */
.cssmenu ul ul {
  padding: 0;
  display: none;
}
.cssmenu ul ul a {
  display: block;
  color: 0.2c3041;
  font-size: 13px;
  font-family: Catamaran-Regular;
}
.cssmenu ul ul li {
}
.cssmenu ul ul li.odd a {
}
.cssmenu ul ul li:last-child {
  border: none;
}

.cssmenu li ul li {
  padding-left: 20px;
}

.cssmenu li ul li i {
  color: .A3A3A3;
}
