﻿.users-input {
  float: left;
  margin-left: 5px;
  width: 100%;
  margin: 5px;
  border-radius: 1px;
}
.btn-add-more {
  border-radius: 0;
  color: #0f82bd;
  margin-top: 25px;
  font-weight: bold;
  background-color: #e8e8e8;
}
.user {
  margin-bottom: 20px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.image-upload > input {
  display: none;
}

.invalid {
  border-color: red;
  outline-color: red;
}

.errorSpan {
  background-color: #ef1818;
  border-radius: 5px;
  color: white;
  display: none;
  float: left;
  margin: 87px 87px 87px 156px;
  padding: 2px;
  position: absolute;
  text-align: center;
}

.badge-custom {
  background-color: #d8d8d8;
  border-radius: 5px;
  float: left;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 1px;
  margin: 5px;
  text-align: center;
}

.separator {
  background-color: #d9d9d9;
  float: left;
  height: 1px;
  margin-left: 17px;
  width: 97%;
}
.col-left {
  width: 45%;
  float: left;
}
.col-right {
  width: 45%;
  float: right;
}
.inner-col-left {
  width: 162px;
  float: left;
}
.inner-col-right {
  width: 60%;
  float: right;
}
.pone-inputs {
  display: inline-block;
  margin-bottom: 5px;
  width: 77%;
  border-radius: 1px;
}

.pone-header {
  color: #0f3451;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

.counter {
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: #0f3451;
  display: inline-block;
  margin: 0px;
  margin-top: 18px;
}

.btn-go {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50px;
  background-color: #0f3451;
  padding: 7px !important;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
}
#main-users {
  padding: 10px;
}

.counterSelect {
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: #0f82bd;
  display: inline-block;
  margin: 0px;
  margin-top: 18px;
}
.signup-page-header {
  float: left;
  color: #0f3451;
  font-weight: bold;
  margin: 5px;
}
.content-placeholder {
  width: 98%;
  min-height: 350px;
  float: left;
  margin: 10px;
  text-align: center;
}

.content {
  width: 40%;
  margin: 0 auto;
}

.page-row {
  width: 100%;
}

.page-col {
  width: 33%;
  padding: 10px;
  /*display:inline-block;*/
  float: left;
  text-align: center;
}
