﻿@media print {
  input {
    display: none;
  }
}
body {
  font-family: "Century Gothic";
  background-image: url("/Content/Images/bg.png");
}
.show-more {
  float: left;
  cursor: pointer;
  text-align: right;
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}
.signup-footer {
  background-color: #0f82bd;
  margin-top: 40px;
  padding-top: 10px;
  font-size: 12px;
  color: white;
  text-align: center;
}
.signup-footer a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
input,
textarea,
select {
  border-radius: 0 !important;
}
#taskBarGraph,
#taskPBarGraph,
#reminderBarGraph {
  height: 150px;
  min-height: 150px;
  cursor: pointer;
}
#accountsDashboardGraph {
  height: 350px;
  min-height: 350px;
  cursor: pointer;
}
#clientBarGraph {
  height: 350px;
  min-height: 350px;
}
.fillter-row {
  height: 100px;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.fillter-col {
  width: 25%;
  padding: 2px 2px 2px 20px;
  float: left;
}
.fillter-col input {
  display: inline-block;
  margin-right: 3px;
  width: 80%;
}
#clientSummaryGraph,
#pClientSummaryGraph,
#studentSummaryGraph,
#clientBarGraph,
visaTypeGraph {
  cursor: pointer;
}
.btn-show {
  float: left;
  margin-top: 20px;
}
.ezm-table th {
  color: #185b94;
  font-family: Lato-R;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 25px;
}
.ezm-table td {
  color: #0f82bd;
  font-family: Lato-R;
  font-size: 14px;
  padding: 7px 10px;
}
.dp2 {
  margin-left: 105px;
  margin-top: 50px;
  top: 0;
  z-index: 99999;
}
#tab55default .chkbox_p {
  display: inline;
  margin-left: 10px;
}
.log-type {
  float: left !important;
}
