<template>
    <el-form label-width="160px" class="break-normal" >
        <div class="flex">
            <el-form-item class="flex-1" label="Year">
                <el-input v-model="formFields.year"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Week">
                <el-input v-model="formFields.week"></el-input>
            </el-form-item>        
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Name">
                <el-input v-model="formFields.name"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Transporter ID">
                <el-input v-model="formFields.transporterId"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Feedback Received">
                <el-input v-model="formFields.totalDeliveries"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Positive">
                <el-input v-model="formFields.positiveFeedback"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Negative">
                <el-input v-model="formFields.negativeFeedback"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Great Delivery">
                <el-input v-model="formFields.deliveryWasGreat"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Not Great Delivery">
                <el-input v-model="formFields.deliveryWasntGreat"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Respectful of Property">
                <el-input v-model="formFields.respectfulOfProperty"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Followed Instructions">
                <el-input v-model="formFields.followedInstructions"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Friendly">
                <el-input v-model="formFields.friendly"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Above and Beyond">
                <el-input v-model="formFields.aboveAndBeyond"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Delivered With Care">
                <el-input v-model="formFields.deliveredWithCare"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Care for Others">
                <el-input v-model="formFields.careForOthers"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" :label="`${$t('label.associate')} Mishandled Package`">
                <el-input v-model="formFields.mishandledPackage"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Driving Unsafely">
                <el-input v-model="formFields.drivingUnsafely"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" :label="`${$t('label.associate')} was Unprofessional`">
                <el-input v-model="formFields.driverUnprofessional"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" :label="`${$t('label.associate')} did not Follow my Delivery Instructions`">
                <el-input v-model="formFields.notDeliveredToPreferredLocation"></el-input>
            </el-form-item>
        </div>
        <div class="flex" v-if="formFieldsPod && formFieldsPod.id">
            <el-form-item class="flex-1" label="POD Rejects">
                <el-input v-model="formFieldsPod.grandTotal"></el-input>
            </el-form-item>
        </div>
    </el-form>
</template>

<script>
export default {
    props:['formFields', 'formFieldsPod'],    
}
</script>