<template>
  <div>
    <!--HEADER-->
    <div class="flex justify-between">
      <div>
      </div>
      <!-- <div class="flex space-x-2 items-center">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div> -->
    </div>  


    <!--SCORECARD TABLE-->
    <el-table
        ref="table"
        empty-text="No Customer Feedback"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'week', order: 'descending'}"
        style="width: 100%">
        

        <el-table-column
          label="Week"
          sortable
          prop="week"
          :sort-method="weekYearSort"
          min-width="100">
          <template slot-scope="scope">
            {{ `${scope.row.week} - ${scope.row.year}` }}
          </template>
        </el-table-column>

        <el-table-column
          label="Feedback Received"
          align="center"
          prop="deliveries"
          min-width="88">
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.positiveFeedback}">{{scope.row.totalDeliveries | textractText }}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="110"
          align="center"
          prop="positive">
          <template slot="header">
            <div>Positive</div>
            <div class="text-brand">Negative</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.positiveFeedback }">{{ scope.row.positiveFeedback | textractText}}</div>
            <div :class="{'placeholder': !scope.row.negativeFeedback }" class="text-brand">{{ scope.row.negativeFeedback | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="110"
          align="center"
          prop="deliverWasGreat">
          <template slot="header">
            <div>Great</div>
            <div class="text-brand">Not Great</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.deliveryWasGreat }">{{ scope.row.deliveryWasGreat | textractText}}</div>
            <div :class="{'placeholder': !scope.row.deliveryWasntGreat }" class="text-brand">{{ scope.row.deliveryWasntGreat | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="180"
          align="center"
          prop="respectful">
          <template slot="header">
            <div class="break-normal">Respectful of Property</div>
            <div class="text-brand break-normal">Followed Instructions</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.respectfulOfProperty }">{{ scope.row.respectfulOfProperty | textractText}}</div>
            <div :class="{'placeholder': !scope.row.followedInstructions }" class="text-brand">{{ scope.row.followedInstructions | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="150"
          align="center"
          prop="friendly">
          <template slot="header">
            <div>Friendly</div>
            <div class="text-brand">Above and Beyond</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.friendly }">{{ scope.row.friendly | textractText}}</div>
            <div :class="{'placeholder': !scope.row.aboveAndBeyond }" class="text-brand">{{ scope.row.aboveAndBeyond | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="157"
          align="center"
          prop="deliveredWithCare">
          <template slot="header">
            <div>Delivered With Care</div>
            <div class="text-brand">Care for Others</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.deliveredWithCare }">{{ scope.row.deliveredWithCare | textractText}}</div>
            <div :class="{'placeholder': !scope.row.careForOthers }" class="text-brand">{{ scope.row.careForOthers | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="162"
          align="center"
          prop="mishandled">
          <template slot="header">
            <div>Mishandled Package</div>
            <div class="text-brand">Driving Unsafely</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.mishandledPackage }">{{ scope.row.mishandledPackage | textractText}}</div>
            <div :class="{'placeholder': !scope.row.drivingUnsafely }" class="text-brand">{{ scope.row.drivingUnsafely | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="200"
          align="center"
          prop="unprofessional">
          <template slot="header">
            <div>{{$t('label.associate')}} was Unprofessional</div>
            <div class="text-brand break-normal">{{$t('label.associate')}} did not Follow my Delivery Instructions</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.driverUnprofessional }">{{ scope.row.driverUnprofessional | textractText}}</div>
            <div :class="{'placeholder': !scope.row.notDeliveredToPreferredLocation }" class="text-brand">{{ scope.row.notDeliveredToPreferredLocation | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column        
          min-width="54"
          fixed="right"
          align="right">
          <template slot-scope="scope">
            <i 
              @click="openEditModal(scope.row)"
              class="text-2xl text-gray-600 uil uil-pen hover:text-brand cursor-pointer "/>
          </template>
        </el-table-column>


    </el-table>

    <p class="mt-4">{{ tableData.length || 0 }} Total CX Feedback</p>  

    <!--EDIT MODAL-->
    <el-dialog
      :title="'Edit Customer Feedback Report for Week ' + selectedWeek"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >
      <CxForm ref="editModalForm" :formFields="editData"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" class="float-left" @click="confirmDelete">Delete</el-button>
        <el-button @click="cancelEditModal">Cancel</el-button>
        <el-button type="primary" @click="update">Update</el-button>
      </span>
    </el-dialog>
  </div>

</template>

<script>

import { updateStaffCxFeedback, deleteStaffCxFeedback } from '@/graphql/mutations'
import { getStaffCxFeedbackUpdatedTimestamp } from '@/utilities/timestampQueries'
import CxForm from './CxForm'

  export default {
    name: 'StaffPastCxFeedback',
    props: ['tableData'],
    components: {CxForm},
    data() {
      return {
        search: '',
        selectedWeek: '',
        editModalOpen: false,
        editData: {}
      }
    },
    methods: {
      weekYearSort(a, b){
        return parseInt(a.year+a.week.padStart(2, 0)) - parseInt(b.year+b.week.padStart(2, 0))
      },

      /** Closes edit  modal window */
      cancelEditModal: async function(){
        this.editData = {}
        this.editModalOpen = false
        this.$emit('loadData')
      },

      /** Prompt if record should really be deleted*/
      async confirmDelete(){
        this.$confirm('This will permanently delete this customer feedback report. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDelete()          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },

      /** Delete record from DB */
      async commitDelete( ){
        try{
          //check timestamp
          var timestampResult = await this.api(getStaffCxFeedbackUpdatedTimestamp, {id: this.editData.id})
          if(!timestampResult.data.getStaffCxFeedback){
            throw "Customer CX is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getStaffCxFeedback.updatedAt
          if(this.editData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const result = await this.api(deleteStaffCxFeedback, {input:{ id: this.editData.id }} )
          this.editData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Customer Feedback Report Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      openEditModal(record){
        this.selectedWeek = `${record.week} - ${record.year}`
        this.editData = {...record}
        this.editModalOpen = true

      },

      /** Update a cx's information */
      async update(){
        try {

          var timestampResult = await this.api(getStaffCxFeedbackUpdatedTimestamp, {id: this.editData.id})
          if(!timestampResult.data.getStaffCxFeedback){
            throw "Mentor data is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getStaffCxFeedback.updatedAt
          if(this.editData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const input = {
            ...this.editData
          }

          const result = await this.api(updateStaffCxFeedback, {input: input}, getStaffCxFeedbackUpdatedTimestamp, 'getStaffCxFeedback')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Customer Feedback Report Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },
    }    
  }
</script>
