<template>
  <div>

    <!--Table-->
    <el-table
      data-cy="da-kudo-table"
      v-loading="loading"
      ref="table"
      :empty-text="`No ${$t('label.associate')} Kudos`"
      :default-sort = "{prop: 'date', order: 'descending'}"
      class="data-table"
      header-cell-class-name="table-header-cell"
      :data="filteredTableData">

      <el-table-column
        label="Date of Occurrence"
        min-width="200"
        prop="date"
        :sort-method="sortDate"
        sortable>
        <template slot-scope="scope">
          {{scope.row.date | date_timezone}}
        </template>
      </el-table-column>

      <el-table-column
        :label="`${$t('label.associate')} First Name`"
        prop="firstName"
        min-width="148"
        :sort-method="sortFirstName"
        sortable>
        <template slot-scope="scope">
          {{scope.row.staff.firstName | text}}
        </template>
      </el-table-column>

      <el-table-column
        :label="`${$t('label.associate')} Last Name`"
        min-width="145"
        prop="lastName"
        :sort-method="sortLastName"
        sortable>
        <template slot-scope="scope">
          {{scope.row.staff.lastName | text}}
        </template>
      </el-table-column>

      <el-table-column
        :label="`${$t('label.associate')} Kudo Type`"
        min-width="150"
        prop="kudoType">
        <template slot-scope="scope">
          {{ `${scope.row.type ? scope.row.type.option : scope.row.kudoType}` }}
        </template>
      </el-table-column>

      <el-table-column
        label="Notes"
        min-width="450"
        prop="notes">
        <template slot-scope="scope">
          <p class="truncate">{{scope.row.notes | text}}</p>
        </template>
      </el-table-column>

      <el-table-column align="right" width="45">
            <template slot="header">
                <el-dropdown class="mt-1" @command="handleCommand"  ref="dropdown">
                    <ContextMenuHeaderIcon class="mr-1 context-menu-header-hover"/>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{action: 'add'}">Add {{$t('label.associate')}} Kudo</el-dropdown-item>
                        <el-dropdown-item v-if="range != 'all'" :command="{action: 'viewAll'}">View All {{$t('label.associate')}} Kudos</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
            <template slot-scope="scope">
                <el-dropdown class="mt-1" @command="handleCommand"  :ref="'rowDropdown_' + scope.row.id">
                    <i class="context-menu uil uil-ellipsis-h"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item data-cy="edit-da-kudo" :command="{action: 'view', row: scope.row}">View & Edit {{$t('label.associate')}} Kudo</el-dropdown-item>
                        <el-dropdown-item v-if="!daId" :command="{action: 'viewDA', row: scope.row}">View {{$t('label.associate')}}</el-dropdown-item>
                        <el-dropdown-item data-cy="delete-da-kudo" divided :command="{action: 'delete', row: scope.row}">Delete {{$t('label.associate')}} Kudo</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
        </el-table-column>

    </el-table>

    <div v-if="range == 'all' && nextToken" class="flex justify-center mt-4">
      <el-button round @click="loadData()">Load More</el-button>
    </div>

    <div class="flex justify-between -mb-4" v-if="range != 'all'">
      <el-button type="text" class="link" @click="$router.push({name: 'DaKudoIndex'})">View All {{$t('label.associate')}} Kudos</el-button>
    </div>

    <!-- DA KUDO MODAL -->   
    <el-dialog
        :title="modalTitle"
        :visible.sync="showModal">
        <DaKudoForm 
            v-if="showModal" 
            :editFormFields="editFormFields"
            @close="closeAddKudo"
            @close-add-kudo="closeAddKudo"
            @mutate-add-kudo="mutateKudo"/>
    </el-dialog>

  </div>
</template>

<script>
    import PremiumWarning from '@/components/PremiumWarning'
    import { kudosByGroupAndDate, kudosByStaff } from '../../queries';
    import { deleteKudo } from '@/graphql/mutations'
    import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
    import DaKudoForm from '@/components/DaKudoForm'

    export default {
        name: 'DaKudosList',
        props: ['range', 'daId', 'search', 'addKudo'],
        components: {
            PremiumWarning,
            ContextMenuHeaderIcon,
            DaKudoForm
        },
        data() {
            return {
                tableData: [],
                loading: false,
                showModal: false,
                editFormFields: {},
                modalTitle: '',
                nextToken: null,
                numNextTokens: 0,
                addingKudo: false,
                sampleData: [
                    {id: "1",kudoType: "Mentor Daily FICO®",date: "2021-08-16T04:00:00.000Z",notes: "Received 825 (Created from Mentor import)",updatedAt: "2021-08-23T17:43:31.650Z",staff: {    id: "a",    firstName: "Kevin",    lastName: "Chow"}},
                    {id: "2",kudoType: "Mentor Seatbelt Rate",date: "2021-08-16T04:00:00.000Z",notes: "Received 0 (Created from Mentor import)",updatedAt: "2021-08-23T17:43:31.569Z",staff: {    id: "b",    firstName: "Diana",    lastName: "Young"}},
                    {id: "3",kudoType: "Mentor Sse",date: "2021-08-16T04:00:00.000Z",notes: "Received 0 (Created from Mentor import)",updatedAt: "2021-08-23T17:43:31.669Z",staff: {    id: "c",    firstName: "Jesus",    lastName: "Jean Marie"}},
                    {id: "4",kudoType: "Mentor Sse",date: "2021-08-16T04:00:00.000Z",notes: "Received 0 (Created from Mentor import)",updatedAt: "2021-08-23T17:43:31.511Z",staff: {    id: "d",    firstName: "Donald",    lastName: "Trostrud"}},
                    {id: "5",kudoType: "Mentor Sse",date: "2021-08-16T04:00:00.000Z",notes: "Received 0 (Created from Mentor import)",updatedAt: "2021-08-23T17:43:31.588Z",staff: {    id: "e",    firstName: "Ansel",    lastName: "Vargas"}}
                ]
            }
        },

        mounted(){
            this.loadData()
        },

        computed:{
            filteredTableData(){
                if(!this.search) return this.tableData
                return this.tableData.filter(row =>{
                    return row.staff.firstName.toLowerCase().includes(this.search.toLowerCase()) ||
                    row.staff.lastName.toLowerCase().includes(this.search.toLowerCase()) ||
                    (row.staff.firstName + ' ' + row.staff.lastName).toLowerCase().includes(this.search.toLowerCase()) ||
                    row.kudoType.toLowerCase().includes(this.search.toLowerCase()) ||
                    row.notes && row.notes.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        },

        methods: {
            closeAddKudo(){
                this.addingKudo = true
                this.showModal = false
            },
            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            sortFirstName(a,b){
                return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase());
            },

            sortLastName(a,b){
                return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
            },

            handleCommand(payload){

                var action = payload.action
                var row = payload.row

                if(action == 'add')
                {
                /* Hides the dropdown menu when DOM updates as a 
                result of any selection from dropdown menu */
                 this.$nextTick(() => {
                 this.$refs.dropdown.hide();
                 });
                }
                else
                {
                 const rowIndex = payload?.row?.id;
                 const refName = 'rowDropdown_' + rowIndex;
                 const rowDropdown = this.$refs[refName];
                 if (rowDropdown && rowDropdown) {
                  rowDropdown.hide();
                 }
                }

                if(action == 'add'){
                    if(this.daId){
                        this.editFormFields = {
                            staff: {
                                id: this.daId
                            },
                            date: null,
                            notes: null,
                            staffId: null,
                            kudoType: null
                        }
                    }
                    else{
                        this.editFormFields = {}
                    }
                    this.modalTitle = `Add ${this.$t('label.associate')} Kudo`
                    this.showModal = true
                }
                else if(action == 'view'){
                    this.modalTitle = `View & Edit ${this.$t('label.associate')} Kudo`
                    this.editFormFields = row
                    this.showModal = true
                }
                else if(action == 'viewDA'){
                    this.$router.push({name: 'StaffDetail', params: { id: row.staff.id }})
                }
                else if(action == 'viewAll'){
                    this.$router.push({name: 'DaKudoIndex'})
                }
                else if(action == 'delete'){
                    this.$confirm(`Are you sure you want to permanently delete this ${this.$t('label.associate')} Kudo? Deleting this ${this.$t('label.associate')} Kudo could affect this ${this.$t('label.associate_s')} current Hera Score & Rank.`, 'Warning', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.commitDeleteKudo(row)          
                    }).catch(() => {
                        console.log("canceled delete")         
                    });
                }
            },

            async commitDeleteKudo(row) {
                try{

                    let input = {
                        id: row.id
                    }
                    await this.api(deleteKudo, {input})

                    this.showModal = false
                    this.nextToken = null
                    this.tableData = []
                    if(this.range == "all"){
                        let numNextTokens = this.numNextTokens
                        this.numNextTokens = 0
                        for(let i = 0 ; i < numNextTokens; i++){
                            await this.loadData()
                        }
                    }
                    else{
                        this.loadData()
                    }
                    this.displayUserNotification({
                        title: "Success", 
                        type: "success", 
                        message: `${this.$t('label.associate')} Kudo deleted`
                    })
                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
            },

            async mutateKudo(){
                this.showModal = false
                this.nextToken = null
                this.tableData = []
                this.addingKudo = true
                if(this.range == "all"){
                    let numNextTokens = this.numNextTokens
                    this.numNextTokens = 0
                    for(let i = 0 ; i < numNextTokens; i++){
                        await this.loadData()
                    }
                }
                else{
                    this.loadData()
                }
            },

            loadData: async function(){
              try{
                  this.loading = true
                  if(this.range == 'sample'){
                      this.tableData = this.sampleData
                  }
                  else if(this.range == "range"){
                    var currentDate = this.$moment();
                    var dayAhead = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
                    var pastDate = this.$moment(currentDate).subtract(90, 'days').format('YYYY-MM-DD');

                    var input = {
                        date: {between: [pastDate, dayAhead]},
                        group: this.$store.state.userInfo.tenant.group,
                        sortDirection: "DESC"
                    }

                    var results = await this.gLoadListAll(kudosByGroupAndDate, input, 'kudosByGroupAndDate')
                    this.tableData = results
                  }
                  else if(this.range == "mostRecent"){
                      var input = {
                          group: this.$store.state.userInfo.tenant.group,
                          sortDirection: "DESC",
                          limit: 5
                      }
                      var daKudos = await this.api(kudosByGroupAndDate, input)
                      this.tableData = daKudos.data.kudosByGroupAndDate.items
                  }
                  else if(this.range == "all" && this.daId){
                        var input = {
                          group: this.$store.state.userInfo.tenant.group,
                          sortDirection: "DESC",
                          limit: 10,
                          staffId: this.daId,
                          nextToken: this.nextToken
                        }
                        var daKudos = await this.api(kudosByStaff, input)
                        this.tableData = [...this.tableData, ...daKudos.data.kudosByStaff.items]
                        this.nextToken = daKudos.data.kudosByStaff.nextToken
                        this.numNextTokens++
                  }
                  else if(this.range == "all"){
                        var input = {
                          group: this.$store.state.userInfo.tenant.group,
                          sortDirection: "DESC",
                          limit: 30,
                          nextToken: this.nextToken
                        }
                        var daKudos = await this.api(kudosByGroupAndDate, input)
                        this.tableData = [...this.tableData, ...daKudos.data.kudosByGroupAndDate.items]
                        this.nextToken = daKudos.data.kudosByGroupAndDate.nextToken
                        this.numNextTokens++
                  }//endif range

                if((this.addKudo || this.$route.params.addKudo ) && !this.addingKudo){
                    var obj = {
                        action: "add"
                    }
                    // clear out
                    this.handleCommand(obj)
                }//endif add kudo
              }
              catch(e){
                console.log(e)
                this.displayUserError(e)
              }
              finally{
                  this.loading = false
              }
            },

            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            sortFirstName(a,b){
              return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase());
            },  
            sortLastName(a,b){
              return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
            }            
        }
    }
</script>
<style scoped>

.table-row td{
  word-break: break-word;
}

</style>