.ag-react-container{
    width: 100%
}
.ag-theme-alpine .ag-header{
    border: none
}
.ag-theme-alpine .ag-root-wrapper{
    border: none;
}
.ag-theme-alpine .ag-column-drop-horizontal{
    border: none;
    margin-bottom: 8px;
}
.ag-theme-alpine{
    padding: 0 16px;
}
/* .ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked::after{
    left: 2px
} */
.ag-theme-alpine .ag-ltr .ag-cell{
    border: none !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}
.ag-theme-alpine .ag-row{
    border: none;
    border-bottom: 1px solid rgb(228 228 228);
    background: #fff;
}
.ag-theme-alpine .ag-row-selected{
    border: none;
    border-bottom: 1px solid rgb(228 228 228);
    background: #f0f8ff;
}
.ag-theme-alpine .ag-row-hover {
    background-color: #EBF6FF;
}
.ag-theme-alpine .ag-floating-top{
    border: none
}
.columnSelectHeader {
    padding: 0 !important;

}
.ag-header-cell.ag-focus-managed.columnSelectHeader{
    padding: 0 !important;

}
.ag-theme-alpine .ag-pinned-right-header {
    border: none
}
.ag-theme-alpine .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell){
    border: none !important
}
.ag-cell-value{
    color: #202020;
    font-size: 14px;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    width: 100%;
}
.ag-theme-alpine .ag-header-row:not(:first-child) .ag-header-cell{
    border: none
}
.ag-theme-alpine .ag-pinned-left-header {
    border: none !important;
}
.ag-theme-alpine .ag-cell-wrap-text{
    word-break: break-word;
}
.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell{
    border-radius: 0
}
.ag-react-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.ag-textAlignLeft .ag-react-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ag-react-container > *{
    height: 100%
}
.ag-checkbox .ag-checkbox-input-wrapper {
    visibility: hidden
}
.ag-row:hover .ag-checkbox-input-wrapper, .ag-checkbox .ag-checked {
    visibility: visible;
}
.ag-row:hover .ag-checkbox-input-wrapper, .ag-checkbox .ag-indeterminate {
    visibility: visible;
}
.ag-row .ag-icon-grip{
    visibility: hidden;
}
.ag-row:hover .ag-icon-grip {
    visibility: visible;
}
.ag-cell-wrap-text .wrapText{
    white-space: inherit !important;
    line-height: 1.7 !important;
    padding: 5px 0px !important;
    width: 100% !important;
}
.ag-cell-wrapper {
    width: 100%
}
.ag-cell-wrap-text .multiSelectDD{
    display: block !important;
}
.ag-theme-alpine .ag-ltr .ag-row-drag {
    margin-right: 4px
}
/*.ag-theme-alpine .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value){*/
/*    display: flex !important;*/
/*}*/
/*.columnSettingBtn{*/
/*    visibility: hidden;*/
/*}*/
/*.ag-header-cell:hover .columnSettingBtn{*/
/*    visibility: visible;*/
/*}*/