<template>
    <div>
        <!-- TASK FORM -->
        <el-form label-width="183px" label-position="top" :rules="rules" ref="newTaskForm" v-loading="loading" :model="formData" class="pb-0">
            <div class="block lg:flex space-x-4">
                <div class="flex-1">

                    <!-- ASSINGER -->
                    <el-form-item label="Assigned By" prop="assigner">
                        <el-select
                                v-model="formData.assigner.id"
                                placeholder="Select the Assigned To"
                                disabled
                                >
                                <el-option
                                    v-for="item in userList"
                                    :key="item.id"
                                    :label="item.firstName + ' ' + item.lastName"
                                    :value="item.id"/>
                        </el-select>
                    </el-form-item>

                    <!-- ASSIGNEE -->
                    <el-form-item label="Assigned To" prop="assignee">
                        <el-select
                                data-cy="assigned-to"
                                v-model="formData.assignee.id"
                                placeholder="Select the Assigned To"
                                clearable
                                >
                                <el-option
                                    v-for="item in userList"
                                    :key="item.id"
                                    :label="item.firstName + ' ' + item.lastName"
                                    :value="item.id"/>
                        </el-select>
                    </el-form-item>
                </div>
                <div class="flex-1">

                    <!-- DATE -->
                    <el-form-item label="Due Date" prop="date">
                        <el-date-picker
                                data-cy="due-date"
                                v-model="formData.date"
                                type="date"
                                placeholder="Pick a day"
                                format="MM/dd/yyyy"
                                />
                    </el-form-item>

                    <!-- STATUS -->
                    <el-form-item label="Status" prop="status">
                        <el-select 
                            data-cy="status" 
                            v-model="formData.status">
                                <el-option label="Pending" value="Pending"/>
                                <el-option label="Complete" value="Complete"/>
                        </el-select>
                    </el-form-item>
                </div>
            </div>

            <!-- TASK NAME -->
            <el-form-item label="Task Name" prop="taskName">
                <el-input 
                    data-cy="taskname"
                    v-model="formData.taskName"
                />
            </el-form-item>

            <!-- NOTIFY ON CREATION -->
            <el-form-item v-if="isNew" prop="isNotifyOnCreation">
                <el-checkbox data-cy="notify-on-creation" v-model="formData.isNotifyOnCreation">Notify "Assigned To" on creation of task.</el-checkbox>
            </el-form-item>

            <div class="flex">
                <!-- NOTIFY ON DATE -->
                <el-form-item prop="isDateReminder">
                    <el-checkbox data-cy="date-reminder-chk" v-model="formData.isDateReminder" @change="setDate()" >Remind "Assigned To" on a specified date.</el-checkbox>
                </el-form-item>

                <!-- REMINDER DATE -->
                <el-form-item class="ml-10" v-show="formData.isDateReminder" prop="reminderDate">
                    <el-date-picker
                        data-cy="date-reminder-dpk"
                        :disabled="!formData.isDateReminder"
                        v-model="formData.reminderDate"
                        type="datetime"
                        placeholder="Pick a day"
                        format="yyyy-MM-dd HH:mm"/>
                </el-form-item>
            </div>

            <!-- DESCRIPTION -->
            <el-form-item label="Description" prop="description">
                <el-input
                    data-cy="description"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formData.description"
                />
            </el-form-item>

        </el-form>
        <p class="text-gray-600 text-xs pb-5">To help make sure tasks don't slip through the cracks, they can be seen by anyone who logs into Hera at your DSP.</p>
        <!-- Footer
        <div class="flex justify-between mt-8">
            <el-button @click="handleCancel">Cancel</el-button>
            <el-button v-if="formData.id == null" @click="createTask" type="success">Save</el-button>
            <el-button v-else @click="updateCounseling" type="primary">Update</el-button>
        </div>        -->

    </div>
</template>
<script>
// @ is an alias to /src
import { mapState } from 'vuex'
import { getTenant } from '@/views/Accident/queries.js'
import Validator from '@/utilities/FormValidator'


export default {
    props: ['formData', 'isNew'],

    data(){
        return{
            loading: false,
            userList: [],
        }
    },

    mounted(){
        this.loadData();
    },

    computed:{
        ...mapState([
            'userInfo'
        ]),

        rules(){
            return {
                assigner: [{required: true, message: 'Assigner is required', trigger: 'blur'}],
                assignee: [{ required: true, message: 'Assigned To is required', validator: Validator.assigneeCheck, trigger: 'blur' }],
                date: [{required: true, message: 'Date is required', trigger: 'blur'}],
                reminderDate: [{required: this.formData.isDateReminder, message: 'Reminder date is required', trigger: 'blur'}],
                taskName: [{required: true, message: 'Task Name is required', trigger: 'blur'}]
            }
        }
    },

    methods:{
        /**
         * Loads data for value lists
         */
        loadData: async function(){
            this.loading = true;
            try{
                var input = {
                    id: this.$store.state.userInfo.tenant.id
                }
                var tenant = await this.api(getTenant, input)

                const users = tenant.data.getTenant.users.items;
                this.userList = this.excludeSupportAdminFromArray(users);
            }
            catch(e){
                this.$message({
                    type: 'error',
                    message: e.message
                });
            }
            finally{
                this.loading = false;
            }

        },

        setDate(){
            var newTime = new Date(this.formData.date).getTime() - 43200000  
            if(this.formData.isDateReminder && this.formData.date){
                //43200000 is 0.5 days
                //86400000 is 1 day
                //129600000 is 1.5 days
                this.formData.reminderDate = new Date (newTime)
            }else{
                this.formData.reminderDate = null
            }
        }

    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>