<template>
    <div data-cy="expiring-licence-plates-form">
        <Card title="Expiring License Plates"
        iconClass="uil-diary-alt rotate-90" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasVehicleManagement && !hasReadOnlyAccess('vehicles')">
        <template v-slot:body>  
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab">
                <!-- FIRST TAB -->
                <!-- Expiring Soon -->
                <el-tab-pane label="expiringSoon" name="expiringSoon">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{expiringSoon.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0">Expiring Soon</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div class="items-center ">
                                <div v-for="vehicle in filteredExpiringLicensePlates" :key="vehicle.id" class="flex-row items-center">
                                    <div class="hover:bg-blue-100 h-12 rounded px-2 py-1">
                                        <div class="flex space-x-1 justify-between">
                                            <div class="flex-initial min-w-0 text-xs">
                                                <div class="font-bold truncate">{{ vehicle.name | text }}</div>
                                                <div class="truncate">{{ vehicle.licensePlate }} <span v-if="vehicle.licensePlate">—</span> {{ vehicle.licensePlateExp | date }}</div>
                                            </div>
                                            <el-dropdown data-cy="elp-3dot-btn" @command="handleCommand" trigger="click" class="mt-1">
                                                <div class="flex-none">
                                                    <i class="context-menu uil uil-ellipsis-h"></i>
                                                </div>
                                                <el-dropdown-menu slot="dropdown" @command="handleCommand">
                                                    <el-dropdown-item :command="{vehicle: vehicle, action: 'view'}">View Vehicle</el-dropdown-item>
                                                    <el-dropdown-item divided :command="{vehicle: vehicle, action: 'edit'}">Mark As Inactive</el-dropdown-item>
                                                </el-dropdown-menu>
                                            </el-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
                <!-- SECOND TAB -->
                <!-- Expired -->
                <el-tab-pane label="expired" name="expired">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{expired.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0">Expired</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="vehicle in filteredExpiredLicensePlates" :key="vehicle.id" class="flex-row items-center">
                                <div class="hover:bg-blue-100 h-12 rounded px-2 py-1">
                                    <span class="flex space-x-1 justify-between">
                                        <div class="flex-initial min-w-0 text-xs">
                                            <div class="font-bold truncate">{{ vehicle.name | text }}</div>
                                            <div class="truncate">{{ vehicle.licensePlate }} <span v-if="vehicle.licensePlate">—</span> {{ vehicle.licensePlateExp | date }}</div>
                                        </div>
                                        <el-dropdown data-cy="elp-3dot-btn" @command="handleCommand" trigger="click" class="mt-1">
                                            <div class="flex-none">
                                                <i class="context-menu uil uil-ellipsis-h"></i>
                                            </div>
                                            <el-dropdown-menu slot="dropdown" @command="handleCommand">
                                                <el-dropdown-item :command="{vehicle: vehicle, action: 'view'}">View Vehicle</el-dropdown-item>
                                                <el-dropdown-item divided :command="{vehicle: vehicle, action: 'edit'}">Mark As Inactive</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <button v-if="hasVehicleManagement" class="link text-sm" @click="navigateToVehicleIndex">View All Expiring Licenses Plates</button>
            <PremiumWarningButton v-else isLink buttonText="View All Expiring Licenses Plates" action="view report" premiumFeature="vehicle management" placement="bottom"/>
        </template>
        </Card>

    </div>
</template>

<script>

import { vehiclesByGroupAndLicensePlateExp } from '@/views/Vehicles/queries';
import { getVehicleUpdatedTimestamp } from '@/utilities/timestampQueries'
import { updateVehicle } from '@/graphql/mutations'
import { mapState, mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'

export default {
    name: "ExpiringLicensePlate",
    props: [''],
    components: { 
        Card,
        PremiumWarningButton
    },
    data(){
        return{
            loading: false,
            expiringSoon: [],
            expired: [],
            currentTab: 'expiringSoon'

        }
    },
    mounted(){
        this.loadData()
    },
    computed: {
        ...mapState([
            'userInfo',
        ]),
        ...mapGetters([
            'hasVehicleManagement',
            'hasReadOnlyAccess',
        ]),

        filteredExpiredLicensePlates(){
            return this.expired.slice(0 , 5)
        },

        filteredExpiringLicensePlates(){
            return this.expiringSoon.slice(0 , 5)
        },

    },
    methods:{
        /**
         * Confirms with user if they want to mark the selected vehicle as inactive
         */
        confirmVehicleMarkAsInactive(vehicle){
            this.$confirm(`This will update this vehicle's status as 'Inactive'. Continue?`, 'Warning', {
                confirmButtonText: 'Update',
                cancelButtonText: 'Cancel',
                type: 'warning'
                }).then(() => {
                    this.updateVehicleAsInactive(vehicle)          
                }).catch(() => {
                    console.log("canceled update")         
                }
            );
        },

        /**
         * Handles the different drop down commands
         */
        handleCommand(payload){
            var vehicle = payload.vehicle
            var action = payload.action

            if(action == "edit"){
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: 'Mark As Inactive', type: 'info', message:'Premium Required'})
                    return
                }
                this.confirmVehicleMarkAsInactive(vehicle)
                return
            }
            
            if(action == "view"){
                let previousRouteText = 'Dashboard',
                    previousRouteName = this.$route.name

                this.$router.push({name: 'VehicleDetail', params:{id: vehicle.id}, query: {previousRouteText, previousRouteName}})
                return
            }
        },

        /**
         * Handles the tab change
         */
        handleTabClick(tab){
            this.currentTab = tab.label
        },

        /**
         * Loads in vehicle data for this summary card
         */
        async loadData(){
            try{
                if(!this.hasVehicleManagement && !this.hasReadOnlyAccess('vehicles')){
                    await this.loadFakeData()
                    return
                }
                this.loading = true
                var currentDate = this.$moment();
                var currentDateFormatted = this.$moment().format('YYYY-MM-DD');
                var daysAhead = this.$moment(currentDate).add(90, 'days').format('YYYY-MM-DD');


                var input = {
                    licensePlateExp: {between: [currentDateFormatted, daysAhead]},
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC"
                }


                var Exipringresult = await this.gLoadListAll(vehiclesByGroupAndLicensePlateExp, input, 'vehiclesByGroupAndLicensePlateExp')

                this.expiringSoon = Exipringresult.filter((vehicle)=>{
                    return vehicle.status == "Active"
                })

                var input = {
                    licensePlateExp: {le: currentDateFormatted},
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC"
                }

                var expiredResult = await this.gLoadListAll(vehiclesByGroupAndLicensePlateExp, input, 'vehiclesByGroupAndLicensePlateExp')

                this.expired = expiredResult.filter((vehicle)=>{
                    return vehicle.status == "Active"
                })

            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        /**
         * Loads fake data into the summary card
         */
        loadFakeData(){
            var currentDate = this.$moment();

            var tomorrow = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
            var twoWeeksOut = this.$moment(currentDate).add(14, 'days').format('YYYY-MM-DD');
            var oneMonthOut = this.$moment(currentDate).add(30, 'days').format('YYYY-MM-DD');
            var twoMonthsOut = this.$moment(currentDate).add(60, 'days').format('YYYY-MM-DD');
            var threeMonthsOut = this.$moment(currentDate).add(90, 'days').format('YYYY-MM-DD');
            this.expiringSoon = [
                {
                    name: 'Vehicle1',
                    licensePlateExp: tomorrow,
                    licensePlate: 'ABC123'
                },
                {
                    name: 'Vehicle2',
                    licensePlateExp: twoWeeksOut,
                    licensePlate: 'DEF456'
                },
                {
                    name: 'Vehicle3',
                    licensePlateExp: oneMonthOut,
                    licensePlate: 'GHI789'
                },
                {
                    name: 'Vehicle4',
                    licensePlateExp: twoMonthsOut,
                    licensePlate: 'JKL012'
                },{
                    name: 'Vehicle5',
                    licensePlateExp: threeMonthsOut,
                    licensePlate: 'MNO345'
                }
            ]
        },
        
        /**
         * Navigates to to the vehicle list and shows all vehicles with expired or expiring plates.
         */
        navigateToVehicleIndex(){
            this.$emit('navigate-to-vehicle-list', 'expiring')
        },

        /**
         * Update the selected vehicle's status as Inactive and reloads the data
         */
        async updateVehicleAsInactive(vehicle){
            try{
                var input = {
                    id: vehicle.id,
                    status: "Inactive",
                    updatedAt: vehicle.updatedAt
                }

                if(vehicle.device){
                    input.vehicleDeviceId = vehicle.device.id
                }

                await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')
                this.loadData()
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        }


    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>