<template>
    <div data-cy="card_accidents_damage">
        <Card :title="accidentTitle"
        iconClass="uil-traffic-barrier" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasVehicleManagement && !hasReadOnlyAccess('vehicles')">
        <template v-slot:body>       
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab">
                <el-tab-pane data-cy="ad_tabs" :label="tab.name" v-for="tab in tabs" :name="tab.name" :key="tab.name">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{ tab.count }}</div>
                        <div class="text-xs text-black pt-0 mt-0">{{tab.title}}</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="accident in tab.table" :key="accident.id">
                                <div class="hover:bg-blue-100 rounded h-12 px-2 py-1">
                                    <div class="flex space-x-1 justify-between">
                                        <div class="flex-initial min-w-0 text-xs">
                                            <div class="font-bold truncate">
                                                <span>{{ accident.accidentDate | date }}</span>
                                                <span v-if="accident.staff">
                                                    — <i class="uil uil-user text-sm"></i>
                                                    <el-tooltip class="item" effect="dark" :content="`${accident.staff.firstName} ${accident.staff.lastName}`">
                                                        <span>{{ accident.staff.firstName }} {{ accident.staff.lastName }}</span>
                                                    </el-tooltip>
                                                </span>
                                                • <i class="uil uil-truck text-sm"></i>
                                                <span v-if="accident.vehicle">
                                                    <el-tooltip class="item" effect="dark" :content="accident.vehicle.name">
                                                        <span>{{ accident.vehicle.name }}</span>
                                                    </el-tooltip>
                                                </span>
                                            </div>
                                            <div class="truncate">
                                                <span v-if="tab.name === 'accidents'">{{ accident.address }} {{ accident.addressCity }} {{ accident.addressState }} {{ accident.addressZip }}</span>
                                                <span v-else>{{ accident.damageSeverity }} — {{ accident.damage }}</span>
                                            </div>
                                        </div>
                                        <el-dropdown data-cy="cad-3dot-btn" @command="handleCommand" trigger="click" class="mt-1" >
                                            <i class="context-menu uil uil-ellipsis-h"></i>
                                            <el-dropdown-menu slot="dropdown">
                                                <el-dropdown-item :command="{accident: accident, action: 'edit'}">View &amp; Edit</el-dropdown-item>
                                                <el-dropdown-item :command="{accident: accident, action: 'view'}">View Vehicle</el-dropdown-item>
                                                <el-dropdown-item divided :command="{accident: accident, action: 'delete'}">Delete</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <div v-if="hasVehicleManagement" class="space-x-2">
                <button data-cy="viewAllButtonText" class="link text-sm" @click="navigateToAccidentIndex">{{ viewAllButtonText }}</button>
                <button data-cy="addButtonText" class="link text-sm" @click="createVehicleHistory">{{ addButtonText }}</button>
            </div>
            <div v-else  class="space-x-2 leading-5">
                <PremiumWarningButton  isLink :buttonText="viewAllButtonText" action="view report" premiumFeature="vehicle management" placement="bottom"/>
                <PremiumWarningButton  isLink :buttonText="addButtonText" action="create" premiumFeature="vehicle management" placement="bottom"/>
            </div> 
        </template>
        </Card>

        <!-- VEHICLE DAMAGE DRAWER -->
        <VehicleDamage
            :isOpen="VehicleDamage_IsOpen"
            :loading="VehicleDamage_Loading"
            :formTitle="VehicleDamage_FormTitle"
            :formAction="VehicleDamage_FormAction"
            :formFields="VehicleDamage_FormFields"
            :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
            :counselingData="VehicleDamage_CounselingData"
            :deleteModalOpen="VehicleDamage_DeleteModalOpen"

            :staffList="VehicleDamage_StaffList"
            :loadingStaffList="VehicleDamage_LoadingStaffList"

            :vehicleList="vehicleArray"
            :loadingVehicleList="false"
            :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

            :damageImages="VehicleDamage_DamageImages"
            :imagesToCreate="VehicleDamage_ImagesToCreate"
            :imagesToDelete="VehicleDamage_ImagesToDelete"

            @print="$_VehicleDamage_print"
            @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
            @cancel-save="$_VehicleDamage_cancelSave"
            @save-data="handleDamageSave"
            @cancel-delete="$_VehicleDamage_closeDeleteDialog"
            @delete="handleDamageDelete"
        />

        <!-- DELETION DIALOG -->
        <el-dialog
            title="Are you sure?"
            :visible.sync="deleteModalOpen"
            width="30%">
            <CommonDeleteDialog 
                :deletionMessage="`This will permanently delete this ${currentTab === 'accidents' ? 'Accident Record ' : 'Vehicle Damage' } and its attachments.`"
                @close-modal="deleteModalOpen=false"
                @delete-action="commitDeleteAccident"/>
        </el-dialog>
        
    </div>
</template>

<script>
import { getAccident, accidentsByGroupAndHistoryType} from '@/views/Vehicles/queries';
import { getAccidentUpdatedTimestamp } from '@/utilities/timestampQueries'
import { deleteDocument, deleteAccident } from '@/graphql/mutations'
import { Storage } from 'aws-amplify'
import CommonDeleteDialog from '@/components/CommonDeleteDialog'
import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
import { mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import { INICIDENT_TYPE_ACCIDENT } from '@/utilities/constants/incidents';
import {
    INCIDENT_ROUTE_EDIT,
    INCIDENT_ROUTE_INDEX,
    INCIDENT_ROUTE_NEW,
    VEHICLE_DAMAGE_ROUTE_RECENT,
} from '@/utilities/constants/routeNames';

export default {
    name: "RecentAccidentsAndDamage",
    props: ['vehicleArray'],
    mixins: [
      VehicleDamageMixin,
    ],
    components: {
        CommonDeleteDialog,
        VehicleDamage,
        Card,
        PremiumWarningButton
    },
    data(){
        return{
            loading: false,
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            tabs: [
                {name: 'accidents', table: [], title: 'Accidents', viewAll: 'View Recent Accidents', add: 'Add Accident', count: 0},
                {name: 'vehicleDamage', table: [], title: 'Vehicle Damage', viewAll: 'View Recent Vehicle Damage', add: 'Add Vehicle Damage', count: 0}
            ],
            accidents: [],
            vehicleDamage: [],
            currentTab: "accidents",
            deleteModalOpen: false,
            accidentToDelete: null
        }
    },

    mounted(){
        if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
            this.tabs.shift()
        }
        this.loadData()
    },

    computed: {
        ...mapGetters([
            'hasVehicleManagement',
            'hasReadOnlyAccess',
        ]),

        viewAllButtonText(){
            if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
                return this.tabs[0].viewAll
            }
            else{
                if(this.currentTab == "accidents") return this.tabs[0].viewAll
                else return this.tabs[1].viewAll
            }
        },

        addButtonText(){
            if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
                return this.tabs[0].add
            }
            else{
                if(this.currentTab == "accidents") return this.tabs[0].add
                else return this.tabs[1].add
            }
        },

        accidentTitle(){
            if(!this.USER_PERMISSIONS || (this.USER_PERMISSIONS && this.$store.state.userInfo.permissionAccidents)){
                return 'Accidents & Damage (Last 90 Days)'
            }
            else if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
                return 'Vehicle Damage (Last 90 Days)'
            }
        },
    },

    methods:{

        confirmDeleteAccident(record, input){
            this.accidentToDelete = input
            this.deleteModalOpen = true
        },

        commitDeleteAccident() {
            this.deleteModalOpen = false
            this.deleteAccident(this.accidentToDelete)
        },

        /**
         * Takes user to the approperiate form to create a vehicle history form
         */
        createVehicleHistory(){
            if(this.currentTab == "accidents"){
                this.$router.push({
                    name: INCIDENT_ROUTE_NEW,
                    params: {
                        loadAsAccidentType: true,
                    },
                });
            }
            else{
                const payload = {
                    mode: 'create',
                    formAction: 'Create',
                    formTitle: 'Add Vehicle Damage Record',
                    disableVehicleSelection: false,
                    prefixCounselingCreatedFrom: 'Recent Accidents And Damages',
                };

                this.$_VehicleDamage_open(payload);
            }
        },

        async deleteAccident(input){
            try{
                this.loading = true
                var getResult = await this.api(getAccident, input)
                var accident = getResult.data.getAccident

                //check timestamp
                var recordType = `${this.currentTab === 'accidents' ? 'Accident Record ' : 'Vehicle Damage' }`
                var timestampResult = await this.api(getAccidentUpdatedTimestamp, {id: input.id})
                if(!timestampResult.data.getAccident){
                    throw recordType + " is missing or deleted by another user."
                }

                //Delete Accident Documents
                if(accident.incidentDocuments.items.length > 0){
                    for(var document of accident.incidentDocuments.items){
                        var result = await Storage.remove(document.key)
                        var deleteResult = await this.api(deleteDocument, {input:{ id: document.id}} )
                    }                    
                }

                //Delete Vehicle Damage Images
                if(accident.vehicleDamageImages.items.length > 0){
                    for(var image of accident.vehicleDamageImages.items){
                        var result = await Storage.remove(image.key)
                        var deleteResult = await this.api(deleteDocument, {input:{ id: image.id}} )
                    }
                }

                //Delete Maintenance Documents
                if(accident.maintenanceDocuments.items.length > 0) {
                    for(var document of accident.maintenanceDocuments.items) {
                        await Storage.remove(document.key);
                        await this.api(deleteDocument, {input:{ id: document.id}} );
                    }
                }

                //Delete Accident
                await this.api(deleteAccident, {input: {id: accident.id}})

                //Reload data
                this.loadData()
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        async editVehicleDamage(damageId){
            const payload = {
                mode: 'edit',
                damageId,
                formAction: 'Update',
                formTitle: 'Edit Vehicle Damage Record',
                disableVehicleSelection: true,
            };

            this.$_VehicleDamage_open(payload);
        },

        handleCommand(payload){
            if(this.currentTab == "accidents") this.handleAccidentCommand(payload)
            else this.handleDamageCommand(payload)
        },

        handleAccidentCommand(payload){
            var accident = payload.accident
            var action = payload.action
            if(action == "edit"){
                this.$router.push({
                    name: INCIDENT_ROUTE_EDIT,
                    params:{
                        accidentID: accident.id,
                    }
                });
                return
            }
            if(action == "delete"){
                var input = {
                    id: accident.id
                }
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: "Delete", type: 'info', message:'Premium Required'})
                    return
                }
                this.confirmDeleteAccident('accident', input)
                return
            }
            if(action == "view"){
                let previousRouteText = 'Dashboard',
                    previousRouteName = this.$route.name

                this.$router.push({name: 'VehicleDetail', params:{id: accident.vehicleId}, query: {previousRouteText, previousRouteName}})
                return
            }
            
        },

        handleDamageCommand(payload){
            var damage = payload.accident
            var action = payload.action
            var input = {
                id: damage.id
            }
            if(action == "edit"){
                this.editVehicleDamage(damage?.id);
                return
            }
            if(action == "delete"){
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: 'Delete', type: 'info', message:'Premium Required'})
                    return
                }
                this.confirmDeleteAccident('vehicle damage', input)
                return
            }
            if(action == "view"){
                let previousRouteText = 'Dashboard',
                    previousRouteName = this.$route.name

                this.$router.push({name: 'VehicleDetail', params:{id: damage.vehicleId}, query: {previousRouteText, previousRouteName}})
                return
            }
        },

        handleTabClick(tab){
            this.currentTab = tab.label
        },

        async handleDamageSave() {
            if(!this.hasVehicleManagement){
                this.displayUserNotification({title: this.VehicleDamage_FormTitle, type: 'info', message:'Premium Required'})
                return
            }
            await this.$_VehicleDamage_saveData();

            if (!this.VehicleDamage_IsOpen) { // Save success
                this.loadData();
            }
        },

        async handleDamageDelete() {
            await this.$_VehicleDamage_delete();

            if (!this.VehicleDamage_IsOpen) { // Delete success
                this.loadData();
            }
        },

        /**
         * Loads page data
         */
        async loadData(){
            try{
                if(!this.hasVehicleManagement && !this.hasReadOnlyAccess('vehicles')){
                    await this.loadFakeData()
                    return
                }

                var currentDate = this.$moment();
                var tomorrow = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
                var daysBehind = this.$moment(currentDate).subtract(90, 'days').format('YYYY-MM-DD');
                this.loading = true

                // accidents
                let input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC", 
                    vehicleHistoryTypeAccidentDate: {
                        between: [
                            {accidentDate: daysBehind, vehicleHistoryType: "Accident"}, 
                            {accidentDate: tomorrow, vehicleHistoryType: "Accident"}
                        ]
                    }
                }
                const incidents = await this.gLoadListAll(accidentsByGroupAndHistoryType, input, 'accidentsByGroupAndHistoryType')
                const accidents = this.filterByIncidentType(incidents, 'Accident');

                this.tabs[0].count = accidents.length
                if(!this.USER_PERMISSIONS || (this.USER_PERMISSIONS && this.$store.state.userInfo.permissionAccidents)){
                    this.tabs[0].table = [...accidents].slice(0,5)
                }

                // vehicle damage
                input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "ASC", 
                    vehicleHistoryTypeAccidentDate: {
                        between: [
                            {accidentDate: daysBehind, vehicleHistoryType: "Vehicle Damage"}, 
                            {accidentDate: tomorrow, vehicleHistoryType: "Vehicle Damage"}
                        ]
                    }
                }
                var vehicleDamage = await this.gLoadListAll(accidentsByGroupAndHistoryType, input, 'accidentsByGroupAndHistoryType')
                this.tabs[1].count = vehicleDamage.length

                if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionAccidents){
                    this.tabs[0].table = [...vehicleDamage].slice(0,5)
                }
                else{
                    this.tabs[1].table = [...vehicleDamage].slice(0,5)
                }


            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        filterByIncidentType(incidents=[], type='Accident') {
            return incidents.filter(item => item.optionCustomList?.option === type);
        },

        /**
         * Loads fake data into the summary card
         */
        loadFakeData(){
            var currentDate = this.$moment();
            var yesterday = this.$moment(currentDate).subtract(1, 'days').format('YYYY-MM-DD');
            var weekAgo = this.$moment(currentDate).subtract(7, 'days').format('YYYY-MM-DD');
            var twoWeeksAgo = this.$moment(currentDate).subtract(14, 'days').format('YYYY-MM-DD');
            var oneMonthAgo = this.$moment(currentDate).subtract(30, 'days').format('YYYY-MM-DD');
            var twoMonthsAgo = this.$moment(currentDate).subtract(60, 'days').format('YYYY-MM-DD');
            this.tabs[0].table = [
                {
                    accidentDate: yesterday,
                    address: '3123 Rosemont St.',
                    addressCity: 'Los Angeles',
                    addressState: 'CA',
                    addressZip: '90031',
                    staff: {
                        firstName: 'Genesis',
                        lastName: 'Saenz'
                    }
                },
                {
                    accidentDate: weekAgo,
                    address: '8124 Reynolds Dr.',
                    addressCity: 'Los Angeles',
                    addressState: 'CA',
                    addressZip: '94920',
                    staff: {
                        firstName: 'Michael',
                        lastName: 'Villegas'
                    }
                },
                {
                    accidentDate: twoWeeksAgo,
                    address: '1235 Rosa St.',
                    addressCity: 'Los Angeles',
                    addressState: 'CA',
                    addressZip: '94920',
                    staff: {
                        firstName: 'Gabriel',
                        lastName: 'Williams'
                    }
                },
                {
                    accidentDate: oneMonthAgo,
                    address: '7826 Southside St.',
                    addressCity: 'Los Angeles',
                    addressState: 'CA',
                    addressZip: '90301',
                    staff: {
                        firstName: 'Lydell',
                        lastName: 'Rodriguez'
                    }
                },
                {
                    accidentDate: twoMonthsAgo,
                    address: '987 Alpaca Ln.',
                    addressCity: 'Los Angeles',
                    addressState: 'CA',
                    addressZip: '90017',
                    staff: {
                        firstName: 'Omar',
                        lastName: 'Arredondo'
                    }
                }
            ]
        },

        navigateToAccidentIndex(){
            if(this.currentTab == "accidents"){
                this.$router.push({
                    name: INCIDENT_ROUTE_INDEX,
                    query: {
                        type: INICIDENT_TYPE_ACCIDENT,
                        date: 'last 90 days',
                    }
                });
            }
            else{
                this.$router.push({ name: VEHICLE_DAMAGE_ROUTE_RECENT });
            }
        },

        /**
         * Creates array of image URLs from s3
         */
        setdocumentURLToNull: function(documents){
            documents.forEach(async (document) =>{
                document.url = null
                document.markedForDeletion = false
            })
            return documents
        },
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>