<template>
    <div data-cy="card_upcoming_maintance">
        <Card title="Upcoming Maintenance Reminders"
        iconClass="uil-clock" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasVehicleManagement && !hasReadOnlyAccess('vehicles')">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" data-cy="card_tabs" v-model="currentTab" @tab-click="handleTabClick">
                <!-- FIRST TAB -->
                <!-- Mileage Reminders -->
                <el-tab-pane label="mileReminder" name="mileReminder">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{mileageReminders.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0">Mileage Reminders</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div v-for="reminder in filteredMileageReminders" :key="reminder.id">
                                <div class="hover:bg-blue-100 rounded h-12 px-2 py-1">
                                    <div class="flex space-x-1 justify-between">
                                        <div class="flex-initial min-w-0 text-xs">
                                            <div class="truncate">
                                                <div class="truncate font-bold"> 
                                                    <span > Due In: </span>
                                                    <span :class="{'text-red-600' : reminder.mileageDifference <= 500 , 'text-orange-400' : reminder.mileageDifference > 500 && reminder.mileageDifference <= 1000}">{{ reminder.mileageDifference | mileage }} mi.</span> 
                                                    <span > Due At: </span>
                                                    <span>{{ reminder.dueByMileage | mileage}} mi.</span>
                                                    <span class="font-normal" v-show="reminder.dueByDate">(Due on: {{ reminder.dueByDate | date }})</span>
                                                </div>
                                                <div class="truncate"><span v-if="reminder.vehicle">{{reminder.vehicle.name | text}} —</span> {{reminder.services | commaSeparated }}</div>
                                            </div>
                                        </div>
                                        <el-dropdown @command="handleCommand" trigger="click" class="mt-1">
                                            <i class="context-menu uil uil-ellipsis-h"></i>
                                            <el-dropdown-menu slot="dropdown" @command="handleCommand">
                                                <el-dropdown-item :command="{reminder: reminder, action: 'edit'}">View &amp; Edit</el-dropdown-item>
                                                <el-dropdown-item :command="{reminder: reminder, action: 'view'}">View Vehicle</el-dropdown-item>
                                                <el-dropdown-item divided :command="{reminder: reminder, action: 'delete'}">Delete</el-dropdown-item>
                                            </el-dropdown-menu>
                                        </el-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>

                <!-- SECOND TAB -->
                <!-- Date Reminders -->
                <el-tab-pane label="dateReminder" name="dateReminder">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{dateReminders.length}}</div>
                        <div class="text-xs text-black pt-0 mt-0">Date Reminders</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <!-- <div class="items-center "> -->
                                <div v-for="reminder in filteredDateReminders" :key="reminder.id">
                                    <div class="hover:bg-blue-100 rounded h-12 px-2 py-1">
                                        <div class="flex space-x-1 justify-between">
                                            <div class="flex-initial min-w-0 text-xs">
                                                <div class="font-bold truncate">
                                                    <span> Due On: </span>
                                                    <span :class="{'text-red-500' : new Date ( reminder.dueByDate ) <= new Date ( currentDate ) , 'text-orange-400' : new Date ( reminder.dueByDate ) > new Date (currentDate) && ( reminder.dueByDate ) <= new Date (currentDate) + 7}">{{ reminder.dueByDate | date}}</span>
                                                    <span class="font-normal" v-show="reminder.dueByMileage"> (Due At: {{ reminder.dueByMileage | mileage }} mi.)</span>
                                                </div>
                                                <div class="truncate"> <span v-if="reminder.vehicle">{{reminder.vehicle.name | text}} -</span> {{reminder.services | commaSeparated }}</div>
                                            </div>
                                            <el-dropdown @command="handleCommand" trigger="click" class="mt-1">
                                                <i class="context-menu uil uil-ellipsis-h"></i>
                                                <el-dropdown-menu slot="dropdown" @command="handleCommand">
                                                    <el-dropdown-item :command="{reminder: reminder, action: 'edit'}">View &#38; Edit</el-dropdown-item>
                                                    <el-dropdown-item :command="{reminder: reminder, action: 'view'}">View Vehicle</el-dropdown-item>
                                                    <el-dropdown-item divided :command="{reminder: reminder, action: 'delete'}">Delete</el-dropdown-item>
                                                </el-dropdown-menu>
                                            </el-dropdown>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </template>
        <template v-slot:footer>
            <div v-if="hasVehicleManagement" class="space-x-2">
                <button class="link text-sm" data-cy="card_link_redirect" @click="$router.push({name: 'ReminderIndex'})">View All Reminders</button>
                <button class="link text-sm" data-cy="card_action_add" @click="createMaintenanceReminder">Add Reminder</button>
            </div>
            <div v-else class="space-x-2 leading-5">
                <PremiumWarningButton isLink buttonText="View All Reminders" action="view report" premiumFeature="vehicle management" placement="bottom"/>
                <PremiumWarningButton  isLink buttonText="Add Reminder" action="create" premiumFeature="vehicle management" placement="bottom"/>
            </div>
        </template>
        </Card>

        <!-- ADD REMINDER FORM-->
        <el-dialog
        :title="reminderFormTitle"
        v-if="reminderModalOpen"
        visible
        width="65%"
        :show-close="false"
        :close-on-click-modal="false"
        data-cy="modal_add_reminder"
        >
        <div v-loading="loading">
            <ReminderForm
                :formFields="reminderFormFields"
                :vehicleArray="vehicleArray"
                showAddService=true
                ref="reminderForm"/>
            <div slot="footer" class="mt-4">
                <ButtonGroupWrapper class="dialog-footer flex justify-end">
                  <template slot-scope="{disabled, setDisabled}">
                    <el-button
                        :disabled="disabled"
                        @click="handleReminderCancel"
                    >
                        Cancel
                    </el-button>
                    <ButtonWrapper
                        v-if="hasVehicleManagement"
                        type="primary"
                        :clickHandler="saveReminderData"
                        :disabled="disabled"
                        @cb-start="setDisabled(true)"
                        @cb-end="setDisabled(false)"
                    >
                        {{ reminderFormAction }}
                    </ButtonWrapper>
                    <PremiumWarningButton v-else :buttonText="reminderFormAction" action="create or edit" premiumFeature="vehicle" placement="bottom"/>
                  </template>
                </ButtonGroupWrapper>
            </div>
        </div>
        </el-dialog>
        
    </div>
</template>

<script>

import { vehicleMaintanceReminderByGroupAndStatus, vehiclesByGroup } from '@/views/Vehicles/queries';
import { createVehicleMaintenanceReminder,updateVehicleMaintenanceReminder, deleteVehicleMaintenanceReminder } from '@/graphql/mutations'
import { getVehicleMaintenanceReminderUpdatedTimestamp } from '@/utilities/timestampQueries'
import ReminderForm from '@/views/Vehicles/components/Reminders/ReminderForm'
import { mapState, mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
    name: "UpcomingReminders",
    components: { 
        ReminderForm,
        Card,
        PremiumWarningButton,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data(){
        return{
            loading: false,
            reminders: [],
            currentTab: 'mileReminder',
            vehicleArray: [],
            reminderModalOpen: false,
            reminderFormAction: "Create",
            reminderFormTitle: "Add Maintenance Reminder",
            reminderFormFields: {},
            mileageReminders: [],
            dateReminders: []
        }
    },
    mounted(){
        this.loadData()
        this.loadActiveVehicles()
    },
    computed: {
        ...mapState([
            'userInfo',
            'valuelists',
            'staffList'
        ]),
        ...mapGetters([
            'hasVehicleManagement',
            'hasReadOnlyAccess',
        ]),

        filteredMileageReminders(){
            return this.mileageReminders.slice(0 , 5)
        },

        filteredDateReminders(){
            return this.dateReminders.slice(0, 5)
        },

        currentDate(){
            return new Date()
        }

    },
    methods:{
        handleTabClick(tab){
            this.currentTab = tab.label
        },
        confirmDeleteReminder(reminder){
            this.$confirm('This will permanently delete this reminder. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
                }).then(() => {
                    this.deleteReminder(reminder)          
                }).catch(() => {
                    console.log("canceled delete")         
            });
        },


        createMaintenanceReminder(){
            this.reminderFormFields = {
                services: [],
                dueByMileage: null,
                dueByDate: null,
                vehicleMaintenanceReminderVehicleId: null, 
                vehicleId: [],
                group: this.userInfo.tenant.group,
                status: "Pending"
            }
            this.reminderFormTitle = "Add Maintenance Reminder"
            this.reminderFormAction = "Create"
            this.reminderModalOpen = true
        },


        async deleteReminder(reminder){
            try{
                //check timestamp
                var timestampResult = await this.api(getVehicleMaintenanceReminderUpdatedTimestamp, {id: reminder.id})
                if(!timestampResult.data.getVehicleMaintenanceReminder){
                    throw "Vehicle maintenance reminder is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getVehicleMaintenanceReminder.updatedAt
                if(reminder.updatedAt != timestamp){
                    throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
                var input = {
                    id: reminder.id
                }
                await this.api(deleteVehicleMaintenanceReminder, {input})
                this.loadData()
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },


        handleCommand(payload){
            var reminder = payload.reminder
            var action = payload.action
            if(action == "edit"){
                this.reminderFormFields = {
                    id: reminder.id,
                    services: reminder.services,
                    dueByMileage: reminder.dueByMileage,
                    dueByDate:  reminder.dueByDate,
                    vehicleId: reminder.vehicle?.id,
                    vehicleMaintenanceReminderVehicleId:  reminder.vehicle?.id,
                    status:  reminder.status,
                    group: reminder.group,
                    updatedAt:  reminder.updatedAt
                }
                this.reminderFormTitle = "Edit Maintenance Reminder"
                this.reminderFormAction = "Update"
                this.reminderModalOpen = true
                return
            }
            if(action == "delete"){
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: 'Delete', type: 'info', message:'Premium Required'})
                    return
                }
                this.confirmDeleteReminder(reminder)
                return
            }
            if(action == "view"){
                let previousRouteText = 'Dashboard',
                    previousRouteName = this.$route.name

                this.$router.push({name: 'VehicleDetail', params:{id: reminder.vehicleId}, query: {previousRouteText, previousRouteName}})
                return
            }
        },

        /**
         * Handles canceling reminder creation
         */
        handleReminderCancel(){
            //Causes validator errors
            this.$refs.reminderForm.$refs.form.resetFields();
            this.$refs.reminderForm.$refs.form.clearValidate();
            this.reminderModalOpen = false
        },

        /**
         * Loads all active vehicles
         */
        async loadActiveVehicles(){
            if(!this.hasVehicleManagement && !this.hasReadOnlyAccess('vehicles')){
                return
            }
            try{
                this.loading = true
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.vehicleArray = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


        /**
         * Loads page data
         */
        async loadData(){
            if(!this.hasVehicleManagement && !this.hasReadOnlyAccess('vehicles')){
                await this.loadFakeData()
                return
            }
            try{
                this.loading = true
                var input = {
                    group: this.userInfo.tenant.group,
                    sortDirection: "ASC",
                    statusDueBySort: {
                        beginsWith: {
                            status: "Pending"
                        }
                    }
                }

                //Get Reminders
                var results = await this.gLoadListAll(vehicleMaintanceReminderByGroupAndStatus, input, 'vehicleMaintanceReminderByGroupAndStatus')

                //Separate out reminders
                var mileageReminders = results.filter((reminder => reminder.dueByMileage));
                var dateReminders = results.filter((reminder => reminder.dueByDate));

                mileageReminders.map((reminder) =>{
                    var vehicleMileage = reminder.vehicle ? reminder.vehicle.mileage : 0
                    var reminderMileage = reminder.dueByMileage
                    var mileageDifference = reminderMileage - vehicleMileage
                    if(reminder.dueByMileage && reminder.status.toLowerCase().includes("pending")){
                        reminder.mileageDifference = mileageDifference
                    }
                })

                mileageReminders.sort((a,b)=>{
                   return parseInt(a.mileageDifference) - parseInt(b.mileageDifference)
                })

                dateReminders.sort((a,b) =>{
                    return new Date(a.dueByDate) - new Date(b.dueByDate)
                })
                this.mileageReminders = mileageReminders
                this.dateReminders = dateReminders

                

            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        loadFakeData(){
            var currentDate = this.$moment();
            var formattedCurrentDate = currentDate.format('YYYY-MM-DD');
            var weekAgo = this.$moment(currentDate).subtract(7, 'days').format('YYYY-MM-DD');
            var twoWeeksOut = this.$moment(currentDate).add(14, 'days').format('YYYY-MM-DD');
            var oneMonthOut = this.$moment(currentDate).add(30, 'days').format('YYYY-MM-DD');
            var currentMileage = 115000;
            var addedMileage = parseFloat(currentMileage) + 500; 
            var moreMileage = parseFloat(currentMileage) + 1000;
            var subtractedMileage = parseFloat(currentMileage) - 500;

            //Set fake reminder data
            this.mileageReminders = [
                {
                    dueByDate: twoWeeksOut,
                    dueByMileage: subtractedMileage,
                    services: ['Brake Pad Replacement'],
                    mileageDifference: 500,
                    vehicle:{
                        name: 'Vehicle2',
                        mileage: 115000
                    }
                },
                {
                    dueByDate: null,
                    dueByMileage: addedMileage,
                    services: ['Battery Replacement'],
                    mileageDifference: 804,
                    vehicle:{
                        name: 'Vehicle3',
                        mileage: 115100
                    }
                },
                {
                    dueByDate: formattedCurrentDate,
                    dueByMileage: moreMileage,
                    services: [ 'Wheels Aligned/Balanced'],
                    mileageDifference: 120000,
                    vehicle:{
                        name: 'Vehicle5',
                        mileage: 135000
                    }
                },
                {
                    dueByDate: weekAgo,
                    dueByMileage: 14000,
                    services: [ 'Oil/Oil Filter Change', 'Tire Rotation'],
                    mileageDifference: 2000,
                    vehicle:{
                        name: 'Vehicle1',
                        mileage: 12000
                    }
                },
                {
                    dueByDate: oneMonthOut,
                    dueByMileage: 120000,
                    services: ['Rotor Replacement','Brake Pad Replacement'],
                    mileageDifference: 0,
                    vehicle:{
                        name: 'Vehicle4',
                        mileage: 120000
                    }
                }
            ]
        },

        /**
         * Creates VehicleMaintenanceReminder
         */
        async saveReminderData(){
          
            try{
                this.loading = true
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: this.reminderFormAction, type: 'info', message:'Premium Required'})
                    return
                }
                try {
                    await this.$refs.reminderForm.$refs.form.validate();
                } catch (error) {
                    throw new Error('Please fill out all required fields.');
                }
                var input = {...this.reminderFormFields}
                
                if(input.dueByMileage){
                    input.dueByMileage = this.cleanMileage(input.dueByMileage)
                    input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage))
                }
                if(!input.dueByMileage){
                    input.dueByMileage = null
                    input.dueBySort = (new Date(input.dueByDate).getTime() / 1000000) 
                }
                if(input.vehicleId instanceof Array){
                    const vehicles = input.vehicleId
                    delete input.vehicleId
                    delete input.vehicleMaintenanceReminderVehicleId
                    for (const vehicleId of vehicles) {
                        input.status = "Pending"
                        input.vehicleMaintenanceReminderVehicleId = vehicleId
                        input.vehicleId = vehicleId
                        const reminder = await this.api(createVehicleMaintenanceReminder, {input})
                    }
                }
                else{
                    input.vehicleMaintenanceReminderVehicleId = input.vehicleId
                    const reminder = await this.api(updateVehicleMaintenanceReminder, {input}, getVehicleMaintenanceReminderUpdatedTimestamp, 'getVehicleMaintenanceReminder')
                }
                this.$refs.reminderForm.$refs.form.clearValidate();
                this.reminderModalOpen = false
                this.loadData()
            }
            catch(e){
                console.log(e)
                if(e == false){
                    e = "Please fill out all required fields and correct any errors."
                }
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>