<template>
<div data-cy="vehicle-maintenance-card">
    <Card title="Vehicle Maintenance"
    iconClass="uil-truck" 
    :loading="loading" footer isPremiumDashboard
    :premiumFeature="!hasVehicleManagement && !hasReadOnlyAccess('vehicles')">
    <template v-slot:body>
      <el-tabs
        type="border-card"
        class="dashboard-card-body"
        @tab-click="handleTabClick" v-model="currentTab"
      >
        <!-- ACCIDENTS -->
        <el-tab-pane :label="tab.name" v-for="tab in tabs" :name="tab.name" :key="tab.name">
          <span slot="label">
            <div class="text-black text-lg pb-0 mb-0 text-center h-4">
              {{ tab.count }}
            </div>
            <div data-cy="tab-title" class="text-xs text-black pt-0 mt-0"><span>{{ tab.title }}</span></div>
          </span>
          <div class="h-64">
            <div class="p-2">
              <div class="px-2">
                <span class="text-sm inline-block font-bold uppercase subtitle-record title-name">vehicle name</span>
                <span class="text-sm inline-block font-bold uppercase subtitle-record title-location">location</span>
                <span class="text-sm inline-block font-bold uppercase subtitle-record title-services">services</span>
                <span class="inline-block title-menu"></span>
              </div>
              <div class="items-center">
                <div
                  v-for="record in tab.table"
                  :key="record.id"
                  class="flex-row items-center"
                >
                  <div class="hover:bg-blue-100 rounded my-1 px-2">
                    <div data-cy="tab-record" class="flex space-x-1 py-1 items-center justify-between">
                      <div class="flex items-center text-xs content-record-maintenance">
                        <span class="record-name">
                          <CellToolTip :maxLength="maxLengthName" v-model="record.vehicle.name" />
                        </span> 
                        <span class="record-location">
                          <CellToolTip :maxLength="maxLengthLocation" v-model="record.location"/>
                        </span>
                        <span class="record-services">
                          <CellToolTip :maxLength="maxLengthServices" v-model="record.allServices" />
                        </span>
                      </div>
                      <el-dropdown data-cy="woor-3dot-btn" @command="handleCommand" trigger="click" class="mt-1 menu-record">
                        <div class="flex-none items-center rounded-full space-x-3">
                          <i class="context-menu uil uil-ellipsis-h"></i>
                        </div>
                        <el-dropdown-menu slot="dropdown" @command="handleCommand">
                          <el-dropdown-item :command="{ record: record, action: 'edit' }">View and Edit</el-dropdown-item>
                          <el-dropdown-item :command="{ record: record, action: 'view' }">View Vehicle</el-dropdown-item>
                          <el-dropdown-item divided :command="{ record: record, action: 'delete' }">Delete</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>

    </template>
    <template v-slot:footer>
     <!-- buttons with actions -->
        <div v-if="hasVehicleManagement" class="space-x-1 whitespace-nowrap">
          <button class="link text-sm mr-2" @click="navigateToMaintenanceRecords">View all Vehicle Maintenance</button>
          <button class="link text-sm" data-cy="card_action_add" @click="showFormMaintenanceRecord">Add Vehicle Maintenance</button>
        </div>
        <div v-else class="space-x-1 leading-5 whitespace-nowrap">
          <PremiumWarningButton isLink buttonText="View all Vehicle Maintenance" action="view report" premiumFeature="vehicle management" placement="bottom"/>
          <PremiumWarningButton  isLink buttonText="Add Vehicle Maintenance" action="create" premiumFeature="vehicle management" placement="bottom"/>
        </div>
    </template>
    </Card>

    <!-- DETAIL SERVICES -->
    <el-dialog
      title="Detail Services"
      :visible.sync="detailServices"
      width="25%"
      center
    >
      <div v-for="service in currentServices" :key="service" class="text item">
        {{ service }}
      </div>
          
    </el-dialog>

    <!-- VEHICLE MAINTENANCE FORM-->
    <Drawer
      v-if="maintenanceDrawerVisibility"
      :title="titleMaintenanceDrawer" 
      :visibility="maintenanceDrawerVisibility" 
    >
      <template v-slot:drawerContent>
        <div class="p-5">
          <MaintenanceForm
          :key="componentKey"
          :vehicleList="vehicleListSelect"
          :additionalField="additionalField"
          :formFields="maintenanceFormFields"
          :reminders="maintenanceReminders"
          :documents="maintenanceDocuments"
          :createdDocuments="createdMaintenanceDocuments"
          :deletedDocuments="deletedMaintenanceDocuments"
          :vehicleEdit="vehicleEdit"
          ref="maintenanceForm"
          @update-vehicle-selected="updateVehicleSelected"
        />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="handleMaintenanceCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              v-if="hasVehicleManagement"
              data-cy="or-create-btn"
              type="primary"
              :clickHandler="saveMaintenanceData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              {{ formMaintenanceAction }}
            </ButtonWrapper>
            <PremiumWarningButton v-else :buttonText="formMaintenanceAction" action="create or edit" premiumFeature="vehicle" placement="top"/>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

    <el-dialog
      title="Are you sure?"
      :visible.sync="deleteModalOpen"
      width="30%"
    >
      <CommonDeleteDialog 
        :deletionMessage="`This will permanently delete this Maintenance Record and its attachments.`"
        @close-modal="deleteModalOpen=false"
        @delete-action="commitDeleteAccident"
      />
    </el-dialog>
  </div>
</template>

<script>
import {
  createVehicleMaintenanceReminder,
  deleteVehicleMaintenanceReminder,
  createAccident,
  updateAccident,
  deleteAccident,
  createDocument,
  deleteDocument,
  createVehicleStatus, 
  updateVehicle
} from "@/graphql/mutations";
// import { getVehicleUpdatedTimestamp } from "@/utilities/timestampQueries";
import { getAccidentUpdatedTimestamp } from '@/utilities/timestampQueries';
import { accidentsByGroupAndHistoryType, getAccident } from "@/views/Vehicles/queries";
import MaintenanceForm from './../Maintenance/MaintenanceForm';
import { Storage } from 'aws-amplify';
import { mapState, mapGetters } from "vuex";
import { vehiclesByGroup } from '@/views/Vehicles/queries';
import CommonDeleteDialog from '@/components/CommonDeleteDialog';
import CellToolTip from '@/components/CellToolTip';
import Drawer from "@/components/shared/Drawer/Drawer"
import {confirmChangeStatusVehicle} from "@/scripts/createStatusMaintenance"
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ButtonWrapper from "@/components/shared/ButtonWrapper/ButtonWrapper";
import ButtonGroupWrapper from "@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper";

export default {
  name: "VehicleMaintenance",
  components: { 
    MaintenanceForm, 
    CommonDeleteDialog, 
    CellToolTip, Drawer, 
    Card, 
    PremiumWarningButton,
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  
  data() {
    return {
      loading: false,
      tabs: [
        {
          name: "In Progress",
          title: "In Progress",
          viewAll: "View All Vehicle Maintenance",
          table: [],
          count: 0,
        },
        {
          name: "Waiting for Pickup",
          title: "Waiting for Pickup",
          viewAll: "View All Vehicle Maintenance",
          table: [],
          count: 0,
        },
        {
          name: "Complete",
          title: "Completed",
          viewAll: "View All Vehicle Maintenance",
          table: [],
          count: 0,
        },
      ],
      currentTab: "In Progress",
      vehicles: [],
      odometerReadingModalOpen: false,
      odometerFormFields: {
        odometerDate: null,
        odometerType: null,
        mileage: null,
        time: null,
        vehicleId: null,
        accidentVehicleId: null,
        deviceId: null,
        device2Id: null,
      },
      singleVehicleArray: [],
      editVehicleData: {},

      formMaintenanceAction: "Create",

      loadingForm: false,
      titleMaintenanceDrawer: "Add Vehicle Maintenance Record",
      maintenanceDrawerVisibility:false,

      maintenanceFormFields: {
        location: null,
        services: [],
        accidentDate: null,
        maintenanceStatus: null,
        mileage: null,
        vehicleId: null, 
        accidentVehicleId: null,
        notes: null
      },
      statusVehicleForm: {
          newStatus: '',
          date: null,
          vehicle: null,
          statusChangeReason: ''
      },
      vehicleSelect:{
        name:'',
        status:'',
        vehicle:null
      },

      vehicleEdit: null,

      maintenanceReminders: [],
      maintenanceDocuments: [],
      createdMaintenanceDocuments:[],
      deletedMaintenanceDocuments:[],

      vehicleListSelect: [],
      additionalField: false,

      accidentToDelete: null,
      deleteModalOpen: false,

      detailServices: false,
      currentServices: [],

      maxLengthName: 14,
      maxLengthLocation: 15,
      maxLengthServices: 18,

      windowWidth: window.innerWidth,

      componentKey: 0

    };
  },

  async created() {
    await this.loadAllVehicles();
    this.isInRange( "2022/05/16" );
    this.onResize();
  },

  watch: {
    windowWidth(newWidth, oldWidth) {

      if( newWidth >= 1280 ) {
        this.maxLengthName = 14;
        this.maxLengthLocation = 15;
        this.maxLengthServices = 18;
      }else if ( newWidth >= 1024 && newWidth < 1280) {
        this.maxLengthName = 20;
        this.maxLengthLocation = 20;
        this.maxLengthServices = 24;
      } else if( newWidth >= 640 && newWidth < 1024) {
        this.maxLengthName = 20;
        this.maxLengthLocation = 24;
        this.maxLengthServices = 35;
      } else if ( newWidth < 640){
        this.maxLengthName = 14;
        this.maxLengthLocation = 16;
        this.maxLengthServices = 20;
      }
    }
  },

  mounted() {
    this.loadData();
    
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },

  computed: {
    ...mapState(["userInfo"]),
    ...mapGetters([
        'hasVehicleManagement',
        'hasReadOnlyAccess',
      ]),
  },

  methods: {
    handleTabClick(tab){
        this.currentTab = tab.label
    },
    onResize() {
      if (window.innerWidth >= 1280) {
        this.maxLengthName = 14;
        this.maxLengthLocation = 15;
        this.maxLengthServices = 18;
      }else if ( window.innerWidth >= 1024 && window.innerWidth < 1280) {
        this.maxLengthName = 20;
        this.maxLengthLocation = 20;
        this.maxLengthServices = 24;
      } else if( window.innerWidth >= 768 && window.innerWidth < 1024) {
        this.maxLengthName = 20;
        this.maxLengthLocation = 24;
        this.maxLengthServices = 40;
      } else if( window.innerWidth >= 640 && window.innerWidth < 768){
        this.maxLengthName = 20;
        this.maxLengthLocation = 24;
        this.maxLengthServices = 32;
      } else if ( window.innerWidth < 640){
        this.maxLengthName = 14;
        this.maxLengthLocation = 16;
        this.maxLengthServices = 20;
      }
    },

    getPreviewCharacters( location ) {
      return location.length >= 7 ? location.slice(0, 10) : location;
    },

    async loadAllVehicles() {
      const input = { 
        group: this.userInfo.tenant.group 
      }
      try {
        const vehicles = await this.gLoadListAll( vehiclesByGroup, input,'vehiclesByGroup' );
        this.vehicleListSelect = vehicles.map( vehicle => {
          return {
            id: vehicle.id,
            label: vehicle.name,
            value: vehicle.id,
            status: vehicle.status,
            vehicle: vehicle
          }
        })
      } catch (e) {
        console.log(e)
      }
    },

    extractPreviewVehicles( vehicles ) {
      const vehiclesClone = [ ...vehicles ];
      return vehiclesClone.slice(0, 5);
    },

    confirmDeleteAccident({ id }){
      this.accidentToDelete = id
      this.deleteModalOpen = true
    },

    commitDeleteAccident() {
      this.deleteModalOpen = false
      this.deleteAccident( this.accidentToDelete  )
    },

    async deleteAccident( id ){
      try{
        this.loading = true;
        const getResult = await this.api( getAccident, { id } );
        const accident = getResult.data.getAccident;
        const documents = accident.maintenanceDocuments.items;
        
        var timestampResult = await this.api( getAccidentUpdatedTimestamp, { id } )
        if( !timestampResult.data.getAccident ){
          throw "Maintenance record is missing or deleted by another user."
        }

        if( documents.length > 0 ) {
          this.deletedMaintenanceDocuments = documents;
          this.deleteDocuments();
        }

        await this.api( deleteAccident, { input: { id: accident.id } } )

        this.setRemindersAndDocuments();
        this.loadData();
      }
      catch(e){
          console.log(e)
          this.displayUserError(e)
      }
      finally{
          this.loading = false
          // this.vehicleDamageModalOpen = false
      }
    },

    handleCommand( payload ) {

      const { record, action } = payload;
      const { vehicle } = record;

      const executeAction = {
        
        'edit': () => {
          this.titleMaintenanceDrawer = "Edit Vehicle Maintenance Report"
          this.showEditRecord( record );
          this.showEditFormMaitenanceRecord();
        },

        'view': () => {
          this.titleMaintenanceDrawer = "Add Vehicle Maintenance Record"
          const previousRouteText = "Dashboard";
          const previousRouteName = this.$route.name;
          this.showDetailVehicle( vehicle, previousRouteText, previousRouteName );
        },

        'delete': () => {
          if(!this.hasVehicleManagement){
            this.displayUserNotification({title: 'Delete', type: 'info', message:'Premium Required'})
            return
          }
          this.confirmDeleteAccident( record );
        }

      }

      return executeAction[ action ]();

    },

    showDetailVehicle( { id }, previousRouteText, previousRouteName ) {
      this.$router.push( { name: 'VehicleDetail', params:{ id }, query: { previousRouteText, previousRouteName } } );
    },

    handleOdometerCancel() {
      this.odometerReadingModalOpen = false;
      this.odometerFormFields = {
        odometerDate: null,
        odometerType: null,
        mileage: null,
        time: null,
        accidentVehicleId: null,
        vehicleId: null,
        deviceId: null,
      };
      this.singleVehicleArray = [];
    },

    async loadData() {
      
      this.loading = true;
      const input = {
        sortDirection: "DESC", 
        group: this.userInfo.tenant.group,
        vehicleHistoryTypeAccidentDate: {
          beginsWith: {
            vehicleHistoryType: "Maintenance"
          }
        },
      } 
      try {
        const vehicles = await this.gLoadListAll( accidentsByGroupAndHistoryType, input, 'accidentsByGroupAndHistoryType' );
        const vehiclesWithMaintenance = vehicles.filter( ({ vehicle }) => vehicle !== null );
        const formattedVehicles = vehiclesWithMaintenance.map( this.formatVehicles );
        this.vehicles = formattedVehicles;
        this.loadTabsRecords();
        
      } catch (error) {
        console.log("error", error)
      } finally {
        this.loading = false;
      }

    }, 

    loadFakeData() {
      var currentDate = this.$moment();

      var oneWeekAgo = this.$moment(currentDate)
        .subtract(7, "days")
        .format("YYYY-MM-DD");
      var twoWeeksAgo = this.$moment(currentDate)
        .subtract(14, "days")
        .format("YYYY-MM-DD");
      var oneMonthAgo = this.$moment(currentDate)
        .subtract(30, "days")
        .format("YYYY-MM-DD");
      this.vehicles = [
        {
          name: "Vehicle1",
          lastOdometerReadingDate: oneWeekAgo,
          mileage: 115000,
        },
        {
          name: "Vehicle2",
          lastOdometerReadingDate: oneWeekAgo,
          mileage: 123557,
        },
        {
          name: "Vehicle3",
          lastOdometerReadingDate: twoWeeksAgo,
          mileage: 123456,
        },
        {
          name: "Vehicle4",
          lastOdometerReadingDate: oneMonthAgo,
          mileage: 130000,
        },
        {
          name: "Vehicle5",
          lastOdometerReadingDate: oneMonthAgo,
          mileage: 180150,
        },
      ];
    },

    navigateToMaintenanceRecords() {
      this.$router.push({ name: "VehicleMaintenanceRecords" });
    },

    showFormMaintenanceRecord() {
      this.maintenanceDrawerVisibility = true;
      this.additionalField = true;
      this.formMaintenanceAction = 'Create';
    },

    showEditFormMaitenanceRecord() {
      this.additionalField = false;
      this.formMaintenanceAction = 'Update';
    },

    async getAccidentDetail( input ) {
      const result = await this.api( getAccident, input );
      const accident = result.data.getAccident;
      return accident;
    },

    setdocumentURLToNull: function( documents ) {
      documents.forEach(async (document) =>{
        document.url = null;
        document.markedForDeletion = false;
      })
      return documents;
    },

    async showEditRecord( record ) {
      this.maintenanceDrawerVisibility = true;
      this.loadingForm = true;
      const { id: idAccident } = record;
      const input = { id: idAccident };
      const accident = await this.getAccidentDetail( input );
      const { id, vehicleId, vehicle, services, location, maintenanceStatus, accidentDate, vehicleHistoryType, mileage, updatedAt, notes } = accident;
      const accidentUpdated = {
        id,
        vehicleId,
        vehicle,
        services,
        location,
        maintenanceStatus,
        accidentDate,
        vehicleHistoryType,
        mileage,
        updatedAt,
        notes
      }
      this.maintenanceFormFields = accidentUpdated;
      this.vehicleSelect.name = record.vehicle.name
      this.vehicleSelect.status = record.vehicle.status
      this.vehicleSelect.vehicle = record.vehicle
      const documents = await this.setdocumentURLToNull( accident.maintenanceDocuments.items );
      this.createdMaintenanceDocuments = [ ...documents ];
      this.loadingForm = false;
    },

    updateVehicleSelected( e ) {
      const id = e.vehicleID;
      const vehicle = this.vehicleListSelect.find( e => e.id == id);
      this.vehicleSelect.name = vehicle.label
      this.vehicleSelect.status = vehicle.status
      this.vehicleSelect.vehicle = vehicle.vehicle
      this.setVehicleMaintenance( id );
    },

    setVehicleMaintenance( id ) {
      const newParameters = {
        ...this.maintenanceFormFields,
        group: this.$store.state.userInfo.tenant.group,
        vehicleId: id,
        accidentVehicleId: id,
        vehicleHistoryType: "Maintenance"
      }
      this.maintenanceFormFields = newParameters;
    },

    setRemindersAndDocuments() {
      this.maintenanceReminders = [];
      this.maintenanceDocuments = [];
      this.createdMaintenanceDocuments = [];
      this.deletedMaintenanceDocuments = [];
    },

    resetFormMaintenance() {
      this.maintenanceFormFields = {
        location: null,
        services: [],
        accidentDate: null,
        maintenanceStatus: null,
        mileage: null,
        accidentVehicleId: null,
        vehicleId: null,
        notes: null
      };
    },
    resetStatusVehicleForm(){
      this.vehicleSelect = {
        name:'',
        status:'',
        vehicle:null
      }
      this.statusVehicleForm = {
          newStatus: '',
          date: null,
          vehicle: null,
          statusChangeReason: ''
      }
    },
    handleMaintenanceCancel(){
      this.$refs.maintenanceForm.$refs.form.clearValidate();
      this.maintenanceDrawerVisibility = false;
      this.componentKey--;
      this.resetFormMaintenance();
      this.resetStatusVehicleForm();
      this.setRemindersAndDocuments();
    },

    async saveMaintenanceData(){
      try{
        if(!this.hasVehicleManagement){
          this.displayUserNotification({title: this.formMaintenanceAction, type: 'info', message:'Premium Required'})
          return
        }
        this.loadingForm = true;
        var reminderIDs = [];
        var documentIDs = [];
        const { id: vehicleID, vehicleId } = this.maintenanceFormFields;
        
        var recordNeedsUpdated = vehicleID ? true : false;
        //validate form
        try {
          await this.$refs.maintenanceForm.$refs.form.validate();
        } catch (error) {
          throw new Error('Please fill out all required fields.');
        }

        if( recordNeedsUpdated ) {
          var timestampResult = await this.api( getAccidentUpdatedTimestamp, { id: vehicleID } )
          if( !timestampResult.data.getAccident ) {
            throw "Vehicle maintenance is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getAccident.updatedAt
          if( this.maintenanceFormFields.updatedAt != timestamp ) {
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
        }
        if ( this.maintenanceReminders.length > 0 ) {
          reminderIDs = this.registerReminders();
        }
        const input = { ...this.maintenanceFormFields };
        input.accidentMaintenanceVehicleId = this.maintenanceFormFields.vehicleId;
        input.mileage = this.cleanMileage( input.mileage );
        input.vehicleHistoryType = "Maintenance";
        this.cleanAccidentInput( input );
        if ( !recordNeedsUpdated ) {
          const result = await this.api( createAccident, { input } );
          var vehicleMaintenance = result.data.createAccident;
          var vehicleMaintenanceID = vehicleMaintenance.id;
          
          if ( this.maintenanceDocuments.length > 0 ) {
            documentIDs = await this.registerDocuments( vehicleMaintenanceID, vehicleId );
          }
        } else {
          const vehicleMaintenanceID = this.maintenanceFormFields.id;
          if ( this.maintenanceDocuments.length > 0 ) {
            documentIDs = await this.registerDocuments( vehicleMaintenanceID, vehicleId );
          }
        }


        if( this.deletedMaintenanceDocuments.length > 0 ) {
          await this.deleteDocuments();
        }

        if( recordNeedsUpdated ) {
          await this.api( updateAccident , { input } );
        }

        const response = await confirmChangeStatusVehicle(this.vehicleSelect,this.maintenanceFormFields);

        if(response.valueConfirmChangeStatusVehicle){
          this.statusVehicleForm.newStatus = (response.opc === 1) ? 'Inactive - Maintenance' : 'Active';
          this.statusVehicleForm.date = new Date();
          this.statusVehicleForm.statusChangeReason = (response.opc === 1) ? 'Opened Maintenance Record' : 'Completed Maintenance Record';
          this.statusVehicleForm.vehicle = this.vehicleSelect
          await this.updateStatus();
        }

        this.$refs.maintenanceForm.$refs.form.clearValidate();
        this.maintenanceDrawerVisibility = false;

        this.resetFormMaintenance();
        this.resetStatusVehicleForm();
        this.setRemindersAndDocuments();
        this.vehicleSelectEdit = this.vehicleSelected;
        this.loadData();
        this.componentKey++;
      }
      catch(e) {
        const { id: vehicleID } = this.maintenanceFormFields;
        if ( e == false ){
          e = "Please fill out all required fields and correct any errors."
        }
        
        if ( recordNeedsUpdated ) {
          this.deleteRelatedAccidentData(reminderIDs, documentIDs, null, null, null)
        } else {
          this.deleteRelatedAccidentData(reminderIDs, documentIDs, vehicleID, null, null)
        }

        this.displayUserError(e)
      }
      finally{
        this.loadingForm = false;
      }
    },
    async updateStatus() {
      try{
        var input = {
            reason: this.statusVehicleForm.statusChangeReason,
            previousStatus: this.statusVehicleForm.vehicle.status,
            date: this.statusVehicleForm.date,
            currentStatus: this.statusVehicleForm.newStatus,
            vehicleStatusVehicleId: this.statusVehicleForm.vehicle.id,
            group: this.$store.state.userInfo.tenant.group
        }
        await this.api(createVehicleStatus, {input})

        var input = {
            id: this.vehicleSelect.vehicle.id,
            status: this.statusVehicleForm.newStatus,
            updatedAt: this.statusVehicleForm.date,
        }

        await this.api(updateVehicle, {input})
        this.loadData()
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },
    async registerReminders() {
      const reminderIDs = [];
      const reminders = [ ...this.maintenanceReminders ];
      const { vehicleId } = this.maintenanceFormFields;
      for( const [ index , maintenanceReminder ] of reminders.entries() ) {
        //Validate reminder
        await this.$refs.maintenanceForm.$refs.reminder[ index ].$refs.form.validate();

        //Create input object
        const input = { 
          ...maintenanceReminder,
          vehicleId,
          vehicleMaintenanceReminderVehicleId: vehicleId
        }

        //Save dueBySort to object
        if( input.dueByMileage ){
          input.dueByMileage = this.cleanMileage( input.dueByMileage )
          input.dueBySort = parseFloat( this.cleanMileage( input.dueByMileage ) )
        }
        if( !input.dueByMileage ){
          input.dueBySort = ( new Date( input.dueByDate ).getTime() / 1000000 ) 
        }

        input.status = "Pending"
        
        //Create Reminder
        const reminder = await this.api( createVehicleMaintenanceReminder, { input })
        var reminderID = reminder.data.createVehicleMaintenanceReminder.id
        reminderIDs.push( reminderID )
      }

      return reminderIDs;
    },

    async registerDocuments( vehicleMaintenanceID, vehicleId ) {
      const documentIDs = [];
      const documents = [ ...this.maintenanceDocuments ];
      for( const maintenanceDoc of documents ){
        var documentRecord = await this.createDocument( vehicleMaintenanceID, maintenanceDoc, vehicleId, 'vehicle-maintenance' )
        var documentID = documentRecord.data.createDocument.id
        documentIDs.push( documentID )
      }
      return documentIDs;
    },

    async deleteDocuments() {
      for( const maintenanceDoc of this.deletedMaintenanceDocuments ){
        await Storage.remove( maintenanceDoc.key );
        await this.api( deleteDocument, { input:{ id: maintenanceDoc.id } } );
      }
    },

    async createDocument ( accidentID, document, vehicleID, pathType ) {
      try{
        
        var path = document.path;
        var fileType = document.fileType;
        var fileName = document.fileName;
        var timestamp = String(Date.now());
        var object = await Storage.put(this.cleanQueryPayload(this.userInfo.tenant.group + '/vehicle/' + vehicleID.toLowerCase() + `/${pathType}/` + accidentID.toLowerCase() + path + timestamp + "/" + fileName), document.file);

          var input = {
            group: this.userInfo.tenant.group,
            uploadDate: timestamp, 
            name: fileName,
            type: fileType,
            key: object.key
          }

          if ( pathType == "vehicle-maintenance" ){
            input.documentMaintenanceId = accidentID;
          }

          var result = await this.api(createDocument, {input: input})
          return result
      }
      catch(e){
          console.log(e);
          this.displayUserError(e)
          throw(e)
      }
    },

    async deleteRelatedAccidentData( reminders, documents, accidentID, counselingID, infractionID ){

      //Delete Reminders
      if ( reminders.length > 0 ) {
        reminders.forEach( reminderID =>{
          this.api( deleteVehicleMaintenanceReminder, { input: { id: reminderID } } )
        })
      }

      if ( documents.length > 0 ) {
        documents.forEach( documentID =>{
          this.api( deleteDocument, { input:{ id: documentID } } )
        })
      }

      if ( accidentID ) {
        this.api( deleteAccident, { input:{ id: accidentID } } )
      }

      if ( counselingID ) {
        this.api( deleteCounseling, { input:{ id: counselingID } } )
      }

      if (infractionID){
        this.api( deleteInfraction, { input:{ id: infractionID } } )
      }
    },

    loadTabsRecords() {
      this.tabs = this.tabs.map( tab => {
        let records = this.filterVehicleByStatus( tab.name );
        records = tab.name === 'Complete' ? records.filter( ({ accidentDate }) => this.isInRange( accidentDate ) ) : records;
         return {
          ...tab,
          table: this.extractPreviewVehicles( records ),
          count: records.length
        }
      })
    },

    filterVehicleByStatus( status ) {
      return this.vehicles.filter( ({ maintenanceStatus }) => maintenanceStatus === status );
    },

    getVehicleListTab( tab, status ) {
      const vehiclesByStatus = this.filterVehicleByStatus( status )
      this.tabs[tab].table = this.extractPreviewVehicles( vehiclesByStatus );
      this.tabs[tab].count = vehiclesByStatus.length;
    },

    determineRangeDates( days = 90 ) {
      const currentDate = this.$moment();
      const endDate = this.$moment( currentDate ).add( 1, 'days' ).format( 'YYYY-MM-DD' );
      const startDate = this.$moment( currentDate ).subtract( days, 'days' ).format( 'YYYY-MM-DD' );
      return [ startDate, endDate ];
    },

    isInRange( date ) {
      const [ startDate, endDate ] = this.determineRangeDates( 90 );
      return this.$moment( date ).isBetween( startDate, endDate );
    },

    showDetailServices( services ) {
      const allServices = [ ...services ];
      this.currentServices = allServices;
      this.detailServices = true;
    },

    formatVehicles( vehicle ) {
      const vehicleFormated =  { ...vehicle };
      const { services } = vehicleFormated;
      return {
        ...vehicleFormated,
        allServices: services.join(", ")
      }

    },

  },

  beforeDestroy() { 
    window.removeEventListener('resize', this.onResize); 
  },
};
</script>
<style scoped lang="scss">

.el-select,
.el-date-editor {
  width: 100% !important;
}

.subtitle-record {
  color: rgba(74,85,104, 1) !important;
  font-weight: bold;
  font-size: 12px;
}

.content-record-maintenance {
  width: 100%;
}

.record-name {
  width: 30%;
}

.record-location {
  width: 30%;
}

.record-services {
  width: 30%;
}

.title-name,
.title-location,
.title-services {
  width: 27%;
}

.title-menu {
  width: 10%;
}

</style>