<template>
	<div data-cy="card_vehicle_status">
        <Card title="Fleet Inventory"
        iconClass="uil-truck" 
        :loading="loading">
        <template v-slot:body>
            <el-tabs type="border-card" class="dashboard-card-body" v-model="currentTab" @tab-click="handleTabClick">
                <!-- FIRST TAB -->
                <el-tab-pane name="status" label="status">
                    <span slot="label">
                        <div class="text-black pb-0 mb-0 text-center h-4">By Status</div>
                    </span>
                    <div class="h-64">
                        <FleetInventoryDashboardTable v-if="vehicleTableFilteredByStatus" :table="vehicleTableFilteredByStatus"/>
                    </div>
                </el-tab-pane>
                <!-- SECOND TAB -->
                <el-tab-pane name="type" label="type">
                    <span slot="label">
                        <div class="text-black text-sm pb-0 mb-0 text-center h-4">By Type</div>
                    </span>
                    <div class="h-64">
                        <FleetInventoryDashboardTable v-if="vehicleTableFilteredByType" :table="vehicleTableFilteredByType"/>
                    </div>
                </el-tab-pane>
				<!-- THIRD TAB -->
                <el-tab-pane name="company" label="company">
                    <span slot="label">
                        <div class="text-black text-sm pb-0 mb-0 text-center h-4">By Company</div>
                    </span>
                    <div class="h-64">
                        <FleetInventoryDashboardTable v-if="vehicleTableFilteredByCompany" :table="vehicleTableFilteredByCompany"/>
                    </div>
                </el-tab-pane>

            </el-tabs>
            <div :class="currentTab == 'company' ? 'dashboard-card-no-footer' : 'dashboard-card-footer'">
                <button class="link text-sm" data-cy="card_link-fleet-inventory" @click="fleetInvetoryRedirectTo"> {{ footerCardTabText }} </button>
            </div>
        </template>
        </Card>
	</div>
</template>
<script>
import FleetInventoryDashboardTable from '@/views/Vehicles/components/VehicleFleetInventory/FleetInventoryDashboardTable.vue'
import { mapGetters, mapState, mapMutations } from 'vuex'
import Card from '@/components/Dashboard/Card'

export default {
    components: {
        FleetInventoryDashboardTable,
        Card
    },
    props: ['vehicleArray'],
	data() {
		return {
			loading: false,
			currentTab: 'status',
            vehiclesList: [],
            table:{
                status: {
                    ref: 'vehicle-status',
                    emptyText: 'No Vehicles By Status',
                    hasActionButton: true,
                    actionButtonText: 'View all vehicles with this status',
                    eventBus: 'vehicle-status' ,
                    columns: [
                        {
                            name: 'Vehicle Status',
                            row: 'status'
                        },
                        {
                            name: '# Vehicles',
                            row: 'total'
                        }
                    ],
                    data: []
                },
                type: {
                    ref: 'vehicle-type',
                    emptyText: 'No Vehicles By Type',
                    hasActionButton: true,
                    actionButtonText: 'View all vehicles of this type',
                    columns: [
                        {
                            name: 'Vehicle Type',
                            row: 'type',
                            width: '130'
                        },
                        {
                            name: '# Active',
                            row: 'active',
                            width: '50'
                        },
                        {
                            name: '# Inactive',
                            row: 'inactive',
                            width: '60'
                        }
                    ],
                    data: []
                },
                company: {
                    ref: 'vehicle-company',
                    emptyText: 'No Vehicles By Company',
                    hasActionButton: false,
                    columns: [
                        {
                            name: 'Vehicle Company',
                            row: 'type',
                            width: '140'
                        },
                        {
                            name: '# Active',
                            row: 'active'
                        },
                        {
                            name: '# Inactive',
                            row: 'inactive'
                        }
                    ],
                    data: []
                }
            },
		}
	},
    async mounted() {
        /**
         * Give some time to ensure data from valueList has been updated
         * as nothing is loaded from this component.
         */
        this.loading = true
        await this.sleepTimeOut(750)
        this.loading = false
    },

	methods: {
        ...mapMutations(['setFiltersTypeVehicleByType']),

		/**
         * Switches tab
         */
        handleTabClick(tab){
            this.currentTab = tab.label
        },

        fleetInvetoryRedirectTo() {
            if(this.currentTab == "status") {
                this.$emit('check-all-status', true)
            } else if(this.currentTab == "type") {
                //set filters in store for vehicle type report
                this.setFiltersTypeVehicleByType([])
                this.$router.push({name: 'VehicleByType'})
            }
        },

        getTableData(input) {

            if(!this.valuelists['vehicle-status']) return []

            let table_data = []
            let vehicleArray = this.vehicleArray
            let valueLists = []

            if (input.type === 'vehicle-type') {
                valueLists = this.vehicleTypeList
            } else {
                valueLists = this.valueListActivesOnly(this.valuelists[input.type].items)
            }

            if(input.isFilterRequired) {
                vehicleArray = this.vehicleArray.filter(item => item[input.key])
            }
            valueLists.forEach(type => {
                let localTable = []
                let activeCounter = 0
                let inactiveCounter = 0
                let filtersList = []
                
                if (input.type === 'vehicle-type') {
                    filtersList = [
                        {
                            key: input.key,
                            value: type.id
                        }
                    ]
                } else {
                    filtersList = [
                        {
                            key: input.key,
                            value: type.value
                        }
                    ]
                }
                let itemsByType = this.filterArray( vehicleArray, '', filtersList )                  
                let valueListByStatus = this.valueListActivesOnly(this.valuelists['vehicle-status'].items)
                valueListByStatus.forEach(status => {
                    let filtersList = [
                        {
                            key: 'status',
                            value: status.value
                        }
                    ]
                    let itemsByStatus = this.filterArray( itemsByType, '', filtersList )
                    localTable.push({ status: status.value, total: itemsByStatus.length })
                    localTable.sort( (a,b) => b.total - a.total )
                })
                localTable.forEach(item => {
                    if(item.status.includes('Inactive')) {
                        inactiveCounter = inactiveCounter + item.total
                    } else {
                        activeCounter  = activeCounter + item.total
                    }
                })
                table_data.push({ type: type.value ?? type.option, active: activeCounter, inactive: inactiveCounter})
            })
            table_data.sort( (a,b) => b.active - a.active )
            return table_data.slice(0, input.slice)
        }
	},
	computed: {
        ...mapState([
            'valuelists',
        ]),
        ...mapGetters([
            'vehicleTypeList'
        ]),

        footerCardTabText(){
            if(this.currentTab == "status") return 'View All Vehicles By Status'
            else if(this.currentTab == "type") return 'View All Vehicles By Type'
            else return ''
        },

        vehicleTableFilteredByStatus() {
            this.table['status'].data = []

            if(!this.valuelists['vehicle-status']) return

            let valueLists = this.valueListActivesOnly(this.valuelists['vehicle-status'].items)
            valueLists.forEach(status => {
                let filtersList = [
                    {
                        key: 'status',
                        value: status.value
                    }
                ]
                let itemsByStatus = this.filterArray( this.vehicleArray, '', filtersList )
                this.table['status'].data.push({ status: status.value, total: itemsByStatus.length })
            })
            this.table['status'].data.sort( (a,b) => b.status - a.status)

            const fromIndex = this.table['status'].data.map(item => item.status).indexOf('Inactive'); 
            const toIndex = this.table['status'].data.length
            const item = this.table['status'].data.splice(fromIndex, 1)[0];

            this.table['status'].data.splice(toIndex, 0, item);
            return  this.table['status']
        },

        vehicleTableFilteredByType() {
            this.table['type'].data = []

            var input = {
                type: 'vehicle-type',
                key: 'vehicleType',
                isFilterRequired: false,
                slice: 5
            }

            this.table['type'].data = this.getTableData(input) 
            return this.table['type']
        },

        vehicleTableFilteredByCompany() {
            this.table['company'].data = []
            if(!this.valuelists['vehicle-company']) return

            var input = {
                type: 'vehicle-company',
                key: 'company',
                isFilterRequired: true,
                slice: 6
            }
            this.table['company'].data = this.getTableData(input)
            return this.table['company']
        }
	}
}
</script>
<style>
    .dashboard-card-no-footer {
        padding-bottom: 0
    }
</style>