<template>
    <div data-cy="week-old-odometer-readings-form">
        <Card title="Odometer Readings"
        iconClass="uil-tachometer-fast" 
        :loading="loading" footer isPremiumDashboard showSampleDataText
        :premiumFeature="!hasVehicleManagement && !hasReadOnlyAccess('vehicles')">
        <template v-slot:body>  
            <el-tabs type="border-card" class="dashboard-card-body" @tab-click="handleTabClick" v-model="currentTab">
                <!-- FIRST TAB -->
                <!-- ACCIDENTS -->
                <el-tab-pane :label="tab.name" v-for="tab in tabs" :name="tab.name" :key="tab.name">
                    <span slot="label">
                        <div class="text-black text-lg pb-0 mb-0 text-center h-4">{{tab.count}}</div>
                        <div class="text-xs text-black pt-0 mt-0">{{tab.title}}</div>
                    </span>
                    <div class="h-64">
                        <div class="p-2">
                            <div class="items-center ">
                                <div v-for="vehicle in tab.table" :key="vehicle.id" class="flex-row items-center">
                                    <div class="hover:bg-blue-100 h-12 rounded px-2 py-1">
                                        <div class="flex space-x-1 justify-between">
                                            <div class="flex-initial min-w-0 text-xs">
                                                <div class="font-bold truncate">{{ vehicle.name | text }} </div>
                                                <div class="truncate">{{ vehicle.mileage | mileage }} mi. — {{ vehicle.lastOdometerReadingDate | date }} </div> 
                                            </div>
                                            <el-dropdown data-cy="woor-3dot-btn" @command="handleCommand" trigger="click" class="mt-1">
                                                <div class="flex-none items-center space-x-3">
                                                    <i class="context-menu uil uil-ellipsis-h"></i>
                                                </div>
                                                <el-dropdown-menu slot="dropdown" @command="handleCommand">
                                                    <el-dropdown-item :command="{vehicle: vehicle, action: 'add'}">Add Odometer Reading</el-dropdown-item>
                                                    <el-dropdown-item :command="{vehicle: vehicle, action: 'view'}">View Vehicle</el-dropdown-item>
                                                    <el-dropdown-item divided :command="{vehicle: vehicle, action: 'edit'}">Mark As Inactive</el-dropdown-item>
                                                </el-dropdown-menu>
                                            </el-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs> 
        </template>
        <template v-slot:footer>
            <button v-if="hasVehicleManagement" class="link text-sm" @click="navigateToVehicleIndex">{{viewAllButtonText}}</button>
            <PremiumWarningButton v-else isLink :buttonText="viewAllButtonText" action="view report" premiumFeature="vehicle management" placement="bottom"/>
        </template>
        </Card>

        <!-- ADD ODOMETER FORM-->
        <el-dialog
            title="Add Odometer Reading"
            :visible.sync="odometerReadingModalOpen"
            width="65%"
            :show-close="false"
            :close-on-click-modal="false"
            @close="handleOdometerCancel"
        >
        <OdometerReadingForm
            :formFields="odometerFormFields"
            :singleVehicleArray="singleVehicleArray"
            :vehicleSelectionDisabled="true"
            :modalStatus="odometerReadingModalOpen"
            ref="odometerReadingForm"
            @submit-event="saveOdometerData"
        />
        <span slot="footer" class="dialog-footer">
            <ButtonGroupWrapper>
                <template slot-scope="{disabled, setDisabled}">
                    <el-button
                        :disabled="disabled"
                        @click="handleOdometerCancel"
                    >
                        Cancel
                    </el-button>
                    <ButtonWrapper
                        v-if="hasVehicleManagement"
                        type="primary"
                        :clickHandler="saveOdometerData"
                        :disabled="disabled"
                        @cb-start="setDisabled(true)"
                        @cb-end="setDisabled(false)"
                    >
                        Create
                    </ButtonWrapper>
                    <PremiumWarningButton v-else buttonText="Create" action="create" premiumFeature="vehicle" placement="bottom"/>
                </template>
            </ButtonGroupWrapper>
        </span>
        </el-dialog>
    </div>
</template>

<script>

import { vehiclesByGroupAndLastOdometerReadingDate, accidentsByVehicleAndHistoryType } from '@/views/Vehicles/queries';
import { createAccident, updateVehicle, deleteAccident } from '@/graphql/mutations'
import { getVehicleUpdatedTimestamp } from '@/utilities/timestampQueries'
import OdometerReadingForm from '@/views/Vehicles/components/Odometer/OdometerReadingForm'
import { mapState, mapGetters } from 'vuex'
import Card from '@/components/Dashboard/Card'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
    name: "WeekOldOdometerReadings",
    components: { 
        OdometerReadingForm, 
        Card,
        PremiumWarningButton,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data(){
        return{
            loading: false,
            tabs: [
                {
                    name:'weekOld', 
                    title: 'Week Old', 
                    viewAll:'View All Week Old Odometer Readings', 
                    table: [],
                    count: 0,
                },
                {
                    name:'2weekOld', 
                    title: '2 Week Old', 
                    viewAll:'View 2 All Week Old Odometer Readings', 
                    table: [],
                    count: 0,
                },
                {
                    name:'highMileage', 
                    title: 'High Mileage', 
                    viewAll:'View All High Mileage Odometer Readings', 
                    table: [],
                    count: 0,
                },
            ],
            currentTab: 'weekOld',
            vehicles: [],
            odometerReadingModalOpen: false,
            odometerFormFields: {
                odometerDate: null,
                odometerType: null,
                mileage: null,
                time: null,
                vehicleId: null,
                accidentVehicleId: null,
                deviceId: null
            },
            singleVehicleArray: [],
            editVehicleData: {}
        }
    },
    mounted(){
        this.loadData()
    },
    computed: {
        ...mapState([
            'userInfo',
        ]),

        ...mapGetters([
            'hasVehicleManagement',
            'hasReadOnlyAccess',
        ]),

        filteredVehicles(){
            return this.vehicles.slice(0 , 5)
        },

        viewAllButtonText(){
            if(this.currentTab == "weekOld") return this.tabs[0].viewAll
            else if(this.currentTab == "2weekOld") return this.tabs[1].viewAll
            else return this.tabs[2].viewAll
        },

        

    },
    methods:{
        /**
         * Confirms with user if they want to mark the selected vehicle as inactive
         */
        confirmVehicleMarkAsInactive(vehicle){
            this.$confirm(`This will update this vehicle's status as 'Inactive'. Continue?`, 'Warning', {
                confirmButtonText: 'Update',
                cancelButtonText: 'Cancel',
                type: 'warning'
                }).then(() => {
                    this.updateVehicleAsInactive(vehicle)          
                }).catch(() => {
                    console.log("canceled update")         
                }
            );
        },

        /**
         * Handles dropdown commands
         */
        handleCommand(payload){
            var vehicle = payload.vehicle
            var action = payload.action
            
            if(action == "view"){
                let previousRouteText = 'Dashboard',
                    previousRouteName = this.$route.name

                this.$router.push({name: 'VehicleDetail', params:{id: vehicle.id}, query: {previousRouteText, previousRouteName}})
                return
            }

            if(action == "edit"){
                if(!this.hasVehicleManagement){
                    this.displayUserNotification({title: 'Mark As Inactive', type: 'info', message:'Premium Required'})
                    return
                }
                this.confirmVehicleMarkAsInactive(vehicle)
                return
            }

            if(action == "add"){
                this.editVehicleData = {...vehicle}
                let date = new Date()
                this.odometerFormFields.odometerDate = date
                this.odometerFormFields.vehicleId = vehicle.id
                this.odometerFormFields.accidentVehicleId = vehicle.id
                this.odometerFormFields.group = this.$store.state.userInfo.tenant.group
                this.odometerFormFields.vehicleHistoryType = "Odometer Reading"
                if(vehicle.device){
                    this.odometerFormFields.deviceId = vehicle.device.id
                }
                this.odometerReadingModalOpen = true

                var vehicleObj = {
                    id: vehicle.id,
                    name: vehicle.name
                }
                this.singleVehicleArray.push(vehicleObj)
                return
            }
        },

        /**
         * Handles clicking the cancel button on the Odometer Reading Form
         */
        handleOdometerCancel(){
            this.$refs.odometerReadingForm.$refs.form.clearValidate()
            this.odometerReadingModalOpen = false
            this.odometerFormFields = {
                odometerDate: null,
                odometerType: null,
                mileage: null,
                time: null,
                accidentVehicleId: null,
                vehicleId: null,
                deviceId: null
            }
            this.singleVehicleArray = []
        },

        /**
         * Handles tab changes
         */
        handleTabClick(tab){
            this.currentTab = tab.label
        },

        filteredVehiclesHighMileage(){
            const vehicles = this.vehicles.filter( vehicle => {
                return parseInt(vehicle.mileage) >= 50000 
            } ).sort((a,b) => {
                const aMileage = parseInt( a.mileage )
                const bMileage = parseInt( b.mileage )
                
                if( aMileage > bMileage ) return -1
                if( aMileage < bMileage ) return 1
                else return 0
            } )
            
            return vehicles
        },


        /**
         * Loads in vehicle data for this dashboard
         */
        async loadData(){

            try{
                if(!this.hasVehicleManagement && !this.hasReadOnlyAccess('vehicles')){
                    await this.loadFakeData()
                    return
                }
                this.loading = true
                var currentDate = this.$moment();
                var weekAgo = this.$moment(currentDate).subtract(7, 'days').format('YYYY-MM-DD');
                var twoWeekAgo = this.$moment(currentDate).subtract(14, 'days').format('YYYY-MM-DD');
                
                //Filtered all vehicles
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC"
                }

                var result = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, input, 'vehiclesByGroupAndLastOdometerReadingDate')
                this.vehicles = result.filter((vehicle)=>{
                    return vehicle.status == "Active" || 
                        vehicle.status == "Inactive - Grounded" ||
                        vehicle.status == "Inactive - Maintenance"
                })
                
                //Filtered by week ago
                input = {
                    lastOdometerReadingDate: {le: weekAgo},
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC"
                }

                result = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, input, 'vehiclesByGroupAndLastOdometerReadingDate')
                const vehiclesWeekAgo = result.filter((vehicle)=>{
                    return vehicle.status == "Active" || 
                        vehicle.status == "Inactive - Grounded" ||
                        vehicle.status == "Inactive - Maintenance"
                })
                this.tabs[0].count = vehiclesWeekAgo.length
                this.tabs[0].table = vehiclesWeekAgo.slice(0, 5)

                //Filtered by two week ago
                const inputTwo = {
                    lastOdometerReadingDate: {le: twoWeekAgo},
                    group: this.$store.state.userInfo.tenant.group,
                    sortDirection: "DESC"
                }

                const resultTwo = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, inputTwo, 'vehiclesByGroupAndLastOdometerReadingDate')
                const vehiclesTwoWeekAgo = resultTwo.filter((vehicle)=>{
                    
                    return vehicle.status == "Active" || 
                        vehicle.status == "Inactive - Grounded" ||
                        vehicle.status == "Inactive - Maintenance" 
                })
                this.tabs[1].count = vehiclesTwoWeekAgo.length
                this.tabs[1].table = vehiclesTwoWeekAgo.slice(0, 5)

                //Filtered by High Mileage
                this.tabs[2].count = this.filteredVehiclesHighMileage().length
                this.tabs[2].table = this.filteredVehiclesHighMileage().slice(0, 5)



            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },
        
        loadFakeData(){
            var currentDate = this.$moment();

            var oneWeekAgo = this.$moment(currentDate).subtract(7, 'days').format('YYYY-MM-DD');
            var twoWeeksAgo = this.$moment(currentDate).subtract(14, 'days').format('YYYY-MM-DD');
            var oneMonthAgo = this.$moment(currentDate).subtract(30, 'days').format('YYYY-MM-DD');
            this.vehicles = [
                {
                    name: 'Vehicle1',
                    lastOdometerReadingDate: oneWeekAgo,
                    mileage: 115000
                },
                {
                    name: 'Vehicle2',
                    lastOdometerReadingDate: oneWeekAgo,
                    mileage: 123557
                },
                {
                    name: 'Vehicle3',
                    lastOdometerReadingDate: twoWeeksAgo,
                    mileage: 123456
                },
                {
                    name: 'Vehicle4',
                    lastOdometerReadingDate: oneMonthAgo,
                    mileage: 130000
                },{
                    name: 'Vehicle5',
                    lastOdometerReadingDate: oneMonthAgo,
                    mileage: 180150
                }
            ]
        },

        /**
         * Navigate to the vehice list while showing vehicles with week old odometer readings.
         */
        navigateToVehicleIndex(){
            if( this.currentTab == 'weekOld' )
                this.$emit('navigate-to-vehicle-list' , 'weekOld')  
            else if( this.currentTab == '2weekOld' )
                this.$emit('navigate-to-vehicle-list' , '2weekOld')
            else
                this.$emit('navigate-to-vehicle-list' , 'highMileage')
            
            
        },

        /**
         * Creates a Odometer Reading Type Accident Record
         */
        async saveOdometerData(){
            if(!this.hasVehicleManagement){
                this.displayUserNotification({title: 'Create', type: 'info', message:'Premium Required'})
                return
            }
            try{
                //check vehicle timestamp
                var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.editVehicleData.id})
                if(!timestampResult.data.getVehicle){
                throw "Vehicle is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getVehicle.updatedAt
                if(this.editVehicleData.updatedAt != timestamp){
                throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
                var odometerReadingId = null;
                try {
                    await this.$refs.odometerReadingForm.$refs.form.validate();
                } catch (error) {
                    throw new Error('Please fill out all required fields.');
                }
                var input = {...this.odometerFormFields}
                var vehicleId = input.vehicleId
                var deviceId = input.deviceId
                input.mileage = this.cleanMileage(input.mileage)
                input.accidentOdometerReadingVehicleId = this.id
                input.accidentDate = input.odometerDate
                this.cleanAccidentInput(input)
                const result = await this.api(createAccident, {input})
                odometerReadingId = result.data.createAccident.id

                //Get Last Mileage Record
                var input = {
                    vehicleId: vehicleId,
                    sortDirection: "DESC",
                    limit: 1, 
                    vehicleHistoryTypeAccidentDate: 
                        {beginsWith: {vehicleHistoryType: "Odometer"}
                    }
                }

                var odometerReading = await this.api(accidentsByVehicleAndHistoryType, input)
                var readings = odometerReading.data.accidentsByVehicleAndHistoryType.items
                readings.sort((a,b)=>{
                var accidentDateA = a.accidentDate
                var createdTimestampA = a.createdAt

                var accidentDateB = b.accidentDate
                var createdTimestampB = b.createdAt

                if(accidentDateA == accidentDateB){
                    return new Date(createdTimestampB) - new Date(createdTimestampA)
                }

                return new Date(accidentDateB) - new Date(accidentDateA)
                })                

                //Updated vehicle with the latest mileage reading
                var input = {
                    ...this.editVehicleData
                };
                input.mileage = readings[0].mileage,
                input.lastOdometerReadingDate = readings[0].accidentDate

                if(deviceId){
                    input.vehicleDeviceId = deviceId
                }
                input.vehicleDevice2Id = null

                input = this.cleanVehicleInput(input)
                await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')

                //Wrap up
                this.loadData()
                this.odometerReadingModalOpen = false
                this.odometerReadingModalOpen = false
                this.odometerFormFields = {
                    odometerDate: null,
                    odometerType: null,
                    mileage: null,
                    time: null,
                    vehicleId: null,
                    accidentVehicleId: null
                }
                this.singleVehicleArray = []
            }
            catch(e){
                console.log(e)
                if(e == false){
                    e = "Please fill out all required fields and correct any errors."
                }

                //Only deletes if the odometer is being created, not updated.
                //odometerReadingId will be null if the odometer was updated
                if(odometerReadingId){
                    await this.api(deleteAccident, {input: {id: odometerReadingId}});
                }
                this.displayUserError(e)
            }
        },

        /**
         * Update the selected vehicle's status as Inactive and reloads the data
         */
        async updateVehicleAsInactive(vehicle){
            try{
                var input = {
                    id: vehicle.id,
                    status: "Inactive",
                    updatedAt: vehicle.updatedAt
                }

                if(vehicle.device){
                    input.vehicleDeviceId = vehicle.device.id
                }

                await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')
                this.loadData()
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        }


    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>