<template>
    <div data-cy="da-performance-report-list" v-loading="loading">
         <div class="card mt-4 relative">
            <div class="card-title">{{this.$t('label.associate')}} Performance Report <span v-if="tenant">(Over the last {{tenant.coachingDriverRankRange}} days)</span></div>
    <div class="my-4 grid grid-cols-8 grid-flow-row gap-4" >
        <div class=" col-span-4 lg:col-span-2">
            <el-form :model="tenant" label-position="top">
                <el-form-item label="Time Span" size="small" class=" leading-normal" prop="coachingDriverRankRange">
                    <template slot="label">
                        <span class="text-gray-700 text-xs  leading-normal">Report Range</span>
                        <el-tooltip class="item" effect="dark" placement="top-start" >
                            <div slot="content" class="w-52">
                                The longer time frame you pick, the less your {{$t('label.associates_')}} Hera Scores will change. The recommended range is 15 - 30 days.
                            </div>
                            <i class="uil uil-question-circle text-base"></i>
                        </el-tooltip>
                    </template>
                    <el-select v-model="tenant.coachingDriverRankRange" placeholder="..." @change="updateTenant()" class="w-20">
                        <el-option
                            v-for="option in driverRankRangeOptions"
                            :key="option"
                            :label="option"
                            :value="option">
                        </el-option>
                        
                    </el-select>
                    <span class="ml-2">days</span>
                </el-form-item>
            </el-form>
        </div>
        <div class=" col-span-4 lg:col-span-2">
            <p class="text-gray-700 text-xs">Highest Hera Score</p>
            <p 
                class="text-lg font-bold text-brand mt-2" >
                {{ topScore | text}}
            </p>
        </div>
        <div class=" col-span-4 lg:col-span-2">
            <p class="text-gray-700 text-xs ">Lowest Hera Score</p>
            <p v-if="tableData.length"
                class="text-lg font-bold text-brand mt-2" >
                {{ lowestScore | text}}
            </p>
            <p v-else  class="text-lg font-bold text-brand mt-2" >—</p>
        </div>
        <div class=" col-span-4 lg:col-span-2">
            <el-tooltip class="item" effect="dark" placement="top-start">
                <div slot="content" class="w-52">This average includes Hera Scores of {{$t('label.associates')}} who received 0 Issues and Kudos for the selected time period.</div>
                <p class="text-gray-700 text-xs ">Average Hera Score<i class="uil uil-question-circle text-base"></i></p>
            </el-tooltip>
            <p 
                class="text-lg font-bold text-brand mt-2" >
                {{ avgScore | text}}
            </p>
        </div>
        
    </div>
    <el-table
        ref="table"
        class="data-table"
        :default-sort = "{prop: 'heraRank', order: 'ascending'}"
        empty-text="No Rankings"
        style="width: 100%"
        :data="tableData"
        header-cell-class-name="table-header-cell">

        <el-table-column
          label="First Name"
          sortable 
          prop="firstName">
          <template slot-scope="scope">
            <span>{{ scope.row.firstName | text }}</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Last Name"
          sortable 
          prop="lastName">
          <template slot-scope="scope">
            <span>{{ scope.row.lastName | text }}</span>
          </template>
        </el-table-column>

        <el-table-column
          :label="`${this.$t('label.associate')} Issues`"
          sortable 
          :sort-method="sortIssueCount"
          prop="issues">
          <template slot-scope="scope">
            <span @click="openSummary(scope.row, 'issues')" class="link">{{ scope.row.issues ? scope.row.issues.length : '0'}}</span>
          </template>
        </el-table-column>

        <el-table-column
          :label="`${this.$t('label.associate')} Kudos`"
          sortable 
          :sort-method="sortKudoCount"
          prop="kudos">
          <template slot-scope="scope">
            <span @click="openSummary(scope.row, 'kudos')" class="link">{{ scope.row.kudos ? scope.row.kudos.length : '0'}}</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Hera Score"
          sortable 
          width="150"
          prop="heraScore">
          <template slot-scope="scope">
            <div class="w-10 text-left inline-block ">{{ scope.row.heraScore}}</div>
            <div class="inline-block" v-if="scope.row.heraScore > scope.row.heraScorePrev">
                <el-tooltip class="item" effect="dark" :content="'Hera Score from previous ' + tenant.coachingDriverRankRange + ' day range: ' + scope.row.heraScorePrev" placement="bottom">
                    <i class=" align-top text-2xl p-0 uil uil-sort-amount-up text-green-500"></i>
                </el-tooltip>
            </div>
            <div class="inline-block" v-else-if="scope.row.heraScore == scope.row.heraScorePrev">
                <el-tooltip class="item" effect="dark" :content="'Hera Score from previous ' + tenant.coachingDriverRankRange + ' day range: ' + scope.row.heraScorePrev" placement="bottom">
                    <i class=" align-top ml-1 text-xl uil uil-bars text-blue-500"></i>
                </el-tooltip>
                </div>
            <div class="inline-block" v-else-if="scope.row.heraScore < scope.row.heraScorePrev">
                <el-tooltip class="item" effect="dark" :content="'Hera Score from previous ' + tenant.coachingDriverRankRange + ' day range: ' + scope.row.heraScorePrev" placement="bottom">
                    <i class=" align-top text-2xl p-0 uil uil-sort-amount-down text-red-500"></i>
                </el-tooltip>
            </div>
          </template>
        </el-table-column>


        <el-table-column
          label="Hera Rank"
          sortable 
          class-name="align-top"
          prop="heraRank">
          <template slot-scope="scope" >
            <span class="text-right -mt-2" >{{ scope.row.heraRank | text}}</span>
          </template>
        </el-table-column>

     
        <el-table-column align="right" width="45">
            <template slot="header">
                <el-dropdown data-cy="da-pr-3dot-btn" class="mt-1" @command="handleCommand" v-if="!USER_PERMISSIONS || (USER_PERMISSIONS && $store.state.userInfo.permissionFullAccess)">
                    <ContextMenuHeaderIcon class="mr-1 context-menu-header-hover"/>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{action: 'export'}">Export Report</el-dropdown-item> 
                        <el-dropdown-item :command="{action: 'edit'}">Edit Settings</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
            <template slot-scope="scope">
                <el-dropdown class="mt-1" @command="handleCommand">
                    <i class="context-menu uil uil-ellipsis-h"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{action: 'viewDa', row: scope.row}">View {{$t('label.associate')}}</el-dropdown-item>
                        <el-dropdown-item :command="{action: 'viewIssuesAndKudos', row: scope.row}">View Issues and Kudos</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </template>
        </el-table-column>
    </el-table>

    <!--ADD DA MODAL-->
    <el-dialog
      :title="'Performance for ' + selectedDaName + ' (Over the last ' + tenant.coachingDriverRankRange + ' days)'"
      :visible.sync="showSummaryCard"
      :show-close="true">

      <DaKudosAndIssues :staffId="selectedDaId" :activeTab="selectedActiveTab" :issues="issues" :kudos="kudos"/>

      <span slot="footer" class="dialog-footer">
      </span>
    </el-dialog>

    <!-- PREMIUM TRIANGLE -->
    <div 
        @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
        class="premium-warning-container"
        v-if="!$store.getters.hasPerformanceCoaching">
        <div class="sample-pill">Sample Data</div>
        <div class="premium-warning-triangle">
            <p class="transform-text text-sm text-white">Requires Premium</p>
        </div>
    </div>

         </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { kudosByStaff, infractionsByStaff  } from './queries'
import { updateTenant } from './mutations'
import DaKudosAndIssues from './components/DaKudosAndIssues'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import {exportCSV} from "@/utilities/exportCSV"
import { loadDaPerformanceData } from './calculateDaPerformanceReport'
import EventBus from '@/eventBus'

export default {
        name: 'DaPerformanceReport',
        components: {
            DaKudosAndIssues,
            ContextMenuHeaderIcon
        },
        data() {
            return{
                USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
                tableData: [],
                loading: false,
                activeDas: {},
                showSummaryCard: false,
                selectedDaId: null,
                selectedActiveTab: 'issue',
                selectedDaName: '',
                driverRankRangeOptions: [7,15,30,45,60,75,90,105,120,135,150,165,180],
                issues: [],
                kudos: [],
                lowestScore: '',
                topScore: '',
                avgScore: '',
                tenant: {},
            }
        },

        computed: {
            ...mapGetters([
                'getTenantCoachingInfo',
                'getDaPerformanceData',
                'getDaScore'
            ]),
        },

        created(){
            if(this.getDaPerformanceData.length && Object.keys(this.getTenantCoachingInfo).length && Object.keys(this.getDaScore).length){
                this.getDataFromStore()
            }else{
                this.loadData()
            }
        },

        mounted(){
            EventBus.$on('reload-da-performance-report', () => { 
                this.getDataFromStore()
            })
        },

        beforeDestroy(){
            EventBus.$off('reload-da-performance-report')
        },

        methods:{

            sortKudoCount(a,b){
                let aNum = a.kudos ? a.kudos.length : 0
                let bNum = b.kudos ? b.kudos.length : 0
                return aNum - bNum
            },
            sortIssueCount(a,b){
                let aNum = a.issues ? a.issues.length : 0
                let bNum = b.issues ? b.issues.length : 0
                return aNum - bNum
            },

            exportCSV(arrData) {

                const fileName = `Associate-performance-report-export-${this.$moment().format('MM/DD/YYYY')}.csv`
                const extraData = [
                    {
                    "Report Range": this.tenant.coachingDriverRankRange,
                    "Highest Hera Score": this.topScore,
                    "Lowest Hera Score": this.lowestScore,
                    "Average Hera Score": this.avgScore,
                    },
                ]
                arrData = arrData.map(item => {
                    return {
                        "First Name": item.firstName,
                        "Last Name": item.lastName,
                        "DA Issues": item.issues ? item.issues.length : '0',
                        "DA Kudos": item.kudos ? item.kudos.length : '0',
                        "Hera Score": item.heraScore,
                        "Hera Rank": item.heraRank
                    }
                })
                exportCSV({arrData, fileName, extraData})
            },

            async updateTenant(){
               try {
                    if(!this.tenant.id){
                        return
                    }
                    var input = {
                        ...this.tenant
                    }

                    await this.api(updateTenant, {input: input})   
                    this.loadData()
                } 
                catch(e) {
                    this.displayUserError(e)   
                }
            },

            async openSummary(row, activeTab){
                this.selectedDaId = row.id
                this.selectedActiveTab = activeTab
                this.selectedDaName = row.firstName + ' ' + row.lastName

                this.loading = true
                var currentDate = this.$moment();
                let coachingDriverRankRange = parseInt(this.tenant.coachingDriverRankRange)
                var dayAhead = this.$moment(currentDate).add(2, 'days').format('YYYY-MM-DD');
                var pastDate = this.$moment(currentDate).subtract(coachingDriverRankRange, 'days').format('YYYY-MM-DD');

                var input = {
                    date: {between: [pastDate, dayAhead]},
                    staffId: this.selectedDaId,
                    sortDirection: "DESC"
                }

                try{
                    var daIssues = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                    var daKudos = await this.gLoadListAll(kudosByStaff, input, 'kudosByStaff')

                    this.issues = daIssues
                    this.kudos = daKudos
                    
                }
                catch(e){
                    this.displayUserError(e)
                }
                finally{
                    this.loading = false
                }

                this.showSummaryCard = true
            },

            getDataFromStore(){
                this.tenant = this.getTenantCoachingInfo
                this.tableData = this.getDaPerformanceData
                this.topScore = this.getDaScore.topScore
                this.lowestScore = this.getDaScore.lowestScore
                this.avgScore = this.getDaScore.avgScore
            },
           
            async loadData(){
                try {
                    this.loading = true
                    const { tenant, tableData, lowestScore, topScore, avgScore } = await loadDaPerformanceData()
                    this.tableData = tableData
                    this.lowestScore = lowestScore
                    this.topScore = topScore
                    this.avgScore = avgScore
                    this.tenant = tenant
                } catch (error) {
                    this.printUserError(error)
                } finally {
                    this.loading = false
                }
            },

            handleCommand(command){
                let action = command.action
                let row = command.row
                if(action === 'viewIssuesAndKudos'){
                    this.openSummary(row, 'issues')
                }
                else if(action === 'viewDa'){
                    this.$router.push({name: 'StaffDetail', params: {id: row.id}})
                }
                else if(action === 'edit'){
                    this.$router.push({name: 'SettingsThresholds'})
                }
                else if(action == 'export') {
                    this.exportCSV(this.tableData);
                }
            }
        }
    }
</script>