<template>
  <div>
    <div class="flex justify-between items-center h-8">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum text-base">
                <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
                <el-breadcrumb-item>{{$t('label.associate')}} Performance Report</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div>
        <DaPerformanceReport/>
    </div>
  </div>
</template>

<script>

import DaPerformanceReport from './DaPerformanceReport'


export default {
  components:{
    DaPerformanceReport
  },
  name: 'DaPerformanceIndex',

  data() {
    return {

    }
  }
}
</script>