/*Color Switcher Styles*/

.color-switcher {
  position: fixed;
  width: 110px;
  padding: 10px;
  z-index: 100;
  top: 50%;
  left: -110px;
  margin-top: -165px;
  background-color: #3d4652;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}
.color-switcher.open {
  left: 0px;
}
.color-switcher .color {
  margin: 4px auto 2px auto;
  text-align: center;
}
.color-switcher .color a {
  display: inline-block;
  width: 67px;
  height: 42px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  margin-bottom: 3px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.color-switcher .color span {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
}
.color-switcher .color a:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.color-switcher .color a.current {
  border: 2px solid #fff;
  opacity: 1;
}
.color-switcher .toggle {
  position: absolute;
  width: 60px;
  padding: 8px 0 7px 0;
  color: #fff;
  font-size: 2em;
  text-align: center;
  top: 0;
  right: -60px;
  background-color: #3d4652;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}
.color-switcher .toggle:hover {
  color: #ff3366;
}
@media screen and (max-width: 991px) {
  .color-switcher {
    display: none;
  }
}
