/*============ New Changes 8-2-2017 ==============*/

.p-l {
  padding-left: 0;
}

.p-r {
  padding-right: 0;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-ll {
  padding-left: 1px;
}

.p-rr {
  padding-right: 1px;
}

.p-00 {
  padding-left: 1px;
  padding-right: 1px;
}

/*=========== facts_container ==============*/

.facts_container {
  margin-top: 105px;
}

.facts_container h2 {
  margin: 0;
  float: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #207f73;
}

.facts_container h3 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 64px;
  float: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: #207f73;
}

.facts_container .img_div {
  overflow: hidden;
  margin: 1px;
}

.facts_container .img_div h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  text-align: center;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.facts_container .img_box {
  padding: 0 20px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.facts_container .img_box.fact1 {
  background-image: url("../images/one.jpg");
  height: 656px;
}

.facts_container .img_box.fact2 {
  background-image: url("../images/project3.png");
  height: 327px;
}

.facts_container .img_box.fact3 {
  background-image: url("../images/project2.png");
  height: 327px;
}

.facts_container .img_box.fact4 {
  background-image: url("../images/project1.png");
  height: 327px;
}

.facts_container .img_box.fact5 {
  background-image: url("../images/project4.png");
  height: 327px;
}

.facts_container .img_box.fact6 {
  background-image: url("../images/fact6.png");
  height: 327px;
}

.facts_container .img_box.fact7 {
  background-image: url("../images/fact7.png");
  height: 327px;
}

.facts_container .img_box.fact1 h4 {
  padding-top: 75px;
  color: #083c5d;
}

.facts_container .img_box h4 strong {
  text-transform: uppercase;
  display: block;
}

.facts_container .img_box.fact2 h4,
.facts_container .img_box.fact3 h4,
.facts_container .img_box.fact4 h4,
.facts_container .img_box.fact5 h4 {
  padding-top: 140px;
}

.facts_container .img_box.fact7 h4 {
  padding-top: 50px;
}

.facts_container .img_box.fact6 h4 {
  padding-top: 230px;
}

.facts_container .img_box:hover {
  padding: 0 45px;
  cursor: pointer;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand'); /* IE6 and 7 */
}

.facts_container .img_box.fact1:hover {
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1); /* IE 9 */
}

.facts_container .img_box.fact6:hover {
  /* padding: 0 65px; */
}

.facts_container .img_box:hover h4 {
  /* color: #083c5d; */
  /* font-size: 20px; */
}

.facts_container .img_box.fact1:hover h4 {
  padding-top: 95px;
}

.facts_container .ad_2 {
  margin: 0 auto;
  text-align: center;
  float: none;
  display: block;
  margin-top: 34px;
}

.facts_container .border_div {
  border-bottom: 1px solid #c1c1c1;
  margin: 60px 47px;
}

.facts_container .view-btn {
  text-align: center;
  float: none;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  border: none;
  border: 1px solid #fff;
  box-shadow: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 10px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.facts_container .view-btn:hover {
  background-color: #0e82bd;
  border: 1px solid #0e82bd;
  color: fff;
}

.ezy-steps-img {
  display: block;
  float: none;
  margin: 20px auto;
  text-align: center;
}

.logo-text-div {
  display: block;
  float: none;
  margin: 25px 0;
}

.logo-text-div .img-box {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #cecece;
  padding-right: 10px;
  margin-right: 10px;
  width: 48%;
  min-height: 80px;
}

.logo-text-div img {
  max-width: 100%;
  height: 73px;
}

.logo-text-div h3 {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  padding-top: 15px;
  font-size: 14px;
}

.empty-div {
  display: block;
  width: 100%;
  float: none;
  visibility: hidden;
  float: none;
}
.facts_section {
  padding-bottom: 60px;
}
