*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 18px "Helvetica Neue", sans-serif;
}

.signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
}

.signature-component h1 {
  margin-bottom: 0;
}

.signature-component h2 {
  margin: 0;
  font-size: 100%;
}

.signature-component button {
  border: 1px solid #1281b9 !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  background-color: #1281b9 !important;

  justify-content: center !important;
  color: white;
  align-items: center !important;
  margin-top: 3%;
}

.signature-component button.toggle {
  background: rgba(255, 0, 0, 0.2);
}

.signature-component canvas {
  display: block;
  position: relative;
  border: 1px solid;
}

.signature-component img {
  position: absolute;
  left: 0;
  top: 0;
}
