/* **
 * ========================================
 * Includes Fonts
 * ========================================
 ** */

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/font-awesome/fonts/FontAwesome.otf);
}

@font-face {
  font-family: fontawesome-webfont;
  src: url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    /* support Modern browser  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.ttf")
      format("truetype"),
    /* support firefox , chrome   */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg"); /* Svg form   */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"),
    /* support Modern browser  */ url("../fonts/open-sans/OpenSans-Regular.ttf")
      format("truetype"),
    /* support firefox , chrome   */ url("") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato-R;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-L;
  src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-M;
  src: url(../fonts/Lato/Lato-Medium.ttf);
}

@font-face {
  font-family: Lato-B;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: Satisfy-R;
  src: url(../fonts/satisfy/Satisfy-Regular.ttf);
}

/*---------------------------------------
   2.2 PRE LOADER              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.status {
  width: 129px;
  height: 129px;
  position: absolute;
  left: 47%;
  top: 47%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-l {
  padding-left: 0;
}

.p-r {
  padding-right: 0;
}

/*-------- header ----------*/

header {
  background-color: #fff;
  padding: 20px 0;

  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);

  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header .ezy-logo {
  display: block;
  height: 88px;
  position: relative;
  z-index: 500;

  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header .hdr-btns-div {
  float: right;
  vertical-align: top;
  margin-top: 24px;

  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

header.sticky {
  padding: 5px 0;
}

header.sticky .ezy-logo {
  height: 55px;
}

header.sticky .hdr-btns-div {
  margin-top: 10px;
}

/*------------ top-banner-section -------------*/

.top-banner-section {
  /*background-image: url('../images/banner-background.jpg');*/
  background-image: url("../images/ezy-banner.jpg");
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 791px;
  z-index: 10;

  overflow: hidden;
}

.top-banner-container h2 {
  font-family: Lato-L;
  font-size: 30px;
  color: #fff;
  margin: 0 0 20px;
  text-align: left;
  float: none;

  position: relative;
  z-index: 500;
}

.top-banner-container h1 {
  font-family: Lato-B;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  text-align: left;
  /* text-transform: uppercase; */
  float: none;
  display: block;

  position: relative;
  z-index: 500;
}

.top-banner-container .bann-content {
  background-color: rgba(18, 130, 187, 0.5);
  /*padding: 230px 20px 185px 14vw;*/
  padding: 230px 20px 500px 35%;
  float: right;
  margin: 50px auto 0;
}

.top-banner-container a,
.features-container a,
.about-container a {
  text-decoration: none !important;
  outline: 0 !important;
}

.white-btn {
  font-family: Lato-L;
  font-size: 18px;
  color: #fff;
  text-align: center;
  float: none;
  display: block;
  border: 1px solid #fff;
  border-radius: 25px;
  box-shadow: none;
  outline: 0 !important;
  padding: 6px 22px;
  background-color: transparent;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.white-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #09587e;
}

.top-banner-container .btns-box {
  display: block;
  text-align: left;
  margin-top: 22px;
  position: relative;
  z-index: 500;
}

.top-banner-container .video {
  display: inline-block;
  vertical-align: top;
}

.top-banner-container .white-btn {
  display: inline-block;

  font-size: 25px;
}

div#parallax-bg-1 {
  position: fixed;
  width: 1070px;
  top: 0;
  /* left: 16%;  */
  z-index: 1;

  display: none;
}

div#parallax-bg-1 div {
  background: none;
  display: block;
  width: 1070px;
  height: 759px;
  overflow: hidden;
}

div#bg-1-2 {
  top: 0;
  left: 0px;
  margin-top: 510px;
}

#html5-watermark {
  display: none !important;
}

.pipe {
  font-family: Lato-L;
  font-size: 24px;
  color: #09587e;
  vertical-align: top;
  margin: 0 18px;
}

.sign-in-btn {
  font-family: Lato-B;
  font-size: 24px;
  color: #09587e;
  background-color: #fff;
  text-align: left;
  border: none;
  padding: 0;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;

  /* position: fixed;
	top: 32px;
	right: 20px; */
  z-index: 9999;
}

.sign-in-btn:hover,
.sign-in-btn:focus,
.sign-in-btn:visited {
  color: #1282bb;
  background-color: #fff;
}

/* /////////////////////// side bar  menu ///////////////////////////** */
/*--------------------------------------------------------------------------*/
#black1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;

  z-index: 1110;
}

#black1.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 0.7;
}

.menu-toggle-btn {
  /* width: 30px;
	height: 22px; */

  font-size: 24px;
  color: #09587e;
  background-color: #fff;
  padding: 2px 7px;
}

.menu-toggle-btn:hover {
  color: #1282bb;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.animate {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-controller {
  /* position: fixed; */
  /*  top: 30px;
    right: 260px;
    padding: 5px 6px 1px; */

  cursor: pointer;

  display: inline-block;

  /* margin-left: 110px; */
}

.nav-container nav ~ .nav-controller > .controller-open {
  display: inline-block;
}

.nav-container nav ~ .nav-controller > .controller-close {
  display: none;
}
.nav-container nav.focus ~ .nav-controller > .controller-open {
  display: none;
}

.nav-container nav.focus ~ .nav-controller > .controller-close {
  display: inline-block;
}

.nav-container nav {
  position: fixed;
  top: 0px;
  right: -100%;
  padding-top: 10px;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 15px;
  /* height: 100%; */
  height: 100%;
  max-width: 250px;
  min-width: 250px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  z-index: 9999;
}

.nav-container nav.focus {
  right: 0px;
  top: 0;
  padding: 80px 30px 10px;
  background-color: #000;
}

.menu-toggle-btn {
  font-size: 24px;
  color: #09587e;
  font-family: Lato-B;
  text-transform: uppercase;
  /* 	position: relative;
	z-index: 9999; */

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-toggle-btn .fa {
  margin-right: 7px;
}

.menu-toggle-btn.pos-left {
  left: 160px;
}

.connet-h3 {
  font-size: 16px;
  color: #7b7b7b;
  padding-bottom: 20px;
}
.left-menu {
  font-family: Lato-M;
  font-size: 22px;
  color: #fff;
  text-align: left;
  float: none;
  margin: 25px auto;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.left-menu:hover {
  color: #33acea;
}

.left-menu.qlink {
  font-family: Lato-L;
  font-size: 20px;
  padding-left: 15px;
}

.gray-line {
  display: block;
  width: 80%;
  border-top: 1px solid #fff;
  height: 1px;
  margin: 0;
}

.nav-container a {
  text-decoration: none !important;
  outline: 0;
}

/*------- jump to Top --------*/

#moveup .fa {
  width: 35px;
  height: 40px;
  text-align: center;
  position: fixed;
  right: 30px;
  left: auto;
  bottom: 50px;
  color: #fff;
  font-size: 35px;
  background-color: #007eb2;
  z-index: 9999;
}

.jumper.j1 {
  opacity: 0;

  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.jumper.j1.showup {
  opacity: 1;
}

/*============ section2 ===========*/

.section2 {
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.container2 {
  padding: 50px 15px;
}

.container2 [class^="flaticon-"]:before,
.container2 [class*=" flaticon-"]:before,
.container2 [class^="flaticon-"]:after,
.container2 [class*=" flaticon-"]:after {
  margin: 0;
  display: inline-block;
  color: #09587e;
  font-size: 42px;
}

.container2 h2 {
  font-family: Lato-R;
  font-size: 20px;
  color: #1a1717;
  margin: 0;
  padding-top: 8px;
}

.container2 .content-box {
  margin-top: 18px;
}

.container2 h4 {
  font-family: Lato-L;
  font-size: 14px;
  color: #787878;
  margin: 0;
  line-height: 25px;
}

/*---------- features-section ------------*/

.features-section {
  background-color: #f5f5f5;
  padding-top: 100px;
  z-index: 100;
  position: relative;
}

.features-container a {
}

.content-heading {
  font-family: Lato-B;
  font-size: 36px;
  color: #000;
  margin: 15px auto;
  text-align: center;
  float: none;
  display: block;
  text-transform: capitalize;
}

.content-heading span {
  font-family: Lato-L;
}

.content-subheading {
  font-family: Lato-L;
  font-size: 14px;
  color: #7c7c7c;
  text-align: center;
  float: none;
  display: block;
  margin: 5px auto;
}

.bloo-btn {
  font-family: Lato-L;
  font-size: 18px;
  color: #fff;
  text-align: center;
  float: none;
  display: block;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  outline: 0 !important;
  padding: 6px 22px;
  background-color: #033a5a;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bloo-btn .fa {
  margin-left: 15px;
}

.bloo-btn:hover {
  background-color: #0d7eb6;
  color: #fff;
}

.features-container .bloo-btn {
  margin: 30px auto;
}

.features-container .features-img {
  position: relative;
  z-index: 9999;
  max-width: 100%;
  margin-bottom: -76px;
}

/*-------- amz-features-section ------------*/

.amz-features-section {
  background-image: url("../images/blue-bk.jpg");
  background-repeat: no-repeat;

  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 945px;

  /* 	margin-top: -54px; */
  padding: 75px 0;

  z-index: 50;
  position: relative;
}

.amz-features-container .content-heading {
  color: #fff;
  margin-bottom: 40px;
}

.amz-features-container .feature-box {
  display: block;
  float: none;
  /* margin-bottom: 20px; */
  padding-top: 28px;
}

.amz-features-container .feature-box .heading-box {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.amz-features-container .feature-box .heading-box h4 {
  font-family: Lato-R;
  font-size: 20px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  line-height: 24px;
  text-align: right;
}

.amz-features-container .feature-box .content-box {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
}

.amz-features-container .feature-box .content-box h4 {
  font-family: Lato-R;
  font-size: 20px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  line-height: 28px;
}

.amz-features-container .right-features .feature-box .content-box h4,
.amz-features-container .right-features .feature-box .content-box h5 {
  text-align: left;
}

.amz-features-container .right-features .feature-box .heading-box {
  width: 20%;
}

.amz-features-container .right-features .feature-box .content-box {
  width: 78%;
}

.amz-features-container .left-colm,
.amz-features-container .right-colm {
  padding-top: 55px;
}

.amz-features-container .feature-box .content-box h5 {
  font-family: Lato-L;
  font-size: 14px;
  color: #fff;
  line-height: 21px;
  margin: 0;
}

.amz-features-container .feature-iphone {
  max-width: 100%;
  display: block;
  text-align: center;
  float: none;
  margin: 0 auto;
}

/*--------- facts-section -----------*/

.facts-section {
  z-index: 100;
  position: relative;
}

.facts-container {
  padding: 40px 15px;
}

.facts-container .fact-div {
  padding: 5px;
  /*border: 5px solid #000;*/
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  background-image: radial-gradient(
    ellipse farthest-corner at 52px 220px,
    rgba(36, 46, 51, 1) 30%,
    rgba(6, 116, 170, 1)
  );
}

.facts-container .fact-box {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 25px;
  display: table;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  display: block;
  z-index: 1;
  position: relative;
}

.facts-container .fact-box-inner {
  border: 1px solid #d8d8d8;
  text-align: center;
  border-radius: 50%;
  height: 138px;
  display: block;
  /* vertical-align: middle; */
}

.facts-container .fact-box-inner h4 {
  font-family: Lato-B;
  font-size: 30px;
  color: #161819;
  margin: 0;
  margin-top: 50px;
  padding-bottom: 5px;
}

.facts-container .fact-box-inner h4.sm-ffont {
  font-size: 22px;
  margin-top: 44px;
}

.facts-container h5.fact-para {
  font-family: Lato-B;
  font-size: 18px;
  color: #161819;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.facts-container [class^="flaticon-"]:before,
.facts-container [class*=" flaticon-"]:before,
.facts-container [class^="flaticon-"]:after,
.facts-container [class*=" flaticon-"]:after {
  margin: 0;
  display: block;
  color: #fff;
  background-color: #037cb8;
  font-size: 32px;
  width: 57px;
  height: 57px;
  border-radius: 57px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  padding-top: 5px;
  margin-bottom: 30px;
  margin-top: -30px;
}

/*-------- about-section -------*/

.about-section {
  background-color: #f5f5f5;

  background-image: url("../images/about-bk.png");
  background-repeat: no-repeat;
  background-position: center right;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 790px;

  padding-top: 71px;
  z-index: 100;
  position: relative;
}

.about-container .content-heading {
  text-align: left;
  margin: 40px 0;
}

.about-container h3.love-statement {
  font-family: Satisfy-R;
  font-size: 30px;
  color: #000;
  margin: 0;
  margin-top: 30px;
}

.about-container h3.love-statement .fa-heart {
  font-size: 16px;
}

.para1 {
  font-family: Lato-R;
  font-size: 14px;
  color: #1e1e1e;
  margin: 0;
  line-height: 25px;
  margin-bottom: 20px;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.5em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: "\f101";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before,
.hvr-icon-wobble-horizontal:focus:before,
.hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.sign-in-btn.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: fixed !important;
  padding-left: 2.9em;
  padding-right: 20px !important;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sign-in-btn.hvr-icon-wobble-horizontal:before {
  content: "\f090";
  position: absolute;
  left: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.sign-in-btn.hvr-icon-wobble-horizontal:hover:before,
.hvr-icon-wobble-horizontal:focus:before,
.hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*------ whyus-section --------*/

.whyus-section {
  background-image: url("../images/whyus-bk.png");
  background-repeat: no-repeat;
  background-position: center left;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 749px;
  margin-top: 30px;

  z-index: 100;
  position: relative;
}

.whyus-container .content-heading {
  margin-top: 40px;
}

.whyus-container .whyus-img {
  width: 100%;
  display: block;
}

.accordion {
  width: 100%;
  margin: 0 auto;
}

.accordion-toggle {
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  margin: 0;
  position: relative;

  font-family: Lato-B;
  font-size: 16px;
  color: #fff;
  text-align: left;
  padding: 15px 20px;
  margin: 12px 0 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,070928+0,000923+43,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #1e5799 0%,
    #070928 0%,
    #000923 43%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #1e5799 0%,
    #070928 0%,
    #000923 43%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #070928 0%,
    #000923 43%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.accordion p {
  font-family: Lato-R;
  font-size: 14px;
  color: #484848;
}

.accordion-toggle.active:after {
  content: "\f106";
  font-family: FontAwesome;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 17px;
}

.accordion-toggle:before {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 17px;
}

.accordion-toggle.active:before {
  display: none;
}

.accordion-content {
  display: none;
  border: 1px solid #e1e1e1;
  border-top: none;
  padding: 15px 24px;
  background-color: #fff;
}

.accordion-toggle.active {
  /* color: #ff0000; */
}

/*---------- partners-section -----------*/

.partners-section {
  /*background-image: url('../images/banner3.jpg');
	background-repeat: no-repeat;
	background-position: center left;
	
	background-attachment: fixed;
	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 587px;*/

  position: relative;
  z-index: 100;

  background-color: #fff;
}

.partners-container .content-heading {
  color: #000;
  /* padding-top: 134px; */
}

.partners-container .content-subheading {
  color: #fff;
}

.partners-box {
  display: block;
  width: 100%;
  text-align: center;
  margin: 65px auto;
  background-color: #fff;
  border-radius: 50px;
  padding: 35px 0;
}

.partners-box img {
  margin: 0 10px 15px;
  display: inline-block;

  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.partners-box img:hover {
  -webkit-transform: scale(1.09); /* Safari and Chrome */
  -moz-transform: scale(1.09); /* Firefox */
  -ms-transform: scale(1.09); /* IE 9 */
  -o-transform: scale(1.09); /* Opera */
  transform: scale(1.09);
}

/*--------- News Section ------------*/

.news-section {
  background-color: #f5f5f5;
  padding: 85px 0 40px;

  position: relative;
  z-index: 100;
}

.news-container a {
  text-decoration: none !important;
  outline: 0 !important;
}

.news-container .content-subheading {
  margin-bottom: 60px;
}

.news-container .featured-news-box {
  background-image: url("../images/blog1-n.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 460px;
  overflow: hidden;

  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news-container .featured-news-box:hover {
  background-size: 108%;
}

.news-container .f-news-content {
  padding: 10px 25px 30px;
  width: 100%;

  background-color: rgba(160, 164, 92, 0.6);
  position: absolute;
  bottom: 0;
  width: 95%;
  overflow: hidden;
}

.news-container .f-news-content h3,
.news-container .media-body h3 {
  font-family: Lato-L;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 7px;
}

.news-container .media-body h3 {
  color: #8b8b8b;
  font-family: Lato-B;
}

.news-container .f-news-content h4,
.news-container .media-body h4 {
  font-family: Lato-R;
  font-size: 20px;
  color: #fff;
  margin: 0;
  margin-bottom: 16px;
}

.news-container .media-body h4 {
  color: #161414;
}

.news-container .f-news-content p,
.news-container .media-body p {
  font-family: Lato-R;
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.news-container .media-body p {
  color: #7f7f7f;
}

.news-container .media-left,
.media > .pull-left {
  padding-right: 20px;
}

.news-container .media {
  margin-bottom: 38px;
}

.news-container .media.no-margin {
  margin-bottom: 0;
}

.news-container .bloo-btn {
  margin: 30px auto 0;
  display: block;
  float: none;
}

/*--------- testimonial-section ---------*/

.testimonial-section {
  background-image: url("../images/testimonial-bk.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;
  padding: 40px 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;

  position: relative;
  z-index: 100;
}

.testimonial-container .item {
  text-align: center;
}

.testimonial-container .item .c-img-box {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 158px;
  width: 157px;
  height: 158px;

  text-align: center;
  float: none;
  display: block;
  margin: 95px auto 22px;
  overflow: hidden;
}

.testimonial-container .item img {
  width: 100%;
  border: 4px solid #fff;

  border-radius: 144px;
  width: 144px;
  height: 144px;
}

.testimonial-container .item h2 {
  font-family: Lato-B;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.testimonial-container .item h3 {
  font-family: Lato-L;
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
}

.testimonial-container .item p {
  font-family: Lato-R;
  font-size: 16px;
  color: #fff;
  margin: 0 auto 10px;
  display: block;
  text-align: center;
  padding-top: 38px;
}

.testimonial-container .owl-theme .owl-controls .owl-buttons div {
  background: none;
  margin: 0;
  padding: 5px;
  opacity: 1;
}

.testimonial-container .owl-theme .owl-controls .owl-buttons div .fa {
  font-size: 18px;
  width: 33px;
  height: 33px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 33px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.testimonial-container .owl-theme .owl-controls .owl-buttons div:hover .fa {
  background-color: #fff;
  color: #09587e;
}

.testimonial-container .content-heading {
  color: #fff;
}

.testimonial-container .testim-box {
  margin: 20px 0;
}

.testimonial-container .testim-box .c-logo-box {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  min-height: 80px;
}

.testimonial-container .testim-box .client-snap {
  display: block;
  border: 3px solid #fff;
}

.testimonial-container .testim-box .wh-bx {
  background-color: #fff;
  padding: 0 10px;
  width: 92%;
}

.testimonial-container .testim-box .c-logo-box .c-logo {
  width: 43%;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}

.testimonial-container .testim-box .c-logo-box .c-logo .c-logo-wrapper {
  display: table;
  vertical-align: middle;
}

.testimonial-container .testim-box .c-logo-box .c-logo img {
  /* height: 80px; */
  max-width: 100%;
}

.testimonial-container .testim-box .c-logo-box .c-title {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  color: #161414;
  font-family: Lato-R;
  font-size: 16px;
  padding-top: 10px;
  min-height: 80px;
  padding-left: 0;
  margin: 0;
}

.testimonial-container .testim-box .c-logo-box .c-title span {
  font-family: Lato-B;
  display: block;
  padding-top: 5px;
  font-size: 15px;
}

.testimonial-container .testim-box p {
  font-family: Lato-R;
  font-size: 14px;
  color: #7f7f7f;
  margin: 0;
  line-height: 25px;
}

.testimonial-container .testim-box .read-txt {
  font-family: Lato-B;
  font-size: 14px;
  color: #000;
  text-align: right;
  margin: 0;
  padding: 20px 0 10px;
  text-transform: uppercase;
  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.testimonial-container .testim-box .read-txt:hover {
  color: #1282bb;
}

/*-------- pop-up modal --------*/

.testimonial-container.modal-body .testim-box .wh-bx {
  width: 100%;
}

.modal-footer,
.modal-header {
  padding: 0;
  border: none;
  height: 0;
  min-height: 0;
}

.modal-header .close {
  margin: 7px 10px 0;
}

.close {
  opacity: 0.8;
  position: relative;
  z-index: 9999;
}

.testimonial-container.modal-body .testim-box {
  margin: 0;
}

.testimonial-container.modal-body .testim-box .client-snap {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.testimonial-container.modal-body .testim-box .c-logo-box {
  display: inline-block;
  margin: 0;
  padding-top: 95px;
  padding-left: 15px;
  vertical-align: top;
  width: 60%;
}

.testimonial-container.modal-body .testim-box .c-logo-box .c-title {
  width: 100%;
}

/*-------- demo-section ----------*/

.demo-section {
  position: relative;
  z-index: 100;
  padding: 45px 0;
}

.demo-container a {
  text-decoration: none !important;
  outline: 0 !important;
}

.demo-container .content-subheading {
  margin-bottom: 25px;
}

.demo-container .addr-col {
  border-right: 1px solid #dbdbdb;
}

.demo-container .addr-box {
  margin-bottom: 15px;
  padding-top: 15px;
}

.demo-container .addr-box h3 {
  font-family: Lato-B;
  font-size: 16px;
  color: #151313;
  margin: 0;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.demo-container .addr-box h4 {
  font-family: Lato-R;
  font-size: 14px;
  color: #8f8f8f;
  margin: 0;
  line-height: 20px;
  padding-bottom: 5px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.demo-container .addr-box a:hover h4 {
  color: #09587e;
}

.demo-container .addr-box .s-icons {
  margin-top: 12px;
}

.demo-container .addr-box .s-icons img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.demo-container .cnt-form {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.demo-container .frm-input {
  width: 100%;
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  box-shadow: none;
  outline: 0;
  font-family: Lato-L;
  font-size: 16px;
  color: #484848;
  padding: 15px 10px;
  margin-bottom: 0;
}

.demo-container .frm-input.frm-txtarea {
  height: 160px;
}

.demo-container .frm-input:focus {
  border: 1px solid #0d7eb6;
}

.demo-container .white-btn.submit-btn {
  border: 1px solid #0d7eb6;
  color: #0d7eb6;
  background-color: #fff;
}

.demo-container .white-btn.submit-btn:hover {
  background-color: #0d7eb6;
  color: #fff;
}

/*-------- footer -----------*/

footer {
  background-image: url("../images/footer-bk.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 442px;
  padding-top: 100px;

  position: relative;
  z-index: 100;
}

footer .content-heading,
footer .content-subheading {
  color: #fff;
}

footer .nwzlttr-form {
  width: 45%;
  margin: 40px auto 75px;
  display: block;
  float: none;
}

footer .frm-input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 15px 10px;
  box-shadow: none;
  outline: 0;
  display: inline-block;
  border-radius: 15px;

  font-family: Lato-R;
  font-size: 14px;
  color: #929292;
}

footer .submit-btn {
  background-color: transparent;
  background-image: url("../images/r-arrow.png");
  height: 26px;
  background-repeat: no-repeat;
  background-position: center center;

  float: right;
  margin-top: -38px;
  margin-right: 20px;
  outline: 0 !important;

  position: relative;
  z-index: 200;
}

.amz-features-container .feature-box .icon-box.desktop-hidden {
  display: none;
}

.amz-features-container .feature-box .icon-box.desktop-visible {
  display: inline-block;
}

/* ========== About-Page ========== */

.about-banner-section {
  background-image: url("../images/about-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.bc-container {
  margin-bottom: 35px;
}

.bc-container h2 {
  font-family: Lato-L;
  font-size: 15.4px;
  color: #0d7eb6;
  margin: 0;
  text-transform: capitalize;
  line-height: 30px;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #e5e5e5;
}

.bc-container a {
  text-decoration: none !important;
  outline: 0 !important;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bc-container h2 span {
  font-family: Lato-B;
  color: #09587e;
}

.bc-container a:hover {
  color: #09587e;
}

p.para2 {
  font-family: Lato-L;
  font-size: 14px;
  color: #7c7c7c;
  margin-bottom: 24px;
  line-height: 22px;
}

.about-ezy-container .content-subheading {
  margin-bottom: 35px;
}

.about-ezy-container p.para2 {
  text-align: center;
  display: block;
}

.content-subheading2 {
  font-family: Lato-B;
  font-size: 25px;
  color: #09587e;
  margin: 0;
  margin-bottom: 18px;
  line-height: 30px;
}

.content-subheading2 span {
  font-family: Lato-L;
  color: #0d7eb6;
}

.visapp-container {
  padding-top: 50px;
  padding-bottom: 68px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.visapp-container .left-col {
}

.visapp-container .left-col .content-subheading2 {
  display: inline-block;
  vertical-align: top;
  padding-top: 80px;
}

.visapp-container .left-col .print-img {
  display: inline-block;
  float: right;
}

.visapp-container .right-col {
  padding: 0 90px;
  border-left: 1px solid #a2a2a2;
}

.visapp-container .right-col .content-subheading2 span {
  display: block;
}

.visa-btn {
  font-family: Lato-L;
  font-size: 14px;
  color: #09587e;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid #09587e;
  border-radius: 30px;
  padding: 7px 20px;
  box-shadow: none;
  outline: 0;
  margin-right: 10px;
}

.visa-btn:hover {
  background-color: #fff;
  color: #09587e;
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.visa-btn.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-left: 2.7em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.visa-btn.hvr-icon-wobble-vertical:before {
  content: "\f019";
  position: absolute;
  left: 1em;
  padding: 2px 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.visa-btn.hvr-icon-wobble-vertical:hover:before,
.visa-btn.hvr-icon-wobble-vertical:focus:before,
.visa-btn.hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
@keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}
/* Icon Float Away */
.hvr-icon-float-away {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-left: 2.7em;
}
.hvr-icon-float-away:before,
.hvr-icon-float-away:after {
  content: "\f0e0";
  position: absolute;
  left: 1em;
  padding: 1px;
  font-family: FontAwesome;
}
.hvr-icon-float-away:after {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hvr-icon-float-away:hover:after,
.hvr-icon-float-away:focus:after,
.hvr-icon-float-away:active:after {
  -webkit-animation-name: hvr-icon-float-away;
  animation-name: hvr-icon-float-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.team-container {
  padding-bottom: 40px;
  display: none;
}

.team-container a {
  text-decoration: none !important;
  outline: 0 !important;
}

.team-container .team-div-wrapper {
  text-align: center;
}

.team-container .team-wrapper {
  text-align: center;
  float: none;
  width: 21%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 5px 1% 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.team-container .team-div {
  padding: 5px;
  /*border: 5px solid #000;*/
  border-radius: 50%;
  width: 200px;
  display: inline-block;
  margin: 50px 0 0;
  text-align: center;
  /*background-image: radial-gradient(ellipse farthest-corner at 52px 220px, rgba(36, 46, 51, 1) 30%, rgba(6, 116, 170, 1) );*/
  background: #ebebeb;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.team-container .team-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 25px;
  display: table;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  display: block;
  z-index: 1;
  position: relative;
}

.team-container .team-box-inner {
  /* border: 1px solid #d8d8d8; */
  background-color: #ebebeb;
  text-align: center;
  border-radius: 50%;
  height: 138px;
  display: block;
  overflow: hidden;

  background-image: url("../images/ezy-captain.jpg");
  height: 138px;
}

.team-container .team-wrapper:hover .team-div {
  background: none;
  background-image: radial-gradient(
    ellipse farthest-corner at 52px 220px,
    rgba(36, 46, 51, 1) 30%,
    rgba(6, 116, 170, 1)
  );
}

.team-container .team-wrapper:hover .team-box-inner {
  background: 
    /* top, transparent red */ linear-gradient(
      rgba(6, 117, 172, 0.45),
      rgba(35, 45, 49, 0.45)
    ),
    url("../images/ezy-captain.jpg");
}

.team-container .team-wrapper h3 {
  font-family: Lato-B;
  font-size: 14px;
  color: #030303;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto 5px;
}

.team-container .team-wrapper h4 {
  font-family: Lato-L;
  font-size: 14px;
  color: #a1a1a1;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
}

.team-container .team-wrapper .s-links {
  display: block;
  margin-top: 10px;
  text-align: center;
  opacity: 0;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.team-container .team-wrapper:hover .s-links {
  opacity: 1;
}

.team-container .team-wrapper .s-links .fa {
  display: inline-block;
  font-size: 14px;
  color: #22333b;
  margin: 0 5px;
}

.team-container .team-wrapper .s-links .fa:hover {
  color: #0d7eb6;
}

/*========= How it works Page ===========*/

/* ========== About-Page ========== */

.howitworks-banner-section {
  background-image: url("../images/howitworks-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.content-heading2 {
  font-family: Lato-L;
  font-size: 36px;
  color: #000;
  text-align: center;
  float: none;
  display: blcok;
  text-transform: capitalize;
}

.content-heading2 span {
  font-family: Lato-B;
  color: #09587e;
}

.connected-container .get-connected-box {
  width: 55%;
  display: block;
  float: none;
  margin: 0 auto 35px;
  text-align: center;
}

.connected-container .get-connected-box img {
  text-align: center;
  margin: 20px 9px;
  display: inline-block;

  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.connected-container .get-connected-box img:hover {
  -webkit-transform: scale(1.09); /* Safari and Chrome */
  -moz-transform: scale(1.09); /* Firefox */
  -ms-transform: scale(1.09); /* IE 9 */
  -o-transform: scale(1.09); /* Opera */
  transform: scale(1.09);
}

.hor-line {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin: 0;
}

.content-heading3 {
  font-family: Lato-L;
  font-size: 36px;
  color: #1282bb;
  text-align: center;
  float: none;
  display: blcok;
  text-transform: capitalize;
}

.content-heading3 span {
  font-family: Lato-B;
  color: #1282bb;
}

.connected-container p.para2 {
  text-align: center;
  margin-bottom: 5px;
}

.awsm-features-section {
  padding: 90px 0 0;
}

.awsm-features-container .content-subheading {
  margin-bottom: 40px;
}

.awsm-features-container .awsm-feature-box {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0 1% 35px;
  cursor: pointer;
}

.awsm-features-container .awsm-feature-box .icon-div {
  width: 22%;
  border-right: 4px solid #083c5d;
  height: 68px;
  display: inline-block;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.awsm-features-container .awsm-feature-box .icon-div .fa {
  color: #083c5d;
  font-size: 54px;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.awsm-features-container .awsm-feature-box .content-div {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  padding-left: 17px;
}

.awsm-features-container .awsm-feature-box .content-div h3 {
  font-family: Lato-R;
  font-size: 20px;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
}

.awsm-features-container .awsm-feature-box:hover .icon-div {
  border-right: 4px solid #0d7eb6;
}

.awsm-features-container .awsm-feature-box:hover .icon-div .fa {
  color: #0d7eb6;
}

/*---------- faq-section -----------*/
.faq-banner-section {
  background-image: url("../images/faq-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.faq-container p.para2 {
  text-align: center;
}

.faq-container .accordion-toggle {
  font-family: Lato-R;
  font-size: 26px;
  color: #3788b1;
  background: none;
}

.faq-container .accordion-toggle:before,
.faq-container .accordion-toggle.active:after {
  color: #0d7eb6;
  font-size: 32px;
}

.faq-container .accordion-content {
  border: none;
}

.faq-container .accordion p {
  font-size: 16px;
}

.faq-container .cs-logo {
  margin: 25px auto;
  text-align: center;
  float: none;
  display: block;
  float: none;
  max-width: 100%;
  width: auto;
}

/*-------- case study page ------*/

.cs-container a {
  text-decoration: none !important;
  outline: 0 !important;
}

.cs-container .cs-banner {
  width: 100%;
  display: block;
  min-height: 242px;
  height: 242px;
  overflow: hidden;
  border-top: 8px solid #0d5a7f;
}

.cs-container .csbanner-content {
  width: 85%;
  margin: -30px auto 37px;
  position: relative;
  z-index: 100;
  padding: 27px;
  background-color: #fff;

  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
}

.cs-container .csbanner-content p {
  font-family: Lato-L;
  font-size: 14px;
  color: #7c7c7c;
  margin: 0;
  text-align: left;
  line-height: 26px;
}

.cs-container .cs-blurb {
  width: 100%;
  margin: 20px 0 30px;
  padding: 27px;
  background-color: #fff;

  border-top: 8px solid #0d5a7f;
  text-align: center;

  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.35);
}

.cs-container .cs-blurb h2 {
  font-family: Lato-L;
  font-size: 24px;
  color: #000;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cs-container .cs-blurb p {
  font-family: Lato-L;
  font-size: 14px;
  color: #7c7c7c;
  margin: 20px auto 0;
  text-align: center;
  line-height: 26px;
  width: 80%;
}

.cs-container .cs-blurb p strong {
  font-family: Lato-R;
  color: #606060;
  text-transform: uppercase;
  font-weight: 300;
}

.cs-container .cs-box h3 {
  font-family: Lato-L;
  font-size: 24px;
  color: #000;
  text-transform: capitalize;
  margin: 20px 0 15px;
  display: block;
}

.cs-container .cs-box p {
  font-family: Lato-L;
  font-size: 14px;
  color: #7c7c7c;
  margin: 0 0 20px;
  text-align: left;
  line-height: 26px;
}

.err-msg {
  color: #ff0000;
  display: block;
  font-family: open-sans;
  font-weight: 300;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  margin-top: 2px;
  text-align: left;
  padding-left: 20px;
}

.success-msg {
  color: #2f6e2f;
  display: none;
  font-family: open-sans;
  font-weight: 300;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  text-align: left;
  padding-left: 40px;
}

nav .s-icons img {
  margin: 0 4px;
  width: 37px;
  height: auto;
}
