﻿@font-face {
  font-family: FontAwesome;
  src: url(../fonts/font-awesome/fonts/FontAwesome.otf);
}

@font-face {
  font-family: fontawesome-webfont;
  src: url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    /* support Modern browser  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.ttf")
      format("truetype"),
    /* support firefox , chrome   */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg"); /* Svg form   */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"),
    /* support Modern browser  */ url("../fonts/open-sans/OpenSans-Regular.ttf")
      format("truetype"),
    /* support firefox , chrome   */ url("") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Summernote";
  src: url("../fonts/summernote/summernote.eot"); /* support Internet explorer  */
  src: url("../fonts/summernote/summernote.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */ url("../fonts/summernote/summernote.woff")
      format("woff"),
    /* support Modern browser  */ url("../fonts/summernote/summernote.ttf")
      format("truetype"),
    /* support firefox , chrome   */ url("") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-L;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-B;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
/*
@font-face {
    font-family: Gothic-R;
    src: url(../fonts/century-gothic/Gothic-Regular.ttf);
}

@font-face {
    font-family: Gothic-B;
    src: url(../fonts/century-gothic/Gothic-Bold.ttf);
}


*/

@font-face {
  font-family: Lato-R;
  src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-B;
  src: url(../fonts/lato/Lato-Bold.ttf);
}

.status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-l {
  padding-left: 0;
}

.p-r {
  padding-right: 0;
}

body {
  background-image: url("../images/bg.png");
  background-repeat: repeat;
  height: 35px;
}

/*========== checkboxes ===========*/

/* Base for label styling */
.sd-ckhbx [type="checkbox"]:not(:checked),
.sd-ckhbx [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.sd-ckhbx [type="checkbox"]:not(:checked) + label,
.sd-ckhbx [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
.sd-ckhbx [type="checkbox"]:not(:checked) + label:before,
.sd-ckhbx [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 7px;
  width: 16px;
  height: 16px;
  border: 1px solid #afafaf;
  background: #fff;
  border-radius: 2px;
  /*  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) */
}
/* checked mark aspect */
.sd-ckhbx [type="checkbox"]:not(:checked) + label:after,
.sd-ckhbx [type="checkbox"]:checked + label:after {
  /*  content: '✔'; */
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
  line-height: 0.8;
  color: #0f7fb9;
  font-weight: 100;
  transition: all 0.2s;
}
/* checked mark aspect changes */
.sd-ckhbx [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.sd-ckhbx [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* checked mark aspect */
.sd-ckhbx [type="checkbox"]:not(:checked):hover + label:before {
  background: #0f7fb9;
  border: 1px solid #0f7fb9;
}

/*============= form page ============*/

.form-container {
  margin-top: 30px;
  padding: 0 45px;
}

.form-container .form-top {
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  border-radius: 2px;
  background-color: #fff;
  padding: 45px 100px;
  margin-bottom: 15px;
}

.form-container .form-mainarea {
  -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  -moz-box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  box-shadow: 0 0 6px rgba(132, 132, 132, 0.75);
  border-radius: 2px;
  background-color: #fff;
  padding: 35px 0;
  margin-bottom: 80px;
}

.form-top .form-top-left {
  vertical-align: top;
  display: inline-block;
  width: 22%;
  border-right: 1px solid #cecece;
}

.form-top .form-top-right {
  vertical-align: top;
  width: 77%;
  display: inline-block;
  text-align: center;
  float: none;
}

.form-top .form-top-left .uimg-box {
  width: 100%;
  height: 135px;
  overflow: hidden;
  text-align: center;
  float: none;
  margin: 0 auto;
  display: block;
  padding: 0 20px;
}

.form-top .form-top-left h1.user-title {
  font-family: Lato-B;
  font-size: 18px;
  color: #484848;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.form-top .form-top-left .uimg-box img {
  max-height: 135px !important;
  max-width: 100%;
}

.form-top .form-top-right .addr-box {
  width: 30%;
  margin: 0 1%;
  display: inline-block;
  text-align: center;
  float: none;
  vertical-align: top;
}

.form-top .form-top-right .addr-box a {
  text-decoration: none;
  outline: 0;
}

.form-top .form-top-right .addr-box a:hover h3 {
  color: #0f80bb;
}

.form-top .form-top-right .addr-box .fa {
  font-size: 40px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.form-top .form-top-right .addr-box h2 {
  font-family: Lato-R;
  font-size: 25px;
  color: #000;
  text-transform: capitalize;
  margin: 0;
  float: none;
  display: block;
  text-align: center;
}

.form-top .form-top-right .addr-box h3 {
  font-family: Lato-R;
  font-size: 16px;
  color: #000;
  line-height: 25px;
  margin: 0;
  margin-top: 15px;
  text-align: center;
  float: none;
  display: block;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.under-line {
  margin: 0 auto;
  width: 55px;
  display: block;
  float: none;
  float: none;

  text-align: center;
  border-bottom: 1px solid #000;
}

.form-mainarea .cm-formbox {
  border-radius: 5px;
  display: block;
  margin: 0 145px;
  background-color: #e9e9e9;
  padding: 18px;
  margin-bottom: 35px;
}

.cmform-heading {
  font-family: Lato-B !important;
  font-size: 18px !important;
  color: #073c5c !important;
  text-transform: uppercase !important;
  display: block !important;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 145px;
  margin-right: 145px;
  line-height: 25px;
}
.cmform-heading1 {
  font-family: Lato-B !important;
  font-size: 22px !important;
  color: #073c5c !important;
  text-transform: uppercase !important;
  display: block !important;
  margin: 0;
  margin-bottom: 15px;
  margin-left: 145px;
  margin-right: 145px;
  line-height: 25px;
  text-align: center;
}
.cmform-lbl {
  font-family: Lato-B;
  font-size: 16px;
  color: #1f6e97;
  /*text-transform: capitalize;*/
  width: 55%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-top: 10px;
}

.cmform-lbl.hor-align {
  margin-right: -3px;
}

.cmform-lbl.hor-align-right {
  margin-right: 3px;
}

.cmform-input {
  font-family: Lato-R;
  font-size: 14px;
  color: #484848;
  border: none;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  height: 28px;
  width: 44%;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 5px;
}
.cmform-input-ta {
  font-family: Lato-R;
  font-size: 14px;
  color: #484848;
  border: none;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  width: 44%;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 5px;
}
.table-input {
  font-family: Lato-R;
  font-size: 14px;
  color: #484848;
  border: none;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  height: 28px;
  width: 44%;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cmform-input:focus {
  border: 1px solid #1f6e97;
}
.table-input:focus {
  border: 1px solid #1f6e97;
}
.cmform-txtarea {
  height: 75px;
  padding-top: 5px;
}

.cmform-input.two-third {
  width: 29%;
}

.cmform-select {
  height: 28px;
  font-family: Lato-R;
  font-size: 16px;
  color: #484848;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 0;
  border: 1px solid #c4c4c4;
  vertical-align: top;
}

.cmform-select.full-width {
  width: 44%;
}

.cmform-select.one-third,
.cmform-input.one-third {
  width: 13.8%;
  margin-right: 1%;
}

.cmform-select.one-third.last-one,
.cmform-input.one-third.last-one {
  margin-right: 0;
}
.table-input.one-third {
  width: 13.8%;
  margin-right: 1%;
}

.cmform-select.one-third.last-one,
.table-input.one-third.last-one {
  margin-right: 0;
}
.cm-formbox .sd-ckhbx {
  display: inline-block;
  width: 44%;
  margin: 12px 0 0 0;
}

.cm-formbox .info_input {
  margin: 10px 0 5px 0;
  border: 1px solid #c4c4c4;
  box-shadow: none;
  color: #484848;
  font-family: Lato-R;
  font-size: 14px;
  height: 28px;
  padding-left: 10px;
  vertical-align: top;
}

.cm-formbox .ui-datepicker-trigger,
.cm-formbox .fa-undo {
  margin: 10px 3px 10px;
}

input[type="radio"].cmform-radio {
  display: inline-block;
  text-align: left;
  outline: 0;
}

.radio-lbl {
  display: inline-block;
  margin-top: 15px;
  font-family: Lato-R;
  font-size: 16px;
  color: #000;
  margin-right: 17px;
  text-transform: capitalize;
}

.cmform-subheading {
  font-family: Lato-R;
  font-size: 16px;
  color: #575757;
  display: block;
  line-height: 22px;
  margin: 0 145px 35px;
}

.btn-default.submit-btn {
  font-family: Lato-B;
  font-size: 18px;
  color: #073c5c;
  text-transform: uppercase;
  padding: 7px 20px;
  background-color: #eae8e9;
  border-radius: 2px;
  box-shadow: none;
  outline: 0;
  border: none;
  text-align: center;
  float: right;
  margin-top: -5px;
  margin-right: 142px;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-default.submit-btn:hover {
  color: #1f6e97;
}

.form-mainarea .cm-formbox:before {
  color: #e9e9e9;
  content: "\f0d8";
  font-family: FontAwesome;
  font-size: 32px;
  margin-left: 20px;
  margin-top: -45px;
  position: absolute;
}

/*=========== footer ============*/

footer {
  background-color: #083b5b;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

footer a {
  text-decoration: none !important;
  outline: 0;
  color: #fff;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer h6 {
  font-family: Lato-R;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
}

footer h6 span {
  margin: 0 5px;
}

footer h6 a:hover {
  color: #0f80bb;
}

/*Fixing questionnaire alignment 03-04-2017*/

.form-container .questionnaire_external tr th:nth-child(1),
.form-container .questionnaire_external tr td:nth-child(1) {
  width: 10%;
  text-align: center;
}

.form-container .questionnaire_external tr th:nth-child(2),
.form-container .questionnaire_external tr td:nth-child(2) {
  width: 10%;
}

.form-container .questionnaire_external tr th:nth-child(3),
.form-container .questionnaire_external tr td:nth-child(3) {
  width: 10%;
}

.form-container .questionnaire_external tr th:nth-child(4),
.form-container .questionnaire_external tr td:nth-child(4) {
  width: 10%;
}

.form-container .questionnaire_external tr th:nth-child(5),
.form-container .questionnaire_external tr td:nth-child(5) {
  width: 10%;
}
.form-container .questionnaire_external tr th:nth-child(6),
.form-container .questionnaire_external tr td:nth-child(6) {
  width: 12%;
}
.form-container .questionnaire_external tr th:nth-child(7),
.form-container .questionnaire_external tr td:nth-child(7) {
  width: 10%;
}
.form-container .questionnaire_external tr th:nth-child(8),
.form-container .questionnaire_external tr td:nth-child(8) {
  width: 13%;
}
.form-container .questionnaire_external tr th:nth-child(9),
.form-container .questionnaire_external tr td:nth-child(9) {
  width: 10%;
}
.form-container .questionnaire_external tr th:nth-child(10),
.form-container .questionnaire_external tr td:nth-child(10) {
  width: 10%;
}
.questionnaire_external tr th {
  padding: 2px;
}
.form-container .questionnaire_external tr .cmform-input,
.form-container .questionnaire_external2 tr .cmform-input {
  font-family: Lato-R, FontAwesome;
  font-size: 14px;
  color: #555;
  outline: 0;
  box-shadow: none;
  padding-left: 10px;
  width: 90%;
  height: 29px;
  border: 1px solid #cccccc;
  vertical-align: top;
  margin-bottom: 5px;
}

.form-container .questionnaire_external tr .table-input,
.form-container .questionnaire_external2 tr .table-input {
  font-family: Lato-R, FontAwesome;
  font-size: 14px;
  color: #555;
  outline: 0;
  box-shadow: none;
  padding-left: 10px;
  width: 90%;
  height: 29px;
  border: 1px solid #cccccc;
  vertical-align: top;
  margin-bottom: 5px;
}
.form-container .questionnaire_external tr .table-input.datepicker,
.form-container .questionnaire_external2 tr .table-input.datepicker {
  font-family: Lato-R, FontAwesome;
  font-size: 14px;
  color: #555;
  outline: 0;
  box-shadow: none;
  padding-left: 10px;
  width: 70%;
  height: 29px;
  border: 1px solid #cccccc;
  vertical-align: top;
  margin-bottom: 5px;
}
.form-container .questionnaire_external tr .info_input.datepicker,
.form-container .questionnaire_external2 tr .info_input.datepicker {
  margin-right: 1%;
  width: 65%;
}

.declaration-input {
  width: 5%;
  float: left;
  min-height: 200px;
}

.declaration-message {
  width: 95%;
  font-family: Lato-B;
  font-size: 14px;
  color: #1f6e97;
}
.ques-radio {
  display: inline-block;
  width: 40%;
}

.dashboard_container
  .double_col
  .allclients_form
  .bootstrap-select.btn-group
  .dropdown-toggle
  .caret,
.bootstrap-select.btn-group .dropdown-toggle .caret {
  display: none !important;
  position: absolute;
  top: -9999px;
}

.dashboard_container
  .double_col
  .allclients_form
  .bootstrap-select.btn-group
  .dropdown-toggle:after,
.bootstrap-select.btn-group .dropdown-toggle:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  top: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dashboard_container
  .double_col
  .allclients_form
  .bootstrap-select.btn-group.open
  .dropdown-toggle:after,
.bootstrap-select.btn-group.open .dropdown-toggle:after {
  /* 	content: '\f106'; */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.dashboard_container
  .double_box1
  .ttabs
  .nav
  > li
  > a
  .bootstrap-select.btn-group
  .dropdown-toggle
  .filter-option {
  text-transform: uppercase;
}
.dashboard_container .double_col .allclients_form .dropdwn .btn:focus,
.dropdwn .btn:focus {
  border: 1px solid #0f82bd;
}
.dashboard_container .double_col .allclients_form .dropdwn .btn,
.dropdwn .btn {
  border: 1px solid #cccccc;
  border-radius: 0;
  background-color: #fff;
  color: #0f82bd;
  outline: 0 !important;
  box-shadow: none !important;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  background-color: #fff;
  border: 0;
  outline: 0 !important;
  box-shadow: none;
  color: #0f82bd;
}
.dropdwn.btn {
  border: 1px solid #cccccc;
  box-shadow: none !important;
  outline: 0 !important;
}

.dropdwn.open.btn {
  border: 1px solid #0f82bd;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
  display: none;
  background: url("/Content/Images/loading_blue_n.gif") no-repeat center center
    black;
}
.questionnaire_external td,
.questionnaire_externalth {
  min-width: 150px;
}
#dropzonePreview {
  border-color: #e9e9e9;
  color: #1f6e97;
  margin: 30px auto;
  text-align: center;
  width: 100%;
}
