body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.8;
  font-size: 16px;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
}
.spacing-style {
  padding-top: 136px;
  text-align: center;
}
.thank-box {
  position: relative;
  width: 400px;
  display: block;
  margin: auto;
}

.thank-box::before {
  content: "";
  position: absolute;
  width: 270px;
  height: 277px;
  bottom: 212px;
  top: -137px;
  background-image: url(../img/thanks.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: -160px;
}
.thank-box img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
.content p {
  font-size: 41px;
  width: 98%;
  line-height: 2.5rem;
  padding-top: 31px;
}

@media (max-width: 991px) {
  .thank-box {
    width: 300px;
  }
  .thank-box::before {
    width: 200px;
    height: 200px;
    left: -170px;
    top: -100px;
  }
}
@media (max-width: 768px) {
  .content p {
    font-size: 30px;
    width: 100%;
    padding-top: 50px;
  }
}
@media (max-width: 575px) {
  .thank-box::before {
    width: 150px;
    height: 150px;
    left: -80px;
    top: -130px;
  }
  .thank-box {
    position: relative;
    width: 150px;
    display: block;
    margin: auto;
  }
  .content p {
    font-size: 26px;
    width: 100%;
    padding-top: 45px;
  }
}
