body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8fa !important;
  font-size: 14px;
  overflow-x: hidden;
}

.edit-actions {
  color: #28a745;
}

.edit-actions a {
  color: #28a745;
}

.new-full-screen-loader {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 2000;
  /* margin-top: calc(50% - 50%); */
  width: 100%;
  height: 100vh;
  align-content: center;
  vertical-align: middle;
}

.zero-padding tr td {
  padding: 0px;
}

.table-data1 {
  display: inline-block;
  width: 100%;
}

.table-data {
  padding: 16px 16px;
  display: inline-block;
  width: 100%;
}

.new-full-screen-loader .ant-col-24 {
  text-align: center;
  z-index: 1000;
  padding-top: calc(50% - 25%);
  width: 100%;
  height: 100vh;
  -webkit-align-content: center;
  align-content: center;
  vertical-align: middle;
  background: #ffffffc7;
  font-weight: 600;
  font-size: 18px;
}

.ant-popover-buttons button {
  padding: 7px 22px;
  height: 40px;
}

.delete-confirmation-popup {
}

.breadcrumbs-back {
  margin-bottom: 40px;
}

.separator > span > .ant-breadcrumb-separator {
  font-size: 20px;
}

.login-div {
  width: 100% !important;
  max-width: 360px !important;
  max-height: 607px !important;
  height: 100% !important;
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
}

/*.form-login {*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*padding:10px 20px;*/
/*max-width: 450px !important;*/
/*}*/

.none {
  display: none !important;
}

.firm-tabs-container {
  margin-top: 40px;
}

.firm-tabs-container .ant-tabs-bar {
  margin: 0px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  font-size: 20px;
  transition: unset;
  border-bottom: 1px solid #e8e8e8;
  line-height: 50px;
  height: 50px;
  padding: 0px 30px;
  margin-right: 15px;
  background: #e9ecef;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  padding-bottom: 1px;
  color: #555555;
  background: #fff;
  border-color: #e8e8e8;
  /* font-weight: 600; */
  border-bottom: 0px;
  background: #f8f8fa;
  /*font-family: Roboto, sans-serif;*/
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active:hover {
  color: #212529 !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:hover {
  color: #212529;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
  height: 50px;
  line-height: 50px;
}

.tooltip-custom-design {
  font-size: 20px;
}

.custom-box-full {
  box-shadow: 0px 0px 11px #e0e5e8;
  min-height: 430px;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: white;
}

.recharts-tooltip-label {
  margin: 0px;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.dashboard-planing-design-chart .recharts-rectangle.recharts-tooltip-cursor {
  fill: #f1f1f1 !important;
}

.dashboard-planing-design-chart svg {
  width: 100%;
}

/* tspan{
  fill: #ffffff;
} */
.charts-heading {
  text-transform: capitalize;
  height: 14%;
  border-bottom: 1px solid #e0e5e8;
  padding-top: 2%;
  padding-left: 2%;
}

.recharts-legend-item {
  display: inline-flex !important;
  /* margin-right: 30px !important; */
}

tspan {
  font-weight: bold;
}

.recharts-default-legend {
  display: -webkit-inline-flex !important;
  display: inline-flex !important;
  float: right;
  /* margin-right: 30px !important; */
  margin-bottom: 29px !important;
  max-width: 515px;
}

.recharts-default-legend-x {
  display: -webkit-inline-flex !important;
  display: inline-flex !important;
  margin-right: 30px !important;
  margin-bottom: 29px !important;
  max-width: 715px;
}

/* .dashboard-planing-design-chart g:nth-child(7) g text{
  display: none;
} */
.recharts-legend-item span {
  line-height: 17px !important;
}

.dashboard-map img {
  width: 90%;
  height: auto;
}

.detailz-box-users {
  width: 80%;
}

.detailz-box-full-width {
  width: 100%;
  margin-top: 15px;
  display: inline-flex;
  border-bottom: 1px solid #eae7e7;
}

.detailz-box-full-width p {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  color: #2c2c2c;
  text-align: right;
}

.detailz-box-full-width span {
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  width: 50%;
  line-height: 34px;
}

.content-container {
  background-color: #f8f8fa;
}

.active a {
  color: #30bda0;
}

a:active {
  color: #30bda0;
}

a:hover {
  color: #30bda0;
}

.zoom-button {
  position: fixed;
  top: 260px;
  border: 1px solid #d8d8d8;
  display: block;
  z-index: 1000;
  right: 0;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(#f5f6fa, #cecece);
  /* padding: 10px; */
  /* display: inline-flex; */
}

.zoom-in {
  width: 50px;
  border-radius: 50%;
  background: #56585a;
  height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  user-select: unset;
}

.zoom-out i,
.zoom-in i,
.zoom-refresh i {
  font-size: 24px;
  padding: 13px;
}

.zoom-out {
  width: 50px;
  border-radius: 50%;
  background: #56585a;
  height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  user-select: unset;
}

.zoom-button span:hover {
  background: #000;
  transition: all ease-in-out 0.2s;
}

.zoom-refresh {
  width: 50px;
  border-radius: 50%;
  background: #56585a;
  height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px;
  cursor: pointer;
  user-select: unset;
}

.custom-pagination {
  margin-top: 40px !important;
  text-align: center;
}

.custom-pagination .ant-pagination-item-active:focus,
.custom-pagination .ant-pagination-item-active:hover {
  border-color: #2b3034;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #2b3034 !important;
}

.custom-pagination .ant-pagination-item:focus a,
.custom-pagination .ant-pagination-item:hover a {
  color: #2b3034;
}

.custom-pagination .ant-pagination-item-active {
  border-color: #2b3034;
}

.work-details-box {
  /* float: right; */
  padding: 36px;
  background: #f5f6fa;
  border: 1px solid #e9e9ea;
  border-radius: 10px;
  /* zoom: 0.9; */
  max-width: 475px;
}

.margin-top-56 {
  margin-top: 56px;
}

.work-details-box p {
  text-align: center;
}

.work-details-box .work-links {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  background: linear-gradient(#394c77, #394c64);
  border-radius: 87px;
  padding: 6px 33px;
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  /* zoom:0.8; */
}

.full-width {
  width: 88%;
}

.work-detailes h2 {
  margin-bottom: 27px;
}

.border-bottom a {
  color: #555555 !important;
}

.border-bottom tr {
  border-bottom: 1px solid #e8e8e8;
  background: transparent;
}

.border-bottom .selected-row + tr {
  background-color: #e6f7ff;
}

.border-bottom tr:hover {
  background: #e6f7ff;
}

.border-bottom .selected-row a {
  color: #ffffff !important;
}

.no-cursor tr {
  cursor: text !important;
}

.orange-color {
  color: #fed46b !important;
}

.green-color {
  color: #9ad681 !important;
}

.blue-color {
  color: #4faaeb !important;
}

.ant-table-thead > tr > th .anticon-filter,
.ant-table-thead > tr > th .ant-table-filter-icon {
  font-size: 20px;
  cursor: pointer;
  color: #bfbfbf;
  transition: all 0.3s;
  width: 50px !important;
  position: absolute;
  top: 8px !important;
  right: 0;
  border-radius: 50%;
  height: 70% !important;
  text-align: center;
  margin-right: 9px;
  background: #4c4c4c;
}

.projects-contractor-popup {
  width: 80% !important;
}

.new-add-assign-button {
  border: 0px !important;
  height: 53px !important;
  font-size: 16px;
  min-width: 218px !important;
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
  margin-bottom: 30px;
}

.firms .ant-select-arrow {
  right: 20px;
}

.ant-modal-body .ant-input-number {
  height: 45px !important;
  width: 100% !important;
}

.custom-ant-input-number {
  width: 100% !important;
}

.firms table tr {
  cursor: pointer;
}

.margin-60 {
  margin-bottom: 60px;
}

.delete {
  color: #fff !important;
  margin-top: 17px;
  font-weight: 700 !important;
  padding: 5px 10px !important;
  background: #dc3545 !important;
  width: 71px !important;
  cursor: pointer;
  border-radius: 4px !important;
}

/****************************** Devices ********************************/
.device-box-title {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 41px;
}

.device-box-title:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  top: 10px;
  margin-top: 13px;
  background: #000;
}

.device-box-total-devices {
  font-size: 40px;
  color: #000;
  display: block;
  width: 100%;
  font-weight: 600;
}

.device-box {
  border: 3px solid #f0f1f6;
  /* margin: 15px; */
  padding: 20px;
}

.devices-details-page .location-details p {
  margin-bottom: 0px !important;
}

.devices-details-page .location-details {
  padding-top: 20px !important;
  margin-bottom: 20px;
}

.devices-details-page {
  margin-bottom: 50px;
}

.devices-details-page h2 {
  font-weight: bold;
}

.devices-border-bottom {
  border-bottom: 3px solid #f5f6fa;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.devices-details-page-right-section {
  padding-bottom: 84px;
}

/****************************** End ********************************/

.assign-user-new-btn {
  border: 0px !important;
  height: 53px !important;
  font-size: 16px;
  min-width: 218px !important;
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
  margin-bottom: 30px;
  max-width: 250px;
  text-align: center;
  line-height: 52px;
}

.badge-SOR-Params {
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
  border: 1px solid transparent;
  min-width: 90px;
  line-height: 1;
  background-color: #dcdcdc;
  color: darkslategrey;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.div-table {
  color: #fff;
  font-size: 20px;
  padding: 19px 0 21px 16px;
  width: 100%;
  border-bottom: 0px;
  background: linear-gradient(#676869, #2b3034);
  border-radius: 30px 30px 0 0;
}

.actions {
  color: #a9a9a9;
}

.actions:hover {
  color: black;
}

.assign-user-link {
  font-weight: 600;
  color: #127be5 !important;
  font-size: 18px !important;
}

/****************************** Firms ********************************/
.firm-filters {
  margin-bottom: 30px;
}

.float-right {
  float: right;
  text-align: right;
}

.float-left {
  float: left;
  text-align: left;
}

.unfill-edit-black-buttons {
  text-align: left;
}

.custom-form-wrap label {
  margin-bottom: 0px;
  margin-left: 0px;
  /* width: 80% !important; */
}

.custom-form-wrap .ant-form-item {
  margin-bottom: 5px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.custom-form-wrap .ant-select-selection__rendered {
  line-height: 45px;
}

.custom-form-wrap .ant-select-selection--single,
.custom-form-wrap input {
  line-height: 45px;
  height: 45px;
  width: 100%;
}

.center {
  text-align: center;
}

.device-box canvas {
  width: 100% !important;
}

.close-page {
  background: linear-gradient(#f5222d, #d0111b);
  padding: 19px 14px;
  border: 0px;
  float: right;
  color: #fff;
  position: fixed;
  border: 1px solid #af0b14;
  right: 0px;
  border-radius: 15px 0 0 15px;
  outline: none !important;
}

.close-page:after {
  content: ' Close';
  font-size: 12px;
}

.search-bar-devices {
  display: inline-block;
  position: relative;
  width: 100%;
}

#search-bar-input {
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
  font-size: 18px;
  border: 0px solid #d0cfce;
  background-color: #f0f1f6;
  outline: none;
  width: 100%;
}

.search-bar-devices span {
  position: absolute;
  top: 18px;
  right: 18px;
}

.unfill-edit1-black-buttons button {
  min-width: 150px;
  background: #000;
  color: #000;
  border: 1px solid #000 !important;
  /* border-radius: 0px; */
  height: 48px;
  margin-left: 20px;
}

.unfill-edit-black-buttons button {
  min-width: 150px;
  background: #fff !important;
  color: #000;
  border: 1px solid #000 !important;
  /* border-radius: 0px; */
  height: 48px;
  margin-left: 20px;
}

.edit-black-buttons button {
  min-width: 150px;
  background: #000;
  border: 0px;
  /* border-radius: 0px; */
  height: 48px;
  margin-right: 20px;
}

.firm-filters .add-new-btn {
  height: 53px !important;
  min-width: 218px !important;
  border: 0px;
  color: #000;
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
}

.firms {
  margin-bottom: 80px;
}

.firms h2 {
  font-size: 34px;
  color: #555555;
  font-weight: bold;
}

.gradient-btn-grey {
  height: 53px !important;
  min-width: 218px !important;
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
  font-size: 16px;
  margin-bottom: 30px;
}

.custom-table .table .thead-dark th:first-child {
  border-top-left-radius: 3px !important;
}

.custom-table .table .thead-dark th:last-child {
  border-top-right-radius: 3px !important;
}

.custom-table .table .thead-dark th {
  font-size: 18px;
  border-bottom: 0px;
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: 600;
}

.firms .ant-table-thead > tr > th {
  color: #495057;
  font-size: 18px;
  padding: 19px 0 21px 16px;
  border-bottom: 0px;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: 600;
}

.firms .ant-table-tbody > tr > td {
  font-size: 20px;
  padding: 16px 0px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.ant-input:hover {
  border-color: #000 !important;
}

.ant-btn-primary {
  background-color: #394c64 !important;
  border-color: #394c64 !important;
  color: #ffffff;
}

.ant-btn-primary[disabled] {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff;
}

.ant-btn-circle:hover {
  color: #fff !important;
}

.custom-new-search {
  box-shadow: unset !important;
  border: 1px solid #d9d9d9 !important;
}

input.custom-new-search {
  color: #000 !important;
}

.custom-new-search-button {
  color: #fff;
}

.custom-new-search-button:hover {
  color: #fff !important;
}

.custom-new-search:hover,
.custom-new-search:focus,
.custom-new-search:active,
.custom-new-search.active {
  color: #fff;
}

.show-hide-btn {
  float: right;
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  background: #f5f6fa;
  padding: 7px 20px;
  color: #000;
  font-weight: 600;
  border-radius: 0 0 15px 15px;
}

.firms-work-details {
  /* border: 4px solid #F5F6FA; */
  padding: 48px;
  padding-bottom: 30px;
}

.custom-padding-for-start-column tr td:nth-child(1) {
  /*padding-left: 48px !important;*/
}

.mask-input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
}

.firms-work-details h3 {
  font-size: 34px;
  font-weight: bold;
  color: #2b3034;
  padding-bottom: 10px;
}

.firms-work-details .location-details p:last-child {
  margin-bottom: 0px;
}

/****************************** End ********************************/

.mason-data-in-popup {
  margin-bottom: 20px;
  /* border-bottom: 1px solid #e5e5e5; */
}

/****************************** Antd Modal ********************************/
.ant-modal-content {
  border-radius: 0px !important;
}

.ant-modal-header {
  border-radius: 0px !important;
  background: #394c64 !important;
}

.ant-modal-title {
  color: #fff !important;
}

.ant-modal-close-x svg {
  fill: #fff;
}

.ant-modal-close {
  outline: none !important;
}

.ant-modal-close-x {
  background: #a10505;
  width: 54px !important;
  height: 54px !important;
}

.mason-data-sub-heading {
  background: #ebebeb;
  font-size: 16px;
  padding: 0 0 0 6px !important;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 42px;
}

.mason-data-sub-heading-number {
  background: #bababa;
  color: #fff;
  padding: 0 0 0 6px !important;
  font-size: 16px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 42px;
}

.custom-table-popup {
  width: 100% !important;
  max-width: 800px;
}

.custom-popup-row {
  margin-bottom: 40px;
}

.custom-popup-row strong {
  text-transform: capitalize;
}

.scrollable-heading {
  font-size: 20px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.scrollable-sub-heading {
  color: #394c64;
}

.scrollable-paraprag {
  color: #707070;
  font-size: 12px;
}

.scrollable-price {
  font-size: 20px;
  text-align: right;
  color: #51c3b8;
  padding-right: 15px;
}

.scrollable-box {
  border-bottom: 1px solid #f1f1f3;
  padding: 20px 0px;
}

.if-data-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 250px;
  max-height: 300px;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.submit-bill {
  background: #51c3b8 !important;
  padding: 9px 20px !important;
  display: block !important;
  color: #fff !important;
  border: 0 !important;
  font-size: 17px !important;
  border-radius: 4px !important;
  font-weight: 500;
  margin-top: 18px;
}

.submit-bill-new {
  background: #394c64 !important;
  padding: 0px 20px !important;
  display: block !important;
  color: #fff !important;
  border: 0 !important;
  font-size: 17px !important;
  border-radius: 4px !important;
}

.rejected-bill {
  border-radius: 4px !important;
}

.margin-40 {
  margin: 40px 0;
}

.submit-bill span {
  font-size: 17px !important;
}

.main-price {
  /*font-family: 'Roboto';*/
  width: 100%;
  display: block;
  font-size: 45px;
  color: #51c3b8;
  font-weight: 800;
}

.main-price-bottom-paragraph {
  color: #aaaaaa;
}

.pending {
  color: #ed641b !important;
}

.submit-bill {
  font-size: 18px;
  color: #ed641b;
  background: #00a0e9;
}

.top-heading-bill {
  display: block;
  padding: 22px 0;
  font-size: 20px;
  border-bottom: 1px solid #f0f4f7;
  margin-bottom: 20px;
}

.details-heading {
  text-transform: capitalize;
  color: #394c64;
}

.details-paragraph {
  font-size: 18px;
  color: #a3a6b4;
}

.view-bill span {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.space-bw {
  margin-bottom: 21px;
  /* border-bottom: 1px solid #dee2e6; */
  padding-bottom: 11px;
}

.border-right {
  border-right: 1px solid #f0f4f7;
}

.scrollable-heading {
  font-size: 20px;
  display: block;
  width: 100%;
}

.chatt-application-ui {
  display: inline-flex !important;
}

.chat-avatar {
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  padding: 11px;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background: grey;
}

.chat-avatar img {
  width: 50px;
  height: 50px;
  border: 1px solid #00a0e9;
  border-radius: 50%;
}

.chat-msg {
  display: block;
  background: #bebebe;
  border-radius: 4px;
  min-height: 50px;
  max-width: 65%;
  padding: 5px 10px;
  margin-right: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.chat-msg-mine {
  display: block;
  background: #2196f3;
  border-radius: 4px;
  color: #fff;
  max-width: 65%;
  padding: 5px 10px;
  margin-right: 15px;
  float: right;
  min-height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}

.chat-time {
  font-size: 9px;
  padding-left: 70px;
}

.chat-time-mine {
  font-size: 9px;
  text-align: right;
  padding-right: 20px;
}

.msg-box {
  display: block;
}

.chat-model {
  width: 60% !important;
  max-width: 60%;
}

.chat-model .column-wrap {
  border-bottom: 0px;
  padding: 0;
}

.chat-multi-images {
  display: block;
  float: left;
}

.chat-multi-images-wrap {
  margin-top: 15px;
}

.chat-multi-images img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ededed;
  margin-right: 10px;
}

.chat-input-wrap {
  margin-left: 20px;
}

.chat-input {
  border: 0px !important;
}

.chat-footer {
  border: 1px solid #eaebef;
  border-radius: 4px;
  padding: 8px;
}

.chat-send {
  background: #f5f6fa !important;
  border: 0px !important;
  border-radius: 50px !important;
  color: #a3a6b4;
  margin-left: 19px;
  padding: 0px 21px !important;
  text-shadow: unset;
}

.chat-input-wrap form {
  display: inline-flex;
  width: 100%;
}

.column-wrap-new {
  border-bottom: 1px solid #f1f1f3;
  padding: 30px 0;
  padding-left: 0px;
  padding-right: 20px;
}

.column-wrap {
  border-bottom: 1px solid #f1f1f3;
  padding: 30px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.reviewd {
  background: #ff6565;
  font-size: 15px;
  border-radius: 4px;
  padding: 3px 11px;
  color: #fff;
  margin: 0 15px;
}

.approved {
  background: #51c3b8;
  font-size: 15px;
  border-radius: 4px;
  padding: 3px 11px;
  color: #fff;
  margin: 0 15px;
}

.remark {
  background: #4d4f5c;
  font-size: 15px;
  border-radius: 4px;
  padding: 3px 11px;
  color: #fff;
  margin: 0 15px;
}

.view-details-column {
  text-align: right;
  padding-right: 8px !important;
}

.view-details {
  background: #51c3b8 !important;
  color: #fff !important;
  border-radius: 47px !important;
  width: 120px !important;
  border: 0 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  z-index: 1;
  position: unset;
  left: unset;
  bottom: unset;
  box-sizing: border-box;
  height: 3px;
  background-color: #51c3b8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 30px !important;
}

.custom-tabs .ant-tabs-tab-disabled {
  color: rgba(0, 0, 0, 0.25) !important;
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  color: #394c64;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px 12px 0 !important;
  text-transform: capitalize;
}

.progress-text {
  color: #2196f3;
}

.custom-table-read .ant-table-thead > tr > th {
  background: #f5f6fa;
  transition: background 0.3s ease;
  text-align: left;
  color: #a3a6b4;
  font-size: 14px;
  height: 45px;
  font-weight: 600;
  border-bottom: 0px;
}

.custom-table .ant-table-thead > tr > th {
  background: #f5f6fa;
  transition: background 0.3s ease;
  text-align: left;
  color: #a3a6b4;
  font-size: 14px;
  height: 45px;
  font-weight: 600;
  border-bottom: 0px;
}

.custom-table tr td:nth-child(1) {
  font-weight: 400;
}

.custom-box .ant-table-tbody > tr > td {
  font-weight: 600;
  color: #4d4f5c;
  vertical-align: text-top;
}

.custom-table-read tr td:nth-child(3) {
  color: #51c3b8;
}

.custom-progress-table .ant-table-thead > tr > th {
  background: #f5f6fa;
  transition: background 0.3s ease;
  text-align: left;
  color: #a3a6b4;
  font-size: 14px;
  height: 45px;
  font-weight: 600;
  border-bottom: 0px;
}

.custom-progress-table tr td:nth-child(1) {
  font-weight: 400;
}

.custom-progress-table.custom-table-read tr td:nth-child(2) {
  color: #2196f3;
}

.closeNavPanel {
  width: 88px;
  min-width: 88px;
  /*transition:0.5s*/
}

.openNavPanel {
  width: 240px;
  min-width: 240px;
}

label,
.legends {
  font-size: 20px !important;
}

.nav-hide {
  display: none;
}

.left-nav {
  min-height: 734.5px !important;

  margin-bottom: 30px;
  height: auto;
}

.right-nav {
  min-height: 734.5px !important;
}

.chart-sub-heading {
  margin-top: -75px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.final-ammount {
  margin-top: 40px !important;
}

.amount-container {
}

.custom-box-bottom {
  box-shadow: 0px 0px 11px #c0c0c0;
  min-height: 140px;
  width: 100%;
  padding: 20px;
  /* margin-top: 25px; */
  margin-bottom: 25px;
  /* margin-right: 2%; */
  background: #ffffff;
}

.custom-box {
  /* display: inline-flex; */
  box-shadow: 0px 0px 11px #e0e5e8;
  min-height: 140px;
  width: 92%;
  padding: 30px;
  background: #ffffff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #394c64 !important;
}

.custom-box .ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  color: #ffffff;
}

.custom-box-left {
  box-shadow: 0px 0px 11px #c0c0c0;
  min-height: 140px;
  width: 38%;

  margin-top: 25px;
  margin-right: 2%;
  margin-bottom: 25px;
}

.custom-box-right {
  box-shadow: 0px 0px 11px #c0c0c0;
  min-height: 140px;
  width: 60%;

  margin-top: 25px;
  margin-bottom: 25px;
}

.custom-box-fifty-left {
  box-shadow: 0px 0px 11px #e0e5e8;
  border-radius: 4px;
  background: white;
  min-height: 430px;
  width: 49%;

  margin-top: 25px;
  margin-right: 2%;
  margin-bottom: 25px;
}

.custom-percentage {
  /*font-family: 'Roboto';*/
  width: 100%;
  display: block;
  font-size: 45px;
  color: #1692e6;
  font-weight: 800;
  margin-top: 34px;
}

.custom-percentage span {
  font-size: 25px;
}

.c-blue {
  color: #1692e6;
}

.c-green {
  color: #51c3b8;
}

.c-purple {
  color: #935ccb;
}

.c-dark-blue {
  color: #515ec3;
}

.custom-title {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #394c64;
  text-transform: capitalize;
}

.custom-title .ant-card-head-title {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #394c64;
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}

.ant-popover-inner-content {
  /* border-top: 4px solid #f5222d; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.line-blue::after {
  display: block;
  width: 30px;
  height: 2px;
  content: '';
  background: #4444d5;
}

.amount-color-blue {
  color: #4444d5;
}

.line-green::after {
  display: block;
  width: 30px;
  height: 2px;
  content: '';
  background: #51c3b8;
}

.amount-color-green {
  color: #51c3b8;
}

.line-red::after {
  display: block;
  width: 30px;
  height: 2px;
  content: '';
  background: #cb1745;
}

.amount-color-red {
  color: #cb1745;
}

.line-purple::after {
  display: block;
  width: 30px;
  height: 2px;
  content: '';
  background: #935ccb;
}

.amount-color-purple {
  color: #935ccb !important;
}

.line-dark-blue::after {
  display: block;
  width: 30px;
  height: 2px;
  content: '';
  background: #83bedf;
}

.custom-paragraph {
  width: 100%;
  display: block;
  font-size: 11px;
  color: #5a5a5a;
  font-weight: 500;
  text-transform: capitalize;
}

.custom-space-bottom {
  margin-bottom: unset;
  margin-top: 30px;
  padding-right: 30px;
}

.text-left {
  text-align: left;
}

.ant-row {
  width: 100%;
}

.gutter-box {
  background: #00a0e9;
  padding: 5px 0;
}

.overview-left-menu {
  border-right: 0px !important;
}

.overview-left-menu > .ant-menu-vertical > .ant-menu-item,
.ant-menu-vertical-left > .ant-menu-item,
.ant-menu-vertical-right > .ant-menu-item,
.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  background: #f5f6fa;
  border-bottom: 1px solid #ececf1;
}

.fields-container div {
  line-height: 43px;
}

.fields-container .ant-card-bordered {
  margin-top: 40px;
  background: #ececf1;
}

.custom-box .ant-menu-item a {
  font-size: 16px;
}

.ant-card-bordered {
  margin-bottom: 40px;
}

.ant-layout {
  background: unset !important;
}

.new-loader {
  background: transparent;
  width: 100%;
  height: 75vh;
  text-align: center;
}

.new-loader-small {
  /* background: unset !important; */
  /* width: 100%; */
  text-align: center;
}

.new-loader-fixed {
  background: transparent;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
}

.m-15 {
  margin-left: 15px;
}

.new-loader-small img,
.new-loader img {
  width: 50px;
}

.new-table-design1 {
  width: 95%;
  text-align: center;
  font-weight: lighter;
}

.new-table-design1 tr td {
  font-size: 20px;
}

.new-table-design1 thead tr th {
  color: #495057;
  font-size: 18px;
  padding: 19px 0 21px 16px;
  border-bottom: 0px;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: 600;
}

.new-table-design1 thead tr th:first-child {
  /* border-top-left-radius: 30px !important; */
}

.new-table-design1 thead tr th:last-child {
  /* border-top-right-radius: 30px !important; */
}

.new-table-design {
  width: 100%;
}

.new-table-design tr td {
  font-size: 20px;
}

.new-table-design thead tr th {
  color: #495057;
  font-size: 18px;
  padding: 19px 0 21px 16px;
  border-bottom: 0px;
  background-color: #e9ecef;
  border-color: #dee2e6;
  font-weight: 600;
}

.new-table-design thead tr th:first-child {
  /* border-top-left-radius: 30px !important; */
}

.new-table-design thead tr th:last-child {
  /* border-top-right-radius: 30px !important; */
}

.delete-text {
  color: #f5222d;
}

.delete-last tr td:last-child {
  /* text-align: right; */
}

.margin-left-right {
  margin-left: 15px;
  margin-right: 15px;
}

.padding-top-22 {
  padding-top: 22px !important;
}

.chartServicesIcon {
  display: inline-flex;
}

.chartServicesIcon .army {
  color: #9a0ad6;
  font-size: 20px;
  margin-right: 30px;
}

.chartServicesIcon .navy {
  color: #7d09fd;
  font-size: 20px;
  margin-right: 30px;
}

.chartServicesIcon .ariforce {
  color: #ffbb28;
  font-size: 20px;
  margin-right: 30px;
}

.p-chart {
  width: 100% !important;
}

.chartServicesIcon .others {
  color: #ce2159;
  font-size: 20px;
  margin-right: 30px;
}

.recharts-wrapper {
  width: 100% !important;
}

.office-container-name {
  padding: 7px 2px 0;
  display: inline-block;
  border: 1px solid rgb(221, 221, 221);
  width: 90%;
  margin-bottom: 13px;
}

.enc-dashbaord-tabs {
  padding: 35px;
}

.enc-dashbaord-tabs
  .ant-tabs.ant-tabs-card
  .ant-tabs-card-bar
  .ant-tabs-tab-active {
  background-color: #3d5470;
  color: #fff;
}

.enc-dashbaord-tabs .ant-tabs-bar {
  border: none;
}

.finance-widget-stats {
  padding: 35px 35px 0 35px;
}

.enc-dashbaord-tabs .ant-tabs-nav .ant-tabs-tab {
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #e8e8e8 !important;
}

.office-text {
  text-align: left;
  /* padding-top: 4%; */
  font-weight: 500;
  line-height: 43px;
  color: #7a7e7a;
  font-size: 106%;
  padding-left: 14px;
  text-transform: capitalize;
}

.office-sec-num-s {
  padding-top: 2px;
}

.rc-progress-line-trail {
  stroke-width: 4px;
  stroke: #e8e8e8;
}

.pi-charts-legends .recharts-default-legend {
  display: -webkit-inline-block !important;
  display: inline-block !important;
  float: left;
  margin-left: 22px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  max-width: 105px;
  margin-top: 54px !important;
}

.pi-charts-legends .recharts-default-legend .recharts-surface {
  width: 11px !important;
}

.pi-charts-legends-bottom .recharts-default-legend {
  display: -webkit-block !important;
  display: block !important;
  float: unset;
  margin-left: 22px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  max-width: unset;
  margin-top: 54px !important;
}

.charts-heading-lable {
  position: absolute;
  top: 30px;
  color: #595959;
  margin-left: 26px;
  font-size: 111%;
  font-weight: 800;
}

.pi-charts-legends .recharts-legend-item span,
.pi-charts-legends-top .recharts-legend-item span {
  font-size: 12px;
}

.pi-charts-legends-bottom .recharts-default-legend .recharts-surface {
  width: 11px !important;
}

.pi-charts-legends-top .recharts-default-legend .recharts-surface {
  width: 11px !important;
}

.pi-charts-legends-top .recharts-default-legend {
  display: inline-flex !important;
  display: inline-flex !important;
  float: unset;
  margin-left: 22px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  max-width: unset;
  /* margin-top: 54px !important; */
}

.charts-new-legends {
  position: absolute;
  width: 100%;
  height: auto;
  line-height: 40px;
  min-width: 78px;
  left: 20px;
  top: 5px;
  font-size: 15px;
  max-width: 92px;
  zoom: 0.8;
  text-align: left;
}

.recharts-yAxis text {
  fill: #ccc;
}

.user-cont-title {
  border-bottom: 1px solid #00000021;
  padding-top: 27px;
  padding-left: 37px;
  padding-bottom: 12px;
  font-size: 137%;
  font-weight: 600;
  text-transform: capitalize;
}

.office-stats-title {
  border-bottom: 1px solid #00000021;
  padding-top: 27px;
  padding-left: 37px;
  padding-bottom: 17px;
  font-size: 137%;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .user-cont-title {
    font-size: 91%;
  }

  .user-stats-contract {
    height: 50% !important;
    padding: 8px !important;
    padding-top: 2% !important;
  }

  .office-stats-title {
    border-bottom: 1px solid #00000021;
    padding-top: 5%;
    padding-left: 6%;
    padding-bottom: 12px;

    font-weight: 600;
  }

  .office-text {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 16px;
    color: #7a7e7a;
    font-size: 87%;
  }

  .office-main-num-s {
    font-size: 20px !important;
  }

  .office-sec-num-s {
    font-size: 16px !important;
  }

  .office-container-name {
    height: unset !important;
    margin-top: 11% !important;
    display: inline-block !important;
    border: 1px solid rgb(221, 221, 221);
    padding-bottom: 2% !important;
  }

  .office-sec-num {
    font-size: 221% !important;
    padding-top: 7% !important;
  }

  .office-main-num {
    font-size: 300% !important;
  }

  .topDasboard-box {
    margin-bottom: 0px !important;
  }

  .topDasboard-box .ant-col-lg-6,
  .topDasboard-box .ant-col-4,
  .topDasboard-box .ant-col-5 {
    width: 50%;
    margin-bottom: 25px;
  }

  .custom-box-fifty-left,
  .custom-box-fifty-right,
  .execution-graph {
    width: 100% !important;
    margin-right: 0px !important;
  }

  .dash-main-chart-title {
    font-size: 85% !important;
    text-transform: capitalize;
  }

  .recharts-wrapper,
  .recharts-legend-wrapper {
    width: 100% !important;
  }

  .p-chart {
    width: 100% !important;
  }

  .detailz-box-full-width span {
    font-size: 18px;
  }

  .ant-modal-body .ant-table-wrapper {
    zoom: 0.9 !important;
  }

  .work-detailes .col-md-8 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .work-details-box {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 40px;
  }

  .work-links a i {
    top: 29px;
  }

  .work-detailes .col-md-8 .full-width {
    width: 100%;
  }

  .location-details {
    padding-top: 53px;
  }

  .firms-work-details {
    padding: 42px;
    zoom: 0.7;
  }

  .ant-table-wrapper {
    zoom: 0.7 !important;
  }

  .device-box-title {
    font-size: 15px;
    margin-bottom: 15px;
    min-height: 70px;
  }

  .close-page {
    z-index: 90;
  }

  .details-device-page img {
    width: 70%;
  }

  .delete {
    width: 53px !important;
    font-size: 11px !important;
  }

  .col-md-custom {
    width: 100%;
    margin-left: 2%;
  }

  .margin0right-10p {
    margin-right: 0px !important;
  }

  .detailz-box {
    border-bottom: 1px solid #eae7e7 !important;
  }

  .detailz-box:last-child {
    border-bottom: 0px !important;
  }

  .office-detail-dashboard p {
    zoom: 0.9;
  }
}

/* ========================== TYPO GRAPHY ============================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: Lato !important;*/
  font-weight: 600 !important;
  text-transform: capitalize !important;
  margin: unset;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.75rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

h6 {
  font-size: 1rem !important;
}

.custom-top-logo {
  height: 70px;
  background-color: #31435a;
  border: unset;
  padding: unset;
  text-decoration: unset;
  margin-bottom: 50px;
  width: 240px;
  position: fixed;
  left: 0px;
}

.closeNavPanel .custom-top-logo {
  width: 88px;
  position: fixed;
  left: 0;
}

.closeNavPanel .pa {
  top: 19px !important;
  left: -30px;
}

.closeNavPanel + .fixed-top-bar {
  padding-right: 88.5px;
}

.openNavPanel .pa {
  top: 19px !important;
  left: -5px;
}

.closeNavPanel .custom-left-nav {
  width: 88px;
  position: fixed;
  left: 0;
  top: 72px;
  z-index: 999;
}

.custom-left-nav {
  width: 240px;
  left: 0px;
  top: 71px;
  overflow-y: auto;
  height: 95% !important;
  position: fixed;
}

.pa {
  margin-top: 16px;
  width: 20px;
  /* margin-left: 70px; */
}

.custom-top-logo a {
}

.custom-top-logo img {
  position: relative;
  float: left;
  top: 2px;
  margin-left: 79px;
  /* left: 17px; */
  transform: translate(-50%, -50%);
}

.fixed-top-bar {
  position: fixed;
  width: 100%;
  padding-right: 240px;
  z-index: 900;
}

.custom-top-bar {
  height: 70px;
}

.custom-left-nav ul li {
  border: unset !important;
}

.custom-left-nav li.active a.active,
.custom-left-nav ul li ul li {
  background-color: #3d5470;
}

.custom-left-nav li a:hover {
  background-color: #3d5470;
  color: #30bda0;
}

.custom-left-nav li.active a.active,
.custom-left-nav li a {
  /*padding: 22.5px 20px;*/
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-left: 2px;
  vertical-align: middle;
}

.custom-button-light {
  background-color: #f8f9fa;
  color: #3d5470;
  border: 1px solid #3d5470 !important;
}

.custom-button-light-planning {
  background-color: #f8f9fa;
  color: #3d5470;
  border: 1px solid #e0e5e8 !important;
}

.custom-button-light-filter {
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
  color: #3d5470;
}

.custom-button-light-filter-planning {
  background: linear-gradient(#f5f6fa, #d8d8d8) !important;
  border-radius: 30px !important;
  color: #3d5470;
}

.custom-button-dark {
  background-color: #3d5470 !important;
  color: #fff !important;
}

.custom-button {
  display: inline-block;
  font-weight: 600;
  border-color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.work-detailes {
  background-color: #ffffff;
}

.planning-design-container {
  background-color: #ffffff !important;
}

.custom-table .table tbody {
  background-color: #ffffff !important;
}

.custom-form {
  background-color: #ffffff !important;
}

.custom-form-header {
  padding: 15px 0px 15px 5%;
  border-bottom: 2px solid rgba(231, 232, 237, 0.5);
}

.left-menu-main-link {
  padding: unset;
}

.office-minutes {
  border-left: 3px solid #0089ff;
}

.office-marked {
  background-color: #0089ff;
}

/************************** Bread Crumb Styles **********************/

.form-crumb {
  margin-bottom: 5px;
}

.document-crumb {
  padding-left: unset;
}

.document-crumb .separator {
  margin-bottom: unset !important;
}
.header .modal-title {
  margin: 0px auto;
  display: table;
  font-size: 34px;
  font-weight: bold;
  color: #2c2c2c;
  -webkit-text-stroke: 0.5px;
}

.login-options-container {
  margin-left: 20px !important;
}

.modal-body {
  font-size: 16.5px;
}

/************************ Notification Menu ******************/
.customMenu {
  position: fixed !important;
}

.notify-icon {
  font-size: 15px;
}

/************************ End ******************/

/************************ Field Parameters ******************/

.msts_theme_example {
  border: 1px solid silver;
}

.msts_theme_example .msts__heading .msts__side {
  padding: 20px;
  border-right: 3px solid #ecf0f1;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.msts_theme_example .msts__heading .msts__side_available {
  background-color: #394c77;
  font-weight: bolder;
}

.msts_theme_example .msts__heading .msts__side_selected {
  background-color: #394c77;
}

.msts_theme_example .msts__subheading .msts__side_filter {
  padding: 30px;
}

.msts_theme_example .msts__footer .msts__side {
  padding: 5px 15px;
  background-color: #ecf0f1;
  font-size: 0.75em;
  color: #7f8c8d;
  text-align: right;
}

.msts_theme_example .msts__list {
  height: 540px;
  overflow-y: auto;
  overflow-x: hidden;
}

.msts_theme_example .msts__list-item {
  padding: 5px 10px;
  transition: background-color ease-in 0.1s, color ease-in 0.1s;
}

.msts_theme_example .msts__list-item:hover {
  background-color: #2980b9;
  color: #fff;
}

.msts_theme_example .msts__list-item_disabled {
  background-color: #ecf0f1;
  color: #7f8c8d;
}

.msts_theme_example .msts__list-item_disabled:hover {
  background-color: #ecf0f1;
  color: #7f8c8d;
}

.msts_theme_example .msts__list-item_highlighted {
  background-color: rgba(41, 128, 185, 0.25);
}

.msts_theme_example .msts__control {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 3px;
  color: #bdc3c7;
  transition: color ease 0.15s;
}

.msts_theme_example .msts__control:hover {
  color: #95a5a6;
}

.msts_theme_example .msts__control[disabled] {
  color: #ecf0f1;
}

.msts_theme_example .msts__control_select-all:after {
  content: '❯';
}

.msts_theme_example .msts__control_deselect-all:after {
  content: '❮';
}

.msts_theme_example .msts__filter {
  position: relative;
}

.msts_theme_example .msts__filter-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid silver;
}

.msts_theme_example .msts__filter-clear {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 10px;
  font-size: 1.25em;
  color: silver;
  transition: color ease 0.15s;
}

.msts_theme_example .msts__filter-clear:after {
  content: '×';
  vertical-align: middle;
}

.msts_theme_example .msts__filter-clear:hover {
  color: #c0392b;
}

.msts_theme_example.msts_disabled {
  background-color: #ecf0f1;
}

.msts {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.msts_disabled {
}

.msts__heading {
  display: flex;
}

.msts__subheading {
  display: flex;
}

.msts__body {
  display: flex;
}

.msts__footer {
  display: flex;
}

.msts__side {
  width: 50%;
}

.msts__side_available {
}

.msts__side_selected {
}

.msts__side_controls {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msts__list {
  padding: 0;
  margin: 0;
}

.msts__list-item {
  list-style-type: none;
  cursor: pointer;
}

.msts__list-item_disabled {
  cursor: default;
}

.msts__list-item_highlighted {
}

.msts__control {
}

.msts__control_select-all {
}

.msts__control_deselect-all {
}

.msts__filter-input {
}

/************************ End ******************/

/************************ Required After Asterik Style ****************/
.ant-form-item-required::after {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: Roboto;
  line-height: 1;
  content: ' : *' !important;
}

.ant-form-item-required::before {
  content: unset !important;
}

/****************************** End ********************************/

/****************************** Select Drop down ********************/
.new-add-assign-select .ant-select-selection--single {
  background: #3d5470 !important;
  margin-bottom: 30px !important;
  height: 52px !important;
  /*min-width: 290px !important;*/
  border: 0px !important;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  padding: 0 15px;
  border-radius: 0.25rem !important;
}

.new-add-assign-button .ant-select-selection {
  background-color: #3d5470 !important;
}

.new-add-assign-button .ant-select-selection__rendered {
  line-height: 52px !important;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  box-shadow: none !important;
}

.ant-select-dropdown {
  background-color: #f7f7f7;
  box-shadow: unset;
  border: 1px solid #d9d9d9;
}

.float-right {
  float: right !important;
}

.new-add-assign-select {
  height: 52px !important;
  min-width: 290px !important;
  /* color: #fff !important; */
  border: 0px !important;
  padding: 0 15px !important;
  padding-right: 0px !important;
}

.new-add-assign-select .ant-select-arrow {
  color: #fff !important;
}

.new-add-assign-select .ant-select-selection__rendered {
  line-height: 52px !important;
}

.new-add-assign-button .ant-select-selection--single {
  height: 52px !important;
  min-width: 290px !important;
  border: 0px !important;
}

/****************************** END ********************************/

/*************************** Search Buttons ************************/

.new-btn-with-gradient-select input {
  height: 53px !important;
  min-width: 218px !important;
  border: 0;
  color: #fff;
  background: #3d5470 !important;
  outline: none;
  border-radius: 0.25rem;
}

.new-btn-with-gradient-select ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff !important;
  opacity: 1; /* Firefox */
}

.new-btn-with-gradient-select select {
  height: 53px !important;
  min-width: 218px !important;
  border: 0;
  color: #fff;
  padding: 0 20px;
  background: #3d5470 !important;
  outline: none;
  border-radius: 0.25rem;
}

.search-container i {
  color: #fff !important;
  font-size: 18px !important;
}

/***************************** END ******************************/

/************************ JSON Form Classes *********************/

.formLabel {
  /*font-family: "Lato",sans-serif !important;*/
  font-weight: 600 !important;
  text-transform: capitalize !important;
  margin: unset;
  font-size: 1.25rem !important;
}

.header-button {
  height: 50px !important;
  width: 110px;
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}

/***************************** END ******************************/

/************************ RAR Styling *********************/
.create-bill-model {
  width: 550px;
  min-width: fit-content;
  min-width: -moz-fit-content;
}

.rar-table .ant-table-tbody > tr > td {
  padding: 0px !important;
}

.rar-table .ant-table-tbody > tr > td > p {
  padding: 16px !important;
}

.bq-details-modal {
  width: 60% !important;
  min-width: 600px !important;
}

/***************************** END ************************/

/********************* Danger Button **********************/

.planning-design-main-button-bar li.danger {
  background: linear-gradient(#f14242, #a92c2d);
}

.danger-button {
  background: linear-gradient(#f14242, #a92c2d) !important;
}

.planning-design-main-button-bar li.danger a {
  color: #ffffff !important;
}

/************************ END *****************************/

/*********************** Confirmation Modal **************/
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 500px;
    max-width: fit-content;
    max-width: -moz-fit-content;
  }
}

/*********************** End ****************************/

/********************* Nav Panel *************************/
.left-panel {
  position: fixed;
}

.closeNavPanel + .panel-container > .fixed-top-bar {
  margin-left: 88px;
  padding-right: 88px;
}

.openNavPanel + .panel-container > .fixed-top-bar,
.openNavPanel + .panel-container > .content {
  margin-left: 240px;
}

.closeNavPanel + .panel-container > .content {
  margin-left: 88px;
}

.panel-container {
  width: 100%;
}

.panel-container .container-fluid {
  padding: unset;
}

/************************** END ***************************/

/************************ Phase Steps Bar **************************/
.phases-steps-bar p {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  /*font-family: "Lato", sans-serif*/
}

/************************ End **************************/

.wallet-table .ant-table-header {
  margin-bottom: 0px !important;
  overflow: unset !important;
}

.wallet-table .ant-table-body{
  overflow-y: auto !important;
}

.custom-after {
  height: 40px;
}

.json-upload .ant-upload-list-item:hover .ant-upload-list-item-info{
  background-color: unset;

}
.json-upload .ant-upload-list-item-info{
  cursor: pointer;
}

.json-upload .ant-upload-list-item-info .ant-upload-list-item-name{
  font-size: 1.2em;
  text-decoration: underline;
}

.json-upload svg{
  width:16px;
  height:16px
}
