<template>
  <div>
    <div class="flex items-center justify-between mb-4">
      <h1>Tenants</h1>
      <div class="flex space-x-2">
          <!-- <el-button size="small" type="primary" @click="listCognitoUsers">List Users</el-button> -->
          <!-- <el-button size="small" type="primary" @click="originationModalOpen = true">Update Tenants' Phone #</el-button> -->
          <div class="flex flex-wrap gap-1 justify-end sm:justify-center">
              <el-button size="small" type="primary" @click="openForceRefresh">Force Client Refresh</el-button>
              <el-button size="small" type="primary" @click="modalOpen = true">Add Tenant</el-button>
              <!-- <el-button size="small" type="primary" @click="dataFixModalOpen = true">Data Fixes</el-button> -->
            </div>
          <!-- <el-button size="small" type="primary" @click="modalOpen = true">Add Tenant</el-button> -->
          
        <div>


            <!-- DEACTIVATE MODAL -->
            <DeactivateTenantModal 
              @close="deactivateModalOpen=false"
              :deactivateModalOpen="deactivateModalOpen" :deactivateTenantLoading="deactivateTenantLoading" :deactivateTenantMessage="deactivateTenantMessage">
            </DeactivateTenantModal>

            <!-- ORIGINATION MODAL -->
            <el-dialog
              :close-on-click-modal="false"
              title="Update All Tenants' Origination Numbers"
              :visible.sync="originationModalOpen"
              width="30%"
              >

              <el-form label-position="top">
                <el-form-item label="Origination Number">
                  <el-input v-model="originationNumberTemp" placeholder="+13342928628"></el-input>
                </el-form-item>
              </el-form>


              <span slot="footer" class="dialog-footer">
                <el-button @click="originationModalOpen = false">Cancel</el-button>
                <el-button type="primary" @click="updateTenantsOrigination" :disabled="loading">Confirm</el-button>
              </span>
            </el-dialog>

            <!-- DATA FIX -->
            <el-dialog
              :close-on-click-modal="false"
              title="Data Fixes"
              :visible.sync="dataFixModalOpen"
              width="30%"
              >

              <el-form label-position="top" class="flex-wrap space-y-2 space-x-2">
                <el-button v-if="true" size="small" type="primary" @click="staffStatusConfirmation">Value List</el-button>
                <el-button v-if="true" size="small" type="primary" @click="confirmUserNotificationUpate">Update User Notifications</el-button>
                <el-button v-if="true" size="small" type="primary" @click="staffVacationStatusConfirmation">Vacation Value List</el-button>
                <el-button v-if="true" size="small" type="primary" @click="staffPendingMessageConfirmation">Pending Message Staff ID Index</el-button>
                <el-button v-if="true" size="small" type="primary" @click="confirmDefaultCoaching">Set Default coaching</el-button>
                <el-button v-if="true" size="small" type="primary" @click="confirmSetPermissions">Set Permissions from Roles</el-button>
                <el-button v-if="true" size="small" type="primary" @click="daStatusConfirmation">Set {{$t('label.associates_')}} status</el-button>
                <el-button v-if="true" size="small" type="primary" @click="deleteI9">Update documents type</el-button>

                <el-button v-if="true" size="small" type="primary" @click="generateReport()">Report {{$t('label.associate')}} Status</el-button>
                <el-button v-if="true" size="small" type="primary" @click="setMessageService">Set message service type</el-button>
                <el-button size="small" type="primary" @click="setDaTierCdfScore">Add DaTier and CdfScore to Coaching</el-button>
              </el-form>

              <span slot="footer" class="dialog-footer">
                <el-button @click="dataFixModalOpen = false">Cancel</el-button>
              </span>
            </el-dialog>

            <!-- CLIENT REFRESH MODAL -->
            <el-dialog
              :close-on-click-modal="false"
              title="Force Client Refresh"
              :visible.sync="refreshModalOpen"
              width="30%"
              >

              <el-form label-position="top">
                <el-form-item label="New Version Number">
                  <el-input v-model="newVersionNumber" placeholder="0.8.1"></el-input>
                </el-form-item>
                <p class="-mt-4 mb-2 text-xs italic text-gray-600">*Reload will only affect users who are not on the version specified.</p>

                <el-form-item label="Refresh Type">
                  <el-select v-model="refreshType" placeholder="Select" class="w-full">
                    <el-option
                      value="RELOAD"
                      label="Reload Users Browser">
                    </el-option>
                    <el-option
                      value="LOGOUT"
                      label="Log User Out and Reload Browser">
                    </el-option>
                  </el-select>
                </el-form-item>

                <el-form-item label="Release Notes" >
                  <div class="w-full flex space-x-4">
                    <el-input-number class="flex-1" :min="1" v-model="numberOfBulletsToAdd"></el-input-number>
                    <el-button  class="flex-1" @click="addBullets">Add Bullets</el-button>
                  </div>
                  <el-input class="mt-4" type="textarea" :autosize="{ minRows: 4}" v-model="releaseNotes"></el-input>
                </el-form-item>
              </el-form>

              <span slot="footer" class="dialog-footer">
                <el-button @click="refreshModalOpen = false">Cancel</el-button>
                <el-button type="primary" @click="refreshClients" :disabled="loading">Confirm</el-button>
              </span>
            </el-dialog>


            <!-- NEW TENANT MODAL -->
            <el-dialog
              :close-on-click-modal="false"
              title="New Tenant"
              :visible.sync="modalOpen"
              width="30%"
              >

              <TenantForm  v-loading="loading" :formFields="newTenantForm" ref="tenantForm"/>

              <span slot="footer" class="dialog-footer">
                <el-button @click="modalOpen = false">Cancel</el-button>
                <el-button type="primary" @click="createTenant" :disabled="loading">Confirm</el-button>
              </span>
            </el-dialog>
        </div>
      </div>
    </div>

    <!--TABLE CARD COMPONENT-->
    <table-card tablecard-class="rounded-lg">
      <template v-slot:table-filters>
          <div>
            <container-filter inTable>
              <template v-slot:title>
                <div class="text-center">
                    <span class="font-app uppercase font-title">Tenant List</span>
                  </div>
              </template>
              <template v-slot:filter-count>
                <counter-filter :counter="getResumeFilters" />
              </template>
              <template v-slot:filters>
                <multi-select-filter
                  type="status"
                  title="Customer Status"
                  :options="filterStatus"
                  :selected="filterStatusChecked"
                  @update-filters="updateFilters"
                />  
                <multi-select-filter
                  type="dsp"
                  title="DSP Type"
                  :options="filterDsp"
                  :selected="filterDspChecked"
                  @update-filters="updateFilters"
                />               
              </template>
                  
            </container-filter>
          </div>
      </template>
      <template v-slot:table-searchbox>
        <search-box inTable @search-data="searchData"></search-box>
      </template>
      <custom-table
        inTable
        ref="table"
        v-loading="loading"
        :columns="cols"
        :data="tableData"
        emptyText="No Data"
        footerTable="total Tenants"
        :showFooterText="false"
        withTableMenu
        @click-menu="handleCommand" 
        :optionsHeader="optionsContextHeader"
        :totalRecords="totalTenants"   
        :optionsRows="optionsContextRow"
        @sort-change="sortColumn"
        >

        <template #companyName="row">
          <span @click="handleRowClick(row)" >{{ row.companyName }}</span>
        </template>
        <template #id="row">
          <el-tooltip :content="`Click to copy: ${row.id}`" placement="top">
            <i class="el-icon-document-copy" @click="copyID(row.id)"></i>
          </el-tooltip>
        </template>
        <template #trialExpDate="row">
          <span  @click="handleRowClick(row)">{{ row.trialExpDate | date }}</span>
        </template>
        <template #shortCode="row">
          <span @click="handleRowClick(row)" >{{ row.shortCode | text }}</span>
        </template>
        <template #messageServiceProvider="row">
          <span @click="handleRowClick(row)">{{ row.messageServiceProvider }}</span>
        </template>

        <template #status="row">
          <CellToolTip :value="row.customerStatus">
              <div slot-scope="{textValue}" class="flex">
                <span
                  class="font-bold rounded-full bg-opacity-10 px-3 text-xs  max-w-full flex-initial"
                >{{textValue}}</span>
              </div>
          </CellToolTip>
        </template>
        
        <template #custom-dropdown="row">
              <el-dropdown @command="handleCommand">
                <span class="context-menu"><i class="uil uil-ellipsis-h"></i></span>     
                <el-dropdown-menu  slot="dropdown">
                    <el-dropdown-item :command="{action: 'view', row: row}"><i class="uil uil-eye text-base"></i><span>View Tenant</span></el-dropdown-item>
                    <el-dropdown-item :command="{action: 'login', row: row}"><i class="uil uil-users-alt text-base"></i>Log into this DSP as Support Administrator</el-dropdown-item>
                    <el-dropdown-item v-if="row.messageServiceProvider != 'Telnyx' && !row.accountPremiumStatus.includes('None')" divided :command="{action: 'add', row: row}"><i class="uil uil-envelope text-base"></i>Change messaging provider to Telnyx</el-dropdown-item>
                    <el-dropdown-item v-else :command="{action: 'remove', row: row}" divided><i class="text-red-500 uil uil-phone-times text-base"></i><span class="text-red-500">Remove & decommission number</span></el-dropdown-item>
                    <el-dropdown-item v-if="!row.accountPremiumStatus.includes('None')" :command="{action: 'deactivateTenant', row:row}"><i class="uil uil-bill text-base"></i>Change Plan to None</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
        </template>
      </custom-table>
    </table-card>
    
  <div v-if="nextToken" class="flex justify-center mt-4">
    <el-button round @click="loadData()">Load More</el-button>
  </div>

  <div class="block md:flex py-5">
    <div class="pl-3 self-start mb-5 md:mb-0 text-center md:text-left">
      <span>Total results: {{ totalTenants }}</span>
    </div>
    <el-pagination
      v-if="showPagination"
      class="ml-auto text-center md:text-right"
      background
      :hide-on-single-page="showPagination"
      :current-page.sync="currentPage"
      @size-change="handleSizeChange"
      @current-change="pageChange"
      :page-sizes="[25, 50, 100, 200]"
      :page-size="pageSize"
      layout="sizes, prev, pager, next"
      :total="totalTenants">
    </el-pagination>
  </div>

  <!-- EXPORT DIALOG -->
  <el-dialog
      title="Export Tenant Records"
      :show-close="true"
      :center="true"
      :visible.sync="showExportDialog"
      width="390px"
    >
      <ExportDialog
        :modal="true"
        :statusChecked="getFilterStatusChecked()"
        :number="totalExportsRecords"
        exportField="Tenant"
        exportFields="Tenants"
        @export-action="exportCSV(exportRecords)"
        @close-dialog="showExportDialog = false"
      >
      </ExportDialog>
  </el-dialog>

  <!-- CHANGE PLAN MODAL -->
  <ChangePlanModal :title="titleChangePlan" :tenant="tenantChangePlan" :show="showChangePlan" @close="showChangePlan = false" @resultChangePlan="resultChangePlan"/>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex"
// import { getUser } from '@/api/queries'
import TenantForm from './components/TenantForm'
import DeactivateTenantModal from './components/DeactivateTenantModal'
import { searchTenants, countTenants, listTenants, listUserIds, vehiclesByStatus, staffsByStatus, devicesByStatus, listAccidents, valueListsByKey, listStaffs, documentsByType, listPendingMessages, updateTenantCoaching, updateTenantMessageService, updateTenantPlans } from './queries'
import { createTenant, createNotification, updateStaff, deleteValueListItem, updateTenant, updateDocument, updatePendingMessage, updateValueListItem, updateUser, deleteUser, createMessageServiceProvider, createUser, updateTelnyx, createTelnyx, createCustomLists, createOptionsCustomLists } from '@/graphql/mutations'
import { getValueList, telnyxsByGroup, listTelnyxs } from '@/graphql/queries'
import { getTenant } from '@/views/Accident/queries.js'
import { Auth, API, graphqlOperation } from 'aws-amplify';
import { listUsers } from '@/views/Settings/Users/query'
import { weeklyPerformanceMetrics, dailyPerformanceMetrics} from '@/utilities/defaultCoachingSettings'
import { updateZohoAccountTenant } from '../../../components/Zoho/zoho';
import {exportCSV} from "@/utilities/exportCSV"
import { telnyxAddNumber, telnyxRemoveNumber, getAvailableNumber, updateAvailableNumber} from './telnyx'
import { setGroup, changePlanToNone, updateIntercom } from './tenant'
import * as labelsMethods from './labelsMethods'

import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import CellToolTip from '@/components/CellToolTip'
import CounterFilter from "@/components/CounterFilters";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import ExportDialog from "@/components/ExportDialog";
import { REGULAR_ACCOUNT, CHILD_ACCOUNT } from './constants'
import ChangePlanModal from "./components/ChangePlanModal"

import * as customListMethods from './customListMethods'
import moment from 'moment';

  export default {
    components: { 
      TenantForm, 
      DeactivateTenantModal, 
      TableCard, 
      CustomTable,
      ContainerFilter, 
      SearchBox,
      CellToolTip,
      CounterFilter,
      MultiSelectFilter,
      ExportDialog,
      ChangePlanModal
    },
    data() {
      return {
        loading: false,
        deactivateModalOpen: false,
        deactivateTenantLoading: false,
        deactivateTenantMessage: '',
        modalOpen: false,
        refreshModalOpen: false,
        originationModalOpen: false,
        newVersionNumber: '',
        numberOfBulletsToAdd: 1,
        refreshType: '',
        releaseNotes: '',
        tableData: [],
       // originalTableData: [],
        search: '',
        newTenantForm:{
          companyName: '',
          shortCode: '',
          growSurfParticipantId: '',
          growSurfReferredEmail: '',
          growSurfReferredFullName: '',
          growSurfReferrerEmail: '',
          growSurfReferrerFullName: '',
          growSurfReferralComplete: false,
          originationNumber: '',
          messageServiceProvider: '',
          // Account type fields
          allowParentData: false,
          parentAccountId: null,
          accountType: REGULAR_ACCOUNT,
          trialExpDate: null
        },
        servicesMessage: [
          'None',
          'Bandwidth',
          'Telnyx'
        ],
        filterStatus:[
          'Active - Bundle',
          'Active - Premium',
          'Active - Standard',
          'Churned',
          'Lapsed Trial',
          'Trial',
          'Unknown'
        ],
        filterStatusChecked:[
          'Active - Bundle',
          'Active - Premium',
          'Active - Standard'
        ],
        filterDsp:['Standard', 'XL'],
        filterDspChecked:['Standard', 'XL'],
        activeFilters: [],
        activeDspFilters: [],
        nextToken: null,
        limit: 100,
        originationNumberTemp: '',
        dataFixModalOpen: false,
        weeklyPerformanceMetrics: [],
        dailyPerformanceMetrics: [],
        seeds: {
            'roster-status': { values: ['On Time', 'Late, With Call', 'Late, No Call', 'Called Out', 'No Show, No Call'] },
            'staff-status': { values: [] },
            'device-status': { values: ['Active', 'Inactive'] },
            'vehicle-status': { values: ['Active', 'Inactive', 'Inactive - Maintenance', 'Inactive - Grounded'] }
        }, 
        cols: [
          { name: "Name", col: "companyName", fixed: false, width: "180", sortable: 'custom'},
          { name: "ID", col: "id", fixed: false, width: "50", sortable: false},
          { name: "Short Code", col: "shortCode", fixed: false, width: "140", sortable: 'custom'},
          { name: "Trial Exp", col: "trialExpDate", fixed: false, width: "170", sortable: 'custom'},
          { name: "SMS provider", col: "messageServiceProvider", fixed: false, width: "180", sortable: 'custom' },
          { name: "Status", col: "status", fixed:false, width: "160", sortable: 'custom' },
        ],
        fieldMap:{ "status": "customerStatus", companyName: "companyName", shortCode:"shortCode", trialExpDate:"trialExpDate", messageServiceProvider:"messageServiceProvider" },
        sort: null,
        optionsContextRow: [],
        tableCount: 0,
        showExportDialog: false,
        optionsContextHeader: [
          { label: "Export Tenants", action: "export", divided: false },
        ],
        statusChecked: ["Customer Status ","DSP Type"],
        totalTenants: 0,
        currentPage: 1,
        pageSize: 100,
        showChangePlan: false,
        titleChangePlan: '',
        tenantChangePlan: {}
      }
    },
    created(){
        this.newTenantForm.trialExpDate = this.$moment().add(30, 'days').toDate()
        this.weeklyPerformanceMetrics = weeklyPerformanceMetrics
        this.dailyPerformanceMetrics = dailyPerformanceMetrics
        if(this.valuelists['staff-status'].items){
          this.seeds["staff-status"].values = this.valueListActivesOnly(this.valuelists['staff-status'].items).map(v => (v.value))
        }
        if (sessionStorage.getItem("filtersTenant") === null) {
          this.activeFilters = this.filterStatusChecked
          this.activeDspFilters = this.filterDspChecked
        } else {
          const filters = JSON.parse(sessionStorage.getItem("filtersTenant"));
          this.activeFilters = filters.status;
          this.filterStatusChecked = filters.status;
          this.activeDspFilters = filters.dsp;
          this.filterDspChecked = filters.dsp;
        }
      },
    mounted(){
      this.newVersionNumber = this.$store.state.version
      this.loadData()
    },
    computed: {
      ...mapState([
        'valuelists',
        'userInfo'
      ]),
      getResumeFilters() {
        const countStatus = this.activeFilters.length === this.filterStatus.length ? 0 : 1;
        const counsTypeDsp = this.activeDspFilters.length === this.filterDsp.length ? 0 : 1;
      
        const total = countStatus + counsTypeDsp;
        return total;
      },

      totalExportsRecords(){
        return this.tableData.length
      },

      titleExport() {
        const title =this.totalExportsRecords > 1
          ? "Tenant Records"
          : "Tenant Record"
        return title
      },
      
      exportRecords(){
        let arrData = []
        this.tableData.forEach((data, index) => {
          arrData[index] = {
            "Company Name": data.companyName,
            "Short Code": data.shortCode,
            "Trial Expiration": this.$moment(data.trialExpDate).format("MM/DD/YYYY"),
            "Service provider": data.messageServiceProvider,
            "Customer Status": data.customerStatus,
          }
        })       
        return arrData
      },

      showPagination(){
        return !this.loading && this.totalTenants > this.pageSize
      }
    },

    watch: {
      search(){
        if(this.search.length > 2 || this.search.length===0)
          this.filterTenantsbyStatus(true)
      }
    },

    methods: {
      async copyID(id) {
        try {
          await navigator.clipboard.writeText(id);
          this.displayUserNotification({
            title: "Succesfully Copied ID",
            type: "success",
            message: id
          })
        } catch(e) {
          console.log('error copying ID to clipboard:', e);
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e
          })
        }
      },
      updateFilters(e) {
        const {type, filters } = e;
        if (type == 'status') {
          this.activeFilters = filters
          this.filterStatusChecked = filters
        }

        if (type == 'dsp') {
          this.activeDspFilters = filters
          this.filterDspChecked = filters
        }
        const options = { status: this.activeFilters, dsp: this.activeDspFilters}
        sessionStorage.setItem("filtersTenant", JSON.stringify(options))
        this.loadData()
        //this.filterTenantsbyStatus()
      },

      filterTenantsbyStatus(search=false) {
        this.loadData(search)
      },

      async removeTelnyxNumber(tenantRow) {
        try {
          await telnyxRemoveNumber(tenantRow)
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: 'Tenant Updated'
          });
        } catch(e){
          console.log('removeTelnyxNumber', e)
          this.loading = false;
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e
          })
        } finally {
          this.loadData()
          this.loading = false;
        }
      },

      setClassStatus(row) {
        return {
          'text-yellow-600 bg-yellow-500' : row.customerStatus.toLowerCase() == 'trial',
          'text-red-600 bg-red-500' : row.customerStatus.toLowerCase() == 'lapsed trial' || row.customerStatus.toLowerCase() == 'churned', 
          'text-orange-600 bg-orange-500' : row.customerStatus.toLowerCase() == 'unknown', 
          'text-green-600 bg-green-500' : row.customerStatus.toLowerCase().includes('active'),
        }
      },

      async addTelnyxNumber(tenantRow) {
        try {
          await telnyxAddNumber(tenantRow)
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: 'Tenant Updated'
          });
        } catch(e){
          console.log('addTelnyxNumber', e)
          this.loading = false;
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e
          })
        } finally {
          this.loadData()
          this.loading = false;
        }
      },
      async handleCommand(payload) {
        if (payload.action === 'remove') {
          this.$confirm('This will delete your messaging provider. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
            this.loading = true
            this.removeTelnyxNumber(payload.row);
          }).catch(() =>{
            console.log("Remove & decommission canceled.");
          });
        } else if(payload.action === 'add') {
          this.$confirm('This will change messaging provider to Telnyx. Continue?', 'Warning', {
            confirmButtonText: 'Continue',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
            this.loading = true
            this.addTelnyxNumber(payload.row);
          }).catch(() =>{
            console.log("Change canceled.");
          });
        }else if(payload.action === 'login') {          
          try{
            await setGroup(payload.row)
          }catch(e){
            console.log('error logging in as admin', e)
            this.loading = false
            this.displayUserNotification({
                title: "Error",
                type: "error",
                message: "Error creating system user"
            })
          }                    
        } else if(payload.action === 'view') {
          this.handleRowClick(payload.row);
        }else if(payload.action === 'deactivateTenant') {
          let message = `Would you like to continue?`;
          if(!!payload.row.bundleDeactivationAllowedAt) {
            let deactivationDate = this.$moment(payload.row.bundleDeactivationAllowedAt).format('YYYY-MM-DD');
            message = `The tenant's bundle expires on ${deactivationDate}; would you like to continue?`
          } 
          this.titleChangePlan = message
          this.tenantChangePlan = { ...payload.row }            
          this.showChangePlan = true           
        }else if(payload.action === 'export'){
          this.showExportDialog = true
        }
      },
      async resultChangePlan(data){
        if(data.result) this.deactivateTenantMessage = data.result.message
        this.deactivateTenantLoading = false

        try{
          let updatedTenant = await this.api(getTenant, { id: data.id })
          updatedTenant = updatedTenant.data.getTenant
          let _payload = {
            id: updatedTenant.zohoCrmAccountRecordId ? updatedTenant.zohoCrmAccountRecordId : null,
            Customer_Status:updatedTenant.customerStatus,
            Cancellation_Reason: updatedTenant.accountCanceledReason
          }
          try {
            if(!this.$store.getters.isZohoCrmDisabled)
              await updateZohoAccountTenant('update', _payload, this.displayUserError)
          } catch (error) {
            console.log('error updating zoho account', error)
          }
          await updateIntercom(updatedTenant, this.$store)
          this.deactivateTenantMessage += '<br/>Intercom updated.'
          this.loadData()
        }catch(e){
          console.log('error udpating intercom with new tenant data', e)
          this.deactivateTenantMessage += '<br/>Error updating intercom. See console for details.'
          this.deactivateTenantMessage = '<b>Error setting plan to None:</b> ' + e
          this.deactivateTenantLoading = false
        }
      },

      searchData(e) {
        this.search = e;
      },

      sortColumn(e){
        console.log('this page sort column', this.currentPage)
        this.sort = { 
          field: this.fieldMap[e.prop], 
          order: e.order == "descending" ? "desc" : "asc"
        } 

        // if no pagination, sort in dom
        if(this.tableData.length < this.pageSize){
          console.log('not enough results to server sort')
          e.column.sortable = true
        }else{          
          return this.loadData(null,true)
        }
      },

      // is this ever used?
      filterTenants({data, search}){
        console.log('------ filtering tenants???')
        let searchString = search.toLowerCase()
        const filteredData = data.filter((item)=> {
          const originationNumberMatch = item.originationNumber?.includes(searchString)
          const companyMatch = item.companyName.toLowerCase().includes(searchString)
          const userEmails= item.users.items?.map((user)=>user.email)
          const userEmailMatch = userEmails.filter((email)=> email.toLowerCase().includes(searchString))
          const userPhones= item.users.items?.map((user)=>user.phone)
          const userPhoneMatch= userPhones.filter((phone)=> phone?.includes(searchString))
          const shortCodeMatch = item.shortCode?.toLowerCase().includes(searchString)
          return originationNumberMatch || userEmailMatch.length > 0 || userPhoneMatch.length > 0 || shortCodeMatch || companyMatch
        })
        return filteredData
      },

      addBullets(){
        var str = ''
        var i
        for(i = 1; i <= this.numberOfBulletsToAdd; i++){
          if(!this.releaseNotes) this.releaseNotes += "•"
          else this.releaseNotes += "\n•"
        }
      },

      openForceRefresh(){
        this.refreshType = ''
        this.releaseNotes = ''
        this.numberOfBulletsToAdd = 1
        this.refreshModalOpen = true
      },


      /**
       * Queries all staff statuses value lists and delete the old inactive statuses
       */
      async commitStaffStatusesUpdate(){
        this.loading = true
        var valueLists
        var input = {
          key: 'staff-status',
          limit: 1000
        }
        try{
          valueLists = await this.gLoadListAll(valueListsByKey, input, 'valueListsByKey')
        }
        catch(e){
          console.log(e)
          //Continue if the error is that some value lists don't have a tenant
          if(e.errors[0].message.includes('Cannot return null for non-nullable type')){
            valueLists = e.data.valueListsByKey.items.filter((valueList) =>{
              return valueList != null
            })
            console.log(valueLists)
          }
          else{
            console.log(e)
            this.displayUserError(e)
            this.loading = false;
            return
          }
        }
        try{
          //Loop through every value list
          valueLists.forEach(async(valueList)=>{
              var items = valueList.items.items

              //Loop through every value list item
              await Promise.all(items.map(async(item)=>{
                if(item.custom != true && (item.value.toLowerCase() == "inactive" || item.value.toLowerCase() == "terminated" || item.value.toLowerCase() == "medical leave")){
                  var result = await this.api(deleteValueListItem, {input:{ id: item.id }})
                  console.log(result)
                }
              }));
          });

          this.dataFixModalOpen = false

        }
        catch(e){
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
          })
        }
        finally{
          this.loading = false;
        }
      },

        /**
       * Queries all staff statuses value lists and delete the old inactive statuses
       */
      async commitStaffVacationStatusesUpdate(){
        this.loading = true
        var valueLists
        var input = {
          key: 'staff-status',
          limit: 1000
        }
        try{
          valueLists = await this.gLoadListAll(valueListsByKey, input, 'valueListsByKey')

        }
        catch(e){
          console.log(e)
          //Continue if the error is that some value lists don't have a tenant
          if(e.errors[0].message.includes('Cannot return null for non-nullable type')){
            valueLists = e.data.valueListsByKey.items.filter((valueList) =>{
              return valueList != null
            })
            console.log(valueLists)
          }
          else{
            console.log(e)
            this.displayUserError(e)
            this.loading = false;
            return
          }
        }
        try{

          //Loop through every value list
          console.log(valueLists)
          valueLists.forEach(async(valueList)=>{
              var items = valueList.items.items

              //Loop through every value list item
              await Promise.all(items.map(async(item)=>{
                if(item.custom != true && (item.value.toLowerCase() == "inactive - personal time/vacaction")){
                  var result = await this.api(deleteValueListItem, {input:{ id: item.id }})
                  console.log(result)
                }
              }));
          });

          this.dataFixModalOpen = false

        }
        catch(e){
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
          })
        }
        finally{
          this.loading = false;
        }
      },

      async commitDeleteI9 (){
        this.loading = true
        try {
          const input = {type: "I9"}
          const documents = await this.gLoadListAll(documentsByType, input, 'documentsByType');


          documents.forEach(async (doc) => {
            await this.api(updateDocument, { input: { id: doc.id, type: "Misc", group: doc.group }});
          });

          const documentInput = {
            key: 'document-type'
          }
          const valueLists = await this.gLoadListAll(valueListsByKey, documentInput, 'valueListsByKey')
          valueLists.forEach(async(list)=> {
            const valueListItems = list?.items?.items ?? []
            const i9Item = valueListItems.find((item) => item.value === "I9");
            if (i9Item) {
              await this.api(deleteValueListItem, {input: { id: i9Item.id }});
            }
          })
          this.loading = false
        } catch(err) {
         console.log({err})
         this.loading = false
         throw err
       }
      },

      /**
       * Confirms if user wants to delete the old DA inactive statuses
       */
      staffStatusConfirmation(){
        this.$confirm('This will delete all the old '+this.$t('label.associate')+' statuses and keep the new ones. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitStaffStatusesUpdate()
        }).catch(() => {
          console.log("canceled delete")
        });
      },

      /**
       * Confirms if user wants to delete the old DA vacation statuses
       */
      staffVacationStatusConfirmation(){
        this.$confirm('This will delete all the old '+this.$t('label.associate')+' statuses with mispelled vacation and keep the new ones. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitStaffVacationStatusesUpdate()
        }).catch(() => {
          console.log("canceled delete")
        });
      },

      deleteI9(){
        this.$confirm('This will set all documents using I9 type to Misc and delete I9 from document-type. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteI9()
        }).catch(() => {
          console.log("canceled delete")
        });
      },


      /**
       * Confirms if user wants to delete the old DA vacation statuses
       */
      staffPendingMessageConfirmation(){
        this.$confirm('This will update the existing pending messages pendingMessageStaffId field to staffId field. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitPendingMessageUpdate()
        }).catch(() => {
          console.log("canceled delete")
        });
      },

       async commitPendingMessageUpdate(){
        this.dataFixModalOpen = false
        this.loading = true
        try{
          var input = {
            limit: 300,
          }
          var pendingMessages = await this.gLoadListAll(listPendingMessages, input, 'listPendingMessages')
          console.log(pendingMessages)

          await Promise.all(pendingMessages.map(async(pendingMessage)=>{
            if(pendingMessage?.staff?.id){
                var input = {
                  id: pendingMessage.id,
                  staffId: pendingMessage.staff.id,
                  group: pendingMessage.group
                }
                await this.api(updatePendingMessage, {input})
            }
          }))
        }
        catch(e){
          console.log(e)
          this.displayUserError(e)
        }
        finally{
          this.loading = false
        }
      },

      confirmSetPermissions(){
        this.$confirm("This will update all users's permissions based on their current role. Continue?", 'Warning', {
          confirmButtonText: 'Continue',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitSetPermissions()
        }).catch(() => {
          console.log("canceled delete")
        });
      },

      async commitSetPermissions(){
            this.dataFixModalOpen = false
            this.loading = true
            try{
                //load all users
                var users = await this.gLoadListAll (listUsers, {}, 'listUsers')

                await Promise.all(users.map( async user  => {
                    let role = user.role
                    let isActive = user.isActive

                    var input = {
                        id: user.id,
                        group: user.group,
                        permissionLogin: isActive
                    }

                    if(role.toLowerCase() == 'admin'){
                        input.permissionFullAccess = true
                        input.permissionDocuments = true
                        input.permissionCounselings = true
                        input.permissionAccidents = true
                        input.permissionInjuries = true
                        input.permissionDrugTests = true
                    }
                    else if(role.toLowerCase() == 'dispatcher'){
                        input.permissionFullAccess = false
                        input.permissionDocuments = true
                        input.permissionCounselings = true
                        input.permissionAccidents = true
                        input.permissionInjuries = true
                        input.permissionDrugTests = true
                    }
                    else if(role.toLowerCase() == 'supervisor'){
                        input.permissionFullAccess = false
                        input.permissionDocuments = true
                        input.permissionCounselings = true
                        input.permissionAccidents = false
                        input.permissionInjuries = true
                        input.permissionDrugTests = true
                    }
                    else if(role.toLowerCase() == 'teamlead'){
                        input.permissionFullAccess = false
                        input.permissionDocuments = false
                        input.permissionCounselings = true
                        input.permissionAccidents = false
                        input.permissionInjuries = false
                        input.permissionDrugTests = false
                    }

                    this.api(updateUser, {input: input})

                }))

                this.$message({
                    type: 'success',
                    message: "Users' Permissions Updated"
                });
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


      confirmDefaultCoaching(){
        this.$confirm("This will update all tenant's coaching settings to the defaults. Continue?", 'Warning', {
          confirmButtonText: 'Continue',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDefaultCoaching()
        }).catch(() => {
          console.log("canceled delete")
        });
      },

        async commitDefaultCoaching(){
            this.dataFixModalOpen = false
            this.loading = true
            try{
                var input = {
                    limit: 300,
                }
                var tenants = await this.gLoadListAll(searchTenants, input, 'searchTenants')


                // set default toggles and thresholds
                await Promise.all(tenants.map(async(tenant)=>{
                    // set default driver report range
                     input = {
                        id: tenant.id,
                        group: tenant.group,
                        coachingDriverRankRange: 30,
                    }
                    await this.api(updateTenantCoaching, {input: input})

                    await this.resetDefaults('Scorecard', tenant.id, tenant.group)
                    await this.resetDefaults('CXFeedback', tenant.id, tenant.group)
                    await this.resetDefaults('Mentor', tenant.id, tenant.group)
                    await this.resetDefaults('Netradyne', tenant.id, tenant.group)
                }))

            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


      /**
       * Load data using the searchTenants custom GraphQL query
       */
      async loadData(search=null, from=0){
        console.log('currentPage', this.currentPage)
        this.loading = true
        let start = (this.currentPage-1) * this.pageSize
        if(start < 0) start = 0
        try{
          var input = {
            from: start, // convert to pager limit
            limit: this.pageSize, // convert to pager limit
            filter:{
              or:[]              
            }
            // nextToken: this.nextToken,
          }
          this.activeFilters.forEach(f=>{
            input.filter.or.push({ customerStatus: { eq: f}})
          })

          // if typing a search
          // set current page to 0 and
          // size to 50 to reduce load time
          if(search){ 
            this.currentPage = 0
            this.pageSize = 25
          }
          
          if(this.search){
            input.filter.and = { or:[
              {companyName: {matchPhrasePrefix: this.search}}
              //{companyName:{ wildcard: `*${this.search}*` }},
              //{shortCode:{ wildcard: `*${this.search}*` }}
            ]}
          }
          // Standard vs XL
          if(this.activeDspFilters.length == 1){
            let usingXL = this.activeDspFilters.includes('XL') ? true : false
            if(!input.filter.and) input.filter.and = {}
            input.filter.and.usesXLcoaching = { eq: usingXL }
          }          
          
          // handle sorting
          if(this.sort){
            input.sort = { direction: this.sort.order, field: this.sort.field }
            console.log('input', input)
          }

          let results = await this.api(searchTenants, input, 'searchTenants')          
          results = await results.data.searchTenants          
          this.tableData = results.items        
 
          // save our nextToken here in case we need to count the total for pagination
          var nextToken = results.nextToken

          this.loading = false

          // PAGINATION 
          // if results >= 100 get grand_total from openSearch in separate query
          if(!from && this.tableData.length >= this.pageSize){            
            // use larger query size to reduce requests
            input.limit = 800 
            var count = this.pageSize 
            console.log('count input', input)
            do{
              input.nextToken = nextToken
              let results = await this.api(countTenants, input, 'searchTenants')
              input.from=0
              nextToken = results.data.searchTenants.nextToken
              count += results.data.searchTenants.total              
            }while(nextToken)

            this.totalTenants = count
          }else{
            if((this.totalTenants/this.pageSize)!=this.currentPage && this.currentPage === 0){
              this.totalTenants = this.tableData.length
            }
          }
        }catch(e){
          console.log(e)
          this.loading = false
          this.displayUserError(e)
        }
      },

      pageChange(e){
        this.currentPage = e
        console.log('current page from page change', this.currentPage)
        this.loadData(null, 1)        
      },

      handleSizeChange(e){
        this.pageSize = e
        this.loadData(null)
      },

      async refreshClients(){
        //confirm required data
        if( !this.newVersionNumber || !this.refreshType){
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: "Make sure the version and type are filled in."
          })
          return
        }
        let apiName = 'ForceLogoutAndRefresh'
          let path = '/forcelogoutandrefresh'
          let post = {body:{
            "newVersionNumber" : this.newVersionNumber,
            "releaseNotes": this.releaseNotes,
            "refreshType": this.refreshType,
            "currUserId": this.$store.state.userInfo.id,
            "cognitoSub": this.$store.state.userInfo.cognitoSub
            }
          }
        this.loading = true
        this.refreshModalOpen = false
        API.post(apiName, path, post) //The await was removed because this function does not need to give a response in the frontend. It should only be executed from the lambda.
        this.loading = false
      },

      /**
       * Confirm if the user wants to update staffs empty string email
       */
      confirmUserNotificationUpate(){
        this.$confirm('This will update all users with default notification settings. Update?', 'Warning',{
          confirmButtonText: 'Update',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })
        .then(() =>{
            this.setUserFlags()
        })
        .catch(() =>{
            console.log("canceled send");
        });
      },


      /** Create a new Tenant and Group */
      async createTenant(){
        this.loading = true
        try {
          // Check for available numbers
          const availableNumber = await getAvailableNumber()

          //validate form
          await this.$refs.tenantForm.$refs.form.validate();

          //Create Group
          let groupName = this.generateGroupName(this.newTenantForm.companyName)
          var resultGroupCreate = await this.createCognitoGroup(groupName)

          //Create Tenant record
          //IF YOU CHANGE THESE DEFAULTS, UPDATE THE SIGNUP FORM LAMBDA TOO

          const input = {
            ...this.newTenantForm,
            group: groupName,
            coachingDriverRankRange: 30,
            accountPremiumStatus: ["trial"],
            messageServiceProvider: 'None',
            // account type fields
            allowParentData: false,
            parentAccountId: null,
            accountType: REGULAR_ACCOUNT,
            customerStatus: 'Trial'
          }

          if (this.newTenantForm.parentAccountId) {
            input.parentAccountId = this.newTenantForm.parentAccountId;
            input.accountType = CHILD_ACCOUNT;
          }

          delete input.originationNumber
          const result = await this.api(createTenant, {input: input})
          await updateAvailableNumber(result.data.createTenant)

          await this.createCustomList(result.data.createTenant.group)
          await this.createLabelsTypes(result.data.createTenant.group)

          // default coaching thresholds
            await this.resetDefaults('Scorecard', result.data.createTenant.id, groupName)
            await this.resetDefaults('CXFeedback', result.data.createTenant.id, groupName)
            await this.resetDefaults('Mentor', result.data.createTenant.id, groupName)
            await this.resetDefaults('Netradyne', result.data.createTenant.id, groupName)
            await this.resetDefaults('EOC', result.data.createTenant.id, groupName)
          result.data.createTenant.originationNumber = availableNumber?.phoneNumber
          await this.doUpdateZohoAccountTenant(result.data.createTenant)
          
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: 'The new Tenant was successfully created.'
          });
          this.modalOpen = false
          this.tableData = []
          this.loadData()
          this.loading = false
          this.$router.push({name: 'SystemTenantDetail', params: { id: result.data.createTenant.id }})
        } catch(e) {
          this.loading = false
          console.log(e)
          if(e == false){
            e = "Please fill out all required fields and correct any errors."
          }
          this.displayUserError(e)
        }
      },

      async createCustomList(group) {
        // await customListMethods.createVehicleRoleForRouteCustomList(group, this.api)
        // await customListMethods.createRouteStatusCustomList(group, this.api)
        // await customListMethods.createRouteTypeCustomList(group, this.api)
        // await customListMethods.createDockDoorCustomList(group, this.api)

        let notificationInstance = null
        try {
          notificationInstance = this.showNotify('Parking Space')
          await customListMethods.createParkingSpaceCustomList(group, this.api)
          notificationInstance.close()

          notificationInstance = this.showNotify('Vehicle Type')
          await customListMethods.createVehicleTypeCustomList(group, this.api)
          notificationInstance.close()

          notificationInstance = this.showNotify('Incident Type')
          await customListMethods.createIncidentTypeCustomList(group, this.api)
          notificationInstance.close()

          notificationInstance = this.showNotify('Counseling Severity')
          await customListMethods.createCounselingSeverityCustomList(group, this.api)
          notificationInstance.close()

          notificationInstance = this.showNotify('Associate Issue Type')
          await customListMethods.createIssueTypeCustomList(group, this.api)
          notificationInstance.close()

          notificationInstance = this.showNotify('Associate Kudo Type')
          await customListMethods.createKudoTypeCustomList(group, this.api)
          notificationInstance.close()
        } catch (e) {
          notificationInstance?.close()
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e
          })
        }
      },

      
      showNotify(customListType){
        //show notification when creating custom list
        return this.$notify({
            title: 'Info',
            message: `Creating a Custom List of ${customListType}...`,
            type: 'info',
            offset: 100,
            duration: 0
        })
      },

      async createLabelsTypes( group ){
        try{
          await labelsMethods.createDefaultTypes( group, this.api )
        }catch(e){
            console.log(e)
            this.displayUserError(e)
        }
      },
      async resetDefaults(source, tenantId, group){
        try{
            var all = null
            var weeklyOrDaily = source == 'Scorecard' || source == 'CXFeedback' ? 'weekly' : 'daily'

            // build default objects
            let sliderDefaults = this[weeklyOrDaily + 'PerformanceMetrics'].map(metric =>{
                return {defaults: metric.defaults, sliderField: metric.sliderField, src: metric.src}
            }).filter(item => {return item.src == source})

            let defaultThresholds = {}
            this[weeklyOrDaily + 'PerformanceMetrics'].forEach(metric =>{
                if(metric.src == source){
                    if(metric.defaults.thresholdIssue ) defaultThresholds['coaching' + metric.name + 'ThresholdIssue'] = metric.defaults.thresholdIssue
                    if(metric.defaults.threshold ) defaultThresholds['coaching' + metric.name + 'Threshold'] = metric.defaults.threshold
                    if(metric.defaults.thresholdPR ) defaultThresholds['coaching' + metric.name + 'ThresholdPR'] = metric.defaults.thresholdPR
                    if(metric.defaults.thresholdKudo ) defaultThresholds['coaching' + metric.name + 'ThresholdKudo'] = metric.defaults.thresholdKudo
                    if(metric.defaults.ratingIssue ) defaultThresholds['coaching' + metric.name + 'RatingIssue'] = metric.defaults.ratingIssue
                    if(metric.defaults.thresholdKudo ) defaultThresholds['coaching' + metric.name + 'RatingKudo'] = metric.defaults.ratingKudo
                    if(metric.defaults.ratingCO) defaultThresholds['coaching' + metric.name + 'RatingCO'] = metric.defaults.ratingCO
                    if(metric.defaults.ratingPR) defaultThresholds['coaching' + metric.name + 'RatingPR'] = metric.defaults.ratingPR
                }
            })

            let defaultEnable = {}
            this[weeklyOrDaily + 'PerformanceMetrics'].forEach(metric =>{
                if(metric.src == source){
                    if(metric.defaults.issue != null && metric.defaults.issue != undefined) defaultEnable['coaching' + metric.name + 'Issue'] = metric.defaults.issue
                    if(metric.defaults.co != null && metric.defaults.co != undefined) defaultEnable['coaching' + metric.name + 'CO'] = metric.defaults.co
                    if(metric.defaults.pr != null && metric.defaults.pr != undefined) defaultEnable['coaching' + metric.name + 'PR'] = metric.defaults.pr
                    if(metric.defaults.kudo != null && metric.defaults.kudo != undefined) defaultEnable['coaching' + metric.name + 'Kudo'] = metric.defaults.kudo
                }
            })

            const objectSplit1 = Object.entries(defaultThresholds).slice(0, 40)
            const objectSplit2 = Object.entries(defaultThresholds).slice(40)

            const defaultThresholds1 = objectSplit1.reduce(function(acc, obj) {
                acc[obj[0]] = obj[1];
                return acc;
            }, {});

            const defaultThresholds2 = objectSplit2.reduce(function(acc, obj) {
                acc[obj[0]] = obj[1];
                return acc;
            }, {});

            // update thresholds  part 1
            var input = {
                id: tenantId,
                group: group,
                ...defaultThresholds1
            }
            await this.api(updateTenantCoaching, {input: input})

            if(objectSplit2.length > 0) {
                // update thresholds part 2
                // Second update is needed to avoid "Invalid UpdateExpression: Expression size has exceeded the maximum allowed size
                var input = {
                    id: tenantId,
                    group: group,
                    ...defaultThresholds2
                }
                await this.api(updateTenantCoaching, {input: input})
            }

            // update enables
            input = {
                id: tenantId,
                group: group,
                ...defaultEnable
            }
            await this.api(updateTenantCoaching, {input: input})
        }
        catch(e){
            console.log(e)
            this.displayUserError(e)
            this.loading = false
        }

      },

      /** Create a cognito group for the new tenant */
      async createCognitoGroup(groupName) {
        let apiName = 'AdminQueries';
        let path = '/createGroup';
        let myInit = {
            body: {
              "groupname": groupName
            },
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            }
        }
        var result = await API.post(apiName, path, myInit);
        return result
      },

      generateGroupName(groupName) {
        let randomNumber = Math.ceil(Math.random() * 100)

        const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
        const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
        const p = new RegExp(a.split('').join('|'), 'g')

        let cleanGroupName = groupName.toString().toLowerCase()
          .replace(/\s+/g, '-') // Replace spaces with -
          .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
          .replace(/&/g, '-and-') // Replace & with 'and'
          .replace(/[^\w\-]+/g, '') // Remove all non-word characters
          .replace(/\-\-+/g, '-') // Replace multiple - with single -
          .replace(/^-+/, '') // Trim - from start of text
          .replace(/-+$/, '') // Trim - from end of text
        return cleanGroupName + "-" + randomNumber
      },

      /**
       * On row click go to the StaffDetail route.
       * @param {object} row
       * @param {object} column
       * @param {object} event
       */
      handleRowClick(row, column, event){
        this.$router.push({name: 'SystemTenantDetail', params: { id: row.id }})
      },


      /**
       * Gets a single cognito user
       * @param {string} username
       * */
      async listCognitoUsers(){
        let apiName = 'AdminQueries';
        let path = '/listUsers';
        let myInit = {
            queryStringParameters: {
              "limit": 5,
              "filter": "cognito:user_status = \"FORCE_CHANGE_PASSWORD\""
            },
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            }
        }
        var result = await API.get(apiName, path, myInit);
        console.log(result)
      },


      async updateTenantsOrigination(){

        try {
          var cleanPhone = this.cleanPhoneNumber(this.originationNumberTemp)

          if (cleanPhone.length > 11){
            throw { errors: [{ message: 'invalid phone number: too long'}]}
          }else if (cleanPhone.length < 10){
            throw { errors: [{ message: 'invalid phone number: too short'}]}
          }else if (cleanPhone.length == 10){
            cleanPhone = '+1' + cleanPhone
          }else if (cleanPhone.length == 11){
            cleanPhone = '+' + cleanPhone
          }

          await Promise.all(this.tableData.map( async tenant  => {
            var input = {
                id: tenant.id,
                group: tenant.group,
                originationNumber: cleanPhone
            }

            var result = this.api(updateTenant, {input: input})

          }))
          this.originationModalOpen = false
          this.originationNumberTemp = ''

          this.$message({
            type: 'success',
            message: 'Tenants Updated'
          });

          await this.loadData()

        }catch(e){
          this.originationModalOpen = false
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.errors[0].message
          })
        }
      },

      async setUserFlags(){
        //load all users
        var users = await this.gLoadListAll (listUsers, {}, 'listUsers')
        console.log(users)
        // return

        try {
          await Promise.all(users.map( async user  => {
            var input = {
                id: user.id,
                group: user.group,
                receiveSmsTaskReminders: user.phone ? true : false,
                receiveEmailTaskReminders: user.email ? true : false,
                receiveSmsTaskAssignments: user.phone ? true : false,
                receiveEmailTaskAssignments: user.email ? true : false,
            }
            // console.log(user.firstName + ' ' + user.lastName)
            // console.log(input)
            var result = this.api(updateUser, {input: input})

          }))

          this.$message({
            type: 'success',
            message: 'Users Updated'
          });

        }catch(e){
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.errors[0].message
          })
        }
      },

      async commitDAStatusesUpdate(){
        try{
          //Update all staff with the inactive status
          var input = {
            status: 'Inactive',
            limit: 1000
          }

          var inactiveStaffs = await this.gLoadListAll(staffsByStatus, input, 'staffsByStatus')
          console.log({inactiveStaffs:inactiveStaffs})
          await Promise.all(inactiveStaffs.map(async(staff)=>{
            var input = {
              id: staff.id,
              group: staff.group,
              status: 'Inactive - Misc'
            }
            await this.api(updateStaff, {input: input})
          }))

          //Update all staff with the medical leave status
          var input = {
            status: 'Medical Leave',
            limit: 1000
          }

          var medicalLeaveStaffs = await this.gLoadListAll(staffsByStatus, input, 'staffsByStatus')
          console.log({medicalLeaveStaffs:medicalLeaveStaffs})
          await Promise.all(medicalLeaveStaffs.map(async(staff)=>{
            var input = {
              id: staff.id,
              group: staff.group,
              status: 'Inactive - Medical Leave'
            }
            await this.api(updateStaff, {input: input})
          }))

          //Update all staff with the terminated status
          var input = {
            status: 'Terminated',
            limit: 1000
          }

          var terminatedStaffs = await this.gLoadListAll(staffsByStatus, input, 'staffsByStatus')
          console.log({terminatedStaffs:terminatedStaffs})
          await Promise.all(terminatedStaffs.map(async(staff)=>{
            var input = {
              id: staff.id,
              group: staff.group,
              status: 'Inactive - Terminated'
            }
            await this.api(updateStaff, {input: input})
          }))

          this.dataFixModalOpen = false
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: `${this.$t('label.associate')} update successful`
          })

        }
        catch(e){
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
          })
        }
        finally{
          this.loading = false;
        }
      },


      /**
       * Confirms if user wants to delete the old DA inactive statuses
       */
      daStatusConfirmation(){
        this.$confirm(`This will update all ${this.$t('label.associates')} will outdated status values. Continue?`, 'Warning', {
          confirmButtonText: 'Update',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDAStatusesUpdate()
        }).catch(() => {
          console.log("canceled update")
        });
      },

      // this is part of HERA-472. It can be removed when HERA-472 is no longed needed.
      async generateReport() {
        this.loading = true

        let reportData = []

        for (const key in this.seeds) {

          try {
            var list = await this.getValueListsByKey(key)
            let result = this.compareItems(key, list)
            reportData.push(...result)

          } catch(e){
            console.log(e)
          }
        }

        reportData.sort((a, b) => {
          return ('' + a.companyName.toLowerCase()).localeCompare(b.companyName.toLowerCase());
        })

        this.exportCSV(reportData)
        this.dataFixModalOpen = false
        this.loading = false
      },

      // this is part of HERA-472. It can be removed when HERA-472 is no longed needed.
      compareItems(key, list) {
        let seedItems = this.seeds[key].values,
            dspList = []

        list.forEach(item => {
          if(item) {
            item.statesList = []

            item.valuesList.forEach(valueItem => {
              if(!valueItem.hidden && !valueItem.deleted) {
                if(!seedItems.includes(valueItem.value)) {
                  dspList.push(item)
                  item.statesList.push(valueItem.value)
                }
              }

            })
          }
        })

        dspList.forEach(item => delete item.valuesList)

        return [...new Set(dspList)]
      },

      // this is part of HERA-472. It can be removed when HERA-472 is no longed needed.
      async getValueListsByKey(key) {
        this.loading = true
        var valueLists
        var input = {
          key,
          limit: 1000
        }

        valueLists = await this.gLoadListAllValueLists(valueListsByKey, input, 'valueListsByKey')

        return valueLists.map(item => {
          if(item) {
            return {
              id: item.tenant.id,
              companyName: item.tenant.companyName.replaceAll(',',''),
              key: item.key,
              valuesList: item.items.items
            }
          }
        })
      },

      // this is part of HERA-472. It can be removed when HERA-472 is no longed needed.
      exportCSV(arrData) {
        const fileName = `report-dsplist-${this.$moment().format('MM/DD/YYYY')}.csv`
        exportCSV({arrData, fileName})
        this.showExportDialog = false
      },

      gLoadListAllValueLists: async (query, input, queryName) => {
        var nextToken = null
        var list = []
        do{
            input.nextToken = nextToken
            var response
            try{
              response = await API.graphql(graphqlOperation(query, cleanVars(input, query)))
            }
            catch(err){
              response = err
            }

            list = [ ...list, ...response.data[queryName].items]
            nextToken = response.data[queryName].nextToken
        } while (nextToken)

        return list
      },
      async setMessageService() {
        this.loading = true;
        try{
          //Loop through every value list
          const listTenant = await this.gLoadListAll(searchTenants, {nextToken: null}, 'searchTenants');
          await listTenant.map(async (tenant)=>{
            let input = {
              id: tenant.id,
              group: tenant.group,
              messageServiceProvider: 'Bandwidth',
            }

            if(!tenant.originationNumber || tenant.originationNumber==='+11111111111') {
              input.messageServiceProvider = 'None';
            }

            await this.api(updateTenantMessageService, {input: input})

            let inputForHistory ={
              previousMessageServicerProvider: tenant.messageServiceProvider,
              currentMessageServicerProvider: input.messageServiceProvider,
              date: this.$moment(),
              messageServiceProviderTenantId: tenant.id,
              group: tenant.group,
            }
            await this.api(createMessageServiceProvider, {input:inputForHistory})
          })
        }
        catch(e){
          console.log(e)
          this.loading = false;
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
          })
        }
        finally{
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: 'Tenants Updated'
          });
          this.dataFixModalOpen= false;
          this.loading = false;
        }
      },
      async setDaTierCdfScore() {
        this.loading = true;
        try{
          console.log('called setDaTierCdfScore')
          const listTenant = await this.gLoadListAll(searchTenants, {nextToken: null}, 'searchTenants');
          await listTenant.map(async (tenant)=>{

          // coachingDaTierThresholdIssue
          // coachingDaTierThresholdKudo
          // coachingDaTierIssue
          // coachingDaTierKudo
          // coachingDaTierRatingIssue
          // coachingDaTierRatingCO
          // coachingDaTierRatingPR
          // coachingDaTierCO
          // coachingDaTierPR
          // coachingDaTierRatingKudo

          // coachingCdfScoreThresholdIssue
          // coachingCdfScoreThreshold
          // coachingCdfScoreThresholdPR
          // coachingCdfScoreThresholdKudo
          // coachingCdfScoreIssue
          // coachingCdfScoreKudo
          // coachingCdfScoreRatingIssue
          // coachingCdfScoreCO
          // coachingCdfScorePR
          // coachingCdfScoreRatingKudo

            let input = {
              id: tenant.id,
              group: tenant.group,
              coachingCdfScoreCO: false,
              coachingCdfScoreIssue: false,
              coachingCdfScoreKudo: false,
              coachingCdfScorePR: false,
              coachingCdfScoreThreshold: 100,
              coachingCdfScoreThresholdIssue: 96,
              coachingCdfScoreThresholdKudo: 100,
              coachingCdfScoreThresholdPR: 100,
              coachingDaTierCO: true,
              coachingDaTierIssue: true,
              coachingDaTierKudo: true,
              coachingDaTierPR: true,
              coachingDaTierRatingCO: 'Great',
              coachingDaTierRatingIssue: 'Fair',
              coachingDaTierRatingKudo: 'Fantastic',
              coachingDaTierRatingPR: 'Fantastic',
              coachingDaTierThresholdIssue: 0,
              coachingDaTierThresholdKudo: 0
            }

            console.log('---tenant input', JSON.stringify(input))
            await this.api(updateTenant, {input: input})

          })
        } catch(e){
          console.log('---setDaTierCdfScore', e)
          this.loading = false;
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
          })
        } finally{
          this.displayUserNotification({
            title: "Success",
            type: "success",
            message: 'Setting DaTier and CdfScor Done'
          });
          this.dataFixModalOpen= false;
          this.loading = false;
        }
      },
      
      getFilterStatusChecked(){
        return [
          {
            filter: 'Customer Status',
            values: this.filterStatusChecked
          },
          {
            filter: 'DSP Type',
            values: this.filterDspChecked
          }
        ]
      },
      async doUpdateZohoAccountTenant(tenant){
        let _payload = {
          id: tenant.zohoCrmAccountRecordId,
                    Tenant_ID: tenant.id,
                    Account_Name: tenant.companyName,
                    Short_Code:tenant.shortCode,
                    Uses_XL_Coaching:tenant.usesXLcoaching ? "Yes" : "No",
                    Origination_Number:tenant.originationNumber,
                    Customer_Status:tenant.customerStatus,
                    Cancellation_Reason:tenant.accountCanceledReason,
                    Discount_Percent:tenant.discountPercent ? tenant.discountPercent.toString() : "",
                    Discount_Percent_Label:tenant.discountPercentLabel,
                    Discount_Fixed:tenant.discountFixed ? tenant.discountFixed.toString() : "",
                    Discount_Fixed_Labeld:tenant.discountFixedLabel,
                    Trial_Expiration_Date:moment(tenant.trialExpDate).format(),
                    Timezone:tenant.timeZone          
        }
        if(tenant.parentAccount && tenant.parentAccount.zohoCrmAccountRecordId){
          _payload.Parent_Account = {id: tenant.parentAccount.zohoCrmAccountRecordId}
        }
        try {
          if(!this.$store.getters.isZohoCrmDisabled)
              await updateZohoAccountTenant('update', _payload, this.displayUserError)
          } catch (error) {
            console.log('error updating zoho account', error)
          }
      },

    }
  }

// this is part of HERA-472. It can be removed when HERA-472 is no longed needed.
function cleanVars(variables, query){
  //Remove created/updated timestamps from mutations.
  if( variables.input ){
    if(variables.input.createdAt && !query.includes('mutation UpdateMessage')){
      delete variables.input.createdAt
    }
    if(variables.input.updatedAt){
      delete variables.input.updatedAt
    }
    if(!variables.input.group && !query.includes("$input: Delete")){
      variables.input.group = store.state.userInfo.tenant.group
    }
  }

  return variables
}
</script>

<style>
.el-message-box__header .el-message-box__title{
  padding-left: 0px !important;
}
.el-dialog__body{
  padding-top: 0
}
@media screen and (max-width: 768px) {
  .el-pagination__sizes{
    display: none !important;
  }
}
</style>
