/*======= medium devices 1200-1365 =========*/
.dashboard_container .right_box .dropdown_toggle {
  margin-left: 30px;
}

.dashboard_container .mid_box .dropdown_toggle.mid_dp {
  margin-left: 300px;
}

/*--------- 992 -----------*/

/*======= medium devices 1200-1365 =========*/
.dashboard_container .right_box .dropdown_toggle {
  margin-left: -10px;
}

.dashboard_container .mid_box .dropdown_toggle.mid_dp {
  margin-left: 200px;
}

.dashboard_container .right_box .dropdown-menu {
  left: -122px;
}

.dashboard_container .left_col .left_menu .btn {
  width: 19%;
}

.dashboard_container .left_col .left_menu .search_input {
  width: 82%;
}

.dashboard_container .left_col {
  padding: 0 15px;
}

.dashboard_container .left_col .left_logo {
  width: 100%;
}

.Tablet_visible {
  display: block;
}

.Tablet_hidden {
  display: none;
}

/*------ 768 ---------*/

.login_container .login_box h6 {
  margin-right: 68px;
}

.login_container .login_div {
  margin-bottom: 100px;
}

.login_container .login_box h6 {
  margin-bottom: 30px;
}

.dashboard_container .left_col .left_logo {
  display: block;
  float: none;
  margin: 0 auto 20px;
  text-align: center;
  width: 60%;
}

.dashboard_container .left_col .left_menu .btn {
  width: 18%;
}

.dashboard_container .left_col,
.dashboard_container .mid_col,
.dashboard_container .right_col {
  margin-bottom: 30px;
}

.dashboard_container .right_box .dropdown_toggle {
  margin-left: 430px;
}

.dashboard_container .mid_box .dropdown_toggle.mid_dp {
  margin-left: 450px;
}

.login_container .login_box h4 {
  margin-left: 72px;
}

.login_container .login_box h5 {
  margin-left: 72px;
}

/*============= All Clients ==============*/

.dashboard_container .double_box .box_content {
  padding: 10px 5px;
}

/* .dashboard_container .double_col .allclients_form .dropdwn{
	width: 25%;
} */
.dashboard_container .double_col .allclients_form .form_btn_col {
  padding-right: 22px;
}

.dashboard_container .detail_section .detail_heading {
  padding-left: 10px;
}

/*============ potential client =============*/

.dashboard_container .potential_client .pclient_lbl {
  width: 15%;
}

.dashboard_container .potential_client .pclient_table .fa {
  text-align: center;
  float: none;
  margin: 5px auto;
  display: block;
}

.dashboard_container .potential_client .pclient_input {
  margin-bottom: 10px;
}

.dashboard_container .potential_client {
  padding: 0 5px;
}

/*========== reports  ==========*/

/* .dashboard_container .right_box .report_details h2{
	width: 100%;
	display: block;
	border: none;
}

.dashboard_container .right_box .report_details h3{
	text-align: left;
} */

/* .dashboard_container .reports_box .visatype_btn{
	width: 43%;
	margin: 0 10px 15px;
} */

/*-------- 16-9 ----------*/

.accordion_container .total_div .deposit_div h5 {
  width: 100%;
  display: block;
}

/*------- 19-9 ------*/

.dashboard_container
  .double_col
  .allclients_table.client_documents
  tr
  th:nth-child(2),
.dashboard_container
  .double_col
  .allclients_table.client_documents
  tr
  td:nth-child(2) {
  width: 8%;
}

.emailtabs_container .mail_foter span {
  margin: 0 5px;
}

/*-------- 21-9 ---------*/

.dashboard_container .left_col .left_menu .loggedin_profile .profile_details {
  padding-top: 70px;
  padding-left: 70px;
}

/*----- 21-10-16 -----*/

/* .dashboard_container .todos_tasks .chkbox_p.blue_chkbx{
	width: 28%;
} */

.dashboard_container .todos_tasks a {
  vertical-align: top;
}

.dashboard_container .todos_tasks .fa {
  margin-top: 6px;
}

.dashboard_container .task_drpdwn .dropdown-menu {
  left: auto;
  right: 0;
}

/*---- 24-10-16 ----*/

.dashboard_container .detail_section .detail_body .mob_info_input {
  width: 33%;
}

.dashboard_container .double_col .allclients_form .dropdwn.halfwidth_dp,
.bootstrap-select.dropdwn.halfwidth_dp {
  width: 30%;
}

.dashboard_container .potential_client .pclient_table .fa {
  display: inline-block;
}
.dashboard_container .todos_tasks .fa {
  vertical-align: top;
}
/**********Editing by Mehdi 27/10/2016 Adjusting Undo icon**********/

.dashboard_container
  .detail_section
  .detail_body
  .n_invoice_table
  .info_input.datepicker {
  width: 78%;
}
.dashboard_container .detail_section .detail_body .info_input.datepicker {
  width: 48%;
}

.with-nav-tabs.panel-default.inner_ttabs .nav-tabs > li > a {
  margin-top: 7px;
}

.dashboard_container .detail_section .detail_body .info_input.datepickerm {
  width: 46%;
}

/*------ Final bugs fixing SAKM (26-1-17) -------*/

.dashboard_container .double_col .allclients_table tr th:nth-child(3),
.dashboard_container .double_col .allclients_table tr td:nth-child(3) {
  width: 14%;
}
