.client-status-box h2 {
  width: 42%;
}

.status-detail-box .sd-datarow .chkbx-txt {
  width: 66.5%;
}

.status-detail-box .sd-heading h5 {
  width: 73%;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons {
  width: 22%;
}

.field-input {
  width: 70%;
}

.one-fourth {
  width: 22%;
}

.one-fourth.o-f {
  width: 28%;
}

.select-box {
  width: 42%;
}

/*------ category & checklist page --------*/

.full-width.status-detail-box .sd-datarow .flt-icons {
  width: 10%;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  width: 85%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  line-height: normal;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 75%;
}

.blu-bullet {
  margin-right: 5px;
}

.select-box select.cm-select {
  width: 175px;
}
