.client-status-box h2 {
  width: 42%;
}

.status-detail-box .sd-datarow .chkbx-txt {
  width: 72%;
}

.status-detail-box .sd-heading h5 {
  width: 88%;
}

.status-detail-box .sd-ckhbx {
  width: 2.4%;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons {
  width: 14%;
}

.field-input {
  width: 70%;
}

.one-fourth {
  width: 20%;
}

.one-fourth.o-f {
  width: 28%;
}

/*------ category & checklist page --------*/

.full-width.status-detail-box .sd-datarow .flt-icons {
  width: 9%;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  width: 86.5%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  line-height: normal;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 75%;
}

.blu-bullet {
  margin-right: 8px;
}
