.client-status-box h2 {
  width: 32.5%;
  padding-left: 10px;
}

.status-detail-box .sd-datarow .chkbx-txt {
  width: 78.5%;
}

.green-bullet {
  margin: 0 8px 5px 0;
}

.status-btndiv {
  width: 29%;
}

.status-btn-box {
  width: 26%;
}

.status-detail-box .sd-ckhbx {
  width: 4%;
}

.status-detail-box .sd-heading h5 {
  width: 82%;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons {
  width: 15%;
}

.field-input {
  width: 70%;
}

.one-fourth {
  width: 32%;
  margin-bottom: 15px;
  margin-right: 5px;
}

.one-fourth.o-f {
  width: 38%;
}

.select-box {
  width: 48%;
}

.main-view-header .client-img-box {
  margin-right: 10px;
}

.main-view-header .cinfo-box .client-tel {
  margin-right: 15px;
}

.status-btn-box {
  margin-right: 0;
}

.main-view-header .cinfo-box .client-name {
  font-size: 26px;
}

.small-heading {
  font-size: 20px;
}

select.cm-select {
  margin-left: 10px;
}

.select-status-box .cm-btn.add-btn {
  float: right;
  margin: 15px 0;
}

.isotope {
  clear: both;
}

.status-detail-box {
  width: 100%;
}

.client-status-box .progress-bar-info,
.c-descp .progress-bar-info {
  font-size: 14px;
}

.one-third {
  margin-bottom: 15px;
  width: 44%;
  margin-right: 5px;
}

/*------ category & checklist page --------*/

.full-width.status-detail-box .sd-datarow .flt-icons {
  width: 13.5%;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  width: 81.5%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  line-height: normal;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 75%;
}

.checklist-div select.cm-select {
  margin: 0 auto;
}

.big-heading.extra-marg {
  padding: 0;
}

.checklist-innerdiv {
  margin: 30px 20px 0;
}

.blu-bullet {
  margin-right: 5px;
}

/*------- 9-1-2017 (top right btns) ---------*/

.top-blubar .top-right-btns {
  float: none;
  margin-top: 8px;
}

.top-blubar .top-right-btns .btn {
  margin-left: 0;
  margin-right: 12px;
}

.select-box select.cm-select {
  width: 145px;
}
