.client-status-box h2 {
  width: 78%;
}

.status-detail-box .sd-datarow .chkbx-txt {
  width: 84%;
  line-height: normal;
}

.status-detail-box .sd-heading h5 {
  width: 58%;
}

.status-detail-box .sd-ckhbx {
  width: 8%;
  vertical-align: top;
  padding-bottom: 0;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons {
  width: 38%;
  vertical-align: top;
}

.status-detail-box .sd-datarow .flt-icons {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.field-input {
  width: 69%;
}

.one-fourth {
  width: 44%;
  margin-bottom: 15px;
  margin-right: 0;
}

.one-fourth.o-f {
  width: 55%;
}

.field-lbl {
  min-width: 21%;
  margin-right: 3px;
  font-size: 17px;
}

.field-input.half-width {
  width: 36%;
}

.select-box {
  width: 100%;
  display: block;
  margin-bottom: 7px;
}

.main-view-header .client-img-box {
  margin-right: 10px;
}

.main-view-header .cinfo-box .client-tel {
  margin-right: 15px;
}

.status-btn-box {
  margin-right: 0;
  width: 15%;
}

.small-heading {
  font-size: 18px;
}

select.cm-select {
  margin-left: 0;
  margin-right: 10px;
}

.select-status-box .cm-btn.add-btn {
  float: right;
  margin: 15px 0;
}

.isotope {
  clear: both;
}

.status-detail-box {
  width: 100%;
}

.client-status-box .progress-bar-info,
.c-descp .progress-bar-info {
  font-size: 14px;
}

.one-third {
  margin-bottom: 15px;
  width: 48%;
  margin-right: 3px;
}

.main-view-container .ezy-logo {
  width: 80%;
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
}

.left-cm-menu {
  margin-top: 20px;
}

.right-cm-view {
  margin-top: 30px;
}

.main-view-header .cinfo-box {
  width: 66%;
}

.chklist-box .c-descp {
  width: 49%;
}

.chklist-box .c-task,
.chklist-box .c-status,
.chklist-box .c-descp {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.search-table tr th,
.search-table tr td {
  min-width: 90px;
}

.search-table tr th:first-child,
.search-table tr td:first-child {
  min-width: 45px;
}

.search-table tr th:nth-child(5),
.search-table tr td:nth-child(5),
.search-table tr th:nth-child(8),
.search-table tr td:nth-child(8),
.search-table tr th:last-child,
.search-table tr td:last-child {
  min-width: 130px;
}

.client-status-box .progrs-box .field-lbl {
  min-width: auto;
  font-size: 14px;
}

.top-blubar {
  padding: 20px 22px;
}

.top-search-box {
  width: 100%;
}

.top-search-box input.tsearch-input {
  width: 85%;
}

.cstatus-btn {
  margin-right: 0;
}

.chklist-box {
  padding: 15px 10px 50px;
}

.status-detail-box .sd-heading {
  padding: 15px 10px 10px;
}

.status-detail-box .sd-datarow {
  width: 95%;
}

.select-box .small-heading {
  width: 100%;
}

.inner-content-box {
  padding: 10px;
}

.main-view-container {
  padding: 33px 15px 0;
}

.top-blubar .pipe {
  display: none;
  display: none;
}

.adv-search-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.client-status-box {
  padding-bottom: 5px;
  height: auto;
}

.client-status-box .progress,
.client-status-box .progrs-box {
  width: 85%;
  margin-left: 3%;
  margin-top: 5px;
}

.client-status-box .progrs-box .progress {
  margin-left: 0;
  width: 100%;
}

.status-detail-box .sd-datarow .flt-icons .separator,
.status-detail-box .sd-heading .flt-icons .separator {
  opacity: 0;
  margin: 0;
  font-size: 8px;
}

.one-third,
.one-fourth,
.one-half,
.one-fourth.o-f {
  width: 100%;
  display: block;
}

footer h6 {
  padding: 10px 0;
  line-height: 24px;
}

.client-status-box h2 {
  padding-left: 14px;
}

.cm-btn span {
  line-height: 22px;
  font-size: 22px;
}

.algn-cntr {
  text-align: left;
}

.chklist-box .c-descp {
  padding-bottom: 5px;
  border-bottom: 2px solid #555;
}

.chklist-box .chklist-datarow {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cecece;
}

.chklist-box .chklist-datarow .c-descp {
  border: none;
}

/* [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
	font-size: 18px;
}

.flaticon-profile[class^="flaticon-"]:before, .flaticon-profile[class*=" flaticon-"]:before, .flaticon-profile[class^="flaticon-"]:after, .flaticon-profile[class*=" flaticon-"]:after{
	font-size: 20px;
} */

/*------ category & checklist page --------*/

.full-width.status-detail-box .sd-datarow .flt-icons {
  width: 100%;
  display: block;
  text-align: center;
}

.isotope .status-detail-box .sd-heading .flt-icons {
  width: 38%;
  display: inline-block;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  width: 85%;
}

.full-width.status-detail-box .sd-ckhbx {
  width: 9%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  line-height: normal;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 75%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  font-size: 20px;
}

.checklist-div select.cm-select {
  margin: 0 auto;
}

.big-heading.extra-marg {
  padding: 0;
}

.checklist-innerdiv {
  margin: 30px 20px 0;
}

.category-div {
  margin: 0 5px;
}

.full-width.status-detail-box .add-task-div {
  margin: 15px 5px;
  padding: 10px;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  margin-bottom: 5px;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl,
.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 100%;
  display: block;
}

.big-heading {
  font-size: 26px;
}

.checklist-div .field-input {
  width: 245px;
}

.checklist-div select {
  min-width: 245px;
}

.category-accor .accor-row h3 {
  padding-left: 10px;
}

.category-accor .accor-row .fa {
  margin-right: 10px;
}

.sub-category-div {
  padding: 10px;
}

.cm-btn.marg-btn {
  margin: 22px 9px 22px 0;
}

.checklist-innerdiv .cm-btn {
  padding: 3px 15px;
}

.field-lbl.mobile-hidden {
  display: none;
}

.full-width.status-detail-box {
  margin-top: 25px;
}

.inner-content-box {
  margin: 10px;
}

.checklist-innerdiv {
  margin: 30px 10px 0;
  padding: 10px;
}

/*-----------------*/

.blu-bullet {
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
}

ul.enlarge {
  display: block;
  margin-left: 0;
  margin-top: 10px;
}

ul.enlarge li {
  margin-bottom: 10px;
}

.add-person-div select.cm-select.blu-select.fl-right {
  float: none;
}

select.cm-select.blu-select {
  vertical-align: top;
  margin: 0;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  vertical-align: top;
}

h1.page-heading {
  font-size: 28px;
}

/*--------2-1-17--------*/

.status-btn-box {
  width: 45%;
}

.status-btndiv {
  width: 51%;
}

.cstatus-btn {
  padding: 0 10px;
}

.icon-drpdwn .dropdown-menu {
  left: -45px;
}

.inner-content-box {
  margin: 5px;
}

/* .client-status-box h2,
.status-btndiv,
.status-btn-box{
	display: block;
	width: 100%;
} */

.status-btn-box {
  padding-left: 10px;
}

.status-btndiv {
  margin: 5px 0;
  margin-left: 10px;
}

/*------- 9-1-2017 (top right btns) ---------*/

.top-blubar .top-right-btns {
  float: none;
  margin-top: 8px;
  text-align: center;
  display: block;
}

.top-blubar .top-right-btns .btn {
  display: block;
  margin: 8px auto;
  text-align: center;
  float: none;
}

/*-------- Final Changes SAKM (27-1-17) --------*/

.one-fourth select.cm-select {
  max-width: 175px;
}
