.client-status-box h2 {
  width: 24.5%;
  padding-left: 5px;
}

.status-btn-box {
  width: 32%;
}

.status-btndiv {
  width: 35%;
}

.status-detail-box .sd-datarow .chkbx-txt {
  width: 76%;
}

.status-detail-box .sd-ckhbx {
  width: 4%;
}

.status-detail-box .sd-heading h5 {
  width: 80%;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons {
  width: 17%;
}

.field-input {
  width: 59%;
}

.one-fourth {
  width: 44%;
  margin-bottom: 15px;
  margin-right: 0;
}

.one-fourth.o-f {
  width: 55%;
}

.field-lbl {
  min-width: auto;
  margin-right: 3px;
  font-size: 17px;
}

.field-input.half-width {
  width: 33%;
}

.select-box {
  width: 100%;
  display: block;
  margin-bottom: 7px;
}

.status-btn-box {
  margin-right: 0;
  width: 15%;
}

.small-heading {
  font-size: 18px;
}

select.cm-select {
  margin-left: 5px;
  margin-right: 10px;
}

.select-status-box .cm-btn.add-btn {
  float: right;
  margin: 15px 0;
}

.isotope {
  clear: both;
}

.status-detail-box {
  width: 100%;
}

.client-status-box .progress-bar-info,
.c-descp .progress-bar-info {
  font-size: 14px;
}

.one-third {
  margin-bottom: 15px;
  width: 48%;
  margin-right: 3px;
}

.main-view-container .ezy-logo {
  width: auto;
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
}

.left-cm-menu {
  margin-top: 20px;
}

.right-cm-view {
  margin-top: 30px;
}

.main-view-header .cinfo-box {
  width: 80%;
}

.chklist-box .c-descp {
  width: 49%;
}

.chklist-box .c-task,
.chklist-box .c-status {
  width: 24%;
}

.search-table tr th,
.search-table tr td {
  min-width: 90px;
}

.search-table tr th:first-child,
.search-table tr td:first-child {
  min-width: 45px;
}

.search-table tr th:nth-child(5),
.search-table tr td:nth-child(5),
.search-table tr th:nth-child(8),
.search-table tr td:nth-child(8),
.search-table tr th:last-child,
.search-table tr td:last-child {
  min-width: 130px;
}

.client-status-box .progrs-box .field-lbl {
  min-width: auto;
  font-size: 14px;
}

.top-blubar {
  padding: 20px 22px;
}

.top-search-box {
  width: 52%;
}

.top-search-box input.tsearch-input {
  width: 82%;
}

.cstatus-btn {
  margin-right: 2%;
}

.chklist-box {
  padding: 15px 10px 50px;
}

.status-detail-box .sd-heading {
  padding: 15px 10px 10px;
}

.status-detail-box .sd-datarow {
  width: 95%;
}

.select-box .small-heading {
  width: 32%;
}

.inner-content-box {
  padding: 10px;
}

.main-view-container {
  padding: 33px 15px 0;
}

/*------ category & checklist page --------*/

.full-width.status-detail-box .sd-datarow .flt-icons {
  width: 17%;
}

.full-width.status-detail-box .sd-datarow .chkbx-txt {
  width: 77%;
}

.full-width.status-detail-box .sd-ckhbx {
  width: 4%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  line-height: normal;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input {
  width: 75%;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl {
  font-size: 18px;
}

.checklist-div select.cm-select {
  margin: 0 auto;
}

.big-heading.extra-marg {
  padding: 0;
}

.checklist-innerdiv {
  margin: 30px 20px 0;
}

.category-div {
  margin: 0 10px;
}

.full-width.status-detail-box .add-task-div {
  margin: 15px 10px;
}

/*-----------------*/

.blu-bullet {
  margin-right: 5px;
}

ul.enlarge {
  width: 25%;
  vertical-align: top;
  margin-left: 5px;
}

ul.enlarge li {
  margin-bottom: 10px;
}

select.cm-select.blu-select {
  vertical-align: top;
  margin: 0;
}

/*--------2-1-17--------*/

.status-btn-box {
  width: 32%;
}

.status-btndiv {
  width: 35%;
}

.cstatus-btn {
  padding: 0 10px;
}

.icon-drpdwn .dropdown-menu {
  left: -25px;
}

/*------- 9-1-2017 (top right btns) ---------*/

.top-blubar .top-right-btns {
  float: none;
  margin-top: 8px;
}

.top-blubar .top-right-btns .btn {
  margin-left: 0;
  margin-right: 12px;
}
