/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/11/2016 10:18
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("/Content/fonts/flaticon/Flaticon.eot");
  src: url("/Content/fonts/flaticon/Flaticon.eot?#iefix")
      format("embedded-opentype"),
    url("/Content/fonts/flaticon/Flaticon.woff") format("woff"),
    url("/Content/fonts/flaticon/Flaticon.ttf") format("truetype"),
    url("/Content/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/Content/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 22px;
  font-style: normal;
  margin: 0 5px;
}

.flaticon-arrows:before {
  content: "\f100";
}
.flaticon-arrows-1:before {
  content: "\f101";
}
.flaticon-calendar:before {
  content: "\f102";
}
.flaticon-interface:before {
  content: "\f103";
}
.flaticon-profile:before {
  content: "\f104";
}
