/* **
 * ========================================
 * Includes Fonts
 * ========================================
 ** */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/font-awesome/fonts/FontAwesome.otf);
}

@font-face {
  font-family: fontawesome-webfont;
  src: url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    /* support Modern browser  */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.ttf")
      format("truetype"),
    /* support firefox , chrome   */
      url("../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg"); /* Svg form   */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot"); /* support Internet explorer  */
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* support Internet explorer  */
      url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"),
    /* support Modern browser  */ url("../fonts/open-sans/OpenSans-Regular.ttf")
      format("truetype"),
    /* support firefox , chrome   */ url("") format("svg");
  font-weight: normal;
  font-style: normal;
}
