<template>
    <div data-cy="counseling-content">
        <!-- INFRACTION SELECTION MODAL -->
        <el-dialog
            :title="`Select ${$t('label.associate')} Issues`"
            :visible.sync="infractionListModalOpen"
            :close-on-click-modal="false"
        >
            <DaIssueListSelection
            :staffID="formData.staff.id"
            @update-selected="loadSelectedList"
            
            @close="infractionListModalOpen = false"/>

            <span slot="footer" class="dialog-footer pt-0">
                <el-button  @click="infractionListModalOpen = false">Cancel</el-button>
                <ButtonWrapper type="primary" :clickHandler="loadInfractionList">Add Selected</ButtonWrapper>
            </span>
        </el-dialog>

        <!-- COUNSELING FORM -->
        <el-form label-width="183px" label-position="top" v-loading="loading" :model="formData" ref="form" class="pb-0" :rules="rules">
            <div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">

                    <!-- TEAM LEADER -->
                    <el-form-item class="col-span-12 lg:col-span-6" label="Team Leader" prop="user">
                        <el-select
                                data-cy="team-leader"
                                v-model="formData.user.id"
                                placeholder="Select a team leader"
                                clearable
                                filterable
                                >
                                <el-option
                                    v-for="item in userList"
                                    :key="item.id"
                                    :label="item.firstName + ' ' + item.lastName"
                                    :value="item.id"/>
                        </el-select>
                    </el-form-item>

                    <!-- DATE -->
                    <el-form-item class="col-span-12 lg:col-span-6"  label="Date of Occurrence" prop="date">
                            <DatePicker data-cy="date-of-occurrence" :selectedDate="formData.date" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'date')" />
                    </el-form-item>

                    <!-- STATUS -->
                    <el-form-item class="col-span-12 lg:col-span-6" label="Filter Associates By Status" prop="user">
                        <el-select
                            data-cy="associateStatus"
                            v-model="associateStatus"
                            placeholder="Associate Status"
                            multiple
                            >
                            <el-option
                                v-for="(item,index) in ['Active', 'Inactive', 'Onboarding']"
                                :key="index"
                                :label="item"
                                :value="item"/>
                        </el-select>
                    </el-form-item>

                    <!-- EMPLOYEE -->
                    <el-form-item class="col-span-12 lg:col-span-6" :label="`${$t('label.associate')} Name`" prop="staff">
                        <el-select
                                data-cy="da-name"
                                v-model="formData.staff.id"
                                :placeholder="`Select ${$t('label.an_associate')}`"
                                @change="loadNewInfractions"
                                :disabled="formData.id !=null"
                                filterable
                                clearable
                                >
                                <el-option
                                    v-for="item in staffList.filter(staffStatusFilter)"
                                    :key="item.id"
                                    :label="item.firstName + ' ' + item.lastName"
                                    :value="item.id">
                                    <span style="float: left">{{ item.firstName + ' ' + item.lastName }} ({{ item.status }})</span>
                                </el-option>
                        </el-select>
                    </el-form-item>
                    
                    <!-- SEVERITY -->
                    <el-form-item  class="col-span-12 lg:col-span-6" label="Counseling Severity" prop="counselingSeverityId">
                        <CustomListsOptionsSelect
                            v-model="formData.counselingSeverityId"
                            filterable
                            ref="counselingSeverityDropdown"
                            data-cy="counseling-type"
                            listType="counseling-severity"
                            linkText="+ Add New Custom Counseling Severity"
                            :customListEnabledArgs="[isCreationForm, formData.counselingSeverityId]"
                        />
                    </el-form-item>
            </div>

            <!-- CREATED FROM -->
            <el-form-item v-if="!!formData.createdFrom" label="Created From" prop="createdFrom">
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    :value="formData.createdFrom"
                    readonly
                />
            </el-form-item>

            <div class="block lg:flex space-x-4">
                <!-- TEMPLATE SECTION -->
                <div class="flex-1">
                    <el-form-item label="Pre-fill answers from a Template">
                        <el-select
                        ref="templateDropdown"
                        data-cy="counseling-templates-sel"
                        :value="preFillAnswer"
                        @click.native="updateWidthOptions($event, '.pre-fill-options')"
                        popper-class="pre-fill-options"
                        @change="handlePreFillAnswer"
                        placeholder="Select a Counseling Template..."
                        filterable
                        clearable
                        >
                            <el-option-group>
                                <el-option
                                :label="counselingTemplate.templateName"
                                :value="counselingTemplate.id"
                                v-for="(counselingTemplate,i) in counselingTemplates" :key="i"
                                />
                            </el-option-group>
                            <el-option-group>
                                <el-option
                                v-if="hasCounselingPermissions"
                                class="selected"
                                label="Create a New Counseling Template"
                                value="toCounselingSettings"
                                />
                            </el-option-group>
                        </el-select>
                    </el-form-item>
                </div>
                
                <div class="flex-1">
                    <!-- SHOWS YOU DATE LAST SENT IN UPDATE PAGE OF COUNSELING -->
                    <el-form-item v-if="formData.id" label="Date Last Sent">
                        <el-input
                            type="input"
                            :value="formData.dateSent | date"
                            readonly
                        />
                    </el-form-item>
                    <!-- SPACER IN CREATE PAGE OF COUNSELING -->
                    <div v-else></div>
                </div>
            </div>

            <!-- NOTES SECTION -->
            <el-form-item label="Statement of the problem" prop="notes">
                <el-input data-cy="problem"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formData.counselingNotes"
                />
            </el-form-item>

            <el-form-item label="Prior discussion summary" prop="priorDiscussionSummary">
                <el-input data-cy="discussion"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formData.priorDiscussionSummary"
                />
            </el-form-item>

            <el-form-item label="Summary of corrective action discussed" prop="correctiveActionSummary">
                <el-input data-cy="summary"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formData.correctiveActionSummary"
                />
            </el-form-item>

            <el-form-item label="Consequences of failure to improve performance or corrective behavior" prop="consequencesOfFailure">
                <el-input data-cy="consequences"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formData.consequencesOfFailure"
                />
            </el-form-item>

            <el-form-item :label="`${$t('label.associate')} Notes`" prop="employeeNotes">
                <el-input data-cy="da-notes"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    readonly
                    v-model="formData.employeeNotes"
                    class="associate-notes-text"
                    placeholder="(Associates will be given space to add their own notes here after you send them this Counseling.)"
                />
            </el-form-item>

               <!--COUNSELING IMAGES/DOCUMENTS -->
            <div class="w-full justify-center border mt-4  p-4 rounded-lg shadow">
                <p class="block text-gray-600 mb-4 text-base font-bold">COUNSELING IMAGES/DOCUMENTS</p>
                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div v-for="image in sortedCounselingDocuments" :key="image.id" class="group relative">
                        <div v-if="image.id !=null && image.type.includes('image')" class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 lg:h-80 flex items-center">
                            <img @click="handlePictureCardPreview(image.key)" :src="image.url" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                        </div>
                        <div v-else class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80 flex justify-center items-center flex-col">
                            <i class="uil uil-file-alt text-6xl"/>
                            <a :href="image.url" target="_blank" class="hover:underline"><i>{{image.name}}</i></a>
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <div>
                                <i
                                title="Download Image"
                                @click="downloadFile(image.key)"
                                class="icon-button uil uil-import hover:text-brand"/>
                                <i
                                title="Delete Image"
                                @click="handleDocumentRemove(image.key, image.id, 'image')"
                                class="icon-button uil uil-trash-alt hover:text-red-500"/>
                            </div>
                            <div>
                                <span class="mr-1 text-xs">Show To Associate</span>
                                <el-switch v-model="image.isDocVisibleToAssociate" @change="updateDocument(image.key, image.id, image.isDocVisibleToAssociate)"></el-switch>
                            </div>
                        </div>
                    </div>
                </div>
                <el-dialog :visible.sync="dialogVisible" width="50%" center :close-on-click-modal="false" show-close>
                    <img class="w-full" :src="dialogImageUrl">
                </el-dialog>

            <div v-for="(image, index) in images" :key="image.id" class="w-full flex">
                <el-tag 
                type="info"
                effect="plain"
                class="flex-auto mb-2 ellipsis">
                {{image.fileName}}
                </el-tag>
                <span class="flex items-center ml-4">
                    <span class="mr-2 text-xs">Show To Associate</span>
                    <el-switch v-model="image.isDocVisibleToAssociate"></el-switch>
                </span>
                <i 
                @click="confirmFileRemove(index)"
                class="icon-button uil-trash-alt ml-4 hover:text-red-500"/>
            </div>
            <label class="fileContainer w-full h-32 bg-opacity-50 text-center mt-4">
                <div class="uil-image text-5xl"></div>
                <div>Drop image here or click to upload</div>
                <input
                data-cy="counseling-img"
                id="FileUploadInput" 
                type="file" 
                multiple
                @change="(e) => {insertFilesForUpload(e)}" 
                class="align-middle">
            </label>  
        </div>

            <!-- DRIVER ISSUES AND INFRACTION -->
            <el-form-item :label="`${$t('label.associate')} Issues`">
                <div v-if="displayInfractionList.length > 0" class="w-full">
                    <div v-for="(infraction, index) in displayInfractionList" :key="index" class="shadow-sm bg-gray-100 border mb-4 rounded-lg">
                        <DaIssueListForm
                            :formData="infraction"
                            :index="index"
                            @remove-infraction="removeInfraction(index)"
                        />
                    </div>
                </div>

                <div v-else class="grid grid-flow-row grid-cols-12 w-full gap-x-4 space-y-1 lg:space-y-0"> 
                    <div class="col-span-12 lg:col-span-6">
                        <ButtonWrapper plain type="primary" class="w-full height-4-rem" :clickHandler="openInfractionSelection">
                            SELECT EXISTING {{$t('label.ASSOCIATE')}} ISSUES
                        </ButtonWrapper>
                    </div>
                    <div class="col-span-12 lg:col-span-6">
                        <ButtonWrapper plain type="primary" class="w-full height-4-rem" :clickHandler="addInfraction">
                            ADD A NEW {{$t('label.ASSOCIATE')}} ISSUE
                        </ButtonWrapper>
                    </div>
                </div>
                <el-dropdown v-if="displayInfractionList.length > 0" @command="handleCommand" placement="bottom-start">
                    <el-button type="primary" size="small" plain>
                        Add {{$t('label.associate')}} Issues <i class="el-icon-arrow-down el-icon--right"/>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="select">Select Existing {{$t('label.associate')}} Issue</el-dropdown-item>
                        <el-dropdown-item command="create">Create New {{$t('label.associate')}} Issue</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-form-item>
        </el-form>

        <!--REFUSED TO SIGN CHECKBOX -->
        <el-form label-width="auto" label-position="right" v-loading="loading" v-model="formData" class="pb-0">
            <el-form-item label="Refused to sign" prop="refusedToSign">
                <el-checkbox v-model="formData.refusedToSign"></el-checkbox>
            </el-form-item>
        </el-form>

        <!--Footer-->
        <ButtonGroupWrapper class="flex space-y-2 flex-wrap flex-col md:flex-row md:justify-end md:space-y-0 md:space-x-2">
          <template slot-scope="{disabled, setDisabled}">
            <!-- The below span is only needed to handle reactive renders inside the slot  -->
            <span hidden>{{ formData.id }} {{ formData.refusedToSign }}</span>
            <div>
                <ButtonWrapper
                    class="w-full lg:w-auto"
                    :clickHandler="handleCancel"
                    :disabled="disabled"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Cancel
                </ButtonWrapper>
            </div>
            <div>
                <ButtonWrapper
                    v-if="formData.id == null"
                    type="primary"
                    class="w-full lg:w-auto"
                    :clickHandler="validateForm"
                    :handlerArgs="['create']"
                    :disabled="disabled"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Create
                </ButtonWrapper>
                <ButtonWrapper
                    v-else
                    type="primary"
                    class="w-full lg:w-auto"
                    :clickHandler="validateForm"
                    :handlerArgs="['update']"
                    :disabled="disabled"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Update
                </ButtonWrapper>
            </div>
            <div>
                <ButtonWrapper
                    v-if="formData.id == null && $store.getters.hasPerformanceCoaching"
                    type="primary"
                    class="w-full lg:w-auto"
                    :clickHandler="validateForm"
                    :handlerArgs="['createSend']"
                    :disabled="disabled"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Create and Send
                </ButtonWrapper>
                <el-popover
                    v-else-if="formData.id == null && !$store.getters.hasPerformanceCoaching"
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                <el-button  class="opacity-50 w-full lg:w-auto" type="primary" slot="reference">Create and Send</el-button>
                <PremiumWarning
                    action="send counselings"
                    premiumFeature="performance and coaching">
                </PremiumWarning>
                </el-popover>
            </div>
            <div>
                <ButtonWrapper
                    v-if="formData.id && $store.getters.hasPerformanceCoaching"
                    :clickHandler="validateForm"
                    :handlerArgs="['updateSend']"
                    type="primary"
                    class="w-full lg:w-auto"
                    :disabled="disabled || formData.refusedToSign"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Update and Send
                </ButtonWrapper>
                <el-popover
                    v-else-if="formData.id && !$store.getters.hasPerformanceCoaching"
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                <el-button class="opacity-50 w-full lg:w-auto" type="primary" slot="reference">Update and Send</el-button>
                <PremiumWarning
                    action="send counselings"
                    premiumFeature="performance and coaching">
                </PremiumWarning>
                </el-popover>
            </div>
          </template>
        </ButtonGroupWrapper>
    </div>
</template>
<script>
// @ is an alias to /src
import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
import { valueMapping } from "@/utilities/constants/oldIssueOrKudoValues";
import { mapGetters, mapState } from 'vuex'
import { staffsByGroupStatus } from '@/views/Counseling/queries'
import { infractionsByStaff } from '@/graphql/queries'
import { getTenant } from '@/views/Accident/queries.js'
import { getCounseling } from '../queries.js'
import { getCounselingUpdatedTimestamp } from '@/utilities/timestampQueries'
import { createCounseling, updateInfraction, updateCounseling, createInfraction, createDocument, deleteDocument, updateDocument} from '@/graphql/mutations'
import DaIssueListForm from '@/views/DaIssues/components/DaIssueListForm.vue'
import DaIssueListSelection from '@/views/DaIssues/components/DaIssueListSelection.vue'
import sendMessage from '@/scripts/sendMessage'
import Validator from '@/utilities/FormValidator'
import PremiumWarning from '@/components/PremiumWarning'
import {Storage} from 'aws-amplify'
import { counselingTemplatesByGroup } from '@/graphql/queries'
import { COUNSELING_STATUS_NOT_SENT, COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_REFUSED_TO_SIGN, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';
import { parseDatesToTimezone } from '@/utilities/parseDatesToTimezone'
import { parseCounselingStatusValueToLabel } from '../utils'
import DatePicker from '@/components/Datepicker';
import { validateOptionCustomListsExist } from '@/utilities/optionCustomLists/helpers'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect';

export default {
    name: 'CounselingForm',
    props: ['staffID', 'infractionPayload', 'userID' , 'counselingID', 'redirect', 'isCreationForm'],
    components: {
        DaIssueListForm,
        DaIssueListSelection,
        PremiumWarning,
        DatePicker,
        ButtonWrapper,
        ButtonGroupWrapper,
        CustomListsOptionsSelect,
    },
    data(){
        return{
            loading: false,
            formData: {
                user: {id: null},
                staff: {id: null},
                date: '',
                counselingNotes: '',
                priorDiscussionSummary: '',
                correctiveActionSummary: '',
                consequencesOfFailure: '',
                employeeNotes: '',
                refusedToSign: '',
                updatedAt: '',
                dateSent: null,
                counselingSeverityId: null,
            },
            counselingTypesList: [],
            associateStatus: ['Active'],
            preFillAnswer: null,
            templateFields: ['counselingNotes', 'priorDiscussionSummary', 'correctiveActionSummary', 'consequencesOfFailure'],
            counselingTemplates: [],
            infractionListModalOpen: false,
            images: [],
            counselingDocuments: [],
            infractionList: [],
            relatedInfractions: [],
            addedInfractions: [],
            staffList: [],
            userList: [],
            selectedList: [],
            displayInfractionList: [],
            currentStaffID: null,
            rules: {
                date: [
                    { required: true, message: 'Please enter a date', trigger: 'change' }
                ],
                staff: [
                    { required: true, validator: Validator.staff, trigger: 'change' },
                    
                ]
            },
            dialogVisible: false,
            dialogImageUrl: '',
        }
    },

    async created() {
        await this.loadData();
        const isEdit = !!this.formData.id;
        const isAlreadySigned = [COUNSELING_STATUS_SIGNED, COUNSELING_STATUS_REFUSED_TO_SIGN].includes(this.formData.status);
        if (isEdit && isAlreadySigned) {
            this.$message.error("Cannot edit signed counselings.");
            this.$router.push({
                name: 'CounselingDetail',
                params: { counselingId: this.formData.id },
            });
        }
        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;
        if(this.isCreationForm){
            this.formData.counselingSeverityId = this.customListEnabled(this.counselingSeverityTypeList).find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id;
        }
    },

    computed:{
        ...mapState([
            'userInfo',
            'hasUserPermissions',
            'counselingTypes',
        ]),
        ...mapGetters([
            'counselingSeverityTypeList',
            'issueTypeList'
        ]),
        hasCounselingPermissions() {
            return (this.hasUserPermissions &&
                    this.userInfo?.permissionCounselings);
        },
        sortedCounselingDocuments(){
            return this.counselingDocuments.sort((a,b)=>{
                if(a.type.includes('image')){
                    if(b.type.includes('image'))
                        return a.name.localeCompare(b.name)
                    else
                        return 1
                }else{
                    if(b.type.includes('image'))
                        return -1
                    else
                        return a.name.localeCompare(b.name)
                }
            })
        }
    },

    methods:{
        async updateDocument(key,id,isDocVisibleToAssociate){
            try {
                const input = {
                    key,id,isDocVisibleToAssociate
                }
                const result = await this.api(updateDocument, {input: input})
                this.$message({
                    type: 'success',
                    message: 'Document Updated'
                });
            } catch(e) {
                console.log(e)
                this.displayUserError(e)        
            }
        },
        handleDateSelected(date,model) {
                this.formData[model] = date
        },

        /**
         * Creates new empty infraction and adds it to full infraction list, display infraction list, and added infraction list
         */
        addInfraction: function(){
            if(this.formData.staff.id == null || this.formData.staff.id == undefined || this.formData.staff.id == ""){
                this.$message({
                    type: 'error',
                    message: `Please select ${this.$t("label.an_associate")} before adding ${this.$t("label.associate")} Issues.`
                });
                return
            }

            var uuid = this.generateUUID();
            var payload = {
                id: uuid,
                group: this.userInfo.tenant.group,
                date: this.formData.date
            }

            this.infractionList.push(payload)
            this.addedInfractions.push(payload)
            this.displayInfractionList.push(payload)
        },


         /* Confirm the user wants to remove the image */
        confirmFileRemove(index){
            this.$confirm('Would you like to delete this image?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.handleFileRemove(index)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },

        insertFilesForUpload: function(e){
            try{
                const files = e.target.files || e.dataTransfer.files
                Array.from(files).forEach(file=>{
                    const uuid = this.generateUUID();
                    const path = file.type.includes('image') ? '/counseling-images/' : '/counseling-documents/'
                    const fileObject = {
                        id: uuid,
                        fileName: file.name, 
                        fileType: file.type,
                        path,
                        file: file,
                        isDocVisibleToAssociate : file.isDocVisibleToAssociate
                    }
                    this.images.push(fileObject)
                })
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                document.getElementById("FileUploadInput").value = "";
            }
        },

        /** 
        * Prompts user if image should really be deleted
        * @param {string} objectKey S3 key of file to delete
        * @param {number} id index of item to remove from array
        * @param {number} type type of docment to remove
        */
        async handleDocumentRemove(objectKey, id, type){
            this.$confirm('This will permanently delete this ' + type.toLowerCase() + '. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
            this.commitDocumentDeleteFile(objectKey, id)          
            }).catch(() => {
            console.log("canceled delete")         
            });
        },

        /**
         * Delete the index and the S3 object.
         * @param {string} objectKey S3 key of file to delete
         * @param {number} id index of item to remove from array
         */
        async commitDocumentDeleteFile(objectKey, id) {
            var result = await Storage.remove(objectKey)
            var deleteResult = await this.api(deleteDocument, {input:{ id: id}} )
            this.loadData()
        },

         /*Removes image from added images array*/
        handleFileRemove(index){
            this.images.splice(index, 1);
        },


        /**
         * Confirm the user wants to send the counseling record
         */
        async confirmSend(mutation){
            try {
                await this.$confirm(`Would you like to save and send this counseling record to be acknowlegded?`, 'Warning',{
                  confirmButtonText: 'Send',
                  cancelButtonText: 'Cancel',
                  type: 'warning'
                });
                await this.sendCounseling(mutation);
            }
            catch (error) {
                console.log("canceled send");
            }
        },

          /**
         * Display picture in card window
         * @param {object} key
         */
        async handlePictureCardPreview(key) {
            const url = await Storage.get(key)
            this.dialogImageUrl = url;
            this.dialogVisible = true;
        },
         /**
         * Route according to redirect case
         * @param {string} caseRedirect
         */
        redirectView(caseRedirect,counselingID){

            const casesRedirects = [
                {case:'Index',name:'CounselingIndex',params:{}},
                {case:'New',name:'CounselingNew',params: { userId: this.userInfo.id}},
                {case:'Details',name:'CounselingDetail',params:{ counselingId: counselingID }}
            ]

            const valueCase = casesRedirects.filter((caseRedirect_) => caseRedirect_.case === caseRedirect)[0]
            const objRoute = {name: valueCase.name, params: valueCase.params, query: {t: new Date().getTime()}}
            this.$router.push(objRoute)    
        },
        /**
         * Creates a counseling record and loops through all infractions to update or create
         */
        createCounseling: async function(isRedirect,isSend = false){

            var formData = {...this.formData}
            var staffID = formData.staff.id
            var userID = formData.user.id
            formData.dateSent = this.dateSent
            delete formData.user
            delete formData.staff
            delete formData.id
            delete formData.updatedAt

            if(formData.refusedToSign == true){
                formData.status = COUNSELING_STATUS_REFUSED_TO_SIGN;
                formData.dateSigned = new Date();
            } else {
                formData.status = COUNSELING_STATUS_NOT_SENT;
            }

            var infractionIndex =  this.infractionList.findIndex(infraction => infraction.date == null || infraction.date == undefined || infraction.date == '')
            if(infractionIndex != -1){
                this.displayUserNotification({
                    title: "Error",
                    type: "error",
                    message: `Please make sure all ${this.$t("label.associate")} Issues have a date filled in.`
                })
                return
            }

            var input = {
                ...formData, 
                counselingStaffId: staffID,
                counselingUserId: userID,
                group: this.userInfo.tenant.group,
                tenantId: this.userInfo.tenant.id,
            }

            input = this.deleteEmptyStrings(input);
            
            try{
                this.loading = true;
                await validateOptionCustomListsExist(input.counselingSeverityId);
                var results = await this.api(createCounseling,  {input})
                var counselingID = results.data.createCounseling.id;
                for (const infraction of this.infractionList){
                    if(infraction.createdAt != null && infraction.createdAt != undefined && infraction.removedFromList !=true){
                        await this.createOrUpdateInfraction(infraction, counselingID, staffID, 'update');
                    }
                    else if(infraction.createdAt != null && infraction.createdAt != undefined && infraction.removedFromList == true){
                        await this.createOrUpdateInfraction(infraction, null, staffID, 'update');
                    }
                    else if(infraction.removedFromList != true){
                        await this.createOrUpdateInfraction(infraction, counselingID, staffID, 'create');
                    }
                }

               //Upload Images
                if(this.images.length > 0){
                    for(var image of this.images){
                        await this.createDocument(counselingID, image, 'image');
                    }
                }

                if(isRedirect == true){
                    if(isSend){
                        const dataRedirect = {
                            redirect:this.redirect,
                            counselingID:counselingID,
                            results:results
                        }
                        return dataRedirect
                    }
                    (this.redirect) ? this.redirectView(this.redirect,counselingID) : window.history.back()
                    this.displayUserNotification({
                        title: "Success",
                        type: "success",
                        message: "Counseling created successfully."
                    })
                }
                else{
                    return results
                }
            }
            catch(e){
                this.loading = false;
                this.displayUserError(e)
                throw(e)
            }
        },

                /**
         * Uploads document to S3 then creates document record in DB
         */
        async createDocument(counselingID, document){
            try{
                // Upload file to S3
                var uploadEvent = document.fileUploadEvent;
                var path = document.path;
                var fileType = document.fileType
                var fileName = document.fileName
                var timestamp = String(Date.now())
                var object = await Storage.put(this.userInfo.tenant.group + '/counseling/' + counselingID.toLowerCase() + path + timestamp + "/" + fileName, document.file)
                var input = {
                    group: this.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: fileType,
                    key: object.key,
                    isDocVisibleToAssociate: document.isDocVisibleToAssociate
                }

                input.documentImageCounselingId = counselingID

                var result = await this.api(createDocument, {input: input})
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }
        },


        /**
         * Creates or updates infraction using GraphQl
         */
        createOrUpdateInfraction: async function(infraction, counselingID, staffID, option){
            delete infraction.staff;
            delete infraction.staffId;
            delete infraction.removedFromList;
            delete infraction.route;
            delete infraction.type;

            var input = {
                ...infraction,
                infractionCounselingId: counselingID,
                infractionStaffId: staffID, 
                staffId: staffID
            }

            const optionFound = this.issueTypeList.find(item => item.id === input.infractionTypeId)
            if(optionFound && !optionFound?.isEnabled){
                throw { message: this.optionDisabledMessage(optionFound.option) }
            }

            input = this.cleanInfractionInput(input)

            try{
                if(option == 'update'){
                    var result = await this.api(updateInfraction, {input});
                }
                else if (option == 'create'){
                    var result = await this.api(createInfraction, {input});
                }
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }

        },


        /**
         * Returns to last visited page
         */
        handleCancel: function(){
            window.history.back()
        },

        
        /**
         * Handles add driver issues dropdown commands
         */
        handleCommand(command){
            if(command == "select"){
                this.openInfractionSelection();
                return
            }
            else if(command == "create"){
                this.addInfraction();
                return
            }
        },


        /**
         * Loads list of data using GraphQL
         */
        loadData: async function(){
            this.loading = true;
            try{
                // SET STAFF LIST
                // LOAD ACTIVE STAFF UP FRONT
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    status: {eq: "Active"}
                }
                
                this.counselingTypesList = this.counselingTypes
                                
                this.staffList = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')

                // LOAD ONBOARDING & INACTIVE AFTER PAGE LOAD
                input = {
                    group: this.$store.state.userInfo.tenant.group,
                    status: {gt: 'Active'}
                }
                
                this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus').then(staff=>{
                    this.staffList = [...this.staffList, ...staff]
                })

                //SET USER LIST
                var input = {
                    id: this.$store.state.userInfo.tenant.id
                }
                var tenant = await this.api(getTenant, input)

                const users = tenant.data.getTenant.users.items;
                this.userList = this.excludeSupportAdminFromArray(users);

                //SET TEMPLATES LIST
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.counselingTemplates = await this.gLoadListAll(counselingTemplatesByGroup, input, 'counselingTemplatesByGroup')
                this.counselingTemplates.sort(this.sortStringMethod)
                //SET FORM DATA
                if(this.counselingID != undefined && this.counselingID != null){
                    var input = {
                        id: this.counselingID
                    }
                    var counseling = await this.api(getCounseling, input);
                    var data = counseling.data.getCounseling;
                    const timezone = this.getTenantTimeZone();
                    const dateFields = ['dateSent'];
                    data = parseDatesToTimezone(data, timezone, dateFields);
                    this.formData.id = data.id;
                    this.formData.date = data.date;
                    this.formData.dateSent = data.dateSent;
                    this.formData.counselingNotes = data.counselingNotes;
                    this.formData.priorDiscussionSummary = data.priorDiscussionSummary;
                    this.formData.correctiveActionSummary = data.correctiveActionSummary;
                    this.formData.consequencesOfFailure = data.consequencesOfFailure;
                    this.formData.employeeNotes = data.employeeNotes;
                    this.formData.refusedToSign = data.refusedToSign;
                    this.formData.updatedAt = data.updatedAt;
                    this.formData.status = data.status;
                    this.formData.counselingSeverityId = data.severity?.id;
                    this.formData.createdFrom = data.createdFrom;
                    if(JSON.stringify(data.staff) != "{}" && data.staff != null){
                        this.formData.staff.id =  data.staff.id;
                    }
                    if(JSON.stringify(data.user) != "{}" && data.user != null){
                        this.formData.user.id = data.user.id;
                    }
                                        
                    if(data.images){
                        data.images.items.map((image) => image.url = null)
                        this.counselingDocuments = data.images.items
                        await this.setImageURLs();
                    }
                }
                else{
                    if(this.staffID != undefined){
                        this.formData.staff.id = this.staffID
                    }

                    if(this.userID != undefined){
                        this.formData.user.id = this.userID
                    }
                }

                //SET MISC INFORMATION
                this.currentStaffID = this.formData.staff.id;

                if(this.formData.id != null){
                    var input = {
                        staffId: this.formData.staff.id,
                        sortDirection: "ASC"
                    }
                    var result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                    var filteredResult = result.filter(infraction => {
                        let matchId = ''
                        if(infraction.infractionType){
                            const infractionName = valueMapping[infraction.infractionType] || infraction.infractionType
                            matchId = this.issueTypeList.find(item => item.option === infractionName)?.id
                        }
                        infraction.infractionTypeId = infraction.type ? infraction.type.id : matchId
                        return infraction.counseling != null && infraction.counseling.id == this.formData.id
                    });

                    this.relatedInfractions = [...filteredResult]
                }

                if(this.infractionPayload != undefined && this.infractionPayload != null){
                    this.addedInfractions.push(this.infractionPayload)
                }

                var addedArr = this.addedInfractions;
                var relatedArr = this.relatedInfractions;

                var combinedArr = addedArr.concat(relatedArr);

                this.infractionList = [...combinedArr];
                this.displayInfractionList = [...combinedArr];
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }

        },

        setImageURLs: function(){
            this.counselingDocuments.map(async (image) =>{
            image.url = await Storage.get(image.key)
            })
        },

        /**
         * Loads the list of selected, related, and added infractions into one list data property
         */
        loadInfractionList: async function(){
            try{
                this.infractionListModalOpen = false;
                var addedList = this.addedInfractions
                var selectedList = [...this.selectedList]
                var relatedList = this.relatedInfractions
                var fullList = addedList.concat(selectedList).concat(relatedList);
                this.infractionList = fullList;
                this.displayInfractionList = fullList.filter((infraction => infraction.removedFromList == null || infraction.removedFromList == false));
                this.selectedList = []
            }
            catch(e){
                this.displayUserError(e)
            }
        },


        /**
         * Clears out list of infractions when user changes employees
         */
        loadNewInfractions: function async(){
                if(this.displayInfractionList.length > 0){
                this.$confirm(`This will clear out the list of ${this.$t('label.associate')} Issues. Continue?`, 'Warning', {
                    confirmButtonText: 'Continue', 
                    cancelButtonText: 'Cancel', 
                    type: 'warning'
                }).then(() =>{
                    this.infractionList = []
                    this.addedInfractions = []
                    this.relatedInfractions = []
                    this.displayInfractionList = []
                    this.currentStaffID = this.formData.staff.id
                }).catch((e)=>{
                    this.formData.staff.id = this.currentStaffID
                })
            }
        },


        /**
         * Loads in selected infractions to the selectedList data property
         */
        loadSelectedList: function(selectedArr){
            var arr = JSON.parse(JSON.stringify(selectedArr))
            this.selectedList = arr;
        },


        /**
         * Opens the infraction selection modal window
         */
        openInfractionSelection: function(){
            if(this.formData.staff.id == null || this.formData.staff.id == undefined || this.formData.staff.id == ""){
                this.$message({
                    type: 'error',
                    message: `Please select ${this.$t("label.an_associate")} before selecting ${this.$t("label.associate")} Issues.`
                });
                return
            }
            this.infractionListModalOpen = true;
        },


        /**
         * Finds infraction in the display infraction list and full infraction list and sets the element removedFromList to true
         */
        removeInfraction: function(index){
            var infractionID = this.displayInfractionList[index].id
            var infractionIndex =  this.infractionList.findIndex(infraction => infraction.id === infractionID)
            if(infractionIndex != -1){
                this.infractionList[infractionIndex].removedFromList = true
            }
            var list = this.infractionList
            var filteredInfractionList = list.filter((infraction => infraction.removedFromList == null || infraction.removedFromList == false))
            this.displayInfractionList = filteredInfractionList
        },

        /**
         * Creates or Updates counseling record then send the counseling via email.
         */
        async sendCounseling(mutation){
            try{
                var result;
                var staffIndex = this.staffList.findIndex(staff => staff.id == this.formData.staff.id)
                if(!this.staffList[staffIndex].email){
                    this.$message.error("User must have an email to send counselings.");
                    this.loading = false;
                    return
                }
                this.loading = true;
                if(mutation == "creation"){
                    result = await this.createCounseling(true,true);
                    var formData = result.results.data.createCounseling 
                }
                else{  
                    result = await this.updateCounseling(false);
                    var formData = result.data.updateCounseling
                }
                var staff = formData.staff
                var date = this.$moment(formData.date).format("dddd MM/DD/YYYY")
                var header = `${formData.severity.option} Counseling: ${date}`;
                var subject = `${formData.severity.option} Counseling: ${date}`;
                var companyName = this.userInfo.tenant.companyName
                const firstName = formData.staff.firstName
                var response = await sendMessage({staff, companyName, firstName, header, subject, user: this.userInfo, counselingId: formData.id, withShortenUrl: true});
                this.formData.refusedToSign = false;
                this.formData.signatureAcknowledge = false;
                this.formData.dateSent = new Date();
                formData.status = COUNSELING_STATUS_PENDING_SIGNATURE;
                formData.dateSent = new Date();
                var input = {
                    ...formData
                }
                input = this.cleanCounselingInput(input)
                const counseling = await this.api(updateCounseling, {input}, getCounselingUpdatedTimestamp, 'getCounseling')
                this.$message.success("Counseling sent successfully");
                (result && result.redirect) ? this.redirectView(result.redirect,result.counselingID) : window.history.back();
            }
            catch(e){
                this.displayUserError(e, "Counseling could not be sent. ")                
            }
            finally{
                this.loading = false;
            }
        },


        /**
         * Updates counseling record and updates or creates infractions
         */
        updateCounseling: async function(redirect){
            this.loading = true;
            var formData = {...this.formData}
            var staffID = formData.staff.id
            var userID = formData.user.id
            var counselingID = formData.id;
            if(formData.refusedToSign == true){
                formData.status = COUNSELING_STATUS_REFUSED_TO_SIGN;
                formData.dateSigned = new Date();
            }
            else {
                if(formData.status != COUNSELING_STATUS_NOT_SENT){
                    formData.status = COUNSELING_STATUS_PENDING_SIGNATURE;
                }
            }
            var input = { ...formData }
            input.counselingStaffId =  staffID
            input.counselingUserId =  userID
            input = this.cleanCounselingInput(input)
            
            try{
                await validateOptionCustomListsExist(input.counselingSeverityId);
                const counseling = await this.api(updateCounseling, {input}, getCounselingUpdatedTimestamp, 'getCounseling')
                for (const infraction of this.infractionList){
                    if(infraction.createdAt != null && infraction.createdAt != undefined && infraction.removedFromList !=true){
                        await this.createOrUpdateInfraction(infraction, counselingID, staffID, 'update');
                    }
                    else if(infraction.createdAt != null && infraction.createdAt != undefined && infraction.removedFromList == true){
                        await this.createOrUpdateInfraction(infraction, null, staffID, 'update');
                    }
                    else if(infraction.removedFromList != true){
                        await this.createOrUpdateInfraction(infraction, counselingID, staffID, 'create');
                    }
                }

                 //Upload Images
                if(this.images.length > 0){
                    for(var image of this.images){
                        await this.createDocument(counselingID, image);
                    }
                }


                if(redirect == true){
                    this.displayUserNotification({
                        title: "Success",
                        type: "success",
                        message: "Counseling updated successfully"
                    })
                    window.history.back()
                }
                else{
                    return counseling
                }
            }
            catch(e){
                this.loading = false;
                this.displayUserError(e) 
                throw(e)
            }finally{
                this.loading = false;
            }
        },

        /** Validate the form and continue to add record if valid */
        async validateForm(mutation){
            try{
                await this.$refs["form"].validate()
                const optionFound = this.counselingSeverityTypeList.find(item => item.id === this.formData.counselingSeverityId)
                if(optionFound && !optionFound?.isEnabled){
                    this.$refs.counselingSeverityDropdown.$refs.select.focus();
                    throw { message: this.optionDisabledMessage(optionFound.option) }
                }
                if(mutation == "create"){
                    await this.createCounseling(true);
                }
                else if(mutation == "createSend"){
                    await this.confirmSend('creation');
                }
                else if(mutation == "updateSend"){
                    await this.confirmSend('update');
                }
                else{
                    await this.updateCounseling(true);
                }
                    
            }catch(e){
                if(e.message) this.displayUserError(e)    
                else this.displayUserError("Please fill out all required fields.")
            }
        },

        updateWidthOptions(event, popperClass){
            this.$nextTick(()=>{
                const selectWidth = event.target?.clientWidth || 0
                const popper = document.querySelector(popperClass)
                if(popper) popper.style.width = selectWidth + 'px'
            })
        },
        handlePreFillAnswer(value){
            if(value === "toCounselingSettings"){
                this.$router.push({path:'/settings/counselings'})
                return
            }
            if (!value) {
                const msg = 'Clearing this template will reset all of the pre-filled or edited answers for this Counseling. Are you sure you wish to continue?';
                return this.handleConfirmCounselingTemplate(msg, () => {
                    this.preFillAnswer = value;
                    this.templateFields.forEach(field=> this.formData[field] = '')
                });
            }
            const isFilled = this.templateFields.some(field => this.formData[field])
            if(isFilled){
                const msg = 'Choosing a template will reset all of the pre-filled or edited answers for this Counseling. Are you sure you wish to continue?';
                return this.handleConfirmCounselingTemplate(msg, () => {
                    this.preFillAnswer = value;
                    this.fillAnswer(value);
                });
            }
            this.preFillAnswer = value;
            this.fillAnswer(value);
        },

        blurTemplateDropdown() {
            this.$refs.templateDropdown.blur();
        },

        handleConfirmCounselingTemplate(msg, successHandler) {
            this.$confirm(msg, 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning',
            })
            .then(() => successHandler())
            .catch(() => {})
            .finally(() => this.blurTemplateDropdown());
        },

        fillAnswer(id){
            const match = this.counselingTemplates.find(template=>template.id === id)
            if(match){
                this.templateFields.forEach(field=>{
                    this.formData[field] = match[field]
                })
            } 
        },
        deleteEmptyStrings(input){
            const inputWithoutEmptyString = {};

            for (const property in input) {
                if (input[property] !== "") {
                    inputWithoutEmptyString[property] = input[property];
                }
            }
            return inputWithoutEmptyString; 
        },
        getDateLastSent(){
            return this.formData?.dateSent ? this.$moment(this.formData.dateSent).format('MM/DD/YYYY') : null
        },
        staffStatusFilter(s){
            return this.associateStatus.includes(s.status) 
            || (s.status.indexOf('Inactive')>-1) && this.associateStatus.includes('Inactive')
        },
        sortStringMethod(a,b) {
            return a.templateName.localeCompare(b.templateName);
        }
    },
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
     .fileContainer{
        @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }

    img{
        transition: .5s ease;
        display: inline;
    }
    textarea {
        padding-top: 10px;
    }
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>