<template>
  <!-- DELETE DIALOG -->
  <el-dialog
    title="Are you sure?"
    :visible.sync="deleteCounselingDialog"
    width="30%"
    :close-on-click-modal="false"
    :before-close="closeDeleteModal"
  >
    <div>
      <p class="padding-bottom-1 warning-message">
        {{ deleteConfirmation.deleteMessage }}
      </p>
      <p class="text-red-500 font-bold">There is no undo for this action.</p>
      <el-form
        label-position="top"
        ref="delete"
        :rules="deleteRules"
        :model="deleteConfirmation"
        :hide-required-asterisk="true"
      >
        <el-form-item
          prop="deleteInfracion"
          v-if="deleteConfirmation.showInfractionCheck"
          class="margin-bottom-1-rem"
        >
          <el-checkbox
            :label="`Also delete ${$t('label.associate')} Issues associated with this counseling`"
            v-model="deleteConfirmation.deleteInfractions"
          ></el-checkbox>
        </el-form-item>
        <el-form-item prop="delete" label="Type the word delete to confirm">
          <el-input v-model="deleteConfirmation.delete"></el-input>
        </el-form-item>
      </el-form>
      <div class="flex justify-end">
        <el-button
          type="default"
          class="cancel-button"
          @click="closeDeleteModal"
          >Cancel</el-button
        >
        <el-button type="primary" @click="deleteCounseling">Confirm</el-button>
      </div>
    </div>
  </el-dialog>
</template>
<script>

export default {
  props: ["deleteConfirmation", "deleteCounselingDialog"],
  data() {
    return {
      deleteRules: {
        delete: [
          {
            required: true,
            message: "Please enter the correct phrase to confirm",
          },
        ],
      },
    };
  },
  computed: {
    openDialog() {
      return this.deleteCounselingDialog;
    },
  },
  methods: {
    closeDeleteModal() {
      this.$emit("closeDeleteModal");
    },
    deleteCounseling() {
      this.$refs.delete.validate((valid) => {
        if (valid) {
          this.$emit("deleteCounseling");
        }
      });
    },
  },
};
</script>
