<template>
    <div class="text-center">
        <p>{{$t('label.associate')}}: </p> 
        <p class="pb-2 font-bold"> {{staff.firstName}} {{staff.lastName}} </p>
        <p>Key Focus Area:</p>
        <p class="pb-2 font-bold"> {{staff.keyFocusArea | textractText }} </p>
        <!-- <label for="keyFocusAreaCompleted"> Coaching Complete: </label>
        <input name="keyFocusAreaCompleted" type="checkbox" v-model="staff.keyFocusAreaCompleted" @change="updateStaff()"/> -->
        <el-form ref="form" :model="staff" label-width="auto">
            <el-form-item class="margin-bottom-0">
                <el-checkbox label="Coaching Complete" v-model="staff.keyFocusAreaCompleted" @change="updateStaff()"></el-checkbox>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
import { updateStaff } from '@/graphql/mutations.js'

export default {
    props: ['staff'],

    methods: {
        async updateStaff(){
            //Update staff record
            var input = {
                id: this.staff.id,
                keyFocusAreaCompleted: this.staff.keyFocusAreaCompleted
            }
            try{
                var updateStaffResponse = await this.api(updateStaff, {input})
            }catch(e){
                this.displayUserError(e)
            }
        }
    }
}
</script>
<style scoped>
.margin-bottom-0{
    @apply mb-0 !important
}
</style>