<template>
    <div>
      <div class="flex items-start justify-between">
        <h5 class="mb-3 mt-2 text-sm bold">{{noteLabel}}</h5>
        <!-- <el-button class="uil-icon-button" size="small" type="primary" plain @click="openEditNotesModal"><i class="text-lg uil uil-pen"></i></el-button> -->
        <i
          v-if="dataLoading"
          class="icon-button hover:text-gray-500 uil uil-pen"/>
        <i
          v-else
          data-cy="edit"
          title="Edit"
          @click="openEditNotesModal" 
          class="icon-button hover:text-brand uil uil-pen"/>
        <el-dialog
          v-loading="loading"
          :title="editTitle"
          :visible.sync="modalOpen"
          :close-on-click-modal="false"
          id="notesDialog"
          custom-class="responsive-dialog send-message-dialog"
          >
            <el-form label-position="top">
              <el-form-item :class="checkMaxCharacters">
                <div class="leading-normal">
                  <EmojiTextArea
                    ref="refEmojiTextArea"
                    :class="{'text-red-600': reachedNoteMaxCharactors}"
                    :minHeight=200
                    placeholder="Enter a note..."
                    @content-changed='updateNewMessage'
                  ></EmojiTextArea>
                  <div v-if="isStandupNote" class="float-right" :class="{'text-red-600' : reachedNoteMaxCharactors}">
                    <span class="font-bold text-xs">{{notesTextLengthCounter}}</span>
                  </div>
                </div>
              </el-form-item>

              <div v-if="!addAttachment && isStandupNote" class="flex flex-wrap md:flex-nowrap justify-start">
                <el-form-item  prop="attachment" class="settingsSwitch">
                    <ButtonWrapper data-cy="attachment" type="primary" :clickHandler="showAttachment">Include Attachment</ButtonWrapper>
                </el-form-item>
                <div class="my-auto mt-4 md:mt-0 pl-0 md:pl-3 text-gray-600">
                    <p>Attachments will be sent as an expiring link.</p>
                    <p class="text-xs break-normal">Larger images will be sent as links due to MMS size limitations. Recipients will still be able to tap the link to open the file.</p>

                </div>
                
              </div>

              <el-form v-if="addAttachment" label-position="top" :inline="true">
                <Attachment :attachmentData="localAttachment" ref="attachRefs" @remove-image = "cleanImage" @fieldsAttachment="getFieldsAttachment" @fieldsExpirationDate="getFieldsExpirationDate" @fieldsClean="fieldsClean" />
              </el-form>
            </el-form>
          <span slot="footer" class="dialog-footer">
            <p class="text-xs text-gray-600 text-left mt-0 mb-4" v-if="isStandupNote">
              <span class="font-bold">Unfortunately, cell phone carriers limit the length of text messages.</span> If you need to send a long message, there are two options. 1. You can break up the message and send it in multiple parts, and 2. if it is very long, you may want to turn it into a newsletter, save it as a PDF and attach it to the message. A PDF newsletter will be easier for the {{$t('label.associate')}} to read and digest all of the information.
            </p>

            <ButtonGroupWrapper class="block w-full lg:flex lg:flex-wrap lg:justify-between">
             <template slot-scope="{disabled, setDisabled}">
              <!-- span to trigger reactivity inside slot scope -->
              <span hidden>{{ isSendButtonDisabled }}</span>
              <div v-if="shouldRenderMessageTemplateDropdown" class="flex items-center mt-2 mb-6 lg:mb-0">
                <message-template-dropdown
                  :disabled="disabled"
                  :currentMessage="editRosterData[noteType]"
                  @onMessageTemplateSelection="updateStandUpAnnouncementMessage"
                  :preloadedMessageTemplates="preloadedMessageTemplates"
                />
              </div>
              <div class="flex-1 flex flex-wrap justify-end mt-2 space-y-2 lg:space-y-0">
                 <el-button
                  class="custom-cancel"
                  data-cy="cancel"
                  :disabled="disabled"
                  @click="modalOpen = false/*, $emit('loadData')*/"
                 >
                  Cancel
                 </el-button>
                <ButtonWrapper
                  v-if="isStandupNote && !isDisabled"
                  type="primary"
                  class="mv-3"
                  data-cy="send-to-das"
                  :clickHandler="sendNotesToDA"
                  :disabled="disabled || isSendButtonDisabled"
                  @cb-start="setDisabled(true)"
                  @cb-end="setDisabled(false)"
                >
                  Send To {{$t('label.associates')}}
                </ButtonWrapper>
                <el-popover
                  v-else-if="isStandupNote && isDisabled"
                  placement="bottom"
                  title="Premium Required"
                  width="300"
                  trigger="hover"
                  content=""
                >
                <el-button class="opacity-50 margin-right-1 cursor-not-allow" type="primary" slot="reference">Send To {{$t('label.associates')}}</el-button>
                  <PremiumWarning
                    :action="'send stand up announcements to DAs'"
                    :premiumFeature="'daily rostering'">
                  </PremiumWarning>
                </el-popover>
                <ButtonWrapper
                  data-cy="update"
                  type="primary"
                  :clickHandler="updateDailyRoster"
                  :disabled="disabled"
                  @cb-start="setDisabled(true)"
                  @cb-end="setDisabled(false)"
                >
                  Update
                </ButtonWrapper>
              </div>
             </template>
            </ButtonGroupWrapper>

          </span>
        </el-dialog>
      </div>
      <p v-if="usingPinpoint && noteType == 'standUpNotes'" class="text-xs text-gray-700 break-words pb-2">Returning Soon.</p>
      <MessageWithEmojie 
          v-else 
          class="text-xs text-gray-700 break-words pb-2"
          :bodyText="rosterData[noteType]"
      />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { createAttachment } from '@/graphql/mutations'
import { updateDailyRoster } from '@/store/mutations'
import { getDailyRosterUpdatedTimestamp } from '@/utilities/timestampQueries'
import PremiumWarning from '@/components/PremiumWarning'
import store from '@/store/index'
import { Storage } from 'aws-amplify'
import { nanoid } from 'nanoid'
import Attachment from "@/components/shared/Attachment/Attachment";
import MessageTemplateDropdown from '@/components/MessageTemplateDropdown';
import MessageWithEmojie from '@/components/shared/Messenger/MessageWithEmojie'
import EmojiTextArea from '@/components/shared/Messenger/EmojiTextArea'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  props:['rosterData', 'dataLoading', 'noteType', 'noteLabel', 'attachmentData','preloadedMessageTemplates'],
  components:{
    PremiumWarning,
    Attachment,
    MessageTemplateDropdown,
    MessageWithEmojie,
    EmojiTextArea,
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  data() {
    return {
      count : 0,
      activeFile : false,
      modalOpen: false,
      editRosterData: {},
      loading: false,
      addAttachment: false,
      document: {
          id: '',
          fileName: '', 
          fileType: '',
          path: '',
          file: '',
          src: '',
          isImage: false
      },
      maxCharacters: 918,
      fields: {
        attachment: "",
        expirationDate: "",
      },
      localAttachment: {},
      attemptsToFetch: 0
    }
  },
  mounted () {
    this.isStandupNote ? this.maxCharacters = 918 : this.maxCharacters = 10000
  },
  computed: {
    shouldRenderMessageTemplateDropdown() {
      return this.noteType === 'standUpNotes';
    },
    /**
     * Returns the title for the edit note card window
     */
    editTitle: function(){
      return 'Edit ' + this.noteLabel
    },


    usingPinpoint(){
      return this.$store.state.userInfo.tenant.originationNumber == this.getEnvPinpointNumber()
    },

    /**
     * Returns where the send to DAs button needs to be disabled
     */
    isSendButtonDisabled: function(){
      return this.editRosterData[this.noteType]?.trim() === '' ||  this.reachedNoteMaxCharactors
    },

    /**
     * Returns whether the user has the premium daily rostering package
     */
    isDisabled: function(){
      if(this.noteType == "standUpNotes" && !this.$store.getters.hasDailyRostering){
        return true
      }
      else{
        return false
      }
    },

    checkMaxCharacters: function() {
      return this.editRosterData[this.noteType] && this.editRosterData[this.noteType].length == this.maxCharacters ? 'max-completed' : ''
    },

    reachedNoteMaxCharactors(){
      return this.editRosterData[this.noteType]?.trim().length >= this.maxCharacters
    },

    isStandupNote(){
      return this.noteType === 'standUpNotes'
    },

    notesTextLengthCounter(){
      return `${this.editRosterData[this.noteType]?.length}/${this.maxCharacters}`
    },
  },

  methods: {
    async updateNewMessage(text){
      this.editRosterData[this.noteType] = text;
    },
    /** Control image deletion */
    cleanImage(){
      this.count = this.count + 1 
      this.activeFile = true
    },

    getFieldsAttachment(fields) {
      this.count = this.count + 1 
      this.activeFile = false
      this.fields.attachment = fields.file;
      this.includeAttachment(this.fields.attachment);
    },

    getFieldsExpirationDate(fields) {
      this.fields.expirationDate = fields;
    },

    fieldsClean() {
      this.fields.attachment = "";
      this.fields.expirationDate = "";
      this.handleDocumentRemove();
    },

    updateStandUpAnnouncementMessage(message) {
      if (this.noteType === 'standUpNotes') {
        this.$nextTick(() => {
          this.$refs.refEmojiTextArea.setText(message)
        });
      }
    },

    /** Copy notes to editRosterData and open modal */
    openEditNotesModal(event, waitingTime = 3000){
      //REMOVE THIS ONCE STANDUP ANNOUNCEMENTS WORK
      if(this.usingPinpoint && this.noteType == 'standUpNotes'){
        this.$emit('open-hera-warning');
        return
      }
      this.modalOpen = true        
      let info = {...this.rosterData}
      this.editRosterData = info
      this.$nextTick(() => {
        this.$refs.refEmojiTextArea.setText(this.rosterData[this.noteType] ?? "")
      });

      if(this.attachmentData){
          if(this.attachmentData.s3Key){
            this.localAttachment = {...this.attachmentData}
            this.addAttachment = true
            if(!this.localAttachment.fileUrl && this.attemptsToFetch++ < 3){
              setTimeout(this.openEditNotesModal, waitingTime)
            }else{
              this.attemptsToFetch = 0
            }
          }else{
            this.localAttachment.id = null
            this.localAttachment.file = null
            this.localAttachment.fileUrl = null
            this.localAttachment.fileName = null
            this.localAttachment.contentType = null
            this.localAttachment.s3Key = null
            this.localAttachment.isImage = false
            this.localAttachment.expirationDate = null
            this.localAttachment.fileSize = null
            this.addAttachment = false
          }
      }
    },
    closeModal(){
      this.modalOpen = false
      // this.$emit('loadData')
      this.$nextTick(() => {
        this.$refs.refEmojiTextArea.setText(this.rosterData[this.noteType])
      });
    },

    /** Copy edited info to rosterData and close modal */
    async updateDailyRoster(){
      try {
          this.loading = true
        var input = {
          ...this.editRosterData
        }
        delete input.previousNotes
        delete input.tenant
        delete input.note
        delete input.replacedByStandbyByRoute
        delete input.createdAt
        delete input.route
        delete input.attachment
        delete input.replaceByRoute
        delete input.dailyLogs

        if(this.count > 0){
          if(!this.activeFile){
          //if an attachment is included, but there isn't an id yet, create a new attachment record.
          
          //place file in s3.
          var now = new Date()
          var object = await Storage.put(store.state.userInfo.tenant.group + '/broadcasts/' + now.getTime() + '/' + this.localAttachment.fileName, this.document.file)
          var key = object.key
          
          var attachmentId = nanoid(9)
          var createAttachmentInput = {
            id: attachmentId,
            group: this.$store.state.userInfo.tenant.group, 
            s3Key: key,
            expirationDate: this.fields.expirationDate,
            contentType: this.localAttachment.contentType,
            fileSize: this.localAttachment.fileSize
          }
          var results = await this.api(createAttachment,  {input: createAttachmentInput})
          this.localAttachment.id = attachmentId

          //clear document
          this.document = {
              id: '',
              fileName: '', 
              fileType: '',
              path: '',
              file: '',
              src: '',
              isImage: false
          }
          //creates link from daily roster to attachment
          input.dailyRosterAttachmentId = attachmentId
        }else{
          this.activeFile = false
          input.dailyRosterAttachmentId = null
        }

        }
        //Only update notes for the specific type, deletes other notes instead of building a whole new input object
        if(this.noteType == 'amNotes'){
          delete input.standUpNotes
          delete input.pmNotes
        }
        else if(this.noteType == 'standUpNotes'){
          delete input.amNotes
          delete input.pmNotes
        }
        else if(this.noteType == 'pmNotes'){
          delete input.amNotes
          delete input.standUpNotes
        }
        
        const result = await this.api(updateDailyRoster, {input: input}, getDailyRosterUpdatedTimestamp, 'getDailyRoster')
        this.modalOpen = false
        // this.$emit("loadData")
        this.activeFile = false
        this.count = 0
        this.loading = false
      } catch(e) {
        this.loading = false
        this.displayUserError(e)
        return e
      }
      return {}
    },

    //** Copy edited info to rosterData, Send messages to DA, and close modal */
    async sendNotesToDA(){
      var results = await this.updateDailyRoster();
     
      if(JSON.stringify(results) != "{}"){
        return
      }
      this.$emit("send-das-announcement")
    },

    async includeAttachment(e){
      try{
        //var files = e.target.files || e.dataTransfer.files;
        var file = e
        var fileType = file.type
        var fileSize = file.size
        var isImage = fileType.includes("image") ? true : false
            
        var uuid = this.generateUUID();
        var fileObject = {
            id: uuid,
            fileName: file.name, 
            fileType: file.type,
            file: file,
            src: '',
            isImage: isImage
        }
        var reader  = new FileReader();
        reader.onloadend = function (){
            fileObject.src = reader.result
        }
        if(file && fileType.includes("image")){
            reader.readAsDataURL(file);
        }
        else{
            fileObject.src = ""
        }
        this.document = fileObject

        this.localAttachment.src = fileObject.src
        this.localAttachment.contentType = fileType 
        this.localAttachment.fileName = file.name
        this.localAttachment.isImage = isImage
        this.localAttachment.file = file
        this.localAttachment.fileSize = fileSize
      }catch(e){
        this.displayUserError(e)
      }

    },

    async handleDocumentRemove() {
        this.addAttachment = false
        this.localAttachment.expirationDate = null
        this.localAttachment.id = null
        this.localAttachment.fileUrl = null
        this.localAttachment.fileName = null
        this.localAttachment.s3Key = null
        this.localAttachment.contentType = null
        this.localAttachment.isImage = false  
        this.localAttachment.file = null
        this.localAttachment.src = null
        this.localAttachment.fileSize = null
    },

    showAttachment(){
        this.addAttachment = true
        var now = new Date()
        this.localAttachment.expirationDate = now.setDate(now.getDate() + 4)
    },

  },
  watch:{
    'rosterData.updatedAt'(a, b){
      if(this.modalOpen && a !== b){
        this.openEditNotesModal(null, 100)
      }
    }
  }
}

</script>
<style scoped>
  .custom-cancel{
    @apply mt-2 lg:mt-0 !important
  }
  .margin-right-1{
    @apply mr-3 !important;
  }
  .margin-left-0{
    @apply ml-0 !important;
  }
  .cursor-not-allow{
    @apply cursor-not-allowed !important;
  }

  .fileContainer{
      @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
  }

  .el-select, .el-date-editor{
      width: 100% !important;
  }

  @media screen and (max-width: theme('screens.md')) {
    /deep/ #twemoji-textarea-outer {
      @apply flex flex-col flex-col-reverse !important;
      max-height: 500px !important;
    }

    /deep/ .twemojiTextarea {
      @apply leading-6 break-all !important;
      max-height: 400px !important;
      flex-basis: 100% !important;
    }
  }
</style>
<style lang="scss">
@media (max-width: theme('screens.md')) {
    .responsive-dialog{
      width: 60% !important;
    }

    #notesDialog > .responsive-dialog {
      width: 95% !important;
    }
  }
  @media (max-width: theme('screens.sm')) {
    .responsive-dialog{
      width: 75% !important;
    }
  }

  .max-completed .el-input__count {
    color: red !important;
  }
</style>