<template>
    <div class="w-full break-normal">
        <el-form label-width="183px" label-position="top" :model="formFields" ref="form" >
            <!-- :rules="rules" -->
                <div class="daCalledOutModal">
                    
                    <el-form-item class="pb-2" prop="status">
                        Reason for Replacement
                        <el-select
                        data-cy="replacement-reason"
                        size="small"
                        v-model="formFields.status" 
                        placeholder="" 
                        clearable>

                            <el-option
                                v-for="item in filteredValueList"
                                :key="item.value"
                                :label="item.value"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <div v-show="formFields.status !== 'VTO'">
                    <el-form-item prop="createDriverIssue">
                        <el-checkbox data-cy="driver-issue-chk" class="" @change="formFields.createDriverCounseling = false" v-model="formFields.createDriverIssue" size="medium" >
                            Create {{$t('label.an_associate')}} Issue for {{replaceByStaff.firstName}} {{replaceByStaff.lastName}}
                            <el-tooltip class="item" effect="dark" placement="top-start" >
                                <div slot="content" class="w-60">
                                    {{$t('label.associate')}} Issues can be used to monitor the performance of your staff. {{$t('label.associate')}} Issues can be created manually at any time. Checking this box will create {{$t('label.an_associate')}} Issue for the status selected above. Your {{$t('label.associate')}} is not notified of the {{$t('label.associate')}} issue. The {{$t('label.associate')}} Issue is for internal DSP tracking only.
                                </div>
                                <i class="uil uil-question-circle text-base"></i>
                            </el-tooltip>
                        </el-checkbox>

                    </el-form-item>

                    <el-form-item class="label-wrap ml-10 flex" prop="createDriverIssue">
                        <el-checkbox  data-cy="driver-counseling-chk" v-model="formFields.createDriverCounseling" :disabled="!formFields.createDriverIssue" size="medium" >
                            Also create a pending counseling for {{replaceByStaff.firstName}} {{replaceByStaff.lastName}}
                            <el-tooltip class="item" effect="dark" placement="top-start" >
                                <div slot="content" class="w-60">
                                    Create a pending counseling if you would like to hold the {{$t('label.associate')}} accountable with written documentation and the {{$t('label.associate_s')}} electronic signature. Counselings can be linked to one or more {{$t('label.associate')}} Issues. If this box is checked, Hera will link this new counseling to the {{$t('label.associate')}} Issue being created. 
                                </div>
                                <i class="uil uil-question-circle text-base"></i>
                            </el-tooltip>
                        </el-checkbox>
                    </el-form-item>
                    </div>
                    <el-form-item prop="replaceWithDA">
                        <el-checkbox data-cy="replace-with"  @change="formFields.routeStaff = { staff: null, route: null}" v-model="formFields.replaceWithDA" size="medium" >
                            Replace with standby {{$t('label.associate')}}
                            <el-tooltip class="item" effect="dark" placement="top-start" >
                                <div slot="content" class="w-60">
                                    When replacing a roster assignment with a standby {{$t('label.associate')}}, the originally assigned {{$t('label.associate')}} and route information will be kept for reference.
                                </div>
                                <i class="uil uil-question-circle text-base"></i>
                            </el-tooltip>
                        </el-checkbox>
                    </el-form-item>

                    <el-form-item class="ml-10" prop="routeStaff">
                        <el-select data-cy="choose-replacement" :class="[{'border border-red-600 rounded-lg':  formFields.replaceWithDA && formFields.routeStaff.route === null }]" v-model="formFields.routeStaff.route" :disabled="!formFields.replaceWithDA" :placeholder="`Select Standby ${$t('label.associate')}`" :no-data-text="`No standby ${$t('label.associate')}`">
                            <el-option
                            v-for="standby in standbyTableData"
                            :key="standby.id"
                            :label="lookupItem(getAssociateLookupMap, standby.staff, staff => standby.time ? staff.firstName + ' ' + staff.lastName + ' (' + standby.time + ')' : staff.firstName + ' ' + staff.lastName)"
                            :value="standby.id"/>
                        </el-select>
                        <div v-if="formFields.replaceWithDA && formFields.routeStaff.route === null" class="text-red-600 leading-7 text-xs">Standby Associate is required</div>
                    </el-form-item>
                </div>
        </el-form>     
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import { lookupItem } from '@/utilities/helpers'
    export default {
        name: 'DACalledOutForm',
        props:['formFields', 'replaceByStaff', 'standbyTableData'],
        data(){
            return{
            }
        },

        computed:{

            ...mapGetters('subscriptionStore',[
                'getAssociateLookupMap'
            ]),

            filteredValueList(){
                var valueList = this.valueListActivesOnly(this.$store.state.valuelists['roster-status'].items)
                return valueList.filter(item=>item.value != 'On Time')
            }
        },

        methods:{
            lookupItem
        },


    }
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }

</style>