<template>
    <div>
        <el-form label-position="left" label-width="242px" :model="route" ref="form">
            <el-form-item :label="fieldLabel" prop="rescuerId">
                <el-select 
                    v-if="route.rescuer"
                    v-model="route.rescuer.id"  
                    clearable
                    filterable
                    placeholder="Select"
                    >
                    <el-option-group>
                        <el-option
                            v-for="item in staffListExcludeRescuedStaff"
                            :key="item.id"
                            :label="item.firstName + ' ' + item.lastName"
                            :value="item.id">
                        </el-option>
                    </el-option-group>
                </el-select>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
export default {
    props: ['route', 'associateList'],
    computed: {
        staffListExcludeRescuedStaff: function(){
            if(this.associateList){
                return this.associateList.filter((staff) =>{
                    return staff.id != this.route.staff.id;
                })
            }
            else{
                return [];
            }
        },

        fieldLabel: function(){
            return  this.$t('label.associate') + this.route.staff.firstName + " " + this.route.staff.lastName + " was rescued by:"
        }
    },
    methods:{}
}
</script>