<template>
    <div>
    <el-form label-width="180px" :model="formFields" ref="form" :rules="rules">
        <div class="block lg:flex lg:space-x-4">
            <div class="flex-1">
                <el-form-item :label="$t('label.associate')" prop="staffId">
                    <el-select
                        data-cy="staffId"
                        v-model="formFields.staff.id"  
                        clearable
                        filterable
                        :disabled="readOnly"
                        placeholder="Select"
                        @change="updateFields('staff')">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                                v-for="item in staffListUnassigned"
                                :key="item.id"
                                :label="item.firstName + ' ' + item.lastName"
                                :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                                v-for="item in staffListAssigned"
                                :key="item.id"
                                :label="item.firstName + ' ' + item.lastName"
                                :value="item.id">
                            </el-option>
                        </el-option-group>
                    </el-select>
                </el-form-item>

                <el-form-item label="Helper" prop="helperId">
                    <el-select
                        data-cy="choose-helper"
                        v-model="formFields.helper.id"  
                        clearable
                        filterable
                        :disabled="readOnly"
                        placeholder="Select a Helper"
                        @change="updateFields('helper')">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                                v-for="item in staffListUnassigned"
                                :key="item.id"
                                :label="item.firstName + ' ' + item.lastName"
                                :value="item.id"
                                :disabled="item.id === formFields.staff.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                                v-for="item in staffListAssigned"
                                :key="item.id"
                                :label="item.firstName + ' ' + item.lastName"
                                :value="item.id"
                                :disabled="true"
                            >
                            </el-option>
                        </el-option-group>
                    </el-select>
                </el-form-item>

                <el-form-item label="Vehicle" prop="vehicleId">
                    <el-select
                        data-cy="vehicleId"
                        v-model="formFields.vehicle.id" 
                        clearable
                        filterable
                        :disabled="readOnly"
                        placeholder="Select"
                        :class="vehicleCellClass(formFields.vehicle, formFields.staff.id)"
                        @change="updateFields('vehicle')">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                                v-for="item in vehicleListUnassigned"
                                :key="item.id"
                                :label="item.name"
                                :disabled="authorizedVehicle(formFields.staff.id, item)"
                                :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Default Primary" v-if="formFields.staff.id">
                            <el-option
                                v-for="item in defaultVehicle(formFields.staff.id, false, false)"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id"
                                :title="item.disabled ? 'Vehicle is not active.' : item.name"
                                :disabled="item.disabled">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Default Secondary" v-if="formFields.staff.id">
                            <el-option
                                v-for="item in defaultVehicle(formFields.staff.id, true, false)"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id"
                                :title="item.disabled ? 'Vehicle is not active.' : item.name"
                                :disabled="item.disabled">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Default Tertiary" v-if="formFields.staff.id">
                            <el-option
                                v-for="item in defaultVehicle(formFields.staff.id, false, true)"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id"
                                :title="item.disabled ? 'Vehicle is not active.' : item.name"
                                :disabled="item.disabled">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                                v-for="item in vehicleListAssigned"
                                :key="item.id"
                                :label="item.name"
                                :disabled="authorizedVehicle(formFields.staff.id, item)"
                                :value="item.id">
                            </el-option>
                        </el-option-group>
                    </el-select>
                </el-form-item>

                <el-form-item label="Device" prop="deviceId">
                    <el-select
                        data-cy="deviceId"
                        v-model="formFields.device.id" 
                        clearable
                        :disabled="readOnly"
                        filterable
                        placeholder="Select">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                                v-for="item in deviceListUnassigned"
                                :key="item.id"
                                :label="item.deviceName"
                                :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Default" v-if="formFields.vehicle.id">
                            <el-option
                                v-for="item in defaultDevice(formFields.vehicle.id)"
                                :key="item.id"
                                :label="item.deviceName"
                                :value="item.id"
                                :title="item.disabled ? 'Device is not active.' : item.name"
                                :disabled="item.disabled">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                                v-for="item in deviceListAssigned"
                                :key="item.id"
                                :label="item.deviceName"
                                :value="item.id">
                            </el-option>
                        </el-option-group>
                    </el-select>
                </el-form-item>

                <el-form-item label="Route" prop="route">
                    <el-input data-cy="route" :disabled="readOnly" v-model="formFields.routeNumber"></el-input>
                </el-form-item>
            </div>
        
            <div class="flex-1">
                <el-form-item :label="$t('label.associate') + ' Roster Status'" prop="status">
                    <el-select data-cy="status" :disabled="readOnly" v-if="$store.getters.hasPerformanceCoaching" v-model="formFields.status" clearable>
                        <el-option
                            v-for="item in valueListActivesOnly(rosterStatusItems)"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>

                    <el-popover
                        v-else
                        placement="bottom"
                        title="Premium Required"
                        width="215"
                        trigger="hover"
                        content=""
                        class="text-center inline-block w-full"
                        > 
                        <el-select slot="reference" disabled placeholder="" v-model="formFields.status"><el-option
                        
                            key="none"
                            label="none"
                            value="none">
                        </el-option></el-select>
                        <PremiumWarning
                            action="track driver attendance"
                            premiumFeature="daily rostering">
                        </PremiumWarning>
                    </el-popover>
                </el-form-item>

                <el-form-item label="Helper Roster Status" prop="status">
                    <el-select data-cy="status" :disabled="readOnly" v-if="$store.getters.hasPerformanceCoaching" v-model="formFields.helperStatus" clearable>
                        <el-option
                            v-for="item in valueListActivesOnly(rosterStatusItems)"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>

                    <el-popover
                        v-else
                        placement="bottom"
                        title="Premium Required"
                        width="215"
                        trigger="hover"
                        content=""
                        class="text-center inline-block w-full"
                        > 
                        <el-select slot="reference" disabled placeholder="" v-model="formFields.helperStatus"><el-option
                        
                            key="none"
                            label="none"
                            value="none">
                        </el-option></el-select>
                        <PremiumWarning
                            action="track driver attendance"
                            premiumFeature="daily rostering">
                        </PremiumWarning>
                    </el-popover>
                </el-form-item>

                <el-form-item label="Staging" prop="staging">
                    <el-input data-cy="staging" :disabled="readOnly" v-model="formFields.staging"></el-input>
                </el-form-item>

                <el-form-item label="Parking Space" prop="parkingSpace">
                    <el-select
                        data-cy="parkingSpace"
                        v-model="formFields.parkingSpace.id" 
                        clearable
                        filterable
                        :disabled="readOnly"
                        placeholder="Select">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                                v-for="item in parkingSpaceListUnassigned"
                                :key="item.id"
                                :label="item.option"
                                :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group v-if="formFields.vehicle.id" label="Default">
                            <el-option
                                v-for="(item, index) in defaultParkingSpace(formFields.vehicle.id)"
                                :key="index"
                                :label="item.option"
                                :value="item.id"
                                :disabled="item.disabled">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                                v-for="item in parkingSpaceListAssigned"
                                :key="item.id"
                                :label="item.option"
                                :value="item.id">
                            </el-option>
                        </el-option-group>
                    </el-select>
                </el-form-item>

                <el-form-item label="Time" prop="time">
                    <el-time-picker 
                     data-cy="time"
                     v-model="formFields.time" format="hh:mm a"
                     :disabled="readOnly"
                     :editable="false"
                     :default-value="timer"
                     value-format="HH:mm"
                     class="el-time-picker"
                     placeholder="Select time">
                    </el-time-picker>
                </el-form-item>
            </div>
        </div>

            <el-form-item label="Notes" prop="notes">
            <el-input 
                data-cy="notes"
                :disabled="readOnly"
                type="textarea"
                :autosize="{ minRows: 3 }" 
                v-model="formFields.notes"
                />
            </el-form-item>
    </el-form>
    </div>
</template>

<script>
import PremiumWarning from '@/components/PremiumWarning'

export default {
    name: 'DailyRosterRouteForm',
    components: {PremiumWarning},
    props:[
        'formFields',
        'deviceListAssigned',
        'deviceListNotActive',
        'deviceListUnassigned',
        'parkingSpaceListAssigned',
        'parkingSpaceListUnassigned',
        'rosterStatusItems', 
        'rules',
        'associateList',
        'staffListAssigned',
        'staffListNotActive',
        'vehicleList',
        'staffListUnassigned',
        'vehicleListAssigned',
        'vehicleListNotActive',
        'vehicleListUnassigned',
        'authorizedVehicle',
        'vehicleCellClass',
        'readOnly'
    ],
    data: function(){
        return{
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            accidentReportLoading: false,
            fileUploadEvent: {
                accidentReport: null,
                injuryReport: null
            },
            path: null,
            deleteFile: {
                accidentReport: null,
                injuryReport: null
            },
            deleteFileKey: {
                accidentReport: null,
                injuryReport: null
            },
            
        }
    },

    computed: {
        timer() {
            const currentDate = new Date()
            const convertDateTz = this.convertTimeTenantTimezone(currentDate, 'YYYY-MM-DD HH:mm:ss')
            return convertDateTz
        },
        fullName() {
            return this.formFields.staff.firstName + " " + this.formFields.staff.lastName
        }
    },


    methods: {

        /**
         * Finds default device for vehicle in row of table
         * @param {string} vehicleId id of vehicle member to find
         */
        defaultDevice: function(vehicleId){
            var vehicleMatch = this.vehicleList.find(function(vehicle){
                return vehicle.id == vehicleId
            })
            if ( vehicleMatch && vehicleMatch.device ) return [{...vehicleMatch.device}]
            return [{id: 1, deviceName: "Not set", disabled: true}]
        },

        /**
         * Finds default and secondary default vehicle for staff in row of table
         * @param {string} staffId id of staff member to find
         * @param {boolean} secondary find secondary vehicle or not
         */
        defaultVehicle: function(staffId, secondary, tertiary){
            var staffMatch = this.associateList.find(function(staff){
                return staff.id == staffId
            })
            // if ( staffMatch && !secondary && staffMatch.defaultVehicle ) return [{...staffMatch.defaultVehicle}]
            // else if ( staffMatch && staffMatch.defaultVehicle2  ) return [{...staffMatch.defaultVehicle2}]
            // return [{id: Number(secondary), name: "Not set", disabled: true}]
            if(staffMatch){
                var dV = staffMatch.defaultVehicle
                var dV2 = staffMatch.defaultVehicle2
                var dV3 = staffMatch.defaultVehicle3

                if ( !secondary && !tertiary && dV && dV.status != "Active" ) return [{id: dV.id, name: dV.name, disabled: true}]
                else if (!secondary && !tertiary && dV ) return [{...dV}]

                else if (secondary && !tertiary && dV2 && dV2.status != "Active"  ) return [{id: dV2.id, name: dV2.name, disabled: true}]
                else if (secondary && !tertiary && dV2) return [{...dV2}]
                
                else if (!secondary && tertiary && dV3 && dV3.status != "Active"  ) return [{id: dV3.id, name: dV3.name, disabled: true}]
                else if (!secondary && tertiary && dV3) return [{...dV3}]
                
            }
            return [{id: Number(secondary), name: "Not set", disabled: true}]
        },

        /**
         * Finds default device for vehicle in row of table
         * @param {string} vehicleId id of parking Space to find
         */
        defaultParkingSpace: function(vehicleId){
            var vehicleMatch = this.vehicleList.find(vehicle =>{
                return vehicle.id == vehicleId
            })
            if ( vehicleMatch && vehicleMatch.parkingSpace ) return [{...vehicleMatch.parkingSpace}]
            return [{id: 1, option: "Not set", disabled: true}]
        },

        /**
         * Updates the selected vehicle and device to the defaults whent a staff member or vehicle is selected
         */
        updateFields(trigger){
            let obj = {}
            var dV
            if( trigger == "staff" ){
                // update default vehicle, device, and parking space
                const staffMatch = this.associateList.find( (staff) => {
                    return staff.id == this.formFields.staff.id
                })
                if(!staffMatch) obj = {}
                else{
                    if(!this.$store.getters.hasStaffManagement) dV = null
                    else if(staffMatch.defaultVehicle && staffMatch.defaultVehicle.status == "Active"){
                        // see if the employee's default vehicle is assigned
                        var defaultAlreadyAssigned = this.vehicleListAssigned.some(vehicle =>{
                            return vehicle.id === staffMatch.defaultVehicle.id
                        })

                        if(!defaultAlreadyAssigned) dV = staffMatch.defaultVehicle
                        else if(staffMatch.defaultVehicle2 && staffMatch.defaultVehicle2.status == "Active"){
                            // see if the employee's seconday vehicle is assigned
                            var defaultAlreadyAssigned = this.vehicleListAssigned.some(vehicle =>{
                                return vehicle.id === staffMatch.defaultVehicle2.id
                            })
                            if(!defaultAlreadyAssigned) dV = staffMatch.defaultVehicle2
                            else if(staffMatch.defaultVehicle3 && staffMatch.defaultVehicle3.status == "Active"){
                                // see if the employee's Tertiary vehicle is assigned
                                var defaultAlreadyAssigned = this.vehicleListAssigned.some(vehicle =>{
                                    return vehicle.id === staffMatch.defaultVehicle3.id
                                })
                                if(!defaultAlreadyAssigned) dV = staffMatch.defaultVehicle3
                                    this.displayUserNotification({
                                        type: 'warning',
                                        title: 'Vehicle in Use',
                                        message: `Tertiary vehicle assigned for ${staffMatch.firstName} ${staffMatch.lastName}`
                                    });
                            }
                        }
                    }
                    else if(staffMatch.defaultVehicle2 && staffMatch.defaultVehicle2.status == "Active") {
                        var defaultAlreadyAssigned2 = this.vehicleListAssigned.some(vehicle =>{
                            return vehicle.id === staffMatch.defaultVehicle2.id
                        })
                        if(!defaultAlreadyAssigned2) dV = staffMatch.defaultVehicle2
                        else if(staffMatch.defaultVehicle3 && staffMatch.defaultVehicle3.status == "Active"){
                            dV = staffMatch.defaultVehicle3
                            this.displayUserNotification({
                                type: 'warning',
                                title: 'Vehicle in Use',
                                message: `Tertiary vehicle assigned for ${staffMatch.firstName} ${staffMatch.lastName}`
                            });
                        }
                    }
                    else if(staffMatch.defaultVehicle3 && staffMatch.defaultVehicle3.status == "Active") dV = staffMatch.defaultVehicle3
                    else dV = null

                    obj = {
                        firstName: staffMatch.firstName,
                        lastName: staffMatch.lastName,
                        vehicleId: dV ? dV.id : null,
                        vehicleName: dV ? dV.name : '',
                        vehicleParkingSpace: dV &&  dV.parkingSpace &&  dV.parkingSpace.id ? dV.parkingSpace.id : null,
                        vehicleParkingSpaceName: dV &&  dV.parkingSpace &&  dV.parkingSpace.id ? dV.parkingSpace.option : null,
                        deviceId: dV && dV.device && dV.device.status == "Active" && this.$store.getters.hasVehicleManagement ? dV.device.id : null,
                        deviceName:  dV && dV.device && dV.device.status == "Active" && this.$store.getters.hasVehicleManagement   ? dV.device.deviceName : '',
                        parkingSpace: dV && dV.parkingSpace &&  dV.parkingSpace.id ? dV.parkingSpace.id : null,
                        parkingSpaceName: dV && dV.parkingSpace &&  dV.parkingSpace.id ? dV.parkingSpace.option : null
                    }
                }
            }
            
            else if(trigger == "vehicle"){
                // update default device, and parking space
                const vehicleMatch = this.vehicleList.find( (vehicle) => {
                    return vehicle.id == this.formFields.vehicle.id
                })
                if(!vehicleMatch) obj = {}
                else{
                    obj = {
                        firstName: this.formFields.staff.firstName,
                        lastName: this.formFields.staff.lastName,
                        vehicleId: vehicleMatch.id,
                        vehicleName: vehicleMatch.name,
                        vehicleParkingSpace: vehicleMatch && vehicleMatch.parkingSpace && vehicleMatch.parkingSpace.id ? vehicleMatch.parkingSpace.id : null,
                        vehicleParkingSpaceName: vehicleMatch && vehicleMatch.parkingSpace && vehicleMatch.parkingSpace.id ? vehicleMatch.parkingSpace.option : '',
                        deviceId:  vehicleMatch.device && this.$store.getters.hasVehicleManagement ? vehicleMatch.device.id : null,
                        parkingSpace: vehicleMatch && vehicleMatch.parkingSpace && vehicleMatch.parkingSpace.id ? vehicleMatch.parkingSpace.id : null,
                        parkingSpaceName: vehicleMatch && vehicleMatch.parkingSpace && vehicleMatch.parkingSpace.id ? vehicleMatch.parkingSpace.option : '',
                    }
                }
            }else if(trigger == "helper"){
                const helperId = this.getHelperId()
                if(!helperId) this.formFields.helperStatus = null
                return
            }
            
            this.formFields.staff.firstName = obj.firstName
            this.formFields.staff.lastName = obj.lastName
            this.formFields.vehicle.id = obj.vehicleId
            this.formFields.vehicle.name = obj.vehicleName
            this.formFields.vehicle.parkingSpace.id = obj.vehicleParkingSpace
            this.formFields.vehicle.parkingSpace.option = obj.vehicleParkingSpaceName
            this.formFields.device.id = obj.deviceId
            this.formFields.parkingSpace.id = obj.parkingSpace  
            this.formFields.parkingSpace.option = obj.parkingSpaceName  
        },

        getHelperId(){
            const helperMatch = this.associateList.find( staff => staff.id == this.formFields.helper.id)
            return helperMatch ? helperMatch.id : null
        }
    }
}
</script>
<style scoped>
    .el-select{
        width: 100%;
    }

    .el-time-picker {
        width: 100% !important;
    }
    
    .ellipsis{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fileContainer{
        @apply  text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base break-words !important;
    }
    .fileContainer-disabled{
        @apply  opacity-50 cursor-not-allowed !important;
    }
    .fileContainer-disabled [type=file]{
        @apply cursor-not-allowed !important;
    }
</style>