<template>
	<div>
		<!--Fleet Invetory Table-->
		<el-table
			:ref="table.ref"
			:empty-text="table.emptyText"
			:data="table.data"
			class="flet-inventory-dashboard-table"
			row-class-name="cursor-pointer"
			style="width: 100%"
			size="mini">
			<template v-for="column in table.columns">
				<el-table-column
					:min-width="column.width"
					class="table-fleet-inventory"
					:key="column.name"
					prop="status">
					<template slot="header">
						<div class="text-gray-700 uppercase"> {{ column.name }} </div>
					</template>
					<template slot-scope="scope">
						{{ scope.row[column.row] }}
					</template>
				</el-table-column>
			</template>
			<el-table-column v-if="table.hasActionButton" align="center" width="45">
				<template slot-scope="scope">
					<el-dropdown class="mt-1 custom-relative" @command="handleCommand" :trigger="isMobileDevice() ? 'click' : 'hover'">
						<i class="context-menu uil uil-ellipsis-h"></i>
						<el-dropdown-menu slot="dropdown" class="custom-absolute">
							<el-dropdown-item :command="{ card: table, row: scope.row }"> {{ table.actionButtonText }} </el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</template>
			</el-table-column>
		</el-table>
	</div>
</template>
<script>
import EventBus from '@/eventBus'
import { mapMutations } from "vuex"

export default {
	name: 'FleetInventoryDashboardTable',
	props: ['table'],
	data() {
		return {

		}
	},
	methods: {

		...mapMutations(['setFiltersTypeVehicleByType']),

		handleCommand(command) {
			if(command.card.ref == 'vehicle-status') {
				EventBus.$emit(command.card.eventBus, command)
			}else if(command.card.ref == 'vehicle-type') {
				//set filters in store for vehicle type report
				this.setFiltersTypeVehicleByType([command.row.type])
				this.$router.push({name: 'VehicleByType'})
			}
		}
	},
	computed : {
	}
}
</script>
<style>
.custom-relative {
  position: relative !important
}
.custom-absolute {
  position: absolute !important;
  z-index:  10 !important;
}
.flet-inventory-dashboard-table .cell {
	@apply truncate leading-4;
}

.flet-inventory-dashboard-table .cell:hover {
	text-overflow: clip;
}
</style>