<template>
    <div>
        <!----------HEADER---------->
        <div class="flex justify-between">
        </div>

        <!-----------ROUTES TABLE----------->
        <el-table
            ref="table"
            empty-text="No Routes Rescued"
            :data="filterArray( tableData, search)"
            :default-sort="{prop: 'date', order: 'descending'}"
            style="width: 100%">

            <el-table-column
                label="Route Date"
                sortable
                width="150"
                prop="date">
                    <template slot-scope="scope">
                        <p class="text-black"> {{ scope.row.date }}</p>
                    </template>
            </el-table-column>

            <el-table-column
                :label="employeeLabel"
                prop="staff">
                    <template slot-scope="scope">
                        <p class="text-black" v-if="scope.row.staff.length > 0 "> {{ scope.row.staff.map(item => item.firstName && `${item.firstName} ${item.lastName}`).join(', ') }}</p>
                        <p class="text-black" v-else> {{ scope.row.staff.firstName }} {{ scope.row.staff.lastName }}</p>
                    </template>
            </el-table-column>
        </el-table>

        <p class="mt-4"> {{totalRescued || 0}} Total Rescued Routes</p>
    </div>
</template>

<script>
export default {
    name: 'RescuedRoutes',
    props: ['tableData', 'employeeLabel'],
    data(){
        return{
            search: '',
        }
    },

    computed:{

        totalRescued(){

            const rescuers = this.tableData.map(data=> data.staff)

            const total = rescuers.reduce((count, staff)=>{
                if (Array.isArray( staff )) {
                    count += staff.length
                    return count   
                } else {
                    return rescuers.length;
                }
            }, 0)
            return total
        }

    }
}
</script>