<template>
  <div>
    <!--HEADER-->
    <div class="flex justify-between">
      <div>
      </div>
      <!-- <div class="flex space-x-2 items-center">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div> -->
    </div>  


    <!--MENTOR TABLE-->
    <el-table
        ref="table"
        empty-text="No Mentor Records"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'date', order: 'descending'}"
        header-cell-class-name="table-header-cell"
        class="data-table"
        style="width: 100%">

        <el-table-column
          label="Date"
          sortable 
          fixed
          :sort-method="dateSort"
          prop="date"
          min-width="100">
          <template slot-scope="scope">
            {{ scope.row.date | date }}
            {{ scope.row.trips | text}} Trip<span v-show="scope.row.trips > 1 || !scope.row.trips">s</span>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Miles</div>
            <div class="text-brand">Time</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.miles || scope.row.miles === 'N/A'}" >{{ scope.row.miles | text}}</div>
            <div :class="{'placeholder': !scope.row.time || scope.row.time === 'N/A'}" class="text-brand">{{ scope.row.time | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Sse</div>
            <div class="text-brand">FICO</div>
          </template>
          <template slot-scope="scope">
            
            <div :class="{'placeholder': !scope.row.sse || scope.row.sse === 'N/A'}">{{ scope.row.sse | text}}</div>
            <div :class="{'placeholder': !scope.row.fico || scope.row.fico === 'N/A'}"  class="text-brand">{{ scope.row.fico | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Accel</div>
            <div class="text-brand">Braking</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.accel || scope.row.accel === 'N/A'}">{{ scope.row.accel | text}}</div>
            <div :class="{'placeholder': !scope.row.braking || scope.row.braking === 'N/A'}" class="text-brand">{{ scope.row.braking | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Cornering</div>
            <div class="text-brand">Speeding</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.cornering || scope.row.cornering === 'N/A'}">{{ scope.row.cornering | text}}</div>
            <div :class="{'placeholder': !scope.row.speeding || scope.row.speeding === 'N/A'}" class="text-brand">{{ scope.row.speeding | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Distraction</div>
            <div class="text-brand">Seatbelt</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.distraction || scope.row.distraction === 'N/A'}">{{ scope.row.distraction | text}}</div>
            <div :class="{'placeholder': !scope.row.seatbelt || scope.row.seatbelt === 'N/A'}" class="text-brand">{{ scope.row.seatbelt | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Back Up</div>
            <div class="text-brand">MPG</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.backUp || scope.row.backUp === 'N/A'}">{{ scope.row.backUp | text}}</div>
            <div :class="{'placeholder': !scope.row.mpg || scope.row.mpg === 'N/A'}" class="text-brand">{{ scope.row.mpg | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Idling</div>
            <div class="text-brand">Engine Off</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.idling || scope.row.idling === 'N/A'}">{{ scope.row.idling | text}}</div>
            <div :class="{'placeholder': !scope.row.engineOff || scope.row.engineOff === 'N/A'}" class="text-brand">{{ scope.row.engineOff | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="100"
          align="center"
          prop="trips">
          <template slot="header">
            <div>Pre DVCR</div>
            <div class="text-brand">Post DVCR</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.preDvcr || scope.row.preDvcr === 'N/A'}">{{ scope.row.preDvcr | text}}</div>
            <div :class="{'placeholder': !scope.row.postDvcr || scope.row.postDvcr === 'N/A'}" class="text-brand">{{ scope.row.postDvcr | text}}</div>
          </template>
        </el-table-column>

         <el-table-column
          align="center"
          min-width="200"
          prop="trips">
          <template slot="header">
            <div>Training Assigned</div>
            <div class="text-brand">Training Completed</div>
          </template>
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.trainingAssigned || scope.row.trainingAssigned === 'N/A'}">{{ scope.row.trainingAssigned | text}}</div>
            <div :class="{'placeholder': !scope.row.trainingCompleted || scope.row.trainingCompleted === 'N/A'}" class="text-brand">{{ scope.row.trainingCompleted | text}}</div>
          </template>
        </el-table-column>

        <el-table-column        
          min-width="54"
          fixed="right"
          align="right">
          <template slot-scope="scope">
            <i 
              @click="openEditMentorModal(scope.row)"
              class="text-2xl text-gray-600 uil uil-pen hover:text-brand cursor-pointer "/>
          </template>
        </el-table-column>
    </el-table>

    <p class="mt-4">{{ tableData.length || 0 }} Total Mentor Records</p>  

    <!--EDIT MODAL-->
    <el-dialog
      :title="'Edit Mentor Data for ' + fullName"
      :visible.sync="editModalOpen"
      :close-on-click-modal="false"
      width="60%"
      >
      <MentorForm ref="editModalForm" :formFields="editMentorData"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" class="float-left" @click="confirmDeleteMentor">Delete</el-button>
        <el-button @click="cancelEditModal">Cancel</el-button>
        <el-button type="primary" @click="updateMentor">Update</el-button>
      </span>
    </el-dialog>

  </div>

</template>

<script>

import { Auth, API } from 'aws-amplify';
import { updateStaffMentor, deleteStaffMentor } from '@/graphql/mutations'
import { getStaffMentorUpdatedTimestamp } from '@/utilities/timestampQueries'
import MentorForm from './MentorForm'

  export default {
    name: 'StaffMentorData',
    props: ['tableData', 'fullName'],
    components: {MentorForm},
    data() {
      return {
        search: '',
        editModalOpen: false,
        editMentorData: {}

      }
    },

    computed: {
      // modalTitle() {
      //   var value = this.editMentorData.date
      //   if(!value) return "Edit Mentor Data"
      //   value = value.toString()
      //   var splitValue = value.split("T")
      //   splitValue = splitValue[0].split("-")
      //   return `Edit Mentor Data for ${splitValue[1]}/${splitValue[2]}/${splitValue[0]}`
      // }
    },
    
    methods: {
      dateSort(a,b){
        return new Date(a.date) - new Date(b.date);
      },

      /** Closes edit mentor modal window */
      cancelEditModal: async function(){
        this.editMentorData = {}
        this.editModalOpen = false
        this.$emit('loadData')
      },

      /** Prompt if mentor should really be deleted*/
      async confirmDeleteMentor(){
        this.$confirm('This will permanently delete this mentor data. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteMentor()          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },

      /** Delete mentor from DB */
      async commitDeleteMentor( ){
        try{
          var timestampResult = await this.api(getStaffMentorUpdatedTimestamp, {id: this.editMentorData.id})
          if(!timestampResult.data.getStaffMentor){
            throw "Mentor data is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getStaffMentor.updatedAt
          if(this.editMentorData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const result = await this.api(deleteStaffMentor, {input:{ id: this.editMentorData.id }} )
          this.editMentorData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Mentor Data Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      openEditMentorModal(mentor){
        this.editMentorData = {...mentor}
        this.editMentorData.date = this.convertUtcToLocal(this.editMentorData.date)
        this.editModalOpen = true

      },

      /** Update a mentor's information */
      async updateMentor(){
        try {
          var timestampResult = await this.api(getStaffMentorUpdatedTimestamp, {id: this.editMentorData.id})
          if(!timestampResult.data.getStaffMentor){
            throw "Mentor data is missing or deleted by another user."
          }
          const input = {
            ...this.editMentorData
          }
          const result = await this.api(updateStaffMentor, {input: input}, getStaffMentorUpdatedTimestamp, 'getStaffMentor')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Mentor Data Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },
    }
  }
</script>
