<template>
    <el-form label-width="150px" >
        <div class="flex">
            <el-form-item class="flex-1" label="Date">
                <el-date-picker format="MM/dd/yyyy" v-model="formFields.date" type="date"></el-date-picker>
            </el-form-item>
            <el-form-item class="flex-1" label="Trips">
                <el-input v-model="formFields.trips"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Miles">
                <el-input v-model="formFields.miles"></el-input>
            </el-form-item>        
            <el-form-item class="flex-1" label="Time">
                <el-input v-model="formFields.time"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Sse">
                <el-input v-model="formFields.sse"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="FICO®" >
                <el-input v-model="formFields.fico"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Accel">
                <el-input v-model="formFields.accel"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Braking">
                <el-input v-model="formFields.braking"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Cornering">
                <el-input v-model="formFields.cornering"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Speeding">
                <el-input v-model="formFields.speeding"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Distraction">
                <el-input v-model="formFields.distraction"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Seatbelt">
                <el-input v-model="formFields.seatbelt"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Back Up">
                <el-input v-model="formFields.backUp"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="MPG">
                <el-input v-model="formFields.mpg"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Idling">
                <el-input v-model="formFields.idling"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Engine Off">
                <el-input v-model="formFields.engineOff"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Pre DVCR">
                <el-input v-model="formFields.preDvcr"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Post DVCR">
                <el-input v-model="formFields.postDvcr"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Training Assigned">
                <el-input v-model="formFields.trainingAssigned"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Training Completed">
                <el-input v-model="formFields.trainingCompleted"></el-input>
            </el-form-item>
        </div>
    </el-form>
</template>

<script>
export default {
    props:['formFields'],    
}
</script>
<style scoped>

    .el-date-editor{
        width: 100% !important;
    }
</style>