/*-----------------------------------------------------Reset CSS Code-------------------------------------------------------------*/
.taskPublicLink {
  overflow-y: auto;
  height: 100%;
  /* make sure to set some focus styles for accessibility */
  /* HTML5 display-role reset for older browsers */
  /**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   * Known issue: no IE 6 support.
   */
  /**
   * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
   *    `em` units.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  /**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /**
   * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
   * 2. Improve image quality when scaled in IE 7.
   */
  /**
   * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
   */
  /**
   * Correct margin displayed oddly in IE 6/7.
   */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct color not being inherited in IE 6/7/8/9.
   * 2. Correct text not wrapping in Firefox 3.
   * 3. Correct alignment displayed oddly in IE 6/7.
   */
  /**
   * 1. Correct font size not being inherited in all browsers.
   * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
   *    and Chrome.
   * 3. Improve appearance and consistency in all browsers.
   */
  /**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
   *    Known issue: inner spacing remains in IE 6.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * 1. Address box sizing set to content-box in IE 8/9.
   * 2. Remove excess padding in IE 8/9.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
  /**
   * Remove inner padding and border in Firefox 3+.
   */
  /**
   * 1. Remove default vertical scrollbar in IE 6/7/8/9.
   * 2. Improve readability and alignment in all browsers.
   */
  /**
   * Remove most spacing between table cells.
   */
  /*------------------------------------------------End Reset CSS Code-------------------------------------------------------------*/
  @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
}
.taskPublicLink .headerButton {
  cursor: pointer;
}
.taskPublicLink div,
.taskPublicLink span,
.taskPublicLink applet,
.taskPublicLink object,
.taskPublicLink iframe,
.taskPublicLink h1,
.taskPublicLink h2,
.taskPublicLink h3,
.taskPublicLink h4,
.taskPublicLink h5,
.taskPublicLink h6,
.taskPublicLink p,
.taskPublicLink blockquote,
.taskPublicLink pre,
.taskPublicLink a,
.taskPublicLink abbr,
.taskPublicLink acronym,
.taskPublicLink address,
.taskPublicLink big,
.taskPublicLink cite,
.taskPublicLink code,
.taskPublicLink del,
.taskPublicLink dfn,
.taskPublicLink em,
.taskPublicLink img,
.taskPublicLink ins,
.taskPublicLink kbd,
.taskPublicLink q,
.taskPublicLink s,
.taskPublicLink samp,
.taskPublicLink small,
.taskPublicLink strike,
.taskPublicLink strong,
.taskPublicLink sub,
.taskPublicLink sup,
.taskPublicLink tt,
.taskPublicLink var,
.taskPublicLink b,
.taskPublicLink u,
.taskPublicLink i,
.taskPublicLink center,
.taskPublicLink dl,
.taskPublicLink dt,
.taskPublicLink dd,
.taskPublicLink ol,
.taskPublicLink ul,
.taskPublicLink li,
.taskPublicLink fieldset,
.taskPublicLink form,
.taskPublicLink label,
.taskPublicLink legend,
.taskPublicLink table,
.taskPublicLink caption,
.taskPublicLink tbody,
.taskPublicLink tfoot,
.taskPublicLink thead,
.taskPublicLink tr,
.taskPublicLink th,
.taskPublicLink td,
.taskPublicLink article,
.taskPublicLink aside,
.taskPublicLink canvas,
.taskPublicLink details,
.taskPublicLink embed,
.taskPublicLink figure,
.taskPublicLink figcaption,
.taskPublicLink footer,
.taskPublicLink header,
.taskPublicLink hgroup,
.taskPublicLink menu,
.taskPublicLink nav,
.taskPublicLink output,
.taskPublicLink ruby,
.taskPublicLink section,
.taskPublicLink summary,
.taskPublicLink time,
.taskPublicLink mark,
.taskPublicLink audio,
.taskPublicLink video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.taskPublicLink :focus {
  outline: 0;
}
.taskPublicLink article,
.taskPublicLink aside,
.taskPublicLink details,
.taskPublicLink figcaption,
.taskPublicLink figure,
.taskPublicLink footer,
.taskPublicLink header,
.taskPublicLink hgroup,
.taskPublicLink menu,
.taskPublicLink nav,
.taskPublicLink section {
  display: block;
}
.taskPublicLink body {
  line-height: 1;
  overflow-x: hidden;
  font-family: "montserratregular";
}
.taskPublicLink * {
  font-family: "montserratregular";
}
.taskPublicLink ol,
.taskPublicLink ul {
  list-style: none;
}
.taskPublicLink blockquote,
.taskPublicLink q {
  quotes: none;
}
.taskPublicLink blockquote:before,
.taskPublicLink blockquote:after,
.taskPublicLink q:before,
.taskPublicLink q:after {
  content: "";
  content: none;
}
.taskPublicLink table {
  border-collapse: collapse;
  border-spacing: 0;
}
.taskPublicLink input[type="search"]::-webkit-search-cancel-button,
.taskPublicLink input[type="search"]::-webkit-search-decoration,
.taskPublicLink input[type="search"]::-webkit-search-results-button,
.taskPublicLink input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.taskPublicLink input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.taskPublicLink textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
.taskPublicLink audio,
.taskPublicLink canvas,
.taskPublicLink video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
.taskPublicLink audio:not([controls]) {
  display: none;
  height: 0;
}
.taskPublicLink [hidden] {
  display: none;
}
.taskPublicLink html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
.taskPublicLink a:focus {
  outline: thin dotted;
}
.taskPublicLink a:active,
.taskPublicLink a:hover {
  outline: 0;
}
.taskPublicLink img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
.taskPublicLink figure {
  margin: 0;
}
.taskPublicLink form {
  margin: 0;
}
.taskPublicLink fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.taskPublicLink legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
.taskPublicLink button,
.taskPublicLink input,
.taskPublicLink select,
.taskPublicLink textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
.taskPublicLink button,
.taskPublicLink input {
  line-height: normal;
}
.taskPublicLink button,
.taskPublicLink select {
  text-transform: none;
}
.taskPublicLink button,
.taskPublicLink html input[type="button"],
.taskPublicLink input[type="reset"],
.taskPublicLink input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
.taskPublicLink button[disabled],
.taskPublicLink html input[disabled] {
  cursor: default;
}
.taskPublicLink input[type="checkbox"],
.taskPublicLink input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
.taskPublicLink input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
.taskPublicLink input[type="search"]::-webkit-search-cancel-button,
.taskPublicLink input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.taskPublicLink button::-moz-focus-inner,
.taskPublicLink input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.taskPublicLink textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
.taskPublicLink table {
  border-collapse: collapse;
  border-spacing: 0;
}
.taskPublicLink html,
.taskPublicLink button,
.taskPublicLink input,
.taskPublicLink select,
.taskPublicLink textarea {
  color: #222;
}
.taskPublicLink ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
.taskPublicLink ::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.taskPublicLink img {
  vertical-align: middle;
}
.taskPublicLink fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.taskPublicLink textarea {
  resize: vertical;
}
.taskPublicLink .chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.taskPublicLink .font_regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.taskPublicLink .font_semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.taskPublicLink .c_container {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 320px) {
  .taskPublicLink .c_container {
    max-width: 500px;
    padding: 0 5%;
    width: 90%;
  }
}
@media print and (min-width: 320px) {
  .taskPublicLink .c_container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .c_container {
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .taskPublicLink .c_container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .c_container {
    max-width: 850px;
  }
}
@media (min-width: 1200px) {
  .taskPublicLink .c_container {
    max-width: 1020px;
  }
}
.taskPublicLink .c_container .cloud1 {
  position: absolute;
  top: -13px;
  z-index: 0;
}
@media (min-width: 320px) {
  .taskPublicLink .c_container .cloud1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .c_container .cloud1 {
    display: block;
    right: -62px;
  }
}
@media (min-width: 1200px) {
  .taskPublicLink .c_container .cloud1 {
    right: 0;
  }
}
.taskPublicLink .c_container .cloud2 {
  position: absolute;
  top: 48px;
  z-index: 0;
}
@media (min-width: 320px) {
  .taskPublicLink .c_container .cloud2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .taskPublicLink .c_container .cloud2 {
    display: block;
    right: 2px;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .c_container .cloud2 {
    right: 56px;
  }
}
@media (min-width: 1200px) {
  .taskPublicLink .c_container .cloud2 {
    right: 108px;
  }
}
.taskPublicLink .c_container .cloud3 {
  position: absolute;
  top: 54px;
  z-index: 0;
}
@media (min-width: 320px) {
  .taskPublicLink .c_container .cloud3 {
    display: none;
  }
}
@media (min-width: 768px) {
  .taskPublicLink .c_container .cloud3 {
    display: block;
    left: -41px;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .c_container .cloud3 {
    left: 22px;
  }
}
@media (min-width: 1200px) {
  .taskPublicLink .c_container .cloud3 {
    left: 100px;
  }
}
.taskPublicLink .clear {
  clear: both;
}
.taskPublicLink .header {
  background-color: #f1f1f1;
  padding: 20px 0;
  margin-bottom: 40px;
}
@media print {
  .taskPublicLink .header {
    margin-bottom: 0;
  }
}
.taskPublicLink .header .header_inner {
  position: relative;
}
.taskPublicLink .header .header_inner .logo {
  width: 114px;
  margin: 0 auto;
}
@media print {
  .taskPublicLink .header .header_inner .logo {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .header .header_inner .logo {
    float: left;
  }
}
.taskPublicLink .header .header_inner .header_btns {
  margin-top: 21px;
}
@media print {
  .taskPublicLink .header .header_inner .header_btns {
    display: none;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .header .header_inner .header_btns {
    float: right;
  }
}
@media (min-width: 320px) {
  .taskPublicLink .header .header_inner .header_btns {
    padding: 0 0 26px 0;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .header .header_inner .header_btns {
    padding: 0;
  }
}
.taskPublicLink .header .header_inner .header_btns ul {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}
.taskPublicLink .header .header_inner .header_btns ul li a {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 13px;
}
.taskPublicLink .header .header_inner .header_btns ul li:first-child a {
  background-color: #fff;
  color: rgba(51, 51, 51, 1);
  border: 1px solid #aeaeae;
}
.taskPublicLink .header .header_inner .header_btns ul li:last-child a {
  background-color: #7cb147;
  color: #fff;
}
.taskPublicLink .header .header_inner p {
  text-align: center;
  font-size: 15px;
  bottom: 21px;
}
@media (min-width: 320px) {
  .taskPublicLink .header .header_inner p {
    position: static;
  }
}
@media (min-width: 992px) {
  .taskPublicLink .header .header_inner p {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.taskPublicLink .main {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.taskPublicLink .main .overlay {
  max-width: 100%;
  width: 100%;
  height: 180px;
  background: url("images/overlay.png") center;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.taskPublicLink .main .uid {
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px #d6d6d6;
  border-radius: 10px;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 40px;
  z-index: 1;
  position: relative;
}
@media print {
  .taskPublicLink .main .uid {
    max-width: 100%;
    box-shadow: none;
  }
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid {
    width: 90%;
    padding: 25px 5%;
  }
}
@media (min-width: 768px) {
  .taskPublicLink .main .uid {
    padding: 25px;
    width: 100%;
  }
}
@media print and (min-width: 768px) {
  .taskPublicLink .main .uid {
    max-width: 100%;
  }
}
.taskPublicLink .main .uid .uid_head {
  display: flex;
  justify-content: space-between;
  padding: 0 0 22px 0;
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid .uid_head {
    flex-direction: column;
    align-items: left;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .main .uid .uid_head {
    flex-direction: row;
    align-items: center;
  }
}
.taskPublicLink .main .uid .uid_head .uid_heading h1 {
  color: rgba(51, 51, 51, 1);
  padding-bottom: 13px;
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid .uid_head .uid_heading h1 {
    font-size: 22px;
  }
}
@media (min-width: 480px) {
  .taskPublicLink .main .uid .uid_head .uid_heading h1 {
    font-size: 26px;
  }
}
.taskPublicLink .main .uid .uid_head .uid_heading ul {
  display: flex;
  justify-content: space-between;
  width: 310px;
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid .uid_head .uid_heading ul {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .main .uid .uid_head .uid_heading ul {
    flex-direction: row;
  }
}
.taskPublicLink .main .uid .uid_head .uid_heading ul li {
  font-size: 13px;
  color: #aeaeae;
}
.taskPublicLink .main .uid .uid_head .uid_heading ul li img {
  margin-right: 6px;
  margin-bottom: 3px;
}
.taskPublicLink .main .uid .uid_head .uid_heading ul li span {
  color: rgba(51, 51, 51, 1);
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid .uid_head .uid_heading ul li:last-child {
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .main .uid .uid_head .uid_heading ul li:last-child {
    margin: 0;
  }
}
@media (min-width: 320px) {
  .taskPublicLink .main .uid .uid_head .head_contact {
    margin-top: 15px;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .main .uid .uid_head .head_contact {
    margin: 0;
  }
}
@media print {
  .taskPublicLink .main .uid .uid_head .head_contact {
    display: none;
  }
}
.taskPublicLink .main .uid .uid_head .head_contact ul {
  display: flex;
  justify-content: space-between;
  width: 75px;
}
.taskPublicLink .main .uid .uid_head .head_contact ul li a {
  display: block;
  text-align: center;
}
.taskPublicLink .uid_body {
  position: relative;
}
.taskPublicLink .uid_body .progress_bar_before {
  content: "0";
  font-size: 0;
  height: 5px;
  width: 100%;
  background-color: #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.taskPublicLink .uid_body .progress_bar_after {
  content: "0";
  font-size: 0;
  height: 5px;
  width: 50%;
  background-color: #38cb46;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
}
.taskPublicLink .uid_body .progress {
  padding-top: 10px;
}
.taskPublicLink .uid_body .progress input {
  display: none;
}
.taskPublicLink .uid_body .progress span {
  font-size: 13px;
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .owner {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}
@media (min-width: 320px) {
  .taskPublicLink .uid_body .owner {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .taskPublicLink .uid_body .owner {
    width: 50%;
  }
}
.taskPublicLink .uid_body .owner span {
  font-size: 13px;
}
.taskPublicLink .uid_body .owner span:first-child {
  color: #aeaeae;
  width: 100px;
}
.taskPublicLink .uid_body .owner span:last-child {
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .owner span:last-child img {
  font-size: 15px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.taskPublicLink .uid_body .project {
  display: flex;
}
@media (min-width: 320px) {
  .taskPublicLink .uid_body .project {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .taskPublicLink .uid_body .project {
    flex-direction: row;
  }
}
.taskPublicLink .uid_body .project li {
  padding-top: 20px;
  flex: 1;
}
.taskPublicLink .uid_body .project li span {
  font-size: 13px;
}
.taskPublicLink .uid_body .project li span img {
  margin-right: 10px;
  vertical-align: middle;
}
.taskPublicLink .uid_body .project li .status {
  display: flex;
}
.taskPublicLink .uid_body .project li .status span:first-child {
  width: 100px;
  color: #aeaeae;
}
.taskPublicLink .uid_body .project li .status span:last-child {
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .project li .priority {
  padding-top: 20px;
  display: flex;
}
.taskPublicLink .uid_body .project li .priority span:first-child {
  width: 100px;
  color: #aeaeae;
}
.taskPublicLink .uid_body .project li .priority span:last-child {
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .project li .project_name {
  display: flex;
}
.taskPublicLink .uid_body .project li .project_name span:first-child {
  width: 100px;
  color: #aeaeae;
}
.taskPublicLink .uid_body .project li .project_name span:last-child {
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .project li .time_logged {
  padding-top: 20px;
  display: flex;
}
.taskPublicLink .uid_body .project li .time_logged span:first-child {
  width: 100px;
  color: #aeaeae;
}
.taskPublicLink .uid_body .project li .time_logged span:last-child {
  color: rgba(51, 51, 51, 1);
  display: flex;
}
.taskPublicLink .uid_body .project li .time_logged span:last-child img {
  color: #aeaeae;
  margin-right: 7px;
}
.taskPublicLink .uid_body .project li .time_logged span:last-child div {
  color: #aeaeae;
  margin: 0 5px;
}
.taskPublicLink .uid_body .desc {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
.taskPublicLink .uid_body .desc * {
  line-height: normal !important;
}
.taskPublicLink .uid_body .desc ol,
.taskPublicLink .uid_body .desc ul {
  margin: 0;
  padding: 0;
}
.taskPublicLink .uid_body .desc ul {
  list-style-type: disc;
}
.taskPublicLink .uid_body .desc ol {
  list-style-type: decimal;
}
.taskPublicLink .uid_body .desc li {
  margin: 0 0 10px 15px;
  padding: 0;
}
.taskPublicLink .uid_body .desc p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.taskPublicLink .uid_body .desc span {
  line-height: 19px;
  font-size: 13px;
}
.taskPublicLink .uid_body .desc span:first-child {
  width: 100;
  color: #aeaeae;
  margin-right: 10px;
}
.taskPublicLink .uid_body .desc span:last-child {
  color: rgba(51, 51, 51, 1);
}
.taskPublicLink .uid_body .checklist {
  padding: 20px 0 0 0;
  display: flex;
}
.taskPublicLink .uid_body .checklist span {
  line-height: 19px;
  font-size: 13px;
}
.taskPublicLink .uid_body .checklist span:first-child {
  flex: 1 0 100px;
  color: #aeaeae;
}
.taskPublicLink .uid_body .checklist span:last-child {
  color: rgba(51, 51, 51, 1);
  flex: 0 1 100%;
}
.taskPublicLink .uid_body .checklist span:last-child img {
  font-size: 15px;
  vertical-align: top;
  margin-right: 10px;
  color: #aeaeae;
  margin-top: 3px;
}
.taskPublicLink .uid_body .checklist span:last-child ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.taskPublicLink .uid_body .checklist span:last-child ul li.active span {
  text-decoration: line-through;
}
