

/*blockquote, pre { background-color: #eee; padding: 10px; }*/

/*button, input[ type=button ] { border-width: 1px; border-radius: 2px; margin: 0px; padding: 2px 5px; }*/

/*input[ type = range ] { -webkit-appearance: none; -moz-appearance: none; background-color: #ddd; width: 100%; }*/
/*input[ type = range ]::-moz-range-thumb { background-color: #888; border-radius: 0; width: 10px; }*/
/*input[ type = range ]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #888; height: 20px; width: 10px; }*/

/*summary { font-weight: bold; }*/

/*.attributeTitle {font-size: smaller; font-style: italic }*/
/*.attributeValue { color: blue }*/
/*.dragDropArea { border: 1px dashed gray; box-sizing: border-box; padding: 10px; }*/

/*.flex-container { display: flex; flex-wrap: wrap;}*/
/*.flex-container > div { border: 1px solid #ddd; margin: 5px; padding: 5px; }*/

/*.flex-container2 { box-sizing: border-box; display: flex;}*/
/*.flex-div1 { border: 0px solid #f00; box-sizing: border-box; overflow-x: hidden; margin-right: 10px; min-width:7rem; }*/
/*.flex-left-div2 { border: 0px solid #f00; box-sizing: border-box; overflow-x: hidden; max-height: 18rem;}*/
/*.flex-div2 { border: 0px red solid; overflow-x: auto; }*/


/*#CORdivHamburgerLeft {*/
    /*box-sizing: border-box; border-radius: 2px; cursor: pointer;font-size: 30px; left: 0; line-height: 30px;*/
    /*margin: 0; padding: 5px 15px 8px 10px;  top: 0; transition: left .5s; z-index: 10;*/
/*}*/
/*#CORdivHamburgerLeft {*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
/*}*/

/*#CORdivMenuLeft {*/

    /*border-radius: 2px; box-sizing: border-box; left: 2rem; margin: 0; max-height: 98%; overflow: auto; padding: 0 10px;*/
    /*top: 10px; resize: both;  transition: .5s;  z-index: 1000; }*/
/*#CORdivMenuLeft {*/
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/

    /*left:15%;*/
    /*margin: 0;  opacity: 0.97; overflow: auto; position: absolute; resize: both;  top: 100px;*/
/*}*/

/*#CORdivMenuLeftHeader { cursor: move; margin: 0; padding: 10px; }*/
/*#CORdivMenuLeft a { text-decoration: none; }*/
/*#CORdivMenuLeft h2 { margin: 5px 0; }*/


/*#CORdivMenuInWorld { left: 0; margin: auto; right: 0; text-align: center; width: 60%; }*/
/*#CORdivMenuInWorld h2 { margin: 0; }*/
/*#CORdivLog { max-height: 100px }*/


/*#CORdivMenuRight {*/
    /*height: 80%; left: calc( 100% - 35rem );*/
    /*margin: 0;  opacity: 0.97; overflow: auto; padding: 0px; position: absolute; resize: both; right: 0px; top: 100px;  width: 30rem;*/
/*}*/
/*#CORdivMenuRight {border: 1px solid #aaa; border-radius: 2px;*/
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    /*z-index: 1000;*/
/*}*/

/*#CORdivHeaderRight { cursor: move; padding: 10px; z-index: 10;}*/
/*#CORdivItemsRight { margin: 10px; }*/
/*#CORdivItemsRight iframe { display: none; }*/



/*@media screen and  (max-width: 900px ) {*/

    /*#CORdivMenuLeft { left: -23em }*/
    /*#CORdivMenuRight { left: 40%; width: 50%; }*/

/*}*/

/*@media screen and (max-width: 600px) {*/

    /*#CORdivMenuLeft { left: -23em; }*/
    /*#CORdivMenuRight { left: 50%; width: 48%; }*/

/*}*/

/*canvas{*/

    /*position:fixed;*/
    /*top:0%;*/
    /*left:0%;*/
    /*height:inherit !important;*/
    /*overflow-y: hidden !important;*/
/*}*/

/*  Copyright 2018 Ladybug Tools authors. MIT License */

/*:root { --mnu-width: 25rem; font-size: 0.8em; }*/
html { height: 100%; margin: 0; }
body { height: 100%; margin: 0;}


blockquote, pre { background-color:rgba(240, 240, 240, 0.25 ); padding: 1em }
button:hover, input[ type=button ]:hover { background-color: #ccc; color: white }

input[ type = range ] { -webkit-appearance: none; -moz-appearance: none; background-color: #ddd; width: 100%; }
input[ type = range ]::-moz-range-thumb { background-color: #888; border-radius: 0; width: 10px; }
input[ type = range ]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #888; height: 20px; width: 10px; }

summary { font-weight: bold; }

.attributeTitle {font-size: smaller; font-style: italic }
.attributeValue { color: blue }
.dragDropArea { border: 1px dashed gray; box-sizing: border-box; padding: 10px; }

#CORdivMenuLeft { max-height: 100%; margin: 3rem 1rem; overflow-x: hidden; padding: 1rem; position: fixed;
    resize: both; top: 0; width: var( --mnu-width ); z-index: 1; transition: left 0.5s; }
#CORdivMenuLeft {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#CORdivHamburgerLeft { font-size: 2rem; /* left: calc( var( --mnu-width ) - 3rem ); */
    line-height: 2rem; margin: 0; position: fixed; top: 0; transition: left 0.5s; z-index: 10; }
#CORdivHamburgerLeft {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#CORdivMenuInWorld { left: 0; margin: auto; position: fixed; right: 0; text-align: center; width: 60%; }
#CORdivMenuInWorld h2 { margin: 0; }
#CORdivLog { max-height: 100px }


#CORdivMenuRight { height: 80%; left: calc( 100% - 40rem );
    margin: 0;  opacity: 0.97; overflow: auto; padding: 0px; position: fixed; resize: both; right: 50px; top: 60px;  width: 30rem;
}
#CORdivMenuRight { border: 1px solid #aaa; border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* #CORdivHeaderRight { cursor: move; padding: 10px; z-index: 10;} */
#CORdivItemsRight { margin: 10px; }
#CORdivItemsRight iframe { display: none; }


#COdivHamburgerRight {
    font-size: 2rem; right: 0; line-height: 2rem;
    position: fixed; top: 50px; transition: left .5s; z-index: 10; }

#COdivHamburgerRight { border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


@media screen and ( max-width: 900px) {

    #CORdivMenuLeft { max-width: 80%; }
    #CORdivHamburgerLeft { left:-5rem; }
    #CORdivMenuRight { left: 20%; width: 50%; }

}

@media screen and ( max-width: 600px) {

    #CORdivMenuLeft { left: -100rem  }
    #CORdivMenuRight { left: 50%; width: 48%; }

}
