<template>
    <!--Table-->
    <el-table
      ref="table"
      empty-text="No History"
      :data=this.dataHistory
      :default-sort = "{prop: 'date', order: 'descending'}"
      style="width: 100%"
      >
      
      <el-table-column
        label="Type"
        sortable
        prop="type"
        width="160">
        <template slot-scope="scope">
          {{scope.row.type | text }}
        </template>
      </el-table-column>

      <el-table-column
        label="Date"
        sortable
        :sort-method="sortDate"
        prop="date"
        width="110">
        <template slot-scope="scope">
          {{ formatDate(scope.row.date,scope.row.type) }}
        </template>
      </el-table-column>

      <el-table-column
        label="Details"
        prop="details">
        <template slot-scope="scope">
          {{ scope.row.details | text }}
        </template>
      </el-table-column>

      <el-table-column align="right" width="55">
        <template slot-scope="scope">
            <el-dropdown data-cy="historylist-3dot-btn" class="mt-1" @command="handleCommand" trigger="click">
                <i class="context-menu uil uil-ellipsis-h"></i>
                <el-dropdown-menu slot="dropdown" @command="handleCommand">
                  <el-dropdown-item :command="{row: scope.row, action: 'view'}">View &amp; Edit</el-dropdown-item>
                  <el-dropdown-item divided :command="{row: scope.row, action: 'delete'}">Delete</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </template>
      </el-table-column>

    </el-table>
</template>

<script>
    export default {
        name: 'HistoryList',
        props: ['history', 'odometerRedingStatus'],
        data() {
            return {
            }
        },

        watch:{

        },
        computed:{
          dataHistory(){
            if( !this.odometerRedingStatus ){
              return this.history
            } else {
              return this.history.filter( i => {
                return i.type != 'Odometer Reading'
              })
            }
          },

        },

        methods: {
          
            
          handleCommand(payload){
            var action = payload.action
            var row = payload.row
            if(action == "view"){
              this.$emit('view-history-details', row)
              return
            }
            if(action == "delete"){
              this.$emit('delete-history-details', row)
              return
            }
          },
          
          sortDate(a,b){
              return new Date(a.date) - new Date(b.date);
          },

          formatDate(date,type) {

            let dateTz = null 
            
            if(type === 'Odometer Reading'){
              dateTz = this.$moment(date).format('MM/DD/YYYY');
            }else{
              dateTz = this.$options.filters.date_timezone(date);
            }

            return dateTz;
          }
        }
    }
</script>

<style scoped>

</style>
