<template>
    <div>
      <div class="flex justify-between">
        <p v-if="vehicleData.notes" class="text-xs text-gray-700 break-words">{{vehicleData.notes}}</p>
        <p v-else class="text-xs text-gray-600 break-words">Click the edit button to add a note</p>
        <i 
          title="Edit"
          @click="openEditNotesModal" 
          class="icon-button hover:text-brand uil uil-pen"/>
      </div>

      <!-- EDIT MODAL -->
      <el-dialog
          :title="editTitle"
          :visible.sync="modalOpen"
          width="30%"
          :close-on-click-modal="false"
          >
            <el-form label-position="top" >
              <el-form-item>
                <el-input type="textarea" :autosize="{ minRows: 4}" v-model="editVehicleData.notes"></el-input>
              </el-form-item>
            </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="modalOpen = false">Cancel</el-button>
            <el-button type="primary" @click="updateVehicle">Update</el-button>
          </span>
        </el-dialog>
    </div>
</template>

<script>

import { updateVehicle } from '@/graphql/mutations'

export default {
  props:['vehicleData', 'noteLabel'],
  name: 'Notes',
  data() {
    return {
      modalOpen: false,
      editVehicleData: {}
    }
  },

  computed: {
    /**
     * Returns the title for the edit note card window
     */
    editTitle: function(){
      return 'Edit ' + this.noteLabel
    }
  },
  
  methods: {
    /** Copy notes to editVehicleData and open modal */
    openEditNotesModal(){
      this.modalOpen = true        
      let info = {...this.vehicleData}
      this.editVehicleData = info
    },

    /** Copy edited info to rosterData and close modal */
    async updateVehicle(){
        try {
          var input = {
            ...this.editVehicleData
          }
          input = this.cleanVehicleInput(input)
          const result = await this.api(updateVehicle, {input: input})
          this.modalOpen = false
          this.$emit("loadData")
        } catch(e) {
          console.log(e)
          this.displayUserError(e)        
        }
      }
  }
}

</script>
