<template>
  <el-dialog
    data-cy="status_form_modal"
    v-if="$store.state.valuelists && $store.state.valuelists['vehicle-status'] && $store.state.valuelists['vehicle-status'].items"
    :title="'Update Vehicle Status for ' + formFields.name"
    :visible.sync="statusOpen"
    :close-on-click-modal="false"
    :show-close="false"
    width="50%"
    v-loading="loading"
    >
    <el-form label-position="left" label-width="200px" :model="statusForm" :rules="statusRules" ref="statusForm">
      <el-form-item label="New Status" prop="newStatus">
        <el-select
          data-cy="new_status_sel"
          prop="status"
          v-model="statusForm.newStatus"
          placeholder="Select"
          class="el-select-form  custom-select-keyboardless"
          @change="addToggleNewRecordMaintenance">
          <el-option
            v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-status'].items)"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Date & Time" prop="date">
        <el-date-picker data-cy="date_dpk" v-inputmode="'none'" format="MM/dd/yyyy hh:mm A" v-model="statusForm.date" type="datetime" :default-value="new Date()"></el-date-picker>
      </el-form-item>
      <el-form-item label="Reason for Change" prop="statusChangeReason">
        <el-input data-cy="change_reason_in" v-model="statusForm.statusChangeReason"></el-input>
      </el-form-item>
      <el-form-item label="Create a Maintenance Record" prop="addNewRecordMaintenance" v-if="showToogle && statusForm.newStatus === 'Inactive - Maintenance'">
        <el-switch data-cy="toggle_new_maintenance_record"
           v-model="statusForm.addNewRecordMaintenance"
        >
        </el-switch>
      </el-form-item>
      <el-form-item prop="addCompleteRecordMaintenance" v-if="showToogleComplete && statusForm.newStatus !== 'Inactive - Maintenance' && formFields.status === 'Inactive - Maintenance'">
        <span slot="label">Complete all Maintenance <br> Records</span>
        <el-switch 
           v-model="statusForm.addCompleteRecordMaintenance"
        >
        </el-switch>
      </el-form-item>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <ButtonGroupWrapper>
        <template slot-scope="{disabled, setDisabled}">
          <el-button
            :disabled="disabled"
            @click="closeStatusModal"
          >
            Cancel
          </el-button>
          <el-tooltip :disabled="!buttonDisabled" content="Please change Vehicle status to update" placement="top-start">
            <ButtonWrapper
              type="primary"
              data-cy="update_btn"
              :clickHandler="updateStatus"
              :disabled="buttonDisabled || disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Update
            </ButtonWrapper>
          </el-tooltip>
        </template>
      </ButtonGroupWrapper>
    </span>
  </el-dialog>
</template>
<script>
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  components: {
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  data() {
    return {
      showToogle:true,
      showToogleComplete:true
    }
  },
  props:[
    'formFields',
    'statusOpen',
    'statusForm',
    'statusRules',
    'loading'
  ],
  created() {
    this.statusForm.addNewRecordMaintenance = true
    this.statusForm.addCompleteRecordMaintenance = true
  },
  directives: {
    inputmode: {
      inserted(el) {
        const dateInput = el.querySelector('.el-date-editor .el-input__inner');
        
        if (dateInput) {
          dateInput.setAttribute('inputmode', 'none');
        }
      }
    }
  },

  computed: {

    buttonDisabled(){
      return this.statusForm.newStatus === this.formFields.status
    }

  },

  methods: {
      maintenanceNotComplete(){
        const records = this.formFields.maintenanceRecords
        return records?.items?.filter((records) => records.maintenanceStatus !== "Complete").length

      },
      addToggleNewRecordMaintenance(value){
        if(value === "Inactive - Maintenance"){
          this.showToogle = true;
          this.showToogleComplete = false;
          this.statusForm.addCompleteRecordMaintenance = false;
          this.statusForm.addNewRecordMaintenance = true;
        }else{
          this.showToogle = false;
          this.showToogleComplete = (this.maintenanceNotComplete() > 0) ? true : false;
          this.statusForm.addNewRecordMaintenance = false;
          this.statusForm.addCompleteRecordMaintenance = true;
        }
      },
      updateStatus() {
        this.$refs.statusForm.validate((valid) => {
          if (!valid) throw "Please fill out all required fields."
        });
        this.showToogle = false;
        this.$emit('updateStatus');
      },
      closeStatusModal() {
        this.showToogle = false;
        this.$emit('closeStatusModal');
      }
    },
}
</script>
<style scope>
  .el-select, .el-date-editor{
    width: 100% !important;
  }
</style>