<template>
  <div class="block w-full pl-2 py-10">
    <div v-if="vehicleHasVin">
      <p class="text-large text-center text-black break-normal">
        <b>{{ vehicle.name }}</b>
      </p>
      <div class="flex justify-center my-2">
        <qrcode-vue
          :size="200"
          :value="vehicle.vin" />
      </div>
      <p class="text-large text-center text-black break-normal">
        <b>VIN: {{ vehicle.vin }}</b>
      </p>      
    </div>

    <p v-else-if="!loading" class="text-base text-center">
      Please make sure to select a vehicle that has a valid <b>VIN</b>
    </p>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue';
import { getVehicle } from '../queries.js';

export default {
  name: 'VehicleVinPrint',
  props: [ 'vehicleId' ],
  components: {
    QrcodeVue,
  },
  
  data(){
    return{
      loading: true,
      vehicle: {}
    }
  },
  
  computed: {
    vehicleHasVin() {
      return !!this.vehicle?.vin?.trim();
    },
  },

  methods:{       
    async loadData(){
      if (!this.vehicleId) return;

      try{
        this.loading = true
        let queryResult = await this.api(getVehicle, { id: this.vehicleId }) 
        this.vehicle = queryResult.data.getVehicle;

        if (!this.vehicleHasVin) {
          const msg = 'This vehicle has no VIN, please make sure to select a vehicle that has a valid VIN';
          throw new Error(msg);
        }
      }catch(e){
        throw e;
      }finally{
        this.loading = false;
      }
    },

    windowPrint: async function(){
      try{
        await this.loadData();
        await this.sleep(300);
        window.print();
      }
      catch(e){
        this.displayUserError(e)
      }
    },

    async sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    },
  },

  mounted(){
    this.windowPrint();
  },
}
</script>