<template>
  <div>
    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            <span>Vehicle History Records</span>
          </template>

          <template v-slot:filters>
            <CounterFilter :counter="countAppliedFilters" />

            <MultiSelectFilter
              type="recordType"
              title="Record Type"
              filterAllTitle="Record Types"
              :options="recordTypeFilterOptions"
              :selected="recordTypeSelectedOptions"
              @update-filters="handleMultipleFilterChange"
            />

            <SingleSelectFilter
              title="Time Range"
              :options="timeRangeFilterOptions"
              :currentFilter="timeRangeSelectedOption"
              @update-options="handleSingleFilterChange"
            />
          </template>
        </ContainerFilter>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="($event) => (search = $event)" />
      </template>

      <!--Table-->
      <CustomTable
        data-cy="history_record_options"
        v-loading="loading"
        inTable
        :expandCollapseColumn="false"
        ref="table"
        :withTableMenu="true"
        emptyText="No Vehicle History Records"
        footerTable="Vehicle History Records"
        :columns="tableColumns"
        :data="filteredTableData"
        :totalRecords="filteredTableData.length"
        :optionsHeader="optionsContextHeader"
        :optionsRows="optionsContextRow"
        @click-menu="handleCommand"
      >
        <template #date="row">
          {{ row.date | date }}
        </template>
      </CustomTable>
    </TableCard>
  </div>
</template>

<script>
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import CounterFilter from "@/components/CounterFilters";

import ExportsMixin from '../mixins/exportsMixin'
import { calculateRange, isInRange } from "@/utilities/dateRangeCalculator";
import { 
  HISTORY_TYPE_VEHICLE_DAMAGE, 
  HISTORY_TYPE_VEHICLE_PHOTO_LOG,
  HISTORY_TYPE_MAINTENANCE,
  HISTORY_TYPE_INCIDENT,
  HISTORY_TYPE_ODOMETER_READING,
  HISTORY_TYPE_VEHICLE_DETAILS_UPDATE
 } from '../constants'

export default {
  name: "VehicleHistory",
  mixins: [
    ExportsMixin
  ],
  props: {
    latestVehicleHistoryRecords: {
      type: Array,
      default: [],
      required: true,
    },
  },
  components: {
    TableCard,
    CustomTable,
    ContainerFilter,
    CounterFilter,
    MultiSelectFilter,
    SingleSelectFilter,
    SearchBox,
  },
  data() {
    return {
      loading: false,
      search: "",
      recordTypeFilterOptions: [
        HISTORY_TYPE_VEHICLE_DAMAGE,
        HISTORY_TYPE_VEHICLE_PHOTO_LOG,
        HISTORY_TYPE_MAINTENANCE,
        HISTORY_TYPE_INCIDENT,
        HISTORY_TYPE_ODOMETER_READING,
        HISTORY_TYPE_VEHICLE_DETAILS_UPDATE
      ],
      recordTypeSelectedOptions: [
        HISTORY_TYPE_VEHICLE_DAMAGE,
        HISTORY_TYPE_VEHICLE_PHOTO_LOG,
        HISTORY_TYPE_MAINTENANCE,
        HISTORY_TYPE_INCIDENT,
      ],
      timeRangeFilterOptions: [
        { value: "all dates", label: "All Dates", selected: false },
        { value: "current week", label: "Current Week", selected: false, divided: true },
        { value: "last week", label: "Previous Week", selected: false },
        { value: "current & previous week", label: "Current & Previous Week", selected: false },
        { value: "last 7 days", label: "Last 7 Days", selected: false },
        { value: "last 14 days", label: "Last 14 Days", selected: false },
        { value: "last 21 days", label: "Last 21 Days", selected: false },
        { value: "current month", label: "Current Month", selected: false },
        { value: "previous month", label: "Previous Month", selected: false },
        { value: "current & previous month", label: "Current & Previous Month", selected: false },
        { value: "last 30 days", label: "Last 30 Days", selected: true },
        { value: "last 60 days", label: "Last 60 Days", selected: false },
        { value: "last 90 days", label: "Last 90 Days", selected: false },
        { value: "current year", label: "Current Year", selected: false },
        { value: "last year", label: "Previous Year", selected: false },
        { value: "current & previous year", label: "Current & Previous Year", selected: false }
      ],
      timeRangeSelectedOption: "last 30 days",
      tableColumns: [
        {
          name: "Update Type",
          col: "typeName",
          fixed: false,
          width: "120",
          sortable: false,
        },
        {
          name: "Date",
          col: "date",
          fixed: false,
          width: "70",
          sortable: false,
        },
        {
          name: "Details",
          col: "details",
          fixed: false,
          width: "150",
          sortable: false,
        },
        {
          name: "Created/Updated By",
          col: "createdOrUpdatedBy",
          fixed: false,
          width: "150",
          sortable: false,
        },
      ],
      optionsContextHeader: [
        {
          label: "New Vehicle Damage Record",
          action: "addVehicleDamageRecord",
          divided: false,
        },
        {
          label: "New Vehicle Photo Log",
          action: "addVehiclePhotoLog",
          divided: false,
        },
        {
          label: "New Maintenance Record",
          action: "addMaintenanceRecord",
          divided: false,
        },
        {
          label: "New Accident Record",
          action: "addAccidentRecord",
          divided: false,
        },
        {
          label: "New Odometer Reading",
          action: "addOdometerReadingRecord",
          divided: false,
        },
        {
          label: "Export all records matching current filters",
          action: "exportAllRecords",
          divided: true,
        },
      ],
      typesForDailyRosterOptionsRow: ["Vehicle Rostered"],
      typesForOthersOptionsRow: [
        HISTORY_TYPE_VEHICLE_DAMAGE,
        HISTORY_TYPE_VEHICLE_PHOTO_LOG,
        HISTORY_TYPE_MAINTENANCE,
        HISTORY_TYPE_INCIDENT,
        HISTORY_TYPE_ODOMETER_READING,
      ],
      optionsContextRow: [
        {
          label: "View & Edit",
          action: "edit",
          divided: false,
          condition: ($event) =>
            this.isConditionForOptionsContextRow($event, this.typesForOthersOptionsRow),
        },
        {
          label: "Delete",
          action: "delete",
          divided: false,
          condition: ($event) =>
            this.isConditionForOptionsContextRow($event, this.typesForOthersOptionsRow),
        },
      ],
    };
  },
  computed: {
    filteredTableData() {
      const shouldRemovedFromResults = (item) => (
        item.typeName === 'Vehicle Details Updated'
        && (item.details.includes('Last Odometer Reading Date') || item.details.includes('Mileage'))
      );
      const tableData = this.latestVehicleHistoryRecords.filter((item) => !shouldRemovedFromResults(item));

      let filteredData = this.filterArray(
        tableData,
        this.search
      );

      filteredData = this.filterDataByRecordType(
        filteredData,
        this.recordTypeSelectedOptions
      );

      filteredData = this.filterDataByTimeRange(
        filteredData,
        this.timeRangeSelectedOption
      );

      return filteredData.sort((a, b) => a.date - b.date);
    },
    countAppliedFilters() {
      const recordTypeApplied =
        this.recordTypeFilterOptions.length !==
        this.recordTypeSelectedOptions.length;

      let count = 0;
      count += recordTypeApplied ? 1 : 0;

      return count;
    },
  },
  methods: {
    filterDataByRecordType(data = [], filters = []) {
      if (!filters?.length) return data;
      return data.filter((item) => filters.includes(item.type));
    },
    filterDataByTimeRange(data = [], filter = "") {
      if (!filter || filter === "all dates") return data;

      const [start, end] = calculateRange(filter);
      return data.filter((item) => isInRange(start, end, item.date));
    },
    handleCommand(payload) {
      const { action, row } = payload;

      switch (action) {
        case 'addVehicleDamageRecord':
          this.$emit("addVehicleDamageRecord");
          break;

        case 'addVehiclePhotoLog':
          this.$emit("addVehiclePhotoLog");
          break;

        case 'addMaintenanceRecord':
          this.$emit("addMaintenanceRecord");
          break;

        case 'addAccidentRecord':
          this.$emit("addAccidentRecord");
          break;

        case 'addOdometerReadingRecord':
          this.$emit("addOdometerReadingRecord");
          break;

        case 'edit':
          this.$emit("viewHistoryDetails", row);
          break;

        case 'delete':
          this.$emit("deleteHistoryDetails", row);
          break;

        case 'exportAllRecords':
          this.$_exportsHandleDataExport(this.filteredTableData, this.tableColumns)
          break;
      }
    },
    handleSingleFilterChange(e) {
      this.timeRangeFilterOptions = e.options;
      this.timeRangeSelectedOption = e.currentFilter;
    },
    handleMultipleFilterChange(e) {
      const { type, filters } = e;

      if (type === "recordType") {
        this.recordTypeSelectedOptions = filters;
      }
    },
    isConditionForOptionsContextRow(payload, options) {
      return options.includes(payload.type);
    },
  },
};
</script>

<style>
</style>