<template>
    <el-form data-cy="vehicle_form" label-width="183px" :model="formFields" :rules="rules" ref="form">
        <div class="block lg:flex space-x-4 vehicle_form">
            <div class="flex-1">

              <el-form-item label="Name" prop="name">
                  <el-input data-cy="name_in" v-model="formFields.name"></el-input>
              </el-form-item>

              <el-form-item label="Vehicle Type" prop="vehicleType.id">
                <CustomListsOptionsSelect
                    v-model="formFields.vehicleType.id"
                    clearable
                    filterable
                    ref="vehicleTypeDropdown"
                    data-cy="vehicleType"
                    listType="vehicle-type"
                    linkText="+ Add New Vehicle Type"
                    :customListEnabledArgs="[isCreationForm, formFields.vehicleType.id]"
                />
              </el-form-item>
              
                <el-form-item label="Assigned Device" prop="device.id">
                    <el-select :class="{'custom-select-arrow': isDisabled}" data-cy="device_sel" v-model="formFields.device.id" clearable filterable :disabled="isDisabled">
                        <el-option-group label="Not Yet Assigned">
                            <el-option
                            v-for="item in deviceListUnassigned"
                            :key="item.id"
                            :label="item.deviceName"
                            :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Already Assigned">
                            <el-option
                            v-for="item in deviceListAssigned"
                            :key="item.id"
                            :label="item.deviceName"
                            :value="item.id">
                            </el-option>
                        </el-option-group>

                        <el-option-group label="Not Active">
                            <el-option
                            v-for="item in deviceListNotActive"
                            disabled
                            :key="item.id"
                            :label="item.deviceName"
                            :value="item.id">
                            </el-option>
                        </el-option-group>
                    </el-select>
                    <div class="premium-warning-container custom-margin-question-mark" v-if="isDisabled">
                        <el-popover
                            placement="bottom"
                            title="Premium Required"
                            width="250"
                            trigger="hover"
                            content=""
                            class=" ml-1 text-center inline-block"
                        > 
                        <template #reference>
                             <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
                            </template>
                            <PremiumWarning 
                                action="select an assigned device for a vehicle" 
                                premiumFeature="vehicle management">
                            </PremiumWarning>
                        </el-popover>
                    </div>
                </el-form-item>

                <el-form-item label="License Plate" prop="licensePlate">
                    <el-input data-cy="license_plate_in" v-model="formFields.licensePlate"></el-input>
                </el-form-item>

                <el-form-item label="License Plate Expiration" prop="licensePlateExp">
                    <DatePicker data-cy="license_plate_exp_dpk" :selectedDate="formFields.licensePlateExp" class="custom-date-picker" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'licensePlateExp')" />
                </el-form-item>

                <el-form-item label="License State" prop="state">
                    <el-select  data-cy="state_sel" v-model="formFields.state" filterable clearable>
                        <el-option
                            v-for="item in $store.state.states"
                            :key="item"
                            :label="item"
                            :value="item">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="VIN" prop="vin">
                    <el-input data-cy="vin_in" v-model="formFields.vin"></el-input>
                </el-form-item>
                
                <el-form-item label="Gas Card (Last 6)" prop="gasCard">
                    <el-input data-cy="gas_card_in" v-model="formFields.gasCard" v-mask="'##### #'"></el-input>
                </el-form-item>

                <el-form-item label="Company" prop="company">
                    <el-select data-cy="company_sel" v-model="formFields.company" filterable clearable>
                        <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-company'].items)"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Rental Agreement Number" prop="rentalAgreementNumber">
                    <el-input data-cy="rental_agreement_num_in" v-model="formFields.rentalAgreementNumber"></el-input>
                </el-form-item>

                <el-form-item label="Toll Pass ID" prop="tollPassId">
                    <el-input data-cy="toll_pass_id_in" v-model="formFields.tollPassId"></el-input>
                </el-form-item>
            </div>

            <div class="flex-1">
                <el-form-item label="Parking Space" prop="parkingSpace">
                    <el-select data-cy="parking_space_sel" v-model="formFields.parkingSpace.id" filterable clearable ref="parkingSpaceDropdown">
                        <el-option
                            v-for="item in customListEnabled(parkingSpaceList, isCreationForm, formFields.parkingSpace.id)"
                            :key="item.id"
                            :label="item.option"
                            :disabled="!item.isEnabled"
                            :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="Start Date" prop="dateStart">
                    <DatePicker data-cy="start_date_dpk" class="custom-date-picker" :selectedDate="formFields.dateStart" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'dateStart')" />
                </el-form-item>

                <el-form-item label="End Date" prop="dateEnd">
                    <DatePicker data-cy="end_date_dpk" class="custom-date-picker" :selectedDate="formFields.dateEnd" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'dateEnd')" />
                </el-form-item>

                <el-form-item label="Ownership" prop="ownership" class="custom-select-keyboardless">
                    <el-select data-cy="ownership_sel" v-model="formFields.ownership" clearable>
                        <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-ownership'].items)"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>

                <!-- <el-form-item label="Provider" prop="provider">
                    <el-select v-model="formFields.provider" filterable clearable>
                        <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-provider'].items)"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item> -->

                <el-form-item label="Description" prop="type">
                   <el-input data-cy="type_in" v-model="formFields.type"></el-input>
                </el-form-item>

                <el-form-item label="Make" prop="make">
                    <el-input data-cy="make_in" v-model="formFields.make"></el-input>
                </el-form-item>

                <el-form-item label="Model" prop="model">
                    <el-input data-cy="model_in" v-model="formFields.model"></el-input>
                </el-form-item>

                <el-form-item label="Year" prop="year">
                    <el-input data-cy="year_in" v-model="formFields.year"></el-input>
                </el-form-item>
            </div>
        </div>
        <div class="w-full">
            <el-form-item label="Notes" prop="notes">
                <textarea
                data-cy="notes_txt"
                class="el-textarea__inner pt-2"
                rows="8"
                v-model="formFields.notes">
                </textarea>
            </el-form-item>
        </div>

    </el-form>
</template>

<script>

import { mapGetters, mapState } from 'vuex'
import PremiumWarning from '@/components/PremiumWarning.vue'
import Validator from '@/utilities/FormValidator'
import {updateStaff, updateVehicle} from '@/graphql/mutations'
import DatePicker from '@/components/Datepicker';
import vehicleTypeMixin from '@/mixins/vehicleType';
import { PARKING_SPACE_CREATE_VEHICLE, VEHICLE_TYPE_CREATE_VEHICLE } from '@/utilities/constants/defaultSectionsByCustomList';
import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect.vue';

export default {
    name: 'VehicleForm',
    props:['formFields', 'deviceList', 'vehicleData', 'isCreationForm'],
    components:{
        PremiumWarning,
        DatePicker,
        CustomListsOptionsSelect,
    },
    mixins:[vehicleTypeMixin],
    data: function(){
        return{
           rules: {
                name: [
                    { required: true, message: 'Please enter a vehicle name', trigger: 'blur' }
                ],
                "vehicleType.id": [
                    { required: true, message: 'Please enter a vehicle type', trigger: 'blur' }
                ],
                vin: [
                    { min: 16, max: 17, message: 'Please enter a vehicle vin with length 16, 17 or leave empty', trigger: 'blur' },
                    {  validator: Validator.uniqueVIN, trigger: 'blur', daId: this.$route.params.id }
                ],
                licensePlate: [
                     {  validator: Validator.validateLicensePlate, formField: this.formFields  }
                ],
                state: [
                     {  validator: Validator.validateState, formField: this.formFields }
                ],

            },
            showDialog: false,
            staffs: [],
            tempStatus: null
        }
    },

    computed: {
        ...mapGetters([
            'vehicleTypeList',
            'parkingSpaceList'
        ]),
        deviceListUnassigned: function(){
            return this.deviceList.filter(function(device){
                return !(device.vehicle.items.length > 0) && (device.status == "Active")
            })
        },

        deviceListAssigned: function(){
            return this.deviceList.filter(function(device){
                return device.vehicle.items.length > 0 && (device.status == "Active")
            })
        },

        deviceListNotActive: function(){
            return this.deviceList.filter(function(device){
                return device.status != "Active"
            })
        },

        isDisabled(){
            return this.$store.getters.hasVehicleManagement?false:true;
        },
    },

    mounted(){
        if (this.isMobileDevice()){
             this.disableMobileKeyboard();
            } 
        this.tempStatus=this.formFields.status;
        if(this.isCreationForm){
            //create new vehicle
            this.formFields.vehicleType.id = this.customListEnabled(this.vehicleTypeList).find(item => item.isDefaultForSections?.includes(VEHICLE_TYPE_CREATE_VEHICLE))?.id;
            this.formFields.parkingSpace.id = this.customListEnabled(this.parkingSpaceList).find(item => item.isDefaultForSections?.includes(PARKING_SPACE_CREATE_VEHICLE))?.id;
        }
    },
  
    methods:{
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },
        goToAccountDetails(){
            this.showUpgradeDialog = false;
            this.$router.push({name: 'SettingsAccountDetails'})
        },
    },

    watch: {
        'formFields.vehicleType.id'(newValue, oldValue){

            if(newValue && this.vehicleData && this.vehicleData.vehicleType && this.vehicleData.vehicleType.id && newValue != this.vehicleData.vehicleType.id) {

                const input = {
                    vehicle: this.formFields,
                    initVehicleData: this.vehicleData,
                    newVehicleTypeId: newValue,
                    calledFrom: 'vehicleDetail'
                }
                this.validateAssociateList(input)
            }
        }
    }
}
</script>

<style>
.custom-select-keyboardless {
  touch-action: manipulation;
}
.custom-select-arrow .el-input__suffix .el-select__caret {
  color: transparent !important;
}
.custom-margin-question-mark{
    display: flex;
    align-items: center;
    justify-content: end;
}
.vehicle_form .el-select, .vehicle_form .el-date-editor{
    width: 100% !important;
}
.el-message-box__message .vehicleMessage, .el-message-box__message .list_users {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    list-style-type: disc;
}
.el-message-box__message .list_users{
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 0.5rem;
    font-size: 13px;
}
.el-form-item {
    margin-bottom: 10px !important;
}
.el-form-item__error {
    position: relative !important;
    word-break: normal !important;
}
</style>