<template>
  <div v-loading="loading" class="fantastics-by-da">
    <!-- report summaries -->

    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Total Fantastics by {{$t('label.associate')}} with Most Recent Streak</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="mb-4 grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-start-1 lg:col-end-5 md:col-start-1 md:col-end-7">
        <el-input
            class="w-full"
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."
        />
      </div>
      <div class="col-span-12 lg:col-end-13 lg:col-span-4 md:col-end-13 md:col-span-6 inline-flex">
        <el-badge class="col-span-6 item filter-by-status-badge text-center">Filter by Status</el-badge>
        <StatusFilter
            v-model="statusChecked"
            @change="handleCheckedStatusChange"
            class="col-span-6"
            btnClass="filter-btn border-l-0"
        />
      </div>
    </div>

    <!-- TABLE -->
      <el-table
        ref="table"
        empty-text="No Data"
        header-cell-class-name="table-header-cell"
        style="width: 100%;"
        class="data-table data-table-style"
        :data="filteredStaffsTable"
        row-key="rowKey"
        >

        <el-table-column
          :label="`${$t('label.associate')} Name`"
          min-width="250"
          sortable
          :sort-method="sortBy('DA Name')">
          <template slot-scope="{ row }">
            {{row.firstName}} {{row.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          label="All Time"
          min-width="200"
          sortable
          prop="ALL_TIME">
        </el-table-column>

        <el-table-column
          label="This Year"
          min-width="200"
          sortable
          prop="THIS_YEAR">
        </el-table-column>
        
        <el-table-column
          label="Most Recent Streak"
          min-width="200"
          sortable
          prop="MOST_RECENT_STREAK">
        </el-table-column>

        <el-table-column
          :label="`${$t('label.associate')} Status`"
          sortable
          prop="status"
          width="195">
          <template slot-scope="scope">
            <CellToolTip :value="scope.row.status">
              <div slot-scope="{textValue}" class="flex">
                <span
                class="font-bold rounded-full bg-opacity-10 px-3 text-xs mr-7 max-w-full flex-initial"
                :class="setClassStatus(scope.row.status)"
                >{{textValue}}</span>
              </div>
            </CellToolTip>
          </template>
        </el-table-column>

      </el-table>

      <p class="mt-4">{{ numberOfDAs }} Total {{$t('label.associates')}}</p>

    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>

</div>
</template>

<script>

import { staffsByGroup } from './api/queries';
import FeatureOffline from '@/components/FeatureOffline'
// import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import StatusFilter from '@/components/StatusFilter'
import CellToolTip from '@/components/CellToolTip'
export default {
  components:{
    FeatureOffline,
    // PremiumWarning,
    StatusFilter,
    CellToolTip
  },
  data() {
    return {
      heraDown: false,
      loading: false,
      tableData: [],
      numberOfDAs: 0,
      search: null,
      checkAllStatus: false,
      statusChecked: [],
      dateRange: [],
    }
  },

  mounted(){
    this.statusChecked = this.tempStatusCheckedReports.FantasticsByStaff || ['Active']
    this.loadData()
  },

  computed: {
    ...mapState(['userInfo','tempStatusCheckedReports']),

    staffsTable(){
      const currentYear = String(new Date().getFullYear())
      const table = this.tableData.map(staff => {
        const {id, firstName, lastName, scoreCards, status} = staff

        const scoreCardsDESC = scoreCards.items.sort((itemA, itemB)=>{
          return `${itemB.year}${itemB.week.padStart(2,0)}` - `${itemA.year}${itemA.week.padStart(2,0)}`
        })

        const allFantastics = scoreCardsDESC.filter(item => item.overallTier?.includes("Fantastic"))
        const currentYearFantastics = allFantastics.filter(item => item.year === currentYear)

        let numberWeeksFantasticConsecutive = 0
        scoreCardsDESC.every(item=>{
          if(item.overallTier?.includes("Fantastic"))
            return ++numberWeeksFantasticConsecutive
          return false
        })

        const row = {
          id,
          firstName,
          lastName,
          status,
          ALL_TIME: allFantastics.length,
          THIS_YEAR: currentYearFantastics.length,
          MOST_RECENT_STREAK: numberWeeksFantasticConsecutive
        }
        return row
      })
      return table
    },

    filteredStaffsTable(){
      let items = []
      const input = this.search?.trim().toLowerCase()
      this.staffsTable.forEach( row => {
        const daFullName = [row.firstName, row.lastName].join(' ').trim()

        const matchFound =
                    this.search
                      ?
                        daFullName.toLowerCase().indexOf(input) > -1 ||
                        input === String(row.MOST_RECENT_STREAK) ||
                        input === String(row.ALL_TIME) ||
                        input === String(row.THIS_YEAR)
                      :
                        true
        
        if( (this.checkAllStatus || this.statusChecked.includes(row.status)) && matchFound){
          items.push(row)
        }
      })
      this.numberOfDAs = items.length
      return items
    }

  },

  methods: {

    /**
     * Load data using the staffsByGroup custom GraphQL query
     */
    async loadData(){

      try{

        this.loading = true

        const input = {
          //group: "aarons-test-account-80", //hard code
          group: this.userInfo.tenant.group,
          limit: 50,
          sortDirection: "DESC",
          scoreCardSortDirection: "DESC"
        }
        
        this.tableData = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup')
        this.numberOfDAs = this.tableData.length
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    handleCheckedStatusChange({statusChecked, allStatusChecked}) {
      this.checkAllStatus = allStatusChecked
      this.$store.commit('setStatusCheckedForReports', {FantasticsByStaff: statusChecked});
    },

    setClassStatus(status = '') {
      return {
        'text-red-600' : status.toLowerCase().includes('inactive'), 
        'bg-red-500' : status.toLowerCase().includes('inactive'),
        'text-purple-600' : status.toLowerCase().includes('onboarding'), 
        'bg-purple-500' : status.toLowerCase().includes('onboarding'),
        'text-green-600' : status.toLowerCase() == 'active',
        'bg-green-500' : status.toLowerCase() == 'active'
      }
    },

    sortBy(column){
      
      let sortMethod;

      switch(column){

        case 'DA Name':
          sortMethod = (a, b) => {
            const aName = [a.firstName, a.lastName].join(' ').toLowerCase()
            const bName = [b.firstName, b.lastName].join(' ').toLowerCase()
            if (aName > bName)
              return 1
            if (aName < bName)
              return -1
            return 0
          }
          break

      }
      return sortMethod
    },

  },
}
</script>

<style lang="scss">
.fantastics-by-da{
  .filter-btn {
    width: 100% !important;
    height: 32.5px;
    border-left: 0;
    padding: 0px 12px 0px 12px;
    border-radius: 0 .5rem .5rem 0 !important;
    box-shadow: none !important;
  }

  .data-table-style .cell{
    padding-left: 10px !important;
    text-align: left !important;
  }

  .data-table-style tbody > tr td:nth-child(n+2):nth-child(-n+4) .cell{
    padding-left: 11px !important;
  }
  .data-table-style tbody > tr td:nth-child(1) .cell, .data-table-style thead > tr th:nth-child(1) .cell{
    padding-left: 25px !important;
  }
}
</style>