<template>
  <div v-loading="loading" data-cy="performance-index-container" v-if="$store.getters.isLoggedIn">
    
    <div v-if="staffList && !staffList.length && !loadingStaff" class="flex w-full bg-brand bg-opacity-10 border-t-4 border-brand rounded-b-lg px-4 py-3 shadow-md mb-4" role="alert">
        <div class="py-1 mr-4 flex-initial"><svg class="fill-current h-6 w-6 text-brand " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
        <div class="mr-4 flex-initial">
          <p class="font-bold">You haven't yet imported any {{$t('label.associates')}} - import your {{$t('label.associates')}} here.</p>
        </div>
        <el-button type="primary" size="small" @click="$router.push({name: 'StaffImport'})" class="ml-auto w-52 flex-initial">Import {{$t('label.associates')}}</el-button>
    </div>

    <div v-if="!mostCurrentScorecard.week && !loading" class="flex w-full bg-brand bg-opacity-10 border-t-4 border-brand rounded-b-lg px-4 py-3 shadow-md mb-4" role="alert">
        <div class="py-1 mr-4 flex-initial"><svg class="fill-current h-6 w-6 text-brand " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
        <div class="mr-4 flex-initial">
          <p class="font-bold">You haven't yet imported any scorecards - upload your first here.</p>
        </div>
        <el-button type="primary" class="w-52 ml-auto flex-initial" size='small' @click="$router.push({name: 'WeeklyDataImport'})">Import Performance Data</el-button>
    </div>
    
    <!--Header-->
    <div class="flex flex-wrap justify-around md:justify-between card" v-if="mostCurrentScorecard.week">
      <div>
        <p class="text-gray-600 text-xs font-bold">LAST IMPORTED SCORECARD</p>
        <p class="text-black text-2xl font-bold" >Week {{mostCurrentScorecard.week}} - {{mostCurrentScorecard.year}}</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">OVERALL</p>
        <p :class="formatTextColor(mostCurrentScorecard.overall)" class="text-2xl font-bold">{{mostCurrentScorecard.overall}}</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">QUALITY</p>
        <p :class="formatTextColor(mostCurrentScorecard.quality)" class="text-2xl font-bold">{{mostCurrentScorecard.quality}}</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">TEAM</p>
        <p :class="formatTextColor(mostCurrentScorecard.team)"  class="text-2xl font-bold">{{mostCurrentScorecard.team}}</p>
      </div>
      <div>
        <p class="text-gray-600 text-xs font-bold">SAFETY &amp; COMPLIANCE</p>
        <p :class="formatTextColor(mostCurrentScorecard.safetyAndCompliance)" class="text-2xl font-bold">{{mostCurrentScorecard.safetyAndCompliance}}</p>
      </div>
    </div>
  
    <div class="grid grid-cols-12 grid-flow-row gap-4">
      <div class="card col-span-12 lg:col-span-6">
        <p class="card-title mb-1">Dsp Performance Over Time</p>
        <div class="flex justify-start space-x-3">
          <div>
            <p class="text-gray-700 font-bold text-sm">Timeframe</p>
            <el-select class="mb-4" v-model="dspTimeframe" @change="changeDspChartData">
              <el-option
                v-for="item in dspTimeframeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div>
            <p class="text-gray-700 font-bold text-sm">Metric</p>
            <el-cascader
            v-model="dspMetricSelected"
            :show-all-levels="false"
            filterable
            @change="changeDspChartData"
            :options="dspMetricOptions"
            popper-class="custom-cascader"
            >
            </el-cascader>
          </div>
        </div>
        <div>
          <PerformanceGraph :performanceGraphData="dspPerformanceGraphData"/>
        </div>
      </div>

      <div class="card col-span-12 lg:col-span-6">
        <p class="card-title mb-1">{{$t('label.associate')}} Performance Over Time</p>
        <div class="flex justify-start space-x-3">
          <div>
            <p class="text-gray-700 font-bold text-sm">{{$t('label.associate')}}</p>
            <el-select class="mb-4" v-model="daSelected" @change="changeDaChartData" filterable v-loading="loadingStaff">
              <el-option-group>
                <el-option 
                  value="allSelectedDA"
                  label="All Active Associates">
                </el-option>
              </el-option-group>
              <el-option-group v-loading="loadingStaff">
                <el-option
                  v-for="item in staffList"
                  :key="item.id"
                  :label="`${item.firstName} ${item.lastName} (${item.status})`"
                  :value="item.id">
                </el-option>
              </el-option-group>
             
              <div class="flex justify-center pt-1" v-if="staffNextToken">
                <span class="font-bold rounded-full bg-opacity-10 px-6 py-1 text-xs max-w-full flex-initial bg-brand-50 hover:bg-blue-200 text-brand cursor-pointer"
                @click="loadStaffActive(true)">Load More {{$t('label.associates')}}</span>
              </div>
             
            </el-select>
          </div>
          <div>
            <p class="text-gray-700 font-bold text-sm">Timeframe</p>
            <el-select class="mb-4" v-model="daTimeframe" @change="changeDaChartData">
              <el-option
                v-for="item in daTimeframeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
          <div>
            <p class="text-gray-700 font-bold text-sm">Metric</p>
            <el-cascader
            v-model="daMetricSelected"
            :show-all-levels="false"
            filterable
            @change="changeDaChartData"
            popper-class="custom-cascader"
            :options="daMetricOptions">
            </el-cascader>
          </div>
        </div>
        <div>
          <PerformanceGraph :performanceGraphData="daPerformanceGraphData"/>
        </div>
        <div class="performance-index-class" v-if="!allSelectedDA">
          <el-checkbox v-model="checkIncludeAverage" @change="changeDaChartData">
            Include average performance of all Active {{$t('label.associates')}}
          </el-checkbox>
        </div>
      </div>
    </div>

   
        <!-- JAKE ASKED NOT TO REMOVE SO COMMENTED OUT-->
        <!-- <div 
            class="premium-warning-container" 
            @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
            v-if="!this.$store.getters.hasPerformanceCoaching">
          <div class="sample-pill">
            <p class="sample-pill-text text-white">SAMPLE DATA</p>
          </div>
          <div class="triangle-bottomright premium-warning">
            <p class="transform-text text-sm text-white">Requires Premium</p>
          </div>
        </div> -->

          <!-- <AttritionList v-if="!this.$store.getters.hasPerformanceCoaching" :mostCurrentScorecard="mostCurrentScorecard" :fakeStaff="fakeStaff" :latestYearWeek="currentYearWeek"/>
          <AttritionList v-else-if="!loading && mostCurrentScorecard.id != null" :mostCurrentScorecard="mostCurrentScorecard" ref="attritionList"/>
          <div v-else class="text-gray-600 h-full">There are no projections at this time.</div>
          <div 
            v-if="!this.$store.getters.hasPerformanceCoaching"
            class="premium-warning-container" 
            @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})">
            <div class="sample-pill">Sample Data</div>
            <div class="premium-warning-triangle">
              <p class="transform-text text-sm text-white">Requires Premium</p>
            </div>
          </div> -->

 
    
    <div class="grid grid-cols-12 grid-flow-row gap-4">
      <div class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card">
        <WeeklyPerformanceDataImports/>
      </div>
      <div class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card">
        <DailyPerformanceDataImports/>
      </div>
      <div class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card">
        <RecentDSPLevelMetrics/>
      </div>
    </div>

  </div>
</template>

<script>
import { mapState } from 'vuex'
import DashPerformanceChart from './components/DashPerformanceChart'
import DashDriverChart from './components/DashDriverChart'
import CompanyScoreCardList from './components/CompanyScoreCardList'
import AttritionList from './components/AttritionList'
import * as query from './api/dashboardQueries'
import EventBus from '@/eventBus'
import WeeklyPerformanceDataImports from './components/DashboardPerformanceDataImports/WeeklyPerformanceDataImports.vue'
import DailyPerformanceDataImports from './components/DashboardPerformanceDataImports/DailyPerformanceDataImports.vue'
import RecentDSPLevelMetrics from './components/DashboardPerformanceDataImports/RecentDSPLevelMetrics.vue'
import momentTz from 'moment-timezone'
import { dspMetricOptions, daMetricOptions } from './scripts/graphOptions'
import PerformanceGraph from './components/PerformanceGraph'
import { calculateRange } from '@/utilities/dateRangeCalculator'
import { changeDataFromGraph, changeDailyDataFromGraph, selectedOptionData, calculateNetradyneValue } from './scripts/scriptGraph'


export default {
  components:{ DashPerformanceChart, DashDriverChart, CompanyScoreCardList, AttritionList, WeeklyPerformanceDataImports, DailyPerformanceDataImports, RecentDSPLevelMetrics, PerformanceGraph },
  name: 'Performance',
  data(){
    return {
      loading: false,
      loadingStaff: true,
      fakePerformanceChartData:{
        "safeDriving":[3.24,3.6,3.42,3.8,3.75,3.59], 
        "seatbeltOff":[138,135,130,120,125,140],
        "speedingEvent":[.8,.6,.4,.5,.7,1],
        "harshBraking":[.8,.6,.4,.5,.7,1],
        "harshBrakingRate":[.8,.6,.4,.5,.7,1],
        "harshBrakingEvent":[.8,.6,.4,.5,.7,1],
        "dvcrCompliance":[1,.7,.5,.5,.8,1],
        "onTimeCompliance":[1,1,.9,.9,.7,.6],
        "workingHoursCompliance":[1,1,.8,.9,.7,1],
        "dspAudit":[1,1,.5,.6,.4,.7],
        "customerEscalationDefectDPMO":[1,1,1,.9,.7,1],
        "highPerformersShare":[.8,.8,.8,.9,.7,1],
        "lowPerformersShare":[.8,1,.8,.9,.9,1],
        "attritionRate":[.6,.6,.8,.9,.6,1],
        "deliveryCompletion":[.9,.7,.8,.6,.7,.8],
        "deliveredAndReceived":[.5,1,.8,.9,.9,1],
        "photoOnDelivery":[1,1,.8,.9,.5,.3],
        "contactCompliance":[1,.1,.7,.9,.7,1],
        "scanCompliance":[1,1,1,.9,.7,.7],
        "attendedDeliveryAccuracy":[.2,1.4,.6,.8,.9,.9],
      },
      fakeStaff:[],
      systemData: {},

      scorecardData: [],
      scorecardNextToken: null,
      podData: [],
      podSummaryNextToken: null,
      cxFeedbackData: [],
      cxSummaryNextToken: null,
      needReloadLastYear: true,
      timeframeOptions: [
        { value: "current week", label: "Current Week"},
        { value: "last week", label: "Last Week"},
        { value: "last 2 weeks", label: "Last 2 Weeks"},
        { value: "previous month", label: "Last Month"},
        { value: "current year", label: "Current year"},
        { value: "last year", label: "Last Year"},
      ],
      //for DSP Graph
      dspMetricSelected: ["scorecardMetrics", "safeDriving"],
      dspMetricOptions: [],
      dspTimeframe: 'last 2 weeks',
      dspTimeframeOptions: [],
      dspPerformanceGraphData: {
        label: '',
        data: [],
        yMinValue: 0,
        yMaxValue: 1,
      },
      //for DA Graph
      staffList: [],
      allSelectedDA: false,
      staffNextToken: null,
      daSelected: '',
      daMetricSelected: ['daScorecardMetrics', 'overallTier'],
      daMetricOptions: [], 
      daTimeframe: 'last 2 weeks',
      daTimeframeOptions: [],
      checkIncludeAverage: false,
      daPerformanceGraphData: {
        label: '',
        data: [],
        yMinValue: 0,
        yMaxValue: 1,
        staffAverage: []
      },
      needReloadStaff: true,
      needReloadCurrentYear: true
    }
  },
  async created(){
    this.dspTimeframeOptions = this.timeframeOptions
    this.daTimeframeOptions = this.timeframeOptions
    //for DSP Graph
    this.dspMetricOptions = dspMetricOptions
    //for DA Graph
    this.daMetricOptions = daMetricOptions

    //default init
    const startMonths = momentTz.tz(this.getTenantTimeZone()).startOf('month')
    const startWeek = this.$moment(startMonths).subtract(1, 'months').format('YYYYww')
    const endWeek = this.$moment().format('YYYYww')
    await this.loadScorecardData(startWeek, endWeek, false)
    await this.loadPodSummaryData(startWeek, endWeek, false)
    await this.loadCxSummaryData(startWeek, endWeek, false)
    await this.loadStaffActive(false)

    this.changeDspChartData()
    this.changeDaChartData()
  },
  mounted(){
    
    this.setFakeStaff()
    
    EventBus.$on('load-performance', () => {
      this.loadData(true)
      if(this.$refs.attritionList){
        this.$refs.attritionList.loadData()
      }
    })
  },
  beforeDestroy(){
    EventBus.$off('load-performance')
  },
  computed:{
    ...mapState(['companyLogo', 'userInfo']),
    
    currentYearWeek(){
      let year = this.$moment().weekYear();
      let week = this.$moment().isoWeek();
      return `${year}${week}`
    },
    
    mostCurrentScorecard(){      
      // if(this.scorecards[0]) return this.scorecards[0]
      // else return {}
      if(!this.scorecardData ||this.scorecardData.length < 1) return {}
      const filteredScoredcards = this.scorecardData.filter(scorecard =>{
        return scorecard.scorecardPdf && scorecard.year && scorecard.week
      })
      if(!filteredScoredcards.length) return {}
      return filteredScoredcards.reduce(function(a, b){
          return parseInt(a.year+a.week.padStart(2, 0)) > parseInt(b.year+b.week.padStart(2, 0)) ? a : b
      })
    },

  },

  methods:{
    async loadData(refresh){
      const startMonths = momentTz.tz(this.getTenantTimeZone()).startOf('month')
      const startWeek = this.$moment(startMonths).subtract(1, 'months').format('YYYYww')
      const endWeek = this.$moment().format('YYYYww')
      await this.loadScorecardData(startWeek, endWeek, false)
    },

    async loadScorecardData(startWeek, endWeek, refresh){
      let input = {
        group: this.userInfo.tenant.group,
        yearWeek: { 
          between: [parseInt(startWeek), parseInt(endWeek)]
        },
        filter: {
          scorecardPdf: { beginsWith: this.userInfo.tenant.group }
        },
        sortDirection: 'DESC',
        nextToken: refresh ? this.scorecardNextToken : null
      }
      this.loading = refresh ? false: true
      try {
        const { data } = await this.api(query.companyScoreCardsByGroup, input)
        this.scorecardData = this.scorecardData.concat(data.companyScoreCardsByGroup.items)
        this.scorecardNextToken = data.companyScoreCardsByGroup.nextToken
        if(!this.scorecardData.length){
          input.limit = 10
          delete input.yearWeek
          const { data } = await this.api(query.companyScoreCardsByGroup, input)
          this.scorecardData = data.companyScoreCardsByGroup.items
        }
      } catch (error) {
        this.printUserError(error)
      } finally {
        this.loading = false
      }
    },

    async loadPodSummaryData(startWeek, endWeek, refresh){
      let input = {
        group: this.userInfo.tenant.group,
        sortDirection: 'DESC',
        yearWeek: { between: [startWeek, endWeek] },
        nextToken: refresh ? this.podSummaryNextToken : null
      }
      try {
        const { data } = await this.api(query.podQualitySummaryByGroupAndYearWeek, input)
        this.podData =  this.podData.concat(data.podQualitySummaryByGroupAndYearWeek.items)
        this.podSummaryNextToken = data.podQualitySummaryByGroupAndYearWeek.nextToken
      } catch (error) {
        this.printUserError(error)
      }
    },

    async loadCxSummaryData(startWeek, endWeek, refresh){
      let input = {
        group: this.userInfo.tenant.group,
        sortDirection: 'DESC',
        yearWeek: { between: [startWeek, endWeek] },
        nextToken: refresh ? this.cxSummaryNextToken : null
      }
      try {
        const { data } = await this.api(query.cxFeedbackSummaryByGroupAndYearWeek, input)
        this.cxFeedbackData = this.cxFeedbackData.concat(data.cxFeedbackSummaryByGroupAndYearWeek.items)
        this.cxSummaryNextToken = data.cxFeedbackSummaryByGroupAndYearWeek.nextToken
      } catch (error) {
        this.printUserError(error)
      }
    },

    
    async changeDspChartData(){
      let data = []

      const selectedOption = this.dspMetricSelected.at(-1)
      const selectedData = selectedOptionData(selectedOption, this.dspMetricOptions)
      const typeGraph = selectedData.typeGraph
      let [dateStart, dateEnd] = calculateRange(this.dspTimeframe)
      dateStart = this.$moment(dateStart).format('YYYY-MM-DD')
      dateEnd = this.$moment(dateEnd).format('YYYY-MM-DD')

      let numberOfWeeksToShow = 10
      const startYear = momentTz.tz(this.getTenantTimeZone()).startOf('year')
      const endWeek = momentTz.tz(this.getTenantTimeZone()).format('YYYYww')
      if(this.dspTimeframe == 'current year'){
        const startWeek = this.$moment(startYear).format('YYYYww')
        numberOfWeeksToShow = this.$moment(dateEnd).diff(dateStart, 'weeks') + 1
        //need Reload
        if(this.needReloadCurrentYear){
          await this.loadScorecardData(startWeek, endWeek, true)
          await this.loadPodSummaryData(startWeek, endWeek, true)
          await this.loadCxSummaryData(startWeek, endWeek, true)
          this.needReloadCurrentYear = false
        }
      }
      if(this.dspTimeframe == 'last year' && this.needReloadLastYear){
        const startWeek = this.$moment(startYear).subtract(1, 'years').format('YYYYww')
        //need Reload
        await this.loadScorecardData(startWeek, endWeek, true)
        await this.loadPodSummaryData(startWeek, endWeek, true)
        await this.loadCxSummaryData(startWeek, endWeek, true)
        this.needReloadLastYear = false
      }
      let showWeeks = this.dspTimeframe == 'last year' 
        ? 52 : this.dspTimeframe == 'current year' 
        ? numberOfWeeksToShow : 10

      if(typeGraph === 'scorecard'){
        data = this.scorecardData
      }else if(typeGraph === 'pod'){
        data = this.podData
      }else if(typeGraph === 'cxFeedback'){
        data = this.cxFeedbackData
      }
      //filter for timeframe selected
      data = data.filter(item => {
        const date = this.$moment(`${item?.year}${item?.week}`,'YYYYww').format('YYYY-MM-DD')
        return this.$moment(date).isBetween(dateStart, dateEnd, undefined, '[]')
      })

      this.dspPerformanceGraphData = changeDataFromGraph(data, showWeeks, selectedData, selectedOption, dateStart, dateEnd)
    },

    async changeDaChartData(){
      let data = []
      const selectedOption = this.daMetricSelected.at(-1)
      const selectedData = selectedOptionData(selectedOption, this.daMetricOptions)
      let typeFile = selectedData.typeFile
      const idStaff = this.daSelected
      this.allSelectedDA = idStaff === 'allSelectedDA' ? true : false
      let needStaffAverage = this.checkIncludeAverage ?  this.checkIncludeAverage :  this.allSelectedDA 
      if(needStaffAverage && this.needReloadStaff) {
        await this.loadStaffActive(true)
        this.needReloadStaff = false
      }

      let [dateStart, dateEnd] = calculateRange(this.daTimeframe)
      dateStart = this.$moment(dateStart).format('YYYY-MM-DD')
      dateEnd = this.$moment(dateEnd).format('YYYY-MM-DD')
      
      const staffSelected = this.staffList.find(staff => staff.id === idStaff)
    
      const selectTypeGraph = {
        daScorecard: () => {
          data = staffSelected.scoreCards.items
        },
        daPod: () => {
          data = staffSelected.podQualities.items
        },
        daCxFeedback: () => {
          data = staffSelected.cxFeedback.items
        },
        daMentor: () => {
          data = staffSelected.mentor.items
        },
        netradyne:() => {
          const netradyneAlerts = staffSelected.netrdadyneAlerts.items
          data = calculateNetradyneValue(netradyneAlerts)
        },
      }
      
      if(staffSelected && !!selectTypeGraph[selectedData.typeGraph]) {
        selectTypeGraph[selectedData.typeGraph]()
      }

      let showWeeks = 10
      if(typeFile === 'Weekly'){
        const numberOfWeeksToShow = this.$moment(dateEnd).diff(dateStart, 'weeks') + 1
    
        //show 52 weeks or other
        showWeeks = this.daTimeframe == 'last year' 
          ? 52 : this.daTimeframe == 'current year' 
          ? numberOfWeeksToShow : 10

        data = data.filter(item => {
          const date = this.$moment(`${item?.year}${item?.week}`,'YYYYww').format('YYYY-MM-DD')
          return this.$moment(date).isBetween(dateStart, dateEnd, undefined, '[]')
        })
        this.daPerformanceGraphData = changeDataFromGraph(data, showWeeks, selectedData, selectedOption, dateStart, dateEnd, needStaffAverage, this.staffList, typeFile)
        return
      }else{
        //show 52weeks x 2days = 104days -> 365-104=261
        const numberOfWeeksToShow = this.$moment(dateEnd).diff(dateStart, 'days') + 1
        showWeeks = this.daTimeframe == 'last year' 
          ? 261 : this.daTimeframe == 'current year' 
          ? numberOfWeeksToShow : 10
        
        data = data.filter(item => {
          const date = this.$moment.utc(item?.date).format('YYYY-MM-DD')
          return this.$moment(date).isBetween(dateStart, dateEnd, undefined, '[]')
        })
        this.daPerformanceGraphData = changeDailyDataFromGraph(data, showWeeks, selectedData, selectedOption, dateStart, dateEnd, needStaffAverage, this.staffList, typeFile)
        return
      }
    },


    setFakeStaff(){
      //Set fake staff information
      var stringifiedObject = JSON.stringify(this.mostCurrentScorecard)
      if(stringifiedObject === "{}"){
        var yearWeek = parseInt(this.currentYearWeek);
      }
      else{
        var yearWeek = parseInt(this.mostCurrentScorecard.yearWeek)
      }
      var fourWeekBehindScorecard =  yearWeek - 4;
      var threeWeekBehindScorecard =  yearWeek - 3;
      var twoWeekBehindScorecard =  yearWeek - 2;
      var oneWeekBehindScorecard =  yearWeek - 1;

      var fakeStaffArray = [        
          { id: '112', firstName: 'Raymond', lastName: 'Alvarez', status: 'Active', latestScorecard: fourWeekBehindScorecard },
          { id: '113', firstName: 'Cinque', lastName: 'Vitela', status: 'Active', latestScorecard: threeWeekBehindScorecard},
          { id: '114', firstName: 'Frank', lastName: 'Reyes', status: 'Active', latestScorecard: twoWeekBehindScorecard },
          { id: '115', firstName: 'Ansel', lastName: 'Vargas', status: 'Active', latestScorecard: oneWeekBehindScorecard },
          { id: '116', firstName: 'Taisho', lastName: 'Adewale', status: 'Active', latestScorecard: oneWeekBehindScorecard },
          { id: '117', firstName: 'Jarred', lastName: 'Ohara', status: 'Active', latestScorecard: threeWeekBehindScorecard }
      ];

      this.fakeStaff = [...fakeStaffArray];
    },    


    async loadStaffActive(refresh=false){
      this.loadingStaff = true
      let input = {
        group: this.userInfo.tenant.group,
        status: { eq: 'Active'},
        limit: refresh ? null : 10,
        nextToken: refresh ? this.staffNextToken : null
      }
     
      try {
        const { data } =  await this.api(query.staffsByGroupStatus, input)
        this.staffList = this.staffList.concat(data.staffsByGroupStatus.items)
        this.staffNextToken = data.staffsByGroupStatus.nextToken
      } catch (error) {
        this.printUserError(error)
      } finally {
        this.loadingStaff = false
      }
    },
  }

}
</script>
<style>
  @media (max-width: 678px) {
    .custom-cascader {
      @apply right-1 w-auto left-1 z-10 !important
  }

  .custom-cascader .el-cascader-menu {
    @apply min-w-32 max-w-full !important
  }

  .custom-cascader .el-cascader-node {
    @apply pr-3 pl-5 pt-0 pb-0 !important
  }
  }

.performance-index-class .el-checkbox .el-checkbox__label {
  @apply inline whitespace-normal !important;
}
</style>
