<template>
  <div  v-loading.fullscreen.lock="importLoading">
    <div class="flex items-center justify-between flex-wrap space-y-4 md:flex-row">
      <h1 class="inline-block">Devices Import</h1>
      <span class="flex space-x-2 items-center">
        <el-popover
          v-if="!tableData.length"
          placement="bottom"
          title="How To Import Devices"
          width="300"
          trigger="hover"
          content=""
          class=" ml-1 text-center inline-block"
          >
          <el-button 
            class="import-instructions-btn" 
            size="medium" 
            slot="reference">
            Import Instructions
          </el-button>
          <p class="text-left break-normal">
            To import devices into Hera, download the template file below. If the attached file opens in a new tab, right-click or long press and click Download As or Save As. After filling in the template, upload the file using the Select File button.
          </p>
          <p class="text-center mt-6 mb-4">
            <a class='text-white text-xs bg-brand px-3 py-2 rounded-lg shadow' href='https://hera-import-templates.s3.us-east-2.amazonaws.com/Hera_Device_Import_Template_v2.csv' download>Download Template</a>
          </p>
        </el-popover>

        <label  v-if="!tableData.length" class="fileContainer" :class="{'opacity-25': loading}">
          Select File
          <input type="file" accept=".csv" @change="importCSV" :disabled="loading" id="File">
        </label>    
        <div v-else>
          <el-button size="small" @click="handleImportCancel">Cancel</el-button>
          <el-button @click="importData" size="small" type="success" :disabled="selected.length == 0">Import {{selected.length}}</el-button>
        </div>       
      </span>  
    </div>

     <!-- TABLE SKELETON LOADER -->
    <div v-show="loading" class="container p-4 mt-4">
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>

    <el-table 
      v-show="!loading && !tableData.length" 
      empty-text="No File Selected" 
      style="width: 100%"
      >
      <el-table-column>
      </el-table-column>
    </el-table>
<!-- 
    DEVICE IMPORT TABLE -->
    <el-table
      v-show="tableData.length"
      ref="table"
      empty-text="No File Selected"
      :data="tableData"
      :header-cell-class-name="headerClass"
      :cell-class-name="cellClass"
      @selection-change="handleSelectionChange"
      style="width: 100%">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <el-table-column
        label="Name"
        prop="name">
        <template slot-scope="scope">
          <el-input v-model="scope.row.name"></el-input>
        </template>
      </el-table-column>

      <el-table-column        
        label="Status"
        prop="status"
        width="135"
         >
        <template slot-scope="scope">
          <el-select v-model="scope.row.status" placeholder="">
            <el-option
              v-for="item in valueListActivesOnly(valuelists['device-status'].items)"
              :key="item.id"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <el-table-column
        label="Phone #"
        prop="phone">
        <template slot-scope="scope">
          <el-input v-model="scope.row.phone" v-mask="'(###) ###-####'" ></el-input>
        </template>
      </el-table-column>

      <el-table-column
        label="Carrier"
        prop="carrier">
        <template slot-scope="scope">
          <el-select 
            v-model="scope.row.carrier" 
            placeholder="Select Carrier" 
            allow-create
            filterable
            clearable>
            <el-option
              v-for="item in valueListActivesOnly(valuelists['device-carrier'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column> 

      <el-table-column
        label="IMEI"
        prop="imei">
        <template slot-scope="scope">
          <el-input v-model="scope.row.imei"></el-input>
        </template>
      </el-table-column> 

      <el-table-column
        label="Notes"
        prop="notes">
        <template slot-scope="scope">
          <el-input v-model="scope.row.notes"></el-input>
        </template>
      </el-table-column> 

      

  </el-table>

  <div class="flex justify-between mt-8">
    <div>
      <p>{{selected.length}} of {{tableData.length}} to Import</p>
    </div>
    <div>
      <el-button v-if="tableData.length" size="small" @click="handleImportCancel">Cancel</el-button>
      <el-button @click="importData" size="small" type="success" :disabled="selected.length == 0">Import {{selected.length}}</el-button>
    </div>
  </div>

  </div>
</template>

<script>
import { createDevice } from '@/graphql/mutations'
import { mapState } from 'vuex'

export default {
  name: 'DeviceImport',
  data() {
    return {
      loading: false,
      importLoading: false,
      tableData: [],
      selected: []
    }
  },

  computed: {
    ...mapState(['valuelists'])
  },

  methods: {
    /**
     * Applies the required cell class to the name column cells
     * @param {Object} obj Row of table 
     */
    cellClass(obj){
      if(obj.columnIndex === 1 && !obj.row.name){
        return 'requiredCell'
      }
      else if(obj.columnIndex === 2 && !obj.row.status){
        return 'requiredStatus'
      }
      else{
        return '';
      }
      
    },

    handleImportCancel(){
       this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
        confirmButtonText: 'Continue',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
      .then(() => {
        this.tableData = []
        document.getElementById('File').value = ""
      })
      .catch(() => {
        console.log("canceled cancel import")         
      });
      
    },


    /**
     * Handles updating selected array when row checkboxes are clicked
     * @param {Array} val Array of table rows selected
     */
    handleSelectionChange(val) {
      this.selected = val;
    },

    /**
     * Applies the required cell header class to the name column header
     * @param {Object} obj Row of table 
     */
    headerClass(obj){
      return obj.columnIndex === 1 || obj.columnIndex === 2 ? 'requiredCellHeader' : '';
    },

    /**
     * When a file is selected, this reads the contents of the CSV to a string using FileReader.
     * @param {object} e - The event that is triggered on input change.
     */
    importCSV(e){
      var files = e.target.files || e.dataTransfer.files;
      var file = files[0]
      if(file){
        this.loading = true
        var reader = new FileReader();

        //Attach onload trigger function
        reader.onload = (e) => {
          var text = reader.result;
          var config = {header:false, skipEmptyLines:true}
          var csv = this.$papa.parse(text,config)
          this.parseCSV(csv)
        }

        //Read the data triggering the onload trigger
        reader.readAsText(file)
      }
    },

    /**
     * Takes a csv string and converts it to a json object stored in tableData, then toggles them all to be selected.
     * Parsing is done by order of the columns only, the first column is skipped.
     * @param {string} csv - a csv string. 
     */
    parseCSV(csv){
      const rows = csv.data
      rows.shift()
      try{
        const data = rows.map(row => {
          return {
            name: row[0].trim(),
            phone: this.formatPhoneNumber(row[1]),
            carrier: row[2].trim(),
            notes: row[3].trim(),
            status: this.cleanStatus(row[4], 'device'),
            imei: row[5].trim(),
          }
        })
        this.tableData = data
        this.$refs.table.toggleAllSelection()
        this.loading = false
        document.getElementById('File').value = ""
        if(this.tableData.length == 0){
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: "No data found in selected file"
          })
        }
      } 
      catch(e){
        this.loading = false
        document.getElementById('File').value = ""
        this.displayUserError("Import failed. Please verify correct file was chosen.")
      }
    },

    /** Takes all items in selected and pushes them to the db, then redirects to the DeviceIndex page. */
    importData(){
      this.importLoading = true
      try{
        var requiredNull = this.selected.some(function(row){
          return (row.name == "") || (row.name == null) || (row.status == "") || (row.status == null)
        })
        if(requiredNull){
          throw{
             message: "Please fill out all required fields."
          }
        }
        this.selected.forEach( row => {
          var input= {
              deviceName: row.name,
              phoneNumber: row.phone,
              carrier: row.carrier,
              notes: row.notes,
              status: row.status,
              imei: row.imei,
              group: this.$store.state.userInfo.tenant.group
            }
          this.cleanImportInput(input)
          this.api(createDevice, {input})
        })
        this.importLoading = false
        this.$router.push({name: 'Devices'})
      }catch(e){
        this.importLoading = false
        this.displayUserError(e)
      }
    }

  }
}
</script>

<style>
  .requiredCellHeader:before{
    color: #F56C6C;
    content: '*';
    position: absolute;
  }

  .requiredCell{
    height: 5rem;
  }

  .requiredCell .cell .el-input .el-input__inner{
    border-color: #F56C6C !important;
  }

  .requiredCell .cell:after{
    color: #F56C6C !important;
    content: "Please input a device name";
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
  }

    .requiredStatus{
    height: 5rem;
  }

  .requiredStatus .cell .el-input .el-input__inner{
    border-color: #F56C6C !important;
  }

    .requiredStatus .cell:after{
    color: #F56C6C !important;
    content: "Please select a status";
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 10px;
    display: block;
  }

  .el-popover__title {
    @apply text-center;
  }
</style>