<template>
  <div>
    <DeviceList :devices="devices" :tenantId="userInfo.tenant.id" />
  </div>
</template>

<script>
import DeviceList from './components/DeviceList'
import { mapState } from 'vuex'
import { devicesByGroup } from './queries'
  export default {
    components:{ DeviceList },
    name: 'DeviceIndex',
    data() {
      return {
        devices: [],
        search: '',
      }
    },

    mounted(){
      this.loadData()
    },

    computed:{
      ...mapState(['userInfo'])
    },
  
    methods: {
      /** 
       * Load device data
       * */
      async loadData(){
        try{
          var input = {
            group: this.$store.state.userInfo.tenant.group
          }
          this.devices = await this.gLoadListAll(devicesByGroup, input, 'devicesByGroup')
        }catch(e){
          this.displayUserError(e)
        }
      }
    },
  }
</script>