<template>
  <Drawer v-if="isOpen" :title="formTitle" :subtitle="formSubTitle" :visibility="isOpen">
    <template v-slot:drawerContent>
      <transition name="slide-left">
      <div v-if="coincidencesLoadingData" class="flex flex-col justify-center h-full">
        <div class="h-full flex flex-col items-center justify-center bg-opacity-50">
          <div class="text-center">
            <p class="text-black text-lg font-semibold">
              Hera is checking for duplicate Associates.
            </p>
            <p class="text-black text-base">
              Please wait. Do not click refresh or the back button.
            </p>
          </div>
          <div class="mt-4">
            <i class="el-icon-loading text-blue-600 animate-spin text-2xl"></i>
          </div>
        </div>
      </div>
      </transition>
      <transition name="slide-left">
      <div v-if="!coincidencesLoadingData">
          <template v-if="!coincidenceIs">
            <div class="px-5 pt-5">
              <AddDaForm
                class="w-full"
                ref="addDaForm"
                :formFields="formFields"
                :isDrawer="true"
                :disableTranspoterId="false"
              />
            </div>
          </template>
          <template v-if="coincidenceIs">
            <Coincidence
              :coincidences="coincidencesData"
              :match="coincidenceIsMatch"
              :formFields="formFields"
              @cancel-view="handleCancelViewMatch"
            />
          </template>
        <div class="px-5 flex flex-wrap space-y-2 justify-end">
          <el-button
            style="margin-top: 8px"
            @click="() => $emit('cancel-save',false)"
          >
            Cancel
          </el-button>

          <el-button data-cy="staffnew_create_btn" v-if="!showButtonActionImport" :disabled="!load" type="primary" @click="handleSaveData('create')">
            Create
          </el-button>
          <el-button
            data-cy="staffnew_create_another_btn"
            :disabled="!load"
            @click="handleSaveData(true)"
            type="primary"
            >Create {{ setNameActionButton }}
            </el-button
          >
        </div>
      </div>
      </transition>
    </template>
  </Drawer>
</template>

<script>
import { API } from "aws-amplify";
import Drawer from "@/components/shared/Drawer/Drawer";
import AddDaForm from "@/views/Staff/components/AddDaForm";
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin";
import Coincidence from "@/views/Staff/components/Associate/Coincidence/Coincidence"

export default {
  name: "Associate",

  components: {
    Drawer,
    AddDaForm,
    Coincidence
  },

  mixins: [AddDaFormMixin],
  
  data() {
    return {
      formSubTitle: '',
      showButtonActionImport: false,
      coincidenceIs: false,
      coincidenceIsMatch: false,
      coincidencesData: [],
      coincidencesLoadingData: false
    }
  },

  created(){
    this.formFields.status = 'Active'
    if(this.type === 'import'){
      this.showButtonActionImport = true
    }
    if(this.model){
      this.formFields = this.model
    }
  },

  props: {
    isOpen: Boolean,
    load: Boolean,
    formTitle: String,
    type: String,
    model: Object
  },

  computed:{
    setNameActionButton(){
      return this.type === 'import' ? '& Match' : '+ Add Another'
    }
  },

  methods: {

    async handleSaveData(another, match = false) {

      if(this.coincidenceIs){
        const newStaff = await this.validateForm(another, false)
        const anotherAdd = (this.showButtonActionImport) ? !this.showButtonActionImport : another
        const _match = (this.showButtonActionImport) ? newStaff : null
        const notCreated = (this.showButtonActionImport) ? this.showButtonActionImport : !this.showButtonActionImport
        if (!newStaff) {
          this.coincidenceIs = false
          return
        }
        this.$emit("save-data", anotherAdd, _match, notCreated)
        this.coincidenceIs = false
        this.cleanFields()
        return
      }

      try {
        await this.$refs.addDaForm.$refs.form.validate()

        this.coincidencesLoadingData = true

        const group  = this.$store.state.userInfo.tenant.group
        this.formFields = {...this.formFields, group}

        const state = await this.coincidenceGetData(this.formFields, this.showButtonActionImport)

        if(!state){
          const newStaff = await this.validateForm(another, false)
          if (!newStaff) return;
          this.coincidenceIs = false
          const anotherAdd = (this.showButtonActionImport) ? !this.showButtonActionImport : another
          const _match = (this.showButtonActionImport) ? newStaff : null
          const notCreated = (this.showButtonActionImport) ? this.showButtonActionImport : false
          this.$emit("save-data", anotherAdd, _match, notCreated )

        }

      } catch (error) {

        console.log(error);
        const msg =
          "Please fill out all required fields and correct any errors.";
        this.displayUserError(msg);
      } finally {
        this.coincidencesLoadingData = false
      }
    },

    async coincidenceGetData(data, match = false) {
      let state = false;
      if (match) this.coincidenceIsMatch = true;
      const result = await this.coincidenceData(data);
      if (result && Array.isArray(result) && result.length > 0) {
        this.formSubTitle = "Possible Matches Found";
        this.coincidenceIs = true;
        this.coincidencesData = result;
        state = true;
      }
      return state;
    },
    async coincidenceData(data) {
      try {
        const apiName = "heraPublicApi";
        const path = "/coincidences";
        const post = {
          body: { data }
        };
        try {
          const { result } = await API.post(apiName, path, post);
          return result || [];
        } catch (error) {
          console.log(error);
          return [];
        }
      } catch (e) {
        this.printUserError(e);
        return [];
      }
    },
    handleCancelViewMatch({ item, match }) {

      const notCreated = true
      const anotherAdd = (!match) ? 'redirect' : !match

      if(match) this.coincidenceIsMatch = false
      this.$emit("save-data",anotherAdd, item , notCreated)
    },
  },
};
</script>

<style scoped>
@media (min-width: 1400px) {
  /deep/ .el-drawer {
    min-width: 250px !important;
  }
}
.slide-left-enter-active, .slide-left-leave-active {
  transition: transform 0.3s;
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100%); 
}
.slide-left-enter-to, .slide-left-leave {
  transform: translateX(0); 
}
</style>
