<template>
  <div class="w-1/2 mx-auto" v-loading="loading">
    <form class="" @submit.prevent="login">
      <h3 class="mb-2">Change Password</h3>
      <input class="block border p-2 w-full mb-4 rounded" type="password" v-model="formFields.oldPassword" placeholder="Current Password"/>
      <input class="block border p-2 w-full mb-4 rounded" type="password" v-model="formFields.newPassword" placeholder="New Password"/>
      <div class="block">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded">Continue</button>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth, API } from 'aws-amplify';
import { mapMutations, mapState } from 'vuex'

export default {
  props:['user'],
  data(){
    return{
      loading: false,
      formFields:{
        oldPassword: '',
        newPassword: ''
      }
    }
  },
  computed:{
    ...mapState([
      'SessionInfo'
    ])
  },
  methods:{
    ...mapMutations([
      'setSessionInfo'
    ]),
    async login(){
      this.loading = true
      try{
        let apiName = 'AdminQueries';
        let path = '/changePassword';
        let post = {
            body: {
              "previousPassword": this.formFields.oldPassword,
              "proposedPassword": this.formFields.newPassword,
              "accessToken": `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        this.loading = false
        this.displayUserNotification({
          type: "success",
          message: "Password Updated"
        }) 
        
        this.$router.go(-1)
      }
      catch(e) {
        console.log(e.response)
        this.loading = false
        var error
        if(e.response){
          var newPasswordError = e.response.data.message.match(/(Member must have length greater than or equal to | Password not long enough)/)
          var currentPasswordError = e.response.data.message === "Incorrect username or password."
          var attemptsExceeded = e.response.data.message === "Attempt limit exceeded, please try after some time."
          if(newPasswordError) error = 'New password must be at least 8 characters'
          else if (currentPasswordError) error = 'Current password incorrect'
          else if (attemptsExceeded) error = "Attempt limit exceeded, please try after some time."
          else error = e.response.data.message
        }
        else{
          error = e
        }
        this.displayUserError(error)         
      }
    }
  }
}
</script>
