<template>
  <div v-loading="loading">
    <form class="" @submit.prevent="login">
      <h3 class="mb-2">Login</h3>
      <input id="email" name="email" class="block border p-2 w-full mb-4 rounded-lg" type="email" v-model="formFields.email" placeholder="Email" data-cy="login-email"/>
      <input id="password" name="password" class="block border p-2 w-full mb-4 rounded-lg" type="password" v-model="formFields.password" placeholder="Password" data-cy="login-password" />
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded-lg">Login</button>
      </div>
      <div class="flex justify-between text-center mt-4">
        <router-link :to="{name: 'Reset'}" tag="button" class="text-brand underline text-sm">Forgot Password?</router-link>
        <!-- <span class="text-sm">Don't have an account? <router-link :to="{name: 'SignUp' }" class="text-primary underline">Sign Up</router-link></span> -->
      </div>
    </form>
  </div>
</template>

<script>
import { Auth, Storage, API, graphqlOperation } from 'aws-amplify'
import { mapState } from 'vuex'
import { mapMutations, mapGetters } from 'vuex'
import { tasksByOwner } from '@/views/Tasks/queries';
import { loadNotifications } from '@/store/notificationSubscription'
import { getUser, deviceIds, vehicleIds, staffIds } from '@/api/queries'
import { updateZohoAccountTenant } from '../../components/Zoho/zoho'
import { updateTenant, createNotification, updateNotification, updateUser } from '@/graphql/mutations'
import { notificationsByOwner } from '@/graphql/queries'
import loadValuelists from '@/scripts/loadValueLists'
import { invoicesByGroup } from './queries'
import LogRocket from 'logrocket'
import { createLogGroupError } from '@/scripts/createLogError'

export default {
  beforeRouteEnter(to, from, next) {
    next(vm=>{
      if(to.params?.logout){
        vm.$nextTick(async ()=>{
          try {
            vm.setSessionInfo(null)
            vm.setUserInfo(null)
            var logout = await Auth.signOut()
            if(vm.hasLogguedSupportAdministrator) {
                localStorage.removeItem('supportAdministrator')
            }
          } catch (error) {
            console.log('Login component', error)
          }
        })
      }
    })
    
  },
  data(){
    console.log('NODE_ENV', process.env.NODE_ENV)
    console.log('VUE_APP_HERA_ENV', process.env.VUE_APP_HERA_ENV)
    return{
      loading: false,
      formFields:{
        email: '',
        password: ''
      }
    }
  },
  created(){
    //Shut down intercom to get rid of cookies of the previously logged in user
    window.Intercom('shutdown')
    //Starts intercom to allow for communication
    window.Intercom('boot')
    
  },

  computed: {
    ...mapGetters(['hasLogguedSupportAdministrator']),
    currentDateFormatted: function () {
      return this.$moment().format('YYYY-MM-DD')
    },
  },

  methods:{
    ...mapMutations([
      'setSessionInfo', 'setUserInfo', 'setCompanyLogo'
    ]),

    /**
     * Login in with Cognito credentials
     */
    async login(){
      this.loading = true
      var validationError = this.validateForm()
      if ( validationError ){
        this.loading = false
        return this.$notify.error({
          title: 'Error',
          message: validationError
        })
      }

      try{
        var email = this.formFields.email.toLowerCase()
        var session = await Auth.signIn(email, this.formFields.password)        
        //Check if user needs to change password
        if( session.challengeName == "NEW_PASSWORD_REQUIRED"){
          this.$router.push({name: 'NewPassword', params: { user: session, email: email } })
          return
        }

        //Set session info
        this.setSessionInfo(session)
        const userId = session.attributes['custom:user_id'];
        var user = await this.api(getUser, {id: userId, group: 'system_admin'})
        
        // console.log('---user', user);
        
        localStorage.setItem('usuarioInfo', JSON.stringify(user.data.getUser.tenant.timeZone))

        localStorage.setItem('HasTimezone', user.data.getUser.tenant.timeZone ? "1" : "0")
        localStorage.setItem('IsAdmin', user.data.getUser.permissionFullAccess ? "1" : "0")

        // prevent login if user account is inactive
        if(user.data.getUser.permissionLogin == false){
          this.$alert("Your login has been deactivated. Please contact your company's owner or administrator if you have any questions.", "Error" , {
            confirmButtonText: 'OK',
            type: 'warning'
          })
            // this.$alert("Your login has been deactivated. Please contact your company's owner or administrator if you have any questions.", 'Error')
            await Auth.signOut()
            this.setSessionInfo(null)
            this.setUserInfo({tenant: {}})
            throw "Please contact your DSP's administrator to login."
        }
        
        // set trial account status if null
        if(!user.data.getUser.tenant.accountPremiumStatus){
          let input = {
            id: user.data.getUser.tenant.id,
            group: user.data.getUser.tenant.group,
            accountPremiumStatus: ['trial'],
            customerStatus: 'Trial'
          }
       
          var tenant = await this.api(updateTenant, {input})
          // update zoho account tenant  
          try{
           let _id = user.data.getUser.tenant && user.data.getUser.tenant.zohoCrmAccountRecordId || null;
           if(!this.$store.getters.isZohoCrmDisabled){
            let _payload = {
              id: _id,
              Customer_Status:input.customerStatus             
            }
            try {
              await updateZohoAccountTenant('update', _payload, this.displayUserError)
            } catch (error) {
            console.log('error updating zoho account', error)
            }
          }
          }catch(e){
            this.displayUserNotification({
                title: "Error",
                type: "error",
                message: e
          })
          }
          user = await this.api(getUser, {id: userId, group: 'system_admin'})
        }


        //Set user info
        this.setUserInfo(user.data.getUser)

        var subdomain =  window.location.host.split('.')[1] ? window.location.host.split('.')[0] : false;
        console.log('Login subdomain', subdomain)
        
          console.log('using Intercomm')
          //Get counts for intercom
          //Vehicle count
          let vehicleInput = {
            group: user.data.getUser.tenant.group,
            filter: {status: {eq: "Active"}},
          }
          let vehicleResponse = await this.gLoadListAll(vehicleIds, vehicleInput, 'vehiclesByGroup')
          let vehicleCount = vehicleResponse.length

          //staff count
          let staffInput = {
            group: user.data.getUser.tenant.group,
            filter: {status: {eq: "Active"}},
          }
          let staffResponse = await this.gLoadListAll(staffIds, staffInput, 'staffsByGroup')
          let staffCount = staffResponse.length

          // months invoiced
          let invoicesInput = {
            group: user.data.getUser.tenant.group,
          }
          let invoicesResponse = await this.gLoadListAll(invoicesByGroup, invoicesInput, 'invoicesByGroup')

          //Update intercom
          let intercomBoot = {
            app_id: process.env.VUE_APP_ID_INTERCOM,
            user_id: userId,
            email: user.data.getUser.email,
            name: user.data.getUser.firstName + ' ' + user.data.getUser.lastName,
            role: user.data.getUser.role,
            phone: user.data.getUser.phone,
            company: {
              company_id: user.data.getUser.tenant.id,
              remote_created_at: Math.round(new Date(user.data.getUser.tenant.createdAt).getTime() / 1000),
              name: user.data.getUser.tenant.companyName,
              active_vehicles: vehicleCount,
              active_das: staffCount,
              trial_expiration_date: user.data.getUser.tenant.trialExpDate.toString().split('T')[0],
              dsp_short_code: user.data.getUser.tenant.shortCode,
              months_invoiced: invoicesResponse.length,
              total_invoiced: this.calculateTotalInvoiced(invoicesResponse),
            },
          }

          if (user.data.getUser.tenant.accountPremiumStatus) {
            intercomBoot.company.plan = this.formatPlan(
              user.data.getUser.tenant
            )
          }
          window.Intercom('boot', intercomBoot)

          let logRocketIdentify = {
            email: user.data.getUser.email,
            name: user.data.getUser.firstName + ' ' + user.data.getUser.lastName,
            role: user.data.getUser.role,
            phone: user.data.getUser.phone,
            company_id: user.data.getUser.tenant.id,
            name: user.data.getUser.tenant.companyName,
            active_vehicles: vehicleCount,
            active_das: staffCount,
            trial_expiration_date: user.data.getUser.tenant.trialExpDate.toString().split('T')[0],
            dsp_short_code: user.data.getUser.tenant.shortCode,
            months_invoiced: invoicesResponse.length,
            total_invoiced: this.calculateTotalInvoiced(invoicesResponse),
            plan: ''
          }

          if (user.data.getUser.tenant.accountPremiumStatus) {
            logRocketIdentify.plan = this.formatPlan(
              user.data.getUser.tenant
            )
          }

          //use logrocket
          LogRocket.identify(userId, logRocketIdentify);

        //Update company logo
        var imageUrl = await Storage.get(user.data.getUser.tenant.logo)
        this.setCompanyLogo(imageUrl)

        //Load value lists
        await loadValuelists(this, user.data.getUser.tenant.id)

        //create notifications for tasks
        // await this.createNotifications() // comment back in when releasing tasks
        let input = { id: userId, lastLogin: new Date().toISOString() }
        await API.graphql(graphqlOperation(updateUser, { input }))
        if(user.data.getUser.permissionFullAccess && !user.data.getUser.tenant.timeZone) {
          await this.$router.replace( {name: 'SettingsCompanyDetails'})
          location.reload();
        } else if( this.$route.query.redirect){
          await this.$router.replace( this.$route.query.redirect )
          location.reload();
        }else{
          await this.$router.replace( {name: 'Dashboard'})
          location.reload();
        }
        
      }catch(e){
        const errorMessage = e.message
        const stack = e.stack ?? '-'
        const email = this.formFields.email
        const action = 'Login'
        const newError = {...e,email,action,stack}
        if (!errorMessage.includes('Incorrect username or password')) {
          await createLogGroupError(newError)
        }
        this.printUserError(e)
        this.loading = false
        if(e.code == 'PasswordResetRequiredException'){
          this.$router.push({name: 'ResetConfirm', params:{email: this.formFields.email}})
        }else{
          return this.$notify.error({
            title: 'Error',
            message: e.message ?? e
          })
        }
      }
      finally{
        this.loading = false
      }
    },

    calculateTotalInvoiced: function (invoices) {
      let total = 0
      invoices.forEach((invoice) => {
        total += invoice.invoiceTotal
      })

      return total.toFixed(2)
    },

    formatPlan: function (tenant) {
      let accountPremiumStatus = tenant.accountPremiumStatus

      if (
        accountPremiumStatus.length > 1 &&
        accountPremiumStatus.includes('standard')
      ) {
        let filtered = accountPremiumStatus.filter(
          (status) => status != 'standard'
        )

        let abbreviations = {
          staff: 'DA',
          performance: 'Performance',
          rostering: 'Roster',
          vehicles: 'Vehicles',
        }
        const abbreviated = filtered.map((item) => abbreviations[item])

        return `Standard+${abbreviated.join('-')}`
      }

      if (
        accountPremiumStatus.includes('trial') &&
        tenant.trialExpDate < this.currentDateFormatted
      ) {
        return 'Expired'
      }

      return this.toTitleCase(accountPremiumStatus[0])
    },

    validateForm(){
      //Potential fix for issue where dashlane is not triggering the username/password fields?
      this.formFields.email = document.getElementById("email").value
      this.formFields.password = document.getElementById("password").value


      if ( this.formFields.email == '' && this.formFields.password == '' ) return 'Please fill in your email and password'
      if ( this.formFields.email == '' ) return 'Please fill in your email'
      if ( this.formFields.password == '' ) return 'Please fill in your password'
      return
    },

    async createNotifications(){
      //CREATE NOTIFICATIONS FOR TASKS

      //FIND USERS ACTIVE NOTIFICATIONS
      var input = {
        owner: this.$store.state.userInfo.cognitoSub
      }
      
      var today = this.$moment()
      var existingNotifications = await this.gLoadListAll(notificationsByOwner, input, 'notificationsByOwner')

      var filter = {
          date:  { lt: today },
      }
      var input = {
        statusDate: {beginsWith: {status: "Pending"}},
        owner: this.$store.state.userInfo.id,
        filter: filter
      }
      var overdueTasks = await this.gLoadListAll( tasksByOwner, input, 'tasksByOwner' )

      try{
        // CREATE OVERDUE NOTIFICATIONS
        await Promise.all(overdueTasks.map( async task => { 
          var notificationExists = existingNotifications.some( notification => notification.id + 'upcoming' == task.id)
          if(!notificationExists){
            var input = {
              //task id is set as the notification id to avoid duplicate notifications
              //the string 'overdue' is added because we need to make 2 notifications, once its overdue and once its overdue
              id: task.id + 'overdue',
              title: "Overude Task: '" + task.taskName + "' is past due",
              description: "Click here to view and dismiss",
              isRead: false,
              group: this.$store.state.userInfo.tenant.group,
              clickAction: "navigate",
              payload: JSON.stringify({name: 'Task', params: {taskID: task.id}})
            }
            var results = this.api(createNotification,  {input: input})
          }
        }))

        //loads the newly created notifications
        await loadNotifications()

      }catch(e){

        this.printUserError(e)
        this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.message
        });

      }

    },

    shortenDescription(body){
        var charLength = 125
        if (body){
          if (body.length < charLength){
            return body
          }else{
            return body.substring(0, charLength) + '...'
          }   
        }else{
          return body
        }

    }
  }
}
</script>
