<template>
  <div v-loading="loading">
    <form class="" @submit.prevent="login">
      <h3 class="mb-2">Please Set New Password</h3>
        <input class="block border p-2 w-full mb-4 rounded-lg" type="password" v-model="formFields.password" placeholder="New Password"/>  
        <input :class="{'border-red-500': !passwordsMatch}" class="block border p-2 w-full mb-4 rounded-lg" type="password" v-model="formFields.confirmPassword" placeholder="Confirm Password"/>
        <p v-show="!passwordsMatch" class="text-red-500 text-xs italic -mt-4 mb-4">These passwords don't match.</p>
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded-lg">Continue</button>
        <router-link :to="{name: 'Login'}" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-brand underline">Back to Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth, Storage } from 'aws-amplify'
import { mapMutations } from 'vuex'
import { getUser, deviceIds, vehicleIds, staffIds } from '@/api/queries'
import { invoicesByGroup } from '@/layouts/queries.js'
import loadValuelists from '@/scripts/loadValueLists'

export default {
  props:['user', 'email'],
  data(){
    return{
      loading: false,
      formFields:{
        password: '',
        confirmPassword: ''
      }
    }
  },
  created(){
    // redirect back to login if data no longer valid
    if(!this.$route.params.email){
      this.$router.push({name: 'Login'})
    }
  },
  computed: {
    currentDateFormatted: function () {
      return this.$moment().format('YYYY-MM-DD')
    },

    passwordsMatch(){
      return this.formFields.password === this.formFields.confirmPassword
    }
  },
  methods:{
    ...mapMutations([
      'setSessionInfo', 'setUserInfo', 'setCompanyLogo'
    ]),
    async login(){
      this.loading = true
      try{

        if(!this.passwordsMatch){
          throw {message: "Passwords don't match"}
        }

        var newPassword = await Auth.completeNewPassword(this.user, this.formFields.password)

        //LOGIN USER WITH NEW CREDENTIALS
        var email = this.email.toLowerCase()
        var session = await Auth.signIn(email, this.formFields.password)

        //Set session info
        this.setSessionInfo(session)
        const userId = session.attributes['custom:user_id'];
        const user = await this.api(getUser, {id: userId,  group: 'system_admin'})

        //Set user info
        this.setUserInfo(user.data.getUser)

          //Get counts for intercom
          //Vehicle count
          let vehicleInput = {
            group: user.data.getUser.tenant.group,
            filter: {status: {eq: "Active"}},
          }
          let vehicleResponse = await this.gLoadListAll(vehicleIds, vehicleInput, 'vehiclesByGroup')
          let vehicleCount = vehicleResponse.length

          //staff count
          let staffInput = {
            group: user.data.getUser.tenant.group,
            filter: {status: {eq: "Active"}},
          }
          let staffResponse = await this.gLoadListAll(staffIds, staffInput, 'staffsByGroup')
          let staffCount = staffResponse.length

          // months invoiced
          let invoicesInput = {
            group: user.data.getUser.tenant.group,
          }
          let invoicesResponse = await this.gLoadListAll(invoicesByGroup, invoicesInput, 'invoicesByGroup')

          //Update intercom
          let intercomBoot = {
            app_id: process.env.VUE_APP_ID_INTERCOM,
            user_id: userId,
            email: user.data.getUser.email,
            name: user.data.getUser.firstName + ' ' + user.data.getUser.lastName,
            role: user.data.getUser.role,
            phone: user.data.getUser.phone,
            company: {
              company_id: user.data.getUser.tenant.id,
              remote_created_at: Math.round(new Date(user.data.getUser.tenant.createdAt).getTime() / 1000),
              name: user.data.getUser.tenant.companyName,
              active_vehicles: vehicleCount,
              active_das: staffCount,
              trial_expiration_date: user.data.getUser.tenant.trialExpDate.toString().split('T')[0],
              dsp_short_code: user.data.getUser.tenant.shortCode,
              months_invoiced: invoicesResponse.length,
              total_invoiced: this.calculateTotalInvoiced(invoicesResponse),
            },
          }

          if (user.data.getUser.tenant.accountPremiumStatus) {
            intercomBoot.company.plan = this.formatPlan(
              user.data.getUser.tenant
            )
          }
          window.Intercom('boot', intercomBoot)

        //Update company logo
        var imageUrl = await Storage.get(user.data.getUser.tenant.logo)
        this.setCompanyLogo(imageUrl)

        //Load value lists
        await loadValuelists(this, user.data.getUser.tenant.id)

        //Redirect to proper location
        if(this.$route.query.redirect){
          this.$router.replace( this.$route.query.redirect )
          location.reload();
        }else{
          this.$router.replace( {name: 'Dashboard'})
          location.reload();
        }
      }catch(e){
        this.printUserError(e)
        this.loading = false
        if(e.code == 'PasswordResetRequiredException'){
          this.$router.push({name: 'ResetConfirm', params:{email: this.formFields.email}})
        }else{
          this.displayUserError(e)
        }
      }
      this.loading = false
    },

    calculateTotalInvoiced: function (invoices) {
      let total = 0
      invoices.forEach((invoice) => {
        total += invoice.invoiceTotal
      })

      return total.toFixed(2)
    },

    formatPlan: function (tenant) {
      let accountPremiumStatus = tenant.accountPremiumStatus

      if (
        accountPremiumStatus.length > 1 &&
        accountPremiumStatus.includes('standard')
      ) {
        let filtered = accountPremiumStatus.filter(
          (status) => status != 'standard'
        )

        let abbreviations = {
          staff: 'DA',
          performance: 'Performance',
          rostering: 'Roster',
          vehicles: 'Vehicles',
        }
        const abbreviated = filtered.map((item) => abbreviations[item])

        return `Standard+${abbreviated.join('-')}`
      }

      if (
        accountPremiumStatus.includes('trial') &&
        tenant.trialExpDate < this.currentDateFormatted
      ) {
        return 'Expired'
      }

      return this.toTitleCase(accountPremiumStatus[0])
    },
  }
}
</script>
