<template>
  <div>
    <form
      v-loading="loading"
      @submit.prevent="reset">
      <h3 class="mb-2">Reset Your Password</h3>
      <input
        v-model="formFields.email"
        type="email"
        placeholder="Email"
        class="block border p-2 w-full rounded-lg"
        @input="clearErrorMesage"
      />
      <div v-if="errorMessage" class="form-error mt-1 mb-3">{{ errorMessage }}</div>
      <div class="block sm:flex sm:space-x-4 mt-4">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded-lg">Reset</button>
        <router-link to="/" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-brand underline">Back to Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify'
import { mapMutations } from 'vuex'

export default {
  data(){
    return{
      formFields:{
        email: ''
      },
      errorMessage: '',
      loading: false,
    }
  },
  methods:{
    ...mapMutations([
      'setSessionInfo'
    ]),

    clearErrorMesage() {
      this.errorMessage = '';
    },

    /**
     * Send email using with code to reset users email
     */
    async reset(){
      if (!this.formFields.email) {
        this.errorMessage = 'Email cannot be empty';
        return;
      }
      try{
        this.loading = true;
        var reset = await Auth.forgotPassword(this.formFields.email)
        var email = this.formFields.email.toLowerCase()
        this.$router.push( {name: 'ResetConfirm', params:{ email: email }})
      }catch(e){
        this.displayUserError(e)
        if (e.message?.toString().includes('combination not found')) {
          this.errorMessage = 'No Hera account was found with that email address. Please contact Hera Support using the chat icon (bottom-right), or try again with another email address.';
        }
      }
      finally {
        this.loading = false;
      }
    }
  }
}
</script>

<style scoped>
.form-error {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
}
</style>