<template>
  <div>
    <form class="" @submit.prevent="send">
      <h3 class="mb-2">Enter in Verfication Code Emailed To You To Reset</h3>
      <input class="block border p-2 w-full mb-4 rounded-lg" type="text" v-model="email" :disabled="disabled" placeholder="Email"/>
      <input class="block border p-2 w-full mb-4 rounded-lg" type="text" v-model="formFields.code" placeholder="Verification Code"/>
      <input class="block border p-2 w-full mb-4 rounded-lg" type="password" v-model="formFields.password" placeholder="New Password"/>
      <div class="block sm:flex sm:space-x-4">
        <button  class="flex-1 w-full border p-2 bg-brand text-white rounded-lg">Confirm</button>
        <router-link to="/" tag="button" class="w-full flex-1 mt-4 sm:mt-0 text-brand underline">Back to Login</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { Auth, Storage } from 'aws-amplify'
import { mapMutations } from 'vuex'
import { getUser } from '@/graphql/queries'

export default {
  props:['email'],
  data(){
    return{
      loading: null,
      formFields:{
        code: '',
        password: ''
      },
      disabled: true
    }
  },
  mounted() {
    this.formFields.code = ''
    this.disabled =  true

    if(this.$route.query && this.$route.query.code) {
      this.formFields.code = this.$route.query.code
      this.disabled = false
    }
  },
  methods:{
    ...mapMutations([
      'setSessionInfo', 'setUserInfo', 'setCompanyLogo'
    ]),
    async send(){
      //VALIDATE FORM
      var validationError = this.validateForm()
      if ( validationError ){
        return this.$notify.error({
            title: 'Error',
            message: validationError
          })
      }

      try{
        this.loading = this.$loading({
          lock: true,
          text: 'Loading',
        });
        //RESET PASSWORD
        var email = this.email.toLowerCase()
        var reset = await Auth.forgotPasswordSubmit(email, this.formFields.code,this.formFields.password)
        
        //LOGIN USER WITH NEW CREDENTIALS
        var session = await Auth.signIn(email, this.formFields.password)

        //Set session info
        this.setSessionInfo(session)
        const userId = session.attributes['custom:user_id'];
        const user = await this.api(getUser, {id: userId})

        //Set user info
        this.setUserInfo(user.data.getUser)

        //Update company logo
        var imageUrl = await Storage.get(user.data.getUser.tenant.logo)
        this.setCompanyLogo(imageUrl)  

        this.loading.close();    
        if( this.$route.query.redirect){
          this.$router.replace( this.$route.query.redirect )
        }else{
          this.$router.replace( {name: 'Dashboard'})
        }
      }catch(e){
        this.loading.close();
        this.displayUserError(e)
      }
    },
    validateForm(){
      if ( this.formFields.code.length == '' && this.formFields.password == '' ) return 'Please fill in the verification code and password'
      if ( this.formFields.code.length < 6 ) return 'Please fill in the 6 digit verification code sent via email'
      if ( this.formFields.password.length < 8 ) return 'Please fill in a new password that is at least 8 characters long'
      return
    }
  }
}
</script>
