<template>
  <div>
    <div class="-mt-20 -ml-8 -mr-8 mb-8">
      <div class="flex justify-between items-center">
        <router-link :to="{ name:'Login' }" ><i class="el-icon-arrow-left"/>Back to Login</router-link>
        <img class="logo w-24" src="@/assets/images/logo-horizontal.png" />
      </div>
    </div>
    <form v-loading="loading" class="" @submit.prevent="signup">
          
      <h3 class="mb-2">Sign Up</h3>
      
      <el-form   
      label-position="top" 
      size="small" 
      :model="formFields" 
      :rules="rules" 
      :hide-required-asterisk="true"
      ref="form">
        
        <!--COMPANY NAME-->
        <el-form-item label="Company Name" prop="companyName">
            <el-input v-model="formFields.companyName"></el-input>
        </el-form-item>
        <p class="text-xs mt-4 mb-3 text-gray-700">
          We’ll begin by setting up your first administrator account. You’ll be able to add more users to Hera later, once you’re set up.
        </p>

        <!--NAME-->
        <div class="flex space-x-2">          
          <div class="flex-grow">
            <el-form-item label="First Name" prop="firstName">
                <el-input v-model="formFields.firstName"></el-input>
            </el-form-item>
          </div>
          <div class="flex-grow">
            <el-form-item label="Last Name" prop="lastName">
                <el-input v-model="formFields.lastName"></el-input>
            </el-form-item>
          </div>          
        </div>


        <!--DISPATCH PHONE NUMBER-->
        <el-form-item label="Phone Number" prop="phone">
            <el-input v-model="formFields.phone" v-mask="'(###) ###-####'" placeholder="(123) 456-7890"></el-input>
        </el-form-item>


        <!--EMAIl-->
        <el-form-item label="Email" prop="email" >
            <el-input v-model="formFields.email"></el-input>
        </el-form-item>          


        <!--PASSWORDS-->
        <div class="flex space-x-2">          
          <div class="flex-grow">
            <el-form-item label="Password" prop="password">
                <el-input type="password" v-model="formFields.password" show-password></el-input>
            </el-form-item>
          </div>
          <div class="flex-grow">
            <el-form-item label="Password Confirm" prop="passwordConfirm">
                <el-input type="password" v-model="formFields.passwordConfirm" show-password></el-input>
            </el-form-item>
          </div>          
        </div>


      </el-form>
      

      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded">Sign Up</button>
      </div>

      
    </form>
  </div>
</template>

<script>
import { API, Auth } from 'aws-amplify';
import { mapMutations } from 'vuex'
import { getUser } from '@/api/queries'
import loadValuelists from '@/scripts/loadValueLists'
import Validator from '@/utilities/FormValidator'

export default {  

  data(){
    var validatePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input a password'));
      } else {
        if (this.formFields.passwordConfirm !== '') {
          this.$refs.form.validateField('passwordConfirm');
        }
        callback();
      }
    };
    var validatePasswordConfirm = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input your password again'));
      } else if (value !== this.formFields.password) {
        callback(new Error('Passwords do not match!'));
      } else {
        callback();
      }
    };
    return{
      loading: false,
      formFields:{
        companyName: '',
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        password: '',
        passwordConfirm: '',
        loading: false
      },
      rules:{
        companyName: [
          { required: true, message: "Please enter in your company's name", trigger: 'blur'}
        ],
        firstName: [
          { required: true, message: "Please enter in your first name", trigger: 'blur'}
        ],
        lastName: [
          { required: true, message: "Please enter in your last name", trigger: 'blur'}
        ],
        phone: [
          { required: true, message: "Please enter in your phone number", trigger: 'blur'}
        ],
        email: [
          { required: true, message: "Please enter a valid email", trigger: 'blur', validator: Validator.email}
        ],
        password: [
            { validator: validatePassword, trigger: 'blur' }
          ],
        passwordConfirm: [
          { validator: validatePasswordConfirm, trigger: 'blur' }
        ],
        
      }
    }
  },
  methods:{
    ...mapMutations([
      'setSignUpCredentials'
    ]),

    /**
     * Sign Up with Cognito credentials
     */
    async signup(){
      this.loading = true
      try{

        //validate form
        await this.$refs["form"].validate()


        //Create cognito user
        let username = this.formFields.email.trim().toLowerCase()
        let password = this.formFields.password
        const { user } = await Auth.signUp({ username, password })
        console.log(user)    

        //Complete Signup
        let apiName = 'Signup'
        let path = '/signup'     
        let post = {
          body: {
            companyName: this.formFields.companyName,
            firstName: this.formFields.firstName,
            lastName: this.formFields.lastName,
            phone: this.formFields.phone,
            email: username
          }
        }
        var result = await API.post(apiName, path, post)
        console.log(result)
        this.setSignUpCredentials({email: username, password: password})
        // this.$message.success("Your account has been created!");
        this.$router.push({name: 'SignUpConfirm'})

      }catch(e){
        //check form validation
        if( e === false){
          this.$message.error("Please fill in all fields");
          return
        }
        //Check for auth errors
        if(e.name == 'AuthError'){
          this.$message.error(e.log);
          return
        }
        //Check for auth issues
        if(e.code){
          this.$message.error(e.message);
          return
        }
        //Display any api errors
        console.log(JSON.stringify(e))
        this.$message.error(e.response.data.message);
      }finally{
        this.loading = false
        // this.$router.push({name: 'SignUpAwaitConfirm', params: {email: this.formFields.email.trim().toLowerCase(), password: this.formFields.password, id: result.user.id}})
      }
    }
  }
}
</script>
