<template>
  <div >
    <div class="-mt-20 -ml-8 -mr-8 mb-8">
      <div class="flex justify-between items-center">
        <router-link :to="{ name:'Login' }" ><i class="el-icon-arrow-left"/>Back to Login</router-link>
        <img class="logo w-24" src="@/assets/images/logo-horizontal.png" />
      </div>
    </div>
    <h3 class="mb-2 text-center">Your account has been created!</h3>
    <p>Please confirm your email address by clicking the link in the email sent to {{$route.params.email}}. After your email has been confirmed, return to the login page to log in.</p>
  </div>
</template>

<script>
import { API, Auth } from 'aws-amplify';
import { mapMutations } from 'vuex'
import { getUser } from '@/api/queries'

export default {  
  name: 'SignUpAwaitConfirm',
  data(){
    return{
    }
  },

  methods:{
    ...mapMutations([
      'setSessionInfo', 'setUserInfo', 'setCompanyLogo'
    ]),

    

  }
}
</script>
