<template>
  <div >
    <div class="-mt-20 -ml-8 -mr-8 mb-8">
      <div class="flex justify-between items-center">
        <router-link :to="{ name:'Login' }" ><i class="el-icon-arrow-left"/>Back to Login</router-link>
        <img class="logo w-24" src="@/assets/images/logo-horizontal.png" />
      </div>
    </div>
    <div class="text-center" v-if="!this.$route.params.code">
      <h3 class="mb-2">Your account has been created!</h3>     
      <p class="mb-2">Please verify your email by using the link sent to <span class="font-bold">{{this.formFields.email}}</span></p>
      <p class="mb-2">This tab can now be closed.</p>
    </div>
    <form v-loading="loading" class="" @submit.prevent="confirmSignup" v-else> 
      <h3 class="mb-2">Please confirm your account</h3> 
      <el-form   
      label-position="top" 
      size="small" 
      :model="formFields" 
      :rules="rules" 
      :hide-required-asterisk="true"
      ref="form">
        

        <el-form-item label="Email" prop="confirmation">
            <el-input v-model="formFields.email"></el-input>
        </el-form-item> 

        <el-form-item label="Confirmation Code" prop="confirmation">
            <el-input v-model="formFields.confirmation"></el-input>
        </el-form-item>      


      </el-form>
      

      <div class="flex space-x-4">
        <button class="flex-1 w-full border p-2 bg-brand text-white rounded">Submit</button>
        <!-- <button class="flex-1 w-full border p-2 bg-gray-100 text-black rounded" @click.prevent="resendCode">Resend Code</button> -->
      </div>

      
    </form>
    <!-- <p>Please confirm your email address by clicking the link in the email sent to {{$route.params.email}}. After your email has been confirmed, return to the login page to log in.</p> -->
  </div>
</template>

<script>
import { API, Auth, Storage } from 'aws-amplify';
import { mapMutations } from 'vuex'
import { getUser } from '@/api/queries'
import loadValuelists from '@/scripts/loadValueLists'

export default {  

  data(){
    return{
      loading: false,
      formFields:{
        confirmation: '',
        email: ''
      },
      rules:{
        confirmation: [
          { required: true, message: "Please enter in your confirmation code", trigger: 'blur'}
        ],        
        email: [
          { required: true, message: "Please enter in your email", trigger: 'blur'}
        ],        
      }
    }
  },

  mounted(){
    this.formFields.confirmation = this.$route.params.code
    this.formFields.email = this.$store.state.signUpCredentials ? this.$store.state.signUpCredentials.email : null
    if(this.formFields.confirmation && this.formFields.email) this.confirmSignup()
  },

  methods:{
    ...mapMutations([
      'setSessionInfo', 'setUserInfo', 'setCompanyLogo'
    ]),

    /**
     * Confrim Cognito account
     */
    async confirmSignup(){
      this.loading = true
      try{

        //validate form
        console.log(this.$refs)
        await this.$refs.form.validate()

        //Confirm cognito user
        var username = this.formFields.email
        var code = this.formFields.confirmation
        var result = await Auth.confirmSignUp(username, code);
        console.log(result)
        
        // login 
        this.login()

      }catch(e){
        //check form validation
        if( e === false){
          this.$message.error("Please fill in all fields");
          return
        }
        //Check for auth errors
        if(e.name == 'AuthError'){
          this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e.log
        })
          // this.$message.error(e.log);
          return
        }
        //Check for auth issues
        if(e.code){
          this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e.message
        })
          // this.$message.error(e.message);
          return
        }
        //Display any api errors
        this.printUserError(e)
        this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e
        })
      }finally{
        this.loading = false
      }
    },

    /**
     * Login in with Cognito credentials
     */
    async login(){
      this.loading = true

      try{
        // no password in store, redirect to login
        if(!this.$store.state.signUpCredentials){
          this.displayUserNotification({
            title: "Welcome to Hera",
            type: "success",
            message: "Your account has been confirmed. Please login now."
          })
          this.$router.push({name: "Login"})
          return
        }

        var email = this.formFields.email.toLowerCase()
        var session = await Auth.signIn(email, this.$store.state.signUpCredentials.password)
        
        //Set session info
        this.setSessionInfo(session)
        const userId = session.attributes['custom:user_id'];
        const user = await this.api(getUser, {id: userId, group: 'system_admin'})

        //Set user info
        this.setUserInfo(user.data.getUser)

        //Update intercom
          let intercomBoot = {
            app_id: process.env.VUE_APP_ID_INTERCOM,
            user_id: userId,
            email: user.data.getUser.email,
            name: user.data.getUser.firstName + ' ' + user.data.getUser.lastName,
            role: user.data.getUser.role,
            phone: user.data.getUser.phone,
            company:{
              company_id: user.data.getUser.tenant.id,
              name: user.data.getUser.tenant.companyName,
            }
          };
          window.Intercom('boot', intercomBoot );

        //Update company logo
        var imageUrl = await Storage.get(user.data.getUser.tenant.logo)
        this.setCompanyLogo(imageUrl)

        //Load value lists
        await loadValuelists(this, user.data.getUser.tenant.id)

        this.displayUserNotification({
          title: "Welcome to Hera",
          type: "success",
          message: "Your account has been confirmed"
        })

        //Redirect to proper location
        if( this.$route.query.redirect){
          this.$router.replace( this.$route.query.redirect )
        }else{
          this.$router.replace( {name: 'Dashboard'})
        }
      }catch(e){
        this.loading = false
        if(e.code == 'PasswordResetRequiredException'){
          this.$router.push({name: 'ResetConfirm', params:{email: this.formFields.email}})
        }else{
          this.displayUserError(e)
        }
      }
      this.loading = false
    },
  }
}
</script>
