.container-dashboard {

}

.row-container-dashboard {
     /* width: 1014px;
     height: 350px; */
     padding: 0px;
     margin-bottom: 25px;
}

.recharts-surface{
     width: 100%;
 }

 .custom-gauge>.recharts-surface{
     margin-left: 50px;
 }


.custom-dash-list {
     margin-bottom: 12px;
     border-top: 1px solid rgb(224, 224, 224);
     margin-right: 0px !important;
     margin-left: 0px !important;
     padding-top: 10px;
     width: 95%;
}

.inner-container-dash {
     margin-top: 10px;
     margin-left: 20px;
}

.list-text {
     color: #949393;
}

.list-container-dash {
     max-height: 200px;
     overflow-y:scroll;
}

.list-number {
     color: #080808;
     font-weight: bold;
     text-align: right;
}

.inner-container-child {
     width: 1000px;
     height: 300px;
     border: 2px solid rgba(206, 204, 204, 0.856);
     padding-top: 20px;
     border-radius: 8px;
}

.inner-container-child-table {
     width: 1000px;
     height: 300px;
     border: 2px solid rgba(206, 204, 204, 0.856);
     padding-top: 20px;
     margin-left: 0px !important;
     border-radius: 8px;
}

.small-heading {
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 3%;
     color: black;
}


.recharts-wrapper {
     margin-left: 0px;
     margin-right: 0px;

}

.top-dashboard-stats {
     width: 104%;
     border: 1px solid #b9b0b085;
     min-height: 160px;
    max-height: 160px;
     background-color: #ffffff;
     min-width: 70%;
     padding: 10px;

}



.top-dashboard-stats:hover {
     width: 104%;
     border: 1px solid #b9b0b085;
     box-shadow: 0px 0px 11px #e0e5e8;

}

.topDasboard-box {
          min-height: 100px;
          width: 100%;
          padding-right: 0px;
          margin-right: 0px;
          margin-bottom: 20px;

}

.custom-text-card {
     font-size: 1.2em;
     font-weight: 600;
     color: white;
     margin-top: 13%;
}

.custom-box-dashboard {
     min-height: 50px;
     width: 32%;
     background: #ffffff;
     border-radius: 9px;
}

.custom-new-row {
     padding: 0%;
    padding-top: 5%;
}

.dash-main-chart-title {
     font-weight: 700;
    color: rgb(0, 0, 0);
    margin-left:10px;
    font-size: 88%;
    text-transform: capitalize;
    height:25px;
}

.dash-main-chart-num{
     font-size: 250%;
     font-weight: 600;
     /* padding: 1px; */
     /* text-align: center; */
     margin-left: 4%;
}

.dash-nav-text {
     color: rgb(153, 153, 153);
    font-weight: 600;
    font-size: 83%;
}

.custom-arrow {
  color: rgb(116, 112, 112);
  text-align: right;
  cursor: pointer;
}

.custom-arrow:hover{
     color: #394c64;
     font-size: 18px;
     font-weight: bold;
}


.finance-layout-dash {
     min-width: 100%;
     min-height: 100%;
}

.finance-layout-GE {
     min-width: 100%;
     min-height: 100%;
}



.finance-top {
    margin-bottom: 0.5rem;
     height: 70px;
     min-height: 70px;
     border-bottom: 1px solid #d4d4d3;
}

.finance-middle {
     height: 130px;
     min-height: 130px;
}

.finance-bottom {
     height: 200px;
     min-height: 200px;
}

.custom-box-fifty-right {
     box-shadow: 0px 0px 11px #e0e5e8;
     min-height: 430px;
     width: 49%;
     margin-top: 25px;
     margin-bottom: 25px;
     border-radius:4px;
     background: white;
     background-color:white;

   }

.finance-title {
    height: 17%;
    padding-top: 4%;
    padding-left: 5%;
}

   .finance-and-dasboard-paid {
     min-height: 430px;
     width: 49%;
     margin-top: 25px;
     margin-bottom: 25px;
     border-radius:4px;
   }

   .finance-layout-new {
    margin-left: 0px;
    margin-right: -4px;
    height: 175px;
    min-height: 175px;
    padding-left: 0px;
   }

   .finance-col-words-titles{
     margin-top: 20px;
     padding-top: 20px;
     padding-left: 5%;
   }

   .finance-layout-colums{
    padding-left: 0px;
    /* padding-right: 4px; */
    height: 100%;
    min-height: 80%;
   }

   /*.finance-title {*/
     /*padding-top: 3%;*/
     /*padding-left: 4%;*/
     /*font-weight: 600;*/
     /*font-size: 22px;*/
     /*text-transform: uppercase;*/
   /*}*/

   .finance-stats {
        padding-top: 5%;
        padding-left:4%;
        margin-left: 3%;
   }

   .finance-stats-title {
        font-size: 14px;
        font-weight: 700;
        color: #aba8a8;
   }

   .finance-stats-value {
     font-size: 1.8em;
   }

   .finance-progress-container {
     padding-left: 4%;
     margin-left: 3%;
   }

   .finance-box-dash {
     padding: 14px;
    border: 1px solid gainsboro;
    width: 45%;
    margin: 6px;
   }

   .finance-box-title {
     font-size: 111%;
     font-weight: 800;
   }

   .finance-box-text {
     font-size: 95%;
     font-weight: 600;
     color: rgb(126, 129, 131);
     margin-top: 1%;
   }

   .finance-box-val {
     font-size: 111%;
     font-weight: 800;
     text-align: right;
   }

   .finance-box-result {
     text-align: center;
     font-weight: 800;
   }

   .execution-graph {
     box-shadow: 0px 0px 11px #e0e5e8;
     border-radius: 4px;
     background: white;
     background-color: white;
     min-height: 430px;
     width: 49%;
     margin-top: 25px;
     margin-right: 2%;
     margin-bottom: 25px;
   }

.execution-title {
    height: 80px;
    border-bottom: 1px solid #e0e5e8;
    padding-top: 4%;
    padding-left: 5%;
    font-size: 137%;
    font-weight: 600;
    text-transform: capitalize;
}

.office-stats-title {
    /*height: 14%;*/
    border-bottom: 1px solid #e0e5e8;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 137%;
    font-weight: 600;
}



   .office-status {
     box-shadow: 0px 0px 11px #e0e5e8;
     min-height: 525px;
     width: 75%;
     margin-top: 25px;
     margin-right: 2%;
     margin-bottom: 25px;
     background-color:white;
   }

/*.user-stats {*/
    /*box-shadow: 0px 0px 11px #c0c0c0;*/
    /*min-height: 525px;*/
    /*width: 23%;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
    /*background: white;*/
/*}*/

/*.user-stats-title{*/
    /*height: 14%;*/
    /*border-bottom: 1px solid #e0e5e8;*/
    /*padding-top: 7%;*/
    /*padding-left: 5%;*/
/*}*/
   .user-stats {
     min-height: 525px;
     width: 23%;
     margin-top: 25px;
     margin-bottom: 25px;
   }
   .user-stats Row{
     background: white;
     height: 49%;
     box-shadow: 0px 0px 11px #e0e5e8;
   }



   .office-stats-container {
     margin-left: 0px !important;
    height: 407px;
    max-height: 357px;
    min-height: 357px;
   }

   .office-stats-cont-sec {
        height: 100%;

   }

   .office-stats-m {
     height: 50%;
     padding: 10%;
   }

   .user-stats-contract {
     height: 50%;
     padding-left: 12%;
     padding-top: 2%;
   }

   .office-tation-t {
     font-size: 112%;
     font-weight: 600;
     color: #c0c0c0;
   }

   .office-main-num {
     font-size: 600%;
     color: #30bda0;
   }

   .office-sec-num {
     font-size: 370%;
    color: #c0c0c0;
    padding-top: 12%;
   }


   /*.office-container-name {*/
     /*height: 14%;*/
     /*margin-top: 11%;*/
     /*border: 1px solid rgb(221, 221, 221);*/
 /*}*/



 .office-main-num-s {
     font-size: 225%;
     color: #30bda0;
   }

.office-sec-num-s {
    font-size: 191%;
    color: #c0c0c0;
    padding-top: 2%;
}

   .workload-layout-dash {

   }


   .workload-container {
     height: 48px;
     border-bottom: 1px solid rgb(216, 216, 216);
     margin-top: 4%;
     margin-left: 12%;
     margin-right: 8%;
   }

   .load-number {
     text-align: right;
     font-size: 1.2em;
     font-weight: 600;
     color: #30bda0;
   }

/*.office-text {*/
    /*text-align: center;*/
    /*padding-top: 4%;*/
    /*font-weight: 500;*/
    /*color: #7a7e7a;*/
    /*font-size: 106%;*/
/*}*/
   .load-work-def {
     font-size: 1.2em;
     font-weight: 600;
     text-transform: capitalize;
   }

   .load-sub-data {
     font-weight: 600;
     color: #c0c0c0;
   }