.scrollCon {
    overflow : "hidden";
    padding: "7px 0px 0px 0px"; 
    overflow-y: "hidden";
  }

.scrollCon>div:first-child{
    overflow-x : hidden !important;
    overflow-y : hidden !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    max-height: 78vh;
    height: 78vh
}

.scrollCon>div:first-child::-webkit-scrollbar{
    margin-right: 0px !important;
    margin-left: 0px !important;
    background: transparent;
    overflow-x : hidden !important;
    overflow-y : hidden !important;
    max-height: 78vh;
    height: 78vh
}
