.calendarComponent {
    height: 100%
}
.calendarComponent * {
     font-family: "lato", sans-serif;
}
.calendarComponent .rbc-time-view{
    padding-bottom:10px
}
.calendarComponent .rbc-event{
    padding: 5px;
    border-radius: 0;
    position: relative;
}
.calendarComponent .rbc-header + .rbc-header {
    /*border-left-width: 0;*/
    border-left: 1px solid #eaeaea;
}
.calendarComponent .rbc-selected-cell {
    background: rgba(221, 221, 221, 0.4) !important
}
.off-day{
    background-color: whitesmoke;
}
.highlightWeekend {   
    color: #999999;
}