<template>
  <div>
    <FieldAssessmentsList v-loading="loading" :users="users" :tenantId="userInfo.tenant.id" :group="userInfo.tenant.group" @loadData="loadData"/>
  </div>
</template>

<script>
import FieldAssessmentsList from './components/FieldAssessments/FieldAssessmentsList'
import { mapState } from 'vuex'
import { getTenant } from '@/views/Accident/queries.js'

export default {
  components:{ FieldAssessmentsList },
  name: "FieldAssessmentsIndex",
  data(){
    return{
      users:[],
      loading: false
    }
  },

  mounted(){
    // this.loadData()
  },

  computed:{
    ...mapState(['userInfo'])
  },

  methods:{
    /** Load user data */
    async loadData(){
      this.loading = true
      try{
        var tenantId = this.userInfo.tenant.id;
        const tenant = await this.api(getTenant, { id: tenantId })
        this.users = tenant.data.getTenant.users.items
        this.loading = false
      }catch(e){
        console.log(e)
        this.loading = false
        // this.displayUserNotification({
        //   title: "Error",
        //   type: "error",
        //   message: e.message
        // })
        this.displayUserError(e)
      }
    }
  }
  
}
</script>