<template>
  <div>
    <div>
      <!-- Pending coaching messages -->
      <el-collapse v-model="collapseActive" class="mt-4">
        <el-collapse-item :title="`Most Recent ${$t('label.associate')} Issues`" name="daIssues" class="relative">
            <DaIssueList :range="!$store.getters.hasStaffManagement ? 'sample' : 'mostRecent'"/>
             <div 
                v-if="!$store.getters.hasStaffManagement"
                @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
                class="premium-warning-accordion-container">
                <div class="sample-pill">Sample Data</div>
                <div class="premium-warning-triangle">
                <p class="transform-text text-sm text-white">Requires Premium</p>
                </div>
            </div>
        </el-collapse-item>
        <el-collapse-item :title="`Most Recent ${$t('label.associate')} Kudos`" name="daKudos" class="relative">
            <DaKudosList :range="!$store.getters.hasStaffManagement ? 'sample' : 'mostRecent'"/>
            <div 
                v-if="!$store.getters.hasStaffManagement"
                @click="$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})"
                class="premium-warning-accordion-container">
                <div class="sample-pill">Sample Data</div>
                <div class="premium-warning-triangle">
                <p class="transform-text text-sm text-white">Requires Premium</p>
                </div>
            </div>
        </el-collapse-item>
      </el-collapse>
    </div>

  </div>
</template>

<script>

import DaKudosList from './components/DaKudos/DaKudosList'
import {getTenantSendTime} from './queries'
import DaIssueList from '@/views/DaIssues/components/DaIssueList.vue'

  export default {
    props: ['sendPendingMessages'],
    name: 'KudosIndex',
    components: {
      DaIssueList,
      DaKudosList
    },
    data() {
      return {
          USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
        search: '',
        loading: false,
        tenant: {},
        showMessage: false,
        collapseActive: ['messages', 'daIssues', 'daKudos', 'driverRankings'],
      }
    },

    mounted(){
        this.loadData()
    },

    methods:{
        handleDropdownCommand(command){
            if(command === "coachingSettings") this.$router.push({name: 'SettingsThresholds'})
        },

      goBack(){
        this.showMessage = false
      },

      async loadData(){
        try{
          this.loading = true
          var input = {
            id: this.$store.state.userInfo.tenant.id
          }
          var tenant = await this.api(getTenantSendTime, input)
          this.tenant = tenant.data.getTenant

        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }finally{
          this.loading = false
        }
      },

      showPendingMessage(noMessages){
        this.showMessage = noMessages ? false : true
      }
    }

  }
</script>

<style scoped>
  .child-view {
    transition: all .5s cubic-bezier(.55,0,.1,1) !important;
  }
  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }
 
</style>
