.landing-page-container {
    font-family: Muli, sans-serif;
}

.lp-nav-menu-a {
    color : #fff !important;
    text-decoration: none !important;
}

.lp-nav-menu-a:hover {
    color : #18d26e !important;
    text-decoration: none !important;
}

/********************************************* ABOUT ********************************/

.lp-about_mainDiv{
    width:100%;
    height:100%;
    display:inline-block;
}

.lp-img_div{
width: 50%; float: right;
}

.lp-timeline_div{
    padding:0 13vw;
    width:50%;
    float:left
}

.lp-img_div img{
    width:80%;
    margin-left:20%
}


@media (min-width:500px) and (max-width:768px) {
    .lp-timeline_div{
        padding:0 10vw;
    }
    .lp-img_div img{
        width:100%;
        margin-left: 5%;
        margin-top:15%
    }
}

@media (min-width: 769px)and (max-width: 1024px) {
    .lp-img_div img{
        width:90%;
        margin-left: 10%;
        margin-top: 10%;
    }
}



