

body,html{
  overflow-x: hidden;
}
a {
  color: #13C95F;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli";
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #13C95F;
  color: #fff;

  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}


@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgb(0, 0, 0);
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo img {
    padding: 0;
    margin: 0;
    width:100%;
  }

  #header.header-scrolled #logo img{
    width:90% !important;
    transition: 1s;
    padding-left: 5%;

  }
}




@media (max-width: 768px) {
  #header #logo img {
    width:60% !important;
  }

  #header.header-scrolled #logo img{
    width:50% !important;
    transition: 1s;

  }
}



.flag-select .country-flag .country-label{
  color:#18d36e;
}

.flag-select .arrow-down{
  color:#fff !important;
}

.flag-select .country-flag img{
position: unset;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#home {
  display: table;
  width: 100vw;
  height: 100vh;
}

#home .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home .carousel-item::before {
  content: '';
  background: linear-gradient(90deg,black,rgba(0,0,0,0.7),transparent);

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#home .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home .carousel-content {
	text-align:justify;
  padding:0px 15vw;
}

@media (min-width:360px) and (max-width: 400px){

  #home .carousel-content {
    text-align:left;
    padding:0px 0px 0px 15vw;
  }
}

@media (max-width: 320px) {
  #home p {
    width:unset !important;
  }
  #home .carousel-content{

    padding:0px 0px 0px 15vw;
    text-align: left;
  }
}

#home h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  font-family: Montserrat;
}

@media (max-width: 768px) {
  #home h2 {
    font-size: 28px;
  }

}

#home p {
  width: 80%;

  color: #fff;
}

@media (min-width: 1024px) {
  #home p {
    width: 60%;
  }
}

#home .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#home .carousel-fade .carousel-inner .carousel-item,
#home .carousel-fade .carousel-inner .active.carousel-item-left,
#home .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#home .carousel-fade .carousel-inner .active,
#home .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#home .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#home .carousel-fade .carousel-inner .carousel-item-next,
#home .carousel-fade .carousel-inner .carousel-item-prev,
#home .carousel-fade .carousel-inner .active.carousel-item-left,
#home .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#home .carousel-control-prev, #home .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #home .carousel-control-prev, #home .carousel-control-next {
    width: 5%;
  }
}

#home .carousel-control-next-icon, #home .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#home .carousel-indicators li {
  cursor: pointer;
}

#home .btn-get-started {
  font-family: "Muli";
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 22px;
  border-radius: 5px;
  border:none;
  cursor:pointer;
  transition: 0.5s;

  color: #fff;
  background: #13C95F;
}

#home .btn-get-started:hover {
  background: #fff;
  color: #13C95F;
}

#home .btn-get-started:hover img{
  filter: invert(34%) sepia(74%) saturate(4250%) hue-rotate(100deg) brightness(99%) contrast(85%);
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu >li::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom:0;
  background-color: white;
  transition: all ease-in-out .2s;
}
.nav-menu>li:hover::after{
  width: 100%;
  left: 0;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}



/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Muli";
  font-weight: 700;
  font-size: 14px;
  text-transform: initial;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #13C95F;

}

.nav-menu > .menu-active > a {
  border-bottom: 2px solid #fff;
}


.nav-menu > li {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #13C95F;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Muli";
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}


#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #13C95F;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #13C95F;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/

.section-header{
	padding: 0;
}

.section-header h3 {
  font-size: 32px;
  color: #1A1A1A;
  font-family: Montserrat;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #1A1A1A;
  bottom: 0;
}

.section-header p {
  text-align:justify;
}


/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/******************************** Featured Services Section
-----------------------------------------------------------------------------------*/
#featured-services {
  background: #000;
}

#featured-services .box {
  padding: 30px 20px;
}

#featured-services .box-bg {
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
  color: #13C95F;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: #13C95F;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

/***************************************** About Us Section
----------------------------------------------------------------------------------------------*/
#about {
  padding: 60px 0 60px 0;
}


#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius:7px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  padding:10px;
}

#about .about-col .img{
  text-align:center;
}


#about .about-col:hover {
  background: #13C95F;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;

  background-color: #13C95F;
  border-radius: 50%;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
  display:inline-block;
}

#about a{
  color:#fff;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about h2 {
  color: #1A1A1A;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height:30px;
  margin:2vh 0px;
}

@media (max-width: 500px) {
  #about h2{
    font-size: 11px;
  }
}


#about .about-col:hover h2 {
  color: #fff;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: #1A1A1A;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
  text-align:center;
}


/************************************ About Us Section
-------------------------------------------------------------------------------------*/



/***************************************** services Us Section
----------------------------------------------------------------------------------------------*/
#services {
  background: #F7F7F7;
  padding: 60px 0 60px 0;

}

.services-cols{
    padding: 0px 10vw;
}


#services .container {
  position: relative;
  z-index: 10;
}

#services .services-col {
  background: #fff;
  border-radius:7px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  padding:15px;
    text-align: center;
    height:165px;
    width: 100%;
}

#services .services-col .img{
	text-align:center;
}


#services .services-col:hover {
  background: #13C95F;
}

#services .services-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;

  background-color: #13C95F;
  border-radius: 50%;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
  display:inline-block;
}

#services a{
  color:#fff;
}
#services img{
  vertical-align: unset;
  width:30%;
    margin-top:20px;
}


#services .services-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#services h2 {
  color: #5D5D5D;
  text-align: center;
    font-weight: 600;
  font-size: 14px;
  height:30px;
  margin:2vh 0px;

    display: inline-block;
}

@media (max-width: 500px) {
  #services h2{
    font-size: 11px;
  }
}


#services .services-col:hover h2 {
  color: #fff;
}

#services .services-col:hover .icon {
  background-color: #fff;
}

#services .services-col:hover i {
  color: #1A1A1A;
}


#services .services-col:hover .svg {
    filter:brightness(0) invert(1);
}


#services .services-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
  text-align:center;
}


/************************************ services Us Section
-------------------------------------------------------------------------------------*/


/*********************************** Miniature Section
-------------------------------------------------------------------------------------*/
#miniature {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)), url('/img/ceo_bg.png');
  padding: 60px 0 60px 0;
  background-size: cover;
  background-repeat: round;
}


#miniature h1{
	color: #fff;
    float: left;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 700;
}


#miniature .miniature_text{
	padding: 30px;
	margin-left: 15px;
}

#miniature .miniature_text #description {
  color: #fff;
  width:40vw;
  font-size:20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.founder_info::before{
	content: '';

    width: 5vw;
    height: 1px;
    background: #fff;
    display:inline-block;
	margin-bottom:10px;
}

.founder_info{
  margin-top: 35px;
	padding:10px 0px;
	color:#fff;
	text-transform:uppercase;
}

.founder_info #founder_name{
	text-align:left;
}

.founder_info #founder_title{
	font-size:10px;
	text-transform:uppercase;
	margin-top:-15px;
	color:#fff;
}
/******************************************* Miniature Section
------------------------------------------------------------------------------------------------*/



/******************************************* Packages Section
-----------------------------------------------------------------------------------------------*/
#packages {
  background: #F7F7F7;
  padding: 60px 0 60px 0;
}

/****************************************** Packages Section
-------------------------------------------------------------------------------------------------*/


/****************************************** Gallery Section
------------------------------------------------------------------------------------------------*/
#gallery {
  background: #fff;
  background-size: cover;
  padding: 60px 0 60px 0;
}
#gallery .slick-list{
  overflow:visible !important;
}

#gallery .slick-slide img {
  width: 100%;
  transform: scale(0.8);
  border-radius: 5px;
}


#gallery .slick-slide img:hover{
  transform: scale(0.85)!important;
  transition: 0.5s;
}

#gallery .slick-current img {
  transform: scale(1);
  transition: 1s;
}

#gallery .slick-current img:hover {
  transform: scale(1) !important;

}

#gallery .slick-prev{
  z-index: 10;
  width:50px;
  height: 50px;

}

#gallery .slick-prev:before, #gallery .slick-next:before {
  color: white;
  font-size: 30px;
}
@media(max-width: 425px)  {
  #gallery .slick-prev:before, #gallery .slick-next:before {
    color: unset;
  }

}

#gallery .slick-dots{
  bottom:unset;
}
/****************************************** Gallery Section
------------------------------------------------------------------------------------------------*/



/****************************************** Contact Section
------------------------------------------------------------------------------------------------*/


#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #13C95F;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #13C95F;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: #13C95F;
  border: 1px solid #13C95F;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: #13C95F;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}

/****************************************** Contact Section
------------------------------------------------------------------------------------------------*/




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #F7F7F7;
  padding: 0 0 30px 0;
  color: #13C95F;
  font-size: 14px;
}

#footer .footer-top {
  background: #F7F7F7;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  line-height: 1;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-text-stroke:2px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Muli";
  color:#CBCBCB;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #13C95F;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #1A1A1A;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
}


#footer .footer-top h4::after {
  background: #13C95F;
  width: 40px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color:#CBCBCB;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #1A1A1A;
}

#footer .footer-top .footer-links ul a:hover {
  color: #13C95F;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer #reclaimation {
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  padding:20px;
  color:#CBCBCB;
  text-align: center;
}

#footer #reclaimation h4{
  font-size: 14px;
  font-weight: bold;
  color: #1A1A1A;
  text-transform: uppercase;
}


#footer #reclaimation .description{
  display: inline-block;
  width:50vw;
}


#footer #copyright {
  padding:20px;
  color:#CBCBCB;
  text-align: center;
}

#footer #copyright .description{
  display: inline-block;
}
