<template>
    <el-dialog :title="title" :show-close="true" :visible.sync="show" width="420px" top="19%" v-loading="loading">
        If so, please provide a reason:
        <el-input v-model="reasonChangePlan" class="mb-5 mt-3"></el-input>
        <el-checkbox v-model="balanceChangePlan">Charge remaining balance</el-checkbox>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeModal">Cancel</el-button>
            <el-button type="primary" @click="changePlan(reasonChangePlan, balanceChangePlan)">Continue</el-button>
        </div>
    </el-dialog>
</template>
<script>
import { changePlanToNone } from '../tenant'

export default {
    name: 'ChangePlanModal',
    props: {
        title: {
            type: String,
            required: true,
            default: ''
        },
        show: {
            type: Boolean,
            required: true,
            default: false
        },
        tenant: {
            type: Object,
            required: true,
            default: {}
        }
    },
    data() {
        return {
            reasonChangePlan: '',
            balanceChangePlan: true,
            loading: false
        }
    },
    methods: {
        async changePlan(reason, check){
            try{
                this.loading = true;
                if(!reason) throw 'Please provide a reason to continue.';
                let resultChangePlan = await changePlanToNone(reason, check, this.tenant);
                this.$emit('resultChangePlan', { id: this.tenant.id, result: resultChangePlan });
                this.reasonChangePlan = '';
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
                this.$emit('close')
            }
        },

        closeModal(){
            this.$emit('close');
            this.reasonChangePlan = '';
        }
    }
}
</script>