.tos-table .ant-table-body{
    max-width: 1180px;
    max-height: 768px;
    height:100%;
    width: 100%;
    overflow-x: scroll;
}

.tos-table .ant-table-small > .ant-table-content > .ant-table-body{
    margin:unset;
}