<template>
  <el-form
    ref="form"
    label-width="183px"
    label-position="top"
    :rules="rules"
    :model="formFields"
    v-loading="loading"
  >
    <div class="grid sm:grid-cols-2 sm:gap-4">
      <el-form-item
        v-if="!!readOnly"
        class="non-edit-field dateOfPhotos"
      >
        <template #label>
          Date of Photos
          <DailyLogHistoryTooltip :history="formFields.history" />
        </template>

        {{ parseToPlainDate(formFields.date) }}
      </el-form-item>
      <el-form-item v-else
        class="dateOfPhotos"
        prop="date"
      >
        <template #label>
          Photo Log Created Date
          <DailyLogHistoryTooltip :history="formFields.history" />
        </template>

        <el-date-picker
          ref="dateOfPhotos"
          class="custom-date-picker"
          v-model="formFields.date"
          :disabled="readOnly"
          style="width:100%"
          type="date"
          format="MM/dd/yyyy"
          clearable
          @change="$event => $emit('form-date-or-time-change', $event)" >
        </el-date-picker>
      </el-form-item>

      <el-form-item v-if="!!readOnly"
        label="Photo Log Created Time"
        class="non-edit-field"
      >
        {{ intlFormatDate(formFields.rawDate, { hour: "numeric", minute: "numeric", second: "numeric" }) }}
      </el-form-item>
      <el-form-item v-else
        label="Photo Log Created Time"
        prop="time"
      >
        <el-time-picker
          ref="timeOfPhotos"
          class="custom-date-picker"
          v-model="formFields.time"
          :disabled="readOnly"
          style="width:100%"
          format="hh:mm a"
          value-format="HH:mm"
          placeholder="Select time"
          @change="$event => $emit('form-date-or-time-change', $event)" >
        </el-time-picker>
      </el-form-item>
    </div>

    <el-form-item label="Photos" prop="images">
      <div
        v-if="showPhotoLogImages"
        class="container grid grid-cols-12 grid-flow-row gap-2 lg:gap-4"
      >
        <div
          v-for="(image, index) in images"
          :key="image.id"
          class="col-span-12 sm:col-span-6 xl:col-span-4 2xl:col-span-3 relative"
        >
          <div class="flex flex-col">
            <div class="flex">
              <div class="flex-1">
              <img
                  :src="image.src"
                  class="h-36 w-full object-cover cursor-pointer rounded-lg">
              </div>

              <div class="flex flex-col">
                <i
                  @click="downloadFile(images[index].key)"
                  class="icon-button uil uil-import hover:text-blue-500" />
                <i
                  v-if="!readOnly"
                  @click="handleImageDelete(index)"
                  class="icon-button uil-trash-alt hover:text-red-500" />
                  <span class="text-xs ml-1">
                <el-tooltip class="item" effect="dark" placement="right-start">
                  <div slot="content">
                    Photo added to Hera: {{ setDateTenantTimezone(image.uploadDate) }}
                  </div>
                  <i class="uil uil-clock text-lg"></i>
                </el-tooltip>
              </span>
              </div>
            </div>
            <div>
              <el-form-item v-if="!!readOnly"
                label="Photo Taken By"
                class="non-edit-field"
              >
                {{ image.takenByFullName || '—' }}
              </el-form-item>
              <el-form-item v-else
                label="Photo Taken By"
              >
                <el-select
                  v-model="image.takenById"
                  clearable
                  filterable
                  placeholder="Select"
                  :filter-method="handleFilter"
                  @clear="() => handleFilter('')"
                  @visible-change="handleVisibleChange"
                  @change="handleSelectChange($event,index)"
                >
                  <template #empty v-if="isInitialDisplay">
                    <p class="text-sm text-gray-600 px-5 py-2">
                      Type to search Hera Users and Associates...
                    </p>
                  </template>
                  <template v-if="!isInitialDisplay">
                    <el-option-group
                      v-for="group in createdByOptions"
                      :key="group.label"
                      :label="group.label">
                      <el-option
                        v-for="item in group.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                        :disabled="item.disabled">
                      </el-option>
                    </el-option-group>
                  </template>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div
            v-if="!readOnly && image.markedForDeletion"
            class="pending-deletion-container"
          >
            <i
              @click="handleImageDeleteUndo(index)"
              class="icon-button uil uil-times-circle text-white flex justify-end"></i>
            <div class="h-full relative">
              <div class="flex flex-col flex-justify align-center mt-2">
                <p class="text-white text-xl leading-normal font-bold text-center">Pending Deletion</p>
                <p class="text-white text-xs leading-normal text-center">Will be deleted upon clicking Save</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="showImagesToCreate"
        class="container mt-4 grid grid-cols-12 grid-flow-row gap-4"
      >
        <div
          v-for="(image, index) in imagesToCreate"
          :key="image.id"
          class="mb-2 col-span-12 sm:col-span-6 xl:col-span-4 2xl:col-span-3 relative p-2"
        >
          <div class="flex">
            <img
              :id="'img' + index"
              :src="image.src"
              class="h-36 w-full object-cover cursor-pointer rounded-lg" >

            <div class="flex flex-col">
              <i
                @click="confirmImageRemove(index)"
                class="icon-button uil-trash-alt hover:text-red-500"></i>
            </div>
          </div>
        </div>
      </div>

      <label
        v-if="!readOnly"
        class="fileContainer w-full text-center bg-opacity-50 h-32 mt-4"
      >
        <div class="uil-image text-5xl"></div>
        <div>Drop images here, click to upload, or tap to choose or take a photo</div>
        <input
          ref="imageUploadInput"
          class="align-middle"
          type="file"
          multiple
          accept="image/*"
          @change="insertImageForToCreate" >
      </label>
    </el-form-item>

    <el-form-item v-if="!!readOnly"
      label="Photo Log Notes"
      class="non-edit-field"
    >
      {{ formFields.notes || '—' }}
    </el-form-item>
    <el-form-item v-else
      label="Photo Log Notes"
      prop="notes"
    >
      <el-input
        v-model="formFields.notes"
        :disabled="readOnly"
        type="textarea"
        :rows="3"
        :autosize="{ minRows: 3, maxRows: 7}" >
      </el-input>
    </el-form-item>

    <p v-if="formFields.creationNotes"
      class="text-gray-700 text-sm mt-7 mb-2"
    >
      {{ formFields.creationNotes }}
    </p>
    <div v-if="!readOnly" class="mt-4">
      <div class="mb-2">
        <label class="text-gray-700 text-sm">Associate Links Sent</label>
        <span class="text-xs ml-1">
          <el-tooltip class="item" effect="dark" placement="left-start">
            <div slot="content">
              From the Daily Roster, you can send Vehicle Photo Log Associate Links to your 
              Associates so that they can upload photos directly to this Vehicle Photo Log. 
              This list shows you which links you've sent so far.
            </div>
            <i class="uil uil-question-circle text-lg"></i>
          </el-tooltip>
        </span>
      </div>
      <el-table
        ref="table"
        class="data-table"
        empty-text="No Data"
        :data="logLinks"
        header-cell-class-name="table-header-cell"
        :default-sort="{ prop: 'sentDateTime', order: 'descending' }"
      >
        <el-table-column sortable label="Sent To" prop="sentToAssociate">
        </el-table-column>

        <el-table-column sortable label="Sent At" prop="sentDateTime">
        </el-table-column>

        <el-table-column sortable label="Sent By" prop="sentByUser">
        </el-table-column>

        <el-table-column sortable label="Status" prop="status">
          <template slot-scope="scope">
            <span
              class="font-bold rounded-full px-3 text-white text-xs  max-w-full flex-initial"
              :class="scope.row.status.color"
              > {{ scope.row.status.value }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </el-form>
</template>

<script>
import DailyLogHistoryTooltip from "./components/DailyLogHistoryTooltip";
import moment from 'moment'

export default {
  name: 'DailyLogForm',

  components: {
    DailyLogHistoryTooltip,
  },

  props: {
    formFields: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
    logLinks:{
      type: Array,
    },
    images: {
      type: Array,
    },
    imagesToCreate: {
      type: Array,
    },
    imagesToDelete: {
      type: Array,
    },
    createdByOptions: {
      type: Array,
      default: () => ([]),
    },
    handleSearchCreatedBy: {
      type: Function,
      default: () => (() => {}),
    },
  },

  computed: {
    showImagesToCreate() {
      return !this.readOnly && (this.imagesToCreate.length > 0);
    },
    showPhotoLogImages() {
      return this.images.length > 0;
    },
  },

  data() {
    return {
      isInitialDisplay: false,
      rules: {
        date: [
          { required: true, message: 'Please select a date', trigger: 'change' }
        ],
        time: [
          { required: true, message: 'Please select a time', trigger: 'change' }
        ],
      }
    };
  },

  methods: {
    handleFilter(search) {
      this.isInitialDisplay = false;
      this.handleSearchCreatedBy(search);
    },

    handleVisibleChange(isOpen) {
      if (!isOpen) return;
      this.isInitialDisplay = true;
    },

    handleSelectChange(value, index){
      if(this.images[index].takenById !== value){
        this.images[index].takenById = value
      }
    },

    parseToPlainDate(date = new Date()) {
      return this.$moment(date).format('MM/DD/YYYY');
    },

    parseTimeToAMPM(timeStr='') {
      return this.$moment(timeStr, 'HH:mm:ss')
        .format('hh:mm A');
    },

    insertImageForToCreate(e) {
      try {
        const files = e.target.files || e.dataTransfer.files;

        for (const file of files) {
          const fileType = file.type;

          if((!fileType.includes("image"))) {
            throw new Error("Selected file is not an image");
          }

          const uuid = this.generateUUID();
          const fileObject = {
            file,
            id: uuid,
            fileName: file.name, 
            fileType: file.type,
            src: URL.createObjectURL(file),
          };

          this.imagesToCreate.push(fileObject);
        }
      }
      catch(e) {
        this.displayUserError(e);
      }
      finally {
        this.$refs.imageUploadInput.value = '';
      }
    },

    handleImageDelete(index) {
      const imageToDelete = {
        ...this.images[index],
        markedForDeletion: true,
      };

      this.images.splice(index, 1, imageToDelete);

      const image = { ...imageToDelete };
      this.imagesToDelete.push(image);
    },

    handleImageDeleteUndo(index) {
      const imageToRestore = {
        ...this.images[index],
        markedForDeletion: false,
      };

      this.images.splice(index, 1, imageToRestore);

      const deletedIndex = this.imagesToDelete.findIndex(img => img.id === imageToRestore.id);
      this.imagesToDelete.splice(deletedIndex, 1);
    },

    confirmImageRemove(index) {
      this.$confirm('Would you like to delete this image?', 'Warning', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
      .then(() => this.imagesToCreate.splice(index, 1))
      .catch((e) => this.printUserError(e) );
    },

    setDateTenantTimezone(date) {
      // Get the current date and time based on the tenant's timezone
      const tenantTime = moment(date).tz(this.getTenantTimeZone());

      // Format the date and time in the desired format
      return tenantTime.format("YYYY-MM-DD HH:mm:ss");
    },
  },

  mounted() {
    if(this.readOnly) return;
    this.$refs.dateOfPhotos.blur();
    this.$refs.timeOfPhotos.blur();
    if (this.isMobileDevice()) 
    {
      this.disableMobileKeyboard();
    }
  },
}
</script>

<style scoped>
.fileContainer {
  @apply text-gray-600 bg-gray-100 border-gray-600 border-dashed border-2 text-base pt-6 !important;
}

/deep/ .dateOfPhotos > label {
  @apply flex !important;
}
</style>
