<template>
  <Drawer v-if="isOpen"
    :title="formTitle"
    :visibility="isOpen"
  >
    <template #drawerTitle>
      <slot name="dailyLogTitle"></slot>
    </template>

    <template v-slot:drawerContent>
      <div class="p-5">
        <template>
          <div class="el-content-title__drawer">
            {{ primarySectionTitle }}
          </div>

          <DailyLogForm
            ref="dailyLogForm"
            :loading="loading"
            :formFields="formFields"
            :logLinks="logLinks"
            :images="logImages"
            :imagesToCreate="logImagesToCreate"
            :imagesToDelete="logImagesToDelete"
            :createdByOptions="createdByOptions"
            :handleSearchCreatedBy="handleSearchCreatedBy"
            @form-date-or-time-change="$event => $emit('log-date-or-time-change', $event)" />
        </template>

        <ButtonGroupWrapper class="pt-0 flex flex-wrap space-y-2 justify-end">
         <template slot-scope="{disabled, setDisabled}">
          <el-button
            style="margin-top: 8px"
            data-cy="daily-log-cancel-btn"
            :disabled="disabled || loading"
            @click="() => $emit('cancel-save')"
          >
            Cancel
          </el-button>

          <el-button
            v-if="$store.getters.hasVehicleManagement"
            type="primary"
            data-cy="daily-log-save-btn"
            @click="handleSaveData(setDisabled)"
            :disabled="disabled || loading"
          >
            Save
          </el-button>
          <PremiumWarningButton 
          v-else 
          buttonText="Save" 
          action="create" 
          premiumFeature="vehicle" 
          placement="top"/>

          <slot
            name="additionalButtons"
            :disabled="disabled || loading"
            :setDisabled="setDisabled"
          >
          </slot>
         </template>
        </ButtonGroupWrapper>

        <template v-if="!!mostRecentDailyLog">
          <div class="mt-10 el-content-title__drawer">
            {{ secondarySectionTitle }}
          </div>

          <DailyLogForm
            :readOnly="true"
            :formFields="mostRecentDailyLog"
            :images="mostRecentDailyLogImages" />
        </template>
      </div>
    </template>
  </Drawer>
</template>

<script>
import Drawer from '@/components/shared/Drawer/Drawer';
import DailyLogForm from './DailyLogForm';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import ButtonWrapper from '../shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '../shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  name: 'DailyLog',

  components: {
    Drawer,
    DailyLogForm,
    PremiumWarningButton,
    ButtonWrapper,
    ButtonGroupWrapper,
  },

  props: {
    isOpen: Boolean,
    loading: Boolean,
    formTitle: String,
    formFields: Object,

    primarySectionTitle: String,
    secondarySectionTitle: String,

    logLinks: Array,

    logImages: Array,
    logImagesToCreate: Array,
    logImagesToDelete: Array,

    mostRecentDailyLog: [Object, null],
    mostRecentDailyLogImages: Array,

    createdByOptions: Array,
    handleSearchCreatedBy: Function,
  },

  methods: {
    async handleSaveData(setDisabledCb) {
      try {
        setDisabledCb(true); // Call to disable buttons inside group
        await this.$refs.dailyLogForm.$refs.form.validate();
        this.$emit('save-data');
      }
      catch(error) { // Throw custom error instead of default
        const msg = "Please fill out all required fields and correct any errors.";
        this.printUserError(error);
        this.displayUserError(msg);
      }
      finally {
        setDisabledCb(false); // Call to enable group buttons
      }
    },
  },
}
</script>

<style scoped>
@media (min-width: 1400px) {
  /deep/ .el-drawer {
    min-width: 700px !important;
  }
}
</style>
