<template>
  <div v-loading="loading">

    <!--HEADER-->
    <div class="flex justify-between">
      <h1>Monthly Invoices</h1>
    </div>

    <el-table
      ref="table"
      empty-text="No Invoices"
      row-key="id"
      :default-sort = "{prop: 'month', order: 'descending'}"
      style="width: 100%"
      @row-click="handleRowClick"
      row-class-name="table-row"
      :data="tableData">
        
        <el-table-column
          label="Month"
          sortable
          :sort-method="dateSort"
          prop="month">
          <template  slot-scope="scope">
            <span class=" inline-block">{{ scope.row.year }} {{scope.row.month | month}}</span>
          </template>
        </el-table-column>

        <el-table-column
          label="Average Active Staff"
          align="left"
          prop="averageActiveDriverCount">
            <template  slot-scope="scope">
              <div>{{ scope.row.averageActiveDriverCount.toFixed(2) }}</div>
            </template>
        </el-table-column>

        <el-table-column
          label="Invoice Status"
          align="left"
          prop="status">
            <template  slot-scope="scope">
              <div>{{ scope.row.status }}</div>
            </template>
        </el-table-column>

        <el-table-column
          label="Total"
          align="right"
          prop="total">
            <template  slot-scope="scope">
              <div>{{ generateTotal(scope.row) | currencyUS }}</div>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog   
      class="invoice-modal"
      :visible.sync="htmlPreviewOpen"
      width="850px"
      :close-on-click-modal="false"
      >
      <div class="relative">
        <el-button size="small" class="absolute right-20 cursor-pointer z-20" @click="downloadInvoice" type="primary">Download</el-button>
        <div v-html="invoiceTableHtml"></div>
      </div>
    </el-dialog>

  
  </div>

</template>

<script>
import { invoicesByGroup, getInvoice, getTenant} from './queries'
import generateTemplate from '@/scripts/invoiceTemplate.js';
import html2pdf from "html2pdf.js";
import logo from "@/assets/images/logo-no-stroke.png";

  export default {
    name: 'InvoiceIndex',
    props: [],
    data() {
      return {
        loading: false,
        tableData: [],
        htmlPreviewOpen: false,
        invoiceTableHtml: '',
        tenant: {},
        sufixFileName: null,
        urlLogo: null,
      }
    },

    created() {
      this.toDataURL(logo)
      .then(dataUrl => {
        this.urlLogo = dataUrl;
      })
    },

    mounted(){
        this.loadData()
    },

    methods: {
        dateSort(a,b){
            return new Date(a.createdAt) - new Date(b.createdAt);
        },

        async handleRowClick(row, column, event){
            // load invoice line items
            this.loading = true
            try{
                var input = {
                    id: row.id
                }
                var invoice = await this.api(getInvoice, input)
                var invoiceLineItems = invoice.data.getInvoice.invoiceLineItems.items
                this.sufixFileName = `${Number(invoice.data.getInvoice.month) + 1} - ${invoice.data.getInvoice.year}`;
                invoice = invoice.data.getInvoice
                if(invoiceLineItems.length){
                    invoiceLineItems = invoiceLineItems.map(item =>{
                        var total = item.standardCostExt +
                        item.bundleCostExt +
                        item.performanceCostExt +
                        item.rosteringCostExt +
                        item.staffCostExt +
                        item.vehiclesCostExt +
                        item.messagingCostExt;
                        item.invoiceTotal = total
                        return item
                    })
                    // sort line items by date
                    invoiceLineItems.sort(function (a,b){
                        return new Date(a.date) - new Date(b.date);
                    })

                    // generate html
                    let html = generateTemplate(invoice, invoiceLineItems, this.tenant)
                    html = html.replace(`<img style="height: 90px;" src='https://dsp.herasolutions.app/img/logo-no-stroke.afacc59e.png'>`, `<img style="height: 90px;" src='${this.urlLogo}'>`);
                    this.invoiceTableHtml = html
                    this.htmlPreviewOpen = true
                }
                this.loading = false

            }catch(e){
                console.log(e)
                this.loading = false
                this.displayUserError(e)
            }
            // open card window with html invoice
        },

        generateTotal(invoice){
          var taxRate = 0
          var fixedDiscount = invoice.discountFixed ? invoice.discountFixed : 0
          var percentDiscount = invoice.discountPercent ? invoice.discountPercent / 100 * invoice.invoiceTotal : 0
          var subtotalLessDiscount = invoice.invoiceTotal - fixedDiscount - percentDiscount
          var subtotalPlusTaxes = (subtotalLessDiscount + subtotalLessDiscount * taxRate).toFixed(2)
          return subtotalPlusTaxes
        },

        async loadData(){
            this.loading = true
            try{
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.tableData = await this.gLoadListAll(invoicesByGroup, input, 'invoicesByGroup')

                input = {
                    id: this.$store.state.userInfo.tenant.id
                }
                var tenant = await this.api(getTenant, input)
                this.tenant = tenant.data.getTenant
                this.loading = false

            }catch(e){
                console.log(e)
                this.loading = false
                this.displayUserError(e)
            }
        },

        downloadInvoice() {
          const opt = {
            margin: 0.4,
            filename: `Hera Invoice - ${this.sufixFileName}.pdf`,
            image: { type: 'png' },
            enableLinks: true,
            html2canvas: { scale: 2, dpi: 300, letterRendering: true },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
          };
          const styleToRemove = /background-color: #f3f4f6;/gi
          let invoicePDFToDownload = this.invoiceTableHtml.replace(styleToRemove, "");
          html2pdf(invoicePDFToDownload, opt);
        },

        toDataURL (url){ 
          return fetch(url)
            .then(response => response.blob())
            .then(blob => new Promise((resolve, reject) => {
              const reader = new FileReader()
              reader.onloadend = () => resolve(reader.result)
              reader.onerror = reject
              reader.readAsDataURL(blob)
            }))
        },
    },
  }
</script>
<style>
.invoice-modal .el-dialog{
  max-width: 92%;
  overflow: scroll;
}
.invoice-modal .el-dialog .el-dialog__body{
  width: 100%;
  overflow: scroll;
}
.invoice-modal .el-dialog .el-dialog__body > div{
  min-width: 850px;
}
</style>