<template>
	<div>
	  <div class="grid grid-cols-2 mt-4" data-cy="onboarding-form">
		<div class="mb-3">
		  <span class="inline-block mb-3 mr-1">Please select what type of vehicle the {{$t('label.associate')}} will be driving:</span> 
		  <el-dropdown data-cy="da-will-be-driving" trigger="click" size="medium" @command="staffVehicleTypesHandleCommand">
			<span class="border-solid border border-gray-400 py-2 px-3 rounded-lg">
			  {{ staffVehicleType }} <i class="el-icon-arrow-down el-icon--right"></i>
			</span>
			<el-dropdown-menu slot="dropdown">
			  <el-dropdown-item command="Standard Vehicles">Standard Vehicles</el-dropdown-item>
			  <el-dropdown-item command="Custom Delivery Vans">Custom Delivery Vans</el-dropdown-item>
			  <el-dropdown-item command="Vehicles Over 10,000 LBS">Vehicles Over 10,000 LBS</el-dropdown-item>
			</el-dropdown-menu>
		  </el-dropdown>
		</div>
		<div>
		</div>
		<div>
		  <el-timeline class="col-span-2 lg:col-span-1">
			  <OnboardingItem v-for="template in templatesA" class=" w-full pr-2"
				:key="template.name"
				:template="template"
				:staffID="staffData.id"
				:staffData="staffData"
				:dataStaffTableFilterByActive="dataStaffTableFilterByActive"
				:dataStaffTableFilterByInactive="dataStaffTableFilterByInactive"
				@updateStaffVehicleTypeData="updateStaffVehicleTypeData"
				@loadData="loadData()"
			  />                 
		  </el-timeline>
		</div>
		<div>
		  <el-timeline class="col-span-2 lg:col-span-1">
			  <OnboardingItem v-for="template in templatesB" class=" w-full"
				:key="template.name"
				:template="template"
				:staffID="staffData.id"
				:staffData="staffData"
				:dataStaffTableFilterByActive="dataStaffTableFilterByActive"
				:dataStaffTableFilterByInactive="dataStaffTableFilterByInactive"
				@updateStaffVehicleTypeData="updateStaffVehicleTypeData"
				@loadData="loadData()"
				@launch-uniform-modal="staffData.status == 'Onboarding' ? newUniformModalOpen = true : newUniformModalOpen = false"/>                 
		  </el-timeline>
		</div>
	  </div>
		<div class="grid grid-cols-3 gap-4">
			<div class="col-span-3"> <span>Onboarding Notes</span> </div>	
			<div class="col-span-3 md:col-span-2">
				<el-input 
					size="medium"
					type="textarea" 
					:rows="4" 
					:autosize="{ minRows: 4 }" 
					v-model="onboardingNotes"
				>
				</el-input>	
			</div>
			<div class="flex justify-start items-center">
        <ButtonWrapper type="primary" :clickHandler="saveNotes">Save Notes</ButtonWrapper>
			</div>	
		</div>
	  
	</div>
</template>

<script>

import OnboardingItem from './OnboardingItem'
import {updateOnBoard} from "@/graphql/mutations";
import {getOnBoardUpdatedTimestamp, getStaffUpdatedTimestamp} from "@/utilities/timestampQueries";
import {updateStaffVehicleType} from "@/views/Performance&Coaching/Coaching/mutations";
import { updateStaffOnboardingNotes } from "./graphql/mutation";
import { onboardingStatus } from '../../utils/onboardingStatus';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

export default {
	props:['staffData', 'dataStaffTableFilterByActive', 'dataStaffTableFilterByInactive'],
	components:{
		OnboardingItem,
		ButtonWrapper,
	},
	data() {
	  return {
		onboardingNotes: "",
		staffVehicleType: null,
		newUniformData:{},
		newUniformModalOpen: false,
		onBoardingTemplates: []
	  };
	},
  
	mounted(){
	},
	 
	beforeMount() {
		//The onboarding status list is loaded.
		onboardingStatus.sort((a,b) => a.orderStatus - b.orderStatus).forEach(onboarding => this.onBoardingTemplates.push(onboarding))
		let oldVehicleType = 'Select type';
		const onBoardingItems = this.staffData?.onBoarding?.items;
		if (onBoardingItems && onBoardingItems.length) {
			oldVehicleType = 'Standard Vehicles';
		}
		this.staffVehicleType = this.staffData.vehicleType ?? oldVehicleType
		this.onboardingNotes = this.staffData.onboardingNotes ?? this.onboardingNotes;
		if(this.staffData.onBoarding && this.staffData.onBoarding.items){
			// label name changed on HERA-447
			const labelChanges = {
				"In-Person Training": "In-Person Amazon Training",
				"Uniform Issued": "Uniforms Issued",
				"Ride Along Completed": "Ride Along"
			}
			this.staffData.onBoarding.items.forEach((staff, index, staffs) => {
				if(Object.keys(labelChanges).includes(staff.name)){
					staffs[index].name = labelChanges[staff.name];
				}
			})  
		}
	},

	computed: {    
		/**Populate array of all templates with data for specific staff member */
		templateWithData: function () {
			var array = []
			var filterByFormType = []
			try{
			  this.onBoardingTemplates.forEach((template) => {
				if(template.DAwillBeDrive.includes(this.staffVehicleType)){
				  filterByFormType.push(template);
				}
			  })
			  if(this.staffData.onBoarding && this.staffData.onBoarding.items){
				filterByFormType.forEach ((template)=>{                   
					let object = {
						...template,
						data: this.staffData.onBoarding.items.find(element => element.name == template.name)
					}
					array.push(object)
				})
			  }
			}
			catch(e){
			  console.log(e)
			}
		  return array
		},
		// First column of the states of the onboarding component.
		templatesA: function () {
		  return this.templateWithData.slice(0, 9)
		},
		// Second column of the states of the onboarding component.
		templatesB: function () {
		  return this.templateWithData.slice(9, 18)
		}
		
	},
	
	methods: {
	  	loadData() {
			this.$emit('loadData')
		},

		pinToTop() {
			this.$emit('pinOnboarding')
		},

		async updateStaffVehicleTypeData() {
			try {
				const input = {
					id: this.staffData.id,
					group: this.staffData.group,
					vehicleType: this.staffVehicleType,
					updatedAt: this.staffData.updatedAt
				}
				const { data } = await this.api(updateStaffVehicleType, { input: input }, getStaffUpdatedTimestamp, 'getStaff')
				this.staffData.updatedAt = data.updateStaff.updatedAt
				this.$emit('loadData', 'Update Staff Vehicle Type')
				this.$message({
					message: "Saved!",
					type: "success",
					customClass: 'success-message'
				})
			} catch (e) {
				console.log(e)
				this.displayUserError(e)
			}
		},

		staffVehicleTypesHandleCommand(command) {
			this.staffVehicleType = command
			this.updateStaffVehicleTypeData()
		},

		async saveNotes() {
			try {
				const { id, group, updatedAt } = this.staffData;
				const onboardingNotes = this.onboardingNotes;
				const input = { id, group, updatedAt, onboardingNotes };

				const { data } = await this.api(updateStaffOnboardingNotes, { input }, getStaffUpdatedTimestamp, 'getStaff');
				this.staffData.updatedAt = data.updateStaff.updatedAt
				this.$message({
					message: "Saved!",
					type: "success",
					customClass: 'success-message'
				})
			} catch (e) {
				this.displayUserError(e)
			}
		}

	}
  }

</script>

<style>
  .el-icon-arrow-down {
	font-size: 12px;
  }
  .el-timeline {
	padding:   3px
	}
</style>