<template>
      <el-timeline-item :color="itemColor" :hide-timestamp="true">
         <div class="flex">

            <div class="w-24 mr-2" >
              <span>{{template.name}} </span>
            </div>

            <div class=" flex-1 mr-2" >
              <el-checkbox :data-cy="template.dataCy" v-if="template.checkBox" v-model="itemData.isComplete" @change="saveData" class='text-center w-3/4'></el-checkbox>
              <el-dropdown :data-cy="template.dataCy" v-if="template.status" :hide-on-click="true" @command="handleCommand" trigger="click" v-model="itemData.status">
                <span class="el-dropdown-link">
                    {{statusDisplay}} <i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item v-for="status in template.statusOptions"
                    :key="status"
                    :command="status"
                    >{{status}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div> 

            <div class=" flex-1 mr-2" >
              <span v-if="showDate1" class="text-xs">{{ template.date1Placeholder }}</span>
              <DatePicker v-if="showDate1" size="mini" :selectedDate="itemData.dateComplete" :placeholder="template.date1Placeholder" @date-selected="handleDateSelected($event, 'dateComplete',true)" />
              <span v-if="showDate4" class="text-xs">{{ template.date4Placeholder }}</span>
              <DatePicker v-if="showDate4" size="mini" :selectedDate="itemData.date4" :placeholder="template.date4Placeholder" @date-selected="handleDateSelected($event, 'date4',true)" />
              <button class="el-button w-40 el-button--primary el-button--small" v-if="showButton1" type="button" :v-model="itemData.dateStart" @click="openNewUniformModal" @change="saveData">
                <span>{{template.button1Placeholder}}</span>
              </button>

              <span v-if="daSelect1" class="text-xs">{{ template.daSelect1Placeholder }}</span>
              <el-select
                  :data-cy="template.dataCy+'-'+template.daSelect1Placeholder.toLowerCase().replace(' ', '-')"
                  size="mini"
                  v-if="daSelect1"
                  type="select"
                  v-model="itemData.trainer"
                  clearable
                  filterable
                  :placeholder=template.daSelect1Placeholder
                  @change="saveData">
                
                <el-option
                    v-for="item in dataStaffTableFilterByActive"
                    :key="item.id"
                    :label="item.firstName + ' ' + item.lastName"
                    :value="item.id">
                </el-option>
                
                <el-option-group class="hidden">
                  <el-option
                      v-for="item in dataStaffTableFilterByInactive"
                      :key="item.id"
                      :label="item.firstName + ' ' + item.lastName"
                      :value="item.id">
                  </el-option>
                </el-option-group>
              </el-select>
            </div>

            <div class=" flex-1" >
              <span v-if="showDate2" class="text-xs">{{ template.date2Placeholder }}</span>
              <DatePicker v-if="showDate2" size="mini" :selectedDate="itemData.dateStart" :placeholder="template.date2Placeholder" @date-selected="handleDateSelected($event, 'dateStart', true)" />
              <span v-if="showDate3" class="text-xs">{{ template.date3Placeholder }}</span>
              <DatePicker v-if="showDate3" size="mini" :selectedDate="itemData.date3" :placeholder="template.date3Placeholder" @date-selected="handleDateSelected($event, 'date3', true)" />
              <span v-if="showDate5" class="text-xs">{{ template.date5Placeholder }}</span>
              <DatePicker v-if="showDate5" size="mini" :selectedDate="itemData.date5" :placeholder="template.date5Placeholder" @date-selected="handleDateSelected($event, 'date5', true)" />
            </div>

           
        </div>
        
        <!--NEW MODAL-->
        <el-dialog
            title="Add Uniform"
            :visible.sync="newModalOpen"
            width="50%"
            :close-on-click-modal="false"
        >
          
          <UniformForm :formFields="newUniformData"/>
          
          <span slot="footer" class="dialog-footer">
            <el-button @click="newModalOpen = false">Cancel</el-button>
            <el-button type="primary" @click="createUniform">Confirm</el-button>
          </span>
        </el-dialog>

        <!--DRUG TEST ADVICE MODAL-->
        <el-dialog
            title="Add Drug Test"
            :visible.sync="drugTestAdviceModalOpen"
            width="25%"
            :close-on-click-modal="false"
        >

          <p>Would you like to upload the drug test results to Hera?</p>
          <p>We advise first redacting any unneeded personal information from files you upload.</p>

          <span slot="footer" class="dialog-footer">
            <el-button @click="drugTestAdviceModalOpen = false">No</el-button>
            <el-button data-cy="drug-tests-modal-confirm-btn" type="primary" @click="drugTestNewModalOpen = true; drugTestAdviceModalOpen = false">Yes</el-button>
          </span>
        </el-dialog>
        
        <!--DRUG TEST NEW MODAL-->
        <el-dialog
            title="Add Drug Test"
            :visible.sync="drugTestNewModalOpen"
            width="50%"
            :close-on-click-modal="false"
        >

          <DrugTestForm ref="newModalForm" :staffData="staffData" :formFields="newDrugTestData"/>

          <span slot="footer" class="dialog-footer">
            <el-button @click="drugTestNewModalOpen = false">Cancel</el-button>
            <el-button data-cy="drug-tests-modal-confirm-btn" type="primary" @click="createDrugTest">Confirm</el-button>
          </span>
        </el-dialog>

        <!--MEDICAL CARD ADVICE MODAL-->
        <el-dialog
            title="Add Medical Card"
            :visible.sync="medicalCardAdviceModalOpen"
            width="25%"
            :close-on-click-modal="false"
        >

          <p>Would you like to upload this {{$t('label.associate_s')}} medical card to Hera?</p>

          <span slot="footer" class="dialog-footer">
            <el-button @click="medicalCardAdviceModalOpen = false">No</el-button>
            <el-button data-cy="drug-tests-modal-confirm-btn" type="primary" @click="medicalCardNewModalOpen = true; medicalCardAdviceModalOpen = false">Yes</el-button>
          </span>
        </el-dialog>

        <!--MEDICAL CARD NEW MODAL-->
        <el-dialog
            title="Add Medical Card"
            :visible.sync="medicalCardNewModalOpen"
            width="50%"
            :close-on-click-modal="false"
        >

          <PhysicalForm ref="newModalForm" :staffData="staffData" :formFields="newPhysicalData"/>

          <span slot="footer" class="dialog-footer">
        <el-button @click="medicalCardNewModalOpen = false">Cancel</el-button>
        <el-button data-cy="form-confirm-btn" type="primary" @click="createPhysical">Confirm</el-button>
      </span>
        </el-dialog>
        
      </el-timeline-item>
  
</template>

<script>

import {
  createDocument,
  createDrugTest,
  createOnBoard,
  createPhysical,
  createUniform,
  updateOnBoard
} from '@/graphql/mutations'
import { getOnBoardUpdatedTimestamp } from '@/utilities/timestampQueries'
import UniformForm from "@/views/Staff/components/Uniforms/UniformForm";
import DrugTestForm from '../DrugTests/DrugTestForm'
import PhysicalForm from '../Physicals/PhysicalForm'
import {Storage} from "aws-amplify";
import DatePicker from '@/components/Datepicker';


export default {
    components: { UniformForm, DrugTestForm, PhysicalForm, DatePicker },
    props:['template', 'uniforms', 'staffID', 'dataStaffTableFilterByActive', 'dataStaffTableFilterByInactive', 'staffData'],
    data() {
      return {
        loading: true,
        drugTestAdviceModalOpen: false,
        drugTestNewModalOpen: false,
        newDrugTestData: {},
        medicalCardAdviceModalOpen: false,
        medicalCardNewModalOpen: false,
        newPhysicalData: {},
        itemData: {
          id: null,
          name: null,
          isComplete: false,
          status: null,
          dateComplete: null,
          onBoardStaffId: null,
          dateStart: null,
          date3: null,
          date4: null,
          date5: null,
          trainer: null,
          updatedAt: null,
        },
        colorComplete: "#48BB78",
        colorNotComplete: "#CBD5E0",
        newUniformData:{},
        newModalOpen: false,
      }
    },

    mounted() {
      this.loadData()
    },

  computed: {
      
      statusDisplay() {
        if (this.itemData.status == null) {
          return  this.template.statusOptions[0]
        } else if (this.itemData.status == 'Meets Requirements') {
          return 'Amazon Cleared'
        } else {
          return this.itemData.status
        }
      },

      itemColor() {
        if (this.template.color === 'isComplete' && this.itemData.isComplete === true) {
          return this.colorComplete
        } else if (this.template.color === 'date1' && this.itemData.dateComplete) {
          return this.colorComplete
        } else if (this.template.color === 'status' && ( 
          this.itemData.status === 'Completed' || 
          this.itemData.status === 'Completed: Cleared' || 
          this.itemData.status === 'Cleared' || 
          this.itemData.status === 'Signed' || 
          this.itemData.status === 'Issued' ||
          this.itemData.status === 'Amazon Cleared' ||
          this.itemData.status === 'Profile Completed' ||
          this.itemData.status === 'Account Created'
        )) {
          return this.colorComplete
        } else {
          return this.colorNotComplete
        }
      },
      
      selectedIndex(){
        return this.template.statusOptions.findIndex(status =>{
          return status == this.itemData.status
        })
      },
      
      showDate1(){
        if(!this.template.status) return false
        if(this.template.date1OneTime){
          return this.template.date1 && (this.selectedIndex === this.template.date1TriggerIndex)
        }else{
          return this.template.date1 && (this.selectedIndex >= this.template.date1TriggerIndex)
        }
      },

      showDate2(){
        if(!this.template.status) return false
        if(this.template.date2OneTime){
          return this.template.date2 && (this.selectedIndex === this.template.date2TriggerIndex)  
        }else{
          return this.template.date2 && (this.selectedIndex >= this.template.date2TriggerIndex)
        }        
      },

      showDate3(){
        if(!this.template.status) return false
        if(this.template.date3OneTime){
          return this.template.date3 && (this.selectedIndex === this.template.date3TriggerIndex)
        }else{
          return this.template.date3 && (this.selectedIndex >= this.template.date3TriggerIndex)
        }
      },

      showDate4(){
        if(!this.template.status) return false
        if(this.template.date4OneTime){
          return this.template.date4 && (this.selectedIndex === this.template.date4TriggerIndex)
        }else{
          return this.template.date4 && (this.selectedIndex >= this.template.date4TriggerIndex)
        }
      },

      showDate5(){
        if(!this.template.status) return false
        if(this.template.date5OneTime){
          return this.template.date5 && (this.selectedIndex === this.template.date5TriggerIndex)
        }else{
          return this.template.date5 && (this.selectedIndex >= this.template.date5TriggerIndex)
        }
      },
      
      showButton1(){
        if(!this.template.status) return false
        if(this.template.button1OneTime){
          return this.template.button1 && (this.selectedIndex === this.template.button1TriggerIndex)
        }else{
          return this.template.button1 && (this.selectedIndex >= this.template.button1TriggerIndex)
        }
      },

      daSelect1(){
        if(!this.template.status) return false
        if(this.template.daSelect1OneTime){
          return this.template.daSelect1 && (this.selectedIndex === this.template.daSelect1TriggerIndex)
        }else{
          return this.template.daSelect1 && (this.selectedIndex >= this.template.daSelect1TriggerIndex)
        }
      },
    },

    methods: {
      handleDateSelected(date, model, change) {
          this.itemData[model] = date
          if(change){
            this.saveData()
          }
      },
      loadData() {

        if(this.template.data){          
          this.itemData.id = this.template.data.id
          this.itemData.isComplete = this.template.data.isComplete
          
          if(this.template.data.isComplete === true && this.template.data.status === null){
            let option = "Completed"
            if(this.template.data.name === 'Drug Test'){
                option = "Completed: Cleared"
            }
            if(this.template.data.name === 'Uniforms Issued'){
              option = "Issued"
            }
            if(this.template.data.name === 'Medical Card'){
              option = "Issued"
            }
            this.itemData.status = option
          }else{
            this.itemData.status = this.template.data.status
          }
          
          this.itemData.dateComplete = this.template.data.dateComplete
          this.itemData.dateStart = this.template.data.dateStart
          this.itemData.date3 = this.template.data.date3
          this.itemData.date4 = this.template.data.date4
          this.itemData.date5 = this.template.data.date5
          this.itemData.trainer = this.template.data.trainer
          this.itemData.updatedAt = this.template.data.updatedAt
        }
                
        this.itemData.name = this.template.name
        this.itemData.onBoardStaffId = this.$route.params.id
        this.loading = false
      },
      
      saveData() {
        
        if(this.loading){return}        

        this.template.data = this.itemData
        if(this.itemData.isComplete && this.template.name === 'Uniforms Issued') this.$emit('launch-uniform-modal')
        if (this.itemData.id) {
          this.updateOnBoard()
        } else {
          this.createOnBoard()
        }

        if (this.template.name === 'Drug Test' && this.template.data.status === 'Completed: Cleared'){
          this.drugTestAdviceModalOpen = true
        }

        if (this.template.name === 'Medical Card' && this.template.data.status === 'Issued'){
          this.medicalCardAdviceModalOpen = true
        }
        
        this.$emit('updateStaffVehicleTypeData')
        
      },   
      
      handleCommand(status) {
        this.itemData.status = status
        this.saveData()
      },

      async createOnBoard(){
        try {
          const input = {
            ...this.itemData,
            group: this.$store.state.userInfo.tenant.group
          }
          delete input.updatedAt
          const result = await this.api(createOnBoard, {input: input})
          this.itemData.id = result.data.createOnBoard.id
          this.itemData.updatedAt = result.data.createOnBoard.updatedAt
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)        
        }
      },

      async updateOnBoard(){
        try {

          const input = this.itemData
          
          const result = await this.api(updateOnBoard, {input: input}, getOnBoardUpdatedTimestamp, 'getOnBoard')
          this.itemData.updatedAt = result.data.updateOnBoard.updatedAt
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)
        }
      },

      /** Creates uniform */
      async createUniform(){
        try {

          //Create DB record
          const input = {
            ...this.newUniformData,
            uniformStaffId: this.staffID,
            group: this.$store.state.userInfo.tenant.group
          }

          const result = await this.api(createUniform, {input: input})

          //Clean up app state
          this.newModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)
        }
      },
      
      async openNewUniformModal(){
        this.newUniformData = {}
        this.newModalOpen = true
      },

      /** Creates drug test */
      async createDrugTest(){
        try {

          // upload file if available
          if(this.$refs.newModalForm.fileUploadEvent != null) await this.$refs.newModalForm.uploadDocument()

          //Create DB record
          const input = {
            ...this.newDrugTestData,
            drugTestStaffId: this.staffData.id,
            group: this.$store.state.userInfo.tenant.group
          }
          const result = await this.api(createDrugTest, {input: input})

          //Clean up app state
          this.newDrugTestData = {}
          this.newModalOpen = false
          this.$emit('loadData')
          this.drugTestNewModalOpen = false
        } catch(e) {
          console.log(e)
          this.displayUserError(e)
        }
      },

      /** Creates physical */
      async createPhysical(){
        try {

          // upload file if available
          if(this.$refs.newModalForm.fileUploadEvent != null) await this.$refs.newModalForm.uploadDocument()

          //Create DB record
          const input = {
            ...this.newPhysicalData,
            physicalStaffId: this.staffData.id,
            group: this.$store.state.userInfo.tenant.group
          }
          const result = await this.api(createPhysical, {input: input})

          //Clean up app state
          this.newPhysicalData = {}
          this.newModalOpen = false
          this.$emit('loadData')
          this.medicalCardNewModalOpen = false
        } catch(e) {
          console.log(e)
          this.displayUserError(e)
        }
      },
    },
  }


</script>

<style scope>

  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    @apply w-full !important;
}

</style>