<template>
  <el-dialog
    :title="title"
    :visible.sync="openDialog"
    width="600px"
    :close-on-click-modal="false"
    :show-close="true"
    >
    <slot name="form"></slot>
    <span slot="footer" class="dialog-footer">
      <el-button @click="$event => $emit('cancel', $event)">Cancel</el-button>
      <el-button type="primary" @click="$event =>$emit('create', $event)">Create</el-button>
    </span>
  </el-dialog>
</template>
<script>
export default {
  name: 'Dialog',
  props: ['title', 'openDialog'],
}
</script>