<template>
    <el-dialog
        :title="title"
        :visible.sync="openExportDialog"
        :width="width"
        :close-on-click-modal="true"
        :show-close="true"
        center
        @close="closeDialog"
    >
        <div class="text-center mb-4">
            {{ description }}
        </div>
        <div v-if="filters.length">
            <el-table
                header-cell-class-name="table-header-cell"
                :data="filters"
                class="data-table"
            >
                <el-table-column label="Type" prop="type"/>
                <el-table-column label="Filters Applied" prop="values">
                    <template slot-scope="scope">
                        <span v-for="filter in scope.row.values" :key="filter">
                            {{ filter }}<br/>
                        </span>
                    </template>
                </el-table-column>
            </el-table>  
        </div>
         
        <slot name="custom-content"></slot>
        <span slot="footer" class="dialog-footer">
            <el-button size="small" @click="closeDialog">Cancel</el-button>
            <el-button v-if="totalExportsRecords" size="small" type="primary" @click="exportMethod">Export</el-button>
        </span>
    </el-dialog>
</template>
<script>
export default {
    name: 'ExportDialog',
    props: {
        title: {
            type: String,
            required: false,
            default: 'Export...'
        },
        openDialog: {
            type: Boolean,
            required: true,
            default: false
        },
        width: {
            type: String,
            required: false,
            default: '375px'
        },
        description: {
            type: String,
            required: false,
            default: ''
        },
        filters: {
            type: Array,
            required: false,
            default: []
        },
        totalExportsRecords: {
            type: Number,
            required: true,
            default: 0
        }
    },
    data() {
        return{
            openExportDialog: false
        }
    },

    mounted() {
        this.openExportDialog = this.openDialog
    },

    watch: {
        openDialog(newValue) {
            this.openExportDialog = newValue
        }
    },

    methods: {

        closeDialog() {
            this.$emit("close-dialog")
        },

        exportMethod() {
            this.$emit("export-method")
        }
    },

}
</script>