
body {
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    background: white;
}

.header-user-menu {
    top: 13px !important;
    /*left: 25px !important;*/
    color: #000000 !important;
}

.nav-holder.main-menu a.act-link,
.nav-holder.main-menu a,
.show-lang,
.show-currency-tooltip,
.header-user-name,
.show-reg-form {
    color: #000000 !important;
}

.show-currency-tooltip i,
.lang-wrap i,
.header-user-name i {
    color: #EC1B23 !important;
}

.main-footer {
    background: #272525 !important;
}

.op7,
section.parallax-section .overlay {
    opacity: 0.7 !important;
}

.section-title h2 {
    font-weight: bold;
    font-size: 36px;
}

.btn i {
    background: #FFE0E1;
    color: #EC1B23
}

.slick-prev:before,
.slick-next:before {
    color: #EC1B23 !important;
}

.slick-next {
    right: 15px
}

.slick-prev {
    left: 15px;
    z-index: 99;
}

.slick-dots li.slick-active button:before,
.geodir-category-content h3 a {
    opacity: 1;
    color: #EC1B23;
}

.light-red-bg {
    background: #F8F7F7;
}

.sw-btn:hover,
.contact-btn:hover {
    background: #c6161d;
}

.box-widget-item-header h3,
.list-single-hero-price span,
.pricerange,
.box-image-widget-details h4 span,
.rooms-price {
    color: #EC1B23;
}

.footer-widget #subscribe-button,
.geodir-category-opt .rate-class-name span,
.facilities-list li span,
.lang-tooltip li:hover,
.currency-tooltip li:hover,
.reviews-comments-item-text .review-score-user span,
.review-score-total span,
.book-form .btnaplly,
.list-single-hero-rating .rate-class-name span,
.load-more-button {
    background: #EC1B23 !important;
}

.load-more-button-light {
    background: #f2f3f8 !important;
    color: Black;
    box-shadow: none;
}

.sub-footer {
    background: #161312 !important;
    color: #FFFFFF !important;
}

.section-title-separator span i:nth-child(2),
.geodir-category-opt .listing-rating i {
    color: #FFB900 !important;
}

.sale-window:before,
.sale-window:after {
    border: none !important;
}

.sale-window {
    background: none;
    color: white;
    padding: 0;
    border: none;
    outline: none;
}

.listing-avatar i {
    color: white;
}

.lang-tooltip li:hover a,
.currency-tooltip li:hover i {
    color: #fff !important;
}

/*For 5 coloumns*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*For 5 coloumns*/

/*For 7 coloumns*/
.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-7ths {
    width: 14.2857142857%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-7ths {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-7ths {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-7ths {
        width: 14.2857142857%;
        float: left;
    }
}

/*For 7 coloumns*/

/*For 9 coloumns*/
.col-xs-9ths,
.col-sm-9ths,
.col-md-9ths,
.col-lg-9ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-9ths {
    width: 11.1111111111%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-9ths {
        width: 11.1111111111%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-9ths {
        width: 11.1111111111%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-9ths {
        width: 11.1111111111%;
        float: left;
    }
}

/*For 9 coloumns*/

/*For 8 coloumns*/
.col-xs-8ths,
.col-sm-8ths,
.col-md-8ths,
.col-lg-8ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-8ths {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-8ths {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-8ths {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-8ths {
        width: 12.5%;
        float: left;
    }
}

/*For 8 coloumns*/

.sale-window,
.listing-avatar {
    font-size: 26px;
}

.list-single-hero-title,
.map-card-rainting,
.geodir-category-opt,
.listing-item-cat,
.ajax-modal-title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 27, 65, 0)), color-stop(100%, rgba(0, 0, 0, 0.95)));
    background: -webkit-linear-gradient(top, rgba(6, 27, 65, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(6, 27, 65, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: -ms-linear-gradient(top, rgba(6, 27, 65, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(6, 27, 65, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
}

.header-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.section-title .breadcrumbs a:before,
.breadcrumbs-hero-buttom .breadcrumbs a:before,
.breadcrumbs.inline-breadcrumbs a:before,
.dasboard-breadcrumbs a:before,
.flat-title-wrap .breadcrumbs a:before,
.breadcrumbs-fs .breadcrumbs a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.header-user-name:before,
.qty-dropdown-header:before,
.main-search-input-item_small:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    position: absolute;
    color: #EC1B23;
    bottom: 1px;
    font-size: 13px;
    right: -26px;
    font-weight: 800;
    transition: all .2s ease-in-out;
    z-index: 20;
}

.list-single-main-item-title:before {
    content: none;
}

.box-widget-item-header:before {
    content: none;
}

.customTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f1f1f1;
    text-align: left;
}

.customTable tbody tr {
    border-bottom: 1px solid #f1f1f1;
}

.customTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f1f1;
    color: black;
}

.customTable td, .customTable th {
    padding: 20px;
}

.billSummary {
    height: auto;
    padding: 30px;
    min-height: 295px;
    border: 1px solid #f1f1f1;
}

.billSummary h1 {
    height: 40px;
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #d0d0d0;
}

.ticketPriceDetail {
    padding: 30px 0;
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
}

.ticketPriceDetail strong,
.ticketPriceDetail small,
.ticketTotalPrice span,
.ticketTotalPrice strong {
    width: 100%;
    float: left;
    text-align: left;
}

.ticketPriceDetail small {
    color: #807e7e;
    font-weight: 400;
}

.ticketPriceDetail span {
    line-height: 50px;
    font-size: 20px;
    color: #807e7e;
    font-weight: 400;
}

.checkoutButton {
    height: 40px;
    width: 100%;
    margin: 30px 0;
    background: #EC1B23;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.ticketTotalPrice strong {
    line-height: 50px;
    font-size: 22px;
    font-weight: 700;
}

.ticketTotalPrice span {
    line-height: 50px;
    font-size: 22px;
    color: #EC1B23;
    font-weight: 700;
    text-align: center;
}

.ticketTotalPrice {
    border-bottom: 1px solid #d0d0d0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1 !important;

}

.list-single-main-item-title:before {
    content: none;
}

.section-separator:before {
    background: #F9B90F !important;
}

a.btn.color-bg:hover {
    color: #fff !important;
}

.slick-track {
    min-width: 100% !important;
}

.listing-item-grid {
    height: 346px;
}

@media (max-width: 400px) {
    .main-register .close-reg {
        position: absolute;
        top: 12px;
        right: 2%;
    }

    .colomn-text.pad-top-column-text.fl-wrap a.down-btn.color3-bg {
        width: 100% !important;
    }

    .blockOnMobile {
        display: block;
    }
}

.colomn-text-title h3, .listing-avatar i, .sale-window i {
    text-shadow: 0px 0px 3px #000;
}

a:hover {
    text-decoration: none !important;
}

a.checkoutButton {
    display: inline-block;
    line-height: 40px;
}

.logo-holder img {
    height: 132%;
}

.colomn-text.pad-top-column-text.fl-wrap a.down-btn.color3-bg {
    width: 53%;
}

@media only screen and (max-width: 1064px) {
    .header-search-button {
        margin-top: 0;
    }
}

.navbar-toggler {
    background: #EC1B23;
}

.collapse.show.navbar-collapse {
    background: white;
}

.navbarHolder {
    width: 100%;
    height: 48px;
}

.navbarHolder nav li.nav-item {
    padding: 1px 5px;
    min-height: 48px;
    height: auto;
    line-height: 48px;
}

.navbarHolder nav li.nav-item a {
    color: black;
    font-weight: 500;
}

.currency-wrap, .currency-tooltip, .lang-wrap, .header-user-name {
    font-weight: 500;
}

.subscribe-form {
    float: left;
}

.navbar {
    padding: 0;
}

.nav-link {
    padding: 0;
}

button.dropdown-item {
    width: 100%;
    background: white;
    font-weight: 700;
    text-align: left;
    padding: 5px 15px;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: .255em;
    color: #EC1B23;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-filter {
    float: left;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    border: none;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #f2f3f8
}

@media (min-width: 320px) {
    .dropdown-filter {
        margin-left: unset !important;
    }
}

@media (min-width: 1200px) {
    .dropdown-filter-second {
        margin-left: 72px !important;
    }
}

@media (min-width: 1200px) {
    .first {
        margin-left: 72px !important;
    }
}


.fa-arrow {
    font-size: 22px;
    color: red;
    margin-left: 185px !important;
}

@media (min-width: 370px) {
    .fa-arrow {
        margin-left: 80px !important;
    }
}

@media (min-width: 360px) {
    .fa-arrow {
        margin-left: 76px !important;
    }
}

@media (max-width: 320px) {
    .fa-arrow {
        margin-left: 43px !important;
    }
}

@media (min-width: 760px) {
    .fa-arrow {
        margin-left: 145px !important;
    }
}

.heart-icon {
    margin-left: inherit;
    margin-right: 4px
}

@media (min-width: 375px) {
    .heart-icon {
        margin-left: 0px !important;
    }
}

@media (min-width: 320px) {
    .heart-icon {
        margin-left: 0px !important;
    }
}

@media (min-width: 768px) {
    .heart-icon {
        margin-left: 0px !important;
    }
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

.defaultCard {
    margin: 10px 0;
    float: left;
}

.defaultCard .geodir-category-content-title:before {
    content: "";
}

.defaultCard .geodir-category-content-title {
    margin-bottom: 0;
    border-bottom: none;
}

.defaultCard .geodir-category-footer {
    margin: 0;
    border-top: none;
}

.defaultCard .geodir-category-img, .geodir-category-img img {
    height: 220px !important;
}

.defaultCard .geodir-category-content h3, .cart-details_text .geodir-category-content-title-item h3 {
    font-size: 15px;
}

a.btn.color-bg.full-width {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn i {
    width: 25%;
}

.defaultCard .title-sin_map {
    height: 40px;
}

@media (max-width: 415px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
        /*margin-right: 31px !important;*/
    }
}

@media (min-width: 768px) {
    .hide-on-mobile {
        margin-right: 60px !important;
    }
}

.buttonDefault:after {
    content: '';
    position: unset;
    width: 0px;
    height: auto;
    background: none;
    z-index: 0;
    right: 0;
    top: 0;
    transition: all 200ms linear;
}

.buttonDefault {
    padding: 0 40px;

    float: right;
}

.defaultBackground , .swal-button--confirm {
    background-color: #EC1B23 !important;
}

@media only screen and (max-width: 1064px) {
    .dasboard-sidebar-content:before {
        content: '';
    }
}

.dateOfBirth {
    display: table !important;
    /*width: 100% !important;*/
}

.breadcrumbs-fs .breadcrumbs:before {
    content: '';
}

/*@media (min-width: 1024px) {*/
/*    .col-md-5ths {*/
/*        width: 251px !important;*/
/*        float: left;*/
/*    }*/
/*}*/

.react-daterange-picker__wrapper {
    border-radius: 6px;
    background: #F7F9FB;
    border: 1px solid #eee;
    line-height: 42px;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.react-daterange-picker__wrapper div, .react-daterange-picker__wrapper, .react-daterange-picker__inputGroup__input {
    background: #F7F9FB !important;
}

.filterDropDowns {
    height: 42px !important;
    width: 100% !important;
    text-indent: 8px !important;
    border: 1px solid #eee !important;
    background: #F7F9FB !important;
    border-radius: 6px !important;
}

.react-daterange-picker__inputGroup {
    margin-left: 8px;
}

@media (max-width: 1066px) {
    .fullWidthOnSmallScreen {
        width: 100%;

    }
}

@media (min-width: 1024px) {
    .hide-on-web {
        display: none !important;
    }
}

.cardBadge {
    height: 60px !important;
    width: 60px !important;
    position: absolute !important;
    z-index: 2 !important;
    right: 25px !important;
}

.pagination a {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 100%;
    position: relative;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
    background: #fff;
    letter-spacing: 1px;
}

.pagination li.active a {
    background: #EC1B23;
    color: #fff;
}

.pagination li.next.disabled a, .pagination li.previous.disabled a {
    cursor: default;
    background: #eee;
}

.pagination li.next.disabled a:hover, .pagination li.previous.disabled a:hover {
    cursor: default;
    background: #eee;
    color: #000000
}

.react-select-container {
    margin-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.react-select__control, .react-select__value-container {
    height: 50px;
}

.react-select__option {
    text-align: left;
}

.iconSelectDropDown .react-select__control {
    background: #F7F9FB;
    border: 1px solid #eee;
}

#progressbar li {
    width: 33%;
}

@media only screen and (max-width: 768px) {
    #progressbar li {
        width: 100%;
        margin-bottom: 10px;
    }

    .billSummaryContainer {
        padding: 0;
        margin-top: 50px;
    }
}

.whiteBackground {
    background: white !important;
}

#progressbar {
    padding: 20px;
    padding-top: 50px;
}

.ticketCard {
    margin-bottom: 20px;
    border-radius: 0;
    width: 100%;
    border: 0;

}

.ticketCard .card-body {
    border: 1px solid #f1f1f1;
}

.ticketCard .card-header {
    height: 60px;
    border: 1px solid #f1f1f1;
    line-height: 36px;
    background: #f1f1f1;
    text-align: left;
}

.badge {
    display: inline-block;
    padding: 7px 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 6px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-light {
    color: #838383;
    background-color: white;
    border: 1px solid #D8DAE3;
}

.badge-light-click {
    color: red;
    background-color: white;
    border: 1px solid red;
}

.newLabel {
    color: red !important;
    font-size: 12px !important;
    text-transform: none !important;
}

.cal-item {
    margin: 30px 0;
}

.date-select-dropDown {
    height: 42px !important;
    width: 100% !important;
    border: none;
}

.dropDown-border {
    border-bottom: 1px solid #D8DAE3;
}

.react-select-container#city, .react-select-container#country {
    float: left;
    width: 100%;
}

.header-user-name:before, .qty-dropdown-header:before, .main-search-input-item_small:before {
    content: '';
}

.dateRange {
    height: 50px;

}

.dateRange input {
    padding: 0px;
    float: left;
}

.dateRange .react-daterange-picker__wrapper div,
.dateRange .react-daterange-picker__wrapper,
.dateRange .react-daterange-picker__inputGroup__input {
    background: transparent !important;
    border: none !important;
}

.react-daterange-picker__wrapper {
    height: 50px;
    line-height: 50px;
}

.inpt_dec {
    position: absolute;
    left: 15px;
    top: 12px;
    z-index: 20;
    font-size: 20px;
    color: #000 !important;
}

.filterDateRange .react-daterange-picker__wrapper {
    height: 42px;
    line-height: 42px;
}

.custom-cancel-button {
    float: left;
    margin-left: 14px;
    margin-top: 9px;
}

@media only screen and (max-width: 380px) {
    .custom-cancel-button {
        float: left;
        margin-left: auto;
        margin-top: 9px;
    }
}

@media only screen and (max-width: 420px) {
    .small-display-table {
        display: block !important;
    }

    .c-class {
        max-width: unset !important;
    }
}

.react-select__menu {
    z-index: 2 !important;
}
.slick-dots {
    display: none !important;
}