<template>
  <div>
    <br/>
    <div class="description-box align-middle items-center">
      <!-- PHOTO class="text-center"-->
      <el-form class="items-center place-items-center align-middle">
        <el-form-item class="items-center align-middle">
          <div >
              <!-- <img  @click="handlePictureCardPreview(photoUrl)" :src="photoUrl" class="float-right rounded-lg mb-1 max-h-52 max-w452 object-fill shadow-md" > -->
              <el-avatar id="Avatar" :size="94" :src="photoUrl" fit="cover" class="leading-0 align-middle">
                  <label  class="fileContainerAvatar fileContainer rounded-full bg-opacity-50 text-center avatar-upload hover:opacity-100 hover:bg-opacity-50 z-10">
                      <div class="break-normal">Drop or click to upload</div>
                      <input type="file" @change="uploadPhoto" class="align-middle">
                  </label>
                  <span class="text-3xl relative -top-12 ">{{ initials }}</span>
              </el-avatar>
              <!-- Remove picture -->
              <div v-if="photoUrl" class="-mt-3">
                      <label @click="handleRemove(profileData.photo, -1, 'photo')" class="inline-block el-button--text text-xs cursor-pointer underline">Delete</label>
                      <label class="ml-2 inline-block el-button--text text-xs cursor-pointer underline">
                          <div>Replace</div>
                          <input type="file"  @change="uploadPhoto" class="hidden">
                      </label>
              </div>
              <!-- Upload Photo -->
              <div v-else class="-mt-3 -mb-2">
                <label class="fileContainer inline-block el-button--text text-xs cursor-pointer underline">
                    <!-- <div class="break-normal">Select...</div> -->
                    <input type="file" @change="uploadPhoto" class="align-middle">
                </label>
              </div>

          </div>
          <el-dialog
                  :visible.sync="dialogVisible"
                  width="50%"
                  center
                  :close-on-click-modal="false"
                  :show-close="true">
                      <img class="w-full" :src="photoUrl" alt="">
          </el-dialog>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { Storage } from 'aws-amplify'
import { updateStaff, updateVehicle } from '@/store/mutations'
import { getUser } from './queries'
import { getStaffUpdatedTimestamp, getVehicleUpdatedTimestamp } from '@/utilities/timestampQueries'
import Validator from '@/utilities/FormValidator'

export default {
    name: "ProfileAvatar",
    props:[
      'labelType',
      'userInfo',
      'fullName',
      'profileData'
    ],
    data() {
        return {
            photoUrl: null,
            dialogImageUrl: '',
            dialogVisible: false,
            photoLoading: false,
            editModalOpen: false,
            editData: {},
            rules: {
                firstName: [
                    { required: true, message: 'Please input a first name', trigger: 'blur' }
                ],
                lastName: [
                    { required: true, message: 'Please input a last name', trigger: 'blur' }
                ],
                email: [
                    { required: true, trigger: 'blur', validator: Validator.uniqueEmailDA, daId: this.profileData.id },
                ],
                transporterId: [
                    { validator: Validator.uniqueTransporterIdDA, trigger: 'blur', daId: this.profileData.id  }
                ],
                phone: [
                    {validator: Validator.phoneNumberFormatDA}
                ],
            },
            loading: false,
            visible: false,
            labelData: {},
            typeDraw: "",
            labelUserAuth: false,
        }
    },
    computed: {
        initials(){
          if (this.labelType === 'Associates') {
            return this.profileData.firstName.charAt(0) + this.profileData.lastName.charAt(0)
          } else {
            return this.profileData.name.charAt(0)
          }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
      drawCallback(newValue){
        this.visible = newValue
      },
      cbkFinally(){
          this.loadData( true )
      },
      async handleClose() {
          this.visible = false
      },
      /**
       * Update info of data of the component
       */
      async loadData() {
          try {
              await this.checkPermissionManageLabels();
              await this.loadPhoto()
          } catch (e) {
            this.displayUserError(e)
              console.log(e)
          } finally {
              this.loading = false
          }
      },
      /**
       * check if the actual user have permissions
       */
      async checkPermissionManageLabels() {
          const userId = this.userInfo.id;
          let user = await this.api(getUser, { id: userId })
          user = user.data.getUser
          this.labelUserAuth = user.permissionManageLabels

      },
      /**
       * Save data using the updateStaff GraphQL mutation
       */
      async saveData(uploadingPhoto){
        try{
          var timestamp = new Date().toLocaleString();
          this.editData.updatedAt = timestamp
          var input = {...this.editData}
          if (this.labelType === 'Associates') {
            const staff = await this.api(updateStaff, {input})
            this.profileData.photo = input.photo
            this.profileData.updatedAt = staff.data.updateStaff.updatedAt
          } else {
            const vehicle = await this.api(updateVehicle, {input})
            this.profileData.photo = input.photo
            this.profileData.updatedAt = vehicle.data.updateVehicle.updatedAt
          }
          this.loadData()
          this.editModalOpen = false
        }
        catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      /**
       * Display picture in card window
       */
      handlePictureCardPreview() {
        this.dialogVisible = true;
      },

        /**
       * Creates image URL for staff photo from s3
       */
      loadPhoto: async function(){
          var objectKey = this.profileData.photo
          if(objectKey){
                  var url = await Storage.get(objectKey)
                  this.photoUrl = url
          }
      },

      /**
       * Validate form
       * @param {object} uploadingPhoto - native js event object
       */
      async validateForm(uploadingPhoto){
          if(!uploadingPhoto){
              try{
                  await this.$refs.editForm.$refs.form.validate()
                  this.saveData()
              }catch(e){
                  console.log(e)
                  this.displayUserError("Please fill out all required fields and correct any errors.")
              }
          }
          else{
            this.saveData()
          }
      },

      /**
       * Uploads image to S3 and updates DB
       * @param {object} e - native js event object
       */
      async uploadPhoto(e){
          try{
              if (this.labelType === 'Vehicles') {
                var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.profileData.id})
                var timestamp = timestampResult.data.getVehicle.updatedAt
              } else {
                var timestampResult = await this.api(getStaffUpdatedTimestamp, {id: this.profileData.id})
                var timestamp = timestampResult.data.getStaff.updatedAt
              }
              if(timestamp != this.profileData.updatedAt){
              throw "Record was updated by another user. Please copy any changes and refresh the page."
              }
              this.photoLoading = true


              // Upload Image to S3
              var files = e.target.files || e.dataTransfer.files;
              var file = files[0]
              var fileType = file.type

              // Only accept images
              if(!fileType.includes("image")) {
              throw {
                  errors: [
                  { message: "Selected file is not an image" }
                  ]
              }
              }
              // delete existing photo from S3
              if(this.profileData.photo){
              await Storage.remove(this.profileData.photo)
              }
              // upload new photo
              this.editModalOpen = true
              var fileName = file.name
              if (this.labelType === 'Vehicles') {
              var object = await Storage.put(this.userInfo.tenant.group + '/vehicle-photos/' + this.profileData.id.toLowerCase() + '/' + fileName, file)
              } else {
              var object = await Storage.put(this.userInfo.tenant.group + '/staff-photos/' + this.profileData.id.toLowerCase() + '/' + fileName, file)
              }
              try {
              var documentUrl = await Storage.get(object.key)
              } catch(e) {
                console.log(e)
              }
              //Update form fields
              this.editData.id = this.profileData.id
              this.editData.updatedAt = timestamp
              this.editData.photo = object.key
              this.validateForm(true)

              this.photoUrl = documentUrl
              this.photoLoading = false
          }
          catch(e){
              this.photoLoading = false
              console.log(e)
              this.displayUserError(e)
          }
      },
      /**
       * Delete the index and the S3 object.
       * @param {string} objectKey S3 key of file to delete
       * @param {number} index index of item to remove from array
       * @param {number} type type of docment to remove
       */
      async commitDeleteFile(objectKey, index) {
        try{
          if (this.labelType === 'Vehicles') {
            var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.profileData.id})
            var timestamp = timestampResult.data.getVehicle.updatedAt
          } else {
            var timestampResult = await this.api(getStaffUpdatedTimestamp, {id: this.profileData.id})
            var timestamp = timestampResult.data.getStaff.updatedAt
          }
          if(timestamp != this.profileData.updatedAt){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          this.photoUrl = ""
          var result = await Storage.remove(objectKey)
          this.editData = {
            id: this.profileData.id,
            updatedAt: timestamp,
            photo: null,
          }
          await this.validateForm(true)
        }
        catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },
      /** 
      * Prompts user if file should really be deleted
      * @param {string} objectKey S3 key of file to delete
      * @param {number} index index of item to remove from array
      * @param {number} type type of docment to remove
      */
      async handleRemove(objectKey, index, type){
        this.$confirm('This will permanently delete this ' + type + '. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteFile(objectKey, index)          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },
  }
}
</script>
<style>
  .el-icon-arrow-down {
      font-size: 12px;
    }
  .title-description-text-box{
      font-size: 18px;
  }
  .el-avatar--circle {
      border-radius: 5% !important;
  }
  .fileContainerAvatar{
      @apply transition duration-300 text-gray-600 bg-gray-800 pt-5 text-base opacity-0 !important;
  }
</style>
<style scoped>
.el-avatar--circle {
    border-radius: 5% !important;
}
.description-box{
    display:grid;
    grid-template-columns: 110px;
    grid-auto-flow: column;
    align-items: center;
}
.label {
    margin-right:10px;
    float: left;
}
.label-link {
    margin-top: 2.5px;
    float: left;
    align-content: center;
    text-align: center;
}
.description-text-box{
    display:grid;
    row-gap: 5px;
}

.fileContainerAvatar{
    @apply transition duration-300 text-gray-600 bg-gray-800 pt-5 text-base opacity-0 !important;
}
.fileContainerAvatar:hover{
    @apply opacity-100 !important;
}
.avatar-upload{
    width: 94px;
    height: 94px;
}
.leading-0{
    line-height: 0rem !important;
}
.example-showcase .el-dropdown + .el-dropdown {
    margin-left: 15px;
}
</style>