<template>
    <div class="-mt-3 flex items-center">
        <!-- Profile photo -->
      <div id="profile-photo">
        <slot name="photo">
          <ProfileAvatar
          v-if="profileData.id"
          :labelType="labelType"
          :profileData="profileData"
          :userInfo="userInfo" 
          :fullName="fullName">
          </ProfileAvatar>
        </slot>
      </div>
      <div class="">
        <div class="grid-rows-5 space-y-1">
            <!-- Profile name -->
            <div class="font-semibold text-lg text-gray-800" id="profile-title">
                <slot name="title">{{ fullName }}</slot>
            </div>
            <!-- Profile labels -->
            <div class="align-middle ">
              <slot name="labels">
                <ProfileLabels
                  v-if="profileData.id"
                  :labelType="labelType"
                  :profileId="profileData.id"
                  :labels="this.profileLabels"
                  :userInfo="userInfo" 
                  :fullName="fullName"
                  @loadData="loadData">
                </ProfileLabels>
              </slot>
            </div>
          </div>
      </div>
    </div>
</template>
<script>
import ProfileLabels from './Labels/ProfileLabels'
import ProfileAvatar from './ProfileAvatar'

export default {
  name: 'ProfileDescription',
  props:[
    'labelType',
    'userInfo',
    'fullName',
    'profileData'
  ],
  components:{
    ProfileAvatar,
    ProfileLabels,
  },
  data(){
    return{
      profileLabels: this.profileData.labels ? this.profileData.labels.items : [],
    }
  },
  methods: {
    async loadData() {
      this.$emit("loadData")
    }
  },
}
</script>
<style scoped>
</style>