<template>
  <div v-loading="loading">
    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <div>
          <container-filter inTable>
            <template v-slot:title>
              <div class="text-center">
                <span class="uppercase">Custom Lists</span>
              </div>
            </template>
            <template v-slot:filter-count>
              <counter-filter :counter="getResumeFilters" />
            </template>
            <template v-slot:filters>
              <multi-select-filter
                type="category"
                title="List category"
                :options="optionsListCategory"
                :selected="filterOptionsListCategory"
                @update-filters="updateFilters"
              />
            </template>
          </container-filter>
        </div>
      </template>

      <template v-slot:table-searchbox>
        <search-box inTable @search-data="handleSearch"></search-box>
      </template>

      <custom-table
        inTable
        v-if="dataReady"
        :columns="cols"
        :data="filteredData"
        :totalRecords="tableDataRecords"
        emptyText="No Custom Lists"
        footerTable="Custom Lists"
        @click-menu="handleCommand"
        :childs="{ children: 'records' }"
        :optionsRows="optionsContext"
        :optionsSubRows="optionsContext"
      >
        <template #options="row">
          <ul>
            <li v-for="(option, index) in row.options" :key="option.id" class="float-left mr-1 break-all">
              {{ `${(index==0) ? "" : "•"} ${option.option}` }}
            </li>
          </ul>
        </template>
      </custom-table>
    </TableCard>
    
    <DrawerCustomList 
      :drawerVisibility="drawerVisibility"
      :titleDrawer="titleDrawer"
      :tableDataSelected="tableDataSelected"
      @hideDrawer="hideDrawer"
      @reloadCustomList="reloadCustomList"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import TabCard from "@/components/TableCard/TabCard";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import DrawerCustomList from './components/DrawerCustomList'

export default {
  components: {
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    TabCard,
    SingleSelectFilter,
    MultiSelectFilter,
    CounterFilter,
    DrawerCustomList
  },
  data() {
    return {
      titleDrawer: "Custom List Option",
      tableDataSelected: {},
      optionSelected: [],
      tableData: [],
      dataReady: true,
      search: '',
      cols: [
        {
          name: "List Category",
          col: "listCategory",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "100"
        },
        {
          name: "List Name",
          col: "listName",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "100"
        },
        {
          name: "List Display",
          col: "listDisplay",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "100"
        },
        {
          name: "Options",
          col: "options",
          fixed: false,
          sortable: true,
          sortMethod: undefined,
          width: "200"
        },
      ],
      optionsListCategory: [
        "Associates",
        "Coaching",
        "Daily Rostering",
        "Devices",
        "Vehicles",
        "Performance & Coaching",
      ],
      filterOptionsListCategory: [
        "Associates",
        "Coaching",
        "Daily Rostering",
        "Devices",
        "Vehicles",
        "Performance & Coaching",
      ],
      optionsContext: [
        {
          label: "Edit this Custom List",
          action: "editCustomList",
        },
      ],
      drawerVisibility: false,
      loading: false,
      tableDataRecords: "",
    };
  },
  async mounted() {
    try {
      this.loading = true
      await this.loadCustomList()
      await this.getCustomLists();
    } catch (e) {
      this.printUserError(e)
      this.displayUserError(e)
    } finally {
      this.loading = false
    }
  },
  computed: {
    ...mapState(["userInfo", "customList"]),
    filteredData() {
      return this.filterArray(this.tableDataFiltered, this.search);
    },
    getResumeFilters() {
      return this.filterOptionsListCategory.length === this.optionsListCategory.length ? 0 : 1;
    },
    tableDataFiltered() {
      if (this.filterOptionsListCategory) {
        return this.tableData.filter(item => this.filterOptionsListCategory.includes(item.listCategory))
      }
      return this.tableData
    }
  },
  methods: {
    handleCommand({ action, row }) {
      if (action === "editCustomList") {
        this.tableDataSelected = row;
        this.titleDrawer = "Custom List Options: " + row.listName
        this.drawerVisibility = true;
      }
    },

    handleSearch(word) {
      this.search = word
    },

    async hideDrawer() {
      this.loading = true
      this.drawerVisibility = false;
    },

    async getCustomLists() {
      this.loading = true;
      this.tableData = this.customList.filter(item => this.filterOptionsListCategory.includes(item.listCategory));
      this.tableDataRecords = this.customList.length;
      this.loading = false;
    },

    async reloadCustomList() {
      try {
        this.loading = true
        await this.loadCustomList()
        await this.getCustomLists()
        this.reloadTableDataSelected()
      } catch (e) {
        this.printUserError(e)
        this.displayUserError(e)
      } finally {
        this.loading = false
      }
    },
    reloadTableDataSelected() {
      this.tableDataSelected = this.tableData.find(obj => obj.id === this.tableDataSelected.id)
    },
    updateFilters(e) {
      const { type, filters } = e;
      this.filterOptionsListCategory = filters
    },
  },
};
</script>
<style lang="scss" scoped>
.header-personalized {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .container-filter,
  .maintenance-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>

<style lang="scss" >
.el-drawer {
  width: 32% !important;
}

@media (max-width: 1900px) {
  .el-drawer {
    width: 40% !important;
  }
}

@media (max-width: 1500px) {
  .el-drawer {
    width: 50% !important;
  }
}

@media (max-width: 1200px) {
  .el-drawer {
    width: 60% !important;
  }
}

@media (max-width: 1000px) {
  .el-drawer {
    width: 80% !important;
  }
}

@media (max-width: 750px) {
  .el-drawer {
    width: 90% !important;
  }
}
</style>
