<template>
  <div>
    <div class="flex flex-wrap justify-around md:justify-between">
      <div class="px-5 pt-5 pb-2">
        <p class="text-black text-sm">
          Hera has found some possible matches with your existing Associates,
          based on the new Associate's name.
        </p>
        <p class="text-black text-sm font-bold mt-1">
          Are you sure you want to create this new Associate?
        </p>
      </div>
      <div class="w-full">
        <div class="mt-1 px-5 py-2 bg-gray-200 border-b-2 border-white">
          <p class="text-gray-600 text-base font-bold border-b-2 border-white">
            NEW ASSOCIATE NOT YET CREATED
          </p>
          <div>
            <template>
              <el-row>
                <el-col :span="12" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">First Name</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.firstName | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
                <el-col :span="12" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">Last Name</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.lastName | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">Email</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.email | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
                <el-col :span="12" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">Phone</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.phone | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="8" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">Transporter ID</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.transporterId | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
                <el-col :span="8" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">DOB</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.dob | formatDate }}
                    </p>
                  </div>
                </el-col>
                <el-col :span="8" class="pt-4">
                  <div>
                    <p class="text-sm text-gray-700">Associate Status</p>
                    <p class="text-sm font-bold text-blue-600">
                      {{ formFields.status | validateEmptyString }}
                    </p>
                  </div>
                </el-col>
              </el-row>
            </template>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="mt-1 px-5 py-2">
          <p
            class="text-gray-600 text-base font-bold border-b-2 border-gray-300"
          >
            EXISTING ASSOCIATES
          </p>
          <div>
            <div
              v-for="(item, index) in coincidences"
              :key="item.id"
              class="border-dashed border-b-2 border-gray-300 pb-4"
            >
              <template>
                <el-row class="pt-4">
                  <el-col :span="2" class="flex items-center justify-left h-10">
                    <div class="el-step__icon is-text text-gray-600">
                      <div class="el-step__icon-inner">{{ index + 1 }}</div>
                    </div>
                  </el-col>
                  <el-col :span="7">
                    <div>
                      <p class="text-sm text-gray-700">First Name</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.firstName | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                  <el-col :span="7">
                    <div>
                      <p class="text-sm text-gray-700">Last Name</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.lastName | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                  <el-col :span="8" class="flex items-center justify-left h-8">
                    <el-button @click="handleCancelView(item)">
                      Cancel & {{ setNameActionButton }}
                    </el-button>
                  </el-col>
                </el-row>
                <el-row class="pt-4">
                  <el-col :span="12">
                    <div>
                      <p class="text-sm text-gray-700">Email</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.email | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                  <el-col :span="12">
                    <div>
                      <p class="text-sm text-gray-700">Phone</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.phone | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <div>
                      <p class="text-sm text-gray-700">Transporter ID</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.transporterId | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                  <el-col :span="8">
                    <div>
                      <p class="text-sm text-gray-700">DOB</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.dob | formatDate }}
                      </p>
                    </div>
                  </el-col>
                  <el-col :span="8">
                    <div>
                      <p class="text-sm text-gray-700">Associate Status</p>
                      <p class="text-sm font-bold text-blue-600">
                        {{ item.status | validateEmptyString }}
                      </p>
                    </div>
                  </el-col>
                </el-row>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "Coincidence",
  props: {
    coincidences: Array,
    formFields: Object,
    match: Boolean,
  },
  computed: {
    setNameActionButton() {
      return this.match ? "Match" : "View";
    },
  },
  filters: {
    formatDate(value) {
      if(!value) return "—";
      return moment(value).format("MMM D, YYYY");
    },
    validateEmptyString(value) {
      return value ? value : "—";
    },
  },
  
  methods: {
    handleCancelView(_item) {
      const match = this.match
      const item = (match) ? _item : _item.id
      this.$emit("cancel-view", { item, match });
    }
  },
};
</script>
<style scoped>
/deep/ .el-step__icon {
  @apply border-gray-600 !important;
}
</style>
