<template>
  <div>

  </div>
</template>

<script>
import { Auth, API } from 'aws-amplify';
import { createCard, updateCard, updateTenant, createNotification } from '@/graphql/mutations'
import { cardsByGroup, invoicesByGroupAndStatus, getTenant } from '../queries'
import { getUser } from '@/api/queries'
import { mapMutations } from 'vuex'

var stripe
var elements
var cardNumber = undefined
var cardExpiry = undefined
var cardCvc = undefined 
export default {
  
  name: 'ChargeUnpaidInvoices',
  props: ['unpaidInvoices'],
  data(){
    return{
      
    }
  },

  async mounted(){
    // ------- Setup Stripe ------
    stripe = await safeFunction(Stripe)(process.env.VUE_APP_STRIPE_PUBLISHABLE_KEY);
    elements = stripe.elements({
      fonts: [
        {
          cssSrc: 'https://fonts.googleapis.com/css?family=Source+Code+Pro',
        },
      ],
      // Stripe's cards are localized to specific languages, but if
      // you wish to have Elements automatically detect your user's locale,
      // use `locale: 'auto'` instead.
      locale: 'auto'
    });
  },

  methods:{
    ...mapMutations([
      'setUserInfo'
    ]),

    cancel(){
      this.$emit('cancel')
    },

    async showUnpaidInvoices(unpaidInvoices){
        // sort
        unpaidInvoices.sort(function (a,b){
          return new Date(a.createdAt) - new Date(b.createdAt);
        })

        var invoicesHtml = ''
        const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

        // gen html string
        unpaidInvoices.forEach(invoice =>{
          // set up totals
          var taxRate = 0
          var fixedDiscount = invoice.discountFixed ? invoice.discountFixed : 0
          var percentDiscount = invoice.discountPercent ? invoice.discountPercent / 100 * invoice.invoiceTotal : 0
          var subtotalLessDiscount = invoice.invoiceTotal - fixedDiscount - percentDiscount
          console.log({subtotalLessDiscount: subtotalLessDiscount + subtotalLessDiscount * taxRate})
          var subtotalPlusTaxes = (subtotalLessDiscount + subtotalLessDiscount * taxRate).toFixed(2)

          invoicesHtml += `
            <tr>
              <td class="text-left w-1/3">${invoice.year} ${months[invoice.month]}</td>
              <td class="text-left w-1/3">${invoice.status}</td>
              <td class="text-right w-1/3">$${subtotalPlusTaxes}</td>
            </tr>
          `
          invoicesHtml = `
            <div class="mb-2">
              This will immediately charge your new active card with the following invoices.
            </div>
            <table class="w-full">
             <tr>
              <th class="text-left w-1/3">Month</th>
              <th class="text-left w-1/3">Status</th>
              <th style="text-align: right; width: 33%;">Total</th>
            </tr>
              ${invoicesHtml}
            </table>`
        })

        return invoicesHtml
    },

  }
}
</script>
