<template>
  <div data-cy="da-company-info-card">
    <div class="float-left">
      <p class="card-title">Company Info</p>
    </div>
    <div class="flex space-x-4 justify-end">
      <!-- <el-button size="small" type="primary" plain @click="handleEdit()">Edit</el-button> -->
      <i 
        data-cy="da-company-info-edit-btn"
        @click="handleEdit()"
        class="icon-button hover:text-brand uil uil-pen mb-4"/>
    </div>
    <el-form label-position="top" size="small" >
      <div class="flex space-x-4">
        <div class="flex-none w-1/3">
          <el-form-item
            label="Supervised By" prop="assignedLead" class="non-edit-field"
            :class="{'placeholder': !staffData.assignedLead}">
              {{ fullNameAssigned | text }}
          </el-form-item>
          <el-tooltip class="item" effect="dark" content="Coment of Supervised by" placement="top" popper-class="custom-tooltip-lowest-z-index"/>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="flex-none w-1/3">
          <el-form-item label="Preferred Days Off" prop="preferredDaysOff" class="non-edit-field" :class="{'placeholder': !staffData.hourlyStatus}">
            {{ preferredDaysOffFormatted || '—' }}
          </el-form-item>
        </div>
        <div class="flex-none w-1/3">
          <el-form-item label="Hourly Status" prop="hourlyStatus" class="non-edit-field" :class="{'placeholder': !staffData.hourlyStatus}">
            {{ staffData.hourlyStatus | text }}
          </el-form-item>
        </div>
        <div class="flex-none w-1/3">
          <el-form-item label="Hired" prop="hireDate" class="non-edit-field" :class="{'placeholder': !staffData.hireDate}">
            {{ staffData.hireDate | date_timezone }}
          </el-form-item>
        </div>
      </div>
       <div class="flex space-x-4">
          <!-- <div class="flex-none w-1/3">
            <el-form-item label="Terminated" prop="terminationDate" class="non-edit-field" :class="{'placeholder': !staffData.terminationDate}">
              {{ staffData.terminationDate | date }}
            </el-form-item>
          </div> -->
          <div class="flex-none w-1/3">
            <el-form-item label="Next Anniversary" prop="email" class="non-edit-field" :class="{'placeholder':!staffData.hireDate}">
              {{ nextAnniversaryDate }}
            </el-form-item>
          </div>
          <div class="flex-none w-1/3">
            <el-form-item label="Final Check Issued" prop="finalCheckIssueDate" class="non-edit-field" :class="{'placeholder': !staffData.finalCheckIssueDate}">
            {{ staffData.finalCheckIssueDate | date }}
            </el-form-item>
          </div>
          <!-- <div class="flex-none w-1/3">
            <el-form-item label="Returned Uniform" prop="returnedUniform" class="non-edit-field">
              <el-checkbox disabled class="ml-10 large-check" v-model="staffData.returnedUniform"></el-checkbox>
            </el-form-item>
          </div> -->
       </div>
    </el-form>

    <!--EDIT STAFF COMPANY INFO MODAL-->
    <el-dialog
      title="Edit Company Info"
      :visible.sync="editModalOpen"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      >

      <StaffCompanyInfoForm 
        ref="editForm" 
        :staffLeadsList="staffLeadsList"
        :formFields="editData"/>

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleEditCancel">Cancel</el-button>
        <ButtonWrapper type="primary" :clickHandler="saveData">Update</ButtonWrapper>
      </span>
    </el-dialog>

  </div>
</template>

<script>

import { Storage } from 'aws-amplify'
import { updateStaff } from '@/store/mutations'
import { getStaffUpdatedTimestamp } from '@/utilities/timestampQueries'
import { staffIndex } from '@/api/queries'
import StaffCompanyInfoForm from './CompanyInfoForm'
import moment from 'moment';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

export default {
  name: "StaffCompanyInfo",
  props:[
    'staffData',
    'fullNameAssigned'
  ],
  components: {
    StaffCompanyInfoForm,
    ButtonWrapper,
  },
  data() {
    return {
      photoUrl: null,
      dialogImageUrl: '',
      dialogVisible: false,
      photoLoading: false,
      editModalOpen: false,
      editData: {},
      staffLeadsList: []
    }
  },

  created: function(){
    this.loadData()
  },

  computed: {
    nextAnniversaryDate(){
      if(!this.staffData.hireDate) return '—'
      const hireDate = new Date(this.staffData.hireDate);
      const today = new Date();

      const yearT = today.getFullYear();
      const monthT = today.getMonth();
      const dayT = today.getDate();

      const monthH = hireDate.getMonth();
      const dayH = hireDate.getDate();

      const offset = new Date(yearT, monthT, dayT).getTime() > new Date(yearT, monthH, dayH).getTime() ? 1 : 0
      const anniversary = new Date(yearT + offset, monthH, dayH);
      
      return moment(anniversary).format("MM/DD/YYYY")
    },

    preferredDaysOffFormatted() {
      if(this.staffData.preferredDaysOff) {
        return this.staffData.preferredDaysOff.join(', ')
      }
    }
  },
  
  methods: {
    /**
     * Delete the index and the S3 object.
     * @param {string} objectKey S3 key of file to delete
     * @param {number} index index of item to remove from array
     * @param {number} type type of docment to remove
     */
    async commitDeleteFile(objectKey) {
      this.photoUrl = ""
      this.staffData.photo = ""
      await Storage.remove(objectKey)
      await this.saveData()
    },

    handleEdit(){
      this.editData = {...this.staffData}
      this.editModalOpen = true
    },

    /** 
     * Handles Cancel button clicks on edit device modal
     **/
    handleEditCancel(){
      this.editModalOpen = false
      this.editData = {}
    },

    async loadData(){
      try{
        let input = {
          group: this.$store.state.userInfo.tenant.group
        }

        this.staffLeadsList = await this.gLoadListAll(staffIndex, input, 'staffsByGroup')
        this.staffLeadsList = this.staffLeadsList.filter(
          (staff) => staff.id !== this.staffData.id
        )

        this.editData = {...this.staffData}
      }catch(e){
        this.displayUserError(e);
      }
    },

    /**
     * Save data using the updateStaff GraphQL mutation
     */
    saveData: async function(){
      try{
        var input = {...this.editData}
        input = this.cleanStaffInput(input)
        const staff = await this.api(updateStaff, {input}, getStaffUpdatedTimestamp, 'getStaff')
        this.$emit("loadData")
        this.editModalOpen = false
      }
      catch(e){
        this.displayUserError(e);
      }
    }
  }
}

</script>
<style scoped>
  
</style>
<style>
  .non-edit-field .el-form-item__content{
    @apply text-brand font-bold text-lg border-none p-0 leading-tight;
  }

  .placeholder .el-form-item__content{
    @apply text-gray-600 !important;
  }

  .large-check .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
    @apply cursor-text border-white !important;
    transform: rotate(45deg) scale(2) translateX(0.23rem) translateY(.01rem);
    transition: none !important;
  }
  .large-check .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    @apply bg-brand border-brand cursor-text !important;
  }
  .large-check .el-checkbox__input.is-disabled .el-checkbox__inner {
    @apply bg-white cursor-text !important;
  }

  .large-check .el-checkbox__input .el-checkbox__inner::after {
    transition: none !important;
  }
  .large-check .el-checkbox__input .el-checkbox__inner{
    height: 1.75em;
    width: 1.75em;
  }
  
</style>

