<template>
    <el-form label-width="160px" :model="formFields" ref="form">
         <el-form-item label="Supervised By" prop="assignedLead">
            <el-select data-cy="ci-supervised-by-sel" v-model="formFields.assignedLead" placeholder="Select" clearable filterable>
                <el-option
                    v-for="item in staffLeadsListComputed"
                    :key="item.id"
                    :label="`${item.firstName} ${item.lastName}`"
                    :value="item.id"
                    :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Preferred Days Off" prop="assignedLead">
            <el-select data-cy="ci-preferred-days-off-sel" v-model="formFields.preferredDaysOff" multiple placeholder="Select" @change="orderPreferredDaysOff">
                <el-option
                  v-for="item in preferredDaysOff"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Hourly Status" prop="hourlyStatus">
            <el-select data-cy="ci-hourly-status-sel" v-model="formFields.hourlyStatus" placeholder="Select" clearable>
                <el-option
                    v-for="item in valueListActivesOnly($store.state.valuelists['hourly-status'].items)"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Hired" prop="hireDate">
            <DatePicker data-cy="ci-hired-dpk" :selectedDate="formFields.hireDate" placeholder="" @date-selected="handleDateSelected($event, 'hireDate')" />
        </el-form-item>
        <!-- <el-form-item label="Terminated" prop="terminationDate">
            <el-date-picker format="MM/dd/yyyy" v-model="formFields.terminationDate" type="date"></el-date-picker>
        </el-form-item> -->
        <el-form-item label="Final Check Issued" prop="finalCheckIssueDate">
            <el-date-picker data-cy="ci-final-check-issued-dpk" format="MM/dd/yyyy" v-model="formFields.finalCheckIssueDate" type="date"></el-date-picker>
        </el-form-item>
        <!-- <el-form-item prop="isALead" class="non-edit-field">
            <el-checkbox v-model="formFields.returnedUniform" label="Returned Uniform"></el-checkbox>
        </el-form-item> -->
    </el-form>
</template>

<script>
import DatePicker from '@/components/Datepicker';
export default {
    name: 'StaffCompanyInfoForm',
    components: {
        DatePicker
    },
    data() {
        return {
            preferredDaysOff: [
                {
                    value: 'Su',
                    label: 'Sunday'
                },
                {
                    value: 'M',
                    label: 'Monday'
                },
                {
                    value: 'Tu',
                    label: 'Tuesday'
                },
                {
                    value: 'W',
                    label: 'Wednesday'
                },
                {
                    value: 'Th',
                    label: 'Thursday'
                },
                {
                    value: 'F',
                    label: 'Friday'
                },
                {
                    value: 'Sa',
                    label: 'Saturday'
                }
            ]
        }
    },
    props:['formFields', 'staffLeadsList'],
    methods: {
        handleDateSelected(date, model) {
                this.formFields[model] = date
        },

        orderPreferredDaysOff(data) {
            let orderList = []

            this.formFields.preferredDaysOff.forEach(item => {
                if(item) {
                    let index = this.preferredDaysOff.findIndex(d => d.value === item)
                    orderList[index] = this.preferredDaysOff[index].value
                }
            })

            this.formFields.preferredDaysOff = orderList.filter(item => item)
        }
    },
    computed: {
        staffLeadsListComputed() {
            this.staffLeadsList.map((item)=>{
                if(item.status != 'Active') {
                    item.disabled=true
                }else{
                    item.disabled=false
                }
            });
            return this.staffLeadsList;
        }
    }
}
</script>
<style scoped>
    .el-select{
        width: 100%;
    }
    .el-date-editor{
        width: 100% !important;
    }
</style>