<template>
    <!-- Import Card -->
    <div class="relative bg-white card mb-0 col-span-12 md:col-span-6 lg:col-span-4 h-32 py-2 px-4">

        <!-- Tag and Remove -->
        <div class="flex justify-between mb-1">
            <div class="flex justify-between space-x-2 items-center">
                <div class="font-bold rounded-full px-3 text-xs py-1 -ml-2" :class="tagClass">
                    {{tag}}
                </div>
            </div>
            <i v-show="!processing" class="uil uil-trash-alt hover:text-red-500 cursor-pointer text-xl text-gray-700" @click.stop="remove"></i>
        </div>
        <!-- Netradyne disabled warning -->
        <div v-if="systemData && systemData.importNetradyneDisabled && tag == 'Netradyne'">
            <div class="m-auto absolute transform w-48 mt-9 -translate-x-24 text-sm left-1/2 top-0 font-bold text-red-500 text-center uppercase">Won't Be Imported</div>
        </div>
        <!-- Mentor disabled warning -->
        <div v-if="systemData && systemData.importMentorDisabled && tag == 'Mentor'">
            <div class="m-auto absolute transform w-48 mt-9 -translate-x-24 text-sm left-1/2 top-0 font-bold text-red-500 text-center uppercase">Won't Be Imported</div>
        </div>
        <!-- EOC disabled warning -->
        <div v-if="systemData && systemData.importEocDisabled && tag == 'EOC'">
            <div class="m-auto absolute transform w-48 mt-9 -translate-x-24 text-sm left-1/2 top-0 font-bold text-red-500 text-center uppercase">Won't Be Imported</div>
        </div>
        <!-- Week & Year -->
        <div class="flex justify-between mt-6 space-x-4">
            <div class="ml-1 flex-initial min-w-0">
                <div class="flex justify-start space-x-4 ">
                    <slot name="date">
                        <p class="font-medium text-sm text-gray-900 truncate">
                            {{ dateString }}
                            <template v-if="daysToImport && daysToImport.length > 1">
                                <el-tooltip  class="item" 
                                    popper-class="w-36" 
                                    effect="dark" 
                                >
                                    <div slot="content">
                                        Dates being imported:<br/>
                                        <p v-html="buildNoticeDaysImport()"></p>
                                    </div>
                                    <i class="uil uil-question-circle"/>
                                </el-tooltip>
                            </template>
                        </p>
                    </slot>
                </div>
                <p class="text-xs text-gray-600 truncate mt-1">{{S3FileName.decode(fileName)}}</p>
            </div>

            <!-- status indicator -->
            <i v-if="status == 'SUCCEEDED' && processing" class="uil uil-check-circle text-4xl text-green-500"></i>
            <el-tooltip v-else-if="status == 'ERROR' && processing" class="item" effect="dark" content="Something went wrong" placement="top">
                <i class="uil uil-exclamation-triangle text-4xl text-red-500"></i>
            </el-tooltip>
            <div v-else-if="processing" class="my-3">
                <svg class="animate-spin h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#0268BC" stroke-width="4"></circle>
                    <path class="opacity-75" fill="#0268BC" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>

        </div>

        <slot name="bottom"/>
    </div>
</template>
<script>
import { S3FileName } from '@/../amplify/backend/function/ParsePerformanceData/src/s3FileNameHelper'
import { shortDateFormat } from '@/../amplify/backend/function/ProcessPerformanceData/src/util.js'

export default {
    props: ['processing', 'tag', 'status', 'fileName', 'tagClass', 'date', 'dateString', 'daysToImport','systemData'],
    data(){
        return {
            S3FileName,
            days: this.daysToImport
        }
    },

    methods:{
        remove(evt){
            this.$emit('remove', evt)
        },

        buildNoticeDaysImport() {
            const days = [...this.daysToImport];
            const formatDays = days.map(day => shortDateFormat( day, "en-US", { timeZone: 'UTC',year: 'numeric', month: 'long', day: 'numeric' } ))
            let template = `<ul style="list-style-type: circle !important">`
            for (let index = 0; index <formatDays.length; index++) {
                const element = formatDays[index];
                template += `<li class='day-imported'> ● ${element} </li>`
            }
            template += "</ul>"
            return template;
        }
    }
}
</script>