<template>
    <div class="match-table">
        <el-table
            :ref="table.ref"
            row-key="staff.importTransporterId"
            class="import-table data-table"
            :row-class-name="rowClassName"
            header-cell-class-name="table-header-cell"
            :default-sort = "{prop: 'name', order: 'ascending'}"
            :empty-text="table.emptyText"
            :data="data">

            <el-table-column
                width="170"
                :sort-method="staffNameSort"
                prop="name">
                <template slot="header">
                    <div>Import Name</div>
                    <div class="table-subheading">Transporter ID</div>
                </template>
                <template slot-scope="scope">
                    <div class="font-medium">{{scope.row.staff.importName}}</div>
                    <slot :row="scope.row" name="underEntries">
                        <div class="text-xs text-gray-600">{{scope.row.staff.importTransporterId}}</div>
                        <el-checkbox
                            v-if="overwriteTransporterID(scope.row)"
                            class="break-next-line pt-1"
                            v-model="scope.row.staff.overwriteTransporterID">
                            Overwrite Transporter ID into Hera with the imported ID
                            <el-tooltip effect="dark" placement="top-start">
                                    <div slot="content" class="w-80" v-html="overWriteTransporterIDcontent"></div>
                                    <span class="text-gray-600"><i class="uil uil-question-circle text-base"></i></span>
                            </el-tooltip>
                        </el-checkbox>
                    </slot>
                </template>
            </el-table-column>

            <el-table-column
                width="187"     
                class-name="select-da-cell"
                prop="staffId">
                <template slot="header">
                    <div>Matched {{$t('label.associate')}}</div>
                    <div class="table-subheading">Transporter ID</div>
                </template>
                <template slot-scope="scope">
                    <div class="flex">
                        <!-- <div  class="text-xxs text-gray-600 -mt-1">Suggested based on name</div> -->
                        <PerformanceSelect
                            @at-change="onSelectChange"
                            :addNew="`+ Add New ${$t('label.associate')}`"
                            :clearable="true"
                            :filterable="true"
                            focusedPlaceholder="Type to filter..."
                            :index="scope.$index"
                            itemKey="id"
                            itemLabel1="firstName"
                            itemLabel2="lastName"
                            itemValue="id"
                            :noDataText="`No ${$t('label.associates')} Found`"
                            :noMatchText="`No ${$t('label.associates')} Found`"
                            :options="activeAssociateList"
                            :placeholder="`Please Select ${$t('label.an_associate')}`"
                            :required="true"
                            :row="scope.row"
                            size="small"
                            :select="scope.row.staff"/>
                        <el-tooltip v-if="scope.row.staff.suggestionFound" class="item" effect="dark" content="Suggested based on import name" placement="bottom">
                            <i class="text-xl text-gray-600 -mr-2 uil uil-info-circle"/>
                        </el-tooltip>
                    </div>
                    <div 
                        v-if="scope.row.staff.id" 
                        class="text-xs text-gray-600 pl-4 -mt-1" 
                        :class="{'text-red-400': scope.row.staff.matchTransporterId === 'No Transporter ID'}">
                        {{scope.row.staff.matchTransporterId}}
                    </div>
                    <el-checkbox
                        v-if="scope.row.staff.id && !!scope.row.staff.importTransporterId && scope.row.staff.matchTransporterId === 'No Transporter ID'"
                        class="break-next-line pt-1"
                        checked
                        v-model="scope.row.staff.importTransporterIDtoHera">
                        Import Transporter ID into Hera
                    </el-checkbox>
                </template>
            </el-table-column>
            <el-table-column
                label="Importing From"
                min-width="170"
                prop="importedFrom"
                class-name="importing-from-cell">
                <template slot-scope="scope">
                    <div class="flex space-y-2 justify-left flex-wrap items-baseline">
                        <template v-for="(tag,i) in types">
                            <div :key="i" v-if="importData(scope,tag).length" class="flex-initial mr-2 box-border font-bold rounded-full px-3 text-xs" :class="tag.domClass">{{tag.name}}<span v-if="importData(scope,tag).length > 1"> ({{importData(scope,tag).length}})</span></div>
                        </template>
                    </div>
                </template>
            </el-table-column>
        </el-table>

        <!--ADD DA DRAWER-->
        <div v-if="associateIsOpen">
            <Associate
            :isOpen="associateIsOpen"
            :load="associateLoading"
            :formTitle="associateFormTitle"
            :model="formFields"
            type="import"
            @cancel-save="associateCancelSave($event)"
            @save-data="handleAssociateSave"
            />
        </div>
    </div>
</template>
<script>
import PerformanceSelect from '@/components/PerformanceSelect.vue'

import Dialog from "@/components/Dialog/Dialog"
import AddDaForm from '@/views/Staff/components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"
import Associate from "@/views/Staff/components/Associate/Associate"
import AssociateMixin from '@/views/Staff/components/Associate/AssociateMixins';

export default {
    props:['data','table','activeAssociateList','types'],
    components:{
        PerformanceSelect,
        Dialog,
        AddDaForm,
        Associate
    },
    mixins: [AddDaFormMixin,AssociateMixin],
    data(){
        return{
            overWriteTransporterIDcontent: `The Transporter ID in the ${this.$t('label.associate_s')} profile does not match the Transporter ID from the imported file.<br/><br/>If the Transporter ID in Hera is incorrect, click the check box and Hera will import and overwrite the incorrect ID in the ${this.$t('label.associate_s')} profile.<br/><br/>However, if the imported Transporter ID is incorrect please contact Hera Support with the chat in the lower right corner and we'll get it resolved. We recommend you contact us before continuing this import.` ,
            disableTranspoterId: true,
            selectedRow: null
        }
    },
    methods:{
        importData(scope, tag){
            return (scope.row[tag.storage]||{}) || []
        },
        rowClassName(row){
            if(row.rowHasChildren) return 'bg-red-500'
            return 'align-baseline'
        },
        staffNameSort(a,b){
            if( a.staff.importName < b.staff.importName ) return -1
            else if( a.staff.importName > b.staff.importName ) return 1
            else return 0
        },
        overwriteTransporterID(row) {
            return row.staff.id && row.staff.importTransporterId !== row.staff.matchTransporterId && row.staff.matchTransporterId !== 'No Transporter ID'
        },
        onSelectChange(e){
            let row = e.row
            let value = e.value
            row.staff.id  = value
            this.selectStaff(row)
        },
        /**
         * Updates the scorecard with the selected staff id and updates staff id with transporter id.
         */
        async selectStaff(row){
       
          //See if quick add was selected
          if(row.staff.id == 'addNew'){
            row.staff.id = null
            this.openStaffModal(row)
            return
          }        
          else{
            // update alternate names for row
            var staffMatch = this.activeAssociateList.find((staff) => {
              return staff.id == row.staff.id
            })
            row.staff.alternateNames = staffMatch ? staffMatch.alternateNames : null
            row.staff.matchTransporterId = staffMatch && staffMatch.transporterId ? staffMatch.transporterId : 'No Transporter ID'
            row.staff.matchStatus =  staffMatch ? staffMatch.status : ''
            // remove suggestion found text if different option selected
            row.staff.suggestionFound = false
          }
        },
        
        /**
         * Opens the modal form to add a new DA
         */
        openStaffModal(row){
            let name, lastname

            if(row.staff.importName === "(No Name Imported)"){
                name = ''
                lastname = ''
            }else{
                let nameArray = row.staff.importName.split(" ")
                name = this.toTitleCase(nameArray[0])
                lastname = this.toTitleCase(nameArray[nameArray.length - 1])
            }

            let transporterId = row.staff.importTransporterId
            this.selectedRow = row
            this.formFields = {
                status: 'Active',
                firstName: name,
                lastName: lastname,
                email: '',
                phone: '',
                transporterId: transporterId,
                dlExpiration: '',
                authorizedToDrive: {}
            }
            this.disableTranspoterId = !!transporterId
            if(this.$refs.addDaForm) this.$refs.addDaForm.$refs.form.clearValidate()
            this.associateOpenCreate()
        },
        
        /**
         * Validates, create a DA and react with the view
         */
         async handleAssociateSave(another, item, notCreated) {

            try {

                let newDa = null

                if(item){

                    newDa = item
                    if(!item.authorizedToDrive){
                        item.authorizedToDrive = { items: [], nextToken: null }
                    }

                    if(!notCreated){
                        delete item.id
                        this.formFields = item
                        newDa = await this.validateForm('create',false)
                    }

                    this.activeAssociateList.push(newDa)  
                    this.selectedRow.staff.id = newDa.id
                    this.selectStaff(this.selectedRow)
                    this.selectedRow = null
                }

                this.associateCancelSave(another)

                }catch(e){     
                    console.log(e)
                    this.displayUserError(e)
                }
            }, 
    },
}
</script>
<style>
    .align-baseline td{
        vertical-align: baseline !important;
    }
    .break-next-line {
        @apply whitespace-normal w-full flex
    }
   .el-table__row.el-table__row--level-1 .selection-with-children .cell{
        visibility: hidden !important;
    }
    .match-table .el-table .cell{
        min-height: 32px !important;
    }
    .select-da-cell{
        padding-top: 9px !important;
    }
    .importing-from-cell{
        padding-top: 13px !important;
        vertical-align: top !important;
    }
    .invalid-select.el-select .el-input .el-input__inner{
        @apply border-red-500 border-2 !important;
    }

    .border-disabled.el-select .el-input .el-input__inner {
        @apply border-red-500;
    }
</style>