<template>
    <div class="col-span-12" v-show="!allImportsDisabled">
        <el-form class="file-upload-form">
            <!-- SKELETON LOADER -->
            <div v-if="loading" class="relative bg-white card mb-0 col-span-12 md:col-span-12 lg:col-span-12 h-33 py-4 mb-6 px-4">
                <div class="animate-pulse">
                    <div class="space-y-2 py-2">
                        <div class="h-3 bg-gray-400 rounded w-4/5"/>
                        <div class="h-3 bg-gray-400 rounded w-1/5"/>
                        <div class="h-3 bg-gray-400 rounded w-3/5"/>
                        <div class="h-3 bg-gray-400 rounded w-full"/>
                    </div>
                </div>
            </div>
            <el-form-item v-else> 
                <div class="w-full flex" >
                    <label
                    class="fileContainer w-full h-32 bg-opacity-50 text-center" >
                    <div class="uil-file text-5xl"></div>
                    <div class="break-normal">{{dropText}}</div>
                    <input 
                        id="FileUpload"
                        type="file" 
                        :multiple="multiple"
                        :accept="accept"
                        @change="change" 
                        class="align-middle">
                    </label>
                </div>
            </el-form-item>
            <template v-for="(tip, i) in tips">
                <div :key="i" class="text-sm text-gray-600 " :class="{'-mt-4':i===0}" v-html="tip"/>
            </template>
        </el-form>
    </div>
</template>
<script>
export default {
    props:['dropText','accept','loading','tips','multiple','systemData'],
    data() {
        return {}
    },
    computed: {
        allImportsDisabled(){
            if(this.systemData)
                return this.systemData.importNetradyneDisabled 
                && this.systemData.importMentorDisabled 
                && this.systemData.importEocDisabled
            return false //in case of custom daily roster by custom file it needs to be false here. 
        },
    },
    methods:{
        change(evt){
            this.$emit('change', evt)
        }
    }
}
</script>
<style>
    .file-upload-form .fileContainer{
        @apply  text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base break-words !important;
    }
    .file-upload-form .fileContainer-disabled{
        @apply  opacity-50 cursor-not-allowed !important;
    }
    .file-upload-form .fileContainer-disabled [type=file]{
        @apply cursor-not-allowed !important;
    }
</style>