<template>
    <div
        class="w-full stealthFileContainer h-full absolute top-0 left-0" 
        ref="drop"
        :class="{'bg-white opacity-100 bg-opacity-70 border-4 border-gray-600 border-dashed z-40': isOver, 'z-0  opacity-0 ': !isOver}">
        <label
            class="flex h-full items-center break-normal text-4xl text-gray-900 text-center">
            <div class="w-full">Drop files here</div>
            <input 
                data-cy="attach-file"
                id="FileUpload"
                name="FileUpload"
                type="file"
                multiple
                :accept="accept"
                onclick="return false"
                @change="change" 
                class="align-middle text-invisible">
        </label>
    </div>
</template>
<script>
export default {
    props:['accept'],
    data() {
        return{
            isOver: false
        }
    },
    methods:{
        handleOverTrue(){
            this.isOver = true
        },
        handleOverFalse(){
            this.isOver = false
        },
        change(evt){
            this.isOver = false
            this.$emit('change', evt)
        }
    },
    mounted(){
        // add the needed event listeners to the container
        this.$refs.drop.addEventListener("dragover", this.handleOverTrue);
        this.$refs.drop.addEventListener("drop", this.handleOverFalse);
        this.$refs.drop.addEventListener("dragleave", this.handleOverFalse); 
    },
    beforeDestroy(){
        this.$refs.drop.removeEventListener("dragover", this.handleOverTrue);
        this.$refs.drop.removeEventListener("drop", this.handleOverFalse);
        this.$refs.drop.removeEventListener("dragleave", this.handleOverFalse); 
    }
}
</script>