<template>
  <div>
    <!--Table-->
    <el-table
      ref="table"
      empty-text="No Counselings"
      :data="tableData"
      @row-click="handleRowClick"
      row-class-name="table-row"
>
      

      <el-table-column
        label="Date"

        prop="date">
        <template slot-scope="scope">
          <p v-if="scope.row.date != null">
            {{ scope.row.date | date }}
          </p>
        </template>
      </el-table-column>

      <el-table-column
        label="First Name"

        prop="employeeFirstName">
        <template slot-scope="scope">
          {{ scope.row.staff.firstName | text }}
        </template>
      </el-table-column>

        <el-table-column
        label="Last Name"

        prop="employeeLastName">
        <template slot-scope="scope">
          {{ scope.row.staff.lastName | text }}
        </template>
      </el-table-column>

      <el-table-column
        label="Counseling Description"
        width="200"
        class="truncate">
        <template slot-scope="scope" class="truncate">
          <p class="truncate width-180-px">{{ (scope.row.createdFrom||scope.row.counselingNotes) | text }}</p>
        </template>
      </el-table-column>

      <el-table-column
        label="Counseling Severity"
        sortable
        prop="severity"
        width="200"
        >
        <template slot-scope="scope">
          {{ scope.row.severity.option }}
        </template>
      </el-table-column> 

      <el-table-column align="right" width="50">
        <template>
          <i class="el-icon-arrow-right"></i>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
    export default {
        props:['tableData'],
        methods:{
          handleRowClick(row, column, event){
              this.$router.push({name: 'CounselingDetail', params: { counselingId: row.id }})    
          },
        }
    }
</script>
<style scoped>

.table-row td{
  word-break: break-word;
}
.el-table .cell{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.width-180-px{
  width: 180px !important;
}
</style>