<template>
    <div>
        <el-table
            v-show="!loading"
            ref="table"
            :empty-text="`No unassigned ${$t('label.associate')} Issues`"
            :data="infractionList"
            @selection-change="handleSelectionChange"
            style="width: 100%"
            class="mobile-wrap-table"
            height="24rem"
            >

            <el-table-column
                type="selection"
                width="55">
            </el-table-column>

            <el-table-column
                label="Date"
                prop="date"
                sortable>
                <template slot-scope="scope">
                    {{scope.row.date | date_timezone}}
                </template>
            </el-table-column>

            <el-table-column
                label="Time"
                prop="time">
                <template slot-scope="scope">
                    {{scope.row.time}}
                </template>
            </el-table-column>

            <el-table-column
                :label="`${$t('label.associate')} Issue Type`"
                prop="infractionType">
                <template slot-scope="scope">
                    {{`${scope.row.type ? scope.row.type.option : scope.row.infractionType}`}}
                </template>
            </el-table-column>

            <el-table-column
                label="Comments"
                prop="comment">
                <template slot-scope="scope">
                    {{scope.row.comment}}
                </template>
            </el-table-column>

        </el-table>

    </div>
</template>

<script>
import { infractionsByStaff } from '@/graphql/queries'

export default {
    props:['staffID'],
    data(){
        return{
            loading: false,
            infractionList: [],
            selected: [],
        }
    },

    watch:{
        staffID: function(){
            this.loadData()
        }
    },

    mounted(){
        this.loadData()
    },

    methods: {
        loadData: async function(){
            this.loading = true
            try{

                var input = {
                    staffId: this.staffID,
                    sortDirection: "ASC"
                }
                this.infractionList = [];
                var result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                this.infractionList = result.filter((infraction => infraction.counseling == null));
                this.selected = [];
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }
        },

        /**
         * Handles updating selected array when row checkboxes are clicked
         * @param {Array} val Array of table rows selected
         */
        handleSelectionChange(val) {
            this.selected = val;
            this.$emit('update-selected', this.selected);
        }
    }
}
</script>
<style>
  @media (max-width: 768px) {
    .mobile-wrap-table th div,
    .mobile-wrap-table td div {
      @apply p-1 !important
    }
  }
</style>