<template>
    <div data-cy="da-issue-information-form" v-loading="loading">

        <el-form label-width="auto" label-position="top" :model="formData" class="pb-0" :rules="rules" ref="form">

            <!-- DA Issue Information -->
            <div class="card mt-4">
                <p class="card-title">{{$t('label.associate')}} Issue Information</p>
                <div class="flex flex-wrap space-x-4">
                    <el-form-item class="flex-auto" :label="`${$t('label.associate')} Issue Type`" prop="infractionTypeId">
                        <CustomListsOptionsSelect
                            v-model="formData.infractionTypeId"
                            filterable
                            class="w-full"
                            data-cy="da-issue-type-sel"
                            ref="infractionTypeIdSelect"
                            listType="issue-type"
                            linkText="+ Add New Associate Issue Type"
                            :placeholder="`Select ${$t('label.an_associate')} issue type`"
                            :customListEnabledArgs="[isCreationForm, formData.infractionTypeId, [], hiddenOption]"
                        />
                    </el-form-item>

                    <el-form-item class="flex-auto" :label="`${$t('label.associate')} Name`" prop="staff">
                        <el-select
                            data-cy="da-name-sel"
                            v-model="formData.staff.id"
                            :placeholder="`Select ${$t('label.an_associate')}`"
                            class="w-full"
                            :disabled="formData.id !=null || preloadInformationReportBlitz != null"
                            filterable>

                            <el-option
                                v-for="item in staffList"
                                :key="item.id"
                                :label="item.firstName + ' ' + item.lastName"
                                :value="item.id">
                                <span style="float: left">{{ item.firstName + ' ' + item.lastName }} ({{ item.status }})</span>
                            </el-option>
                        </el-select>
                    </el-form-item>


                    <!-- DATE -->
                    <el-form-item label="Date of Occurrence" prop="date">
                        <DatePicker data-cy="date-of-occurence-dpk" :selectedDate="formData.date" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'date')" />
                    </el-form-item>

                    <el-form-item class="flex-auto" label="Time" prop="time">
                        <el-input
                            data-cy="time-in"
                            v-model="formData.time"
                            placeholder="Enter a time"
                            class="w-full"/>
                    </el-form-item>
                </div>

                <el-form-item label="Additional Information" prop="comment">
                    <el-input 
                        data-cy="additional-info-in"
                        type="textarea"
                        :autosize="{ minRows: 3 }" 
                        v-model="formData.comment"/>
                </el-form-item>
            </div>

            <div v-if="isSpecificInfraction(formData.infractionTypeId)">
                <!-- Infraction Information -->
                <div class="card">
                    <p class="card-title">{{infractionName}} Information</p>

                    <div class="flex space-x-4">
                        <el-form-item class="flex-auto" label="Violation or Defect" prop="infractionTier">
                            <el-select
                                data-cy="av-di-type-sel"
                                v-model="formData.infractionTier"
                                placeholder="Select a type"
                                class="w-full"
                                @change="handleTierChange">
                                <el-option label="Violation" value="Violation"/>
                                <el-option label="Defect" value="Defects"/>
                            </el-select>
                        </el-form-item>

                        <el-form-item class="flex-auto" label="Station" prop="station">
                            <el-input
                                data-cy="station-id-in"
                                v-model="formData.station"
                                placeholder="Enter a station ID "/>
                        </el-form-item>

                        <el-form-item class="flex-auto" label="Tracking Number" prop="Tracking Number">
                            <el-input
                                data-cy="tracking-number-in"
                                v-model="formData.trackingNumber"
                                placeholder="Enter a tracking number"/>
                        </el-form-item>
                    </div>

                    <el-form-item  prop="infractionDescription" v-if="formData.infractionTier != null && formData.infractionTier != ''">
                        <label class="infractionLabel">{{infractionTypeLabel}}</label>
                        <el-select
                            data-cy="infraction-type-form-sel"
                            v-if="formData.infractionTier == 'Violation'"
                            v-model="formData.infractionDescription"
                            placeholder="Select a violation type"
                            class="w-full">
                            <el-option
                                v-for="item in valueListActivesOnly(valuelists('infraction-description-violation').items)"
                                :key="item.value"
                                :label="item.value"
                                :value="item.value">
                            </el-option>
                        </el-select>

                        <el-select
                            data-cy="infraction-type-form-sel"
                            v-else-if="formData.infractionTier == 'Defects'"
                            v-model="formData.infractionDescription"
                            placeholder="Select a defect type"
                            class="w-full">
                            <el-option
                                v-for="item in valueListActivesOnly(valuelists('infraction-description-defects').items)"
                                :key="item.value"
                                :label="item.value"
                                :value="item.value">
                            </el-option>
                        </el-select>

                        <el-select
                            data-cy="infraction-type-form-sel"
                            v-else
                            v-model="formData.infractionDescription"
                            placeholder="Select an infraction type"
                            class="width-full">
                            <el-option
                                v-for="item in emptyArr"
                                :key="item.value"
                                :label="item.value"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Picture Of Delivery">
                        <div v-if="formData.documents.items.length > 0">
                            <div v-for="document in formData.documents.items" :key="document.id" class="flex space-x-4 w-full">
                                <el-tag 
                                    type="info"
                                    effect="plain"
                                    class="flex-auto form-file-uploaded ellipsis">
                                    {{document.name}}
                                </el-tag>
                                <div class="flex-auto">
                                    <i 
                                        title="Download POD"
                                        @click="downloadFile(document.key)"
                                        class="icon-button uil uil-import hover:text-brand"/>
                                    <i 
                                        title="Delete POD"
                                        @click="handleDocumentRemove(document.key, document.id, 'picture of delivery')"
                                        class="icon-button uil uil-trash-alt hover:text-red-500"/>
                                </div>
                            </div>
                        </div>

                        <div class=" flex" v-else-if="(pod.fileName != null || pod.file != null || fileUploadEvent != null)">
                            <el-tag 
                                type="info"
                                effect="plain"
                                class="flex-auto form-file-uploaded ellipsis">
                                {{ pod.fileName }}
                            </el-tag>
                            <i 
                                @click="handleRemove()"
                                class="icon-button uil-trash-alt ml-4 hover:text-red-500"/>
                        </div>

                        <div v-else-if="pod.fileName == null || fileUploadEvent == null">
                            <label class="fileContainer w-full h-32 -mb-4 bg-opacity-50 text-center">
                                <div class="uil-file text-5xl"></div>
                                <div>Drop picture of delivery here or click to upload</div>
                                <input data-cy="picture-of-delivery-up" id="FileUpload" type="file" @change="(e) => {insertDocumentForUpload(e, '/picture-of-delivery/')}" class="align-middle">
                            </label>
                        </div>
                    </el-form-item>
                </div>

                <!-- Appeal Information -->
                <div class="card">
                    <p class="card-title">Appeal Information</p>
                    <div class="flex justify-between space-x-4">

                        <el-form-item class="flex-auto" label="Appeal Date" prop="appealDate">
                            <el-date-picker
                                data-cy="pick-a-day-dpk"
                                v-model="formData.appealDate"
                                type="date"
                                placeholder="Pick a day "
                                format="MM/dd/yyyy"/>
                        </el-form-item>

                        <el-form-item class="flex-auto" label="Resolved Date" prop="resolvedDate">
                            <el-date-picker
                                data-cy="resolved-date-dpk"
                                v-model="formData.resolvedDate"
                                type="date"
                                placeholder="Pick a day"
                                format="MM/dd/yyyy"/>
                        </el-form-item>

                        <el-form-item class="flex-auto" label="Appeal Status" prop="appealStatus">
                            <el-select
                                data-cy="appeal-status-sel"
                                v-model="formData.appealStatus"
                                placeholder="Select a status">
                                <el-option label="Pending" value="Pending"/>
                                <el-option label="Approved" value="Approved"/>
                                <el-option label="Denied" value="Denied"/>
                            </el-select>
                        </el-form-item>
                    </div>

                    <el-form-item class="flex-auto" label="Appeal Notes" prop="appealNotes">
                        <el-input 
                            data-cy="appeal-notes-txa"
                            type="textarea"
                            :autosize="{ minRows: 3 }" 
                            v-model="formData.appealNotes"/>
                    </el-form-item>
                </div>
            </div>
                
        </el-form>

        <!--Footer-->
        <ButtonGroupWrapper class="flex pt-4 mt-8 justify-end">
            <template slot-scope="{disabled, setDisabled}">
                <!-- span to trigger reactivity inside slot cope -->
                <span hidden>{{ loading }}</span>
                <el-button
                    :disabled="disabled || loading"
                    @click="handleCancel"
                >
                    Cancel
                </el-button>
                <ButtonWrapper
                    v-if="hasStaffManagement"
                    type="primary"
                    data-cy="da-issue-create-btn"
                    :clickHandler="validateForm"
                    :handlerArgs="[formAction]"
                    :disabled="disabled || loading"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    {{buttonText}}
                </ButtonWrapper>
                <PremiumWarningButton v-else :buttonText="buttonText" action="create or edit" :premiumFeature="$t('label.associate')+' management'"/>
            </template>
        </ButtonGroupWrapper>



        <!--CREATE COUNSELING MODAL-->
        <el-dialog
            :title="`Create ${$t('label.associate')} Issue`"
            :visible.sync="createCounselingModal"
            width="600px"
            >
            <p class="break-normal">Would you like to also create a pending counseling record with this {{$t('label.associate')}} issue?</p>
            <span slot="footer" class="dialog-footer">
                <el-button @click="createCounselingModal = false">Cancel</el-button>
                <ButtonWrapper type="primary" :clickHandler="createInfraction">No</ButtonWrapper>
                <ButtonWrapper v-if="$store.getters.hasPerformanceCoaching" type="primary" :clickHandler="createCounselingAndInfraction">Yes</ButtonWrapper>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                    <el-button class="opacity-50" type="primary" slot="reference">Yes</el-button>
                    <PremiumWarning
                        action="create counselings with DA Issues"
                        premiumFeature="performance and coaching">
                    </PremiumWarning>
                </el-popover>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import { Storage } from 'aws-amplify'
import { getInfraction } from '../queries'
import { getInfractionUpdatedTimestamp } from '@/utilities/timestampQueries'
import { createCounseling, createInfraction, updateInfraction, createDocument, updateDocument, deleteDocument } from '@/graphql/mutations'
import { staffsByGroup } from '@/views/Staff/queries';
import Validator from '@/utilities/FormValidator'
import PremiumWarning from '@/components/PremiumWarning'
import {getRoute} from '../queries.js'
import { ISSUE_TYPE_CREATE_ISSUE } from '@/utilities/constants/defaultSectionsByCustomList';
import { HIDDEN_ISSUE_TYPE_CREATE_ISSUE } from '@/utilities/constants/hiddenSecctionForCustomList';
import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
import { COUNSELING_STATUS_NOT_SENT } from '@/utilities/constants/counseling';
import PremiumWarningButton from '@/components/PremiumWarningButton';
import DatePicker from '@/components/Datepicker';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import { valueMapping } from "@/utilities/constants/oldIssueOrKudoValues";
import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect.vue'

export default {
    name: 'DaIssueForm',
    props: ['staffID', 'infractionID', 'reportBlitz', 'infractionType'],
    components: {
        PremiumWarning,
        PremiumWarningButton,
        DatePicker,
        ButtonWrapper,
        ButtonGroupWrapper,
        CustomListsOptionsSelect,
    },
    data(){
        return{
            formData: {
                infractionTier: '',
                station: '',
                date: '',
                trackingNumber: '',
                time: '',
                infractionDescription:'',
                comment:'',
                appealDate:null,
                resolvedDate: null,
                appealStatus: null,
                appealNotes: null,
                staff: {
                    id: null,
                },
                documents: {
                    items: []
                },
                infractionTypeId: null
            },
            infractionName: '',
            fileUploadEvent: null,
            loading: true,
            staffList: [],
            emptyArr:[],
            pod: {},
            createCounselingModal: false,
            rules: {
                date: [
                    { required: true, message: 'Please enter a date', trigger: 'change' }
                ],
                time: [
                    {validator: Validator.timeNotConfirmed, trigger: 'blur' }
                ],
                staff: [
                    { required: true },
                    {validator: Validator.staff, trigger: 'change'}
                ]
            }
        }
    },
    mounted(){
        if(!this.valuelists('infraction-type').items.length){
            const _this = this
            this.$nextTick(()=>{
                setTimeout(()=>{
                    _this.loadData()
                }, 2000)
            })
        }else{
            this.loadData()
        }

        
        if(this.isCreationForm){
            //set default option
            this.formData.infractionTypeId = this.customListEnabled(this.issueTypeList).find(item => item.isDefaultForSections?.includes(ISSUE_TYPE_CREATE_ISSUE))?.id;
        }
       
    },

    computed:{
        ...mapState(['userInfo']),
        ...mapGetters([
            'hasStaffManagement',
            'counselingSeverityTypeList',
            'issueTypeList'
        ]),

        hiddenOption() {
            return HIDDEN_ISSUE_TYPE_CREATE_ISSUE;
        },

        formAction() {
            return (this.formData.id)? 'update':'create';
        },

        infractionTypeLabel(){
            return (this.formData.infractionTier == 'Violation') ? "Violation type" : "Defect type"
        },
        preloadInformationReportBlitz(){
            return this.reportBlitz?.routeId
        },
        
        buttonText(){
            return this.formData.id ? 'Update': 'Create'
        },

        isCreationForm(){
            return this.formData.id ? false : true
        },

    },

    methods: {
        isSpecificInfraction(infractionTypeId){
            const infraction = this.issueTypeList.find(item => item.id === infractionTypeId);
            if(!infraction) return false;
            this.infractionName = infraction.option;
            if(this.infractionName != 'Amazon Violation/Defect' && this.infractionName != 'Infraction'){
                this.formData.infractionTier = null
                this.formData.station = null
                this.formData.trackingNumber = null
                this.formData.infractionDescription = null
                this.formData.appealDate = null
                this.formData.resolvedDate = null
                this.formData.appealStatus = null
                this.formData.appealNotes = null
                this.pod = {}
                this.fileUploadEvent = null
            }
            return this.infractionName === 'Amazon Violation/Defect' || this.infractionName === 'Infraction';
        },

        handleDateSelected(date, model) {
            this.formData[model] = date
        },

        valuelists(key){
            return this.$store.state.valuelists[key] || { items: [] }
        },

        /**
         * Delete the index and the S3 object.
         * @param {string} objectKey S3 key of file to delete
         * @param {number} id index of item to remove from array
         */
        async commitDocumentDeleteFile(objectKey, id) {
            var result = await Storage.remove(objectKey)
            var deleteResult = await this.api(deleteDocument, {input:{ id: id}} )
            this.loadData()
        },


        /**
         * Confirms if user wants to create a counseling record too
         */
        confirmCreateInfraction(){
            this.$confirm(`Would you like to create a pending counseling record with this ${this.$t('label.associate')} issue?`, 'Warning', {
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                type: 'warning'
            }).then(() => {
                this.createCounselingAndInfraction()          
            }).catch(() => {
                this.createInfraction()       
            });
        },


        /**
         * Creates counseling record in DB creates infraction in DB
         */
        async createCounselingAndInfraction(){
            this.createCounselingModal = false
            try{
                this.loading = true
                let message = '';
                if(this.infractionName == 'Amazon Violation/Defect' || this.infractionName == 'Infraction'){
                    message  = `${this.$t('label.associate')} issue type of ${this.infractionName}. ${this.formData.infractionDescription}. ${this.formData.comment}`
                }else{
                    message = `${this.$t('label.associate')} issue type of ${this.infractionName}. ${this.formData.comment}`
                }
                var input = {
                    date: this.formData.date || new Date(),
                    counselingUserId: this.$store.state.userInfo.id,
                    group: this.$store.state.userInfo.tenant.group,
                    counselingStaffId: this.formData.staff.id,
                    counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
                    status: COUNSELING_STATUS_NOT_SENT,
                    createdFrom: `${this.$t('label.associate')} Issue Form (${message})`,
                    tenantId: this.$store.state.userInfo.tenant.id
                }

                var result = await this.api(createCounseling, {input: input})
                var counselingID = result.data.createCounseling.id

                await this.createInfraction(counselingID)
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }
            finally{
                this.loading = false
            }
        },


        /**
         * Uploads document to S3 then creates document record in DB
         */
        async createDocument(infractionID, document, staffName){
            try{
                // Upload file to S3
                var path = document.path;
                var fileType = document.fileType
                var fileName = document.fileName
                var timestamp = String(Date.now())
                var object = await Storage.put(this.userInfo.tenant.group + path + staffName + '/' + timestamp + "/" + fileName, document.file)

                //Create DB Record
                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: fileType,
                    key: object.key,
                    documentInfractionId: infractionID
                }

                var result = await this.api(createDocument, {input: input})
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }
        },


        /**
         * Creates infraction record in DB
         */
        async createInfraction(counselingID){
            this.createCounselingModal = false
            this.loading = true
            var infraction = {...this.formData}
            var staffID = infraction.staff.id;
            delete infraction.staff
            delete infraction.documents

            var input = {
                ...infraction,
                infractionStaffId: staffID, 
                staffId: staffID,
                group: this.$store.state.userInfo.tenant.group,
                infractionCounselingId:counselingID,
            }
            
            if(this.preloadInformationReportBlitz){
                input.infractionRouteId = this.reportBlitz.routeId
            }
            if(!counselingID){
                delete input.infractionCounselingId
            }
            input = this.cleanInfractionInput(input)
            
            try{
                var result = await this.api(createInfraction, {input});
                var infractionID = result.data.createInfraction.id;

                //Upload document if one is present
                if(this.pod != null && JSON.stringify(this.pod) != "{}"){
                    var staffName = result.data.createInfraction.staff.firstName + "_" + result.data.createInfraction.staff.lastName;
                    await this.createDocument(infractionID, this.pod, staffName );
                }
                this.$message.success(`${this.$t('label.associate')} issue created successfully.`);
                this.$router.push({name: 'DaIssueIndex'})
            }
            catch(e){
                this.displayUserError(e)
                throw(e)
            }
            finally{
                this.loading = false
            }

        },


        /** 
        * Prompts user if vehicle should really be deleted
        * @param {string} objectKey S3 key of file to delete
        * @param {number} id index of item to remove from array
        * @param {number} type type of docment to remove
        */
        async handleDocumentRemove(objectKey, id, type){
            this.$confirm('This will permanently delete this ' + type.toLowerCase() + '. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
            this.commitDocumentDeleteFile(objectKey, id)          
            }).catch(() => {
            console.log("canceled delete")         
            });
        },


        /**
         * Clears out infractionDescription on tier change
         */
        handleTierChange(){
            this.formData.infractionDescription = null;
        },


        /**
         * Returns to last visited page
         */
        handleCancel: function(){
            window.history.back()
        },


        /**
         * Clears out POD object
         */
        handleRemove(){
            this.pod = {}
            this.fileUploadEvent = null;
        },


        /**
         * Insert document in pod object
         */
        insertDocumentForUpload: function(e, path){
            var files = e.target.files || e.dataTransfer.files;
            var file = files[0]
            var fileType = file.type
            var fileName = file.name

            this.pod.file = file;
            this.pod.fileType = file.type
            this.pod.fileName = file.name
            this.pod.path = path
            this.fileUploadEvent = e
            
        },


        /**
         * Loads formData from graphQL or from props
         */
        async loadData(){
            this.loading = true;
            var input = {
                group: this.userInfo.tenant.group
            }
            try{


                // TO SELECT DA WHO WERE RESCUED
                if(this.preloadInformationReportBlitz){
                    const input = {
                        id: this.reportBlitz.routeId,
                        infractionSortDirection: "DESC",
                        infractionLimit: 10,
                        infractionNextToken: this.nextToken
                    }
                    const response = await this.api(getRoute, input)
                    const route = response.data.getRoute
                    const rescuedStaff = route.staff
                    this.staffList = [rescuedStaff]
                    this.formData.staff.id = rescuedStaff.id
                    this.formData.date = this.reportBlitz.date
                    //this.formData.infractionType = "Rescued DA"
                    this.formData.infractionTypeId = this.issueTypeList.find(item => item.option === "Rescued DA")?.id;
                    return  // To end loadData function
                }

                //POPULATE STAFF LIST AND FORM DATA
                const ListStaff = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');
                this.staffList = !this.infractionID ? ListStaff.filter((elem)=> elem.status != 'Inactive - Terminated') : ListStaff

                if(!this.infractionID){
                    if(this.staffID){
                        this.formData.staff.id = this.staffID
                    }
                    
                    this.formData.date = new Date(new Date().setHours(0,0,0,0))
                    this.loading = false;
                }
                else{
                    //editing
                    var input = {
                        id: this.infractionID
                    }

                    var result = await this.api(getInfraction, input)
                    this.formData = {
                        ...result.data.getInfraction,
                        infractionTypeId: null
                    }
                    if(this.formData.type){
                        this.formData.infractionTypeId = this.formData.type?.id
                    }else{
                        //functionality to edit old records
                        const infractionType = valueMapping[this.formData.infractionType] || this.formData.infractionType
                        this.formData.infractionTypeId = this.issueTypeList.find(item => item.option === infractionType)?.id
                    }
                    this.formData.date = this.$moment(this.formData.date.split('T')[0]).format('MM/DD/YYYY');
                }
               
                if(this.infractionType){
                    const optionFound = this.issueTypeList.find(item => item.option === this.infractionType)
                    if(optionFound && !optionFound?.isEnabled){
                        this.$refs.infractionTypeIdSelect.focus()
                        const message = `It has not been possible to select the "${optionFound?.option}" option because it is disabled.`
                        this.displayUserError(message)
                    }else{
                        this.formData.infractionTypeId = optionFound?.id;
                    }
                }
                this.formData.date = this.convertUtcToLocalFormat(this.formData.date)

            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }
        },


        /**
         * Update infraction record in DB
         */
        async updateInfraction(){
            this.loading = true
            var timestamp = this.formData.updatedAt
            var infraction = {...this.formData}
            var staffID = infraction.staff.id;
            var date = infraction.staff.date || this.formData.date
            delete infraction.staff
            delete infraction.date
            delete infraction.type

            var dateObj = new Date(date)
            var dateISOFormat = dateObj.toISOString()

            var input = {
                ...infraction,
                infractionStaffId: staffID, 
                staffId: staffID,
                group: this.$store.state.userInfo.tenant.group,
                date: dateISOFormat
            }
            
            input = this.cleanInfractionInput(input)
            input.updatedAt = timestamp
            
            try{
                const optionFound = this.issueTypeList.find(item => item.id === input.infractionTypeId)
                if(optionFound && !optionFound?.isEnabled){
                    this.$refs.infractionTypeIdSelect.focus()
                    throw { message: this.optionDisabledMessage(optionFound.option) }
                }
                var result = await this.api(updateInfraction, {input: input}, getInfractionUpdatedTimestamp, 'getInfraction');
                var infractionID = result.data.updateInfraction.id;

                //Upload document if one is present
                
                if(this.pod != null && JSON.stringify(this.pod) != "{}"){
                    var staffName = result.data.updateInfraction.staff.firstName + "_" + result.data.updateInfraction.staff.lastName;
                    await this.createDocument(infractionID, this.pod, staffName );
                }

                this.$message.success(`${this.$t('label.associate')} issue updated successfully.`);
                this.$router.push({name: 'DaIssueIndex'})
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }

        },


        /** Validate the form and continue to add record if valid */
        async validateForm(mutation){
            try{
                await this.$refs["form"].validate()
                if(mutation == "create"){
                    this.createCounselingModal = true;
                }
                else{
                    await this.updateInfraction();
                }
                    
            }catch(e){
                this.displayUserError("Please fill out all required fields.")
            }
        },
    }
}
</script>
<style scoped>
.infractionLabel {
    color: #606266;
}
.el-select, .el-date-editor{
        @apply w-full !important;
    }
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    @apply w-full !important;
}
.fileContainer{
    @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
}
img{
    transition: .5s ease;
    display: inline;
}
</style>