<template>
    <div>
        <el-form :model="formData" label-width="0px" class="py-2 px-3" ref="form" :rules="rules">
            <div class="flex flex-col  md:flex-row  md:space-x-4">
                <el-form-item prop="infractionTypeId" class="associate-issue-type-form-item flex-2">
                    <CustomListsOptionsSelect
                        v-model="formData.infractionTypeId"
                        size="small"
                        class="associate-issue-type-select"
                        listType="issue-type"
                        linkText="+ Add New Associate Issue Type"
                        :placeholder="`Select ${$t('label.an_associate')} issue type`"
                        :customListEnabledArgs="[false, formData.infractionTypeId, [], hiddenSection]"
                    />
                </el-form-item>
                <div class="flex-1 flex-col md:flex-row md:space-x-4">
                 <div class="flex justify-between items-center md:justify-evenly associate-issue-type-time-select">
                  <el-form-item prop="date" class="associate-issue-type-form-item">
                    <el-date-picker
                        v-model="formData.date"
                        type="date"
                        placeholder="Pick a day"
                        size="small"
                        format="MM/dd/yyyy"
                        class="width-9-rem"
                    />
                  </el-form-item>

                  <el-form-item prop="time" class="associate-issue-type-form-item">
                    <el-input
                        v-model="formData.time"
                        placeholder="Enter a time"
                        size="small"
                        class="width-9-rem"
                    />
                  </el-form-item>
                 </div>
                </div>
                <el-form-item class="associate-issue-type-form-item flex-2">
                    <el-button type="text" @click="removeInfraction" class="">
                        Remove
                    </el-button>
                </el-form-item>
            </div>
            <div class="margin-bottom-1">
                <el-form-item prop="notes">
                    <el-input 
                        type="textarea"
                        :autosize="{ minRows: 2 }" 
                        v-model="formData.comment"
                        placeholder="Comments"
                        size="small"
                    />
                </el-form-item>
            </div>
        </el-form>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { HIDDEN_ISSUE_TYPE_CREATE_ISSUE } from '@/utilities/constants/hiddenSecctionForCustomList';
import Validator from '@/utilities/FormValidator'
import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect.vue';

export default {
    props: ['formData', 'index'],
    components: {
        CustomListsOptionsSelect,
    },
    data(){
        return{
            rules: {
                date: [
                    { type: 'date', required: true, message: 'Please enter a date', trigger: 'blur' }
                ],
                time: [
                    {validator: Validator.timeNotConfirmed, trigger: 'blur' }
                ]
            }
        }
    },
    computed:{
        ...mapState([
        'userInfo',
        'valuelists'
        ]),

        hiddenSection(){
            return HIDDEN_ISSUE_TYPE_CREATE_ISSUE
        }
    },
    methods:{
        removeInfraction(){
            //NEED TO CHECK CREATED AT FIELD
            if(this.formData.createdAt != null && this.formData.createdAt != '' && this.formData.createdAt != undefined){
                var message = `This will remove the ${this.$t('label.associate')} issue from this counseling record but will not delete it.`
            }
            else {
                var message = `This will remove the ${this.$t('label.associate')} issue from this counseling record and delete it from the system as it has not been saved before.`
            }
            this.$confirm('Would you like to remove this ' + this.$t('label.associate') + ' issue from the counseling record? ' + message, 'Warning', {
              confirmButtonText: 'Remove', 
              cancelButtonText: 'Cancel', 
              type: 'warning'
            }).then(() =>{
                this.$emit('remove-infraction', this.index)
            }).catch((e)=>{
                return
            })
            
        }
    }
}
</script>
<style scoped>

@media (max-width: 280px) {
    .associate-issue-type-time-select {
        @apply block !important;
      }
    }

@media screen and (max-width: 767px) {
    .associate-issue-type-select {
        @apply w-full !important;
     }
    .associate-issue-type-form-item {
        @apply mb-3 !important;
     }
    }

@media screen and (min-width: 768px) {
    .associate-issue-type-select {
        @apply w-72 !important;
     }
    .associate-issue-type-form-item {
        @apply mb-8 !important; 
     }
    }
.width-18-rem{
    @apply w-72 !important;
}
.width-9-rem{
    @apply w-34 !important;
}
.margin-bottom-3{
    @apply mb-3 !important;
}
.margin-bottom-5{
    @apply mb-5 !important;
}
.margin-bottom-8{
    @apply mb-8 !important;
}
.margin-bottom-1{
    @apply mb-1 !important;
}
.el-date-editor{
    @apply w-34 !important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    @apply w-34 !important;
}
</style>