<template>
    <div>
        <el-form v-model="formData" label-width="auto" label-position="top">
            <div class="flex justify-between space-x-4">
                <el-form-item prop="infractionType" label="Infraction Type" class="margin-bottom-1 flex-auto non-edit-field-text-xs-text-black">
                    {{ formData.infractionType }}
                </el-form-item>

                <el-form-item prop="date" label="Date" class="margin-bottom-1 flex-auto non-edit-field-text-xs-text-black">
                    {{ formData.date | date_timezone}}
                </el-form-item>

                <el-form-item prop="time" label="Time" class="margin-bottom-1 flex-auto non-edit-field-text-xs-text-black">
                    {{ formData.time }}
                </el-form-item>
            </div>
            <div>
                <el-form-item prop="notes" label="Notes" class="non-edit-field-text-xs-text-black">
                    {{ formData.comment }}
                </el-form-item>
            </div>
            <div class="border-b-1 border-gray-600"/>
        </el-form>
    </div>
</template>

<script>
    export default {
        name: 'DaIssueListPrint',
        props: ['formData'],
    }
</script>

<style scoped>
    .width-18-rem{
        @apply w-72 !important;
    }
    .width-9-rem{
        @apply w-34 !important;
    }
    .margin-bottom-1{
        @apply mb-1 !important;
    }
</style>