<template>
    <div data-cy="da-issue-list-card">
        <el-table
            v-loading="loading"
            header-cell-class-name="table-header-cell"
            :default-sort = "{prop: 'date', order: 'descending'}"
            ref="table"
            class="data-table"
            :empty-text="`No ${$t('label.associate')} Issues`"
           
            :data="filteredDaIssues">

            <el-table-column
                label="Date of Occurrence"
                min-width="200"
                prop="date"
                sortable>
                <template slot-scope="scope">
                    {{scope.row.date | date_timezone}}
                </template>
            </el-table-column>

            <el-table-column
                v-if="!daIssuesList"
                label="Time"
                min-width="100"
                prop="time">
                <template slot-scope="scope">
                    {{scope.row.time | text}}
                </template>
            </el-table-column>

            <el-table-column
                v-if="!daIssuesList"
                :label="`${$t('label.associate')} Name`"
                min-width="160"
                sortable
                prop="daName">
                <template slot-scope="scope">
                    <div v-if="scope.row.staff">{{ scope.row.staff.firstName + ' ' + scope.row.staff.lastName | text }}</div>
                    <div v-else>—</div>
                </template>
            </el-table-column>

            <el-table-column
                :label="`${$t('label.associate')} Issue Type`"
                min-width="200"
                sortable
                prop="infractionType">
                <template slot-scope="scope">
                    {{ `${scope.row.type ? scope.row.type.option : scope.row.infractionType}` }}
                </template>
            </el-table-column>

            <el-table-column
                label="Comments"
                prop="comment"
                :width="commentsWidth">
                <template slot-scope="scope">
                    <div class="truncate" :style="'width:' + (parseInt(commentsWidth) - 16) + 'px'">{{scope.row.comment | text}}</div>
                </template>
            </el-table-column>

            <el-table-column
                v-if="!daIssuesList && hasCounselingSettings && $store.getters.hasPerformanceCoaching && hasCounselingManagement"
                label="Linked Counseling"
                min-width="165"
                prop="counseling">
                <template slot-scope="scope">
                    <div v-if="scope.row.counseling && scope.row.counseling.status" class="flex">
                        <span
                        class="font-bold rounded-full bg-opacity-10 px-3 text-xs truncate max-w-full flex-initial"
                        :class="{
                                 'text-purple-500' : scope.row.counseling.status === COUNSELING_STATUS_PENDING_SIGNATURE,
                                 'bg-purple-500' : scope.row.counseling.status === COUNSELING_STATUS_PENDING_SIGNATURE,
                                 'text-brand' : scope.row.counseling.status === COUNSELING_STATUS_NOT_SENT,
                                 'bg-brand' : scope.row.counseling.status === COUNSELING_STATUS_NOT_SENT,
                                 'text-red-600' : scope.row.counseling.status === COUNSELING_STATUS_REFUSED_TO_SIGN,
                                 'bg-red-500' : scope.row.counseling.status === COUNSELING_STATUS_REFUSED_TO_SIGN,
                                 'text-green-600' : scope.row.counseling.status === COUNSELING_STATUS_SIGNED,
                                 'bg-green-500' : scope.row.counseling.status === COUNSELING_STATUS_SIGNED}">
                                 {{parseCounselingStatusValueToLabel(scope.row.counseling.status) | text}}</span>
                    </div>
                    <div v-else class="text-gray-600">—</div>
                </template>
            </el-table-column>

            <el-table-column align="right" width="45" v-if="!daIssuesList && showElipsis">
                <template slot="header">
                    <el-dropdown data-cy="da-head-3dot-btn" class="mt-1" @command="handleCommand" v-if="!counselingId">
                        <ContextMenuHeaderIcon class="mr-1 context-menu-header-hover"/>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="{action: 'add'}">Add {{$t('label.associate')}} Issue</el-dropdown-item>
                            <el-dropdown-item v-if="range != 'all'" :command="{action: 'viewAll'}">View All {{$t('label.associate')}} Issues</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
                <template slot-scope="scope">
                    <el-dropdown data-cy="da-row-3dot-btn" class="mt-1" @command="handleCommand">
                        <i class="context-menu uil uil-ellipsis-h"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item data-cy="view-issue-option" :command="{action: 'view', row: scope.row}">View {{$t('label.associate')}} Issue</el-dropdown-item>
                            <el-dropdown-item v-if="showCounselingLink(scope)" :command="{action: 'viewCounseling', row: scope.row}">View Linked Counseling</el-dropdown-item>
                            <el-dropdown-item v-if="!daId" :command="{action: 'viewDA', row: scope.row}">View {{$t('label.associate')}}</el-dropdown-item>
                            <el-dropdown-item data-cy="delete-da-issue" divided :command="{action: 'delete', row: scope.row}">Delete {{$t('label.associate')}} Issue</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>

        </el-table>

        <div v-if="range == 'all' && nextToken" class="flex justify-center mt-4">
            <el-button round @click="loadData()">Load More</el-button>
        </div>

        <div class="flex justify-between -mb-4" v-if="range != 'all'">
            <el-button type="text" class="link" @click="$router.push({name: 'DaIssueIndex'})">View All {{$t('label.associate')}} Issues</el-button>
        </div>

        <!--WARNING DIALOG-->
        <el-dialog
            title="Premium Required"
            :show-close="false"
            :center="true"
            :visible.sync="showUpgradeDialog"
            width="300px">
            <PremiumWarning
                :action="warningMessage"
                :premiumFeature="warningType"
                :modal="true"
                @close-dialog="showUpgradeDialog = false">
            </PremiumWarning>
        </el-dialog>

        <el-dialog
            v-if="confirmDeleteDialog.isOpen"
            title="Warning"
            class="confirm-delete-dialog"
            :visible.sync="confirmDeleteDialog.isOpen"
            :width="confirmDeleteDialog.isDelete? '30%': '35%'"
        >
            <div class="el-message-box__container">
                <div class="el-message-box__status el-icon-warning"></div>
                <div class="el-message-box__message">
                    <div v-html="confirmDeleteDialog.message"></div>
                </div>
            </div>
            <div slot="footer" class="dialog-footer">
                <ButtonGroupWrapper>
                    <template slot-scope="{disabled, setDisabled}">
                        <ButtonWrapper
                            size="small"
                            :disabled="disabled"
                            :clickHandler="resetConfirmDeleteDialogData"
                            @cb-start="setDisabled(true)"
                            @cb-end="setDisabled(false)"
                        >
                            Cancel
                        </ButtonWrapper>
                        <ButtonWrapper
                            size="small"
                            type="primary"
                            :disabled="disabled"
                            :clickHandler="handleConfirmDeleteIssue"
                            @cb-start="setDisabled(true)"
                            @cb-end="setDisabled(false)"
                        >
                            {{ confirmDeleteDialog.confirmBtnText }}
                        </ButtonWrapper>
                        <ButtonWrapper
                            v-if="!confirmDeleteDialog.isDelete"
                            size="small"
                            type="primary"
                            :disabled="disabled"
                            :clickHandler="handleViewCounselingAsUser"
                            @cb-start="setDisabled(true)"
                            @cb-end="setDisabled(false)"
                        >
                            View Counseling
                        </ButtonWrapper>
                    </template>
                </ButtonGroupWrapper>
            </div>
        </el-dialog>
    </div>
</template>

<script>

import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import { infractionsByStaff, infractionsByGroupAndDate, getRoute } from '../queries'
import { deleteInfraction, updateInfraction } from '@/graphql/mutations'
import PremiumWarning from '@/components/PremiumWarning'
import { staffsByGroup } from '@/views/Staff/queries';
import { COUNSELING_STATUS_NOT_SENT, COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_REFUSED_TO_SIGN, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';
import { parseCounselingStatusValueToLabel } from '@/views/Counseling/utils';
import { mapGetters } from 'vuex';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

export default {
    name: 'DaIssueList',
    props:[
        'range',
        'daId',
        'counselingId',
        'daIssuesList',
        'search',
        'daFirstName',
        'daLastName',
        'routeId',
        'infractionsList',
    ],
    components: {
        ContextMenuHeaderIcon,
        PremiumWarning,
        ButtonGroupWrapper,
        ButtonWrapper,
    },

    data(){
        return{
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            tableData: [],
            loading: false,
            warningMessage: '',
            warningType: '',
            showUpgradeDialog: false,
            nextToken: null,
            numNextTokens: 0,
            sampleData: [
                {id: "1", infractionType: "Late with Call",comment: "",date: "2021-08-03T04:00:00.000Z",time: "",infractionTier: null,infractionDescription: null,counseling: {    id: "alpha",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "a",    firstName: "Justin",    lastName: "Melchor"}},
                {id: "2", infractionType: "Amazon Violation/Defect","comment": "",date: "2021-07-30T04:00:00.000Z",time: "",infractionTier: "",infractionDescription: "",counseling: {    id: "bravo",    status: COUNSELING_STATUS_PENDING_SIGNATURE},staff: {    id: "b",    firstName: "Julio",    lastName: "Davis"}},
                {id: "3", infractionType: "Scorecard DAR",comment: "Received 20 (Created from scorecard import)",date: "2021-07-24T05:00:00.000Z",time: null,infractionTier: null,infractionDescription: null,counseling: null,staff: {    id: "c",    firstName: "Cinque",    lastName: "Vitela"}},
                {id: "4", infractionType: "Scorecard DAR",comment: "Received 42 (Created from scorecard import)",date: "2021-07-24T05:00:00.000Z",time: null,infractionTier: null,infractionDescription: null,counseling: null,staff: {    id: "d",    firstName: "Aaron",    lastName: "Gonzalez"}},
                {id: "5", infractionType: "Scorecard DCR", comment: "Received 98.4% (Created from scorecard import)", date: "2021-07-24T05:00:00.000Z", time: null, infractionTier: null, infractionDescription: null, counseling: null, staff: {     id: "e",     firstName: "Isaiah",     lastName: "Moore" }}
            ],
            confirmDeleteDialog: {
                isOpen: false,
                message: '',
                confirmBtnText: '',
                isDelete: true,
                row: {},
            },
        }
    },

    created() {
        this.COUNSELING_STATUS_PENDING_SIGNATURE = COUNSELING_STATUS_PENDING_SIGNATURE;
        this.COUNSELING_STATUS_SIGNED = COUNSELING_STATUS_SIGNED;
        this.COUNSELING_STATUS_NOT_SENT = COUNSELING_STATUS_NOT_SENT;
        this.COUNSELING_STATUS_REFUSED_TO_SIGN = COUNSELING_STATUS_REFUSED_TO_SIGN;
        this.parseCounselingStatusValueToLabel = parseCounselingStatusValueToLabel;

        // If infracitionslist is passed then 'filteredDaIssues' will use this value instead of tableData
        if (!this.infractionsList) {
            this.loadData();
        }
    },

    computed: {
        ...mapGetters([
            'hasCounselingSettings',
            'hasCounselingManagement',
        ]),

        commentsWidth(){
            if(this.USER_PERMISSIONS && !this.$store.state.userInfo.permissionCounselings){
                return '481'
            }
            return '316'
        },

        filteredDataBySearch() {
            const data = this.infractionsList || this.tableData;
            return this.filterArray(data, this.search);
        },

        filteredDaIssues(){
          let result = this.filteredDataBySearch;

          if(this.$route.name === 'StaffDetail') {
            let daId = this.$route.params.id

            result = result.filter(item => item.staff.id === daId)
          }

          return result
        },
        showElipsis(){
            if(this.$route.name === "CounselingSignature")
                return false
            return true
        }
    },

    methods:{
        handleCommand(payload){
                var row = payload.row
                var action = payload.action

                if(action == 'add'){
                    if(!this.$store.getters.hasStaffManagement){
                        this.showWarningDialog(`${this.$t('label.associate')} management`, `create ${this.$t('label.associate')} Issues`)
                        return
                    }
                    this.$router.push({name:"DaIssueNew"});
                }
                else if(action == 'view'){
                    this.$router.push({name: 'DaIssueDetail', params: { infractionID: row.id }})
                }
                else if(action == 'viewCounseling'){
                    this.$router.push({name: 'CounselingDetail', params: { counselingId: row.counseling.id }})
                }
                else if(action == 'viewDA'){
                    this.$router.push({name: 'StaffDetail', params: { id: row.staff.id }})
                }
                else if(action == 'viewAll'){
                    this.$router.push({name: 'DaIssueIndex'})
                }
                else if(action == 'delete'){
                    let message = '',
                        textConfirm = 'Confirm'

                    if(!row.counseling) {
                        message = `
                            <p>
                                <span class="text-red-600 font-bold">This will permanently delete this ${this.$t('label.associate')} Issue. There is no undo for this action.</span>
                            </p>
                        `
                    } else {
                        let s = row.counseling.status
                        if(s === COUNSELING_STATUS_NOT_SENT) {
                            message = `
                                <p>
                                    This ${this.$t('label.associate')} Issue is linked to a Counseling. Do you want to remove it from the Counseling and permanently delete it?
                                    <span class="text-red-600 font-bold block">There is no undo for this action.</span>
                                </p>
                            `
                        } else if(s === COUNSELING_STATUS_PENDING_SIGNATURE) {
                            message = `
                                <p>
                                    This ${this.$t('label.associate')} Issue is linked to a Counseling that has already been sent, and therefore cannot be deleted from here. You will need to delete the Counseling in order to delete this ${this.$t('label.associate')} Issue.
                                </p>
                            `
                            textConfirm = 'View Counseling as Associate'
                        } else if(s === COUNSELING_STATUS_SIGNED) {
                            message = `
                                <p>
                                    This ${this.$t('label.associate')} Issue is linked to a Counseling that has already been signed, and therefore cannot be deleted from here. You will need to delete the Counseling in order to delete this ${this.$t('label.associate')} Issue.
                                </p>
                            `
                            textConfirm = 'View Counseling as Associate'
                        }
                    }

                    this.confirmDeleteDialog = {
                        row,
                        message,
                        isOpen: true,
                        confirmBtnText: textConfirm,
                        isDelete: (!row.counseling || row.counseling.status === COUNSELING_STATUS_NOT_SENT),
                    };
                }
            },

        resetConfirmDeleteDialogData() {
            this.confirmDeleteDialog = {
                isOpen: false,
                message: '',
                confirmBtnText: '',
                isDelete: true,
                row: {},
            };
        },

        async handleConfirmDeleteIssue() {
            const { row, isDelete } = this.confirmDeleteDialog;
            if(isDelete) {
                await this.deleteDaIssue(row);
                this.$emit('delete-issue');
            }
            else {
                const { status } = row.counseling;
                if([COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_SIGNED].includes(status)) {
                    this.$router.push({name: 'CounselingSignature', params: {counselingId: row.counseling.id}});
                }
            }
            this.resetConfirmDeleteDialogData();
        },
        handleViewCounselingAsUser() {
            const { row } = this.confirmDeleteDialog;
            this.$router.push({name: 'CounselingDetail', params: {counselingId: row.counseling.id}});
            this.resetConfirmDeleteDialogData();
        },

            async loadData(){
                this.loading = true;
                try{
                    let inputForStaff = {
                        group: this.$store.state.userInfo.tenant.group
                    }

                    const dataTableStaff = await this.gLoadListAll(staffsByGroup, inputForStaff, 'staffsByGroup');

                    if(this.range == 'sample'){
                        this.tableData = this.sampleData
                        if(this.daId){
                            this.tableData.forEach(row =>{
                                row.staff.firstName = this.daFirstName
                                row.staff.lastName = this.daLastName
                            })
                        }
                    }
                    //Recent DA issues report
                    else if(this.$route.name == 'RecentDaIssuesReport'){
                        var currentDate = this.$moment();
                        var dayAhead = this.$moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
                        var pastDate = this.$moment(currentDate).subtract(90, 'days').format('YYYY-MM-DD');

                        var input = {
                            date: {between: [pastDate, dayAhead]},
                            group: this.$store.state.userInfo.tenant.group,
                            sortDirection: "DESC"
                        }

                        var results = await this.gLoadListAll(infractionsByGroupAndDate, input, 'infractionsByGroupAndDate')
                        this.tableData = results
                    }
                    // counseling signature page
                    else if(this.daIssuesList && this.daIssuesList.length > 0){
                        this.tableData = this.daIssuesList
                    }
                    // counseling detail page
                    else if(this.counselingId){
                        let input = {
                            staffId: this.daId,
                            sortDirection: "ASC"
                        }
                        let result = await this.gLoadListAll(infractionsByStaff, input, 'infractionsByStaff')
                        let filteredResult = result.filter((infraction => infraction.counseling != null && infraction.counseling.id == this.counselingId));
                        this.tableData = filteredResult
                    }
                    // coaching page
                    else if(this.range == 'mostRecent'){
                        let input = {
                            group: this.$store.state.userInfo.tenant.group,
                            sortDirection: "DESC",
                            limit: 5
                        }
                        var daIssues = await this.api(infractionsByGroupAndDate, input)
                        this.tableData = daIssues.data.infractionsByGroupAndDate.items
                    }
                    // DA details page
                    else if(this.daId){
                        var input = {
                            group: this.$store.state.userInfo.tenant.group,
                            sortDirection: "DESC",
                            limit: 10,
                            staffId: this.daId,
                            nextToken: this.nextToken
                        }
                        var daIssues = await this.api(infractionsByStaff, input)
                        this.tableData = [...this.tableData, ...daIssues.data.infractionsByStaff.items]
                        this.nextToken = daIssues.data.infractionsByStaff.nextToken
                        this.numNextTokens++
                    }
                    // DA Issues Who Were Rescued page
                    else if(this.routeId){
                        const input = {
                            id: this.routeId,
                            infractionSortDirection: "DESC",
                            infractionLimit: 10,
                            infractionNextToken: this.nextToken
                        }
                        const route = await this.api(getRoute, input)
                        const infractions = route.data.getRoute.infractions
                        this.tableData = [...this.tableData, ...infractions.items]
                        this.nextToken = infractions.nextToken
                        this.numNextTokens++
                        return
                    }
                    // all DA Issues page
                    else if(this.range == "all"){
                        var input = {
                            group: this.$store.state.userInfo.tenant.group,
                            sortDirection: "DESC",
                            limit: 30,
                            nextToken: this.nextToken
                        }
                        var daIssues = await this.api(infractionsByGroupAndDate, input)
                        this.tableData = [...this.tableData, ...daIssues.data.infractionsByGroupAndDate.items]
                        this.nextToken = daIssues.data.infractionsByGroupAndDate.nextToken
                        this.numNextTokens++
                    }
                    
                    const filterListStaff = this.tableData.filter((elem) => dataTableStaff.find((item) => elem.staff?.id === item.id));
                    this.tableData = filterListStaff;
                }
                catch(e){
                    this.displayUserError(e)
                }
                finally{
                    this.loading = false;
                }
            },

            async deleteAllDaIssues(){
                await Promise.all(this.tableData.map(async(daIssue)=>{
                    await this.api(deleteInfraction, {input:{id: daIssue.id}})
                }))
            },

            async unlinkAllDaIssues(){
                await Promise.all(this.tableData.map(async(daIssue)=>{
                    let input = {
                        id: daIssue.id,
                        group: daIssue.group,
                        infractionStaffId: daIssue.staff.id,
                        infractionCounselingId: null
                    }
                    await this.api(updateInfraction, {input})
                }))
            },

            showCounselingLink(scope){
                if(this.$route.name === "CounselingDetail")
                    return
                return (scope.row.counseling && scope.row.counseling.id) &&
                        (!this.USER_PERMISSIONS || (this.USER_PERMISSIONS && this.$store.state.userInfo.permissionCounselings)) &&
                        this.$store.getters.hasPerformanceCoaching &&
                        this.hasCounselingManagement;
            },

            showWarningDialog(warningType, warningMesage){
                this.warningType = warningType;
                this.warningMessage = warningMesage;
                this.showUpgradeDialog = true;
            },

            sortVehicleName(a,b){        
                return a.name - b.name
            }, 

            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            async deleteDaIssue(row) {
                try {
                    this.loading = true;
                    let input = {
                        id: row.id
                    }
                    const issueToDelete = await this.api(deleteInfraction, {input});
                    const idIssue = issueToDelete?.data?.deleteInfraction?.id;
                    if (idIssue) {
                        this.tableData = this.removeIssueFromTable( this.tableData, idIssue );
                    }

                    this.displayUserNotification({
                        title: "Success", 
                        type: "success", 
                        message: `${this.$t('label.associate')} Issue deleted`
                    })
                } catch(e) {
                    this.displayUserError(e)
                } finally {
                    this.loading =  false;
                }
            },

            removeIssueFromTable( issueList, idIssue ) {
                const issueListTemp = [ ...issueList ];
                return issueListTemp.filter( issue => issue.id !== idIssue );
            }
    }
}
</script>
<style>
.el-table .cell {
    word-break: break-word;
}

</style>

<style scoped>
    /deep/ .confirm-delete-dialog .el-dialog .el-dialog__body {
        @apply py-0 px-3.5 pb-2.5;
    }
</style>