<template>
  <div>
    <!--HEADER-->
    <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-button data-cy="da-medical-card-add-btn" v-if="$store.getters.hasStaffManagement" class="w-40" size="small" type="primary" @click="handleAddPhysical">Add Medical Card</el-button>  
            <el-popover
                v-else
                placement="bottom"
                title="Premium Required"
                width="215"
                trigger="hover"
                content=""
                class=" ml-1 text-center inline-block"> 
                <el-button class="opacity-50 w-40" type="primary" size="small" slot="reference">Add Medical Card</el-button>
                <PremiumWarning
                        action="upload medical cards"
                        premiumFeature="DA management">
                </PremiumWarning>
            </el-popover>     
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
                v-model="search"
                size="small"
                prefix-icon="uil uil-search"
                clearable
                placeholder="Filter this list by any column..."/>
        </div>
    </div>  


    <!--PHYSICAL TABLE-->
    <el-table
        ref="table"
        empty-text="No Medical Cards"
        :data="filterArray( staffData.physicals.items, search )"
        style="width: 100%">
        

        <el-table-column
          label="Received Date"
          sortable
          prop="date">
          <template slot-scope="scope">
            {{ scope.row.date | date_timezone }}
          </template>
        </el-table-column>

        <el-table-column
          label="Expiration Date"
          sortable
          prop="expirationDate">
          <template slot-scope="scope">
            {{ scope.row.expirationDate | date_timezone }}
          </template>
        </el-table-column>


        <!-- <el-table-column
          label="Location"
          sortable
          prop="location">
          <template slot-scope="scope">
            {{ scope.row.location | text }}
          </template>
        </el-table-column>


        <el-table-column
          label="Results"
          sortable
          prop="results">
          <template slot-scope="scope">
            {{ scope.row.results | text }}
          </template>
        </el-table-column> -->


        <el-table-column
          label="File"
          sortable
          prop="fileName">
          <template slot-scope="scope">
            {{ scope.row.fileName | text }}
          </template>
        </el-table-column>   


        <el-table-column
          fixed="right"
          width="54">
          <template slot-scope="scope">
            <i 
              v-if="scope.row.fileName"
              @click="downloadFile(scope.row.file)"
              class="icon-button hover:text-brand uil uil-import"/>
          </template>
        </el-table-column>

        <el-table-column
          fixed="right"
          width="54">
          <template slot-scope="scope">
            <i
              data-cy="da-medical-card-open-edit-modal-btn"
              v-if="$store.getters.hasStaffManagement"
              @click="openEditPhysicalModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
              <el-popover
                v-else
                placement="bottom"
                title="Premium Required"
                width="215"
                trigger="hover"
                content=""
                class=" ml-1 text-center inline-block"
            > 
            <i
              slot="reference"
              class="icon-button uil uil-pen"
            />
              <PremiumWarning
                action="edit medical cards"
                premiumFeature="DA management"
              >
              </PremiumWarning>
            </el-popover>
          </template>
        </el-table-column>

    </el-table>

    <p class="mt-4">{{ staffData.physicals.items.length || 0 }} Total Medical Cards</p>


    <!--NEW MODAL-->
    <el-dialog
      title="Add Medical Card"
      :visible.sync="newModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <PhysicalForm ref="newModalForm" :staffData="staffData" :formFields="newPhysicalData"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="cancelNewModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="form-confirm-btn"
              type="primary"
              :clickHandler="createPhysical"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Confirm
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>


    <!--EDIT MODAL-->
    <el-dialog
      title="Edit Medical Card"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <PhysicalForm ref="editModalForm" :staffData="staffData" :formFields="editPhysicalData"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
              type="danger"
              class="float-left"
              data-cy="form-delete-btn"
              :clickHandler="confirmDeletePhysical"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Delete
            </ButtonWrapper>
            <el-button
              :disabled="disabled"
              @click="cancelEditModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="form-update-btn"
              type="primary"
              :clickHandler="updatePhysical"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Update
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>
  
  </div>

</template>

<script>

import PhysicalForm from './PhysicalForm'
import PremiumWarning from '@/components/PremiumWarning'
import { createPhysical, updatePhysical, deletePhysical } from '@/graphql/mutations'
import { getPhysicalUpdatedTimestamp } from '@/utilities/timestampQueries'
import { Storage } from 'aws-amplify'
import { Auth, API } from 'aws-amplify';
import { mapState } from 'vuex'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

  export default {
    name: 'Physical',
    components: {
      PhysicalForm,
      PremiumWarning,
      ButtonWrapper,
      ButtonGroupWrapper,
    },
    props: ['staffData'],
    data() {
      return {
        newModalOpen: false,
        search: '',
        newPhysicalData:{},
        editModalOpen: false,
        editPhysicalData:{}
      }
    },


    methods: {
      /** Closes edit physical modal window */
      cancelEditModal: async function(){
        this.editPhysicalData = {}
        this.$refs.editModalForm.clearFileUpload()
        this.editModalOpen = false
        this.$emit('loadData')
      },

      /** Closes new physical modal window and deletes file in S3 if uploaded */
      cancelNewModal: async function(){
        this.newPhysicalData = {}
        this.$refs.newModalForm.clearFileUpload()
        this.newModalOpen = false
      },

      /** Creates physical */
      async createPhysical(){
        try {
          
          // upload file if available
          if(this.$refs.newModalForm.fileUploadEvent != null) await this.$refs.newModalForm.uploadDocument()
        
          //Create DB record
          const input = {
            ...this.newPhysicalData,
            physicalStaffId: this.staffData.id,
            group: this.$store.state.userInfo.tenant.group
          }          
          const result = await this.api(createPhysical, {input: input})

          //Clean up app state
          this.newPhysicalData = {}
          this.newModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },

      /**
       * Gets S3 URL using object key and downloads the linked file
       * @param {Object} physical physical object that contains S3 key
       */
      downloadPhysicalFile: async function(physical){
        var documentUrl = await Storage.get(physical.file)
        window.open(documentUrl, "_blank")
      },

      /**
       * Opens modal window to add physical
       */
      handleAddPhysical: async function(){
        if(!this.$store.getters.hasStaffManagement){
          this.$emit('showWarningDialog');
          return
        }
        this.newPhysicalData = {}
        this.newModalOpen = true
        if(this.$refs.newModalForm) this.$refs.newModalForm.clearFileUpload()
      },

      /**
       * Emits to parent to refresh data for page after a change is made
       */
      loadData: function(){
        this.$emit('loadData')
      },

      /**
       * Opens the edit physical modal
       * @param {object} physical - Complete physical object used for PhysicalForm
       */
      openEditPhysicalModal(physical){        
        let editPhysical = {
          id: physical.id,
          date: physical.date,
          expirationDate: physical.expirationDate,
          file: physical.file,
          fileName: physical.fileName,
          updatedAt: physical.updatedAt,
        }
        
        this.editPhysicalData = editPhysical
        if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()
        this.editModalOpen = true
      },


      /** Update a physicals information */
      async updatePhysical(){
        try {

          //check timestamp
          var timestampResult = await this.api(getPhysicalUpdatedTimestamp, {id: this.editPhysicalData.id})
          if(!timestampResult.data.getPhysical){
            throw "Mentor data is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getPhysical.updatedAt
          if(timestamp != this.editPhysicalData.updatedAt){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const input = {
            ...this.editPhysicalData
          }
          
          // delete file if necessary
          if(this.$refs.editModalForm.deleteFile) await this.$refs.editModalForm.commitDeleteFile()
          if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()

          const result = await this.api(updatePhysical, {input: input})
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Physical Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },

      /** Prompt if physical should really be deleted*/
      async confirmDeletePhysical(){
        try {
          await this.$confirm('This will permanently delete this medical card. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          });
          await this.commitDeletePhysical();
        }
        catch (error) {
          this.printUserError(error);
        }
      },

      /** Delete physical from DB */
      async commitDeletePhysical( ){
        try{
          var timestampResult = await this.api(getPhysicalUpdatedTimestamp, {id: this.editPhysicalData.id})
          var timestamp = timestampResult.data.getPhysical.updatedAt
          if(!timestampResult.data.getPhysical){
            throw "Mentor data is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getPhysical.updatedAt
          if(timestamp != this.editPhysicalData.updatedAt){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          await this.$refs.editModalForm.commitDeleteFile()
          const result = await this.api(deletePhysical, {input:{ id: this.editPhysicalData.id }} )
          this.editPhysicalData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Medical Card Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      goToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails'})
      }
    },
  }
</script>
<style scoped>
 .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>