<template>
    <div>
        <el-form label-width="120px" v-loading="physicalLoading">
            <el-form-item label="Received Date" prop="date">
                <DatePicker data-cy="physical-form-date-dpk" :selectedDate="formFields.date" placeholder="" @date-selected="handleDateSelected($event, 'date')" />
            </el-form-item>

            <el-form-item label="Expiration Date" prop="date">
                <DatePicker data-cy="physical-form-expiration-date-dpk" :selectedDate="formFields.expirationDate" placeholder="" @date-selected="handleDateSelected($event, 'expirationDate')" />
            </el-form-item>

            <!-- <el-form-item label="Location">
                <el-input v-model="formFields.location"></el-input>
            </el-form-item>

            <el-form-item label="Results" prop="results">
                <el-select  class="w-full" v-model="formFields.results" clearable>
                    <el-option
                    v-for="item in valueListActivesOnly(valuelists['physical-results'].items)"
                    :key="item.id"
                    :label="item.value"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item> -->

            <el-form-item label="File">
                <div class="w-full flex" v-show="(fileUploadEvent != null) || formFields.file">
                    <el-tag 
                        type="info"
                        effect="plain"
                        class="flex-auto form-file-uploaded ellipsis">
                        {{formFields.fileName}}
                    </el-tag>
                    <i 
                        data-cy="physical-form-trash-btn"
                        @click="handleRemove(formFields.file)"
                        class="icon-button uil uil-trash-alt ml-4 hover:text-red-500"/>
                </div>
                <label v-show="(fileUploadEvent == null) && !formFields.file" class="fileContainer w-full h-32 mb-4 bg-opacity-50 text-center">
                    <div class="uil-file text-5xl"></div>
                    <div>Drop file here or click to upload</div>
                    <input data-cy="physical-form-file-up" id="FileUpload" type="file" @change="(e) => {insertDocumentForUpload(e, '/medical-cards/')}" class="align-middle">
                </label>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import DatePicker from '@/components/Datepicker';

export default {
    name: 'PhysicalForm',
    components: {
        DatePicker
    },
    props:['formFields', 'staffData'],
    data(){
        return{
            physicalLoading: false,
            fileUploadEvent: null,
            path: null,
            deleteFile: false,
            deleteFileKey: null
        }
    },

    computed:{
        ...mapState([
            'valuelists',
            'userInfo'
        ]),

        fullName() {
            return this.staffData.firstName + " " + this.staffData.lastName
        }
    },

    methods:{   
        handleDateSelected(date, model) {
                this.formFields[model] = date
        }, 
        /**
       * Gets S3 URL using object key and downloads the linked file
       */
      downloadPhysicalFile: async function(){
        var documentUrl = await Storage.get(this.formFields.file)
        window.open(documentUrl, "_blank")
      },

        /**
         * Stages the file on S3 to be deleted.
         */
        async stageDeleteFile() {
            this.deleteFileKey = this.formFields.file
            this.formFields.file = null
            this.formFields.fileName = null
            this.fileUploadEvent = null
            this.path = null
            this.deleteFile = true
            
            document.getElementById('FileUpload').value = ""  
        },

         /**
         * Deletes S3 object.
         */
        async commitDeleteFile() {
            var objectKey = this.deleteFileKey ? this.deleteFileKey : this.formFields.file
            var result = await Storage.remove(objectKey)
        },

 
        clearFileUpload: function(){
            document.getElementById('FileUpload').value = ""
            this.fileUploadEvent = null
            this.path = null
            this.deleteFile = false
            this.deleteFileKey = null
        },


        /** 
        * Prompts user if file should really be deleted
        * @param {string} objectKey S3 key of file to delete
        */
        async handleRemove(objectKey){
            this.$confirm('This will permanently delete this file. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.stageDeleteFile(objectKey)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },

        insertDocumentForUpload: function(e, path){
            var files = e.target.files || e.dataTransfer.files;
            var file = files[0]
            var fileType = file.type
            var fileName = file.name

            this.fileUploadEvent = e
            this.formFields.fileName = fileName
            this.path = path
        },
        
        /**
         * Uploads physical to S3
         */
        async uploadDocument(){
            try{
                var e = this.fileUploadEvent
                var path = this.path
                var objectType
                this.physicalLoading = true

                // Upload file to S3
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0]
                var fileType = file.type
                var fileName = file.name
                var timestamp = String(Date.now())
                var object = await Storage.put(this.userInfo.tenant.group + path + this.staffData.id.toLowerCase() + '/' + timestamp + "/" + fileName, file)
                var documentUrl = await Storage.get(object.key)

                //Update fields
                this.formFields.file = object.key
                this.formFields.fileName = fileName
                this.physicalLoading = false
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
                this.physicalLoading = false
            }
        }
    },
}
</script>
<style scoped>
    .el-date-editor{
       @apply w-full;
    }

    .fileContainer{
        @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }
</style>