#register_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(13, 13, 13, 1) inset !important;
    -webkit-text-fill-color: white !important;
    background-color: rgba(13, 13, 13, 1) !important;
    color:white !important;
    transition: background-color 5000s ease-in-out 0s;
}
#register_form input,label{
    color:#fff !important;
    font-size: 11px;
    font-family: Muli;
}

#register_form input{
    width:unset !important;
}
@media (min-width:1025px) {

    #register_form .col-md-6{
        height:4.8vw;

    }
}