<template>
    <div>
        <el-table
            ref="table"
            :empty-text="`No ${$t('label.associates')}`"
            :default-sort = "{prop: 'firstName', order: 'descending'}"
            :data="tableData"
            @row-click="handleRowClick"
            style="width: 100%">

            <el-table-column
                label="First Name"
                sortable
                prop="firstName">
            </el-table-column>

            <el-table-column
                label="Last Name"
                sortable
                prop="lastName">
            </el-table-column>
            <el-table-column align="right" width="50">
                <template>
                <i class="el-icon-arrow-right"></i>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>


export default {
    name: 'SupervisorData',
    props: ['tableData'],
    methods: {
        /**
         * On row click go to the StaffDetail .
         * @param {object} row
         * @param {object} column
         * @param {object} event
         */
        handleRowClick(row, column, event){
            this.$router.push({name: 'StaffDetail', params: { id: row.id }})    
        },
    }
}
</script>