<template>
    <div v-loading="loading">
        <div v-if="noAttritionProjects && !loading" class="text-gray-600 h-full">
            There are no projections at this time.
        </div>
        <table v-else class="w-full text-sm">
            <tr class="text-left">
                <th>{{$t('label.associate')}}</th>
                <th>Hera Status</th>
                <th>Weeks Until Attrition</th>
            </tr>
            <tr v-for="staff in sortedStaff" :key="staff.id">
                <td class="link py-1">
                    <router-link :to="{name: 'StaffDetail', params:{id: staff.id}}">
                        {{staff.firstName}} {{staff.lastName}}
                    </router-link>
                </td>
                <!-- <td>{{staff.status}}</td> -->
                <td class="py-1"><span
                        class="font-bold rounded-full bg-opacity-10 px-3 py-1 text-xs truncate  max-w-full flex-initial"
                        :class="{'text-red-600' : staff.status.toLowerCase().includes('inactive'), 
                                 'bg-red-500' : staff.status.toLowerCase().includes('inactive'),
                                 'text-purple-600' : staff.status.toLowerCase().includes('onboarding'), 
                                 'bg-purple-500' : staff.status.toLowerCase().includes('onboarding'),
                                 'text-green-600' : staff.status.toLowerCase() == 'active',
                                 'bg-green-500' : staff.status.toLowerCase() == 'active'}"
                        >{{staff.status }}</span></td>
                <td class="py-1" :class="attritionClass(staff.latestScorecard)">{{determineWeeksAttrition(staff.latestScorecard)}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
import * as query from '../api/dashboardQueries'


export default {
    props:['mostCurrentScorecard', 'fakeStaff', 'latestYearWeek'],
    data(){
        return{
            staffs:[],
            loading: false
        }
    },
    mounted(){
        this.loadData()
    },
    computed:{
        sortedStaff(){
            if (!this.$store.getters.hasPerformanceCoaching && !this.$store.getters.isTrialAccount){
                return this.fakeStaff.sort( (a,b) => a.latestScorecard - b.latestScorecard )
            }
            else{
                return this.staffs.sort( (a,b) => a.latestScorecard - b.latestScorecard )
            }
        },
        noAttritionProjects(){
            return this.sortedStaff.length < 1
        }
    },
    methods:{
        async loadData(){
            this.loading = true;
                
            try{
                this.loading = true
                //Find staff that don't have the latest scorecard, and are not inactive
                let thisWeek = this.mostCurrentScorecard.yearWeek;
                let week = this.mostCurrentScorecard.week;

                // determines <year><week>, rolls over for new year, 53 weeks in a year for the scorecard
                let fiveWeeksAgo = (thisWeek - 5 ) - ((week <= 5)*47)
                // determines <year><week>, rolls over for new year, 53 weeks in a year for the scorecard
                let lastWeek =  (thisWeek - 1 ) - ((week == 1)*47)


                let input = {    
                    filter: {                
                        latestScorecard:{ between: [fiveWeeksAgo, lastWeek] }   
                    },
                    group: this.$store.state.userInfo.tenant.group              
                }

                var attritionResult = await this.gLoadListAll(query.listStaffs, input, 'staffsByGroup')
                
                this.staffs = attritionResult.filter(staff =>{
                    var stringifiedObject = JSON.stringify(this.mostCurrentScorecard);
                    if(stringifiedObject == "{}"){
                        var yearWeek = parseInt(this.latestYearWeek);
                        var weeks = (yearWeek - staff.latestScorecard)%47;
                    }
                    else{
                        var yearWeek = parseInt(this.mostCurrentScorecard.yearWeek);
                        var weeks = (yearWeek - staff.latestScorecard)%47;
                    }

                    let weeksTillAttrition = 3 - weeks

                    if(weeksTillAttrition < 0){
                        if(Math.abs(weeksTillAttrition) % 3 == 0){
                           return true
                        }
                        else{
                            return false
                        }
                        
                    }else{
                        return staff.latestScorecard != fiveWeeksAgo && staff.status != 'Inactive - Personal Time/Vacation'
                    }
                });
            }catch(e){
                // this.displayUserNotification({title:"Error", message: "Could not load attrition report"})
                console.log(e)
                console.log(e.response)
            }
            finally{
                this.loading = false
            }
        },

        determineWeeksAttrition(lastYearWeek, lastWeek){
            var stringifiedObject = JSON.stringify(this.mostCurrentScorecard);
            if(stringifiedObject == "{}"){
                var yearWeek = parseInt(this.latestYearWeek);
                var weeks = (yearWeek - lastYearWeek)%47;
            }
            else{
                var yearWeek = parseInt(this.mostCurrentScorecard.yearWeek);
                var weeks = (yearWeek - lastYearWeek)%47;
            }

            let weeksTillAttrition = 3 - weeks

            let message = '' 
            if(weeksTillAttrition < 0){
                if(Math.abs(weeksTillAttrition) % 3 == 0){
                    weeksTillAttrition = 0
                }
                
            }
            if( weeksTillAttrition == 0 ){
                let week = yearWeek.toString().substring(4,6)
                let year = yearWeek.toString().substring(0,4)
                message = `Attrited Week ${week} - ${year}`
            }else if( weeksTillAttrition == 1 ){
                 message = `${weeksTillAttrition} week`
            }else{
                message = `${weeksTillAttrition} weeks`
            }
            return message
        },

        attritionClass(lastYearWeek){
            var stringifiedObject = JSON.stringify(this.mostCurrentScorecard);
            if(stringifiedObject == "{}"){
                var yearWeek = parseInt(this.latestYearWeek);
            }
            else{
                var yearWeek = parseInt(this.mostCurrentScorecard.yearWeek);
            }
            let weeks = (yearWeek - lastYearWeek)%47
            let weeksTillAttrition = 3 - weeks
            if( weeksTillAttrition <= 0 ){
                return 'text-red-600'
            }
            return ''
        }

    }
}
</script>