<template>
    <div>
        <div class="flex items-center justify-between mb-4">
            <div class="flex justify-between">
                <div class="flex space-x-2 items-center h-8">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                    <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
                    <el-breadcrumb-item>Imported Performance Data</el-breadcrumb-item>
                </el-breadcrumb>
                </div>
            </div>
        </div>
        <div class="card" data-cy="imported-performance-data-container" v-loading="loading">
            <div class="flex items-center justify-between">
                <p class="card-title">Imported Performance Data</p>
                <div class="flex justify-end">
                <el-button data-cy="import-performance-data" type="primary" size='small' @click="$router.push({name: 'WeeklyDataImport'})">Import Performance Data</el-button>
                </div>
            </div>

            <!--Table-->
            <el-table
            ref="table"
            empty-text="No Data"
            :data="filterArray( scorecards, search )"
            size="mini"
        
            style="width: 100%">
            

            <el-table-column
                label="Period"
                sortable
                fixed
                min-width="120"
                class-name="cell-top"
                prop="week">
                <template slot-scope="scope">
                    <p>Week {{scope.row.week}} - {{scope.row.year}}</p>
                </template>
            </el-table-column>


            <el-table-column
                label="Overall Standing"
                sortable
                min-width="150"
                class-name="cell-top"
                prop="overall">
                <template slot-scope="scope">
                    <p :class="formatTextColor(scope.row.overall)">{{scope.row.overall | text}}</p>
                </template>
            </el-table-column>

            <el-table-column
                label="Safety &amp; Compliance"
                sortable
                min-width="170"
                class-name="cell-top"
                prop="safetyAndCompliance">
                <template slot-scope="scope">
                    <p :class="formatTextColor(scope.row.safetyAndCompliance)">{{scope.row.safetyAndCompliance | text}}</p>
                </template>
            </el-table-column>


            <el-table-column
                label="Customer Escalation"
                sortable
                class-name="cell-top"
                min-width="170"
                prop="customerEscalationDefectDPMO">
                <template slot-scope="scope">
                    <p :class="formatTextColor(scope.row.customerEscalationDefectDPMOText)">
                        {{scope.row.customerEscalationDefectDPMOText}} ({{scope.row.customerEscalationDefectDPMO }})
                    </p>
                </template>
            </el-table-column>

            <el-table-column
                label="Team"
                sortable
                min-width="90"
                class-name="cell-top"
                prop="team">
                <template slot-scope="scope">
                    <p :class="formatTextColor(scope.row.team)">{{scope.row.team | text}}</p>
                </template>
            </el-table-column>




            <el-table-column
                label="Quality"
                sortable
                min-width="90"
                class-name="cell-top"
                prop="quality">
                <template slot-scope="scope">
                    <p :class="formatTextColor(scope.row.quality)">{{scope.row.quality | text}}</p>
                </template>
            </el-table-column>

            <el-table-column
                label="Open PDF"
                width="120"
                fixed="right"
                align="center"
                class-name=""
                prop="quality">
                <template slot-scope="scope">
                    <div class="flex justify-between items-center">
                        <el-tooltip class="item" effect="dark" content="Scorecard" placement="top">
                            <i @click="downloadByKey(scope.row.scorecardPdf)" class="cursor-pointer text-2xl text-gray-600 uil-clipboard-notes" :class="{'text-brand': scope.row.scorecardPdf}"/>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="POD Quality Report" placement="top">
                            <i @click="downloadByKey(scope.row.podQualityPdf)" class="cursor-pointer text-2xl text-gray-600 uil-image-check" :class="{'text-brand': scope.row.podQualityPdf}"/>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Customer Delivery Feedback" placement="top">
                            <i @click="downloadByKey(scope.row.customerFeedbackPdf)" class="cursor-pointer text-2xl text-gray-600 uil-chat-bubble-user" :class="{'text-brand': scope.row.customerFeedbackPdf}"/>
                        </el-tooltip>
                    </div>
                </template>
            </el-table-column>

        



            </el-table>
            <div v-if="scorecardsNextToken" class="flex justify-center mt-4">
                <el-button round @click="loadData(false)">Load More</el-button>
            </div>
        </div>
        

    </div>
</template>

<script>
import { mapState } from 'vuex'
import {Storage} from 'aws-amplify'
import * as query from '../api/dashboardQueries'



export default {
    props: ['data'],
    computed:{
        ...mapState(['userInfo']), 

    },
    data(){
        return{
            scorecards: [],
            scorecardsNextToken: null,
            weeksToShow: 10,
            loading: false,
            search: ''
        }
    },
    mounted(){
        this.loadData()
    },
    methods: {
        async loadData(refresh){
            this.loading = true 
            //Set filter criteria
            let variables = {
                tenantId: this.userInfo.tenant.id,        
                sortDirection: 'DESC',
                limit: this.weeksToShow,
                nextToken: refresh ? null : this.scorecardsNextToken
            }

            //Query DB for Scorecard Info
            try{
                let response = await this.api(query.scorecardsByTenantAndYearWeek,variables)
                let scorecards = []
                if(refresh){
                    scorecards = [...response.data.scorecardsByTenantAndYearWeek.items]
                }
                else{
                    scorecards = [...this.scorecards, ...response.data.scorecardsByTenantAndYearWeek.items]
                }
                this.scorecardsNextToken =  response.data.scorecardsByTenantAndYearWeek.nextToken
                this.scorecards = scorecards
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },
        /** download document from storage to local client */
        async downloadByKey(key){
            if(!key){
                return
            }
            var documentUrl = await Storage.get(key)
            var element = document.createElement('a');
            element.setAttribute('href', documentUrl );
            element.target = "_blank" ;
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
    }
}
</script>