<template>
  <div class="-mr-1">
    <line-chart :chart-data="datacollection" :options="options" :height="120"></line-chart>
  </div>
</template>

<script>
  import LineChart from '@/plugins/LineChart.js'

  export default {
    components: {
      LineChart
    },
    props: ['labels', 'data', 'type', 'suggestedMin', 'suggestedMax'],
    data () {
      return {
        options: {
            maintainAspectRatio: true,
            elements: {
              line: {
                tension: 0.000001
              }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 0
                    },
                    gridLines: {
                        display: true
                    }
                }],
                xAxes: [ {
                    gridLines: {
                        display: true
                    }
                }]
            },
        }        
      }
    },

    computed:{
      datacollection(){
        return {
            labels: this.labels,
            datasets: [
                {
                    label: this.type,
                    backgroundColor: '#0268BCb3',
                    borderColor: '#0268BC',
                    data: this.data
                }
            ]
          }
        }
    },

    watch:{
      suggestedMin: function(){
        this.loadOptions()
      },
      suggestedMax: function(){
        this.loadOptions()
      }
    },

    methods:{
      loadOptions(){
        this.options.scales.yAxes[0].ticks.suggestedMin = this.suggestedMin;
        this.options.scales.yAxes[0].ticks.suggestedMax = this.suggestedMax;
      }
    }
  }
</script>

