<template>
    <div>
        <LineChart :options="options" :chartData="chartData" :height="120"/>
    </div>
</template>
<script>
import LineChart from '@/plugins/LineChart.js'

export default {
    name: 'PerformanceGraph',
    components: { LineChart },
    props: ['performanceGraphData'],
    data(){
        return {
            options: {
                maintainAspectRatio: true,
                responsive: true,
                legend: {
                    display: false
                },
                title: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 0
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: true
                        }
                    }]
                },
                tooltips: {
                    callbacks: {

                    }
                }
            }
        }
    },
    computed: {
        chartData() {
            return {
                labels: this.performanceGraphData.labels,
                datasets: [
                    {
                        borderColor: '#666464',
                        borderDash: [3,3],
                        spanGaps: true,
                        label: this.performanceGraphData.label,
                        data:this.performanceGraphData.staffAverage
                    },
                    {
                        backgroundColor: '#0268BCb3',
                        borderColor: '#0268BC',
                        spanGaps: true,
                        label: this.performanceGraphData.label,
                        data: this.performanceGraphData.data,
                    }
                ]
            }
        },
    },
    watch:{
        performanceGraphData: function(){
            this.loadOptions()
        }
    },

    methods:{
        loadOptions(){
            this.options.scales.yAxes[0].ticks.suggestedMin = this.performanceGraphData.yMinValue
            this.options.scales.yAxes[0].ticks.suggestedMax = this.performanceGraphData.yMaxValue

            if(this.performanceGraphData.changeValue || this.needCustomizeLabel(this.performanceGraphData.selectedOption)){
                this.options.scales.yAxes[0].ticks.stepSize = 1
                this.options.scales.yAxes[0].ticks.callback = this.customizeLabel
                this.options.tooltips.callbacks.label = this.customToolpip
            }else{
                delete this.options.scales.yAxes[0].ticks.stepSize
                delete this.options.scales.yAxes[0].ticks.callback
                delete this.options.tooltips.callbacks.label
            }
        },

        customizeLabel(value, index, values){
            const labelMapping = {
                1: 'Poor',
                2: 'Fair',
                3: 'Gr',
                4: 'Fan',
                5: 'Fan+',
            }
            return labelMapping[value] || value
        },

        customToolpip(tooltipItem, data){
            const labelMapping = {
                1: 'Poor',
                2: 'Fair',
                3: 'Great',
                4: 'Fantastic',
                5: 'Fantastic Plus',
            }
            const originalValue = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
            const originalLabel = data.datasets[tooltipItem.datasetIndex].label
            return `${originalLabel}: ${labelMapping[originalValue] || originalValue}`
        },

        needCustomizeLabel(option){
            //include metrics that have values of: 'Poor', 'Fair', 'Great','Fantastic','Fantastic Plus'
            const customLabels = [
                'safetyScore',
                'customerDeliveryExperience',
                'standardWorkComplianceText',
                'dcfTier',
                'overallTier',
                'daTier'
            ]
            return customLabels.includes(option)
        }
      
    }
}
</script>