<template>
  <div class="small">
    <bar-chart :chart-data="datacollection" :options="options"></bar-chart>
  </div>
</template>

<script>
  import BarChart from '@/plugins/BarChart.js'

  export default {
    components: {
      BarChart
    },
    data () {
      return {
        options: {
            maintainAspectRatio: false,
            elements: {
				line: {
					tension: 0.000001
				}
			},
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true
                    }
                }],
                xAxes: [ {
                    gridLines: {
                        display: true
                    }
                }]
            },
        },
        datacollection: {
            labels: ["Week 14", "Week 15", "Week 16", "Week 17"],
            datasets: [
                {
                    label: 'Actual Terminated Employees',
                    stack: 'Stack 0',
                    backgroundColor: '#020865',
                    borderColor: '#020865',
                    borderWidth: 2,
                    data: [-1, null, null, null]
                },
                {
                    label: 'Actual Hired Employees',
                    stack: 'Stack 1',
                    backgroundColor: '#D53F8C',
                    borderColor: '#D53F8C',
                    borderWidth: 2,
                    data: [2, null, null, null]
                },
                {
                    label: 'Projected Terminated Employees',
                    stack: 'Stack 0',
                    backgroundColor: '#0208654d',
                    borderColor: '#020865',
                    borderWidth: 2,
                    data: [null, -2, -1, -3]
                },
                {
                    label: 'Projected Hired Employees',
                    stack: 'Stack 1',
                    backgroundColor: '#D53F8C4d',
                    borderColor: '#D53F8C',
                    borderWidth: 2,
                    data: [null, 2, 3, 1]
                }
            ]
        }

      }
    }
  }
</script>

