<template>
  <el-tooltip
    v-if="hasLogItems || wasUploadedOnDifferentDate"
    class="item leading-10"
    effect="dark"
    placement="bottom"
  >
    <div slot="content"> 
        <p class="font-bold mb-1 text-center">
          <slot name="title">{{ history.title }}</slot>
        </p>

        <div
          v-for="logItem of logList"
          :key="logItem.id"
        >
          {{ logItem.date | date }}: This {{ history.logType }} was updated from {{ logItem.previousValue }} to {{ logItem.currentValue }}
        </div>

        <div>{{ uploadEntry }}</div>
    </div>

    <p class="text-gray-600">
      <i class="uil uil-question-circle text-base"></i>
    </p>
  </el-tooltip>
</template>

<script>
import { mapState } from 'vuex';
import momentTz from 'moment-timezone';

export default {
  name: "DailyLogHistoryTooltip",

  props: {
    history: [Object, null],
  },

  computed: {
    ...mapState([
      'userInfo',
    ]),

    hasLogItems() {
      return !!this.history?.logList?.length;
    },

    wasUploadedOnDifferentDate() {
      const {dailyLogStoredDate, dailyLogUploadDate} = this.history;

      if (!dailyLogStoredDate || !dailyLogUploadDate) return false;

      const dateFormat = 'YYYY-MM-DD';
      const timezone = this.userInfo.tenant.timeZone;

      const storedDate = momentTz.tz(dailyLogStoredDate, timezone).format(dateFormat);
      const uploadDate = momentTz(dailyLogUploadDate).format(dateFormat);

      return storedDate !== uploadDate;
    },

    logList() {
      if (!this.hasLogItems) return [];

      const logListCopy = [...this.history.logList];
      return logListCopy.sort((a, b) => b.date.localeCompare(a.date));
    },

    uploadEntry() {
      const uploadDate = this.$moment(this.history.dailyLogUploadDate).format('MM/DD/YYYY');

      return `This ${this.history.logType} was uploaded on ${uploadDate}`;
    },
  },
}
</script>
