.wallet {
    width: 30px;
    height: 30px;
}

.profile {
    height: 100px;
    width: 100px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;

}

.profile img:hover {
    opacity: 0.3;
}
.profile:hover .edit {
    display:flex;
}

.edit {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    width:inherit;
    text-align:center;
    display: none;
}

.edit a {
    color: white;
    margin: 0px auto;

}