<template>
    <div v-loading.fullscreen.lock="loading" @scroll="handleScroll" id="message-list" class="h-full pb-20 md:pb-4 overflow-y-scroll box-sizing">
        <div class="w-full flex justify-center z-10" :class="{ 'sticky': true, 'top-2': mobile, 'top-0': !mobile }">
         <button class="bg-blue-600 cursor-pointer text-white rounded-full py-1 px-2 flex justify-center border-0 sticky" v-show="!loading && nextToken" ref="goToLastUnread"  @click="scrollToLastUnread">
          <div class="flex items-center">
            <i class="text-white  uil uil-arrow-up text-xl"></i> Go to last unread message
          </div>
         </button>
        </div>
        <div v-if="nextToken" class="flex justify-center mt-4">
            <el-button round @click="loadData(false)">Load More</el-button>
        </div>
        <div v-else class="flex justify-center mt-4">
            <p class="text-sm p-3 mb-4 text-gray-600">No More Messages</p> 
        </div>
        <div 
        v-for="(message, index) in messagesAndPendingConfirmation" 
        :key="message.id"
        class="flex flex-col p-1 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch"
        :id="`index${index}`"
        >
            <div class="pb-2 my-2 ">
                <div  
                    v-if="message.newMessage"
                    id="new-messages" 
                    class="relative container-new-messages border-b-2"
                    :ref="message.id"
                >
                    <span class="bg-white absolute px-2 new-messages">New messages</span>
                </div>
            </div>
            <!-- DATE CHANGE -->
            <div v-if="dateDisplay(index)" class="flex">
                <p class="w-full"></p>
                <p class="text-base  text-gray-700 font-thin border-b w-full text-center mb-2">
                    {{dateDisplay(index)}}
                </p>
                <p class="w-full"></p>
            </div>
            <!-- pending confirmation of sending messages -->
            <div v-if="message.outgoingPending" class="chat-message">
                <div class="flex items-end justify-end">
                    <p v-if="message.senderName" class="text-right pr-2 text-xxs text-gray-600">{{message.senderName}}</p>
                </div>
                <div class="flex items-end justify-end">

                    <div class="flex flex-col space-y-1 text-sm max-w-xs mx-2 order-1 items-end">
                        <div>
                            <div class="inline-block"><i class="el-icon-loading"></i></div>
                            <div v-html="message.outgoingPending" class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block rounded-br-none bg-orange-400 font-medium text-white"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- incoming -->
            <div v-else-if='message.channelType == "RESPONSE"' class="chat-message"  :data-messageid="message.id" :data-createdat="message.createdAt" :data-channeltype="message.channelType" :data-newmessage="message.newMessage">
                <div class="flex items-start justify-start">
                    <p class="text-right pl-2 text-xxs text-gray-600">{{$moment(message.createdAt).format('MM/DD/YYYY LT')}}</p>
                </div>
                <div class="flex items-start">
                    <div class="flex flex-col space-y-2 text-sm max-w-xs mx-2 order-2 items-start">
                        <div v-if="message.isImage">
                            <div class="flex justify-start">
                                <img @load="checkPageFullLoad" :src="message.url" @click="openImageModal(message.url)" class="w-48 cursor-pointer rounded-lg rounded-br-none"/>
                                <el-dropdown @command=handleDropdownCommand class="my-auto ml-3">
                                    <i class="context-menu uil uil-ellipsis-h"></i>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item :command="{ action: 'saveToDA', params: { s3Key: message.attachment.s3Key, contentType: message.attachment.contentType} }">Save to {{$t('label.associate_s')}} documents</el-dropdown-item>
                                        <el-dropdown-item v-if="message.isImage" :command="{ action: 'saveToVehicle', params: { s3Key: message.attachment.s3Key, contentType: message.attachment.contentType}}">Save to a vehicle...</el-dropdown-item>
                                        <el-dropdown-item :command="{ action: 'download', params: { s3Key: message.attachment.s3Key} }">Download</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </div>
                            <div class="mt-2 inline-block float-left">
                                <div v-if="message.bodyText" v-html="message.bodyText" v-linkified class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block cursor-pointer rounded-br-none bg-gray-300 text-gray-600"></div>
                            </div>
                        </div>
                        <div v-else-if="message.attachment">
                            <div v-if="message.bodyText" class="mt-2 inline-block float-left">
                                <div v-if="message.bodyText" v-html="message.bodyText" v-linkified class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block cursor-pointer rounded-br-none bg-gray-300 text-gray-600"></div>
                            </div>
                            <a :href="tempLink(message.attachment)" target="_blank" class="float-left px-4 py-2 whitespace-pre-wrap rounded-lg inline-block cursor-pointer rounded-br-none bg-gray-300 text-gray-600">
                                <i class="text-6xl uil uil-file-alt"></i>
                                <div class="underline">
                                    {{message.fileName}}
                                </div>
                            </a>
                        </div>
                        <div v-else>
                            <span v-html="message.bodyText" v-linkified class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- outgoing -->
            <div v-else class="chat-message">
                <div class="flex items-end justify-end">
                    <p v-if="message.senderName" class="text-right pr-2 text-xxs text-gray-600">{{message.senderName}} • {{$moment(message.createdAt).format('MM/DD/YYYY LT')}}</p>
                </div>
                <div class="flex items-end justify-end sent-message">
                    <div class="flex items-center ">
                     <el-tooltip  placement="left" effect="dark"  :content="message.smsSendInformation">
                      <i v-if="message.smsStatus !== null &&  message.smsStatus !== 'Success'" 
                           :class="{
                       'uil uil-exclamation-triangle-messenger  text-red-500': message.smsStatus !== null &&  message.smsStatus !== undefined && message.smsStatus !== 'Pending',
                      'uil uil-clock text-yellow-500': message.smsStatus !== null && message.smsStatus !== undefined &&  message.smsStatus === 'Pending'
                       }">
                       </i>
                     </el-tooltip>
                     <div class="flex flex-col space-y-1 text-sm max-w-xs mx-2 order-1 items-end">
                        <div>
                            <div v-if="message.attachment && message.attachment.s3Key">
                                <div class="mt-2 inline-block float-right">
                                    <div class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block rounded-br-none bg-blue-600 text-white">
                                        <span v-if="message.bodyText" v-html="message.bodyText" v-linkified ></span>
                                        <br v-if="message.bodyText">
                                        <a :href="tempLink(message.attachment)" target="_blank" class="mt-2 float-right pt-2 whitespace-pre-wrap rounded-lg inline-block text-center rounded-br-none bg-blue-600 text-white ">
                                            <img v-if="message.isImage" @load="checkPageFullLoad" :src="message.url" class="w-48 cursor-pointer rounded-lg rounded-br-none" />
                                            <i v-else class="text-6xl uil uil-file-alt"></i>
                                            <div class="underline">
                                                {{message.fileName}}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <MessageWithEmojie 
                                v-else 
                                :bodyText="linkify(message.bodyText)"
                                class="px-4 py-2 whitespace-pre-wrap rounded-lg inline-block rounded-br-none bg-blue-600 text-white"
                            />
                        </div>
                     </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- IMAGE MODAL -->
        <el-dialog 
            :visible.sync="modalOpen" 
            center 
        > 
            <img class="w-full" :src="photoUrl" alt="">
        </el-dialog>

        <!--SAVE TO VEHICLE MODAL-->
        <el-dialog
            title="Save to Vehicle"
            :visible.sync="saveToModalOpen"
            :close-on-click-modal="false"
            :show-close="false"
            width="50%"
            >
            <MessageVehicleForm @new-accident-report="newAccidentReport" @new-vehicle-damage-report="newVehicleDamageReport" ref="editModalForm" :formFields="formFields"/>
            <span slot="footer" class="dialog-footer">
                <ButtonGroupWrapper>
                    <template slot-scope="{disabled, setDisabled}">
                        <el-button
                            :disabled="disabled"
                            @click="cancelEditModal"
                        >
                            Cancel
                        </el-button>
                        <ButtonWrapper
                            type="primary"
                            :clickHandler="handleUpdate"
                            :disabled="disabled || !formFields.whereToSave || !formFields.vehicle"
                            @cb-start="setDisabled(true)"
                            @cb-end="setDisabled(false)"
                        >
                            Save
                        </ButtonWrapper>
                    </template>
                </ButtonGroupWrapper>
            </span>
        </el-dialog>
    </div>

    
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { messagesByStaffId } from './queries'
import { messageReadStatusByUserAndStaff } from '@/graphql/queries';
import EventBus from '@/eventBus'
import { createDocument} from '@/graphql/mutations'
import { createMessageReadStatus, updateMessageReadStatus } from '@/store/mutations';
import { Storage } from 'aws-amplify'
import moment from 'moment';
import MessageVehicleForm from './MessageVehicleForm'
import MessageWithEmojie from '@/components/shared/Messenger/MessageWithEmojie'
import { loadStaff} from '@/views/Messenger/countUnreadMessages';
import { INCIDENT_ROUTE_NEW } from '@/utilities/constants/routeNames';
import { joinMessages } from '@/utilities/joinMessages'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';


export default {
    props: ['staffId', 'photoSrc', "staff", 'outgoingMessagesPendingCurrentStaff'],
    components: {
        MessageVehicleForm,
        MessageWithEmojie,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data(){
        return{
            isGoToLastUnreadButtonVisible: false,
            lastMessageTimeStamp: null,
            staffReadUpToDateTime: null,
            lastUnreadMessage: null,
            mobile: false,
            loading: true,
            firstLoad: true,
            messages: [],
            nextToken: null,
            scrollingDisabled: false,
            photoUrl: null,
            modalOpen: false,
            saveToModalOpen: false,
            formFields: {
                vehicle: '',
                whereToSave: '',
                accidentReport: '',
                vehicleDamageReport: '',
                s3Key: '',
                contentType: '',
            },
            loadCount: 0,
            finishedScrollLoad: false,
            lastMessageUnread: null,
            isLastMessageVisible: false,
            lastMessage: null,
            lastVisitStaffChat: null,
            hasNewMessages: false,
            lastMessageNotRead: null,
            refreshKey: 0
        }
    },
    computed:{
        ...mapState(['userInfo']),
        ...mapGetters(['isSystemAdmin','hasLogguedSupportAdministrator']),
        
        ...mapGetters('subscriptionStore',[
            'getMessengerLookupMap'
        ]),

        imgCount(){
            if(this.messages.length){
                var newArr = this.messages.filter(message => message.isImage)
                return newArr.length
            }else{
                return 0
            }
        },
        messagesAndPendingConfirmation(){
            this.refreshKey
            return [ ...this.messages, ...this.outgoingMessagesPendingCurrentStaff ];
        }
    },
    async created () {
        this.lastVisitStaffChat = await this.getRecordByUserAndStaff();
        await this.loadData();
    },

    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    },
    
    async mounted(){
        let parContainer = document.querySelector("#message-list");
        this.staffReadUpToDateTime = await this.getRecordByUserAndStaff();
            parContainer.addEventListener("scroll", 
        this.scrollHandler
         );
        setTimeout(() => {
            EventBus.$emit('get-isGoToLastUnreadButtonVisible-value', this.isGoToLastUnreadButtonVisible);
        }, 2000)

        EventBus.$on('messenger-new-message-conversation', (payload) => this.handleNewMessage(payload));
        EventBus.$on('messenger-update-message-conversation', (updateMessPayload) => this.handleUpdateMessage(updateMessPayload));
        if(this.$route.path.includes('/m/')){
            this.mobile = true
        };
    },
    async beforeDestroy(){
        EventBus.$off('messenger-new-message-conversation')
        EventBus.$off('messenger-update-message-conversation')
    },

    methods:{
        scrollHandler () {
            let parContainer = document.querySelector("#message-list");
            const button = this.$refs.goToLastUnread;
            const messages = parContainer.getElementsByClassName("chat-message");
            const lastUnreadMessage = this.getLastUnreadMessage();
            this.lastUnreadMessage = lastUnreadMessage;
            let _readUpToDateTime = this.staffReadUpToDateTime && this.staffReadUpToDateTime.readUpToDateTime && this.staffReadUpToDateTime.readUpToDateTime;
            const unreadMessageAboveVisibleArea = Array.from(messages).find(
            (message) =>
            {
            const isBefore = (!_readUpToDateTime || moment(_readUpToDateTime).isBefore(message.dataset.createdat));
            const isResponse = message.dataset.channeltype === "RESPONSE";
            const isAboveVisibleArea = message.getBoundingClientRect().top < parContainer.getBoundingClientRect().top;

        // Check if all conditions are met
            return isBefore && isResponse && isAboveVisibleArea;           
            }
            );

        // Show or hide the button based on the condition.
            if (unreadMessageAboveVisibleArea) 
            {
            button.style.display = "flex"; // Show the button.
            this.isGoToLastUnreadButtonVisible = true
            }   else 
            {
            button.style.display = "none"; // Hide the button.
            this.isGoToLastUnreadButtonVisible = false
        // Check if the last unread message is in view and hit APIs
            if (this.lastUnreadMessage && this.isMessageInView(this.lastUnreadMessage, parContainer)) 
            {
            if(parContainer.scrollHeight !== parContainer.clientHeight +  parContainer.scrollTop)
            {
            this.saveReadChatStaff(parContainer); 
            }
            }
            }

        },
        scrollToLastUnread() {
            if (this.lastUnreadMessage) 
            {
                if(this.lastUnreadMessage.dataset && this.lastUnreadMessage.dataset.newmessage && this.lastUnreadMessage.dataset.newmessage)
                {
                let _messId = this.lastUnreadMessage.dataset && this.lastUnreadMessage.dataset.messageid && this.lastUnreadMessage.dataset.messageid
                let newMessagesRef = this.$refs[_messId];
                if (newMessagesRef && newMessagesRef.length > 0) {
                    newMessagesRef[0].scrollIntoView({ behavior: "auto", block: "center" });                   
                }                    
                }
                else
                {
                 setTimeout(() => {
                    this.lastUnreadMessage.scrollIntoView({ behavior: "auto", block: "start" });                   
                 }, 100);
                } 

            }
            let _parContainer = document.querySelector("#message-list");
            this.saveReadChatStaff(_parContainer); 
        },
        getLastUnreadMessage() {
            const messages = document.getElementsByClassName("chat-message");
            for (let i = 0; i < messages.length; i++) 
            {
            const message = messages[i];
            let _readUpToDateTime = this.staffReadUpToDateTime && this.staffReadUpToDateTime.readUpToDateTime && this.staffReadUpToDateTime.readUpToDateTime;
            const isUnread = (!_readUpToDateTime || moment(_readUpToDateTime).isBefore(message.dataset.createdat));
            if (isUnread && message.dataset.channeltype === "RESPONSE") 
            {
            return message;
            }
            }
            return null; // No unread message found
        },
        isMessageInView(element, parContainer) {
            const rect = element.getBoundingClientRect();
            return rect.bottom >= parContainer.getBoundingClientRect().top;
        },
        getLatestMessageTimeStamp() {
              
            let latestMessage = null;
            if(this.messagesAndPendingConfirmation && this.messagesAndPendingConfirmation.length > 0)
            {
                for (let i = 0; i < this.messagesAndPendingConfirmation.length; i++) {   
             const message = this.messagesAndPendingConfirmation[i];
             const messageCreatedAt = message.createdAt;

             if (!latestMessage || messageCreatedAt > latestMessage.createdAt) {
              latestMessage = message;
              }
             }
            }
            return latestMessage.createdAt
        },
        async getMessageByUserAndStaff() {
            const userID = this.userInfo.id;
            const staffID = this.staff.id;
            const group = this.userInfo.tenant.group;
            const input = 
            { 
                
            userID, 
            staffID, 
            group,
            filter: 
             {
               userID: { eq: userID },
               staffID: { eq: staffID },
             }
            };
            
            const items = await this.gLoadListAll(messageReadStatusByUserAndStaff, input, 'messageReadStatusByUserAndStaff');
            const [ found ] =  items; 
            return found;
        },
        async saveReadChatStaff(parContainer) {
            parContainer.removeEventListener("scroll", this.scrollHandler);
            const button = this.$refs.goToLastUnread;
            button.style.display = "none"
            let _res = this.updateChatReadStatus();
            if (_res) {
                this.staffReadUpToDateTime = await this.getRecordByUserAndStaff();
                parContainer.addEventListener("scroll", this.scrollHandler);
            }
        },
        async updateReadChatStaff( idRecord ) {
            const res = await this.api(updateMessageReadStatus, { input: {
                id: idRecord,
                readUpToDateTime: this.lastMessageTimeStamp || this.getLatestMessageTimeStamp(),
            }});
            return res;
        },
        async createReadChatStaff( { group, readUpToDateTime, userID, staffID } ) {
            const res = await this.api( createMessageReadStatus, { input: { group, readUpToDateTime, userID, staffID } } );
            return res;
        },
        async updateChatReadStatus() {
            const chat = this.getMessengerLookupMap[this.staff.id]
            if(chat && chat.messageUnread > 0)
             {
                const recordFound = await this.getMessageByUserAndStaff();
                const newRecord = {
                    readUpToDateTime: this.lastMessageTimeStamp || this.getLatestMessageTimeStamp(),
                    userID: this.userInfo.id,
                    staffID: this.staff.id,
                    group: this.userInfo.tenant.group
                }
                const response = ( recordFound ) ? await this.updateReadChatStaff( recordFound.id ) : await this.createReadChatStaff( newRecord );
                return response
             }
        },
        async loadData(){
            this.loading = true
            try{
                // load message for staff member
                let input = {
                    staffId: this.staffId,
                    sortDirection: 'DESC',
                    nextToken: this.nextToken,
                    limit: 20
                }
                const messagesQuery = await this.api(messagesByStaffId, input)
                const messages = messagesQuery.data.messagesByStaffId.items
                this.nextToken = messagesQuery.data.messagesByStaffId.nextToken

                const messagesWithNewProperties = messages.map( message => {
                    return {
                        ...message,
                        url: null,
                        isImage: null,
                        filename: null
                    }
                });
                this.messages = [ ...this.messages, ...messagesWithNewProperties ]

                this.messages = joinMessages(this.messages, false).sort(this.sortMessagesByDateCreated)
                this.messages = this.recurringMessagesOnlySMS(this.messages)
                const firstMessageUnread = this.determineFirstMessageNotRead( this.messages, this.lastVisitStaffChat);
                const messageUnreadID = firstMessageUnread ? firstMessageUnread.id : undefined;
                
                this.searchAndUpdateMessage( messageUnreadID );

                //load images
                await this.setImageURLs()
                this.scrollToLastMessage();

            }catch(e){
                this.printUserError(e)
            }finally{

                this.loading = false
                this.firstLoad = false

            }
        },
        dateDisplay(index){
            if(this.messagesAndPendingConfirmation[index]?.outgoingPending) {
                return this.$moment().format('MMMM Do, YYYY')
            }
            let currentDate = this.$moment(this.messagesAndPendingConfirmation[index].createdAt)
            let previousDate = this.$moment(this.messagesAndPendingConfirmation[index].createdAt)
            if (index > 0) {previousDate = this.$moment(this.messagesAndPendingConfirmation[index - 1].createdAt)}
            //else { previousDate = currentDate}

            if (index == 0 || !currentDate.isSame(previousDate,'day')) {
                return this.$moment(this.messagesAndPendingConfirmation[index].createdAt).format('MMMM Do, YYYY')
            } 
            return null
        },
        recurringMessagesOnlySMS(messages){
            const messagesOnlySMS = messages.filter(function(message){
                let validateRecurringMessageOnlySMS = message?.channelType.trim() === 'EMAIL' 
                && message?.messageType.trim() === 'recurring'
                return !(validateRecurringMessageOnlySMS) ? true : false
            });
            return messagesOnlySMS
        },

        async handleUpdateMessage(updateMessPayload) {
            const message = this.messages.find(m => m.id === updateMessPayload.id)
            if(message){
                message.smsStatus = updateMessPayload?.smsStatus;
                message.smsSendInformation = updateMessPayload?.smsSendInformation;
                this.refreshKey++
            }else if((updateMessPayload.staff?.id || updateMessPayload.staffId) === this.staffId){
                this.messages.push(updateMessPayload)
            }
        },

        confirmReceiptOfOutgoingMessage(payload){
            const sentMessage = this.outgoingMessagesPendingCurrentStaff.findIndex(pendingMessage => {
                if(payload.attachment?.id){
                    return pendingMessage.outgoingPending === (payload.attachment.contentType?.includes('image')?'Uploading Image':'Uploading File')
                }
                return pendingMessage.outgoingPending === payload.bodyText
            })

            if(sentMessage > -1){
                this.outgoingMessagesPendingCurrentStaff.splice(sentMessage, 1)
            }
        },

        /*
            handleNewMessage(payload)
                push payload to message array
        */
        async handleNewMessage(payload){
            // let input = {id: payload.id}
            // var response = await this.api(getMessage, input)
            // let message = response.data.getMessage
            let message = payload

            const messageExists = this.messages.find(m => m.id === message.id)
            if(messageExists){
                this.handleUpdateMessage(payload)
                return
            }

            this.confirmReceiptOfOutgoingMessage(message)

            // add to conversation if staff ID on the message matches the staff being viewed
            if ((message.channelType.includes("SMS") || message.channelType.includes("EMAIL") || (message.channelType == "RESPONSE" && message.id)) && (message.staffId == this.staffId)){
                if (message.attachment){
                    //Make S3 Link
                    //Set isImage Flag
                    var fileUrl = await Storage.get(message.attachment.s3Key)
                    var isImage = message.attachment.contentType && message.attachment.contentType.includes("image") ? true : false
                    message.fileName = message.attachment.s3Key.substr( message.attachment.s3Key.lastIndexOf('/') + 1)
                    message.url = fileUrl
                    message.isImage = isImage
                }
                this.lastMessageTimeStamp = message && message.createdAt
                this.messages.push(message)
                setTimeout(async () => {
                    if(!this.isGoToLastUnreadButtonVisible)
                    {
                     let _response = this.updateChatReadStatus();
                     if (_response) {
                        this.staffReadUpToDateTime = await this.getRecordByUserAndStaff();
                    }
                 }
                }, 2000)

                // mark the message as read
            }

            this.$nextTick(()=>{
                setTimeout(()=>{
                    var container = document.querySelector("#message-list");
                    container.scrollTop = container.scrollHeight ;
                    if(window.innerWidth < 768){ // md
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                }, 300)
            })
        },
        /*
            timeDisplay(index)
                check time of next message 
                show a visible version of timestamp if time difference is > 5 mins
                or if the previous message came from the other party
        */
        timeDisplay(index){
            //check if time difference qualifies
            let messageTime = this.$moment(this.messages[index].createdAt)
            let nextMessageTime = this.$moment()
            if (!this.messages[index - 1]) {
              return 1
            }
            if (this.messages[index - 1]) {
              nextMessageTime = this.$moment(this.messages[index - 1].createdAt)
            }
            //validating if is the same day
            if(messageTime.diff(nextMessageTime, 'days') !== 0){ 
              return 1
            }
            //validating if the current date message and next date message is difference between 5 minutes
            if (messageTime.diff(nextMessageTime, 'minutes') >= 5){
              return 1
            }
            return null
        },

        // automatically loads more messages when scrolling to the top
        handleScroll: async function(el) {
            if(!el?.srcElement){
                return
            }
            if((el.srcElement.scrollTop) <= 50 && this.nextToken && !this.scrollingDisabled) {
                //disables self triggering
                this.scrollingDisabled = true
                
                var oldP = el.srcElement.scrollHeight
                await this.loadData()
                var newP = el.srcElement.scrollHeight
                var container = document.querySelector("#message-list");
                container.scrollTop = newP - oldP;

                //re-enable scroll-loading
                this.scrollingDisabled = false
            }
        },

        openImageModal(url){
            this.photoUrl = url
            this.modalOpen = true
        },

        setImageURLs: function(){
            this.messages.map(async (message) =>{
                //check if image 
                if(message.attachment && message.attachment.contentType){
                    if(message.attachment.contentType.includes("image")){
                        message.url = await Storage.get(message.attachment.s3Key)
                        message.isImage = true
                    }
                    message.fileName = message.attachment.s3Key.substr( message.attachment.s3Key.lastIndexOf('/') + 1)
                }else{
                    message.isImage = false
                }
            })
        },

        handleDropdownCommand(command){
            console.log(command)
            var action = command.action
            if(action == "saveToDA"){
                //save to da
                this.saveAttachmentToDA(command.params.s3Key)
            }
            else if(action == "saveToVehicle"){
                this.formFields.s3Key = command.params.s3Key
                this.formFields.contentType = command.params.contentType
                this.openVehicleModal()
            }
            else if(action == "download"){
                //initialize download of attachment
                this.downloadAttachment(command.params.s3Key)
            }
        },

        async downloadAttachment(s3Key){
            var url = await Storage.get(s3Key)
            window.location = url
        },

        async saveAttachmentToDA(s3Key){
          var fileName = s3Key.substr(s3Key.lastIndexOf('/') + 1)
          var timestamp = String(Date.now())
          this.loading = true
          try{
            //Dowmload from S3
            var file = await Storage.get(s3Key, { download: true})

            //Upload to S3
            var object = await Storage.put(this.$store.state.userInfo.tenant.group + '/documents/' + this.staffId.toLowerCase() + '/' + timestamp + "/" + fileName, file.Body)
            var fileKey = object.key

            //This is done to avoid deleting the file in one place deleting the file in another place. 

            //Create document record
            const input = {
                documentStaffId: this.staffId,
                group: this.$store.state.userInfo.tenant.group,
                key: fileKey,
                name: fileName,
                notes: 'Created from messenger',
                uploadDate: new Date(),
            }          
            const result = await this.api(createDocument, {input: input})

            //notify success
            this.displayUserNotification({
                title: "Success",
                message: `Document Added to ${this.$t('label.associate')}`,
                type: 'success'
            })

          }catch(e){
            this.displayUserError(e)
          }finally{
            this.loading = false
          }
        },

        openVehicleModal(){
            this.formFields.vehicle = null
            this.formFields.whereToSave = null
            this.formFields.accidentReport = null
            this.formFields.vehicleDamageReport = null
            this.saveToModalOpen = true
        },

        cancelEditModal(){
            this.saveToModalOpen = false
        },

        async handleUpdate(){
            //Check if form is complete?

            if(this.formFields.whereToSave == 'Accident Record'){
                await this.updateAccidentReport();
            }else if(this.formFields.whereToSave == 'Vehicle Images'){
                await this.updateVehicleImages();
            }else if(this.formFields.whereToSave == 'Vehicle Damage Record'){
                await this.updateVehicleDamage();
            }
        },

        newVehicleDamageReport(){
            if(!this.formFields.vehicle){
                this.displayUserNotification({
                    title: "Error",
                    message: 'Please select a vehicle',
                    type: 'error'
                })
                return 
            }
            this.saveToModalOpen = false
            this.$router.push({name:"VehicleDetail", params:{ id: this.formFields.vehicle, newForm: {staffId: this.staffId, vehicleId: this.formFields.vehicle, s3Key: this.formFields.s3Key, contentType: this.formFields.contentType }}})
        },

        async updateVehicleDamage(){
            //creates a new document record and relates to vehicle damage Record
            if(!this.formFields.vehicle || !this.formFields.vehicleDamageReport){
                this.displayUserNotification({
                    title: "Success",
                    message: 'Please select a vehicle and vehicle damage record',
                    type: 'success'
                })
                return                     
            }
            this.loading = true
            try{
                var timestamp = String(Date.now())
                var fileName = this.formFields.s3Key.substr(this.formFields.s3Key.lastIndexOf('/') + 1)

                //Dowmload from S3
                var file = await Storage.get(this.formFields.s3Key, { download: true})

                //Upload to S3
                var object = await Storage.put(this.$store.state.userInfo.tenant.group + '/vehicle/' + this.formFields.vehicle.toLowerCase() + '/vehicle-damage/' + this.formFields.vehicleDamageReport.toLowerCase() + '/' + timestamp + "/" + fileName, file.Body)
                var fileKey = object.key

                //This is done to avoid deleting the file in one place deleting the file in another place. 

                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: this.formFields.contentType,
                    key: fileKey,
                    documentImagevehicleDamageId: this.formFields.vehicleDamageReport
                }            
                var result = await this.api(createDocument, {input: input})
                this.saveToModalOpen = false

                this.displayUserNotification({
                    title: "Success",
                    message: 'Image added to Vehicle Damage Record',
                    type: 'success'
                })
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },

        newAccidentReport(){
            if(!this.formFields.vehicle){
                this.displayUserNotification({
                    title: "Error",
                    message: 'Please select a vehicle',
                    type: 'error'
                })
                return 
            }
            this.saveToModalOpen = false
            this.$router.push({
                name: INCIDENT_ROUTE_NEW,
                params:{
                    loadAsAccidentType: true,
                    newForm: {
                        staffId: this.staffId,
                        vehicleId: this.formFields.vehicle,
                        s3Key: this.formFields.s3Key,
                        contentType: this.formFields.contentType
                    },
                },
            });
        },

        async updateAccidentReport(){
            //creates a new document record and relates to Accident Record
            if(!this.formFields.vehicle || !this.formFields.accidentReport){
                this.displayUserNotification({
                    title: "Error",
                    message: 'Please select a vehicle and Accident Record',
                    type: 'error'
                })
                return                     
            }
            this.loading = true
            try{
                var timestamp = String(Date.now())
                var fileName = this.formFields.s3Key.substr(this.formFields.s3Key.lastIndexOf('/') + 1)

                //Dowmload from S3
                var file = await Storage.get(this.formFields.s3Key, { download: true})

                //Upload to S3
                var object = await Storage.put(this.$store.state.userInfo.tenant.group + '/documents/' + this.staffId.toLowerCase() + '/' + timestamp + "/" + fileName, file.Body)
                var fileKey = object.key

                //This is done to avoid deleting the file in one place deleting the file in another place. 

                var input = {
                    group: this.$store.state.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: this.formFields.contentType,
                    key: fileKey,
                    documentIncidentId: this.formFields.accidentReport,
                }            
                var result = await this.api(createDocument, {input: input})
                this.saveToModalOpen = false

                //notify success
                this.displayUserNotification({
                    title: "Success",
                    message: 'Image added to Accident Record',
                    type: 'success'
                })
            }catch(e){
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },

        async updateVehicleImages(){
            if(!this.formFields.vehicle){
                this.displayUserNotification({
                    title: "Error",
                    message: 'Please select a vehicle',
                    type: 'error'
                })               
            }
            this.loading = true
            try{
                var timestamp = String(Date.now())
                var fileName = this.formFields.s3Key.substr(this.formFields.s3Key.lastIndexOf('/') + 1)

                //Dowmload from S3
                var file = await Storage.get(this.formFields.s3Key, { download: true})

                //Upload to S3
                var object = await Storage.put(this.$store.state.userInfo.tenant.group + '/documents/' + this.staffId.toLowerCase() + '/' + timestamp + "/" + fileName, file.Body)
                var fileKey = object.key

                //This is done to avoid deleting the file in one place deleting the file in another place. 
                
                var input = {
                    name: fileName,
                    key: this.formFields.s3Key,
                    type: "Vehicle Image",
                    uploadDate: timestamp,
                    documentVehicleId: this.formFields.vehicle,
                    group: this.$store.state.userInfo.tenant.group
                }
                var result = await this.api(createDocument, {input: input})
                this.saveToModalOpen = false

                this.displayUserNotification({
                    title: "Success",
                    message: 'Image added to Vehicle',
                    type: 'success'
                })
            }catch(e){
                this.displayUserError(e)   
            }finally{
                this.loading = false
            }

        },
        
        tempLink(attachment){
            const id = (attachment.shortenUrl?.items.length > 0) ? attachment.shortenUrl.items[0].shortenId : `f/${attachment.id}` 
            const DOMAIN_SHORT_URL = `${process.env.VUE_APP_SHORTEN_URL_DOMAIN}/u/`
            return DOMAIN_SHORT_URL + id
        },

        checkPageFullLoad(){
            this.loadCount = this.loadCount + 1
            if(this.loadCount >= this.imgCount && !this.finishedScrollLoad){
                // var container = document.querySelector("#message-list");
                // container.scrollTop = container.scrollHeight;
                this.finishedScrollLoad = true
            }
        },

        async getRecordByUserAndStaff() {
            const userID = this.userInfo.id;
            const staffID = this.staffId;
            const group = this.userInfo.tenant.group;
            const input = { userID, staffID, group, filter: { userID: { eq: userID }, staffID: { eq: staffID }, } };
            const items = await this.gLoadListAll(messageReadStatusByUserAndStaff, input, 'messageReadStatusByUserAndStaff');
            const [ found ] =  items; 
            return found;
        },

        isMessageSendByStaff( message ) {
            const { channelType, messageType } = message;
            return channelType === 'RESPONSE' && messageType === 'messenger';
        },
        
        determineFirstMessageNotRead( listMessages, lastVisit ) {
            const lastVisitStaffChat = { ...lastVisit };
            const messagesOnlyStaff = listMessages.filter( message => message.sender === null );
            const firstMessageNotRead = messagesOnlyStaff.find( message => this.$moment( message.createdAt ).isAfter(lastVisitStaffChat.readUpToDateTime) );
            return firstMessageNotRead;
        },

        scrollToLastMessage() {
            if (!this.hasNewMessages) {
                const elementToView = document.getElementById("message-list");
                elementToView.scrollTop = elementToView.scrollHeight;
            }
            
        },

        sortMessagesByDateCreated( previouMessage, nextMessage ) {
            return new Date( previouMessage.createdAt ) - new Date( nextMessage.createdAt );
        },

        searchAndUpdateMessage( idMessage ) {
            this.resetNewMessages();
            if (idMessage) {
                const messageUpdateIndex = this.messages.findIndex( message => message.id === idMessage );
                this.messages[ messageUpdateIndex ] = { ...this.messages[messageUpdateIndex], newMessage: true }
            }
        },

        /**
         * If there was a new message within the first 20 messages, 
         * set that old new message to false and replace it with the most recent newest
         */
        resetNewMessages () {
            const oldMessageUpdateIndex = this.messages.findIndex( message => message.newMessage === true );
            if (oldMessageUpdateIndex > 0) {
                this.messages[ oldMessageUpdateIndex ] = { ...this.messages[oldMessageUpdateIndex], newMessage: false }
            }
        },

        linkify(inputText) {
            if(!inputText)
                return
            let replacedText, replacePattern1, replacePattern2, replacePattern3;

            //URLs starting with http://, https://, or ftp://
            replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
            replacedText = inputText.replace(replacePattern1, '<a class="underline" href="$1" target="_blank">$1</a>');

            //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
            replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
            replacedText = replacedText.replace(replacePattern2, '$1<a class="underline" href="http://$2" target="_blank">$2</a>');

            //Change email addresses to mailto:: links.
            replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
            replacedText = replacedText.replace(replacePattern3, '<a class="underline" href="mailto:$1">$1</a>');

            return replacedText;
        },
        
    }
}
</script>
<style>
.uil.uil-exclamation-triangle-messenger{
color: #F56C6C !important;
}

.uil-exclamation-triangle-messenger:before{
content:"\e9b0" !important;
}

.mobile-height{
    height: 100% !important;
}

.desktop #message-list {
    /* height: 27rem; */
    height: calc(100vh - 370px);
    min-height: 200px;
}
.alert .desktop #message-list {
    /* height: 27rem; */
    height: calc(100vh - 420px);
    min-height: 200px;
}

.container-new-messages {
    color: rgba(9, 124, 247, 0.32);
    border-color: rgba(9, 124, 247, 0.32);
}

.new-messages {
    margin-top: -12px;
    margin-left: 20px;
}

.sent-message {
    position: relative;
    width: 100%;
    text-align: left;
    word-break: break-word;
}

@media (max-width: 640px) {
    .el-dialog{
        width: 100% !important;
    }
    .box-sizing {
        box-sizing: initial !important;
    }
}
</style>