<template>
    <div :class="mobile ? 'mobile' : 'desktop'">
        <div v-if="!staffId" class="text-3xl text-center pt-48 font-thin text-gray-600">Select {{$t('label.associate')}} From Left</div>
        <template v-else>
            <!-- TOP ROW-->
            <div class="w-full fixed bg-white z-40 bg-blur md:py-auto pt-1 pb-1 md:pt-2 md:h-16 sm:h-14 md:static px-2 md:px-4 mb-0">
                <div class="flex justify-between md:py-auto space-x-4 border-b pb-2">
                    <i class="md:hidden uil uil-angle-left-b icon-button text-brand" @click="$router.go(-1)"></i>
                    <div class="flex space-x-2 items-center">
                        <el-avatar :size="40" :src="photo" fit="cover">
                            {{ initials }}
                        </el-avatar>
                        <div class="flex">
                            <div>
                                <router-link
                                    :to="{ name: 'StaffDetail', params: { id: staffId } }"
                                    class="el-button--text text-sm underline"
                                >
                                    {{ staff.firstName }} {{ staff.lastName }}
                                </router-link>
                                <p class="text-xs text-gray-600">{{formatPhoneNumber(staff.phone)}}</p>
                            </div>
                            <div>
                                <span
                                    class="font-bold rounded-full bg-opacity-10 px-3 py-1 ml-3 text-xs  max-w-full"
                                    :class="this.setClassStatus(staff.status)"
                                >
                                    {{staff.status }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="justify-items-end">
                        <a :href="'tel:' + staff.phone"><i class="uil uil-outgoing-call icon-button text-brand"></i></a>
                    </div>  
                </div>
            </div>

            <!-- MESSAGE LIST -->
            <div class="message-list pt-12 md:pt-0 md:px-4">
                <div class="">
                    <MessagesList :staffId="staffId" :photoSrc="photo" :staff="staff" :outgoingMessagesPendingCurrentStaff="outgoingMessagesPendingCurrentStaff"/>
                </div>
            </div>

            <!-- NEW MESSAGE COMPOSE -->
            <form class="md:ml-0 md:p-4 md:py-1 compose-message fixed bottom-0 w-full md:bg-none md:static z-10" >
                <div class="flex justify-between items-center compose-message px-2" > 
                    <ModalAttachmentMobile v-if="mobile" :staff="staff" class="attachment mb-4" />
                    <ModalAttachment v-else :staff="staff" class="attachment mb-4" />
                    <TwemojiTextarea
                        :class="[!showEmojiPicker ? 'showEmojiPicker':'','flex-grow']"
                        ref="newMessageRef"
                        placeholder="New message"
                        :emojiData="emojiDataAll"
                        :emojiGroups="emojiGroups"
                        :searchEmojisFeat="true"
                        :skinsSelection="true"
                        :twemojiPath="pathsTwemoji.assets"
                        pickerWidth="#twemoji-textarea-outer"
                        @contentChanged="updateNewMessage"
                        @enterKey="validateSendMessage"
                    >
                        <template v-slot:twemoji-picker-button>
                            <button type="button" id="btn-emoji-default">
                                <div class="fade-in">
                                    <img class="emoji" draggable="false" alt="😃" :src="pathsTwemoji.img">
                                </div>
                                <div id="dummy-el" style="display: none;"></div>
                            </button>
                        </template>
                    </TwemojiTextarea>

                    <!-- <p class="hidden md:block italic text-gray-500 text-xs ml-4">Hit Enter/Return to send message</p> -->
                    <!-- <el-button class="hidden md:block" size="small" type="primary" plain @click="clickMessage()">Send</el-button> -->
                    <!-- <input :model="newMessage" class="block md:hidden"> -->
                    <div v-if="this.chars == 0" >
                        <i class="uil uil-message text-2xl text-gray-600" ></i>    
                    </div>
                    <div v-else>
                        <el-tooltip v-if="showSendButton == false" class="item" effect="dark" placement="top" data-cy="dont-send-message">
                            <div slot="content">Unfortunately, cell phone carriers limit the length of text messages.<br><br>If you need to send a long message, there are two options: <br> 1. You can break up the message and send it in multiple parts, and <br> 2. if it is very long, you may want to turn it into a newsletter, save it <br>as a PDF and attach it to the message. <br><br> A PDF newsletter will be easier for the {{$t('label.associate')}} to read and digest all of <br>the information.</div>
                            <i class="uil uil-message text-2xl text-gray-600" ></i>
                        </el-tooltip>
                    </div>
                    <button type="button" v-if="showSendButton == true" data-cy="send-message" ><i class="uil uil-message icon-button text-brand" @click="sendMessage()"></i></button>
                </div>
                <div data-cy="message-template-content">
                    <div class="text-xs text-right mt-0 mb-2 mr-14 flexbox">
                      <div class="mr-4 pr-4">
                        <el-select
                            data-cy="counseling-templates-sel"
                            v-model="messageTemplate.currentValue"
                            popper-class="pre-fill-options"
                            @change="useMessageTemplate"
                            placeholder="Use a Template"
                            filterable
                            clearable
                        >
                            <div class="overflow-auto use-template-button">
                                <el-option-group>
                                    <el-option
                                        v-for="message in messageTemplates"
                                        :key="message.id"
                                        :label="message.name"
                                        :value="message.message"
                                    />
                                </el-option-group>
                            </div>
                            <el-option-group>
                                <el-option
                                    v-if="hasMessageTemplatePermission"
                                    class="border-t create-new-template"
                                    label="Create New Message Template"
                                    value="NewMessageTemplate"
                                />
                            </el-option-group>
                            <template #empty>
                                <div 
                                    v-if="hasMessageTemplatePermission"
                                    @click="$router.push(routeToCreateTemplateInMessenger)"
                                >
                                    <p class="text-brand text-sm px-5 py-2 cursor-pointer">Create New Message Template</p>
                                </div>
                            </template>
                        </el-select>

                      </div>
                      <span :class="charsColor" style="font-weight: bold;">{{chars}}/{{maxChars}}</span>
                      <span class="text-xs ml-1" data-cy="messenger-tooltip">
                        <el-tooltip class="item" placement="left-start">
                            <div slot="content" class="width-300">
                                Unfortunately, cell phone carriers limit the length of text
                                messages. If you need to send a long message, we
                                recommend turning it into a newsletter, saving it as a PDF,
                                and attaching it to the message. A PDF newsletter will be
                                easier for the {{ $t("label.associate") }} to read and digest
                                all of the information.
                            </div>
                            <i class="uil uil-question-circle text-base"></i>
                        </el-tooltip>
                      </span>
                    </div>
                </div>
            </form>
        </template>
    </div>
</template>

<script>
import {mapGetters, mapState, mapActions} from 'vuex'
import {TwemojiTextarea} from '@kevinfaguiar/vue-twemoji-picker';
import EmojiAllData from '@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-all-groups.json';
import EmojiGroups from '@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json';
import { createAttachment } from '@/graphql/mutations'
import { Storage } from 'aws-amplify'
import MessagesList from './MessagesList'
import sendMessage from '@/scripts/sendMessage'
import store from '@/store/index'
import { nanoid } from 'nanoid'
import EventBus from '@/eventBus'
import ModalAttachment from './ModalAttachment';
import ModalAttachmentMobile from './ModalAttachmentMobile';
import {messageTemplatesByGroup} from "@/graphql/queries";
import { PATH_ASSETS_TWEMOJI,PATH_IMG_TWEMOJI } from '@/utilities/constants/messages';

export default {
    props: ['staffId', 'mobile'],
    components: { MessagesList, TwemojiTextarea, ModalAttachment, ModalAttachmentMobile },
    data(){
        return{
            loading: true,
            hasMessageTemplatePermission: '',
            newMessage: '',
            sendingMessages: false,
            allOutgoingMessagesPendingConfirmation: {},
            outgoingMessagesPendingCurrentStaff: [],
            attachmentSizeLimit: 525000, //525kb Toll-free size limit
            chars: 0,
            maxChars: 918,
            showSendButton: false,
            tooltipText: `Unfortunately, cell phone carriers limit the length of text messages.<br><br>If you need to send a long message, there are two options: <br> 1. You can break up the message and send it in multiple parts, and <br> 2. if it is very long, you may want to turn it into a newsletter, save it <br>as a PDF and attach it to the message. <br><br> A PDF newsletter will be easier for the ${this.$t('label.associate')} to read and digest all of <br>the information.</div>`,
            messageTemplates: [],
            pathsTwemoji: {
                assets:'',
                img:''
            },
            messageTemplate: {
                currentValue: null,
                oldValue: null,
            }
        }
    },
    watch: {
        'messageTemplate.currentValue'(newValue, oldValue) {
            this.messageTemplate.oldValue = oldValue
        }
    },
    beforeMount() {
      this.hasMessageTemplatePermission = this.hasMessageTemplateManagement
      this.pathsTwemoji.assets = PATH_ASSETS_TWEMOJI
      this.pathsTwemoji.img = PATH_IMG_TWEMOJI
    },
    mounted(){
        this.loadMessagesTemplates()

        // hide footer
        if(this.mobile){ 
            var element = document.getElementById("app-footer");
            element.classList.add("hidden");
        }
    },
    beforeDestroy(){
        if(this.mobile){ 
            var element = document.getElementById("app-footer");
            element.classList.remove("hidden");
        }
    },
    computed:{
        ...mapState(['userInfo']),
        ...mapGetters(['hasMessageTemplateManagement']),
        ...mapGetters('subscriptionStore',[
            'getMessengerLookupMap'
        ]),
        initials(){
            if(this.loading){
                return ''
            }
            if (!this.staff.id) return '';
            return this.staff.firstName.charAt(0) + this.staff.lastName.charAt(0)
        },
        
        showEmojiPicker(){
            return !this.isIos() && !this.isAndroid()
        },
        emojiDataAll() {
            return EmojiAllData;
        },
        emojiGroups() {
            return EmojiGroups;
        },
        charsColor(){
            if(this.chars >= this.maxChars){
                return 'text-red-600'
            }
            return 'text-black-600'
        },
        routeToCreateTemplateInMessenger(){
            return { path: '/settings/messenger' }
        },
        chat(){
            const chat = this.getMessengerLookupMap[this.staffId]
            if(!chat) return {}
            return chat
        },
        staff(){
            return this.chat.staff || {}
        },
        photo(){
            return this.chat.photoUrl || ''
        }
    },
    methods:{
        ...mapGetters('subscriptionStore',[
            'getMessageTemplates'
        ]),
        ...mapActions('subscriptionStore',[
            'setMessageTemplates',
        ]),
        async loadMessagesTemplates () {
          try {
            this.loading = true

            let messageTemplates = this.getMessageTemplates()

            if(!messageTemplates){
                let input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                messageTemplates = await this.gLoadListAll(messageTemplatesByGroup, input, 'messageTemplatesByGroup')
                this.setMessageTemplates(messageTemplates)
            }

            this.messageTemplates = messageTemplates.sort((a, b) => {
                if (a.name.toLowerCase() > b.name.toLowerCase()) {
                    return 1
                }
                if (b.name.toLowerCase() > a.name.toLowerCase()) {
                    return -1
                }
                return 0
            })

          } catch (error) {
            console.log({ error });
          } finally {
            this.loading = false;
          }
        },
        
        useMessageTemplate (message) {
            if(message === "NewMessageTemplate"){
                this.$router.push(this.routeToCreateTemplateInMessenger)
                return
            }
            let warningMessage = 'Choosing a template will override any attachments or text for your message. Are you sure you wish to continue?'
            if(message === "") {
                warningMessage = 'Clearing this template will clear any attachments and text from your message. Are you sure you wish to continue?'
            }
            if (!this.newMessage.length) {
                this.populateMessageBody(message)
            } else {
                this.$confirm(warningMessage, 'Warning', {
                    confirmButtonText: 'Continue',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
            }).then(() => {
                this.populateMessageBody(message)
            }).catch(()=>{
                this.messageTemplate.currentValue = this.messageTemplate.oldValue
            })
          } 
        },

        populateMessageBody (message) {
                this.$refs.newMessageRef.cleanText()
                this.$refs.newMessageRef.addText(message)
        },
        
        pushOutgoingMessages(staff, bodyText){
            const {id, firstName, lastName} = this.userInfo
            const chat = id+"/"+staff.id
            const message = {senderName: firstName+' '+lastName, outgoingPending: bodyText}
            if(this.allOutgoingMessagesPendingConfirmation[chat]){
                this.allOutgoingMessagesPendingConfirmation[chat].push(message)
            }else{
                this.allOutgoingMessagesPendingConfirmation[chat] =  [message]
            }
            this.outgoingMessagesPendingCurrentStaff = this.allOutgoingMessagesPendingConfirmation[chat]
            this.scrollToLastMessage()
        },
        scrollToLastMessage(){
            this.$nextTick(()=>{
                var container = document.querySelector("#message-list");
                container.scrollTop = container.scrollHeight ;
                if(window.innerWidth < 768){ // md
                    window.scrollTo(0, document.body.scrollHeight);
                }
            })
        },
        validateSendMessage(event) {
            if (this.chars > 0 && this.chars <= this.maxChars) {
                this.sendMessage(event)
            }
        },
        async sendMessage(event){
            if(this.sendingMessages){
                return
            }
            this.sendingMessages = true
            //Don't send if shift is held down.
            if(event && event.shiftKey == true){
                return
            }
            //Prevent return from being added to textarea
            event && event.preventDefault()
            
            //Send message
            let staff = this.staff
            staff.receiveTextMessages = true // this forces messages to go through even if a staff is not registered to recieve SMS
            let bodyText = this.newMessage.trim()
            let bodyHtml = this.newMessage.trim()
            let companyName = this.$store.state.userInfo.tenant.companyName
            let route = null
            this.pushOutgoingMessages(staff, bodyText)
            try{
                var response = await sendMessage({staff, companyName, route, bodyText, bodyHtml, type: 'messenger', user: this.userInfo})
                if(!response.success){
                    this.sendingMessages = false
                    throw response
                } else {
                    this.newMessage = ''
                }
                this.$refs.newMessageRef.cleanText()
                this.sendingMessages = false
                this.chars = 0
                this.showSendButton = false
            }
            catch(e){
                this.sendingMessages = false
                if(e.error.errors){
                    var error = e.error.errors[0]
                    if(error.message.includes('Throughput exceeds')){
                        EventBus.$emit('load-messages')
                        return
                    } 
                    e = error
                }
                this.displayUserError(e)
            }
        },

        async clickMessage(){
            //Send message
            let staff = this.staff
            staff.receiveTextMessages = true
            let bodyText = this.newMessage
            let bodyHtml = this.newMessage
            let companyName = this.$store.state.userInfo.tenant.companyName
            let route = null
            var response = await sendMessage({staff, companyName, route, bodyText, bodyHtml, user: this.userInfo})
            if(!response.success){
                this.displayUserError(response.error)
            }
            this.newMessage = ''
            this.$refs.newMessageRef.cleanText()
            
        },

        /**
         * Keeps message in sync with emoji picker
         */
        async updateNewMessage(text){           
            if(text.trim().includes('<br>')){
                text = text.replace('<br>','');
            }
            this.chars = text.trim().length;
            (this.chars > 0) ? this.showSendButton = true : this.showSendButton = false;

                (this.chars > 918) ? document.getElementById("twemoji-textarea").style.color = "red" : document.getElementById("twemoji-textarea").style.color = "black";

            let countChars = this.chars
            let maxChars = this.maxChars

            if(countChars > maxChars){
                this.showSendButton = false
            }
            
            this.newMessage = text;
        },

        async sendAttachment(e){
            try{
                //Upload Image to S3
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0]
                var fileType = file.type
                var fileSize = file.size
                var isImage = fileType.includes("image") ? true : false
                this.pushOutgoingMessages(this.staff, isImage? 'Uploading Image' : 'Uploading File')
                var now = new Date()

                //Upload to S3
                var object = await Storage.put(store.state.userInfo.tenant.group + '/messages/' + this.staff.id + '/' + now.getTime() + '/' + file.name , file)
                var fileKey = object.key

                //Create attachment record
                //chat attachments don't expire
                var input = {
                    id: nanoid(9),
                    group: this.$store.state.userInfo.tenant.group,
                    s3Key: fileKey,
                    expirationDate: new Date().setFullYear(2099),
                    contentType: fileType,
                    fileSize: fileSize
                }
                var results = await this.api(createAttachment,  {input: input})
                var attachmentId = results.data.createAttachment.id
                const expirationDate = results.data.createAttachment.expirationDate

                //sends a message
                let staff = this.staff
                staff.receiveTextMessages = true
                let bodyText = null
                let bodyHtml = null
                let companyName = this.$store.state.userInfo.tenant.companyName
                let route = null                
                var response = await sendMessage({staff, companyName, route, bodyText, bodyHtml, attachmentId, fileType, user: this.userInfo, withShortenUrl: true, expirationDate})
                if(!response.success){
                    throw response
                }
            }catch(e){
                if(e.error.errors){
                    var error = e.error.errors[0]
                    if(error.message.includes('Throughput exceeds')){
                        EventBus.$emit('load-messages')
                        return
                    } 
                    e = error
                }
                this.displayUserError(e)
            }
        },
        updateWidthOptions(event, popperClass){
            this.$nextTick(()=>{
                const selectWidth = event.target?.clientWidth || 0
                const popper = document.querySelector(popperClass)
                if(popper) popper.style.width = selectWidth + 'px'
            })
        },
    }
}
</script>
<style lang="scss" scoped>

::-webkit-scrollbar {
  width: 6px;
  top: 2px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out;
}

::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
}

::-webkit-scrollbar-thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  transition: 0.3s background-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.5);
}

.compose-message{
    background-color: rgb(247, 247, 247);
}
.mobile-messenger-header{
    background-color: rgba(255, 255, 255, 1); 
    z-index:15;
    padding: auto 0px !important;
    margin-top: 0px !important;
}
@media (orientation: portrait) {
    .mobile .mobile-messenger-header{
        background-color: rgba(255, 255, 255, 1); 
        z-index:48;
        top: 70px;
        position: fixed;
        width: 100%;
    }
} 
.showEmojiPicker::v-deep #btn-emoji-default{
    display: none ;
}

#twemoji-textarea{
    height: 60px;
    max-width: 620px !important;
    @apply overflow-y-scroll;
    @apply max-h-20;
}

.flexbox{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) { // md 
    .message-list{
        min-height: calc(100vh - 21rem);
    }
}

@media (max-width: 375px) { 
    #twemoji-textarea{
        width: 204px !important;
    }
} 

@media (max-width: 414px) { 
    #twemoji-textarea{
        width: 219px !important;
    }
}

.desktop {
    width: 100% !important;
}

.width-0 {
    width: 0 !important
}
.use-template-button {
  max-height: 125px;
}
.create-new-template{
    &.el-select-dropdown__item{
        @apply text-brand
    }
}

.width-300 {
    width: 18.75rem;
}
</style>
