<template>
    <div>
        <el-form label-width="300px" label-position="top" ref="form">

        <div class="flex">
            <el-form-item class="w-full" label="Vehicle" prop="vehicle">
                <el-select @change="loadAccidentReports" class="w-full pr-3" v-model="formFields.vehicle" clearable>
                    <el-option
                    v-for="vehicle in vehicles"
                    :key="vehicle.id"
                    :label="vehicle.name"
                    :value="vehicle.id">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item class="w-full" label="Where to Save" prop="whereToSave">
                <el-select v-loading="accidentsLoading" class="w-full" v-model="formFields.whereToSave" clearable>
                    <el-option key="Accident Record" label="Accident Record" value="Accident Record"></el-option>
                    <el-option key="Vehicle Damage Record" label="Vehicle Damage Record" value="Vehicle Damage Record"></el-option>
                    <el-option key="Vehicle Images" label="Vehicle Images" value="Vehicle Images"></el-option>
                </el-select>
            </el-form-item>
        </div>

        <!-- Accident Record -->
        <div class="flex w-full" v-if="formFields.whereToSave == 'Accident Record' && formFields.vehicle != ''">
            <el-form-item class="w-9/10" label="Accident Record" prop="accidentReport">
                <el-select class="w-full pr-3" v-model="formFields.accidentReport" clearable>
                    <el-option
                    v-for="accident in accidents"
                    :key="accident.id"
                    :label="getAccidentLabel(accident)"
                    :value="accident.id">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-button type="primary" @click="emitEvent('new-accident-report')" class="h-10">Create New</el-button>
        </div>

        <!-- VEHICLE DAMAGE RECORD -->
        <div class="flex w-full" v-if="formFields.whereToSave == 'Vehicle Damage Record'">
            <el-form-item class="w-9/10" label="Vehicle Damage Record" prop="vehicleDamageReport">
                <el-select class="w-full pr-3" v-model="formFields.vehicleDamageReport" clearable>
                    <el-option
                    v-for="vehicleDamageReport in vehicleDamageReports"
                    :key="vehicleDamageReport.id"
                    :label="getAccidentLabel(vehicleDamageReport)"
                    :value="vehicleDamageReport.id">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-button type="primary" @click="emitEvent('new-vehicle-damage-report')" class="h-10">Create New</el-button>
        </div>

        </el-form>
    </div>
</template>

<script>
import { vehiclesByGroup, accidentsByVehicleAndHistoryType } from './queries';

export default {
    name: 'MessageVehicleForm',
    props:['formFields'],
    data(){
        return{
            vehicles: [],
            accidents: [],
            vehicleDamageReports: [],
            accidentsLoading: false,
        }
    },

    mounted(){
        this.loadData()
    },

    computed:{
    },

    methods:{    
        getAccidentLabel(accident) {
            const staffData = (accident.staff) ?
                ` - ${accident.staff.firstName} ${accident.staff.lastName}`: '';

            return this.$moment(accident.accidentDate).format('MM/DD/YYYY') + staffData;
        },

        async loadData(){
            this.loadVehicles()
        },

        async loadVehicles(){
            try{
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.vehicles = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
            }catch(e){
                this.displayUserError(e)
            }
        },

        async loadAccidentReports(){
            this.accidentsLoading = true

            //trap for if they clear filter
            if(!this.formFields.vehicle){
                this.accidents = []
                this.vehicleDamageReports = []
                return
            }


            try{
                //load Accident Records
                var input = {
                    vehicleId: this.formFields.vehicle,
                    vehicleHistoryTypeAccidentDate: {beginsWith: { vehicleHistoryType: "Accident" }}
                }
                var results = await this.gLoadListAll(accidentsByVehicleAndHistoryType, input, 'accidentsByVehicleAndHistoryType')
                this.accidents = results

                //load Vehicle damage Records
                var input = {
                    vehicleId: this.formFields.vehicle,
                    vehicleHistoryTypeAccidentDate: {beginsWith: { vehicleHistoryType: "Vehicle" }}
                }
                var results = await this.gLoadListAll(accidentsByVehicleAndHistoryType, input, 'accidentsByVehicleAndHistoryType')
                this.vehicleDamageReports = results

            }catch(e){
                this.displayUserError(e)
            }finally{
               this.accidentsLoading = false
            }
        },

        emitEvent(event){
            this.$emit(event)
        }
    },
}
</script>
<style scoped>
    .el-button--primary{
       margin-top: 40px !important;
    }

</style>