<template>
    <div class="w-full md:w-96" v-if="$store.getters.isLoggedIn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
        <div class="flex space-x-2 px-2 md:px-0 pt-5 md:pt-0">
            <el-input
                v-model="lazySearch"
                size="small"
                prefix-icon="uil uil-search"
                clearable
                class=" flex-1"
                placeholder="Search..."
                @input="updateSearchText"/>
        </div>

        <div class="flex justify-between space-x-2 mt-4 px-2 md:px-0">
            <el-radio-group v-model="associate" size="small" @change="changeRadio()">
                <el-radio-button class="focus:outline-none" label="Active">
                    <div class="flex">
                        <div>Active</div>
                        <div v-if="activeAssociatesNotificationCount" class="rounded-full bg-pink-500 text-white ml-1 px-1">
                            {{activeAssociatesNotificationCount}}
                        </div>
                    </div>
                </el-radio-button>
                <el-radio-button class="focus:message-none" label="OtherStatuses">
                    <div class="flex">
                        <div>Other Statuses</div>
                        <div v-if="othersAssociatesNotificationCount" class="rounded-full bg-pink-500 text-white ml-1 px-1">
                            {{othersAssociatesNotificationCount}}
                        </div>
                    </div>
                </el-radio-button>
            </el-radio-group>

            <el-radio-group v-model="message" size="small" @change="changeRadio()">
                <el-radio-button class="focus:outline-none" label="All">All</el-radio-button>
                <el-radio-button class="focus:outline-none" label="Unread">Unread</el-radio-button>
            </el-radio-group>
        </div>

        <div v-if="(sortedStaff.length && interval) || filtered.loading" class="conversations divide-y divide-gray-200 w-full md:w-96 md:h-124 mt-4 overflow-y-auto" :class="mobile ? 'mobile' : 'desktop'" v-loading="loading">
            <MessengerListItem 
                class="flex w-full" 
                v-for="chat in sortedStaff" 
                :key="chat.staffId" 
                :chat="chat"
                :mobile="mobile"
            />
        </div>
        <div v-else class="w-full text-gray-600 mt-4 text-center">
            No messages
        </div>
    </div>   
</template>

<script>
import { totalUnreadMessages } from './countUnreadMessages';
import MessengerListItem from './MessengerListItem'
import {mapState, mapGetters} from 'vuex'
import { defaultAssociate, defaultMessage } from "@/router/managementRouteMessenger/queriesData"
import { HeraPathClass } from "@/router/managementRouteMessenger/heraPathClass"

export default {
    props:['loc', 'mobile'],
    components: {MessengerListItem},
    data(){
        return{
            loading: true,
            search: '',
            lazySearch: '',
            lazySearchTimer: null,
            associate: defaultAssociate,
            message: defaultMessage,
            messagesReadStatus: [],
            path: '',
            interval: null,
        }
    },
    mounted(){
        this.setQueriesRouteToGroupRadio()
        if(this.$route.path.includes('messenger')){
            document.querySelector('#nav-container').classList.add('short-header')
            document.body.classList.add('messenger')
        }
        
        // scroll to position on mobile
        if(this.loc){
            var scrollOptions = {
                left: 0,
                top: parseInt(this.loc),
                behavior: 'auto'
            }
            window.scrollTo(scrollOptions)
        }

        const delay = 10000

        const _this = this
        const timeLoop = ()=>{
            if(_this.sortedStaff.length){
                _this.sortedStaff.forEach(chat => chat.updateLastMomentReceived())
            }
            clearTimeout(_this.interval)
            _this.interval = setTimeout(timeLoop, delay)
        }

        this.interval = setTimeout(timeLoop, delay)
    },
    async beforeDestroy(){
        document.querySelector('#nav-container').classList.remove('short-header')
        document.body.classList.remove('messenger')
    },
    computed:{
        ...mapState(['messengerUnreadToggle', 'userInfo']),    
        ...mapState('subscriptionStore', [
            'associateList',
            'messengerList'
        ]),
        
        ...mapGetters('subscriptionStore',[
            'getMessengerLookupMap',
            'getActiveAssociates',
            'getInactiveAssociates'
        ]),

        activeStaffMessengerReadChat(){
            return this.activeAssociates
                .filter(da =>  this.isNotReadChat( da ))
        },

        isSelectedAsActiveAssociates(){
            return this.associate === 'Active'
        },

        inactiveStaffMessengerReadChat(){
            return this.inactiveAssociates
                .filter(da =>  this.isNotReadChat( da ))
        },

        activeAssociates(){
            return this.getActiveAssociates.map(fs => this.getMessengerLookupMap[fs.id] )
        },

        inactiveAssociates(){
            return this.getInactiveAssociates.map(fs => this.getMessengerLookupMap[fs.id] )
        },

        activeAssociatesNotificationCount(){
            if(this.isSelectedAsActiveAssociates){
                return totalUnreadMessages(this.filterBySearchText)
            }else{
                return totalUnreadMessages(this.activeStaffMessengerReadChat.filter(chat => chat.searchKey.match(this.search)))
            }
        },

        othersAssociatesNotificationCount(){
            if(this.isSelectedAsActiveAssociates){
                return totalUnreadMessages(this.inactiveStaffMessengerReadChat.filter(chat => chat.searchKey.match(this.search)))
            }else{
                return totalUnreadMessages(this.filterBySearchText)
            }
        },

        filtered(){
            let filtered = []
            if(
                !this.messengerList.lastRenderKey ||
                !this.associateList.lastRenderKey ||
                (this.associateList.lastRenderKey && this.associateList.length && !this.messengerList.length))
            {
                filtered.loading = true
                return filtered
            }

            if( this.message === 'Unread'){
                if(this.isSelectedAsActiveAssociates){
                    filtered = this.activeStaffMessengerReadChat;
                }else {
                    filtered = this.inactiveStaffMessengerReadChat;
                }
            }
            else {
                if(this.isSelectedAsActiveAssociates){
                    filtered = this.activeAssociates;
                }else {
                    filtered = this.inactiveAssociates
                }
            }
            return filtered
        },

        filterBySearchText(){
            return this.filtered.filter(chat => chat.searchKey.match(this.search))
        },
        sortedStaff(){
            const result = this.filterBySearchText.sort((a,b)=> {
                if( !a.smsLastMessageTime )
                    return 1
                if( !b.smsLastMessageTime )
                    return -1
                return b.smsLastMessageTime - a.smsLastMessageTime
            })
            this.loading = this.filtered.loading
            return result
        },
    },
    methods:{
        isNotReadChat( staff ) {
            if(!staff) return false
            const { readChat } = staff;
            return !readChat;
        },

        async changeRadio() {
            const path = new HeraPathClass().getValidatedPath()
            this.$router.push({
                path,
                query:{
                    associate: this.associate,
                    message: this.message
                }
            })
        },

        updateSearchText(a){
            clearTimeout(this.lazySearchTimer)
            this.loading = true
            this.lazySearchTimer = setTimeout(_this => (_this.search = a.toLowerCase()), 40, this)
        },

        setQueriesRouteToGroupRadio() {
            this.associate = this.$route.query.associate ? this.$route.query.associate : this.associate
            this.message = this.$route.query.message ? this.$route.query.message : this.message
        },
    }
}
</script>
<style>
.desktop.conversations{
    height: calc(100vh - 310px);
    min-height: 265px;
}
.alert .desktop.conversations{
    height: calc(100vh - 350px);
    min-height: 265px;
}
.mobile-messenger-list{
    width: 100vw;
}

.messenger #app-footer, .messenger #referral-banner{
    display: none;
}

.messenger .router-wrap{
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

</style>