<template>
    <div class="h-full">
        <h1 v-if="!loading" class="pb-5 text-center">{{fileName}}</h1>
        <h1 v-if="!canDownload && login == false" class="text-center">{{errorMessage}}</h1>
        <div v-else class="text-center">
            <a class='text-white text-3xl bg-brand px-3 py-2 w-full rounded-lg shadow' :href="fileUrl" download> Download</a>
        </div>
    </div>
</template>

<script>
import { API, Storage } from 'aws-amplify';
import { mapState } from "vuex";
import { getAttachment } from '@/graphql/queries'

export default {
    data(){
        return{
            loading: true,
            attachment: {},
            error: false,
            errorMessage: "Loading...",
            canDownload: false,
            fileUrl: null,
            fileName: null,
            login: ''
        }
    },

    mounted(){
        this.loadData()
    },

    methods:{
        async loadData(){
            try{
                (this.$store.state.userInfo == null) ? this.login = false : this.login = true
                this.loading = true
                if(!this.$route.params.attachmentId){
                    this.error = true
                    this.errorMessage = "Failed to find attachment"
                    return
                }
                var attachmentId = this.$route.params.attachmentId

                //use lambda to generate dl link
                let apiName = 's3downloadlink'
                let path = '/download/' + attachmentId
                var result = await API.get(apiName, path)
                
                if(result.error){
                    throw result
                }

                this.fileUrl = result.url
                this.fileName = result.fileName
                window.location = this.fileUrl
                this.canDownload = true

            }catch(e){
                if(this.login == true){
                    let input = {
                        id: this.$route.params.attachmentId
                    }
                    let attachment = await this.api(getAttachment, input)
                    let attachmentKey = attachment.data.getAttachment.s3Key
                    let attachmentUrl = await Storage.get(attachmentKey)
                    this.fileUrl = attachmentUrl
                }
                
                this.error = true
                this.fileName = result.fileName
                this.errorMessage = result.error
            }finally{
                this.loading = false
            }
        },

    }
}
</script>
<style>
.mobile-height{
    height: 100% !important;
}
</style>