<template>
    <div class="p-4">
        <div class="notes col-span-4 border rounded-lg shadow  p-4 whitespace-pre-line" v-if="!hasMessengerManagement">
            <div class="flex justify-between">
                <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Messenger in Hera.</h4>          
            </div>
        </div>
        <div class="flex md:space-x-6" v-else-if="$store.getters.isLoggedIn">
            <div class="w-full md:w-auto md:pt-4">
                <MessengerList :mobile="mobile" />
            </div>
            <div class="flex-grow border-l-2 md:rounded-lg">
                <MessengerDetail :mobile="mobile" :key="$route.fullPath" :staffId="$route.params.staffId"/>    
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import MessengerList from './MessengerList'
import MessengerDetail from './MessengerDetail'
import { messengerLoadNotifications } from '@/store/subscriptionModule/nested/messengerSubscriptions'

export default {
    data(){
        return {
            mobile: false
        }
    },
    created(){
        messengerLoadNotifications(true)
    },
    mounted(){
        if(this.$route.path.includes('/m/')){
            this.mobile = true
        }
        if(this.$route.path.includes('messenger')){
            document.querySelector('#nav-container').classList.add('short-header')
            document.body.classList.add('messenger')
        }
    },
    computed: {
        ...mapGetters(['hasMessengerManagement']),
    },
    beforeDestroy(){
        document.querySelector('#nav-container').classList.remove('short-header')
        document.body.classList.remove('messenger')
        this.mobile = false
    },
    components: {MessengerList, MessengerDetail}    
}
</script>
<style>
.messenger #app-footer, .messenger #referral-banner{
    display: none;
}
@media screen and (min-width: 768px){
    .messenger .main-content{
        padding-top: 8rem;
    }
    .messenger .router-wrap{
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
}
</style>