<template>
    <div
    class="flex space-x-3 py-2 px-2 w-full cursor-pointer rounded-lg" :class="{'bg-gray-200': currentMessageSelected}" @click="markRead" data-cy="lists-item-message">
        <div class="ml-4 mt-1 relative">
            <span v-if="isNotReadChat" class="absolute rounded-full text-xs w-5 text-center mt-2 text-white indicator-unread-message">{{ unreadMessagesCount }}</span>
            <el-avatar :size="40" :src="chat.photoUrl" class="ml-2" fit="fill">{{ initials }}</el-avatar>
        </div>
        <div class="w-full m:w-96" style="">
            <div class="flex justify-between items-center">
                <div class="font-bold text-sm">{{ associate.firstName }} {{ associate.lastName }}</div>
                <div v-if="chat.lastMomentReceived">
                    <template>
                        <span  class="text-right text-xs" :class="{'text-brand font-bold': isNotReadChat }">
                            {{ chat.lastMomentReceived }}
                        </span>      
                        <i class=" md:hidden text-base uil uil-angle-right "></i>  
                    </template>        
                </div>
            </div>
            <MessageWithEmojie 
                :bodyText="associate.smsLastMessage"
                class="h-4 truncate w-60 text-xs mt-1 pr-4 text-gray-700"
            />
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import { createMessageReadStatus, updateMessageReadStatus } from '@/store/mutations';
import { messageReadStatusByUserAndStaff } from '@/graphql/queries';
import EventBus from '@/eventBus'
import MessageWithEmojie from '@/components/shared/Messenger/MessageWithEmojie'

export default {
    props: ['chat','mobile'],
    components: { MessageWithEmojie },
    data(){
        return{
            isGoToLastUnreadButtonViewable: null,
            isChatClicked: null
        }
    },
    mounted(){
        this.chat.linkedComponent = this
        this.loadData();
        EventBus.$on('get-isGoToLastUnreadButtonVisible-value', (_isGoToLastUnreadButtonVisible) => {
            this.isGoToLastUnreadButtonViewable = _isGoToLastUnreadButtonVisible
            if(this.isChatClicked && !this.isGoToLastUnreadButtonViewable)
             {
              this.saveReadChatStaff();
              this.isChatClicked = false  
             }
            });
    },

    async beforeDestroy(){
        this.chat.linkedComponent = null
        EventBus.$off('get-isGoToLastUnreadButtonVisible-value')
    },

    computed:{
        ...mapState(['userInfo']),

        associate(){
            this.chat.smsLastMessageTime
            return this.chat.staff
        },

        isNotReadChat() {
            const { readChat } = this.chat;
            return !readChat;
        },

        unreadMessagesCount(){
            return this.chat.messageUnread < 100 ? this.chat.messageUnread : '99+'
        },

        initials(){
            return this.associate.firstName.charAt(0) + this.associate.lastName.charAt(0)
        },
        routerLinkDestination(){
            var destination
            if(this.$route.path.includes('/m/')) destination = {name: 'MobileMessengerDetail', params: {staffId: this.associate.id, mobile: this.mobile}} // load mobile route
            else destination = {name: 'Messenger', params: {staffId: this.associate.id}} // load desktop route
            
            return destination
        },
        currentMessageSelected(){
            return this.$route.params.staffId == this.routerLinkDestination.params.staffId
        }
    },
    methods:{
        async loadData(){
            //If no key, exit
            if( !this.associate.photo ){
                return false
            }

            //Attempt to get photo url, fail silently though
            try{
                if((!this.chat.photoUrl && this.associate.photo) || this.chat.lastAssociatePhoto !== this.associate.photo){
                    const photo = await Storage.get(this.associate.photo)
                    this.chat.photoUrl = photo
                    this.chat.lastAssociatePhoto = this.associate.photo
                }
            }catch(e){
                this.printUserError(e)
            }
        },

        async markRead(){
            this.isChatClicked = true 
            // save scroll location to router for mobile
            if(this.$route.path.includes('/m/')) {
                this.$router.push({name: 'MobileMessengerList', params: {loc: window.scrollY, mobile: this.mobile}})
            }

            if(this.$route.params.staffId != this.routerLinkDestination.params.staffId){
                this.$router.push(this.routerLinkDestination)
            }

            // mobile - nav to conversation
            this.$emit('show-conversation')

            this.saveReadChatStaff()
        },

        async getMessageByUserAndStaff() {
            const userID = this.userInfo.id;
            const staffID = this.associate.id;
            const group = this.userInfo.tenant.group;
            const input = { 
                userID, 
                staffID, 
                group,
                filter: {
                    userID: { eq: userID },
                    staffID: { eq: staffID },
                }
            };
            const items = await this.gLoadListAll(messageReadStatusByUserAndStaff, input, 'messageReadStatusByUserAndStaff');
            const [ found ] =  items; 
            return found;
        },

        async saveReadChatStaff() {

            if(!this.chat.readChat || this.chat.messageUnread > 0){
                const recordFound = await this.getMessageByUserAndStaff();
                const newRecord = {
                    readUpToDateTime: this.chat && this.associate.smsLastMessageTimestamp,
                    userID: this.userInfo.id,
                    staffID: this.associate.id,
                    group: this.userInfo.tenant.group
                }
                const response = ( recordFound ) ? await this.updateReadChatStaff( recordFound.id ) : await this.createReadChatStaff( newRecord );
            }

        },

        async updateReadChatStaff( idRecord ) {
            const res = await this.api(updateMessageReadStatus, { input: {
                id: idRecord,
                readUpToDateTime: this.chat && this.associate.smsLastMessageTimestamp
            }});
            return res;
        },

        async createReadChatStaff( { group, readUpToDateTime, userID, staffID } ) {
            const res = await this.api( createMessageReadStatus, { input: { group, readUpToDateTime, userID, staffID } } );
            return res;
        }
        
    }
}
</script>

<style scoped lang="scss">

@media (min-width: 768px) { // md 
    .router-link-active{
        @apply bg-gray-200 rounded-lg;
    }
 }

.indicator-unread-message {
    background-color: #ED64A6;
    margin-left: -1.3rem;
}

</style>