<template>
    <div>
        <el-button class="align-middle inline-block el-button--text text-sm cursor-pointer underline" type="text" @click="showModal">
            <i class="uil uil-paperclip icon-button text-brand"></i>
        </el-button>

        <el-dialog title="Attach file to chat:" :visible.sync="visibility" :show-close="false" :before-close="handleClose">
            <el-form label-position="top" :inline="true" class="form-inline form-attachment" ref="attachForm" :v-model="formFields">
                <Attachment ref="attachRefs" @fieldsAttachment="getFieldsAttachment" @fieldsExpirationDate="getFieldsExpirationDate" @fieldsClean="fieldsClean" />
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="hiddenModal">Cancel</el-button>
                <el-button type="primary" @click="onSubmit" :disabled="btnConfirm">{{btnValue}}</el-button>
            </span>
        </el-dialog>
        <div id="v-modal-overlay" @click="disableOverlay"></div>
    </div>
</template>

<script>
import { graphqlOperation, Storage, API } from "aws-amplify";
import { mapState } from "vuex";
import { nanoid } from "nanoid";
import store from "@/store/index";
import { createAttachment } from "@/graphql/mutations";
import sendMessage from "@/scripts/sendMessage";
import Attachment from "@/components/shared/Attachment/Attachment";

export default {
    props: ["staff"],
    components: {
        Attachment,
    },
    data() {
        return {
            textToUpload: "Drop image or file or here or click to upload",
            allOutgoingMessagesPendingConfirmation: {},
            outgoingMessagesPendingCurrentStaff: [],
            sendingMessages: false,
            visibility: false,
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
            },
            formFields: {
                attachment: "",
                expirationDate: "",
            },
            file: {
                fileName: "",
                filePath: "",
            },
            btnConfirm: true,
            btnValue: "Confirm",
        };
    },
    computed: {
        ...mapState(["userInfo"]),
    },
    methods: {
        handleClose(done) {
            this.disableOverlay();
            done();
          
      },
        getFieldsAttachment(fields) {
            this.formFields.attachment = fields.file;
            this.btnConfirm = false;
        },

        getFieldsExpirationDate(fields) {
            this.formFields.expirationDate = fields;
        },

        fieldsClean() {
            this.formFields.attachment = "";
            this.formFields.expirationDate = "";
            this.btnConfirm = true;
        },
        
        upload(e) {
            this.formFields.attachment = e.file;
        },

        async onSubmit() {
            this.btnConfirm = true;
            this.btnValue = "Sending";
            let input = this.formFields;
            this.sendAttachment(input.attachment, input.expirationDate);
            document.getElementById("v-modal-overlay").style.display = "none";
        },

        async sendAttachment(e, date) {
            try {
                //Upload Image to S3
                var file = e;
                var fileType = file.type;
                var fileSize = file.size;
                var isImage = fileType.includes("image") ? true : false;
                this.pushOutgoingMessages(this.staff, isImage ? "Uploading Image" : "Uploading File");
                var now = new Date();

                //Upload to S3
                var object = await Storage.put(store.state.userInfo.tenant.group + "/messages/" + this.staff.id + "/" + now.getTime() + "/" + file.name, file);
                var fileKey = object.key;

                //Create attachment record
                //chat attachments don't expire
                let input = {
                    id: nanoid(9),
                    group: this.$store.state.userInfo.tenant.group,
                    s3Key: fileKey,
                    expirationDate: this.$moment(date).unix(),
                    contentType: fileType,
                    fileSize: fileSize,
                };

                var results = await this.api(createAttachment, { input: input });
                var attachmentId = results.data.createAttachment.id;
                const expirationDate = results.data.createAttachment.expirationDate

                //sends a message
                let staff = this.staff;
                staff.receiveTextMessages = true;
                let bodyText = null;
                let bodyHtml = null;
                let companyName = this.$store.state.userInfo.tenant.companyName;
                let route = null;
                var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml, attachmentId, fileType, user: this.userInfo, withShortenUrl: true, expirationDate });

                if (!response.success) {
                    throw response;
                } else {
                    this.visibility = false;
                    this.btnValue = "Confirm";
                    this.removeDataPicket();
                    this.removeAttachment();
                    this.$refs.attachRefs.fieldsClean();
                }
            } catch (e) {
                console.log(e);
                if (e.error.errors) {
                    var error = e.error.errors[0];
                    if (error.message.includes("Throughput exceeds")) {
                        EventBus.$emit("load-messages");
                        return;
                    }
                    e = error;
                }
                this.displayUserError(e);
            }
        },

        removeDataPicket() {
            this.formFields.expirationDate = "";
        },

        removeAttachment() {
            this.formFields.attachment = "";
        },

        pushOutgoingMessages(staff, bodyText) {
            const { id, firstName, lastName } = this.userInfo;
            const chat = id + "/" + staff.id;
            const message = { senderName: firstName + " " + lastName, outgoingPending: bodyText };
            if (this.allOutgoingMessagesPendingConfirmation[chat]) {
                this.allOutgoingMessagesPendingConfirmation[chat].push(message);
            } else {
                this.allOutgoingMessagesPendingConfirmation[chat] = [message];
            }
            this.outgoingMessagesPendingCurrentStaff = this.allOutgoingMessagesPendingConfirmation[chat];
            this.scrollToLastMessage();
        },

        scrollToLastMessage() {
            this.$nextTick(() => {
                var container = document.querySelector("#message-list");
                container.scrollTop = container.scrollHeight;
                if (window.innerWidth < 768) {
                    // md
                    window.scrollTo(0, document.body.scrollHeight);
                }
            });
        },

        async sendMessage(event) {
            if (this.sendingMessages) {
                return;
            }
            this.sendingMessages = true;

            //Don't send if shift is held down.
            if (event && event.shiftKey == true) {
                return;
            }

            //Prevent return from being added to textarea
            event && event.preventDefault();

            //Send message
            let staff = this.staff;
            staff.receiveTextMessages = true; // this forces messages to go through even if a staff is not registered to recieve SMS
            let bodyText = this.newMessage;
            let bodyHtml = this.newMessage;
            let companyName = this.$store.state.userInfo.tenant.companyName;
            let route = null;
            this.pushOutgoingMessages(staff, bodyText);

            try {
                var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml, type: "messenger", user: this.userInfo });
                if (!response.success) {
                    this.sendingMessages = false;
                    throw response;
                } else {
                    this.newMessage = "";
                }
                this.$refs.newMessageRef.cleanText();

                this.sendingMessages = false;
            } catch (e) {
                this.sendingMessages = false;
                console.log(e);
                if (e.error.errors) {
                    var error = e.error.errors[0];
                    if (error.message.includes("Throughput exceeds")) {
                        EventBus.$emit("load-messages");
                        return;
                    }
                    e = error;
                }
                this.displayUserError(e);
            }
        },

        showModal() {
            this.visibility = true;
            document.getElementById("v-modal-overlay").style.display = "block";
            this.$refs.attachRefs.valueExpirationDate();
        },

        hiddenModal() {
            this.visibility = false;
            this.$refs.attachRefs.fieldsClean();
            this.btnConfirm = true;
            document.getElementById("v-modal-overlay").style.display = "none";
        },

        disableOverlay() {
            this.visibility = false;
            document.getElementById("v-modal-overlay").style.display = "none";
        },
    },
};
</script>

<style scoped>

.date-picker {
    width: 91% !important;
    /* border: solid 1px red; */
}

#v-modal-overlay {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000000;
    z-index: 2000;
    display: none;
}

@media (max-width: 851px) {
    .date-picker {
        width: 89% !important;
    }
}

@media (max-width: 844px) {
    .date-picker {
        width: 90% !important;
    }
}

@media (max-width: 820px) {
    .date-picker {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    .el-form-item {
        width: 100%;
    }

    .date-picker {
        width: 88% !important;
    }
}

@media (max-width: 375px) {
    .date-picker {
        width: 87% !important;
    }
}

@media (max-width: 280px) {
    .date-picker {
        width: 80% !important;
    }
}
</style>
<style lang="scss">
@media (max-width: 765px) {
    .v-modal {
        position: relative !important;
    }
    .el-dialog {
    width: 90% !important;
    }
}
</style>
