<template>
    <div>
        <el-button class="align-middle inline-block el-button--text text-sm cursor-pointer underline" type="text" @click="modalShow" data-cy="attachment-button">
            <i class="uil uil-paperclip icon-button text-brand"></i>
        </el-button>

        <el-dialog title="Attach file to chat:" :visible.sync="visibility" :show-close="false">
            <el-form label-position="top" :inline="true" class="form-inline form-attachment" ref="attachForm" :v-model="formFields">
                <Attachment ref="attachRefs" @fieldsAttachment="getFieldsAttachment" @fieldsExpirationDate="getFieldsExpirationDate" @fieldsClean="fieldsClean" />
            </el-form>
            <span slot="footer" class="dialog-footer">
                <ButtonGroupWrapper>
                    <template slot-scope="{disabled, setDisabled}">
                        <el-button
                            data-cy="cancel-button"
                            @click="modalClose"
                            :disabled="disabled"
                        >
                            Cancel
                        </el-button>
                        <ButtonWrapper
                            type="primary"
                            data-cy="confirm-button"
                            :clickHandler="onSubmit"
                            :disabled="disabled || btnConfirm"
                            @cb-start="setDisabled(true)"
                            @cb-end="setDisabled(false)"
                        >
                            {{btnValue}}
                        </ButtonWrapper>
                    </template>
                </ButtonGroupWrapper>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { graphqlOperation, Storage, API } from "aws-amplify";
import { mapState } from "vuex";
import { nanoid } from "nanoid";
import store from "@/store/index";
import { createAttachment } from "@/graphql/mutations";
import sendMessage from "@/scripts/sendMessage";
import Attachment from "@/components/shared/Attachment/Attachment";
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
    name: "ModalAttachment",
    props: ["staff"],
    components: {
        Attachment,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data() {
        return {
            textToUpload: "Drop image or file or here or click to upload",
            allOutgoingMessagesPendingConfirmation: {},
            outgoingMessagesPendingCurrentStaff: [],
            sendingMessages: false,
            visibility: false,
            formFields: {
                attachment: "",
                expirationDate: "",
            },
            file: {
                fileName: "",
                filePath: "",
            },
            btnConfirm: true,
            btnValue: "Confirm",
            formAttachment: {},
        };
    },
    computed: {
        ...mapState(["userInfo"]),
    },
    methods: {
        getFieldsAttachment(fields) {
            this.formFields.attachment = fields.file;
            this.btnConfirm = false;
        },

        getFieldsExpirationDate(fields) {
            this.formFields.expirationDate = fields;
        },

        fieldsClean() {
            this.formFields.attachment = "";
            this.formFields.expirationDate = "";
            this.btnConfirm = true;
        },

        upload(e) {
            this.formFields.attachment = e.file;
        },

        async onSubmit() {
            this.btnConfirm = true;
            this.btnValue = "Sending";
            let input = this.formFields
            await this.sendAttachment(input.attachment, input.expirationDate);
        },

        async sendAttachment(e, date) {
            let expirationDate = date;
            try {
                //Upload Image to S3
                var file = e;
                var fileType = file.type;
                var fileSize = file.size;
                var isImage = fileType.includes("image") ? true : false;
                this.pushOutgoingMessages(this.staff, isImage ? "Uploading Image" : "Uploading File");
                var now = new Date();

                //Upload to S3
                var object = await Storage.put(store.state.userInfo.tenant.group + "/messages/" + this.staff.id + "/" + now.getTime() + "/" + file.name, file, {
                    expires: now,
                });
                var fileKey = object.key;

                //Create attachment record
                //chat attachments don't expire
                let input = {
                    id: nanoid(9),
                    group: this.$store.state.userInfo.tenant.group,
                    s3Key: fileKey,
                    expirationDate: this.$moment(expirationDate).unix(),
                    contentType: fileType,
                    fileSize: fileSize,
                };

                var results = await this.api(createAttachment, { input: input });
                var attachmentId = results.data.createAttachment.id;
                expirationDate = results.data.createAttachment.expirationDate

                //sends a message
                let staff = this.staff;
                staff.receiveTextMessages = true;
                let bodyText = null;
                let bodyHtml = null;
                let companyName = this.$store.state.userInfo.tenant.companyName;
                let route = null;
                var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml, attachmentId, fileType, user: this.userInfo, withShortenUrl: true, expirationDate });

                if (!response.success) {
                    throw response;
                } else {
                    this.visibility = false;
                    this.btnValue = "Confirm";
                    this.removeDataPicket();
                    this.removeAttachment();
                    this.$refs.attachRefs.fieldsClean();
                }
            } catch (e) {
                console.log(e);
                if (e.error.errors) {
                    var error = e.error.errors[0];
                    if (error.message.includes("Throughput exceeds")) {
                        EventBus.$emit("load-messages");
                        return;
                    }
                    e = error;
                }
                this.displayUserError(e);
            }
        },

        removeDataPicket() {
            this.formFields.expirationDate = "";
        },

        removeAttachment() {
            this.formFields.attachment = "";
        },

        modalClose(){
            this.visibility = false;
            this.$refs.attachRefs.fieldsClean();
            this.btnConfirm = true;
        },

        modalShow() {
            this.visibility = true;
            setTimeout(() => {
                this.$refs.attachRefs.valueExpirationDate();
            }, 0);
        },

        pushOutgoingMessages(staff, bodyText) {
            const { id, firstName, lastName } = this.userInfo;
            const chat = id + "/" + staff.id;
            const message = { senderName: firstName + " " + lastName, outgoingPending: bodyText };
            if (this.allOutgoingMessagesPendingConfirmation[chat]) {
                this.allOutgoingMessagesPendingConfirmation[chat].push(message);
            } else {
                this.allOutgoingMessagesPendingConfirmation[chat] = [message];
            }
            this.outgoingMessagesPendingCurrentStaff = this.allOutgoingMessagesPendingConfirmation[chat];
            this.scrollToLastMessage();
        },

        scrollToLastMessage() {
            this.$nextTick(() => {
                var container = document.querySelector("#message-list");
                container.scrollTop = container.scrollHeight;
                if (window.innerWidth < 768) {
                    // md
                    window.scrollTo(0, document.body.scrollHeight);
                }
            });
        },

        async sendMessage(event) {
            if (this.sendingMessages) {
                return;
            }
            this.sendingMessages = true;

            //Don't send if shift is held down.
            if (event && event.shiftKey == true) {
                return;
            }

            //Prevent return from being added to textarea
            event && event.preventDefault();

            //Send message
            let staff = this.staff;
            staff.receiveTextMessages = true; // this forces messages to go through even if a staff is not registered to recieve SMS
            let bodyText = this.newMessage;
            let bodyHtml = this.newMessage;
            let companyName = this.$store.state.userInfo.tenant.companyName;
            let route = null;
            this.pushOutgoingMessages(staff, bodyText);

            try {
                var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml, type: "messenger", user: this.userInfo });
                if (!response.success) {
                    this.sendingMessages = false;
                    throw response;
                } else {
                    this.newMessage = "";
                }
                this.$refs.newMessageRef.cleanText();
                this.sendingMessages = false;
            } catch (e) {
                this.sendingMessages = false;
                console.log(e);
                if (e.error.errors) {
                    var error = e.error.errors[0];
                    if (error.message.includes("Throughput exceeds")) {
                        EventBus.$emit("load-messages");
                        return;
                    }
                    e = error;
                }
                this.displayUserError(e);
            }
        },
    },
};
</script>

<style scoped>
@media (max-width: 768px) {
    .el-form-item {
        width: 100%;
    }

    .responsive-dialog {
        width: 50% !important;
    }
}

@media (max-width: 640px) {
    .responsive-dialog {
        width: 75% !important;
    }
}
</style>
