
.scrollConMess {
  padding: "7px 0px 0px 0px"; 
  width: '100%';
  position: relative;
  overflow: hidden;
  height: calc(100vh - 30%) !important;
  top: -10% !important;  
           }
.scrollConMess>div:first-child{
  position: unset !important;
  margin-bottom: 0px !important;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  height: calc(100vh - 230px) !important; 
   }
.scrollConMess>div:first-child::-webkit-scrollbar{
  overflow-x : hidden !important;
  overflow-y : hidden !important;
  overflow: scroll; 
  }

  
@media only screen and (min-width:  500px) and ( max-width: 1366px) {
.scrollConMess {
height: calc(100vh - 49%) !important;
top: -16% !important;
}
}