@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
  @apply bg-gray-100;
}

.auth-layout{
  background-image: url('../images/Hera_Splash.jpg');
}

.bg-blur{
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
}

.align-vertical-padding{
  padding-left: 12px;
  padding-right: 12px;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.el-tabs__item{
  @apply h-14 !important;
}

.el-tabs__content{
  @apply p-0 !important;
}

.el-input__prefix{
    @apply text-gray-600 !important;
}

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  @apply text-3xl font-thin !important;
}

h2{
  @apply text-2xl font-thin !important;
}

h3{
  @apply text-xl font-thin !important;
}

:focus {
  outline: none !important;
}

.el-button--success{
    background-color: #16A34A !important;
    border-color: #16A34A !important;
}
.el-button--success:hover{
    background-color: #15803D !important;
    border-color: #15803D !important;
}

.el-form-item.settingsSwitch{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.premium-warning-container{
  @apply w-full h-full rounded-lg absolute inset-0 z-10 text-right overflow-hidden cursor-pointer !important
}

.premium-warning-accordion-container{
  height: 90%;
  @apply w-full absolute rounded-lg z-10 text-right right-0 bottom-0 left-0 overflow-hidden cursor-pointer !important
}

.sample-pill{
    @apply w-48 h-8 m-auto absolute transform -translate-x-24 -translate-y-4  left-1/2 top-1/2 font-bold text-white align-middle text-center bg-black bg-opacity-70 rounded-full uppercase  leading-8;
}

document-grid-item-preview{
  @apply h-36 object-cover cursor-pointer rounded-lg mb-4 !important
}

document-grid-item-generic-preview{
  @apply text-preview-icon h-36 object-cover cursor-pointer rounded-lg mb-4 !important
}

.pending-deletion-container{
  @apply w-full h-full absolute inset-0 z-10 bg-black bg-opacity-60 align-middle p-2 !important
}

.pending-deletion-text{
  transform: rotate(-45deg);
}

.info-circle{
  @apply rounded-full px-2 py-1 text-white bg-brand text-xl font-bold text-center align-middle !important;
}

.el-table__empty-block{
  width: 100% !important;
}

.premium-warning-triangle{
  border-bottom: 100px solid #48bb78;
  border-left: 100px solid transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.transform-text{
  transform: rotate(-45deg);
  text-align: center;
  top: 61px;
  left: -54px;
  position: relative;
}


.cell-top {
  vertical-align: top !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white !important;
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

.linkified{
  text-decoration: underline !important;
}

.el-form--label-top .el-form-item__label {
  padding: 0 !important;
}

.el-dialog__body {
  padding: 0 20px ;
  word-break: keep-all !important;
}

.el-dialog{
  @apply rounded-lg !important;
}

/* Center loading spinner*/
.el-loading-spinner .circular {
  margin: 0 auto;
}

/*Upload Image Thumbnails*/
.el-upload-list--picture-card .el-upload-list__item {
  width: 100% !important;
  height: auto !important;
}
.el-upload--picture-card {
  width: 100% !important;
  line-height: unset !important;
}
.el-upload-dragger {
  border: none !important;
  width: 100% !important;
  height: auto !important;
}

.height-4-rem{
  @apply h-16 !important;
}

.el-table .cell{
  word-break: break-word !important;
}


/* Input Files */
.fileContainer, .stealthFileContainer {
  overflow: hidden;
  position: relative;
  @apply rounded-lg !important;
}

.fileContainer [type=file], .stealthFileContainer [type=file]{
cursor: inherit;
  font-size: 999px;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  line-height: 1;
}


.fileContainer {
  color: #FFF;
  @apply bg-brand;
  font-size: 12px;
  border-radius: 3px;
  padding: 9px 15px !important;
  display: inline-block;
  line-height: 1;
  transition: .1s;
  font-weight: 500;
}
.fileContainer:hover {
  @apply bg-opacity-75;
  color: #FFF;
}

.fileContainer [type=file] {
  cursor: pointer;
}

.el-collapse{
  border: none !important;
}

.el-collapse-item__header{
  border-bottom: none !important;
  @apply text-gray-600 text-base font-bold !important;
}

.el-collapse-item{
  padding: 0 1rem;
  @apply border mb-4 shadow rounded-lg !important;
}

.el-collapse-item__wrap {
  border-bottom: 0px !important;
}

.el-table__cell .cell ul{
  padding-left: 8px;
}

.table-row{
  @apply rounded-lg !important;
}

.non-edit-field .el-form-item__content{
  @apply text-brand font-bold text-lg border-none p-0 leading-tight !important;
  
}

.non-edit-field-text-xs .el-form-item__content{
  @apply text-brand text-xs border-none p-0 leading-tight !important;
}

.non-edit-field-text-black .el-form-item__content{
  @apply text-black font-bold text-lg border-none p-0 leading-tight !important; 
}

.non-edit-field-text-xs-text-black .el-form-item__content{
  @apply text-black text-xs font-bold border-none p-0 leading-tight !important;
}

.non-edit-field-width-40-rem .el-form-item__content{
  @apply w-160 break-words !important
}

.placeholder, .placeholder .el-form-item__content{
  @apply text-gray-600 !important;
}

.el-select-dropdown.el-popper{
  min-width: 140px !important;
}

.max-w-max-content {
  max-width: max-content;
}

.custom-tooltip-higher-z-index {
  @apply z-10 !important ;
}

.custom-tooltip-content-overflow {
  @apply max-h-64 overflow-y-auto !important;
}

.custom-tooltip-lowest-z-index {
  z-index: 0 !important ;
}

.custom-tooltip-higher-z-index {
  @apply z-10 !important ;
}

.uil-icon-button{
  padding: .38rem !important;
}

.uil-icon-button-text{
  top: -1px;
  position: relative;
}


.form-file-uploaded{
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 15px !important;
  font-size: inherit !important;
}

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon-button{
  @apply transition duration-500 text-2xl text-gray-600 cursor-pointer;
}
.icon-button:hover{
    @apply text-brand;
  }
.el-select__caret.el-input__icon.el-icon-circle-close, .el-input__icon.el-icon-circle-close{
  @apply text-red-500 !important;
}
.el-select__caret.el-input__icon.el-icon-circle-close{
  margin-right: -.5rem;
}


.el-select__caret.el-input__icon.el-icon-circle-close:before{
  @apply bg-white !important;
}

.el-select__caret.el-input__icon.el-icon-arrow-up{
  display: block !important;
  float: right !important;
}

.import-table .el-table__body-wrapper{
  scroll-behavior: smooth;
}

.el-progress.is-success .el-progress-bar__inner {
    background-color: #10b981 !important;
}

.el-notification__icon.el-icon-error{
  display: none;
}

.uil.uil-exclamation-triangle{
color: #F56C6C !important;
font-size: 24px;
}

.uil.uil-exclamation-triangle-yellow{
  @apply text-xs text-yellow-700;
}

.el-avatar > img{
  width: 100%;
}
.table-subheading{
    @apply text-xs font-normal -mt-1 !important;
}
.notification-bubble{
  padding-left: 5px;
  padding-right: 5px;
  @apply absolute -mt-8 ml-5 rounded-full bg-pink-500 h-4 block text-xs text-white leading-4;
}
.el-message-box, .el-popover, .el-select-dropdown, .el-dropdown-menu, .el-input__inner, .el-textarea__inner, .el-picker-panel, .el-tag{
  @apply rounded-lg !important;
}

.el-input-group--prepend .el-input__inner{
  @apply rounded-r-lg !important;
  @apply rounded-l-none !important;
}
.el-input-group__prepend{
  @apply rounded-l-lg !important;
}
.el-input-group--append .el-input__inner{
  @apply rounded-l-lg !important;
  @apply rounded-r-none !important;
}
.el-input-group__append{
  @apply rounded-r-lg !important;
}

.el-picker-panel__sidebar{
  @apply rounded-l-lg !important;
}
.el-button--primary, .el-button--default, .el-button--danger, .el-button--success, .el-button--warning, .el-button--plain, .el-tag{
  @apply rounded-lg  !important;
  @apply shadow !important;
}

.import-instructions-btn{
  @apply shadow-none rounded-none p-0 border-none text-primary underline !important;
}

.import-instructions-btn:hover{
    @apply bg-transparent !important;
}

.import-daily-roster-btn{
  @apply shadow-none rounded-none p-0 border-none text-primary !important;
}

.import-daily-roster-btn:hover{
    @apply bg-transparent !important;
}

.import-file-btn{
  @apply shadow-none px-5 border-none text-white bg-brand !important;
}

.import-file-btn:hover{
  @apply bg-opacity-75 !important;
  color: #FFF;
}

.el-table--enable-row-hover .el-table__body tr:hover > td{
  @apply bg-gray-200;
}

.el-progress-bar__inner, .el-switch__core:after{
  @apply shadow !important;
}
.el-breadcrumb__separator{
    @apply text-gray-600 !important;
}

/*Emoji Picker*/
.twemoji-textarea-outer > #twemoji-textarea > img.emoji {
  display: inline-block;
}
#emoji-container > #emoji-popup img.emoji {
  display: inline-block;
}
#emoji-container > #emoji-popup #emoji-popover-search > #search-header > span > img {
  min-width: 24px;
  height: 24px;
  margin-top: 4px;
}

#btn-emoji-default > div > img.emoji {
  min-width: 32px;
  width: auto !important;
  padding-left: 10px;
}
.el-progress-bar__outer, .el-switch__core{
  @apply shadow-inner !important;
}

.intercom-launcher-frame{
  @apply bg-brand !important;
}

.ml-auto{
  margin-left: auto !important;
}
.el-collapse-item__header{
    @apply uppercase;
}
.m-breadcrum{
  margin: 0 !important;
}

.daCalledOutModal .el-form-item{
  margin-bottom: 3px !important;
}

.el-notification__title{
    font-weight: bold !important;
    font-size: 16px !important;
}
.el-notification__content{
    text-align: left !important;
}
.w-32 .el-radio-button__inner{
  @apply w-full !important;
}
.context-menu:hover{
    @apply text-brand border-brand !important;
}

.context-menu{
  @apply h-6 w-6 rounded-full flex items-center justify-center text-lg border-gray-600 text-gray-600 border-2 border-solid transition duration-500 cursor-pointer;
}
.uil-ellipsis-h{
  @apply h-6 w-6 mr-px !important;
  
}
.context-menu-header-hover:hover .context-menu {
  @apply border-brand text-brand;
}

.link{
    @apply text-brand font-semibold cursor-pointer underline transition-all duration-500;
}
.link:hover{
    @apply underline text-primary;
}
.dashboard-card{
    @apply shadow rounded-lg relative;
}
.dashboard-card-header{
    @apply flex items-center w-full border-t-2 border-l-2 border-r-2 border-gray-300 rounded-t-lg bg-gray-300  text-gray-800;
}
.dashboard-card-footer{
    @apply flex pb-2 px-4 items-center w-full border-b border-l border-r rounded-b-lg;
}
.dashboard-card-body{
    @apply border-b-0 shadow-none border-gray-300 !important;
}
.dashboard-card-body .el-tabs__content{
    @apply border-b-0 shadow-none p-0 !important  
}
.heading{
    @apply text-2xl font-medium text-gray-900;
}
.card{
  @apply border p-4 rounded-lg shadow mb-4;
}
.card-title{
  @apply inline-block text-gray-700 text-base font-bold uppercase mb-4;
}
.card-subtitle{
    @apply break-normal font-medium text-gray-600 text-sm mb-4 -mt-4;
}
.table-header-cell{
    @apply text-gray-600 uppercase tracking-wider text-xs  bg-gray-100 !important;
}
/*.table-action-header{
    @apply border-gray-200 bg-gray-50 p-4 rounded-t-lg border-l border-t border-r !important;
}*/
input::placeholder{
@apply text-gray-600 italic !important;
}
input{
    @apply text-gray-900 !important;
}
.el-input-group__append{
    @apply bg-gray-100 !important;
}
.required-field .el-input.el-input--suffix input{
    @apply bg-red-500 bg-opacity-10 border-red-500 border-solid border-b border-opacity-15 !important;
  }
.el-step__title.is-success{
    @apply text-green-500 !important;
}
.el-step__head.is-success {
    @apply text-green-500 border-green-500 !important;
}
.filter-combo{
    @apply rounded-l-none border-l-0 shadow-none !important;
}
.filter-combo div{
    @apply truncate w-28 inline-block;
}
.el-message-box__status {
    position: absolute;
    //top: -22px !important;
}
.el-message-box__title{
    padding-left: 36px !important;
    @apply text-lg leading-6 font-medium text-gray-900 !important;
}
.el-message-box__content{
    padding-top: 0 !important;
}
.el-message-box__message{
    @apply text-sm text-gray-600;
}
.empty-select-results{
    @apply text-center text-sm text-gray-600 !important
}
@media screen and (max-width: 768px) {
.custom-mobile-wrap-table.el-table .cell{
  @apply p-1 !important
 } 
}
.data-table.el-table{
    border-right: solid !important;
    border-bottom: solid !important;
    @apply border border-gray-300 rounded-lg !important;
  }
/*.el-table__header-wrapper, .el-table__header{
    @apply border-l border-r border-t rounded-t-lg !important;
  }*/
@media screen and (max-width: 768px) {
  .intercom-launcher-frame, .intercom-lightweight-app-launcher, .intercom-launcher-badge-frame{
    display: none !important;
  }
  .responsive-dialog{
    width: 50% !important;
  }
}
@media (max-width: 640px) { 
  .responsive-dialog{
    width: 75% !important;
  }
}

@media screen and (max-width: 767px) {
  .non-edit-field-width-40-rem .el-form-item__content {
    @apply w-auto break-words !important;
  }
}

.filter-by-status-badge {
    width: 120px;
    height: 32.5px;
    font-size: 13px;
    color: #606266;
    font-family: inherit;
    padding-top: 6px;

    border: 1px solid #DCDFE6;
    border-radius: .5rem 0 0 .5rem;
}

.el-textarea .el-input__count {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  bottom: -1.2rem !important;
}

textarea{
  word-break: keep-all !important;
  overflow-wrap: break-word !important;
}

/* Fix Table Alignment for Safari */
.cell .truncate{
  white-space: unset !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.intercom-app > iframe {
  z-index: 999 !important;
}


/*  Style to phone number field  */
.maz-input__input 
  {
    /*border-radius: .5rem 0rem 0rem .5rem !important; */
    border: 0px !important;
    padding-top: 0 !important;
    font-size: 15px !important; 
  }
  .maz-border-radius {
    border-radius:  .5rem !important;
    /*border: 1px solid #DCDFE6 !important;*/
  }

  .maz-input__label {
    display: none !important;
  }

  .maz-phone-number-input__country-flag {
      bottom: 0.8rem !important;
    }

  .maz-input {
    height: 40px !important;
    min-height: 40px !important;
  }

.maz-phone-number-input .country-selector .maz-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 1px solid #DCDFE6;
}

.maz-phone-number-input .maz-input.input-phone-number:not(.has-border-radius) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -2px;
    border: 1px solid #DCDFE6;
}

.maz-error-phone{
  border: 1px solid #F56C6C !important;

}

.el-tabs__nav.is-top > .el-tabs__item {
  padding: 0 10px !important;
}

.associate-notes-text .el-textarea__inner::placeholder{
  @apply italic !important text-gray-700 !important;
}

/* Show progress cursor while preparing to download counseling files */
html:has(.is-generating-counseling-files):hover{
  cursor: progress;
}

.uil-exclamation-triangle, .uil-exclamation-triangle-yellow {
  &::before {
    content: "\e9b0" !important;
  }
}

.el-icon-ice-cream-round:before{content:"\e6a0" !important;}
.el-icon-ice-cream-square:before{content:"\e6a3" !important;}
.el-icon-lollipop:before{content:"\e6a4" !important;}
.el-icon-potato-strips:before{content:"\e6a5" !important;}
.el-icon-milk-tea:before{content:"\e6a6" !important;}
.el-icon-ice-drink:before{content:"\e6a7" !important;}
.el-icon-ice-tea:before{content:"\e6a9" !important;}
.el-icon-coffee:before{content:"\e6aa" !important;}
.el-icon-orange:before{content:"\e6ab" !important;}
.el-icon-pear:before{content:"\e6ac" !important;}
.el-icon-apple:before{content:"\e6ad" !important;}
.el-icon-cherry:before{content:"\e6ae" !important;}
.el-icon-watermelon:before{content:"\e6af" !important;}
.el-icon-grape:before{content:"\e6b0" !important;}
.el-icon-refrigerator:before{content:"\e6b1" !important;}
.el-icon-goblet-square-full:before{content:"\e6b2" !important;}
.el-icon-goblet-square:before{content:"\e6b3" !important;}
.el-icon-goblet-full:before{content:"\e6b4" !important;}
.el-icon-goblet:before{content:"\e6b5" !important;}
.el-icon-cold-drink:before{content:"\e6b6" !important;}
.el-icon-coffee-cup:before{content:"\e6b8" !important;}
.el-icon-water-cup:before{content:"\e6b9" !important;}
.el-icon-hot-water:before{content:"\e6ba" !important;}
.el-icon-ice-cream:before{content:"\e6bb" !important;}
.el-icon-dessert:before{content:"\e6bc" !important;}
.el-icon-sugar:before{content:"\e6bd" !important;}
.el-icon-tableware:before{content:"\e6be" !important;}
.el-icon-burger:before{content:"\e6bf" !important;}
.el-icon-knife-fork:before{content:"\e6c1" !important;}
.el-icon-fork-spoon:before{content:"\e6c2" !important;}
.el-icon-chicken:before{content:"\e6c3" !important;}
.el-icon-food:before{content:"\e6c4" !important;}
.el-icon-dish-1:before{content:"\e6c5" !important;}
.el-icon-dish:before{content:"\e6c6" !important;}
.el-icon-moon-night:before{content:"\e6ee" !important;}
.el-icon-moon:before{content:"\e6f0" !important;}
.el-icon-cloudy-and-sunny:before{content:"\e6f1" !important;}
.el-icon-partly-cloudy:before{content:"\e6f2" !important;}
.el-icon-cloudy:before{content:"\e6f3" !important;}
.el-icon-sunny:before{content:"\e6f6" !important;}
.el-icon-sunset:before{content:"\e6f7" !important;}
.el-icon-sunrise-1:before{content:"\e6f8" !important;}
.el-icon-sunrise:before{content:"\e6f9" !important;}
.el-icon-heavy-rain:before{content:"\e6fa" !important;}
.el-icon-lightning:before{content:"\e6fb" !important;}
.el-icon-light-rain:before{content:"\e6fc" !important;}
.el-icon-wind-power:before{content:"\e6fd" !important;}
.el-icon-baseball:before{content:"\e712" !important;}
.el-icon-soccer:before{content:"\e713" !important;}
.el-icon-football:before{content:"\e715" !important;}
.el-icon-basketball:before{content:"\e716" !important;}
.el-icon-ship:before{content:"\e73f" !important;}
.el-icon-truck:before{content:"\e740" !important;}
.el-icon-bicycle:before{content:"\e741" !important;}
.el-icon-mobile-phone:before{content:"\e6d3" !important;}
.el-icon-service:before{content:"\e6d4" !important;}
.el-icon-key:before{content:"\e6e2" !important;}
.el-icon-unlock:before{content:"\e6e4" !important;}
.el-icon-lock:before{content:"\e6e5" !important;}
.el-icon-watch:before{content:"\e6fe" !important;}
.el-icon-watch-1:before{content:"\e6ff" !important;}
.el-icon-timer:before{content:"\e702" !important;}
.el-icon-alarm-clock:before{content:"\e703" !important;}
.el-icon-map-location:before{content:"\e704" !important;}
.el-icon-delete-location:before{content:"\e705" !important;}
.el-icon-add-location:before{content:"\e706" !important;}
.el-icon-location-information:before{content:"\e707" !important;}
.el-icon-location-outline:before{content:"\e708" !important;}
.el-icon-location:before{content:"\e79e" !important;}
.el-icon-place:before{content:"\e709" !important;}
.el-icon-discover:before{content:"\e70a" !important;}
.el-icon-first-aid-kit:before{content:"\e70b" !important;}
.el-icon-trophy-1:before{content:"\e70c" !important;}
.el-icon-trophy:before{content:"\e70d" !important;}
.el-icon-medal:before{content:"\e70e" !important;}
.el-icon-medal-1:before{content:"\e70f" !important;}
.el-icon-stopwatch:before{content:"\e710" !important;}
.el-icon-mic:before{content:"\e711" !important;}
.el-icon-copy-document:before{content:"\e718" !important;}
.el-icon-full-screen:before{content:"\e719" !important;}
.el-icon-switch-button:before{content:"\e71b" !important;}
.el-icon-aim:before{content:"\e71c" !important;}
.el-icon-crop:before{content:"\e71d" !important;}
.el-icon-odometer:before{content:"\e71e" !important;}
.el-icon-time:before{content:"\e71f" !important;}
.el-icon-bangzhu:before{content:"\e724" !important;}
.el-icon-close-notification:before{content:"\e726" !important;}
.el-icon-microphone:before{content:"\e727" !important;}
.el-icon-turn-off-microphone:before{content:"\e728" !important;}
.el-icon-position:before{content:"\e729" !important;}
.el-icon-postcard:before{content:"\e72a" !important;}
.el-icon-message:before{content:"\e72b" !important;}
.el-icon-chat-line-square:before{content:"\e72d" !important;}
.el-icon-chat-dot-square:before{content:"\e72e" !important;}
.el-icon-chat-dot-round:before{content:"\e72f" !important;}
.el-icon-chat-square:before{content:"\e730" !important;}
.el-icon-chat-line-round:before{content:"\e731" !important;}
.el-icon-chat-round:before{content:"\e732" !important;}
.el-icon-set-up:before{content:"\e733" !important;}
.el-icon-turn-off:before{content:"\e734" !important;}
.el-icon-open:before{content:"\e735" !important;}
.el-icon-connection:before{content:"\e736" !important;}
.el-icon-link:before{content:"\e737" !important;}
.el-icon-cpu:before{content:"\e738" !important;}
.el-icon-thumb:before{content:"\e739" !important;}
.el-icon-female:before{content:"\e73a" !important;}
.el-icon-male:before{content:"\e73b" !important;}
.el-icon-guide:before{content:"\e73c" !important;}
.el-icon-news:before{content:"\e73e" !important;}
.el-icon-price-tag:before{content:"\e744" !important;}
.el-icon-discount:before{content:"\e745" !important;}
.el-icon-wallet:before{content:"\e747" !important;}
.el-icon-coin:before{content:"\e748" !important;}
.el-icon-money:before{content:"\e749" !important;}
.el-icon-bank-card:before{content:"\e74a" !important;}
.el-icon-box:before{content:"\e74b" !important;}
.el-icon-present:before{content:"\e74c" !important;}
.el-icon-sell:before{content:"\e6d5" !important;}
.el-icon-sold-out:before{content:"\e6d6" !important;}
.el-icon-shopping-bag-2:before{content:"\e74d" !important;}
.el-icon-shopping-bag-1:before{content:"\e74e" !important;}
.el-icon-shopping-cart-2:before{content:"\e74f" !important;}
.el-icon-shopping-cart-1:before{content:"\e750" !important;}
.el-icon-shopping-cart-full:before{content:"\e751" !important;}
.el-icon-smoking:before{content:"\e752" !important;}
.el-icon-no-smoking:before{content:"\e753" !important;}
.el-icon-house:before{content:"\e754" !important;}
.el-icon-table-lamp:before{content:"\e755" !important;}
.el-icon-school:before{content:"\e756" !important;}
.el-icon-office-building:before{content:"\e757" !important;}
.el-icon-toilet-paper:before{content:"\e758" !important;}
.el-icon-notebook-2:before{content:"\e759" !important;}
.el-icon-notebook-1:before{content:"\e75a" !important;}
.el-icon-files:before{content:"\e75b" !important;}
.el-icon-collection:before{content:"\e75c" !important;}
.el-icon-receiving:before{content:"\e75d" !important;}
.el-icon-suitcase-1:before{content:"\e760" !important;}
.el-icon-suitcase:before{content:"\e761" !important;}
.el-icon-film:before{content:"\e763" !important;}
.el-icon-collection-tag:before{content:"\e765" !important;}
.el-icon-data-analysis:before{content:"\e766" !important;}
.el-icon-pie-chart:before{content:"\e767" !important;}
.el-icon-data-board:before{content:"\e768" !important;}
.el-icon-data-line:before{content:"\e76d" !important;}
.el-icon-reading:before{content:"\e769" !important;}
.el-icon-magic-stick:before{content:"\e76a" !important;}
.el-icon-coordinate:before{content:"\e76b" !important;}
.el-icon-mouse:before{content:"\e76c" !important;}
.el-icon-brush:before{content:"\e76e" !important;}
.el-icon-headset:before{content:"\e76f" !important;}
.el-icon-umbrella:before{content:"\e770" !important;}
.el-icon-scissors:before{content:"\e771" !important;}
.el-icon-mobile:before{content:"\e773" !important;}
.el-icon-attract:before{content:"\e774" !important;}
.el-icon-monitor:before{content:"\e775" !important;}
.el-icon-search:before{content:"\e778" !important;}
.el-icon-takeaway-box:before{content:"\e77a" !important;}
.el-icon-paperclip:before{content:"\e77d" !important;}
.el-icon-printer:before{content:"\e77e" !important;}
.el-icon-document-add:before{content:"\e782" !important;}
.el-icon-document:before{content:"\e785" !important;}
.el-icon-document-checked:before{content:"\e786" !important;}
.el-icon-document-copy:before{content:"\e787" !important;}
.el-icon-document-delete:before{content:"\e788" !important;}
.el-icon-document-remove:before{content:"\e789" !important;}
.el-icon-tickets:before{content:"\e78b" !important;}
.el-icon-folder-checked:before{content:"\e77f" !important;}
.el-icon-folder-delete:before{content:"\e780" !important;}
.el-icon-folder-remove:before{content:"\e781" !important;}
.el-icon-folder-add:before{content:"\e783" !important;}
.el-icon-folder-opened:before{content:"\e784" !important;}
.el-icon-folder:before{content:"\e78a" !important;}
.el-icon-edit-outline:before{content:"\e764" !important;}
.el-icon-edit:before{content:"\e78c" !important;}
.el-icon-date:before{content:"\e78e" !important;}
.el-icon-c-scale-to-original:before{content:"\e7c6" !important;}
.el-icon-view:before{content:"\e6ce" !important;}
.el-icon-loading:before{content:"\e6cf" !important;}
.el-icon-rank:before{content:"\e6d1" !important;}
.el-icon-sort-down:before{content:"\e7c4" !important;}
.el-icon-sort-up:before{content:"\e7c5" !important;}
.el-icon-sort:before{content:"\e6d2" !important;}
.el-icon-finished:before{content:"\e6cd" !important;}
.el-icon-refresh-left:before{content:"\e6c7" !important;}
.el-icon-refresh-right:before{content:"\e6c8" !important;}
.el-icon-refresh:before{content:"\e6d0" !important;}
.el-icon-video-play:before{content:"\e7c0" !important;}
.el-icon-video-pause:before{content:"\e7c1" !important;}
.el-icon-d-arrow-right:before{content:"\e6dc" !important;}
.el-icon-d-arrow-left:before{content:"\e6dd" !important;}
.el-icon-arrow-up:before{content:"\e6e1" !important;}
.el-icon-arrow-down:before{content:"\e6df" !important;}
.el-icon-arrow-right:before{content:"\e6e0" !important;}
.el-icon-arrow-left:before{content:"\e6de" !important;}
.el-icon-top-right:before{content:"\e6e7" !important;}
.el-icon-top-left:before{content:"\e6e8" !important;}
.el-icon-top:before{content:"\e6e6" !important;}
.el-icon-bottom:before{content:"\e6eb" !important;}
.el-icon-right:before{content:"\e6e9" !important;}
.el-icon-back:before{content:"\e6ea" !important;}
.el-icon-bottom-right:before{content:"\e6ec" !important;}
.el-icon-bottom-left:before{content:"\e6ed" !important;}
.el-icon-caret-top:before{content:"\e78f" !important;}
.el-icon-caret-bottom:before{content:"\e790" !important;}
.el-icon-caret-right:before{content:"\e791" !important;}
.el-icon-caret-left:before{content:"\e792" !important;}
.el-icon-d-caret:before{content:"\e79a" !important;}
.el-icon-share:before{content:"\e793" !important;}
.el-icon-menu:before{content:"\e798" !important;}
.el-icon-s-grid:before{content:"\e7a6" !important;}
.el-icon-s-check:before{content:"\e7a7" !important;}
.el-icon-s-data:before{content:"\e7a8" !important;}
.el-icon-s-opportunity:before{content:"\e7aa" !important;}
.el-icon-s-custom:before{content:"\e7ab" !important;}
.el-icon-s-claim:before{content:"\e7ad" !important;}
.el-icon-s-finance:before{content:"\e7ae" !important;}
.el-icon-s-comment:before{content:"\e7af" !important;}
.el-icon-s-flag:before{content:"\e7b0" !important;}
.el-icon-s-marketing:before{content:"\e7b1" !important;}
.el-icon-s-shop:before{content:"\e7b4" !important;}
.el-icon-s-open:before{content:"\e7b5" !important;}
.el-icon-s-management:before{content:"\e7b6" !important;}
.el-icon-s-ticket:before{content:"\e7b7" !important;}
.el-icon-s-release:before{content:"\e7b8" !important;}
.el-icon-s-home:before{content:"\e7b9" !important;}
.el-icon-s-promotion:before{content:"\e7ba" !important;}
.el-icon-s-operation:before{content:"\e7bb" !important;}
.el-icon-s-unfold:before{content:"\e7bc" !important;}
.el-icon-s-fold:before{content:"\e7a9" !important;}
.el-icon-s-platform:before{content:"\e7bd" !important;}
.el-icon-s-order:before{content:"\e7be" !important;}
.el-icon-s-cooperation:before{content:"\e7bf" !important;}
.el-icon-bell:before{content:"\e725" !important;}
.el-icon-message-solid:before{content:"\e799" !important;}
.el-icon-video-camera:before{content:"\e772" !important;}
.el-icon-video-camera-solid:before{content:"\e796" !important;}
.el-icon-camera:before{content:"\e779" !important;}
.el-icon-camera-solid:before{content:"\e79b" !important;}
.el-icon-download:before{content:"\e77c" !important;}
.el-icon-upload2:before{content:"\e77b" !important;}
.el-icon-upload:before{content:"\e7c3" !important;}
.el-icon-picture-outline-round:before{content:"\e75f" !important;}
.el-icon-picture-outline:before{content:"\e75e" !important;}
.el-icon-picture:before{content:"\e79f" !important;}
.el-icon-close:before{content:"\e6db" !important;}
.el-icon-check:before{content:"\e6da" !important;}
.el-icon-plus:before{content:"\e6d9" !important;}
.el-icon-minus:before{content:"\e6d8" !important;}
.el-icon-help:before{content:"\e73d" !important;}
.el-icon-s-help:before{content:"\e7b3" !important;}
.el-icon-circle-close:before{content:"\e78d" !important;}
.el-icon-circle-check:before{content:"\e720" !important;}
.el-icon-circle-plus-outline:before{content:"\e723" !important;}
.el-icon-remove-outline:before{content:"\e722" !important;}
.el-icon-zoom-out:before{content:"\e776" !important;}
.el-icon-zoom-in:before{content:"\e777" !important;}
.el-icon-error:before{content:"\e79d" !important;}
.el-icon-success:before{content:"\e79c" !important;}
.el-icon-circle-plus:before{content:"\e7a0" !important;}
.el-icon-remove:before{content:"\e7a2" !important;}
.el-icon-info:before{content:"\e7a1" !important;}
.el-icon-question:before{content:"\e7a4" !important;}
.el-icon-warning-outline:before{content:"\e6c9" !important;}
.el-icon-warning:before{content:"\e7a3" !important;}
.el-icon-goods:before{content:"\e7c2" !important;}
.el-icon-s-goods:before{content:"\e7b2" !important;}
.el-icon-star-off:before{content:"\e717" !important;}
.el-icon-star-on:before{content:"\e797" !important;}
.el-icon-more-outline:before{content:"\e6cc" !important;}
.el-icon-more:before{content:"\e794" !important;}
.el-icon-phone-outline:before{content:"\e6cb" !important;}
.el-icon-phone:before{content:"\e795" !important;}
.el-icon-user:before{content:"\e6e3" !important;}
.el-icon-user-solid:before{content:"\e7a5" !important;}
.el-icon-setting:before{content:"\e6ca" !important;}
.el-icon-s-tools:before{content:"\e7ac" !important;}
.el-icon-delete:before{content:"\e6d7" !important;}
.el-icon-delete-solid:before{content:"\e7c9" !important;}
.el-icon-eleme:before{content:"\e7c7" !important;}
.el-icon-platform-eleme:before{content:"\e7ca" !important;}
