#categories {
    background: none;
    width: 100%;
    height: 100%;
}

#categories .services-col {
    background: transparent;
    border-radius:7px;

    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.20);
    padding: 15% 0px;
    text-align: center;
    width: 100%;
    opacity: 100%;
    border: white solid 1px;
    transition: 0.5s;
}

#categories .services-col .img{
    text-align:center;
    background: transparent;
}


#categories img{
    vertical-align: unset;
    width:35%;
}


#categories h2 {
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 15px;
    margin:20px 0px 0.5rem 0px
}

@media (max-width: 768px) {
    #categories h2{
        font-size: 11px !important;

    }
}


#categories .services-col p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
    text-align:center;
}

#categories .green-service:hover {
    border: #13C95F solid 1px;
    border-radius: 10px;
    transition: 1s;
    transform: scale(1.05);
}

#categories .red-service:hover {
    border: #D6491D solid 1px;
    border-radius: 10px;
    transition: 1s;
    transform: scale(1.05);
}


#categories .green-service:hover h2 {
    color: #13C95F;
    transition: 1s;
    transform: scale(1.05);
}

#categories .red-service:hover h2 {
    color: #D6491D;
    transition: 1s;
    transform: scale(1.05);
}

#categories .green-service:hover i {
    color: #13C95F;
}
#categories .red-service:hover i {
    color: #D6491D;
}

#categories .green-service:hover .svg {
    filter: invert(34%) sepia(74%) saturate(4250%) hue-rotate(100deg) brightness(99%) contrast(85%);
}
#categories .red-service:hover .svg {
    filter: invert(59%) sepia(63%) saturate(5014%) hue-rotate(354deg) brightness(89%) contrast(87%);
}


#categories .services-col:hover .icon {
    background-color: transparent;
}
