<template>
    <div>
        <el-form-item v-if="attachmentFile" label="Attachment" class="w-full xl:w-2/4 imputAttachment">
            <label class="fileContainer w-full h-32 bg-opacity-50 text-center">
                <div class="uil-image text-5xl"></div>
                <div class="break-normal">
                    Drop image or file here or click to upload
                </div>
                <input id="FileUploadImage" data-cy="attachment-input" type="file" @change="includeAttachment" class="align-middle" />
            </label>
        </el-form-item>

        <el-form-item v-else-if="isImage" label="Attachment" class="w-full xl:w-2/4 lg:w-2/3 md:w-2/5 imputAttachment" prop="image">
            <img :src="srcImage" class="rounded" />
        </el-form-item>

        <el-form-item v-else label="Attachment" class="w-full xl:w-2/4 lg:w-2/3 md:w-2/5 imputAttachment">
            <div class="w-full ellipsis border rounded pl-3 bg-gray-400 text-black">
                <span>{{ fileName }}</span>
            </div>
        </el-form-item>

        <el-form-item label="Expiration Date" class="w-5/6 xl:w-2/5 inputExpirationDate">
            <el-date-picker data-cy="expiration-date-input" type="date" v-model="form.expirationDate" placeholder="Expiration Date" @change="includeExpirationDate" format="MM/dd/yyyy" :picker-options="pickerOptions" :clearable="false" :editable="false" />        
        </el-form-item>

        <el-form-item class="trash-icon">
            <div data-cy="remove-img" class="pt-10 w-1/6 md:w-1/12" style="cursor: pointer;">
                <i class="uil uil-trash-alt md:ml-2 text-2xl text-gray-600 hover:text-red-600 pt-10 " @click="valueExpirationDate"></i>
            </div>
        </el-form-item>
    </div>
</template>

<script>
export default {
    name: "Attachment",
    props: {
        attachmentData: {
            type: Object,
            default: () => ({})
        },
    },
    data() {
        return {
            pickerOptions: {
                disabledDate(time) {
                    const today = new Date()
                    const yesterday = new Date(today)
                    yesterday.setDate(yesterday.getDate() - 1)
                    
                    return yesterday.getTime() > time.getTime();
                },
            },
            form: {
                attachment: "",
                expirationDate: this.$moment(new Date()).add(7, 'days').format('MM/DD/YYYY'),
            },
            attach: {},
        };
    },

    mounted(){
        this.form.expirationDate = this.$moment(new Date()).add(7, 'days').format('MM/DD/YYYY')
        this.includeExpirationDate(this.form.expirationDate)
    },

    computed: {
        attachmentFile() {
            if (this.attachmentData.fileName) {
                return false;
            } else if (this.attach.fileName){
                return false;
            } else {
                return true;
            }
        },

        isImage(){
            if (this.attachmentData.isImage) {
                return true;
            } else if (this.attach.isImage) {
                return true;
            } else {
                return false;
            }
        },

        srcImage(){
            let src
            (this.attach.src) ? src = this.attach.src : src = this.attachmentData.fileUrl
            return src
        },

        fileName(){
            let name
            (this.attach.fileName) ? name = this.attach.fileName : name = this.attachmentData.fileName
            return name
        }
    },

    methods: {
        async includeAttachment(attach) {
            try {
                let files = attach.target.files || e.dataTransfer.files;
                let file = files[0];
                let fileType = file.type;
                let fileSize = file.size;
                let isImage = fileType.includes("image") ? true : false;

                var uuid = this.generateUUID();
                var fileObject = {
                    id: uuid,
                    fileName: file.name,
                    fileType: file.type,
                    file: file,
                    src: "",
                    isImage: isImage,
                };

                var reader = new FileReader();
                reader.onloadend = function() {
                    fileObject.src = reader.result;
                };

                if (file && fileType.includes("image")) {
                    reader.readAsDataURL(file);
                } else {
                    fileObject.src = "";
                }

                this.attach = fileObject;
                this.$emit("fieldsAttachment", this.attach);
            } catch (attach) {
                this.displayUserError(attach);
            }
        },

        async includeExpirationDate(date) {
            this.$emit("fieldsExpirationDate", date);
        },

        fieldsClean() {
            this.attach.fileName = null;
            this.form.expirationDate = this.$moment(new Date()).add(7, 'days').format('MM/DD/YYYY');
            this.includeExpirationDate(this.form.expirationDate)
            this.$emit("fieldsClean", true);
        },

        valueExpirationDate() {
            this.$emit("remove-image", true);
            this.attach.fileName = null;
            this.attachmentData.fileName = null;
            this.form.expirationDate = this.$moment(new Date()).add(7, 'days').format('MM/DD/YYYY');
            this.includeExpirationDate(this.form.expirationDate)
        }
    },
};
</script>

<style scoped>
.margin-right-1 {
    @apply mr-3 !important;
}

.margin-left-0 {
    @apply ml-0 !important;
}
.trash-icon {
    @apply mr-0 !important;
}
.cursor-not-allow {
    @apply cursor-not-allowed !important;
}

.fileContainer {
    @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
}

.el-select,
.el-date-editor {
    width: 100% !important;
}
</style>
<style lang="scss">
@media (max-width: 915px) {
    .v-modal {
        position: relative !important;
    }
}
@media (max-width: 768px) {
    // md
    .responsive-dialog {
        width: 60% !important;
    }
}
@media (max-width: 640px) {
    // sm
    .responsive-dialog {
        width: 75% !important;
    }
}

@media (max-width: 1511px) {
    .imputAttachment{
        width: 49% !important;
    }
}

@media (max-width: 1380px) {
    .imputAttachment{
        width: 48% !important;
    }
}

@media (max-width: 1279px) {
    .imputAttachment{
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    .inputExpirationDate{
        width: 80% !important;
    }
    .imputAttachment{
        width: 100% !important;
    }
}

.max-completed .el-input__count {
    color: red !important;
}
</style>
