<template>
  <div v-if="$store.getters.isLoggedIn">
    <!--Header-->
    <div class="flex items-center justify-between mb-4">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item class="align-middle" :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i>Tasks & Reports</el-breadcrumb-item>
        <el-breadcrumb-item>All Tasks</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <div>          
        </div>
        <div>
          <el-button v-if="$store.getters.hasStaffManagement" class="el-button el-button--primary el-button--small" @click="openNewTaskModal">Add Task</el-button>
          <el-popover
            v-else
            placement="bottom"
            title="Premium Required"
            width="215"
            trigger="hover"
            content=""
            class=" ml-1 text-center inline-block"
          > 
            <el-button class="opacity-50" type="primary" plain size="small" slot="reference">Add Task</el-button>
            <PremiumWarning
              action="add a task"
              premiumFeature="DA management">
            </PremiumWarning>
          </el-popover>
        </div>
        <!-- <div>
          <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            class="flex-1"
            placeholder="Filter this list by any column..."/>
        </div>
        <div class="w-40">
          <el-dropdown trigger="click" @command="handleFilterStatus">
            <el-button size="small" class="w-40">
              {{filterStatusDisplay}}<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="">All</el-dropdown-item>
              <el-dropdown-item command="Written" :divided="true">Written</el-dropdown-item>
              <el-dropdown-item command="Verbal">Verbal</el-dropdown-item>
              <el-dropdown-item command="Counseling Discussion">Counseling Discussion</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div> -->
      </span>  
    </div>

      <!-- :data="filterArray( tableData, search, filter )" -->

    <!--Table-->
    <!-- :default-sort="{prop: 'status', order: 'descending'}" -->
    <el-table
      data-cy="all-tasks"
      ref="table"
      empty-text="No Tasks"
      :data="tableData"
      row-class-name="table-row"
      header-cell-class-name="table-header-cell"
      class="data-table custom-mobile-wrap-table"
      style="width: 100%">
      

      <el-table-column
        label="Due Date"
        sortable
        :width="columnWidth"
        :sort-method="sortDate"
        prop="name">
        <template slot-scope="scope">
          <span :class="{ 'text-red-600': isOverdue(scope.row)}">{{ scope.row.date | date }}</span>
        </template>
      </el-table-column>

      <el-table-column
        label="Assigned By"
        sortable
        :sort-method="sortNameAssigner"
        prop="assignerName">
        <template slot-scope="scope">
          <span v-if="scope.row.assigner">{{ scope.row.assigner.firstName | text }} {{ scope.row.assigner.lastName | text }}</span>
          <span v-else>—</span>
        </template>
      </el-table-column>

        <el-table-column
        label="Assigned To"
        sortable
        :sort-method="sortNameAssignee"
        prop="assigneeName">
        <template slot-scope="scope">
          <span v-if="scope.row.assignee">{{ scope.row.assignee.firstName | text }} {{ scope.row.assignee.lastName | text }}</span>
          <span v-else>—</span>
        </template>
      </el-table-column>

      <el-table-column
        sortable
        :sort-method="sortStatus"
        label="Status"
        prop="status">
        <template slot-scope="scope">
          {{ scope.row.status | text }}
        </template>
      </el-table-column>

      <el-table-column
        label="Task Name"
        prop="taskName"
        >
        <template slot-scope="scope" >
          <p class="width-180-px ellipsis"> {{scope.row.taskName | text }}</p>
        </template>
      </el-table-column>

      <el-table-column fixed="right" align="right" width="55">
        <template slot-scope="scope">
          <el-dropdown data-cy="3dot-button" class="mt-1" :ref="'rowDropdown_' + scope.row.id" @command=handleDropdownCommand>
            <i class="context-menu uil uil-ellipsis-h"></i>
            <el-dropdown-menu slot="dropdown" >
              <el-dropdown-item data-cy="edit-task" :command="{ action: 'editTask', task: scope.row}">Edit Task</el-dropdown-item>
              <el-dropdown-item data-cy="complete-task" :command="{ action: 'completeTask', task: scope.row}">Complete Task</el-dropdown-item>
              <el-dropdown-item data-cy="delete-task" :command="{ action: 'deleteTask', task: scope.row}" divided>Delete Task</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <div v-if="nextToken" class="flex justify-center mt-4">
      <el-button round @click="loadData(false)">Load More</el-button>
    </div>


    <!--NEW TASK MODAL-->
    <el-dialog
      title="Add Task"
      :visible.sync="newTaskModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <TaskForm :formData="formData" :isNew="true" ref="newTaskForm" v-loading="loading"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <!-- The below span is there to handle reactivity inside slot scope -->
            <span hidden>{{ loading }}</span>
            <el-button
              data-cy="cancel"
              @click="newTaskModalOpen = false"
              :disabled="disabled || loading"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="create"
              type="primary"
              :clickHandler="createTask"
              :disabled="disabled || loading"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Create
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>


    <!--EDIT TASK MODAL-->
    <el-dialog
      title="Edit Task"
      :visible.sync="editTaskModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <TaskForm :formData="formData" :isNew="false" ref="editTaskForm" v-loading="loading"/>

    
      <span slot="footer" class="dialog-footer">
        <el-button @click="editTaskModalOpen = false, tempReminderDate = null" :disabled="loading">Cancel</el-button>
        <ButtonWrapper type="primary" :clickHandler="updateTask" :disabled="loading" >Update</ButtonWrapper>
      </span>
    </el-dialog>

  </div>
</template>

<script>
    import PremiumWarning from '@/components/PremiumWarning'  
    import { createTask, deleteTask, updateTask } from '@/graphql/mutations'
    import { getTaskUpdatedTimestamp } from '@/utilities/timestampQueries'
    import generateTemplate from '@/scripts/emailTemplate.js'
    import { tasksByGroup, getTask } from './queries';
    import TaskForm from './components/TaskForm'
    import { mapState } from 'vuex'
    import { getUser } from './queries'
    import { API } from 'aws-amplify';
    import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
    import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

    export default {
        name: 'TaskIndex',
        props: ['addTask'],
        components:{
            TaskForm,
            PremiumWarning,
            ButtonWrapper,
            ButtonGroupWrapper
        },
        data() {
            return {
                loading: false,
                formData: {
                    id: null,
                    date: null,
                    status: null,
                    assigner: {
                        id: null
                    },
                    assignee: {
                        id: null
                    },
                    description: null,
                    reminderDate: null,
                    taskName: null,
                    isNotifyOnCreation: false,
                    isDateReminder: false
                },
                editTaskData: {},
                tableData: [],
                newTaskModalOpen: false,
                editTaskModalOpen: false,
                tempReminderDate: null,
                search: '',
                nextToken: null,
                filterStatus: null,
                limit: 20,
            }
        },

        created: async function(){
          if(!this.$store.getters.hasStaffManagement){
            return
          }
          await this.loadData()
          await this.loadPath()

           if(this.$route.params.addTask){
               this.openNewTaskModal()
           }
        },

        computed: {
            ...mapState([
                'valuelists',
                'userInfo'
            ]),
            columnWidth() {
              if (this.isDeviceMobileOnly()) {
               return '100px'; // Set the width if the mixin is true
              } else {
               return ''; // If the mixin is not true, do not set a width
              }
            }
        },

        methods: {
            /**
             * Load data using the taskIndex custom GraphQL query
             */
            async loadData(refresh = true){

              this.loading = true
              try{
                var input = {
                  limit: this.limit,
                  nextToken: refresh ? null : this.nextToken,
                  group: this.$store.state.userInfo.tenant.group,
                  sortDirection: "DESC"
                }
                const tasks = await this.api(tasksByGroup, input)

                this.tableData = refresh ? [...tasks.data.tasksByGroup.items] : [...this.tableData, ...tasks.data.tasksByGroup.items]
                this.nextToken = tasks.data.tasksByGroup.nextToken
                
              }catch(e){
                console.log(e)
                this.displayUserError(e)    

              }finally{
                this.loading = false
                
              }
            },

            async loadPath(){
              //if a route param is passed, load the modal for that record
              if(this.$route.params.taskID){
                var taskID = this.$route.params.taskID
                try{
                  const result = await this.api(getTask, {id: taskID})
                  var task = result.data.getTask
                  if(task){
                    this.openEditTaskModal(task)
                  }
                }catch(e){
                  console.log(e)
                  this.displayUserError(e)    
                }
              }
            },

            createTask: async function(){
              var assignerID = this.formData.assigner.id
              var assigneeID = this.formData.assignee.id

              //require fields        
              try {
                this.$refs.newTaskForm.$refs.newTaskForm.validate((valid) => {
                // this.$refs.newUserForm.$refs.form.validate((valid) => {
                  if (!valid) {
                    throw{
                        errors: [
                          { message: "Please fill out all required fields."}
                        ]
                    }
                  }
                })
              }
              catch (e) {
                console.log(e)
                this.displayUserError(e)             
                return
              }

              //create inputs
              var input = {
                  ...this.formData, 
                  owner: assigneeID,
                  creator: assignerID,
                  taskAssignerId: assignerID,
                  taskAssigneeId: assigneeID,
                  group: this.userInfo.tenant.group
              }
              delete input.assignee
              delete input.assigner

              //get user info
              const userInfo = await this.api(getUser, {id: assigneeID})
              const userInfoAssigner = await this.api(getUser, {id: assignerID})
              var user = userInfo.data.getUser
              const userAssigner = userInfoAssigner.data.getUser
              var assignerName = userAssigner.firstName + ' ' + userAssigner.lastName

              try{
                  this.loading = true;
                  var results = await this.api(createTask,  {input: input})

                  if (user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                    //user receives emails and texts
                    var channelType = "SMS/EMAIL"
                  }else if (user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                    //user receives just texts
                    var channelType = "SMS"
                  }else if (!user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                    //user receieves just emails
                    var channelType = "EMAIL"
                  }else if (!user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                    //user receives no notifications
                    var channelType = "none"
                  }

                  // create notification
                  if(this.formData.isNotifyOnCreation){
                    let apiName = 'ScheduleNotifications'
                    let path = '/notification'
                    const bodyHtml = `A new task has been assigned to you by ${assignerName} <br><br> 
                                  ${this.formData.taskName} <br><br> 
                                  ${this.formData.description} <br><br><br><br> 
                                  <a href= '${window.location.origin}/reports/tasks/${results.data.createTask.id}'>Click here to open this task in Hera <a>`
                    
                    const bodyText = `A new task has been assigned to you by ${assignerName}\n\n${this.formData.taskName}\n\n${this.formData.description}\n\n\n${window.location.origin}/reports/tasks/${results.data.createTask.id}`

                    const subject = `New Task: ${this.formData.taskName}`
                    let post = {
                      body: {
                        reminderDate: new Date().toISOString(),
                        taskID: results.data.createTask.id,
                        notificationType: "create",
                        notification:{
                          owner: user.cognitoSub,
                          id: results.data.createTask.id + 'assign',
                          title: "Assigned Task: " + this.formData.taskName + " has been assigned",
                          description: "Click here to view and dismiss",
                          isRead: false,
                          group: this.$store.state.userInfo.tenant.group,
                          clickAction: "navigate",
                          payload: JSON.stringify({name: 'Task', params: {taskID: results.data.createTask.id}})
                        },
                        message: {
                          id: results.data.createTask.id + new Date().toISOString(),
                          createdAt: new Date().toISOString(),
                          group: this.$store.state.userInfo.tenant.group,
                          isReadS: 'false',
                          messageType: 'taskReminder',
                          subject,
                          bodyHtml: generateTemplate("", bodyHtml, null, this.$store.state.userInfo.tenant.companyName),
                          channelType: channelType,
                          bodyText: bodyText,
                          destinationNumber: user.phone,
                          destinationEmail: user.email,
                          messageTenantId: this.$store.state.userInfo.tenant.id                        
                        }
                      }
                    }
                    console.log(post)
                    await API.post(apiName, path, post)
                  }

                  // schedule reminder notification
                  if(this.formData.isDateReminder && this.formData.reminderDate && new Date ( this.formData.reminderDate ) > new Date()){
                    console.log('creating reminder')
                    let apiName = 'ScheduleNotifications'
                    let path = '/notification'
                    let post = {
                      body: {
                        notification:{
                          owner: user.cognitoSub,
                          id: results.data.createTask.id + 'upcoming',
                          title: "This is a reminder for a task from " + assignerName + ": \"" + this.formData.taskName + "\"",
                          description: "Click here to view and dismiss",
                          isRead: false,
                          group: this.$store.state.userInfo.tenant.group,
                          clickAction: "navigate",
                          payload: JSON.stringify({name: 'Task', params: {taskID: results.data.createTask.id}})
                        },
                        reminderDate: this.formData.reminderDate,
                        taskID: results.data.createTask.id,
                        message: {
                          createdAt: new Date().toISOString(),
                          id: results.data.createTask.id + new Date().toISOString(),
                          group: this.$store.state.userInfo.tenant.group,
                          isReadS: 'false',
                          subject: 'New Task',
                          bodyHtml: generateTemplate(this.formData.taskName, 'This is a reminder for a task from ' + assignerName + ': \"' + this.formData.taskName + "\"", null, this.$store.state.userInfo.tenant.companyName),
                          messageType: 'taskReminder',
                          channelType: channelType,
                          bodyText: 'This is a reminder for a task from ' + assignerName + ': \"' + this.formData.taskName + "\"",
                          destinationNumber: user.phone,
                          destinationEmail: user.email,
                          messageTenantId: this.$store.state.userInfo.tenant.id                   
                        }
                      }
                    }
                    console.log(post)
                    await API.post(apiName, path, post)
                  }

                  //reset form to be empty
                  this.formData.assigner.id = null
                  this.formData.assignee.id = null
                  this.formData.date = null
                  this.formData.status = null
                  this.formData.taskName = null
                  this.formData.description = null
                  this.formData.reminderDate = null

                  //close window
                  this.newTaskModalOpen = false

                  //reload page to include new task
                  await this.loadData()

                  this.displayUserNotification({
                      title: "Success",
                      type: "success",
                      message: "Task created successfully."
                  })
              }
              catch(e){
                  this.loading = false;
                  console.log(e)
                  this.displayUserError(e)    
              }finally{
                this.loading = false
                
              }
            },

            /** Prompt if task should really be deleted*/
            async confirmDeleteTask(task){
              this.$confirm('This will permanently delete this task. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
              }).then(() => {
                this.deleteTask(task)          
              }).catch(() => {
                console.log("canceled delete")         
              });
            },


            /** Delete Task from DB */
            async deleteTask(task){

              var executionARN = task.executionARN
              var reminderDate = task.reminderDate

              this.loading = true
              try{
                //check timestamp
                var timestampResult = await this.api(getTaskUpdatedTimestamp, {id: task.id})
                if(!timestampResult.data.getTask){
                  throw "Task is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getTask.updatedAt
                if(task.updatedAt != timestamp){
                  throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
                // delete from dynamo
                if ( executionARN && new Date().toISOString() <= reminderDate){
                  // delete schedule notification if it hasn't sent yet
                  let apiName = 'ScheduleNotifications'
                  let path = '/notification'
                  let del = {
                    body: {
                      executionARN: executionARN
                    }
                  }
                  console.log(del)
                  await API.del(apiName, path, del)
                }
                const result = await this.api(deleteTask, {input:{ id: task.id }} )

                this.editTaskModalOpen = false
                this.$message({
                  type: 'success',
                  message: 'Task Deleted'
                });
                this.loadData()

              }catch(e){
                console.log(e)
                this.displayUserError(e)    
              }finally{
                this.loading = false
                
              }
            },

            async updateTask(){
              this.loading = true
              var assignerID = this.formData.assigner.id
              var assigneeID = this.formData.assignee.id
              var executionARN = this.formData.executionARN

              try {
                this.$refs.editTaskForm.$refs.newTaskForm.validate((valid) => {
                // this.$refs.newUserForm.$refs.form.validate((valid) => {
                  if (!valid) {
                    throw{
                        errors: [
                          { message: "Please fill out all required fields."}
                        ]
                    }
                  }
                })
              }
              catch (e) {
                console.log(e)
                this.loading = false
                this.displayUserError(e)           
                return
              }

              try{
                var input = {
                  ...this.formData,
                  owner: assigneeID,
                  creator: assignerID,
                  taskAssignerId: assignerID,
                  taskAssigneeId: assigneeID,
                  group: this.userInfo.tenant.group
                }
                delete input.executionARN
                delete input.assignee
                delete input.assigner

                //if the reminder date changes, the reminder date is greater than now, and they want a reminder. 

                if(this.tempReminderDate != input.reminderDate && new Date (input.reminderDate) > new Date() && input.isDateReminder){
                    console.log("updating steps")

                    //get user info
                    const userInfo = await this.api(getUser, {id: assigneeID})
                    var user = userInfo.data.getUser
                    var assignerName = user.firstName + ' ' + user.lastName

                    //check user settings
                    if (user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                      //user receives emails and texts
                      var channelType = "SMS/EMAIL"
                    }else if (user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                      //user receives just texts
                      var channelType = "SMS"
                    }else if (!user.receiveSmsTaskAssignments && user.receiveEmailTaskAssignments){
                      //user receieves just emails
                      var channelType = "EMAIL"
                    }else if (!user.receiveSmsTaskAssignments && !user.receiveEmailTaskAssignments){
                      //user receives no notifications
                      var channelType = "none"
                    }

                    let apiName = 'ScheduleNotifications'
                    let path = '/notification'
                    let put = {
                      body: {
                        notification:{
                          owner: user.cognitoSub,
                          id: input.id + 'upcoming',
                          title: 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"",
                          description: "Click here to view and dismiss",
                          isRead: false,
                          group: this.$store.state.userInfo.tenant.group,
                          clickAction: "navigate",
                          payload: JSON.stringify({name: 'Task', params: {taskID: input.id}})
                        },
                        executionARN: executionARN,
                        reminderDate: input.reminderDate,
                        taskID: input.id,
                        message: {
                          createdAt: new Date().toISOString(),
                          id: input.id + new Date().toISOString(),
                          group: this.$store.state.userInfo.tenant.group,
                          isReadS: 'false',
                          subject: 'Upcoming Task',
                          bodyHtml: generateTemplate(input.taskName, 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"", '', this.$store.state.userInfo.tenant.companyName),
                          messageType: 'taskReminder',
                          channelType: channelType,
                          bodyText: 'This is a reminder for a task from ' + assignerName + ': \"' + input.taskName + "\"",
                          destinationNumber: user.phone,
                          destinationEmail: user.email,
                          messageTenantId: this.$store.state.userInfo.tenant.id                      
                        }
                      }
                    }
                    console.log(put)
                    await API.put(apiName, path, put)
                }

                const result = await this.api(updateTask, {input: input}, getTaskUpdatedTimestamp, 'getTask')
                this.editTaskModalOpen = false
                this.$message({
                  type: 'success',
                  message: 'Task Updated'
                });                
                this.loadData()

              }catch(e){
                console.log(e)
                this.displayUserError(e)    
              }finally{
                this.loading = false
                
              }

            },
            
            openNewTaskModal(){
              //reset form to be empty
              this.formData.assigner.id = this.userInfo.id
              this.formData.assignee.id = null
              this.formData.id = null
              this.formData.date = null
              this.formData.taskName = null
              this.formData.reminderDate = null
              this.formData.isDateReminder = null
              this.formData.isNotifyOnCreation = null
              this.formData.status = 'Pending'
              this.formData.description = null
              if(this.$refs.newTaskForm) this.$refs.newTaskForm.$refs.newTaskForm.clearValidate()
              this.newTaskModalOpen = true
            },

            openEditTaskModal(task){
              this.formData = {...task}
              this.tempReminderDate = task.reminderDate
              this.editTaskModalOpen = true
            },

            sortNameAssignee(a,b){     
              var aFullName = a.assignee.firstName && ' ' && a.assignee.lastName
              var bFullName = b.assignee.firstName && ' ' && b.assignee.lastName

              return aFullName.toLowerCase().localeCompare(bFullName.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
            }, 

            sortNameAssigner(a,b){     
              var aFullName = a.assigner.firstName && ' ' && a.assigner.lastName
              var bFullName = b.assigner.firstName && ' ' && b.assigner.lastName

              return aFullName.toLowerCase().localeCompare(bFullName.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
            }, 

            sortStatus(a,b){
              return a.status.toLowerCase().localeCompare(b.status.toLowerCase(), undefined, {numeric: false, sensitivity: 'base'})
            },

            sortDate(a,b){
                return new Date(a.date) - new Date(b.date);
            },

            isOverdue(task){
              var today = this.$moment().format()
              return ( today > task.date) && task.status == "Pending"
            },

            async completeTask(task){
              this.loading = true
              if (task.status == "Complete"){
                return
              }

              try{
                var input = {
                  id: task.id,
                  date: task.date,
                  status: "Complete",
                  updatedAt: task.updatedAt
                }

                const result = await this.api(updateTask, {input: input}, getTaskUpdatedTimestamp, 'getTask')
                this.$message({
                  type: 'success',
                  message: 'Task Completed'
                });                
                this.loadData()

              }catch(e){
                console.log(e)
                this.displayUserError(e)    

              }finally{
                this.loading = false
              }
            },

            handleDropdownCommand(command){

              /* Hides the dropdown menu when DOM updates as a 
              result of any selection from dropdown menu */
              const rowIndex = command?.task?.id;
              const refName = 'rowDropdown_' + rowIndex;
              const rowDropdown = this.$refs[refName];
              if (rowDropdown) {
                  rowDropdown.hide();
              }      
              console.log(command)
              var action = command.action
              console.log(command.action)
              if(action == "editTask"){
                this.openEditTaskModal(command.task)
              }
              else if(action == "completeTask"){
                this.completeTask(command.task)
              }
              else if(action == "deleteTask"){
                this.confirmDeleteTask(command.task)
              }
            },   
        }
    }
</script>
<style scoped>

.table-row td{
  word-break: break-word;
}
.el-table .cell{
  word-break: break-word !important;
}

.width-180-px{
  width: 180px !important;
}
</style>