
@font-face {
    font-family: "Roboto";
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

/*body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;}*/
body{font-family: "Roboto" !important;}
/*body{font-family: "Montserrat" !important;}*/

h2 {color: #2C2C2C; font-size: 34px; font-weight: bold; margin-bottom: 0px; padding-bottom: 0px;}
/*--- CONTROLS - START ---*/
select {color: #2C2C2C; font-size: 16px; font-weight: normal; background-color: #F5F6FA; padding: 10px 15px; border-radius: 2px; border: none;}
button {background-color: #2F2F2F; color: #FFFFFF; border: none; border-radius: 5px; font-size: 24px; font-weight: bold; padding: 22px 75px; cursor: pointer;}
/*--- CONTROLS - END ---*/

/*--- Changing primary button color - START ---*/
.btn-primary {background-color: #2b3034; border-color: #2b3034;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {background-color: #3e4347; border-color: #3e4347;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {background-color: #3e4347; border-color: #3e4347;}
/*--- Changing primary button color - END ---*/
.form-login {width: 100%; max-width: 310px; height: 430px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;}
.login-password-container {position: relative;}
.login-password-display {position: absolute; top: 10px; right: 10px; cursor: pointer;}

.panel-container {width: 100%; display: table;}
.left-panel {background-color:  #394c64; width: 240px; display: table-cell; height: 100vh; vertical-align: top;  }
.left-panel a {text-decoration: none;}
.right-panel {background-color: #FFFFFF; display: table-cell; vertical-align: top;}

.top-logo-container{height: 96px; border-bottom: 1px solid #17191a; padding-top: 38px; padding-left: 36px;}
.left-menu-main-link{color: #FFFFFF; padding-left: 16px; font-weight: bold; font-size: 18px; vertical-align: middle;}
.top-logo-container .left-menu-main-link {font-size: 20px; text-transform: capitalize;}

.welcome-member {color: #FFFFFF; width: 100%; height: 188px; border-bottom: 1px solid #17191A; text-align: center; padding-top: 40px; padding-bottom: 40px; font-size: 18px; font-weight: bold;}
.welcome-member img {display: block; margin: 0px auto 18px auto;}

.left-menu-links {color: #FFFFFF;}
.left-menu-links ul{list-style: none; padding: 0px;}
.left-menu-links ul li{border-bottom: 1px solid #17191a; font-size: 18px; font-weight: bold; position: relative;}
.left-menu-links ul li ul {display: block;}
.left-menu-links ul li ul li {border-bottom: none; background-color: #202427;}
.left-menu-links .hide-from-menu {padding-left: 12px !important;}
.left-menu-links a {color: #FFFFFF; opacity: 0.5; text-decoration: none; padding: 28px 0px 28px 36px; display: block; position: relative;}
.left-menu-links li.active a {opacity: 1;}
.left-menu-links ul li ul li a {padding-left: 70px;}
.left-menu-links .dropdown-toggle::after{position: absolute; top: 40px; right: 10px;}
.left-menu-links li.active a.active {background-color: #17191A;}
.sub-menu-links {position: absolute; top: 0px; left: 88px; z-index: 1;}
.sub-menu-links a {padding-left: 20px !important; padding-right: 20px; border-bottom: 1px solid #000000;}

.right-panel-horizontal-spacing {padding-left: 80px; padding-right: 80px;}
.right-panel-top-bar{background-color: #ececf1; height: 96px; align-items: center;}
.right-panel-top-bar-left {font-size: 20px; font-weight: 500; color: #686868;}
.right-panel-top-bar-left a {text-decoration: none; color: inherit;}
.right-panel-top-bar-right {font-size: 18px; font-weight: bold;}
.notification-container {display: inline-block; position: relative;}
.notification-counter {position: absolute; top: -5px; left: 16px; color: #FFFFFF; background-color: #EB4561; font-size: 12px; height: 20px; width: 20px; text-align: center; line-height: 20px; border-radius: 50%; z-index: 10;}
.notification-bell {margin-right: 42px; cursor: pointer; z-index: 9; position: relative;}
.login-options-container {display: inline; cursor: pointer; margin-left: 32px; color: #555555;}
.login-options-arrow {margin-left: 16px;}
.login-options {line-height: normal;}

.content-container{padding-top: 130px;padding-bottom: 50px}

.space-after-main-heading {margin-top: 54px;}




/*  Login-01 */
/* body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;} */
body{font-family: "Roboto" !important;}
.form-login input {border: 1px solid #D6DAE3; border-radius: 5px;}
.login-introduction{ font-size: 20px; color: #686868; text-align: center; margin: 60px 0 33px 0; line-height: normal;}
.custom-input{ font-weight: 500; height: 60px; width: 100%; padding: 18px 69px 18px 24px; margin-bottom: 16px; color: #000000;}
.forget-pwd{font-size: 18px; color: #686868;}
.form-login input::placeholder { color: #000000; }
/*--- Changing primary button color - START ---*/
.btn-primary {font-weight:500;  background-color: #2b3034; border-color: #2b3034; width: 100%; height: 60px; margin-top: 32px; margin-bottom: 15px;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {background-color: #3e4347; border-color: #3e4347;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {background-color: #3e4347; border-color: #3e4347;}
/*--- Changing primary button color - END ---*/
.form-login {width: 100%; max-width: 360px; height: 607px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;}
.login-password-container {position: relative;}
.login-password-display {font-size: 12px; position: absolute; top: 26px; right: 320px; bottom: 25px; right: 24px;  cursor: pointer; color: #D6DAE3;}

/*--- MEDIA QUERIES ---*/
@media (min-width: 576px) {.container {max-width: 100%;}}
@media (min-width: 768px) {.container {max-width: 100%;}}
@media (min-width: 992px) {.container {max-width: 100%;}}
@media (min-width: 1200px) {.container {max-width: 1140px;}}

/* End Login-01 */


/*--- WORKLIST-01 ---*/

.create-button{width: 220px; height: 52px;padding:21px 28px 19px 24px; background-color: #F0F1F6; cursor: pointer;}
.create-button-planning{width: 150px; height: 50px;padding:21px 28px 19px 24px; background-color: #d5d6db; cursor: pointer;}
.disabled-preview-btn{ background-color: #D5D6DB !important; cursor: default !important;}
.create-button-filter{width: 220px; height: 52px;padding:21px 28px 19px 24px; background-color: #F0F1F6;margin-left: 80px;margin-bottom: 40px; cursor: pointer;}
.create-button p{font-weight: 500; color: #2C2C2C;}
.create-button p i{padding-right: 22px; color: #2C2C2C;}
.create-button-planning p{font-weight: 500; color: #2C2C2C;}
.create-button-planning p i{padding-right: 22px; color: #2C2C2C;}
.custom-table .table-icon{
    padding-right: 10px;
    padding-left: 10px;
    color: #686868;
    font-size: 14px;
    position: absolute;
    left: 22px;
    padding-top: 7px;
}

/*--- MEDIA QUERIES ---*/
@media screen and (max-width: 1456px) {
    .dropdown-button { margin-bottom: 15px;}
}


/*--- END WORKLIST-01 ---*/


/*--- profile-01 ---*/

.profile-cont { padding-left: 0 !important; padding-right: 0 !important; padding-top:0 !important;}
.pro-thumb { margin-right:60px;}
.pro-info h2 { font-size:30px; font-weight:bold; padding-bottom:40px;}
.pro-info ul { padding:0; margin:0;}
.pro-info li { list-style-type:none; display:inline-block; width:32.8%; padding-right:1%; padding-bottom:50px; font-size:16px; color:#707070;}
.pro-info li strong { font-size:24px; color: #2B3034;}
.profile-sec1 { background:#f0f1f6; padding: 80px; padding-right:20px;}
.profile-sec2 { background:#FFFFFF; padding: 80px; padding-right:20px;}

.ss-questions h2 { font-size:30px; font-weight:bold; padding-bottom:10px;}
.ss-questions p { font-size:14px; padding-bottom:60px; color:#676767;}
.ss-questions label { font-size:16px; padding-bottom:12px; display:block; font-weight:bold; color:#676767;}
.ss-questions .btn-block { max-width:400px; font-size:16px;}

.ask-question { padding-bottom:60px; max-width:771px;}

.ss-questions select { background-color: #FFFFFF; font-weight: 500; height: 50px; width: 100%; padding: 10px; margin-bottom: 16px; color: #686868; border: 1px solid #D6DAE3; border-radius: 5px; font-size:16px; font-weight:bold; display:block;}

.ss-questions select { font-weight: 500; height: 50px; width: 100%; padding: 10px; margin-bottom: 16px; color: #686868; border: 1px solid #D6DAE3; border-radius: 5px; font-size:16px; font-weight:bold; display:block;}

.ss-questions input { font-weight: 500; height: 20px;  width: 100%; padding: 20px; margin-bottom: 16px; color: #686868; border: 1px solid #D6DAE3; border-radius: 5px; font-size:16px; font-weight:bold;}

/*--- END profile-01 ---*/


/*--- minutes-sheet-01 ---*/
.minutes-sheet-container { background:#FFFFFF; padding-right:20px; }
.minutes-sheet-container h2{ padding-bottom:125px;padding-top: 20px}
.minutes-sheet { border-left: 3px solid #cdced5; padding-left:35px; position:relative; margin-left:15px; padding-bottom:115px; color:#686868;}
.minute-subject { padding-bottom:20px; font-size:18px; font-weight:bold;}
.minute-info { padding-bottom:40px;}
.minute-comment { padding:20px 66px; background:#f5f6fa; color:#2f2f2f; position:relative;}
.minute-comment i.fa-quote-left { position:absolute; top:20px; left:30px;}
.dot-sh { height: 21px; width: 21px; background-color: #686868; border-radius: 50%; display: inline-block; position:absolute; top:0px; left:-12px; }

/*--- END minutes-sheet-01 ---*/

/*--- DASHBOARD - START ---*/
.dashboard-stat-box div{border: 1px solid #F2F3F8; padding: 25px; border-radius: 4px; background-image: url(images/squares.svg); background-position: 20px center; background-repeat: no-repeat;}
.dashboard-stat-box img {float: left;}
.dashboard-stat-box h3 {color: #5A5B5D; text-align: right; font-size: 56px; font-weight: 500;}
.dashboard-stat-box span {color: #686868; font-size: 24px; display: block;}

.dashboard-chart-container {border: 1px solid #F2F3F8; border-radius: 4px; padding: 102px 124px; }
.dashboard-chart-container h3 {color: #2F2F2F; font-size: 34px; font-weight: bold;}
/*--- DASHBOARD - END ---*/

/*--- WORK OVERVIEW-01 ---*/
.work-detailes{ 
    /* width: 1520px;  */
    border: 4px solid #F5F6FA; 
    padding: 48px 48px 22px 48px;}
.work-detailes h2{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.work-detailes h2 p{font-size: 20px; color: #686868; padding-bottom: 86px;}
#wd-link-1{
    font-size: 34px;
    font-weight: bold;
    color: #2C2C2C;
    margin-bottom: 20px;
    padding-top: 15px;

}
.work-detailes p strong{font-size: 20px; color: #686868;}
.location-details{padding-top: 86px;}
.detailz-box{
    margin-top: 15px;
    display: inline-flex;
    border-bottom: 1px solid #eae7e7;
}
.detailz-box p{
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    color: #2C2C2C;
}
.detailz-box span{
    font-size: 20px;
    font-weight: normal;
    color: #707070;
    width: 30%;
    line-height: 34px;
}
.location-details p{font-size: 16px; color: #686868; margin-bottom: 73px;}
.location-details p strong{font-size: 24px; color: #2C2C2C; }
.work-links{position: relative;padding-left: 20px; 
    /* padding-right: 400px; */
     margin-bottom: 43px;}
.work-links::before {
    /* content: ""; */
    display: block; position: absolute; width:4px; background-color: #CED0D9; height: 100%; left:2px;}
.work-links a:hover{text-decoration: none;}
.work-links a strong{font-size: 20px; color: #ffffff;}
.work-links a p{font-size: 16px; color: #ffffff; padding-bottom: 0px; margin-bottom: 10px;}
.work-links a i {
    font-size: 20px;
    position: absolute;
    right: 27px;
    bottom: 0;
    top: 32px;
    color: #ffffff;
}
.link-disable{opacity: 0.3;}
.link-disable a {cursor: unset;}
.link-disable a i{color:#686868;}
.link-disable a, .link-disable a strong, .link-disable a{color: #ffffff;}
.phases{ 
    /* width: 1520px;  */
    border: 4px solid #F5F6FA; 
    padding: 51px 63px 77px 53px; 
    margin-top: 56px; margin-bottom:92px;}
.phases h2{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.phases p{font-size: 20px; color: #686868; padding-bottom: 68px;}
.phases p strong{font-size: 20px; color: #686868;}
.phases-deails{ margin-bottom: 34px;}
.phases-deails span{font-size: 20px; font-weight: bold; padding-left: 20px; color: #686868;}
.progress{border:4px solid #F0F1F6; padding: 7px; height: 100%; background-color: #ffffff; }
.progress-bar{font-size: 20px; padding-right: 20px; font-weight: bold;background-color:#F0F1F6;color: #686868;text-align: right;}

/*--- MEDIA QUERIES ---*/

@media screen and (max-width: 1520px) {
    .work-detailes{width: 100%;}
    .work-links{padding-right: 0;}
    .work-links a i{right: 50px;}
    .phases{width: 100%;}
}


@media screen and (max-width: 1024px) {
    .work-links{padding-right: 0;}
    .work-links a i{right: 10px;}
}

/*--- END WORK OVERVIEW-01----*/


/*--- PLANNING-DESIGNING-START-01 - START ---*/
.planning-design-steps-bar {border-bottom: 1px solid #959595; margin-top: 58px; margin-bottom: 10px;}
.planning-design-steps-bar p {color: #959595; position: absolute; width: 100%; text-align: center; left: -50%; top: -70px; font-size: 20px; font-weight: bold;}
.planning-design-steps-bar span {border: 2px solid #959595; background-color: #FFFFFF; display: block; position: absolute; left: -10px; width: 19px; height: 19px; border-radius: 50%; bottom: -10px}
.planning-design-steps-bar-selected-title {color: #2c2c2c !important;}
.planning-design-steps-bar-selected {background-color: #2c2c2c !important; border-color: #2c2c2c !important;}
.first-horizontal-step-title {left: 0px !important; text-align: left !important;}
.last-horizontal-step-title {left: auto !important; right: 0px; text-align: right !important;}
.first-horizontal-step {left: 0px !important;}
.last-horizontal-step {left: auto !important; right: 0px;}

.planning-design-content h3 {color: #2c2c2c; font-size: 34px; font-weight: bold; margin-top: 200px;}
.planning-design-content p {color: #2c2c2c; font-size: 32px; margin-top: 68px;}
/*--- PLANNING-DESIGNING-START-01 - END ---*/


/*--- TASKBOARD-01 ---*/

.heading-worklist{font-size: 34px; color: #555555; font-weight: bold;}
.button-list{margin-bottom: 28px;}
.dropdown-button{display: inline-block; margin-right:16px;  position: relative;}
.dropdown-button select{min-width: 294px; height: 60px;padding:21px 28px 19px 24px; color: #2C2C2C; background-color: #F0F1F6;margin-top: 56px;display: inline-block;border: 0;}

.search-bar{display: inline-block; position: relative;}
.search-bar search-container {width: 360px; height: 60px;padding:21px 28px 19px 24px;color: #2C2C2C; background-color: #F0F1F6;display: inline-block;margin: 0 auto;}
.search-bar .search-container a i { position: absolute;  color: #2C2C2C; font-size: 24px; right: 2px; padding: 16px; top: 2px; color: #2C2C2C; cursor: pointer;}

.search-container input#search-bar{margin: 0 auto;width: 360px; height: 60px;padding: 0 20px; font-size: 16px;border: 0px solid #D0CFCE;
    background-color:#F0F1F6;outline: none; }
.workname-icon{padding-left: 25px;cursor: pointer; font-size: 20px;}
.custom-table .table tbody{background-color: #F5F6FA;}
.custom-table tr th:nth-child(1)  {padding-left: 30px !important;}
.custom-table tr td:nth-child(1)  {padding-left: 30px !important;}
.custom-table .table .thead-dark th{padding: 19px 0 21px;}
.collapse-table{margin-bottom: 55px;}
.table td, .table th{padding-left: 0}

.custom-table .table td, .table th{border: 0; font-size: 20px; color: #555555;}
.custom-table .table td a{font-size: 20px; color: #0089FF; text-decoration: none;}

/*.custom-table .table tbody tr:first-child td{padding-top: 41px;}*/
.custom-table .table tbody tr:last-child td{padding-bottom: 60px;}

.custom-table .table .thead-dark th{background-color: #2B3034;border-color:#707070;}
.custom-table td i.fa-angle-up {display: none;}
.display-collapse-button {display: block !important; cursor: pointer;}
.name-pannel{border-right: 1px solid #707070; padding-left: 0;}
.name-pannel li{ font-size: 22px; color:#686868;list-style: none; }
.name-pannel li strong{color: #2C2C2C;}
.request-pannel{padding-left: 6px;}
.request-pannel li{color: #707070; list-style: none;}
.request-pannel li span{font-weight: normal; color: #2C2C2C;}
.link-pannel{padding-left: 6px;}
.link-pannel li{font-size: 20px; color: #0089FF; list-style: none;}
.link-pannel li a {color: #0089FF !important; text-decoration: underline !important;}
.project-detail-box{padding: 52px 30px 85px 0px;}
.message{background-color: #FFFFFF; margin-top: 32px; padding: 27px 93px 37px 26px;}
.message p { font-size: 20px; color: #2C2C2C;}
#msg-detail { font-size: 20px; padding-left: 30px; color: #2C2C2C;}
.message p span a { font-size: 20px; color: #EA1818 !important; float: right;}
.message p span a:hover{text-decoration: none;}
.comments p{font-size: 20px; color: #2C2C2C;}
.comments p stong{font-size: 24px;}
.custom-table .table .selected-row td a{font-weight: bold; font-size: 22px; color: #FFFFFF;}
.custom-table .table .selected-row td {font-weight: bold; font-size: 22px; 
    background: linear-gradient(#4b8af1, #2154a9);
    color:#FFFFFF;}

.cmt-msg-block{padding: 0 30px 0 0;}
#collaps-msg{
    padding-bottom: 85px;
    border: 1px solid #9bb6e2;
    margin-right: 52px;
    border-right: 3px solid #9bb6e2;
}

/*--- MEDIA QUERIES ---*/
@media screen and (max-width: 1456px) {
    .dropdown-button { margin-bottom: 15px;}
}

/*---  END TASKBOARD-01 ---*/


/*--- PLANNING-DESIGNING-PREVIEW-MODE-04 - START ---*/
.planning-design-container{display: table; width: 100%; margin-top: 60px; border-radius: 4px; border: 1px solid #CED0D9;}
.planning-design-sidebar {width: 280px; min-width: 280px; display: table-cell; vertical-align: top; border-right: 1px solid #CED0D9;}
.planning-design-sidebar1 {width: 280px; min-width: 280px; display: block; vertical-align: top}
.planning-design-main {display: table-cell; vertical-align: top;}

.sidebar-content div {color: #2C2C2C; border-bottom: 1px solid #E0E5E8;font-size: 20px; font-weight: bold; padding: 50px 0px 50px 65px; background-repeat: no-repeat; background-position: 30px center;}
.sidebar-content div:first-child{background: #ececf1;
    color: #2C2C2C;  padding: 26px 0px 26px 65px !important; border-radius: 4px 0px 0px 0px;}

.sidebar-content a {color: inherit; text-decoration: none;}
.sidebar-content-highlighted {background-color: #F5F6FA;}
.sidebar-content-highlighted-component {background-color: #FFFFFF !important;}
/*.sidebar-content-highlighted-component-active {border: 1px solid green !important;}*/

.sidebar-contentComponent div {color: #2C2C2C; font-size: 20px; font-weight: bold; background-repeat: no-repeat; background-position: 30px center;}
.sidebar-contentComponent div:first-child{
    color: #2C2C2C; border-radius: 4px 0px 0px 0px;}
.sidebar-contentComponent a {color: inherit; text-decoration: none;}
.sidebar-content-highlighted {background-color: #F5F6FA;}
.sidebar-content-highlighted-component {background-color: #FFFFFF !important;}
/*.sidebar-content-highlighted-component-active {border: 1px solid green !important;}*/

.planning-design-main-button-bar {border-bottom: 1px solid #CED0D9; background: #ececf1;}
.planning-design-main-button-bar ul {padding: 0px; list-style: none; margin: 0px; display: flex; justify-content: flex-end;}
.planning-design-main-button-bar li {display: inline-block; flex-basis: auto; border-left: 1px solid #CED0D9; 
    /* background-color: #F5F6FA;  */
    background: linear-gradient(#f5f6fa, #d8d8d8);
    font-size: 20px; font-weight: bold;}
.planning-design-main-button-bar li:last-child {border-radius: 0px 4px 0px 0px;}
.planning-design-main-button-bar li.highlighted {background: linear-gradient(#4b8af1, #2154a9);}
.planning-design-main-button-bar li.highlighted a {color: #FFFFFF !important;}
.planning-design-main-button-bar li a {color: #4D4F5C; padding: 26px 28px; display: block; text-decoration: none;}
.planning-design-main-button-bar li a img {margin-right: 10px;}

.planning-design-title {padding-left: 48px;}
.planning-design-title div{padding: 64px 48px 26px 0px; border-bottom: 1px solid #CED0D9;}
.planning-design-title h3{font-size: 34px; font-weight: bold; color: #2C2C2C; margin: 0px;}

.planning-design-main-content {padding: 40px 48px;}
.planning-design-main-content h3 {font-size: 25px; font-weight: bold;}
.planning-design-main-content table td.highlighted {color: #3B86FF !important; font-weight: bold;}
.planning-design-table {font-family: Roboto; font-size: 25px;}

.paging-navigation ul {padding: 0px; list-style: none; margin: 0px; display: flex; justify-content: flex-end;}
.paging-navigation li {display: inline-block; flex-basis: auto; font-size: 18px; font-weight: 500; min-width: 60px; min-height: 60px; margin-left: 10px;}
.paging-navigation li a {display: block; color: #2B3034; border: 1px solid #D1D1D1; padding: 20px; border-radius: 4px; text-align: center; text-decoration: none;}
.paging-navigation li:first-child a, .paging-navigation li:last-child a {color: #808495;}
.paging-navigation li a.selected {background-color: #2F2F2F; color: #FFFFFF;}

.planning-design-main-lower-buttons {border-top: 1px solid #CED0D9; padding: 0px 48px;}
.planning-design-main-lower-buttons button {font-size: 20px; font-weight: 500; width: 240px; height: 60px; padding: 0px;}
/*--- PLANNING-DESIGNING-PREVIEW-MODE-04 - END ---*/

/*--- PLANNING-DESIGNING-OVERVIEW-02 - START ---*/
.planning-design-main-content-overview p{font-size: 30px;}
.planning-design-main-content-overview ol{font-size: 30px; font-weight: bold;}
.planning-design-main-content-overview .alert {border: 1px solid #CED0D9; background-color: #F5F6FA; font-size: 24px; color: #4D4F5C;}
/*--- PLANNING-DESIGNING-OVERVIEW-02 - END ---*/


/*--- MODALS - START ---*/
.modal-auto-scroll {overflow-y: auto !important;}

.modal-marking h3{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.modal-marking .modal-content {border-radius: 12px;}
.modal-marking .modal-header {border-bottom: 0px;}
.modal-marking .modal-body p {font-size: 24px; font-weight: normal; color: #2c2c2c;}
.modal-marking .modal-footer {border-top: 0px; justify-content: center;}
.modal-marking button {width: 240px; height: 60px; font-size: 20px; font-weight: 500; padding: 0px;}
.modal-marking .button-make-changes {background-color: #E2574C;}


.modal-marking-form h3{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.modal-marking-form .modal-content {border-radius: 4px;}
.modal-marking-form .modal-header {border-bottom-color: #D1D1D1;}
.modal-marking-form .modal-body p {font-size: 20px; font-weight: normal; color: #686868;}
.modal-marking-form .modal-body span {font-size: 18px; font-weight: normal; color: #686868; display: block; margin-top: 30px; margin-left: 24px;}
.modal-marking-form .modal-body span a {font-weight: bold; color: #3B86FF;}
.modal-marking-form .modal-body select {font-size: 20px; font-weight: normal; width: 100%; display: block; background-color: #FFFFFF; border: 1px solid #D6DAE3; border-radius: 5px; padding: 20px 0px 20px 24px;}
.modal-marking-form .modal-body input[type=text] {font-size: 20px; font-weight: normal; width: 100%; display: block; background-color: #FFFFFF; border: 1px solid #D6DAE3; border-radius: 5px; padding: 20px 0px 20px 24px;}
.modal-marking-form .modal-footer {border-top: 0px; justify-content: center;}
.modal-marking-form button {width: 240px; height: 60px; font-size: 20px; font-weight: 500; padding: 0px;}
.modal-marking-form .button-cancel {background-color: #FFFFFF; color: #2F2F2F; border: 1px solid #2F2F2F;}
.modal-marking-form .external-marking label {margin-left: 6px; font-size: 20px; color: #959595;}

.modal-marking-confirmation h3{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.modal-marking-confirmation .modal-content {border-radius: 12px;}
.modal-marking-confirmation .modal-header {border-bottom-color: #D1D1D1;}
.modal-marking-confirmation .modal-body p {font-size: 30px; font-weight: normal; color: #4D4F5C;}
.modal-marking-confirmation .modal-footer {border-top: 0px; justify-content: center;}
.modal-marking-confirmation button {width: 240px; height: 60px; font-size: 24px; font-weight: bold; padding: 0px;}

.modal-marking-success h3{font-size: 34px; font-weight: bold; color: #2C2C2C;}
.modal-marking-success .modal-content {border-radius: 12px;}
.modal-marking-success .modal-header {border-bottom: 0px;}
.modal-marking-success .modal-header img{vertical-align: middle; margin: auto; display: block;}
.modal-marking-success .modal-body p {font-size: 24px; font-weight: bold; color: #2C2C2C;}
.modal-marking-success .modal-footer {border-top: 0px; justify-content: center;}
/*--- MODALS - END ---*/

/*--- NOTIFICATIONS - 01 - START ---*/
.notification-pop-up-bg {position: fixed; width: 100%; height: 100%; z-index: 8; background-color: rgba(0, 0, 0, 0.5); top: 0px; right: 0px;}
.notification-pop-up {position: absolute; width: 460px; background-color: #FFFFFF; top: 50px; right: 0px; box-shadow: 0px 2px 5px #CCCCCC; z-index: 10;}
.notification-pop-up h3 {font-size: 18px; font-weight: bold; padding-left: 16px;}
.notification-record {display: flex; border-top: 1px solid #F1F1F3; padding: 10px 0px;}
.notification-record-picture {flex-basis: 60px;  padding-left: 16px;}
.notification-record-picture img {width: 40px; height: 40px;}
.notification-record-detail {flex-basis: auto; padding-left: 15px;}
.notification-record-detail div{font-size: 13px; font-weight: bold; color: #4D4F5C;}
.notification-record-detail span{font-size: 11px; font-weight: normal; font-family: Roboto; color: #A0A0AD;}
.notification-all {border-top: 1px solid #F1F1F3; text-align: center; padding-top: 15px;}
.notification-all a {color: #3B86FF; font-size: 13px; font-weight: normal; text-decoration: none;}
.notification-pointer{position: absolute; right: 50px; top: -13px; color: #FFFFFF; font-size: 20px;}
/*--- NOTIFICATIONS - 01 - END ---*/

/*--- NOTIFICATIONS - 02 - START ---*/
.notification-alert-bg {position: fixed; width: 100%; height: 100%; z-index: 10; background-color: rgba(0, 0, 0, 0.5); bottom: 0px; right: 0px;}
.notification-alert {position: fixed; width: 460px; background-color: #FFFFFF; bottom: 70px; right: 80px; box-shadow: 0px 2px 5px #CCCCCC; z-index: 11; border-radius: 4px;}
.notification-alert-close {color: #A4AFB7; position: absolute; top: 0px; right: 10px; font-size: 26px; cursor: pointer;}
.notification-alert-record {display: flex;}
.notification-alert-icon {flex-basis: 45px;  padding-left: 10px;}
.notification-alert-icon img {width: 16px; height: 16px;}
.notification-alert-detail {flex: auto; padding-top: 3px;}
.notification-alert-detail h3 {font-size: 18px; font-weight: bold; color: #4D4F5C; margin-bottom: 15px;}
.notification-alert-detail p{font-size: 16px; font-weight: 500; color: #555555; margin-bottom: 0px;}
.notification-alert-detail span{font-size: 14px; font-weight: 500; color: #555555; display: block; text-align: right; padding-right: 15px;}
/*--- NOTIFICATIONS - 02 - END ---*/

/*--- PLANNING-DESIGNING-PREVIEW-MODE-04 PAGE-----  ADDITIONAL CHANGES BELOW COMMENTS ADDS ONLY ONE PROPERTY IN MEDIA QUERY MENTION IN THE BELOW COMMENTS---*/
.planning-design-main-content{font-size: 25px; font-weight: bold;}
#input-form{text-align: left;}
#input-form-main-content{ padding: 40px 0 40px 48px;}
#planing-page-form p{font-size: 20px; font-weight: lighter; color: #686868;}
#planing-page-form input[type=checkbox]{margin-right: 10px; width: 20px; height: 20px;}
#planing-page-form,.form-check label{ margin-right: 50px;}
#planing-page-form,.form-check label :last-child{margin-right: 0;}
#planing-page-form label{font-size: 20px; color: #555555;}
#planing-page-form input{max-width: 508px; width: 100%; height: 60px;}
#add-on input{max-width: 210px; width: 100%;}
.addon-section{width: 115%;}
.form-inputs{ margin-bottom: 82px;}
.form-inputs p{line-height: 60px; padding: 0 35px;}
.form-check{font-weight: 100;}

.custom-radio-btn {position: relative; width: auto !important; height: auto !important; margin-right: 10px;}
.custom-radio-btn:before {content: ''; width: 100%; height: 100%; display: block; background-color: transparent; border-radius: 50%; position: absolute; left: 0px;}
.custom-radio-btn:checked:before {content: ''; background-color: #686868;}
.custom-radio-btn:checked:after {font-family: "Font Awesome 5 Free"; content: '\f00c'; font-weight:900; position: absolute; font-size: 8px; width: 100%; height: 100%; text-align: center; color: #ffffff;}

@media screen and (max-width: 1506px) {
    .custom-btn { margin-bottom:15px; text-align: center;}
    .planning-design-main-lower-buttons{text-align: center;}
}

/*--- PLANNING-DESIGNING-INPUT FORM-03 - END ---*/

/*--- PLANNING-DESIGNING-UPLOAD-05 - START ---*/

.planning-design-main-button-bar li.highlighted-upload {background-color: #F5F6FA !important;}


/*--- PLANNING-DESIGNING-UPLOAD-05 - END ---*/


/*--- FIRST LOGIN 01 - START ---*/
.login-input {font-size: 20px; font-weight: normal;}
/*--- FIRST LOGIN 01 - END ---*/

/*--- FIRST LOGIN 02 - START ---*/
.form-container {border-radius: 4px; border: 1px solid #CED0D9; background-color: white !important;}
.form-container .title-row{border-bottom: 1px solid #CED0D9; color: #2C2C2C;}
.form-container .title-row h3{font-size: 34px; font-weight: bold;}
.form-container .detail-row {color: #2B3034;}
.form-container .detail-row p{font-size: 24px; font-weight: bold;}
.form-container .detail-row label {color: #555555; font-size: 20px; font-weight: normal;}
.form-container .detail-row input {font-size: 20px; font-weight: normal; color: #000000; padding: 20px; width: 400px; max-width: 100%; border-radius: 5px; border: 1px solid #D6DAE3;}
.form-container .detail-row select {font-size: 20px; font-weight: normal; color: #000000; padding: 20px; width: 400px; max-width: 100%; border-radius: 5px; border: 1px solid #D6DAE3; background-color: #FFFFFF;}
.form-container .detail-row .row {align-items: center;}
.form-container .button {font-weight: 500; font-size: 20px;}
.form-container .button-cancel {font-weight: 500; font-size: 20px; color: #2F2F2F; border: 1px solid #2F2F2F; background-color: #FFFFFF;}
.form-container .input-container {display: inline-block; position: relative;}
.form-container .input-container #passwordVisibility {color: #7E7E7E; font-size: 16px;}
.form-container .input-container .checked {color: #14D356; font-size: 20px; position: absolute; top: 26px; right: 24px;}
.form-container .hint {color: #7F7F7F; font-size: 20px; font-weight: normal;}
.full-width-button {width: 100%;}
#modalConfirmationAdminCreation button {width: 100%; font-size: 20px; font-weight: 500;}
/*--- FIRST LOGIN 02 - END ---*/

/*--- PORTAL - DASHBOARD 01 - START ---*/
.dashboard-main-heading {font-size: 34px; font-weight: bold;}
.activity-list {}
.activity-list li {border-bottom: 2px solid #F2F3F8; padding: 20px 90px 20px 30px; position: relative; font-size: 20px; font-weight: normal; color: #707070;}
.activity-list li:first-child {border-top: 2px solid #F2F3F8;}
.activity-list li a{display: block; color: #129CE5; text-decoration: none;}
.activity-list span.fa-li {left: 0px; text-align: left;}
.activity-list span.activity-date {position: absolute; top: 20px; right: 0px; font-size: 20px; font-weight: bold; color: #707070;}
.recent-activity-container .form-container .title-row {border-bottom: 0px;}
.dashboard-box {background-color: #F5F6FA; border: 2px solid #F2F3F8; border-radius: 2px; color: #2C2C2C;}
.dashboard-box-title {font-weight: bold; font-size: 20px; display: block;}
.dashboard-box-number {font-weight: bold; font-size: 56px; display: block;}
.dashboard-box-sub-title{font-size: 20px; font-weight: normal; color: #707070; display: block; margin-top: 40px;}
.dashboard-box-sub-detail {font-size: 24px; font-weight: bold; color: #2B3034; display: block;}
.dashboard-calendar-box {border: 2px solid #F2F3F8; border-radius: 2px; color: #2C2C2C;}
/*--- PORTAL - DASHBOARD 01 - END ---*/

/*--- PORTAL - USER LIST - START ---*/
.dashboard-show-hide-section-container {background-color:#ffffff; border: 1px solid rgba(57, 76, 100,1); position: relative;}
.dashboard-show-hide-section h3 {font-size: 34px; font-weight: bold; color: #2B3034; padding-bottom: 10px;}
.dashboard-detail-box .row{border-bottom: 2px solid #F5F6FA; padding-top: 10px; padding-bottom: 10px;}
.dashboard-detail-box .row:first-child{border-top: 2px solid #F5F6FA;}
.dashboard-detail-box-title {font-size: 24px; font-weight: bold; color: #2B3034; padding-left: 10px !important;text-transform: capitalize;}
.dashboard-detail-box-value {font-size: 24px; font-weight: normal; color: #959799; text-align: right; padding-right: 10px !important;text-transform: capitalize;}
.dashboard-show-hide-button {background: linear-gradient(#f5f6fa, #d8d8d8) !important;
    padding: 7px 20px;
    color: #000;
    font-weight: 600;
    border-radius: 0 0 15px 15px; position: absolute; background-color: #f5f6fa; top: 100%; 
    right: 0px; 
    cursor: pointer; font-size: 14px; font-weight: bold; font-family: Roboto;}
.dashboard-show-hide-button i{margin-right: 20px;}
.dashboard-show-hide-button-hidden {display: none;}
/*--- PORTAL - USER LIST - END ---*/

/*--- PORTAL - OFFICE DETAIL - START ---*/
.action-button {display: inline-block; background-color: #f0f1f6; font-size: 16px; font-weight: 500; color: #2C2C2C; padding: 20px 40px 20px 25px; text-decoration: none;}
.action-button:hover {color: #2C2C2C; text-decoration: none;}
.action-button i{margin-right: 22px;}
.office-detail-dashboard div{
    margin-top: 15px;
    display: inline-flex;
    margin-right: 51px;
    border-bottom: 1px solid #eae7e7;
}
.flex-view{
}
.padding-bottom-2x{
    padding-bottom: 22px !important;
}
.col-md-custom{
    width: 44%;
    margin-right: 0px !important;
}
.margin0right-10p{
    margin-right: 10% !important;
    margin-left: 1%;
}
.no-border-bottom{
    border-bottom: unset !important;
}
.office-detail-dashboard span{font-size: 20px; font-weight: normal; color: #707070;    width: 50%;    line-height: 34px;}
.office-detail-dashboard p {font-size: 20px; font-weight: bold; width: 50%; color: #2C2C2C;}
/*--- PORTAL - OFFICE DETAIL - END ---*/

/*--- PORTAL - FIRST MANAGE RANKS - START ---*/
.ranks-tabs{margin-bottom: 200px;}
.ranks-tabs .title-row h3{font-size: 34px; font-weight: bold;}
.ranks-tabs .title-row span{font-size: 18px; font-weight: 600; color: #686868; display: inline-block; padding-bottom: 40px;}
.ranks-tabs .title-row p{font-size: 20px;  color: #686868;}
.ranks-tabs .nav-link.active{font-size: 18px; color: #4D4F5C;font-weight: 600; min-width:160px; max-width: -moz-fit-content; max-width: fit-content; width: 100%; text-align: center; padding-top: 16px; margin-left: 0;}
.ranks-tabs .nav-link{min-width: 160px; max-width: -moz-fit-content; max-width:fit-content; width: 100%; margin-right: 4px; text-align: center; border: 1px solid #CED0D9; padding-top: 16px; color: #686880; font-weight: 600; }

.ranks-tabs .tab-content>.active{padding-top: 82px; padding-left: 52px; padding-bottom:50px}
.ranks-tabs .active{background: #ffffff; border-right: 1px solid #CED0D9; border-bottom: 1px solid #CED0D9; border-left: 1px solid #CED0D9;}
.rank-btn{background: #2F2F2F;padding: 16px 76px; font-size: 20px; font-weight: 100; border-radius: 5px; margin: 30px 0 136px 16px; cursor: pointer;}
.tab-list-options li { padding: 0 0 8px 6px; color: #2F2F2F;}
.tab-list-options li i{color: #9FCD3F;}
.link{max-width: 120px !important; width: 100% !important; color: #3B86FF !important;background: #F5F6FA;}


.add-rol-Privileges{}
.add-rol-Privileges-btn button{padding-top: 16px; padding-bottom: 16px;}
.add-rol-Privileges span{display:inline-block; padding-bottom: 68px; color: #686868; font-size: 20px; }
.edit-mode{ margin-top: 40px;}
.custom-select{max-width: 400px; width: 100%; height: 72px; font-size: 20px; color: #000000;}
/*--- PORTAL - FIRST MANAGE RANKS - END ---*/

/*--- MEDIA QUERIES ---*/
@media screen and (max-width: 1366px) {
    .right-panel-horizontal-spacing {padding-left: 40px; padding-right: 40px;}
    .content-container{padding-top:110px;}
}


/*--- controlling font sizes ---*/

@media screen and (max-width: 1366px)
{
    h2 {font-size: 2.5vw ;}

    /*--- CONTROLS - START ---*/
    select {font-size: 1.18vw ;}
    button {font-size: 1.76vw ;}
    /*--- CONTROLS - END ---*/


    .left-menu-main-link{font-size: 1.32vw ;}
    .top-logo-container .left-menu-main-link {font-size: 1.47vw ;}

    .welcome-member {font-size: 1.32vw ;}
    .left-menu-links ul li{font-size: 1.32vw ;}

    .right-panel-top-bar-left {font-size: 1.47vw ;}
    .right-panel-top-bar-right {font-size: 1.32vw ;}
    .notification-counter {font-size: 0.74vw ;}

    /*  Login-01 */
    .login-introduction{ font-size: 1.47vw ;}
    .forget-pwd{font-size: 1.32vw ;}
    .login-password-display {font-size: 0.88vw ;}
    /* End Login-01 */


    /*--- WORKLIST-01 ---*/
    .heading-worklist{font-size: 2.5vw ;}
    .search-bar .search-container a i {font-size: 1.76vw ;}

    .search-container input#search-bar{font-size: 1.32vw ;}
    .workname-icon{font-size: 1.47vw ;}
    .custom-table .table td, .table th{font-size: 1.76vw ;}
    .custom-table .table-icon{font-size: 1.03vw ;}
    /*--- END WORKLIST-01 ---*/


    /*--- profile-01 ---*/
    .pro-info h2 {font-size:2.2vw ;}
    .pro-info li {font-size:1.18vw ;}
    .pro-info li strong {font-size:1.76vw ;}

    .ss-questions h2 {font-size:2.2vw ;}
    .ss-questions p {font-size:1.03vw ;}
    .ss-questions label {font-size:1.18vw ;}
    .ss-questions .btn-block {font-size:1.18vw ;}

    .ss-questions select {font-size:1.18vw ;}
    .ss-questions input {font-size:1.18vw ;}
    /*--- END profile-01 ---*/

    /*--- minutes-sheet-01 ---*/
    .minute-subject {font-size:1.32vw ;}
    /*--- END minutes-sheet-01 ---*/

    /*--- DASHBOARD - START ---*/
    .dashboard-stat-box h3 {font-size: 4.12vw ;}
    .dashboard-stat-box span {font-size: 1.76vw ;}
    .dashboard-chart-container h3 {font-size: 2.5vw ;}
    /*--- DASHBOARD - END ---*/

    /*--- WORK OVERVIEW-01 ---*/
    .work-detailes h2{font-size: 2.5vw ;}
    .work-detailes h2 p{font-size: 1.47vw ;}
    #wd-link-1{font-size: 2.5vw ;}
    .work-detailes p strong{font-size: 1.47vw ;}
    .location-details p{font-size: 1.18vw ;}
    .location-details p strong{font-size: 1.76vw ;}
    .work-links a strong{font-size: 1.76vw ;}
    .work-links a p{font-size: 1.18vw ;}
    .work-links a i { font-size: 1.47vw ;}
    .phases h2{font-size: 2.5vw ;}
    .phases p{font-size: 1.47vw ;}
    .phases p strong{font-size: 1.47vw ;}
    .phases-deails span{font-size: 1.47vw ;}
    .progress-bar{font-size: 1.47vw ;}
    /*--- END WORK OVERVIEW-01----*/


    /*--- PLANNING-DESIGNING-START-01 - START ---*/
    .planning-design-steps-bar p {font-size: 1.47vw ;}
    .planning-design-content h3 {font-size: 2.5vw ;}
    .planning-design-content p {font-size: 2.35vw ;}
    /*--- PLANNING-DESIGNING-START-01 - END ---*/


    /*--- TASKBOARD-01 ---*/
    .heading-worklist{font-size: 2.5vw ;}
    .search-bar .search-container a i {font-size: 1.76vw ;}
    .search-container input#search-bar{font-size: 1.32vw ;}
    .workname-icon{font-size: 1.47vw ;}

    .custom-table .table td, .table th{font-size: 1.76vw ;}
    .custom-table .table td a{font-size: 1.47vw ;}

    .name-pannel li{ font-size: 1.62vw ;}
    .link-pannel li{font-size: 1.47vw ;}
    .message p { font-size: 1.47vw ;}
    #msg-detail { font-size: 1.47vw ;}
    .message p span a { font-size: 1.47vw ;}
    .comments p{font-size: 1.47vw ;}
    .comments p stong{font-size: 1.76vw ;}
    .custom-table .table .selected-row td a{font-size: 1.62vw ;}
    .custom-table .table .selected-row td {font-size: 1.62vw ;}
    /*---  END TASKBOARD-01 ---*/

    /*--- PLANNING-DESIGNING-PREVIEW-MODE-04 - START ---*/
    .sidebar-content div {font-size: 1.47vw ;}
    .planning-design-main-button-bar li {font-size: 1.47vw ;}
    .planning-design-title h3{font-size: 2.5vw ;}
    .planning-design-main-content h3 {font-size: 1.84vw ;}
    .planning-design-table {font-size: 1.84vw ;}

    .paging-navigation li {font-size: 1.32vw ;}
    .planning-design-main-lower-buttons button {font-size: 1.47vw ;}
    /*--- PLANNING-DESIGNING-PREVIEW-MODE-04 - END ---*/

    /*--- PLANNING-DESIGNING-OVERVIEW-02 - START ---*/
    .planning-design-main-content-overview p{font-size: 2.2vw ;}
    .planning-design-main-content-overview ol{font-size: 2.2vw ;}
    .planning-design-main-content-overview .alert {font-size: 1.76vw ;}
    /*--- PLANNING-DESIGNING-OVERVIEW-02 - END ---*/


    /*--- MODALS - START ---*/
    .modal-marking h3{font-size: 2.5vw ;}
    .modal-marking .modal-body p {font-size: 1.76vw ;}
    .modal-marking button {font-size: 1.47vw ;}
    .modal-marking-form h3{font-size: 2.5vw ;}
    .modal-marking-form .modal-body p {font-size: 1.47vw ;}
    .modal-marking-form .modal-body span {font-size: 1.32vw ;}
    .modal-marking-form .modal-body select {font-size: 1.47vw ;}
    .modal-marking-form .modal-body input[type=text] {font-size: 1.47vw ;}
    .modal-marking-form button {font-size: 1.47vw ;}
    .modal-marking-form .external-marking label {font-size: 1.47vw ;}
    .modal-marking-confirmation h3{font-size: 2.5vw ;}
    .modal-marking-confirmation .modal-body p {font-size: 2.2vw ;}
    .modal-marking-confirmation button {font-size: 1.76vw ;}

    .modal-marking-success h3{font-size: 2.5vw ;}
    .modal-marking-success .modal-body p {font-size: 1.76vw ;}
    /*--- MODALS - END ---*/

    /*--- NOTIFICATIONS - 01 - START ---*/
    .notification-pop-up h3 {font-size: 1.32vw ;}
    .notification-record-detail div{font-size: 0.96vw ;}
    .notification-record-detail span{font-size: 0.81vw ;}
    .notification-all a {font-size: 0.96vw ;}
    .notification-pointer{font-size: 1.47vw ;}
    /*--- NOTIFICATIONS - 01 - END ---*/

    /*--- NOTIFICATIONS - 02 - START ---*/
    .notification-alert-close {font-size: 1.91vw ;}
    .notification-alert-detail h3 {font-size: 1.32vw ;}
    .notification-alert-detail p{font-size: 1.18vw ;}
    .notification-alert-detail span{font-size: 1.03vw ;}
    /*--- NOTIFICATIONS - 02 - END ---*/

    /*--- PLANNING-DESIGNING-PREVIEW-MODE-04 PAGE-----  ADDITIONAL CHANGES BELOW COMMENTS ADDS ONLY ONE PROPERTY IN MEDIA QUERY MENTION IN THE BELOW COMMENTS---*/
    .planning-design-main-content{font-size: 1.84vw ;}
    #planing-page-form p{font-size: 1.47vw ;}
    #planing-page-form label{font-size: 1.47vw ;}
    .custom-radio-btn:checked:after {font-size: 0.59vw ;}
    /*--- PLANNING-DESIGNING-INPUT FORM-03 - END ---*/

    /*--- FIRST LOGIN 01 - START ---*/
    .login-input {font-size: 1.47vw;}
    /*--- FIRST LOGIN 01 - END ---*/

    /*--- FIRST LOGIN 02 - START ---*/
    .form-container .title-row h3{font-size: 2.5vw;}
    .form-container .detail-row p{font-size: 1.76vw;}
    .form-container .detail-row label {font-size: 1.47vw;}
    .form-container .detail-row input {font-size: 1.47vw;}
    .form-container .detail-row select {font-size: 1.47vw;}
    .form-container .button {font-size: 1.47vw;}
    .form-container .button-cancel {font-size: 1.47vw;}
    .form-container .input-container #passwordVisibility {font-size: 1.18vw;}
    .form-container .input-container .checked {font-size: 1.47vw;}
    .form-container .hint {font-size: 1.47vw;}
    #modalConfirmationAdminCreation button {font-size: 1.47vw;}
    /*--- FIRST LOGIN 02 - END ---*/

    /*--- PORTAL - DASHBOARD 01 - START ---*/
    .dashboard-main-heading {font-size: 2.5vw;}
    .activity-list li {font-size: 1.47vw;}
    .activity-list span.activity-date {font-size: 1.47vw;}
    .dashboard-box-title {font-size: 1.47vw;}
    .dashboard-box-number { font-size: 4.18vw;}
    .dashboard-box-sub-title{font-size: 1.47vw;}
    .dashboard-box-sub-detail {font-size: 1.76vw;}
    /*--- PORTAL - DASHBOARD 01 - END ---*/

    /*--- PORTAL - USER LIST - START ---*/
    .dashboard-show-hide-section h3 {font-size: 2.5vw;}
    .dashboard-detail-box-title {font-size: 1.76vw;}
    .dashboard-detail-box-value {font-size: 1.76vw;}
    .dashboard-show-hide-button {font-size: 1.18vw;}
    /*--- PORTAL - USER LIST - END ---*/

    /*--- PORTAL - OFFICE DETAIL - START ---*/
    .action-button {font-size: 1.18vw;}
    .office-detail-dashboard span{font-size: 1.18vw;}
    .office-detail-dashboard p {font-size: 1.76vw;}
    /*--- PORTAL - OFFICE DETAIL - END ---*/

    /*--- PORTAL - FIRST MANAGE RANKS - START ---*/
    .ranks-tabs .title-row h3{font-size: 2.5vw; }
    .ranks-tabs .title-row span{font-size: 1.32vw;}
    .ranks-tabs .title-row p{font-size: 1.47vw;}
    .ranks-tabs .nav-link.active{font-size: 1.47vw;}
    .rank-btn{font-size: 1.47vw;}
    .add-rol-Privileges span{font-size: 1.47vw; }
    .custom-select{font-size: 1.47vw;}
    /*--- PORTAL - FIRST MANAGE RANKS - END ---*/
}
/*--- end controlling font sizes ---*/