<template>
  <div>
    <!--HEADER-->
    <div class="flex justify-between">
      <div>
      </div>
      <!-- <div class="flex space-x-2 items-center">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div> -->
    </div>  


    <!--POD TABLE-->
    <el-table
        ref="table"
        empty-text="No POD Quality Reports"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'date', order: 'descending'}"
        style="width: 100%">
        
        <el-table-column
          label="Week"
          sortable
          :sort-method="weekYearSort"
          prop="date"
          min-width="100">
          <template slot-scope="scope">
            {{ `${scope.row.week} - ${scope.row.year}` }}
          </template>
        </el-table-column>

        <el-table-column
          min-width="120"
          align="center"
          label="Opportunities"
          prop="opportunities">
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.opportunities }">{{ scope.row.opportunities | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="110"
          align="center"
          prop="successs">
          <template slot="header">
            <div>Success</div>
            <div class="text-brand">Rejects</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.success }">{{ scope.row.success | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.grandTotal }">{{ scope.row.grandTotal | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="110"
          align="center"
          prop="blurry">
          <template slot="header">
            <div>Blurry</div>
            <div class="text-brand">Explicit</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.blurry }">{{ scope.row.blurry | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.explicit }">{{ scope.row.explicit | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="140"
          align="center"
          prop="mailSlot">
          <template slot="header">
            <div>Mail Slot</div>
            <div class="text-brand">Human in Photo</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.mailSlot }">{{ scope.row.mailSlot | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.personInPhoto }">{{ scope.row.personInPhoto | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="140"
          align="center"
          prop="noPackage">
          <template slot="header">
            <div>No Package</div>
            <div class="text-brand">Pakage in Car</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.noPackage }">{{ scope.row.noPackage | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.takenFromCar }">{{ scope.row.takenFromCar | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="150"
          align="center"
          prop="packageInHand">
          <template slot="header">
            <div>Package in Hand</div>
            <div class="text-brand">Not Clearly Visible</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.packageInHand }">{{ scope.row.packageInHand | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.notClearlyVisible }">{{ scope.row.notClearlyVisible | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          min-width="110"
          align="center"
          prop="packageTooClose">
          <template slot="header">
            <div>Too Close</div>
            <div class="text-brand">Too Dark</div>
          </template>
          <template slot-scope="scope">
            <div class="break-normal" :class="{'placeholder': !scope.row.packageTooClose }">{{ scope.row.packageTooClose | textractText}}</div>
            <div class="break-normal text-brand" :class="{'placeholder': !scope.row.photoTooDark }">{{ scope.row.photoTooDark | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column
          label="Other"
          align="center"
          prop="other">
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.other }">{{ scope.row.other | textractText}}</div>
          </template>
        </el-table-column>

        <el-table-column        
          width="54"
          fixed="right"
          align="right">
          <template slot-scope="scope">
            <i 
              @click="openEditModal(scope.row)"
              class="text-2xl text-gray-600 uil uil-pen hover:text-brand cursor-pointer "/>
          </template>
        </el-table-column>


    </el-table>

    <p class="mt-4">{{ tableData.length || 0 }} Total POD Reports</p>  

    <!--EDIT MODAL-->
    <el-dialog
      :title="'Edit POD Quality Report for Week ' + selectedWeek"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >
      <PodForm ref="editModalForm" :formFields="editData"/>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" class="float-left" @click="confirmDelete">Delete</el-button>
        <el-button @click="cancelEditModal">Cancel</el-button>
        <el-button type="primary" @click="update">Update</el-button>
      </span>
    </el-dialog>

  </div>

</template>

<script>
  import { updatePodQuality, deletePodQuality } from '@/graphql/mutations'
  import { getPodQualityUpdatedTimestamp } from '@/utilities/timestampQueries'
  import PodForm from './PodForm'

  export default {
    name: 'StaffPastPodReports',
    props: ['tableData'],
    components: {PodForm},
    data() {
      return {
        search: '',
        selectedWeek: '',
        editModalOpen: false,
        editData: {}
      }
    },

    methods: {
      weekYearSort(a, b){
        return parseInt(a.year+a.week.padStart(2, 0)) - parseInt(b.year+b.week.padStart(2, 0))
      },

      /** Closes edit  modal window */
      cancelEditModal: async function(){
        this.editData = {}
        this.editModalOpen = false
        this.$emit('loadData')
      },

      /** Prompt if record should really be deleted*/
      async confirmDelete(){
        this.$confirm('This will permanently delete this POD report. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDelete()          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },

      /** Delete record from DB */
      async commitDelete( ){
        try{
          var timestampResult = await this.api(getPodQualityUpdatedTimestamp, {id: this.editData.id})
          if(!timestampResult.data.getPodQuality){
            throw "POD Quality is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getPodQuality.updatedAt
          if(this.editData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }          
          const result = await this.api(deletePodQuality, {input:{ id: this.editData.id }} )
          this.editData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'POD Report Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      openEditModal(record){
        this.selectedWeek = `${record.week} - ${record.year}`
        this.editData = {...record}
        this.editModalOpen = true

      },

      /** Update a pod's information */
      async update(){
        try {
          const input = {
            ...this.editData
          }

          const result = await this.api(updatePodQuality, {input: input}, getPodQualityUpdatedTimestamp, 'getPodQuality')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'POD Report Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)        
        }
      },
    }     
  }
</script>
