<template>
    <el-form label-width="150px" >
        <div class="flex">
            <el-form-item class="flex-1" label="Year">
                <el-input v-model="formFields.year"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Week">
                <el-input v-model="formFields.week"></el-input>
            </el-form-item>        
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Name">
                <el-input v-model="formFields.employeeName"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Transporter ID">
                <el-input v-model="formFields.transporterId"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Opportunities">
                <el-input v-model="formFields.opportunities"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Success">
                <el-input v-model="formFields.success"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Rejects">
                <el-input v-model="formFields.grandTotal"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Blurry">
                <el-input v-model="formFields.blurry"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Explicit">
                <el-input v-model="formFields.explicit"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Mail Slot">
                <el-input v-model="formFields.mailSlot"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Human in Photo">
                <el-input v-model="formFields.personInPhoto"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="No Package">
                <el-input v-model="formFields.noPackage"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Package in Car">
                <el-input v-model="formFields.takenFromCar"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Package in Hand">
                <el-input v-model="formFields.packageInHand"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Not Clearly Visible">
                <el-input v-model="formFields.notClearlyVisible"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Package Too Close">
                <el-input v-model="formFields.packageTooClose"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Photo Too Dark">
                <el-input v-model="formFields.photoTooDark"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Other">
                <el-input v-model="formFields.other"></el-input>
            </el-form-item>
         
        </div>
        



    </el-form>
</template>

<script>
export default {
    props:['formFields'],    
}
</script>