<template>
    <div>
        <el-form label-width="70px" v-loading="documentLoading" ref="form">

            <el-form-item label="Type" prop="type">
                <el-select data-cy="document-type-sel" class="w-full" v-model="formFields.type" clearable>
                    <el-option
                    v-for="item in valueListActivesOnly(filteredDocumentType)"
                    :key="item.id"
                    :label="item.value"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="Notes" prop="notes">
                <el-input data-cy="document-notes-in" v-model="formFields.notes"></el-input>
            </el-form-item>
            
            <el-form-item  label="Date" prop="documentDate" >
                <DatePicker data-cy="document-date-dpk" :selectedDate="formFields.documentDate" placeholder="" @date-selected="handleDateSelected($event, 'documentDate')" />   
            </el-form-item> 

            <el-form-item v-if="!formFields.key" label="File" prop="file">
                <div class="w-full flex" v-show="(fileUploadEvent != null) || formFields.key">
                    <el-tag 
                        type="info"
                        effect="plain"
                        class="flex-auto form-file-uploaded ellipsis">
                        {{formFields.name}}
                    </el-tag>
                     <i 
                        @click="handleRemove(formFields.key)"
                        class="icon-button uil uil-trash-alt ml-4 hover:text-red-500"/>
                </div>
                <label v-show="(fileUploadEvent == null) && !formFields.key" class="fileContainer w-full h-32 mb-4 bg-opacity-50 text-center">
                    <div class="uil-file text-5xl"></div>
                    <div>Drop file here or click to upload</div>
                    <input data-cy="document-file-up" id="FileUpload" type="file" @change="(e) => {insertDocumentForUpload(e, '/documents/')}" class="align-middle">
                </label>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import DatePicker from '@/components/Datepicker';

export default {
    name: 'StaffDocumentForm',
    components: {
        DatePicker
    },
    props:['formFields', 'staffData'],
    data(){
        return{
            documentLoading: false,
            fileUploadEvent: null,
            path: null,
            deleteFile: false,
            deleteFileKey: null
        }
    },

    computed:{
        ...mapState([
            'valuelists',
            'userInfo'
        ]),

        fullName() {
            return this.staffData.firstName + " " + this.staffData.lastName
        },
        filteredDocumentType(){
            const documentList = this.valuelists['document-type'].items.filter(item=> item.value!== 'I9')
            return documentList
        },
    },

    methods:{    
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },

        /**
         * Stages the file on S3 to be deleted.
         */
        async stageDeleteFile() {
            this.deleteFileKey = this.formFields.key
            this.formFields.key = null
            this.formFields.name = null
            this.fileUploadEvent = null
            this.path = null
            this.deleteFile = true
            
            document.getElementById('FileUpload').value = ""  
        },

         /**
         * Deletes S3 object.
         */
        async commitDeleteFile() {
            var objectKey = this.deleteFileKey ? this.deleteFileKey : this.formFields.key
            var result = await Storage.remove(objectKey)
        },

        /** 
        * Uses the S3 key in the form fields object to get the url of the file
        */
        clearFileUpload: function(){
            if(!document.getElementById('FileUpload')) return
            document.getElementById('FileUpload').value = ""
            this.fileUploadEvent = null
            this.path = null
            this.deleteFile = false
            this.deleteFileKey = null
        },


        /** 
        * Prompts user if file should really be deleted
        * @param {string} objectKey S3 key of file to delete
        */
        async handleRemove(objectKey){
            this.$confirm('This will permanently delete this file. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.stageDeleteFile(objectKey)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },
             
        insertDocumentForUpload: function(e, path){
            var files = e.target.files || e.dataTransfer.files;
            var file = files[0]
            var fileType = file.type
            var fileName = file.name

            this.fileUploadEvent = e
            this.formFields.name = fileName
            this.path = path
        },
        
        /**
         * Uploads document to S3
         */
        async uploadDocument(){
            try{
                var e = this.fileUploadEvent
                var path = this.path
                var objectType
                this.documentLoading = true

                // Upload file to S3
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0]
                var fileType = file.type
                var fileName = file.name
                var timestamp = String(Date.now())
                var object = await Storage.put(this.userInfo.tenant.group + path + this.staffData.id.toLowerCase() + '/' + timestamp + "/" + fileName, file)
                var documentUrl = await Storage.get(object.key)

                //Update fields
                this.formFields.key = object.key
                this.formFields.name = fileName
                this.documentLoading = false
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
                this.physicalLoading = false
            }
        }
    },
}
</script>
<style scoped>
    .el-date-editor{
       @apply w-full;
    }

    .fileContainer{
        @apply  text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }
</style>