<template>
  <div>

    <!--HEADER-->
   <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-button data-cy="da-document-add-btn" class=" w-40" size="small" type="primary" @click="handleAddDocument">Add Document</el-button>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
            v-model="documentSearch"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            class="flex-1"
            placeholder="Filter this list by any column..."/>
        </div>
    </div>  

    <!--DOCUMENT TABLE-->
    <el-table
      ref="table"
      v-loading="documentsLoading"
      empty-text="No Documents"
      :data="filterArray( this.staffData.documents.items, this.documentSearch )"
      style="width: 100%">
        
      <el-table-column
        label="File Name"
        sortable
        prop="name">
        <template slot-scope="scope">
           <div :class="{'placeholder': !scope.row.name}">{{scope.row.name | text}}</div>
        </template>
      </el-table-column>

      <el-table-column
        label="Upload Date"
        sortable
        :sort-method="dateSort"
        prop="uploadDate">
        <template slot-scope="scope">
          {{scope.row.uploadDate | date}}
        </template>
      </el-table-column>

      <el-table-column
        label="Type"
        sortable
        prop="type">
        <template slot-scope="scope">
           <div :class="{'placeholder': !scope.row.type}">{{scope.row.type | text}}</div>
        </template>
      </el-table-column>

      <el-table-column
        label="Notes"
        sortable
        prop="notes">
        <template slot-scope="scope">
          <div :class="{'placeholder': !scope.row.notes}">{{scope.row.notes | text}}</div>
        </template>
      </el-table-column>

       <el-table-column
        label="Document Date"
        sortable
        prop="documentDate">
        <template slot-scope="scope">
          <div :class="{'placeholder': !scope.row.documentDate}">{{scope.row.documentDate | date_timezone}}</div>
        </template>
      </el-table-column>

      <el-table-column        
        width="54"
        align="right">
        <template slot-scope="scope">
          <i 
            v-if="scope.row.key"
            @click="downloadFile(scope.row.key)"
            class="icon-button hover:text-brand uil uil-import"/>
        </template>
      </el-table-column>

      <el-table-column        
        width="54"
        align="right">
        <template slot-scope="scope">
          <i 
            data-cy="da-document-open-edit-modal-btn"
            @click="openEditDocumentModal(scope.row)"
            class="icon-button hover:text-brand uil uil-pen"/>
        </template>
      </el-table-column>
    </el-table>
    <p class="mt-4">{{ staffData.documents.items.length || 0 }} Total Documents</p>

    <!--NEW MODAL-->
    <el-dialog
      title="Add Document"
      :visible.sync="newModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >
      <StaffDocumentForm ref="newModalForm" :staffData="staffData" :formFields="newDocumentData"/>
      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="cancelNewModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="form-confirm-btn"
              type="primary"
              :clickHandler="createDocument"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Confirm
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>

    <!--EDIT MODAL-->
    <el-dialog
      title="Edit Document"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >
      <StaffDocumentForm ref="editModalForm" :staffData="staffData" :formFields="editDocumentData"/>
      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
              data-cy="form-delete-btn"
              type="danger"
              class="float-left"
              :clickHandler="confirmDeleteDocument"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Delete
            </ButtonWrapper>
            <el-button
              :disabled="disabled"
              @click="cancelEditModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="form-update-btn"
              type="primary"
              :clickHandler="updateDocument"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Update
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>
  
  </div>
</template>

<script>
import StaffDocumentForm from './DocumentForm'
import { getDocumentUpdatedTimestamp } from '@/utilities/timestampQueries'
import { mapState } from 'vuex'
import { createDocument, updateDocument, deleteDocument } from '@/graphql/mutations'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

  export default {
    name: 'StaffDocuments',
    components: {
      StaffDocumentForm,
      ButtonWrapper,
      ButtonGroupWrapper,
    },
    props: ['fullName', 'staffData'],
    data() {
      return {
        documentSearch: '',
        documentsLoading: false,
        newDocumentData:{},
        editDocumentData:{},
        editModalOpen: false,
        newModalOpen: false
      }
    },

    computed: {
      ...mapState([
        'userInfo'
      ])
    },

    methods: {
      dateSort(a,b){
        return new Date(a.uploadDate) - new Date(b.uploadDate);
      },

      /** Closes edit physical modal window */
      cancelEditModal: async function(){
        this.editModalOpen = false
        this.editDocumentData = {}
        this.$refs.editModalForm.clearFileUpload()
        this.$emit('loadData')
      },


      /** Closes new physical modal window and deletes file in S3 if uploaded */
      cancelNewModal: async function(){
        this.newDocumentData = {}
        this.$refs.newModalForm.clearFileUpload()
        this.newModalOpen = false
      },


      /** Delete document from DB */
      async commitDeleteDocument( ){
        try{
          var timestampResult = await this.api(getDocumentUpdatedTimestamp, {id: this.editDocumentData.id})
          if(!timestampResult.data.getDocument){
            throw "Document is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getDocument.updatedAt
          if(timestamp != this.editDocumentData.updatedAt){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          await this.$refs.editModalForm.commitDeleteFile()
          const result = await this.api(deleteDocument, {input:{ id: this.editDocumentData.id }} )
          this.editDocumentData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Document Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },


      /** Prompt if physical should really be deleted*/
      async confirmDeleteDocument(){
        try {
          await this.$confirm('This will permanently delete this document. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          });
          await this.commitDeleteDocument();
        }
        catch (error) {
          this.printUserError(error);
        }
      },


      /** Creates physical */
      async createDocument(){
        try {
          
          // upload file if available
          if(this.$refs.newModalForm.fileUploadEvent != null) await this.$refs.newModalForm.uploadDocument()
        
          //Create DB record
          const input = {
            ...this.newDocumentData,
            uploadDate: new Date(),
            documentStaffId: this.staffData.id,
            group: this.$store.state.userInfo.tenant.group
          }          
          console.log(input)
          const result = await this.api(createDocument, {input: input})

          //Clean up app state
          this.newDocumentData = {}
          this.newModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)        
        }
      },


      /**
       * Opens modal window to add physical
       */
      handleAddDocument: async function(){
        this.newDocumentData = {}
        this.newModalOpen = true
        if(this.$refs.newModalForm) this.$refs.newModalForm.clearFileUpload()
      },


      /**
       * Opens the edit document modal
       * @param {object} document - Complete document object used for StaffDocumentForm
       */
      openEditDocumentModal(document){   
        this.editDocumentData = {
          ...document
        }
        if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()
        this.editModalOpen = true
      },


      /** Update a document's information */
      async updateDocument(){
        try {

          var timestampResult = await this.api(getDocumentUpdatedTimestamp, {id: this.editDocumentData.id})
          if(!timestampResult.data.getDocument){
            throw "Document is missing or deleted by another user."
          }
          // upload file if available
          if(this.$refs.editModalForm.fileUploadEvent != null) await this.$refs.editModalForm.uploadDocument()

          const input = {
            ...this.editDocumentData
          }
          
          // // delete file if necessary
          // if(this.$refs.editModalForm.deleteFile) await this.$refs.editModalForm.commitDeleteFile()
          // if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()

          const result = await this.api(updateDocument, {input: input}, getDocumentUpdatedTimestamp, 'getDocument')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Document Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)        
        }
      },

      goToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails'})
      }
    }
  }
</script>