@import url('https://fonts.googleapis.com/css?family=Muli');

.hover:hover {
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.snooker-fade {
    animation-name: snooker-fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes snooker-fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes snooker-fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


