#signin_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(13, 13, 13, 1) inset !important;
    -webkit-text-fill-color: white !important;
    background-color: rgba(13, 13, 13, 1) !important;
    color:white !important;
    transition: background-color 5000s ease-in-out 0s;
}

#signin_form input,label{
    color:#fff !important;
    font-size: 13px;
    font-family: Muli;
}

#signin_form input{
    width:unset !important;
}

.forgotPassword p {
    color: white;
}

.forgotPassword p:hover {
    color: green;
}