.react-grid-Cell__value{
    white-space: unset !important;
}
.rdg-editor-container { margin-top:unset; position:fixed !important;}

/*.react-grid-Cell{*/
    /*height: 70px !important;*/
/*}*/

/*.react-grid-Row{*/
    /*height:80px !important;*/
/*}*/

.react-grid-Cell:not(.editing) .react-grid-Cell__value{
    line-height: 20px;
}