.mdtr-to-do-tasks-white-cont {
  background-color: #ffffff;
  margin: 20px;
  box-shadow: 0px 0px 22px -13px rgba(0, 0, 0, 0.75);
  padding: 20px 10px;
  border-radius: 3px;
}

.mdtr-org-cont {
  background-color: #ff9d36;
  border-radius: 15px;
  display: flex;
  padding: 3px 10px;
  align-items: center;
  margin-left: 5px;
}

.mdtr-org-text-color {
  color: #ffffff;
  font-size: 10px;
}

.mdtr-user-cont {
  border: 1px solid #d6d6d6;
  display: flex;
  padding: 3px 5px;
  border-radius: 3px;
  align-items: center;
}

.mdtr-add-tasks {
  background-color: #1281b9;
  padding: 7px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.mdtr-right-cont {
  margin: 60px 0px;
  width: 33%;
}

.mdtr-btn-row {
  display: flex;
  justify-content: space-around;
}

.mdtr-btn-text {
  font-size: 10px;
  color: #ffffff;
  margin-left: 5px;
  font-weight: 600;
}

.mdtr-reminder-tasks-cont {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 22px -13px rgba(0, 0, 0, 0.75);
}

.mdtr-reminder-tasks-header-cont {
  background-color: #f8f9fb;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8eaec;
}

.mdtr-reminder-tasks-head-text-cont {
  display: flex;
  align-items: center;
}

.mdtr-org-sm-box {
  background-color: #ff9d36;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-top: 3px;
}

.mdtr-rem-row-cont {
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #e8eaec;
}

.mdtr-rem-normal-text {
  color: rgb(169, 172, 177);
  font-size: 10px;
}

.mdtr-com-rem-cont {
  padding: 15px 15px 5px;
  border-bottom: 1px solid #e8eaec;
}

.mdtr-modal-gray-cont {
  background-color: #f6f7f9;
  margin: 10px 0px;
  border-radius: 3px;
  padding: 20px 0px;
  border: 1px solid #bfbfbf;
  display: flex;
  width: calc(100% - 32px);
  border-radius: 5px;
  padding-right: 20px;
}

.mdtr-checkbox-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
