<template>
   <div>
       <div class="flex border-b pb-2">
            <div class="mt-2 -ml-3">
                <i @click="goBack" class="icon-button hover:text-brand uil uil-angle-left-b text-3xl"/>
            </div>
            <div>
                <el-avatar :size="60" :src="photo" fit="cover">
                    <span class="text-lg">{{ initials }}</span>
                </el-avatar>
            </div>
            <div>
                <div class="flex">
                    <div class="mt-2 ml-3 font-bold text-sm underline text-brand cursor-pointer hover:opacity-75"
                        @click="goToStaff">
                        {{ message.staff.firstName }} {{ message.staff.lastName }}
                    </div>
                    <span class="font-bold rounded-full items-center bg-opacity-10 px-3 ml-3 text-xs  mt-2 max-w-full flex h-5"
                        :class="this.setClassStatus(message.staff.status)">
                        {{message.staff.status }}</span>
                </div>
                <div class="ml-3 text-xs h-4 overflow-hidden text-gray-700">
                    {{ message.numberOfCO }} coaching opportunities, {{ message.numberOfPR }} positive reinforcements
                </div>                
                <div class="ml-3 text-xs h-4 overflow-hidden text-gray-700">
                    <span v-if="message.staff.receiveTextMessages">SMS</span>
                    <span v-if="message.staff.receiveTextMessages && message.staff.receiveEmailMessages">/</span>
                    <span v-if="message.staff.receiveEmailMessages">EMAIL</span>
                    <span v-if="optedOut" class="text-red-500">{{$t('label.associate')}} is opted out of all communications. No message will be sent.</span>
                </div>                
            </div>
        </div>
        <div class="flex justify-between mt-2">
            <div class="text-2xl text-gray-800 font-bold">Pending Messages</div>
            <div class="float-right">
                <el-tooltip  class="item" effect="dark" content="Delete" placement="top" popper-class="custom-tooltip-lowest-z-index">
                    <i 
                        v-if="!rowLoading"
                        title="Delete"
                        @click="handleDelete"
                        class="icon-button hover:text-red-500 uil uil-trash-alt"/>
                    <i 
                        v-if="rowLoading"
                        title="Delete"
                        class="icon-disabled icon-button uil uil-trash-alt"/>
                </el-tooltip>

                <el-tooltip  class="item" effect="dark" content="Discard Changes" placement="top" popper-class="custom-tooltip-lowest-z-index">
                    <i 
                        v-if="messageChanged && !rowLoading"
                        title="Discard Changes"
                        @click="handleCancel"
                        class="icon-button hover:text-brand uil uil-corner-up-left"/>
                    <i
                        v-if="messageChanged && rowLoading"
                        title="Discard Changes"
                        class="icon-disabled icon-button uil uil-corner-up-left"/>
                </el-tooltip>
             
                <el-tooltip  class="item" effect="dark" content="Save" placement="top" popper-class="custom-tooltip-lowest-z-index">
                    <i 
                        v-if="messageChanged && !rowLoading"
                        title="Save"
                        @click="updatePendingMessage(false)"
                        class="icon-button hover:text-brand uil uil-save"/>

                    <i
                        v-if="messageChanged && rowLoading"
                        title="Save"
                        class="icon-disabled icon-button disabled:text-slate-500 uil uil-save"/>
                    </el-tooltip>
            </div>
        </div>
        
        <p class="text-xs text-gray-800">
            Based on latest imported scorecard, customer feedback, daily Mentor data, and daily Netradyne alerts
        </p>
        <div v-if="formattedSendTime" class="text-xs text-gray-600">
            Will be sent automatically the next day {{message.staff.firstName}} is rostered at {{formattedSendTime}}
        </div>
        
        <div class="block md:grid md:grid-flow-rows md:grid-cols-10 md:mt-4 md:gap-4">
            <div class="mt-4 md:col-span-5">
                <p class="font-bold text-gray-800">Coaching Opportunities</p>
                <el-input
                    class="mt-2"
                    type="textarea"
                    :rows="16"
                    placeholder="Coaching opportunities message"
                    v-model="message.bodyTextCO">
                </el-input>
            </div>
            <div class="mt-4 md:col-span-5">
                <p class="font-bold text-gray-800">Positive Reinforcement</p>
                <el-input
                    class="mt-2"
                    type="textarea"
                    :rows="16"
                    placeholder="Positive reinforcement message"
                    v-model="message.bodyTextPR">
                </el-input>
            </div>
        </div>
        <div class="flex mt-4 justify-start md:justify-end text-xs text-gray-800">
            <span v-if="optedOut" class="text-red-500">{{$t('label.associate')}} is opted out of all communications. No message will be sent.</span>
            <span v-else class="mr-1">Will be sent via</span>
            <span v-if="message.staff.receiveTextMessages">SMS</span>
            <span v-if="message.staff.receiveTextMessages && message.staff.receiveEmailMessages">/</span>
            <span v-if="message.staff.receiveEmailMessages">EMAIL</span>
        </div>
            <!-- <el-button size="small" type="danger" plainclass="float-left" @click="handleDelete">Delete</el-button> -->
            
        <ButtonGroupWrapper class="block md:flex mt-1 md:justify-end">
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
                size="small"
                :clickHandler="loadCoachingHistory"
                :disabled="disabled"
                @cb-start="setDisabled(true)"
                @cb-end="setDisabled(false)"
            >
                View Coaching History
            </ButtonWrapper>
            <ButtonWrapper
                v-if="$store.getters.hasPerformanceCoaching"
                class="custom-send-coaching-button"
                size="small"
                type="primary"
                :clickHandler="confirmSendCoachingMessage"
                :disabled="disabled || optedOut || rowLoading"
                @cb-start="setDisabled(true)"
                @cb-end="setDisabled(false)"
            >
                Send Coaching Message Now
            </ButtonWrapper>
            <el-popover
                v-else
                placement="bottom"
                title="Premium Required"
                width="215"
                trigger="hover"
                content=""
                class="ml-2 text-center"
                > 
                <el-button class="opacity-50" slot="reference" size="small" type="primary">Send Coaching Message Now</el-button>
                <PremiumWarning
                    action="send coaching messages"
                    premiumFeature="performance and coaching">
                </PremiumWarning>
            </el-popover>
          </template>
        </ButtonGroupWrapper>


         <!--COACHING HISTORY WINDOW-->
        <el-dialog
        title="Coaching History"
        :visible.sync="showCoachingHistory"
        width="60%"
        :show-close="false"
        :close-on-click-modal="false"
        >

        <StaffPastCoachingOpportunities
          :tableData="tableData"/>

        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="showCoachingHistory = !showCoachingHistory">OK</el-button>
        </span>
        </el-dialog>
   </div>
</template>

<script>
import { Storage } from 'aws-amplify'
import StaffPastCoachingOpportunities from '@/views/Staff/components/CoachingOpportunities/PastMessages'
import {getStaffCoachingHistory, messagesByStaffAndMessageType} from '../../queries'
import { getPendingMessageUpdatedTimestamp } from '@/utilities/timestampQueries'
import {updatePendingMessage, deletePendingMessage} from '@/graphql/mutations'
import sendMessage from '@/scripts/sendMessage'
import generateTemplate from '@/scripts/emailTemplate'
import PremiumWarning from '@/components/PremiumWarning'
import EventBus from '@/eventBus'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
    props:['message', 'formattedSendTime', 'rowLoading', 'isSmallerScreen'],
    components:{
        StaffPastCoachingOpportunities,
        PremiumWarning,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data(){
        return{
           loading: false,
           photo: '',
           showCoachingHistory: false,
           tableData: [],
           originalMessage: {},
           messageToSend: {}
        }
    },

    created(){
        this.loadData()
    },

    watch:{
        message(){
            this.loadData()
            this.originalMessage = {...this.message}
        }
    },

    computed:{
        initials(){
            if(!this.message || !this.message.staff.firstName) return ''
            return this.message.staff.firstName.charAt(0) + this.message.staff.lastName.charAt(0)
        },

        messageChanged(){
            return this.originalMessage.bodyTextCO != this.message.bodyTextCO ||
            this.originalMessage.bodyTextPR != this.message.bodyTextPR
        },

        optedOut(){
            return !this.message.staff.receiveTextMessages && !this.message.staff.receiveEmailMessages
        }
    },

    methods:{
        goBack(){
            this.$emit('go-back')
        },

        goToStaff(){
            this.$router.push({name: 'StaffDetail', params: { id: this.message.staff.id }})
        },

        async loadData(){

            //If no key, exit
            if( !this.message || !this.message.staff.photo ){
                this.photo = ''
                return false
            }

            //Attempt to get photo url, fail silently though
            try{
               this.loading = true
               var photo = await Storage.get(this.message.staff.photo)
               this.photo = photo
            }catch(e){
                console.log(e)
            }
            finally {
                this.loading = false
            }
        },
        handleCancel(){
            this.loading = true
            this.$confirm('This will discard all unsaved changes to this message. Continue?', 'Warning', {
                confirmButtonText: 'Discard Changes & Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$emit('cancel', this.originalMessage)
            }).catch(() => {
                console.log("canceled cancel")         
            }).finally(() => {
                this.loading = false
            });
        },
        handleDelete(){
            this.loading = true
            var input = {
                id: this.message.id
            }
            this.$confirm('This will permantly delete this message. Continue?', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(async () => {
                await this.deletePendingMessage(input)
                if(this.isSmallerScreen)
                {
                    this.$emit('handleRefresh')
                }
                else
                {
                    this.$emit('no-message-selected')
                }
            }).catch(() => {
                console.log("canceled cancel")         
            }).finally(() => {   
                this.loading = false
            });
        },

        // remove pending message
        async deletePendingMessage(input){
            try {
                await this.api(deletePendingMessage, { input })
            } catch (e) {
                throw e
            }
        },

        async loadCoachingHistory(){
            // load staff data
            if(this.message && this.message.staff.id){
                var input = {
                    staffId: this.message.staff.id, 
                    messageTypeCreatedAt: {
                        beginsWith: {
                            messageType: "coaching"
                        }
                    }   
                }
                var messages = await this.api(messagesByStaffAndMessageType, input)
                this.tableData = messages.data.messagesByStaffAndMessageType.items
                this.showCoachingHistory = true
            }
        },

        async updatePendingMessage(isMessageSent = false){
            try{
                var input = {
                    ...this.message
                }

                // Load row only when updating message, otherwise, don't
                if(!isMessageSent) {
                    this.emitLoading(true, input)
                }
                
                input.isRead = true
                delete input.staff
                var response = await this.api(updatePendingMessage, {input}, getPendingMessageUpdatedTimestamp, 'getPendingMessage')
                delete response.data.updatePendingMessage.tenant
                if(this.message.id == response.data.updatePendingMessage.id) {
                    this.originalMessage = response.data.updatePendingMessage
                    this.message.updatedAt = response.data.updatePendingMessage.updatedAt
                    this.message.bodyTextCO = response.data.updatePendingMessage.bodyTextCO
                    this.message.bodyTextPR = response.data.updatePendingMessage.bodyTextPR
                }
                await this.loadData()

                if(!isMessageSent) {
                    this.$emit('update', this.loading)
                }

                return
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally {
                if(!isMessageSent) {
                    this.emitLoading(false, input)
                }
            }
        },

        async confirmSendCoachingMessage(){
            this.messageToSend = { ...this.message }
            this.sideBarLoading(true)
            try {
                await this.$confirm('This will send the current message immediately. Continue?', 'Warning', {
                    confirmButtonText: 'Continue',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                });
                await this.updatePendingMessage(true);
                await this.sendCoachingMessage(true, this.messageToSend);
            } catch (error) {
                console.log("canceled send");
                this.sideBarLoading(false);
            }
        },

        emitLoading(loading, message) {
            this.loading = loading
            EventBus.$emit('row-loading',{ id: message.id, loading  })
            if(!loading) this.messageToSend = {}
        },

        sideBarLoading(loading) {
            EventBus.$emit('sidebar-loading', loading )
        },

        async sendCoachingMessage(isMessageSent = false, message){
            try{
                if(!isMessageSent) {
                    this.emitLoading(true, message)
                }
                // combine current CO and PR message chuncks
                var bodyText = ''
                if(message.bodyTextCO) bodyText += message.bodyTextCO
                if(bodyText && message.bodyTextPR) bodyText += '\n\n'
                if(message.bodyTextPR) bodyText += message.bodyTextPR

                // throw error for empty message
                if(!bodyText){
                    throw 'Cannot send an empty message'
                }

                // create html for message
                var header = 'Your Daily Performance Feedback'
                var subject = 'Your Daily Performance Feedback'
                var emailBody = bodyText.replace(/\n/g, '<br>')
                var type = 'coaching'

                // create message record
                await sendMessage({staff: message.staff, companyName: this.$store.state.userInfo.tenant.companyName, bodyText, bodyHTML:emailBody, header, subject, type, user:this.$store.state.userInfo})
                
                // remove pending message
                var input = {
                    id: message.id
                }
                await this.deletePendingMessage(input)

                // Display Success Notification
                this.displayUserNotification({
                    title: "Success",
                    message: 'Sent message successfully',
                    type: 'success'
                })

                if(this.isSmallerScreen)
                {
                    this.$emit('handleRefresh')
                }
                else
                {
                    this.$emit('no-message-selected', false)
                }           
                
            } catch(e){
                console.log(e)
                this.displayUserError(e)
            } finally {
                if(!isMessageSent) {
                    this.emitLoading(false, this.message)
                }
            }
            
        }
    }
}
</script>
<style>
    .custom-send-coaching-button.el-button {
        @apply mt-0 ml-2
    }
    .icon-disabled {
        @apply text-gray-500 !important;
    }
    @media (max-width: 678px) { 
        .custom-send-coaching-button.el-button {
        @apply mt-3 ml-0
     }
    }
</style>