<template>
    <div  v-loading.fullscreen="fullScreenLoading" element-loading-text="Sending Messages...">
        <div class="md:flex">
            <div class="w-auto md:w-68" v-if="!isDetailViewVisible || !isMobile">
                <div class="grid grid-cols-2 grid-flow-row gap-4">
                    <div class="container text-center py-2 mb-4 mt-1 col-span-1">
                        <span class="text-brand text-2xl">{{numberOfCO}}</span>
                        <i class="inline text-brand md:bottom-20 py-3 md:py-0 text-2xl uil uil-megaphone"></i>
                        <div class="text-xxs text-gray-600">Coaching Opportunities</div>
                    </div>
                    <div class="container text-center py-2 mb-4 mt-1 col-span-1">
                        <span class="text-brand text-2xl">{{numberOfPR}}</span>
                        <i class="inline text-brand md:bottom-20 py-3 md:py-0 text-2xl uil uil-thumbs-up "></i>
                        <div class=" text-xxs text-gray-600">Positive Reinforcement</div>
                    </div>
                </div>
                <div class="text-sm">
                    Send current coaching messages to...
                </div>
                <el-radio-group v-model="radioSendTo" class="my-4">
                    <el-radio label="all">All {{$t('label.associates')}}</el-radio>
                    <el-radio label="rostered">{{$t('label.associates')}} Rostered Today</el-radio>
                </el-radio-group>
                <ButtonWrapper v-if="$store.getters.hasPerformanceCoaching" size="small" type="primary" class="w-full mb-4" :clickHandler="confirmSendAll" :disabled="pendingMessages.length === 0 || isUpdateOnProgress">Send Now</ButtonWrapper>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="mr-2 text-center"
                    > 
                    <el-button slot="reference" size="small" type="primary" class="w-full mb-4 opacity-50">Send Now</el-button>  
                    <PremiumWarning
                        action="send coaching messages"
                        premiumFeature="performance and coaching">
                    </PremiumWarning>
                </el-popover>
                        
                <div v-if="tenant.automatedCoachingSendTime">
                    <p class="text-xxs mt-2">Messages will automatcially be sent on the day each {{$t('label.associate')}} is next rostered at {{formattedSendTime}}.</p>
                    <p class="text-xxs ">You can edit the messages beforehand below.</p>
                </div>

                <!-- SEARCH -->
                <el-input
                    v-model="search"
                    size="small"
                    class="mt-4 flex-1"
                    prefix-icon="uil uil-search"
                    clearable
                    placeholder="Filter this list by any column..."/>

                <!-- PENDING MESSAGES LIST -->
                <div
                    class="divide-y divide-gray-200 mt-4 min-h-48 h-96  scroll"
                    :class="loading? 'overflow-y-hidden' : 'overflow-y-scroll'"
                    v-loading="loading">
                    <SidebarItem
                        v-for="(message, index) in filteredMessages"
                        :loading="rowLoading[message.id]"
                        :key="message.id" 
                        :index="index"
                        :message="message" 
                        :selectedMessageId="selectedMessageId"
                        @show-pending-message="handleShowPendingMessage"/>
                    <div v-show="!filteredMessages.length" class="text-center text-gray-600">
                        No pending messages
                    </div>
                </div>
            </div>

            <!-- PENDING MESSAGE VIEW -->
            <div class="flex-1" v-show="isDetailViewVisible || !isMobile">
                 <transition-group :name="transitionName" mode="out-in" >
                    <PendingMessage 
                        ref="pendingMessage"
                        key="PendingMessage" 
                        v-show="showMessage"  
                        :rowLoading="rowLoading[selectedMessage.id]"
                        class="md:ml-4 md:pl-4 md:border-l child-view overflow-y-hidden overflow-x-hidden"
                        :message="selectedMessage"
                        :formattedSendTime="formattedSendTime"
                        @go-back="goBack"
                        @cancel="cancelPendingMessageChanges"
                        @update="loadData(true)"
                        @handleRefresh="loadUpdatedData"
                        :isSmallerScreen="isMobile"
                        @no-message-selected="noMessageSelected"/>
                    <div key="NoMessageSelected" v-show="showBlankMessage" class="h-full ml-4 pl-4 border-l child-view overflow-y-hidden">
                        <div class="text-center text-gray-600 mt-24">
                            <i class="uil uil-comment-alt-dots text-4xl"></i>
                            <h1 class="mb-10"> Select a pending message</h1>
                        </div>
                    </div>
                 </transition-group>
            </div>
        </div>

        <!--WARNING DIALOG-->
        <el-dialog
            title="Premium Required"
            :show-close="false"
            :center="true"
            :visible.sync="showUpgradeDialog"
            :close-on-click-modal="false"
            width="300px">
            <PremiumWarning
            action="import Mentor data"
            premiumFeature="performance and coaching"
            :modal="true"
            @close-dialog="showUpgradeDialog = false">
            </PremiumWarning>
        </el-dialog>
    </div>   
</template>

<script>
import { pendingMessagesByGroup, getTenantSendTime, dailyRostersByGroupAndNotesDate} from '../../queries'
import SidebarItem from './SidebarItem'
import PendingMessage from './PendingMessage'
import moment from 'moment-timezone'
import EventBus from '@/eventBus'
import sendMessage from '@/scripts/sendMessage'
import {deletePendingMessage, updatePendingMessage} from '@/graphql/mutations'
import PremiumWarning from '@/components/PremiumWarning'
import MessengerDetailVue from '@/views/Messenger/MessengerDetail.vue'
import { Auth, API } from 'aws-amplify';
import { mapState } from 'vuex'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';


export default {
    props: ['sendPendingMessages'],
    components: {
        SidebarItem,
        PendingMessage,
        PremiumWarning,
        ButtonWrapper,
    },
    data(){
        return{
            isMobile: null,
            isDetailViewVisible: false,
            radioSendTo: 'all',
            loading: false,
            fullScreenLoading: false,
            search: '',
            showUpgradeDialog: false,
            pendingMessages: [],
            selectedMessageId: '',
            transitionName: 'slide-right',
            showMessage: false,
            selectedMessage: {staff:{}},
            tenant: {},
            showBlankMessage: true,
            rowLoading: {}
        }
    },
    created() {
        window.addEventListener('resize', this.handleResize);
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize);
    },
    async mounted(){
        this.isMobile = window.innerWidth < 768 ? true : false;
        await this.loadData()

        EventBus.$on('load-performance', () => {
            this.loadData(true)
        })
        EventBus.$on('row-loading', (payload)=>{
            this.rowLoading[payload.id] = payload.loading
        })
        EventBus.$on('sidebar-loading', (payload)=>{
            this.loading = payload
        })
    },

    beforeDestroy(){
        EventBus.$off('load-performance')
        EventBus.$off('row-loading')
        EventBus.$off('sidebar-loading')
    },

    computed:{
        ...mapState(['userInfo']),    
        timeZone(){
            return this.getTenantTimeZone()
        },
        formattedSendTime(){
            var time = this.convert24to12Time(this.tenant.automatedCoachingSendTime)
            if(this.timeZone) return time
            return ''
        },
        filteredMessages(){
            return this.filterArray(this.pendingMessages , this.search)
        },

        numberOfCO(){
            if(!this.pendingMessages.length) return '0'
            var obj = this.pendingMessages.reduce((accumulator, item) => ({numberOfCO: parseInt(accumulator.numberOfCO) + parseInt(item.numberOfCO)})) 
            return obj.numberOfCO
        },

        numberOfPR(){
            if(!this.pendingMessages.length) return '0'
            var obj = this.pendingMessages.reduce((accumulator, item) => ({numberOfPR: parseInt(accumulator.numberOfPR) + parseInt(item.numberOfPR)}))
            return obj.numberOfPR
        },

        isUpdateOnProgress() {
            return Object.values(this.rowLoading).some(row => !!row)
        }
    },
    methods:{
        handleResize() {      
            this.isMobile = window.innerWidth < 768 ? true : false;
        },
        async cancelPendingMessageChanges(originalMessage){
            this.selectedMessage = originalMessage
            await this.loadData()
        },

        async confirmSendAll(){
            try {
                const audience = this.radioSendTo == 'all' ? `all ${this.$t('label.associates')}` : `${this.$t('label.associates')} rostered today`;
                await this.$confirm('This will send all coaching messages immediately to ' + audience +'. Continue?', 'Warning', {
                    confirmButtonText: 'Continue',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                });
                if(this.$refs.pendingMessage.messageChanged){
                    try {
                        await this.$confirm('There are unsaved changes to the current message. Continue?', 'Warning', {
                            confirmButtonText: 'Save Changes & Send',
                            cancelButtonText: 'Cancel',
                            type: 'warning'
                        });
                        // var originalMessage = this.$refs.pendingMessage.originalMessage
                        // await this.cancelPendingMessageChanges(originalMessage)
                        await this.$refs.pendingMessage.updatePendingMessage()
                        await this.sendAllMessages();
                    }
                    catch (error) {
                        console.log("canceled");
                        return;
                    }
                }
                else{
                    await this.sendAllMessages();
                }
            }
            catch (error) {
                console.log("canceled send all");
            }
        },

        async loadData(isRefresh){
            try{
                this.loading = true
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                var pendingMessages = await this.gLoadListAll(pendingMessagesByGroup, input, 'pendingMessagesByGroup')
                pendingMessages = pendingMessages.filter(message =>{
                    return message.staff != null && message.staff != undefined && message.staff != {}
                })
                this.pendingMessages = pendingMessages.sort(function(a,b){
                    return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase())
                })

                if(!isRefresh && !this.rowLoading.length){
                    let rowLoading = {}
                    this.pendingMessages.forEach(message => {
                        rowLoading[message.id] = false
                    })
                    this.rowLoading = rowLoading
                }

                input = {
                    id: this.$store.state.userInfo.tenant.id
                }
                var tenant = await this.api(getTenantSendTime, input)
                this.tenant = tenant.data.getTenant

                if(!isRefresh && this.sendPendingMessages === 'rostered'){
                    this.radioSendTo = 'rostered'
                    this.sendAllMessages()
                    this.$emit('update:sendPendingMessages', null)
                    this.$emit('pending-messages-sent')
                }

            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },

        goToAccountDetails(){
            this.showUpgradeDialog = false;
            this.$router.push({name: 'SettingsAccountDetails'})
        },

        goToImport(){
            if(!this.$store.getters.hasPerformanceCoaching){
                this.showUpgradeDialog = true;
                return
            }
            this.$router.push({name: 'DailyDataImport'})
        },

        async handleShowPendingMessage(payload){
            if(this.$refs.pendingMessage.messageChanged && this.$refs.pendingMessage.loading) {
                this.showPendingMessage(payload)
                this.isDetailViewVisible = this.isMobile ? true : false; 
            }
            else if(this.$refs.pendingMessage.messageChanged){
                this.$confirm('There are unsaved changes to the current message. Continue?', 'Warning', {
                    confirmButtonText: 'Save Changes & Continue',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(async () => {
                    await this.$refs.pendingMessage.updatePendingMessage()
                    this.showPendingMessage(payload)
                    this.isDetailViewVisible = this.isMobile ? true : false; 
                }).catch(() => {
                    console.log("canceled") 
                    return       
                });
            }
            else{
                this.showPendingMessage(payload)
                this.isDetailViewVisible = this.isMobile ? true : false; 
            }          
        },

        displayNotification(title, type, message, dangerouslyUseHTMLString){
            this.displayUserNotification({
                title,
                type,
                duration: 10000,
                message,
                dangerouslyUseHTMLString
            }) 
        },

        async showPendingMessage(payload){
            // mark pending message as read

            var responseUpdatedAt = null;

            if(!payload.message.isRead){
                var input = {
                    id: payload.message.id,
                    isRead: true
                }
                var response = await this.api(updatePendingMessage, {input})
                this.filteredMessages[payload.index].isRead = true
                this.filteredMessages[payload.index].updatedAt = response.data.updatePendingMessage.updatedAt
                responseUpdatedAt = response.data.updatePendingMessage.updatedAt
            }
            
            this.transitionName = 'slide-right'
            this.selectedMessageId = payload.message.id
            this.selectedMessage = payload.message
            this.selectedMessage.updatedAt = responseUpdatedAt ? responseUpdatedAt : this.selectedMessage.updatedAt
            this.showMessage = true
            this.showBlankMessage = false
            this.$emit("show-pending-message")
        },

        goBack(){
            this.showMessage = false
            this.showBlankMessage = true
            if(this.isMobile)
            {
                this.isDetailViewVisible = false
            }
            else
            {
                this.isDetailViewVisible = true               
            }
            this.$emit("go-back")
        },
        async loadUpdatedData(isRefresh = false){
            if(this.isMobile)
            {
                await this.loadData(isRefresh)
                this.isDetailViewVisible = false
            }
            else
            {
                this.isDetailViewVisible = true               
            }
        },
        async noMessageSelected(isRefresh = false){
            await this.loadData(isRefresh)
            this.showBlankMessage = this.pendingMessages.length ? true : false
            this.showMessage = false
            this.selectedMessage = {staff:{}}
            this.selectedMessageId = ''
            this.$emit("show-pending-message", this.pendingMessages.length < 1)
        },

        async displayRefreshPageModal(message) {
            await this.$confirm(message, 'Warning', {
                confirmButtonText: 'Refresh Page',
                showCancelButton: false,
                closeOnClickModal: false,
                closeOnPressEscape: false,
                closeOnHashChange: false,
                showClose: false,
                type: 'warning',
                center: true
            }).then(() => {
                window.location.reload()
            }).catch(() => {
              console.log("Cancel Refresh Page")         
            });
        },

        async sendAllMessages(){
            try {
                this.fullScreenLoading = true

                // Map Pending Messages by id
                let pendingMessages = this.pendingMessages.map(messages => messages.id)

                // Set Time
                const timeZone = this.userInfo.tenant.timeZone
                const todayMoment = moment.tz(timeZone).format('YYYY-MM-DD')

                // Post Data
                let apiName = 'sendPendingCoachingMessage';
                let path = '/sendMessage';
                let post = {
                    body: {
                        userInfo: this.userInfo,
                        pendingMessages,
                        todayMoment,
                        radioSendTo: this.radioSendTo
                    }, 
                    headers: {
                        'Content-Type' : 'application/json',
                        Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
                    } 
                }
                var result = await API.post(apiName, path, post);

                // If error exist, pass it to the catch statement
                if(result.error) throw result

                this.displayResultNotificaction(result.body)
                await this.loadData(true)
                this.goBack()

            } catch (e) {
                console.log(' Error Post', e);
                if(e.showNotification) return this.displayNotification("No Messages Sent", "warning" ,result.message, false)
                else if(e.showRefreshModal) return await this.displayRefreshPageModal(e.message)
                else this.displayUserError(e)
            } finally {
                this.fullScreenLoading = false
            }
        },

        displayResultNotificaction(response) {
            let message = `<p>${response['numSent']} ${this.pluralize(response['numSent'], "message sent", "messages sent" )}</p>`
            if(response['numNotRostered'] > 0) message += `<p>${response['numNotRostered']} ${this.pluralize(response['numNotRostered'], `${this.$t('label.associate')} not rostered today`, `${this.$t('label.associates')} not rostered today`)}</p>`
            if(response['numUnsubscribed'] > 0) message += `<p>${response['numUnsubscribed']} ${this.pluralize(response['numUnsubscribed'], `${this.$t('label.associate')} opted out`, `${this.$t('label.associates')} opted out`)}</p>`
            if(response['numError'] > 0) message += `<p>${response['numError']} ${this.pluralize(response['numError'], "sending error", "sending errors")}</p>`
            this.displayNotification("Messages Sent", "success" , message, true)
        }
    }
}
</script>
<style lang="scss" scoped>
    .child-view {
    transition: all .1s cubic-bezier(.55,0,.1,1) !important;
  }
  .slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
  }
  .slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
  }
    .lg-icon{
        font-size: 15rem;
        opacity: 0.3;
    }


</style>