<template>
    <div v-loading="loading">
        <div
            class="cursor-pointer flex" 
            :class="{'bg-gray-200': selectedMessageId == message.id, 'rounded-lg': selectedMessageId == message.id}"
            @click="showPendingMessage(message)">
            <el-badge v-if="!message.isRead" is-dot type="primary" class="ml-1 -mr-3 mt-6"></el-badge>
            <div class="ml-4 mt-3 mb-1">
                <el-avatar :size="40" :src="photo" fit="cover">
                    {{ initials }}
                </el-avatar>
            </div>
            <div>
                <div class="mt-2 ml-4 font-bold text-sm">
                    {{ message.staff.firstName }} {{  message.staff.lastName }}
                </div>
                <div class="ml-4 text-xxs h-4 overflow-hidden text-gray-700">
                    {{ message.numberOfCO }} coaching opportunities
                </div>            
                <div class="ml-4 text-xxs h-4 overflow-hidden text-gray-700">
                    {{ message.numberOfPR }} positive reinforcements
                </div>                
            </div>
            <div class="mt-4 mr-1 flex-1 text-right ">
                <i class="icon-button uil uil-angle-right-b text-xl"/>
            </div>
        </div>
    </div>
</template>

<script>
import { Storage } from 'aws-amplify'

export default {
    name: 'SidebarItem',
    props: ['message', 'selectedMessageId', 'index', 'loading'],
    data(){
        return{
            photo: ''
        }
    },
    mounted(){
        this.loadData()
    },
    computed:{
        initials(){
            return this.message.staff.firstName.charAt(0) + this.message.staff.lastName.charAt(0)
        }
    },
    methods:{
        async loadData(){
            //If no key, exit
            if( !this.message.staff.photo ){
                return false
            }

            //Attempt to get photo url, fail silently though
            try{
               var photo = await Storage.get(this.message.staff.photo)
               this.photo = photo
            }catch(e){
                console.log(e)
            }
        },

        showPendingMessage(message){
            this.$emit("show-pending-message", {message: message, index: this.index})
        }
    }
}
</script>

<style scoped>
.router-link-active{
    @apply bg-gray-200;
}
</style>