<template>
    <div class="custom-csv-import">
        <UploadZone v-if="!processing && !loading && pendingFiles.length < 1" @change="sharedInsertDocumentForUpload" accept=".xlsx, .pdf, .csv"/>

        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'CustomCSVImport' }">Daily Rostering</el-breadcrumb-item>
            <el-breadcrumb-item>
                {{formattedDate}}
            </el-breadcrumb-item>
            <el-breadcrumb-item>
                Import From Custom Spreadsheet
            </el-breadcrumb-item>
        </el-breadcrumb>

        <el-steps :active="activeStep" align-center class="mt-4" :process-status="stepProcessStatus" finish-status="success">
            <el-step description="Step 1" title="Upload Spreadsheet" ></el-step>
            <el-step description="Step 2" title="Select Columns" ></el-step>
            <el-step description="Step 3" :title="`Match ${$t('label.associates')}`" ></el-step>
            <el-step description="Step 4" title="Review Import" ></el-step>
        </el-steps>
        
        <!-- Step 1: Upload Spreadsheet -->
        <div v-if="activeStep == 0" class="z-30">
            <Step1
                :key="forceRefesh['Step1']"
                :types="fileTypes"
                :pendingFiles="pendingFiles"
                :loading="loading"
                :processing="processing"
                dropText="Drop any CSV or Excel file here or click to choose"
                @sharedInsertDocumentForUpload="sharedInsertDocumentForUpload"
                :tips="tips"
                accept=".csv,.xlsx,.xls"
            />
        </div>

        <!-- Step 2: SelectC Columns -->
        <div v-else-if="activeStep == 1"  class="z-30">
            <Step2
                :loading="loading"
                :key="forceRefesh['Step2']"
                :columnTableData="filteredColumnTableData"
                :matchAssociateOptions="matchAssociateOptions"
                :groupedRosterColumns="groupedRosterColumns"
                :rosterColumnNames="rosterColumnNames"
                :matchStaffBy.sync="matchStaffBy"
            >
                <template #append v-if="filteredColumnTableData.data.length < 2">
                    <div class="text-center">
                        <template v-if="shortCodeColumn">There are no records for the selected {{ shortCodeColumn }}.</template>
                        <template v-else>No table data found.</template>
                    </div>
                </template>
            </Step2>
        </div>

        <!-- Step 3: Match Associates -->
        <div v-else-if="activeStep == 2"  class="z-30">
            <Step3
                :key="forceRefesh['Step3']"
                :suggestionFound="suggestionFound"
                :loading="loading"
                :tableData="tableData"
                :activeAssociateList="activeAssociateList"
                :types="fileTypes"
            >
                <template #underEntries="{row}">
                    <div class="font-bold text-xs text-green-600" v-if="row.staff.rostered">Already Rostered</div>
                    <div class="font-bold text-xs text-orange-600" v-else>Not Yet Rostered</div>
                    <div
                    class="text-xs -mt-2" :class="row.staff.rostered?`text-green-600`:`text-orange-600`"
                    v-if="row.staff.assignmentType && row.staff.assignmentType !== 'route'">
                        {{assignmentText[row.staff.assignmentType]}}
                    </div>
                </template>
            </Step3>
        </div>
        
        <!-- Step 4: Import Results -->
        <div v-else-if="activeStep == 3"  class="z-30">
            <Step4
                :key="forceRefesh['Step4']"
                :loading="loading"
                :importCounts="importCounts"
                :importErrors="importErrors"
                :succeededFiles="succeededFiles"
                :showAutomatedMessagesWarning="showAutomatedMessagesWarning"
                :formattedSendTime="formattedSendTime"
                :sendCoachingMessagesNow="sendCoachingMessagesNow"
                :types="fileTypes"
            >
                <template #additionalCards v-if="importErrors.customCsvData.length">
                    <div class="card col-span-12">

                        <div class="border rounded-lg text-center border-red-600 bg-gray-1000" style="max-height: calc(100% - 1.5rem);">
                            <div class="relative -top-6">
                                <span class="capitalize px-4 top-3 text-sm relative bg-gradient-to-t from-gray-100 via-gray-100 to-white z-20 font-bold text-red-700">
                                    Import Errors
                                </span>
                                <el-table
                                class="rounded-lg errors-table lg:errors-table-lg md:errors-table-md"
                                :data="importErrors.customCsvData"
                                header-cell-class-name="table-header-cell"
                                style="width: 100%">
                                    <el-table-column label="Associate Name" min-width="20%">
                                        <template #default="{ row: {staff} }">
                                            <div class="w-full text-justify text-gray-600 font-semibold">{{ staff }}</div>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="Import Error" min-width="70%">
                                        <template #default="{ row: {errorType , value} }">
                                            <div v-html="errorTypes[errorType](value)" class="w-full text-justify text-gray-600"/>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>
                        </div>
                    </div>
                </template>
            </Step4>
        </div>

        <div class="grid grid-flow-row grid-cols-12 gap-4 mt-4 z-30">
            <div class="text-right col-span-12 z-30">
                <el-button class="w-24 z-30" @click="handleCancel" v-show="activeStep == 0">Cancel</el-button>
                <el-button class="w-24 z-30" @click="back" v-show="activeStep > 0 && activeStep < 3">Back</el-button>
                <el-button class="w-48 z-30" @click="next" :disabled="nextButtonDisabled" type="primary" :loading="loading">{{nextButtonText}}</el-button>
                <el-button v-if="showAutomatedMessagesWarning && hasRosteredToday" class="z-30" @click="finishAndSend" type="success">Finish & Send to Rostered</el-button>
            </div>
        </div>
    </div>
</template>
<script>
import {
    createTextractJob,
    createDailyRoster
} from '@/graphql/mutations'
import {
    staffsByGroupStatus,
    getTenantSendTime,
    textractJobsByJobId,
    dailyRostersByGroupAndNotesDate
} from './queries.js'
import Step1 from '@/modules/dataImports/steps/UploadFiles.vue'
import Step2 from '@/modules/dataImports/steps/SelectColumns.vue'
import Step3 from '@/modules/dataImports/steps/MatchAssociates.vue'
import Step4 from '@/modules/dataImports/steps/ImportResults.vue'
import UploadZone from '@/components/importing/UploadZone.vue'
import { getDetailsFromFileName, fileTypes } from './fileHelper.js'
import {
    getColumnTableData,
    processTableData,
    compileCustomCsv,
    getTableData,
    shortCodeColumn
} from '@/../amplify/backend/function/ProcessPerformanceData/src/customCsvImport/csvCompileHelper.js'
import {
    KEY_DSP_SHORT_CODE,
    KEY_ASSOCIATE_NAME,
    KEY_TRANSPORTER_ID,
    KEY_ASSOCIATE_EMAIL,
    KEY_TIME,
    KEY_ROSTER_STATUS,
    KEY_VEHICLE,
    KEY_PARKING_SPACE,
    KEY_DEVICE,
    KEY_VEHICLE_TYPE,
    getCustomColumns
}  from '@/../amplify/backend/function/ProcessPerformanceData/src/customCsvImport/columnNames.js'
import EventBus from '@/eventBus'
import getDailyRosters from '@/utilities/getDailyRosters'
import moment from 'moment'
import momentTz from 'moment-timezone';
import { API, Storage } from 'aws-amplify'
import { mapState } from 'vuex'
import { S3FileName } from '@/../amplify/backend/function/ParsePerformanceData/src/s3FileNameHelper'

export default {
    components:{
        Step1,
        Step2,
        Step3,
        Step4,
        UploadZone
    },
    props: ['dateId'],
    data(){
        return {
            fileTypes,
            tips: [
                "Select any CSV or Excel file that has column headers for any of the columns in your Daily Roster.",
                `<span class="font-bold">Note: At least one column must contain the Associate's name, Transporter ID, or email address so that we can match the Associate in Hera.</span>`
            ],
            storage:{
                data: {
                    customCsvData: [],
                }
            },
            associateLookupMap: {},
            activeStep: 0,
            stepProcessStatus: 'finish',
            pendingFiles: [],
            succeededFiles: [],
            processing: false,
            suggestionFound: false,
            associateList:[],
            loading: false,
            tableData:[[],[]],
            forceRefesh:{
                Step1: 0,
                Step2: 0,
                Step3: 0,
                Step4: 0
            },
            hasRosteredToday: false,
            importCounts: {
                customCsv: { created: 0, updated: 0, errors: 0, savedFiles: 0},
            },
            importErrors:{
                customCsvData: []
            },
            showAutomatedMessagesWarning: false,
            sendCoachingMessagesNow: false,
            importId: null,
            columnTableData: {
                header: [],
                data: []
            },
            rosterColumnNames: [],
            matchStaffBy: null,
            mergedData: null,
            roster: null,
            assignmentText: {
                replaceBy: "(Listed As Replacement)",
                helper: "(Listed As Helper)",
                rescuer: "(Listed As Rescuer)"
            },
            errorTypes:{
                [KEY_TIME]: (time) => `<span class="font-semibold">${time}</span> wasn't imported as a valid <span class="text-black italic">${KEY_TIME}</span> because it has a malformed format.`,
                [KEY_ROSTER_STATUS]: (rosterStatus) => `<span class="font-semibold">${rosterStatus}</span> wasn't imported because there's no such <span class="text-black italic">${KEY_ROSTER_STATUS}</span> in Hera.`,
                [KEY_VEHICLE]: (vehicle) => `<span class="font-semibold">${vehicle}</span> wasn't imported because there's no such <span class="text-black italic">${KEY_VEHICLE}</span> in Hera.`,
                [KEY_PARKING_SPACE]: (parkingSpace) => `<span class="font-semibold">${parkingSpace}</span> wasn't imported because there's no such <span class="text-black italic">${KEY_PARKING_SPACE}</span> in Hera.`,
                [KEY_DEVICE]: (device) => `<span class="font-semibold">${device}</span> wasn't imported because there's no such <span class="text-black italic">${KEY_DEVICE}</span> in Hera.`,
                [KEY_VEHICLE_TYPE]: (vehicleType) => `<span class="font-semibold">${vehicleType}</span> wasn't imported because there's no such <span class="text-black italic">${KEY_VEHICLE_TYPE}</span> in Hera..`
            }
        }
    },
    computed:{
        ...mapState(['userInfo']),
        tenant: {
            get(){
                return this.userInfo.tenant
            },
            set(value){
                this.userInfo.tenant = value
            }
        },
        shortCode(){
            return this.tenant.shortCode?.toLowerCase()
        },
        formattedDate(){
            const matchDate = /(?<year>[0-9]{4})-(?<month>[0-9]{2})-(?<day>[0-9]{2})/g.exec(this.dateId)
            let {groups: {day, month, year}} = matchDate
            return `${month}/${day}/${year}`
        },
        dailyroster(){
            return this.roster?.[0]
        },
        shortCodeColumn(){
            return shortCodeColumn(this.matchToDailyRosterColumn)
        },
        filteredColumnTableData(){
            const { data, header} = this.columnTableData
            let newData = data
            if(this.shortCodeColumn){
                newData = data.filter(row => row.matchToDailyRosterColumn || row[this.shortCodeColumn]?.toLowerCase() === this.shortCode)
            }
            return { data: newData, header}
        },
        matchToDailyRosterColumn:{
            get(){
                const data = this.columnTableData?.data
                return data ? data[0] : {}
            }
        },
        groupedRosterColumns(){
            const matchToDailyRosterColumn = this.matchToDailyRosterColumn || {}
            const predicate = (column) => matchToDailyRosterColumn[column].userMatch
            const match = Object.keys(matchToDailyRosterColumn).filter(predicate).map(predicate)
            const filteredColumns = this.rosterColumnNames.reduce((groups, column) => {
                if(match.includes(column.label))
                    groups.alreadySelected.push(column)
                else
                    groups.notSelected.push(column)
                return groups
            },{
                alreadySelected: [],
                notSelected: []
            })
            return filteredColumns
        },
        matchAssociateOptions(){
            const columns = this.rosterColumnNames.filter(column=>column.label === KEY_ASSOCIATE_NAME || column.label === KEY_TRANSPORTER_ID || column.label === KEY_ASSOCIATE_EMAIL)
            return this.groupedRosterColumns.alreadySelected?.filter(columnA =>
                columns.some(columnB => columnA.label===columnB.label || columnB.suggestedColumnsToMatch?.includes(columnA.label))
            )
        },

        formattedSendTime(){
            if(!this.tenant.automatedCoachingSendTime) return null
            var time = this.convert24to12Time(this.tenant.automatedCoachingSendTime)
            if(this.timeZone) return time
            return ''
        },
        proxyParams(){
            return {
                associates: this.activeAssociateList,
                types: fileTypes,
                associateLookupMap: this.associateLookupMap,
                suggestionFound: (value) => this.suggestionFound = value,
                matchStaffBy: this.matchStaffBy,
                mergedData: this.mergedData,
                rosterColumnNames: this.rosterColumnNames
            }
        },
        nextButtonText(){
            if(this.activeStep == 0 && this.processing) return 'Continue'
            if(this.activeStep == 0) return this.pendingFiles?.length > 1 ? 'Upload All' : 'Upload File'
            if(this.activeStep == 1) return 'Continue'
            if(this.activeStep == 2) return 'Import'
            return 'Finish'
        },
        nextButtonDisabled(){
            if(!this.roster?.length){
                return true
            }
            if(this.activeStep === 1){
                if(!this.matchStaffBy || this.filteredColumnTableData?.data.length < 2){
                    return true
                }
            }
            return (this.activeStep == 0 && !this.processing && !this.pendingFiles.length) ||
                (this.activeStep == 0 && this.processing && !!this.pendingFiles.filter(job => job.jobStatus === "NOT_STARTED").length)
                || this.loading
        },
        activeAssociateList: {
            get(){
                return this.associateList.sort(this.sortMethod)
            },
            set(value){
                this.associateList = value
            }
        },
        matched(){
            let matched0 = this.tableData[0].filter(da => da.staff.id)

            let matched1 = this.tableData[1].filter(da => da.staff.id)

            let matched = [...matched0, ...matched1]

            let matchedStaffs = matched.reduce((map, row)=>{
                
                const {
                    id: associateId,
                    assignmentType,
                    routeId,
                    replaceById,
                    helperId,
                    rescuerId,
                    importNameKey,
                    importTransporterId,
                    overwriteTransporterID,
                    importTransporterIDtoHera
                } = row.staff

                let type = assignmentType || 'notYetRostered'
                if(!map[type]){
                    map[type] = []
                }
                const data = { associateId }

                routeId && (data.routeId = routeId)
                replaceById && (data.replaceById = replaceById)
                helperId && (data.helperId = helperId)
                rescuerId && (data.rescuerId = rescuerId)

                if(importTransporterId){
                    data.importTransporterId = importTransporterId
                }
                if(importNameKey){
                    data.importNameKey = importNameKey
                }
                if(overwriteTransporterID){
                    data.overwriteTransporterID = overwriteTransporterID
                }
                if(importTransporterIDtoHera){
                    data.importTransporterIDtoHera = importTransporterIDtoHera
                }
                map[type].push(data)
                return map
            },{})

            return matchedStaffs
        },
        numberUnmatched(){
            let unmatched = this.tableData[0].filter(function(da){
                return !da.staff.id
            }).length

            unmatched += this.tableData[1].filter(function(da){
                return !da.staff.id
            }).length

            return unmatched
        },
        collate(){
            const data = {}
            Object.entries(this.columnTableData.data[0]).forEach(([key, value])=>{
                const { userMatch, automaticMatch } = value
                if(
                    (userMatch && userMatch !== automaticMatch) ||
                    (!userMatch &&  automaticMatch)){
                        data[key] = {}
                        if(userMatch)
                            data[key].userMatch = userMatch
                        if(automaticMatch)
                            data[key].automaticMatch = automaticMatch
                }
            })
            return data
        }
    },
    methods:{
        handleCancel(){
            if(this.activeStep == 0 && this.processing){
                this.pendingFiles = []
                this.succeededFiles = []
                this.processing = false
                history.pushState({}, '', window.location.pathname.replace(this.importId, "") )
                this.importId = null
                return
            }
            this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            })
            .then(() => {
                this.$router.push({path: '/daily-rostering/'+this.dateId+"/roster"})
            })
            .catch(() => {
                console.log("canceled cancel import")         
            });
        },
        back(){
            this.activeStep--
            if(this.activeStep == 0 && !this.processing){
                this.pendingFiles = []
                this.succeededFiles = []
                history.pushState({}, '', window.location.pathname.replace(this.importId, "") )
                this.importId = null
            }else if(this.activeStep == 1){
                this.tableData = [[],[]]
            }
        },
        async next(){
            if(!this.importId){
                this.importId = this.userInfo.id + '_' + new Date().getTime()
                history.pushState({}, '', (window.location.pathname + "/" + this.importId ).replace(/\/\//g,"/") )
            }
            if(this.activeStep == 0 && !this.processing){
                this.processing = true
                for (const pendingFile of this.pendingFiles) {
                    await this.importDocMulti(pendingFile)
                }
                this.loading = false
            }
            else if(this.activeStep == 0 && this.processing){
                this.loading = true
                this.activeStep++
                setTimeout(this.loadColumnData, 100)
            }else if(this.activeStep == 1){
                this.activeStep++
                const unmatchedCount = Object.keys(this.matchToDailyRosterColumn).filter(columns => {
                    return !this.matchToDailyRosterColumn[columns].userMatch && columns !== 'matchToDailyRosterColumn'
                })
                if(!unmatchedCount.length){
                    this.loading = true
                    this.compileResults()
                }else{
                    this.$confirm('Would you like to mark those columns as “DO NOT IMPORT”?', {
                        title: `You have not selected an option for ${unmatchedCount.length} column${unmatchedCount.length>1?'s':''}`,
                        confirmButtonText: 'Yes, continue',
                        cancelButtonText: 'No, go back',
                        type: 'warning',
                        center: true,
                        
                    }).then(async results=>{
                        this.loading = true
                        if(results === 'confirm'){
                            setTimeout(this.compileResults, 100)
                        }
                    }).catch(()=> {
                        this.activeStep--
                    })
                }
            }else if(this.activeStep == 2 ){
                if(this.numberUnmatched == 0){
                    await this.importData()
                }else{
                    // confirm to ignore unmatched DAs
                    let singular = `There is ${this.numberUnmatched} ${this.$t('label.associate')} that is unmatched, and the data will not be imported. We recommend matching them or, if needed, adding new ${this.$t('label.associates')} using the dropdowns above. Are you sure you want to continue without importing the unmatched ${this.$t('label.associate')}?`
                    let plural = `There are ${this.numberUnmatched} ${this.$t('label.associates')} that are unmatched, and their data will not be imported. We recommend matching them or, if needed, adding new ${this.$t('label.associates')} using the dropdowns above. Are you sure you want to continue without importing the unmatched ${this.$t('label.associates')}?`
                    let count = this.pluralize(this.numberUnmatched, singular, plural)
                    this.$confirm(count + " Continue?", 'Warning', {
                        confirmButtonText: 'Continue',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    })
                    .then(async () => {
                        await this.importData()
                    })
                    .catch((e) => {
                        console.log("canceled import",e)         
                    })
                }

                let group = this.$store.state.userInfo.tenant.group
                let date = momentTz().tz(this.getTenantTimeZone()).format('YYYY-MM-DD')
                this.hasRosteredToday = await getDailyRosters(group, date)
            }
            else if(this.activeStep == 3 ){
                this.$store.state.customCSVImportCompleted = true;
                this.$router.push({path: '/daily-rostering/'+this.dateId+"/roster"})
            }
        },
        async importDocMulti(pendingJob){
            
            const { file, name: fileName, type } = pendingJob

            const date =  moment(pendingJob.date).format('YYYY-MM-DD')
            const s3Key = this.userInfo.tenant.group + '/' + type + '/' + date + '/'+ fileName

            // Validate if S3key exists in the S3 bucket
            const isPDFFileExists = await safeFunction(Storage.list)(s3Key)

            const buffCurrentPdf = await file.arrayBuffer()
            const buffLastUploadedPdf = !isPDFFileExists.length ? false : await safeFunction(Storage.get)(s3Key, {download: true}).then(async({Body})=>await Body.arrayBuffer()).catch(e=>0)
            const pdfIsExactlyTheSame = buffLastUploadedPdf && Buffer.from(buffCurrentPdf, 0).equals(Buffer.from(buffLastUploadedPdf, 0))

            if(!pdfIsExactlyTheSame){ /* If the binary files are different or not uploaded yet */
                const expires = new Date()
                expires.setHours(expires.getHours()+24*7)
                //Upload to s3 bucket
                await safeFunction(Storage.put)(s3Key, file, {
                    contentType: 'application/octet-stream',
                    expires
                })
            }

            var usesXLcoaching = false
            var usesXLcoachingString = 'false'
            if(this.userInfo.tenant.usesXLcoaching){
                usesXLcoaching = true
                usesXLcoachingString = "true"
            }

            //Create textract job
            let input = {
                key: s3Key,
                fileName: file.name,
                jobStatus: "NOT_STARTED",
                isProcessed: false,
                isProcessedS: 'false', // need the string version since booleans can't be sort fields
                type: type,
                year: pendingJob.year,
                week: pendingJob.week,
                jobId: this.importId,
                textractJobTenantId: this.userInfo.tenant.id,
                group: this.userInfo.tenant.group,
                owner: this.userInfo.cognitoSub,
                tenantUsesXL: usesXLcoaching,
                tenantUsesXLS: usesXLcoachingString,
                timeZone: this.getTenantTimeZone(),
                metadataCreationDate: pendingJob.file.lastModifiedDate,
                metadataModificationDate: pendingJob.file.lastModifiedDate,
                metadataYear: pendingJob.year,
                metadataWeek: moment(pendingJob.date).isoWeek() - 1,
                date
            }
            const response = await this.api(createTextractJob, {input})
            const job = response.data.createTextractJob
            // set id of job record to pendingImportJob object
            pendingJob.id = job.id
            pendingJob.jobId = job.jobId
            pendingJob.key = s3Key
        },
        compileResults(){
            this.mergedData = processTableData(this.columnTableData)

            //Create DA Lookup Table
            const associateList = {}
            this.activeAssociateList.forEach((associate) => {
                if(associate.transporterId){
                    const key = this.cleanTransporterId(associate.transporterId)
                    associateList[key] = {...associate, transporterId: key}
                }
            })

            this.associateLookupMap = associateList
            
            const storage = {
                data: {
                    customCsvData: [],
                }
            }

            compileCustomCsv(this.succeededFiles[0], storage, this.proxyParams)
            this.storage = storage

            if(this.shortCodeColumn){
                this.tableData = getTableData(this.storage, this.checkRosterAssignment, (row)=> row[KEY_DSP_SHORT_CODE]?.toLowerCase() === this.shortCode)
            }else{
                this.tableData = getTableData(this.storage, this.checkRosterAssignment)
            }
            
            this.loading = false
        },
        async importData(){

            this.loading = true
            try{
                this.activeStep++
                const apiName = 'ProcessPerformanceData'
                const path = '/process'
                const post = {
                    body: {
                        variant: "DailyRosterV1",
                        importType: "customCsv",
                        importId: this.importId,
                        dailyrosterId: this.dailyroster.id,
                        rows: this.matched,
                        tenantId: this.userInfo.tenant.id,
                        group: this.userInfo.tenant.group,
                        owner: this.userInfo.cognitoSub,
                        clientTimeZone: this.getTenantTimeZone(),
                        textractJobId: this.pendingFiles[0].id,
                        matchStaffBy: this.matchStaffBy,
                        collate: this.collate
                    }
                }
                const responsePerformanceAPI = await API.post(apiName, path, post)
                // console.log({responsePerformanceAPI})
            }catch(e){
                this.printUserError(e)
            }finally{
                this.importLoading = false
            }

        },
        async sharedInsertDocumentForUpload(e){
            var files = e.target.files || e.dataTransfer.files
            const fileListAsArray = Array.from(files)
            fileListAsArray.forEach(file =>{

                const fileName = file.name

                const fileIncluded = this.pendingFiles.some(f => {
                    return f.name === fileName
                })
                
                if(fileIncluded){
                    return
                }

                const details = getDetailsFromFileName(fileName, this.formattedDate)

                if(!details){
                    this.displayUserError(fileName + ' is not a valid file.')
                    return
                }

                const pendingFile = {
                    file: file,
                    name: S3FileName.encode(fileName),
                    date: this.dateId,
                    dateString: details.dateString,
                    year: details.year,
                    week: details.week,
                    type: details.type.shortName,
                    tag: details.type.name,
                    jobStatus: 'NOT_STARTED',
                }
                this.pendingFiles.push(pendingFile)
            })
        },
        finishAndSend(){
            this.$router.push({name: 'CoachingIndex', params: {sendPendingMessages: 'rostered'}})
        },
        /**
         * Loads list of DAs for selects
         */
        async loadActiveAssociateList(){
            this.loading = true
            var input = {
                group: this.userInfo.tenant.group,
            }
            this.activeAssociateList = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
            this.loading = false
        },
        sortMethod(a,b) {
            return ('' + a.firstName.toLowerCase()).localeCompare(b.firstName.toLowerCase())
        },

        /**
         * Loads tenant data
         */
        loadTenant: async function(){
            const tenant = await this.api(getTenantSendTime, { id: this.tenant.id })
            this.tenant = {...this.tenant, ...tenant.data.getTenant}
        },
        /**
         * Loads dailyRostering routes
         */
        loadRoster: async function(){
            const input = {
                notesDate : {
                    eq: this.dateId
                },
                group: this.userInfo.tenant.group
            }
            this.roster = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')
        },
        loadColumnData(){
            let data = this.succeededFiles.map(f=>f.results.associateLevel)
            data[0] = {
                ...data[0],
                body: this.standarizeSingleQuote(data[0].body)
            }
            const columnTableData = getColumnTableData(data)
            this.columnTableData = columnTableData
            this.loading = false
        },
        checkRosterAssignment(staff){
            const { items } = this.dailyroster.route
            staff.rostered = items?.some(route=>{
                if(route.staff?.id === staff.id){
                    staff.assignmentType = 'route'
                    staff.routeId = route.id
                    return true
                }
                let replaceByRoute = route.replaceByRoute?.items.find(replaceBy=>replaceBy.staff.id === staff.id)
                if(replaceByRoute){
                    staff.assignmentType = 'replaceBy'
                    staff.replaceById = replaceByRoute.id
                    return true
                }
                if(route.helper?.id === staff.id){
                    staff.assignmentType = 'helper'
                    staff.helperId = route.id
                }
                let rescuerRoute = route.rescuers?.items.find(rescuer=>rescuer.staffId === staff.id)
                if(rescuerRoute){
                    staff.assignmentType = 'rescuer'
                    staff.rescuerId = rescuerRoute.id
                }
                return false
            })
        },
        /**
         * Creates daily roster using GraphQL mutation
         */
        async createDailyRoster(){
            try {
                const input = {
                    id: `${this.dateId}${this.userInfo.tenant.group}`,
                    dailyRosterTenantId: this.userInfo.tenant.id,
                    group: this.userInfo.tenant.group,
                    creationRoute: this.$route.name,
                    userId: this.userInfo.id,
                    notesDate: this.dateId,
                    amNotes: '',
                    pmNotes: '',
                    standUpNotes: ''
                }
                const result = await this.api(createDailyRoster, {input: input})
                return result
            } 
            catch(e) {
                this.printUserError(e)
            }
        },

        standarizeSingleQuote( body ) {
            const bodyUpdate = body.map(item => {
                for (const key in item) {
                    if (Object.hasOwnProperty.call(item, key)) {
                        let element = item[key];
                        if (element && element.toString().includes("â\x80\x99")) {
                            element = element.replace(/â\x80\x99/g, "'");
                        }
                        item[key] = element;
                    }
                }
                return item;
            });
            return bodyUpdate;
        }
    },
    async mounted(){
        this.loading = true
        await this.loadRoster()
        if(!this.roster?.length){
            const results  = await this.createDailyRoster()
            this.roster = [results.data.createDailyRoster]
        }
        this.rosterColumnNames = getCustomColumns()
        this.loadActiveAssociateList()
        this.loadTenant()

        EventBus.$on('mark-custom-csv-job-complete', async (payload)=>{
            const {id, importId, jobStatus, results} = payload?.params || {}
            if(importId === this.importId){
                let job = this.pendingFiles.find(job => job.id === id)
                job.jobStatus = jobStatus;
                job.results = results;
                this.succeededFiles.push(job)
                this.forceRefesh['Step1']++
            }
        })

        EventBus.$on('custom-csv-job-fail', async (payload) =>{
            const {importId, jobStatus} = payload.params
            if(importId === this.importId){
                let job = this.pendingFiles.find(job => job.id === importId)
                job.jobStatus = jobStatus
                const tenantName = this.tenant.companyName
                this.$notify({
                    type: 'error',
                    title: `Error importing ${payload.tag} for ${tenantName}.`,
                    message: `There was an error importing your ${payload.tag} file named ${payload.name}.`,
                    duration: 0,
                    dangerouslyUseHTMLString: true
                })
                this.forceRefesh['Step1']++
            }

        })

        EventBus.$on('load-custom-csv-import-results', async (payload) =>{
            const { importId, importCounts, importErrors } = payload
            if(importId === this.importId){
                this.importCounts = importCounts
                this.importErrors = {
                    customCsvData: this.standarizeSingleQuote(importErrors.customCsvData),
                }
                this.stepProcessStatus = 'success'
                this.loading = false
            }

        })

        const { importId, importCounts, performanceCounts, importErrors } = this.$route.params
        if(importId){
            this.importId = importId
            
            // load jobs from DynamoDB and go to processing step
            let input = {
                jobId: importId
            }
            let jobs = await this.gLoadListAll(textractJobsByJobId, input, 'textractJobsByJobId')
            let jobsWithErrors = jobs.filter( ( { jobStatus } ) => jobStatus === "ERROR" );
            const processInvalid = jobs.length === jobsWithErrors.length
            if (!processInvalid){
                this.pendingFiles = jobs = jobs.map(job=>{
                    job.jobId = job.id
                    let arr = job.key.split('/')
                    job.name = arr[arr.length - 1]
                    const details = getDetailsFromFileName(job.name, this.formattedDate)
                    job.date = this.dateId
                    job.dateString = details.dateString
                    job.tag = details.type.name
                    job.results = JSON.parse(job.results)

                    return job
                })
                this.succeededFiles = jobs.filter( ( { jobStatus } ) => jobStatus === "SUCCEEDED" )
                        
                this.loadColumnData()
            }

            if(importCounts){ // show results page
                this.importCounts = importCounts
                this.importErrors = {
                    customCsvData: this.standarizeSingleQuote(importErrors.customCsvData),
                }
                this.performanceCounts = performanceCounts
                this.pendingResults = false
                this.stepProcessStatus = 'success'
                this.activeStep = 2
            }

            this.processing = true
            this.loading = false
        }
    },
    beforeDestroy(){
        EventBus.$off('load-custom-csv-import-results')
        EventBus.$off('mark-custom-csv-job-complete')
        EventBus.$off('custom-csv-job-fail')
    }
}
</script>
<style>
.el-notification__content{
    overflow-wrap: break-word !important;
}
</style>

<style lang="scss">
.custom-csv-import{
  .grow.el-icon-right.rounded-full::before{
    padding-right: 1px;
    padding-left: 1px;
    line-height: 20px !important;
    font-size: 18px !important;
  }
  .custom-csv-style{
    @apply text-indigo-700 bg-indigo-200 bg-gradient-to-r from-blue-200 to-purple-200;
  }
  .errors-table{
    th.el-table__cell.is-leaf, td.el-table__cell{
        @apply border-red-200
    }
    @media (min-width: 768px){
        tr th:first-child .cell, tr td:first-child .cell {
            @apply pl-6
        }
        tr th:nth-child(2) .cell, tr td:last-child .cell {
            @apply pr-6
        }
    }
    @media (min-width: 1024px){
        tr th:first-child .cell, tr td:first-child .cell  {
            @apply pl-12
        }
        tr th:nth-child(2) .cell, tr td:last-child .cell {
            @apply pr-12
        }
    }
  }
}
.el-message-box__title{
  left: -5px !important;
  padding-left: 0px !important;
  text-align: center !important;
}
</style>