.risk-matrix-box{
    width: 692px;
    padding: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.likelihoodText{
    transform: rotate(-90deg);
    margin-top: 175px;
    width: 27px;
    margin-right: 13px
}
.impactText{
    margin-left: 340px;
}
.responsive-table {
  overflow: auto;
  flex: 1
}
.risk-matrix-box table.table-bordered > tbody > tr > td {
  border-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  color: #26273b;
  font-size: 13px;
  height: 54px;
  line-height: 54px;
  padding: 0;
  width: 10%;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-likelihood span {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  text-align: center;
  margin-top: 42%;
  margin-right: -70%;
  font-weight: 600;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-impact {
  font-weight: 600;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-top-header {
  background-color: #eeeeee;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-left-header {
  background-color: #eeeeee;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-red {
  background-color: #ff7372;
  color: #ffffff;
  cursor: pointer;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-green {
  background-color: #86df8f;
  cursor: pointer;
}

.risk-matrix-box table.table-bordered > tbody > tr > td.td-yellow {
  background-color: #fddf59;
  cursor: pointer;
}
