<template>
  <div>
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>{{optionID !== 'heraVersion' ? 'Notifications' : 'Hera Version History'}}</el-breadcrumb-item>
      </el-breadcrumb>
      <el-radio-group v-model="toggleNotifications" size="small" class="border-gray-600">
          <el-radio-button label="Notifications">Notifications</el-radio-button>
          <el-radio-button label="Hera Version History">Hera Version History</el-radio-button>
      </el-radio-group>
    </div>

    <el-table
      v-loading="loading"
      class="mt-4"
      ref="table"
      @row-click="performAction"
      row-class-name="cursor-pointer"
      empty-text="No Notifications"
      :data="filteredTableData"   
      style="width: 100%">

      <el-table-column
        label=""
        width="30"
        prop="dot">
        <template slot-scope="scope">
          <div v-show="!scope.row.isRead" class="inline-block w-2 h-2 bg-brand rounded-full"/>
        </template>
      </el-table-column>

      <el-table-column
        label="Date"
        width="100"
        prop="date">
        <template slot-scope="scope">
          <div>
            {{scope.row.createdAt | moment("M/D/YYYY")}}
          </div>
        </template>
      </el-table-column>

      <el-table-column
        label="Time"
        width="100"
        prop="time">
        <template slot-scope="scope">
          <div>{{scope.row.createdAt | moment("hh:mm A")}}</div>
        </template>
      </el-table-column>

      <el-table-column
        prop="notification">
        <template slot-scope="scope">
          <div>{{scope.row.title}}</div>
          <div class="text-xs text-gray-600 preline" v-html="scope.row.description"></div>
          <div v-if="scope.row.releaseNotes" class="text-xs text-gray-600 whitespace-pre-line">{{scope.row.releaseNotes}}</div>
        </template>
      </el-table-column>
    </el-table>
    <div v-if="nextToken" class="flex justify-center mt-4">
      <el-button round @click="loadData()">Load More</el-button>
    </div>


  </div>
</template>

<script>
import { notificationsByOwner } from './queries';
import { updateNotification } from '@/graphql/mutations'
import EventBus from '@/eventBus'

export default {
  name: "NotificationIndex",
  props: ['optionID'],
  data() {
    return {
      tableData: [],
      loading: true,
      nextToken: null,
      toggleNotifications: this.optionID !== 'heraVersion' ? "Notifications" : 'Hera Version History'
    }
  },
  mounted(){
    this.loadData()
  },

  computed:{
   filteredTableData(){
     if(this.toggleNotifications === "Notifications"){
       return this.tableData.filter((notification) => notification.title !== 'NEW VERSION')
     }else{
       return this.tableData.filter((notification) => notification.title === 'NEW VERSION')
     }
   },
  },


  methods: {
    /**
     * Load data using the notificationsByOwner custom GraphQL query
     */
    async loadData(){
      this.loading = true
      try{
        //Load notifications
        let input = {
          sortDirection: 'DESC',
          limit: 15,
          nextToken: this.nextToken,
          owner: this.$store.state.userInfo.cognitoSub
        }
        var notifications = await this.api(notificationsByOwner, input)
        this.nextToken = notifications.data.notificationsByOwner.nextToken
        notifications = notifications.data.notificationsByOwner.items
        if(!this.$store.state.userInfo.role.includes("admin")){
          notifications = notifications.filter((notification) => { return !notification.description.includes('invoice')})
        }
        notifications = notifications.filter((notification) => { return !notification.description.includes('user permissions')})
        this.tableData = [...this.tableData, ...notifications]
        this.loading = false
      }catch(e){
        console.log(e)
        this.displayUserError(e)
        this.loading = false
      }
    },

    performAction(row, column, event){
      var notification = row
        if(notification.clickAction == "navigate"){
            var payload = JSON.parse(notification.payload)
            this.dismiss(notification)
            this.$router.push(payload)
        }else if(notification.clickAction == "dismiss" || notification.clickAction == 'LOGOUT' || notification.clickAction == 'RELOAD'){
            this.dismiss(notification)
        }
    },

    async dismiss(notification){
      if(!notification.isRead){
        let input = {
            isRead: true,
            id: notification.id
        }
        await this.api(updateNotification, {input})
        await this.loadData()
        EventBus.$emit('load-notification-badge')
      }
    }
  }
}
</script>
<style scoped>
    .preline {
        white-space: pre-line;
    }
</style>