/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/12/2016 04:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon/Flaticon.eot");
  src: url("../fonts/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-business:before {
  content: "\f100";
}
.flaticon-multiply:before {
  content: "\f101";
}
.flaticon-profile:before {
  content: "\f102";
}
