/* **
 * ========================================
 * Includes Fonts
 * ========================================
 ** */
@font-face {
    font-family: Lato-L;
    src: url(../fonts/Lato/Lato-Light.ttf);
}


@font-face {
    font-family: FontAwesome;
    src: url(../fonts/font-awesome/fonts/FontAwesome.otf);
}

@font-face {
    font-family: fontawesome-webfont;
    src: url(../fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}	

	
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot'); /* support Internet explorer  */
    src: url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* support Internet explorer  */
    url('../fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* support Modern browser  */
    url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), /* support firefox , chrome   */
    url('../fonts/font-awesome/fonts/fontawesome-webfont.svg') format('svg');/* Svg form   */
	font-weight: normal; 
	font-style :normal;		 
}	


@font-face {
    font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');   /* support Internet explorer  */
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* support Internet explorer  */
    url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'), /* support Modern browser  */
    url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'), /* support firefox , chrome   */
    url('') format('svg');
	font-weight: normal;
	font-style :normal ; 
}

@font-face {
    font-family: Lato-R;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}	

@font-face {
    font-family: Lato-B;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}	

/*---------------------------------------
   2.2 PRE LOADER              
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

.p-0{
	padding-left: 0;
	padding-right: 0;
}

.p-l{
	padding-left: 0;
}

.p-r{
	padding-right: 0;
}

body{
	background-image: url("../images/bg.png");
	background-repeat: repeat;
	height: 35px;
}

/*------------- main-view-section -------------*/

.main-view-container {
	padding: 0 30px;
	padding-top: 33px;
	
}

.main-view-container  a{
	text-decoration: none !important;
	outline: 0 !important;
}

.main-view-container .ezy-logo{
	width: 100%;
}

.left-cm-menu{
	width: 100%;
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.left-cm-menu h2{
	display: block;
	width: 100%;
	float: none;
	font-family: Lato-B;
	font-size: 18px;
	color: #083c5d;
	text-transform: capitalize;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #d0d0d0;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.left-sub-menu h3{
	font-family: Lato-R;
	font-size: 14px;
	color: #0F7EB7;
	display: block;
	margin: 0;
	line-height: 23px;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.left-cm-menu h2:hover{
	color: #0F7FB9;
}

.left-sub-menu h3:hover{
	color: #083A5A;
}

.right-cm-view{
	display: block;
	width: 100%;
	float: none;
	border: 2px solid #c6c6c6;
	border-radius: 3px;
	padding-bottom: 30px;
	margin-bottom: 80px;
	background-color: #fff;
}

.top-blubar{
	background-color: #083C5D;
	padding: 20px 28px;
	display: block;
	width: 100%;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;	
}

.top-search-box{
	background-color: #fff;
	border-radius: 5px;
	height: 48px;
	width: 312px;
	display: inline-block;
}

.top-search-box input.tsearch-input{
	width: 85%;
	display: inline-block;
	border: none;
	outline: 0;
	box-shadow: none;
	
	height: 38px;
	margin-top: 5px;
	padding-left: 25px;
	font-family: Lato-B;
	font-size: 18px;
	color: #083C5D;
}

.top-search-box  .search-icon{
	cursor: pointer;
    margin-top: 10px;
	width: 30px;
	height: 30px;
    vertical-align: top;
}

.top-blubar .pipe{
	height: 48px;
	border-left: 1px solid #fff;
	display: inline-block;
	margin: 0 18px;
	vertical-align: top;
}

.adv-search-btn{
	font-family: Lato-B;
	font-size: 16px;
	color: #083C5D;
	text-align: center;
	display: inline-block;
	padding: 7px 24px;
	margin-top: 6px;
	border-radius: 5px;
	border: none;
	outline: 0;
	background-color: #fff;
	vertical-align: top;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.adv-search-btn:hover{
	color: #0F7FB9;
	background-color: #fff;
}

.inner-content-box{
	background-color: #f3f3f3;
	margin: 15px;
	/* width: 100%; */
	display: block;
	border-radius: 3px;
	padding: 17px;
}

.main-view-header{
	margin-top: 23px;
	margin-bottom: 25px;
}

.main-view-header .client-img-box{
	width: 75px;
	height: 75px;
	border-radius: 75px;
	overflow: hidden;
	display: inline-block;
	margin-right: 22px;
}

.main-view-header .client-img-box img{
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.main-view-header .cinfo-box{
	display: inline-block;
	vertical-align: top;
}

.main-view-header .cinfo-box .client-name{
	font-family: Lato-B;
	font-size: 25px;
	color: #083C5D;
	margin: 0;
	text-transform: capitalize;
	margin-bottom: 10px;
	vertical-align: top;
}

.main-view-header .cinfo-box .client-tel{
	font-family: Lato-R;
	font-size: 16px;
	color: #929292;
	display: inline-block;
	margin: 0;
	margin-right: 35px;
}

.main-view-header .cinfo-box .client-tel.client-email{
	margin-right: 20px;
}

.cm-btn{
	font-family: Lato-B;
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	padding: 5px 22px;
	background-color: #083C5D;
	border-radius: 5px;
	vertical-align: top;
	border: none;
	outline: 0;
	box-shadow: none;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.cm-btn span{
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	font-style: italic;
	padding-right: 20px;
}

.main-view-header .cm-btn{
	margin-top: 18px;
    margin-left:5px;
}

.fl-right{
	float: right;
}

.cm-btn:hover{
	background-color: #0F7FB9;
	
}

.client-status-box{
	width: 100%;
	display: block;
	background-color: #fff;
	height: auto;
	padding: 10px 0;
	border-top: 1px solid #e7e7e7;
	clear: both;
}

.client-status-box:last-child{
	border-bottom: 1px solid #e7e7e7;
}

.client-status-box h2{
	font-family: Lato-R;
	font-size: 16px;
	color: #929292;
	margin: 0;
	display: inline-block;
	width: 45%;
	vertical-align: middle;
	text-transform: capitalize;
	padding-left: 25px;
}

.cstatus-btn{
	font-family: Lato-R;
	font-size: 14px;
	color: #fff;
	text-align: center;
	float: none;
	display: inline-block;
	padding: 0 15px;
	outline: 0;
	box-shadow: none;
	border-radius: 3px;
	border: none;
	border: 1px solid transparent;
	margin-right: 6%;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.cstatus-btn.inactive{
	background-color: #811200;
	border: 1px solid #811200;
	box-shadow: none;
	outline: 0;
}

.cstatus-btn.active{
	background-color: #318100;
	border: 1px solid #318100;
	box-shadow: none;
	outline: 0;
}

.cstatus-btn.active:hover{
	background-color: #fff;
	color: #318100;
}

.cstatus-btn.inactive:hover{
	background-color: #fff;
	color: #811200;
}

.client-status-box .progress{
	width: 28%;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.client-status-box .progress-bar-info{
	background-color: #293A81;
	font-family: Lato-R;
	font-size: 14px;
	color: #fff;
}

.client-status-box .fa{
	font-size: 22px;
	color: #293A81;
	vertical-align: middle;
	cursor: pointer;
    position:relative;
    z-index:500;
}

.client-status-box.inactive h2{
	opacity: .5;
	pointer-events: none;
}

.client-status-box.inactive .progress-bar-info{
	background-color: #BFC4D9;
}

.client-status-box.inactive .fa{
	color: #BFC4D9;
	pointer-events: none;
}

.add-person-div{
	margin: 23px 0;
}

.bold-heading{
	font-family: Lato-B;
	font-size: 18px;
	color: #293A81;
	text-transform: capitalize;
	margin: 0;
	display: inline-block;	
}

.client-status-box.active{
	background-color: transparent;
	border: none;
	height: auto;
}

.disp-inlblk{
	display: inline-block;
}

.status-btn-box{
	width: 20%;
}

.status-btn-box .field-lbl {
    display: block;
}

.status-btn-box .cstatus-btn{
	margin-right: 0;
}

.field-lbl{
	font-family: Lato-R;
	font-size: 18px;
	color: #929292;
	margin: 0;
	display: block;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.field-lbl.disp-inlblk{
	display: inline-block;
}

.client-status-box  .progrs-box{
	width: 28%;
	display: inline-block;
}

.progrs-box .progress{
	width: 100%;
}

.chklist-box{
	background-color: #e1e1e1;
	border-radius: 3px;
	padding: 15px 23px;
	width: 100%;
	display: block;
	margin-top: 20px;
	padding-bottom: 50px;
}

.chklist-box .c-status{
	width: 30%;
}

.chklist-box .c-task{
	width: 20%;
}

.chklist-box .c-descp{
	width: 46%;
}
.del-check {
color:#811200;
font-size:20px;
margin-right:2px;
}
.small-heading{
	font-family: Lato-R;
	font-size: 18px;
	color: #293A81;
	margin: 0;
	display: block;
	text-transform: capitalize;
}

.algn-cntr{
	display: block;
    float: none;
    text-align: center;
}

.disp-inlblk.c-descp,
.small-heading.c-task,
.small-heading.c-status{
	display: inline-block;
}

.c-descp .progress{
	margin: 0;	
}

.c-descp .progress-bar-info{
	background-color: #293A81;
	font-family: Lato-R;
	font-size: 14px;
	color: #fff;
}

.select-status-box{
	margin-top: 40px;
	margin-bottom: 30px;
}

.small-heading.drpdwn-lbl{
	display: inline-block;
}

select.cm-select{
	font-family: Lato-R;
	font-size: 16px;
	color: #083C5D;
	text-align: left;
	padding: 3px 5px;
	margin-left: 20px;
	outline: 0;
	box-shadow: none;
	text-transform: capitalize;
}

.select-box{
	width: 40%;
	display: inline-block;
}

.cm-btn.add-btn{
	font-size: 18px;
	padding: 3px 24px;
	font-family: Lato-R;
    margin-top:19px;
}

.status-detail-box{
	background-color: #fff;
	border-radius: 5px;
	width: 99%;
/* 	margin-bottom: 20px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top; */
	padding-bottom: 24px;
    margin-bottom:10px;

}
.display-none {
    display:none;
}
.status-detail-box .sd-heading{
	border-bottom: 2px solid #cecece;
	padding: 16px 25px 10px 25px;
}

.status-detail-box .sd-heading h5{
	font-family: Lato-B;
	font-size: 20px;
	color: #293A81;
	margin: 0;
	width: 79.2%;
	display: inline-block;
	text-transform: capitalize;
}

.status-detail-box .sd-datarow{
	padding: 5px 0;
	border-bottom: 1px solid #dfdfdf;
	width: 90%;
	margin: 0 auto;
}

.status-detail-box .sd-ckhbx{
	display: inline-block;
	margin: 0;
	vertical-align: bottom;
	width: 2%;
	padding-bottom: 3px;
}

.status-detail-box .sd-datarow .chkbx-txt{
	font-family: Lato-R;
	font-size: 16px;
	color: #0F7FB9;
	display: inline-block;
	margin: 0;
	line-height: 28px;
	vertical-align: bottom;
	width: 74%;
    cursor:pointer;
}

.status-detail-box .sd-datarow .flt-icons,
.status-detail-box .sd-heading .flt-icons{
	display: inline-block;
	width: 18%;
}

.progress{
	background-color: #fff;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
	font-size: 15px;
	margin: 0;
    margin-left:5px;
	color: #808080;
	vertical-align: bottom;
	cursor: pointer;
}

.status-detail-box .sd-heading [class^="flaticon-"]:before, 
.status-detail-box .sd-heading [class*=" flaticon-"]:before, 
.status-detail-box .sd-heading [class^="flaticon-"]:after, 
.status-detail-box .sd-heading [class*=" flaticon-"]:after{
	color: #083b5b;
}

.flaticon-profile[class^="flaticon-"]:before, 
.flaticon-profile[class*=" flaticon-"]:before, 
.flaticon-profile[class^="flaticon-"]:after, 
.flaticon-profile[class*=" flaticon-"]:after{
	font-weight: 700;
	font-size: 17px;
}
.flaticon-business[class^="flaticon-"]:before, 
.flaticon-business[class*=" flaticon-"]:before, 
.flaticon-business[class^="flaticon-"]:after, 
.flaticon-business[class*=" flaticon-"]:after{
	margin-left:3px;
}



.status-detail-box .sd-datarow .flt-icons .separator,
.status-detail-box .sd-heading .flt-icons .separator{
	font-size: 24px;
	color: #808080;
	margin: 0 5px;
	
}

.hor-line2{
	border: none;
	border-bottom: 1px solid #afafaf;
	margin-bottom: 0;
}

.hor-line3{
	border: none;
	border-bottom: 1px solid #afafaf;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width: 97%;
}

/*========== checkboxes ===========*/

/* Base for label styling */
.sd-ckhbx [type="checkbox"]:not(:checked),
.sd-ckhbx [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    .sd-ckhbx [type="checkbox"]:not(:checked) + label,
    .sd-ckhbx [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

        /* checkbox aspect */
        .sd-ckhbx [type="checkbox"]:not(:checked) + label:before,
        .sd-ckhbx [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 2px;
            top: 7px;
            width: 14px;
            height: 14px;
            border: 1px solid #afafaf;
            background: #fff;
            border-radius: 2px;
            /*  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) */
        }
        /* checked mark aspect */
        .sd-ckhbx [type="checkbox"]:not(:checked) + label:after,
        .sd-ckhbx [type="checkbox"]:checked + label:after {
            /*  content: '✔'; */
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            top: 5px;
            left: 4px;
            font-size: 16px;
            line-height: 0.8;
            color: #0F7FB9;
            font-weight: 100;
            transition: all .2s;
        }
        /* checked mark aspect changes */
        .sd-ckhbx [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        .sd-ckhbx [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }

    /* checked mark aspect */
.sd-ckhbx [type="checkbox"]:not(:checked):hover + label:before {
        background: #0F7FB9;
        border: 1px solid #0F7FB9;
    }

	
/*-------- search page ---------*/	

.one-third{
	width: 32%;
	margin-right: 1%;
	display: inline-block;
	margin-bottom: 20px;
}

.one-fourth{
	width: 23%;
	margin-right: 1%;
	display: inline-block;
	margin-bottom: 20px;
}

.one-half{
	width: 48%;
	margin-right: 1%;
	display: inline-block;
	margin-bottom: 20px;
}

.field-lbl{
	font-family: Lato-B;
	font-size: 16px;
	color: #083A5A;
	display: inline-block;
	margin-right: 5px;
	margin: 0;
	margin-right: 2%;
}

.field-input{
	height: 28px;
	font-family: Lato-R;
	font-size: 16px;
	color: #555;
	display: inline-block;
	width: 75%;
	box-shadow: none;
	outline: 0;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding-left: 15px;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.field-input:focus{
	border: 1px solid #0F7EB7;
}

.field-input.half-width{
	width: 36%
}

.one-fourth .sd-ckhbx{
	display: inline-block;
	margin: 0;
	vertical-align: bottom;
}

.one-fourth  select.cm-select{
	margin-left: 0;
	max-width: 230px;
}

.search-tbl-box{
	background-color: #f5f5f5;
    border-radius: 3px;
    display: block;
    margin: 15px;
	margin-top: 30px;
	border: 1px solid #e0e0e0;
	
	max-height: 600px;
	overflow-y: scroll;
}

.search-table{
	width: 100%;
	float: none;
}

.blank-text{
	height: 1px;
	width: 40px;
	opacity: 0;
	font-size: 1px;
}

.marg-rt{
	margin-right: 15px;
}

.search-table a{
	text-decoration: none !important;
	outline: 0;
}

.search-table tr:nth-child(2n){
	background-color: #CCEEFF;
}

.search-table tr th{
	font-family: Lato-B;
	font-size: 14px;
	color: #000;
	text-align: left;
	padding: 15px 0;
	font-weight: 300;
}

.search-table tr td{
	font-family: Lato-R;
	font-size: 14px;
	color: #000;
	text-align: left;
	padding: 6px 10px;
	font-weight: 300;
}

.search-table tr td a{
	color: #000;
	font-family: Lato-B;
	font-weight: 300;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.search-table tr td a:hover{
	color: #0F7EB7;
}

.search-table tr td .sd-ckhbx{
	text-align: center;
	margin-bottom: 5px
}

/*--------- checklist-page ---------*/

.big-heading{
	font-family: Lato-B;
	font-size: 24px;
	color: #083A5A;
	text-transform: capitalize;
}

/* .big-heading.extra-marg{
	padding: 10px 0;
} */

.checklist-div .big-heading{
	text-align: center;
	float: none;
	display: block;
	margin: 15px auto;
}

.checklist-div select{
	float: none;
	display: block;
	margin: 0 auto;
	min-width: 300px;
	height: 33px;
}
	
.checklist-div .field-input{
	width: 300px;
	height: 33px;
	margin: 0 auto;
	display: block;
}	

.checklist-innerdiv{
	background-color: #e1e1e1;
	margin: 0 40px;
	border-radius: 3px;
	padding: 20px;
	margin-top: 30px;
}

.add-task-div .field-lbl,
.checklist-innerdiv .field-lbl{
	font-family: Lato-R;
	color: #293A81;
	font-size: 18px;
	width: 22%;
	vertical-align: top;
	line-height: 36px;
}

.add-task-div .field-input,
.checklist-innerdiv .field-input{
	height: 32px;
	font-size: 16px;
	margin-bottom: 15px;
}

.full-width.status-detail-box{
	margin-top: 25px;
	width: 100%;
	border-radius: 3px;
}

.full-width.status-detail-box .sd-datarow{
	width: 95%;
}

.full-width.status-detail-box .sd-ckhbx{
	width: 3%;
}

/* .full-width.status-detail-box .sd-datarow .flt-icons, .status-detail-box .sd-heading .flt-icons{
	width: 8%;
}
 */
 
 .full-width.status-detail-box .sd-datarow .flt-icons{
	width: 8%;
}
 
.full-width.status-detail-box .sd-datarow .chkbx-txt{
	width: 87.5%;
}

.full-width.status-detail-box .sd-datarow h6.edit-link{
	display: inline-block;
	font-family: Lato-R;
	color: #0F7EB7;
	font-size: 16px;
	text-transform: capitalize;
	margin: 0;
	vertical-align: middle;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.full-width.status-detail-box .sd-datarow h6.edit-link:hover{
	color: #083A5A;
}

.checklist-innerdiv .cm-btn{
	font-family: Lato-R;
	font-size: 18px;
	padding: 3px 22px;
}

.cm-btn.marg-btn{
	margin: 22px 0;
	margin-right: 26px;
}

.add-task-div{
	background-color: #f3f3f3;
	border-radius: 3px;
	padding: 20px;
	margin: 15px 26px;
}

.field-input.field-txtarea{
	height: 195px;
	padding-top: 5px;
}

/*--------- category page ----------*/

.category-div{
	margin: 0 25px;
}

.category-accor .accor-row{
	width: 100%;
	display: block;
	border-bottom: 1px solid #afafaf;
	padding: 8px 0 5px 0;
}

.category-accor .accor-row h3{
	font-family: Lato-R;
	font-size: 16px;
	color: #92929;
	padding-left: 20px;
	margin: 0;
	opacity: .5;
	display: inline-block;
	text-transform: capitalize;
}

.category-accor .accor-row .fa{
	float: right;
	color: #293A81;
	margin-right: 20px;
	font-size: 22px;
	cursor: pointer;
	padding-top: 3px;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.category-accor .accor-row .fa:hover{
	color: #0F7EB7;
}

/*------- sub-category page --------*/

.sub-category-div{
	width: 97%;
	border-radius: 3px;
	background-color: #f8f8f8;
	margin: 10px auto;
	padding: 20px;
}

.sub-category-div .category-accor .accor-row h3{
	font-family: Lato-R;
	font-size: 16px;
	color: #0F7EB7;
	padding-left: 0;
	opacity: 1;
}
.blu-bullet{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-color: #0F7EB7;
	border-radius: 2px;
	margin: 0 14px 5px 0;
}

.green-bullet{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-color: #0db600;
	border-radius: 2px;
	margin: 0 4px -2px 2px;
}
h1.page-heading{
	font-family: Lato-B;
	font-size: 26px;
	color: #fff;
	margin: 0;
	text-transform: capitalize;
}


/*---------- blue-select --------*/

select.cm-select.blu-select{
	background-color: #083c5d;
	border-radius: 3px;
	font-family: Lato-B;
	font-size: 16px;
	color: #fff;
	padding: 6px 5px;
	border: none;
	cursor: pointer;
}

/*--------  Hover Image Enlarge -----------*/



    ul.enlarge{
    list-style-type:none; /*remove the bullet point*/
    margin-left:0;
	padding: 0;
	display: inline-block;
	margin-left: 15px;
    }
	
	ul.enlarge p.img-title{
		font-family: Lato-R;
		font-size: 12px;
		color: #000;
		max-width: 150px;
		margin: 0;
		padding: 3px 0;
		text-align: center;
	}
	
    ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    margin: 0 5px;
    }
    ul.enlarge img.thumbnail-img{
    background-color:#eae9d4;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	width: 25px;
	height: 25px;
    }
    ul.enlarge span{
    position:absolute;
    left: -9999px;
    background-color:#eae9d4;
    padding: 5px;
    font-family: Lato-R;
    font-size:.9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    }
    ul.enlarge li:hover{
    z-index: 50;
    cursor:pointer;
    }
    ul.enlarge span img{
    padding:2px;
    background:#ccc;
	width: 80px;
	height: 80px;
    }
    ul.enlarge li:hover span{
    top: 40px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -28px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
  /*   ul.enlarge li:hover:nth-child(2) span{
    left: -100px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    left: -200px;
    } */
    /**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    behavior: url(pie/PIE.htc);
    }
	
	ul.enlarge .del-folwr{
		position: absolute;
		color: #000;
		cursor: pointer;
		right: -2px;
		top: -5px;
		opacity: 0;		
	}
	
	/*ul.enlarge li:hover .del-folwr{
		opacity: 1;
		visibility: visible;
	}*/

/*=========== footer ============*/

footer{
	background-color: #083b5b;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer a{
	text-decoration: none !important;
	outline: 0;
	color: #fff;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

footer h6{
	font-family: Lato-R;
	font-size: 14px;
	color: #fff;
	line-height: 50px;
	text-align: center; 
	float: none;
	display: block;
	margin: 0 auto;
}

footer h6 span{
	margin: 0 5px;
}

footer h6 a:hover{
	color: #0f80bb;
}
h6.input_error_msg {
    font-family: Lato-R;
    font-size: 12px;
    color: #ff0000;
    margin: 0;
    text-align: right;
    margin-top: -5px;
    padding-right: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: none;
}
h6.input_error_msg_v {
    font-family: Lato-R;
    font-size: 12px;
    color: #ff0000;
    margin: 0;
    text-align: left;
    margin-top: 5px;
    padding-left: 39%;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    visibility:hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display:none;
}

/*========== icon dropdown ===========*/
.icon-drpdwn{
	display: inline-block;
}

.icon-drpdwn .dropdown-menu{
	min-width: 175px;
}

.icon-drpdwn .dropdown-menu > li > p.person-name{
	font-family: Lato-R;
	font-size: 14px;
	color: #000;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	padding-left: 7px;
}

.icon-drpdwn .dropdown-menu > li:hover p.person-name{
	color: #0f80bb;
}

.icon-drpdwn .dropdown-menu > li > a{
	background-color: #fff;
}

.icon-drpdwn .dropdown-menu > li{
	padding-left: 5px;
	cursor: pointer;
}

.icon-drpdwn .dropdown-menu > li .user-pic-box{
	width: 35px;
	height: 35px;
	display: inline-block;
	border-radius: 35px;
	overflow: hidden;
	border: 1px solid #cecece;
}

.icon-drpdwn .dropdown-menu > li .user-pic-box img{
	width: 100%;
}

.icon-drpdwn .btn-primary{
	background-color: #fff !important;
	padding: 0;
	border: none;
	box-shadow: none;
	outline: 0;
}

.icon-drpdwn  .btn-primary:hover, 
.icon-drpdwn .btn-primary:focus, 
.icon-drpdwn  .btn-primary.focus, 
.icon-drpdwn  .btn-primary:active, 
.icon-drpdwn  .btn-primary.active, 
.icon-drpdwn  .open > .dropdown-toggle.btn-primary{
	background-color: #fff !important;
	border: none;
}

.icon-drpdwn .caret{
	 border-top: 4px solid #000;
}

.status-detail-box .sd-datarow .flt-icons .separator, 
.status-detail-box .sd-heading .flt-icons .separator{
	display: none;
}

.status-btndiv{
	display: inline-block;
	width: 22%;
}
.client-visa-detail {
margin-top: 10px;
}
.client-checklists {
    margin-bottom: 10px;
}


/*-------- 9-1-2017 (adding top right btns) --------*/

.top-blubar .top-right-btns{
	display: inline-block;
	float: right;
}

.top-blubar .top-right-btns .btn{
	margin-left: 12px;
}

.adv-search-btn{
	text-transform: capitalize;
}

.adv-search-btn.bloo-btn{
	background-color: #0f80bb;
	color: #fff;
}

.adv-search-btn.bloo-btn:hover{
	background-color: #fff;
	color: #0f80bb;
}

.adv-search-btn.yeloo-btn{
	background-color: #ff8a00;
	color: #fff;
}

.adv-search-btn.yeloo-btn:hover{
	color: #ff8a00;
	background-color: #fff;
}

*================*/
.client-status-box .fa{
	margin-left: 0;
}

.client-status-box .caret-div{
	display: inline-block;
	position: relative;
	z-index: 100;
	cursor: pointer;
	margin-left: 10px;
}

.client-status-box .caret-div:hover .fa{
	color: #293a81;
}

.down-arrow{
	font-size: 22px;
	color: #bfc4d9;
	font-size: 32px;
	cursor: pointer;
}

.down-arrow:hover{
	color: #293a81;
}

.dropdown .caret{
	margin-left: 5px;
}

.btn-primary.cstatus-btn:hover, 
.btn-primary.cstatus-btn:focus, 
.btn-primary.cstatus-btn.focus, 
.btn-primary.cstatus-btn:active, 
.btn-primary.cstatus-btn.active, 
.open > .dropdown-toggle.btn-primary.cstatus-btn{
	background-color: #fff;
    color: #811200;
	border: 1px solid #811200;
}


.open > .dropdown-toggle.btn-primary.cstatus-btn.active-btn{
	background-color: #fff;
    color: #318100;
	border: 1px solid #318100;
}

.cstatus-btn.active.active-btn {
    background-color: #318100;
    border: 1px solid #318100;
    box-shadow: none;
    outline: 0 none;
	color: #fff;
}

.cstatus-btn.active.active-btn:hover {
    background-color: #fff;
    color: #318100;
}

.dropdown-menu li{
	padding: 2px 7px;
	font-family: Lato-R;
	font-size: 14px;
	color: #000;
	line-height: 25px;
	cursor: pointer;
	
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dropdown-menu li:hover{
	color: #0f80bb;
}

.dp-flag-lbl{
    display: inline-block;
    height: 18px;
    margin-right: 7px;
    vertical-align: top;
    width: 17px;
}

/*-------- color schemes ---------*/

.Preparing {
    background-color: #f8950a;
}

.Lodged {
    background-color: pink;
}

.Submit {
    background-color: orange;
}

.Invited {
    background-color: #d7c76f;
}

.Awaiting-Allocation {
    background-color: magenta;
}

.Assessing {
    background-color: lightblue;
}

.Waiting-Client-Response {
    background-color: skyblue;
}

.Medical-Referral {
    background-color: palegreen;
}

.Second-Person-Check {
    background-color: lightgreen;
}

.Approved, .Selected {
    background-color: green;
}
.Unpaid {
    background-color: yellow;
}

.Declined {
    background-color: red;
}

.Refused {
    background-color: maroon;
}

.Withdrawn {
    background-color: brown;
}

.Immigration-Matters {
    background-color: purple;
}

.Appeal {
    background-color: #ffd11a;
}

.Approve-in-principal, Approve-in-principle, .Formal-Offer {
    background-color: #1aff1a;
}

.Complete {
    background-color: #049909;
}

.Agreement-signed {
    background-color: #ffd028;
}
.Contract-Sent {
    background-color: #63879C;
}
.Contract-Returned, .To-Be-Loged {
    background-color: #A4B95B;
}
.Invoiced-Awaiting-Payment, .Further-Info-Request-Received {
    background-color: #CBD734;
}
.Submitted, .Payment-Received {
    background-color: lawngreen;
}
.Client-Awaiting-Document-Instructions  {
    background-color: #CB85D8;
}
.Initial-Document-Instructions-Issued {
    background-color: #8A6CE7;
}
.Info-Request-Submitted-To-Case-Officer {
    background-color: #CC33FF;
}
.Final-Document-Instructions-Issued {
    background-color: #FFB775;
}
.Awaiting-Payment {
    background-color: #FF97A9;
}
.Allocated-To-Case-Officer, .EOI-In-Pool {
    background-color: #FFCF51;
}
.Awaiting-NZQA-Result {
    background-color: #FF6699;
}
.Passport-And-Docs-Returned-To-Client {
    background-color: #FF9966;
}

.Lodged-By-Client {
    background-color: #ffce33;
}

.Failed-Lodgement {
    background-color: #e3cb80;
}

.Further-Docs-Sent {
    background-color: #dad6ca;
}

.Further-Medicals-Submitted {
    background-color: #e7e8b5;
}

.Interim-Visa {
    background-color: #bae1b7;
}

.Pending-Documents {
    background-color: #cceae9;
}

.Referred-Back-To-INZ {
    background-color: #f0def1;
}

.Referred-To-Minister {
    background-color: #e3bdd9;
}

.OIA-Report-Received {
    background-color: #dce8e0;
}

.OIA-Request {
    background-color: #ff98d6;
} 
.icon-drpdwn .btn-primary .pee-letter{
 color: #808080;
 font-family: Lato-B;
 font-size: 16px;
 font-style: italic;
 text-transform: capitalize;
}

.adv-search-btn.gree-btn{
	background-color: #2eb0f3;
	color: #fff;
}

.adv-search-btn.gree-btn:hover{
	color: #2eb0f3;
	background-color: #fff;
}

.del-row{
	display: inline-block;
	padding-left: 10px;
	cursor: pointer;
}

.client-status-box.inactive .del-row .fa{
	color: #811200;
	font-size: 14px;
	cursor: pointer;
}

.client-status-box h2{
	padding-left: 10px;
	width: 43%;
}
.client-lbl{
 font-family: Lato-L; 
 font-size: 14px;
 color: #fff;
 display: inline-block;
 border-radius: 3px;
 padding: 2px 10px;
 text-transform: capitalize
}

.client-lbl.agent-lbl{
 background-color: #2eb0f3;
}

.client-lbl.active-lbl{
 background-color: #0f80bb;
}

.client-lbl.potential-lbl{
 background-color: #ff8a00;
}
.Prospecting {
    background-color: #f8950a;
}
.Appointment {
    background-color: orange;
}
.Qualifying {
    background-color: #ffd028;
}
.Won {
    background-color:#049909;
}
.Assessed {
     background-color:lightpink;
}

.HadConsultation {
     background-color:lightblue;
}

.AwaitingInfofromclient {
     background-color:tomato;
}

.Contractsent {
     background-color:rosybrown;
}

.Contractreturned {
     background-color:greenyellow;
}

.ClientInvoiced {
    background-color:forestgreen;
}

.ClientPaid {
     background-color:plum;
}
.app-date-row {
display:none;
}

/*============ SAKM 31-1-17 ================*/

.icon-drpdwn .dropdown-menu > li .green-tick{
	margin-left: 5px;
    margin-top: 8px;
    vertical-align: top;
    width: 20px;
    float:right;
}

.icon-drpdwn .dropdown-menu{
	min-width: 220px;
}

.icon-drpdwn .dropdown-menu > li > p.person-name{
	padding-left: 3px;
}
    .icon-drpdwn .dropdown-menu > li
     {
        clear:both;
    }

    .todos_tasks {
    display: block;
    width: 100%;
}

    .todos_tasks .chkbox_p.blue_chkbx {
        display: inline-block;
        width: 45%;
        margin-bottom: 0;
    }

    .todos_tasks a {
        display: inline-block;
    }

        .todos_tasks .fa:hover {
            color: #1da2e8;
        }

        .followers-box{
	margin-top: -36px;
	margin-bottom: 20px;
}

.followers-box h3{
	font-family: Lato-R;
	font-size: 12px;
	color: #0f7eb8;
	margin: 0;
	margin-right: 12px;
	display: inline-block;
}

.followers-box .user-img{
		width: 25px;
	height: 25px;
	border-radius: 25px;
	text-align: left;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid #a5a5a5;
}


.itask-txtarea{
	width: 100%;
	display: block;
	float: none;
	height: 115px;
	box-shadow: none;
	padding-left: 15px;
	padding-top: 15px;
	border: 1px solid #eaeaea;
	outline: 0;
	
	font-family: Lato-R;
	font-size: 12px;
	color: #073551;
}

.todos_tasks.inner-tasks .cmnt-box{
	border: 1px solid #eaeaea;
	width: 100%;
	height: 30px;
}

.todos_tasks.inner-tasks .cmnt-box .cmnt-input{
	border: none;
	width: 85%;
	outline: 0;
	font-family: Lato-R;
	font-size: 14px;
	color: #cecece;
	display: inline-block;
	padding-left: 15px;
	height: 28px;
	vertical-align: top;
}

.todos_tasks.inner-tasks .cmnt-box .cmnt-btn{
	background-color: transparent;
	border: none;
	font-family: Lato-R;
	font-size: 11px;
	color: #0f7eb8;
	text-transform: uppercase;
	outline: 0;
	display: inline-block;
    float:right;
}
.todos_tasks.inner-tasks .cmnt-box .cmnt-btn .fa{
	margin-left: 5px;
	font-size: 8px;
    vertical-align: middle;
}

   ul.enlarge{
    list-style-type:none; /*remove the bullet point*/
    margin-left:0;
	padding: 0;
	display: inline-block;
    }
	
	ul.enlarge p.img-title{
		font-family: Lato-R;
    font-size: 12px;
		color: #000;
		max-width: 150px;
		margin: 0;
		padding: 3px 0;
		text-align: center;
	}
	
    ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    margin: 0 5px;
    }
    ul.enlarge img.thumbnail-img{
    background-color:#eae9d4;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	width: 25px;
	height: 25px;
    }
    ul.enlarge span{
    position:absolute;
    left: -9999px;
    background-color:#eae9d4;
    padding: 5px;
    font-family: 'Droid Sans', sans-serif;
    font-size:.9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 6px rgba(0,0,0, .75);
    box-shadow: 0 0 6px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    }
    ul.enlarge li:hover{
    z-index: 50;
    cursor:pointer;
    }
    ul.enlarge span img{
    padding:2px;
    background:#ccc;
	width: 65px;
	height: 65px;
    }
    ul.enlarge li:hover span{
    top: 40px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -15px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
 
    ul.enlarge img, ul.enlarge span{
    behavior: url(pie/PIE.htc);
    }

        ul.enlarge .del-folwr {
            font-size: 14px;
            position: absolute;
            right: -3px;
            top: -5px;
            z-index: 9999;
            opacity: .5;
            display: none;
             -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

         ul.enlarge li:hover .del-folwr{
             display: block;
             opacity: 1;
}
         .user-cmnts{
	color: #0f7fb9;
    display: block;
    float: none;
    padding: 15px 18px;
    width: 100%;
}	   

.user-cmnts .user-img{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	text-align: left;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #a5a5a5;
}

.user-cmnts h2{
	font-family: Lato-B;
	font-size: 14px;
	color: #073551;
	margin: 0;
	display: inline-block;
	vertical-align: bottom;
}

.user-cmnts p{
	font-family: Lato-R;
	font-size: 14px;
	color: #444444;
	margin-top: 17px;
	margin-bottom: 17px;
	line-height: 22px;
}

.cust-cross {
float:right;
cursor:pointer;
}
.todos_detail .hide_btn {
    font-family: Lato-R;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    cursor: default;
    border: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
    background-color: #46b8da;
    float: right;
    opacity: .8;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-top:5px;
}
.todos_detail .hide_btn:hover {
        background-color: none;
        opacity: 1;
    }

.hide_btn .fa-times {
    font-size: 14px;
    margin-right: 5px;
    color: #ff0000;
    z-index: 9999;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.hide_btn .fa-times:hover {
        color: #000;
        cursor: pointer;
    }

.useful-links-ul {
    display: block !important;
}

    .useful-links-ul a {
        font-family: Lato-R !important;
        font-size: 18px !important;
        margin: 0 !important;
        display: block !important;
        /* color: #185b94 !important; */
        margin-bottom: 7px !important;
        outline: 0;
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

        .useful-links-ul a h5 {
            color: #185b94;
            /* 	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease; */
        }

            .useful-links-ul a h5:before {
                font-family: FontAwesome;
                display: inline-block;
                content: "\f0a4" !important;
                font-size: 18px;
                margin-right: 10px;
                color: #0F7EB8;
            }

            .useful-links-ul a h5:hover {
                color: #4296BB;
            }
.add-new-task {
margin-right:20px;
float:right;
font-size:28px;
color:#0f7eb7;
}
.fa {
cursor:pointer;
}

.undo-icon {
    color: #808080;
    font-size: 16px;
    margin-left: 3px;
    margin-top: 2px;
    vertical-align: middle;
}
.plus-icon {
    color: #808080;
    font-size: 16px;
    margin-left: 3px;
    margin-top: 2px;
    vertical-align: middle;
}
.no-cases {
color: maroon;
    font-size: 17px;
    padding: 20px 25%;
    text-align: center;
}
.new-task-name
{
    margin-left:5px !important;
}
.v-top {
vertical-align:top !important;
}
.field-input.half-width.datepicker {
    margin-right: 5px;
    width: 25%;
}