<template>
  <div>
    <!--SCORECARD TABLE-->
    <table-card tablecard-class="rounded-lg">
      <template v-slot:table-searchbox>
        <search-box inTable @search-data="searchData"></search-box>
      </template>

      <custom-table
        footerTable="total Scorecards"
        emptyText="No Scorecards"
        withTableMenu
        :totalRecords="tableData.length"
        :data="filteredData"
        :columns="cols"
        :optionsRows="rowOptions"
        :optionsHeader="tableOptions"
        @click-menu="handleCommand"
        >
        <template #overAllTier="row">
          <span :class="`text-${row.overallTier.toLowerCase()}`">
            {{ row.overallTier | text}}
          </span>
        </template>
      </custom-table>
    </table-card>

    <!-- SCORECARD EDIT DRAWER -->
    <past-scorecard-edit
      :visible="isScorecardEditVisible"
      :data="selectedScorecard"
      :allowedEditProps="scorecardAllowedEditProps"
      @onClose="hideScorecardEdit"
      @onUpdate="loadData" />

  </div>
</template>

<script>
import TableCard from '@/components/TableCard/TableCard'
import CustomTable from '@/components/TableCard/CustomTable'
import SearchBox from '@/components/TableCard/SearchBox'
import PastScorecardEdit from './PastScorecardEdit'
import { exportCSV } from '@/utilities/exportCSV'

  export default {
    name: 'StaffPastScoreCards',
    props: ['tableData'],
    components: {
      TableCard,
      CustomTable,
      SearchBox,
      PastScorecardEdit
    },
    data() {
      return {
        search: '',

        // Scorecard Data Edit
        selectedScorecard: {},
        scorecardAllowedEditProps: [],
        isScorecardEditVisible: false,

        /** TABLE DATA */
        tableOptions: [
          { label: "Export to CSV", action: "export", divided: false },
        ],
        rowOptions:[
          { label: "View and Edit Scorecard Data", action: "editScoreCard", divided: false },
        ],
        cols: [
          { name: "Year", col: "year", fixed: false, width: 100, sortable: true, sortMethod: this.sortByYearAndWeekNumber },
          { name: "Week", col: "week", fixed: false, width: 100, sortable: true, sortMethod: this.sortByWeek },
          { name: "Overall Tier", col: "overallTier", fixed: false, width: 140, sortable: false, sortMethod: undefined },
          { name: "Delivered", col: "delivered", fixed: false, width: 115, sortable: false, sortMethod: undefined },
          { name: "Key Focus Area", col: "keyFocusArea", fixed: false, width: 160, sortable: false, sortMethod: undefined },
          { name: "FICO", col: "ficoScore", fixed: false, width: 140, sortable: false, sortMethod: undefined },
          { name: "Seatbelt-Off Rate", col: "seatbeltOffRate", fixed: false, width: 180, sortable: false, sortMethod: undefined },
          { name: "Speeding Event Rate", col: "speedingEventRate", fixed: false, width: 210, sortable: false, sortMethod: undefined },
          { name: "Distractions Rate", col: "distractionsRate", fixed: false, width: 190, sortable: false, sortMethod: undefined },
          { name: "Following Distance Rate", col: "followingDistanceRate", fixed: false, width: 250, sortable: false, sortMethod: undefined },
          { name: "Sign/Signal Violations Rate", col: "signSignalViolationsRate", fixed: false, width: 270, sortable: false, sortMethod: undefined },
          { name: "DCR", col: "dcr", fixed: false, width: 90, sortable: false, sortMethod: undefined },
          { name: "DAR", col: "dar", fixed: false, width: 60, sortable: false, sortMethod: undefined },
          { name: "SWC-POD", col: "swcPod", fixed: false, width: 110, sortable: false, sortMethod: undefined },
          { name: "SWC-CC", col: "swcCc", fixed: false, width: 100, sortable: false, sortMethod: undefined },
          { name: "SWC-SC", col: "swcSc", fixed: false, width: 100, sortable: false, sortMethod: undefined },
          { name: "SWC-AD", col: "swcAd", fixed: false, width: 100, sortable: false, sortMethod: undefined },
          { name: "DNR", col: "dnrs", fixed: false, width: 60, sortable: false, sortMethod: undefined },
          { name: "POD Opps.", col: "podOpps", fixed: false, width: 120, sortable: false, sortMethod: undefined },
          { name: "CC Opps.", col: "ccOpps", fixed: false, width: 110, sortable: false, sortMethod: undefined },
        ]
      }
    },

    computed: {
      filteredData() {
        return this.filterArray(this.tableData, this.search);
      }
    },
    
    methods: {
      sortByWeek(a, b) {
        return b.week - a.week;
      },

      sortByYearAndWeekNumber(a, b) {
        return b.year - a.year || b.week - a.week;
      },

      searchData(search) {
        this.search = search;
      },

      loadData() {
        this.$emit('loadData')
      },

      exportDataToCSV() {
        const mappedData = this.filteredData.map(item => 
          this.cols.reduce((acc, col) => {
            const csvColumnName = col.name.toUpperCase();
            const csvCellValue = item[col.col]?.replace(/,/g, '') || "";
            acc[csvColumnName] = csvCellValue;
            return acc;
          }, {})
        );

        const today = this.$moment().format('MM/DD/YYYY');
        const fileName = `associate-past-scorecards-${today}.csv`;
        exportCSV({ arrData: mappedData, fileName });
      },

      handleExportToCSV() {
        if (!this.filteredData || this.filteredData.length === 0) {
          const emptyDataError = new Error('Please make sure the table has data before trying to export to CSV');
          this.displayUserError(emptyDataError);
          return;
        }

        this.exportDataToCSV()
      },

      showScoreCardEdit() {
        this.isScorecardEditVisible = true;
      },

      hideScorecardEdit() {
        this.isScorecardEditVisible = false;
      },

      handleOpenScorecardToEdit(scorecard) {
        this.selectedScorecard = { ...scorecard };
        this.scorecardAllowedEditProps = this.cols.map(col => ({
          name: col.name,
          key: col.col,
          value: scorecard[col.col]
        }));
        this.showScoreCardEdit();
      },

      handleCommand(payload) {
        switch (payload.action) {
          case 'viewReport':
            this.$router.push({name: 'ScorecardPerformanceData'})
            break;
          case 'export':
            this.handleExportToCSV();
            break;
          case 'editScoreCard':
            this.handleOpenScorecardToEdit(payload.row)
            break;
        }
      },     
    }
  }
</script>
