<template>
  <drawer
    v-if="visible"
    title="Edit Scorecard" 
    subtitle="Fill in the form to update this scorecard"
    :visibility="visible" 
    @closeDrawer="!visible">

    <template v-slot:drawerContent>
      <div class="p-5">
        <el-form
          :model="form"
          size="small"
          ref="templateForm">

          <el-form-item
            v-for="prop of allowedEditProps"
            :key="prop.key"
            :label="prop.name"
            :prop="prop.key">

            <el-input
              type="textarea"
              v-model="prop.value"
              :placeholder="`Enter ${prop.name}`"
              :data-cy="parseToDataCY(prop.name)" />
          </el-form-item>

        </el-form> 
      </div>

      </template>

    <template v-slot:drawerfooter-end>
      <el-button @click="emitCloseScoreCardEdit" data-cy="drawer-cancel-btn">Cancel</el-button>
      <el-button v-loading="loading" @click="handleUpdate" type="primary" data-cy="drawer-save-btn">Update</el-button>
    </template>
  </drawer>
</template>

<script>
import { updateStaffScoreCard } from '@/graphql/mutations'
import { getStaffScoreCardUpdatedTimestamp } from '@/utilities/timestampQueries'
import Drawer from '@/components/shared/Drawer/Drawer';

export default {
  components: {
    Drawer
  },
  props: {
    visible: {
      type: Boolean,
      required: true
    },
    data: { // Whole entity data
      type: Object,
      required: true
    },
    allowedEditProps: { // Array like Entity-props to be rendered in form to edit
      type: Array, // [{ name, key, value }]
      required: true
    }
  },
  data() {
    return {
      loading: false,
      form: this.allowedEditProps.reduce((acc, prop) => {
        acc[prop.key] = prop.value;
        return acc;
      }, {})
    }
  },
  methods: {
    startLoading() {
      this.loading = true;
    },

    stopLoading() {
      this.loading = false;
    },

    parseToDataCY(colName) {
      return colName.toLowerCase().split(' ').join('-');
    },
    emitCloseScoreCardEdit() {
      this.$emit('onClose');
    },

    getCleanUpdatedData() {
      const cleanUpdatedData = this.allowedEditProps.reduce((acc, prop) => {
        acc[prop.key] = prop.value?.trim() || null;
        return acc;
      }, {});

      return {
        ...this.data,
        ...cleanUpdatedData
      }
    },

    async sendUpdateRequest(input) {
      await this.api(
          updateStaffScoreCard,
          { input },
          getStaffScoreCardUpdatedTimestamp,
          'getStaffScoreCard'
        )
    },

    displaySuccessMessage() {
      this.$message({
        type: 'success',
        message: 'Scorecard Updated'
      });
    },

    async handleUpdate(){
      this.startLoading();

      try {
        const input = this.getCleanUpdatedData();
        await this.sendUpdateRequest(input);

        this.$emit('onClose');
        this.$emit('onUpdate');

        this.displaySuccessMessage();
      } catch(e) {
        console.log(e)
        this.displayUserError(e);
      } finally {
        this.stopLoading();
      }
    },
  }
}
</script>
