<template>
  <div data-cy="device-list">
    <!--HEADER-->
    <div class="flex justify-between">
      <div class="flex space-x-2 items-center">
        <h1>Devices</h1>
        <el-dropdown v-show="numberSelected" trigger="click" @command="handleSelectedCommand">
          <span class="el-dropdown-link text-brand mt-1">
            {{ numberSelected }} Selected<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="markActive">Mark Active</el-dropdown-item>
            <el-dropdown-item command="markInactive">Mark Inactive</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="flex space-x-2 items-center">
        <el-button size="small" type="primary" plain @click="$router.push({name: 'DevicesImport'});">Import Devices</el-button>        
        <el-button data-cy="dl-add-device-btn" size="small" type="primary" @click="deviceModalOpen = true">Add Device</el-button> 
      </div>
    </div>  

    <!--TABLE CARD COMPONENT-->
    <table-card tablecard-class="rounded-lg">
      <template v-slot:table-filters>
          <div>
            <container-filter inTable>
              <template v-slot:title>
                <div class="text-center">
                    <span class="font-app uppercase font-title">Devices List</span>
                  </div>
              </template>
              <template v-slot:filter-count>
                <counter-filter :counter="getResumeFilters" />
              </template>
              <template v-slot:filters>
                <multi-select-filter
                  type="status"
                  title="Device Status"
                  :options="filterStatus"
                  :selected="filterStatusDefault"
                  @update-filters="updateFilters"
                />               
              </template>
            </container-filter>
          </div>
      </template>
      <template v-slot:table-searchbox>
        <search-box data-cy="dl-search-in" inTable @search-data="searchData"></search-box>
      </template>
      <custom-table
        inTable
        ref="table"
        v-loading="loading"
        :columns="cols"
        :data="filteredTableData"
        emptyText="No Data"
        footerTable="total Devices" 
        :totalRecords="deviceList.length"  
        :optionsRows="optionsContextRow">
        <template #deviceName="row">
          <span @click="handleRowClick(row)" >{{ row.deviceName }}</span>
        </template>
        <template #phoneNumber="row">
          <span   @click="handleRowClick(row)">{{ row.phoneNumber }}</span>
        </template>
        <template #carrier="row">
          <span  @click="handleRowClick(row)" >{{ row.carrier }}</span>
        </template>
        <template #notes="row">
          <span @click="handleRowClick(row)">{{ row.notes }}</span>
        </template>
        <template #status="row">
          <CellToolTip :value="row.status">
              <div slot-scope="{textValue}" class="flex">
                <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs truncate max-w-full flex-initial"
                  :class="setClassStatus(row.status)"
                >{{textValue}}</span>
              </div>
          </CellToolTip>
        </template>
        <template #custom-dropdown="row">
          <template>
            <div class="flex align-middle p-1 flex-row-reverse">
              <el-dropdown @command="handleEdit" class="flex-initial mt-1" data-cy="dl-dropdown-device-btn">
                <i class="context-menu uil uil-ellipsis-h"></i>         
                <el-dropdown-menu  slot="dropdown">
                    <el-dropdown-item :command="{action: 'edit', row: row}"><span>Edit Device</span></el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </template>
        </template>
      </custom-table>
    </table-card>

    <!--NEW DEVICE MODAL-->
    <el-dialog
      title="Add Device"
      :visible.sync="deviceModalOpen"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      >

      <DeviceForm 
        ref="newDeviceForm" 
        v-if="$store.state.valuelists['device-status'] && $store.state.valuelists['device-carrier']"
        :formFields="newDeviceData" 
        :deviceStatusItems="$store.state.valuelists['device-status'].items" 
        :rules="rules"
        :deviceCarrierItems="$store.state.valuelists['device-carrier'].items"/>

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleNewDeviceCancel">Cancel</el-button>
        <el-button type="primary" @click="createDevice">Confirm</el-button>
      </span>
    </el-dialog>


    <!--EDIT DEVICE MODAL-->
    <el-dialog
      title="Edit Device"
      :visible.sync="editDeviceModalOpen"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      >

      <DeviceForm 
        v-if="$store.state.valuelists['device-status'] && $store.state.valuelists['device-carrier']"
        ref="editDeviceForm" 
        :formFields="editDeviceData" 
        :deviceStatusItems="$store.state.valuelists['device-status'].items" 
        :deviceCarrierItems="$store.state.valuelists['device-carrier'].items" 
        :rules="rules"/>

      <span slot="footer" class="dialog-footer">
        <el-tooltip 
          :content="`Devices designated to ${$t('label.an_associate')} assignment or vehicle cannot be deleted.`" 
          class="float-left"
          :disabled="!deleteDisabled">
          <div>         
            <el-button 
              type="danger" 
              class="float-left" 
              @click="confirmDeleteDevice(editDeviceData)"
              :disabled="deleteDisabled">
              Delete
            </el-button>
          </div> 
        </el-tooltip>
        <el-button @click="handleEditDeviceCancel">Cancel</el-button>
        <el-button type="primary" @click="updateDevice">Update</el-button>
      </span>
    </el-dialog>
  
  </div>

</template>

<script>
import { mapState } from 'vuex'
import DeviceForm from './DeviceForm'
import { createDevice, updateDevice, deleteDevice } from '@/graphql/mutations'
import { getDeviceUpdatedTimestamp } from '@/utilities/timestampQueries'

import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import CellToolTip from '@/components/CellToolTip'
import CounterFilter from "@/components/CounterFilters";
import MultiSelectFilter from "@/components/MultiSelectFilter";

  export default {
    name: 'DeviceList',
    components: { 
      DeviceForm,
      TableCard,
      CustomTable,
      ContainerFilter,
      SearchBox,
      CellToolTip,
      CounterFilter,
      MultiSelectFilter
    },
    props: ['devices', 'tenantId'],
    data() {
      return {
        loading: false,
        servicesMessage: [
          'None',
          'Bandwidth',
          'Telnyx'
        ],
        filterStatus:[],
        filterStatusDefault:[],
        optionsContextRow: [],
        cols: [
          { name: "Device Name", col: "deviceName", fixed: false, width: "170", sortable: true,  sortMethod:this.sortDeviceName},
          { name: "Phone #", col: "phoneNumber", fixed: false, width: "140", sortable: true, sortMethod: this.sortPhoneNumber },
          { name: "Carrier", col: "carrier", fixed: false, width: "170", sortable: true, sortMethod: this.sortCarrier},
          { name: "IMEI", col: "imei", fixed: false, width: "170", sortable: true, sortMethod: this.sortImei},
          { name: "Notes", col: "notes", fixed: false, width: "180", sortable: true, sortMethod: this.sortNotes },
          { name: "Status", col: "status", fixed:false, width: "180", sortable: true, sortMethod: this.sortStatus},
        ],
        activeFilters: [],
        deviceModalOpen: false,
        search: '',
        newDeviceData:{},
        editDeviceModalOpen: false,
        editDeviceData:{},
        numberOfDevices: null,
        selected: [],
        rules: {
          deviceName: [
            { required: true, message: 'Please input a device name', trigger: 'blur' }
          ],
          status: [
            { required: true, message: 'Please select a status', trigger: 'blur' }
          ]
        },
      }
    },

    computed: {
      ...mapState(['valuelists']),
    
      ...mapState('subscriptionStore', [
        'deviceList'
      ]),

      deleteDisabled(){
        if(!this.editDeviceData || !this.editDeviceData.route) return false
        return this.editDeviceData.route.items.length > 0
      },

      numberSelected: function(){
        return this.selected.length
      }, 

      getResumeFilters() {
        const countStatus = this.filterStatus.length === this.filterStatusDefault.length ? 0 : 1
        return countStatus;
      },
      filteredTableData(){
        if(!this.deviceList?.length || !this.filterStatusDefault?.length){
          return []
        }
        const tableData = this.deviceList.filter(device => this.filterStatusDefault.includes(device.status))
        const filtered = this.filterArray(tableData, this.search)
        return filtered
      }
    },
    created (){
      this.loadFilters()
    },

    methods: {
      loadFilters(){
          let filterStatusValue =  this.$store.state.valuelists['device-status'].items
          var newFilterStatusValue = filterStatusValue.filter((item) => item.deleted !== true);
          this.filterStatus = newFilterStatusValue.map((device) => device.value);
          this.filterStatusDefault = ['Active']
      },

      /** 
       * Handles Edit button clicks on device row
       **/
      async handleEdit(payload) {
        this.openEditDeviceModal(payload.row)
      },

      /** 
       * Handles Delete button clicks on device row
       **/
      handleDelete(index, row) {   
        this.confirmDeleteDevice(row)
      },

      /** 
       * Handles clicks on device row
       **/
      handleRowClick(row, column, event){
        this.$refs.table.toggleRowExpansion(row)        
      },

      /** 
       * Handles Cancel button clicks on new device modal
       **/
      handleNewDeviceCancel(){
        this.deviceModalOpen = false
        this.newDeviceData = {}
      },

      /** 
       * Handles Cancel button clicks on edit device modal
       **/
      handleEditDeviceCancel(){
        this.editDeviceModalOpen = false
        this.editDeviceData = {}
      },

      /**
       * Handles updating selected array when row checkboxes are clicked
       */
      handleSelectionChange(val) {
        this.selected = val;
      },

      /**
       * Handles clicking options in the selected actions drop down
       * @param {string} command action clicked in selected drop down
       */
      handleSelectedCommand: function(command){
        var _this = this
        var numberSelected = this.numberSelected
        if(command == 'delete'){
          this.$confirm('This will permanently delete the ' + numberSelected +  ' selected devices. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          }).then(() => {
            _this.selected.forEach( row => {
              _this.commitDeleteDevice(row, true)
            })
            this.$message({
              type: 'success',
              message: numberSelected + ' Device(s) Deleted'
            })         
          }).catch(() => {
            console.log("canceled delete")     
            return true
          })
        }

        else if(command == 'markActive'){
          this.$confirm('This will mark ' + numberSelected +  ' device(s) active. Continue?', 'Warning', {
            confirmButtonText: 'Mark Active',
            cancelButtonText: 'Cancel',
            type: 'warning'
          })
          .then(() => {
            _this.selected.forEach( row => {
              row.status = "Active"
              var input = this.cleanDeviceInput(row)
              const result = this.api(updateDevice, {input: input})
            })         
            this.$message({
              type: 'success',
              message: numberSelected + ' Items(s) Marked Active'
            })
          })
          .catch(() => {
            console.log("canceled mark active")
            return true     
          })
        }

        else if(command == 'markInactive'){
          this.$confirm('This will mark ' + numberSelected +  ' device(s) inactive. Continue?', 'Warning', {
            confirmButtonText: 'Mark Inactive',
            cancelButtonText: 'Cancel',
            type: 'warning'
          })
          .then(() => {
            _this.selected.forEach( row => {
              row.status = "Inactive"
              var input = this.cleanDeviceInput(row)
              const result = this.api(updateDevice, {input: input})
            })         
            this.$message({
              type: 'success',
              message: numberSelected + ' Items(s) Marked Inactive'
            })
          })
          .catch(() => {
            console.log("canceled mark inactive")
            return true     
          })
        }
      },
      searchData(e) {
        this.search = e;
      },

      updateFilters(e) {
        const {type, filters } = e;
        const actions = {
            status: () => {
              this.filterStatusDefault = filters
            },
          }
        actions[type]()
      },
      setClassStatus(status) {
      return {
        'bg-red-500 text-red-500' : status.toLowerCase() != 'active',
        'bg-green-500 text-green-600' : status.toLowerCase() =='active'
      }
    },

    searchData(e) {
        this.search = e;
      },

      sortDeviceName(a, b){
        //sortMethod for deviceName column
        return a.deviceName.toLowerCase().localeCompare(b.deviceName.toLowerCase());
      },

      sortPhoneNumber(a, b){
        //sortMethod for phoneNumber column
        return a.phoneNumber.toLowerCase().localeCompare(b.phoneNumber.toLowerCase());
      },
      sortCarrier(a,b){
        //sortMethod for carrier column
        return a.carrier?.toLowerCase().localeCompare(b.carrier?.toLowerCase());
      },
      sortImei(a,b) {
        //sortMethod for imei column
        return a.imei?.toLowerCase().localeCompare(b.imei?.toLowerCase());
      },
      sortNotes(a, b){
        //sortMethod for sortNotes column
        return a.notes?.toLowerCase().localeCompare(b.notes?.toLowerCase());
      },
      sortStatus(a, b){
        //sortMethod for sortStatus column
        return a.status?.toLowerCase().localeCompare(b.status?.toLowerCase());
      },


      /** 
       * Creates device with supplied fields
       **/
      async createDevice(){
        try {

          // validate form
          this.$refs.newDeviceForm.$refs.form.validate((valid) => {
            if (!valid) {
              throw{
                  errors: [
                    { message: "Please fill out all required fields."}
                  ]
              }
            }
          })

          //Create DB record
          const input = {
            ...this.newDeviceData,
            group: this.$store.state.userInfo.tenant.group
          }   
          
          await this.api( createDevice, { input } )

          //Clean up app state
          this.deviceModalOpen = false
          this.newDeviceData = {}
        } catch(e) {
          this.displayUserError(e)     
        }
      },


      /**
       * Opens the edit device modal
       * @param {object} device - Complete device object used for DeviceForm
       */
      openEditDeviceModal(device){
        this.editDeviceData = {...device}
        this.editDeviceModalOpen = true
      },


      /** 
       * Update a device's information 
       * */
      async updateDevice(){
        try {
          var timestampResult = await this.api(getDeviceUpdatedTimestamp, {id: this.editDeviceData.id})
          if(!timestampResult.data.getDevice){
            throw "Device is missing or deleted by another user."
          }

          // validate form
          this.$refs.editDeviceForm.$refs.form.validate((valid) => {
            if (!valid) {
              throw{
                  errors: [
                    { message: "Please fill out all required fields."}
                  ]
              }
            }
          })
          
          var input = {
            ...this.editDeviceData
          }
          input = this.cleanDeviceInput(input)
          await this.api(updateDevice, {input: input})
          this.editDeviceModalOpen = false
          this.$message({
            type: 'success',
            message: 'Device Updated'
          });
        } catch(e) {
          this.displayUserError(e)        
        }
      },


      /** 
       * Prompts user if device should really be deleted
       * */
      async confirmDeleteDevice(row){
        this.$confirm('This will permanently delete the device. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteDevice(row)          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },


      /** 
       * Delete device from DB 
       * @param {Object} row Table row to delete
       * @param {Bool} silent Show dialogue or not
       * */
      async commitDeleteDevice(row, silent){
        try{
          //Check timestamp
          var timestampResult = await this.api(getDeviceUpdatedTimestamp, {id: this.editDeviceData.id})
          if(!timestampResult.data.getDevice){
            throw "Device is missing or deleted by another user."
          }
          await this.api(deleteDevice, {input:{ id: row.id }} )
          this.editDeviceData = {}
          this.editDeviceModalOpen = false
          if(!silent){
            this.$message({
              type: 'success',
              message: 'Device Deleted'
            });
          }
        }catch(e){
          this.displayUserError(e)
        }
      },
    }
  }
</script>