<template>
    <el-form label-width="70px" :model="formFields" :rules="rules" ref="form">
        <el-form-item label="Name" prop="deviceName">
            <el-input data-cy="df-device-name-in" v-model="formFields.deviceName"></el-input>
        </el-form-item>
        <el-form-item label="Status" prop="status">
            <el-select data-cy="cf-status-sel" v-model="formFields.status" placeholder="">
                <el-option
                    v-for="item in valueListActivesOnly(deviceStatusItems)"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Phone #" prop="phoneNumber">
            <el-input data-cy="cf-phone-number-in" v-model="formFields.phoneNumber" v-mask="'(###) ###-####'" ></el-input>
        </el-form-item>
        <el-form-item label="Carrier" prop="carrier">
            <el-select data-cy="cf-carrier-sel" v-model="formFields.carrier" placeholder="" clearable>
                <el-option
                    v-for="item in valueListActivesOnly(deviceCarrierItems)"
                    :key="item.value"
                    :label="item.value"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="IMEI" prop="imei">
            <el-input
                type="text"
                v-model="formFields.imei"
                />
        </el-form-item>
        <el-form-item label="Notes" prop="notes">
           <el-input
            data-cy="df-notes-in" 
            type="textarea"
            :autosize="{ minRows: 2 }" 
            v-model="formFields.notes"/>
        </el-form-item>
    </el-form>
</template>

<script>


export default {
    name: 'DeviceForm',
    props:['formFields', 'deviceStatusItems', 'deviceCarrierItems', 'rules'],
    data: function(){
        return{

        }
    }
}
</script>
<style scoped>
    .el-select{
        width: 100%;
    }
</style>