<template>
  <div v-loading="filtersLoading">
    <LineGraphCard
      title="Associate Issue Trends"
      tooltipPrefix="Associate Issues"
      :xAxisValues="chartXAxisLabels"
      :yAxisValues="chartYAxisValues"
    >
      <template #filter-count>
        <CounterFilters :counter="filtersCount" />
      </template>
      <template #filters>
        <MultiSelectFilter
          type="associateStatus"
          title="Associate Status"
          filterAllTitle="Associate Statuses"
          :options="filtersAssociateStatusOptions"
          :selected="filtersAssociateStatusSelected"
          @update-filters="({filters}) => $_setAssociateStatusSelected(filters)"
        />
        <SingleSelectFilter
          title="Associate Issue Type"
          :options="filtersInfractionTypeOptions"
          :currentFilter="filtersInfractionTypeSelected"
          @update-options="({currentFilter}) => $_setInfractionTypeSelected(currentFilter)"
        />
        <SingleSelectFilter
          title="Timeframe"
          :options="filtersTimeFrameOptions"
          :currentFilter="filtersTimeFrameSelected"
          @update-options="({currentFilter}) => $_setTimeFrameSelected(currentFilter)"
        />
      </template>
    </LineGraphCard>
  </div>
</template>

<script>
import momentTz from 'moment-timezone';
import LineGraphCard from '@/components/LineGraphCard/LineGraphCard.vue';
import CounterFilters from '@/components/CounterFilters.vue';
import MultiSelectFilter from '@/components/MultiSelectFilter.vue';
import SingleSelectFilter from '@/components/SingleSelectFilter.vue';
import filtersMixin from './mixins/filtersMixin';
import charMixin from './mixins/chartMixin';
import { isInRange, calculateRange } from '@/utilities/dateRangeCalculator';
import { valueMapping } from "@/utilities/constants/oldIssueOrKudoValues";
import { CHART_MIN_LABELS_COUNT } from './utils/constants';

export default {
  name: 'DaIssuesTrendGraphsCard',

  props: {
    infractionsList: {
      type: Array,
      required: true,
    }
  },

  mixins: [
    filtersMixin,
    charMixin,
  ],

  components: {
    LineGraphCard,
    CounterFilters,
    MultiSelectFilter,
    SingleSelectFilter,
  },

  watch: {
    filteredData(curr) {
      this.$emit('filtered-data', curr);
    },
  },

  computed: {
    filteredData() {
      let filteredData = this.infractionsList;
      // Infraction Type filter is always active
      filteredData = this.filterByInfractionType(filteredData, this.filtersInfractionTypeSelected);
      filteredData = (this.filtersAssociateStatusOptions.length === this.filtersAssociateStatusSelected.length)
        ? filteredData
        : this.filterByAssociateStatus(filteredData, this.filtersAssociateStatusSelected);
      filteredData = (this.filtersTimeFrameSelected === 'all dates')
        ? filteredData
        : this.filterByTimeFrame(filteredData, this.filtersTimeFrameSelected);
      return filteredData;
    },

    chartLabelsConfigObject() {
      const timeFrameOption = this.filtersTimeFrameOptions.find(item => item.value === this.filtersTimeFrameSelected);
      const [start, end] = (this.filtersTimeFrameSelected === 'all dates')
        ? this.calculateDateRangeFromTableData(this.filteredData)
        : calculateRange(this.filtersTimeFrameSelected);
      return this.$_getChartLabelsConfigObject(start, end, timeFrameOption.display);
    },

    chartXAxisLabels() {
      return this.chartLabelsConfigObject.labels;
    },

    chartYAxisValues() {
      const mappedCountBasedOnLabel = this.chartXAxisLabels.reduce((acc, label) =>
        (acc[label] = 0, acc),
        {}
      );
      const labelsFormat = this.chartLabelsConfigObject.format;
      for (const infraction of this.filteredData) {
        const parsedDate = momentTz.utc(infraction.date).tz(this.getTenantTimeZone());
        const key = parsedDate.format(labelsFormat);
        mappedCountBasedOnLabel[key] += 1;
      }
      return this.chartXAxisLabels.map(label => mappedCountBasedOnLabel[label] || undefined);
    },
  },

  methods: {
    filterByAssociateStatus(data, filters) {
      return data.filter(item => filters.includes(item.staff?.status));
    },

    filterByInfractionType(data, selected) {
      if (!selected) return data;
      const mappedValue = valueMapping[selected] || selected;
      return data.filter(item => [
        item.infractionType,
        item.type?.option,
      ].includes(mappedValue));
    },

    filterByTimeFrame(data, selected) {
      if (!selected) return data;
      const [start, end] = calculateRange(selected);
      return data.filter(item => isInRange(start, end, item.date));
    },

    calculateDateRangeFromTableData(infractionList) {
      const initDate = infractionList[0]?.date || (new Date()).toISOString();
      let [minDate, maxDate] = [initDate, initDate];
      for (const infraction of infractionList) {
        if (infraction.date?.localeCompare(minDate) < 0) {
          minDate = infraction.date;
        }
        if (infraction.date?.localeCompare(maxDate) > 0) {
          maxDate = infraction.date;
        }
      }
      const diffInDays = this.$moment(maxDate).diff(this.$moment(minDate), 'days');
      if (diffInDays < CHART_MIN_LABELS_COUNT) {
        minDate = this.$moment(maxDate).subtract(1, 'years').toDate().toISOString();
      }
      return [new Date(minDate), new Date(maxDate)];
    },
  },
};
</script>
