<template>
    <div data-cy="vehicle_damage_form">
        <el-form label-width="183px" label-position="top" :model="formFields" ref="form" :rules="rules" v-loading="loading">
            <div class="block grid lg:grid-cols-2 gap-4 gap-y-0">
                <div>
                    <el-form-item label="Vehicle" prop="vehicleId">
                        <div v-loading="loadingVehicleList">
                            <el-select
                                data-cy="vehicle_sel"
                                class="custom-select-keyboardless"
                                v-model="formFields.vehicleId"
                                :loading="loadingVehicleList"
                                :disabled="disableVehicleSelection"
                            >
                                <el-option
                                    v-for="item in singleVehicleArray"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </el-form-item>

                    <el-form-item label="Damage" prop="damage">
                        <el-input data-cy="damage_in" v-model="formFields.damage" />
                    </el-form-item>

                    <el-form-item label="Date" prop="vehicleDamageDate">
                        <DatePicker data-cy="damage_date_dpk" class="custom-date-picker" :selectedDate="formFields.vehicleDamageDate" placeholder="" @date-selected="handleDateSelected($event, 'vehicleDamageDate')" />
                    </el-form-item>
                </div>

                <div>
                    <el-form-item :label="$t('label.associate')" prop="staff">
                        <div v-loading="loadingStaffList">
                            <el-select
                                data-cy="staff_sel"
                                v-model="formFields.staff.id"
                                :loading="loadingStaffList"
                                @change="updateStaffObject"
                                filterable
                                clearable
                            >
                                <el-option
                                    v-for="item in daList"
                                    :key="item.id"
                                    :label="item.firstName + ' ' + item.lastName"
                                    :value="item.id"
                                >
                                    <span style="float: left">{{ item.firstName + ' ' + item.lastName }} ({{ item.status }})</span>
                                </el-option>
                            </el-select>
                        </div>
                    </el-form-item>

                    <el-form-item label="Severity" prop="damageSeverity">
                        <el-select data-cy="severity_sel" class="custom-select-keyboardless" v-model="formFields.damageSeverity" placeholder="Select Severity">
                            <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['damage-severity'].items)"
                            :key="item.id"
                            :label="item.value"
                            :value="item.value"/>
                        </el-select>
                    </el-form-item>

                    <div v-if="canCreateAdditionalData">
                        <div class="flex-1 pt-6 mb-4">
                            <el-checkbox data-cy="da_issue_chk" v-model="formFields.createDaIssue" @change="handleCreateDaIssueChange()">Create {{$t('label.associate')}} Issue for {{ formFields.staff.firstName }} {{ formFields.staff.lastName }}</el-checkbox>
                        </div>
                        <div class="flex-1 mb-4">
                            <el-checkbox data-cy="counseling_chk" v-model="formFields.createCounseling" :disabled="formFields.createDaIssue == false || !formFields.createDaIssue">Also create Counseling for {{ formFields.staff.firstName }} {{ formFields.staff.lastName }}</el-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <el-form-item label="Notes" prop="notes">
                <el-input
                    data-cy="notes_in"
                    type="textarea"
                    :autosize="{ minRows: 3 }" 
                    v-model="formFields.notes"
                />
            </el-form-item>

            <el-form-item label="Images" prop="images">
                <div class="container grid grid-cols-12 grid-flow-row gap-2 lg:gap-4" v-if="!loading">
                    <div
                        v-for="(image, index) in createdImages"
                        :key="image.id"
                        class="col-span-12 sm:col-span-6 xl:col-span-4 2xl:col-span-3 relative"
                    >
                        <img :src="image.url" class="h-36 w-full object-cover cursor-pointer rounded-lg mb-4">
                        <div class="flex">
                            <el-tag 
                            type="info"
                            effect="plain"
                            class="flex-auto mb-2 ellipsis">
                            {{image.name}}
                            </el-tag>
                            <i
                            @click="downloadFile(createdImages[index].key)"
                            class="icon-button uil uil-import hover:text-blue-500"/>
                            <i 
                            @click="handleImageDelete(index)"
                            class="icon-button uil-trash-alt  hover:text-red-500"/>
                        </div>
                        <div v-if="image.markedForDeletion" class="pending-deletion-container">
                            <i class="icon-button uil uil-times-circle text-white flex justify-end" @click="handleImageDeleteUndo(index)"></i>
                            <div class="h-full relative">
                                <div class="flex flex-col flex-justify align-center mt-2">
                                    <p class="text-white text-xl leading-normal font-bold text-center">Pending Deletion</p>
                                    <p class="text-white text-xs leading-normal text-center">Will be deleted when clicking "Update"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 grid grid-cols-12 grid-flow-row gap-4">
                    <div
                        v-for="(image, index) in images"
                        :key="image.id"
                        class="mb-2 col-span-12 sm:col-span-6 xl:col-span-4 2xl:col-span-3 relative p-2"
                    >
                        <img :id="'img'+index" :src="image.src" class="h-36 object-cover rounded-lg mb-4">
                        <div class="flex">
                            <el-tag 
                            type="info"
                            effect="plain"
                            class="flex-auto mb-2 ellipsis">
                            {{image.fileName}}
                            </el-tag>
                            <i 
                            @click="confirmImageRemove(index)"
                            class="icon-button uil-trash-alt ml-4 hover:text-red-500"/>
                        </div>
                    </div>
                </div>
                <label class="fileContainer w-full h-32 bg-opacity-50 text-center mt-4">
                    <div class="uil-image text-5xl"></div>
                    <div>Tap to open camera, drop an image, or click to upload</div>
                    <input
                    data-cy="images_up"
                    id="FileUploadImage" 
                    type="file" 
                    @change="(e) => {insertImagesForUpload(e, '/images/')}" 
                    class="align-middle">
                </label>
            </el-form-item>
            <template v-if="isCreateMode">
                <div class="el-content-title__drawer pt-4">
                Add Future Maintenance Reminders
                </div>
                <div v-for="(reminder, index) in reminders" :key="index" class="w-full " :class="{'border-dotted border-b-2':index < reminders.length - 1}">
                    <ReminderForm
                        ref="reminder" 
                        :formFields="reminder"
                        :showDelete="true"
                        :showAddService=false
                        @delete-reminder="removeReminder(index)"/>
                </div>
                <div class="mt-4">
                    <el-button data-cy="add-maintenace-reminder-btn" @click="addReminder" type="primary" plain>Add Maintenance Reminder</el-button>
                </div>
            </template>
        </el-form>
    </div> 
</template>
<script>
    import Validator from '@/utilities/FormValidator'
    import { Storage } from 'aws-amplify'
    import DatePicker from '@/components/Datepicker';
    import ReminderForm from '../Reminders/ReminderForm'

    export default {
        name: 'VehicleDamageForm',
        components: {
            DatePicker,
            ReminderForm
        },
        props: [
            'formFields',
            'singleVehicleArray',
            'daList',
            'images',
            'createdImages',
            'deletedImages',
            'disableVehicleSelection',
            'loadingStaffList',
            'loadingVehicleList',
            'reminders',
        ],

        data() {
            return {
                loading: false,
                rules: {
                    vehicleDamageDate: [
                        { required: true, message: 'Please enter a date', trigger: 'blur' }
                    ],
                    damageSeverity: [
                        { required: true, message: 'Please select a severity', trigger: 'change' }
                    ],
                    damage: [
                        { required: true, message: 'Please enter damage received', trigger: 'blur' }
                    ],
                    vehicleId: [
                        { required: true, message: 'Please select a vehicle', trigger: 'change' },  
                    ],
                    services: [
                        { required: true, validator: Validator.maintenanceServices, trigger: 'blur' }
                    ],
                }
            }
        },

        computed: {
            canCreateAdditionalData() {
                const isOnCreateMode = !this.formFields.id;
                const hasStaffSelected = !!this.formFields.staff?.id;

                return isOnCreateMode && hasStaffSelected;
            },
            isCreateMode(){
                return !this.formFields.id;
            },

        },

        watch:{
            daList: 'updateStaffObject',
            loadingStaffList: 'updateStaffObject',
            //This loads the url of the images each time the createImages array changes, was the only way I could get them to load more than once.
            createdImages(){
                this.loadData()
            }
        },

        mounted(){
            if (this.isMobileDevice()){
             this.disableMobileKeyboard();
            } 
            this.loadData()
        },

        methods: {
            handleDateSelected(date, model) {
                this.formFields[model] = date
            },
            /**
             * Confirm the user wants to remove the image
             */
            confirmImageRemove(index){
                this.$confirm('Would you like to delete this image?', 'Warning', {
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.handleImageRemove(index)          
                }).catch(() => {
                    console.log("canceled delete")         
                });
            },

            /**
             * Confirm the user wants to delete the image
             */
            confirmImageDelete(index){
                this.$confirm('Would you like to delete this image?', 'Warning', {
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.handleImageDelete(index)          
                }).catch(() => {
                    console.log("canceled delete")         
                });
            },

            /**
             * Handles changes to the createDaIssue flag
             */
            handleCreateDaIssueChange(){
                if(this.formFields.createDaIssue == false){
                    this.formFields.createCounseling = false
                }
            },

            /**
             * Removes image from added images array
             */
            handleImageDelete(index){
                this.createdImages[index].markedForDeletion = true
                var image = {...this.createdImages[index]}
                this.deletedImages.push(image)
            },

            /**
             * Removes image from added images array
             */
            handleImageRemove(index){
                this.images.splice(index, 1);
            },

            insertImagesForUpload: function(e, path){
                try{
                    var files = e.target.files || e.dataTransfer.files;
                    var file = files[0]
                    var fileType = file.type

                    // Only accept images if uploading an image
                    if((!fileType.includes("image"))) {
                        throw {
                            errors: [
                                { message: "Selected file is not an image" }
                            ]
                        }
                    }    

                    var uuid = this.generateUUID();
                    var fileObject = {
                        id: uuid,
                        fileName: file.name, 
                        fileType: file.type,
                        path: path,
                        file: file,
                        src: ''
                    }


                    var reader  = new FileReader();

                    reader.onloadend = function (){
                        fileObject.src = reader.result
                    }

                    if(file){
                        reader.readAsDataURL(file);
                    }
                    else{
                        fileObject.src = ""
                    }
                    
                    this.images.push(fileObject)
                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
                finally{
                    document.getElementById("FileUploadImage").value = "";
                }
            },

            loadData() {
                this.loading = true
                this.setImagesURL();
                this.updateStaffObject();
                this.loading = false
            },

            /**
             * Creates array of image URLs from s3
             */
            setImagesURL() {
                this.createdImages.forEach(async (image) => {
                    try {
                        image.url = await Storage.get(image.key);
                    } catch {
                        image.url = '';
                    }
                });
            },

            /**
             * Removes image from deleted images array
             */
            handleImageDeleteUndo(index){
                this.createdImages[index].markedForDeletion = false
                var image = {...this.createdImages[index]}
                var deletedIndex = this.deletedImages.findIndex(deletedImage => {
                    return deletedImage.id == image.id
                })
                this.deletedImages.splice(deletedIndex, 1);
            },

            updateStaffObject() {
                if(!this.formFields.staff?.id) return;
                const staffObj = this.daList.find(da => (da.id == this.formFields.staff.id));
                if (!staffObj) return;

                this.formFields.staff.firstName = staffObj.firstName;
                this.formFields.staff.lastName = staffObj.lastName;
            },

            addReminder(){
                this.reminders.push({
                    vehicleId: this.formFields.vehicleId,
                    services: [],
                    dueByMileage: null,
                    dueByDate: null
                })
            },

            removeReminder(index){
                this.reminders.splice(index, 1)
            },

        }
    }
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }

    .fileContainer{
        @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }

    img{
        transition: .5s ease;
        display: inline;
    }
    textarea {
        padding-top: 10px;
    }
</style>