<template>
  <div v-if="formData" class="px-4" >
      <div class="flex justify-between w-full items-center">
          <div class="flex items-center mt-2 space-x-4">
              <img :src="companyLogo" class="h-20">
              <span class="text-gray-600 text-base font-bold"> {{ tenantName }} Vehicle Damage Form</span>
          </div>
      </div>

      <div class="block w-full pl-2" v-if="!loading">
          <el-form label-position="top" size="small" v-if="!loading" v-loading="loading">
              <div class="flex lg:space-x-4 mx-2">

                <div class="flex-1">
                    <el-form-item label="Vehicle" prop="v" class="non-edit-field-text-black">
                        {{ formData.vehicle.name | text }}
                    </el-form-item>
                </div>

                    <div class="flex-1">
                      <el-form-item :label="$t('label.associate')" prop="name" class="non-edit-field-text-black">
                        {{ daFullName }}
                      </el-form-item>
                  </div>
              </div>

              <div class="border-b-1 border-gray-600"/>

              <div class="flex lg:space-x-4 mx-2">
                  <div class="flex-1">
                      <el-form-item label="Damage" prop="damage" class="non-edit-field-text-xs-text-black">
                          {{ formData.damage | text }}
                      </el-form-item>
                  </div>
                  <div class="flex-1">
                      <el-form-item label="Severity" prop="severity" class="non-edit-field-text-xs-text-black">
                          {{ formData.damageSeverity | text }}
                      </el-form-item>
                  </div>
              </div> 
              <div class="flex lg:space-x-4 mx-2">
                  <div class="flex-1">
                      <el-form-item label="Date" prop="date" class="non-edit-field-text-xs-text-black">
                          {{ formData.vehicleDamageDate | date }}
                      </el-form-item>
                  </div>
              </div>
              <div class="flex lg:space-x-4 mx-2">
                  <div class="flex-1">
                      <el-form-item label="Notes" prop="notes" class="non-edit-field-text-xs-text-black">
                          {{ formData.notes | text }}
                      </el-form-item>
                  </div>
              </div>
          </el-form>
      </div>
  </div>
</template>

<script>
import { getAccident } from '@/graphql/queries'
import { mapState } from 'vuex'
  export default {
    name:'PrintVehicleDamage',
    props: ['accidentID'],
    data() {
      return {
        loading: true,
        formData: {}
      }
    },
    async mounted() {
      await this.windowPrint()
    },
    methods: {
      async windowPrint() {
        try {
          await this.getVehicleData()
          await this.sleep(1500);
          window.print();
        } catch (e) {
          console.log(e);
          this.displayUserError(e)
        }
      },
      async getVehicleData() {
        if(this.accidentID){
          try {
            this.loading = true
            let accident = await this.api(getAccident , { id: this.accidentID })
            this.formData = accident.data.getAccident
            console.log(this.formData);
          } catch (e) {
            console.log(e);
            this.displayUserError(e)
          } finally {
            this.loading = false
          }
        }
      },
      sleep(ms) {
          return new Promise((resolve) => {
              setTimeout(resolve, ms);
          });
      }
    },
    computed: {
        ...mapState([
            'companyLogo',
            'userInfo'
        ]),
        tenantName(){
            return this.userInfo.tenant.companyName
        },
        tenantLogo(){
            return this.companyLogo
        },
        daFullName() {
          return this.formData.staff ? `${this.formData.staff.firstName} ${this.formData.staff.lastName}` : '- -'
        }
    }
  }
</script>

<style scoped>

</style>