<template>
  <div>
    <Drawer
      v-if="isOpen"
      v-loading="loading"
      :title="formTitle"
      :visibility="isOpen"
    >
      <template #drawerIcons>
        <span v-if="formFields.id && formFields.vehicleId">
          <i class="icon-button uil uil-print md:text-2xl" @click="$event => $emit('print', $event)"/>
          <i class="icon-button uil uil-trash-alt md:text-2xl" v-if="hasVehicleManagement"
          @click="$event => $emit('open-delete-dialog', $event)"/>
        </span>
      </template>

      <template v-slot:drawerContent>
        <div class="p-5">
          <VehicleDamageForm
            ref="vehicleDamageForm"
            :loadingStaffList="loadingStaffList"
            :loadingVehicleList="loadingVehicleList"
            :formFields="formFields"
            :reminders="maintenanceReminders"
            :daList="staffList"
            :singleVehicleArray="vehicleList"
            :images="imagesToCreate"
            :createdImages="damageImages"
            :deletedImages="imagesToDelete"
            :disableVehicleSelection="disableVehicleSelection" />
        </div>
      </template>

      <template v-slot:drawerfooter>
        <ButtonGroupWrapper class="custom-drawer__footer p-4 flex justify-end">
         <template slot-scope="{disabled, setDisabled}">
          <el-button
            :disabled="disabled"
            @click="$event => $emit('cancel-save', $event)"
          >
            Cancel
          </el-button>
          <ButtonWrapper
            v-if="hasVehicleManagement"
            type="primary"
            :clickHandler="handleSave"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            {{ formAction }}
          </ButtonWrapper>
          <PremiumWarningButton v-else :buttonText="formAction" action="create or edit" premiumFeature="vehicle" placement="top"/>
         </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

    <!-- DELETION DIALOG -->
    <el-dialog
      v-if="deleteModalOpen"
      v-loading="loading"
      width="30%"
      title="Are you sure?"
      :visible="deleteModalOpen"
      @close="() => $emit('cancel-delete')"
    >
      <CommonDeleteDialog
        deletionMessage="This will permanently delete this Vehicle Damage and its attachments."
        @close-modal="() => $emit('cancel-delete')"
        @delete-action="() => $emit('delete')" />
    </el-dialog>
  </div>
</template>

<script>
import Drawer from '@/components/shared/Drawer/Drawer';
import VehicleDamageForm from './VehicleDamageForm';
import CommonDeleteDialog from '@/components/CommonDeleteDialog';
import { mapGetters } from 'vuex'
import PremiumWarningButton from '@/components/PremiumWarningButton'
import { createVehicleMaintenanceReminder } from "@/graphql/mutations";
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  name: 'VehicleDamage',

  props: {
    isOpen: Boolean,
    loading: Boolean,
    formTitle: String,
    formAction: String,
    formFields: Object,
    prefixCounselingCreatedFrom: String,
    counselingData: Object,
    
    /** DAMAGE FORM STATE */
    deleteModalOpen: Boolean,
    loadingStaffList: Boolean,
    loadingVehicleList: Boolean,
    staffList: Array,
    vehicleList: Array,
    damageImages: Array,
    imagesToCreate: Array,
    imagesToDelete: Array,
    disableVehicleSelection: Boolean,
  },

  components: {
    Drawer,
    VehicleDamageForm,
    CommonDeleteDialog,
    PremiumWarningButton,
    ButtonWrapper,
    ButtonGroupWrapper,
  },

  data() {
    return {
        maintenanceReminders: [],
    }
  },

  computed:{
    ...mapGetters([
      'hasVehicleManagement'   
    ]),
  },

  watch: {
    isOpen(newValue, oldValue) {
      this.maintenanceReminders = [];
    }
  },

  methods: {
    async handleSave($event) {
      try { // validate form
        await this.$refs.vehicleDamageForm.$refs.form.validate();
        if (this.maintenanceReminders.length > 0) {
          this.registerReminders();
        }
        this.$emit('save-data', $event);
      } catch (error) {
        console.log(error);

        const msg = "Please fill out all required fields and correct any errors.";
        this.displayUserError(msg);
      }
    },
    async registerReminders() {
      const reminders = [...this.maintenanceReminders];
      const { vehicleId } = this.formFields;
      for (const [index, maintenanceReminder] of reminders.entries()) {
        //Validate reminder
        await this.$refs.vehicleDamageForm.$refs.reminder[
          index
        ].$refs.form.validate();

        //Create input object
        const input = {
          ...maintenanceReminder,
          vehicleId,
          vehicleMaintenanceReminderVehicleId: vehicleId,
        };

        //Save dueBySort to object
        if (input.dueByMileage) {
          input.dueByMileage = this.cleanMileage(input.dueByMileage);
          input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage));
        }
        if (!input.dueByMileage) {
          input.dueBySort = new Date(input.dueByDate).getTime() / 1000000;
        }

        input.status = "Pending";

        //Create Reminder
        const reminder = await this.api(createVehicleMaintenanceReminder, {
          input,
        });
      }
    },
  },
}
</script>
<style scoped>
.icon-button {
  color: rgb(255, 255,255) !important;
}
.icon-button:hover {
  color: rgb(200, 200,200) !important;
}
@media (min-width: 1400px) {
  /deep/ .el-drawer {
    min-width: 700px !important;
  }
}
</style>
