<template>
    <el-form label-width="125px" label-position="top" >
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Year">
                <el-input v-model="formFields.year"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Week">
                <el-input v-model="formFields.week"></el-input>
            </el-form-item>        
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Name">
                <el-input v-model="formFields.name"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Transporter ID">
                <el-input v-model="formFields.transporterId"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="% Positive Feedback">
                <el-input v-model="formFields.positiveFeedback"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="% Negative Feedback">
                <el-input v-model="formFields.negativeFeedback"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Delivery Was Great">
                <el-input v-model="formFields.deliveryWasGreat"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Delivery Was Not So Great">
                <el-input v-model="formFields.deliveryWasntGreat"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Total Deliveries with Customer Feedback">
                <el-input v-model="formFields.totalDeliveries"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Respectful of Property">
                <el-input v-model="formFields.respectfulOfProperty"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Followed Instructions">
                <el-input v-model="formFields.followedInstructions"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Friendly">
                <el-input v-model="formFields.friendly"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Above and Beyond">
                <el-input v-model="formFields.aboveAndBeyond"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Delivered with Care">
                <el-input v-model="formFields.deliveredWithCare"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Care for Others">
                <el-input v-model="formFields.careForOthers"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" :label="`${$t('label.associate')} Mishandled Package`">
                <el-input v-model="formFields.mishandledPackage"></el-input>
            </el-form-item>
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" label="Driving Unsafely">
                <el-input v-model="formFields.drivingUnsafely"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" :label="`${$t('label.associate')} was Unprofessional`">
                <el-input v-model="formFields.driverUnprofessional"></el-input>
            </el-form-item>         
        </div>
        <div class="flex space-x-4">
            <el-form-item class="flex-1" :label="`${$t('label.associate')} did not Follow my Delivery Instructions`">
                <el-input v-model="formFields.notDeliveredToPreferredLocation"></el-input>
            </el-form-item>      
        </div>
        



    </el-form>
</template>

<script>
export default {
    props:['formFields'],    
}
</script>