<template>
    <div data-cy="maintenance_reminders">
        <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
            <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-7">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                    <el-breadcrumb-item v-if="$route.name == 'UpcomingMaintenanceReminders'" :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
                    <el-breadcrumb-item v-else :to="{ name: 'VehicleIndex' }"><i class="uil uil-truck"></i> Vehicle Management</el-breadcrumb-item>
                    <el-breadcrumb-item v-if="$route.name == 'UpcomingMaintenanceReminders'">Upcoming Maintenance Reminders</el-breadcrumb-item>
                    <el-breadcrumb-item v-else>Maintenance Reminders</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </div>

    <table-card tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <container-filter inTable>
          <template v-slot:title>
            <span>MAINTENANCE REMINDERS</span>
          </template>

          <template v-slot:filters>
            <multi-select-filter
              type="vehicleStatus"
              title="Vehicle Status"
              :options="vehicleStatusFilterOptions"
              :selected="vehicleStatusFilterSelectedOptions"
              @update-filters="updateFilters"
            />

            <multi-select-filter
              type="reminderStatus"
              title="Reminder Status"
              :options="reminderStatusFilterOptions"
              :selected="reminderStatusFilterSelectedOptions"
              @update-filters="updateFilters"
            />

            <multi-select-filter
              type="dueBy"
              title="Due By"
              :options="dueByFilterOptions"
              :selected="dueByFilterSelectedOptions"
              @update-filters="updateFilters"
            />
          </template>
        </container-filter>
      </template>

      <template v-slot:table-searchbox>
        <search-box inTable @search-data="searchData"/>
      </template>

      <custom-table
        inTable
        withTableMenu
        ref="table"
        v-loading="loading"
        :columns="cols"
        :data="tableData"
        emptyText="No Maintenance Reminders"
        footerTable="Total Maintenance Reminders"
        :optionsHeader="tableContextOptions"
        :optionsRows="[]"
        :totalRecords="originalData.length"
        @sort-change="sortChange"
        @click-menu="handleCommand"
        >

        <template #vehicleName="row">
          {{ row.vehicle.name || "—" }}
        </template>

        <template #vehicleVin="row">
          {{ row.vehicle.vin || "—" }}
        </template>

        <template #dueByMileage="row">
          {{ row.dueByMileage | mileage }}
          {{ (row.dueByMileage && ' mi.') || '' }}
        </template>

        <template #vehicleMileage="row">
          <p v-if="row.vehicle">
            {{ row.vehicle.mileage | mileage }}
            {{ (row.vehicle.mileage && ' mi.') || '' }}
          </p>
          <p v-else>—</p>
        </template>

        <template #reminderDueIn="row">
          <i v-if="(row.status == 'Complete' && row.dueByMileage)"
            class="uil uil-check text-xl -ml-2 text-green-500">
          </i>
          <p v-else-if="row.vehicle" :class="reminderDueInClass(row)">
              {{ getMileageDifference(row) | mileage }}
              {{ ((getMileageDifference(row) || getMileageDifference(row) == 0) && ' mi.') || '' }}
          </p>
          <p v-else>—</p>
        </template>

        <template #dueByDate="row">
          <i v-if="(row.status == 'Complete' && row.dueByDate)"
            class="uil uil-check text-xl -ml-2 text-green-500">
          </i>
          <p v-else :class="dueByDateClass(row)">
            {{ row.dueByDate | date_timezone }}
          </p>
        </template>

        <template #services="row">
          {{ row.services | commaSeparated }}
        </template>

        <template #status="row">
          {{ row.status | text }}
        </template>

        <template #vehicleStatus="row">
          {{ row.vehicle.status | text }}
        </template>

        <template #custom-dropdown="row">
          <el-dropdown
            data-cy="three_dot_button_row"
            trigger="hover"
            @command="handleCommand">
            <span class="context-menu"><i class="uil uil-ellipsis-h"></i></span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item data-cy="view-counceling" :command="{action: 'edit', row: row}">View & Edit Reminder</el-dropdown-item>
              <el-dropdown-item v-if="row.vehicle" :command="{action: 'view', row: row}">View Vehicle</el-dropdown-item>
              <el-dropdown-item v-if="row.status === 'Pending'" :command="{action: 'mark', row: row}">Mark As Complete</el-dropdown-item>
              <el-dropdown-item :command="{action: 'delete', row: row}">Delete</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </custom-table>
    </table-card>

    <!-- ADD REMINDER FORM-->
    <Drawer
      v-if="reminderDrawerOpen"
      :title="reminderFormTitle"
      :visibility="reminderDrawerOpen"
    >
      <template v-slot:drawerContent>
        <div id="reminderFormContainer" v-loading="loading" class="p-5">
          <ReminderForm
            :formFields="reminderFormFields"
            :vehicleArray="vehicleList"
            showAddService=true
            ref="reminderForm"
          />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="handleReminderCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              type="primary"
              :clickHandler="saveReminderData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              {{ reminderFormAction }}
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

    <!-- VEHICLE MAINTENANCE ACCIDENT FORM -->
    <Drawer
      v-if="maintenanceDrawerOpen"
      title="Add Vehicle Maintenance Record"
      :visibility="maintenanceDrawerOpen"
    >
      <template v-slot:drawerContent>
        <div v-loading="loading" class="p-5">
          <MaintenanceForm
            ref="maintenanceForm"
            :formFields="accidentFormFields"
            :reminders="maintenanceReminders"
            :documents="maintenanceDocuments"
            :createdDocuments="[]"
            :deletedDocuments="[]" />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="handleMaintenanceCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              type="primary"
              :clickHandler="saveMaintenanceData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Create
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>
    </div>
</template>
<script>

import { Storage } from 'aws-amplify';
import { deleteAccident, createAccident, deleteDocument, createDocument } from '@/graphql/mutations';
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import { vehiclesByGroup, vehicleMaintanceReminderByGroupAndStatus } from '@/views/Vehicles/queries';
import { vehicleMaintenanceRemindersByGroup } from './queries';
import { createVehicleMaintenanceReminder,updateVehicleMaintenanceReminder, deleteVehicleMaintenanceReminder } from '@/graphql/mutations'
import { getVehicleMaintenanceReminderUpdatedTimestamp } from '@/utilities/timestampQueries'
import ReminderForm from '@/views/Vehicles/components/Reminders/ReminderForm'
import { mapState } from 'vuex';
import TableCard from "@/components/TableCard/TableCard";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import CustomTable from "@/components/TableCard/CustomTable";
import SearchBox from "@/components/TableCard/SearchBox";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import MaintenanceForm from './components/Maintenance/MaintenanceForm';
import Drawer from '@/components/shared/Drawer/Drawer';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
import {
  sortByStringProp,
  sortByNumberProp,
  sortByDateProp
} from '@/utilities/sortHelpers';

import {
  DUE_BY_OPTION_NO_DUE_BY_DATE,
  DUE_BY_OPTION_PAST_DUE,
  DUE_BY_OPTION_NEXT_7_DAYS,
  DUE_BY_OPTION_NEXT_14_DAYS,
  DUE_BY_OPTION_OVER_14_DAYS,
} from './constants';

export default {
    name: 'ReminderIndex',
    components: {
      ReminderForm,
      ContextMenuHeaderIcon,
      TableCard,
      ContainerFilter,
      CustomTable,
      SearchBox,
      MultiSelectFilter,
      MaintenanceForm,
      Drawer,
      ButtonWrapper,
      ButtonGroupWrapper,
    },
    props: [ 'addReminder' ],
    data() {
        return {
            originalData: [],
            tableData: [],
            loading: false,
            search: '',
            maintenanceReminders: [],
            maintenanceDocuments: [],
            vehicleStatusFilterOptions: [],
            vehicleStatusFilterSelectedOptions: [],
            reminderStatusFilterOptions: ['Pending', 'Complete'],
            reminderStatusFilterSelectedOptions: [],
            dueByFilterOptions: [
              DUE_BY_OPTION_NO_DUE_BY_DATE,
              DUE_BY_OPTION_PAST_DUE,
              DUE_BY_OPTION_NEXT_7_DAYS,
              DUE_BY_OPTION_NEXT_14_DAYS,
              DUE_BY_OPTION_OVER_14_DAYS
            ],
            dueByFilterSelectedOptions: [],
            numberOfReminders: 0,
            status: {
                'Pending': 0,
                'Completed': 1,
            },
            reminderDrawerOpen: false,
            reminderFormAction: "Create",
            reminderFormTitle: "Add Maintenance Reminder",
            reminderFormFields: {},
            vehicleList: [],
            milesRemainingSortOrder: 'descending',
            initialLoad: true,
            addingReminder: false,
            tableContextOptions: [
                { label: "Add Maintenance Reminder", action: "add", divided:  false},
            ],
            cols: [
                { name: "Vehicle Name", col: "vehicleName", fixed: false, width: "175", sortable: true,  sortMethod: sortByStringProp('vehicle.name')},
                { name: "Vin", col: "vehicleVin", fixed: false, width: "190", sortable: true, sortMethod: sortByStringProp('vehicle.vin') },
                { name: "Due By Mileage", col: "dueByMileage", fixed: false, width: "185", sortable: true, sortMethod: sortByNumberProp('dueByMileage') },
                { name: "Mileage", col: "vehicleMileage", fixed: false, width: "185", sortable: true, sortMethod: sortByNumberProp('vehicle.mileage') },
                { name: "Reminder Due In", col: "reminderDueIn", fixed: false, width: "190", sortable: true, sortMethod: this.sortByReminderDueIn },
                { name: "Due By Date", col: "dueByDate", fixed: false, width: "150", sortable: true, sortMethod: sortByDateProp('dueByDate') },
                { name: "Services", col: "services", fixed: false, width: "200", sortable: false, sortMethod: undefined },
                { name: "Reminder Status", col: "status", fixed: false, width: "190", sortable: true, sortMethod: sortByStringProp('status')},
                { name: "Status", col: "vehicleStatus", fixed: false, width: "190", sortable: true, sortMethod: sortByStringProp('vehicle.status') },
            ],
            maintenanceDrawerOpen: false,
            accidentFormFields: {
              location: null,
              services: [],
              accidentDate: null,
              maintenanceStatus: null,
              mileage: null,
              vehicleId: null,
              accidentVehicleId: null,
              group: null,
              vehicleHistoryType: null,
              notes: null
            },
        }
    },

    created(){
        this.loadVehicleStatusFilterOptions();
        this.loadSelectedOptions();
        this.loadData();
        this.loadVehicleList();

        if(this.$store.state.reminderMileageDueInSortOrder){
            this.milesRemainingSortOrder = this.$store.state.reminderMileageDueInSortOrder
        }
    },

    mounted(){

        this.$watch(
            () => {
                return this.$refs.table.data.length
            },
            (val) => {
                this.numberOfReminders = this.$refs.table.data.length
            }
        )
    },

    computed:{
        ...mapState([
            'userInfo',
            'valuelists'
        ]),

        weekOutDate(){
            var date = new Date
            date.setDate(date.getDate() + 7);
            return date
        }
    },

    methods:{
        clearAccidentFormFields() {
          this.accidentFormFields = {
            location: null,
            services: [],
            accidentDate: null,
            maintenanceStatus: null,
            mileage: null,
            accidentVehicleId: null,
            vehicleId: null,
            notes: null,
            group: this.userInfo.tenant.group,
            vehicleHistoryType: null,
          };
        },

        handleMaintenanceCancel() {
          this.maintenanceDrawerOpen = false;
          this.clearAccidentFormFields();
        },

        async saveMaintenanceData(){
          this.loading = true;
          const reminderIDs = [];
          const documentIDs = [];
          const vehicleId = this.accidentFormFields.vehicleId;
          let accidentId = null;

          try{
            try {
              //Validate form
              await this.$refs.maintenanceForm.$refs.form.validate();

              //Validate reminders
              for (let i = 0; i < this.maintenanceReminders.length; i++) {
                await this.$refs.maintenanceForm.$refs.reminder[i].$refs.form.validate();
              }
            } catch (error) {
              throw "Please fill out all required fields and correct any errors.";
            }

            for(const maintenanceReminder of this.maintenanceReminders){
              //Create input object
              const input = {
                ...maintenanceReminder,
                status: "Pending",
                vehicleId: vehicleId,
                vehicleMaintenanceReminderVehicleId: vehicleId,
              };

              //Save dueBySort to object
              if(!input.dueByMileage){
                input.dueBySort = (new Date(input.dueByDate).getTime() / 1000000);
              } else {
                input.dueByMileage = this.cleanMileage(input.dueByMileage);
                input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage));
              }

              //Create Reminder
              const reminder = await this.api(createVehicleMaintenanceReminder, {input});
              var reminderID = reminder.data.createVehicleMaintenanceReminder.id;
              reminderIDs.push(reminderID);
            }

            // Input for new Accident
            const input = {
              ...this.accidentFormFields,
              accidentMaintenanceVehicleId: vehicleId,
              mileage: this.cleanMileage(this.accidentFormFields.mileage),
            };

            this.cleanAccidentInput(input);

            const result = await this.api(createAccident, {input});
            const newAccident = result.data.createAccident;
            accidentId = newAccident.id;

            //Create Documents
            for(const maintenanceDoc of this.maintenanceDocuments){
              const documentRecord = await this.createDocument(accidentId, maintenanceDoc, vehicleId, 'vehicle-maintenance');
              const documentId = documentRecord.data.createDocument.id;
              documentIDs.push(documentId);
            }

            //Wrap up
            this.maintenanceDrawerOpen = false;
            this.clearAccidentFormFields();

            this.loadData();
          }
          catch(err){
            console.log(err);
            this.deleteRelatedAccidentData(reminderIDs, documentIDs, accidentId);
            this.displayUserError(err);
          }
          finally{
            this.loading = false;
          }
        },

        async deleteRelatedAccidentData(reminderIds=[], documentIds=[], accidentID){
          //Delete Reminders
          let promises = reminderIds.map(reminderId =>
            this.api(deleteVehicleMaintenanceReminder, {input: { id: reminderId }})
          );
          await Promise.allSettled(promises);

          promises = documentIds.map((documentId) => {
            this.api(deleteDocument, {input: { id: documentId }})
          });
          await Promise.allSettled(promises);

          if(accidentID){
            await this.api(deleteAccident, {input: { id: accidentID }});
          }
        },

        async createDocument(accidentID, document, vehicleID, pathType){
          try{
            // Upload file to S3
            const { path, fileType, fileName } = document;
            const timestamp = String(Date.now());
            const storageObj = await Storage.put(this.userInfo.tenant.group + '/vehicle/' + vehicleID.toLowerCase() + `/${pathType}/` + accidentID.toLowerCase() + path + timestamp + "/" + fileName, document.file);

            const input = {
              group: this.userInfo.tenant.group,
              uploadDate: timestamp,
              name: fileName,
              type: fileType,
              key: storageObj.key,
            }

            if(pathType == "vehicle-damage"){
              input.documentImagevehicleDamageId = accidentID;
            }
            else if(pathType == "vehicle-maintenance"){
              input.documentMaintenanceId = accidentID;
            }

            const result = await this.api(createDocument, { input });
            return result;
          }
          catch(err) {
            console.log(err);
            this.displayUserError(err);
          }
        },

        updateFilters(e){
          const { type, filters } = e;

          const actions = {
            vehicleStatus: () => {
              this.vehicleStatusFilterSelectedOptions = filters;
            },
            reminderStatus: () => {
              this.reminderStatusFilterSelectedOptions = filters;
            },
            dueBy: () => {
              this.dueByFilterSelectedOptions = filters;
            },
          }
          actions[type]();

          this.filterRecords();
        },

        filterRecords() {
          if (this.originalData.length === 0) return this.originalData;

          let filteredData = this.filterArray(this.originalData, this.search);

          filteredData = this.filterByVehicleStatus(filteredData, this.vehicleStatusFilterSelectedOptions);
          filteredData = this.filterByReminderStatus(filteredData, this.reminderStatusFilterSelectedOptions);
          filteredData = this.filterByDueByDate(filteredData, this.dueByFilterSelectedOptions);

          this.tableData = filteredData;
        },

        filterByVehicleStatus(data=[], filters=[]) {
          if (filters.length === this.vehicleStatusFilterOptions.length) return data;

          return data.filter(reminder => filters.includes(reminder.vehicle?.status));
        },

        filterByReminderStatus(data=[], filters=[]) {
          if (filters.length === this.reminderStatusFilterOptions.length) return data;

          return data.filter(reminder => filters.includes(reminder.status));
        },

        filterByDueByDate(data=[], filters=[]) {
          if (filters.length === this.dueByFilterOptions.length) return data;

          const mappedReminders = this.mapDueByDateFilter(data);
          return filters.reduce((acc, filter) => (
            (mappedReminders[filter]?.length > 0) ?
              acc.concat(mappedReminders[filter]) :
              acc
          ), []);
        },

        mapDueByDateFilter(data=[]) {
          const mappedItems = {
            [DUE_BY_OPTION_NO_DUE_BY_DATE]: [],
            [DUE_BY_OPTION_PAST_DUE]: [],
            [DUE_BY_OPTION_NEXT_7_DAYS]: [],
            [DUE_BY_OPTION_NEXT_14_DAYS]: [],
            [DUE_BY_OPTION_OVER_14_DAYS]: [],
          };

          data.forEach(reminder => {
            const {dueByDate} = reminder;

            const date = this.$moment(dueByDate);
            const today = this.$moment().startOf('day');
            const in7Days = this.$moment().endOf('day').add(7, 'days');
            const in14Days = this.$moment().startOf('day').add(14, 'days');

            if (!dueByDate) {
              mappedItems[DUE_BY_OPTION_NO_DUE_BY_DATE].push(reminder);
              return;
            }
            if (date < today) {
              mappedItems[DUE_BY_OPTION_PAST_DUE].push(reminder);
              return;
            }
            if (date <= in7Days) {
              mappedItems[DUE_BY_OPTION_NEXT_7_DAYS].push(reminder);
              return;
            }
            if (date <= in14Days) {
              mappedItems[DUE_BY_OPTION_NEXT_14_DAYS].push(reminder);
              return;
            }

            mappedItems[DUE_BY_OPTION_OVER_14_DAYS].push(reminder);
          })

          return mappedItems;
        },

        searchData(search) {
          this.search = search;
          this.filterRecords();
        },

        loadSelectedOptions() {
          this.vehicleStatusFilterSelectedOptions = this.vehicleStatusFilterOptions;
          this.reminderStatusFilterSelectedOptions = this.reminderStatusFilterOptions;
          this.dueByFilterSelectedOptions = this.dueByFilterOptions;
        },

        loadVehicleStatusFilterOptions() {
          const vehicleStatusObjectList = this.valuelists?.['vehicle-status']?.items || [];
          this.vehicleStatusFilterOptions = vehicleStatusObjectList.map(statusObj => statusObj.value);
        },

        sortByReminderDueIn(a, b) {
          const diffA = Number(this.getMileageDifference(a));
          const diffB = Number(this.getMileageDifference(b));

          if (isNaN(diffA)) return -1;
          if (isNaN(diffB)) return 1;

          return diffA - diffB;
        },

        reminderDueInClass(maintenanceReminder) {
          const difference = this.getMileageDifference(maintenanceReminder);

          return {
            'text-red-500': (difference <= 500),
            'text-orange-400': (difference > 500 && difference <= 1000)
          };
        },

        dueByDateClass(maintenanceReminder) {
          const hasDueByDate = !!maintenanceReminder.dueByDate;
          const dueByDate = new Date(maintenanceReminder.dueByDate);
          const today = new Date();

          return {
            'text-red-500': (hasDueByDate &&  dueByDate <= today),
            'text-orange-400' : (hasDueByDate &&
              dueByDate > today &&
              dueByDate <= new Date(this.weekOutDate))
          };
        },

        getMileageDifference(maintenanceReminder) {
          const { vehicle } = maintenanceReminder;
          const vehicleMileage = vehicle?.mileage || 0;
          const reminderMileage = maintenanceReminder.dueByMileage;
          const mileageDifference = reminderMileage - vehicleMileage;

          const isPending = !!maintenanceReminder.status?.toLowerCase().includes("pending");
          if(maintenanceReminder.dueByMileage && isPending){
              return mileageDifference;
          }

          return undefined;
        },

        confirmDeleteReminder(reminder){
            this.$confirm('This will permanently delete this reminder. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
                }).then(() => {
                    this.deleteReminder(reminder)          
                }).catch(() => {
                    console.log("canceled delete")         
            });
        },

        createMaintenanceReminder(){
            this.reminderFormFields = {
                services: [],
                dueByMileage: null,
                dueByDate: null,
                vehicleMaintenanceReminderVehicleId: null, 
                vehicleId: [],
                group: this.userInfo.tenant.group,
                status: "Pending"
            }
            this.reminderFormTitle = "Add Maintenance Reminder"
            this.reminderFormAction = "Create"
            this.reminderDrawerOpen = true
            this.addingReminder = true
        },

        async deleteReminder(reminder){
            try{
                //check timestamp
                var timestampResult = await this.api(getVehicleMaintenanceReminderUpdatedTimestamp, {id: reminder.id})
                if(!timestampResult.data.getVehicleMaintenanceReminder){
                    throw "Vehicle maintenance reminder is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getVehicleMaintenanceReminder.updatedAt
                if(reminder.updatedAt != timestamp){
                    throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
                var input = {
                    id: reminder.id
                }
                await this.api(deleteVehicleMaintenanceReminder, {input})
                this.initialLoad = true
                await this.loadData()
                this.initialLoad = false
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },

        handleCommand(payload){
            const { action, row: reminder } = payload;

            if(action == "add"){
              this.createMaintenanceReminder();
              return;
            }
            if(action == "edit"){
                this.reminderFormFields = {
                    id: reminder.id,
                    services: reminder.services,
                    dueByMileage: reminder.dueByMileage,
                    dueByDate:  reminder.dueByDate,
                    vehicleId: reminder.vehicle?.id,
                    vehicleMaintenanceReminderVehicleId:  reminder.vehicle?.id,
                    status:  reminder.status,
                    group: reminder.group,
                    updatedAt:  reminder.updatedAt
                }
                this.reminderFormTitle = "Edit Maintenance Reminder"
                this.reminderFormAction = "Update"
                this.reminderDrawerOpen = true
                return
            }
            if(action == "delete"){
                this.confirmDeleteReminder(reminder)
                return
            }
            if(action == "view"){
                this.$router.push({name: 'VehicleDetail', params:{id: reminder.vehicleId}})
                return
            }
            if (action === 'mark') {
              this.markReminderAsComplete(reminder);
              return;
            }
        },

        async markReminderAsComplete(reminder){
          try{
            const input = {
              id: reminder.id,
              group: reminder.group,
              vehicleId: reminder.vehicleId,
              vehicleMaintenanceReminderVehicleId: reminder.vehicleId,
              status: "Complete",
              dueBySort: reminder.dueBySort,
              dateCompleted: new Date(),
              userId: this.userInfo.id,
              vehicleMaintenanceReminderCompletedById: this.userInfo.id,
              updatedAt: reminder.updatedAt
            };

            const result = await this.api(updateVehicleMaintenanceReminder, {input}, getVehicleMaintenanceReminderUpdatedTimestamp, 'getVehicleMaintenanceReminder');
            const updatedReminder = result.data.updateVehicleMaintenanceReminder;

            await this.loadData();

            this.$confirm('Would you like to add a new maintenance record for this completed reminder?', 'Warning', {
              confirmButtonText: 'Add',
              cancelButtonText: "Don't Add",
              type: 'warning'
            }).then(() => {
              this.openCreateNewReminderForm(updatedReminder);
            }).catch(console.error);
          }
          catch(err){
            console.log(err);
            this.displayUserError(err);
          }
        },

        openCreateNewReminderForm(updatedReminder) {
          const hasServices = Array.isArray(updatedReminder.services);

          this.accidentFormFields.vehicleId = updatedReminder.vehicleId;
          this.accidentFormFields.accidentVehicleId = updatedReminder.vehicleId;
          this.accidentFormFields.group = this.userInfo.tenant.group;
          this.accidentFormFields.vehicleHistoryType = "Maintenance";
          this.accidentFormFields.services = hasServices ? [...updatedReminder.services]: [];
          this.accidentFormFields.accidentDate = new Date();
          this.accidentFormFields.maintenanceStatus = "Complete";

          this.maintenanceReminders = [];
          this.maintenanceDocuments = [];

          this.maintenanceDrawerOpen = true;
        },

        /**
         * Handles canceling reminder creation
         */
        handleReminderCancel(){
            //Causes validator errors
            this.$refs.reminderForm.$refs.form.resetFields();
            this.$refs.reminderForm.$refs.form.clearValidate();
            this.$refs.reminderForm.inputServiceVisible = false
            this.$refs.reminderForm.inputSerivceValue = ''
            this.$refs.reminderForm.adding = false
            this.reminderDrawerOpen = false
        },


        async loadData(){
            try{
                this.loading = true
                this.tableData = []

                await this.loadReminders();
                this.filterRecords();

                if((this.addReminder || this.$route.params.addReminder) && !this.addingReminder){
                    this.createMaintenanceReminder()
                }
                
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        async loadReminders(){
            this.loading = true
            let reminders = [];

            try{
                if(this.$route.name == "UpcomingMaintenanceReminders"){
                    const input = {
                        group: this.userInfo.tenant.group,
                        sortDirection: "ASC",
                        statusDueBySort: {
                            beginsWith: {
                                status: "Pending"
                            }
                        },
                    }

                    //Get Reminders
                    reminders = await this.gLoadListAll(vehicleMaintanceReminderByGroupAndStatus, input, 'vehicleMaintanceReminderByGroupAndStatus');
                }
                else{
                    const input = {
                      group: this.userInfo.tenant.group
                    }

                    reminders = await this.gLoadListAll(vehicleMaintenanceRemindersByGroup, input, 'vehicleMaintenanceRemindersByGroup');
                }

                reminders = reminders.filter(reminder => reminder.vehicle !== null)
                this.originalData = reminders.sort(this.sortMileageDifference);
                this.tableData = this.originalData;
            }
            catch(err){
                console.log(err);
                this.displayUserError(err);
            }
            finally{
                this.loading = false
            }
        },

        /**
         * Load list of vehicles for select using GraphQL
         */
        async loadVehicleList(){
            try{
                var input = {
                    group: this.$store.state.userInfo.tenant.group
                }
                this.vehicleList = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },

        /**
         * Creates VehicleMaintenanceReminder
         */
        async saveReminderData(){

            try{
                this.loading = true
                try {
                  await this.$refs.reminderForm.$refs.form.validate();
                } catch (error) {
                  throw "Please fill out all required fields and correct any errors.";
                }
                var input = {...this.reminderFormFields}
              
                if(input.dueByMileage){
                    input.dueByMileage = this.cleanMileage(input.dueByMileage)
                    input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage))
                }
                if(!input.dueByMileage){
                    input.dueByMileage = null
                    input.dueBySort = (new Date(input.dueByDate).getTime() / 1000000) 
                }
                if(input.vehicleId instanceof Array){ // for select multiple vehicles
                    const vehicles = input.vehicleId
                    delete input.vehicleId
                    delete input.vehicleMaintenanceReminderVehicleId
                    for (const vehicleId of vehicles) {
                    input.status = "Pending"
                        input.vehicleMaintenanceReminderVehicleId = vehicleId
                        input.vehicleId = vehicleId
                    const reminder = await this.api(createVehicleMaintenanceReminder, {input})
                  }
                }
                else{ // for select single vehicle
                    input.vehicleMaintenanceReminderVehicleId = input.vehicleId
                    const reminder = await this.api(updateVehicleMaintenanceReminder, {input}, getVehicleMaintenanceReminderUpdatedTimestamp, 'getVehicleMaintenanceReminder')
                }
                this.$refs.reminderForm.$refs.form.clearValidate();
                this.reminderDrawerOpen = false
                this.initialLoad = true
                await this.loadData()
                this.initialLoad = false
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },

        sortChange(change){
            if(change.prop === 'reminderDueIn'){
                this.milesRemainingSortOrder = change.order
                this.$store.state.reminderMileageDueInSortOrder = this.milesRemainingSortOrder
            }
        },

        sortMileageDifference(a,b){
            var sortA
            var sortB
            
            if(a.status === 'Complete') sortA = 99999999999999999999999999999999 * (this.milesRemainingSortOrder == 'descending' ? 1 : -1) * (this.initialLoad == true ? -1 : 1)
            else if(a.dueByMileage && a.vehicle?.mileage) sortA = parseInt(a.dueByMileage) - parseInt(a.vehicle.mileage)
            else if(!a.dueByMileage) sortA = new Date(a.dueByDate).getTime() * (this.milesRemainingSortOrder == 'descending' ? 1 : -1) * (this.initialLoad == true ? -1 : 1)
            else sortA = 0
            
            if(b.status === 'Complete') sortB = 99999999999999999999999999999999 * (this.milesRemainingSortOrder == 'descending' ? 1 : -1) * (this.initialLoad == true ? -1 : 1)
            else if(b.dueByMileage && b.vehicle?.mileage) sortB = parseInt(b.dueByMileage) - parseInt(b.vehicle.mileage)
            else if(!b.dueByMileage) sortB = new Date(b.dueByDate).getTime() * (this.milesRemainingSortOrder == 'descending' ? 1 : -1) * (this.initialLoad == true ? -1 : 1)
            else sortB = 0


            return  sortA - sortB
        }
    }
}
</script>

<style scoped>
#reminderFormContainer /deep/ .grid .col-span-12 {
  grid-column: span 12 / span 12;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  /deep/ .el-drawer {
    width: 35% !important;
  }
}
</style>
