<template>
  <div data-cy="vehicle-import-form" v-loading.fullscreen.lock="importLoading">
    <div class="flex items-center justify-between flex-wrap space-y-4 md:flex-row">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'VehicleIndex' }">Vehicle</el-breadcrumb-item>
        <el-breadcrumb-item>Vehicle Import</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2 items-center">
        <el-popover
          v-if="!tableData.length"
          placement="bottom"
          title="How To Import"
          width="300"
          trigger="hover"
          content=""
          class=" ml-1 text-center inline-block outline-none ">
          <el-button 
            class="import-instructions-btn" 
            size="medium" 
            slot="reference">
            Import Instructions
          </el-button>
          <p class="text-left break-normal">
            To  import vehicles into Hera, download the template file below. If the attached file opens in a new tab, right-click or long press and click Download As or Save As. After filling in the template, upload the file using the Select File button.
          </p>
          <p class="text-center mt-6 mb-4">
            <a class='text-white text-xs bg-brand px-3 py-2 rounded-lg shadow cursor-pointer' @click="downloadFile">Download Template</a>
          </p>
        </el-popover>
        <label v-if="!showDataTable && !tableData.length" class="fileContainer" :class="{'opacity-25': loading}">
          Select File
          <input type="file" data-cy="attach-file" accept=".csv" @change="importCSV" :disabled="loading" id="File">
        </label>   
        <div v-else>
          <el-button size="small" @click="handleImportCancel">Cancel</el-button>
          <el-button @click="importData" size="small" type="success" :disabled="selected.length == 0">Import {{selected.length}}</el-button>
        </div>         
      </span>  
    </div>

    <!-- TABLE SKELETON LOADER -->
    <div v-show="loading" class="container p-4 mt-4">
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>

    <el-table 
      v-show="!loading && !tableData.length" 
      empty-text="No File Selected" 
      style="width: 100%"
      row-class-name="align-baseline"
      :cell-class-name="cellClass"
      class="import-table"
      >
      <el-table-column>
      </el-table-column>
    </el-table>


    <!-- Scroll Right -->
    <div v-show="showDataTable && tableData.length" class="sticky top-20 z-10 float-right -mr-10 -mb-16">
     <i 
      @click="scroll_right"
      class="text-4xl icon-button hover:text-brand uil uil-arrow-right"/>
    </div>
    <!-- Scroll Left -->
    <div v-show="showDataTable && tableData.length" class="sticky top-20 z-10 float-left -ml-10 -mb-16">
     <i 
      @click="scroll_left"
      class="text-4xl icon-button hover:text-brand uil uil-arrow-left"/>
    </div>

    <div v-show="showDataTable && tableData.length"  class="flex mt-4 mb-2">
      <el-form ref="matchForm" label-width="120px" class="-ml-6 -mb-4">
        <el-form-item label="Match On">
          <el-select size="small" v-model="matchCriteria" class="flex-initial">
            <el-option key="vin" label="VIN" value="vin"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-tooltip class="item flex-initial mt-2 ml-1" popper-class="w-52" effect="dark"  placement="right" :content="`This is the field that we will match against the Vehicle in your Hera account. If a match is found, the Vehicle record will be updated with all the other fields you are importing, or if no match is found a new Vehicle record will be created.`">
        <p class="text-gray-700 text-xs"><i class="uil uil-question-circle text-base"></i></p>
      </el-tooltip>
    </div>
    
    <!-- Table Data -->
    <el-table
      v-show="showDataTable && tableData.length"
      ref="table"
      :header-cell-class-name="headerClass"
      :cell-class-name="cellClass"
      empty-text="No File Selected"
      :data="tableData"
      class="import-table"
      @selection-change="handleSelectionChange">

      <el-table-column
        type="selection"
        width="55">
      </el-table-column>

      <!-- Action -->
      <el-table-column
        label="Action"
        sortable
        width="100"
        prop="action">
        <template slot-scope="scope">
          <div>{{ existingVIN[scope.row.vin.trim()] ? "Update" : "Create" }}</div>
        </template>
      </el-table-column>
      
      <!-- Status -->
      <el-table-column        
        label="Status"
        sortable
        prop="status"
        width="155"
         >
         <template slot-scope="scope">
          <el-select size="small" data-cy="status-sel" v-model="scope.row.status" placeholder="Status" >
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-status'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Name -->
      <el-table-column
        label="Vehicle Name"
        sortable
        width="150"
        prop="vehicleName">
        <template slot-scope="scope">
          <el-input size="small" data-cy="name-in" v-model="scope.row.vehicleName" placeholder="Vehicle Name"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="isFieldDuplicate('vehicleName', scope.row.vehicleName)">{{ messageForDuplicates }}</span>
        </template>
      </el-table-column>

      <!-- License Plate -->
      <el-table-column
        label="License Plate"
        sortable
        width="240"
        prop="licensePlate">
        <template slot-scope="scope">
          <el-input size="small" data-cy="license-plate-in" v-model="scope.row.licensePlate" placeholder="License Plate"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="mustCompleteLicensePlateField(scope.row, 'licensePlate', 'state')">This field is required</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existLicensePlateInState(scope.row)">{{ messageForExists }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existRecordsWithLicenseByStateDuplicate(scope.row)">Vehicle con license plate duplicated</span>
        </template>
      </el-table-column>

      <!-- License Plate Expiration -->
      <el-table-column
        label="License Plate Expiration"
        sortable
        width="240"
        prop="licensePlateExpiration">
        <template slot-scope="scope">
          <el-date-picker size="small" data-cy="license-plate-exp-dpk" v-model="scope.row.licensePlateExpiration"  format="MM/dd/yyyy" placeholder="License Plate Expiration" type="date"></el-date-picker>
        </template>
      </el-table-column>

      <!-- States -->
      <el-table-column        
        label="State"
        sortable
        prop="state"
        width="220"
         >
         <template slot-scope="scope">
          <el-select size="small"
            data-cy="state-sel"
            allow-create
            filterable
            clearable 
            v-model="scope.row.state" 
            placeholder="State" >
            <el-option
              v-for="item in $store.state.states"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="mustCompleteStateField(scope.row, 'licensePlate', 'state')">This field is required</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existLicensePlateInState(scope.row)">{{ messageForExists }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="existRecordsWithLicenseByStateDuplicate(scope.row)">Vehicle con license plate duplicated</span>
        </template>
      </el-table-column>

      <!-- VIN -->
      <el-table-column
        label="VIN"
        sortable
        width="200"
        prop="vin">
        <template slot-scope="scope">
          <el-input size="small" data-cy="vin-in" v-model="scope.row.vin" placeholder="VIN"></el-input>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="isFieldDuplicate('vin', scope.row.vin)">{{ messageForDuplicates }}</span>
          <span class="text-red-500 block text-xs text-center leading-3" v-if="!isValidVINLength(scope.row)">{{ messageForInvalidVIN }}</span>
        </template>
      </el-table-column>

      <!-- Gas -->
      <el-table-column
        label="Gas Card (Last 6)"
        width="170"
        sortable
        prop="gasCard">
        <template slot-scope="scope">
          <el-input size="small" data-cy="gas-card-in" v-model="scope.row.gasCard" placeholder="Gas Card"></el-input>
        </template>
      </el-table-column>

      <!-- Milage -->
      <el-table-column
        label="Milage"
        sortable
        width="150"
        prop="mileage">
        <template slot-scope="scope">
          <el-input size="small" data-cy="mileage-in" v-model="scope.row.mileage" placeholder="Milage"></el-input>
        </template>
      </el-table-column>

      <!-- ParkingSpace -->
      <el-table-column        
        label="Parking Space"
        sortable
        prop="parkingSpace"
        width="210">
         <template slot-scope="scope">
          <el-select
            v-model="scope.row.vehicleParkingSpaceId"
            placeholder="Select"
            size="small"
            filterable>
            <el-option
              v-for="item in parkingSpaceList"
              :key="item.id"
              :label="item.option"
              :value="item.id">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Start Date -->
      <el-table-column
        label="Start Date"
        sortable
        width="240"
        prop="startDate">
        <template slot-scope="scope">
          <el-date-picker size="small" data-cy="start-date-dpk" v-model="scope.row.startDate" format="MM/dd/yyyy" placeholder="Start Date" type="date"></el-date-picker>
        </template>
      </el-table-column>

      <!-- End Date -->
      <el-table-column
        label="End Date"
        sortable
        width="240"
        prop="endDate">
        <template slot-scope="scope">
          <el-date-picker size="small" data-cy="end-date-dpk" v-model="scope.row.endDate" format="MM/dd/yyyy" placeholder="End Date" type="date"></el-date-picker>
        </template>
      </el-table-column>

      <!-- Ownership -->
      <el-table-column        
        label="Ownership"
        sortable
        prop="ownership"
        width="150"
         >
         <template slot-scope="scope">
          <el-select size="small" data-cy="ownership-sel" v-model="scope.row.ownership" placeholder="Ownership" >
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-ownership'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Vehicle Type -->
      <el-table-column        
        label="Vehicle Type"
        sortable
        prop="vehicleType"
        width="210">
         <template slot-scope="scope">
          <el-select
            data-cy="authorized-to-drive"
            v-model="scope.row.vehicleVehicleTypeId"
            placeholder="Authorized To Drive"
            size="small"
            filterable>
            <el-option
              v-for="item in vehicleTypeList"
              :key="item.id"
              :label="item.option"
              :value="item.id">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Description -->
      <el-table-column
        label="Description"
        sortable
        width="150"
        prop="type">
        <template slot-scope="scope">
          <el-input size="small" data-cy="type-in" v-model="scope.row.type" placeholder="Description"></el-input>
        </template>
      </el-table-column>

      <!-- Make -->
      <el-table-column
        label="Make"
        sortable
        width="150"
        prop="make">
        <template slot-scope="scope">
          <el-input size="small" data-cy="make-in" v-model="scope.row.make" placeholder="Make"></el-input>
        </template>
      </el-table-column>

      <!-- Model -->
      <el-table-column
        label="Model"
        sortable
        width="150"
        prop="model">
        <template slot-scope="scope">
          <el-input size="small" data-cy="model-in" v-model="scope.row.model" placeholder="Model"></el-input>
        </template>
      </el-table-column>

      <!-- Year -->
      <el-table-column
        label="Year"
        sortable
        width="150"
        prop="year">
        <template slot-scope="scope">
          <el-input size="small" data-cy="year-in" v-model="scope.row.year" placeholder="Year"></el-input>
        </template>
      </el-table-column>

      <!-- Company -->
      <el-table-column        
        label="Company"
        sortable
        prop="company"
        width="160"
         >
         <template slot-scope="scope">
          <el-select size="small" data-cy="company-sel" v-model="scope.row.company" placeholder="Company" >
            <el-option
              v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-company'].items)"
              :key="item.value"
              :label="item.value"
              :value="item.value">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Rental Agreement -->
      <el-table-column
        label="Rental Agreement Number"
        sortable
        width="230"
        prop="rentalAgreementNumber">
        <template slot-scope="scope">
          <el-input size="small" data-cy="rental-agreement-num-in" v-model="scope.row.rentalAgreementNumber" placeholder="Rental Agreement Number"></el-input>
        </template>
      </el-table-column>
    </el-table>

  <div class="flex justify-between mt-8">
    <div>
      <p>{{selected.length}} of {{tableData.length}} to Import</p>
    </div>
    <div>
      <el-button data-cy="cancel-import-btn" v-if="showDataTable && tableData.length" size="small" @click="handleImportCancel">Cancel</el-button>
      <el-button data-cy="submit-import-btn" @click="importData" type="success" size="small" :disabled="selected.length == 0">Import {{selected.length}}</el-button>
    </div>
  </div>

  </div>
</template>

<script>
import { API } from 'aws-amplify';
import DropdownListFromStore from "@/components/DropdownListFromStore.vue";
import { mapGetters, mapState } from "vuex";
import downloadMixin from '@/mixins/downloadMixin'
import customListMixin from '@/mixins/customListMixin';

export default {
  name: 'VehicleImport',
  components: { DropdownListFromStore },
  mixins:[
    downloadMixin,
    customListMixin
  ],
  data() {
    return {
      loading: false,
      importLoading: false,
      tableData: [],
      selected: [],
      matchCriteria: 'vin',
      vehicleType: {},
      vins: {},
      rowsImport: [],
      existingVIN: {},
      existingLicenseByState: {},
      existConflicts: false,
      messageForExists: 'Already exists in Hera',
      messageForDuplicates: 'Duplicates are not allowed',
      messageForInvalidVIN: 'Invalid VIN lenght',
      MAX_CHUNK_SIZE: 25,
      showDataTable: false,
    }
  },

  computed: {
    ...mapState([
      'userInfo',
      'customList'
    ]),
    ...mapGetters([
      'existsInStore',
      'getCustomListByType',
      'vehicleTypeList',
      'parkingSpaceList'
    ]),
  },
  
  methods: {
    async downloadFile() {
      try {
        let params = {
          "bucket": "hera-import-templates",
          "key": 'Hera_Vehicle_Import_Template_v2.csv',
          "fileName": "Hera_Vehicle_Import_Template_v2"
        }

        await this.downloadTemplate(params) 
      } catch (error) {
        this.displayUserError(error)
      }
    },

    scroll_left() {
      let content = document.querySelector(".import-table .el-table__body-wrapper");
      content.scrollLeft -= 300;
    },
    scroll_right() {
      let content = document.querySelector(".import-table .el-table__body-wrapper");
      content.scrollLeft += 300;
    },

    /**
     * Applies the required cell class to the name column cells
     * @param {Object} obj Row of table 
     */
    cellClass(obj){
      if(obj.columnIndex === 7 && (this.matchCriteria == 'vin') ) return 'matchColumn'
      if(obj.columnIndex === 2 && (!obj.row.status) ) return 'requiredSelectCell requiredStatus'
      if(obj.columnIndex === 3 && (!obj.row.vehicleName) ) return 'requiredInputCell requiredName'
      if(obj.columnIndex === 14 && (!obj.row.vehicleVehicleTypeId) ) return 'requiredInputCell requiredVehicleType'
    },

    /**
     * Applies the required cell header class to the name column header
     * @param {Object} obj Row of table 
     */
    headerClass(obj){
      return obj.columnIndex === 1 || obj.columnIndex === 2 ? 'requiredCellHeader' : '';
    },


    handleImportCancel(){
       this.$confirm('All unsaved changes will be lost. Continue?', 'Cancel Import', {
        confirmButtonText: 'Continue',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
      .then(() => {
        this.tableData = []
        this.showDataTable = false
        document.getElementById('File').value = ""
      })
      .catch(() => {
        console.log("canceled cancel import")
      })
      .finally(() => {
        this.loadCustomList()
      })
    },


    /**
     * Handles updating selected array when row checkboxes are clicked
     */
    handleSelectionChange(val) {
      this.selected = val;
      this.rowsImport = [];
    },

    /**
     * When a file is selected, this reads the contents of the CSV to a string using FileReader.
     * @param {object} e - The event that is triggered on input change.
     */
    importCSV(e){
      var files = e.target.files || e.dataTransfer.files;
      var file = files[0]
      if(file){
        this.loading = true
        var reader = new FileReader();

        //Attach onload trigger function
        reader.onload = (e) => {
          var text = reader.result;
          var config = {header:false, skipEmptyLines:true, delimiter: ',', encoding: 'ISO-8859-1'}
          var csv = this.$papa.parse(text,config)
          this.parseCSV(csv)
        }

        //Read the data triggering the onload trigger
        reader.readAsText(file, 'ISO-8859-1')
      }
    },

    /**
     * Takes a csv string and converts it to a json object stored in tableData, then toggles them all to be selected.
     * Parsing is done by order of the columns only, the first column is skipped.
     * @param {string} csv - a csv string. 
     */
    async parseCSV(csv){
      const rows = csv.data
      let recordsByChunks = []
      let vins = {}
      let licenseByState = {}

      rows.shift()    
      try{
        const data = rows.map( row => {
          return {
            status: this.cleanStatus(row[0], 'vehicle'),
            vehicleName: row[1].trim(),
            licensePlate: row[2].trim(),
            licensePlateExpiration: row[3] ? new Date(row[3]) : null,
            state: row[4].trim(),
            vin: row[5].trim(),
            gasCard: (row[6]).trim(),
            mileage: row[7].trim(),
            vehicleParkingSpaceId: this.setCustomListOptionById(row[8], 'parking-space'),
            startDate: row[9] ? new Date(row[9]) : null,
            endDate: row[10] ? new Date(row[10]) : null,
            ownership: row[11].trim(),
            vehicleVehicleTypeId: this.setCustomListOptionById(row[12], 'vehicle-type'),
            type: row[13].trim(),
            make: row[14].trim(),
            model: row[15].trim(),
            year: row[16].trim(),
            company: row[17].trim(),
            rentalAgreementNumber: row[18].trim(),
            nameOptionParking: row[8].trim(),
            nameOptionVehicle: row[12].trim(),
            group: this.userInfo.tenant.group,
          }
        })

        //Breaking up payload into chunks of data
        for (let i = 0; i < data.length; i += this.MAX_CHUNK_SIZE) {
          const chunk = data.slice(i, i + this.MAX_CHUNK_SIZE);
          recordsByChunks.push(chunk);
        }

        //CSend chunks of by data to the Lambda
        await Promise.all(recordsByChunks.map(async(records) => {
          const response = await this.callToApiImportData(records, 'validation', 'vehicles')
          vins = { ...vins, ...response.data.vins }
          licenseByState = { ...licenseByState, ...response.data.licenseByState }
          this.tableData = [ ...this.tableData, ...records]
          if(data.length === this.tableData.length) this.showDataTable = true
        })).catch(e => {
          throw e
        });

        this.existingVIN = vins
        this.existingLicenseByState = licenseByState

        if (this.tableData.length) {
          this.$refs.table.toggleAllSelection();
        } else {
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: "No data found in selected file"
          })
        }
      }
      catch(e){
        this.printUserError(e)
        if(e.isCustomListError) return this.displayUserError(e)
        this.displayUserError("Import failed. Please verify correct file was chosen.")
        this.showDataTable = false
        this.tableData = []
      } finally {
        document.getElementById('File') ? document.getElementById('File').value = "" : false
        this.loading = false;
      }
    },

    /** Takes all items in selected and pushes them to the db, then redirects to the VehicleIndex page. */
    async importData(){
      this.importLoading = true
      let recordsByChunks = []
      try{
        let countRecordsCreate = 0;
        let countRecordsUpdate = 0;
        const validRequiredFields = this.isValidRequiredFields(this.selected);
        if(validRequiredFields) throw { message: "Please fill out all required fields." };

        const vinFieldsDuplicated = this.hasRecordsWithVINDuplicate(this.selected);
        if(vinFieldsDuplicated) throw { message: "Your imported file contains more than one Vehicle with the same VIN. Please check that each VIN only appears once in your imported file and try again." };

        const recordsWithVinLengthValid = this.allRecordsWithVINValid(this.selected);
        if(!recordsWithVinLengthValid) throw { message: "Your imported file contains invalid input lengths for VIN. Please enter a VIN with 16 or 17 characters or leave this field blank in your imported file and try again." };

        const licensePlateByStateDuplicated = this.hasRecordsWithLicenseByStateDuplicate(this.selected);
        if(licensePlateByStateDuplicated ) throw { message: "Your imported file contains more than one Vehicle with the same License Plate in the same State. Verify that each License Plate only appears once per State in your imported file and try again." };

        const licensePlateByStateAlreadyExist = this.hasRecordsWithLicensePlateExisting(this.selected);
        if(licensePlateByStateAlreadyExist ) throw { message: "Your imported file contains vehicles with the license plate and status that already exist in HERA. Correct any errors and try again." };
        
        const recordsToImport = this.mapActionRecord(this.selected);
        //Breaking up payload into chunks of data
        for (let i = 0; i < recordsToImport.length; i += this.MAX_CHUNK_SIZE) {
          const chunk = recordsToImport.slice(i, i + this.MAX_CHUNK_SIZE);
          recordsByChunks.push(chunk);
        }

        //CSend chunks of by data to the Lambda
        await Promise.all(recordsByChunks.map(async(records) => {
          const response = await this.callToApiImportData(records, 'import', 'vehicles')
          countRecordsCreate += response.data.countRecordsCreate || 0
          countRecordsUpdate += response.data.countRecordsUpdate || 0
        })).then(async ()=> {
          this.showDataTable = false
          this.tableData = []
        })
        .catch(e => {
          throw e
        });
        
        this.displayUserNotification({
          title: "Vehicle Import Results",
          type: "success",
          duration: 10000,
          message: `${countRecordsCreate} ${this.pluralize(countRecordsCreate, "Vehicle added", "Vehicles added" )},
          ${countRecordsUpdate} ${this.pluralize(countRecordsUpdate, `Vehicle updated`, `Vehicles updated`)}`
        })

        await this.loadCustomList()
        this.$router.push({ name: 'VehicleIndex' , params: { childRoute : 'vehicleList'}});
      }catch(e){
        this.printUserError(e)
        this.displayUserError(e)
      } finally {
        this.importLoading = false
      }
    },

    setCustomListOptionById(item, type) {
      return item? this.formatValue(item.trim(), type) : null
    },

    formatValue(item, type) {
      const value = type == 'parking-space' ? item : this.toTitleCase(item)
      if(value.length > 30) throw { message: this.getCustomListMessageErrorByType(type), isCustomListError: true }
      this.existsInStore(value, type)
      const options = this.getCustomListByType(type)?.options
      return options.find(item => item.option.toLowerCase().trim() == value.toLowerCase().trim()).id
    },

    async callToApiImportData( data, type, module ) {
      try {
        let apiName = 'heraPublicApi';
        let path = '/import-records';
        let post = {
          body:{
            "recordsToImport": data,
            "group": this.userInfo.tenant.group,
            "matchColumn": this.matchCriteria,
            "type": type,
            "module": module
          }
        }
        const response = await API.post(apiName, path, post);
        if(response.message && response.error) throw response
        return response;
      } catch (e) {
        throw e
      }
    },

    isValidRequiredFields(records) {
      return records.some( item => !item.vehicleName || !item.status || !item.vehicleVehicleTypeId || (item.licensePlate && !item.state) || (!item.licensePlate && item.state));
    },

    isFieldDuplicate(field, value) {
      const recordsWithFieldDuplicate = this.tableData.filter( vehicle => value && value === vehicle[field].trim());
      return recordsWithFieldDuplicate.length > 1;
    },

    isValidVINLength(record) {
      const vin = record.vin || "";
      const validVinLengths = [ 0, 16, 17 ];
      return validVinLengths.includes( vin.length );
    },

    mustCompleteStateField(record, fieldLicensePlate, fieldState) {
      return record[fieldLicensePlate] && !record[fieldState];
    },

    mustCompleteLicensePlateField(record, fieldLicensePlate, fieldState) {
      return !record[fieldLicensePlate] && record[fieldState];
    },

    existLicensePlateInState(record) {
      if (record.licensePlate && record.state) {
        const licensePlateByState = `${record.licensePlate}-${record.state}`;
        return licensePlateByState in this.existingLicenseByState;
      }
      return false;
    },

    hasRecordsWithVINDuplicate(data) {
      const mapData = [...data];
      const vinList = [];
      let conflicts = false;
      for (const item of mapData) {
        const { vin } = item;
        if (vinList.includes(vin)) {
          conflicts = true;
          break;
        } else {
          if (vin) vinList.push(vin);
        }
      };
      return conflicts;
    },

    hasRecordsWithLicenseByStateDuplicate(data) {
      const mapData = [...data];
      const licensesByState = [];
      let conflicts = false;
      for (const item of mapData) {
        const { licensePlate, state } = item;
        if (licensePlate && state) {
          const licensePlateState = `${licensePlate}-${state}`;
          if (licensesByState.includes(licensePlateState)) {
            conflicts = true;
            break;
          } else {
            licensesByState.push(licensePlateState);
          }
        }
      };
      return conflicts;
    },

    existRecordsWithLicenseByStateDuplicate(record) {
      if (record.licensePlate && record.state) {
        const currentLicensePlateByState = `${record.licensePlate}-${record.state}`;
        const licensesByStateToImport = this.selected.map(record=> `${record.licensePlate}-${record.state}`);
        const count = this.countDuplicates(licensesByStateToImport, currentLicensePlateByState);
        return count > 1
      }
      return false;
    },

    countDuplicates(data, text) {
      let count = 0;
      data.forEach(element => {
        if (element === text) {
          count++
        }
      });
      return count;
    },

    allRecordsWithVINValid(data) {
      return data.every( this.isValidVINLength );
    },

    hasRecordsWithLicensePlateExisting(data) {
      let alreadyExistInHera = false;
      data.forEach(element => {
        if (element.licensePlate && element.state) {
          const licenseByState = `${element.licensePlate}-${element.state}`
          alreadyExistInHera = licenseByState in this.existingLicenseByState; 
        }
      });
      return alreadyExistInHera;
    },

    mapActionRecord(data) {
      const records = [...data];
      let recordsToImport = records.map(item => {
        let record = {
          ...item,
          action: this.determineAction(item.vin)
        }
        return record;
      })
      return recordsToImport;
    },

    determineAction(vin){
      return this.existingVIN[vin.trim()] ? 'Update' : 'Create'
    },
  }
}
</script>

<style scoped>
  .el-date-editor.el-input{
    @apply w-full !important;
  }
</style>

<style>
.matchColumn{
  @apply bg-blue-100 !important;
}

.errorField {
  @apply bg-red-400 !important;
}

.el-table .el-table__cell{
  vertical-align: top !important;
}
.requiredInputCell .el-input input, .requiredSelectCell input{
  @apply border-red-500 border !important;
}
.requiredInputCell .el-input, .requiredSelectCell .el-select{
  height: 3.5rem;
}
.requiredInputCell .el-input:after, .requiredSelectCell:after{
  @apply text-red-500 !important;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  left: 10px;
  display: block;
}
.requiredName .el-input:after{
  @apply break-normal !important;
  content: "Invalid Name" !important;
}
.requiredVehicleType .el-input:after{
  @apply break-normal !important;
  content: "Invalid Vehicle Type" !important;
}
.requiredExpiration .el-input:after{
  @apply break-normal !important;
  content: "Requires Expiration" !important;
}

  .el-table__empty-block{
    @apply w-full !important;
  }


</style>