<template>
  <div v-loading="loading">

    <!--Header-->
    <div class="flex items-center justify-between mb-8">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item :to="{ name: 'VehicleIndex' }">Vehicles</el-breadcrumb-item>
        <el-breadcrumb-item>New Vehicle</el-breadcrumb-item>
      </el-breadcrumb>    
    </div>

    <!--Form-->
    <VehicleForm 
      :formFields="formFields"
      ref="vehicleForm"
      :deviceList="deviceList"
      :isCreationForm="true"/>

    <!--Footer-->
    <div class="flex flex-wrap md:flex-nowrap gap-y-3 md:gap-y-0 justify-end mt-8">
      <ButtonGroupWrapper>
        <template slot-scope="{disabled, setDisabled}">
          <el-button
            data-cy="cancel_btn"
            :disabled="disabled"
            @click="handleCancel"
          >
            Cancel
          </el-button>
          <ButtonWrapper
            type="primary"
            data-cy="create_btn"
            :clickHandler="validateForm"
            :handlerArgs="[false]"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            Create
          </ButtonWrapper>
          <ButtonWrapper
            type="primary"
            data-cy="add_another_btn"
            :clickHandler="validateForm"
            :handlerArgs="[true]"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            Create + Add Another
          </ButtonWrapper>
        </template>
      </ButtonGroupWrapper>
    </div>
  </div>
</template>

<script>
import { createVehicle } from '@/graphql/mutations'
import { devicesByGroup } from './queries'
import VehicleForm from './components/VehicleForm'
import { mapState } from 'vuex'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  name: 'VehicleNew',
  components: {
    VehicleForm,
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  data() {
    return {
      formFields:{
        name: '',
        type: '',
        make: '',
        model: '',
        year: '',
        notes: '',
        tollPassId: '',
        rentalAgreementNumber: '',
        vehicleType: { id: null },
        licensePlate: '',
        licensePlateExp: '',
        state: '',
        dateStart: '',
        dateEnd: '',
        category: '',
        vin: '',
        gasCard: '',
        company: '',
        device: { id: null },
        parkingSpace: { id: null },
        ownership: '',
        provider: '',
        otherProvider: '',
        status: '',
      },
      deviceList: [],
      loading: false
    }
  },

  created: function(){
    this.loadDeviceList()
  },
  
  methods: {
    /**
     * Loads list of devices for select using GraphQL
     */
    loadDeviceList: async function(){
      var input = {
        group: this.$store.state.userInfo.tenant.group
      }
      this.deviceList = await this.gLoadListAll(devicesByGroup, input, 'devicesByGroup')
    },  

    /**
     * Returns to vehicle list page
     */
    handleCancel: function(){
      this.formFields = {} // clean up state
      this.$router.push({name: 'VehicleIndex'})
    },

    /** 
     * Validate the form and continue to add record if valid 
     * */
    async validateForm(addAnother){
      try{
        await this.$refs.vehicleForm.$refs.form.validate()  
        this.addRecord(addAnother)  
      }catch(e){
        this.displayUserError("Please fill out all required fields.")
      }
    },

    /** 
     * Adds record to db 
     * */
    async addRecord(addAnother){
      try{
        this.loading = true  
        //Add record to DB
        this.formFields.status = 'Active'  
        var input = {
          ...this.formFields,
            group: this.userInfo.tenant.group,
        }
        if(!input.licensePlateExp) delete input.licensePlateExp
        if(input.device.id) input.vehicleDeviceId = input.device.id
        if(input.vehicleType.id) input.vehicleVehicleTypeId = input.vehicleType.id
        if(input.parkingSpace.id) input.vehicleParkingSpaceId = input.parkingSpace.id
        if(input.vin ==='') delete input.vin
        input = this.cleanVehicleInput(input)
        const result = await this.api(createVehicle, { input })
        this.notification()
        // option1: create + Add another button
        if(addAnother){
          // cleanup form to create another vehicle later
          this.$refs.vehicleForm.$refs.form.resetFields()
        }else{
          //option2: create only 1 vehicle and then, go to "vechicle's detail page"
          const vehicleId = result.data.createVehicle.id        
          this.$router.push({name: 'VehicleDetail', params:{ id: vehicleId } })
        }
      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },
    notification(){
      this.displayUserNotification({title: 'Success', message: 'The new Vehicle was successfully created.', type: 'success'})
    }
  },

  computed: {
    ...mapState(['userInfo']),  
  }
}
</script>

<style scoped>
  .el-select, .el-date-editor{
    width: 100%;
  }
</style>