<template>
    <div class="vehicle-index" v-if="$store.getters.isLoggedIn">
      <!--Header-->
      <div class="sm-wrap flex justify-between items-center mb-4 mt-2">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum justify-center">
            <el-breadcrumb-item><i class="uil uil-truck"></i> Vehicle Management</el-breadcrumb-item>
        </el-breadcrumb>

        <el-radio-group data-cy="vehicle-management-options" v-if="radioVehicleManagement" @change="changeRadio($event)" v-model="radio" size="small" class="border-gray-600">
          <el-radio-button class="w-32"  data-cy="dashboard-option" label="Dashboard">Dashboard</el-radio-button>
          <el-radio-button class="w-32"  data-cy="vehicle-list" label="vehicleList">Vehicle List</el-radio-button>
          <el-radio-button class="w-32"  data-cy="bulk-updates" label="bulkUpdates">Bulk Updates</el-radio-button>
        </el-radio-group>
      </div>
      <div v-if="hasVehicleManagementPermission">
      <!-- report summaries -->
      <div  v-if="radio == 'Dashboard'" class="grid grid-cols-12 grid-flow-row gap-4">
          <VehicleFleetInventory class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" @check-all-status="handleCheckAllStatus" :vehicleArray="this.tableData"/>
          <UpcomingReminders class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" :vehicleArray="this.tableData"/>
          <VehicleMaintenance class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
          <RecentAccidentsAndDamage class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" :vehicleArray="this.tableData"/>
          <ExpiringLicensePlate class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" @navigate-to-vehicle-list="navigateToVehicleList"/>
          <WeekOldOdometerReadings class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" @navigate-to-vehicle-list="navigateToVehicleList"/>
      </div>

    <!--Vehicle List-->
    <div v-else-if="radio == 'vehicleList'">
      <router-view></router-view>
    </div>
  <!--Bulk Updates-->
  <div v-if="radio === 'bulkUpdates'">
    <!--Table-->
    <el-table
      data-cy="bulk-updates-table"
      ref="table"
      v-loading="loading"
      empty-text="No Vehicles"
      header-cell-class-name="table-header-cell"
      :default-sort="{ prop: 'status', order: 'ascending' }"
      :data="tableBulkUpdateData"
      row-class-name="table-row"
      class="data-table"
    >
      <el-table-column
        label="Vehicle Name"
        sortable
        :sort-method="sortVehicleName"
        prop="name"
      >
      </el-table-column>

      <!-- Last Odomoter Reading -->
      <el-table-column label="Last Odometer Reading" prop="lastOdometerReadingDate" sortable :sort-method="sortLastOdometerDate">
        <template slot-scope="scope">
          <div class="flex">
            <div v-if="scope.row.lastOdometerReadingDate" class="flex-1 mr-1">{{ getDateTimezone(scope.row.lastOdometerReadingDate) }} • {{scope.row.mileage | commaSepNum}} mi</div>
            <div v-else class="flex-1 mr-1">No Odometer Readings</div>
            <div class="flex-initial">
              <el-tooltip effect="dark" content="Add an Odometer Reading" placement="top">
                <i @click="openOdometerModalOpen(scope.row)" class="text-blue-700 text-2xl el-icon-circle-plus-outline cursor-pointer"></i>
              </el-tooltip>
            </div>
          </div>
          
        </template>
      </el-table-column>

      <!-- Vehicle Status -->
      <el-table-column label="Status" sortable prop="status">
        <template slot-scope="scope">
          <div class="flex">
            <span
            class="font-bold rounded-full bg-opacity-10 px-3 text-xs truncate  max-w-full flex-initial"
            :class="classStatus(scope)"
            >{{scope.row.status }}</span>

            <i 
              data-cy="status-btn"
              title="Edit"
              @click="openModalStatus(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
        </div>
        </template>
      </el-table-column>

      <!-- Vehicle Type -->
      <el-table-column width="215px" label="Vehicle Type" prop="vehicleType.id">
        <template slot-scope="scope">
          <CustomListsOptionsSelect
            v-model="scope.row.vehicleType.id"
            ref="vehicleTypeDropdown"
            data-cy="tbu-vehicle-type-sw"
            size="small"
            listType="vehicle-type"
            linkText="+ Add New Vehicle Type"
            @change="handleRow(scope.row.vehicleType.id, scope.row.id, 'vehicleVehicleTypeId', scope.row)"
          />
        </template>
      </el-table-column>
      
      <!-- Parking Space -->
      <el-table-column label="Parking Space" sortable prop="parkingSpace">
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="parking-space-sel"
            v-model="scope.row.parkingSpace.id"
            @change="handleRow(scope.row.parkingSpace.id, scope.row.id, 'vehicleParkingSpaceId', scope.row)"
            clearable
            filterable>
            <el-option
              v-for="item in parkingSpaceList"
              :key="item.id"
              :label="item.option"
              :value="item.id">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Device -->
      <el-table-column label="Assigned Device" sortable prop="device">
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="vehicle-device-sel"
            v-model="scope.row.device.id"
            clearable
            filterable
            :disabled="isDisabled"
            @change="handleRow(scope.row.device.id, scope.row.id, 'vehicleDeviceId', scope.row)"
          >
            <el-option
              v-if="scope.row.device.deviceName"
              :label="scope.row.device.deviceName"
              :value="scope.row.device.id">
            </el-option>
            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id" label="Not Yet Assigned">
              <el-option
                v-for="item in deviceListUnassigned"
                :key="item.id"
                :label="item.deviceName"
                :value="item.id"
              >
              </el-option>
            </el-option-group>

            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id" label="Already Assigned">
              <el-option
                v-for="item in deviceListAssigned"
                :key="item.id"
                :label="item.deviceName"
                :value="item.id"
              >
              </el-option>
            </el-option-group>

            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id" label="Not Active">
              <el-option
                v-for="item in deviceListNotActive"
                disabled
                :key="item.id"
                :label="item.deviceName"
                :value="item.id"
              >
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>
    </el-table>
  </div>
      
  <!-- ADD ODOMETER FORM-->
  <el-dialog
      title="Add Odometer Reading"
      :visible.sync="odometerReadingModalOpen"
      width="65%"
      :show-close="false"
      @close="handleOdometerCancel"
  >
  <OdometerReadingForm
        v-loading="loading"
        :formFields="odometerFormFields"
        :singleVehicleArray="singleVehicleArray"
        :vehicleSelectionDisabled="vehicleSelectionDisabled"
        :modalStatus="odometerReadingModalOpen"
        @set-edit-vehicle-data="setEditVehicleData"
        ref="odometerReadingForm"
        @submit-event="saveOdometerData"
  />
  <span slot="footer" class="dialog-footer">
      <ButtonGroupWrapper>
        <template slot-scope="{disabled, setDisabled}">
          <el-button
            :disabled="disabled"
            data-cy="or-cancel-btn"
            @click="handleOdometerCancel"
          >
            Cancel
          </el-button>
          <ButtonWrapper
            v-if="hasVehicleManagement"
            type="primary"
            data-cy="or-create-btn"
            :clickHandler="saveOdometerData"
            :disabled="disabled"
            @cb-start="setDisabled(true)"
            @cb-end="setDisabled(false)"
          >
            Create
          </ButtonWrapper>
          <PremiumWarningButton v-else buttonText="Create" action="create" premiumFeature="vehicle" placement="bottom"/>
        </template>
      </ButtonGroupWrapper>
  </span>
  </el-dialog>

  <!--VEHICLE STATUS MODIFY DIALOG-->
  <StatusFormModal
    v-if="$store.state.valuelists && $store.state.valuelists['vehicle-status'] && $store.state.valuelists['vehicle-status'].items && statusVehicleForm.vehicle"
    :formFields="statusVehicleForm.vehicle"
    :statusOpen="stateVehiculeOpen"
    :statusForm="statusVehicleForm"
    :statusRules="statusVehicleRules"
    @closeStatusModal="closeStatusModal"
    @updateStatus="updateStatus"
    :loading="loading"
  ></StatusFormModal>


  <!--WARNING DIALOG-->
  <el-dialog
      title="Premium Required"
      :show-close="false"
      :center="true"
      :visible.sync="showUpgradeDialog"
      width="300px">
      <PremiumWarning
          :action="warningMessage"
          :premiumFeature="warningType"
          :modal="true"
          @go-to-account-details="navigateToAccountDetails"
          @close-dialog="showUpgradeDialog = false">
      </PremiumWarning>
  </el-dialog>

    <!--EXPORT DIALOG-->
    <el-dialog
      title="Export Vehicles"
      :show-close="true"
      :center="true"
      :visible.sync="showExportDialog"
      width="300px"
    >
      <ExportDialog
        :modal="true"
        exportField="vehicle"
        exportFields="vehicles"
        :filterStatus="this.filterStatus"
        :statusChecked="statusChecked"
        :number="filteredVehicles.length"
        @export-action="exportCSV(csvData)"
        @close-dialog="showExportDialog = false"
    
        >
        </ExportDialog>
      </el-dialog>

    <!-- VEHICLE DAMAGE DRAWER -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="VehicleDamage_StaffList"
      :loadingStaffList="VehicleDamage_LoadingStaffList"

      :vehicleList="vehicleList"
      :loadingVehicleList="loadingVehicles"
      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="$_VehicleDamage_saveData"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="$_VehicleDamage_delete"
    />

    <!-- VEHICLE DAILY LOG -->
    <VehicleDailyLog
      :isOpen="VehicleDailyLog_IsOpen"
      :loading="VehicleDailyLog_Loading"
      :formTitle="VehicleDailyLog_FormTitle"
      :formFields="VehicleDailyLog_FormFields"
      :vehicle="VehicleDailyLog_Vehicle"

      :primarySectionTitle="VehicleDailyLog_PrimarySectionTitle"
      :secondarySectionTitle="VehicleDailyLog_SecondarySectionTitle"

      :logImages="VehicleDailyLog_Images"
      :logImagesToCreate="VehicleDailyLog_ImagesToCreate"
      :logImagesToDelete="VehicleDailyLog_ImagesToDelete"

      :mostRecentDailyLog="VehicleDailyLog_MostRecentDailyLog"
      :mostRecentDailyLogImages="VehicleDailyLog_MostRecentDailyLogImages"

      :createdByOptions="VehicleDailyLog_CreatedByOptions"
      :handleSearchCreatedBy="$_VehicleDailyLog_handleSearchCreatedBy"

      @date-or-time-change="$_VehicleDailyLog_loadMostRecentDailyLog"
      @cancel-save="$_VehicleDailyLog_cancelSave"
      @save-data="$_VehicleDailyLog_saveData"
      @save-plus-add-damage="$_VehicleDailyLog_savePlusAddDamage"
    />

    <!-- VEHICLE MAINTENANCE FORM-->
    <Drawer
      v-if="maintenanceDrawerVisibility"
      :title="titleMaintenanceDrawer" 
      :visibility="maintenanceDrawerVisibility" 
    >
      <template v-slot:drawerContent>
        <div class="p-5">
          <MaintenanceForm
            :formFields="maintenanceFormFields"
            :reminders="maintenanceReminders"
            :documents="maintenanceDocuments"
            :createdDocuments="createdMaintenanceDocuments"
            :deletedDocuments="deletedMaintenanceDocuments"
            ref="maintenanceForm"
          />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="handleMaintenanceCancel"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              v-if="hasVehicleManagement"
              type="primary"
              :clickHandler="saveMaintenanceData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Create
            </ButtonWrapper>
            <PremiumWarningButton v-else buttonText="Create" action="create" premiumFeature="vehicle" placement="bottom"/>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

      </div>
      <div class="flex justify-between card" v-if="!hasVehicleManagementPermission">
        <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Vehicle Management in Hera.</h4>
      </div>

  </div>
  </template>

  <script>
  import UpcomingReminders from './components/SummaryCard/UpcomingReminders'
  import RecentAccidentsAndDamage from './components/SummaryCard/RecentAccidentsAndDamages'
  import ExpiringLicensePlate from './components/SummaryCard/ExpiringLicensePlate'
  import WeekOldOdometerReadings from './components/SummaryCard/WeekOldOdometerReadings'
  import VehicleFleetInventory from './components/SummaryCard/VehicleFleetInventory.vue'
  import VehicleMaintenance from './components/SummaryCard/VehicleMaintenance.vue'
  import OdometerReadingForm from '@/views/Vehicles/components/Odometer/OdometerReadingForm'
  import PremiumWarning from '@/components/PremiumWarning'
  import ExportDialog from '@/components/ExportDialog'
  import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
  import MaintenanceForm from './components/Maintenance/MaintenanceForm'
  import {
    createAccident,
    deleteAccident,
    updateStaff,
    createVehicleStatus,
    createDocument,
    deleteDocument, updateAccident,
    createVehicleMaintenanceReminder,
  } from '@/graphql/mutations'
  import {updateVehicle} from '@/store/mutations';
  import { vehiclesByGroupAndLicensePlateExp, vehiclesByGroupAndLastOdometerReadingDate, accidentsByVehicleAndHistoryType, devicesByGroup } from './queries';
  import { vehiclesByGroup } from '@/store/queries';
  import {getAccidentUpdatedTimestamp, getVehicleUpdatedTimestamp} from '@/utilities/timestampQueries'
  import { mapGetters, mapState } from 'vuex'
  import {exportCSV} from '@/utilities/exportCSV'
  import { getVehicle } from './queries';
  import { updateHistoryMaintenanceComplete } from './components/Maintenance/maintenance'
  import { confirmChangeStatusVehicle } from "@/scripts/createStatusMaintenance"
  import Drawer from "@/components/shared/Drawer/Drawer"
  import EventBus from '@/eventBus' 
  import StatusFormModal from './components/StatusFormModal';
  import CellToolTip from '@/components/CellToolTip'
  import {Storage} from "aws-amplify";
  import moment from 'moment-timezone';
  import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
  import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
  import VehicleDailyLog from '@/views/Vehicles/components/VehicleDailyLog/VehicleDailyLog';
  import VehicleDailyLogMixin from '@/views/Vehicles/components/VehicleDailyLog/VehicleDailyLogMixin';
  import PremiumWarningButton from '@/components/PremiumWarningButton'
  import vehicleTypeMixin from '@/mixins/vehicleType'
  import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
  import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';
  import CustomListsOptionsSelect from '@/components/CustomListsOptionsSelect.vue'

  export default {
    mixins: [
      VehicleDamageMixin,
      VehicleDailyLogMixin,
      vehicleTypeMixin
    ],

    components: {
      UpcomingReminders,
      VehicleMaintenance,
      RecentAccidentsAndDamage,
      ExpiringLicensePlate,
      WeekOldOdometerReadings,
      OdometerReadingForm,
      PremiumWarning,
      ExportDialog,
      ContextMenuHeaderIcon,
      StatusFormModal,
      CellToolTip,
      VehicleFleetInventory,
      MaintenanceForm,
      Drawer,
      VehicleDamage,
      VehicleDailyLog,
      PremiumWarningButton,
      ButtonWrapper,
      ButtonGroupWrapper,
      CustomListsOptionsSelect,
    },
    props: [
      'addOdometerReading',
      'viewMaintenanceRecord', 
      'childRoute'
    ],
    name: 'VehcicleIndex',
    data() {
      return {
        activeSelect: '',
        orderFunction: '',
        sortFunction: '',
        tableData: [],
        tableBulkUpdateData: [],
        initTableBulkData: [],
        search: '',
        filterStatus: '',
        numberOfVehicles: 0,
        tableCount: 0,
        radio: 'Dashboard',
        loading: false,
        viewExpiredLicenses: false,
        viewWeekOldOdometerReadings: false,
        viewTwoWeekOldOdometerReadings: false,
        viewHighMileageOdometerReadings: false,
        vehicleCount: 0,
        vehicleSelect:{
          name:'',
          status:'',
          vehicle:null
        },
        odometerReadingModalOpen: false,
        odometerFormFields: {
            odometerDate: new Date(),
            odometerType: null,
            mileage: null,
            time: null,
            vehicleId: null,
            accidentVehicleId: null,
            deviceId: null,
            notes: null
        },
        singleVehicleArray: [],
        showUpgradeDialog: false,
        warningMessage: '',
        warningType: '',
        showExportDialog: false,
        editVehicleData: {},
        loadingVehicles: false,
        vehicleSelectionDisabled: true,
        addingOdometerReading: false,
        stateVehiculeOpen: false,
        statusVehicleForm: {
          newStatus: '',
          date: null,
          vehicle: null,
          statusChangeReason: '',
          addNewRecordMaintenance: true,
          addCompleteRecordMaintenance: true
        },
        statusVehicleRules: {
          newStatus: [
            { required: true, message: 'Please select a status', trigger: 'blur' }
          ],
          date: [
            { required: true, message: 'Please select a date', trigger: 'blur' },
          ]
        },
        deviceList: [],
        staffs: [],
        statusItems: [],
        statusChecked: ['Active'],
        checkAllStatus: false,
        tempVehicleStatus: null,
        maintenanceDrawerVisibility:false,
        titleMaintenanceDrawer: "Add Vehicle Maintenance Record",
        maintenanceFormFields: {
          location: null,
          services: [],
          accidentDate: null,
          maintenanceStatus: null,
          mileage: null,
          vehicleId: null, 
          accidentVehicleId: null,
          notes: null
        },
        maintenanceReminders: [],
        maintenanceDocuments: [],
        createdMaintenanceDocuments:[],
        deletedMaintenanceDocuments:[],
      }
    },

    watch:{
      radio(){
        this.loadData();
      }
    },

    async created(){
        try{
          if(this.$store.state.vehicleTab && !this.$route.params.addOdometerReading){
            this.radio = this.$store.state.vehicleTab
          }
          this.loadTab();
          if(this.childRoute){
            this.changeRadio(this.childRoute)
          }
          await this.loadData()
        }catch(e){
            console.log(e);
            this.displayUserError(e)
        }
    },

    beforeDestroy(){
      if(this.$route.name != 'VehicleLicensePlate' && this.$route.name !='VehicleWeekOldOdometerReadings' && this.$route.name !='VehicleTwoWeekOldOdometerReadings' && this.$route.name !='VehicleHighMileageOdometerReadings'){
        this.$store.state.vehicleTab = this.radio
      }
      this.viewExpiredLicenses = false
      this.viewWeekOldOdometerReadings = false
      this.viewTwoWeekOldOdometerReadings = false
      this.viewHighMileageOdometerReadings = false
    },

    mounted: async function(){
      // $refs is ready once in mounted
      await this.loadDeviceList();

      EventBus.$on('vehicle-status', (payload)=>{
        this.radio = "vehicleList"
        this.statusChecked = [payload.row.status]
        this.handleCheckedStatusChange(this.statusChecked)
      })
    },

    computed: {
      ...mapState([
        'userInfo',
        'customList'
      ]),
      ...mapGetters([
        'hasVehicleManagementPermission',
        'hasVehicleManagement',
        'vehicleTypeList',
        'parkingSpaceList'
      ]),
      
      ...mapState('subscriptionStore', [
        'vehicleList'
      ]),

      radioVehicleManagement(){
        return this.$route.name != 'VehicleLicensePlate' && this.$route.name !='VehicleWeekOldOdometerReadings' && this.$route.name !='VehicleTwoWeekOldOdometerReadings' && this.$route.name !='VehicleHighMileageOdometerReadings' && this.hasVehicleManagementPermission
      },
      /** 
     * Displays either "Filter" or the currently filtered Status 
     * @returns {String} 
     * */
    filterStatusDisplay(){
      let joinNames = [this.statusChecked[0], this.statusChecked[1]].join(', ')

      if(this.statusChecked.length === 1) {
        joinNames = joinNames.replace(',', ' ')
      } else if(this.statusChecked.length > 2) {
        joinNames = `${joinNames.slice(0, 30)}... + ${this.statusChecked.length - 2}`
      }

      return !this.statusChecked.length ? 'Filter' : joinNames
    },

    /** 
     * Create a key value array of filters to apply to table 
     * @returns {Array}
     * */
    filter(){
      if( !this.filterStatus ) {return []}
      return [{key: 'status', value: this.filterStatus}]
    },

    filteredVehicles() {
        let items = []

        if(this.statusChecked.length) {
            this.statusChecked.forEach(item => {
                let filtersList = [
                    {
                        key: 'status',
                        value: item
                    }
                ]

                // this.filterArray( tableData, search, filter )
                let itemsByStatus = this.filterArray( this.tableData, this.search, filtersList )

                items.push(...itemsByStatus)
            })
        }

        return items
    },

    // numberSelected: function(){
    //     return this.selected.length
    //   }
    csvData() {
      const data = this.filteredVehicles
      return data.map(item => {
        
        const name = item.name ? `"${item.name.replaceAll('"',"'")}"` : ""
        const notes = item.notes ? `"${item.notes.replaceAll('"',"'")}"` : ""

        return {
          "Status": item.status,
          "Name": this.formatColumnsForExport(name),
          "Make": this.formatColumnsForExport(item.make),
          "Model": this.formatColumnsForExport(item.model),
          "Year": item.year,
          "VIN": this.formatColumnsForExport(item.vin),
          "License Plate": this.formatColumnsForExport(item.licensePlate),
          "State": item.state,
          "Last Mileage Reading": item.mileage,
          "Start Date": item.dateStart ? this.$moment(item.dateStart).format("MM/DD/YYYY"): "",
          "End Date": item.dateEnd ? this.$moment(item.dateEnd).format("MM/DD/YYYY"): "",
          "Company": this.formatColumnsForExport(item.company),
          "Ownership": this.formatColumnsForExport(item.ownership),
          "Vehicle Type": this.formatColumnsForExport(item.vehicleType?.option),
          "Description": this.formatColumnsForExport(item.type),
          "Rental Agreement Number": this.formatColumnsForExport(item.rentalAgreementNumber),
          "Toll Pass ID": this.formatColumnsForExport(item.tollPassId),
          "Parking Space": this.formatColumnsForExport(item.parkingSpace?.option),
          "Assigned Device": this.formatColumnsForExport(item.device?.deviceName),
          "Gas Card (Last 6)": this.formatColumnsForExport(item.gasCard),
          "Notes": this.formatColumnsForExport(notes)
        }
      })
    },
    deviceListUnassigned: function() {
      return this.deviceList.filter(function(device) {
        return !(device.vehicle.items.length > 0) && device.status == "Active";
      });
    },

    deviceListAssigned: function() {
      return this.deviceList.filter(function(device) {
        return device.vehicle.items.length > 0 && device.status == "Active";
      });
    },

    deviceListNotActive: function() {
      return this.deviceList.filter(function(device) {
        return device.status != "Active";
      });
    },
    isDisabled() {
      if (this.hasVehicleManagement) {
        return false;
      } else {
        return true;
      }
    },
    },


    methods: {
      toggleDropdown() {
       const dropdown = this.$refs.dropdown;
       dropdown.visible = !dropdown.visible;
      },
      setActiveDropdown(open, scope){
        if(open)
          return this.activeSelect = scope.row.id+scope.column.id 
      },
      loadTab(){
        if(this.$route.name == 'vehicle-dashboard'){
          this.radio = 'Dashboard'
        }

        if(this.$route.name == 'vehicle-list'){
          this.radio = 'vehicleList'       
        }

        if(this.$route.name == 'vehicle-bulk-updates'){
          this.radio = 'bulkUpdates'
        }
      },
      previousVehicleStatus(row){
        if(!row.vehicleStatusHistory || !row.vehicleStatusHistory.items.length)
          return null
        const lastStatusHistory = row.vehicleStatusHistory.items.reduce((a, b) => {
          const A = new Date(a.date)
          const B = new Date(b.date)
          return A > B ? a : b
        })
        const date = this.$moment(lastStatusHistory.date).format("MM/DD/YYYY")
        const previousStatus = lastStatusHistory.previousStatus
        const reason = lastStatusHistory.reason ? ` (${lastStatusHistory.reason})` : ''
        return date + ': ' + previousStatus + ' > ' + row.status + reason
      },

      /**
     * Uploads document to S3 then creates document record in DB
     */
    async createDocument(accidentID, document, vehicleID, pathType){
        try{
            // Upload file to S3
            var path = document.path;
            var fileType = document.fileType
            var fileName = document.fileName
            var timestamp = String(Date.now())
            var object = await Storage.put(this.$store.state.userInfo.tenant.group + '/vehicle/' + vehicleID.toLowerCase() + `/${pathType}/` + accidentID.toLowerCase() + path + timestamp + "/" + fileName, document.file)

            var input = {
                group: this.$store.state.userInfo.tenant.group,
                uploadDate: timestamp, 
                name: fileName,
                type: fileType,
                key: object.key,
            }

            if(pathType == "vehicle-damage"){
              input.documentImagevehicleDamageId = accidentID
            }
            else if(pathType == "vehicle-maintenance"){
              input.documentMaintenanceId = accidentID
            }

            var result = await this.api(createDocument, {input: input})
            return result
        }
        catch(e){
            console.log(e);
            this.displayUserError(e)
            throw(e)
        }
    },

    setEditVehicleData(){
        // get vehicle based on id
        let vehicle = this.singleVehicleArray.find(vehicle =>{
            return vehicle.id === this.odometerFormFields.vehicleId
        })
        this.editVehicleData = vehicle
    },
      
      setBulkUpdateData() {
        this.tableBulkUpdateData = this.tableData.map((item, idx) => {
          return {
            id: item.id,
            name: item.name,
            lastOdometerReadingDate: item.lastOdometerReadingDate,
            mileage: item.mileage,
            status: item.status,
            vin: item.vin,
            defaultStaff: item.defaultStaff,
            defaultStaff2: item.defaultStaff2,
            defaultStaff3: item.defaultStaff3,
            parkingSpace: item.parkingSpace ? item.parkingSpace : { id: null },
            vehicleType: item.vehicleType,
            device: item.device || {id: null},
            updatedAt: item.updatedAt
          };
        }).filter((item)=>item.status === 'Active');
        this.initTableBulkData = JSON.parse(JSON.stringify(this.tableBulkUpdateData))
      },

      async loadDeviceList() {
        let input = {
          group: this.$store.state.userInfo.tenant.group,
        };
        const deviceList = await this.gLoadListAll(
          devicesByGroup,
          input,
          "devicesByGroup"
        );
        this.deviceList = deviceList.sort(function(a, b) {
          return a.deviceName
            .toLowerCase()
            .localeCompare(b.deviceName.toLowerCase(), undefined, {
              numeric: true,
              sensitivity: "base",
            });
        });
      },
      addTempStatus(status) {
        this.tempVehicleStatus = null;
        this.tempVehicleStatus = status;
      },
      async handleRow(value, id, key, vehicle) {
        this.loading = true;
        //let vid =  this.tableData.find(item => item.id == id)
        this.$refs['vehicleTypeDropdown']?.$refs.select.blur();
        try{
          if(value === 'Inactive'){
            await this.beforeUpdateVehicle(vehicle);
            return
          }
          const input = {
            id,
            [key]: value==='' ? null:value,
            vin: !vehicle.vin ? null:vehicle.vin // many dynamo rows contain empty string vins
          };

          const matchKey = {
            vehicleDeviceId: 'device',
            vehicleVehicleTypeId: 'vehicle type',
            vehicleParkingSpaceId: 'parking space'
          }

          let textField = matchKey[key] ? matchKey[key] : key
          let updateResponse = null;

          if(key == 'vehicleVehicleTypeId') {            
            await this.beforeUpdateVehicle(vehicle, true)
            const vehicleMatch =  this.initTableBulkData.find(item => item.id == id)

            const vehicleInput = {
              vehicle, 
              initVehicleData: vehicleMatch,
              newVehicleTypeId: value,
              calledFrom: 'bulkUpdates'
            }
            const response = await this.validateAssociateList(vehicleInput)

            if(!response) return

            updateResponse = await this.api(updateVehicle, { input })
            await this.removeDefaultVehiclesFromAssociates(this.vehiclesToDelete, id)
          }
          else {
            updateResponse = await this.api(updateVehicle, { input })
          }

          const updatedVehicle = updateResponse?.data.updateVehicle;
          // Initial load sets this exact data, is needed to map on the below call to setBulkUpdateData
          this.tableData = this.handleTableDataUpdate(updatedVehicle);
          this.setBulkUpdateData();
          await this.loadDeviceList();

          this.displayUserNotification({
            message: `${vehicle.name} changed ${textField}`,
            type: "success",
            title: "Vehicle Updated"
          })

        }catch(e){
          console.log(e)
          this.displayUserError('Error saving this vehicle. ' + e.errors[0].message)          
        }finally{
          this.loading = false;
          this.vehiclesToDelete = []
        }
      },

      handleTableDataUpdate(updatedVehicle) {
        if (!updatedVehicle) return;
        return this.tableData.map(item => (
          (item.id === updatedVehicle.id)? updatedVehicle: item
        ));
      },

      /**
      * Confirms with user if they want to mark the selected vehicle as inactive
      */
      handleCheckAllStatus(val) {
        this.radio = "vehicleList"
        this.checkAllStatus = val
        this.handleCheckAllChange(val)
      },

      handleCheckAllChange(val) {
        this.statusChecked = val ? this.statusItems : [];
        this.$store.commit('setStatusCheckedForVehicle', this.statusChecked);
      },

      handleCheckedStatusChange(value) {
        let checkedCount = value.length;
        this.checkAllStatus = checkedCount === this.statusItems.length;
        this.$store.commit('setStatusCheckedForVehicle', this.statusChecked);
        this.filterStatus = value[value.length - 1]
      },

      closeStatusModal() {
        this.statusVehicleForm.statusChangeReason = null
        this.stateVehiculeOpen = false;
      },


      /**
      * Confirms with user if they want to mark the selected vehicle change status
      */
      openModalStatus(vehicle) {
        this.statusVehicleForm.newStatus = vehicle.status;
        this.statusVehicleForm.date = new Date();
        this.statusVehicleForm.vehicle = vehicle;
        this.stateVehiculeOpen = true;
      },

      openOdometerModalOpen (vehicle) {
        if(!this.hasVehicleManagement){
            this.warningMessage = "add odometer readings"
            this.warningType = "vehicle management"
            this.showUpgradeDialog = true
            return
          }
          this.editVehicleData = {...vehicle}
          let date = new Date()
          this.odometerFormFields.odometerDate = date
          this.odometerFormFields.vehicleId = vehicle.id
          this.odometerFormFields.accidentVehicleId = vehicle.id
          this.odometerFormFields.group = this.$store.state.userInfo.tenant.group
          this.odometerFormFields.vehicleHistoryType = "Odometer Reading"
          if(vehicle.device){
              this.odometerFormFields.deviceId = vehicle.device.id
          }
          this.vehicleSelectionDisabled = true
          this.odometerReadingModalOpen = true

          var vehicleObj = {
              id: vehicle.id,
              name: vehicle.name
          }
          this.singleVehicleArray.push(vehicleObj)
      },
      /**
       * Update the selected vehicle's status and reloads the data
       */
      async updateStatus() {
        
        try{
          this.loading = true;
          if(this.statusVehicleForm.newStatus === 'Inactive'){
            await this.beforeUpdateVehicle(this.statusVehicleForm.vehicle);
            return;
          }

          var input = {
              reason: this.statusVehicleForm.statusChangeReason,
              previousStatus: this.statusVehicleForm.vehicle.status,
              date: this.statusVehicleForm.date,
              currentStatus: this.statusVehicleForm.newStatus,
              vehicleStatusVehicleId: this.statusVehicleForm.vehicle.id,
              group: this.$store.state.userInfo.tenant.group
          }

          await this.api(createVehicleStatus, {input})

          var input = {
              id: this.statusVehicleForm.vehicle.id,
              status: this.statusVehicleForm.newStatus,
              updatedAt: this.statusVehicleForm.date,
              vin: (this.statusVehicleForm.vehicle.vin === '') ? null : this.statusVehicleForm.vehicle.vin
          }

          if(this.statusVehicleForm.vehicle.device){
              input.vehicleDeviceId = this.statusVehicleForm.vehicle.device.id
          }

          if(!this.statusVehicleForm.vehicle.licensePlateExp){
            input.licensePlateExp = null
          }

          const {data: {updateVehicle: updatedVehicle}} = await this.api(updateVehicle, {input});
          // Initial load sets this exact data, is needed to map on the below call to setBulkUpdateData
          this.tableData = this.handleTableDataUpdate(updatedVehicle);

          if(this.statusVehicleForm.addNewRecordMaintenance && this.statusVehicleForm.newStatus === 'Inactive - Maintenance'){
            var dataNewRecordMaintenance = {vehicle: this.statusVehicleForm.vehicle, action: 'viewMaintenanceRecord', id: this.statusVehicleForm.vehicle.id, valueActionToggle:this.statusVehicleForm.addNewRecordMaintenance};
            this.handleCommand(dataNewRecordMaintenance);
          }
          if(this.statusVehicleForm.addCompleteRecordMaintenance && this.statusVehicleForm.newStatus !== 'Inactive - Maintenance'){
            await updateHistoryMaintenanceComplete(this.statusVehicleForm.vehicle.id);
          }
        }
        catch(e){
            console.log(e)
            this.displayUserError(e)
        }
        finally {
          this.setBulkUpdateData();
          this.closeStatusModal();
          this.loading = false;
        }

      },
      /**
       * filters vehicle table 
       * @param {object} row
       * @param {object} column
       * @param {string} value
       */
      filterHandler(value, row, column) {
        const property = column['property'];
        return row[property] === value;
      },

      exportCSV(arrData) {
        const fileName = `vehicle-export-${this.filterStatus ?? "All"}-${this.$moment().format('MM/DD/YYYY')}.csv`
        exportCSV({arrData, fileName})
        this.showExportDialog = false
      },
      /**
      * Handles dropdown commands
      */
      handleCommand(payload){
        var vehicle = payload.vehicle
        var action = payload.action

        if(action == "view"){
          // this.$router.push({name: 'VehicleDetail',filterStatus params: { id: vehicle.id }})

          this.handleRowClick(payload.vehicle)
          return
        }

        if(action == "add"){
            this.$router.push({ name: 'VehicleNew' })
            return
        }
        if(action == "import"){
            this.$router.push({name: 'VehicleImport'})
            return
        }
        if(action == "export"){
            this.showExportDialog = true
            return
        }

        if(action == "editStatus"){
          this.openModalStatus(vehicle);
        }

        if(action == "addOdometerReading"){
          this.openOdometerModalOpen(vehicle)
          return
        }
        
        if(action == 'viewVehicleDamage') {
          const payload = {
            mode: 'create',
            formAction: 'Create',
            formTitle: 'Add Vehicle Damage',
            disableVehicleSelection: true,
            formFields: {
              vehicleId: vehicle.id,
            },
            prefixCounselingCreatedFrom: 'Vehicle List',
          };

          this.$_VehicleDamage_open(payload);
        }

        if (action === 'addVehicleDailyLog') {
          const payload = {
            mode: 'create',
            vehicleId: vehicle.id
          };

          this.$_VehicleDailyLog_open(payload);
          return;
        }
        
        if(action == 'viewMaintenanceRecord'){
          this.maintenanceFormFields.group = this.$store.state.userInfo.tenant.group
          this.maintenanceFormFields.mileage = null
          this.maintenanceReminders = []
          this.maintenanceDocuments = []
          this.createdMaintenanceDocuments = []
          this.deletedMaintenanceDocuments = []
          this.maintenanceDrawerVisibility = true
          this.maintenanceFormFields.vehicleId = payload.id
          this.maintenanceFormFields.accidentVehicleId = payload.id
          this.maintenanceFormFields.vehicleHistoryType = "Maintenance"
          this.maintenanceFormFields.maintenanceStatus = (payload.valueActionToggle != undefined && payload.valueActionToggle) ? "In Progress" : null
          this.vehicleSelect.name = vehicle.name
          this.vehicleSelect.status = vehicle.status
          this.vehicleSelect.vehicle = vehicle
        }
      },


      /**
       * Handles clicking the cancel button on the Odometer Reading Form
       */
      handleOdometerCancel(){
          this.$refs.odometerReadingForm.$refs.form.clearValidate()
          this.odometerReadingModalOpen = false
          this.odometerFormFields = {
              odometerDate: null,
              odometerType: null,
              mileage: null,
              time: null,
              accidentVehicleId: null,
              vehicleId: null,
              deviceId: null
          }
          this.singleVehicleArray = []
          this.editVehicleData = {}
      },


      /**
       * On row click go to the VehicleDetail route.
       * @param {object} row
       * @param {object} column
       * @param {object} event
       */
      handleRowClick(row){
        switch(this.sortFunction) {
            case 'name':
              this.filteredVehicles.sort(this.sortVehicleName)
              break;
            case 'mileage':
              this.filteredVehicles.sort(this.sortMileage)
              break;
            case 'vin':
              this.filteredVehicles.sort(this.sortVin)
              break;
            case 'licensePlate':
              this.filteredVehicles.sort(this.sortLicensePlate)
              break;
            case 'state':
              this.filteredVehicles.sort(this.sortState)
              break;
            case 'gasCard':
              this.filteredVehicles.sort(this.sortGasCard)
              break;
            case 'company':
              this.filteredVehicles.sort(this.sortCompany)
              break;
        }

        let vehicleList = this.filteredVehicles

        if (this.orderFunction === "descending") {
          vehicleList = this.filteredVehicles.reverse()
        }

        let previousRouteText = 'Vehicle List',
          previousRouteName = this.$route.name

        this.$store.commit("setVehicleList", vehicleList)
        this.$router.push({name: 'VehicleDetail', params: { id: row.id }, query: {previousRouteText, previousRouteName}})
      },


      /** 
       * Updates the filterStatus data prop
       * @param {String} status - the status to be set 
       */
      handleFilterStatus(status){
        this.filterStatus = status
      },
      changeRadio(event){
        if (event == 'Dashboard') {
          this.$router.push({name:'vehicle-dashboard'})
        }
        
        if (event === 'vehicleList') {
          this.$router.push({name:'vehicle-list'})
        }

        if (event == 'bulkUpdates') {
          this.$router.push({name:'vehicle-bulk-updates'})
        }
        
        this.loadData();
      },

      /**
       * Load data using the vehicleIndex custom GraphQL query
       */
      loadData: async function(loadAll) {
        try{
          this.loading = true
          var currentDate = this.$moment();
          //-var currentDateFormatted = this.$moment().format('YYYY-MM-DD');
          var daysAhead = this.$moment(currentDate).add(90, 'days').format('YYYY-MM-DD');
          var weekAgo = this.$moment(currentDate).subtract(7, 'days').format('YYYY-MM-DD');
          var twoWeekAgo = this.$moment(currentDate).subtract(14, 'days').format('YYYY-MM-DD');
          
          if(this.$route.name == "VehicleLicensePlate"){
            var input = {
              group: this.$store.state.userInfo.tenant.group,
              licensePlateExp: {
                le: daysAhead
              },
              sortDirection: "ASC"
            }
            this.tableData = await this.gLoadListAll(vehiclesByGroupAndLicensePlateExp, input, 'vehiclesByGroupAndLicensePlateExp')
            this.tableCount = this.tableData.length
            this.viewExpiredLicenses = true

            this.viewWeekOldOdometerReadings = false
            this.viewTwoWeekOldOdometerReadings = false
            this.viewHighMileageOdometerReadings = false
            this.radio = "vehicleList";
          }
          else if(this.$route.name == "VehicleWeekOldOdometerReadings"){
            var input = {
              lastOdometerReadingDate: {le: weekAgo},
              group: this.$store.state.userInfo.tenant.group,
              sortDirection: "DESC"
            }
            this.tableData = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, input, 'vehiclesByGroupAndLastOdometerReadingDate')
            this.tableCount = this.tableData.length
            this.viewWeekOldOdometerReadings = true

            this.viewTwoWeekOldOdometerReadings = false
            this.viewHighMileageOdometerReadings = false
            this.viewExpiredLicenses = false
            this.radio = "vehicleList"
          }
          else if(this.$route.name == "VehicleTwoWeekOldOdometerReadings"){
            var input = {
              lastOdometerReadingDate: {le: twoWeekAgo},
              group: this.$store.state.userInfo.tenant.group,
              sortDirection: "DESC"
            }
            this.tableData = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, input, 'vehiclesByGroupAndLastOdometerReadingDate')
            this.tableCount = this.tableData.length
            this.viewTwoWeekOldOdometerReadings = true

            this.viewWeekOldOdometerReadings = false
            this.viewHighMileageOdometerReadings = false
            this.viewExpiredLicenses = false
            this.radio = "vehicleList"
          }
          else if(this.$route.name == "VehicleHighMileageOdometerReadings"){
            var input = {
              group: this.$store.state.userInfo.tenant.group,
              sortDirection: "DESC"
            }
            const data = await this.gLoadListAll(vehiclesByGroupAndLastOdometerReadingDate, input, 'vehiclesByGroupAndLastOdometerReadingDate')
            this.tableData = data.filter( vehicle => {
                return parseInt(vehicle.mileage) >= 50000
            })
            this.tableCount = this.tableData.length
            this.viewHighMileageOdometerReadings = true

            this.viewWeekOldOdometerReadings = false
            this.viewTwoWeekOldOdometerReadings = false
            this.viewExpiredLicenses = false
            this.radio = "vehicleList"
          }
          else{
            var input = {
              group: this.$store.state.userInfo.tenant.group
            }
            this.tableData = this.vehicleList
            this.$store.state.vehicleCount = this.tableData.length
          }
          
          if((!this.tableData.length && this.$route.name == 'vehicle-bulk-updates') || loadAll){
            var input = {
              group: this.$store.state.userInfo.tenant.group
            }
            const vData = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup')
            this.tableData = vData
          }

          if((this.addOdometerReading || this.$route.params.addOdometerReading) && !this.addingOdometerReading){
            this.singleVehicleArray = [...this.vehicleList]
            this.addingOdometerReading = true
            this.openOdometerReadingModal()
          }
          /* set BulkUpdate data */
          this.setBulkUpdateData();

          if(this.radio == "Dashboard"){
            this.viewWeekOldOdometerReadings = false
            this.viewTwoWeekOldOdometerReadings = false
            this.viewHighMileageOdometerReadings = false
            this.viewExpiredLicenses = false
          }

          this.statusItems = this.valueListActivesOnly(this.$store.state.valuelists['vehicle-status'].items).map(item => item.value)

          if(this.radio === 'vehicleList'){
            if(!this.$store.state.tempStatusCheckedVehiclelist[0]){
              this.statusChecked = ['Active'];
              return
            }
            this.statusChecked = this.$store.state.tempStatusCheckedVehiclelist;
          }
        }
        catch(e){
          this.displayUserError(e)
        }
        finally{
          this.loading = false
        }
      },

      navigateToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails', params:{navigateToAddOnSelection: true}})
      },


      navigateToVehicleList(payload){
        if(payload == "expiring"){
          this.$router.push({name: 'VehicleLicensePlate'})
        }
        else if(payload == "weekOld" ){
          this.$router.push({name: 'VehicleWeekOldOdometerReadings'})
        }
        else if(payload == "2weekOld" ){
          this.$router.push({name: 'VehicleTwoWeekOldOdometerReadings'})
        }
        else{
          this.$router.push({name: 'VehicleHighMileageOdometerReadings'})
        }
      },


      /**
       * Creates a Odometer Reading Type Accident Record
       */
      async saveOdometerData(){
          try{
            this.loading = true
            
            if(!this.editVehicleData.id){
                throw 'Please select a vehicle.'
            }
            //check vehicle timestamp
            var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.editVehicleData.id})
            if(!timestampResult.data.getVehicle){
              throw "Vehicle is missing or deleted by another user."
            }
            var timestamp = timestampResult.data.getVehicle.updatedAt
            if(this.editVehicleData.updatedAt != timestamp){
              throw "Record was updated by another user. Please copy any changes and refresh the page."
            }
            var odometerReadingId = null;
            try {
              await this.$refs.odometerReadingForm.$refs.form.validate();
            } catch (error) {
              throw new Error('Please fill out all required fields.');
            }
            var input = {...this.odometerFormFields}
            var vehicleId = input.vehicleId
            var deviceId = input.deviceId
            input.mileage = this.cleanMileage(input.mileage)
            input.accidentVehicleId = vehicleId
            input.accidentDate = input.odometerDate
            this.cleanAccidentInput(input)
            const result = await this.api(createAccident, {input})
            odometerReadingId = result.data.createAccident.id

            //load data
            this.loadData()

            //Get Last Mileage Record
            var input = {
                vehicleId: vehicleId,
                sortDirection: "DESC",
                limit: 5, 
                vehicleHistoryTypeAccidentDate: 
                    {beginsWith: {vehicleHistoryType: "Odometer"}
                }
            }

            var odometerReading = await this.api(accidentsByVehicleAndHistoryType, input)
            var readings = odometerReading.data.accidentsByVehicleAndHistoryType.items
            readings.sort((a,b)=>{
              var accidentDateA = a.accidentDate
              var createdTimestampA = a.createdAt

              var accidentDateB = b.accidentDate
              var createdTimestampB = b.createdAt

              if(accidentDateA == accidentDateB){
                return new Date(createdTimestampB) - new Date(createdTimestampA)
              }

              return new Date(accidentDateB) - new Date(accidentDateA)
            })

            //Updated vehicle with the latest mileage reading
            var input = {
              ...this.editVehicleData
            };
            input.mileage = readings[0].mileage,
            input.lastOdometerReadingDate = readings[0].accidentDate

            if(deviceId){
                input.vehicleDeviceId = deviceId
            }
            input.vehicleDevice2Id = null

            input = this.cleanVehicleInput(input)
            if(!input.licensePlateExp){
                input.licensePlateExp = null
            }
            await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')

            //Wrap up
            this.loadData()
            this.odometerReadingModalOpen = false
            
            this.odometerFormFields = {
                odometerDate: null,
                odometerType: null,
                mileage: null,
                time: null,
                vehicleId: null,
                accidentVehicleId: null
            }
            this.singleVehicleArray = []
            this.loading = false
          }
          catch(e){
            console.log(e)
            if(e == false){
                e = "Please fill out all required fields and correct any errors."
            }

            //Only deletes if the odometer is being created, not updated.
            //odometerReadingId will be null if the odometer was updated
            if(odometerReadingId){
                this.api(deleteAccident, {input: {id: odometerReadingId}})
            }
            this.displayUserError(e)
          }
          finally{
            this.loading = false
          }
      },


      sortVehicleName(a,b){    
        return a.name.toLowerCase().localeCompare(b.name.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
      },
      sortLastOdometerDate(a,b){    
        return (new Date(a.lastOdometerReadingDate)  - new Date(b.lastOdometerReadingDate) )
      },
      sortMileage(a, b) {
        return a.mileage - b.mileage
      },

      sortVin(a, b) {
        return ('' + a.vin.toLowerCase()).localeCompare(b.vin.toLowerCase())
      },

      sortLicensePlate(a, b) {
        return ('' + a.licensePlate.toLowerCase()).localeCompare(b.licensePlate.toLowerCase())
      },

      sortState(a, b) {
        return ('' + a.state.toLowerCase()).localeCompare(b.state.toLowerCase())
      },

      sortGasCard(a, b) {
        if (a.gasCard != null) a = '' + a.gasCard.toLowerCase()
        else if (a.gasCard == null) a = ''
        else a = '' + a.gasCard

        if (b.gasCard != null) b = b.gasCard.toLowerCase()
        else if (b.gasCard == null) b = ''
        else b = b.gasCard

        return a.localeCompare(b)
      },

      sortCompany(a, b) {
        if (a.company != null) a = '' + a.company.toLowerCase()
        else if (a.company == null) a = ''
        else a = '' + a.company

        if (b.company != null) b = b.company.toLowerCase()
        else if (b.company == null) b = ''
        else b = b.company

        return a.localeCompare(b)
      },

      async beforeUpdateVehicle(vehicle, bulk=false) {
        const detailVehicle = await this.api(getVehicle, { id: vehicle.id });
        vehicle.defaultStaff = detailVehicle.data.getVehicle.defaultStaff;
        vehicle.defaultStaff2 = detailVehicle.data.getVehicle.defaultStaff2;
        vehicle.defaultStaff3 = detailVehicle.data.getVehicle.defaultStaff3;
        await this.getStaffForAllVehicles(vehicle);
        if (this.staffs.length > 0){
          this.messageConfirm(vehicle, bulk);
          return
        }
        
        if(!bulk){
          await this.updateVehicleStatus(vehicle);
        }
      },
      /**
       * Update the selected vehicle's status as Inactive and reloads the data
       */
      async updateVehicleStatus(vehicle){
          try{
              var input = {
                  reason: this.statusVehicleForm.statusChangeReason,
                  previousStatus: this.statusVehicleForm.vehicle.status,
                  date: this.statusVehicleForm.date,
                  currentStatus: this.statusVehicleForm.newStatus,
                  vehicleStatusVehicleId: this.statusVehicleForm.vehicle.id,
                  group: this.$store.state.userInfo.tenant.group
              }

              await this.api(createVehicleStatus, {input})
              
              var input = {
                  id: vehicle.id,
                  status: "Inactive",
                  updatedAt: vehicle.updatedAt
              }

              if(vehicle.device){
                  input.vehicleDeviceId = vehicle.device.id
              }

              if(!vehicle.licensePlateExp){
                input.licensePlateExp = null
              }

              const {data: {updateVehicle:updatedVehicle}} = await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle');
              this.tableData = this.handleTableDataUpdate(updatedVehicle);
              this.setBulkUpdateData();
              this.closeStatusModal()
          }
          catch(e){
              console.log(e)
              this.displayUserError(e)
          }
      },
      getStaffForAllVehicles(vehicle) {
        this.staffs = [];
        vehicle.defaultStaff.items.forEach((staff)=> {
          this.staffs.push({...staff, vehicleAssigned: 1})
        })
        vehicle.defaultStaff2.items.forEach((staff)=> {
          this.staffs.push({...staff, vehicleAssigned: 2})
        })
        vehicle.defaultStaff3.items.forEach((staff)=> {
          this.staffs.push({...staff, vehicleAssigned: 3})
        });
      },
      async messageConfirm(vehicle, bulk=false) {
        let isPlural = this.staffs.length === 1 ? this.$t('label.associate') : this.$t('label.associates');
        let listUser = this.staffs.map(staff=>`<li>${staff.firstName} ${staff.lastName}</li>`).toString();
        let text = `This vehicle has been assigned to <b>${this.staffs.length}</b> ${isPlural}.<br>
                    <ul class="list_users">
                      ${listUser.replaceAll(',', '')}
                    </ul>
                    They will be unassigned if you continue. Click Cancel to undo your change to this vehicle.`
        this.$confirm(text, 'Warning', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString: true
          }).then(async () => {
            this.loading = true;
            if(!bulk) await this.updateVehicleStatus(vehicle);
            this.removeVehicleFromStaffUser();
            this.stateVehiculeOpen = false;
            this.loading = false;
          }).catch((error) => {
            this.loading = false;
            console.log(error)
            const index = this.tableBulkUpdateData.findIndex(item=>item.id===vehicle.id);
            this.tableBulkUpdateData[index].status = this.tempVehicleStatus;
            return false
          })
          return false
      },
      removeVehicleFromStaffUser() {
        this.staffs.forEach(async (staff)=> {
          let staffInput = {
            id: staff.id,
            group: staff.group,
          }
          switch (staff.vehicleAssigned) {
            case 1: 
              staffInput.staffDefaultVehicleId = null
              break;
            case 2: 
              staffInput.staffDefaultVehicle2Id = null
              break;
            case 3: 
              staffInput.staffDefaultVehicle3Id = null
              break;
            default: 
              break;
          }
            const respond = await this.api(updateStaff, {input: staffInput});
        })
      },

      openOdometerReadingModal(){
        try{
          if(!this.hasVehicleManagement){
            this.warningMessage = "add odometer readings"
            this.warningType = "vehicle management"
            this.showUpgradeDialog = true
            return
          }
          this.odometerFormFields.group = this.$store.state.userInfo.tenant.group
          this.odometerFormFields.vehicleHistoryType = "Odometer Reading"
          this.vehicleSelectionDisabled = false
          this.odometerReadingModalOpen = true
          return
        }
        catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },
          
      classStatus(scope) {
        return {
          'bg-red-500 text-red-600' : scope.row.status.toLowerCase().includes('inactive'),
          'bg-green-500 text-green-600' : scope.row.status.toLowerCase() == 'active',
        }
      },

      handleSortChange(sortProps) {
        this.orderFunction = sortProps.order
        this.sortFunction = sortProps.prop
      },

      /**
     * Handles caneling maintenance creation
     */
    handleMaintenanceCancel(){
      this.$refs.maintenanceForm.$refs.form.clearValidate();
      this.maintenanceDrawerVisibility = false
      this.maintenanceFormFields = {
        location: null,
        services: [],
        accidentDate: null,
        maintenanceStatus: null,
        mileage: null,
        accidentVehicleId: null,
        vehicleId: null,
        notes: null
      }
      this.createdMaintenanceDocuments = []
      this.deletedMaintenanceDocuments = []
      this.maintenanceReminders = []
      this.maintenanceDocuments = []
    },

    /**
     * Creates Maintenance Type Accident Record
     */
    async saveMaintenanceData(){
      if(!this.hasVehicleManagement){
        this.displayUserNotification({title: 'Create', type: 'info', message:'Premium Required'})
        return
      }
      try{
        this.loading = true
        var reminderIDs = []
        var documentIDs = []
        var vehicleMaintenanceID = this.maintenanceFormFields.id
        var recordNeedsUpdated = vehicleMaintenanceID ? true : false
        //Validate form
        try {
          await this.$refs.maintenanceForm.$refs.form.validate();
        } catch (error) {
          throw new Error('Please fill out all required fields.');
        }

        //check timestamp
        if(recordNeedsUpdated){
          var timestampResult = await this.api(getAccidentUpdatedTimestamp, {id: this.maintenanceFormFields.id})
          if(!timestampResult.data.getAccident){
              throw "Vehicle maintenance is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getAccident.updatedAt
          if(this.maintenanceFormFields.updatedAt != timestamp){
              throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
        }

        //Create Reminders
        if(this.maintenanceReminders.length > 0){
          for(const [index , maintenanceReminder] of this.maintenanceReminders.entries()){
            //Validate reminder
            await this.$refs.maintenanceForm.$refs.reminder[index].$refs.form.validate();

            //Create input object
            var input = {...maintenanceReminder}
            input.vehicleId = this.maintenanceFormFields.vehicleId
            input.vehicleMaintenanceReminderVehicleId = this.maintenanceFormFields.vehicleId

            //Save dueBySort to object
            if(input.dueByMileage){
              input.dueByMileage = this.cleanMileage(input.dueByMileage)
              input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage))
            }
            if(!input.dueByMileage){
              input.dueBySort = (new Date(input.dueByDate).getTime() / 1000000) 
            }

            input.status = "Pending"
            //Create Reminder
            const reminder = await this.api(createVehicleMaintenanceReminder, {input})
            var reminderID = reminder.data.createVehicleMaintenanceReminder.id
            reminderIDs.push(reminderID)
          }
        }

        var input = {...this.maintenanceFormFields}
        input.accidentMaintenanceVehicleId = this.maintenanceFormFields.vehicleId
        input.mileage = this.cleanMileage(input.mileage)
        this.cleanAccidentInput(input)
        if(!recordNeedsUpdated){
          const result = await this.api(createAccident, {input})
          var vehicleMaintenance = result.data.createAccident
          var vehicleMaintenanceID = vehicleMaintenance.id
        }

        //Create Documents
        if(this.maintenanceDocuments.length > 0){
          for(const maintenanceDoc of this.maintenanceDocuments){
            var documentRecord = await this.createDocument(vehicleMaintenanceID, maintenanceDoc, this.maintenanceFormFields.vehicleId, 'vehicle-maintenance')
            var documentID = documentRecord.data.createDocument.id
            documentIDs.push(documentID)
          }
        }

        //Delete Documents
        if(this.deletedMaintenanceDocuments.length > 0){
          for(const maintenanceDoc of this.deletedMaintenanceDocuments){
                var result = await Storage.remove(maintenanceDoc.key)
                var deleteResult = await this.api(deleteDocument, {input:{ id: maintenanceDoc.id}} )
          }
        }

        //Update Accident
        if(recordNeedsUpdated){
          const updateResult = await this.api(updateAccident, {input})
        }

        if(this.statusVehicleForm.newStatus !== 'Inactive - Maintenance'){
          const response = await confirmChangeStatusVehicle(this.vehicleSelect,this.maintenanceFormFields);
          if(response.valueConfirmChangeStatusVehicle){
            this.statusVehicleForm.newStatus = (response.opc === 1) ? 'Inactive - Maintenance' : 'Active';
            this.statusVehicleForm.date = new Date();
            this.statusVehicleForm.statusChangeReason = (response.opc === 1) ? 'Opened Maintenance Record' : 'Completed Maintenance Record';
            this.statusVehicleForm.vehicle = this.vehicleSelect.vehicle
            await this.updateStatus();
          }
        }
        
        //Wrap up
        this.$refs.maintenanceForm.$refs.form.clearValidate();
        this.maintenanceDrawerVisibility = false
        this.maintenanceFormFields = {
          location: null,
          services: [],
          accidentDate: null,
          maintenanceStatus: null,
          mileage: null,
        }
        this.maintenanceReminders = []
        this.maintenanceDocuments = []
        this.createdMaintenanceDocuments = []
        this.deletedMaintenanceDocuments = []
        this.reminderNextToken = null
        this.accidentNextToken = null
        this.reminders = []
        this.vehicleHistory = []
        this.loadData()
      }
      catch(e){
        console.log(e)
        if(e == false){
          e = "Please fill out all required fields and correct any errors."
        }
        if(recordNeedsUpdated){
          this.deleteRelatedAccidentData(reminderIDs, documentIDs, null, null, null)
        }
        else{
          this.deleteRelatedAccidentData(reminderIDs, documentIDs, vehicleMaintenanceID, null, null)
        }
        this.displayUserError(e)
      }
      finally{
        this.loading = false
      }
    },

      /**
       * Delete the reminders and documents that the user tried to create with their maintenance record.
       */
      async deleteRelatedAccidentData(reminders, documents, accidentID, counselingID, infractionID, ){
        console.log("start deletion")

        //Delete Reminders
        if(reminders.length > 0){
          reminders.forEach((reminderID)=>{
            this.api(deleteVehicleMaintenanceReminder, {input:{ id: reminderID }} )
          })
        }

        if(documents.length > 0){
          documents.forEach((documentID)=>{
            this.api(deleteDocument, {input:{ id: documentID }} )
          })
        }

        if(accidentID){
          this.api(deleteAccident, {input:{ id: accidentID}} )
        }

        if(counselingID){
          this.api(deleteCounseling, {input:{ id: counselingID}} )
        }

        if(infractionID){
          this.api(deleteInfraction, {input:{ id: infractionID}} )
        }
      },
      
      getDateTimezone(date){
        return moment(date).tz(this.getTenantTimeZone()).format("MM/DD/yyyy")
      }
    }
  }
</script>
<style lang="scss">
.vehicle-index{
  .filter-btn {
      width: 210px;
      height: 32.5px;
      border-radius: 0 !important;
      border-radius: 0 .5rem .5rem 0 !important;
      box-shadow: none !important;

      @media (min-width: 400px) {
          width: 230px;
      }

      @media (min-width: 768px) {
          width: 270px;
      }
  }

  .width-fit-content{
    width: fit-content;
  }

}
</style>
<style>
  .el-message-box__message .vehicleMessage, .el-message-box__message .list_users {
      padding: 0.5rem 1rem 0.5rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
      list-style-type: disc;
  }
  .el-message-box__message .list_users{
      padding: 0.5rem 1rem 0.5rem 1rem;
      gap: 0.5rem;
      font-size: 13px;
  }
</style>
