<template>
	<div data-cy="vehicle_by_type">
    <!-- <div class="flex justify-between mb-4"> -->
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }">
              <i class="uil uil-file-alt"></i> Tasks & Reports
            </el-breadcrumb-item>
            <el-breadcrumb-item>Vehicles By Type</el-breadcrumb-item>
          </el-breadcrumb>
        <!-- </div> -->
    </div>

    <TableCard tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            <span>vehicles by type</span>
          </template>
          <template v-slot:filters>
            <CounterFilter :counter="getResumeFilters"/>
            <multi-select-filter
                type="vehicleStatus"
                title="Vehicle Status"
                :options="optionsVehicleStatus"
                :selected="filterVehicleStatus"
                @update-filters="updateFilters"
            />
            <MultiSelectFilter
                type="vehiclesByType"
                title="Vehicle Type"
                :options="optionsVehiclesByType"
                :selected="filterVehiclesByType"
                @update-filters="updateFilters"
            />
          </template>
        </ContainerFilter>
      </template>

      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="searchData"/>
      </template>

      <CustomTable
          v-loading="loading"
          :columns="cols"
          :data="tableData"
          :totalRecords="totalVehiclesByType"
          emptyText="No Vehicles By Type"
          footerTable="Vehicles By Type"
          withTableMenu
          @click-menu="handleCommand"
          :childs="{ children: 'subrows' }"
          :optionsRows="optionsContextRow"
          :optionsSubRows="optionsContextSubRow"
          :optionsHeader="optionsContextHeader"
          inTable
      >
        <template #activeCounter="row">
          {{ getValue(row.activeCounter) }}
        </template>
        <template #inactiveCounter="row">
          {{ getValue(row.inactiveCounter) }}
        </template>
        <template #name="row">
          {{ row.name || '' }}
        </template>
        <template #status="row">
          <div class="flex">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial" :class="classStatus(row)">
              {{ row.status }}
            </span>
          </div>
        </template>
      </CustomTable>
    </TableCard>

     <!-- EXPORT DIALOG -->
     <el-dialog
      title="Export Vehicle Types Records"
      :show-close="true"
      :center="true"
      :visible.sync="showExportDialog"
      width="350px">
      <ExportDialog
        :modal="true"
        exportField="Vehicle Type record"
        exportFields="Vehicle Types records"
        :number="totalExportsRecords"
        :statusChecked="getStatusChecked()"
        @export-action="exportData()"
        @close-dialog="showExportDialog = false">
      </ExportDialog>
    </el-dialog>

	</div>
</template>
<script>
import { vehiclesByGroupForTypeReport } from "@/views/Vehicles/queries";
import { mapState, mapGetters, mapMutations } from "vuex";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import ExportDialog from "@/components/ExportDialog";
import { exportCSV } from "@/utilities/exportCSV";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";

export default {
  name: 'VehicleByTypeReport',
  components: {
    MultiSelectFilter,
    CounterFilter,
    ExportDialog,
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
  },
  data() {
	  return {
      loading: false,
      originalTableData: [],
      tableData: [],
      searchVehicleByType: "",
      showExportDialog: false,
      totalExportsRecords: 0,
      totalVehiclesByType: 0,
      cols: [
        { name: "Vehicle Type", col: "vehicleType", fixed: false, width: "200", sortable: false,  sortMethod: undefined },
        { name: "# Active", col: "activeCounter", fixed: false, width: "150", sortable: false, sortMethod: undefined },
        { name: "# Inactive", col: "inactiveCounter", fixed: false, width: "150", sortable: false, sortMethod: undefined },
        { name: "Vehicle Name", col: "name", fixed: false, width: "200", sortable: false,  sortMethod: undefined, childs: true },
        { name: "Vehicle Status", col: "status", fixed: false, width: "200", sortable: false,  sortMethod: undefined, childs: true },
      ],
      optionsVehicleStatus: [],
      filterVehicleStatus: [],
      optionsVehiclesByType: [],
      filterVehiclesByType: [],
      optionsContextHeader: [
        { label: "Export as CSV", action: "export", divided: false },
      ],
      optionsContextRow: [],
      optionsContextSubRow: [
        { label: "View Vehicle", action: "view", divided: false },
      ],
	  }
  },
  mounted() {
    this.loadFilters()
  },
  created(){
    this.loadData()
  },

  watch: {
    searchVehicleByType(next, prev) {
      this.reloadData()
    }
  },
  
  computed: {
    ...mapState([
      'userInfo',
      'valuelists'
    ]),
    ...mapGetters([
      'getFiltersStatusVehicleByType',
      'getFiltersTypeVehicleByType',
      'vehicleTypeList'
    ]),

    getResumeFilters() {
      const filtersVehicleStatus = this.filterVehicleStatus.length === this.optionsVehicleStatus.length ? 0 : 1;
      const filtersVehicleByType = this.filterVehiclesByType.length === this.optionsVehiclesByType.length ? 0: 1;
      //filters applied for export csv
      const filtersApplied = [
        filtersVehicleStatus === 1 ? "Vehicle Status": null,
        filtersVehicleByType === 1 ? "Vehicle Type" : null,
      ]
      return filtersVehicleStatus + filtersVehicleByType;
    },
  },
  
  methods: {
    ...mapMutations([
      'setFiltersStatusVehicleByType',
      'setFiltersTypeVehicleByType',
    ]),

    loadFilters(){
      //vehicle types of store
      this.optionsVehiclesByType = this.vehicleTypeList.map(vehicleType => vehicleType.option)

      //vehicle status of value list
      const vehicleStatusList =  this.valueListActivesOnly(this.valuelists['vehicle-status'].items)
      this.optionsVehicleStatus = vehicleStatusList.map(vehicleStatus => vehicleStatus.value)

      if(this.getFiltersStatusVehicleByType.length === 0){
        this.setFiltersStatusVehicleByType(this.optionsVehicleStatus)
      }
      if(this.getFiltersTypeVehicleByType.length === 0){
        this.setFiltersTypeVehicleByType(this.optionsVehiclesByType)
      }
      this.filterVehicleStatus = this.getFiltersStatusVehicleByType
      this.filterVehiclesByType = this.getFiltersTypeVehicleByType

    },

    async loadData() {
      this.loading = true
      try {
        const input = { group: this.userInfo.tenant.group }
        const vehicleData = await this.gLoadListAll(vehiclesByGroupForTypeReport, input, "vehiclesByGroup")
       
        let vehicleTypeActives = []
        let vehicleTypeInactives = []
   
        this.vehicleTypeList.forEach((vehicleTypeItem) => { 
          if(!vehicleTypeActives[vehicleTypeItem.id]){
            vehicleTypeActives[vehicleTypeItem.id] = []
          }
          if(!vehicleTypeInactives[vehicleTypeItem.id]){
            vehicleTypeInactives[vehicleTypeItem.id] = []
          }            
          vehicleData.forEach((vehicle) => {
            if(vehicleTypeItem.id === vehicle.vehicleType?.id){
              vehicle.vehicleType = vehicle.vehicleType.option
              if(vehicle.status.includes('Active')){
                vehicleTypeActives[vehicleTypeItem.id].push(vehicle) 
              }else{
                vehicleTypeInactives[vehicleTypeItem.id].push(vehicle)
              }     
            }
          })
        })

        this.originalTableData = this.vehicleTypeList.map(vehicleTypeItem => {
          return {
            id: vehicleTypeItem.id,
            vehicleType: vehicleTypeItem.option,
            activeCounter: vehicleTypeActives[vehicleTypeItem.id].length,
            inactiveCounter: vehicleTypeInactives[vehicleTypeItem.id].length,
            subrows: vehicleTypeActives[vehicleTypeItem.id].concat(vehicleTypeInactives[vehicleTypeItem.id])
          }
        })

        this.tableData = this.originalTableData
        this.totalVehiclesByType = this.tableData.length
        
        this.getFilteredRecords(
          this.tableData,
          this.filterVehicleStatus,
          this.filterVehiclesByType,
        )
      } catch (error) {
        this.printUserError(error)
      } finally {
        this.loading = false
      }
    },

    reloadData(){
      this.getFilteredRecords(
        this.originalTableData,
        this.filterVehicleStatus,
        this.filterVehiclesByType,
      )
    },

    getFilteredRecords(data = [], primaryFilters = [], secondaryFilters = []){
      if(data.length === 0) return data
      if(primaryFilters.length === 0 && secondaryFilters.length === 0) return data
      const originalData = [...data]
      let filteredData = []

      //filter by vehicle-status
      filteredData = this.filterByVehicleStatus(originalData, primaryFilters)
      const filteredDataByVehicleStatus = [...filteredData]
     
      //filter by vehicle-type
      filteredData = this.filterByVehicleType(filteredDataByVehicleStatus, secondaryFilters)
      this.tableData = this.filterArray(filteredData, this.searchVehicleByType)
    },

    filterByVehicleStatus(data, filters = []){
      if (filters.length === 0) return []
      let filteredData = []
      data.forEach((row, index) => {
        let activeCount = 0
        let inActiveCount = 0
        const subrowsFiltered = row.subrows.filter(subrow => {
          if(filters.includes(subrow.status)){
            if(subrow.status.includes('Active')){
              activeCount++
            }else{
              inActiveCount++
            }
          }  
          return filters.includes(subrow.status)
        })
        filteredData[index] = {
          ...row,
          subrows: subrowsFiltered,
          activeCounter: activeCount,
          inactiveCounter: inActiveCount 
        }
      })
      return filteredData
    },

    filterByVehicleType(data, filters = []){
      if (filters.length === 0) return []
      return data.filter((row) => filters.includes(row.vehicleType))
    },
    
    handleCommand(payload) {
      const { row, action } = payload
      const actions = {
        view: () => {
          const { id } = row
          this.showDetailVehicle(id)
        },
        export: () => {
          this.showExportDialog = true;
          this.totalExportsRecords =this.exportsRecords().length
        },
      }
      actions[action]()
    },

    updateFilters(opts) {
      const { type, filters } = opts;
      const actions = {
        vehicleStatus: () => {
          this.filterVehicleStatus = filters;
          this.setFiltersStatusVehicleByType(filters)
        },
        vehiclesByType: () => {
          this.filterVehiclesByType = filters;
          this.setFiltersTypeVehicleByType(filters)
        },
      }
      actions[type]()
      this.reloadData()
    },
    
    searchData(e) {
      this.searchVehicleByType = e
    },

    showDetailVehicle(id) {
      this.$router.push({ name: "VehicleDetail", params: { id } });
    },
    
    exportsRecords() {
      let arrData = []
      let indexAux = 0
      this.tableData.forEach((row) => {
        const { subrows } = row
        subrows.forEach((subrow) => {
          arrData[indexAux] = {
            "Vehicle Type": subrow.vehicleType,
            "Vehicle Name": subrow.name,
            "Vehicle Status": subrow.status,
          }
          indexAux++
        })      
      })
      return arrData
    },

    getStatusChecked(){
      return [
        {
          filter: 'Vehicle Status',
          values: this.filterVehicleStatus
        },
        {
          filter: 'Vehicle Type',
          values: this.filterVehiclesByType
        }
      ]
    },

    exportData(){
      const fileName = `vehicle-types-export-${this.$moment().format('MM/DD/YYYY')}.csv` 
      const  arrData = this.exportsRecords()
      exportCSV({arrData, fileName}) 
      this.showExportDialog = false 
    },

    classStatus(row) {
      return {
        'bg-red-500 text-red-600' : row.status?.toLowerCase().includes('inactive'), 
        'bg-green-500 text-green-600' : row.status?.includes('Active'), 
      }
    },

    getValue(value){
      return value ?? "—"
    }
    
  }

}
</script>
