<template>
  <div
    data-cy="maintenance_records"
    class="report-vehicle-maintenance"
  >
    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb
            separator-class="uil uil-angle-right-b m-breadcrum"
            v-once
          >
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Vehicle Maintenance Record</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <table-card tablecard-class="rounded-lg">
      <template v-slot:table-filters>
        <container-filter inTable>
          <template v-slot:title>
            <span>vehicle maintenance records</span>
          </template>
          <template v-slot:filter-count>
            <counter-filter :counter="getResumeFilters" />
          </template>
          <template v-slot:filters>
            <multi-select-filter
              type="vehicle"
              title="Vehicle Status"
              :options="optionsVehicle"
              :selected="filterVehicle"
              @update-filters="updateFilters"
            />
            <multi-select-filter
              type="maintenance"
              title="Maintenance Status"
              :options="optionsMaintenance"
              :selected="filterMaintenance"
              @update-filters="updateFilters"
            />
            <single-select-filter
              title="Date"
              :options="optionsDates"
              :currentFilter="selectedDate"
              @update-options="updateOptions"
            />
          </template>
        </container-filter>
      </template>

      <template v-slot:table-searchbox>
        <search-box inTable @search-data="searchData"/>
      </template>

      <custom-table 
        v-loading="loading"
        data-cy="maintenance_records_table"
        :columns="cols"
        :data="tableData"
        :totalRecords="totalVehicles"
        emptyText="No Vehicle Maintenance Records"
        footerTable="Vehicle Maintenance Records"
        withTableMenu
        @click-menu="handleCommand"
        :optionsRows="optionsContextRow"
        :optionsHeader="optionsContextHeader"
        inTable
        > 
        <template #statusVehicle="row">
          <div class="flex">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial" :class="classStatus(row.statusVehicle)">
              {{ row.statusVehicle }}
            </span>
          </div>
        </template>

        <template #accidentDate="row">
          <span>{{ row.accidentDate | date }}</span>
        </template>
        
        <template #allServices="row">
          <p v-if="row.allServices">
            <CellToolTip :maxLength="17" v-model="row.allServices" />
          </p>
        </template>
      </custom-table>
    </table-card>

    <!-- VEHICLE MAINTENANCE FORM-->
    <Drawer
      v-if="maintenanceDrawerVisibility"
      :title="titleMaintenanceDrawer" 
      :visibility="maintenanceDrawerVisibility" 
    >
      <template v-slot:drawerContent>
        <div class="p-5">
          <MaintenanceForm
            :key="componentKey"
            :vehicleList="vehicleListSelect"
            :additionalField="additionalField"
            :formFields="maintenanceFormFields"
            :reminders="maintenanceReminders"
            :documents="maintenanceDocuments"
            :createdDocuments="createdMaintenanceDocuments"
            :deletedDocuments="deletedMaintenanceDocuments"
            ref="maintenanceForm"
            @update-vehicle-selected="updateVehicleSelected"
          />
        </div>
      </template>
      <template v-slot:drawerfooter-end>
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
              :clickHandler="handleMaintenanceCancel"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Cancel
            </ButtonWrapper>
            <ButtonWrapper
              data-cy="or-create-btn"
              type="primary"
              :clickHandler="saveMaintenanceData"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              {{ formMaintenanceAction }}
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer>

    <!-- EXPORT DIALOG -->
    <el-dialog
      title="Export Maintenance Records"
      :show-close="true"
      :center="true"
      :visible.sync="showExportDialog"
      width="450px"
    >
      <ExportDialog
        :modal="true"
        :statusChecked="statusChecked"
        :number="totalExportsRecords"
        @export-action="csvExportMethod()"
        @close-dialog="showExportDialog = false"
      >
        <template v-if="totalExportsRecords > 0">
          <p class="text-center break-normal mb-4">
            Hera will export {{ totalExportsRecords }} {{ titleExport }}.
          </p>
          <el-table
            :data="this.statusChecked"
            header-cell-class-name="table-header-cell"
            class="data-table"
          >
            <el-table-column label="Type" prop="name">
              <template slot-scope="scope">
                <span class="pl-2">{{ scope.row.name }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Filters Applied" prop="value">
              <template slot-scope="scope">
                <span class="pl-2" v-for="filter in scope.row.value" :key="filter">{{ filter }}<br/></span>
              </template>
            </el-table-column>
          </el-table>
        </template>
        <template v-else>
          <p class="text-center break-normal mb-4">
            Hera doesn't have any Maintenance Records to export.
          </p>
        </template>
      </ExportDialog>
    </el-dialog>
  </div>
</template>
<script>
import { vehiclesByGroupMaintenance } from "@/views/Vehicles/queries";
import { createVehicleMaintenanceReminder, deleteVehicleMaintenanceReminder, createAccident, updateAccident, createDocument, deleteDocument,createVehicleStatus, updateVehicle } from "@/graphql/mutations";
import { getAccidentUpdatedTimestamp } from "@/utilities/timestampQueries";
import { getAccident } from "./queries";
import { Storage } from "aws-amplify";
import { mapState, mapGetters, mapMutations } from "vuex";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import MaintenanceForm from "./components/Maintenance/MaintenanceForm";
import ExportDialog from "@/components/ExportDialog";
import { exportCSV } from "@/utilities/exportCSV";
import CellToolTip from "@/components/CellToolTip";
import TabCard from "@/components/TableCard/TabCard";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import { sortByName } from "@/utilities/sortHelper";
import { isInRange, calculateRange } from '@/utilities/dateRangeCalculator';
import Drawer from "@/components/shared/Drawer/Drawer"
import {confirmChangeStatusVehicle} from "@/scripts/createStatusMaintenance"
import ButtonWrapper from "@/components/shared/ButtonWrapper/ButtonWrapper";
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
  name: "VehicleMaintenance",
  components: {
    MaintenanceForm,
    SingleSelectFilter,
    MultiSelectFilter,
    CounterFilter,
    ExportDialog,
    CellToolTip,
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    TabCard,
    Drawer,
    ButtonWrapper,
    ButtonGroupWrapper,
  },
  props: ["addReminder"],
  data() {
    return {
      titleMaintenanceDrawer: "Add Vehicle Maintenance Record",
      tableData: [],
      originalTableData: [],
      loading: false,
      vehicleSearch: "",
      filterStatus: null,
      nextToken: null,
      numberOfReminders: 0,
      status: {
        Pending: 0,
        Completed: 1,
      },
      reminderModalOpen: false,
      titleFormMaintenance: "",
      formMaintenanceAction: "Create",
      reminderFormFields: {},
      vehicleList: [],
      initialLoad: true,
      addingReminder: false,

      checkAllStatus: false,
      statusChecked: [
        { name: "Vehicle Status", value: [] },
        { name: "Maintenance Status", value: [], },
        { name: "Date", value: [] },
      ],
      dateRange: [],
      maintenanceFormFields: {
        location: null,
        services: [],
        accidentDate: null,
        maintenanceStatus: null,
        mileage: null,
        vehicleId: null,
        vehicle: null,
        accidentVehicleId: null,
        notes: null,
      },
      maintenanceReminders: [],
      maintenanceDocuments: [],
      createdMaintenanceDocuments: [],
      deletedMaintenanceDocuments: [],

      additionalField: true,
      maintenanceDrawerVisibility:false,

      selectedDate: "last 2 weeks",
      optionsDates: [
        { value: "all dates", label: "All Dates", selected: false },
        { value: "current week", label: "Current Week", selected: false },
        { value: "last week", label: "Last Week", selected: false },
        { value: "last 2 weeks", label: "Last 2 Weeks", selected: true },
        { value: "last 3 weeks", label: "Last 3 Weeks", selected: false },
        { value: "previous month", label: "Previous Month", selected: false },
        { value: "last 30 days", label: "Last 30 Days", selected: false },
        { value: "last 60 days", label: "Last 60 Days", selected: false },
        { value: "last 90 days", label: "Last 90 Days", selected: false },
        { value: "current year", label: "Current Year", selected: false },
        { value: "last year", label: "Last Year", selected: false },
      ],
      filterDates: ["Last 2 Weeks"],

      checkAllMaintenance: true,
      uncheckAllMaintenance: false,
      optionsMaintenance: [],
      filterMaintenance: [],

      checkAllVehicles: false,
      uncheckAllVehicles: false,
      optionsVehicle: [],
      filterVehicle: [],

      countFilters: 1,

      detailServices: false,

      showExportDialog: false,

      vehicleListSelect: [],

      filter: [],

      componentKey: 0,

      cols: [
        { name: "Vehicle Name", col: "name", fixed: false, width: "200", sortable: true,  sortMethod: sortByName },
        { name: "Vehicle Status", col: "statusVehicle", fixed: false, width: "200", sortable: true, sortMethod: this.sortByStatus },
        { name: "Date", col: "accidentDate", fixed: false, width: "150", sortable: true, sortMethod: this.sortByAccidentDate },
        { name: "Location", col: "location", fixed: false, width: "200", sortable: true, sortMethod: this.sortByLocation },
        { name: "Services", col: "allServices", fixed: false, width: "200", sortable: true, sortMethod: this.sortByServices },
        { name: "Maintenance Status", col: "maintenanceStatus", fixed: false, width: "200", sortable: true, sortMethod: this.sortByMaintenanceStatus },
      ],

      optionsContextHeader: [
        { label: "Export as CSV", action: "exportCSV", divided: false },
      ],

      optionsContextRow: [
        { label: "View Vehicle", action: "view", divided: false },
        { label: "Add Vehicle Maintenance Record", action: "add", divided: false },
        { label: "View & Edit Maintenance Record", action: "edit", divided: false }
      ],

      optionContextGroup: [
        { 
          index: 0,
          label: "",
          options: [
            { label: 'Select none (clear selection)', action: "unselect", disabled: false }, 
            { label: 'Select all', action: 'select', disabled: false },
          ],
          divided: false, 
          disabled: false
        },
        {  
          index: 1,
          label: "Status",
          options: [
            { label: 'Send message to selected', action: "send-message" }, 
            { label: 'Set status as "One Time"', action: 'set-status' },
          ],
          divided: false, 
          disabled: true
        },
        { 
          index: 2,
          options: [
            { label: 'Delete selected', action: "delete" }, 
          ],
          divided: false, 
          disabled: false
        },
      ],

      tabs: [
        { label: "Routes", path: "routes", key: "routes" },
        { label: "Vehicles", path: "vehicles", key: "vehicles" },
        { label: "Delivery Associates", path: "da", key: "da" },
      ],

      totalVehicles: 0,
      statusVehicleForm: {
          newStatus: '',
          date: null,
          vehicle: null,
          statusChangeReason: ''
      },
      vehicleSelect:{
        name:'',
        status:'',
        vehicle:null
      }
    };
  },

  created() {
    this.loadFilters()
    this.loadData()
    this.maintenanceFormModalOpen = this.$route.params?.addMaintenanceRecord ? true : false;
    this.maintenanceDrawerVisibility = this.$route.params?.addMaintenanceRecord ? true : false;
  },

  watch: {
    vehicleSearch(next, prev) {
      this.reloadData();
    }
  },

  computed: {
    ...mapState(["userInfo","valuelists"]),

    ...mapGetters([
      "getFilterStatusVehicleMaintenance",
      "getFilterMaintStatusVehicleMaintenance",
      "getFilterDateVehicleMaintenance"
    ]),

    getResumeFilters() {
      const filtersVehicle =
        this.filterVehicle.length === this.optionsVehicle.length ? 0 : 1;
      const filtersMaintenance =
        this.filterMaintenance.length === this.optionsMaintenance.length
          ? 0
          : 1;
      const filterDates = this.selectedDate === "all dates" ? 0 : 1;
      const total = filtersVehicle + filtersMaintenance + filterDates;
      return total; 
    },

    totalExportsRecords() {
      return this.tableData.length
    },

    titleExport() {
      const title =
        this.totalExportsRecords > 1
          ? " Maintenance Records"
          : "Maintenance Record";
      return title;
    },

  },

  methods: {

    ...mapMutations([
      "setFilterStatusVehicleMaintenance",
      "setFilterMaintStatusVehicleMaintenance",
      "setFilterDateVehicleMaintenance"
    ]),

    classStatus(status) {
      return {
        'bg-red-500 text-red-600' : status?.toLowerCase().includes('inactive'), 
        'bg-green-500 text-green-600' : status?.includes('Active'), 
      }
    },

    loadFilters(){
      this.optionsVehicle = this.valueListActivesOnly(this.valuelists['vehicle-status'].items).map(item => item.value)
  
      this.optionsMaintenance = this.valueListActivesOnly(this.valuelists['maintenance-status'].items).map(item => item.value)

      if(this.getFilterStatusVehicleMaintenance.length === 0){
        this.setFilterStatusVehicleMaintenance(['Active'])
      }
      if(this.getFilterMaintStatusVehicleMaintenance.length === 0){
        this.setFilterMaintStatusVehicleMaintenance(this.optionsMaintenance)
      }
      if(this.getFilterDateVehicleMaintenance === ''){
        this.setFilterDateVehicleMaintenance(this.selectedDate)
      }

      this.filterVehicle = this.getFilterStatusVehicleMaintenance
      this.filterMaintenance =  this.getFilterMaintStatusVehicleMaintenance
      this.selectedDate = this.getFilterDateVehicleMaintenance
    },

    async loadData() {
      this.loading = true;
      const input = { group: this.userInfo.tenant.group };
      try {
        const vehicles = await this.gLoadListAll(vehiclesByGroupMaintenance, input, "vehiclesByGroup");
        let vehicleMaintenanceRecords = [];
        //format data
        vehicles.forEach((vehicle) => {
          const { maintenanceRecords } = vehicle;
          maintenanceRecords.items.forEach((item) => {
            vehicleMaintenanceRecords.push({
              id: item.id,
              vehicleId: vehicle.id,
              vehicle: vehicle,
              name: vehicle.name,
              statusVehicle: vehicle.status,
              accidentDate: item.accidentDate,
              location: item.location,
              allServices: item.services.join(", "),
              maintenanceStatus: item.maintenanceStatus,
            });
          })
        })
        
        this.vehicleListSelect = vehicles.map((vehicle) => {
          return {
            id: vehicle.id,
            label: vehicle.name,
            name: vehicle.name,
            value: vehicle.id,
            status: vehicle.status
          };
        });

        this.tableData = this.cleanVehiclesStatusInvalid(vehicleMaintenanceRecords);
        this.originalTableData =  this.tableData
        this.totalVehicles = this.tableData.length;

        this.getFilteredRecords(
          this.tableData,
          this.vehicleSearch,
          this.filterVehicle,
          this.filterMaintenance
        )
      } catch (error) {
        console.log({ error });
      } finally {
        this.loading = false;
      }
    },

    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    },

    reloadData() {
      this.getFilteredRecords(
        this.originalTableData,
        this.vehicleSearch,
        this.filterVehicle,
        this.filterMaintenance
      )
    },

    sortByAccidentDate(a,b){
      return new Date(b.accidentDate) - new Date(a.accidentDate);
    },

    sortByStatus(a,b){
      return a.statusVehicle.toLowerCase().localeCompare(b.statusVehicle.toLowerCase());
    },

    sortByLocation(a,b){
      return a.location.toLowerCase().localeCompare(b.location.toLowerCase());
    },

    sortByServices(a,b){
      return a.allServices.toLowerCase().localeCompare(b.allServices.toLowerCase());
    },

    sortByMaintenanceStatus(a,b){
      return a.maintenanceStatus.toLowerCase().localeCompare(b.maintenanceStatus.toLowerCase());
    },

    searchData(e) {
      this.vehicleSearch = e;
    },

    csvExportMethod() {
      const fileName = `Maitenance Records-${this.$moment().format(
        "MM/DD/YYYY"
      )}.csv`;
      const arrData = this.exportsRecords()
      exportCSV({ arrData, fileName})
      this.showExportDialog = false;
    },

    exportsRecords() {
      let arrData = []
      this.tableData.forEach((row, index) => {
        arrData[index] = {
          "NAME": row.name,
          "VEHICLE STATUS": row.statusVehicle,
          "MAINTENANCE DATE": this.$moment(row.accidentDate).format("MM/DD/YYYY"),
          "LOCATION": row.location,
          "MAINTENANCE STATUS": row.maintenanceStatus,
          "SERVICES": `"${row.allServices}"`,
        }    
      })
      return arrData
    },

    getFilteredRecords( data = [], keyword = null, primaryFilters = [], secondaryFilters = [] ) {
      if (data.length === 0) return data;

      if ( !keyword && primaryFilters.length === 0 && secondaryFilters.length === 0 ) return data;
      const originalData = [...data];

      let filteredData = [];
      filteredData = this.filterByVehicle( originalData, primaryFilters );
      
      const dataSubFilterMaintenance = [ ...filteredData ];
      filteredData = this.filterByMaintenance( dataSubFilterMaintenance, secondaryFilters );
      
      const dataSubFilterDate = [...filteredData];
      filteredData = this.selectedDate === "all dates" ? dataSubFilterDate : this.filterByDate(dataSubFilterDate, this.selectedDate);  
      const filterSearchData = [ ...filteredData ];
      filteredData = this.filteredRows( filterSearchData, this.vehicleSearch );
      
      this.tableData = filteredData
    },
            
    filterByVehicle(data, filters = []) {
      if (filters.length === 0) return []
      return data.filter( obj => filters.includes(obj.statusVehicle))
    },

    filterByMaintenance(data, filters = []) {
      if (filters.length === 0) return [];
      return data.filter( obj => filters.includes(obj.maintenanceStatus))
    },

    cleanVehiclesStatusInvalid( allVehicles=[] ) {
      const statusValid = [ "Active", "Inactive", "Inactive - Grounded", "Inactive - Maintenance" ];
      return allVehicles.filter( ({ statusVehicle }) => statusValid.includes( statusVehicle ) );
    },

    filterByDate(data, filterDate) {
      const dataClone = [...data];
      if(filterDate == 'all dates') return dataClone;
      const [dateStart, dateEnd] = calculateRange(filterDate);
      let dataFiltered = [];
      dataFiltered = dataClone.filter((row) => {
        const { accidentDate } = row
        if(!accidentDate) return false
        return isInRange(dateStart, dateEnd, accidentDate)
      })
      return dataFiltered
    },

    updateOptions(e) {
      this.optionsDates = e.options;
      this.selectedDate = e.currentFilter;
      this.setFilterDateVehicleMaintenance(this.selectedDate)
      this.reloadData()
    },

    updateFilters(e) {
      const { type, filters } = e;

      const actions = {
        vehicle: () => {
          this.filterVehicle = filters;
          this.setFilterStatusVehicleMaintenance(filters);
        },
        maintenance: () => {
          this.filterMaintenance = filters;
          this.setFilterMaintStatusVehicleMaintenance(filters);
        },
        default: () => {
          this.filterVehicle = filters;
        },
      };
      actions[type]();
      this.reloadData()
    },

    handleCommand(payload) {
      const { row, action } = payload;
      const actions = {
        view: () => {
          const { vehicleId } = row
          this.showDetailVehicle(vehicleId)
        },

        add: () => {
          this.titleFormMaintenance = `Add Maintenance Record for Vehicle: ${row.name}`
          this.titleMaintenanceDrawer = "Add Vehicle Maintenance Record"
          this.formMaintenanceAction = "Create";
          this.vehicleSelect.name = row.name
          this.vehicleSelect.status = row.statusVehicle
          this.vehicleSelect.vehicle = row.vehicle
          this.showNewRecord(row);
        },

        edit: () => {
          this.titleFormMaintenance =  "Edit Vehicle Maintenance Report"
          this.titleMaintenanceDrawer = "View & Edit Maintenance Record"
          this.formMaintenanceAction = "Update";
          this.vehicleSelect.name = row.name
          this.vehicleSelect.status = row.statusVehicle
          this.vehicleSelect.vehicle = row.vehicle
          this.showEditRecord(row);
        },

        exportCSV: () => {  
          this.statusChecked[0].value = this.filterVehicle
          this.statusChecked[1].value = this.filterMaintenance
          this.statusChecked[2].value = [this.capitalize(this.selectedDate)]
          this.showExportDialog = true
        },
      };
      return actions[action]();
    },

    showDetailVehicle(id) {
      this.$router.push({ name: "VehicleDetail", params: { id } });
    },

    showNewRecord({ vehicleId }) {
      this.maintenanceFormModalOpen = true;
      this.maintenanceDrawerVisibility=true
      this.additionalField = false;
      this.setVehicleMaintenance(vehicleId);
      this.setRemindersAndDocuments();
    },

    setRemindersAndDocuments() {
      this.maintenanceReminders = [];
      this.maintenanceDocuments = [];
      this.createdMaintenanceDocuments = [];
      this.deletedMaintenanceDocuments = [];
    },

    setVehicleMaintenance(id) {
      const newParameters = {
        ...this.maintenanceFormFields,
        group: this.$store.state.userInfo.tenant.group,
        vehicleId: id,
        accidentVehicleId: id,
        vehicleHistoryType: "Maintenance",
      };
      this.maintenanceFormFields = newParameters;
    },

    resetFormMaintenance() {
      this.maintenanceFormFields = {
        location: null,
        services: [],
        accidentDate: null,
        maintenanceStatus: null,
        mileage: null,
        accidentVehicleId: null,
        vehicleId: null,
        notes: null,
      };
    },
    resetStatusVehicleForm(){
      this.vehicleSelect = {
        name:'',
        status:'',
        vehicle:null
      }
      this.statusVehicleForm = {
          newStatus: '',
          date: null,
          vehicle: null,
          statusChangeReason: ''
      }
    },
    async getAccidentDetail(input) {
      const result = await this.api(getAccident, input);
      const accident = result.data.getAccident;
      return accident;
    },

    setdocumentURLToNull: function (documents) {
      documents.forEach(async (document) => {
        document.url = null;
        document.markedForDeletion = false;
      });
      return documents;
    },

    async showEditRecord(row) {
      this.additionalField = false;
      const { id: idAccident } = row;
      const input = { id: idAccident };

      const accident = await this.getAccidentDetail(input);

      const {
        id,
        vehicleId,
        services,
        location,
        maintenanceStatus,
        accidentDate,
        vehicleHistoryType,
        mileage,
        updatedAt,
        notes,
      } = accident;

      const accidentUpdated = {
        id,
        vehicleId,
        services,
        location,
        maintenanceStatus,
        accidentDate,
        vehicleHistoryType,
        mileage,
        updatedAt,
        notes,
      };

      this.maintenanceFormFields = accidentUpdated;

      const documents = await this.setdocumentURLToNull(
        accident.maintenanceDocuments.items
      );
      this.createdMaintenanceDocuments = [...documents];
      this.maintenanceDrawerVisibility = true;
    },

    handleFilterStatus(status) {
      this.filterStatus = status;
    },

    handleReminderCancel() {
      //Causes validator errors
      this.$refs.reminderForm.$refs.form.resetFields();
      this.$refs.reminderForm.$refs.form.clearValidate();
      this.$refs.reminderForm.inputServiceVisible = false;
      this.$refs.reminderForm.inputSerivceValue = "";
      this.$refs.reminderForm.adding = false;
      this.reminderModalOpen = false;
    },

    handleMaintenanceCancel() {
      this.$refs.maintenanceForm.$refs.form.clearValidate();
      this.maintenanceDrawerVisibility = false;
      this.componentKey--;
      this.resetFormMaintenance();
      this.resetStatusVehicleForm();
      this.setRemindersAndDocuments();
    },

    async createDocument(accidentID, document, vehicleID, pathType) {
      try {
        var path = document.path;
        var fileType = document.fileType;
        var fileName = document.fileName;
        var timestamp = String(Date.now());
        var object = await Storage.put(
          this.cleanQueryPayload(
          this.userInfo.tenant.group +
            "/vehicle/" +
            vehicleID.toLowerCase() +
            `/${pathType}/` +
            accidentID.toLowerCase() +
            path +
            timestamp +
            "/" +
            fileName),
          document.file
        );

        var input = {
          group: this.userInfo.tenant.group,
          uploadDate: timestamp,
          name: fileName,
          type: fileType,
          key: object.key,
        };

        if (pathType == "vehicle-maintenance") {
          input.documentMaintenanceId = accidentID;
        }

        var result = await this.api(createDocument, { input: input });
        return result;
      } catch (e) {
        console.log("error", e);
        this.displayUserError(e);
        throw e;
      }
    },

    async saveMaintenanceData() {
      try {
        this.loading = true
        this.maintenanceFormFields.vehicle = this.vehicleListSelect.find(obj => obj.id == this.maintenanceFormFields.vehicleId)
        var reminderIDs = [];
        var documentIDs = [];
        const { id: accidentId, vehicleId } = this.maintenanceFormFields;
        var vehicleMaintenanceID = accidentId;

        var recordNeedsUpdated = accidentId ? true : false;
        
        try {
          await this.$refs.maintenanceForm.$refs.form.validate();
        } catch (error) {
          throw new Error("Please fill out all required fields and correct any errors.");
        }

        if (recordNeedsUpdated) {
          var timestampResult = await this.api(getAccidentUpdatedTimestamp, {
            id: accidentId,
          });
          if (!timestampResult.data.getAccident) {
            throw "Vehicle maintenance is missing or deleted by another user.";
          }
          var timestamp = timestampResult.data.getAccident.updatedAt;
          if (this.maintenanceFormFields.updatedAt != timestamp) {
            throw "Record was updated by another user. Please copy any changes and refresh the page.";
          }
        }

        if (this.maintenanceReminders.length > 0) {
          reminderIDs = this.registerReminders();
        }

        var input = { ...this.maintenanceFormFields };
        input.accidentMaintenanceVehicleId =
          this.maintenanceFormFields.vehicleId;
        input.mileage = this.cleanMileage(input.mileage);
        this.cleanAccidentInput(input);

        if (!recordNeedsUpdated) {
          const result = await this.api(createAccident, { input });
          var vehicleMaintenance = result.data.createAccident;
          var vehicleMaintenanceID = vehicleMaintenance.id;
        }

        if (this.maintenanceDocuments.length > 0) {
          documentIDs = await this.registerDocuments(vehicleMaintenanceID, vehicleId);
        }

        if (this.deletedMaintenanceDocuments.length > 0) {
          await this.deleteDocuments();
        }

        if (recordNeedsUpdated) {
          await this.api(updateAccident, { input });
        }

        if(!this.vehicleSelect.vehicle) {
          this.vehicleSelect.name = this.maintenanceFormFields.vehicle.name
          this.vehicleSelect.status = this.maintenanceFormFields.vehicle.status
          this.vehicleSelect.vehicle = this.maintenanceFormFields.vehicle
        }

        const response = await confirmChangeStatusVehicle(this.vehicleSelect,this.maintenanceFormFields);

        if(response.valueConfirmChangeStatusVehicle){
          this.statusVehicleForm.newStatus = (response.opc === 1) ? 'Inactive - Maintenance' : 'Active';
          this.statusVehicleForm.date = new Date();
          this.statusVehicleForm.statusChangeReason = (response.opc === 1) ? 'Opened Maintenance Record' : 'Completed Maintenance Record';
          this.statusVehicleForm.vehicle = this.vehicleSelect
          await this.updateStatus();
        }

        this.$refs.maintenanceForm.$refs.form.clearValidate();
        this.maintenanceDrawerVisibility = false;

        this.resetFormMaintenance();
        this.resetStatusVehicleForm();
        this.setRemindersAndDocuments();

        this.loadData();
        this.componentKey++;
      } catch (e) {
        const { id: accidentId } = this.maintenanceFormFields;
        if (e == false) {
          e = "Please fill out all required fields and correct any errors.";
        }

        if (recordNeedsUpdated) {
          this.deleteRelatedAccidentData(
            reminderIDs,
            documentIDs,
            null,
            null,
            null
          );
        } else {
          this.deleteRelatedAccidentData(
            reminderIDs,
            documentIDs,
            accidentId,
            null,
            null
          );
        }

        this.displayUserError(e);
      } finally {
        this.loading = false;
      }
    },
    async updateStatus() {
      try{
        var input = {
            reason: this.statusVehicleForm.statusChangeReason,
            previousStatus: this.statusVehicleForm.vehicle.statusVehicle,
            date: this.statusVehicleForm.date,
            currentStatus: this.statusVehicleForm.newStatus,
            vehicleStatusVehicleId: this.statusVehicleForm.vehicle.id,
            group: this.$store.state.userInfo.tenant.group
        }

        await this.api(createVehicleStatus, {input})

        var input = {
            id: this.vehicleSelect.vehicle.id,
            status: this.statusVehicleForm.newStatus,
            updatedAt: this.statusVehicleForm.date,
        }

        await this.api(updateVehicle, {input})
        this.loadData()
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },
    async deleteRelatedAccidentData( reminders, documents, accidentID, counselingID, infractionID) {
      //Delete Reminders
      if (reminders.length > 0) {
        reminders.forEach((reminderID) => {
          this.api(deleteVehicleMaintenanceReminder, {
            input: { id: reminderID },
          });
        });
      }

      if (documents.length > 0) {
        documents.forEach((documentID) => {
          this.api(deleteDocument, { input: { id: documentID } });
        });
      }

      if (accidentID) {
        this.api(deleteAccident, { input: { id: accidentID } });
      }

      if (counselingID) {
        this.api(deleteCounseling, { input: { id: counselingID } });
      }

      if (infractionID) {
        this.api(deleteInfraction, { input: { id: infractionID } });
      }
    },

    async registerReminders() {
      const reminderIDs = [];
      const reminders = [...this.maintenanceReminders];
      const { vehicleId } = this.maintenanceFormFields;
      for (const [index, maintenanceReminder] of reminders.entries()) {
        //Validate reminder
        await this.$refs.maintenanceForm.$refs.reminder[
          index
        ].$refs.form.validate();

        //Create input object
        const input = {
          ...maintenanceReminder,
          vehicleId,
          vehicleMaintenanceReminderVehicleId: vehicleId,
        };

        //Save dueBySort to object
        if (input.dueByMileage) {
          input.dueByMileage = this.cleanMileage(input.dueByMileage);
          input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage));
        }
        if (!input.dueByMileage) {
          input.dueBySort = new Date(input.dueByDate).getTime() / 1000000;
        }

        input.status = "Pending";

        //Create Reminder
        const reminder = await this.api(createVehicleMaintenanceReminder, {
          input,
        });
        var reminderID = reminder.data.createVehicleMaintenanceReminder.id;
        reminderIDs.push(reminderID);
      }

      return reminderIDs;
    },

    async registerDocuments(vehicleMaintenanceID, vehicleId) {
      const documentIDs = [];
      const documents = [...this.maintenanceDocuments];
      for (const maintenanceDoc of documents) {
        var documentRecord = await this.createDocument(
          vehicleMaintenanceID,
          maintenanceDoc,
          vehicleId,
          "vehicle-maintenance"
        );
        var documentID = documentRecord.data.createDocument.id;
        documentIDs.push(documentID);
      }
      return documentIDs;
    },

    async deleteDocuments() {
      for (const maintenanceDoc of this.deletedMaintenanceDocuments) {
        await Storage.remove(maintenanceDoc.key);
        await this.api(deleteDocument, { input: { id: maintenanceDoc.id } });
      }
    },

    updateVehicleSelected(e) {
      const id = e.vehicleID;
      this.setVehicleMaintenance(id);
    },

    handleSelectOption( payload ) {
      console.log("payload", payload);
    },

    filteredRows( array, keyword) {
      const rowsFiltered = !keyword ? array : this.filterArray(array, keyword, this.filter);
      return rowsFiltered;
    }
  },
};
</script>
<style lang="scss" scoped>
.context-menu {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
}
</style>
