@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Muli');

.gv-Main {
    background: linear-gradient(rgba(19, 76, 127, 0.6), rgba(0, 0, 0, 1)), url(/FloorView_images/login_bg.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100vw;
    padding-top: 5%;
    padding-bottom: 1%;
    font-family: 'Muli', serif;

    min-height: 100%;
    height:100vh;
    overflow: hidden auto;

    /* Set up proportionate scaling */
    width: 100%;

    top: 0;
    left: 0;

}

.react-countdown-clock {
    position:absolute;
    top:0;
    right:4%;

}

