.promotional-banner {
  .ant-upload-list-picture-card-container {
    display: inline-block;
    width: 100%;
    height: 370px;
    margin: 0px;
    background-color: #ebebeb;
    border-radius: 10px;
    vertical-align: top;
    .ant-upload-list-item {
      margin: 0px !important;
      .ant-upload-list-item-actions {
        .anticon {
          font-size: 28px;
          margin: 0 20px;
        }
      }
    }
  }
  .ant-upload.ant-upload-select-picture-card {
    width: 100%;
    height: 370px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: top;
    background-color: #ebebeb;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    .promotional-text {
      display: grid;
      .anticon-plus {
        background-color: #dbdbdb;
        width: 100px;
        height: 100px;
        margin: auto;
        border-radius: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 30px;
        justify-content: center;
        color: #888888;
      }
      .promotional-info {
        color: #292929;
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}
