<template>
    <el-form label-width="120px" :rules="rules" :model="formFields" ref="form" >
        <el-form-item label="First Name" prop="firstName">
            <el-input v-model="formFields.firstName"></el-input>
        </el-form-item>
        <el-form-item label="Last Name" prop="lastName">
            <el-input v-model="formFields.lastName"></el-input>
        </el-form-item>
        <el-form-item label="Phone" prop="phone">
            <el-input v-model="formFields.phone"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
            <el-input v-model="formFields.email"></el-input>
        </el-form-item>
        <el-form-item label="Role" prop="role">
            <el-select v-model="formFields.role" placeholder="Role">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
            <el-tooltip class="item" effect="dark" placement="top-start" width="100px">
                <div slot="content">
                    <div class="mb-2">Admin: Access to all of Hera</div>
                    <div class="mb-2">Dispatcher: Excludes access to settings</div>
                    <div class="mb-2">Supervisor: Excludes access to settings and accident information </div>
                    <div>Team Lead: Excludes access to settings, accident, medical, and OSHA information</div>
                </div>
                <div class="text-gray-700 text-xs inline ml-4"><i class="uil uil-question-circle text-base"></i></div>
            </el-tooltip>
        </el-form-item>
    </el-form>
</template>

<script>
export default {
    props:['formFields', 'rules'],
    name: 'FieldAssessmentsForm',
    data(){
        return{
            options: [
                {
                    value: 'admin',
                    label: 'Admin'
                },
                {
                    value: 'dispatcher',
                    label: 'Dispatcher'
                },
                {
                    value: 'supervisor',
                    label: 'Supervisor'
                },
                {
                    value: 'teamlead',
                    label: 'Team Lead'
                }
            ]
        }
    }
}
</script>