<template>
  <div>

    <!--HEADER-->
    <div class="flex justify-between">
      <div>
        <p class="text-gray-600 text-base font-bold">Field Assessments</p>
      </div>
      <!-- <div class="flex space-x-2 items-center">
        <el-button size="small" type="primary" @click="openNewUserModal">Add User</el-button>        
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div> -->
    </div>  


    <!--USER TABLE-->
    <el-table
      ref="table"
      class="automated-coaching-table automated-coaching-table-header"
      empty-text="No Field Assessments - Feature Coming Soon"
      :data="filterArray( users, search )">
        
        <el-table-column
          label="First Name"
          sortable
          prop="firstName">
        </el-table-column>

        <el-table-column
          label="Last Name"
          sortable
          prop="lastName">
        </el-table-column>

        <el-table-column
          label="Phone"
          sortable
          min-width="130"
          prop="phone">
          <template slot-scope="scope">
            {{scope.row.phone | phone}}
          </template>
        </el-table-column>

        <el-table-column
          label="Key Focus Area"
          sortable
          min-width="150"
          prop="keyFocusArea">
        </el-table-column>
        
        <el-table-column
          :label="`${$t('label.associate')} Status`"
          sortable
          min-width="160"
          prop="status">
        </el-table-column>

    </el-table>

    <p class="mt-4">{{ users.length }} Total Field Assessments</p>


    <!--NEW USER MODAL-->
    <el-dialog
      title="Add User"
      :visible.sync="userModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <CheckRidesForm :formFields="newUserData" :rules="rules" ref="newCheckRidesForm"  v-loading="loading"/>

      <span slot="footer" class="dialog-footer">
        <el-button @click="userModalOpen = false" :disabled="loading" >Cancel</el-button>
        <el-button type="primary" @click="createUser" :disabled="loading" >Confirm</el-button>
      </span>
    </el-dialog>


    <!--EDIT USER MODAL-->
    <el-dialog
      title="Edit User"
      :visible.sync="editUserModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <FieldAssessmentsForm :formFields="editUserData" :rules="rules" ref="editCheckRidesForm" v-loading="loading"/>

      <span slot="footer" class="dialog-footer">
        <el-button class="float-left" type="danger" @click="confirmDeleteUser" :disabled="loading">Delete</el-button>
        <el-button @click="editUserModalOpen = false" :disabled="loading" >Cancel</el-button>
        <el-button type="primary" @click="updateUser" :disabled="loading" >Update</el-button>
      </span>
    </el-dialog>
  
  </div>

</template>

<script>

import FieldAssessmentsForm from './FieldAssessmentsForm'
import { createUser, updateUser, deleteUser } from '@/graphql/mutations'

import { Auth, API } from 'aws-amplify';

  export default {
    components: { FieldAssessmentsForm },
    props: ['users', 'tenantId', 'group'],
    name: "FieldAssessmentsList",
    data() {
      return {
        userModalOpen: false,
        search: '',
        loading: false,
        newUserData:{
        },
        editPrevRole: '',
        editPrevEmail: '',
        editUserModalOpen: false,
        editUserData:{},
        rules: {
          firstName: [
            { required: true, message: 'First Name is required', trigger: 'blur' },
          ],
          lastName: [
            { required: true, message: 'Last Name is required', trigger: 'blur' },
          ],
          email: [
            { required: true, message: 'Email is required', trigger: 'blur' },
          ],
          role: [
            { required: true, message: 'Role is required', trigger: 'blur' },
          ],
        }
      }
    },

    methods: {


      /** 
       * Create creates cognito user, adds user to tenant
       * group, adds user to DB */
      async createUser(){
        this.loading = true
        // validate form
        try {
          this.$refs.newCheckRidesForm.$refs.form.validate((valid) => {
            if (!valid) {
              throw{
                  errors: [
                    { message: "Please fill out all required fields."}
                  ]
              }
            }
          })
        }
        catch(e) {
          console.log(e)
          this.loading = false
          this.displayUserError(e)        
          return
        }

        // check for existing user
        try{
          var cognitoUser = await this.getCognitoUser(this.newUserData.email.toLowerCase())
          var enabled = cognitoUser.Enabled
          if(enabled){
            throw{
              errors: [
                { message: "User already exists with provided email"}
                  ]
              }
          }
        }
        catch(e) {
          console.log(e)
          
          // ignore user doesn't exist error in response
          if(e.errors){
            this.displayUserError(e)
            this.loading = false
            return // only return if user exists
          }       
        }
        
        try{
          // Create DB record
          var input = {
            ...this.newUserData,
            userTenantId: this.tenantId,
            group: [
              this.group,
              'admin'
            ]
          }          
          var lowerEmail = input.email.toLowerCase()
          input.email = lowerEmail
          var result = await this.api(createUser, {input: input})
          var userId = result.data.createUser.id
        
          // create cognito user
          cognitoUser = await this.createCognitoUser(lowerEmail, userId)

          // Add user to group
          var addToGroup = await this.addUserToCognitoGroup(lowerEmail, this.group)
          if(this.newUserData.role.toLowerCase() == 'admin'){
            addToGroup = await this.addUserToCognitoGroup(lowerEmail, 'admin')
          }

          // get cognito user's sub
          cognitoUser = await this.getCognitoUser(lowerEmail)
          var sub = cognitoUser.UserAttributes.find((attr) => {
            return attr.Name == "sub"
          }).Value

          // update db record with cognito sub
          input = {
            id: userId,
            cognitoSub: sub,
            group: [
              this.group,
              'system_admin'
            ]
          }    
          result = await this.api(updateUser, {input: input})

          //Clean up app state
          this.userModalOpen = false
          this.$emit('loadData')
          this.loading = false
        } 
        catch (e) {
          console.log(e)
          this.loading = false
          this.displayUserError(e)        
        }
      },


      /** 
       * Create creates cognito user, adds user to tenant
       * group, adds user to DB */
      async updateUserAttributes(username, attributes){
        let apiName = 'AdminQueries';
        let path = '/updateUser';
        let post = {
            body: {
              "username": username,
              "attributes": attributes 
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        return result
      },


      /** 
       * Creates a new cognito user
       * @param {string} username 
       * */
      async createCognitoUser(username, userId){
        let apiName = 'AdminQueries';
        let path = '/createUser';
        let post = {
            body: {
              "username": username,
              "userId": userId
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        return result
      },

      /** 
       * Disables a cognito user
       * @param {string} username 
       * */
      async disableCognitoUser(username){
        let apiName = 'AdminQueries';
        let path = '/disableUser';
        let post = {
            body: {
              "username": username,
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        return result
      },

      /** 
       * Deletes a cognito user
       * @param {string} username 
       * */
      async deleteCognitoUser(username){
        let apiName = 'AdminQueries';
        let path = '/deleteUser';
        let post = {
            body: {
              "username": username,
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        return result
      },

       /** 
       * Gets a single cognito user
       * @param {string} username 
       * */
      async getCognitoUser(username){
        let apiName = 'AdminQueries';
        let path = '/getUser';
        let myInit = {
            queryStringParameters: {
              "username": username,
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.get(apiName, path, myInit);
        return result
      },

      openNewUserModal(){
        this.newUserData = {
        }
        this.userModalOpen = true
      },


      /**
       * Opens the edit user modal
       * @param {object} user - Complete user object used for CheckRidesForm
       */
      openEditUserModal(user){
        this.editUserData = {...user}
        this.editPrevRole = user.role
        this.editPrevEmail = user.email
        this.editUserModalOpen = true
      },


      /** Update a users information */
      async updateUser(){
        this.loading = true
        try {

          // validate form
          this.$refs.editCheckRidesForm.$refs.form.validate((valid) => {
            if (!valid) {
              throw{
                  errors: [
                    { message: "Please fill out all required fields."}
                  ]
              }
            }
          })

          // add user from cognito admin group
          if(this.editUserData.role.toLowerCase() == 'admin' && (this.editPrevRole.toLowerCase() != 'admin')){
            var addToGroup = await this.addUserToCognitoGroup(this.editPrevEmail.toLowerCase(), 'admin')
          }
          // remove user from cognito admin group
          else if(this.editUserData.role.toLowerCase() != 'admin' && (this.editPrevRole.toLowerCase() == 'admin')){
            var removeFromGroup = await this.removeUserFromCognitoGroup(this.editPrevEmail.toLowerCase(), 'admin')
          }

          // edit email in cognito 
          var attributes = [
            {
              Name: 'email',
              Value: this.editUserData.email.toLowerCase()
            },
            {
              Name: 'email_verified',
              Value: 'true'
            }
          ]
          this.updateUserAttributes(this.editPrevEmail.toLowerCase(), attributes)

          var input = {
            ...this.editUserData,
            group: [
              this.group,
              'system_admin'
            ]
          }
          var lowerEmail = input.email.toLowerCase()
          input.email = lowerEmail
          const result = await this.api(updateUser, {input: input})
          this.editUserModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'User Updated'
          });
          this.loading = false
        } catch (e) {
          console.log(e)
          this.loading = false
          this.displayUserError(e)        
        }
      },


      /** Prompt if user should really be deleted*/
      async confirmDeleteUser(){
        this.$confirm('This will permanently delete the user. Continue?', 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteUser()          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },


      /** Delete user from DB */
      async commitDeleteUser( ){
        this.loading = true
        try{
          // don't allow users to delete themselves
          var cognitoUser = await this.getCognitoUser(this.editUserData.email.toLowerCase())
          var cognitoUserSub = cognitoUser.UserAttributes.find((attr) => {
            return attr.Name == "sub"
          }).Value

          if(cognitoUserSub == this.$store.state.userInfo.cognitoSub){
            throw{
                  message: "Cannot delete your own account" 
              }
          }

          // delete from dynamo
          const result = await this.api(deleteUser, {input:{ id: this.editUserData.id }} )
          
          // delete user in cognito
          this.deleteCognitoUser(this.editUserData.email.toLowerCase())

          // clean up app state
          this.editUserData = {}
          this.editUserModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'User Deleted'
          });
          this.loading = false
        }catch(e){
          this.loading = false
          console.log(e)
          this.displayUserError(e)
        }
      },


      /**
       * Adds the user to a group
       * @param {string} username
       * @param {string} groupname
       */
      async addUserToCognitoGroup(username, groupname) { 
        let apiName = 'AdminQueries';
        let path = '/addUserToGroup';
        let myInit = {
            body: {
              "username" : username,
              "groupname": groupname
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, myInit);
      },


      /**
       * Removes the user to a group
       * @param {string} username
       * @param {string} groupname
       */
      async removeUserFromCognitoGroup(username, groupname) { 
        let apiName = 'AdminQueries';
        let path = '/removeUserFromGroup';
        let myInit = {
            body: {
              "username" : username,
              "groupname": groupname
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, myInit);
      },

      /** Clears all filters on table */
      clearFilter() {
        this.$refs.filterTable.clearFilter();
      },

      /** 
       * Handles filtering table by status
       * @param {string} value - The value of the checkbox selection
       * @param {object} row - The row object */
    },
  }
</script>
<style>
.automated-coaching-table-header .el-table__header-wrapper{
  @apply overflow-visible
}
.automated-coaching-table.el-table {
  @apply overflow-auto
}
</style>