<template>
    <div ref="odometerReadingForm" data-cy="odometer_reading_form" class="w-full" tabindex="0" @keyup.enter="submitEvent">
        <el-form label-width="183px" label-position="top" :model="formFields" ref="form" :rules="rules">
            <div class="block lg:flex space-x-4">
                <div class="flex-1">
                    <el-form-item label="Vehicle" prop="vehicle">
                        <el-select data-cy="vehicle_sel" class="custom-select-keyboardless" @change="setVehicleData" v-model="formFields.vehicleId" :disabled="vehicleSelectionDisabled">
                            <el-option
                            v-for="item in singleVehicleArray"
                            :key="item.id"
                            :label="item.name"
                            
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Date" prop="odometerDate">
                        <DatePicker class="custom-date-picker" data-cy="odometerDate_dpk" :selectedDate="formFields.odometerDate" placeholder="" @date-selected="handleDateSelected($event, 'odometerDate')" />
                    </el-form-item>

                    <el-form-item label="Type" prop="odometerType">
                        <el-select ref="selectOdometerType" class="custom-select-keyboardless" data-cy="odometerType_sel" v-model="formFields.odometerType" placeholder="Select Type">
                            <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['odometer-type'].items)"
                            :key="item.id"
                            :label="item.value"
                            :value="item.value"/>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="flex-1">
                    <el-form-item label="Mileage" prop="mileage">
                        <el-input data-cy="mileage_in" v-model="formFields.mileage" @input="formatMileageInput(formFields.mileage)"></el-input>
                    </el-form-item>

                    <el-form-item label="Time" prop="time">
                        <el-input data-cy="time_tpk" v-model="formFields.time"></el-input>
                    </el-form-item>
                </div>
            </div>
        </el-form>         
    </div>
</template>
<script>
    import Validator from '@/utilities/FormValidator'
    import DatePicker from '@/components/Datepicker';
    export default {
        name: 'OdometerForm',
        components: {
            DatePicker
        },
        props:['formFields', 'singleVehicleArray', 'vehicleSelectionDisabled', 'modalStatus'],
        data(){
            return{
                rules: {
                    odometerDate: [
                        { required: true, message: 'Please enter a date', trigger: 'change' }
                    ],
                    mileage: [
                        { required: true, message: 'Please enter a mileage', trigger: 'blur' },  
                    ],
                    odometerType: [
                        {required: true, validator: Validator.odometerType, formField: this.formFields, trigger: 'change'},
                    ]
                }
            }
        },

        mounted() {
            if (this.isMobileDevice()){
             this.disableMobileKeyboard();
            }
            this.$refs.odometerReadingForm.focus()
        },

        watch: {
            /**
             * It is heard every time the modal is opened to give focus to the entire component and thus detect the keyup event
            */
            modalStatus(value) {
                if(value) {
                    this.$refs.odometerReadingForm.focus()
                }
            }
        },

        methods:{
            handleDateSelected(date, model) {
                this.formFields[model] = date
            },
            /**
             * Formats mileage with the thousand seperator
             */
            formatMileageInput(mileage){
                this.formFields.mileage = this.formatMileage(mileage)
            },
            setVehicleData(){
                this.$emit('set-edit-vehicle-data')
            },
            submitEvent() {
                this.$refs.selectOdometerType.blur()
                this.$emit('submit-event')
            }
        }
    }
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>