<template>
    <div>
        <el-tabs v-model="currentTab">
            <el-tab-pane name="issues">
                <span slot="label">
                    {{$t('label.associate')}} Issues ({{ issues.length }})
                </span>
                <el-table
                    ref="table"
                    class="data-table"
                    :empty-text="`No ${this.$t('label.associate')} Issues`"
                    style="width: 100%"
                    :data="issues"
                    header-cell-class-name="table-header-cell"
                    v-loading="loading">

                    <el-table-column
                    label="Date of Occurrence"
                    sortable 
                    prop="date">
                    <template slot-scope="scope">
                        {{ scope.row.date | date_timezone}}
                    </template>
                    </el-table-column>

                    <el-table-column
                    label="Type"
                    sortable 
                    prop="infractionType">
                    <template slot-scope="scope">
                        {{ `${scope.row.type ? scope.row.type.option : scope.row.infractionType}`| text }}
                    </template>
                    </el-table-column>

                    <el-table-column
                    label="Additional Information"
                    sortable 
                    width="225"
                    prop="comment">
                    <template slot-scope="scope">
                        {{ scope.row.comment | text}}
                    </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane name="kudos">
                <span slot="label">
                    {{$t('label.associate')}} Kudos ({{ kudos.length }})
                </span>
                <el-table
                    ref="table"
                    class="data-table"
                    :empty-text="`No ${this.$t('label.associate')} Kudos`"
                    style="width: 100%"
                    :data="kudos"
                    header-cell-class-name="table-header-cell"
                    v-loading="loading">

                    <el-table-column
                    label="Date of Occurrence"
                    sortable 
                    prop="date">
                    <template slot-scope="scope">
                        {{ scope.row.date | date_timezone}}
                    </template>
                    </el-table-column>

                    <el-table-column
                    label="Type"
                    sortable 
                    prop="kudoType">
                    <template slot-scope="scope">
                        {{ `${scope.row.type ? scope.row.type.option : scope.row.kudoType}` | text}}
                    </template>
                    </el-table-column>

                    <el-table-column
                    label="Additional Information"
                    width="225"
                    sortable 
                    prop="notes">
                    <template slot-scope="scope">
                        {{ scope.row.notes | text}}
                    </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>

export default {
    name: 'DaKudosAndIssues',
    props: ['staffId', 'activeTab', 'issues', 'kudos'],
    data() {
        return{
            loading: false,
            currentTab: 'issues'
        }
    },

    mounted() {
        this.currentTab = this.activeTab
    },

    watch: {
        activeTab(newValue) {
            this.currentTab = newValue
        }
    }

}
</script>
<style>
.table-tag{
    @apply font-bold border-none bg-brand bg-opacity-25 rounded-full px-3 shadow-none !important
}
</style>