<template>
    <div class="auth-layout block lg:flex justify-between bg-cover h-screen pt-4 px-4 lg:px-24 lg:space-x-24 items-center">
        <div class="hidden md:block flex-1"></div>
        <div class="lg:w-1/2 xl:w-4/12">
            <div class="mt-24 lg:mt-0 bg-blur shadow-lg w-full p-4 rounded-lg">
                <div class="w-full bg-white rounded-lg shadow p-4">
                    <div class="mx-auto bg-white -mt-20 pl-1 mb-24 border-4 border-white rounded-full w-32 h-32">
                        <img class="logo" src="@/assets/images/logo-no-stroke.png" />
                    </div>
                    <transition name="fade"  mode="out-in">                           
                            <router-view :key="$route.fullPath" />                           
                    </transition>
                </div>
                <div class="flex pt-10 pb-6 justify-center space-x-8">
                    <!-- <div>Powered By</div>
                    <div><img class="w-32" src='@/assets/svg/amazon-logo.svg'/></div> -->
                    <a href="http://aws.amazon.com" target="_blank" rel="noopener noreferrer">
                        <img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing">
                    </a>
                </div>
                <div class="text-center">&copy;{{new Date().getFullYear()}} | <a class="underline" href="https://herasolutions.app">Hera Solutions, Inc</a></div>
                <div class="text-center text-xs">Hera is not affiliated with Amazon or its subsidiaries.</div>
            </div>
        </div>        
    </div>
</template>

<style scoped>
.logo {
    position: absolute;
    width: 209px;
    margin-left: -45px;
    margin-top: 4px;
}
</style>