.anticon{
    vertical-align: unset;
}

canvas{
    width:100%;
}

.pg-viewer-wrapper{
    overflow-y: scroll !important;
    height:100% !important;
}

.pg-viewer-wrapper .document-container{
    padding:10px !important;
    margin:10px !important;
    width: 99% !important;
    height:100% !important;
}

.document-container table{
    width:100%;
}