<template>
   <Drawer
      v-if="drawerVisibility"
      :title="titleDrawer"
      :visibility="drawerVisibility"
      @closeDrawer="hideDrawer"
    >
      <template v-slot:drawerContent>
        <DrawerContent
          :data="tableDataSelected"
          @reloadTable="reloadCustomList"
          @setOptionsToReassign="setOptionsToReassign"
          ref="options"
        />
      </template>
      <template v-slot:drawerfooter-start>
        <ButtonGroupWrapper>
            <template slot-scope="{disabled, setDisabled}">
                <el-button
                    data-cy="drawer-cancel-btn"
                    @click="hideDrawer"
                    :disabled="disabled"
                >
                    Cancel
                </el-button>
                <ButtonWrapper
                    type="primary"
                    data-cy="drawer-save-btn"
                    :clickHandler="saveDrawer"
                    :disabled="disabled || showPremiumRequired"
                    @cb-start="setDisabled(true)"
                    @cb-end="setDisabled(false)"
                >
                    Save
                </ButtonWrapper>
            </template>
        </ButtonGroupWrapper>
      </template>
    </Drawer> 
</template>

<script>
import Drawer from "@/components/shared/Drawer/Drawer";
import DrawerContent from "./DrawerContent";
import customListMixin from '../mixins'
import globalCustomListMixin from '@/mixins/customListMixin'
import { isOptionCustomListLinkedToOtherRecords } from "../utils";
import ButtonWrapper from "@/components/shared/ButtonWrapper/ButtonWrapper";
import ButtonGroupWrapper from "@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper";
import { mapGetters } from 'vuex';

export default {
    name: 'DrawerCustomList',
    mixins:[
        customListMixin,
        globalCustomListMixin
    ],
    data() {
        return {
            optionsToReassign: [],
        }
    },
    computed: {

        ...mapGetters(['hasVehicleManagement']),

        showPremiumRequired(){
            return this.tableDataSelected.type === 'vehicle-type' && !this.hasVehicleManagement
        },
    },
    components: {
        Drawer,
        DrawerContent,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    props: {
        drawerVisibility: {
            type: Boolean,
            default: false
        },
        titleDrawer: {
            type: String,
            default: ''
        },
        tableDataSelected: {
            type: Object,
            default: () => ({}),
        }
    },
    methods: {

        async hideDrawer (load = true) {
            this.$emit("hideDrawer");
            if(load) this.reloadCustomList()
        },

        async reloadCustomList () {
            this.optionsToReassign = []
            this.$emit("reloadCustomList");
        },

        async setOptionsToReassign (options) {
            this.optionsToReassign = options
        },

        async saveDrawer () {
            try {
                // Custom List Options
                const options = this.reOrderListOfOptions(this.$refs.options.tableData)

                // Options to remove
                const optionsToRemove = this.$refs.options.optionsToRemove;
                const optionsToRemoveIds = optionsToRemove.map(option => option.id);
                const filteredOptions = options.filter(option => !optionsToRemoveIds.includes(option.id));

                const promises = optionsToRemove.map(async (option) => await isOptionCustomListLinkedToOtherRecords(option.type, option));
                const results = await Promise.all(promises);
                const hasLinkedData = results.some((hasLinkedData) => hasLinkedData === true);
                if (hasLinkedData) {
                    const error = 'Some of the Custom List options marked for deletion are linked to other records and cannot be deleted. Please refresh your browser window to see the latest info.';
                    return this.displayUserError(error);
                }

                let hasEmptyOptionNames = options.some(item => item.option.trim() == '')
                if (hasEmptyOptionNames) throw new Error('An option name is required.');

                let hasSemicolonOptionNames = options.some(item => item.option.includes(';'))
                if (hasSemicolonOptionNames) throw new Error('An option name must not contain semicolon.');
                
                let uniqueOptionNames = filteredOptions.filter((value, index, self) => index === self.findIndex(t => value.option.toLowerCase().trim()  === t.option.toLowerCase().trim()))
                if (uniqueOptionNames.length !== filteredOptions.length) throw new Error('The option names must be unique.');

                let longOptionNames = options.some(item => item.canBeEdited && item.isCustom && item.option.toLowerCase().trim().length > 30)
               
                if (longOptionNames) throw "The option name can have a maximum of 30 characters.";

                const optionsToAdd = options.filter(item => item.tempAdded && !optionsToRemove.map(option => option.id).includes(item.id))
                const optionsToUpdate = options.filter(item => !item.tempAdded && !optionsToRemove.map(option => option.id).includes(item.id))
                const deleteOptions = await this.deleteCustomListOptions(optionsToRemove, options)
                
                if(!deleteOptions) return

                this.hideDrawer(false)

                await this.updateCustomListOptions(optionsToUpdate)
                await this.createCustomListOptions(optionsToAdd)
                await this.reAssignCustomListOptions(this.optionsToReassign)

                await this.reloadCustomList();
            } catch (e) {
                this.printUserError(e)
                this.displayUserError(e)
            }
        },

        reOrderListOfOptions(list) {
            return list.map((item, index) => {
                item.order = index
                return item
            })
        }
    }
}
</script>

<style>
.v-modal {
    z-index: 1000 !important;
}
</style>
