<template>
  <el-table-draggable
    handle=".handle"
    :animate="300">
    <el-table
      v-if="tableData"
      :data="tableData"
      style="width: 100%"
      class="align-vertical-padding drawer-table"
      :show-header="showHeader"
      :lazy="true"
      :row-class-name="tableRowClassName"
      empty-text="No Options have been created yet for this Custom List."
    >
      <!-- Option -->
      <el-table-column prop="name" label="OPTION" width="250">
        <template slot-scope="scope">
          <div class="flex">
            <div class="flex w-10" v-if="scope.row.canBeReorder">
              <i class="uil uil-bars text-xl flex-auto self-center handle grabbable grabbable-icon"></i>    
            </div>
            <div class="flex-initial">
              <template v-if="scope.row.canBeEdited && optionCanBeEdited(scope.row)">
                <div v-if="optionsToRemove.map(obj => obj.id).includes(scope.row.id)">
                  <p class="flex-initial fixed-option line-through">
                    {{scope.row.option}}
                  </p>
                </div>
                <el-input
                  v-else
                  class="flex-auto"
                  v-model="scope.row.option"
                  :value="scope.row.option"
                  :disabled="optionsToRemove.map(obj => obj.id).includes(scope.row.id)"
                  :class="duplicateOptions.includes(scope.row.option.trim()) || scope.row.option.trim() === '' ? 'is-duplicate-or-empty' : ''">
                </el-input>
              </template>
              <template v-else>
                <span v-if="showPills" class="font-medium rounded-full px-4 bg-opacity-10 text-sm max-w-full flex-initial" :class="[colorPill(scope.row.option)]">
                  {{ scope.row.option }}
                </span>
                <p v-else class="flex-initial fixed-option">
                  {{scope.row.option}}
                </p>
              </template>
            </div>  
          </div>
        </template>
      </el-table-column>


      <!-- Used for -->
      <el-table-column prop="usedFor" label="USED FOR" width="150">
        <template slot-scope="scope">
          <p :class="optionsToRemove.map(obj => obj.id).includes(scope.row.id) ? 'line-through' : ''">
            {{ useForText(scope.row) }}
          </p>
        </template>
      </el-table-column>

      <!-- Action -->
      <el-table-column prop="action" label="ACTION" width="75">
        <template slot-scope="scope">
          <div v-if="optionsToRemove.map(obj => obj.id).includes(scope.row.id)" class="flip_H">
            <i
              class="uil uil-redo text-xl flex-auto self-center cursor-pointer"
              @click="trash(scope.row, scope.$index)">
            </i>
          </div>
          <i v-else-if="scope.row.canBeDeleted && scope.row.canBeEdited && optionCanBeDeleted(scope.row)"
            class="uil uil-trash-alt text-xl flex-auto self-center cursor-pointer"
            @click="trash(scope.row, scope.$index)">
          </i>
          <i v-else-if="scope.row.canBeDeleted && !scope.row.edited && optionCanBeDeleted(scope.row)"
            class="uil uil-trash-alt text-xl flex-auto self-center">
          </i>
          <i v-else-if="optionCanBeReAssigned(scope.row)"
            class="uil uil-repeat text-xl flex-auto self-center cursor-pointer"
            @click="
              reassignItems(
                type,
                scope.row.option,
                scope.row.usedFor,
                scope.row,
                scope.row.daysCount
              )">
          </i>
        </template>
      </el-table-column>

      <!-- Status -->
      <el-table-column prop="isEnabled" label="STATUS">
        <template slot-scope="scope">
          <div class="flex cursor-pointer">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial hover:bg-opacity-100 hover:text-white" :class="setClassStatus(scope.row.isEnabled)" @click="changeStatus(scope.row)">
              {{ `${scope.row.isEnabled ? 'Enabled' : 'Disabled' }` }}
            </span>
          </div>
        </template>
      </el-table-column>

    </el-table>
  </el-table-draggable>
</template>

<script>
import ElTableDraggable from "element-ui-el-table-draggable";
import {isOptionCustomListLinkedToOtherRecords} from '../utils';

export default {
  components: {
    ElTableDraggable,
  },
  props: {
    tableData: {
      type: Array,
      default: () => [],
    },
    type: {
      type: String,
      default: "",
    },
    listDisplay: {
      type: String,
      default: "",
    },
    showHeader: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      optionsToRemove: [],
    };
  },

  computed: {
    showPills() {
      if (this.type === 'route-status') {
        return true
      }
      return false
    },

    fixedCheckboxDefault() {
      return this.type && (this.type === 'route-status' || this.type === 'vehicle-role-for-route')
    },
    duplicateOptions() {
      let duplicateOptionNames = this.tableData.filter((value, index, self) => index !== self.findIndex(t => value.option.toLowerCase().trim()  === t.option.toLowerCase().trim()))
      let longOptionNames = this.tableData.filter((value, index, self) => value.option.toLowerCase().trim().length > 30 || value.option.includes(';'))
      let semiColonIncludeOptionsName = this.tableData.filter((value, index, self) =>  value.option.includes(';'))
      return duplicateOptionNames.concat(longOptionNames,semiColonIncludeOptionsName).map(obj => obj.option.trim())
    },
    showReasingIcon() {
      return !(this.optionsToRemove.length == this.tableData.length -1)
    }
  },

  methods: {
    useForText(row) {

      const customListTypes = {
        'incident-type' : () => {
          let accidents = row.accidents?.items.length || 0;
          return `${accidents} ${this.pluralize(accidents, 'Incident', 'Incidents')}`
        },

        'vehicle-role-for-route': () => {
          return `${row.usedFor} ${this.pluralize(row.usedFor, 'Vehicle Assignment', 'Vehicle Assignments')}`
        },

        'parking-space': () => {
          let vehicleParkingSpace = row.parkingSpace?.items.length || 0;
          let routeParkingSpace = row.routeParkingSpace?.items.length || 0;
          let replaceByRouteParkingSpace = row.replaceByRouteParkingSpace?.items.length || 0;
          // let rosteredVehicleParkingSpace = row.rosteredVehicleParkingSpace?.items.length || 0;
          let rosteredVehicle = routeParkingSpace + replaceByRouteParkingSpace 
          return `${rosteredVehicle} ${this.pluralize(rosteredVehicle, 'Rostered Vehicle', 'Rostered Vehicles')} • ${vehicleParkingSpace} ${this.pluralize(vehicleParkingSpace, 'Vehicle', 'Vehicles')}`
        },

        'vehicle-type': () => {
          let vehicles = row.vehicles?.items.length || 0;
          let associates = row.associates ? row.associates.items.length : 0
          return `${vehicles} ${this.pluralize(vehicles, 'Vehicle', 'Vehicles')} • ${associates} ${this.pluralize(associates, 'Associate', 'Associates')}`
        },
        
        'counseling-severity': () => {
          const count = row.counselings?.items.length || 0;
          return `${count} ${this.pluralize(count, 'Counseling', 'Counselings')}`;
        },

        'issue-type': () => {
          const count = row.issues?.items.length || 0;
          return `${count} ${this.pluralize(count, 'Issue', 'Issues')}`;
        },

        'kudo-type': () => {
          const count = row.kudos?.items.length || 0;
          return `${count} ${this.pluralize(count, 'Kudo', 'Kudos')}`;
        },

        'another-type': () => {
          return `${row.usedFor} ${this.pluralize(row.usedFor, 'Route', 'Routes')} • 0 ${this.pluralize(0, 'Day', 'Days')}`
        },
      }

      if(customListTypes[this.type]) return customListTypes[this.type]()
      else return customListTypes['another-type']()

      
    },
    colorPill(option) {
       if (this.type === 'route-status') {
        if (option === 'Scheduled') {
          return 'bg-blue-500 text-blue-600'
        }
        if (option === 'Completed') {
          return 'bg-green-500 text-green-600'
        }
        if (option === 'Cancelled') {
          return 'bg-red-500 text-red-600'
        }
      }
      return
    },

    optionCanBeEdited(row) {
      const customListTypes = {
        'incident-type' : () => {
          let accidents = row.accidents ? row.accidents?.items.length : 0
          return accidents === 0
        },

        'vehicle-role-for-route': () => {
          return row.usedFor === 0;
        },

        'parking-space': () => {
          let vehicleParkingSpace = row.parkingSpace ? row.parkingSpace.items.length : 0
          let routeParkingSpace = row.routeParkingSpace ? row.routeParkingSpace.items.length : 0
          let replaceByRouteParkingSpace = row.replaceByRouteParkingSpace ? row.replaceByRouteParkingSpace.items.length : 0
          let rosteredVehicleParkingSpace = row.rosteredVehicleParkingSpace ? row.rosteredVehicleParkingSpace.items.length : 0   
          let rosteredVehicle = routeParkingSpace + replaceByRouteParkingSpace + rosteredVehicleParkingSpace
          return (vehicleParkingSpace === 0 && rosteredVehicle === 0)
        },

        'vehicle-type': () => {
          let vehicles = row.vehicles ? row.vehicles.items.length : 0
          let associates = row.associates ? row.associates.items.length : 0
          return (vehicles === 0 && associates === 0)
        },
        
        'counseling-severity': () => {
          return (row.counselings?.items.length === 0);
        },

        'issue-type': () => {
          return (row.issues?.items.length === 0);
        },

        'kudo-type': () => {
          return (row.kudos?.items.length === 0);
        },

        'another-type': () => {
          return row.usedFor === 0
        },
      }

      if(customListTypes[this.type]) return customListTypes[this.type]();
      else return customListTypes['another-type']();
    },
    optionCanBeDeleted(row) {
      const customListTypes = {
        'incident-type' : () => {
          let accidents = row.accidents ? row.accidents.items.length : 0
          return accidents === 0 && !row.isDefaultForSections?.length;
        },

        'vehicle-role-for-route': () => {
          return row.usedFor === 0 && !row.isDefaultForSections?.length;
        },

        'parking-space': () => {
          let vehicleParkingSpace = row.parkingSpace ? row.parkingSpace.items.length : 0
          let routeParkingSpace = row.routeParkingSpace ? row.routeParkingSpace.items.length : 0
          let replaceByRouteParkingSpace = row.replaceByRouteParkingSpace ? row.replaceByRouteParkingSpace.items.length : 0
          let rosteredVehicleParkingSpace = row.rosteredVehicleParkingSpace ? row.rosteredVehicleParkingSpace.items.length : 0
          let rosteredVehicle = routeParkingSpace + replaceByRouteParkingSpace + rosteredVehicleParkingSpace       
          return (vehicleParkingSpace === 0 && rosteredVehicle === 0 && !row.isDefaultForSections?.length);
        },

        'vehicle-type': () => {
          let vehicles = row.vehicles ? row.vehicles.items.length : 0
          let associates = row.associates ? row.associates.items.length : 0
          return (vehicles === 0 && associates === 0 && !row.isDefaultForSections?.length);
        },
        
        'counseling-severity': () => {
          return (row.counselings?.items.length === 0 && !row.isDefaultForSections?.length);
        },

        'issue-type': () => {
          return (row.issues?.items.length === 0 && !row.isDefaultForSections?.length);
        },

        'kudo-type': () => {
          return (row.kudos?.items.length === 0 && !row.isDefaultForSections?.length);
        },

        'another-type': () => {
          return row.usedFor === 0 && !row.isDefaultForSections?.length;
        },
      }

      if(customListTypes[this.type]) return customListTypes[this.type]()
      else return customListTypes['another-type']()
    },
    optionCanBeReAssigned(row) {
      let result = null
      if (this.type === 'incident-type') {
        let accidents = row.accidents ? row.accidents.items.length : 0
        result =  accidents > 0 
      } else if (this.type === 'vehicle-role-for-route') {
        result = row.usedFor > 0
      } else if (this.type === 'parking-space') {
        let vehicleParkingSpace = row.parkingSpace ? row.parkingSpace.items.length : 0
        let routeParkingSpace = row.routeParkingSpace ? row.routeParkingSpace.items.length : 0
        let replaceByRouteParkingSpace = row.replaceByRouteParkingSpace ? row.replaceByRouteParkingSpace.items.length : 0
        let rosteredVehicleParkingSpace = row.rosteredVehicleParkingSpace ? row.rosteredVehicleParkingSpace.items.length : 0  
        let rosteredVehicle = routeParkingSpace + replaceByRouteParkingSpace + rosteredVehicleParkingSpace      
        result = (vehicleParkingSpace > 0 || rosteredVehicle > 0) 
      } else if (this.type === 'vehicle-type') {
        let vehicles = row.vehicles ? row.vehicles.items.length : 0
        let associates = row.associates ? row.associates.items.length : 0
        result = (vehicles > 0 || associates > 0)
      } else {
        result = row.usedFor > 0
      }
      return result && this.showReasingIcon 
    },
    defaulCheck(value) {
      this.tableData.map((option) => {
        if (option.id != value.id) {
          option.default = false;
        }
      });
    },
    async trash(option, index) {  
      if (option.id) {
        let optionExists = this.optionsToRemove.find(opt => opt.id === option.id)
        if (optionExists) {
          let optionExistsIndex = this.optionsToRemove.findIndex(opt => opt.id === option.id)
          this.tableData[index].edited = true;
          this.optionsToRemove.splice(optionExistsIndex, 1);
          this.$emit("removeOptions", this.optionsToRemove);
        } else {
          const hasLinkedData = await isOptionCustomListLinkedToOtherRecords(this.type, option);
          if (hasLinkedData) {
            const error = 'This Custom List option is linked to other records and cannot be deleted. Please refresh your browser window to see the latest info.';
            return this.displayUserError(error);
          };
          this.tableData[index].edited = false;
          this.optionsToRemove.push(option);
          this.$emit("removeOptions", this.optionsToRemove);
        }
        if (option.default) {
          option.default = false;
          this.tableData.filter(opt => !this.optionsToRemove.map(optn => optn.id).includes(opt.id)).map((opt, index) => {
              if (index === 0) {
                opt.default = true
              }
          });
        }
      } else {
        this.tableData.splice(index, 1);
      }
    },
    reassignItems(type, name, userFor, row, daysCount) {
      this.$emit("visibilityTableDraggable", true);
      this.$emit("tableSelected", "draggable");
      this.$emit("dataDialog", row);
    },
    tableRowClassName({ row }) {
      if (this.optionsToRemove.map(obj => obj.id).includes(row.id)) {
        return "table-row-disabled";
      }
      if(!row.isEnabled){
        return "transition-opacity duration-300 opacity-75";
      }
    },

    changeStatus(row){
      const findResult = this.tableData.find(option => option.id === row.id)
      if(findResult.isDefaultForSections && findResult.isDefaultForSections.length){
        this.$emit("cannotBeDisabled", true, row);
      }else{
        row.isEnabled = !row.isEnabled;
        this.$emit("cannotBeDisabled", false, row);
      }
     
    },

    setClassStatus(isEnabled){
      return {
        'bg-green-500 text-green-600' : isEnabled,
        'bg-red-500 text-red-600' : !isEnabled,
      }
    },
  },
};
</script>

<style lang="scss">

.is-duplicate-or-empty .el-input__inner {
  border-color: #F56C6C !important;
}

.drawer-style {
  .el-drawer__header {
    @apply bg-brand p-4 mb-0;
    color: #fff;
  }
}
</style>
<style scoped>
.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable::before {
  margin: 0px !important;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
</style>
<style>
.el-table__empty-text{
  width: 80% !important;
}

.fixed-option {
  padding: 0 15px 0px 0px;
}

.drawer-table .table-row-disabled {
  background: rgb(254 202 202) !important;
  cursor: not-allowed !important;
  pointer-events: none;
}

.flip_H{ 
  transform: scale(-1, 1); 
  text-align: end;
  pointer-events: auto;
}
</style>