#marker_contact{
    margin-top:5vh;
}

#marker_contact p{
    margin-bottom: unset;
    color: #a1a1a1;
    font-weight: 200;
}

#marker_contact h6{
    font-weight: 700;
    margin-bottom: 2vh;
}

#marker_contact p i{
    font-size:10px;
    color:#18d26e;
    margin-right:10px
}