<template>
  <div>
    <div class="flex items-center justify-between">
      <h1>Telnyx</h1>
      <div class="flex space-x-2">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."
        />
      </div>
    </div>

    <div  class="table-telnyx-numbers" v-loading="loading">
      <div class="grid grid-flow-row grid-cols-12 w-full py-3 gap-4">
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
          <div>Available numbers: {{ availableCounter }}</div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
          <div>Numbers in use: {{ inUseCounter }}</div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-4">
          <div>Total: {{ totalCounter }}</div>
        </div>
        <div class="col-span-12 md:col-span-12 lg:col-span-12">
          <p :class="classColorConflict">Conflict numbers: {{ conflictNumbers.length }}</p>
          <ul class="list-disc list-inside mt-2">
            <li v-for="number in conflictNumbers" class="text-red-500">
              {{ number.phoneNumber }} ({{ number.enviroment }})
            </li>
          </ul>
        </div>
      </div>

      <el-table
        ref="table"
        class="data-table"
        empty-text="No Data"
        :data="filterArray(tableData, search)"
        header-cell-class-name="table-header-cell"
        :default-sort="{ prop: 'companyName', order: 'ascending' }"
      >
        <el-table-column sortable label="Number" prop="phoneNumber">
        </el-table-column>

        <el-table-column label="Tenant" sortable prop="companyName">
        </el-table-column>

        <el-table-column label="Trial Expiration" sortable prop="trialExpDate">
        </el-table-column>

        <el-table-column label="Enviroment" sortable prop="enviroment">
          <template slot-scope="scope">
            {{ scope.row.enviroment.toUpperCase() }}
          </template>
        </el-table-column>
      </el-table>
    </div>
    
    <div>
      
    </div>
    <table-card class="mt-5 rounded-lg">
      <template v-slot:table-filters>
        <container-filter inTable>
          <template v-slot:title>
            <span>MESSAGE COUNTER</span>
          </template>
          <template v-slot:filter-count>
            <counter-filter :counter="getResumeFilters" />
          </template>
          <template v-slot:filters>
            <multi-select-filter
              type="status"
              title="Customer Status"
              :options="filterStatus"
              :selected="activeFilters"
              @update-filters="updateFilters"
            />  
            <multi-select-filter
              type="dsp"
              title="DSP Type"
              :options="filterDsp"
              :selected="activeDspFilters"
              @update-filters="updateFilters"
            />
            <month-picker-filter
              type="month"
              placeholder="Pick a month"
              :default="month"
              param="month"
              @update-filters="updatePicker"
              :options="pickerOptions"
            />
          </template>
      </container-filter>
    </template>
    <template v-slot:table-searchbox>
      <search-box inTable @search-data="searchData"></search-box>
    </template>
    <custom-table
      inTable
      ref="table"
      v-loading="loadingCounter"
      :columns="cols"
      :data="filteredData"
      emptyText="No Data"
      footerTable="total Tenants" 
      :totalRecords="tableCount"  
      :optionsRows="optionsContextRow"
      @click-menu="handleCommand"
      class="telnyx-messages-class with-fixed"
    >
      <template #companyName="row">
        <span class="pl-2 inline-block">{{ row.companyName }}</span>
      </template>

      <template #status="row">
        <CellToolTip :value="row.status">
          <div slot-scope="{textValue}" class="flex">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs  max-w-full flex-initial" :class="setClassStatus(row)">
              {{textValue}}
            </span>
          </div>
        </CellToolTip>
      </template>
    </custom-table>
  </table-card>
  </div>
</template>

<script>
import { listTenants, messagesByGroup } from './queries'
import { listTelnyxs } from '@/graphql/queries'
import { setTenantStatus } from '../Tenants/functions'
import { getAllTelnyxTenantEnviroment } from './utils'

import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import CounterFilter from "@/components/CounterFilters";
import MonthPickerFilter from '@/components/MonthPickerFilter';
import CellToolTip from '@/components/CellToolTip';
import MultiSelectFilter from "@/components/MultiSelectFilter";

export default {
  components: { 
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    CounterFilter,
    MonthPickerFilter,
    CellToolTip,
    MultiSelectFilter
  },
  data() {
    return {
      conflictNumbers: [],
      loading: false,
      tableData: [],
      allTenants: [],
      search: '',
      nextToken: null,
      availableCounter: 0,
      inUseCounter: 0,
      totalCounter: 0,
      filterStatus: [
        'Active - Bundle',
        'Active - Premium',
        'Active - Standard',
        'Churned',
        'Lapsed Trial',
        'Trial',
        'Unknown'
      ],
      filterDsp: ['Standard', 'XL' ],
      activeFilters: ['Active - Bundle', 'Active - Premium', 'Active - Standard'],
      activeDspFilters: [ 'Standard', 'XL' ],
      month: null,
      counterMessageTable : [],
      originalCounterMessageTable: [],
      searchMessageCounter: '',
      tableCount: 0,
      loadingCounter: false,
      optionsContextRow: [ 
        { label: "View DSP", action: 'view', divided: false }
      ],
      cols: [
        { name: "Company Name", col: "companyName", fixed: true, width: "150", sortable: true, sortMethod: this.sortCompanyName },
        { name: "Outbound Messages", col: "outbound", fixed: false, width: "150", sortable: true, sortMethod: this.sortOutbound },
        { name: "Inbound Messages", col: "inbound", fixed: false, width: "140", sortable: true, sortMethod: this.sortInbound },
        { name: "Total Messages", col: "total", fixed: false, width: "140", sortable: true, sortMethod: this.sortTotal },
        { name: "Customer Status", col: "status", fixed:false, width: "140", sortable: true, sortMethod: this.sortStatus}
      ],
      pickerOptions: {
				disabledDate(time) {
					return time > new Date();
				}
      },
    }
  },
  mounted() {
    if (sessionStorage.getItem("filtersTenantTelnyx") === null) {
      this.month = new Date();
    } else {
      const filters = JSON.parse(sessionStorage.getItem("filtersTenantTelnyx"));
      this.activeFilters = filters.status;
      this.activeDspFilters = filters.dsp;
      this.month = new Date( filters.month );
    }
    this.loadData()
  },

  computed: {
    filteredData() {
      return this.filterArray(this.counterMessageTable, this.searchMessageCounter);
    },

    getResumeFilters() {
      const countStatus = this.activeFilters.length === this.filterStatus.length ? 0 : 1;
      const counsTypeDsp = this.activeDspFilters.length === this.filterDsp.length ? 0 : 1;
      const countDate = this.month !== null ? 1 : 0;
      return countStatus + counsTypeDsp + countDate;
    },
    classColorConflict() {
      return this.conflictNumbers.length > 0 ? 'text-red-500 font-semibold' : 'text-black';
    }
  },

  methods: {
    findRepeatedPhoneNumber(objArray) {

      const phoneMap = {};
      const objNumberMap = []

      for (const obj of objArray) {
        const phoneNumber = obj.phoneNumber;
        const enviroment = obj.enviroment;

        if (phoneMap[phoneNumber]) {
          phoneMap[phoneNumber].push(enviroment);
          const uniqueEnviroment = [...new Set(phoneMap[phoneNumber])]
          const item = {phoneNumber,enviroment:uniqueEnviroment.join(', ')}
          objNumberMap.push(item)
        } else {
          phoneMap[phoneNumber] = [enviroment];
        }
      }

      const uniqueArray = objNumberMap.reverse().filter((obj, index, self) => {
        const nextIndex = self.findIndex(item =>
          item.phoneNumber === obj.phoneNumber
        );
        return nextIndex === index;
      });

      return uniqueArray;
    },

    getAvailableCounter: function (list) {
      return list.filter((item) => item.group == 'null').length
    },

    getInUseCounter: function (list) {
      return list.filter((item) => item.group != 'null').length
    },

    getTrialExpirationDate: function (tenant) {
      if (!tenant.accountPremiumStatus.includes('trial')) {
        return ''
      }
      return this.$moment(tenant.trialExpDate).format('YYYY-MM-DD')
    },

    loadData: async function () {
      this.loading = true;
      this.loadingCounter = true;
      const current = this.$moment(this.month).format('YYYY-MM') + '-01';
      const next = this.$moment(this.month).add(1,'month').format('YYYY-MM') + '-01';

      try {
        const {resultTelnyx,resultTenant} = await getAllTelnyxTenantEnviroment()
        this.allTenants = await this.gLoadListAll(listTenants, {}, 'listTenants');
        const telnyx = resultTelnyx;

        // Proccess Tenant List
        this.availableCounter = this.getAvailableCounter(telnyx);
        this.inUseCounter = this.getInUseCounter(telnyx);
        this.totalCounter = telnyx.length;
        this.tableData = this.parseTable(telnyx,resultTenant);
        this.loading = false

        // Proccess Counter Messages
        this.allTenants = this.allTenants.map(function(tenant) {
          tenant.status = setTenantStatus(tenant.accountPremiumStatus, tenant.trialExpDate)
          return tenant;
        });

        this.counterMessageTable = await this.countMessages(current, next)
        this.tableCount = this.counterMessageTable.length        
        this.originalCounterMessageTable = [ ...this.counterMessageTable ]
        this.filterTenantsbyStatus();
        this.loadingCounter = false;
        
      } catch (e) {
        this.loading = false;
        this.loadingCounter = false;
        this.displayUserError(e)
      }
    },

    parseTable: function (telnyx, tenants) {
      let table = []
      for (const telnyxItem of telnyx) {
        telnyxItem.companyName = ''
        if (telnyxItem.group != 'null') {
          const tenant = tenants.find(
            (tenant) => tenant.group == telnyxItem.group
          )
          telnyxItem.companyName = tenant.companyName
          telnyxItem.trialExpDate = this.getTrialExpirationDate(tenant)
        }

        table = [...table, telnyxItem]
      }
      
      this.conflictNumbers = this.findRepeatedPhoneNumber(table)
      return table
    },

    async countMessages (start, end) {
      const table = [];
      for(const tenant of this.allTenants) {
        const messages = await this.getMessages(start, end, tenant.group)
        const obj = { ...tenant }
        let inbound = 0
        let outbound = 0
        let total = 0
        if (messages.length === 0) {
          obj['inbound'] = 0
          obj['outbound'] = 0
          obj['total'] = 0
        } else {
          for(const message of  messages) {
            if(message.channelType.includes('SMS')) {
              inbound += 1
            } else {
              outbound += 1;
            }
          }
          total = inbound + outbound
          obj['inbound'] = inbound
          obj['outbound'] = outbound
          obj['total'] = total
        }
        table.push(obj)
      }
      return table;
    },

    async getMessages (start, end, group) {
      const input = {
        group,
        limit: 100,
        nextToken: null,
        createdAt: {
          between: [start, end]
        }
      }
      const messages = await this.gLoadListAll( messagesByGroup, input, 'messagesByGroup' )
      return messages
    },

    handleCommand: function (payload) {
      let row = payload.row;
      let action = payload.action;
      if (action == 'view') {
        this.$router.push({ name: 'SystemTenantDetail', params: { id: row.id } });
      }
    },

    sortCompanyName(a, b) {
      return a.companyName.toLowerCase().localeCompare(b.companyName.toLowerCase());
    },
    sortOutbound(a,b) {
      return a.outbound - b.outbound;
    },
    sortInbound(a,b) {
      return a.inbound - b.inbound;
    },
    sortTotal(a,b) {
      return a.total - b.total;
    },
    sortStatus(a, b) {
      return a.status.toLowerCase().localeCompare(b.status.toLowerCase());
    },

    updateFilters(e) {
      const {type, filters } = e;
      if (type == 'status') {
        this.activeFilters = filters;
      }

      if (type == 'dsp') {
        this.activeDspFilters = filters;
      }
      const options = { status: this.activeFilters, dsp: this.activeDspFilters, month: this.month };
      sessionStorage.setItem( "filtersTenantTelnyx", JSON.stringify( options ) );
      this.filterTenantsbyStatus();
    },

    filterTenantsbyStatus() {
      this.counterMessageTable = this.originalCounterMessageTable.filter( tenant => this.activeFilters.includes( tenant.status ) );
      this.counterMessageTable = this.counterMessageTable.filter( tenant => {
        let dsp = 'Standard'
        if( tenant.usesXLcoaching ) {
          dsp = 'XL';
        }
        if ( this.activeDspFilters.includes( dsp ) ) {
          return true;
        }
        return false;
      })
    },

    setClassStatus(row) {
      return {
        'text-yellow-600' : row.status.toLowerCase() == 'trial', 
        'bg-yellow-500' : row.status.toLowerCase() == 'trial',
        'text-red-600' : row.status.toLowerCase() == 'lapsed trial' || row.status.toLowerCase() == 'churned', 
        'bg-red-500' : row.status.toLowerCase() == 'lapsed trial' || row.status.toLowerCase() == 'churned',
        'text-orange-600' : row.status.toLowerCase() == 'unknown', 
        'bg-orange-500' : row.status.toLowerCase() == 'unknown',
        'text-green-600' : row.status.toLowerCase().includes('active'),
        'bg-green-500' : row.status.toLowerCase().includes('active')
      }
    },

    searchData(e) {
      this.searchMessageCounter = e;
    },

    updatePicker: async function (e) {
      this.loadingCounter = true;
      const { filter } = e;
      const current = this.$moment(filter).format('YYYY-MM-DD');
      const next = this.$moment(filter).add(1,'month').format('YYYY-MM-DD');
      this.month = filter;
      this.counterMessageTable = await this.countMessages(current, next);
      this.originalCounterMessageTable = [ ...this.counterMessageTable ];
      this.filterTenantsbyStatus();
      const options = { status: this.activeFilters, dsp: this.activeDspFilters, month: this.month };
      sessionStorage.setItem("filtersTenantTelnyx", JSON.stringify( options ) );
      this.loadingCounter = false;
    },
  },
}
</script>

<style>
.telnyx-messages-class .el-table th.el-table__cell > .cell {
  display: flex !important;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.telnyx-messages-class .el-table th:first-child.el-table__cell > .cell {
  padding-left: 18px;
}
</style>
