<template>
  <div>
           

    <!--EDIT STAFF DA NOTES-->
    <el-form ref="form">
      
      <el-form-item>
          <textarea
            data-cy="da-note-editor-txa"
            class="el-textarea__inner pt-2"
            rows="8"
            v-model="noteData">
          </textarea>
      </el-form-item>

    </el-form>

    <div class="flex pt-4 mt-8 justify-end">
      <el-button @click="handleCancel()">Cancel</el-button>
      <el-button data-cy="da-update-note-btn" type="primary" @click="updateNotes()">Update</el-button>
    </div>

  </div>
</template>

<script>

export default {
  name: "StaffDAnotes",
  props:[
    'staffData',
  ],
  data() {
    return {
      noteData: ''
    }
  },

  methods: {
    loadNote() {
      this.noteData = this.staffData.notes ?? this.noteData 
    },
    /** 
     * Handles Cancel button clicks on edit
     */
    handleCancel(){
      this.$emit('collapse-danotes')
    },
    updateNotes() {
      this.$emit('update-danotes', this.noteData)
    }
  },
  mounted() {
    this.loadNote()
  }
}

</script>