<template>
  <div>
    <!--Header-->
    <div class="flex justify-between items-center">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item><i class="uil-calender"></i> Daily Rostering</el-breadcrumb-item>
        <el-breadcrumb-item>{{ date | moment('MM/DD/YYYY' )}}</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="flex space-x-2 items-center">
        <div class="flex">
          <el-button-group class="calendar-slider">
            <el-button class="date-prev" size="small" @click="changeDate(-1)"><i class="mr-2 uil uil-angle-left-b"/>Previous Day</el-button>
            <el-button class="date-picker-button">
              <el-date-picker
                class="date-picker"
                v-model="date"
                type="date"
                :clearable="false"
                placeholder="Pick a day"
                format="MM/dd/yyyy"
                size="small"
                align="center"
                :picker-options="pickerOptions">
              </el-date-picker>
            </el-button>
            <el-button class=" date-next" size="small" @click="changeDate(1)">Next Day <i class="ml-1 uil uil-angle-right-b"/></el-button>
          </el-button-group>
        </div>
      </div>
    </div>

    <!-- Notes -->
    <div v-show="!loading['notes']" class="grid grid-cols-8 grid-flow-row gap-4 mt-4">
      <!-- General Notes -->
      <div class="col-span-8 sm:col-span-4 lg:col-span-4 border rounded-lg shadow p-4 min-h-48 relative">
          <DailyRosterNotes
            @load-data="loadData"
            @showDropdownMenu="showDropdownMenu"
            :rosterData="rosterData"
            :list="daAndVehicleList"
            noteType="generalNotes"
            noteTitle="Today's General Notes"/>
      </div>

      <!-- Today Fleet Notes -->
      <div class="col-span-8 sm:col-span-4 lg:col-span-4 border rounded-lg shadow p-4 min-h-48 relative ">
          <DailyRosterNotes
            @load-data="loadData"
            @showDropdownMenu="showDropdownMenu"
            :rosterData="rosterData"
            :list="daAndVehicleList"
            noteType="fleetNotes"
            noteTitle="Today's Fleet Notes"/>
      </div>
    </div>

    <!--Daily Roster Notes -->
    <div v-if="loading['notes']" class="grid grid-cols-8 grid-flow-row gap-4 mt-4">
      <!-- General Notes -->
      <div class="col-span-8 sm:col-span-4 lg:col-span-4 border rounded-lg shadow p-4 min-h-48 relative">
        <div class="flex items-start justify-between">
          <h4 class="mb-3 mt-2 text-sm bold">Today's General Note (?)</h4>
          <div class="h-4 bg-gray-400 rounded w-8"></div>
        </div>
        <div class="flex space-x-2 items-center mt-4">
          <div class="animate-pulse flex space-x-4">
            <div class="h-4 bg-gray-400 rounded w-4"></div>
            <div class="h-4 bg-gray-400 rounded w-64"></div>
            <div class="h-4 bg-gray-400 rounded w-32"></div>
          </div>
        </div> 
        <div class="flex space-x-2 items-center mt-2">
          <div class="animate-pulse flex space-x-4">
            <div class="h-4 bg-gray-400 rounded w-32"></div>
            <div class="h-4 bg-gray-400 rounded w-8"></div>
            <div class="h-4 bg-gray-400 rounded w-16"></div>
          </div>
        </div>
        <div class="flex items-start justify-end">
          <div class="h-4 bg-gray-400 rounded w-16"></div>
        </div>
      </div>
      <!-- Fleet Notes -->
      <div class="col-span-8 sm:col-span-4 lg:col-span-4 border rounded-lg shadow p-4 min-h-48 relative">
        <div>
          <div class="flex items-start justify-between">
            <h4 class="mb-3 mt-2 text-sm bold">Today's Fleet Note (?)</h4>
            <div class="h-4 bg-gray-400 rounded w-8"></div>
          </div>
          <div class="flex space-x-2 items-center mt-4">
            <div class="animate-pulse flex space-x-4">
              <div class="h-4 bg-gray-400 rounded w-4"></div>
              <div class="h-4 bg-gray-400 rounded w-64"></div>
              <div class="h-4 bg-gray-400 rounded w-32"></div>
            </div>
          </div> 
          <div class="flex space-x-2 items-center mt-2">
            <div class="animate-pulse flex space-x-4">
              <div class="h-4 bg-gray-400 rounded w-32"></div>
              <div class="h-4 bg-gray-400 rounded w-8"></div>
              <div class="h-4 bg-gray-400 rounded w-16"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <!-- Daily Roster Table -->
    <DailyRosterRoutes
      v-if="rosterData.id && !loading['routes']"
      @load-data="loadData"
      :routes="routes"
      :dailyRosterTableData="dailyRosterTableData"
      :standbyTableData="standbyTableData"
      :dailyRosterId="rosterData.id"
      :staffList="staffList"
      :staffListAssigned="staffListAssigned"
      :staffListNotActive="staffListNotActive"
      :staffListUnassigned="staffListUnassigned"
      :deviceListAssigned="deviceListAssigned"
      :deviceListNotActive="deviceListNotActive"
      :deviceListUnassigned="deviceListUnassigned"
      :vehicleList="vehicleList"
      :vehicleListAssigned="vehicleListAssigned"
      :vehicleListUnassigned="vehicleListUnassigned"
      :parkingSpaceList="parkingSpaceList"
      :parkingSpaceListAssigned="parkingSpaceListAssigned"
      :parkingSpaceListUnassigned="parkingSpaceListUnassigned"
      :statusInAndOnTime="statusInAndOnTime"
      :statusNotIn="statusNotIn"
      :date="date"
      :formattedDate="formattedDate"
      :yesterday="yesterday"/>
    
    <!-- DAILY ROSTER SKELETON LOADER -->
    <div v-if="loading['routes']" class="container border rounded-lg shadow  p-4 mt-4">
      <div class="flex space-x-2 items-center">
        <p class="text-gray-600 text-base font-bold">ROSTER ASSIGNMENTS</p>
      </div>
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>
    
     <!--Standby Daily Roster Table -->
    <StandByRoutes
      v-if="rosterData.id && !loading['standby']"
      @load-data="loadData"
      :routes="routes"
      :standbyTableData="standbyTableData"
      :dailyRosterId="rosterData.id"
      :staffList="staffList"
      :staffListAssigned="staffListAssigned"
      :staffListNotActive="staffListNotActive"
      :staffListUnassigned="staffListUnassigned"
      :statusInAndOnTime="statusInAndOnTime"
      :statusNotIn="statusNotIn"
      :date="date"/>
    
    <!-- STANDBY DRIVERS SKELETON LOADER -->
     <div v-if="loading['standby']" class="container border rounded-lg shadow  p-4 mt-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center">
          <p class="text-gray-600 text-base font-bold">STANDBY {{$t('label.ASSOCIATES')}}</p>
        </div>
        <div class="flex space-x-2 items-center">
          <div class="animate-pulse flex space-x-4">
            <div class="h-8 bg-gray-400 rounded w-32"></div>
            <div class="h-8 bg-gray-400 rounded w-32"></div>
          </div>
        </div> 
      </div>
      <div class="animate-pulse flex space-x-4 mt-4">
        <div class="w-4 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
        <div class="flex-1 space-y-4 py-1">
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
          <div class="h-4 bg-gray-400 rounded w-full"></div>
        </div>
      </div>
    </div>

    <!-- DA Dropdown -->
    <el-dropdown size="small" trigger="click" class="da-dropdown" @command="handleCommand">
      <span class="el-dropdown-link">
      </span>
      <el-dropdown-menu class="da-dropdown-menu" slot="dropdown" v-if="isMainNote">
        <el-dropdown-item command="viewDa">View {{$t('label.associate')}}</el-dropdown-item>
        <el-dropdown-item command="issue">Add {{$t('label.associate')}} Issue</el-dropdown-item>
        <el-dropdown-item command="counseling">Add Counseling</el-dropdown-item>
        <el-dropdown-item command="kudo">Add {{$t('label.associate')}} Kudo</el-dropdown-item>
        <el-dropdown-item command="injury">Add Injury Record</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    
    <!-- Vehicle Dropdown -->
    <el-dropdown size="small" trigger="click" class="vehicle-dropdown" @command="handleCommand">
      <span class="el-dropdown-link">
      </span>
      <el-dropdown-menu class="vehicle-dropdown-menu" slot="dropdown" v-if="isMainNote">
        <el-dropdown-item command="viewVehicle">View Vehicle</el-dropdown-item>
        <el-dropdown-item command="odometer">Add Odometer Reading</el-dropdown-item>
        <el-dropdown-item command="maintenance">Add Maintenance Reminder</el-dropdown-item>
        <el-dropdown-item command="damage">Add Vehicle Damage</el-dropdown-item>
        <el-dropdown-item command="accident">Add Accident Record</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    <!-- VEHICLE DAMAGE DRAWER -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="VehicleDamage_StaffList"
      :loadingStaffList="VehicleDamage_LoadingStaffList"

      :vehicleList="VehicleDamage_VehicleList"
      :loadingVehicleList="VehicleDamage_LoadingVehicleList"
      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="handleDamageSave"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="$_VehicleDamage_delete"
    />

    <!-- ADD REMINDER FORM-->
    <el-dialog
      :title="reminderFormTitle"
      :visible.sync="reminderModalOpen"
      width="65%"
      :show-close="false"
      :close-on-click-modal="false"
      data-cy="modal_add_reminder"
      >
      <div v-loading="dialogLoading">
          <ReminderForm
            :formFields="reminderFormFields"
            :vehicleArray="vehicleList"
            :reminderVehicleSelectMultiple="reminderVehicleSelectMultiple"
            showAddService=true
            ref="reminderForm"/>
          <div class="mt-4">
            <span slot="footer" class="dialog-footer flex justify-end">
              <el-button @click="handleReminderCancel">Cancel</el-button>
              <el-button type="primary" @click="saveReminderData">{{ reminderFormAction }}</el-button>
            </span>
          </div>
      </div>
    </el-dialog>

    <!-- ADD ODOMETER FORM-->
    <el-dialog
        title="Add Odometer Reading"
        :visible.sync="odometerReadingModalOpen"
        width="65%"
        :show-close="false"
        @close="handleOdometerCancel"
      >
      <OdometerReadingForm
        v-loading="odometerLoading"
        :formFields="odometerFormFields"
        :singleVehicleArray="singleVehicleArray"
        :vehicleSelectionDisabled="vehicleSelectionDisabled"
        :modalStatus="odometerReadingModalOpen"
        ref="odometerReadingForm"
        @submit-event="saveOdometerData"
      />
      <span slot="footer" class="dialog-footer">
          <el-button @click="handleOdometerCancel">Cancel</el-button>
          <el-button type="primary" @click="saveOdometerData">Create</el-button>
      </span>
    </el-dialog>

    <!-- DA KUDO MODAL -->   
    <el-dialog
      :title="kudoModalTitle"
      :visible.sync="KudoModalOpen">
      <DaKudoForm 
        v-if="KudoModalOpen" 
        :editFormFields="kudoFormFields"
        @close="closeAddKudo"
        @close-add-kudo="closeAddKudo"
        @mutate-add-kudo="mutateKudo"/>
    </el-dialog>

  </div>
</template>

<script>
  import DailyRosterNotes from './components/Notes'
  import DailyRosterRoutes from './components/Routes'
  import StandByRoutes from './components/StandByRoutes.vue'
  import EventBus from '@/eventBus'
  import { getVehicleMaintenanceReminderUpdatedTimestamp, getVehicleUpdatedTimestamp } from '@/utilities/timestampQueries'
  import { createAccident, deleteAccident, updateVehicle, createInfraction, createVehicleMaintenanceReminder, updateVehicleMaintenanceReminder } from '@/graphql/mutations'
  import { dailyRostersByGroupAndNotesDate, staffsByGroup, listStaffsDailyRoster, vehiclesByGroup, devicesByGroup } from './graphql/queries';
  import ReminderForm from '@/views/Vehicles/components/Reminders/ReminderForm'
  import OdometerReadingForm from '@/views/Vehicles/components/Odometer/OdometerReadingForm'   
  import DaKudoForm from '@/components/DaKudoForm'
  import { accidentsByVehicleAndHistoryType } from '@/views/Vehicles/queries';
  import { mapGetters, mapState } from 'vuex'
  import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
  import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
  import { INCIDENT_ROUTE_NEW } from '@/utilities/constants/routeNames';

  export default {
    name:'DailyRosterV2',
    mixins: [
      VehicleDamageMixin,
    ],
    components: {
      DailyRosterNotes,
      DailyRosterRoutes,
      StandByRoutes,
      ReminderForm,
      OdometerReadingForm,
      DaKudoForm,
      VehicleDamage,
    },
    props: ['dateId'],
    data() {
      return {
        date: '',
        staffList: [],
        vehicleList: [],
        deviceList: [],
        isMainNote: true,
        loading: {
          notes: false,
          routes: false,
          standby: false
        },
        dialogLoading: false,
        odometerLoading: false,
        reminderModalOpen: false,
        KudoModalOpen: false,
        pickerOptions: {
          disabledDate(time) {
            const date = new Date();
            date.setTime(date.getTime() + 3600 * 1000 * 24 * 90);
            return time.getTime() > date;
          },
          shortcuts: [          
            {
              text: 'Yesterday',
              onClick(picker) {
                const date = new Date();
                date.setTime(date.getTime() - 3600 * 1000 * 24);
                picker.$emit('pick', date);
              }
            },
            {
              text: 'Today',
              onClick(picker) {
                picker.$emit('pick', new Date());
              }
            },  
            {
              text: 'Tomorrow',
              onClick(picker) {
                const date = new Date();
                date.setTime(date.getTime() + 3600 * 1000 * 24);
                picker.$emit('pick', date);
              }
            }
          ]
        },
        rosterData:{
          id: null,
          notesDate: null,
          generalNotes: null,
          fleetNotes: null,
          dailyRosterTenantId: null,
        },
        singleVehicleArray: [],
        reminderFormFields: {
            services: [],
            dueByMileage: null,
            dueByDate: null,
            vehicleMaintenanceReminderVehicleId: null, 
            vehicleId: [],
        },
        reminderVehicleSelectMultiple: false,
        reminderFormTitle: '',
        reminderFormAction: "Create",
        odometerReadingModalOpen: false,
        vehicleSelectionDisabled: true,
        odometerFormFields: {
            odometerDate: null,
            odometerType: null,
            mileage: null,
            time: null,
            notes: null,
            vehicleId: null,
            accidentVehicleId: null,
            deviceId: null
        },
        kudoModalTitle: '',
        kudoFormFields: {},
        daList: [],
        daAndVehicleList: null,
        rosterStatusItems: null,
        mentionedItem: null,
        routes: [],
      }
    },

    created() {
      window.setVueComponent(this)
      this.setDailyRosterDate()
    },

    async mounted() {
      this.setLoadingValue(true)
      await this.loadData()
    },

    beforeDestroy(){
      EventBus.$off('load-performance')
    },

    methods: {

      setDailyRosterDate() {
        let date = new Date(this.dateId.replace(/-/g, '/'))
        this.date = date
        let yesterday = new Date(this.dateId.replace(/-/g, '/'))
        yesterday.setDate(this.date.getDate() - 1)
        this.yesterday = yesterday.toISOString().split('T')[0]
        this.formattedDate = this.date.toISOString().split('T')[0]
      },

      async loadData(component) {
        try {

          if(component) this.loading[component] = true

          await this.loadDailyRosterAndNotes()
          await this.loadStaffData()
          await this.loadStaffList()
          await this.loadVehicleList()
          await this.loadDeviceList()

          this.getRosterStatusItems()
          this.joinDaAndVehicleLists()

        }catch(e){
          this.displayUserError(e)
        }finally{
          this.setLoadingValue(false)
          this.odometerLoading = false
        }
      },

      async loadDailyRosterAndNotes() {
        try {
          var input = {
            notesDate : {
              eq: this.formattedDate
            },
            group: this.$store.state.userInfo.tenant.group
          }
          var roster = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

          /** create roster if one doesn't exist for today **/
          if(!roster.length) {

            this.rosterData.id = `${this.formattedDate}${this.$store.state.userInfo.tenant.group}`
            this.rosterData.notesDate = this.formattedDate
            this.rosterData.dailyRosterTenantId = this.userInfo.tenant.id
            
            var result = await this.createDailyRoster()

            if(result.errors && result.errors[0].errorType && result.errors[0].errorType.includes("DynamoDB:ConditionalCheckFailedException")){
              //Having duplication issues so checking one more time after waiting 500 miliseconds.
              await this.sleep(500)
              roster = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')
            }
            else if(result.data && result.data.createDailyRoster){
              roster.push(result.data.createDailyRoster)
            }
            else{
              throw result
            }

          }
          
          /** If roster exists for today */
          if(roster.length) {
            var rosterData = roster[0]
            var routes = this.cleanRosterData(rosterData.route.items)
          }

          this.rosterData = rosterData
          this.routes =  routes
          
        } catch (e) {
          throw e
        }
      },

      /**
       * Creates daily roster using GraphQL mutation
       */
      async createDailyRoster(){
        try {
          const input = {
            ...this.rosterData,
            group: this.$store.state.userInfo.tenant.group,
            creationRoute: this.$route.name, 
            userId: this.$store.state.userInfo.id
          }
          delete input.previousNotes
          const result = await this.api(createDailyRoster, {input: input})
          return result
        } 
        catch(e) {
          return e      
        }
      },

      cleanRosterData(routes) {
        routes = routes .map( route => {
          if(!route.vehicle) route.vehicle = {id: null, name: ''}
          if(!route.staff) route.staff = {id: null, firstName: ''}
          /**Remove Helper and Rescuer */
          // if(!route.helper) route.helper = {id: null, firstName: ''}
          // if(!route.rescuer) route.rescuer = {id: null, firstName: ''}
          if(!route.device) route.device = {id: null, deviceName: ''}
          if(!route.device2) route.device2 = {id: null, deviceName: ''}
          if(!route.routeNumber) route.routeNumber = ''
          if(!route.parkingSpace) route.parkingSpace = ''
          if(!route.staging) route.staging = ''
          if(!route.time) route.time = ''
          if(route.messages.items.length > 0) route.messages.items = route.messages.items.sort((a, b) => {
            return new Date(a.createdAt) - new Date(b.createdAt);
          })
          if(route.replaceByRoute.items.length){
            route.replaceByRoute.items.map(function(replaceByRoute){
              if(!replaceByRoute.vehicle) replaceByRoute.vehicle = {id: null}
              if(!replaceByRoute.device) replaceByRoute.device = {id: null}
              if(!replaceByRoute.staff) replaceByRoute.staff = {id: null}
            })

          }
          return route
        })

        return routes
      },

      async handleDamageSave() {
        await this.$_VehicleDamage_saveData();

        if (!this.VehicleDamage_IsOpen) { // Save success
          this.loadData();
        }
      },

      /**
       *  Load Staff
      */
      async loadStaffData() {
        this.daList = []
        try {
          var input = {
            group: this.$store.state.userInfo.tenant.group
          }
          const data = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');
          this.daList = data;
          this.daList.map((item, idx)=>{
            item.type = 'DA'
            item.value = `<i class="uil uil-user"></i>${item.firstName} ${item.lastName}`
          });
        } catch (e) {
          throw e
        }
      },

      /**
       * Loads list of DAs for select using GraphQL
       */
      async loadStaffList() {
          var input = {
            group: this.$store.state.userInfo.tenant.group
          }
          this.staffList = await this.gLoadListAll(listStaffsDailyRoster, input, 'staffsByGroup')
      },

      /**
       * Load Vehicles 
      */
      async loadVehicleList() {
        this.vehicleList = []
        try{
          let input = {
            group: this.$store.state.userInfo.tenant.group
          }
          const vehicleList = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup');
          this.vehicleList = vehicleList.sort(function(a,b){
            return a.name.toLowerCase().localeCompare(b.name.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
          });
          this.vehicleList.map((item, idx)=>{
            item.type = 'Vehicle'
            item.value = `<i class="uil uil-truck"></i>${item.name}`
          });
        }
        catch(e) {
          this.displayUserError(e)
        }
      },

      /**
      * Loads list of devices for select using GraphQL
      */
      async loadDeviceList() {
        var input = {
          group: this.$store.state.userInfo.tenant.group
        }
        var deviceList = await this.gLoadListAll(devicesByGroup, input, 'devicesByGroup')
        this.deviceList = deviceList.sort(function(a,b){  
          return a.deviceName.toLowerCase().localeCompare(b.deviceName.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
        })
      },

      getRosterStatusItems() {
        this.rosterStatusItems = this.valueListActivesOnly(this.$store.state.valuelists['roster-status'].items)
      },

      joinDaAndVehicleLists() {
        this.daAndVehicleList = this.daList.concat(this.vehicleList)
      },

      showDropdownMenu(value) {
        this.isMainNote = value
      },

      handleCommand (command) {
        let previousRouteText = 'Daily Roster V2'
        let previousRouteName = this.$route.name
  
        if(command == 'viewDa') {
          this.$router.push({ name: 'StaffDetail', params: { id: this.mentionedItem.id }, query: { previousRouteText, previousRouteName }})
        } else if(command == 'issue') {
          this.$router.push({ name:"DaIssueEdit" });
        } else if(command == 'counseling') {
          this.$router.push({name: 'CounselingNew', params: { userId: this.$store.state.userInfo.id, staffId: this.mentionedItem.id } })
        } else if(command == 'kudo') {
          this.createKudo()
        } else if(command == 'injury') {
          this.$router.push({ name: 'InjuryNew', params: { staffID: this.mentionedItem.id, fullName: `${this.mentionedItem.firstName} ${this.mentionedItem.lastName}` }})
        } else if(command == 'viewVehicle') {
          this.$router.push({name: 'VehicleDetail', params:{ id: this.mentionedItem.id } })
        } else if(command == 'odometer') {
          this.createOdometerReading()
        } else if(command == 'maintenance') {
          this.createVehicleMaintenanceRecord()
        } else if(command == 'damage') {
          this.createVehicleDamage()
        } else if(command == 'accident') {
          this.$router.push({
            name: INCIDENT_ROUTE_NEW,
            params:{
              vehicleID: this.mentionedItem.id,
              loadAsAccidentType: true,
            }
          });
        }
      },

      createKudo() {
        if(this.mentionedItem.id){
            this.kudoFormFields = {
                staff: {
                    id: this.mentionedItem.id
                },
                date: null,
                notes: null,
                staffId: this.mentionedItem.id,
                kudoType: null
            }
        }
        else{
            this.kudoFormFields = {}
        }
        this.kudoModalTitle = `Add ${this.$t('label.associate')} Kudo`
        this.KudoModalOpen = true
      },

      closeAddKudo(){
          this.addingKudo = true
          this.KudoModalOpen = false
      },

      async mutateKudo(){
          this.KudoModalOpen = false
          this.nextToken = null
          this.tableData = []
          this.addingKudo = true
          if(this.range == "all"){
              let numNextTokens = this.numNextTokens
              this.numNextTokens = 0
              for(let i = 0 ; i < numNextTokens; i++){
                  await this.loadData()
              }
          }
          else{
              this.loadData()
          }
      },

      createOdometerReading() {
        if(!this.$store.getters.hasVehicleManagement){
          this.warningMessage = "add odometer readings"
          this.warningType = "vehicle management"
          this.showUpgradeDialog = true
          return
        }
        var vehicle = this.vehicleList.find(vehicle => vehicle.id == this.mentionedItem.id)
        this.editVehicleData = {...vehicle}
        let date = new Date()
        this.odometerFormFields.odometerDate = date
        this.odometerFormFields.vehicleId = this.mentionedItem.id
        this.odometerFormFields.accidentVehicleId = this.mentionedItem.id
        this.odometerFormFields.group = this.$store.state.userInfo.tenant.group
        this.odometerFormFields.vehicleHistoryType = "Odometer Reading"
        if(this.mentionedItem.device){
            this.odometerFormFields.deviceId = this.mentionedItem.device.id
        }
        this.vehicleSelectionDisabled = true
        this.odometerReadingModalOpen = true

        var vehicleObj = {
            id: this.mentionedItem.id,
            name: this.mentionedItem.name
        }
        this.singleVehicleArray.push(vehicleObj)
        return
      },

      /**
       * Handles clicking the cancel button on the Odometer Reading Form
       */
      handleOdometerCancel(){
        this.$refs.odometerReadingForm.$refs.form.clearValidate()
        this.odometerReadingModalOpen = false
        this.odometerLoading = false
        this.odometerFormFields = {
            odometerDate: null,
            odometerType: null,
            mileage: null,
            time: null,
            accidentVehicleId: null,
            vehicleId: null,
            deviceId: null
        }
        this.singleVehicleArray = []
      },

      /**
       * Creates a Odometer Reading Type Accident Record
       */
      async saveOdometerData(){
          try{
            if(!this.editVehicleData.id){
                throw 'Please select a vehicle.'
            }
            //check vehicle timestamp
            var timestampResult = await this.api(getVehicleUpdatedTimestamp, {id: this.editVehicleData.id})
            if(!timestampResult.data.getVehicle){
              throw "Vehicle is missing or deleted by another user."
            }
            var timestamp = timestampResult.data.getVehicle.updatedAt
            if(this.editVehicleData.updatedAt != timestamp){
              throw "Record was updated by another user. Please copy any changes and refresh the page."
            }
            var odometerReadingId = null;
            await this.$refs.odometerReadingForm.$refs.form.validate();
            var input = {...this.odometerFormFields}
            var vehicleId = input.vehicleId
            var deviceId = input.deviceId
            input.mileage = this.cleanMileage(input.mileage)
            input.accidentVehicleId = vehicleId
            input.accidentDate = input.odometerDate
            this.cleanAccidentInput(input)
            const result = await this.api(createAccident, {input})
            odometerReadingId = result.data.createAccident.id

            //load data
            this.odometerLoading = true
            this.loadData()

            //Get Last Mileage Record
            var input = {
                vehicleId: vehicleId,
                sortDirection: "DESC",
                limit: 5, 
                vehicleHistoryTypeAccidentDate: 
                    {beginsWith: {vehicleHistoryType: "Odometer"}
                }
            }

            var odometerReading = await this.api(accidentsByVehicleAndHistoryType, input)

            var readings = odometerReading.data.accidentsByVehicleAndHistoryType.items
            readings.sort((a,b)=>{
              var accidentDateA = a.accidentDate
              var createdTimestampA = a.createdAt

              var accidentDateB = b.accidentDate
              var createdTimestampB = b.createdAt

              if(accidentDateA == accidentDateB){
                return new Date(createdTimestampB) - new Date(createdTimestampA)
              }
              return new Date(accidentDateB) - new Date(accidentDateA)
            })

            //Updated vehicle with the latest mileage reading
            var input = {
              ...this.editVehicleData
            };
            input.mileage = readings[0].mileage,
            input.lastOdometerReadingDate = readings[0].accidentDate

            if(deviceId){
                input.vehicleDeviceId = deviceId
            }
            input = this.cleanVehicleInput(input)
            input = this.cleanInputVariable(input)

            await this.api(updateVehicle, {input}, getVehicleUpdatedTimestamp, 'getVehicle')

            // Wrap up
            this.loadData()
            this.odometerReadingModalOpen = false
            this.odometerFormFields = {
                odometerDate: null,
                odometerType: null,
                mileage: null,
                time: null,
                vehicleId: null,
                accidentVehicleId: null
            }
            this.singleVehicleArray = []
          }
          catch(e){
            this.printUserError(e)
              if(e == false){
                  e = "Please fill out all required fields and correct any errors."
              }

              //Only deletes if the odometer is being created, not updated.
              //odometerReadingId will be null if the odometer was updated
              if(odometerReadingId){
                  this.api(deleteAccident, {input: {id: odometerReadingId}})
              }
              this.displayUserError(e)
          } finally {
            this.odometerReadingModalOpen = false
          }
      },

      cleanInputVariable(input) {

        if(!input.licensePlateExp) input.licensePlateExp = null
        if(input.defaultStaff) delete input.defaultStaff
        if(input.defaultStaff2) delete input.defaultStaff2
        if(input.defaultStaff3) delete input.defaultStaff3
        if(input.value) delete input.value

        return input
      },

      createVehicleDamage() {
        const payload = {
          mode: 'create',
          formAction: 'Create',
          formTitle: "Add Vehicle Damage Record",
          disableVehicleSelection: true,
          formFields: {
            vehicleId: this.mentionedItem.id,
            accidentVehicleId: this.mentionedItem.id,
          },
          prefixCounselingCreatedFrom: 'Daily Roster v2',
        };

        this.$_VehicleDamage_open(payload);
      },

      /**
       * Create an infraction record
       */
      async createInfraction(staffID, date, notes, counselingID){
        try{
          var input = {
            group: this.$store.state.userInfo.tenant.group,
            //infractionType: 'Vehicle Damage',
            infractionTypeId: this.issueTypeList.find(item => item.option === 'Vehicle Damage')?.id,
            date: date,
            infractionStaffId: staffID, 
            staffId: staffID,
            comment: notes
          }

          if(counselingID){
            input.infractionCounselingId = counselingID
          }

          var infraction = this.api(createInfraction, {input})
          return infraction
        }
        catch(e){
          throw e
        }
      },

      /**
       * Create vehicle Maintenance Record
       */

      createVehicleMaintenanceRecord() {
        this.$refs.reminderForm?.$refs.form.resetFields();
        this.reminderFormFields.group = this.userInfo.tenant.group
        this.reminderFormFields.vehicleId = this.mentionedItem.id
        this.reminderFormFields.vehicleMaintenanceReminderVehicleId =  this.mentionedItem.id
        this.reminderFormFields.status = "Pending"
        this.reminderFormTitle = "Add Maintenance Reminder"
        this.reminderFormAction = "Create"
        this.reminderVehicleSelectMultiple = false
        this.reminderModalOpen = true
      },

      /**
       * Creates VehicleMaintenanceReminder
       */
      async saveReminderData(){
        
          try{
              this.dialogLoading = true
              await this.$refs.reminderForm.$refs.form.validate();
              var input = { ...this.reminderFormFields }
              if(input.dueByMileage){
                input.dueByMileage = this.cleanMileage(input.dueByMileage)
                input.dueBySort = parseFloat(this.cleanMileage(input.dueByMileage))
              }
              if(!input.dueByMileage){
                input.dueBySort = (new Date(input.dueByDate).getTime() / 1000000)
                input.dueByMileage = null
              }
              if(!input.id){
                input.status = "Pending"
                const reminder = await this.api(createVehicleMaintenanceReminder, {input})
              }
              else{
                const reminder = await this.api(updateVehicleMaintenanceReminder, {input}, getVehicleMaintenanceReminderUpdatedTimestamp, 'getVehicleMaintenanceReminder')
              }
              this.$refs.reminderForm.$refs.form.clearValidate();
              this.reminderModalOpen = false
              this.reminderFormFields = {
                  services: [],
                  dueByMileage: null,
                  dueByDate: null,
                  vehicleId: null,
              }
              this.loadData()
          }
          catch(e){
              this.printUserError(e)
              if(e == false){
                  e = "Please fill out all required fields and correct any errors."
              }
              this.displayUserError(e)
          }
          finally{
              this.dialogLoading = false
          }
      },

      /**
       * Handles canceling reminder creation
       */
      handleReminderCancel(){
          //Causes validator errors
          this.$refs.reminderForm.$refs.form.resetFields();
          this.$refs.reminderForm.$refs.form.clearValidate();
          this.reminderModalOpen = false
      },
      
      setMentionItem(item) {
        this.mentionedItem = this.daAndVehicleList.find(list => list.id === item.id);
      },

      changeDate(delta){
        let newDate = new Date()
        console.log(newDate);
        newDate.setTime(this.date.getTime() + (delta * 3600 * 1000 * 24))
        console.log(newDate);
        this.date = newDate      
      },

      valuelists(key){
        if(!this.$store.state.valuelists[key]){
          return {
            [key]:{
              items: []
            }
          }
        }
        return this.$store.state.valuelists[key]
      },

      /**
       * Set loading value
       */
      setLoadingValue(value){
        this.loading = {
          notes: value,
          routes: value,
          standby: value
        }
      }
    },

    computed:{
      ...mapState([
        'userInfo'
      ]),
      ...mapGetters([
        'hasDailyRosteringManagement',
        'issueTypeList',
      ]),

      /**
       *  Roster Table
       */
      dailyRosterTableData(){
        return this.routes.filter((driver) => {
          return !driver.standby
        }).map(item => ({...item, time: (item.time.includes('am') || item.time.includes('pm')) ? this.$moment(item.time, "h:mm A").format("HH:mm") : item.time }))
      },

      /**
       * StandBy DAs
       */
			standbyTableData() {
				return this.routes.filter( driver => driver.standby == true)
			},

      staffListAssigned() {
        /** Who else have to be included in this list */
        var assignedHelpers = []
        // var assignedRescuers = []
        var assignedStaff = this.routes.map( route => route.staff.id )

        this.routes.forEach( route => {
          route.helpers.items.forEach( helper => {
            assignedHelpers.push(helper.staff.id)
          })
        })
        
        // this.routes.forEach( route => {
        //   route.rescuers.items.forEach( rescuer => {
        //     assignedRescuers.push(rescuer.staff.id)
        //   })
        // })

        assignedStaff = [
          ...assignedStaff,
          ...assignedHelpers,
          // ...assignedRescuers
        ]
        return this.staffList.filter(staff => assignedStaff.includes(staff.id) )
      },

      staffListNotActive() {
        return this.staffList.filter( staff => staff.status != "Active" )
      },

      staffListUnassigned() {
        var assignedHelpers = []
        // var assignedRescuers = []
        var assignedStaff = this.routes.map( route => route.staff.id )

        this.routes.forEach( route => {
          route.helpers.items.forEach( helper => {
            assignedHelpers.push(helper.staff.id)
          })
        })
        
        // this.routes.forEach( route => {
        //   route.rescuers.items.forEach( rescuer => {
        //     assignedRescuers.push(rescuer.staff.id)
        //   })
        // })

        assignedStaff = [
          ...assignedStaff,
          ...assignedHelpers,
          // ...assignedRescuers
        ]

        return this.staffList.filter(staff => {
          return !assignedStaff.includes(staff.id) && (staff.status == "Active")
        })
      },

      statusInAndOnTime() {
        var statusInAndOnTime = this.rosterStatusItems.filter(status => status.value.includes('Time') || status.value.includes('Late'))
        return statusInAndOnTime.sort((a,b)=> b.value.localeCompare(a.value))
      },

      statusNotIn() {
        var statusInAndOnTime = this.statusInAndOnTime.map(status => status.id)
        return  this.rosterStatusItems.filter(status => !statusInAndOnTime.includes(status.id))
      },

      vehicleListAssigned() {
        let _this = this
        var assignedVehicles = this.dailyRosterTableData.map( route => route.vehicle.id)

        return this.vehicleList.filter( vehicle => {
          let route = _this.routes.find(item => item.vehicle.id === vehicle.id)
          if(route && route.status != 'Called Out' && assignedVehicles.includes(vehicle.id)) {
            return vehicle
          }
        })
      },

      vehicleListUnassigned() {
          var assignedVehicles = this.dailyRosterTableData.map( (route) => {
            return route.vehicle.id
          })

          let _this = this
          return this.vehicleList.filter(vehicle => {
            let route = _this.routes.find(item => item.vehicle.id === vehicle.id)
            return !assignedVehicles.includes(vehicle.id) && (vehicle.status == "Active") || assignedVehicles.includes(vehicle.id) && route && (route.status == "Called Out")
          })
      },

      deviceListAssigned() {
        var assignedDevices = this.dailyRosterTableData.map( route => route.device.id)
        return this.deviceList.filter(device => assignedDevices.includes(device.id) )
      },

      deviceListNotActive() {
        return this.deviceList.filter(device => device.status != "Active")
      },

      deviceListUnassigned() {
        var assignedDevices = this.dailyRosterTableData.map(route => route.device.id)
        return this.deviceList.filter(device => !assignedDevices.includes(device.id) && (device.status == "Active" ))
      },

      parkingSpaceList() {
        let arrayParkingSpace = [];
        let getParkingSpace = this.valueListActivesOnly(this.valuelists('parking-space').items)

        getParkingSpace.map(parkingSpace=> arrayParkingSpace.push(parkingSpace.value))

        return arrayParkingSpace.sort(function(a,b){
          return a.toLowerCase().localeCompare(b.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'})
        })
      },

      parkingSpaceListAssigned() {
        var assignedParkingSpaces = this.dailyRosterTableData.filter( route => {
          if (route.parkingSpace) return route
        }).map(route => route.parkingSpace)

        return this.parkingSpaceList.filter(parkingSpace => assignedParkingSpaces.includes(parkingSpace))
      },

      parkingSpaceListUnassigned() {
        var assignedParkingSpaces = this.dailyRosterTableData.filter(route => {
          if(route.parkingSpace) return route
        }).map( route => route.parkingSpace)

        return this.parkingSpaceList.filter( parkingSpace => !assignedParkingSpaces.includes(parkingSpace))
      },

    }
  }
</script>

<style lang="scss">
  .el-drawer__header {
    @apply bg-brand p-4 mb-0 ;
    color: #fff
  }
  .custom-select {
    width: 100%;
  }
  .el-drawer__body {
		height: 100% ;
		box-sizing: border-box;
		overflow-y: auto;
	}
  .custom-drawer__footer {
    position: absolute;
    right: 0;
  }

  .da-dropdown {
    position: absolute;
  }

  .vehicle-dropdown {
    position: absolute;
  }
</style>

<style>
.date-picker-button {
    padding: 0;
    overflow: hidden;
    height: 2rem;
}
.date-picker input {
  border: none;
  @apply text-brand font-bold text-center text-base !important;
  width: 160px !important;
}
.send-announcement-button{
  @apply text-xs my-0 py-0 !important;
}  
.date-prev, .date-next, .date-picker-button{
    border-radius: 0px !important;
    @apply shadow-none !important;
    width: 145px !important;
}
.calendar-slider{
  @apply shadow rounded-lg  !important;
}
.date-prev{
  @apply rounded-l-lg !important;
  width: 130px !important;
}
.date-next{
  @apply rounded-r-lg !important;
  width: 105px !important;
}

</style>