div#parallax-bg-1 {
  left: 5%;
}

div#bg-1-2 {
  margin-top: 500px;
}

.about-section {
  background-size: cover;
  padding-bottom: 30px;
  height: auto;
}

.whyus-section {
  background-position: right bottom;
  background-size: contain;
}

.accordion-content {
  background-color: #fff;
}

.partners-box img {
  max-width: 22%;
}

.news-container .featured-news-box,
.news-container .featured-news-box:hover {
  background-size: cover;
}

.news-container .f-news-content {
  width: 96%;
}

.news-container .media-left,
.media > .pull-left {
  padding-right: 14px;
  width: 30%;
}

.media-object {
  width: 100%;
}

.news-container .media {
  margin-bottom: 21px;
  margin-top: 30px;
}

/* .top-banner-container h1{
	width: 100%;
	font-size: 25px;
} */

/* .top-banner-container h2{
	padding-top: 65px;
} */

.amz-features-section {
  height: auto;
}

.amz-features-container .feature-box .icon-box {
  width: 12%;
}

.amz-features-container .feature-box .content-box {
  width: 83%;
}

.amz-features-container .feature-box {
  margin-bottom: 0;
}

.amz-features-container .feature-box .icon-box.desktop-hidden {
  display: inline-block;
}

.amz-features-container .feature-box .icon-box.desktop-visible {
  display: none;
}

.amz-features-container .feature-iphone {
  display: none;
}

.amz-features-container .right-features .feature-box .icon-box,
.amz-features-container .right-features .feature-box .content-box h4,
.amz-features-container .right-features .feature-box .content-box h5 {
  text-align: left;
}

.p-0 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-l {
  padding-left: 15px;
}

.p-r {
  padding-right: 15px;
}

.facts-container [class^="flaticon-"]:before,
.facts-container [class*=" flaticon-"]:before,
.facts-container [class^="flaticon-"]:after,
.facts-container [class*=" flaticon-"]:after {
  margin-bottom: 25px;
}

.about-section {
  background-image: none;
  background-color: #f5f5f5;
}

.about-container .about-iphone {
  display: none;
}

.partners-box {
  width: 100%;
}

.partners-container .content-heading {
  padding-top: 80px;
}

.testimonial-section {
  height: auto;
  padding-bottom: 30px;
}

.testimonial-container .item .c-img-box {
  margin-top: 45px;
}

.demo-container .addr-box {
  text-align: center;
}

/*----- 24-5-17 ------*/

.visapp-container .left-col .content-subheading2 {
  padding-top: 35px;
}

.visapp-container .left-col .content-subheading2 span {
  display: block;
}

/* .visapp-container .left-col .print-img{
	width: 40%;
} */

.visapp-container .right-col,
.visapp-container .left-col {
  padding: 0 40px;
  border: none;
}

.team-container .team-wrapper {
  width: 29%;
}

.connected-container .get-connected-box {
  width: 68%;
}

.awsm-features-container .awsm-feature-box .icon-div {
  height: 58px;
}

.awsm-features-container .awsm-feature-box .icon-div .fa {
  font-size: 42px;
}

.awsm-features-container .awsm-feature-box {
  width: 44%;
}

.top-banner-section {
  height: 700px;
}

div#parallax-bg-1 div {
  width: 700px;
}

div#parallax-bg-1 div img {
  width: 100%;
}

/*-------- 27-4-17 -------*/

.testimonial-container .testim-box .c-logo-box .c-logo {
  width: 18%;
}

.testimonial-container .testim-box .c-logo-box .c-title {
  padding-left: 10px;
  width: 78%;
  min-height: 68px;
  padding-top: 15px;
}

.testimonial-container .testim-box {
  margin: 30px 0;
}

/*--------- 22-5-17 ---------*/

.whyus-container .content-heading {
  margin-top: 20px;
}

.partners-container .content-heading {
  padding-top: 80px;
}

.partners-section {
  height: 530px;
}

.whyus-section {
  background: none;
  height: auto;
  padding-bottom: 30px;
}

/*----- 10-6-17 ------*/

.top-banner-container .bann-content {
  padding-top: 150px;
  padding-left: 10%;
  float: left;
  width: 100%;
}

header .ezy-logo {
  height: 68px;
}

header .hdr-btns-div {
  margin-top: 18px;
}

.amz-features-container .feature-box .heading-box h4 {
  text-align: left;
}

.amz-features-container .feature-box .heading-box h4 br {
  display: none;
}

.amz-features-container .feature-box .content-box {
  padding-left: 0;
}

.amz-features-container .left-colm,
.amz-features-container .right-colm {
  padding-top: 0;
}

.amz-features-container .right-features .feature-box .heading-box {
  width: 100%;
  display: block;
}

.facts-container h5.fact-para {
  margin: -10px auto 20px;
}

.top-banner-container .p-l {
  padding-left: 0;
}

.testimonial-container .testim-box .wh-bx {
  width: 100%;
}

.faq-banner-section,
.about-banner-section,
.howitworks-banner-section {
  height: 340px;
}

.about-section {
  padding-top: 0;
}
.form-container .form-top {
  padding: 20px 15px;
}

.cmform-heading,
.form-mainarea .cm-formbox,
.cmform-subheading {
  margin-left: 30px;
  margin-right: 30px;
}

.btn-default.submit-btn {
  margin-right: 30px;
}

.form-top .form-top-right .addr-box .fa {
  font-size: 30px;
}

.form-container {
  padding: 0 25px;
}

.form-top .form-top-right .addr-box h3 {
  line-height: 22px;
}

.form-top .form-top-left .uimg-box {
  width: 110px;
  height: auto;
  border-radius: 110px;
}

.form-top .form-top-left h1.user-title {
  font-size: 16px;
}

.form-top .form-top-left {
  min-height: 195px;
}

.form-top .form-top-right .addr-box a > h3 {
  overflow-wrap: break-word;
}

.cmform-select.one-third,
.cmform-input.one-third {
  width: 13.6%;
}
