<template>
  <div>
    <!--HEADER-->
    <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-button data-cy="drug-tests-add-btn" v-if="$store.getters.hasStaffManagement" class="w-40" size="small" type="primary" @click="handleAddDrugTest">Add Drug Test</el-button>
            <el-popover
            v-else
            placement="bottom"
            title="Premium Required"
            width="215"
            trigger="hover"
            content=""
            class=" ml-1 text-center inline-block"
            > 
            <el-button class="opacity-50 w-40" type="primary" size="small" slot="reference">Add Drug Test</el-button>
            <PremiumWarning
                action="add drug tests"
                premiumFeature="DA management">
            </PremiumWarning>
            </el-popover>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."/>
        </div>
    </div>  


    <!--DRUG TEST TABLE-->
    <el-table
        ref="table"
        empty-text="No Drug Tests"
        :data="filterArray( staffData.drugTests.items, search )"
        style="width: 100%">
        

        <el-table-column
          label="Date"
          sortable
          prop="date">
          <template slot-scope="scope">
            {{ scope.row.date | date_timezone }}
          </template>
        </el-table-column>


        <el-table-column
          label="Location"
          sortable
          prop="location">
          <template slot-scope="scope">
            {{ scope.row.location | text }}
          </template>
        </el-table-column>


        <el-table-column
          label="Results"
          sortable
          prop="results">
          <template slot-scope="scope">
            {{ scope.row.results | text }}
          </template>
        </el-table-column>


        <el-table-column
          label="File"
          sortable
          prop="fileName">
          <template slot-scope="scope">
            {{ scope.row.fileName | text }}
          </template>
        </el-table-column>   

        <el-table-column
          fixed="right"
          width="54">
          <template slot-scope="scope">
            <i 
              v-if="scope.row.fileName"
              @click="downloadFile(scope.row.file)"
              class="icon-button hover:text-brand uil uil-import"/>
          </template>
        </el-table-column>

        <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
             <i
              data-cy="edit-drug-test-btn"
              v-if="$store.getters.hasStaffManagement"
              @click="openEditDrugTestModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
            <el-popover
              v-else
              placement="bottom"
              title="Premium Required"
              width="215"
              trigger="hover"
              content=""
              class=" ml-1 text-center inline-block"
            > 
            <i
              slot="reference"
              class="icon-button uil uil-pen"
            />
            <PremiumWarning
              action="edit drug tests"
              premiumFeature="DA management"
            >
            </PremiumWarning>
            </el-popover>
          </template>
        </el-table-column>

    </el-table>

    <p class="mt-4">{{ staffData.drugTests.items.length || 0 }} Total Drug Tests</p>


    <!--NEW MODAL-->
    <el-dialog
      title="Add Drug Test"
      :visible.sync="newModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <DrugTestForm ref="newModalForm" :staffData="staffData" :formFields="newDrugTestData"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="cancelNewModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="drug-tests-modal-confirm-btn"
              type="primary"
              :clickHandler="createDrugTest"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Confirm
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>


    <!--EDIT MODAL-->
    <el-dialog
      title="Edit Drug Test"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <DrugTestForm ref="editModalForm" :staffData="staffData" :formFields="editDrugTestData" @loadData="loadData()"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
              data-cy="drug-tests-modal-delete-btn"
              type="danger"
              class="float-left"
              :clickHandler="confirmDeleteDrugTest"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Delete
            </ButtonWrapper>
            <el-button
              :disabled="disabled"
              @click="cancelEditModal"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="drug-tests-modal-update-btn"
              type="primary"
              :clickHandler="updateDrugTest"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Update
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>
  
  </div>

</template>

<script>

import DrugTestForm from './DrugTestForm'
import { createDrugTest, updateDrugTest, deleteDrugTest } from '@/graphql/mutations'
import { getDrugTestUpdatedTimestamp } from '@/utilities/timestampQueries'
import { Storage } from 'aws-amplify'
import { Auth, API } from 'aws-amplify';
import { mapState } from 'vuex'
import PremiumWarning from '@/components/PremiumWarning.vue'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

  export default {
    name: 'DrugTest',
    components: {
      DrugTestForm,
      PremiumWarning,
      ButtonWrapper,
      ButtonGroupWrapper,
    },
    props: ['staffData'],
    data() {
      return {
        newModalOpen: false,
        search: '',
        newDrugTestData:{},
        editModalOpen: false,
        editDrugTestData:{}
      }
    },


    methods: {
      /** Closes edit drug test modal window */
      cancelEditModal: async function(){
        this.editDrugTestData = {}
        this.$refs.editModalForm.clearFileUpload()
        this.editModalOpen = false
        this.$emit('loadData')
      },

      /** Closes new drug test modal window and deletes file in S3 if uploaded */
      cancelNewModal: async function(){
        this.newDrugTestData = {}
        this.$refs.newModalForm.clearFileUpload()
        this.newModalOpen = false
      },

      /** Creates drug test */
      async createDrugTest(){
        try {
          
          // upload file if available
          if(this.$refs.newModalForm.fileUploadEvent != null) await this.$refs.newModalForm.uploadDocument()
        
          //Create DB record
          const input = {
            ...this.newDrugTestData,
            drugTestStaffId: this.staffData.id,
            group: this.$store.state.userInfo.tenant.group
          }          
          const result = await this.api(createDrugTest, {input: input})

          //Clean up app state
          this.newDrugTestData = {}
          this.newModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },

      /**
       * Gets S3 URL using object key and downloads the linked file
       * @param {Object} drugTest drugTest object that contains S3 key
       */
      downloadDrugTestFile: async function(drugTest){
        var documentUrl = await Storage.get(drugTest.file)
        window.open(documentUrl, "_blank")
      },

      /**
       * Opens modal window to add drug test
       */
      handleAddDrugTest: async function(){
        if(!this.$store.getters.hasStaffManagement){
          this.$emit('showWarningDialog');
          return
        }
        this.newDrugTestData = {}
        this.newModalOpen = true
        if(this.$refs.newModalForm) this.$refs.newModalForm.clearFileUpload()
      },

      /**
       * Emits to parent to refresh data for page after a change is made
       */
      loadData: function(){
        this.$emit('loadData')
      },

      /**
       * Opens the edit drugTest modal
       * @param {object} drugTest - Complete drugTest object used for DrugTestForm
       */
      openEditDrugTestModal(drugTest){        
        let editDrugTest = {
          id: drugTest.id,
          date: drugTest.date,
          location: drugTest.location,
          results: drugTest.results,
          file: drugTest.file,
          fileName: drugTest.fileName,
          updatedAt: drugTest.updatedAt
        }
        
        this.editDrugTestData = editDrugTest
        if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()
        this.editModalOpen = true
      },


      /** Update a drugTests information */
      async updateDrugTest(){
        try {

          var timestampResult = await this.api(getDrugTestUpdatedTimestamp, {id: this.editDrugTestData.id})
          if(!timestampResult.data.getDrugTest){
            throw "Drug test is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getDrugTest.updatedAt
          if(this.editDrugTestData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const input = {
            ...this.editDrugTestData
          }
          
          // delete file if necessary
          if(this.$refs.editModalForm.deleteFile) await this.$refs.editModalForm.commitDeleteFile()
          if(this.$refs.editModalForm) this.$refs.editModalForm.clearFileUpload()

          const result = await this.api(updateDrugTest, {input: input}, getDrugTestUpdatedTimestamp, 'getDrugTest')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Drug Test Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)       
        }
      },

      /** Prompt if drug test should really be deleted*/
      async confirmDeleteDrugTest(){
        try {
          await this.$confirm('This will permanently delete this drug test. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          });
          await this.commitDeleteDrugTest();
        }
        catch (error) {
          this.printUserError(error);
        }
      },

      /** Delete drug test from DB */
      async commitDeleteDrugTest( ){
        try{
          var timestampResult = await this.api(getDrugTestUpdatedTimestamp, {id: this.editDrugTestData.id})
          if(!timestampResult.data.getDrugTest){
            throw "Drug test is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getDrugTest.updatedAt
          if(this.editDrugTestData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          await this.$refs.editModalForm.commitDeleteFile()
          const result = await this.api(deleteDrugTest, {input:{ id: this.editDrugTestData.id }} )
          this.editDrugTestData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Drug Test Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },

      goToAccountDetails(){
        this.showUpgradeDialog = false;
        this.$router.push({name: 'SettingsAccountDetails'})
      }
    },
  }
</script>
<style scoped>
 .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

</style>