body {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

h1 {
  border-left: 5px solid #e1e1e1;
  padding-left: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 5px solid #e1e1e1;
  box-shadow: 1px 3px 8px #888;
}

li {
  padding: 10px 15px;
  background: #eee;
}

li:hover {
  background: green;
}

.placeholder {
  background: rgb(255, 240, 120);
}

.placeholder :before {
  content: "Drop here";
  color: rgb(225, 210, 90);
}
