

.scrollCon {
  padding: "7px 0px 0px 0px";
  max-height: calc(100vh - 150px) !important; 
    /*overflow : "hidden"; */
    /* overflow-y: "hidden"; */
    /* min-height: 100vh !important; */
  }

  .scrollCon>div:first-child{
    /* overflow-x: scroll !important; */
    overflow-y: auto !important;
    margin-right: -6% !important;
    margin-left: 0px !important; 
    height: calc(100vh - 150px) !important;
    /* min-height: 0% !important;
    max-height: 86vh !important;
    height: 100vh; */
    }
  /* 
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    /* max-height: 86vh; 
    height: 78vh; */
/* 
    .scrollCon>div:first-child::-webkit-scrollbar{
    margin-right: 0px !important;
    margin-left: 0px !important;
    background: transparent;
    overflow-x : scroll !important;
    overflow-y : scroll !important;
    max-height: 100% !important;
    height: 100%;
    } */

    .List {
      height: 100% !important;
    }

    .text-center {
      display: flex;
      justify-content: center;
      z-index: 9999 !important;
      position: relative;
      margin-top: 5px;
    }
    