<template>
  <div v-loading.fullscreen.lock="loading">
    <div class="flex items-center justify-between">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
        <el-breadcrumb-item>{{scoreCardCount}} Scorecards With {{tableData.length}} Unmatched {{$t('label.associate')}} Records</el-breadcrumb-item>
      </el-breadcrumb>
      <span class="flex space-x-2">
        <el-input
          v-model="search"
          size="mini"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </span>  
    </div>

    <el-table
      ref="table"
      empty-text="No Data"
      :data="filterArray( tableData, search )"   
      style="width: 100%">

      
      <el-table-column
        label="Year"
        sortable
        width="100"
        prop="year">
      </el-table-column>

      <el-table-column
        label="Week"
        sortable
        width="100"
        prop="week">
      </el-table-column>


      <el-table-column
        label="Transporter ID"
        sortable
        prop="transporterId">
      </el-table-column>


      <el-table-column
        label="Import Name"
        sortable
        prop="name">
      </el-table-column>

      

      <el-table-column
        :label="`Select ${$t('label.associate')}`"        
        prop="staffId">
        <template slot-scope="scope">
          <el-select           
          @change="selectStaff(scope.row)"
          v-model="scope.row.staffId"
          filterable
          :placeholder="`Select ${$t('label.associate')}`">
            <el-option-group>
              <el-option divided value="Add New DA">+ Add New {{$t('label.associate')}}</el-option>
            </el-option-group>
            <el-option-group>
              <el-option              
                v-for="item in staff"
                :key="item.id"
                :label="item.firstName + ' ' + item.lastName"
                :value="item.id">
              </el-option>
            </el-option-group>
          </el-select>

        </template>
      </el-table-column>  

      <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
            <i 
              title="Edit Scorecard"
              @click="openScorecardModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
            <!-- <el-button type="text" size="small" @click="openScorecardModal(scope.row)">Edit</el-button> -->
          </template>
      </el-table-column>    

  </el-table>
  <div v-if="nextToken" class="flex justify-center mt-4">
    <el-button round @click="loadData(false)">Load More</el-button>
  </div>


    <!--ADD DA MODAL-->
    <Dialog
    ref="newStaffDialog"
    :openDialog="addStaffModalOpen"
    :title="`Add ${$t('label.associate')}`"
    @cancel="closeDaForm"
    @create="saveAddNewStaff">
    <template v-slot:form>
      <AddDaForm class="w-full" 
      ref="addDaForm" 
      :formFields="formFields" 
      :disableTranspoterId="true" />
    </template>
    </Dialog>

    <!--EDIT SCORECARD MODAL-->
    <el-dialog
      title="Edit Scorecard"
      :visible.sync="editScorcardModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <ScorecardForm :formFields="editScorcardFields"/>

      <span slot="footer" class="dialog-footer">
        <el-button class="float-left" type="danger" @click="deleteScorecard">Delete</el-button>
        <el-button @click="editScorcardModalOpen = false">Cancel</el-button>
        <el-button type="primary" @click="updateScorecard">Update</el-button>
      </span>
    </el-dialog>


  </div>
</template>

<script>
import { createStaff, updateStaff, updateStaffScoreCard, deleteStaffScoreCard } from '@/graphql/mutations.js'
import { staffScorecardsGroupUnmatched, staffScorecardsByGroupAndTransporterId, staffIndex } from './queries';
import { getStaffScoreCardUpdatedTimestamp } from '@/utilities/timestampQueries'
import ScorecardForm from './components/ScorecardForm'
import { getStaffScoreCard } from './queries'
import { getTenantCoachingMessageSettings } from '@/api/queries.js'
import createPendingMessageRecord from '@/scripts/createPendingMessage'
import PerformanceSelect from '@/components/PerformanceSelect.vue'
import { cleanPhoneNumber } from '@/utilities/phoneNumberFormat'

import Dialog from "@/components/Dialog/Dialog"
import AddDaForm from '@/views/Staff/components/AddDaForm'
import AddDaFormMixin from "@/views/Staff/components/AddDaForm/AddDaFormMixin"

export default {
    name: 'ScoreCardIndex',
  components:{
    ScorecardForm,
    Dialog,
    AddDaForm,
    PerformanceSelect
  },
  mixins: [AddDaFormMixin],
  data() {
    return {
      loading: false,
      tableData: [],
      tenant: {},
      search: '',
      staff: [],
      editScorcardModalOpen: false,
      editScorcardFields:{},
      nextToken: null,
      limit: 50,
    }
  },
  mounted(){
    this.loadStaffData()
    this.loadTenant()
    this.loadData(true)
  },

  computed:{
    scoreCardCount(){
      var unique = {};
      this.tableData.forEach(scorecard => {
        var yearWeek = scorecard.year + scorecard.week
        unique[yearWeek] = true
      })
      var keys = Object.keys(unique)
      return keys.length
    },
    today(){
      return new Date()
    },
    currentYear(){
      return this.today.getFullYear()
    },
    currentWeek(){
      Date.prototype.getWeekNumber = function(){
        var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
        var dayNum = d.getUTCDay() || 7;
        d.setUTCDate(d.getUTCDate() + 4 - dayNum);
        var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
        return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
      };

      return this.today.getWeekNumber() - 1
    }
  },


  methods: {
    /**
     * Load data using the staffIndex custom GraphQL query
     */
    async loadStaffData(){
      try{
        //Load Staff With No Transporter ID
        let input = {
          group: this.$store.state.userInfo.tenant.group
        }
        this.staff = await this.gLoadListAll(staffIndex, input, 'staffsByGroup')
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },


    async loadTenant(){
      try{
        var input = {
          id: this.$store.state.userInfo.tenant.id
        }
        var tenant = await  this.api(getTenantCoachingMessageSettings, input)
        this.tenant = tenant.data.getTenant

      }catch(e){
        console.log(e)
        this.displayUserNotification({
          title: "Error",
          type: "error",
          message: e.message
        })
      }
    },

    /**
     * Load data using the staffScorecardsByGroup custom GraphQL query
     */
    async loadData(refresh){
      this.loading = true
      try{      
        var input = {
          sortDirection: 'DESC',
          limit: this.limit,
          nextToken: refresh ? null : this.nextToken,
          group: this.$store.state.userInfo.tenant.group,
          matchedSYearWeek: {beginsWith: {matchedS: 'false'}}
        }
        const scorecards = await this.api(staffScorecardsGroupUnmatched, input)
        this.nextToken = scorecards.data.staffScorecardsGroupUnmatched.nextToken
        if(refresh) this.tableData = scorecards.data.staffScorecardsGroupUnmatched.items
        else this.tableData = [...this.tableData, ...scorecards.data.staffScorecardsGroupUnmatched.items]
        this.loading = false

      }catch(e){
        this.loading = false
        console.log(e)
        this.displayUserError(e)
      }
    },

    /**
     * Updates the scorecard with the selected staff id and updates staff id with transporter id.
     * 
     */
    async selectStaff(row){
      try{

        //See if quick add was selected
        if(row.staffId == 'Add New DA'){
          row.staffId = null
          this.openStaffModal(row)
          return
        }

        var transporterId = row.transporterId
        var staffId = row.staffId
        var staffLatestScorecard = row.latestScorecard
        
        //Find all scorecards with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.$store.state.userInfo.tenant.group
        }
        const scorecards = await this.gLoadListAll(staffScorecardsByGroupAndTransporterId, input, 'staffScorecardsByGroupAndTransporterId')
        if( scorecards.length > 1){
          await this.$confirm('Found ' + scorecards.length + ' scorecard(s) with this transporter ID. Are you sure you want to update all of them?')
        }
        //Get staff record
        this.loading = true
        var staff = this.staff.find((rec)=> rec.id == staffId)
        //If transporter id already exists, don't replace as it is probably more accurate than parsed data
        if(staff.transporterId){
          transporterId = staff.transporterId
        }
       
        //Update staff record
        input = {
          id: staffId,
          transporterId: transporterId
        }
        var updateStaffResponse = await this.api(updateStaff, {input})

        //Update all scorecards
        this.updateScorecards(scorecards, staffId, staffLatestScorecard)

      }catch(e){
        this.loading = false
        if(e == 'cancel'){
          row.staffId = null
        }else{
          console.log(e)
          this.displayUserError(e)
        }
      }          
    },
    /**
     * Updates the scorecard with the selected staff id and updates staff id with transporter id.
     * 
     */
    async updateScorecards(scorecards, staffId, staffLatestScorecard){
      try{
        //Update all scorecards
        // scorecards.forEach(async (scorecard) => {
        for(const scorecard of scorecards){
          var yearWeek = scorecard.year + scorecard.week
          var yearIsNaN = isNaN(scorecard.year)
          var weekIsNaN = isNaN(scorecard.week)
      
          let input = {
            id: scorecard.id,
            staffScoreCardStaffId: staffId,
            matched: true,
            matchedS: 'true',
            year: scorecard.year,
            week: scorecard.week
          }
          var updateScorecardResponse = await this.api(updateStaffScoreCard, {input})
     
          // Update staff with latest scorecard yearweek
          if( (staffLatestScorecard <= yearWeek || !staffLatestScorecard) && !yearIsNaN && !weekIsNaN){
              let input = {
                  id: staffId,
                  latestScorecard: yearWeek,
                  keyFocusArea: scorecard.keyFocusArea,
              }
              var updateStaffResponse = await this.api(updateStaff, {input})
              staffLatestScorecard = yearWeek
          }
          
          // create pending message if scorecard is from current week
          if( (this.currentWeek == scorecard.week) && (this.currentYear == scorecard.year)){
              // get full details of scorecard
              var wholeScorecard = await this.api(getStaffScoreCard, {id: scorecard.id})
              wholeScorecard = wholeScorecard.data.getStaffScoreCard
              wholeScorecard.staffScoreCardStaffId = staffId
              await createPendingMessageRecord({input: wholeScorecard}, null, null, this.tenant)
          }
        };
        
        // setTimeout(()=>{
            // this.loadStaffData()
            this.loadData(true)
        // }, 500);

      }catch(e){
        console.log(e)
        this.displayUserError(e)       
      }          
    },

    openStaffModal(row){
      var nameArray = row.name.split(" ")
      this.formFields = {
        status: 'Active',
        firstName: nameArray[0],
        lastName: nameArray[nameArray.length - 1],
        email: '',
        phone: '',
        transporterId: row.transporterId,
        dlExpiration: '',
        hireDate: '',
        authorizedToDrive: {}
      }
      this.addStaffModalOpen = true
    },

    async saveAddNewStaff(){
      try {
        var transporterId = this.formFields.transporterId
        //setp1: Find all scorecards with this transporterID
        var input = {
          transporterId: {
            eq: transporterId
          },
          group: this.$store.state.userInfo.tenant.group
        }
        const scorecards = await this.gLoadListAll(staffScorecardsByGroupAndTransporterId, input, 'staffScorecardsByGroupAndTransporterId')
        if( scorecards.length > 1){
          await this.$confirm('Found ' + scorecards.length + ' scorecards with this transporter ID. Are you sure you want to create a new ' + this.$t('label.associate') + ' and update all the scorecards?')
        }
        this.addStaffModalOpen = false
        //Add record to DB
        this.formFields.phone = cleanPhoneNumber(this.formFields.phone, 'US')

        //step2: call mixin to create staff
        const newStaff = await this.validateForm("create")
        if(!newStaff) return

        //step3: update view with newStaff
        //Update scorecards
        this.updateScorecards(scorecards, newStaff.id, null)

      } catch(e){
        if(e != 'cancel'){          
          console.log(e)
          this.displayUserError(e)
        }
      }
    },

    openScorecardModal(scorecard){
        this.editScorcardFields = scorecard
        this.editScorcardModalOpen = true
    },
    
    async updateScorecard(){
      try{
        var timestampResult = await this.api(getStaffScoreCardUpdatedTimestamp, {id: this.editScorcardFields.id})
        if(!timestampResult.data.getStaffScoreCard){
          throw "Scorecard is missing or deleted by another user."
        }
        var timestamp = timestampResult.data.getStaffScoreCard.updatedAt
        if(this.editScorcardFields.updatedAt != timestamp){
          throw "Record was updated by another user. Please copy any changes and refresh the page."
        }
        let input = {...this.editScorcardFields}
        delete input.staffId
        await this.api(updateStaffScoreCard, {input}, getStaffScoreCardUpdatedTimestamp, 'getStaffScoreCard' )
        this.editScorcardFields = {}
        this.editScorcardModalOpen = false
        this.loadData(true)
      }catch(e){
        console.log(e)
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    },


    async deleteScorecard(){
      try{
        await this.$confirm(`This ${this.$t('label.associate_s')} data will not be imported for scorecard week ${this.editScorcardFields.week}, ${this.editScorcardFields.year}. Usually, this is only necessary if the ${this.$t('label.associate')} is no longer with your company. Are you sure you wish to continue?`, 'Warning', {
          confirmButtonText: 'Remove',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })

        await this.api(deleteStaffScoreCard, {input:{ id: this.editScorcardFields.id }} )
        this.editScorcardFields = {}
        this.editScorcardModalOpen = false
        this.loadData(true)
      }catch(e){
        console.log(e)
        if(e != 'cancel'){
          this.displayUserError(e)
        }
      }
    }


  },
}
</script>