.menu-item {
    border: 1px solid #D6DAE3;
    border-radius: 5px;
    display: inline-flex;
    font-size: 16px;
    font-family: Roboto;
    margin-bottom: 10px;
}

.menu-item span {
    font-weight: 600;
}

.active-menu {
    cursor: pointer;
    border-radius: 25px 0 0 5px;
    font-size: 18px;
    overflow: visible;

    -webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    padding: 20px 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 20vw
}

.default-menu {
    background-color: #F4F4F7;
    padding: 20px 0px;
    width: 17.5vw;
    margin-bottom: 20px;
}


@media (max-width: 1300px) {
    .default-menu{
        width: 15vw;
    }

    .active-menu {
        width: 17.5vw;
    }
}
.active-menu .number {
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 18px;
}