.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload{
    background-color: #0090ff;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload:hover{
    background-color: #0090ff;
}
.uppy-Dashboard-AddFiles-info{
    display: none!important;
}