.blackDash h4{
    color:black;
}

.blackDash h4:after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    background: black;
    margin: 5px 0;
}


.whiteDash h4{
    color:white;
}
.whiteDash h4:after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px 0;
}
