
.user-dropdown a{
    color:#fff;
}

.dropdown-menu>li{
    margin: 5px 0px 5px 0px;
    padding:5px;
}

.dropdown-menu>li:hover{
    background:#428bca;
    color:#fff !important;
}

.user-dropdown>.dropdown-toggle::after{
    vertical-align: unset;
    margin-left: .55em;
    border-right-width: 0.2em;
    border-left-width: 0.2em;
}



.dropdown-menu>li>a:hover{
    color:inherit !important;
}

.dropdown-menu>li>a>i{
    margin-right:10px;
}

.user-dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
}

.user-dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left:30%;
    top: -10px;
    z-index: 10;
}
