<template>
  <div>
    <el-form
      ref="form"
      :model="formFields"
      class="p-4 m-2"
      size="small">
      <div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">

				<!-- DA Fullname -->
				<p class="col-span-12 text-xl"> {{ staffFullName }} </p>
							
        <!-- Replace with DA-->
        <el-form-item  prop="replacedByStaff" class="form-item col-span-12 mt-4 pt-4">
          <template slot="label">
            <el-col :span="24">
              Change {{$t('label.associate')}} to:
            </el-col>
          </template>
          <el-select
            class="w-4/5"
            v-model="formFields.replacedByStaff.id"
            :placeholder="`Select ${$t('label.associate')}`"
            size="small"
            clearable>
              <el-option-group label="On Standby">
                <el-option
                  v-for="item in standbyTableData"
                  :key="item.id"
                  :label="item.time? item.staff.firstName + ' ' + item.staff.lastName + ' (' +  item.time + ')' : item.staff.firstName + ' ' + item.staff.lastName"
                  :value="item.staff.id">
                </el-option>
              </el-option-group>

              <el-option-group label="Not Yet Assigned">
                <el-option
                  v-for="item in staffListUnassigned"
                  :key="item.id"
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>

              <el-option-group class="hide-option-group" label="Already Assigned">
                <el-option
                  v-for="item in staffListAssigned"
                  :key="item.id"
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>

              <el-option-group class="hide-option-group" label="Inactive">
                <el-option
                  v-for="item in staffListNotActive"
                  :key="item.id"
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>
          </el-select>
        </el-form-item>
							
        <!-- Keep History Radio Statement -->
        <div class="col-span-12 mt-4 pt-4 border-brand border rounded-t-lg"
          @click="formFields.isHistoryKept = true">
          
          <!-- History Keep Radio -->
          <el-form-item prop="keepHistory" class="form-item col-span-12">
            <el-radio
              class="break-next-line m-2 p-2"
              v-model="formFields.isHistoryKept"
              :label="true">
              Keep a history of this replacement
            </el-radio>
          </el-form-item>

          <div class="grid grid-flow-row grid-cols-12 w-full gap-x-2 ml-5 pl-5">

            <!-- Status -->
            <el-form-item :label="statusLabel" prop="status" class="form-item col-span-6">
              <el-select
                class="custom-select"
                v-model="formFields.status"
                placeholder="Select Status"
                size="small"
                @change="updateKeepHistoryReplacement"
                filterable
                clearable>
                <el-option-group>
                  <el-option
                    v-for="status in statusInAndOnTime"
                    :key="status.id"
                    :label="status.value"
                    :value="status.value">
                  </el-option>
                </el-option-group>

                <el-option-group>
                  <el-option
                    v-for="status in statusNotIn"
                    :key="status.id"
                    :label="status.value"
                    :value="status.value">
                  </el-option>
                </el-option-group>
              </el-select>
            </el-form-item>

            <!-- Create DA Issue and Counseling -->
            <el-form-item prop="createDaIssue" class="form-item col-span-11">
              <el-checkbox
                class="break-next-line"
                :label="createDaIssueLabel"
                v-model="formFields.createDaIssue"
                @change="handleCreateDaIssueChange(formFields)">
              </el-checkbox>
            </el-form-item>
            <el-form-item prop="createCounseling" class="form-item col-span-10 ml-4">
              <el-checkbox
                class="break-next-line"
                :label="createCounselingLabel"
                v-model="formFields.createCounseling"
                :disabled="formFields.createDaIssue == false || !formFields.createDaIssue">
              </el-checkbox>
            </el-form-item>

          </div>
        </div>
							
        <!-- Don't keep History Radio Statement -->
        <div class="col-span-12 border-brand border border-t-0 rounded-b-lg"
          @click="updateNoKeepHistoryReplacement">
          <el-form-item prop="noKeephistory" class="form-item col-span-10">
            <el-radio
              class="break-next-line m-2 p-2"
              v-model="formFields.isHistoryKept"
              :label="false">
              Don't keep a history of this replacement (?)
            </el-radio>
          </el-form-item>
        </div>
      </div>
    </el-form>
  </div>
</template>
<script>
export default {
  name: 'ChangeDaAssignment',
  props:[
    'route',
    'formFields',
		'standbyTableData',
		'staffListAssigned',
		'staffListNotActive',
		'staffListUnassigned',
    'statusInAndOnTime',
    'statusNotIn',
  ],

  data(){
    return {
      label:'Label',
      radio: null
    }
  },
  methods: {
		/**
		* Handles changes to the createDaIssue flag
		*/
		handleCreateDaIssueChange(staff){
			if(staff.createDaIssue == false) staff.createCounseling = false
		},
    updateKeepHistoryReplacement() {
      this.formFields.isHistoryKept = true
    },

    updateNoKeepHistoryReplacement() {
      this.formFields.isHistoryKept = false
      this.formFields.status = null
      this.formFields.createDaIssue = null
      this.formFields.createCounseling = null
    }
  },

	computed: {
		/**
		 * Creates a DA Fullname
		*/
		staffFullName() {
			return this.route.staff? `${this.route.staff.firstName} ${this.route.staff.lastName}` : ''
		},

    statusLabel() {
      return  this.route.staff? `Change ${this.route.staff.firstName}'s status to:` : 'Change Status to: '
    },

    createDaIssueLabel() {
      return this.route.staff? `Create ${this.$t('label.associate')} Issue for ${this.route.staff.firstName} ${this.route.staff.lastName}` : `Create ${this.$t('label.associate')} Issue`
    },

    createCounselingLabel() {
      return  this.route.staff? `Also create a pending counseling for ${this.route.staff.firstName} ${this.route.staff.lastName}` : 'Also create a pending counseling'
    }
	}
}
</script>
<style scoped>
  .hide-option-group {
    display: none;
  }

  .break-next-line {
    @apply whitespace-normal w-full flex
  }
</style>