<template>
  <div>
    <el-form
      :model="formFields"
      ref="form"
      class="p-4 m-auto"
      size="small">
      <div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">
          <!-- Note -->
          <p class="text-sm text-gray-600 pb-4 col-span-12  lg:col-span-12">
              This roster assignment has been <span class="text-primary underline mt-0 pt-0">rescued</span> and <span class="text-primary underline">split</span>.
          </p>

          <!-- Time -->
          <el-form-item label="Wave Time" prop="time" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.time"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- DA -->
          <el-form-item :label="$t('label.associate')" prop="staffId" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-select
              class="custom-select"
              v-model="formFields.staff.id"  
              clearable
              filterable
              size="small"
              placeholder="Select"
              @change="updateFields('staff')">
                <el-option-group label="Not Yet Assigned">
                    <el-option
                        v-for="item in staffListUnassigned"
                        :key="item.id"
                        :label="`${item.firstName} ${item.lastName}`"
                        :value="item.id">
                    </el-option>
                </el-option-group>

                <el-option-group label="Already Assigned">
                    <el-option
                        v-for="item in staffListAssigned"
                        :key="item.id"
                        :label="`${item.firstName} ${item.lastName}`"
                        :value="item.id">
                    </el-option>
                </el-option-group>
            </el-select>
          </el-form-item>
          
          <!-- Vehicle -->
          <el-form-item label="Vehicle" prop="vehicleId" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-select
              class="custom-select"
              v-model="formFields.vehicle.id"
              clearable
              filterable
              size="small"
              placeholder="Select"
              @change="updateFields('vehicle')">

              <el-option-group label="Not Yet Assigned">
                <el-option
                  v-for="item in vehicleListUnassigned"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-option-group>

              <el-option-group label="Default Primary" v-if="formFields.staff.id">
                  <el-option
                      v-for="item in defaultVehicle(formFields.staff.id, false, false)"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :title="item.disabled ? 'Vehicle is not active.' : item.name"
                      :disabled="item.disabled">
                  </el-option>
              </el-option-group>

              <el-option-group label="Default Secondary" v-if="formFields.staff.id">
                  <el-option
                      v-for="item in defaultVehicle(formFields.staff.id, true, false)"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :title="item.disabled ? 'Vehicle is not active.' : item.name"
                      :disabled="item.disabled">
                  </el-option>
              </el-option-group>

              <el-option-group label="Default Tertiary" v-if="formFields.staff.id">
                  <el-option
                      v-for="item in defaultVehicle(formFields.staff.id, false, true)"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :title="item.disabled ? 'Vehicle is not active.' : item.name"
                      :disabled="item.disabled">
                  </el-option>
              </el-option-group>

              <el-option-group label="Already Assigned">
                  <el-option
                      v-for="item in vehicleListAssigned"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                  </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <!-- Device 1-->
          <el-form-item label="Device 1" prop="deviceId" class="form-item col-span-12 md:col-span-6 lg:col-span-6 mb-0">
            <el-select
              class="custom-select"
              v-model="formFields.device.id"
              clearable
              filterable
              size="small"
              placeholder="Select">
              <el-option-group label="Not Yet Assigned">
                  <el-option
                      v-for="item in deviceListUnassigned"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id">
                  </el-option>
              </el-option-group>

              <el-option-group label="Default" v-if="formFields.vehicle.id">
                  <el-option
                      v-for="item in defaultDevice(formFields.vehicle.id)"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id"
                      :title="item.disabled ? 'Device is not active.' : item.name"
                      :disabled="item.disabled">
                  </el-option>
              </el-option-group>

              <el-option-group label="Already Assigned">
                  <el-option
                      v-for="item in deviceListAssigned"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id">
                  </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <!-- Device 2-->
          <el-form-item label="Device 2" prop="device2Id" class="form-item col-span-12 md:col-span-6 lg:col-span-6 mb-0">
            <el-select
              class="custom-select"
              v-model="formFields.device2.id"
              clearable
              filterable
              size="small"
              placeholder="Select">
              <el-option-group label="Not Yet Assigned">
                  <el-option
                      v-for="item in deviceListUnassigned"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id">
                  </el-option>
              </el-option-group>

              <el-option-group label="Default" v-if="formFields.vehicle.id">
                  <el-option
                      v-for="item in defaultDevice(formFields.vehicle.id)"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id"
                      :title="item.disabled ? 'Device is not active.' : item.name"
                      :disabled="item.disabled">
                  </el-option>
              </el-option-group>

              <el-option-group label="Already Assigned">
                  <el-option
                      v-for="item in deviceListAssigned"
                      :key="item.id"
                      :label="item.deviceName"
                      :value="item.id">
                  </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <!-- Route -->
          <el-form-item label="Route" prop="route" class="form-item col-span-12 md:col-span-6 lg:col-span-6 mb-0">
            <el-input 
              v-model="formFields.routeNumber">
            </el-input>
          </el-form-item>

          <!-- Staging -->
          <el-form-item label="Staging" prop="staging" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-input v-model="formFields.staging">
            </el-input>
          </el-form-item>

          <!-- Parking -->
          <el-form-item label="Parking" prop="parkingSpace" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-select
              class="custom-select"
              v-model="formFields.parkingSpace"
              clearable
              filterable
              size="small"
              placeholder="Select a status">
              <el-option-group label="Not Yet Assigned">
                  <el-option
                      v-for="(item, index) in parkingSpaceListUnassigned"
                      :key="index"
                      :label="item"
                      :value="item">
                  </el-option>
              </el-option-group>

              <el-option-group label="Default" v-if="formFields.vehicle.id && formFields.vehicle.parkingSpace">
                  <el-option
                      :label="formFields.vehicle.parkingSpace"
                      :value="formFields.vehicle.parkingSpace"
                      :disabled="!formFields.vehicle.parkingSpace">
                  </el-option>
              </el-option-group>

              <el-option-group label="Already Assigned">
                  <el-option
                      v-for="(item, index) in parkingSpaceListAssigned"
                      :key="index"
                      :label="item"
                      :value="item">
                  </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <!-- Status -->
          <el-form-item label="Status" prop="status" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-select
              class="custom-select"
              v-model="formFields.status"
              clearable
              size="small"
              placeholder="Select">
              <el-option-group>
                <el-option
                  v-for="status in statusInAndOnTime"
                  :key="status.id"
                  :label="status.value"
                  :value="status.value">
                </el-option>
              </el-option-group>

              <el-option-group>
                <el-option
                  v-for="status in statusNotIn"
                  :key="status.id"
                  :label="status.value"
                  :value="status.value">
                </el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <!-- Create DA Issue and Counseling -->
          <div class="pl-2 ml-2 form-item col-span-8" v-show="(formFields.status == 'Called Out' || formFields.status == 'No Show, No Call')  && type == 'edit'">
            <el-form-item prop="createDaIssue" class="form-item da-assignment-checkbox">
              <el-checkbox
                :label="`Create ${$t('label.associate')} Issue for ${getDAname(formFields.staff.id)}`"
                v-model="formFields.createDaIssue"
                @change="handleCreateDaIssueChange(formFields)">
              </el-checkbox>
            </el-form-item>
            <el-form-item prop="createCounseling" class="form-item ml-8 mt-0 pt-0">
              <el-checkbox
                :label="`Also create a pending counseling for ${getDAname(formFields.staff.id)}`"
                v-model="formFields.createCounseling"
                :disabled="formFields.createDaIssue == false || !formFields.createDaIssue">
              </el-checkbox>
            </el-form-item>
            <div v-show="formFields.status == 'Called Out' || formFields.status == 'No Show, No Call'">
              <el-form-item prop="replaceWithDA" class="standby-item-form">
                <el-checkbox
                  :label="`Replace with standby ${$t('label.associate')}`"
                  v-model="formFields.replaceWithDA"
                  size="medium" >
                </el-checkbox>
              </el-form-item>

              <el-form-item prop="routeStandByStaff" class="ml-10 mt-0">
                <el-select
                  class="custom-select"
                  v-model="formFields.replaceByStandbyDA"
                  :disabled="!formFields.replaceWithDA"
                  value-key="id"
                  clearable
                  :placeholder="`Select Standby ${$t('label.associate')}`"
                  no-data-text="No Standby DAs">
                  <el-option
                    v-for="standby in standbyTableData"
                    :key="standby.id"
                    :label="standby.time ? `${standby.staff.firstName } ${standby.staff.lastName} (${ standby.time})` : `${standby.staff.firstName } ${standby.staff.lastName}`"
                    :value="standby"/>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <!-- Notes -->
          <el-form-item label="Notes" prop="notes" class="form-item col-span-12">
            <el-input
              type="textarea"
              :autosize="{ minRows: 3 }" 
              v-model="formFields.notes">
            </el-input>
          </el-form-item>

          <!-- Total Stops : If rescuer-->
          <el-form-item label="Total Stops" prop="totalStops" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Total Stops"
                  v-model="formFields.totalStops">
            </el-input>
          </el-form-item>

          <!-- Total Packages : If rescuer-->
          <el-form-item label="Total Packages" prop="totalPackages" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  v-if="formFields"
                  placeholder="Total Packages"
                  v-model="formFields.totalPackages">
            </el-input>
          </el-form-item>

          <!-- Completed Stops : If rescuer-->
          <el-form-item label="Completed Stops" prop="completedStops" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  v-if="formFields"
                  placeholder="Enter total"
                  v-model="formFields.completedStops">
            </el-input>
          </el-form-item>

          <!-- Completed Packages : If rescuer-->
          <el-form-item label="Completed Packages" prop="completedPackages" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.completedPackages">
            </el-input>
          </el-form-item>

          <!-- Undelivered Packages - Total -->
          <el-form-item label="Undelivered Packages - Total" prop="undeliveredPackagesTotal" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.undeliveredPackagesTotal">
            </el-input>
          </el-form-item>

          <!-- Undelivered Packages - Business Closed -->
          <el-form-item label="Undelivered Packages - Business Closed" prop="undeliveredPackagesBusinessClose" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="DA Name"
                  v-model="formFields.undeliveredPackagesBusinessClose">
            </el-input>
          </el-form-item>

          <!-- Undelivered Packages - Unable to Access -->
          <el-form-item label="Undelivered Packages - Unable to Access" prop="undeliveredPackagesUnableToAccess" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.undeliveredPackagesUnableToAccess">
            </el-input>
          </el-form-item>

          <!-- Undelivered Packages - Other Amazon Undelivered reasons -->
          <el-form-item label="Undelivered Packages - Other Amazon Undelivered reasons" prop="undeliveredPackagesOtherAWS" class="form-item text- left col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.undeliveredPackagesOtherAWS">
            </el-input>
          </el-form-item>

          <!-- Pick Up Return Package -->
          <el-form-item label="Pick Up Return Package" prop="pickUpReturnPackage" class="form-item text- left col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.pickUpReturnPackage">
            </el-input>
          </el-form-item>

          <!-- Additional Packages From Rescue -->
          <el-form-item label="Additional Packages From Rescue" prop="additionalPackagesFromRescue" class="form-item text- left col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.additionalPackagesFromRescue">
            </el-input>
          </el-form-item>

          <!--Split With Roster Assignment : [id] - this is a link to the roster assignment from which packages were split-->
          <el-form-item label="Split With Roster Assignment" prop="splitWithRosterAssignment" class="form-item text- left col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.splitWithRosterAssignment">
            </el-input>
          </el-form-item>

          <!-- Additional Packages From Split -->
          <el-form-item label="Additional Packages From Split" prop="additionalPackagesFromSplit" class="form-item text- left col-span-12 md:col-span-6 lg:col-span-6">
              <el-input
                  size="small"
                  placeholder="Enter total"
                  v-model="formFields.additionalPackagesFromSplit">
            </el-input>
          </el-form-item>

          <!-- First Stop Time -->
          <el-form-item label="First Stop Time" prop="firstStopTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.firstStopTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- Last Stop Time -->
          <el-form-item label="Last Stop Time" prop="lastStopTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.lastStopTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- DA Work Start Time -->
          <el-form-item :label="`${this.$t('label.associate')} Work Start Time`" prop="daWorkStartTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.daWorkStartTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- DA Work End Time -->
          <el-form-item :label="`${this.$t('label.associate')} Work End Time`" prop="daWorkEndTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.daWorkEndTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- DA Route Start Time -->
          <el-form-item :label="`${$t('label.associate')} Route Start Time`" prop="daRouteStartTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.daRouteStartTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- DA Route End Time -->
          <el-form-item :label="`${$t('label.associate')} Route End Time`" prop="daRouteEndTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.daRouteEndTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- RTS Time -->
          <el-form-item label="RTS Time" prop="rtsTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.rtsTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- Lunch Start Time -->
          <el-form-item label="Lunch Start Time" prop="lunchStartTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.lunchStartTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- Lunch End Time -->
          <el-form-item label="Lunch End Time" prop="lunchEndTime" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
            <el-col :span="24">
              <el-time-picker
                  class="el-time-picker da-timer"
                  v-model="formFields.lunchEndTime"
                  :editable="false"
                  format="hh:mm a"
                  value-format="HH:mm"
                  placeholder="Select time">
              </el-time-picker>
            </el-col>
          </el-form-item>

          <!-- Inspection - Fueled -->
          <el-form-item label="Inspection - Fueled" prop="inspectionFueled" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionFueled">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Cleaned -->
          <el-form-item label="Inspection - Cleaned" prop="inspectionCleaned" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionCleaned">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Flashers -->
          <el-form-item label="Inspection - Flashers" prop="inspectionFlashers" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionFlashers">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Credit Card -->
          <el-form-item label="Inspection - Credit Card" prop="inspectionCreditCard" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionCreditCard">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Keys -->
          <el-form-item label="Inspection - Keys" prop="inspectionKeys" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionKeys">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Device Charger -->
          <el-form-item label="Inspection - Device Charger" prop="inspectionDeviceCharger" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionDeviceCharger">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Device Battery -->
          <el-form-item label="Inspection - Device Battery" prop="inspectionDeviceBattery" class="form-item col-span-12 md:col-span-6 lg:col-span-6">
              <el-switch
                  v-model="formFields.inspectionDeviceBattery">
              </el-switch>
          </el-form-item>

          <!-- Inspection - Notes -->
          <el-form-item label="Inspection - Notes" prop="inspectionNotes" class="form-item col-span-12">
            <el-input
              type="textarea"
              :autosize="{ minRows: 3 }" 
              v-model="formFields.inspectionNotes">
            </el-input>
          </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
  export default {
    name: 'DailyRosterAssignment',
    props: [
      'type',
      'formFields',
      'staffList',
      'standbyTableData',
      'statusInAndOnTime',
      'statusNotIn',
      'deviceListAssigned',
      'deviceListNotActive',
      'deviceListUnassigned',
      'parkingSpaceListAssigned',
      'parkingSpaceListUnassigned',
      'staffListAssigned',
      'staffListNotActive',
      'staffListUnassigned',
      'vehicleList',
      'vehicleListAssigned',
      'vehicleListUnassigned'
    ],
    data() {
      return {
      }
    },
    methods: {
      getDAname(staffID) {
        var staff = this.staffList.find(staff => staff.id == staffID) 
        return staff ? `${staff.firstName} ${staff.lastName}` : ''
      },

      defaultVehicle (staffId, secondary, tertiary){
          var staffMatch = this.staffList.find(function(staff){
              return staff.id == staffId
          })
          
          if(staffMatch){
              var dV = staffMatch.defaultVehicle
              var dV2 = staffMatch.defaultVehicle2
              var dV3 = staffMatch.defaultVehicle3

              if ( !secondary && !tertiary && dV && dV.status != "Active" ) return [{id: dV.id, name: dV.name, disabled: true}]
              else if (!secondary && !tertiary && dV ) return [{...dV}]

              else if (secondary && !tertiary && dV2 && dV2.status != "Active"  ) return [{id: dV2.id, name: dV2.name, disabled: true}]
              else if (secondary && !tertiary && dV2) return [{...dV2}]
              
              else if (!secondary && tertiary && dV3 && dV3.status != "Active"  ) return [{id: dV3.id, name: dV3.name, disabled: true}]
              else if (!secondary && tertiary && dV3) return [{...dV3}]
              
          }
          return [{id: Number(secondary), name: "Not set", disabled: true}]
      },

      defaultDevice(vehicleId) {
        var vehicleMatch = this.vehicleList.find(function(vehicle){
            return vehicle.id == vehicleId
        })
        if ( vehicleMatch && vehicleMatch.device ) return [{...vehicleMatch.device}]
        return [{id: 1, deviceName: "Not set", disabled: true}]
      },

      /**
       * Updates the selected vehicle and device to the defaults whent a staff member or vehicle is selected
       */
      updateFields(trigger){
        var obj = {}
        var defaultVehicle = null

        if(trigger == 'staff') {
          // update default vehicle, device, and parking space
          const staffMatch =  this.staffList.find( staff => staff.id == this.formFields.staff.id)
          
          if(!staffMatch) return obj = {}
          if(!this.$store.getters.hasStaffManagement) return defaultVehicle = null
          
          defaultVehicle = this.setDefaultVehicleValue(staffMatch)
          obj =  this.createDefaultStaffObject(staffMatch, defaultVehicle)

        }
        else if(trigger == 'vehicle') {
          // update default device, and parking space
          const vehicleMatch = this.vehicleList.find( vehicle => vehicle.id == this.formFields.vehicle.id )
          if(!vehicleMatch) return obj = {}

          obj = this.createDefaultVehicleObject(vehicleMatch) 
        }

        this.formFields.staff.firstName = obj.firstName
        this.formFields.staff.lastName = obj.lastName
        this.formFields.vehicle.id = obj.vehicleId
        this.formFields.vehicle.name = obj.vehicleName
        this.formFields.vehicle.parkingSpace = obj.vehicleParkingSpace
        this.formFields.device.id = obj.deviceId
        this.formFields.device2.id = obj.deviceId2
        this.formFields.parkingSpace = obj.parkingSpace  

      },

      setDefaultVehicleValue(staff) {
        let isDefaultVehicle1Active = staff.defaultVehicle && staff.defaultVehicle.status == "Active"
        let isDefaultVehicle2Active = staff.defaultVehicle2 && staff.defaultVehicle2.status == "Active"
        let isDefaultVehicle3Active = staff.defaultVehicle3 && staff.defaultVehicle3.status == "Active"

        if(isDefaultVehicle1Active) {
          const defaultAlreadyAssigned = this.isVehicleAssigned(staff.defaultVehicle.id)
          if(!defaultAlreadyAssigned) {
            isDefaultVehicle1Active =  false
            isDefaultVehicle2Active =  false
            return staff.defaultVehicle
          } 
        }
        if(isDefaultVehicle1Active && isDefaultVehicle2Active) {
          const defaultAlreadyAssigned = this.isVehicleAssigned(staff.defaultVehicle2.id)
          if(!defaultAlreadyAssigned) {
            isDefaultVehicle2Active =  false
            return staff.defaultVehicle2
          } 
        }
        if(isDefaultVehicle2Active && isDefaultVehicle3Active) {
          const defaultAlreadyAssigned = this.isVehicleAssigned(staff.defaultVehicle3.id)
          if(!defaultAlreadyAssigned) {
            isDefaultVehicle3Active = false
            return staff.defaultVehicle3
          }
        }
        if(staff.defaultVehicle && staff.defaultVehicle2 && staff.defaultVehicle3 && isDefaultVehicle3Active) {
          this.displayUserNotification({
              type: 'warning',
              title: 'Vehicle in Use',
              message: `Tertiary vehicle assigned for ${staff.firstName} ${staff.lastName}`
          });
        }
      },

      createDefaultStaffObject(staff, vehicle) {
  
        const defaultDevice = vehicle && vehicle.device && vehicle.device.status == "Active" && this.$store.getters.hasVehicleManagement
        const defaultDevice2 = vehicle && vehicle.device2 && vehicle.device2.status == "Active" && this.$store.getters.hasVehicleManagement
        const defaultDeviceID = defaultDevice ? vehicle.device.id : null
        const defaultDeviceID2 = defaultDevice2 ? vehicle.device2.id : null
        const defaultDeviceName = defaultDevice ? vehicle.device.deviceName : null
        const defaultDeviceName2 = defaultDevice2 ? vehicle.device2.deviceName : null

        return {
            firstName: staff.firstName,
            lastName: staff.lastName,
            vehicleId: vehicle ? vehicle.id : null,
            vehicleName: vehicle ? vehicle.name : null,
            vehicleParkingSpace: vehicle ? vehicle.parkingSpace : null,
            deviceId: defaultDeviceID,
            deviceName:  defaultDeviceName,
            deviceId2: defaultDeviceID2,
            deviceName2:  defaultDeviceName2,
            parkingSpace: vehicle ? vehicle.parkingSpace  : null
        }
      },

      createDefaultVehicleObject(vehicle) {
        return {
              firstName: this.formFields.staff.firstName,
              lastName: this.formFields.staff.lastName,
              vehicleId: vehicle.id,
              vehicleName: vehicle.name,
              vehicleParkingSpace: vehicle.parkingSpace,
              deviceId:  vehicle.device && this.$store.getters.hasVehicleManagement ? vehicle.device.id : null,
              deviceId2:  vehicle.device2 && this.$store.getters.hasVehicleManagement ? vehicle.device2.id : null,
              parkingSpace: vehicle.parkingSpace
          }
      },

      isVehicleAssigned(id) {
        return this.vehicleListAssigned.some(vehicle =>{
            return vehicle.id === id
        })
      },

      /**
      * Handles changes to the createDaIssue flag
      */
      handleCreateDaIssueChange(staff){
        if(staff.createDaIssue == false) staff.createCounseling = false
      },
    },
    computed:{


    },
    watch:{
    }
  }
</script>

<style>
  .da-timer{
    width: 100% !important;
  }
  .form-item {
    margin-bottom: .85rem !important;
  }
  .form-item label{
    line-height: 20px !important;
    margin-bottom: .5rem;
    text-align: start;
  }
  .da-assignment-checkbox {
    @apply mb-0 pb-0  !important
  }
  .da-assignment-checkbox label {
    @apply mb-0 pb-0 !important
  }
  .standby-item-form {
    @apply mb-0 pb-0 !important;
  }

</style>