<template>
	<div>
    <el-form
      ref="rescuerAssignmentForm"
      :model="route"
      class="p-4"
      size="small">
			<p class="text-2xl"> {{ daFullName }} </p>
			<p class="text-gray-600"> {{ helpedDate ? 'was helped by...' : 'is being helped by...' }} </p>
			<el-col class="mt-4">
				<p class="text-xl" v-if="routeStaffList.items.length"> {{ title }} </p>
				<div class="flex-grow border-t border-gray-300"></div>
				<div
					class="helper-list grid grid-flow-row grid-cols-12 w-full gap-x-4 mt-4"
					v-for="(helper, index) in routeStaffList.items"
					:key="helper.id">
					<div class="lg:col-span-1 col-span-2 items-center">
						<span class="rounded-full bg-brand text-white p-1 pr-2 pl-2 m-auto"> {{ index + 1 }} </span>
						<i class="icon-button hover:text-brand uil uil-trash-alt" @click="deleteStaff(helper, index)"/>
					</div>
					<div class="col-span-10 lg:col-span-11">
						<div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">

							<!-- Helper -->
							<el-form-item label="Helper" prop="helper" class="form-item col-span-12 lg:col-span-6">
								<el-select
									class="custom-select"
									v-model="helper.staff.id"
									value-key="staffId"
									placeholder="Select helper"
									@change="updateStaff(helper)"
									size="small">

									<el-option-group label="On Standby">
										<el-option
											v-for="item in standbyTableData"
											:key="item.id"
											:label="item.time? item.staff.firstName + ' ' + item.staff.lastName + ' (' +  item.time + ')' : item.staff.firstName + ' ' + item.staff.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

									<el-option-group label="Not Yet Assigned">
										<el-option
											v-for="item in staffListUnassigned"
											:key="item.id"
											:label="item.firstName + ' ' + item.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

									<el-option-group label="Already Assigned">
										<el-option
											v-for="item in staffListAssigned"
											:key="item.id"
											:label="item.firstName + ' ' + item.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

								</el-select>
							</el-form-item>

							<!-- Status -->
							<el-form-item label="Status" prop="status" class="form-item col-span-12 lg:col-span-6">
								<el-select
									class="custom-select"
									v-model="helper.status"
									placeholder="Select Status"
									size="small"
									@change="updateStaff(helper)"
									filterable
									clearable>
									<el-option-group>
										<el-option
											v-for="status in statusInAndOnTime"
											:key="status.id"
											:label="status.value"
											:value="status.value">
										</el-option>
									</el-option-group>

									<el-option-group>
										<el-option
											v-for="status in statusNotIn"
											:key="status.id"
											:label="status.value"
											:value="status.value">
										</el-option>
									</el-option-group>
								</el-select>
							</el-form-item>

							<!-- Start Time -->
							<el-form-item label="Start Time" prop="startTime" class="form-item col-span-12 lg:col-span-6">
								<el-time-picker
									class="el-time-picker da-timer"
									v-model="helper.startTime"
									@change="updateStaff(helper)"
									:editable="false"
									format="hh:mm a"
									value-format="HH:mm"
									placeholder="Select time">
								</el-time-picker>
							</el-form-item>

							<!-- End Time -->
							<el-form-item label="End Time" prop="endTime" class="form-item col-span-12 lg:col-span-6">
								<el-col :span="24">
									<el-time-picker
											class="el-time-picker da-timer"
											v-model="helper.endTime"
											@change="updateStaff(helper)"
											:editable="false"
											format="hh:mm a"
											value-format="HH:mm"
											placeholder="Select time">
									</el-time-picker>
								</el-col>
							</el-form-item>
						</div>
					</div>
					<!-- Note Create DA Issue and Counseling already created -->
          <div class="col-span-10 lg:col-span-11 ml-8 mt-0 pt-0" v-show="(helper.status == 'Called Out' || helper.status == 'No Show, No Call') && (helper.daIssueCreated || helper.counselingCreated)">
						<p class="text-gray-600 text-sm" v-if="helper.daIssueCreated && helper.counselingCreated">
							<strong>Note:</strong> An infraction and a counseling were previously created
						</p>
						<p class="text-gray-600 text-sm" v-else-if="helper.daIssueCreated">
							<strong>Note:</strong> An infraction was previously created
						</p>
					</div>

          <!-- Create DA Issue and Counseling -->
          <div class="col-span-10 lg:col-span-11 pl-2 ml-2 form-item" v-show="(helper.status == 'Called Out' || helper.status == 'No Show, No Call') && !(helper.daIssueCreated || helper.counselingCreated)">
            <el-form-item prop="createDaIssue" class="form-item roster-assignment-checkbox">
              <el-checkbox
                :label="`Create ${$t('label.associate')} Issue for ${helper.staff.firstName} ${helper.staff.lastName}`"
                v-model="helper.createDaIssue"
                @change="handleCreateDaIssueChange(helper), updateStaff(helper)">
              </el-checkbox>
            </el-form-item>
            <el-form-item prop="createCounseling" class="form-item ml-8 mt-0 pt-0">
              <el-checkbox
                :label="`Also create a pending counseling for ${helper.staff.firstName} ${helper.staff.lastName}`"
                v-model="helper.createCounseling"
                :disabled="helper.createDaIssue == false || !helper.createDaIssue">
              </el-checkbox>
            </el-form-item>
					</div>
					<div class="col-span-12 flex-grow border-t border-gray-300"></div>
				</div>
			</el-col>
			<el-col class="mt-4">
				<el-button type="primary" @click="createHelper"> {{ buttonLabel }} </el-button>
			</el-col>
		</el-form>
	</div>
</template>
<script>

export default {
	name: 'HelperRosterAssignment',
	props: [
		'title',
		'route',
		'routeStaffList',
		'standbyTableData',
		'staffList',
		'staffListAssigned',
		'staffListNotActive',
		'staffListUnassigned',
		'statusInAndOnTime',
		'statusNotIn',
	],
	data(){
		return {

		}
	},
	methods: {
		/**
		 * Add Helper
		*/
		createHelper() {
			const staff = {
				routeId: this.route.id,
				staff: { id: null },
				status: null,
        startTime: null,
        endTime: null,
				createDaIssue: null,
				createCounseling: null

			}
			this.routeStaffList.items.push(staff)
		},

		/**
		 * Delete Helper
		*/
		async deleteStaff(staff, index) {
			this.$emit('remove-helper', staff)
			this.routeStaffList.items.splice(index, 1)
		},

		updateStaff(driver) {
			var itemLength = Object.keys(driver).length
			if(!driver.staff.id || itemLength <= 7) return
			return driver.updated = true
		},

		/**
		* Handles changes to the createDaIssue flag
		*/
		handleCreateDaIssueChange(staff){
			if(staff.createDaIssue == false) staff.createCounseling = false
		},

	},
	computed: {
		daFullName() {
			return this.route.staff? `${this.route.staff.firstName} ${this.route.staff.lastName}` : ''
		},

    buttonLabel() {
      return this.routeStaffList.items.length ? `Add another ${this.title}` :  `Add a ${this.title}`
    },

		helpedDate() {
			var currentDate = this.$moment(new Date()).format('YYYY-MM-DD')
			var routeCreatedDate =this.$moment(this.route.createdAt).format('YYYY-MM-DD')
			return routeCreatedDate < currentDate ? true : false
		}
	}
}
</script>
<style scoped>
	.uil-trash-alt::before {
		margin: 0;
	}
  .roster-assignment-checkbox {
    @apply mb-0 pb-0  !important
  }
  .roster-assignment-checkbox label {
    @apply mb-0 pb-0 !important
  }
</style>