<template>
  <div>
    <el-form
      ref="form"
      :model="route"
      class="p-4"
      size="small">
			<p class="text-2xl"> {{ daFullName }} </p>
			<p class="text-gray-600"> {{ rescuedDate ? 'was rescued by...' : 'is being rescued by...' }} </p>
			<el-col class="mt-4">
				<p class="text-xl" v-if="routeStaffList.items.length"> {{ title }} </p>
				<div class="flex-grow border-t border-gray-300"></div>
				<div
					class="staff-list grid grid-flow-row grid-cols-12 w-full gap-x-4 mt-4"
					v-for="(staff, index) in routeStaffList.items"
					:key="staff.id">
					<div class="lg:col-span-1 col-span-2 items-center">
            <span class="rounded-full bg-brand text-white p-1 pr-2 pl-2 m-auto"> {{ index + 1 }} </span>
            <i class="icon-button hover:text-brand uil uil-trash-alt" @click="deleteStaff(staff, index)"/>
					</div>
					<div class="col-span-10 lg:col-span-11">
						<div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">
							
              <!-- Staff -->
							<el-form-item :label="label" prop="staff" class="form-item col-span-12 lg:col-span-6">
								<el-select
									class="custom-select"
									v-model="staff.staff.id"
									value-key="staffId"
									placeholder="Select rescuer"
									@change="updateStaff(staff)"
									size="small">

									<el-option-group label="On Standby">
										<el-option
											v-for="item in standbyTableData"
											:key="item.id"
											:label="item.time? item.staff.firstName + ' ' + item.staff.lastName + ' (' +  item.time + ')' : item.staff.firstName + ' ' + item.staff.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

									<el-option-group label="Not Yet Assigned">
										<el-option
											v-for="item in staffListUnassigned"
											:key="item.id"
											:label="item.firstName + ' ' + item.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

									<el-option-group label="Already Assigned">
										<el-option
											v-for="item in staffListAssigned"
											:key="item.id"
											:label="item.firstName + ' ' + item.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

									<el-option-group label="Inactive">
										<el-option
											v-for="item in staffListNotActive"
											:key="item.id"
											:label="item.firstName + ' ' + item.lastName"
											:value="item.id">
										</el-option>
									</el-option-group>

								</el-select>
							</el-form-item>

							<!-- Package rescued -->
							<el-form-item label="Package rescued" prop="totalRescuedPackages" class="form-item col-span-12 lg:col-span-6">
								<el-input-number
									class="totalRescued-packages"
									v-model="staff.totalRescuedPackages"
									@change="updateStaff(staff)"
									:controls="false"
									size="small">
								</el-input-number>
							</el-form-item>

							<!-- Start Time -->
							<el-form-item label="Start Time" prop="startTime" class="form-item col-span-12 lg:col-span-6">
                <el-time-picker
                    class="el-time-picker da-timer"
                    v-model="staff.startTime"
										@change="updateStaff(staff)"
                    :editable="false"
                    format="hh:mm a"
                    value-format="HH:mm"
                    placeholder="Select time">
                </el-time-picker>
							</el-form-item>

							<!-- End Time -->
							<el-form-item label="End Time" prop="endTime" class="form-item col-span-12 lg:col-span-6">
								<el-col :span="24">
									<el-time-picker
										class="el-time-picker da-timer"
										v-model="staff.endTime"
										@change="updateStaff(staff)"
										:editable="false"
										format="hh:mm a"
										value-format="HH:mm"
										placeholder="Select time">
									</el-time-picker>
								</el-col>
							</el-form-item>
            </div>
          </div>
        </div>
      </el-col>
			<el-col class="mt-4">
				<el-button type="primary" @click="createStaff"> {{ buttonLabel }} </el-button>
			</el-col>
    </el-form>
  </div>
</template>
<script>
export default {
	name: 'RescuerRosterAssignment',
	props: [
		'title',
		'label',
		'route',
		'routeStaffList',
		'standbyTableData',
		'staffList',
		'staffListAssigned',
		'staffListNotActive',
		'staffListUnassigned',
	],
	data(){
		return {
		}
	},
	methods: {
		/**
		 * Add Rescuer
		*/
		createStaff() {
			const item = {
				routeId: this.route.id,
        totalRescuedPackages: 0,
        startTime: null,
        endTime: null,
				staff: { id: null },
			}
			this.routeStaffList.items.push(item)
		},

		/**
		 * Delete Rescuer
		*/
		deleteStaff(staff, index) {
			this.$emit('remove-rescuer', staff)
			this.routeStaffList.items.splice(index, 1)

		},

		updateStaff(driver) {
			var itemLength = Object.keys(driver).length
			if(!driver.staff.id || itemLength <= 5) return
			return driver.updated = true
		}
  },
  computed: {
		daFullName() {
			return this.route.staff? `${this.route.staff.firstName} ${this.route.staff.lastName}` : ''
		},

    buttonLabel() {
      return this.routeStaffList.items.length ? `Add another ${this.label}` :  `Add a ${this.label}`
    },

		rescuedDate() {
			var currentDate = this.$moment(new Date()).format('YYYY-MM-DD')
			var routeCreatedDate =this.$moment(this.route.createdAt).format('YYYY-MM-DD')
			return routeCreatedDate < currentDate ? true : false
		}
  }
}
</script>
<style scoped>
	.totalRescued-packages{
		width: 100%;
	}
	.uil-trash-alt::before {
		margin: 0;
	}
</style>