<template>
	<div>
		<el-form class="newStandbyDriverForm" :model="newStandbyDriverData" ref="newStandbyDriverForm">
			<div class="block md:flex lg:flex space-x-4">
				
				<div v-if="false" class="flex-1">        
					<el-form-item label="Time" prop="time">
							<el-time-picker
								:editable="false"
								v-model="newStandbyDriverData.time"
								format="hh:mm a"
								value-format="HH:mm"
								@change="updateRow(scope.row, 'time')" 
								placeholder="Select time">
							</el-time-picker>
					</el-form-item>  
				</div>
				
				<div class="flex-1">
					<el-form-item :label="$t('label.associate')" prop="driver">
						<el-select
								data-cy="driver"
								size="small"
								v-model="newStandbyDriverData.staff.id"
								placeholder="Select"
								filterable
								clearable>

							<el-option-group label="Not Yet Assigned">
								<el-option
									v-for="item in staffListUnassigned"
									:key="item.id"
									:label="item.firstName + ' ' + item.lastName"
									:value="item.id">
								</el-option>
							</el-option-group>

							<el-option-group label="Already Assigned">
								<el-option
									v-for="item in staffListAssigned"
									:key="item.id"
									disabled
									:label="item.firstName + ' ' + item.lastName"
									:value="item.id">
								</el-option>
							</el-option-group>
						</el-select>
					</el-form-item>
				</div>
				<div class="flex-1">
					<el-form-item label="Status" prop="status">
						<el-select
							size="small"
							v-model="newStandbyDriverData.status"
							placeholder="Select"
							filterable
							clearable>
              <el-option-group>
								<el-option
									v-for="status in statusInAndOnTime"
									:key="status.id"
									:label="status.value"
									:value="status.value">
								</el-option>
              </el-option-group>

              <el-option-group>
								<el-option
									v-for="status in statusNotIn"
									:key="status.id"
									:label="status.value"
									:value="status.value">
								</el-option>
              </el-option-group>
						</el-select>
					</el-form-item>
				</div>
			</div>
		</el-form>
	</div>
</template>
<script>
export default {
		props:[
			'newStandbyDriverData',
			'staffListUnassigned',
			'staffListAssigned',
      'statusInAndOnTime',
      'statusNotIn',
		]
}
</script>
<style scoped>
  .newStandbyDriverForm .el-select{
    width: 100%;
  }
  .el-dialog__footer{
    @apply mt-4 !important;
  }
</style>