<template>
	<div>
    <el-form
      ref="form"
      :model="formFields"
      class="rescuerAssignmentForm p-4"
      size="small">
      <div class="grid grid-flow-row grid-cols-12 w-full gap-x-4">

				<!-- DA Fullname -->
				<p class="col-span-12 text-xl"> {{ daFullName }} </p>

				<!-- Status -->
				<el-form-item label="Change status to:" prop="status" class="form-item col-span-10 mt-4">
					<el-select
						size="small"
						v-model="formFields.status"
						placeholder="Select"
						filterable
						clearable>
						<el-option-group>
							<el-option
								v-for="status in statusInAndOnTime"
								:key="status.id"
								:label="status.value"
								:value="status.value">
							</el-option>
						</el-option-group>

						<el-option-group>
							<el-option
								v-for="status in statusNotIn"
								:key="status.id"
								:label="status.value"
								:value="status.value">
							</el-option>
						</el-option-group>
					</el-select>
				</el-form-item>

				<!-- DA Issue -->
				<el-form-item prop="createDaIssue" class="form-item standby-createDaIssue col-span-12">
					<el-checkbox
						:label="`Create ${$t('label.associate')} Issue for ${ daFullName }`"
						v-model="formFields.createDaIssue"
						@change="handleCreateDaIssueChange">
					</el-checkbox>
				</el-form-item>

				<!-- Counseling -->
				<el-form-item prop="createCounseling" class="form-item standby-createCounseling col-span-12">
					<el-checkbox
						:label="`Also create a pending counseling for ${ daFullName }`"
						v-model="formFields.createCounseling"
						:disabled="!formFields.createDaIssue">
					</el-checkbox>
				</el-form-item>


				<div v-if="routeType == 'roster'" class="col-span-10">
					<!-- Replace DA -->
					<el-form-item prop="replaceWithDA" class="form-item standby-replaceWithDA col-span-12">
						<el-checkbox
							:label="`Replace with standby ${$t('label.associate')}`"
							v-model="formFields.replaceWithDA"
							checked
							size="medium" >
						</el-checkbox>
					</el-form-item>
					
					<!-- Replace with Standby DA -->
					<el-form-item prop="replaceByStandbyDA" class="form-item col-span-10 ml-10 mt-0">
						<el-select
							class="custom-select"
							v-model="formFields.replaceByStandbyDA"
							:disabled="!formFields.replaceWithDA"
							value-key="id"
							clearable
							:placeholder="`Select Standby ${$t('label.associate')}`"
							:no-data-text="`No Standby ${$t('label.associates')}`">
							<el-option
								v-for="standby in standbyTableData"
								:key="standby.id"
								:label="replaceByStandByStaff(standby)"
								:value="standby"/>
						</el-select>
					</el-form-item>
				</div>
			</div>
		</el-form>
	</div>
</template>
<script>
export default {
	name: 'StatusRosterAssignment',
	props:[
		'formFields',
		'routeType',
		'standbyTableData',
		'statusInAndOnTime',
		'statusNotIn',
	],
	methods: {

		handleCreateDaIssueChange(){
			if(!this.formFields.createDaIssue) this.formFields.createCounseling = false
		},

		/**
		 * Replace by standby Fullname
		 */
		replaceByStandByStaff(standby) {
			return standby.time ? `${standby.staff.firstName } ${standby.staff.lastName} (${ standby.time})` : `${standby.staff.firstName } ${standby.staff.lastName}`
		},
	},
	computed: {
		/**
		 * Creates a DA Fullname
		*/
		daFullName() {
			return this.formFields.staff? `${this.formFields.staff.firstName} ${this.formFields.staff.lastName}` : ''
		},
	}
}
</script>
<style scoped>
	.standby-createDaIssue {
		@apply mt-4 mb-0 pb-0 !important
	}
	.standby-createCounseling {
		@apply ml-8 mt-0 pt-0 !important
	}
	.standby-replaceWithDA {
		@apply mb-0 pb-0 !important
	}
  .rescuerAssignmentForm .el-select{
    width: 100%;
  }
</style>