<template>
  <div v-loading="loading">
    <DaIssuesTrendGraphsCard
      :infractionsList="tableData"
      @filtered-data="(data) => filteredData = data"
    />

    <div class="mt-10">
      <DaIssueList
        :infractionsList="filteredData"
        @delete-issue="loadData"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { infractionsByGroupAndDate } from './queries';
import DaIssuesTrendGraphsCard from './components/DaIssuesTrendGraphsCard/DaIssuesTrendGraphsCard.vue';
import DaIssueList from './components/DaIssueList.vue';

export default {
  name: "DaIssueTrendGraphsReport",

  components: {
    DaIssuesTrendGraphsCard,
    DaIssueList,
},

  data() {
    return {
      loading: false,
      tableData: [],
      filteredData: [],
    };
  },

  created() {
    this.loadData();
  },

  computed: {
    ...mapState([
      'userInfo',
    ]),
  },

  methods: {
    async loadData() {
      try {
        this.loading = true;
        const input = {
          group: this.userInfo.tenant.group,
        };
        this.tableData = await this.gLoadListAll(infractionsByGroupAndDate, input, 'infractionsByGroupAndDate');
      }
      catch (error) {
        this.printUserError(error);
        this.displayUserError(error);
      }
      finally {
        this.loading = false;
      }
    },
  },
};
</script>
