<template>
  <div>
    <!--Header-->
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-9">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item v-if="$route.name == 'RecentDaIssuesReport'" :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
        <el-breadcrumb-item v-else :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
        <el-breadcrumb-item v-if="$route.name == 'RecentDaIssuesReport'">Recent {{$t('label.associate')}} Issues</el-breadcrumb-item>
        <el-breadcrumb-item v-else>{{$t('label.associate')}} Issues</el-breadcrumb-item>
      </el-breadcrumb>
      </div>
      <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-3">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="uil uil-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div> 
    </div>

    <DaIssueList range="all" class="mt-4" :search="search" :routeId="routeId" />

    <!-- <p class="mt-4" v-if="!search && !filterStatus">{{ numberOfInfractions }} Total DA Issues</p>
    <p class="mt-4" v-else>Showing {{ numberOfInfractions }} of {{  tableData.length }} Total DA Issues</p> -->

  </div>
</template>

<script>
    import DaIssueList from '@/views/DaIssues/components/DaIssueList.vue'

    export default {
        name: 'DaIssuesIndex',
         components: {
            DaIssueList
        },
        props:['routeId'],
        data() {
            return {
                search: '',
                filterStatus: null,
                numberOfInfractions: 0
            }
        },


        mounted: function(){
            // this.configureFilter()

        //     this.numberOfInfractions = this.$refs.table.data.length
        //         // $refs is ready once in mounted
        //     this.$watch(
        //         () => {
        //             return this.$refs.table.data.length
        //         },
        //         (val) => {
        //             this.numberOfInfractions = this.$refs.table.data.length
        //         }
        //     )
        }
        
    }
</script>