<template>
  <div>
    <div class="flex justify-between mb-4 items-center h-8">
      <el-breadcrumb
        separator-class="uil uil-angle-right-b m-breadcrum text-base"
      >
        <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"
          ><i class="uil uil-chart-line"></i> Tasks &
          Reports</el-breadcrumb-item
        >
        <el-breadcrumb-item>
          30-Day {{ $t("label.associate") }} Issue Trends</el-breadcrumb-item
        >
      </el-breadcrumb>
    </div>
    <div>
      <template>
        <div>
          <table-card tablecard-class="rounded-lg">
            <template v-slot:table-filters>
              <container-filter inTable>
                <template v-slot:title>
                  <span>30-Day Associate Issue Trends</span>
                </template>
                <template v-slot:filters>
                  <counter-filter :counter="getResumeFilters" />
                  <multi-select-filter
                    type="associateStatus"
                    title="Associate Status"
                    :options="associateStatusOptions"
                    :selected="associateStatusSelected"
                    @update-filters="updateFilters"
                  />
                </template>
              </container-filter>
            </template>

            <template v-slot:table-searchbox>
              <search-box inTable @search-data="searchData" />
            </template>

            <!--Table-->
            <custom-table
              inTable
              ref="table"
              v-loading="loading"
              :defaultSort="{
                prop: 'current.occurrences',
                order: 'descending',
              }"
              :columns="cols"
              :data="filteredData"
              :totalRecords="totalAssociateIssueTrend"
              emptyText="No Associate Issue Trend"
              footerTable="Total Associate Issue Trend"
              :optionsRows="optionsContextRow"
              :showFooterText="false"
              class="infraction-index-class"
            >
              <template #currentOcurrences="row">
                <span v-if="row.current">
                  {{ row.current.occurrences  }}
                </span>
                <span v-else>—</span>
              </template>
              <template #currentAssociates="row">
                <span v-if="row.current">
                  {{ row.current.associates }}
                </span>
                <span v-else>—</span>
              </template>
              <template #previousOcurrences="row">
                <span v-if="row.previous">
                  {{ row.previous.occurrences  }}
                </span>
                <span v-else>—</span>
              </template>
              <template #previousAssociates="row">
                <span v-if="row.previous">
                  {{ row.previous.associates }}
                </span>
                <span v-else>—</span>
              </template>
              <template #variance="row">
                <span v-if="row">
                  {{ row.variance }}
                  <el-tooltip
                    effect="dark"
                    :content="
                      tooltipContent(
                        row.current.associates,
                        row.previous.associates,
                      )
                    "
                    placement="top"
                  >
                    <i
                      v-if="row.current.associates > row.previous.associates"
                      class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-red-500"
                    ></i>
                    <i
                      v-else-if="row.current.associates == row.previous.associates"
                      class="-mt-1 text-lg p-0 uil uil-bars text-blue-500"
                    ></i>
                    <i
                      v-else-if="row.current.associates < row.previous.associates"
                      class="-mt-1 text-lg p-0 uil uil-sort-amount-down text-green-500"
                    ></i>
                  </el-tooltip>
                </span>
                <span v-else>—</span>
              </template>
            </custom-table>
          </table-card>
        </div>
        <p class="mt-4">
          Showing {{ numberOfStaff }} of {{ totalAssociateIssueTrend }} {{ $t("label.associate") }} Issue Types
        </p>
      </template>
    </div>
  </div>
</template>

<script>
import { infractionsByGroupAndDate } from "@/views/DaIssues/queries";
import { mapState, mapGetters, mapMutations } from "vuex";
import ContextMenuHeaderIcon from "@/components/ContextMenuHeaderIcon";
import TableCard from "@/components/TableCard/TableCard";
import CustomTable from "@/components/TableCard/CustomTable";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import CellToolTip from "@/components/CellToolTip";
import { parseDatesToTimezone } from "@/utilities/parseDatesToTimezone";
import { parseType } from '@/utilities/parseType';

export default {
  name: "CounselingIndex",
  components: {
    ContextMenuHeaderIcon,
    TableCard,
    CustomTable,
    ContainerFilter,
    SearchBox,
    MultiSelectFilter,
    CounterFilter,
    CellToolTip,
  },
  data() {
    return {
      loading: false,
      tableData: [],
      recordsLastDays: [],
      recordsPreviousDays: [],
      search: "",
      loading: false,
      cols: [
        {
          name: "Associate Issue Type",
          col: "infractionType",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.sortInfractionType,
        },
        {
          name: "Occurences Last 30 Days",
          col: "currentOcurrences",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.currentOcurrences,
        },
        {
          name: "Associates Last 30 Days",
          col: "currentAssociates",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.currentAssociates,
        },
        {
          name: "Occurrences Previous 30 Days",
          col: "previousOcurrences",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.previousOcurrences,
        },
        {
          name: "Associates Previous 30 Days",
          col: "previousAssociates",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.previousAssociates,
        },
        {
          name: "Associates Variance",
          col: "variance",
          fixed: false,
          width: "120",
          sortable: true,
          sortMethod: this.variance,
        },
      ],
      optionsContextHeader: [],
      optionsContextRow: [],
      associateStatusOptions: [],
      associateStatusSelected: ["Active"],
      totalAssociateIssueTrend: 0,
      originalTableData: [],
      maxSizeExpand: [],
      maxSizeColumn: 225,
      maxSizeCellTooltip: 25,
      isExpanded: false,
      numberOfStaff: 0,
    };
  },

  created: function () {
    this.loadFilters();
    this.loadData();
  },

  mounted: async function () {
    this.$watch(() => {
      if (this.$refs.table) {
        this.numberOfStaff = this.$refs.table.data.length;
      }
    });
  },

  computed: {
    ...mapState(["userInfo", "valuelists"]),
    ...mapGetters(["getFiltersAssociateStatus"]),

    filteredData() {
      return this.filterArray(this.tableData, this.search);
    },

    getResumeFilters() {
      const filtersAssociateStatus =
        this.associateStatusSelected.length ===
        this.associateStatusOptions.length
          ? 0
          : 1;
      const total = filtersAssociateStatus;
      return total;
    },
  },

  methods: {
    ...mapMutations(["setFiltersAssociateStatus"]),

    loadFilters() {
      const staffStatuses = this.valuelists["staff-status"]?.items || [];
      const associateStatuses = this.valueListActivesOnly(staffStatuses).map(
        (s) => s.value
      );
      this.associateStatusOptions = associateStatuses;

      if (this.getFiltersAssociateStatus.length === 0) {
        this.setFiltersAssociateStatus(["Active"]);
      }

      this.associateStatusSelected = this.getFiltersAssociateStatus;
    },

    updateFilters(e) {
      const { type, filters } = e;
      const actions = {
        associateStatus: () => {
          this.associateStatusSelected = filters;
          this.setFiltersAssociateStatus(filters);
        },
      };
      actions[type]();
      this.reloadData();
    },

    reloadData() {
      this.getFilteredRecords(
        this.recordsLastDays,
        this.recordsPreviousDays,
        this.associateStatusSelected
      );
    },

    getFilteredRecords(
      _recordsLastDays = [],
      _recordsPreviousDays = [],
      associateStatusFilters = []
    ) {
      if (_recordsLastDays.length === 0 && _recordsPreviousDays.length === 0)
        return [];

      const recordsLastDays = this.filterByAssociateStatus(
        _recordsLastDays,
        associateStatusFilters
      );
      const recordsPreviousDays = this.filterByAssociateStatus(
        _recordsPreviousDays,
        associateStatusFilters
      );

      const groupedData = this.groupByInfractionType(
        recordsLastDays,
        recordsPreviousDays
      );

      this.tableData = groupedData;
    },

    filterByAssociateStatus(data, filters) {
      return data.filter((infraction) =>
        filters.includes(infraction.staff?.status)
      );
    },

    /**
     * Load data using the vehicleIndex custom GraphQL query
     */
    loadData: async function () {
      this.loading = true;
      try {
        let recordsLastDays = await this.getRecordsDaysLimit(0, 29);
        let recordsPreviousDays = await this.getRecordsDaysLimit(30, 59);

        const recordsLastParseDays =
          this.dataParseDateToTimezone(recordsLastDays);
        const recordsPreviousParseDays =
          this.dataParseDateToTimezone(recordsPreviousDays);

        this.recordsLastDays = recordsLastParseDays;
        this.recordsPreviousDays = recordsPreviousParseDays;

        const recordFilterLastDays = (recordsLastDays =
          this.filterByAssociateStatus(
            recordsLastParseDays,
            this.associateStatusSelected
          ));
        const recordFilterPreviousDays = (recordsPreviousDays =
          this.filterByAssociateStatus(
            recordsPreviousParseDays,
            this.associateStatusSelected
          ));

        const groupedData = this.groupByInfractionType(
          recordFilterLastDays,
          recordFilterPreviousDays
        );

        this.tableData = groupedData;
        this.totalAssociateIssueTrend = this.tableData.length;
      } catch (e) {
        this.displayUserError(e);
      } finally {
        this.loading = false;
      }
    },

    groupByInfractionType(currentData, previousData) {
      const groupedData = {};

      const processItem = (item, dataKey) => {
        const { staff } = item;
        const infractionType = item.type ? item.type.option : parseType(item.infractionType);
        if (!staff?.id) return;

        if (!groupedData[infractionType]) {
          groupedData[infractionType] = {
            infractionType,
            current: {
              occurrences: 0,
              associates: new Set(),
            },
            previous: {
              occurrences: 0,
              associates: new Set(),
            },
            variance: 0,
          };
        }

        groupedData[infractionType][dataKey].occurrences++;
        groupedData[infractionType][dataKey].associates.add(staff.id);
      };

      currentData.forEach((item) => processItem(item, "current"));
      previousData.forEach((item) => processItem(item, "previous"));

      Object.values(groupedData).forEach((group) => {
        const currentAssociates = group.current.associates.size;
        const previousAssociates = group.previous.associates.size;
        group.variance = currentAssociates - previousAssociates;
        group.current.associates = currentAssociates;
        group.previous.associates = previousAssociates;
      });

      return Object.values(groupedData);
    },

    async getRecordsDaysLimit(start, end) {
      const currentDate = this.$moment();
      const dayAhead = this.$moment(currentDate)
        .subtract(start, "days")
        .format("YYYY-MM-DD");
      const pastDate = this.$moment(currentDate)
        .subtract(end, "days")
        .format("YYYY-MM-DD");

      const input = {
        date: { between: [pastDate, dayAhead] },
        group: this.$store.state.userInfo.tenant.group,
        sortDirection: "DESC",
      };

      const results = await this.gLoadListAll(
        infractionsByGroupAndDate,
        input,
        "infractionsByGroupAndDate"
      );

      return results;
    },

    dataParseDateToTimezone(data) {
      const dateFields = ["date"];
      const timezone = this.getTenantTimeZone();
      return data.map((e) => parseDatesToTimezone(e, timezone, dateFields));
    },

    searchData(e) {
      this.search = e;
    },

    sortInfractionType(a, b) {
      return a.infractionType.toLowerCase().localeCompare(b.infractionType.toLowerCase());
    },

    currentOcurrences(a, b) {
      return b.current.occurrences - a.current.occurrences;
    },

    currentAssociates(a, b) {
      return b.current.associates - a.current.associates;
    },

    previousOcurrences(a, b) {
      return b.previous.occurrences - a.previous.occurrences;
    },

    previousAssociates(a, b) {
      return b.previous.associates - a.previous.associates;
    },

    variance(a, b) {
      return b.variance - a.variance;
    },

    tooltipContent(infractionAssociate, infractionAssociatePrev) {
      if (infractionAssociate > infractionAssociatePrev)
        return `Up from ${
          infractionAssociate - infractionAssociatePrev
        }  ${this.$t("label.associates")} in the previous 30-day period.`;
      if (infractionAssociate < infractionAssociatePrev)
        return `Down from ${
          infractionAssociatePrev - infractionAssociate
        }  ${this.$t("label.associates")} in the previous 30-day period.`;
      if (infractionAssociate == infractionAssociatePrev)
        return `No change compared to the previous 30-day period.`;
    },
  },
};
</script>
<style lang="scss">
.infraction-index-class .el-table th.el-table__cell > .cell {
  display: flex !important;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
</style>
