<template>
    <div v-loading="loading">

        <!--CREATE COUNSELING MODAL-->
        <el-dialog
        title="Appeal Infraction"
        :visible.sync="createCounselingModal"
        :close-on-click-modal="false"
        width="600px"
        >
            <p class="break-normal">Would you like to also create a pending counseling record with this appeal?</p>
            <span slot="footer" class="dialog-footer">
                <el-button @click="createCounselingModal = false">Cancel</el-button>
                <el-button type="primary" @click="appealInfraction">No</el-button>
                <el-button v-if="$store.getters.hasPerformanceCoaching" type="primary" @click="createCounselingAndAppeal">Yes</el-button>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                    <el-button class="opacity-50" type="primary" slot="reference">Yes</el-button>
                    <PremiumWarning
                        action="create counselings with appeals"
                        premiumFeature="performance and coaching">
                    </PremiumWarning>
                </el-popover>
            </span>
        </el-dialog>
        <!--Header-->
        <div class="flex justify-between items-center">
            <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'StaffIndex' }">{{$t('label.associates')}}</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ name: 'DaIssueIndex' }">{{$t('label.associate')}} Issues</el-breadcrumb-item>
            <el-breadcrumb-item><span v-if="formData.date">{{ formData.date | date_timezone  }} - </span><span v-if="formData.staff">{{ formData.staff.firstName }} {{formData.staff.lastName}}</span></el-breadcrumb-item>
            <!-- <el-breadcrumb-item><span v-if="formData.date">{{ $moment(formData.date).format('MM/DD/YYYY')  }} - </span><span v-if="formData.staff">{{ formData.staff.firstName }} {{formData.staff.lastName}}</span></el-breadcrumb-item> -->
            </el-breadcrumb>
            <el-dropdown data-cy="da-issue-detail-head-3dot-btn" @command="handleCommand">
                <i 
                    :title="`${$t('label.associate')} Issue Commands`"
                    class="context-menu uil uil-ellipsis-h"></i>
                <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item data-cy="btn-issue-edit" command="edit">Edit</el-dropdown-item>
                    <el-dropdown-item data-cy="btn-issue-delete" command="delete">Delete</el-dropdown-item>
                    <el-dropdown-item v-if="isInfraction" command="appealInfraction">Appeal</el-dropdown-item>
                    <el-dropdown-item
                        v-if="$store.getters.hasPerformanceCoaching && hasCounselingSettings && hasCounselingManagement"
                        command="createCounseling"
                    >
                        Create Counseling
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>

        <!-- MAIN INFO GRID -->
        
        <div class="border p-4 rounded-lg shadow w-full mt-4 h-fit-content">
            <div class="text-gray-600 text-base font-bold mb-4 uppercase">{{$t('label.associate') }} ISSUE INFORMATION</div>
            <el-form label-position="top" size="small">
                <div class="grid grid-flow-row grid-cols-12">
                    <el-form-item :label="`${$t('label.associate')} Issue Type`" v-if="formData.type || formData.infractionType " prop="infractionType" class="col-span-12 sm:col-span-6 md:col-span-3 non-edit-field">
                        {{ `${formData.type ? formData.type.option : formData.infractionType}` | text  }}
                    </el-form-item>
                    <el-form-item :label="`${$t('label.associate')} Name`" v-if="formData.staff" prop="employeeName" class="col-span-12 sm:col-span-6 md:col-span-3 non-edit-field">
                        {{ formData.staff.firstName }}  {{ formData.staff.lastName }}
                    </el-form-item>
                    <el-form-item label="Date" prop="date" class="col-span-12 sm:col-span-6 md:col-span-3 non-edit-field">
                        {{ formData.date | date_timezone }}
                    </el-form-item>
                    <el-form-item label="Time" prop="time" class="col-span-12 sm:col-span-6 md:col-span-3 non-edit-field" :class="{'placeholder': !formData.time}">
                        {{ formData.time | text }} 
                    </el-form-item>
                </div>
                <el-form-item label="Additional Information" prop="comment" class="non-edit-field-text-xs">
                    <p v-if="formData.comment" v-html="indentCommentText(formData.comment)"></p>
                </el-form-item>
            </el-form>
        </div>     
        
        <!-- VIOLATION / DEFECT GRID  -->

        <div class="border p-4 rounded-lg shadow w-full mt-4 h-fit-content" v-if="isInfraction">
            <div class="text-gray-600 text-base font-bold mb-4 uppercase">{{ infractionName | text }} INFORMATION</div>
            <el-form label-position="top" size="small">
                <div class="grid grid-flow-row grid-cols-12">
                    <el-form-item label="Type" v-if="formData.infractionTier" prop="infractionTier" class="col-span-12 sm:col-span-6 md:col-span-4 non-edit-field">
                        {{ formData.infractionTier | text }}
                    </el-form-item>
                    <el-form-item v-if="isInfraction" label="Station" prop="station" class="col-span-12 sm:col-span-6 md:col-span-4 non-edit-field" :class="{'placeholder': !formData.station}">
                        {{ formData.station | text }}
                    </el-form-item>
                    <el-form-item v-if="isInfraction" label="Tracking Number" prop="trackingNumber" class="col-span-12 sm:col-span-6 md:col-span-4 non-edit-field" :class="{'placeholder': !formData.trackingNumber}">
                        {{ formData.trackingNumber | text }} 
                    </el-form-item>
                    <el-form-item v-if="isInfraction" label="Infraction Type" prop="infractionDescription" class="non-edit-field-text-xs md:col-span-12" :class="{'placeholder': !formData.infractionDescription}">
                    {{ formData.infractionDescription | text }}
                    </el-form-item>
                    <el-form-item label="POD" v-if="formData.documents.items.length > 0" class="col-span-12 sm:col-span-6 md:col-span-3">
                        <el-button type="text" class="text-button" @click="downloadFile(formData.documents.items[0].key)">Download</el-button>
                    </el-form-item>
                </div>
            </el-form>
        </div>

        <!-- APPEAL GRID -->
        <div class="border p-4 rounded-lg shadow w-full mt-4 h-fit-content" v-if="showAppealSection">
            <div class="mb-4 text-gray-600 text-base font-bold">APPEAL DETAILS</div>
            <el-form label-position="top" size="small">
                <div class="flex space-x-4 justify-start">
                    <el-form-item label="Appeal Date" prop="appealDate" class="w-full flex-auto non-edit-field">
                        {{ formData.appealDate | date }}
                    </el-form-item>

                    <el-form-item label="Resolved Date" prop="resolvedDate" class="w-full flex-auto non-edit-field">
                        {{ formData.resolvedDate | date }}
                    </el-form-item>

                    <el-form-item label="Appeal Status" prop="appealStatus" class="w-full flex-auto non-edit-field">
                        {{ formData.appealStatus | text }}
                    </el-form-item>
                </div>
                <el-form-item label="Appeal Notes" prop="appealNotes" class="non-edit-field-text-xs">
                    {{ formData.appealNotes | text }}
                </el-form-item>
            </el-form>
        </div>

        <!-- COUNSELING GRID -->
        <div
            v-if="counselingArray.length > 0 && hasCounselingSettings && hasCounselingManagement"
            class="border p-4 rounded-lg shadow w-full mt-4 h-fit-content"
        >
            <div class="text-gray-600 text-base font-bold mb-4">COUNSELING DETAILS</div>
            <CounselingList :tableData="counselingArray"/>
        </div>


        <!--CREATE COUNSELING MODAL-->
        <el-dialog
        title="Appeal Infraction"
        :visible.sync="createCounselingModal"
        width="600px">
            <p class="break-normal">Would you like to also create a pending counseling record with this appeal?</p>
            <span slot="footer" class="dialog-footer">
                <el-button @click="createCounselingModal = false">Cancel</el-button>
                <el-button type="primary" @click="appealInfraction">No</el-button>
                <el-button v-if="$store.getters.hasPerformanceCoaching" type="primary" @click="createCounselingAndAppeal">Yes</el-button>
                <el-popover
                    v-else
                    placement="bottom"
                    title="Premium Required"
                    width="215"
                    trigger="hover"
                    content=""
                    class="ml-1 text-center inline-block   z-20"
                    > 
                    <el-button class="opacity-50" type="primary" slot="reference">Yes</el-button>
                    <PremiumWarning
                        action="create counselings with appeals"
                        premiumFeature="performance and coaching">
                    </PremiumWarning>
                </el-popover>
            </span>
        </el-dialog>

    </div>
</template>
<script>
// @ is an alias to /src
import { mapState, mapGetters } from 'vuex'
import { Storage } from 'aws-amplify'
import { getInfraction } from './queries'
import { createCounseling, updateInfraction, deleteInfraction } from '@/graphql/mutations'
import CounselingList from './components/CounselingList'
import PremiumWarning from '@/components/PremiumWarning'
import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
import { COUNSELING_STATUS_NOT_SENT, COUNSELING_STATUS_PENDING_SIGNATURE, COUNSELING_STATUS_SIGNED } from '@/utilities/constants/counseling';

export default {
    name: 'DaIssueDetail',
    props: ['infractionID'],
    components:{
        CounselingList,
        PremiumWarning
    },
    data(){
        return{
            USER_PERMISSIONS: process.env.VUE_APP_USER_PERMISSIONS === "1",
            loading: true,
            formData:{
                staff: {},
                documents:{
                    items:[]
                }
            },
            counselingArray:[],
            createCounselingModal: false,
            infractionName: '',
        }
    },
    created(){
        this.loadData();
    },

    computed:{
        ...mapState([
            'userInfo'
        ]),
        ...mapGetters([
            'hasStaffManagement',
            'counselingSeverityTypeList',
            'hasCounselingSettings',
            'hasCounselingManagement',
        ]),

        showAppealSection(){
            if(this.formData.appealDate != null || this.formData.resolvedDate != null || this.formData.appealStatus != null || this.formData.appealNotes != null){
                return true
            }
            else{
                return false
            }
        },

        isInfraction(){
            return this.infractionName == 'Amazon Violation/Defect' || this.infractionName == 'Infraction'
        }
    },


    methods:{

        async appealInfraction(){
            this.createCounselingModal = false;
            var input = {
                id: this.infractionID, 
                appealDate: new Date(new Date().setHours(0,0,0,0)), 
                appealStatus: 'Pending',
                group: this.$store.state.userInfo.tenant.group,
                staffId: this.formData.staff.id
            }

            try{
                this.loading = true;
                await this.api(updateInfraction, {input: input})
                this.loadData()
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


        /**
         * Confirm is user wants to create a pending counseling and appeal or just appeal
         */
        confirmAppeal(){
            if(this.formData.appealDate != null || this.formData.resolvedDate != null || this.formData.appealStatus != null || this.formData.appealNotes != null){
                this.$message.error("Infraction already in the appeal process.");
                return
            }
            if(!this.hasStaffManagement){
                this.displayUserNotification({title: 'Appeal' , type: 'info', message:'Premium Required'})
                return
            }

            if(this.counselingArray.length > 0){
                this.$confirm('Would you like to appeal this infraction?', 'Warning', {
                    confirmButtonText: 'Appeal',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    this.appealInfraction()           
                }).catch(() => {
                    console.log("appeal canceled")
                });
            }
            else{
                this.createCounselingModal = true
            }
            
        },

        confirmCreateCounseling(){
            if(this.counselingArray.length > 0){
                this.$message.error(`This ${this.$t('label.associate')} issue already as a counseling record.`);
                return
            }
            this.$confirm(`Would you like to create a counseling for this ${this.$t('label.associate')} issue?`, 'Warning', {
                confirmButtonText: 'Create',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.createCounseling()           
            }).catch(() => {
                console.log("create canceled")
            });
        },


        async createCounseling(){
            const infractionNotes = this.formData.infractionDescription ? this.formData.infractionDescription : this.formData.infractionType
            try{
                this.loading = true
                var input = {
                    date: new Date(),
                    counselingUserId: this.$store.state.userInfo.id,
                    group: this.$store.state.userInfo.tenant.group,
                    counselingStaffId: this.formData.staff.id,
                    counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
                    status: COUNSELING_STATUS_NOT_SENT,
                    createdFrom: `${this.$t('label.associate')} Issue Detail (${infractionNotes})`,
                    tenantId: this.$store.state.userInfo.tenant.id
                }

                var result = await this.api(createCounseling, {input: input})
                var counselingID = result.data.createCounseling.id

                var input = {
                    id: this.infractionID, 
                    group: this.$store.state.userInfo.tenant.group ,
                    infractionCounselingId: counselingID,
                }

                await this.api(updateInfraction, {input: input})
                this.loadData()
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }

        },

        
        /**
         * Create counseling record and update infraction in DB
         */
        async createCounselingAndAppeal(){
            this.createCounselingModal = false;
            const infractionNotes = this.formData.infractionDescription
            try{
                this.loading = true
                var input = {
                    date: new Date(),
                    counselingUserId: this.$store.state.userInfo.id,
                    group: this.$store.state.userInfo.tenant.group,
                    counselingStaffId: this.formData.staff.id,
                    counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
                    status: COUNSELING_STATUS_NOT_SENT,
                    createdFrom: `${this.$t('label.associate')} Issue Detail (${infractionNotes})`,
                    tenantId: this.$store.state.userInfo.tenant.id
                }

                var result = await this.api(createCounseling, {input: input})
                var counselingID = result.data.createCounseling.id

                var input = {
                    id: this.infractionID, 
                    appealDate: new Date(), 
                    appealStatus: 'Pending',
                    group: this.$store.state.userInfo.tenant.group ,
                    infractionCounselingId: counselingID,
                    staffId: this.formData.staff.id
                }

                await this.api(updateInfraction, {input: input})
                this.loadData()
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false
            }
        },


        handleCommand: function(command){
            if(command == "edit"){
                this.handleEdit()
                return
            }
            else if(command == "appealInfraction"){
                this.confirmAppeal()
                return
            }
            else if (command == "createCounseling"){
                this.confirmCreateCounseling()
                return
            }else if (command == "delete"){
                let objPopUp = {};
                if(this.formData.counseling === null){
                    objPopUp.textWarning = `This will permanently delete this ${this.$t('label.associate')} Issue. <br> <b style="color:red">There is no undo for this action.</b>`;
                    objPopUp.confirmButtonText='Confirm';
                    objPopUp.cancelButtonText= 'Cancel';
                    this.handleBeforeDelete(objPopUp);
                    return
                }
                if(this.formData.counseling.status === COUNSELING_STATUS_PENDING_SIGNATURE || this.formData.counseling.status === COUNSELING_STATUS_NOT_SENT){
                    objPopUp.textWarning=`This ${this.$t('label.associate')} Issue is linked to a Counseling. Do you want to remove it from the Counseling and permanently delete it?<br> <b style="color:red">There is no undo for this action.</b>`;
                    objPopUp.confirmButtonText='Confirm';
                    objPopUp.cancelButtonText ='Cancel';
                    this.handleBeforeDelete(objPopUp);
                    return
                }
                if(this.formData.counseling.status === COUNSELING_STATUS_PENDING_SIGNATURE || this.formData.counseling.status === COUNSELING_STATUS_SIGNED){
                    let text = 'sent';
                    if(this.formData.counseling.status === COUNSELING_STATUS_SIGNED) {
                        text = 'signed'
                    }
                    objPopUp.textWarning=`This ${this.$t('label.associate')} Issue is linked to a Counseling that has already been ${text}, and therefore cannot be deleted from here. You will need to delete the Counseling in order to delete this ${this.$t('label.associate')} Issue.`;
                    objPopUp.confirmButtonText='View Counseling';
                    objPopUp.cancelButtonText ='Cancel';
                    this.handleBeforeDelete(objPopUp);
                    return
                }
                
            }
        },

        handleBeforeDelete(param) {
            if(!this.hasStaffManagement){
                this.displayUserNotification({title: 'Delete' , type: 'info', message:'Premium Required'})
                return
            }
            this.$confirm(param.textWarning, 'Warning', {
                confirmButtonText: param.confirmButtonText,
                cancelButtonText: param.cancelButtonText,
                dangerouslyUseHTMLString: true,
                type: 'warning'
            }).then(() => {
                if(param.confirmButtonText === 'View Counseling'){
                    this.viewCounseling();
                    return
                }
                this.handleDelete();
            }).catch(() => {
                console.log("canceled delete");
            });
        },
        async handleDelete() {
            this.loading = true;
            await this.api(deleteInfraction, {input:{id: this.formData.id}});
            this.$router.push({name:'DaIssueIndex'});
            this.displayUserNotification({
                title: "Success",
                type: "success",
                message: `${this.$t('label.associate')} Issue deleted.`
            });
        },
        handleEdit: function(){
            if(!this.hasStaffManagement){
                this.displayUserNotification({title: 'Edit' , type: 'info', message:'Premium Required'})
                return
            }
            this.$router.push({name: 'DaIssueEdit', params: {infractionID: this.infractionID}})
        },

        viewCounseling() {
            this.$router.push({name: 'CounselingDetail', params: { counselingId: this.formData.counseling.id }, query:{issueID: this.formData.id} });
        },


        /**
         * Loads in form data for Counseling Record
         */
        loadData: async function(){
            
            try{
                this.loading = true;
                var input = {
                    id: this.infractionID
                }
                var infraction = await this.api(getInfraction, input);
                var data = infraction.data.getInfraction;
                data.documents.items.map((document) => document.url = null)
               

                this.formData = data
                this.infractionName = data.type?.option || data.infractionType;
                if(this.formData.counseling != null){
                    this.counselingArray.push(this.formData.counseling)
                }
                await this.setImageURLs();
                
            }
            catch(e){
                this.displayUserError(e)
            }
            finally{
                this.loading = false;
            }

        },

        /**
         * Creates array of image URLs from s3
         */
        setImageURLs: function(){
            this.formData.documents.items.map(async (document) =>{
            document.url = await Storage.get(document.key)
            })
        },

        /**
         * Opens document in new tab
         */
        viewFile(url){
            window.open(url, '_blank');
        },

        indentCommentText(comment) {
            return comment.replace(/\n/g, '<br/>')
        },
    }
}
</script>
<style scoped>
.text-button{
    @apply underline !important
}
</style>