<template>
    <div>
        <!--Header-->
        <div class="flex justify-between items-center">
            <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-chart-line"></i> Performance & Coaching</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ name: 'DaIssueIndex' }">{{$t('label.associate')}} Issues</el-breadcrumb-item>
                <el-breadcrumb-item v-if="infractionID">Edit {{$t('label.associate')}} Issue</el-breadcrumb-item>
                <el-breadcrumb-item v-else>New {{$t('label.associate')}} Issue</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <DaIssueForm :infractionID="infractionID" :reportBlitz="reportBlitz" :infractionType="infractionType"/>
    </div>
</template>
<script>
import DaIssueForm from './components/DaIssueForm'
export default {
    props:['infractionID', 'reportBlitz', 'infractionType' ],
    components:{
        DaIssueForm,
    }
}
</script>