#chatEditorCnt .quill{
    position: relative;
    /* margin-top: 31px; */
    background-color: white;
}

#projectEditorCnt .quill{
    height: 250px;
}
.quill{
    position: relative;
}
.ql-toolbar.ql-snow{
    padding: 3px;
    border-radius: 4px 4px 0 0;
    background: white;

}
#chatEditorCnt .ql-toolbar.ql-snow{
    padding: 3px;
    border-radius: 4px 4px 0 0;
    background: white;
    position: absolute;
    top: -31px;
    left: 0;
    right: 0;
    z-index: 1;
    padding-right: 100px;
}
.hideToolbar .ql-toolbar.ql-snow {
    display: none
  }
.hideToolbar .ql-toolbar.ql-snow + .ql-container.ql-snow{
    border-top: 1px solid #ccc;
}
.ql-editor {
    min-height: 120px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background: white;
}
/* style for chat editor only */
#chatEditorCnt .ql-editor {
    min-height: 40px;
    max-height: 200px
}
#chatEditorCnt .ql-toolbar.ql-snow + .ql-container.ql-snow{
    padding-right: 70px;
}
#chatEditorCnt .ql-mention-list-container{
    top: unset!important;
    bottom: 0px !important;
    /* left: 30px!important; */
    max-height: 120px;
    height: 120px;
    overflow-y: auto;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
    fill: #7E7E7E
}
.ql-snow .ql-stroke{
    stroke: #7E7E7E
}
.ql-mention-list-container {
    width: 270px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(30,30,30,.08);
    z-index: 9001
}

.ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.ql-mention-list-item {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle
}

.ql-mention-list-item.selected {
    background-color: #d3e1eb;
    text-decoration: none
}

.mention {
    height: 24px;
    width: 65px;
    border-radius: 6px;
    background-color: #d3e1eb;
    padding: 3px 0;
    margin-right: 2px;
    user-select: all
}

.mention>span {
    margin: 0 3px
}

.ql-editor .ql-direction-rtl{
    direction: rtl;
    text-align: right;
}
.textarea-emoji-control{
    right: 44px !important;
    bottom: 8px !important;
    top: unset !important;
    width: 25px !important;
}
#chatEditorCnt .textarea-emoji-control{
    right: 74px !important;
    bottom: 8px !important;
    top: unset !important;
    width: 25px !important;
}
#chatEditorCnt .ql-snow .ql-tooltip{
    top: 0!important;
}
/* width */
#chatEditorCnt  .ql-container ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  #chatEditorCnt  .ql-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
  }
   
  /* Handle */
  #chatEditorCnt  .ql-container ::-webkit-scrollbar-thumb {
    background:rgba(126, 126, 126, 1); 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  #chatEditorCnt  .ql-container ::-webkit-scrollbar-thumb:hover {
    background: #f0f0f0; 
  }

  /* froala editor styles */

  .fr-box.fr-basic .fr-element > p{
      margin: 0;
      word-break: break-word;
  }

  .tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
   box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    max-width: 500px;
    min-width: 400px;
    overflow: auto;
    display: block;
    z-index: 999999; }
    .tribute-container ul {
      margin: 0;
      margin-top: 2px;
      padding: 0;
      list-style: none;
      background: white; 
    }
    .tribute-container li {
      padding: 12px 10px;
      cursor: pointer;
      /* border-bottom: 1px solid rgba(221, 221, 221, 1); */
      font-family: 'lato', sans-serif;
     }
      .tribute-container li.highlight, .tribute-container li:hover {
        background: rgba(235, 246, 255, 1);
      

    }
      /* .tribute-container li span {
        font-weight: bold; } */
      .tribute-container li.no-match {
        cursor: default; }
    .tribute-container .menu-highlighted {
      font-weight: bold; }
      .fr-tribute{
          background: rgba(235, 246, 255, 1);
          padding: 5px 10px;
          border-radius: 6px;
          text-decoration: underline;
          color: #333333;

      }
      .fr-tribute-user-selected-cnt{
          display: flex;
          align-items: center;
      }
      .fr-tribute-user-avatar{
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: white;
          border-radius: 50%;
          margin-right: 10px;
          
      }
      /* .fr-toolbar.fr-bottom, .second-toolbar{
          border-radius: 4px;
          border: 1px solid rgba(234, 234, 234, 1);
          border-top: none;
      } */
      .fr-toolbar.fr-top{
        /* border-radius: 4px; */
        /* border: 1px solid #CCCCCC; */
        /* border-bottom: none; */
        border: none
      }
      .fr-toolbar .fr-command.fr-btn{
        margin: 0 2px !important;
    }
    .fr-box.fr-basic .fr-wrapper{
        /* border: 1px solid rgba(234, 234, 234, 1); */
        border: none;
        border-radius: 4px;
    }
    .fr-box.fr-basic.fr-top .fr-wrapper{
        /* border-top: 1px solid #CCCCCC; */
        border: none;
        /* background: transparent; */
    }
    .fr-toolbar .fr-btn-grp{
        margin: 0;
    }
    .fr-tribute-profile-img {
        border-radius: 50%;
        margin-right: 10px;
    }
    .fr-box.fr-basic .fr-element{
        padding: 10px 7px;
        min-height: 30px;
        word-break: break-all;
    }
    .fr-wrapper.show-placeholder .fr-placeholder{
        padding: '10px 20px' !important;
        /* z-index : 2; */
        padding-Left : 7px !important;
    }
    .fr-toolbar.fr-bottom{
        border-radius: 4px;
    }
      /* .fr-toolbar.fr-bottom{
          padding-bottom: 0 !important;
      }
      @media only screen and (max-width: 1500px) {
        .fr-toolbar.fr-bottom.fr-toolbar-open .fr-newline{
            padding-top: 97px !important
          }
      } */
      /* .fr-toolbar .fr-command.fr-btn{
          margin: 0 !important;
      }
      .fr-toolbar .fr-command.fr-btn svg.fr-svg {
          width: 22px !important;
          height: 22px !important;
      } */
      .fr-popup{
          z-index: 11111 !important
      }
      .fr-box.fr-basic{
          border: 1px solid #CCCCCC;
          border-radius: 4px;
      }
      .fr-second-toolbar{
          border: none
      }
      .fr-placeholder{
          color: #7E7E7E !important;
      }
      .fr-counter{
          display: none;
      }