.pp-container {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  /* -webkit-box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 17%); */
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 17%);
  /* -webkit-transition: all 0.7s ease; */
  transition: all 0.7s ease;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.pp-heading-text {
  font-size: 11pt;
  font-family: Arial;
  color: #000000;
  background-color: transparent;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  vertical-align: baseline;
  /* white-space: pre; */
  white-space: pre-wrap;
}

.pp-heading1-div {
  line-height: 1.38;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pp-link-text {
  font-size: 11pt;
  font-family: Arial;
  color: #1155cc;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-decoration: underline;
  /* -webkit-text-decoration-skip: none; */
  text-decoration-skip-ink: none;
  vertical-align: baseline;
  /* white-space: pre; */
  white-space: pre-wrap;
}

.sign-in-btn {
  font-family: Lato-B;
  font-size: 24px;
  color: #09587e;
  background-color: #fff;
  text-align: left;
  border: none;
  padding: 0;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  z-index: 9999;
  cursor: pointer;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-sign-in:before {
  content: "\f090";
}
