<template>
  <div> 
    <!--NETRADYNE ALERT TABLE-->
    <el-table
        ref="table"
        empty-text="No Netradyne Alerts"
        :data="tableData"
        :default-sort = "{prop: 'date', order: 'descending'}"
        style="width: 100%"
        header-cell-class-name="table-header-cell"
        class="data-table"
        v-loading="loading">

        <el-table-column
          label="Date"
          sortable 
          fixed
          :sort-method="dateSort"
          class="data-table"
          prop="date"
          width="100">
          <template slot-scope="scope">
            {{ scope.row.timestamp | netradyneTimestampToDate }}
          </template>
        </el-table-column>

        <el-table-column
          label="Alert ID"
          sortable 
          fixed
          prop="alertId"
          width="110">
          <template slot-scope="scope">
            {{ scope.row.alertId | text }}
          </template>
        </el-table-column>

        <el-table-column
          align="center"
          prop="driverName"
          width="150">
          <template slot="header">
            <div>Driver Name</div>
            <div class="text-brand">Driver ID</div>
          </template>
          <template slot-scope="scope">
            <div>{{ scope.row.driverName | text}}</div>
            <div class="text-brand truncate">{{ scope.row.driverId | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          align="center"
          prop="alertType">
          <template slot="header">
            <div>Alert Type</div>
            <div class="text-brand">Alert Severity</div>
          </template>
          <template slot-scope="scope">
            
            <div>{{ scope.row.alertType | text}}</div>
            <div class="text-brand">{{ scope.row.alertSeverity | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          align="center"
          prop="timestamp">
          <template slot="header">
            <div>Time</div>
            <div class="text-brand">Duration</div>
          </template>
          <template slot-scope="scope">
            <div>{{ scope.row.timestamp | timeAMPM }}</div>
            <div class="text-brand">{{ scope.row.duration | text}}</div>
          </template>
        </el-table-column>

        <el-table-column
          align="center"
          prop="description"
          width="300">
          <template slot="header">
            <div>Description</div>
            <div class="text-brand">Alert Video Status</div>
          </template>
          <template slot-scope="scope">
            <div>{{ scope.row.description | text}}</div>
            <div class="text-brand">{{ scope.row.alertVideoStatus | text}}</div>
          </template>
        </el-table-column>

        <el-table-column align="right" width="55">
          <template slot-scope="scope">
            <el-dropdown v-if="!scope.row.children" class="mt-1" @command="handleCommand">
              <i class="context-menu uil uil-ellipsis-h"></i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{action: 'viewStart', row: scope.row}">View Start LatLong</el-dropdown-item>
                <el-dropdown-item :command="{action: 'viewEnd', row: scope.row}">View End LatLong</el-dropdown-item>
                <el-dropdown-item divided :command="{action: 'deleteAlert', row: scope.row}">Delete Alert</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
    </el-table>

    <div class="w-full mt-2 text-center">
        <el-button v-if="showLoadMoreButton" class="rounded" @click="loadMoreAlerts">Load More</el-button>
    </div>

    
    <p v-if="showLoadMoreButton" class="mt-4">Showing {{ tableData.length || 0 }} Netradyne Alerts</p>  
    <p v-else class="mt-4">{{ tableData.length || 0 }} Total Netradyne Alerts</p>  

  </div>

</template>

<script>
    import { staffNetradyneAlertsByStaff } from '@/views/Staff/queries'
    import { getStaffNetradyneAlertUpdatedTimestamp } from '@/utilities/timestampQueries'
    import { deleteStaffNetradyneAlert } from '@/graphql/mutations'

    export default {
        name: 'StaffNetradyneAlertData',
        props: ['staffId'],
        data() {
            return{
                tableData: [],
                loading: false,
                nextToken: null,
                tokenArray: [],
            }
        },

        mounted(){
            this.loadData(true)
        },

        computed: {
            showLoadMoreButton(){
                if(this.nextToken && !this.tokenArray.includes(this.nextToken)){
                    return true
                }
                else{
                    return false
                }
            }
        },

        methods: {
            /**
             * Sorts that table by the timestamp
             */
            dateSort(a,b){
                return new Date(a.timestamp) - new Date(b.timestamp);
            },

            /**
             * Handles action of dropdown
             */
            handleCommand(payload){
              const row = payload.row
              switch (payload.action) {
                case "viewStart":
                  this.viewLatLong(row.startLatLong)
                  break;
                case "viewEnd":
                  this.viewLatLong(row.endLatLong)
                  break;
                case "deleteAlert":
                  this.confirmDeleteAlert(row)
                  break;
              }
            },

            /**
             * Loads in Netradyne Alert Data
             */
            async loadData(initialLoad){
                try{
                  if(!this.$store.getters.hasPerformanceCoaching){
                    this.loadFakeData()
                    return
                  }
                    this.loading = true;

                    //First load of query results
                    if(initialLoad){
                        await this.loadNetradyneAlerts(null, true)
                    }
                    else{
                        await this.loadNetradyneAlerts(null, false)
                    }

                    //Loop through and add more to tableData if the array length is greater than 0
                    //array can get set as null so both conditions exist for this reason
                    if(this.tokenArray && this.tokenArray.length > 0){
                        for(var token of this.tokenArray){
                            await this.loadNetradyneAlerts(token, false)
                        }
                    }

                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
                finally{
                    this.loading = false
                }
            },

            loadFakeData(){
              var currentDate = this.$moment().format('YYYY-MM-DD')
              this.tableData = [
                {
                  alertId: '0',
                  alertSeverity: "Severe",
                  alertType: "Sign Violations",
                  alertVideoStatus: "Available",
                  description: "No Stop",
                  driverId: "0123",
                  duration: "-1",
                  endLatLong: "0,0",
                  id: "0",
                  startLatLong: "0,0",
                  timestamp: `${currentDate} 14:30:00`,
                  driverName: "Aaron Gonzalez"
                },
                {
                  alertId: '1',
                  alertSeverity: "Moderate",
                  alertType: "Sign Violations",
                  alertVideoStatus: "Available For Request",
                  description: "Rolling Stop",
                  driverId: "0123",
                  duration: "-1",
                  endLatLong: "0,0",
                  id: "2",
                  startLatLong: "0,0",
                  timestamp: `${currentDate} 14:30:00`,
                  driverName: "Aaron Gonzalez"
                },
                {
                    alertId: '4',
                    alertSeverity: "Severe",
                    alertType: "Hard Turn",
                    alertVideoStatus: "Available",
                    description: "Turned too hard, package damaged",
                    driverId: "0123",
                    duration: "5",
                    endLatLong: "0,0",
                    id: "4",
                    startLatLong: "0,0",
                    timestamp: `${currentDate} 14:30:00`,
                    driverName: "Aaron Gonzalez"
                  },
              ]
            },

            /**
             * runs the loadNetradyne Alert function with the current next token
             */
            async loadMoreAlerts(){
                try{
                    this.loading = true
                    await this.loadNetradyneAlerts(this.nextToken, true)
                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
                finally{
                    this.loading = false
                }
            },

            /**
             * Loads in more data to tableData object, adds token to query input if given one.
             */
            async loadNetradyneAlerts(nextToken, addTokenToArray){
                try{
                    var input = {
                        staffId: this.staffId, 
                        sortDirection: "DESC",
                        limit: 5
                    }
                    if(nextToken){
                        input.nextToken = nextToken
                    }

                    var result = await this.api(staffNetradyneAlertsByStaff, input)
                    var alerts = result.data.staffNetradyneAlertsByStaff.items

                    if(addTokenToArray && nextToken){
                        this.tokenArray.push(nextToken)
                    }

                    if(addTokenToArray && result.data.staffNetradyneAlertsByStaff.nextToken){
                        this.nextToken = result.data.staffNetradyneAlertsByStaff.nextToken
                    }

                    if(alerts.length > 0){
                        var oldArray = [...this.tableData]
                        var newArray = oldArray.concat(alerts)
                        this.tableData = [...newArray]
                    }
                }
                catch(e){
                    throw e
                }
            },

            /**
             * Opens Google Maps in another tab with the coordinates given
             */
            viewLatLong(latLong){
                //EXAMPLE: https://www.google.com/maps/search/?api=1&query=47.5951518,-122.3316393
                var url = `https://www.google.com/maps/search/?api=1&query=${latLong}`
                window.open(url, "_blank")
            },

            confirmDeleteAlert(alert){
                this.$confirm('This will permanently delete this alert. Continue?', 'Warning', {
                        confirmButtonText: 'Delete',
                        cancelButtonText: 'Cancel',
                        type: 'warning'
                    }).then(() => {
                        this.deleteAlert(alert)
                    }).catch(() => {
                        console.log("canceled delete")         
                });
            },

            async deleteAlert(alert){
                try{
                    const id = alert.id
                    // check timestamp
                    var timestampResult = await this.api(getStaffNetradyneAlertUpdatedTimestamp, {id})
                    if(!timestampResult.data.getStaffNetradyneAlert){
                        throw "Alert is missing or deleted by another user."
                    }
                    var timestamp = timestampResult.data.getStaffNetradyneAlert.updatedAt
                    if(alert.updatedAt != timestamp){
                        throw "Record was updated by another user. Please copy any changes and refresh the page."
                    }
                    await this.api(deleteStaffNetradyneAlert, {input:{id}})
                    this.tableData = []
                    await this.loadData(true)
                }
                catch(e){
                    console.log(e)
                    this.displayUserError(e)
                }
            },

        }
    }
</script>
