<template>
  <div> 
    <!--NETRADYNE ALERT TABLE-->
    <el-table
        ref="table"
        empty-text="No Netradyne Alerts"
        :data="tableData"
        @row-click="performAction"
        row-class-name="cursor-pointer"
        style="width: 100%"
        size="small">

        <el-table-column
          :label="$t('label.associate')"
          fixed
          prop="staff"
          width="120">
          <template slot="header">
            <div class="text-gray-700 uppercase">{{$t('label.associate')}}</div>
          </template>
          <template slot-scope="scope">
            <span v-if="scope.row.staff" class="text-xs truncate">{{ scope.row.staff.firstName | text }} {{ scope.row.staff.lastName | text }}</span>
          </template>
        </el-table-column>

        <el-table-column
          fixed
          prop="total">
          <template slot="header">
            <div class="text-gray-700 uppercase">Total</div>
          </template>
          <template slot-scope="scope">
            <span class="text-xs truncate">{{ scope.row.total }}</span>
          </template>
        </el-table-column>

        <el-table-column
          fixed
          prop="severe">
          <template slot="header">
            <div class="text-gray-700 uppercase">Severe</div>
          </template>
          <template slot-scope="scope">
            <span class="text-xs truncate">{{ scope.row.severe }}</span>
          </template>
        </el-table-column>
        <el-table-column

          label="Moderate"
          fixed
          prop="moderate">
          <template slot="header">
            <div class="text-gray-700 uppercase">Moderate</div>
          </template>
          <template slot-scope="scope">
            <span class="text-xs truncate">{{ scope.row.moderate }}</span>
          </template>
        </el-table-column>
    </el-table>



  </div>

</template>

<script>
    export default {
        name: 'NetradyneAlertDataDashboard',
        props: ['tableData'],
        data() {
            return{

            }
        },

        methods: {
          performAction(row){
            this.$router.push({name: 'StaffDetail', params:{id: row.staff.id, fromNetradyneDashboard: true}})
          }
        }
    }
</script>
<style scoped>


</style>
