
.tableScroll .scrollbar-container{
    width: 6px !important;
    background-color: #DFDFDF !important;
    border-radius: 10px;
    opacity: 1;

}

.tableScroll .scrollarea:hover .scrollbar-container:hover{
    opacity: 1;
}

.tableScroll .scrollbar {
    background-color: #444b59 !important;
    border-radius: 10px;
    opacity: 1;

    margin-left:unset !important;
    width:6px !important;
}

.tableScroll .scrollarea:hover .scrollbar:hover{
    opacity: 1;
}

.waitingScroll .scrollbar-container {
    width: 6px !important;
    background-color:#313640 !important;
    border-radius: 10px;
    opacity: 1;

}

.waitingScroll .scrollarea:hover .scrollbar-container:hover{
    opacity: 1;
}
.waitingScroll .scrollbar{
    background-color: #DFDFDF !important;
    border-radius: 10px;
    opacity: 1;
    width:6px!important;
    margin-left:unset !important;
}

.waitingScroll .scrollarea:hover , .scrollbar:hover{
    opacity: 1;
}

.scrollarea .scrollbar-container.active, .scrollarea .scrollbar-container:hover{
    opacity: 1 !important;
}

.scrollarea:hover .scrollbar-container{
    opacity: 1 !important;
}
