
.image {
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.6;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.user {
    color: white;
    letter-spacing: 1px;
    font-family: Helvetica Neue, sans-serif;
    cursor: pointer;
    font-size: 12px;
    width: 100px;
}

.time {

    font-family: Helvetica Neue, sans-serif;
    font-size: 12px;
    color:white;
}

.btn {
    background-color: white;
    border-radius: 40px;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    height: 37%;
    letter-spacing: 1px;
    text-decoration: none;
    display: table !important;
    margin: 0px auto !important;
    width: 90% !important;
}

.btn span {
    align-items: center;
    background: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background .5s ease;
    width: 100%;
}

.WaitingList-hall p{
    color:aliceblue;
}

.WaitingList p {
    color: burlywood;
}

.WaitingList-active,.WaitingList-hall:hover,.WaitingList:hover {
    filter: invert(34%) sepia(74%) saturate(4250%) hue-rotate(100deg) brightness(99%) contrast(85%);
}

.waitListItems-active, .waitListItems:hover {
    transition: 1s;
    transform: scale(1.05);
}

.btn:hover {
    color: black;
    transition: 1s;
    transform: scale(1.05);
}


.outHall::before {
    content: "•";
    color: burlywood;
    margin-right:0.2rem;
}

.inHall::before {
    content: "•";
    color: aliceblue;
    width: 1em;
    margin-right:0.2rem
}
