<template>
  <div>
    <TableCard>
      <template v-slot:table-filters>
        <ContainerFilter inTable>
          <template v-slot:title>
            MESSAGE LOGS
          </template>
          <template v-slot:filter-count>
            <counter-filter :counter="getResumeFilters" />
          </template>
          <template v-slot:filters>                 
            <MultiSelectFilter
              type="status"
              :title="`${$t('label.associate')} Status`"
              :filterAllTitle="`${$t('label.associate')} Statuses`"
              :options="optionsStatus"
              :selected="filterOptionsStatus"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="sent"
              title="Sent From"
              :options="sentFromOptions"
              :selected="sentFromOptionsSelected"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="text"
              title="Text Status"
              :options="textStatus"
              :selected="textStatusSelected"
              @update-filters="updateFilters"
            />
            <MultiSelectFilter
              type="email"
              title="Email Status"
              :options="emailStatus"
              :selected="emailStatusSelected"
              @update-filters="updateFilters"
            />
            <SingleSelectFilter
              title="Date Sent"
              :options="datesOptions"
              :currentFilter="dateSelected"
              @update-options="updateOptions"
            />
          </template>
        </ContainerFilter>
      </template>
      <template v-slot:table-searchbox>
        <SearchBox inTable @search-data="handleSearchLogs" />
      </template>
      <CustomTable
        inTable
        ref="tableLogs"
        :columns="columns"
        :data="filteredData"
        v-loading="loading"
        :optionsRows="[]"
        :total-records="totalRecords"
        empty-text="No Messages Logs"
        footer-table=""
      >
        <template #channelType="row">
          <span class="table-icon-status-message">
            <i class="uil uil-comment-alt-download" v-if="row.channelType === 'RESPONSE'"></i>
            <i class="uil uil-comment-alt-upload" v-else></i>
          </span>
        </template>
        <template #createdAt="row">
          <p class="text-black">{{date_timezone(row.createdAt,'M/D/YYYY')}}</p>
          <p class="text-gray-600 text-xs">{{date_timezone(row.createdAt,'h:mm A')}}</p>
        </template>
        <template #staff="row">
          <p class="text-black" v-if="row.staff">{{row.staff.firstName}} {{row.staff.lastName }}</p>
          <p class="text-gray-600 text-xs">{{row.destinationEmail }}</p>
          <p class="text-gray-600 text-xs" v-if="row.destinationNumber">{{row.destinationNumber}}</p>
          <p class="text-gray-600 text-xs" v-else>Not sent to SMS</p>
        </template>
        <template #subject="row">
          <el-tooltip popper-class="custom-tooltip-higher-z-index" class="item" effect="dark" placement="top-start">
            <div slot="content" class="custom-tooltip-content-overflow">
              <div v-if="row.subject" class="mb-4">{{row.subject}}</div>
              <MessageWithEmojie :bodyText="previewText(row)" />
            </div>
            <div>
              <p class="text-black width-480-px truncate">{{row.subject}}</p>
              <MessageWithEmojie :bodyText="previewText(row)" class="text-gray-600 text-xs width-480-px truncate" />
              <button 
                @click="previewDialog(row)"
                class="text-brand text-xs underline">
                View {{ previewTitle(row) }}
              </button>
            </div>
          </el-tooltip>
        </template>
        <template #smsStatus="row">
          <el-tooltip popper-class="max-w-xs custom-tooltip-higher-z-index" :content="row.smsSendInformation" placement="bottom" v-if="row.channelType != 'RESPONSE'">
            <el-tag
              :type="getTagClass(row.smsStatus)"
              disable-transitions>{{row.smsStatus}}</el-tag>
          </el-tooltip>
          <el-tooltip
          :content="'Due to cell phone carrier limitations, this message was split into '+ row.totalParts +' parts before being delivered via SMS.'" popper-class="custom-tooltip-higher-z-index">
            <i v-if="row.totalParts" class="uil text-xl uil-info-circle"></i>
          </el-tooltip>
        </template>
        <template #emailStatus="row">
          <el-tooltip 
            v-if="row.channelType != 'RESPONSE'"
            popper-class="custom-tooltip-higher-z-index" 
            :content="row.messageType == 'messenger' ? 'Sent SMS through Hera messenger' : row.emailSendInformation" 
            placement="bottom" 
          >
            <el-tag
              :type="getTagClass(row.emailStatus)"
              disable-transitions>{{row.emailStatus}}
            </el-tag>
          </el-tooltip>
        </template>
      </CustomTable>
    </TableCard>
    <div class="w-full text-center py-2">
      <el-button round @click="loadData" v-if="nextToken">Load More</el-button>
    </div>
    <el-dialog     
      :visible.sync="htmlPreviewOpen"
      :title="dialogTitle"
      :close-on-click-modal="false"
      class="previewDialog"
      >
      <div v-if="htmlMessage.bodyHtml" v-html="htmlMessage.bodyHtml"></div>
      <div v-else-if="htmlMessage.attachment" class="flex justify-start">
        <img v-if="htmlMessage.isImage" :src="htmlMessage.url" :alt="htmlMessage.fileName" class="w-48"/>
        <a
          v-else :href="tempLink(htmlMessage.attachment.id)" target="_blank"
          class="mt-2 px-4 py-2 whitespace-pre-wrap rounded-lg inline-block text-center rounded-br-none bg-blue-600 text-white"
        >
            <i class="text-6xl uil uil-file-alt"></i>
            <div class="underline">{{htmlMessage.fileName}}</div>
        </a>
        <el-dropdown @command=handleDropdownCommand class="my-auto ml-3">
            <i class="context-menu uil uil-ellipsis-h"></i>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{ action: 'download', htmlMessage }">Download</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
      </div>
      <MessageWithEmojie 
        v-if="htmlMessage.bodyText && !htmlMessage.bodyHtml"
        :bodyText="htmlMessage.bodyText"
      />
    </el-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { messagesByGroup } from './queries'
import { Auth, Storage } from 'aws-amplify'
import { joinMessages } from '@/utilities/joinMessages'
import MessageWithEmojie from '@/components/shared/Messenger/MessageWithEmojie'
import TableCard from "@/components/TableCard/TableCard";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import SingleSelectFilter from "@/components/SingleSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import CustomTable from "@/components/TableCard/CustomTable";
import momentTz from 'moment-timezone'
import { isInRange, calculateRange } from '@/utilities/dateRangeCalculator';

const MESSAGE_TYPE = {
  'coaching': 'Automated Coaching',
  'broadcast': 'Associate List',
  'roster': 'Roster Details',
  'standUpAnnouncements': 'Roster Announcement',
  'messenger': 'Hera Messenger'
}

export default {
  name: 'Messages',
  props: ['group'],
  components: { 
    MessageWithEmojie, 
    TableCard, 
    ContainerFilter, 
    SearchBox, 
    MultiSelectFilter, 
    SingleSelectFilter, 
    CounterFilter, 
    CustomTable 
  },
  data() {
    return {
      messages: [],
      nextToken: null,
      htmlPreviewOpen: false,
      htmlMessage: {},
      searchLogs: '',
      dialogTitle: null,
      loading: false,
      columns: [
        { name: undefined, col: "channelType", fixed: false, width: "50", sortable: false, },
        { name: "Sent", col: "createdAt", fixed: false, width: "100", sortable: true, sortMethod: undefined },
        { name: `${this.$t('label.associate')}`, col: "staff", fixed: false, width: "150", sortable: false, },
        { name: "Message", col: "subject", fixed: false, width: "450", sortable: false, },
        { name: "Text Status", col: "smsStatus", fixed: false, width: "130", sortable: false, },
        { name: "Email Status", col: "emailStatus", fixed: false, width: "130", sortable: false, },
      ],
      optionsStatus: [
        "Active",
        "Inactive - Failed Onboarding",
        "Inactive - Medical Leave",
        "Inactive - Misc",
        "Inactive - Personal Time/Vacation",
        "Inactive - Terminated",
        "Onboarding"
      ],
      filterOptionsStatus: [
        "Active",
        "Inactive - Failed Onboarding",
        "Inactive - Medical Leave",
        "Inactive - Misc",
        "Inactive - Personal Time/Vacation",
        "Inactive - Terminated",
        "Onboarding"
      ],
      sentFromOptions: ['Automated Coaching', 'Associate List', 'Roster Details', 'Roster Announcement', 'Hera Messenger'],
      sentFromOptionsSelected: ['Automated Coaching', 'Associate List', 'Roster Details', 'Roster Announcement', 'Hera Messenger'],
      textStatus: ['Success', 'Pending', 'Not Sent', 'Error', 'Other'],
      textStatusSelected: ['Success', 'Pending', 'Not Sent', 'Error', 'Other'],
      emailStatus: ['Success', 'Pending', 'Not Sent', 'Error', 'Other'],
      emailStatusSelected: ['Success', 'Pending', 'Not Sent', 'Error', 'Other'],
      datesOptions: [
        { value: "all dates", label: "All Dates", selected: false },
        { value: "current week", label: "Current Week", selected: false },
        { value: "last week", label: "Last Week", selected: false },
        { value: "last 2 weeks", label: "Last 2 Weeks", selected: false },
        { value: "last 3 weeks", label: "Last 3 Weeks", selected: false },
        { value: "previous month", label: "Previous Month", selected: false },
        { value: "last 30 days", label: "Last 30 Days", selected: true },
        { value: "last 60 days", label: "Last 60 Days", selected: false },
        { value: "last 90 days", label: "Last 90 Days", selected: false },
        { value: "current year", label: "Current Year", selected: false },
        { value: "last year", label: "Last Year", selected: false },
      ],
      dateSelected: "last 30 days",
      totalRecords: 0,
      temporaryMessageLogList: [],
    }
  },

  mounted(){
    this.loadData()
  },

  computed:{
    ...mapState(['userInfo']),

    filteredData() {
      return this.filterArray(this.messages, this.searchLogs);
    },

    getResumeFilters(){
      const countStatus = this.optionsStatus.length === this.filterOptionsStatus.length ? 0 : 1;
      const countSentFrom = this.sentFromOptions.length === this.sentFromOptionsSelected.length ? 0 : 1;
      const countTextStatus = this.textStatus.length === this.textStatusSelected.length ? 0 : 1;
      const countEmailStatus = this.emailStatus.length === this.emailStatusSelected.length ? 0 : 1;
      const countDateSent = this.dateSelected === "all dates" ? 0 : 1;
      return countStatus + countSentFrom + countTextStatus + countEmailStatus + countDateSent;
    },
  },

  methods: {
    date_timezone(date,format){
      if (!date) return '—'
      return momentTz.tz(date, this.getTenantTimeZone()).format(format)
    },
    previewText(row){
      let attachedText = null
      if(row.attachment){      
        if(row.isImage === undefined){
          row.isImage = row.attachment.contentType && row.attachment.contentType?.includes("image") ? true : false
        }
        attachedText = row.isImage ? "[Image] " : "[File] "
      }
      return (attachedText || '') + (row.bodyText || '')
    },

    previewTitle(row){
      if(row.bodyHtml){
        return 'HTML Message'
      }
      else if(row.attachment && !row.bodyText){
        return row.isImage ? 'Attached Image' : 'Attached File'
      }else{
        return 'Message'
      }
    },

    /** 
     * Load device data
     * */
    async loadData(){
      try{
        this.loading = true;
        let group = this.group ? this.group : this.$store.state.userInfo.tenant.group
        let input = {
          nextToken: this.nextToken,
          sortDirection: 'DESC',
          group: group
        }
        let results = await this.api(messagesByGroup, input)
        this.nextToken = results.data.messagesByGroup.nextToken
        results = this.messages.concat(results.data.messagesByGroup.items)   
        const messagesList = joinMessages(results, true).sort((a,b) => new Date(b.createdAt) - new Date(a.createdAt))
        this.totalRecords = messagesList.length;
        let messagesFiltered = [];
        messagesFiltered = this.filterMessages( messagesList, this.filterByAssociateStatus );
        messagesFiltered = this.filterMessages( messagesFiltered, this.filterBySentFrom );
        messagesFiltered = this.filterMessages( messagesFiltered, this.filterByTextStatus );
        messagesFiltered = this.filterMessages( messagesFiltered, this.filterByEmailStatus );
        messagesFiltered = this.dateSelected === "all dates" ? messagesFiltered : this.filterByDateSent( messagesFiltered, this.dateSelected );
        this.temporaryMessageLogList = [ ...messagesFiltered ];
        this.messages = [ ...this.temporaryMessageLogList ];
        
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      } finally {
        this.loading = false;
      }
    },

    /**
     * Determines the correct tag color based on the message status
     */
    getTagClass(status){
      let className = null
      if(status == "Success"){
        className = 'success'
      }
      else if(status == 'Error'){
        className = 'danger'
      }
      return className
    },

    async checkAuth(){
      return await Auth.currentAuthenticatedUser().catch(error => {
          if(error === "not authenticated" || error === "No current user"){
            this.$router.push({
              path: '/',
              query: { redirect: window.location.pathname }
            })
            return {authError: true}
          }
      })
    },

    /**
     * Preview the HTML email sent out
     * @param {object} row - The message row
     */
    async previewDialog(row){
      const auth = await this.checkAuth()
      if(auth.authError){
        return
      }
      if(row.attachment && !row.url){
        await this.getFile(row)
      }
      this.htmlMessage = row
      this.dialogTitle = this.previewTitle(row) + ' Preview'
      this.htmlPreviewOpen = true
    },

    tempLink(id){
      return window.location.origin + '/f/' + id
    },

    async handleDropdownCommand({action, htmlMessage}){
      switch(action){
        case 'download':
          if(htmlMessage?.url){
            const a = document.createElement("a")
            a.href = this.tempLink(htmlMessage.attachment.id)
            a.target = '_blank'
            a.click()
            a.remove()
          }
          break
      }
    },

    async getFile(message){
      //Make S3 Link
      var fileUrl = await Storage.get(message.attachment.s3Key)
      message.fileName = message.attachment.s3Key.substr( message.attachment.s3Key.lastIndexOf('/') + 1)
      message.url = fileUrl
    },

    async handleSearchLogs(word) {
      this.searchLogs = word
    },
    
    updateFilters(e) {
      const { filters, type } = e;
      if ( type === 'status' ) {
        this.filterOptionsStatus = filters;
      } else if ( type === 'sent' ) {
        this.sentFromOptionsSelected = filters;
      } else if ( type === 'text' ) {
        this.textStatusSelected = filters;
      } else {
        this.emailStatusSelected = filters;
      }
      this.clientSideFilterListMessageLogs( this.temporaryMessageLogList );
    },

    updateOptions(e) {
      this.datesOptions = e.options;
      this.dateSelected = e.currentFilter;
      this.clientSideFilterListMessageLogs( this.temporaryMessageLogList );
    },

    filterMessages( messagesList, filterFunction ) {
      return messagesList.filter( filterFunction );
    },

    filterByAssociateStatus( message ) {
      const { staff } = message;
      return staff?.status ? this.filterOptionsStatus.includes( staff.status ) : false;
    },

    filterBySentFrom( message ) {
      const { messageTypeMapped } = message;
      return this.sentFromOptionsSelected.includes( messageTypeMapped );
    },

    filterByTextStatus( message ) {
      const { smsStatus } = message;
      return this.textStatusSelected.includes( smsStatus );
    },

    filterByEmailStatus( message ) {
      const { emailStatus } = message;
      return this.emailStatusSelected.includes( emailStatus );
    },

    filterByDateSent(data, filterDate){
      const dataClone = [ ...data ];
      if( filterDate == 'all dates' ) return dataClone;
      const [ dateStart, dateEnd ] = calculateRange( filterDate );
      let dataFiltered = [];
      dataFiltered = dataClone.filter(message => {
        const { createdAt } = message;
        if(!createdAt) return false;
        return isInRange(dateStart, dateEnd, createdAt)
      })
      return dataFiltered;
    },

    // filters only client side
    filterMessagesByAssociateStatus( messageList ) {
      return messageList.filter( message => this.filterByAssociateStatus( message ) );
    },

    filterMessagesByEmailStatus( messageList ) {
      return messageList.filter( message => this.filterByEmailStatus( message ) );
    },

    filterMessagesByTextStatus( messageList ) {
      return messageList.filter( message => this.filterByTextStatus( message ) );
    },

    filterMessagesBySentFrom( messageList ) {
      return messageList.filter( message => this.filterBySentFrom( message ) );
    },

    filterMessagesByDateSent( messageList ) {
      return this.filterByDateSent( messageList, this.dateSelected ) 
    },

    clientSideFilterListMessageLogs( list ) {
      let messagesFiltered = this.filterMessagesByAssociateStatus( list );
      messagesFiltered = this.filterMessagesBySentFrom( messagesFiltered );
      messagesFiltered = this.filterMessagesByTextStatus( messagesFiltered );
      messagesFiltered = this.filterMessagesByEmailStatus( messagesFiltered );
      messagesFiltered = this.filterMessagesByDateSent( messagesFiltered );
      this.messages = [ ...messagesFiltered ];
    }

  },
}
</script>
<style scoped>

.width-480-px{
  width: 480px !important;
}
.table-icon-status-message {
  font-size: 1.4em;
}
</style>

<style>
.cell {
  -webkit-line-clamp: unset !important;
}
.previewDialog .el-dialog{
  min-width: 27ch !important;
  width: fit-content !important;
  max-width: 100ch;
}
</style>