table .fixHead {
    width: 100%;
    border-spacing: 0;
}


.fixHead thead, tbody, tr, th, td { display: block; }

.fixHead tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}


.fixHead tbody td, thead th {
    float: left;
}


.fixHead th{
    border-top: unset;
    padding-left: 5% ;
}

.fixHead td{
    padding-left: 5% ;
}

.fixHead td>a{
    cursor:pointer;
    text-decoration:underline !important;
    color:#C1C1C1 !important;
}


/*************** Border Table Styling *************/

.borderTable th{
    letter-spacing: 0.5px;

    border: 1px solid #F3F3F3 !important;
}
.borderTable td{
    border: unset;
    border-left:1px solid #F3F3F3 !important;
}

.borderTable{
    border: 1px solid #F3F3F3;
}
