<template>
    <div>
        <div v-for="status in statusHistory" :key="status.id" class="custom-word-break">
            <span>{{ formatDate(status.date) }}:</span>
            <span class="container-status" :class="setClassStatus(status.previousStatus)">{{ status.previousStatus }}</span>
            <span>{{ '>' }}</span>
            <span class="container-status" :class="setClassStatus(status.currentStatus)">{{ status.currentStatus }}</span>
            <span v-if="status.reason">({{ status.reason }})</span>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import moment from 'moment-timezone';

export default {
    name: 'StatusHistory',
    props: {
        statusHistory: {
            type: Array,
            required: false,
            default: () => ([])
        }
    },

    computed: {
        ...mapState(['userInfo']),
    },

    methods: {
        formatDate(date) {
            const timeZone = this.userInfo.tenant.timeZone
            let dateNow = moment(date).tz(timeZone).format('MM/DD/YYYY hh:mm A')
            //The records prior to the date '2023-03-23' only have the date.
            let dateLimit = moment("2023-03-23").tz(timeZone).format('MM/DD/YYYY hh:mm A')
            return (dateNow > dateLimit) ? dateNow : moment(date).tz(timeZone).format('MM/DD/YYYY');
        },

        setClassStatus(status) {
            return {
                'text-red-600 bg-red-500' : status.toLowerCase().includes('inactive'), 
                'text-purple-600 bg-purple-500' : status.toLowerCase().includes('onboarding'), 
                'text-green-600 bg-green-500' : status.toLowerCase() == 'active'
            }
        },
    }
}
</script>
<style scoped>
.container-status {
    @apply font-bold rounded-full bg-opacity-10 px-3 text-xs max-w-full flex-initial;
}

.custom-word-break {
    word-break: keep-all !important;
    overflow-wrap: break-word !important;
}

</style>