<template>
    <div class="download-link-page h-full">
        <div v-if="errorMessage" class="text-center">
            <h2 class="pb-5">{{errorMessage}}</h2>
            <a v-if="!isSystemAdmin()" class='text-white text-3xl bg-brand px-3 py-2 w-full rounded-lg shadow cursor-pointer' id="link" download @click="redirectToLogin">Login as a different user</a>
        </div>
        <div v-else class="text-center">
            <h1 v-if="loading" class="pb-5">Loading...</h1>
            <template v-else-if="file">
                <h1 class="pb-5 file-name">{{file.fileName}}</h1>
                <a class='text-white text-3xl bg-brand px-3 py-2 w-full rounded-lg shadow' id="link" :href="file.URL" download>Download</a>
            </template>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { generateToken, getFileByToken } from '@/utilities/s3linkHelper'
export default {
    data(){
        return{
            loading: true,
            errorMessage: null,
            file: null
        }
    },
    mounted(){
        this.loadData()
    },
    methods:{
        ...mapGetters(['isSystemAdmin']),
        async loadData(){
            this.loading = true
            if(!this.isSystemAdmin()){
                this.errorMessage = "You Don't Have Access To This Area."
                return
            }
            const token = this.$route.params.token
            if(!token){
                this.errorMessage = "Failed to find token."
                return
            }
            try {
                this.file = await getFileByToken(token)
            } catch (error) {
                const message = error.errors[0].message
                this.errorMessage = message
                console.log({error})
            }
            this.loading = false
        },
        redirectToLogin(){
            this.$router.push({
                path: '/',
                query: { redirect: window.location.pathname, error: "You Don't Have Access To This Area" }
            })
        }
    }
}
</script>
<style scoped lang="scss">
.download-link-page {
    .file-name{
        overflow-wrap: break-word;
    }
}
</style>