<template>
    <div v-loading="loading" data-cy="tasks-and-reports">
        <!--Header-->
        <div class="sm-wrap flex justify-between items-center h-8">
            <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
                <el-breadcrumb-item class="align-middle"><i class="uil uil-file-alt"></i>Tasks & Reports</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div v-if="hasTasksReports">
            <!-- TASKS -->
            <div>
                <div class="flex justify-between my-4">
                    <h1>Task Dashboard</h1>
                    <div>
                        <el-button data-cy="add-task" size="small" class="w-32" type="primary" @click="addTask()">Add Task</el-button> 
                    </div>
                </div>
                <div class="grid grid-cols-12 grid-flow-row gap-4">
                    <TaskSummaryCard class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" :assignedToMeTasks=true  :assignedByMeTasks=false :otherTasks=false title="Tasks Assigned To Me"/>
                    <TaskSummaryCard class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" :assignedToMeTasks=false  :assignedByMeTasks=true :otherTasks=false title="Tasks Assigned By Me"/>
                    <TaskSummaryCard class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" :assignedToMeTasks=false  :assignedByMeTasks=false :otherTasks=true title="Other Tasks"/>
                </div>
            </div>
    
            <!-- REPORTS -->
            <div class="relative my-4" data-cy="reports">
                <h1>Reports</h1>
                <div class="my-4">
                    <el-input
                    v-model="filter"
                    size="small"
                    prefix-icon="uil uil-search"
                    clearable
                    placeholder="Filter reports by name or description..."/>
                </div>
                <div>
                    <p class="mb-2 italic text-sm text-gray-600">We will be releasing new reports regularly. <span class="link cursor-pointer"><a href="https://www.herasolutions.app/submit-an-idea" rel="noreferrer noopener" target="_blank">Please click here to give us your report requests.</a></span></p>
                </div>
                <div v-if="hasPerformanceCoachingManagement">
                    <ReportCard data-cy="performance-coaching"
                        v-show="vShowPerformanceCoachingManagementReports()"
                        @go-to-report="goToReport"
                        @perform-action="performReportAction"
                        title="Performance & Coaching" 
                        :reports="performanceCoachingManagementReports()"/>
                </div>
                <div v-if="hasDailyRosteringManagement">
                    <ReportCard
                        v-show="dailyRosteringReports.length != 0"
                        @go-to-report="goToReport"
                        @perform-action="performReportAction"
                        title="Daily Rostering" 
                        :reports="dailyRosteringReports"/>
                </div>
                <div v-if="hasDAManagement">
                    <ReportCard data-cy="da-management"
                        v-show="daManagementReports.length != 0"
                        @go-to-report="goToReport"
                        @perform-action="performReportAction"
                        :title="`${$t('label.associate')} Management`" 
                        :reports="daManagementReports"/>
                </div>
                <div v-if="hasVehicleManagementPermission">
                    <ReportCard data-cy="vehicle-management"
                        v-show="vehicleManagementReports.length != 0"
                        @go-to-report="goToReport"
                        @perform-action="performReportAction"
                        title="Vehicle Management" 
                        :reports="vehicleManagementReports"/>
                </div>
                <ReportCard 
                    v-show="userManagementReports.length != 0"
                    @go-to-report="goToReport"
                    @perform-action="performReportAction" 
                    title="User Management" 
                    :reports="userManagementReports"/>
                <ReportCard 
                    v-show="scorecardPerformanceDataReports.length != 0"
                    @go-to-report="goToReport"
                    @perform-action="performReportAction" 
                    title="Scorecard Performance Data" 
                    :reports="scorecardPerformanceDataReports"/>
    
                <div class="my-4">
                    <p v-if="!filter"> {{ reportCount }} Total Reports</p>
                    <p v-else> Showing {{ filterCount }} of {{ reportCount }} Total Reports</p>
                </div>
            </div>
        </div>

        <div class="flex justify-between card" v-if="!hasTasksReports">
            <h4 class="mb-3 mt-2 text-sm bold">Please contact your administrator if you need access to Tasks & Reports in Hera.</h4>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex"
import TaskSummaryCard from './components/TaskSummaryCard.vue'
import ReportCard from './components/ReportCard.vue'
import { reportsArr } from './reports'

export default {
    components: {
        TaskSummaryCard,
        ReportCard
    },
    name: "ReportsIndex",
    data(){
        return{
            loading: false,
            filter: ""
        }
    },
    computed: {
        ...mapGetters(['hasTasksReports', 'hasPerformanceCoachingManagement', 'hasDAManagement', 'hasVehicleManagementPermission', 'hasDailyRosteringManagement', 'hasLogguedSupportAdministrator']),
        reportCount(){
            return reportsArr.length
        },

        filterCount(){
            return this.filteredReports.length
        },

        filteredReports() {
            if(!this.filter){
                return reportsArr
            }
            else{
                return reportsArr.filter((report) =>{
                    return report.name.toLowerCase().includes(this.filter.toLowerCase());
                }).sort((a,b) => {
                    return ('' + a.name.toLowerCase()).localeCompare(b.name.toLowerCase());
                })
            }
        },

        daManagementReports(){
            return this.filteredReports.filter((report) =>{
                return report.sections.includes("DaManagement")
            })
        },

        vehicleManagementReports(){
            return this.filteredReports.filter((report) =>{
                return report.sections.includes("VehicleManagement")
            })
        },

        userManagementReports(){
            return this.filteredReports.filter((report) =>{
                return report.sections.includes("UserManagement")
            })
        },

        dailyRosteringReports(){
            return this.filteredReports.filter((report) =>{
                if(report.route === "StaffAttendanceStatistics" && process.env.VUE_APP_USE_REPORT_BLITZ_809 !== "true")
                    return
                if(report.route === "StaffsWhoRescuedOthers" && process.env.VUE_APP_USE_REPORT_BLITZ_760 !== "true")
                    return
                if(report.route === "StaffsWhoWereRescued" && process.env.VUE_APP_USE_REPORT_BLITZ_279 !== "true")
                    return
                if(report.route === "DailyRosterStandbys" && process.env.VUE_APP_USE_REPORT_BLITZ_442 !== "true")
                    return
                return report.sections.includes("DailyRostering")
            })
        },

        scorecardPerformanceDataReports(){
            return this.filteredReports.filter((report) =>{
                return report.sections.includes("ScorecardPerformanceData")
            })
        }
    },
    methods:{
        /**
         * Navigates to Task list and opens modal window
         */
        addTask(){
            this.$router.push({name: 'Task', params: {addTask: true}})
        },

        /**
         * Go to the report passed to this method
         */
        goToReport(payload){
            try{
                if(payload && payload.name === "Birthdays for Active Associate")
                {
                    localStorage.removeItem('tabReportMilestone');                 
                }
                var paramsObj = {}
                var reportRoute = payload.route
                var params = payload.routeParams
                const query = payload.routeQuery || {};

                if(!params){
                    this.$router.push({
                        query,
                        name: reportRoute,
                    })
                }
                else{
                    for(var param of params){
                        paramsObj[param.paramName] = param.paramValue
                    }
                    this.$router.push({
                        query,
                        name: reportRoute,
                        params:paramsObj,
                    })
                }
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },

        /**
         * peforms action passed on what is passed to this method
         */
        performReportAction(payload){
            try{
                var action = payload.action
                var paramsObj = {}
                var actionRoute = action.actionRoute
                var params = action.actionParams
                const query = action.actionQuery || {};

                if(!params){
                    this.$router.push({
                        query,
                        name: actionRoute,
                    })
                }
                else{
                    for(var param of params){
                        paramsObj[param.paramName] = param.paramValue
                    }
                    this.$router.push({
                        query,
                        name: actionRoute,
                        params:paramsObj,
                    })
                }
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },

        performanceCoachingManagementReports(){
            return this.hasPermissionPerformanceCoaching() ?
                this.filteredReports.filter(report =>{
                    if(report.route === "FantasticsByStaff" && process.env.VUE_APP_USE_REPORT_BLITZ_745 !== "true")
                        return
                    return report.sections.includes("PerformanceAndCoaching")
                })
                : []
        },

        vShowPerformanceCoachingManagementReports(){
            return this.hasPermissionPerformanceCoaching() ? 
                this.performanceCoachingManagementReports().length != 0 
                : true
        },

        hasPermissionPerformanceCoaching(){
            return this.$store.state.userInfo.hasOwnProperty("permissionPerformanceCoaching") 
                ? !!this.$store.state.userInfo.permissionPerformanceCoaching || this.hasLogguedSupportAdministrator : false;
        }
    }
}
</script>
