<template>
    <!--Header-->
    <div>
    <div class="sm-wrap flex justify-between items-center mb-4 mt-4">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item 
                v-if="$route.name == 'VehicleLicensePlate' || $route.name == 'VehicleWeekOldOdometerReadings' || $route.name == 'VehicleTwoWeekOldOdometerReadings' || $route.name == 'VehicleHighMileageOdometerReadings'" 
                :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports
            </el-breadcrumb-item>
            <el-breadcrumb-item v-if="$route.name == 'VehicleLicensePlate'">Expiring License Plates</el-breadcrumb-item>
            <el-breadcrumb-item v-else-if="$route.name == 'VehicleWeekOldOdometerReadings'">Week Old Odometer Readings</el-breadcrumb-item>
            <el-breadcrumb-item v-else-if="$route.name == 'VehicleTwoWeekOldOdometerReadings'">Two Week Old Odometer Readings</el-breadcrumb-item>
            <el-breadcrumb-item v-else-if="$route.name == 'VehicleHighMileageOdometerReadings'">High Mileage Odometer Readings</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <!-- Router View -->
    <div>
        <router-view></router-view>
    </div>
</div>
</template>
<script>
export default {
    name: 'ReportView'
}
</script>