.loginMain{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url(/img/login_bg.jpg);
    height:100vh;
    width:100vw;
    background-size:cover;

}

.logoStyle {
    text-align:center;
    margin-top:-3.5vw;
    z-index:1;
    margin-bottom:2vh
}

.forgotPassContainer{
    position:fixed;
    padding:0px 5vw;

    width:min-content;
    height:auto;
    margin-top:-10em;
    border-radius:5px;
    background-color: rgba(13, 13, 13,0.9);
}

/*************** Laptops and desktops *******************/
@media (min-width: 1025px) {
    .forgotPassContainer{
        top:50vh;
        left:40vw;
    }

}

/*************** IPAD Pro *******************/
@media (min-width: 769px) and (max-width: 1024px) {
    .forgotPassContainer{
        top:50vh;
        left:33vw;

    }

}

@media (width: 768px) {
    .forgotPassContainer{
        top:50vh;
        left:30vw;
    }

}


/*************** Mobiles Pro *******************/
@media (max-width: 767px) {
    .loginMain{
        min-height: fit-content;
        position:absolute;
        background-position: center;
        padding-bottom: 10vh;
        margin: 0px;

    }
    .forgotPassContainer{
        top:50vh;
        left:10vw;
    }

}