.bq-row-color-935CCB {
    color : #935CCB;
    font-weight: bold;
}

.bq-row-color-black{
    color: #000000;
    font-weight: bold;
}

.bq-row-color-000000{
    color: #000000;
    font-weight: bold;
}

.bq-row-color-#000{
    color: #000000;
    font-weight: bold;
}



.bq-row-color-green{
    color:#02A75A;
    font-weight: bold;
}

.bq-row-color-02A75A{
    color:#02A75A;
    font-weight: bold;
}



.bq-row-color-blue{
    color:#044FD1;
    font-weight: bold;
}

.bq-row-color-044FD1 {
    color:#044FD1;
    font-weight: bold;
}


.bq-row-color-red{
    color: #DB2929;
    font-weight: bold;
}

.bq-row-color-DB2929{
    color: #DB2929;
    font-weight: bold;
}



.bq-row-color-orange{
    color: #F5810B;
    font-weight: bold;
}

.bq-row-color-F5810B{
    color: #F5810B;
    font-weight: bold;
}



.bq-row-color-brown{
    color: #7B5E60;
    font-weight: bold;
}

.bq-row-color-7B5E60{
    color: #7B5E60;
    font-weight: bold;
}