.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}


.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}
.historyButton{
    display: block !important;
    border-radius: 20px;
    margin: 10px auto;
}

/*.editable-row:hover .historyButton, .editable-row-click:hover .historyButton{*/
    /*display: block !important;*/
/*}*/

