<template>
  <div class="flex justify-between card">
    <h4 class="mb-3 mt-2 text-sm bold">
      Please choose a tab on the left. If you feel that a tab is missing here, please speak with your Hera Administrator.
    </h4>
  </div>
</template>