<template>
  <div class="flex justify-between card">
    <h4 class="mb-3 mt-2 text-sm bold">
      You do not currently have access to manage Company Settings. Please speak with your Hera administrator.
    </h4>
  </div>
</template>