.gantt-container {
    /*height: calc(100vh - 40px - 200px);*/
    height: calc(100vh - 50px);
}

.gantt-container .gantt_grid_scale .gantt_grid_head_cell {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px solid #cecece !important;
}

.gantt-container .gantt_cell {
    border-right: 1px solid #cecece !important;
}

/*!***************************** Grid Columns Styling ***************************!*/
/*.gantt_layout_y:first-child {*/
    /*width: 30% !important;*/
/*}*/

/*.gantt_grid_scale {*/
    /*width: unset !important;*/
/*}*/

/*.gantt_grid_data {*/
    /*width: unset !important;*/
/*}*/

/*.grid_cell {*/
    /*width: 800px !important;*/
/*}*/


.gantt_grid_head_cell:first-child {
    width: 40% !important;
}

.gantt_grid_head_cell {
    width: 20% !important;
}

.gantt_cell:first-child {
    width: 40% !important;
}

.gantt_cell {
    width: 20% !important;
    font-size: 12px !important;
}

.gantt_row_task {
    position: unset !important;
}

.gantt_tree_icon.gantt_file {
    background-image: unset !important;
    width: unset !important;
}

/*!***************************** End ***************************!*/


/***************************** Gantt Tasks Styling ***************************/
/*.gantt_layout_y {*/
    /*width: 69% !important;*/
/*}*/

/*.gantt_task_scale {*/
    /*width: unset !important;*/
/*}*/

/*.gantt_data_area {*/
    /*width: unset !important;*/
/*}*/

/*!* Width of Timeline*!*/
/*.timeline_cell {*/
    /*width: 100% !important;*/
/*}*/

/***************************** End ***************************/