<template>
  <!-- DESCRIPTION: labelManagerBox -->
  <div class="float-left align-middle content-center text-center mt-1 mr-2">
    <el-dropdown @command="handleCommand">
      <span
        class="el-dropdown-link text-gray-600 font-medium"
        type="default"
      >
        + Add label
      </span>
      <template #dropdown>
        <el-dropdown-menu>
          <div v-for="(label, index) in profileTable.labelsAvailable" :key="index">
            <el-dropdown-item :command="{ action: 'createLabelSubscription', scope: label }">{{ label.labelName }}</el-dropdown-item>
          </div>
          <el-dropdown-item
                v-if="labelType == `Associates` && (permissions['permissionManageLabels'] && hasStaffManagement) && profileTable.labelsAvailable.length == 0" 
                :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Vehicles` && (permissions['permissionManageLabels'] && hasVehicleManagement) && profileTable.labelsAvailable.length == 0" 
                :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Associates` && (permissions['permissionManageLabels'] && hasStaffManagement)"
                divided :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Vehicles` && (permissions['permissionManageLabels'] && hasVehicleManagement)"
                divided :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
        </el-dropdown-menu>
      </template>
    </el-dropdown>
    </div>
</template>

<script>
export default {
  name: "labelManagerButton",
  data() {
    return{
      labelData: {},
    };
  },
  computed: {
    ...mapGetters([
      'hasStaffManagement',
      'hasVehicleManagement'
    ]),
  },
  methods: {
    /**
     * handle command of event from template to methods
     * @param {object} action
     * @param {id, string} scope
     * @param {integer} index
     */
     handleCommand({ action, scope, index, name }) {
      switch (action) {
        case "listProfiles": {
          if (this.labelType === "Associates") {
            let previousRouteText = "AssociatesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "AllStatus";
            this.$router.push({
              name: "StaffIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          } else if (this.labelType === "Vehicles") {
            let previousRouteText = "VehiclesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "AllStatus";
            this.$router.push({
              name: "VehicleIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          }
          break;
        }
        case "listActiveProfiles": {
          if (this.labelType === "Associates") {
            let previousRouteText = "ActiveAssociatesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "Active";
            this.$router.push({
              name: "StaffIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          } else if (this.labelType === "Vehicles") {
            let previousRouteText = "ActiveVehiclesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "Active";
            this.$router.push({
              name: "VehicleIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          }
          break;
        }
        case "activateDrawer": {
          this.drawer = true;
          break;
        }
        case "createLabelSubscription": {
          this.createLabelSubscription(scope);
          break;
        }
        case "createNewLabel": {
          this.visible = true;
          break;
        }
        case "createMessage": {
          this.messageAssociatesView = true;
          this.listStaffMessage = [];
          this.createListStaffByLabel(scope, "All", name);
          break;
        }
        case "createActiveMessage": {
          this.messageAssociatesView = true;
          this.listStaffMessage = [];
          this.createListStaffByLabel(scope, "Active", name);
          break;
        }
        case "deleteLabelAssignation": {
          this.deleteLabelAssignation(scope, index);
          break;
        }
        case "uploadLabelsByProfile": {
          this.uploadLabelsByProfile();
          break;
        }
      }
    },
  }
}
</script>
