<template>
  <div>
    <div class="content-center align-middle" v-loading="loading">
      <!-- list of labels -->
      <div
        class="pr-2 float-left"
        v-for="(label, index) in profileTable.labelsAssigned"
        :key="index"
      >
        <el-dropdown @command="handleCommand">
          <el-button class="font-normal pr-2" type="primary" size="mini" plain>
            {{ label.name }} <i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item
              v-if="LABELS_FLAG"
                :command="{
                  action: 'listProfiles',
                  scope: label.id,
                  name: label.name,
                }"
                >View all {{ labelType }} with this Label</el-dropdown-item
              >
              <el-dropdown-item
                v-if="LABELS_FLAG"
                :command="{
                  action: 'listActiveProfiles',
                  scope: label.id,
                  name: label.name,
                }"
                >View all Active {{ labelType }} with this
                Label</el-dropdown-item
              >
              <el-dropdown-item
                v-if="labelType === 'Associates'"
                :command="{
                  action: 'createMessage',
                  scope: label.id,
                  name: label.name,
                }"
                >Message all Associates with this Label</el-dropdown-item
              >
              <el-dropdown-item v-if="labelType === 'Associates'"
                :command="{
                  action: 'createActiveMessage',
                  scope: label.id,
                  name: label.name,
                }"
                >Message all Active Associates with this Label</el-dropdown-item>
              <el-dropdown-item v-if="LABELS_FLAG == false && labelType === 'Associates'" divided disabled>This Label was added to {{ fullName }} on {{ label.createdAt }}</el-dropdown-item>
              <el-dropdown-item v-else-if="LABELS_FLAG == false && labelType === 'Vehicles'" disabled>This Label was added to {{ fullName }} on {{ label.createdAt }}</el-dropdown-item>
              <el-dropdown-item v-else-if="LABELS_FLAG" divided disabled>This Label was added to {{ fullName }} on {{ label.createdAt }}</el-dropdown-item>
              <el-dropdown-item :command="{ action: 'deleteLabelAssignation', scope: label.subscriptionId, }">Remove this Label from {{ fullName }}</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
      <!-- DESCRIPTION: labelManagerBox -->
      <div class="float-left align-middle content-center text-center mt-1 mr-2" v-loading="managerButtonLoading">
        <el-dropdown @command="handleCommand">
          <span
            class="el-dropdown-link text-gray-600 font-medium"
            type="default"
            @mouseover="updateIdAndLabelsAvailable"
          >
            + Add label
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <div v-for="(label, index) in profileTable.labelsAvailable" :key="index">
                <el-dropdown-item :command="{ action: 'createLabelSubscription', scope: label }">{{ label.labelName }}</el-dropdown-item>
              </div>
              <el-dropdown-item
                v-if="labelType == `Associates` && (permissions['permissionManageLabels'] && hasStaffManagement) && profileTable.labelsAvailable.length == 0" 
                :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Vehicles` && (permissions['permissionManageLabels'] && hasVehicleManagement) && profileTable.labelsAvailable.length == 0" 
                :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Associates` && (permissions['permissionManageLabels'] && hasStaffManagement)"
                divided :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
              <el-dropdown-item
                v-else-if="labelType == `Vehicles` && (permissions['permissionManageLabels'] && hasVehicleManagement)"
                divided :command="{ action: 'createNewLabel' }">Add new label</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>
      <!-- send text message to a list of associates -->
      <LabelDrawer
        v-if="visible === true"
        :openDrawer="visible"
        openMode="create"
        :defaultLabelType="labelType"
        @cbk-visible="drawCallback"
        @cbk-finally="cbkFinally"
        >
        </LabelDrawer>
      <Drawer
        v-if="messageAssociatesView === true"
        :visibility="messageAssociatesView"
        :buttonLoading="loading"
      >
        <!-- <template slot="title"> -->
        <template #drawerTitle>
          <el-row class="leading-normal p-1">
            <el-col :span="24">
              <span class="text-lg text-left">Send message to...</span>
              <p class="text-left text-sm">
                all Associates from label "{{ labelNameMessage }}":
              </p>
            </el-col>
          </el-row>
        </template>
        <template #drawerContent>
          <div style="margin-left: 20px 0" />
          <el-col :span="24"></el-col>
          <p
            class="text-justify whitespace-normal text-gray-800"
            style="margin: 30px"
          >
            What message would you like to send to
            {{ listStaffMessageLength }} Associates?
          </p>
          <el-input
            class="px-8 h-48"
            :rows="8"
            v-model="messagearea"
            maxlength="1000"
            placeholder="Insert your message here..."
            clearable
            show-word-limit
            type="textarea"
          />
          <p
            class="text-gray-700 text-sm whitespace-normal text-justify"
            style="margin: 30px; margin-left: 30px; margin-right: 30px"
          >
            This message will be sent to these Associates personal mobile phones
          </p>
        </template>
        <template #drawerfooter>
          <DrawerFooter
          labelButton="Send Message"
          :buttonLoading="submitLoading"
          @cancel="cancelMessage"
          @cbk-button="submitMessage">
          </DrawerFooter>
        </template>
      </Drawer>
    </div>
  </div>
</template>

<script>
import { Storage } from "aws-amplify";
import LabelDrawer from '@/components/shared/Drawer/Labels/LabelDrawer'
import Drawer from "@/components/shared/Drawer/Drawer";
import DrawerFooter from "@/components/shared/Drawer/DrawerFooter"
import sendMessage from "@/scripts/sendMessage";
import { mapMutations, mapState, mapGetters } from "vuex";
import { getUserPermissions } from '@/middlewares/permissions';
import labelsMixin from "@/mixins/labelsMixin"
import { LABELS_FLAG } from "@/utilities/constants/featuredFlags";
import store from "@/store/index";

export default {
  name: "ProfileLabels",
  props: ["labelType", "fullName", "profileId", "labels"],
  components: {
    Drawer,
    LabelDrawer,
    DrawerFooter,
  },
  mixins: [
    labelsMixin,
  ],
  data() {
    return {
      dialogImageUrl: "",
      dialogVisible: false,
      editModalOpen: false,
      editData: {},
      profileTable: {
        type: this.labelType,
        typeId: "",
        labelsAssigned: [],
        labelsAvailable: [],
      },
      drawer: false,
      loading: false,
      visible: false,
      labelData: {},
      messageAssociatesView: false,
      messagearea: "",
      listStaffMessage: [],
      listStaffMessageLength: 0,
      labelNameMessage: "",
      labelUserAuth: false,
      permissions: {},
      managerButtonLoading: false,
      submitLoading: false,
    };
  },
  beforeMount() {
    this.LABELS_FLAG = LABELS_FLAG
    getUserPermissions(this.$store.state.userInfo.id, this.$store.state.userInfo.tenant.group)
    .then(userPermissions => {
      this.permissions = userPermissions
    })
  },
  computed: {
    ...mapGetters([
      'hasStaffManagement',
      'hasVehicleManagement',
      'getAssociateLabels',
      'getVehicleLabels'
    ]),
  },
  mounted() {
    this.loadData();
  },
  methods: {
    ...mapMutations(["setLabelFiltersList", "setStatusFiltersList"]),

    drawCallback(newValue) {
      this.visible = newValue;
    },
    async cbkFinally(openMode, newLabelId) {
      if (openMode == "create"){
        await this.labelsModule_createLabelSubscription(newLabelId, this.labelType, this.profileId);
        this.managerButtonLoading = true
      }
      //reload list of labels
      await this.loadData("reload");
    },
    async handleClose() {
      this.visible = false;
      this.messageAssociatesView = false;
    },
    /**
     * Update info of data of the component
     */
    async loadData(state) {
      try {
        await this.uploadLabelsByProfile(state);
        await this.updateIdAndLabelsAvailable();
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
        this.managerButtonLoading = false;
      }
    },
    /**
     * list all labels by staff or vehicle that are assigned to the profile
     * retrieves this.profileTable.labelsAssigned
     */
    async uploadLabelsByProfile(state) {
      let labelsSubs = [];
      const options = { year: "numeric", month: "long", day: "numeric" };
      if (state == "reload") labelsSubs = await this.labelsModule_getLabelSubscription(this.labelType, this.profileId)
      else labelsSubs = this.labels      
      let labelsAssigned = [];
      if (!labelsSubs || labelsSubs.length === 0) return this.profileTable.labelsAssigned = [];
      let labelInfo = {};
      for (const label of labelsSubs) {
        let date = this.convertUtcToLocalFormat(label.createdAt).toLocaleDateString("US-EN", options)
        if (label.label.status == false) continue
        labelInfo = {
          subscriptionId: label.id,
          id: label.labelId,
          name: label.label.name,
          createdAt: date,
        };
        labelsAssigned.push(labelInfo);
      }
      labelsAssigned.sort((a, b) => a.name.localeCompare(b.name));
      this.profileTable.labelsAssigned = labelsAssigned;
      return this.profileTable.labelsAssigned;
    },
    /**
     * Show the list of labels availables that are not being assigned
     * Retrieves:
     * this.profileTable.typeId: Update Id of LabelType
     * this.profileTable.labelsAvailable: list of Labels
     * Available but there are not yet assigned
     */
    async updateIdAndLabelsAvailable() {
      //typeName -> "Associates" or "Vehicles"
      const typeName = String(this.labelType);
      this.profileTable.typeId = this.getLabelTypes.find(object => object.name === typeName).id
      let activeLabelListFilteredByType = []
      // if (state == "reloadLabels") await store.dispatch("loadLabelTypes")
      if(this.labelType == "Associates") activeLabelListFilteredByType = this.getAssociateLabels
      else if(this.labelType == "Vehicles") activeLabelListFilteredByType = this.getVehicleLabels

      let labelsAvailable = [];
      let labelsAvailableName = [];
      let labelsAssigned = this.profileTable["labelsAssigned"];
      const assignedTable = [];
      for (const x in labelsAssigned) {
        assignedTable.push(labelsAssigned[x]["name"]);
      }
      for (const activeLabel of activeLabelListFilteredByType) {
        const newName = activeLabel.name;
        const newSubscription = {
          labelName: newName,
          labelId: activeLabel.id,
        };
        if (assignedTable.includes(newName) === false) {
          labelsAvailable.push(newSubscription);
          labelsAvailableName.push(newName);
        }
      }
      labelsAvailable.sort((a, b) => a.labelName.localeCompare(b.labelName));
      this.profileTable.labelsAvailable = labelsAvailable;
      return this.profileTable.labelsAvailable;
    },
    /**
     * handle command of event from template to methods
     * @param {object} action
     * @param {id, string} scope
     * @param {integer} index
     */
    async handleCommand({ action, scope, index, name }) {
      switch (action) {
        case "listProfiles": {
          if (this.labelType === "Associates") {
            let previousRouteText = "AssociatesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "AllStatus";
            this.$router.push({
              name: "StaffIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          } else if (this.labelType === "Vehicles") {
            let previousRouteText = "VehiclesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "AllStatus";
            this.$router.push({
              name: "VehicleIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          }
          break;
        }
        case "listActiveProfiles": {
          if (this.labelType === "Associates") {
            let previousRouteText = "ActiveAssociatesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "Active";
            this.$router.push({
              name: "StaffIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          } else if (this.labelType === "Vehicles") {
            let previousRouteText = "ActiveVehiclesByLabel",
              previousRouteName = this.$route.name;
            let filterName = "Active";
            this.$router.push({
              name: "VehicleIndexByLabel",
              params: { labelName: name, filter: filterName },
              query: { previousRouteText, previousRouteName },
            });
            break;
          }
          break;
        }
        case "activateDrawer": {
          this.drawer = true;
          break;
        }
        case "createLabelSubscription": {
          await this.labelsModule_createLabelSubscription(scope.labelId, this.labelType, this.profileId);
          this.managerButtonLoading = true
          this.loadData("reload");
          break;
        }
        case "createNewLabel": {
          this.visible = true;
          break;
        }
        case "createMessage": {
          this.messageAssociatesView = true;
          this.listStaffMessage = [];
          this.createListStaffByLabel(scope, "All", name);
          break;
        }
        case "createActiveMessage": {
          this.messageAssociatesView = true;
          this.listStaffMessage = [];
          this.createListStaffByLabel(scope, "Active", name);
          break;
        }
        case "deleteLabelAssignation": {
          this.deleteLabelAssignation(scope, index);
          break;
        }
        case "uploadLabelsByProfile": {
          this.uploadLabelsByProfile();
          break;
        }
      }
    },
    /**
     * Create a list of staff by labels filtered
     * @param {id} labelId
     * @param {string} filter 'active' or 'all'
     * @param {string} name
     */
    async createListStaffByLabel(labelId, filter, name) {
      const dataLabel = await this.labelsModule_labelSubscriptionByLabelId(labelId, this.labelType)
      let staffMessageList = [];
      let staffInfo = {};
      for (var index = 0; index < dataLabel.length; index++) {
        const eachLabelData = dataLabel[index].staff;
        if (!eachLabelData) continue
        staffInfo = {
          id: eachLabelData.id,
          firstName: eachLabelData.firstName,
          lastName: eachLabelData.lastName,
          status: eachLabelData.status,
          phone: eachLabelData.phone,
          receiveTextMessages: eachLabelData.receiveTextMessages,
          receiveEmailMessages: eachLabelData.receiveEmailMessages,
        };
        if (filter === "Active") {
          if (eachLabelData.status === "Active") {
            staffMessageList.push(staffInfo);
          }
        } else {
          staffMessageList.push(staffInfo);
        }
      }
      this.labelNameMessage = name;
      this.listStaffMessage = staffMessageList;
      this.listStaffMessageLength = staffMessageList.length;
    },
    /**
     * Send a text sms to a "this.listStaffMessage"
     */
    async submitMessage() {
      this.submitLoading = true;
      const message = this.messagearea;
      const listStaff = this.listStaffMessage;
      var successList = [];
      var failureList = [];
      var withoutPhone = [];
      if (!message) {
        this.displayUserError("please write a message");
        return;
      }
      if (!listStaff) {
        this.displayUserError("there are not staff with this label");
        return;
      }
      for (let staff of listStaff) {
        const name = " " + staff.firstName + " " + staff.lastName;
        if (staff.phone != "" && staff.phone != null) {
          staff.receiveTextMessages = true;
          let bodyText = this.messagearea;
          let bodyHtml = this.messagearea;
          let companyName = this.$store.state.userInfo.tenant.companyName;
          let route = null;
                    try {
            var response = await sendMessage({
              staff,
              companyName,
              route,
              bodyText,
              bodyHtml,
              user: this.$store.state.userInfo,
            });
            successList.push(name);
          } catch (e) {
            console.log(e);
            failureList.push(name);
          }
        } else {
          withoutPhone.push(name);
        }
      }
      if (successList.length >= 1) {
        let splitNumber = 10;
        let succesMsg = successList.toString();
        if (successList.length > splitNumber) {
          let firstList = successList.slice(0, splitNumber);
          let secondNumber = successList.length - splitNumber;
          let firstMsg = firstList.toString();
          let secondMsg = "";
          if (secondNumber > 0) {
            secondMsg = " + " + String(secondNumber) + "associates";
          }
          succesMsg = firstMsg + secondMsg;
        }
        var finalMsg = "The message was send to " + succesMsg;
        this.displayUserNotification({
          type: "success",
          title: "Success",
          message: finalMsg,
          duration: 0,
        });
      }
      if (withoutPhone.length >= 1) {
        let secondPartFinalMsg =
          "have a number in their profile and will not receive this message. Please add their number to their Associate profile and send your message again.";
        let finalMsg = withoutPhone.toString() + " don't " + secondPartFinalMsg;
        if (withoutPhone.length === 1) {
          finalMsg = withoutPhone.toString() + " doesn't " + secondPartFinalMsg;
        }
        if (withoutPhone.length > 10) {
          let firstList = withoutPhone.slice(0, 10);
          let secondNumber = withoutPhone.length - 10;
          let firstMsg = firstList.toString();
          let secondMsg = "";
          if (secondNumber > 0) {
            let secondMsg = " + " + String(secondNumber) + "associates";
          }
          finalMsg = firstMsg + secondMsg + " don't " + secondPartFinalMsg;
        }
        this.displayUserNotification({
          type: "warning",
          title: "The message was not sent to these Associates",
          message: finalMsg,
          duration: 0,
        });
      }
      finalMsg = "";
      this.messagearea = "";
      this.messageAssociatesView = false;
      this.submitLoading = false;
    },
    /**
     * cancel text message and clean the input message
     */
    async cancelMessage() {
      this.messageAssociatesView = false;
    },
    /**
     * delete an assignation between the staff and label
     * @param {id} labelId
     */
    async deleteLabelAssignation(labelSubscriptionId) {
      await this.labelsModule_deleteLabelSubscription(labelSubscriptionId)
      await this.loadData("reload")
    },
    /**
     * Prompts user if file should really be deleted
     * @param {string} objectKey S3 key of file to delete
     * @param {number} index index of item to remove from array
     * @param {number} type type of docment to remove
     */
    async handleRemove(objectKey, index, type) {
      this.$confirm(
        "This will permanently delete this " + type + ". Continue?",
        "Warning",
        {
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          this.commitDeleteFile(objectKey, index);
        })
        .catch(() => {
          console.log("canceled delete");
        });
    },
  },
};
</script>
<style scoped>
.el-icon-arrow-down {
  font-size: 12px;
}
</style>
