<template>
<div>
    <button @click="sendSMS()">SEND SMS</button><br/>
    <button @click="createNotification()">Create Notification</button>    
</div>
</template>

<script>
import {createMessage} from '@/graphql/mutations'
import { createNotification } from '@/graphql/mutations.js'

export default {
    methods:{
        async sendSMS(){
            let input = {
                channelType: "SMS",
                destinationNumber: "8016789364",
                bodyText: "Hello Mason",
                firstName: "Mason",
                lastName: "Stenquist"
            }
            
            var response = await this.api(createMessage, {input} )
            console.log(response)
            
        },
        async createNotification(){
            let input = {
                title: "NEW VERSION",
                description: "0.8.1",
                isRead: false,
                clickAction: "RELOAD",
                payload: JSON.stringify({name: 'ScoreCardIndex'})
            }
            var response = await this.api(createNotification, {input} )
            console.log(response)
        }
    }
}
</script>