<template>
    <div>
        <div class="flex items-center justify-between mb-4">
            <div class="flex justify-between">
                <div class="flex space-x-2 items-center h-8">
                    <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum"
                        v-once>
                        <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
                        <el-breadcrumb-item>Engine Off Compliance (EOC) Metrics</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
            </div>
        </div>

        <!-- TABLE CARD -->
        <TableCard tablecard-class="rounded-lg">
            <template v-slot:table-filters>
                <ContainerFilter inTable>
                    <template v-slot:title>
                        <span>Engine Off Compliance (EOC) Metrics</span>
                    </template>
                    <template v-slot:filters>
                        <CounterFilter :counter="counterFilters" />
                        <MultiSelectFilter
                            type="associateStatus"
                            :title="`${$t('label.associate')} Status`" 
                            :options="associateStatusOptions"
                            :selected="associateStatusSelected"
                            @update-filters="updateFilters"
                        />
                
                        <div>
                            <span class="text-sm font-bold text-gray-700">Date </span>
                            <el-dropdown>
                                <span class="el-dropdown-link">
                                    <span class="ml-1 py-0.5 px-1 bg-gray-100">
                                        {{ selectedDate }}
                                    </span>
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>
                                        <el-date-picker
                                            v-model="selectedDate"
                                            type="date"
                                            placeholder="Pick a day"
                                            format="MM-dd-yyyy"
                                            size="small"
                                            :clearable="false"
                                            :picker-options="pickerOptions"
                                            @change="loadData(true)"
                                        >
                                        </el-date-picker>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                       
                    </template>
                </ContainerFilter>
            </template>

            <template v-slot:table-searchbox>
                <SearchBox inTable @search-data="searchData"/>
            </template>

            <div class="relative">
                <CustomTable
                    inTable
                    ref="table"
                    v-loading="loading"
                    :columns="cols"
                    :data="tableData"
                    :totalRecords="totalRecords"
                    :defaultSort="{
                        prop: 'rank',
                        order: 'descending',
                    }"
                    @click-menu="handleCommand"
                    withTableMenu
                    :emptyText="emptyText"
                    :optionsHeader="optionsContextHeader"
                    :optionsRows="optionsContextRow"
                    :footerTable="`${$t('label.associates')}`" 
                    class="eoc-metric-report"
                >   
                    <template #rank="row">
                        {{ row.rank }}
                    </template>
                    
                    <template #average="row">
                        {{ row.average | text }}
                        <i class="-mt-1 text-lg p-0 uil" :class="compareAverage(row.average, row.previousAverage)"></i>
                    </template>
                    
                </CustomTable>

                <PremiumTriangle v-if="!hasPerformanceCoaching" showSampleDataText/>
            </div>
           
        </TableCard>

        <!-- EXPORT DIALOG -->
        <ExportDialog
            title="Export Engine Off Compliance (EOC) Metrics"
            :description="descriptionExport"
            :openDialog="openExportDialog"
            :filters="filtersApplied"
            :totalExportsRecords="totalExportsRecords"
            @close-dialog="openExportDialog = false"
            @export-method="csvExportMethod"
        />

    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import { eocScoresByGroupLevelAndDate, eocScoresByGroupLevelDSPAndDate, staffsByGroupStatus } from './queries'
import TableCard from '@/components/TableCard/TableCard'
import CustomTable from '@/components/TableCard/CustomTable'
import ContainerFilter from '@/components/TableCard/ContainerFilter'
import SearchBox from '@/components/TableCard/SearchBox'
import MultiSelectFilter from '@/components/MultiSelectFilter'
import CounterFilter from '@/components/CounterFilters'
import PremiumTriangle from '@/components/PremiumTriangle'
import ExportDialog from "@/components/Dialog/ExportDialog"
import { exportCSV } from "@/utilities/exportCSV"
import { sampleDataEocMetrics } from './sampleData'
import { sortByNumberProp } from '@/utilities/sortHelpers'

export default {
    name: 'EOCMetricsReport',
    components: {
        TableCard,
        CustomTable,
        ContainerFilter,
        SearchBox,
        MultiSelectFilter,
        CounterFilter,
        PremiumTriangle,
        ExportDialog,
    },
    data() {
        return {
            loading: false,
            associateStatusOptions: [],
            associateStatusSelected: [],
            selectedDate: undefined,
            disabledFromDate: new Date(),
            datesForCheck: [],
            enabledDates: [],
            search: '',
            tableData: [],
            unfilteredData: [],
            totalRecords: 0,
            cols: [
                { name: "Rank", col: "rank", fixed: false, width: "80", sortable: true, sortMethod: sortByNumberProp('rank') },
                { name: "First Name", col: "firstName", fixed: false, width: "120", sortable: false },
                { name: "Last Name", col: "lastName", fixed: false, width: "120", sortable: false },
                { name: "Associate Status", col: "status", fixed: false, width: "120", sortable: false },
                { name: "EOC Metric", col: "average", fixed: false, width: "140", sortable: false },
                { name: "Rolling Average To Date", col: "averageDailyCompliance", fixed: false, width: "140", sortable: true, sortMethod: this.sortByAverage }
                
            ],
            optionsContextHeader: [
                { label: "Export as CSV", action: "export", divided:  false},
            ],
            optionsContextRow: [],
            emptyText: 'No Records',
            totalExportsRecords: 0,
            openExportDialog: false,
            filtersApplied: [
                { type: "Associate Status", values: [], },
                { type: "Date", values: [] },
            ],
            titleExport: '',
            descriptionExport: '',
        
        }
    },

    async created(){
        this.selectedDate = this.$moment().format("MM-DD-YYYY")
        this.loadFilters()
        await this.loadData()

        //totalRecord: Description of the ticket "...is the count of all Associates in the tenant’s account."
        this.totalRecords = await this.getTotalStaffsByGroup()
    },

    watch: {
        search() {
            this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected, true)
        }
    },

    computed: {
        ...mapState([
            'userInfo', 
            'valuelists'
        ]),

        ...mapGetters([
            'hasPerformanceCoaching'
        ]),

        pickerOptions(){
            return {
                disabledDate: (datetime) => {
                    const date = this.$moment(datetime).format('YYYY-MM-DD')
                    return !this.enabledDates.includes(date) || datetime.getTime() >= this.disabledFromDate.getTime()
                },
               
                cellClassName: async (datetime) => {
                    const date = this.$moment(datetime).format('YYYY-MM-DD')
                    if(this.datesForCheck.includes(date) || datetime.getTime() >= this.disabledFromDate.getTime()) return
                    this.datesForCheck.push(date)

                    const input = {
                        group: this.userInfo.tenant.group,
                        levelDate: {
                            beginsWith: { level: 'dsp', date: date }
                        },
                        limit: 1
                    }
                    const result = await this.checkDate(input)
                    const verifiedDate = (result[0]?.date)?.split("T")[0]
                    if(verifiedDate) this.enabledDates.push(verifiedDate)
                    return
                }
            }
        },

        counterFilters(){
            const filtersAssociateStatus = this.associateStatusSelected.length === this.associateStatusOptions.length ? 0 : 1
            const filterDates = !this.selectedDate ? 0 : 1
            return filtersAssociateStatus + filterDates
        },

    },

    methods: {

        loadFilters() {
            const staffStatuses  = this.valuelists['staff-status'].items || []
            this.associateStatusOptions = this.valueListActivesOnly(staffStatuses).map(item => item.value)
            this.associateStatusSelected = ['Active']
        },

        async getData(date){
            let result = []
            try {
                const input = {
                    group: this.userInfo.tenant.group,
                    levelDate: {
                        beginsWith: { level: 'associate', date: date }
                    },
                    sortDirection: "DESC",
                }
                result = await this.gLoadListAll(eocScoresByGroupLevelAndDate, input, 'eocScoresByGroupLevelAndDate')
            } catch (error) {
                this.printUserError(error)
            } finally{
                return result
            }
        },

        async checkDate(input){
            let result = []
            try {
                const { data } = await this.api(eocScoresByGroupLevelDSPAndDate , input)
                result = data.eocScoresByGroupLevelAndDate.items
            } catch (error) {
                this.printUserError(error)
            } finally {
                return result
            }
        },

        async getTotalStaffsByGroup(){
            let result = []
            try {
                if(!this.hasPerformanceCoaching){
                    result = sampleDataEocMetrics
                    return
                }
                const input = {
                    group: this.userInfo.tenant.group,
                }
                result = await this.gLoadListAll(staffsByGroupStatus, input, 'staffsByGroupStatus')
            } catch (error) {
                this.printUserError(error)
            } finally {
                return result.length
            }
        },

        async loadData(reload=false){
            try {
                this.loading = true
                let date = null
                if(!this.hasPerformanceCoaching){
                    this.unfilteredData = sampleDataEocMetrics.sort(this.sortByAverage)
                    this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected)
                    date = this.$moment(this.selectedDate, "MM-DD-YYYY").format("YYYY-MM-DD")
                    this.selectedDate = this.$moment(date).format("MM-DD-YYYY")
                    return
                }
            
                let lastRecord = []
              
                if(reload){
                    date = this.$moment(this.selectedDate).format("YYYY-MM-DD")
                }else{
                    const input = {
                        group: this.userInfo.tenant.group,
                        levelDate: {
                            beginsWith: { level: 'dsp'}
                        },
                        sortDirection: 'DESC',
                        limit: 1
                    }
                    //get Last Record
                    lastRecord = await this.checkDate(input)
                    if(!lastRecord.length){
                        this.emptyText = 'No EOC data has been imported yet. To view this report, please import EOC data using the "Daily Performance Data" option from the "Import" menu above.'
                        return
                    }
                    date = (lastRecord[0]?.date)?.split("T")[0]
                    this.disabledFromDate = new Date(this.$moment(date).add(1, "days").format("YYYY-MM-DD"))
                }

                this.selectedDate = this.$moment(date).format("MM-DD-YYYY")
                const lastDate = this.$moment(date).format("YYYY-MM-DD")
                const previousDate = this.$moment(date).subtract(1, "days").format("YYYY-MM-DD")

                const eocScores = await this.getData(lastDate)
                const previousEocScores = await this.getData(previousDate)

                this.unfilteredData = this.formatData(eocScores, previousEocScores)
                this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected)
                
            } catch (error) {
                this.printUserError(error)
            } finally {
                this.loading = false
            }
            
        },
        
        formatData(data=[], previousData=[]){
            let formattedData = {}
            const sortedData = data.sort(this.sortByAverage)

            const formatEoc = (item, index) => {
                const { staff } = item
                const key = staff?.id
                if(!key) return
                const rank = index + 1
                if(!formattedData[key]){
                    formattedData[key] = {
                        rank: rank,
                        firstName: staff.firstName,
                        lastName: staff.lastName,
                        status: staff.status,
                        date: item.date,
                        average: item.average,
                        averageDailyCompliance: item.averageDailyCompliance,
                        previousAverage: 0,
                    }
                }else{
                    formattedData[key]['previousAverage'] = item.average ? item.average : 0
                }
            }
            sortedData.forEach((item, index) => formatEoc(item, index))
            previousData.forEach((item, index) => formatEoc(item, index))
            
            return Object.values(formattedData)
        },

        applyFilters(data = [], associateStatusFilters = [], search=false){
            if(!data.length) return []
            if(!associateStatusFilters.length) return data
            //filter for associate status
            let filteredData = this.filterByField(data, associateStatusFilters, 'status')
            if(search){
                filteredData = this.filterArray(filteredData, this.search)
            }
            return filteredData
        },

        filterByField(data=[], filters=[], field){
            if (!filters.length) return data
            return data.filter(item => filters.includes(item[field]))
        },

        updateFilters(e){
            const { type, filters } = e
            const actions = {
                associateStatus: () => {
                  this.associateStatusSelected = filters
                }
            }
            actions[type]()
            this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected)
        },

        searchData(e){
            this.search = e
        },

        
        compareAverage(average, previousAverage){
            const parseAverage = parseFloat(average)
            const parsePreviousAverage = parseFloat(previousAverage)
            if(parseAverage > parsePreviousAverage){
               return "uil-sort-amount-up text-green-500" 
            }
            if(parseAverage === parsePreviousAverage){
                return "uil-bars text-blue-500"
            }
            if(parseAverage < parsePreviousAverage){
                return "uil-sort-amount-down text-red-500"
            }
        },

        handleCommand(payload){
            const { action } = payload

            const actions = {
                export: () => {  
                    this.filtersApplied[0].values = this.associateStatusSelected
                    this.filtersApplied[1].values = [this.toTitleCase(this.selectedDate)]
                    this.totalExportsRecords = this.tableData.length
                    this.descriptionExport = this.totalExportsRecords > 0 ? `Hera will export ${ this.totalExportsRecords } Engine Off Compliance (EOC) Metrics.` : "Hera doesn't have any Engine Off Compliance (EOC) Metrics to export"
                    this.openExportDialog = true
                },
            }
            actions[action]()
        },

        csvExportMethod() {
            const fileName = `Engine Off Compliance (EOC) Metrics-${this.$moment().format("MM/DD/YYYY")}.csv`
            const arrData = []
            this.tableData.forEach((item) => {
                arrData.push(
                    {
                        "rank": item.rank,
                        "firstName": item.firstName,
                        "lastName": item.lastName,
                        "status": item.status,
                        "eocMetric": item.average,
                        "rollingAverageToDate": item.averageDailyCompliance
                    }
                )   
            })
            exportCSV({ arrData, fileName})
            this.openExportDialog = false
        },
        
        sortByAverage(a, b){
            const aNum = parseFloat(a.average) || 0
            const bNum = parseFloat(b.average) || 0
            //descending order
            return bNum - aNum
        },

    }
}
</script>
<style>
.eoc-metric-report .el-table th.el-table__cell > .cell {
    display: flex !important;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
</style>