.flag-select {
    position: relative;
    padding: unset;
}
.flag-select img{
    top:unset;
}
.flag-select .selected--flag--option{
    padding: unset;
}
.flag-select .arrow-down{
    color: #fff;
    top: 2px;
    left: 10%;
    position: relative;

}

