<template>
  <div class="w-full">
    <TableCard>
      <template v-slot:table-filters>
          <ContainerFilter inTable>
            <template v-slot:title>
              <span>{{ title }}</span>
            </template>
            <template v-slot:filter-count>
              <slot name="filter-count"></slot>
            </template>
            <template v-slot:filters>
                <slot name="filters"></slot>
            </template>
          </ContainerFilter>
        </template>
    </TableCard>

    <div class="mt-5">
      <LineChart
        :chartData="chartData"
        :options="chartOptions"
        :height="chartHeight"
        />
    </div>
  </div>
</template>

<script>
import TableCard from '@/components/TableCard/TableCard.vue'
import ContainerFilter from '@/components/TableCard/ContainerFilter.vue'
import LineChart from '@/plugins/LineChart.js'

export default {
  name: 'LineGraphCard',

  props: {
    title: {
      type: String,
      default: 'Line Graph Card',
    },
    xAxisValues: {
      type: Array,
      required: true,
    },
    yAxisValues: {
      type: Array,
      required: true,
    },
    tooltipPrefix: {
      type: String,
      default: '',
    },
    chartHeight: {
      type: Number,
      default: 120,
    }
  },

  components: {
    TableCard,
    ContainerFilter,
    LineChart,
  },

  computed: {
    chartData() {
      return {
        labels: this.xAxisValues,
        datasets: [
          {
            label: this.tooltipPrefix,
            data: this.yAxisValues,
            backgroundColor: '#0268BCb3',
            borderColor: '#0268BC',
            spanGaps: true,
            tension: 0,
          }
        ]
      };
    },

    chartOptions() {
      return {
        maintainAspectRatio: true,
        responsive: true,
        legend: { display: false },
        title: { display: false },
        scales: {
          yAxes: [{
              ticks: {
                suggestedMin: 0,
                suggestedMax: 0,
              },
              gridLines: { display: true },
          }],
          xAxes: [{
            gridLines: { display: true },
          }]
        },
      };
    },
  },
}
</script>
