<template>
  <div>
    <el-button @click="changeDriverStatusDrawer = true" size="small" plain type="primary">
      Change {{$t('label.associate')}} Assignment Status
    </el-button>

    <!-- DA Drawer -->
    <div class="flex space-x-2 items-center">
      <el-drawer
        :visible.sync="changeDriverStatusDrawer"
        custom-class="change-drawer"
        with-header
        direction="rtl"
        ref="changeDaStatusDrawer">
        <template slot="title">
          <el-row class="leading-normal p-1">
            <el-col :span="24">
              <span class="text-lg">Change {{$t('label.associate')}} Assignment Status</span>
            </el-col>
            <el-col :span="24" class="leading-3">
              <span class="text-xs">Optionally, you can create {{$t('label.an_associate')}} issue and counselling.</span>
            </el-col>
          </el-row>
        </template>
        <div class="custom-drawer__content">
          <el-form 
            :model="formFields"
            class="p-4"
            size="small">
            
            <!-- Driver Assignment -->
            <el-form-item v-if="formFields" :label="`${$t('label.associate')} Assigment Being Changed`">
              <el-input
                size="small"
                v-if="formFields"
                :placeholder="`${$t('label.associate')} Name`"
                :disabled="true"
                v-model="daFullName">
              </el-input>
            </el-form-item>

            <!-- Change DA Status -->
            <el-form-item
              label="Change status to:">
              <el-col :span="24">
                <el-select
                  class="custom-select"
                  v-model="formFields.driverStatus"
                  size="small"
                  placeholder="Select a status">
                    <el-option
                      v-for="(status, index) in driverStatusArray"
                      :key="index"
                      :label="status"
                      :value="status">
                    </el-option>
                </el-select>
              </el-col>
            </el-form-item>

            <!-- Issue and Counselling -->
            <el-form-item>
              <div class="custom-checkbox pt-2 pb-2">
                <el-row>
                  <el-col :span="24">
                      <el-checkbox 
                        v-model="formFields.createDaIssue" >
                        Create {{$t('label.associate')}} Issue for {{ daFullName }}
                      </el-checkbox>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="20" class="pl-4">
                      <el-checkbox
                        v-model="formFields.createCounseling"
                        :disabled="formFields.createDaIssue == false || !formFields.createDaIssue">
                        Also create counseling for {{ daFullName }}
                      </el-checkbox>
                  </el-col>
                </el-row>
              </div>
            </el-form-item>

            <!-- Standby DA -->
            <el-form-item>
                <div class="custom-checkbox pt-2 pb-2">
                    <el-row>
                      <el-col :span="24">
                          <el-checkbox v-model="formFields.isStandByDaRequired" >Create {{$t('label.associate')}} Issue for {{ daFullName }}</el-checkbox>
                      </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="20" class="pl-6">
                            <el-select
                              class="custom-select"
                              v-model="formFields.standByDa"
                              size="small"
                              :disabled="!formFields.isStandByDaRequired"
                              placeholder="Select a status">
                                <el-option
                                  v-for="driver in drivers"
                                  :key="driver.id"
                                  :label="`${driver.staff.firstName} ${driver.staff.lastName}`"
                                  :value="driver.id">
                                </el-option>
                            </el-select>
                        </el-col> 
                    </el-row>
                </div>
              </el-form-item>
          </el-form>
        </div>
        <div class="custom-drawer__footer p-4 flex justify-end">
            <el-button  >Cancel</el-button>
            <el-button type="primary">Update</el-button>
        </div>
      </el-drawer>
    </div>
  </div>
</template>

<script>
  export default {
    name:'DaChangeStatus',
    props: ['formFields', 'drivers'],
    data() {
      return {
        changeDriverStatusDrawer: false,
        driverStatusArray: [
          'Called out',
          'Late, Not Call',
          'Late, With call',
          'No Show, No call',
          'On Time'
        ]
      }
    },
    computed:{
      daFullName() {
        return `${this.formFields.staff.firstName} ${this.formFields.staff.lastName}`
      },
    }
  }
</script>

<style>
  .custom-drawer__footer {
    position: absolute;
    right: 0;
  }
  /* @media (min-width: 1025px){ 
      .change-drawer{
          width: 25% !important;
      }
      .custom-drawer__footer {
        bottom: 15%;
      }    
  }
  @media screen and (min-width: 767px) and (max-width: 1024px) { 
      .change-drawer{
        width: 40% !important;
        max-width: 350px;
      }
      .custom-drawer__footer {
        bottom: 8%;
      }
  }
  @media (max-width: 767px) {
      .change-drawer{
        width: 75% !important;
        max-width: 350px;
      }
  } */
</style>