<template>
  <div>
    <el-button @click="splitDriverAssignmentDrawer = true" size="small" plain type="primary">
      Split {{$t('label.associate')}} Assignment
    </el-button>

    <!-- {{$t('label.associate')}} Drawer -->
    <div class="flex space-x-2 items-center">
      <el-drawer
        :visible.sync="splitDriverAssignmentDrawer"
        custom-class="split-drawer"
        with-header
        direction="rtl"
        ref="driverAssignmentDrawer">
        <template slot="title">
          <el-row class="leading-normal p-1">
            <el-col :span="24">
              <span class="text-lg">Split {{$t('label.associate')}} Assignment</span>
            </el-col>
            <el-col :span="24" class="leading-3">
              <span class="text-xs">Please specify how many packages each {{$t('label.associate')}} is taking.</span>
            </el-col>
          </el-row>
        </template>
        <div class="custom-drawer__content">
          <el-form
            :model="formFields"
            class="p-4"
            size="small">
            
            <!-- Driver Assignment -->
            <el-form-item :label="`${$t('label.associate')} Spliting their packages`">
              <el-input
                size="small"
                :placeholder="`${$t('label.associate')} Name`"
                :disabled="true"
                v-model="daFullName">
              </el-input>
            </el-form-item>

            <!-- Package Split with -->
            <el-form-item
              label="Packages Split with">
              <el-col :span="24">
                <el-select
                  class="custom-select"
                  v-model="driversAssigned"
                  multiple
                  filterable
                  size="small"
                  placeholder="Select a Rescuer">
                    <el-option
                      v-for="item in rescuers"
                      :key="item.id"
                      :label="`${item.staff.firstName} ${item.staff.lastName}`"
                      :value="item.staff.id">
                    </el-option>
                </el-select>
              </el-col>
            </el-form-item>

            <!-- Number of Packages share with -->
            <el-form-item v-if="driversAssigned.length > 0">
              <div
                class="mb-4"
                v-for="(driverID, index) in driversAssigned"
                :key="index">
                <div v-if="rescuers.find((row)=> row.staff.id == driverID)">
                  <div class="text-left leading-5 pb-2">
                    <span class="text-red-500">*</span>
                    How many packasges is <span class="font-bold"> {{ rescuerDatails(driverID).staff.firstName }} </span>taking from {{ formFields.staff.firstName }}? 
                  </div>
                  <el-input
                    size="small"
                    placeholder="Number of Packages"
                    v-model="rescuerDatails(driverID).staff.takenPackages">
                  </el-input>
                </div>
              </div>
            </el-form-item>
          </el-form>
        </div>
        <div class="custom-drawer__footer p-4 flex justify-end">
          <el-button  >Cancel</el-button>
          <el-button type="primary">Update</el-button>
        </div>
      </el-drawer>
    </div>
  </div>
</template>

<script>
  export default {
    name:'DaSplitAssignment',
    props:['formFields', 'rescuers'],
    data() {
      return {
        splitDriverAssignmentDrawer: false,
        driversAssigned: []
      }
    },
    methods: {
      rescuerDatails(id) {
        return this.rescuers.find((row)=> row.staff.id == id)
      }
    },
    computed:{
      daFullName() {
        return `${this.formFields.staff.firstName} ${this.formFields.staff.lastName}`
      }
    }
  }
</script>

<style>
  .custom-drawer__footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  /* @media (min-width: 1025px){
      .split-drawer {
        width: 25% !important;
      }
      .custom-drawer__footer {
        bottom: 15%;
      }    
  }
  @media screen and (min-width: 767px) and (max-width: 1024px) {
      .split-drawer {
        width: 35% !important;
        max-width: 350px;
      }
      .custom-drawer__footer {
        bottom: 8%;
      }
  }
  @media (max-width: 767px) {
      .split-drawer{
          width: 80% !important;
          max-width: 350px;
      }

  } */
</style>