<template>
  <div>
    <el-dialog
      :title="dialogTitle"
      :visible.sync="editDialog"
      width="50%"
      :close-on-click-modal="false"
      :before-close="handleClose">
      <div class="col-span-8 sm:col-span-4 lg:col-span-4 border rounded-lg shadow  p-4 min-h-24 relative whitespace-pre-line">
        <el-form label-position="top" >
            <el-form-item>
                <TextEditor
                  class="editModalMentionable"
                  :disable="false"
                  :content="content[noteType]"
                  @handleContent="updateHandleContent"
                  :list="list"/>
            </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Cancel</el-button>
        <el-button type="primary" @click="handleConfirm">Update</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import TextEditor from './TextEditor.vue'

  export default {
    name:'EditNoteModal',
    props:['editDialog', 'title','content', 'noteType', 'list' ],
    components: {
      TextEditor
    },
    data() {
      return {
        editContent: null,
      }
    },
    methods: {
      handleClose() {
        this.$emit("update:editDialog", false);
        this.$emit("handleCloseModal");
      },
      handleConfirm() {
        this.$emit('updateNoteContent', this.editContent)
        this.$emit("update:editDialog", false);
      },
      updateHandleContent(content) {
        this.editContent = content
      }
    },
    computed: {
      dialogTitle() {
        return `Edit ${this.title}`
      }
    }
  }
</script>

<style>
.mention-item {
  padding: 4px 10px;
  border-radius: 4px;
}

.mention-selected {
  color: #FFFFFF;
  background-color: #0268BC;
}
.vue-popover-theme {
  z-index: 1000000;
  padding: .25rem;
  background: #fff;
  border-radius: 8px;
  margin-left: 3rem;
}
</style>