<template>
  <div>
    <div>
      <div class="flex items-start justify-between">
          <h4 class="mb-3 mt-2 text-sm bold">{{ noteTitle }} (?)</h4>
          <el-button
            @click="openEditNotesModal"
            type="text">
            Edit
          </el-button>
      </div>

      <div
        class="max-h-24"
        :class="isSeeMore ? 'overflow-auto': 'truncate overflow-hidden'">
        <TextEditor
          class="notesMentionable"
          :disable="true"
          :content="rosterData[noteType]"
          :list="list"/>
      </div>
      
      <div class="flex justify-end">
        <el-button
          @click="isSeeMore = !isSeeMore"
          type="text">
          See more
        </el-button>
      </div>
    </div>

    <!-- Edit Modal -->
    <EditNoteModal
      @handleCloseModal="handleCloseModal"
      @updateNoteContent="handleNoteContent"
      :content="rosterData"
      :noteType="noteType"
      :editDialog.sync="editDialog"
      :title="noteTitle"
      :list="list" />

  </div>
</template>

<script>
  import EditNoteModal from './EditNoteModal.vue'
  import TextEditor from './TextEditor.vue'
  import { updateDailyRoster } from '@/graphql/mutations'
  import { getDailyRosterUpdatedTimestamp } from '@/utilities/timestampQueries'
  
  export default {
    name:'Note',
    props:['noteTitle', 'rosterData', 'noteType', 'list'],
    components: {
      EditNoteModal,
      TextEditor
    },
    data() {
      return {
        isSeeMore: false,
        editDialog: false,
      }
    },
    methods: {
      openEditNotesModal() {
        this.$emit('showDropdownMenu', false)
        this.editDialog = true
      },

      handleNoteContent(content) {
        this.$emit('showDropdownMenu', true)
        this.rosterData[this.noteType] = content
        this.updateDailyRoster()
      },

      handleCloseModal() {
        this.$emit('showDropdownMenu', true)
      },

      async updateDailyRoster() {
        try {

          var input = {
            ...this.rosterData
          }
          
          input  = this.cleanUpInput(input)
          if(this.noteType == 'generalNotes') {
            delete input.fleetNotes
          }
          else if(this.noteType == 'fleetNotes') {
            delete input.generalNotes
          }

          const result = await this.api(updateDailyRoster, { input }, getDailyRosterUpdatedTimestamp, 'getDailyRoster')
          this.$emit("load-data")
          
        } catch (e) {
          this.displayUserError(e)
        }
      },

      cleanUpInput(input) {
        
        delete input.tenant
        delete input.createdAt
        delete input.route
        delete input.attachment
        delete input.replaceByRoute

        return input
      }
    }
  }
</script>

<style scoped>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-sm
}
</style>