<template>
  <div>
    <!--ROUTES TABLE-->
    <div class="container  p-2 mt-4">
      <div class="flex justify-between pb-2">
        <div class="flex space-x-2 items-center">
          <p class="text-gray-600 text-base font-bold">ROSTER ASSIGNMENTS</p>
        </div>
        <div class="flex space-x-2 items-center">
          <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."
            class="w-full"/>
        </div>
      </div>

      <el-table
        ref="routesTableV2"
        class="w-full self-start align-baseline border rounded-lg shadow"
        :empty-text="`No ${$t('label.associate')} Assignments`"
        :data="filterArray (dailyRosterTableData, search )" 
        :default-sort="{ prop: 'time', order: 'ascending' }"
        @selection-change="routesHandleSelectionChange"
        cell-class-name="routes-table-cell"
        header-cell-class-name="header-table-cell"
        row-class-name="align-baseline">

        <!-- Select Radio button -->
        <el-table-column
          type="selection"
          align="left"
          width="45"
          fixed>
        </el-table-column>

        <!-- DA COLUMN -->
        <el-table-column
          sortable
          :sort-orders="['ascending','descending']"
          row-class-name="align-baseline"
          prop="staff"
          width="220"
          fixed>
          <template slot="header">
            <el-dropdown @command="handleSelectedCommand">
              <span class="relative">
              <i class="uil uil-comment-alt-dots text-xl pa-0 ma-0 rounded absolute right-2 -tracking-3"/>
              <i class="uil uil-comment-alt-dots text-xl pl-1"/></span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item class="font-black" disabled> {{ numberOfSelectedRoutes }} SELECTED {{$t('label.ASSOCIATES')}} </el-dropdown-item>
                <el-dropdown-item>Send message to all rostered {{$t('label.associates')}}</el-dropdown-item>
                <el-dropdown-item :disabled="!numberOfSelectedRoutes">Send message to selected ({{ numberOfSelectedRoutes }})</el-dropdown-item>
                <template v-for="(time, index) in uniqueDriverTimes">
                  <el-dropdown-item :key="time" :command="time" :divided="index === 0">
                    Send message to {{time}} {{$t('label.associates')}} now
                  </el-dropdown-item>
                </template>
                <el-dropdown-item
                  v-if="$store.getters.hasPerformanceCoaching"
                  divided
                  :disabled="!numberOfSelectedRoutes"
                  :command="{
                    action: 'set', 
                    field: 'status',
                    value: 'On Time',
                    message: `This will mark ${numberOfSelectedRoutes} Roster assignment(s) as 'On Time'. Continue?`}">
                    Set status as "On Time"
                </el-dropdown-item>
                <el-dropdown-item
                  v-if="$store.getters.hasPerformanceCoaching"
                  :disabled="!numberOfSelectedRoutes"
                  :command="{
                    action: 'clear'}">
                  Clear selected
                </el-dropdown-item>
                <el-dropdown-item
                  v-if="$store.getters.hasPerformanceCoaching"
                  :disabled="!numberOfSelectedRoutes"
                  divided
                  :command="{
                    action: 'delete',
                    message: `This will permanently delete the ${numberOfSelectedRoutes} selected Roster assignment(s). Continue?`}">
                  Delete Selected
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            {{$t('label.associate')}}
          </template>
          <template slot-scope="scope">
            <div class="grid grid-flow-row grid-cols-12 w-full gap-x-2 mb-1 pb-1">
              <i class="uil uil-comment-alt-dots text-xl col-span-2"/>
              <el-select
                class="col-span-10"
                v-model="scope.row.staff.id"
                :placeholder="`Select ${$t('label.associate')}`"
                size="small"
                @change="onChangeRosterDrawer(scope.row)"
                @visible-change="visibleChangeRoster(scope.row, $event)"
                @clear="visibleChangeRoster(scope.row, true)"
                clearable>
                  <el-option-group label="On Standby">
                    <el-option
                      v-for="item in standbyTableData"
                      :key="item.id"
                      :label="item.time? item.staff.firstName + ' ' + item.staff.lastName + ' (' +  item.time + ')' : item.staff.firstName + ' ' + item.staff.lastName"
                      :value="item.staff.id">
                    </el-option>
                  </el-option-group>

                  <el-option-group label="Not Yet Assigned">
                    <el-option
                      v-for="item in staffListUnassigned"
                      :key="item.id"
                      :label="item.firstName + ' ' + item.lastName"
                      :value="item.id">
                    </el-option>
                  </el-option-group>

                  <el-option-group class="hide-option-group" label="Already Assigned">
                    <el-option
                      v-for="item in staffListAssigned"
                      :key="item.id"
                      :label="item.firstName + ' ' + item.lastName"
                      :value="item.id">
                    </el-option>
                  </el-option-group>

                  <el-option-group class="hide-option-group" label="Inactive">
                    <el-option
                      v-for="item in staffListNotActive"
                      :key="item.id"
                      :label="item.firstName + ' ' + item.lastName"
                      :value="item.id">
                    </el-option>
                  </el-option-group>
              </el-select>
            </div>
            <!-- Rescuer List -->
            <div v-loading="rescuerLoading" class="grid grid-flow-row w-full py-2 my-1" v-if="scope.row.rescuers.items.length">
              Rescued by:
              <p v-for="item in scope.row.rescuers.items"
                :key="item.id">
                <i class="uil uil-comment-alt-dots text-xl text-primary"></i>
                <span
                  @click="handleCommand({driver: scope.row, action: 'rescuer'})"
                  class="delivery-associate-lists col-span-12">{{ rescuedByFormated(item) }}</span>
              </p>
            </div>
            <!-- Helper List -->
            <div v-loading="helperLoading" class="grid grid-flow-roww-full py-2 my-1" v-if="scope.row.helpers.items.length">
              Helped by:
              <p v-for="item in scope.row.helpers.items"
                :key="item.id">
                <i class="uil uil-comment-alt-dots text-xl text-primary"></i>
                <span
                  class="delivery-associate-lists col-span-12"
                  @click="handleCommand({driver: scope.row, action: 'helper'})">{{ item.staff.firstName }} {{ item.staff.lastName }}</span>
              </p>
            </div>
            <!-- Replacement List -->
            <div class="grid grid-flow-row w-full py-2 my-1" v-if="scope.row.replacedByStandbyByRoute.items.length">
              <div v-for="item in scope.row.replacedByStandbyByRoute.items" :key="item.id">
                Replaced for:
                <p>
                  <i class="uil uil-comment-alt-dots text-xl text-primary"></i>
                  <span
                    class="delivery-associate-lists col-span-12"
                    @click="handleCommand({driver: scope.row, action: 'edit'})">{{ item.staff.firstName }} {{ item.staff.lastName }} ({{ item.status }})</span>
                </p>
              </div>
            </div>
          </template>
        </el-table-column>

        <!-- TIME COLUMN -->
        <el-table-column
          label="Wave Time"
          sortable
          width="145"
          prop="time"
          v-if="disabled.waveTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.time"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- VEHICLE COLUMN -->
        <el-table-column
          label="Vehicle"
          sortable
          width="200"
          prop="vehicle"
          v-if="disabled.vehicle">
          <template slot-scope="scope">
            <div class="grid grid-flow-row grid-cols-12 w-full gap-x-2 mb-1 pb-1">
              <el-select
                class="col-span-10"
                size="small"
                :disabled="true"
                :value="scope.row.vehicle.name"
                filterable>
              </el-select>
              <el-tooltip class="item col-span-2 mt-2" effect="dark" :content="vehicleOdometerContent" placement="top-start">
                <el-badge :value="2" type="warning" class="item">
                  <i class="uil uil-tachometer-fast text-lg text-yellow-600"></i>
                </el-badge>
              </el-tooltip>
            </div>
          </template>
        </el-table-column>

        <!-- DEVICE 1 COLUMN -->
        <el-table-column
          label="Device 1"
          sortable
          width="200"
          prop="device"
          v-if="disabled.device">
          <template slot-scope="scope">
            <el-select
              size="small"
              :disabled="true"
              :value="scope.row.device.deviceName" 
              filterable>
            </el-select>
          </template>
        </el-table-column>

        <!-- DEVICE 2 COLUMN : update var for device2-->
        <el-table-column
          label="Device 2"
          sortable
          width="200"
          prop="device2"
          v-if="disabled.device">
          <template slot-scope="scope">
            <el-select
              size="small"
              :disabled="true"
              :value="scope.row.device2.deviceName" 
              filterable>
            </el-select>
          </template>
        </el-table-column>

        <!-- ROUTE COLUMN -->
        <el-table-column
          label="Route"
          sortable
          width="150"
          prop="routeNumber"
          v-if="disabled.routeStaging">
          <template slot-scope="scope">
            <el-input
              size="small"
              v-model="scope.row.routeNumber"
              :disabled="scope.row.sweeper"
              :class="duplicatedCellClass(scope.row, 'route')"
              @change="updateRouteDetails(scope.row)">
            </el-input>
            <el-checkbox
              class="pt-1"
              v-model="scope.row.sweeper"
              @change="updateRouteDetails(scope.row)">
              Sweeper (ADR)
            </el-checkbox>
          </template>
        </el-table-column>

        <!-- STAGING COLUMN -->
        <el-table-column
          label="Staging"
          sortable
          width="150"
          prop="staging"
          v-if="disabled.routeStaging">
          <template slot-scope="scope">
            <el-input
              size="small"
              v-model="scope.row.staging"
              :disabled="scope.row.sweeper"
              :class="duplicatedCellClass(scope.row, 'stage')"
              @change="updateRouteDetails(scope.row)">
            </el-input>
          </template>
        </el-table-column> 

        <!-- PARKING COLUMN -->
        <el-table-column
          label="Parking"
          sortable
          width="150"
          prop="parkingSpace"
          v-if="disabled.parking">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.parkingSpace" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- STATUS COLUMN -->
        <el-table-column
          label="Status"
          sortable
          width="150"
          prop="status">
          <template slot-scope="scope">
            <div
              @click="updateStatusDrawer(scope.row, 'roster')"
              class="el-input el-input--small">
              <input
                v-model="scope.row.status"
                class="el-input__inner">
            </div>
          </template>
        </el-table-column> 

        <!-- NOTES COLUMN -->
        <el-table-column
          label="Notes"
          sortable
          width="150"
          prop="notes"
          v-if="disabled.notes">
          <template slot-scope="scope">
            <div class="grid grid-flow-row grid-cols-12 w-full gap-x-2">
              <div class="col-span-12 m-auto justify-items-auto">
                <el-tooltip effect="dark" placement="top" v-if="scope.row.notes">
                  <div slot="content" class="max-w-sm" v-html="indentNoteText(scope.row.notes)"></div>
                  <i class="uil-note uil-notes text-brand"
                    @click="handleCommand({driver: scope.row, action: 'edit'})" ></i>
                </el-tooltip>
                <i v-else class="uil-note uil-notes text-gray-500"
                  @click="handleCommand({driver: scope.row, action: 'edit'})" ></i>
              </div>
            </div>
          </template>
        </el-table-column> 

        <!-- TOTAL STOPS COLUMN -->
        <el-table-column
          label="Total Stops"
          sortable
          width="150"
          prop="totalStops"
          v-if="disabled.totalStops">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.totalStops" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!--TOTAL PACKAGES - COLUMN -->
        <el-table-column
          label="Total Packages"
          sortable
          width="150"
          prop="totalPackages">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.totalPackages" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- COMPLETED STOPS COLUMN -->
        <el-table-column
          label="Completed Stops"
          sortable
          width="200"
          prop="completedStops">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.completedStops" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- COMPLETED PACKAGES COLUMN -->
        <el-table-column
          label="Completed Packages"
          sortable
          width="200"
          prop="completedPackages">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.completedPackages" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES TOTAL COLUMN -->
        <el-table-column
          label="Undelivered Packages Total"
          sortable
          width="240"
          prop="undeliveredPackagesTotal"
          v-if="disabled.undeliveredPackagesTotal">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesTotal" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES BUSINESS CLOSE COLUMN -->
        <el-table-column
          label="Undelivered Packages Businness Close"
          sortable
          width="310"
          prop="undeliveredPackagesBusinessClose"
          v-if="disabled.undeliveredPackagesBusinessClosed">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesBusinessClose" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES UNABLE TO ACCESS COLUMN -->
        <el-table-column
          label="Undelivered Packages Unable To Access"
          sortable
          width="310"
          prop="undeliveredPackagesUnableToAccess"
          v-if="disabled.undeliveredPackagesUnableToAccess">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesUnableToAccess" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES OTHER AMAZON REASONS COLUMN -->
        <el-table-column
          label="Undelivered Packages Other Amazon Reasons"
          sortable
          width="350"
          prop="undeliveredPackagesOtherAWS">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesOtherAWS" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES WEATHER COLUMN -->
        <el-table-column
          label="Undelivered Packages Weather"
          sortable
          width="260"
          prop="undeliveredPackagesWeather">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesWeather" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES NO SAFE LOCATION COLUMN -->
        <el-table-column
          label="Undelivered Packages No Safe Location"
          sortable
          width="310"
          prop="undeliveredPackagesNoSafeLocation">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesNoSafeLocation" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES UNABLE TO LOCATE COLUMN -->
        <el-table-column
          label="Undelivered Packages Unable To Locate"
          sortable
          width="310"
          prop="undeliveredPackagesUnabletoLocate">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesUnabletoLocate" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES STATION CLOSURE COLUMN -->
        <el-table-column
          label="Undelivered Packages Station Closure"
          sortable
          width="300"
          prop="undeliveredPackagesStationClosure">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesStationClosure" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- UNDELIVERED PACKAGES Order Canceled COLUMN -->
        <el-table-column
          label="Undelivered Packages Order Canceled"
          sortable
          width="300"
          prop="undeliveredPackagesOrderCanceled">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.undeliveredPackagesOrderCanceled" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- PICK UP RETURN PACKAGE COLUMN-->
        <el-table-column
          label="Pick Up Return Package"
          sortable
          width="210"
          prop="pickUpReturnPackage"
          v-if="disabled.pickUpReturnedPackages">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.pickUpReturnPackage" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- ADDITIONAL PACKAGES FROM RESCUE COLUMN-->
        <el-table-column
          label="Additional Packages From Rescue"
          sortable
          width="270"
          prop="additionalPackagesFromRescue">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.additionalPackagesFromRescue" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- SPLIT WITH ROSTER ASSIGMENT COLUMN-->
        <el-table-column
          label="Split With Roster Assignment"
          sortable
          width="250"
          prop="splitWithRosterAssignment">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.splitWithRosterAssignment" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- ADDITIONAL PACKAGES FROM SPLIT COLUMN -->
        <el-table-column
          label="Additional Packages From Split"
          sortable
          width="260"
          prop="additionalPackagesFromSplit">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.additionalPackagesFromSplit" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- FIRST STOP TIME COLUMN-->
        <el-table-column
          label="First Stop Time"
          sortable
          width="150"
          prop="firstStopTime"
          v-if="disabled.firstStopTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.firstStopTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- LAST STOP TIME COLUMN-->
        <el-table-column
          label="Last Stop Time"
          sortable
          width="150"
          prop="lastStopTime"
          v-if="disabled.lastStopTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.lastStopTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- DA WORK START TIME COLUMN-->
        <el-table-column
          :label="`${$t('label.associate')} Work Start Time`"
          sortable
          width="180"
          prop="daWorkStartTime"
          v-if="disabled.DAWorkStartTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.daWorkStartTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- DA WORK END TIME COLUMN-->
        <el-table-column
          :label="`${$t('label.associate')} Work End Time`"
          sortable
          width="180"
          prop="daWorkEndTime"
          v-if="disabled.DAWorkEndTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.daWorkEndTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- DA ROUTE START TIME COLUMN-->
        <el-table-column
          :label="`${$t('label.associate')} Route Start Time`"
          sortable
          width="250"
          prop="daRouteStartTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.daRouteStartTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- DA ROUTE END TIME COLUMN-->
        <el-table-column
          :label="`${$t('label.associate')} Route End Time`"
          sortable
          width="250"
          prop="daRouteEndTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.daRouteEndTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- RTS TIME COLUMN-->
        <el-table-column
          label="RTS Time"
          sortable
          width="250"
          prop="rtsTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.rtsTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- LUNCH START TIME COLUMN-->
        <el-table-column
          label="Lucnh Start Time"
          sortable
          width="160"
          prop="lunchStartTime"
          v-if="disabled.lunchStartTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.lunchStartTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- LUNCH END TIME COLUMN-->
        <el-table-column
          label="Lucnh End Time"
          sortable
          width="160"
          prop="lunchEndTime"
          v-if="disabled.lunchEndTime">
         <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker 
                class="el-time-picker"
                v-model="scope.row.lunchEndTime"
                format="hh:mm a"
                value-format="HH:mm"
                placeholder="Select time"
                :disabled="true">
              </el-time-picker>
            </div>
          </template>
        </el-table-column>

        <!-- INSPECTION FUELED  COLUMN-->
         <el-table-column
          label="Inspection Fueled"
          sortable
          width="170"
          prop="inspectionFueled"
          v-if="disabled.inspectionFueled">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionFueled" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION CLEANED COLUMN-->
         <el-table-column
          label="Inspection Cleaned"
          sortable
          width="180"
          prop="inspectionCleaned"
          v-if="disabled.inspectionCleaned">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionCleaned" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION FLASHERS COLUMN-->
         <el-table-column
          label="Inspection Flashers"
          sortable
          width="220"
          prop="inspectionFlashers"
          v-if="disabled.inspectionFlashers">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionFlashers" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION CREDIT CARD COLUMN-->
         <el-table-column
          label="Inspection Credit Card"
          sortable
          width="220"
          prop="inspectionCreditCard"
          v-if="disabled.inspectionCreditCard">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionCreditCard" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION KEYS COLUMN-->
         <el-table-column
          label="Inspection Keys"
          sortable
          width="220"
          prop="inspectionKeys"
          v-if="disabled.inspectionKeys">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionKeys" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION DEVICE CHARGER COLUMN-->
         <el-table-column
          label="Inspection Device Charger"
          sortable
          width="220"
          prop="inspectionDeviceCharger"
          v-if="disabled.inspectionDeviceCharger">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionDeviceCharger" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION DEVICE BATTERY COLUMN-->
         <el-table-column
          label="Inspection Device Battery"
          sortable
          width="220"
          prop="inspectionDeviceBattery"
          v-if="disabled.inspectionDeviceBattery">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionDeviceBattery" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- INSPECTION NOTES COLUMN-->
         <el-table-column
          label="Inspection Notes"
          sortable
          width="160"
          prop="inspectionNotes"
          v-if="disabled.inspectionNotes">
          <template slot-scope="scope">
            <div class="el-input el-input--small">
              <input
                v-model="scope.row.inspectionNotes" 
                class="el-input__inner"
                :disabled="true">
            </div>
          </template>
        </el-table-column> 

        <!-- OPTION COLUMS -->
        <el-table-column
            fixed="right"
            width="45">
            <template slot-scope="scope" slot="header">
              <div class="flex align-middle p-1 space-x-2">
                <el-dropdown @command="handleCommand" class="flex-initial">
                    <ContextMenuHeaderIcon class="context-menu-header-hover"/>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item :command="{ scope: scope, action: 'amazon' }">Import From Amazon Scheduling File</el-dropdown-item> 
                        <el-dropdown-item :command="{ scope: scope, action: 'custom' }">Import From Custom CSV File</el-dropdown-item> 
                        <el-dropdown-item disabled :command="{ scope: scope, action: 'export' }">Export Daily Roster</el-dropdown-item>
                        <el-dropdown-item :command="{ scope: scope, action: 'add' }">Roster Single {{$t('label.associate')}}</el-dropdown-item>
                        <el-dropdown-item disabled :command="{ scope: scope, action: 'messageToAll' }">Send messages to all rostered {{$t('label.associates')}}</el-dropdown-item>
                        <el-dropdown-item disabled :command="{ scope: scope, action: 'messageByTime' }">Send messages to <span> {{ rosterWaveTime }} </span> {{$t('label.associates')}} now</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
              </div>
            </template>
            <template slot-scope="scope">
                <div class="flex align-middle p-1 space-x-2">
                  <el-dropdown @command="handleCommand" class="flex-initial">
                      <i class="context-menu uil uil-ellipsis-h"></i>
                      <el-dropdown-menu slot="dropdown" placement="bottom">
                          <el-dropdown-item :command="{driver: scope.row, action: 'edit'}">Edit Roster Assignment</el-dropdown-item>
                          <el-dropdown-item :command="{driver: scope.row, action: 'helper'}"> {{ scope.row.helpers.items.length ? 'Edit Helper(s)': 'Add Helper' }} </el-dropdown-item>
                          <el-dropdown-item :command="{driver: scope.row, action: 'rescuer'}"> {{ scope.row.rescuers.items.length ? 'Edit Rescuer(s)': 'Add Rescuer(s)' }} </el-dropdown-item>
                          <el-dropdown-item :command="{driver: scope.row, action: 'packages'}">Split Packages</el-dropdown-item>
                          <el-dropdown-item :command="{driver: scope.row, action: 'odometer'}">Add Odometer Reading</el-dropdown-item>
                          <el-dropdown-item :command="{driver: scope.row, action: 'delete'}" divided>Delete Roster Assigment</el-dropdown-item>
                      </el-dropdown-menu>
                  </el-dropdown>
                </div>
            </template>
        </el-table-column>
      </el-table>
			<p class="mt-4" v-if="!search">
				{{ totalNumberOfDAs }} Total Roster Assignments ({{ totalNumberOfDAsActive }} Active)
				<el-tooltip effect="dark" placement="top-start" >
          <div slot="content" class="w-80">
            {{ ToolTipcontent }}
          </div>
					<span class="toolTip">
            <i class="uil uil-question"></i>
					</span>
				</el-tooltip>
				</p>
			<p class="mt-4" v-else>Showing {{ totalSearchedDAs }} of {{ dailyRosterTableData.length }} Total Roster {{$t('label.associates')}}</p>
    </div>

    <!--CREATE DA Assigment -->
    <div class="flex space-x-2 items-center">
      <el-drawer
        :visible.sync="createDaAssignmentDrawer"
        :before-close="handleCreateClose"
        custom-class="assignment-drawer"
        with-header
        direction="rtl">
        <template slot="title">
          <el-row class="leading-normal p-1 pb-0">
            <el-col :span="24">
              <span class="text-lg">Add Roster Assignment</span>
            </el-col>
          </el-row>
        </template>
        <div class="assignment-drawer__content">
          <DailyRosterAssigment
            ref="daAssigmentForm"
            type="create"
            :formFields="newRouteData"
            :staffList="staffList"
            :standbyTableData="standbyTableData"
            :statusInAndOnTime="statusInAndOnTime"
            :statusNotIn="statusNotIn"
            :deviceListAssigned="deviceListAssigned"
            :deviceListNotActive="deviceListNotActive"
            :deviceListUnassigned="deviceListUnassigned"
            :parkingSpaceListAssigned="parkingSpaceListAssigned"
            :parkingSpaceListUnassigned="parkingSpaceListUnassigned"
            :staffListAssigned="staffListAssigned"
            :staffListNotActive="staffListNotActive"
            :staffListUnassigned="staffListUnassigned"
            :vehicleList="vehicleList"
            :vehicleListAssigned="vehicleListAssigned"
            :vehicleListUnassigned="vehicleListUnassigned"/>
        </div>
        <div class="assignment-drawer__footer flex justify-center gap-x-4 pb-4 mb-4" fixed>
            <el-button @click="handleCreateClose">Cancel</el-button>
            <el-button type="primary" @click="handleConfirmCreate">Create</el-button>
        </div>
      </el-drawer>
    </div>

    <!--EDIT DA Assigment -->
    <div class="flex space-x-2 items-center">
      <el-drawer
        :visible.sync="editDaAssignmentDrawer"
        :before-close="handleEditClose"
        custom-class="assignment-drawer"
        with-header
        direction="rtl">
        <template slot="title">
          <el-row class="leading-normal p-1 pb-0">
            <el-col :span="24">
              <span class="text-lg"> Edit Roster Assignment</span>
            </el-col>
          </el-row>
        </template>
        <div class="assignment-drawer__content">
          <DailyRosterAssigment
            ref="daAssigmentForm"
            type="edit"
            :formFields="editRouteData"
            :staffList="staffList"
            :standbyTableData="standbyTableData"
            :statusInAndOnTime="statusInAndOnTime"
            :statusNotIn="statusNotIn"
            :deviceListAssigned="deviceListAssigned"
            :deviceListNotActive="deviceListNotActive"
            :deviceListUnassigned="deviceListUnassigned"
            :parkingSpaceListAssigned="parkingSpaceListAssigned"
            :parkingSpaceListUnassigned="parkingSpaceListUnassigned"
            :staffListAssigned="staffListAssigned"
            :staffListNotActive="staffListNotActive"
            :staffListUnassigned="staffListUnassigned"
            :vehicleList="vehicleList"
            :vehicleListAssigned="vehicleListAssigned"
            :vehicleListUnassigned="vehicleListUnassigned"/>
        </div>
        <div class="assignment-drawer__footer flex justify-center gap-x-4 pb-4 mb-4" fixed>
            <el-button @click="handleEditClose">Cancel</el-button>
            <el-button type="primary" @click="handleConfirmEdit">Update</el-button>
        </div>
      </el-drawer>
    </div>

    <!-- Helpers Drawer -->
    <el-drawer
      :visible.sync="helperDaAssignmentDrawer"
      custom-class="helper-drawer"
      :before-close="handleCloseHelpers"
      with-header
      direction="rtl">
      <template slot="title">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">Manage Helpers</span>
          </el-col>
        </el-row>
      </template>
      <div class="helper-drawer__content">
        <HelperRosterAssignment
          title="Helper"
          @remove-helper="removeHelper"
          :route="helperRouteEdit"
          :routeStaffList="helperList"
          :standbyTableData="standbyTableData"
          :staffList="staffList"
          :staffListAssigned="staffListAssigned"
          :staffListNotActive="staffListNotActive"
          :staffListUnassigned="staffListUnassigned"
          :statusInAndOnTime="statusInAndOnTime"
          :statusNotIn="statusNotIn"/>
      </div>
      <div class="helper-drawer__footer p-4 flex justify-end">
        <el-button @click="handleCloseHelpers">Cancel</el-button>
        <el-button @click="handleConfirmHelpers" type="primary">Save</el-button>
      </div>
    </el-drawer>

    <!-- Rescuers Drawer -->
    <el-drawer
      :visible.sync="rescuerDaAssignmentDrawer"
      custom-class="rescuer-drawer"
      :before-close="handleCloseRescuers"
      with-header
      direction="rtl">
      <template slot="title">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">Manage Rescuers</span>
          </el-col>
          <el-col :span="24" class="leading-3">
            <span class="text-xs">Please specify how many packages each {{$t('label.associate')}} is rescuing.</span>
          </el-col>
        </el-row>
      </template>
      <div class="rescuer__content">
        <RescuerRosterAssignment
          title="Rescuers"
          label="Rescuer"
          @remove-rescuer="removeRescuer"
          :route="rescuerRouteEdit"
          :routeStaffList="rescuerList"
          :standbyTableData="standbyTableData"
          :staffList="staffList"
          :staffListAssigned="staffListAssigned"
          :staffListNotActive="staffListNotActive"
          :staffListUnassigned="staffListUnassigned"/>
      </div>
      <div class="rescuer__footer p-4 flex justify-end">
        <el-button @click="handleCloseRescuers">Cancel</el-button>
        <el-button v-if="rescuerList.items.some(rescuer => !rescuer.staff.id)" type="primary" disabled>Save</el-button>
        <el-button v-else @click="handleConfirmRescuers" type="primary">Save</el-button>
      </div>
    </el-drawer>

    <!-- Change Roster Assignment DA -->
    <el-drawer
      :visible.sync="changeDaAssignmentDrawer"
      custom-class="drawer"
      :before-close="handleCloseChangeDa"
      with-header
      direction="rtl">
      <template slot="title">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">Change Roster Assignment {{$t('label.associate')}}</span>
          </el-col>
          <el-col :span="24" class="leading-3">
            <span class="text-xs">Optionally, you can choose to keep a history of this replacement</span>
          </el-col>
        </el-row>
      </template>
      <div class="drawer__content">
        <ChangeDaAssignmentForm
          :route="changeDaRouteRow"
          :formFields="changeDaRouteRowEdit"
          :standbyTableData="standbyTableData"
          :staffListAssigned="staffListAssigned"
          :staffListNotActive="staffListNotActive"
          :staffListUnassigned="staffListUnassigned"
          :statusInAndOnTime="statusInAndOnTime"
          :statusNotIn="statusNotIn"/>
      </div>
      <div class="drawer__footer p-4 flex justify-end">
        <el-button @click="handleCloseChangeDa">Cancel</el-button>
        <el-button @click="handleConfirmChangeDa" type="primary">Update</el-button>
      </div>
    </el-drawer>

    <!-- Change Roster Assignment Status -->
    <el-drawer
      :visible.sync="statusDaAssignmentDrawer"
      custom-class="status-drawer"
      :before-close="handleCloseUpdateStatus"
      with-header
      direction="rtl">
      <template slot="title">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">Change Roster Assignment Status</span>
          </el-col>
          <el-col :span="24" class="leading-3">
            <span class="text-xs">Optionally, you can create {{$t('label.an_associate')}} issue and counselling</span>
          </el-col>
        </el-row>
      </template>
      <div class="status-drawer__content">
        <StatusRosterAssignment
          ref="statusRosterAssignment"
          :formFields="statusRouteData"
          :routeType="routeType"
          :standbyTableData="standbyTableData"
          :statusInAndOnTime="statusInAndOnTime"
          :statusNotIn="statusNotIn"/>
      </div>
      <div class="status-drawer__footer p-4 flex justify-end">
        <el-button @click="handleCloseUpdateStatus">Cancel</el-button>
        <el-button @click="handleConfirmUpdateStatus" type="primary">Update</el-button>
      </div>
    </el-drawer>

  </div>
</template>

<script>
  import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
  import DailyRosterAssigment from './forms/DaAssigment'
  import HelperRosterAssignment from './forms/HelperRosterAssignment'
  import StatusRosterAssignment from './forms/StatusRosterAssignment'
  import RescuerRosterAssignment from './forms/RescuerRosterAssignment'
  import { createRoute, deleteRoute, updateRoute, createReplacedByStandbyByRoute  } from '../graphql/mutations'
  import { createRouteStaffRescuer, updateRouteStaffRescuer, deleteRouteStaffRescuer, updateRouteStaffHelper, createRouteStaffHelper, deleteRouteStaffHelper, createCounseling, createInfraction } from '@/graphql/mutations'
  import { getRouteUpdatedTimestamp } from '@/utilities/timestampQueries'
  import { getTenant } from '@/graphql/queries'
  import { mapGetters, mapState } from 'vuex'
  import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
  import { COUNSELING_STATUS_NOT_SENT } from '@/utilities/constants/counseling';

  export default {
    name:'RoutesV2',
    props: [
      'routes',
      'dailyRosterTableData',
      'standbyTableData',
      'dailyRosterId',
      'staffList',
      'staffListAssigned',
      'staffListNotActive',
      'staffListUnassigned',
      'deviceListAssigned',
      'deviceListNotActive',
      'deviceListUnassigned',
      'vehicleList',
      'vehicleListAssigned',
      'vehicleListUnassigned',
      'parkingSpaceList',
      'parkingSpaceListAssigned',
      'parkingSpaceListUnassigned',
      'statusInAndOnTime',
      'statusNotIn',
      'date',
      'formattedDate',
      'yesterday'
    ],
    components: {
      ContextMenuHeaderIcon,
      DailyRosterAssigment,
      HelperRosterAssignment,
      RescuerRosterAssignment,
      StatusRosterAssignment
    },
    data() {
      return {
        createDaAssignmentDrawer: false,
        editDaAssignmentDrawer: false,
        rescuerDaAssignmentDrawer: false,
        helperDaAssignmentDrawer: false,
        statusDaAssignmentDrawer: false,
        ToolTipcontent: 'The Active number excludes roster assignments with a status of "Called Out", "No Show, No Call", and "Voluntary Time Off".',
        vehicleOdometerContent: '1 Odometer Reading from Daily Roster Today',
        rosterWaveTime: '9:40',
        search: '',
        newRouteData: {
          device: { id: null},
          device2: { id: null},
          staff: { id: null},
          vehicle: { id: null},
          accidentReport: {},
          injuryReport: {}
        },
        editRouteData: {},
        rescuerRouteEdit: {},
        helperRouteEdit: {},
        rescuerList: {
          items:[]
        },
        helperList: {
          items: []
        },
        statusRouteData: {
          status: null,
          createDaIssue: null,
          createCounseling: null,
          replaceWithDA: true,
          replaceByStandbyDA: null
        },
        routeType: null,
        route: {},
        rowLoading: {},
        rowRescuers: [],
        rowHelpers: [],
        rescuersToRemove: [],
        helpersToRemove: [],
        disabled: {
          waveTime: true,
          vehicle: true, 
          device: true,
          routeStaging: true, 
          parking: true,
          inspectionNotes: true,
          notes: true, 
          completedPackages: true, 
          undeliveredPackagesTotal: true,
          undeliveredPackagesBusinessClosed: true,
          undeliveredPackagesUnableToAccess: true, 
          pickUpReturnedPackages: true,
          firstStopTime: true, 
          lastStopTime: true,
          DAWorkStartTime: true,
          DAWorkEndTime: true,
          totalStops: true,
          lunchStartTime: true,
          lunchEndTime: true,
          inspectionFueled: true, 
          inspectionCleaned: true,
          inspectionFlashers: true,
          inspectionCreditCard:true,
          inspectionKeys:true,
          inspectionDeviceCharger:true, 
          inspectionDeviceBattery:true
        },
      }
    },
    mounted(){
      this.getTenant(this.userInfo.tenant.id)
    },
    methods: {
      updateStatusDrawer(row, routeType) {
          this.statusRouteData = { ...row }
          this.routeType = routeType
          this.statusDaAssignmentDrawer = true
      },

      handleCommand(command) {
        let row = command.driver
        if(command.action == "add") {
          this.createDaAssignmentDrawer = true
        }
        else if (command.action == "edit"){
          this.editRouteData = row
          this.editDaAssignmentDrawer = true
        }
        else if(command.action == "rescuer") {
          this.rescuerRouteEdit = row
          this.rescuerList.items.push(...row.rescuers.items)
          this.rescuerDaAssignmentDrawer = true
        }
        else if(command.action == "helper") {
          this.helperRouteEdit = row
          this.helperList.items.push(...row.helpers.items)
          this.helperDaAssignmentDrawer = true
        }
        else if (command.action == "delete"){
          this.confirmDeleteRoute(row)
        }
        
      },

      handleCreateClose() {
        this.createDaAssignmentDrawer = false
        this.cleanUpCreateForm()
      },

      handleEditClose() {
        this.cleanUpEditForm()
        this.$emit('load-data')
        this.editDaAssignmentDrawer = false
      },

      handleConfirmCreate() {
        this.createRoute();
        this.createDaAssignmentDrawer = false 
      },

      handleConfirmEdit() {
        this.updateRoute(this.editRouteData, 'edit')
        this.editDaAssignmentDrawer = false
      },

      handleConfirmUpdateStatus() {
        this.updateRoute(this.statusRouteData, 'standby')
      },

      /**
       * Create Route
       */
      async createRoute() {
        try {
                  
          var input = {
            ...this.newRouteData,
            routeDailyRosterId: this.dailyRosterId,
            routeVehicleId: this.newRouteData.vehicle.id,
            routeStaffId: this.newRouteData.staff.id,
            routeDeviceId: this.newRouteData.device.id,
            routeDevice2Id: this.newRouteData.device2.id,
            group: this.$store.state.userInfo.tenant.group
          }
          input = this.cleanRouteInput(input)
          if(!input.routeDeviceId) delete input.routeDeviceId
          if(!input.routeDevice2Id) delete input.routeDevice2Id
          if(!input.routeStaffId) delete input.routeStaffId
          if(!input.routeVehicleId) delete input.routeVehicleId
          if(!input.routeRescuerId) delete input.routeRescuerId

          await this.api(createRoute, { input })

          this.cleanUpCreateForm()
          this.$emit('load-data', 'routes')
        }
        catch(e){
          this.displayUserError(e)
        }
      },

      /**
       * Edit Route
       */
      async updateRoute(route, formType) {
        try {
          const standbyRouteStaff = route.replaceByStandbyDA ?  route.replaceByStandbyDA : null
          const replaceWithDa = route.replaceWithDA ? route.replaceWithDA : false

          await this.createDaIssueAndCounseling(route)
          await this.createReplaceByStandByRoute(route)
          await this.updateRouteDetails(route)
          await this.deleteStanbyRoute(replaceWithDa, standbyRouteStaff)

          // this.cleanupForm(formType)
          this.$emit('load-data', this.cleanupForm(formType))

        } catch(e) {
          this.displayUserError(e)
          return e
        }
      },

      /**
        Update Route Details
       */
      async updateRouteDetails(route) {

        const currentStaffStatus = route.status == 'Called Out' || route.status == 'No Show, No Call'
        const standbyRouteStaff = route.replaceByStandbyDA && currentStaffStatus? route.replaceByStandbyDA : null

        try {
          var timestamp = route.updatedAt
          const currentRouteStaffId = route.staff.id ? route.staff.id  : null
          const standbyRouteStaffId = standbyRouteStaff ? standbyRouteStaff.staff.id  : null
          const standbyRouteStaffStatus = standbyRouteStaff ? standbyRouteStaff.status  : route.status

          /**Remove  routeHelperId and routeRescuerId*/
          var input = {
            ...route,
            routeVehicleId: route.vehicle.id ? route.vehicle.id  : null,
            routeStaffId: standbyRouteStaffId ? standbyRouteStaffId : currentRouteStaffId,
            routeHelperId: null,
            routeDeviceId: route.device.id ? route.device.id : null,
            routeRescuerId: null,
            parkingSpace: route.parkingSpace
          }

          input = this.cleanUpdateRouteInput(input)
          input.updatedAt = timestamp
          input.status = standbyRouteStaffStatus
          await this.api(updateRoute, { input }, getRouteUpdatedTimestamp, 'getRoute')

        } catch(e) {
          this.printUserError(e)
          throw e
        }
      },

      /**
        Create Replace by Stand by Route
       */
      async createReplaceByStandByRoute(route) {

        const currentStaffStatus = route.status == 'Called Out' || route.status == 'No Show, No Call'
        const standbyRouteStaff = route.replaceByStandbyDA ?  route.replaceByStandbyDA : null
        const replaceWithDa = route.replaceWithDA ? route.replaceWithDA : false

        if(!(currentStaffStatus && standbyRouteStaff && replaceWithDa)) return

        try {
          var input = {
            group: this.$store.state.userInfo.tenant.group,
            routeNumber: route.routeNumber,
            status: route.status,
            time: route.timestamp ,
            replacedByStandbyByRouteRouteId: route.id,
            replacedByStandbyByRouteStaffId: route.staff.id,
            replacedByStandbyByRouteDailyRosterId: this.dailyRosterId
          }
          await this.api(createReplacedByStandbyByRoute, { input } )

        } catch(e) {
          this.printUserError(e)
          throw e
        }
      },
      
      /**
        Delete Stand by Route Roster
       */
      async deleteStanbyRoute(status, staff) {

        if(!(status && staff)) return

        try {
          var input = {
            id: staff.id
          }
          await this.api(deleteRoute, { input } )
        } catch(e) {
          this.printUserError(e)
          throw e
        }
      },

      /**
       * Create Rescuers
       */
      async createRescuers() {

        try {
          const existingRescuerStaff = this.rescuerRouteEdit.rescuers.items.map(item => item.staff.id )
          const rescuersToUpdate = this.rescuerList.items.filter(item => item.updated)
          const rescuersToAdd = this.rescuerList.items.filter(rescuer => !existingRescuerStaff.includes(rescuer.staff.id) && rescuer.staff.id)
          const rescuersToRemove = this.rescuersToRemove

          /**Adding new rescuers */
          rescuersToAdd.forEach(async (rescuer)=> {
            try {
              var input = {
                ...rescuer,
                group: this.$store.state.userInfo.tenant.group,
                staffId: rescuer.staff.id
              }
              delete input.staff
              await this.api(createRouteStaffRescuer, { input })
            }catch(e){
              throw e
            }
          })

          /**Updating rescuers' data */
          rescuersToUpdate.forEach(async (rescuer)=> {
            
            try {
              var input = {
                ...rescuer,
                staffId: rescuer.staff.id
              }
              input = this.cleanRescuerInput(input)
              await this.api(updateRouteStaffRescuer, { input })
            }catch(e){
              throw e
            }
          })

          /** Deleting rescuers */
          rescuersToRemove.forEach(async (rescuer) => {

            try {
              var input = {
                id: rescuer.id
              }
              await this.api(deleteRouteStaffRescuer, { input })
            } catch (e) {
              throw e
            }
          })

          this.handleCloseRescuers()
        } catch(e) {
          this.displayUserError(e)
        }
      },

      removeRescuer(staff) {
        this.rescuersToRemove.push(staff)
      },

      /**
       * Create Helpers
       */
      async createHelpers() {

        try {
          const existingHelperStaff = this.helperRouteEdit.helpers.items.map(item => item.staff.id )
          const helpersToUpdate = this.helperList.items.filter(item => item.updated)
          const helpersToAdd = this.helperList.items.filter(helper => !existingHelperStaff.includes(helper.staff.id) && helper.staff.id)
          const helpersToRemove = this.helpersToRemove

          // Create Da Issue and Counseling
          this.helperList.items
            .filter( helper => helper.staff.id && ( helper.createCounseling || helper.createDaIssue ))
            .forEach(async (helper) => {
              await this.createDaIssueAndCounseling(helper)
          })

          // Add Helpers
          helpersToAdd.forEach(async (helper) => {
            try {
              var input = {
                ...helper,
                  group: this.$store.state.userInfo.tenant.group,
                  staffId: helper.staff.id,
                  daIssueCreated: helper.createDaIssue,
                  counselingCreated: helper.createCounseling,
              }
              input = this.cleanHelperInput(input)
              await this.api(createRouteStaffHelper, { input })
            }catch(e){
              throw e
            }
          })

          /**Updating helpers' data */
          helpersToUpdate.forEach(async (helper)=> {
            
            try {
              var input = {
                ...helper,
                staffId: helper.staff.id
              }
              input.daIssueCreated = input.createDaIssue
              input.counselingCreated = input.createCounseling
              input = this.cleanHelperInput(input)

              await this.api(updateRouteStaffHelper, { input })
            }catch(e){
              throw e
            }
          })

          /** Deleting rescuers */
          helpersToRemove.forEach(async (helper) => {

            try {
              var input = {
                id: helper.id
              }
              await this.api(deleteRouteStaffHelper, { input })
            } catch(e){
              throw e
            }
          })

          this.handleCloseHelpers()
          
        } catch (e) {
          this.displayUserError(e)
        }

      },

      removeHelper(staff) {
        this.helpersToRemove.push(staff)
      },

      /**
       * Create DA issue and Counseling
       */
      async createDaIssueAndCounseling(route) {

        const currentStaffStatus = route.status == 'Called Out' || route.status == 'No Show, No Call'

        if(!currentStaffStatus) return

        var staffID = route.staff.id
        var date = this.$moment(new Date())
        var createCounseling = route.createCounseling;
        var createInfraction = route.createDaIssue;
        var infractionType = route.status
        var counselingID = null

        if(createInfraction == true && createCounseling == true){
          var counselingRecord = await this.createCounseling(staffID, date)
          counselingID = counselingRecord.data.createCounseling.id
          await this.createInfraction(staffID, infractionType, date, counselingID)
        }
        else if(createInfraction == true){
          await this.createInfraction(staffID, infractionType, date, null)
        }

      },

      /**
       * Create a counseling record
       */
      async createCounseling(staffID, date){
        try{
            var input = {
              counselingStaffId: staffID, 
              counselingUserId: this.$store.state.userInfo.id,
              date, 
              counselingNotes: null,
              counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
              group: this.$store.state.userInfo.tenant.group,
              status: COUNSELING_STATUS_NOT_SENT,
              createdFrom: 'Daily Roster v2',
              tenantId: this.$store.state.userInfo.tenant.id
            }
    
            var counseling = await this.api(createCounseling, { input })
            return counseling
        }
        catch(e){
            throw e
        }
      },

      /**
       * Create an infraction record
       */
      async createInfraction(staffId, infractionType, date, counselingID){
        try{
            var input = {
              group: this.$store.state.userInfo.tenant.group,
              infractionTypeId: this.issueTypeList.find(item => item.option === infractionType)?.id,
              date,
              infractionStaffId: staffId, 
              staffId,
              comment: null
            }

            if(counselingID){
                input.infractionCounselingId = counselingID
            }

            var infraction = this.api(createInfraction, { input })
            return infraction
        }
        catch(e){
            throw e
        }
      },

      /** 
       * Prompts user if device should really be deleted
       * */
      async confirmDeleteRoute(row){
        this.$confirm(`This will permanently delete the ${this.$t('label.associate')} assignment. Continue?`, 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
           this.commitDeleteRoute(row)          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },

      async commitDeleteRoute(row){
        try {
          await this.api(deleteRoute, { input:{ id: row.id }} )
          this.editRouteData = {
            vehicle: {id: null},
            staff: {id: null},
            device: {id: null},
            accidentReport: {},
            injuryReport: {}
          }

          this.$message({
            type: 'success',
            message: `${this.$t('label.associate')} Assignment Deleted`
          });
          this.$emit('load-data', 'routes')
        }catch(e){
          this.displayUserError(e)
        }
      },

      handleCloseHelpers(){
        this.helperList.items = []
        this.helpersToRemove = []
        this.helperRouteEdit = {
          staff: {},
          rescuers: {
            items: []
          }
        }
        this.$emit('load-data')
        this.helperDaAssignmentDrawer =  false
      },

      handleCloseRescuers(){
        this.rescuerList.items = []

        this.rescuersToRemove = []
        this.rescuerRouteEdit = {
          staff: {},
          rescuers: {
            items: []
          }
        }
        this.$emit('load-data')
        this.rescuerDaAssignmentDrawer =  false
      },

      handleCloseUpdateStatus() {
        this.cleanUpdateStatusForm()
        this.statusDaAssignmentDrawer = false
      },

      handleConfirmRescuers() {
        this.createRescuers()
        this.rescuerDaAssignmentDrawer =  false
      },

      handleConfirmHelpers() {
        this.createHelpers()
        this.helperDaAssignmentDrawer =  false

      },

      cleanupForm(type) {
        if(type == 'edit') {
          this.cleanUpEditForm()
        }
        else if(type == 'standby') {
          this.cleanUpdateStatusForm()
        }
      },

      cleanUpCreateForm() {
        this.$refs.daAssigmentForm.$refs.form.resetFields()
        this.$refs.daAssigmentForm.$refs.form.clearValidate();
        
        this.newRouteData = {
          staff: { id: null},
          vehicle: { id: null},
          device: { id: null},
          device2: { id: null},
          accidentReport: {},
          injuryReport: {},
          createDaIssue: false,
          createCounseling: false,
          replaceWithDA: false,
          replaceByStandbyDA: null
        }
      },

      cleanUpEditForm() {
        this.$refs.daAssigmentForm.$refs.form.resetFields()
        this.$refs.daAssigmentForm.$refs.form.clearValidate();
        
        this.editRouteData.createDaIssue = false
        this.editRouteData.createCounseling = false
        this.editRouteData.replaceWithDA = false
        this.editRouteData.replaceByStandbyDA= null

        this.editRouteData = {
          staff: { id: null},
          vehicle: { id: null},
          device: { id: null},
          device2: { id: null},
          accidentReport: {},
          injuryReport: {},
          createDaIssue: false,
          createCounseling: false,
          replaceWithDA: false,
          replaceByStandbyDA: null
        }
      },

      cleanUpdateStatusForm() {
        this.$refs.statusRosterAssignment.$refs.form.resetFields()

        this.statusRouteData.createDaIssue = null
        this.statusRouteData.createCounseling = null
        this.statusRouteData.replaceByStandbyDA = null

        this.statusDaAssignmentDrawer = false
      },

      async getTenant(id){
        let input = {
          id: id,
        }
        let tenant = await this.api(getTenant, input)
        let columns = JSON.parse(tenant.data.getTenant.rosterColumns)

        columns.forEach((col) => {
          switch(col.id){
            case 1:
              this.disabled.waveTime = true
              break
            case 2:
              this.disabled.vehicle = true
              break
            case 3:
              this.disabled.device = true
              break
            case 4:
              this.disabled.routeStaging = true
              break
            case 5:
              this.disabled.parking = true
              break
            case 6:
              this.disabled.inspectionNotes = true
              break
            case 7:
              this.disabled.notes = true
              break
            case 8:
              this.disabled.completedPackages = true
              break
            case 9:
              this.disabled.undeliveredPackagesTotal = true
              break
            case 10:
              this.disabled.undeliveredPackagesBusinessClosed = true
              break
            case 11:
              this.disabled.undeliveredPackagesUnableToAccess = true
              break
            case 12:
              this.disabled.pickUpReturnedPackages = true
              break
            case 13:
              this.disabled.firstStopTime = true
              break
            case 14:
              this.disabled.lastStopTime = true
              break
            case 15:
              this.disabled.DAWorkStartTime = true
              break
            case 16:
              this.disabled.DAWorkEndTime = true
              break
            case 17:
              this.disabled.totalStops = true
              break
            case 18:
              this.disabled.lunchStartTime = true
              break
            case 19:
              this.disabled.lunchEndTime = true
              break
            case 20:
              this.disabled.inspectionFueled = true
              break
            case 21:
              this.disabled.inspectionCleaned = true
              break
            case 22:
              this.disabled.inspectionFlashers = true
              break
            case 23:
              this.disabled.inspectionCreditCard = true
              break
            case 24:
              this.disabled.inspectionFlashers = true
              break
            case 25:
              this.disabled.inspectionKeys = true
              break
            case 26:
              this.disabled.inspectionDeviceCharger = true
              break
            case 27:
              this.disabled.inspectionDeviceBattery = true
              break
            default:
              console.log("Error: Not ID columns");
          }

          console.log(col)

        })
      }

    },
    computed: {
      ...mapState([
        'userInfo'
      ]),

      ...mapGetters([
        'counselingSeverityTypeList',
        'issueTypeList',
      ]),

			totalNumberOfDAs() {
				return this.dailyRosterTableData.length
			},

			totalNumberOfDAsActive() {
				return this.routes.filter( driver => driver.standby != true && !(driver.status == 'Called Out' || driver.status == 'No Show, No Call' || driver.status == 'VTO')).length
			},
			totalSearchedDAs() {
				return this.filterArray( this.dailyRosterTableData, this.search ).length
			}
    }
  }
</script>
<style>
  .duplicateSelectCell{
    height: 3rem;
  }
  .duplicateSelectCell input{
    @apply border-red-500 border !important;
  }
  .duplicateSelectCell:after{
    @apply text-red-500 py-1 absolute block !important;
    line-height: 1;
    left: 10px;
  }
  .duplicateRoute:after{
    content: "Duplicate Route" !important;
  }
  .duplicateStage:after{
    content: "Duplicate Staging" !important;
  }
</style>
<style scoped>
  .newStandbyDriverForm .el-select{
    width: 100%;
  }
  .el-dialog__footer{
    @apply mt-4 !important;
  }
	.toolTip {
		@apply bg-brand text-white align-middle rounded-full
	}
</style>

<style lang="scss">
  @media screen and (max-width: 767px) {
    .assignment-drawer {
      width: 85% !important;
    }
    .helper-drawer {
      width: 85% !important;
    }
    .status-drawer {
      width: 85% !important;
    }
  }
  // Ipad
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .assignment-drawer {
      width: 50% !important;
    }
    .helper-drawer {
      width: 50% !important;
    }
    .status-drawer {
      width: 50% !important;
    }
  }
  @media screen and (min-width: 1025px) {
    .status-drawer {
      width: 28% !important;
    }
  }

  .routes-table-cell {
    vertical-align: baseline !important;
    margin: 1rem;
    padding: 1rem;
  }
</style>