<template>
	<div>
    <!-- STANDBY DRIVERS -->
    <div data-cy="add-standby-associate" class="container border rounded-lg shadow  p-4 mt-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center">
          <p class="text-gray-600 text-base font-bold">STANDBY {{$t('label.ASSOCIATES')}}</p>
        </div>
        <div class="flex space-x-2 items-center">
          <el-button data-cy="add-standby-da" size="small" type="primary" @click="newStandbyDriverModalOpen = true" >Add Standby {{$t('label.associate')}}</el-button>
          <el-input
            v-model="standbySearch"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."
            class="w-full flex-1"/>  
        </div>
      </div> 
     
			<el-table
        ref="standbyTable"
        class="w-full border rounded-lg shadow  "
        :empty-text="`No Standby ${$t('label.associates')}`"
        :default-sort="{prop: 'time', order: 'ascending'}"
        style="width: 100%"
        row-class-name="align-baseline"
        :data="filterArray ( standbyTableData, standbySearch )"
        v-if="standbyTableData">
        
        <!-- Time Column -->
        <el-table-column
          v-if="false"
          label="Time"
          sortable
          prop="time"
          width="145"          
          :sort-method="timeSort"
          >
          <template slot-scope="scope">
            <div class="el-input--small">
              <el-time-picker
                class="el-time-picker"
                :editable="false"
                v-model="scope.row.time" format="hh:mm a"
                value-format="HH:mm"
                @change="updateRow(scope.row, 'time')" 
                placeholder="Select time">
              </el-time-picker>
            </div>
          </template>
        </el-table-column> 
       
       <!-- Delivery Associate -->
        <el-table-column
          :label="$t('label.associate')"
          sortable
          sort-by="staff.firstName"
          prop="staff">
          <template slot-scope="scope">
            <el-select
              data-cy="staffId"
              size="small"
              v-model="scope.row.staff.id" 
              placeholder="Select"
              filterable
              :class="driverCellClass(scope.row.staff, 'driver')"
              @change="updateRow(scope.row, 'standby')"
              clearable>

              <el-option-group label="Not Yet Assigned">
                <el-option
                  v-for="item in staffListUnassigned"
                  :key="item.id"
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>

              <el-option-group label="Already Assigned">
                <el-option
                  v-for="item in staffListAssigned"
                  :key="item.id"
                  disabled
                  :label="item.firstName + ' ' + item.lastName"
                  :value="item.id">
                </el-option>
              </el-option-group>
            </el-select>
          </template>
        </el-table-column>

        <!-- STATUS COLUMN -->
        <el-table-column
          label="Status"
          sortable
          prop="status">
          <template slot-scope="scope">
            <div
              class="el-input el-input--small">
              <input
                @click="updateStatusDrawer(scope.row, 'standby')"
                v-model="scope.row.status"
                class="el-input__inner input-status">
            </div>
          </template>
        </el-table-column>

        <!-- <el-table-column
          label="Status"
          sortable
          sort-by="status"
          prop="status">
          <template slot-scope="scope">
            <el-select
              size="small"
              v-model="scope.row.status" 
              placeholder="Select"
              filterable
              @change="updateRow(scope.row, 'standby')"
              clearable>
              <el-option-group>
								<el-option
									v-for="status in statusInAndOnTime"
									:key="status.id"
									:label="status.value"
									:value="status.value">
								</el-option>
              </el-option-group>

              <el-option-group>
								<el-option
									v-for="status in statusNotIn"
									:key="status.id"
									:label="status.value"
									:value="status.value">
								</el-option>
              </el-option-group>
            </el-select>
          </template>
        </el-table-column> -->

        <el-table-column align="right" width="60">
          <template slot-scope="scope">
            <div data-cy="delete" class="flex justify-between items-center">
              <i 
                :title="`Delete Standby ${this.$t('label.associate')}`"
                @click="confirmDeleteStandby(scope.row)" 
                class="icon-button hover:text-red-500 uil uil-trash-alt"/>
            </div>
          </template>
        </el-table-column>
			</el-table>
			<p class="mt-4" v-if="!standbySearch">
				{{ totalNumberOfStandByDAs }} Total Standby Roster Assignments ({{ totalNumberOfStandyDAsActive }} Active)
				<el-tooltip effect="dark" placement="top-start" >
          <div slot="content" class="w-80">
            {{ ToolTipcontent }}
          </div>
					<span class="toolTip">
            <i class="uil uil-question"></i>
					</span>
				</el-tooltip>
      </p>
			<p class="mt-4" v-else>Showing {{ totalSearchedStandByDAs }} of {{ standbyTableData.length }} Total Standby {{$t('label.associates')}}</p>
    </div>

    <!--NEW STANDBY MODAL-->
    <el-dialog
      :title="addStandbyDriverWindowTitle"
      :visible.sync="newStandbyDriverModalOpen"
      :close-on-click-modal="false"
      :show-close="false">

			<StandByDriverForm
				:newStandbyDriverData="newStandbyDriverData"
				:staffListUnassigned="staffListUnassigned"
				:staffListAssigned="staffListAssigned"
        :statusInAndOnTime="statusInAndOnTime"
        :statusNotIn="statusNotIn"/>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleNewStandbyCancel">Cancel</el-button>
        <el-button type="primary" @click="createStandbyDriver" :disabled="loading">Confirm</el-button>
      </span>
    </el-dialog>

    <!-- Change Roster Assignment Status -->
    <el-drawer
      :visible.sync="standbyDaAssignmentDrawer"
      custom-class="status-drawer"
      :before-close="handleCloseUpdateStatus"
      with-header
      direction="rtl">
      <template slot="title">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">Change Roster Assignment Status</span>
          </el-col>
          <el-col :span="24" class="leading-3">
            <span class="text-xs">Optionally, you can create {{$t('label.an_associate')}} issue and counselling</span>
          </el-col>
        </el-row>
      </template>
      <div class="status-drawer__content">
        <StatusRosterAssignment
          ref="statusRosterAssignment"
          :formFields="statusRouteData"
          :routeType="routeType"
          :standbyTableData="standbyTableData"
          :statusInAndOnTime="statusInAndOnTime"
          :statusNotIn="statusNotIn"/>
      </div>
      <div class="status-drawer__footer p-4 flex justify-end">
        <el-button @click="handleCloseUpdateStatus">Cancel</el-button>
        <el-button @click="handleConfirmUpdateStatus" type="primary">Update</el-button>
      </div>
    </el-drawer>

	</div>
</template>
<script>
  import { createCounseling, createInfraction } from '@/graphql/mutations'
	import { createRoute, deleteRoute, updateRoute  } from '../graphql/mutations'
  import { getRouteUpdatedTimestamp } from '@/utilities/timestampQueries'
	import StandByDriverForm from  './forms/StandByDriverForm'
  import StatusRosterAssignment from './forms/StatusRosterAssignment'
  import moment from 'moment';
  import { COUNSELING_SEVERITY_CREATE_COUNSELING } from '@/utilities/constants/defaultSectionsByCustomList';
  import { COUNSELING_STATUS_NOT_SENT } from '@/utilities/constants/counseling';
  import { mapGetters } from 'vuex'

	export default {

		props: [
      'routes',
      'standbyTableData',
      'dailyRosterId',
      'staffList',
      'staffListAssigned',
      'staffListNotActive',
      'staffListUnassigned',
      'statusInAndOnTime',
      'statusNotIn',
      'date'
    ],
		components: {
			StandByDriverForm,
      StatusRosterAssignment
		},
		
		data() {
			return {
				loading: false,
				newStandbyDriverModalOpen: false,
        standbyDaAssignmentDrawer: false,
				standbySearch: '',
        routeType: null,
				newStandbyDriverData: {
					time: '',
					status: '',
					staff: { id: null}
				},
        statusRouteData: {
          status: null,
          createDaIssue: false,
          createCounseling: false,
        },
        editRouteData: {},
				ToolTipcontent: 'The Active number excludes roster assignments with a status of "Called Out", "No Show, No Call", and "Voluntary Time Off".',
			}
		},

		methods: {

			/**
			 * Update Route
			 */

      async updateRoute() {
        try {
          var timestamp = this.editRouteData.updatedAt
          var input = {
            ...this.editRouteData,
            routeVehicleId: this.editRouteData.vehicle.id ? this.editRouteData.vehicle.id  : null,
            routeStaffId: this.editRouteData.staff.id ? this.editRouteData.staff.id  : null,
            routeHelperId: null,
            routeDeviceId: this.editRouteData.device.id ? this.editRouteData.device.id : null,
            routeRescuerId: null,
            parkingSpace: this.editRouteData.parkingSpace
          }

          input = this.cleanRouteInput(input)
          if (input.helpers) delete input.helpers
          if (input.rescuers) delete input.rescuers
          if (input.replacedByStandbyByRoute) delete input.replacedByStandbyByRoute
          input.updatedAt = timestamp
          await this.api(updateRoute, { input: input }, getRouteUpdatedTimestamp, 'getRoute')
          this.$emit('load-data')
        } catch(e) {
          this.displayUserError(e)
          return e
        }
      },

      /**
       * Update Row
       */
			async updateRow(row, trigger, drawer = false ) {

				this.editRouteData = row

        try {

          await this.createDaIssueAndCounseling(this.editRouteData)
          delete this.editRouteData.createDaIssue
          delete this.editRouteData.createCounseling
          await this.updateRoute()

          if(drawer) this.handleCloseUpdateStatus()
        } catch(e) {
          this.displayUserError(e)
        }
			},

      /**
       * Create DA issue and Counseling
       */
      async createDaIssueAndCounseling(route) {

        // const currentStaffStatus = route.status == 'Called Out' || route.status == 'No Show, No Call'

        // if(!currentStaffStatus) return

        var staffID = route.staff.id
        var date = this.$moment(new Date())
        var createCounseling = route.createCounseling;
        var createInfraction = route.createDaIssue;
        var infractionType = route.status
        var counselingID = null

        if(createInfraction == true && createCounseling == true){
          var counselingRecord = await this.createCounseling(staffID, date)
          counselingID = counselingRecord.data.createCounseling.id
          await this.createInfraction(staffID, infractionType, date, counselingID)
        }
        else if(createInfraction == true){
          await this.createInfraction(staffID, infractionType, date, null)
        }
      },

      /**
       * Create a counseling record
       */
      async createCounseling(staffID, date){
        try{
            var input = {
              counselingStaffId: staffID, 
              counselingUserId: this.$store.state.userInfo.id,
              date, 
              counselingNotes: null,
              counselingSeverityId: this.counselingSeverityTypeList.find(item => item.isDefaultForSections?.includes(COUNSELING_SEVERITY_CREATE_COUNSELING))?.id,
              group: this.$store.state.userInfo.tenant.group,
              tenantId: this.$store.state.userInfo.tenant.id,
              status: COUNSELING_STATUS_NOT_SENT,
              createdFrom: "Daily Roster v2" //StandByRoute
            }
    
            var counseling = await this.api(createCounseling, { input })
            return counseling
        }
        catch(e){
            throw e
        }
      },

      /**
       * Create an infraction record
       */
      async createInfraction(staffId, infractionType, date, counselingID){
        try{
            var input = {
              group: this.$store.state.userInfo.tenant.group,
              infractionTypeId: this.issueTypeList.find(item => item.option === infractionType)?.id,
              date,
              infractionStaffId: staffId, 
              staffId,
              comment: null
            }

            if(counselingID){
                input.infractionCounselingId = counselingID
            }

            var infraction = this.api(createInfraction, { input })
            return infraction
        }
        catch(e){
            throw e
        }
      },

      /** 
       * Prompts user if device should really be deleted
       * */
      async confirmDeleteStandby(row){
        this.$confirm(`This will permanently delete the standby ${this.$t('label.associate')} assignment. Continue?`, 'Warning', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.commitDeleteStandby(row)          
        }).catch(() => {
          console.log("canceled delete")         
        });
      },

      /** 
       * Delete route from DB 
       * @param {Object} row Table row to delete
       * @param {Bool} silent Show dialogue or not
       * */
      async commitDeleteStandby(row, silent){
        try{
          await this.api(deleteRoute, { input:{ id: row.id } } )
          this.$emit('load-data')
          if(!silent){
            this.$message({
              type: 'success',
              message: `Standby ${this.$t('label.associate')} Assignment Deleted`
            });
          }
        }catch(e){
          this.displayUserError(e)
        }
      },

      handleConfirmUpdateStatus() {
        this.updateRow(this.statusRouteData, 'route', true)
      },

      /**
      * Adds a new standby driver for the currently selected daily roster using GraphQl
      */
      async createStandbyDriver(){
        this.loading = true
        try{
          
          var input = {
            ...this.newStandbyDriverData,
            routeDailyRosterId: this.dailyRosterId,
            routeStaffId: this.newStandbyDriverData.staff.id,
            standby: true,
            group: this.$store.state.userInfo.tenant.group
          }
          input = this.cleanRouteInput(input)
          if(!input.routeStaffId) delete input.routeStaffId

          await this.api(createRoute, {input})

          //Clean up app state
          this.newStandbyDriverModalOpen = false
          this.newStandbyDriverData = {
            time: null,
            staff: { id: null}
          }
          this.$emit('load-data', 'standby')
        }
        catch(e){
          this.displayUserError(e)
        }finally {
          this.loading = false
        }
      },

      /**
       * Sort Time
       */
      timeSort(a,b){
        return new Date('1970/01/01 ' + a.time.replace(/(a|p|A|P)(m|M)$/g, " $1$2")) - new Date('1970/01/01 ' + b.time.replace(/(a|p|A|P)(m|M)$/g, " $1$2"));
      }, 

      /** 
       * Handles Cancel button clicks on new standby modal
       **/
      handleNewStandbyCancel(){
        this.newStandbyDriverModalOpen = false
        this.newStandbyDriverData = {
          time: '',
          staff: { id: null}
        }
      },

			/**
			 * Applies the required cell class to the appropriate column cells
			 * @param {Object} driver main driver or helper of table 
			 */
			driverCellClass(driver, type){
				var empty = !driver.id
				// var duplicate = this.dailyRosterTableData.filter((da) => {
				// 	return (da.staff.id == driver.id) || (da.helper.id == driver.id)
				// }).length > 1
				if(empty && (type == "driver")) return 'requiredSelectCell requiredDriver'
				else if(empty && (type == "helper")) return 'requiredSelectCell requiredHelper'
				else if(type == "rescuer") return ''
				// else if(duplicate) return 'duplicateSelectCell duplicateDriver'
				else return ''
			},

      updateStatusDrawer(row, routeType) {
          this.statusRouteData = row
          this.routeType = routeType
          this.standbyDaAssignmentDrawer = true
      },

      handleCloseUpdateStatus() {
        this.cleanUpStanbyForm()
        this.standbyDaAssignmentDrawer = false
        this.$emit('load-data')
      },

      cleanUpStanbyForm() {
        this.$refs.statusRosterAssignment.$refs.form.resetFields()

        this.statusRouteData.createDaIssue = false
        this.statusRouteData.createCounseling = false

      }

		},
		computed: {
      ...mapGetters([
        'counselingSeverityTypeList',
        'issueTypeList',
      ]),

      addStandbyDriverWindowTitle() {
        return `Add Standby ${this.$t('label.associate')} for ${moment(this.date.getTime()).format("dddd MM/DD/YYYY")}`
      },

			totalNumberOfStandByDAs() {
				return this.standbyTableData.length
			},

			totalNumberOfStandyDAsActive() {
				return this.routes.filter( driver => driver.standby == true && !(driver.status == 'Called Out' || driver.status == 'No Show, No Call' || driver.status == 'VTO')).length
			},
			totalSearchedStandByDAs() {
				return this.filterArray( this.standbyTableData, this.standbySearch ).length
			}
		}
	}
</script>
<style scoped>
  .newStandbyDriverForm .el-select{
    width: 100%;
  }
  .el-dialog__footer{
    @apply mt-4 !important;
  }
	.toolTip {
		@apply bg-brand text-white align-middle rounded-full
	}
  .input-status {
    width: 250px;
  }
</style>
<style lang="scss">
  @media screen and (max-width: 767px) {
    .status-drawer {
      width: 85% !important;
    }
  }
  // Ipad
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .status-drawer {
      width: 50% !important;
    }
  }
  @media screen and (min-width: 1025px) {
    .status-drawer {
      width: 28% !important;
    }
  }
</style>