<template>
  <div>
    <vue-editor
      ref="editor"
      class="text-xs"
      spaceAfterInsert
      :disabled="disable"
      v-model="editorContent"
      @input="handleChangedContent"
      :editorOptions="d_editorOptions">
    </vue-editor>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import "quill-mention";

export default {
  name:'TextEditor',
  components: {
    VueEditor
  },
  props:['content', 'list', 'disable'],
  mounted() {
    this.editorContent =  this.content
  },
  data() {
    return {
      editorContent: null,
    };
  },
  methods: {
    handleChangedContent() {
      this.$emit('handleContent', this.editorContent)
    }
  },
  computed: {
    d_editorOptions() {
      const { d_atValues } = this;
      
      return {
        theme: null,
        modules: {
          toolbar: false,
          mention: {
            allowedChars: /^.{1,50}$/,
            offsetTop: 4,
            defaultMenuOrientation: 'top',
            mentionDenotationChars: ["@"],
            showDenotationChar: false,
            minChars: 2,
            dataAttributes: ['id', 'value', 'type'],
            source: function (searchTerm, renderList) {
              const values = d_atValues;
              let matches = [];
                for (let i = 0; i < values.length; i++){
                  if (~values[i].value.toLowerCase().indexOf(searchTerm.toLowerCase())){
                    matches.push(values[i]);
                  }
                }
                if(matches.length == 0 ) return renderList([{ value: 'No matches found' }], null);
                return renderList(matches.slice(0,4), searchTerm);
            },
            onSelect(item, insertItem) {
              if((item.value).includes('No matches found'))return insertItem(null)
              return insertItem(item)
            }
          },
        },
      };
    },
    d_atValues() {
      return this.list
    }
  },
  watch: {
    'content'(val, old) {
      this.editorContent = val
    }
  }
};
</script>
<style lang="scss">
  .ql-editor {
    min-height: 100px !important;
    p {
      @apply leading-4 text-sm
    }
  }

  .ql-mention-list-container {
    @apply shadow-xl rounded-lg;
    border-radius: 12px ;
  }

  .ql-mention-list {
    @apply bg-white p-2 rounded-lg text-xs;
    .selected {
      @apply bg-brand text-white text-xs
    }
  }

  .ql-mention-list-item {
    @apply pl-2 pr-2 rounded-lg leading-loose text-xs;
     &:hover {
      @apply bg-brand text-white text-xs
    }
  }

  .mention {
    pointer-events: none;
  }
  
  .mention > [contenteditable=false] {
    color: #fff;
    font-size: .65rem;
    @apply bg-brand rounded-lg shadow p-1;
    display:inline-block;
    line-height: .05rem;
  }
  
  .notesMentionable  .mention > [contenteditable=false]::after {
    padding-left: .5rem;
    content: "\25bc";
    color: #fff;
    display:inline-block;
    pointer-events:all;
  }

  .editModalMentionable .mention > [contenteditable=false]::after {
    padding-left: .5rem;
    content: "\2716";
    color: #fff;
    display:inline-block;
    pointer-events:all;
  }

  [contenteditable=false]:hover:after {
    cursor: pointer;
  }
</style>