.vertical-timeline{
    margin: unset;
    padding:1em 0;
}

.vertical-timeline-element{
    margin:2em 0;
}

.vertical-timeline-element-icon{
    text-align:center;
    padding: 12px 15px;
    width:60px;
    height:60px;
    box-shadow: 0px 2px 12px rgba(238, 238, 238, 1);
    background-color:white;
}


.vertical-timeline-element span{
    color:#13C95F;
    font-size:20px;
}

.vertical-timeline-element p{
    font-size: 13px;
    text-align: left;
    line-height: unset;
}


.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 30px;
    height: 75%;
    width: 1px;
    background: #E6E6E6;
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 90px;
    background: transparent;
    border-radius: .25em;
    padding: 0.5em;
    box-shadow: unset;
    width:100%;
}

.vertical-timeline-element-content::before{
    content:unset;
}

.vertical-timeline-element-content .vertical-timeline-element-date{
    padding:unset;
}

.vertical-timeline-element-content p {
    margin: 0 0 0;
    line-height: 1.6;
}
