<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">   
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Get User Public IP Address -->
    <script type="application/javascript">	  
      function getIP(json) {
        window.ip = json.ip;
      }
    </script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP" async></script>
    <!-- INTERCOM -->
    <script>
      let subdomain =  window.location.host.split('.')[1] ? window.location.host.split('.')[0] : false;
      let intercomId = (subdomain == 'dsp') ? "mcgspun9" : "vzerjp1d"
      
      window.intercomSettings = {
        app_id: intercomId
      };
      // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/mcgspun9'
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/' + intercomId;var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>

    <!-- STRIPE -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- COOKIE BANNER -->
    <script>
      let locationPathName = window.location.pathname

      let excludeCookieBanner = [
        '/cs/', '/counseling-signature/complete', '/f/', '/notification-preferences/', '/u/'
      ]

      if (!excludeCookieBanner.find(item => locationPathName.includes(item))) (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = '6cee0ae5-76db-4e82-af22-79efb0715644';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      })();
    </script>

    <!-- DAILY ROSTER V2 -  DROPDOWN -->
    <script>
      let dropdown = null;
      let vueComponent = null;

      // window.addEventListener('mention-hovered', (event) => {console.log('hovered: ', event)}, false);
      window.addEventListener('mention-clicked', displayDropDown , false);

      function setVueComponent(component) {
        vueComponent = component
      }

      function displayDropDown (e) {
        let daDropdown = document.querySelector('.da-dropdown').querySelector('.el-dropdown-link')
        let vehicleDropDown = document.querySelector('.vehicle-dropdown').querySelector('.el-dropdown-link')

        let isEditModalMentionable = e.event.path.some(item => item.className === 'editModalMentionable' )

        if(isEditModalMentionable) {
          let mention = e.event.path.find(item => item.className === 'editModalMentionable' )
          mention.querySelector('[data-id="'+ e.value.id +'"]').remove()
        }

        vueComponent.setMentionItem(e.value)
        if(e.value.type == 'DA') {
          dropdown = document.querySelector('.da-dropdown')
          setPosition(e.event)
          daDropdown.click()
          return;
        }
        else {
          dropdown = document.querySelector('.vehicle-dropdown')
          setPosition(e.event)
          vehicleDropDown.click()
          return;
        }
      }
      
      function setPosition(event) {
        var xPosition = event.clientX - vueComponent.$el.getBoundingClientRect().left - (dropdown.clientWidth / 2) + 20;
        var yPosition = event.clientY - vueComponent.$el.getBoundingClientRect().top - (dropdown.clientHeight / 2) + 20;
        dropdown.style.left = xPosition + "px";
        dropdown.style.top = yPosition + "px";
      }
    </script>
  </body>
</html>
