<template>
  <div v-loading="loading" class="daily-roster-standbys">
    <!-- report summaries -->

    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>Daily Roster Standbys</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="mb-4 grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-start-1 lg:col-end-5 md:col-start-1 md:col-end-7">
        <el-input
            class="w-full"
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."
        />
      </div>
      <div class="col-span-12 lg:col-end-13 lg:col-span-4 md:col-end-13 md:col-span-6 inline-flex">
        <el-badge class="item filter-by-status-badge text-center">Filter by Date</el-badge>
        <DateRangePiker
            v-model="dateRange"
            @change="loadData"
            class="date-filter w-full"
            dispatchOnCreate="true"
            defaultQuickOption="Current week"
            align="right"
            type="daterange"
            format="MM/dd/yyyy"
          />
      </div>
    </div>

    <!-- TABLE -->
      <el-table
        ref="table"
        empty-text="No Data"
        header-cell-class-name="table-header-cell"
        :default-sort = "{prop: 'status', order: 'ascending'}"
        style="width: 100%;"
        class="data-table"
        :data="filteredStaffTable"
        row-key="rowKey"
        >

        <el-table-column
          :label="`${$t('label.associate')} Name`"
          min-width="150"
          sortable
          :sort-method="sortBy('DA Name')">
          <template slot-scope="{ row }">
            {{row.staff.firstName}} {{row.staff.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          label="Standby Date"
          min-width="100"
          sortable
          prop="notesDate">
          <template slot-scope="{ row }">
            {{$moment(row.notesDate,"YYYY-MM-DD").format("MM/DD/YYYY")}}
          </template>
        </el-table-column>

        <el-table-column
          label="Status"
          min-width="100"
          sortable
          prop="status">
          <template slot-scope="{ row }">
            {{row.status||"No Status"}}
          </template>
        </el-table-column>

      </el-table>
      <p class="mt-4">{{ numberOfStaffs }} Total {{$t('label.associates')}}</p>

    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>

</div>
</template>

<script>

import { dailyRostersByGroupAndNotesDate } from './queries';
import FeatureOffline from '@/components/FeatureOffline'
// import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import DateRangePiker from '@/components/DateRangePiker'
import StatusFilter from '@/components/StatusFilter'

export default {
  components:{
    FeatureOffline,
    // PremiumWarning,
    ContextMenuHeaderIcon,
    DateRangePiker,
    StatusFilter,
  },
  data() {
    return {
      heraDown: false,
      loading: false,
      tableData: [],
      numberOfStaffs: 0,
      search: null,
      dateRange: [],
    }
  },

  mounted(){
    this.statusChecked = this.tempStatusCheckedReports["DailyRosterStandbys"] || ['Active']
  },

  computed: {
    ...mapState(['userInfo','tempStatusCheckedReports']),

    filteredStaffTable(){

      const input = this.search?.trim().toLowerCase()

      const filteredTable = this.staffTable.filter( row => {
        const daFullName = [row.staff.firstName, row.staff.lastName].join(' ').trim()
        const matchFound = input
                              ?
                                daFullName.toLowerCase().indexOf(input) > -1 || 
                                dateRange.includes(input)
                              :
                                true
        if(matchFound){
          return true
        }
        return false
      })
      this.numberOfStaffs = filteredTable.length
      return filteredTable
    },

    staffTable(){
      const rosters = this.tableData
      const table = []

      rosters.forEach( ({ notesDate, route }, x) =>{
        route.items.forEach( ({ staff, time, status }, y)=>{

          if(!staff)
            return

          let tableRow = {
            rowKey: [x, y].join(":"), // some unique key to prevent duplicate ids in sub rows
            staff:{
              id: staff.id,
              firstName: staff.firstName,
              lastName: staff.lastName
            },
            notesDate,
            status
          }

          table.push(tableRow)
          
        })
      })
      return table
    }

  },

  methods: {

    /**
     * Load data using the dailyRostersByGroupAndNotesDate custom GraphQL query
     */
    async loadData(){
      
      try{

        this.loading = true
        const notesDateFilter = {}

        // this.dateRange must be an array of Dates
        const dateRangeHasValidValue = this.dateRange?.length === 2
        if(dateRangeHasValidValue){
          // Search by Range
          notesDateFilter.between = this.dateRange.map(date => this.$moment(date).format('YYYY-MM-DD'))
        }else{
          // Search on this day
          notesDateFilter.eq = this.$(new Date()).format('YYYY-MM-DD')
        }

        const input = {
          notesDate: notesDateFilter,
          group: this.userInfo.tenant.group,
          limit: 50,
          sortDirection: "DESC",
          routeFilter:{
            standby:{
              eq: true
            }
          }
        }
        
        this.tableData = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    handleCheckedStatusChange({statusChecked, allStatusChecked}) {
      this.checkAllStatus = allStatusChecked
      this.$store.commit('setStatusCheckedForReports', {"DailyRosterStandbys": statusChecked});
    },

    sortBy(column){
      
      let sortMethod;

      switch(column){
        case 'DA Name':
          sortMethod = ({staff: a}, {staff: b}) => {
            const aName = [a.firstName, a.lastName].join(' ').toLowerCase()
            const bName = [b.firstName, b.lastName].join(' ').toLowerCase()
            if (aName > bName)
              return 1
            if (aName < bName)
              return -1
            return 0
          }
          break
      }
      return sortMethod
    },

  }

}
</script>

<style lang="scss">
.daily-roster-standbys{
  .el-date-editor.date-filter{
      width: 100%;
      height: 32.5px;
      padding: 0px 0px 0px 7px;
      margin: 0px;
      border: 1px solid #DCDFE6 !important;
      border-left: none !important;
      border-radius: 0rem .5rem .5rem 0rem !important;
  }
  .el-date-editor.date-filter .el-range__icon{
      padding-left: 3px !important;
  }
  
  .el-date-editor.date-filter .el-range-input{
      font-size: 13px !important;
  }

  .filter-btn {
    width: 100% !important;
    height: 32.5px;
    border-left: 0;
    padding: 0px 12px 0px 12px;
    border-radius: 0 .5rem .5rem 0 !important;
    box-shadow: none !important;
  }
}
</style>