<template>
  <div v-loading="loading" class="das-who-where-rescued">
    <!-- report summaries -->

    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>{{$t('label.associates')}} Who Were Rescued</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="mb-4">
        <div class="grid grid-flow-row grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-12 lg:col-span-4 xl:col-span-4">
                <el-input
                  class="w-full"
                  v-model="search"
                  size="small"
                  prefix-icon="uil uil-search"
                  clearable
                  placeholder="Filter this list by any column..." />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
                <el-badge class="item filter-by-status-badge text-center">Filter by Date</el-badge>
                <DateRangePiker
                  v-model="dateRange"
                  @change="loadData"
                  class="date-filter w-full"
                  dispatchOnCreate="true"
                  defaultQuickOption="Last two weeks"
                  align="right"
                  type="daterange"
                  format="MM/dd/yyyy"
                />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
                <el-badge class="col-span-6 item filter-by-status-badge text-center">Filter by Status</el-badge>
                <StatusFilter
                  v-model="statusChecked"
                  @change="handleCheckedStatusChange"
                  class="col-span-6"
                  btnClass="filter-btn border-l-0"
                />
            </div>
        </div>
    </div>

    <!-- TABLE -->
      <el-table
        ref="table"
        empty-text="No Data"
        header-cell-class-name="table-header-cell"
        :default-sort="{prop: 'TIMES_RESCUED', order: 'descending'}"
        style="width: 100%;"
        class="data-table"
        :data="filteredStaffRescued"
        row-key="rowKey"
        :tree-props="{children: 'SUB_ROWS'}"
        >

        <el-table-column
          :label="`${$t('label.associate')} Name`"
          min-width="200"
          sortable
          :sort-method="sortBy('DA Name')">
          <template slot-scope="{ row }" v-if="row.SUB_ROWS">
            {{row.rescued.firstName}} {{row.rescued.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          label="Times Rescued"
          min-width="200"
          prop="TIMES_RESCUED"
          sortable
          :sort-method="sortBy('Times as Rescuer')">
        </el-table-column>

        <el-table-column
          label="Date Rescued"
          min-width="200">
          <template slot-scope="{ row }" v-if="row.DATE_RESCUED">
            {{row.DATE_RESCUED.dateTime}}
          </template>
        </el-table-column>
        
        <el-table-column
          label="Rescued By"
          min-width="200">
          <template slot-scope="{ row }" v-if="row.rescuer">
            {{row.rescuer.firstName}}  {{row.rescuer.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          :label="`${$t('label.associate')} Status`"
          sortable
          prop="status"
          width="195">
          <template slot-scope="{ row }" v-if="row.rescued.status&&row.SUB_ROWS">
            <CellToolTip :value="row.rescued.status">
              <div slot-scope="{textValue}" class="flex">
                <span
                class="font-bold rounded-full bg-opacity-10 px-3 text-xs mr-7 truncate  max-w-full flex-initial"
                :class="setClassStatus(row.rescued.status)"
                >{{textValue}}</span>
              </div>
            </CellToolTip>
          </template>
        </el-table-column>

        <el-table-column align="right" width="45" fixed="right">
          <template slot="header">
              <el-dropdown data-cy="dropdown-da-header-table" class="mt-1" @command="handleCommand">
                  <ContextMenuHeaderIcon class="mr-2 context-menu-header-hover"/>
                  <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item :command="{title: 'exportCsv'}">Export as CSV</el-dropdown-item>
                  </el-dropdown-menu>
              </el-dropdown>
          </template>
          <template slot-scope="{ row }">
              <el-dropdown
              class="mt-1"
              trigger="click"
              @command="handleCommand">
                <i class="context-menu uil uil-ellipsis-h"></i>
                <template v-if="row.SUB_ROWS">
                  <!-- Group row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'rescuedDA'}">View rescued {{$t('label.associate')}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
                <template v-else>
                  <!-- Sub Row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'rescuerDA'}">View rescuer {{$t('label.associate')}}</el-dropdown-item>
                    <el-dropdown-item :command="{row, title: 'dailyRoster'}">View day on Daily Roster</el-dropdown-item>
                    <el-dropdown-item v-if="row.HAS_INFRACTIONS" :command="{row, title: 'viewDaIssue'}">View rescued {{$t('label.associate')}}} Issue</el-dropdown-item>
                    <el-dropdown-item v-else :command="{row, title: 'createDaIssue'}">Create rescued {{$t('label.associate')}} Issue</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
          </template>
        </el-table-column>

      </el-table>
      
      <p class="mt-4">{{ numberOfRescuedDas }} Total Rescued {{$t('label.associates')}}</p>

    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>
  
    <!-- ADD DA KUDO MODAL -->   
    <el-dialog
        :title="kudoModalTitle"
        :visible.sync="showAddKudoForm">
        <DaKudoForm 
            v-if="showAddKudoForm" 
            :editFormFields="kudoFormFields"
            @close="closeKudoForm"
            @close-add-kudo="closeKudoForm"
            @mutate-add-kudo="closeKudoForm(true)"/>
    </el-dialog>

    <!--EXPORT DIALOG-->
    <el-dialog
        :title="`Export Rescued ${$t('label.associates')}`"
        :show-close="true"
        :center="true"
        :visible.sync="showExportDialog"
        width="300px">
        <ExportDialog
            :modal="true"
            exportField="Rescued DA"
            exportFields="Rescued DAs"
            :filterStatus="filterStatusDisplay"
            :number="numberOfRescuedDas"
            :statusChecked="statusChecked"
            @export-action="csvExportMethod(csvData)"
            @close-dialog="showExportDialog = false">
        </ExportDialog>
    </el-dialog>

</div>
</template>

<script>

import { dailyRostersByGroupAndNotesDate } from './queries';
import FeatureOffline from '@/components/FeatureOffline'
// import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import ExportDialog from '@/components/ExportDialog'
import {exportCSV} from "@/utilities/exportCSV"
import DateRangePiker from '@/components/DateRangePiker'
import StatusFilter from '@/components/StatusFilter'
import DaKudoForm from '@/components/DaKudoForm'
import CellToolTip from '@/components/CellToolTip'
import momentTz from 'moment-timezone'
import { routeReplacement } from './reportUtilities'

export default {
  components:{
    FeatureOffline,
    // PremiumWarning,
    ContextMenuHeaderIcon,
    ExportDialog,
    DateRangePiker,
    StatusFilter,
    DaKudoForm,
    CellToolTip
  },
  data() {
    return {
      heraDown: false,
      loading: false,
      tableData: [],
      numberOfRescuedDas: 0,
      showExportDialog: null,
      search: null,
      checkAllStatus: false,
      statusChecked: [],
      filterStatusDisplay: null,
      dateRange: [],
      kudoModalTitle: null,
      showAddKudoForm: false,
      kudoFormFields:{}
    }
  },

  mounted(){
    this.statusChecked = this.tempStatusCheckedReports['StaffsWhoWereRescued'] || ['Active']
  },

  computed: {
    ...mapState(['userInfo','tempStatusCheckedReports']),

    csvData() {
      const rescuedData = []
      this.filteredStaffRescued.forEach( ({SUB_ROWS}) => {
        const rows = SUB_ROWS.map( ({rescuer, rescued, DATE_RESCUED}) => {
          return {
            "RESCUED" : [rescued.firstName, rescued.lastName].join(' ').replace(/,/g, "."),
            "DATE RESCUED": DATE_RESCUED.dateTime.trim(),
            "RESCUER": [rescuer.firstName, rescuer.lastName].join(' ').replace(/,/g, ".")
          }
        })
        rescuedData.push(...rows)
      })
      return rescuedData
    },

    staffRescued(){
      const roster = this.tableData
      let table = []
      let rowKey = 0

      roster.forEach( ({route, notesDate}) => {
        route.items.forEach( ({id: routeID, rescuers, staff: rescuedDA, infractions, kudos,replaceByRoute, rescued }) => {

          if(!rescuedDA){
            return
          }
          const isReplaced = !!replaceByRoute.items.length && !!rescued
          const activeReplacementAssociate = routeReplacement(replaceByRoute.items)
         
          if(isReplaced) rescuedDA = activeReplacementAssociate.staff

          rescuers.items.forEach( ({staff: rescuerDa,  updatedAt, startTime}) => {

            if(!rescuerDa){
              return
            }

            let tableRow = table.find( row => row.rescued.id === rescuedDA.id)

            if(!tableRow){

              tableRow = {
                rowKey: ++rowKey, // some unique key to prevent duplicate ids in group rows
                rescued: isReplaced ? activeReplacementAssociate.staff : rescuedDA,
                TIMES_RESCUED: 0,
                SUB_ROWS: []
              }
              
              table.push(tableRow)
            }

            tableRow.SUB_ROWS.push({
              rowKey: ++rowKey, // some unique key to prevent duplicate ids in sub rows
              rescued: tableRow.rescued,
              rescuer: rescuerDa,
              routeID,
              HAS_INFRACTIONS: !!infractions.items.length,
              kudos,
              DATE_RESCUED: {
                notesDate,
                dateTime: this.$moment(notesDate,"YYYY-MM-DD").format('MM/DD/YYYY')
              },
            })
            ++tableRow.TIMES_RESCUED
          })
        })
      })
      return table
    },

    filteredStaffRescued(){
      let table = []
      const input = this.search?.trim().toLowerCase()
      this.staffRescued.forEach( row => {
        const daFullName = [row.rescued.firstName, row.rescued.firstName].join(' ').trim()
        const match = input
                        ?
                          daFullName.toLowerCase().includes(input) ||
                          input == String(row.TIMES_RESCUED)
                        :
                          true
        if( (this.checkAllStatus || this.statusChecked.includes(row.rescued.status)) && match){
          table.push(row)
        }
      })
      this.numberOfRescuedDas = table.length
      return table
    }

  },

  methods: {

    /**
     * Load data using the dailyRostersByGroupAndNotesDate custom GraphQL query
     */
    async loadData(){
      try{
        
        this.loading = true

        const input = {
          group: this.userInfo.tenant.group,
          limit: 50,
          sortDirection: "DESC"
        }

        // this.dateRange must be an array of Dates
        if(this.dateRange?.length === 2){
          // Search by Range
          input.notesDate = {between: this.dateRange.map(date => this.$moment(date).format('YYYY-MM-DD'))}
        }else{
          // Search on this day
          input.notesDate = {eq: this.$moment(new Date()).format('YYYY-MM-DD') }
        }

        this.tableData = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    csvExportMethod(arrData) {
      const range = 'from-'+ this.dateRange.join('-to-')
      const fileName = `Associates-Who-Were-Rescued-${this.checkAllStatus?'All-Status':this.statusChecked.join('-')}-${this.$moment().format('MM/DD/YYYY')}.csv`
      exportCSV({arrData, fileName})
      this.showExportDialog = false
    },

    handleCheckedStatusChange({statusChecked, filterStatusDisplay, allStatusChecked}) {
      this.filterStatusDisplay = filterStatusDisplay
      this.checkAllStatus = allStatusChecked
      this.$store.commit('setStatusCheckedForReports', {'StaffsWhoWereRescued': statusChecked});
    },

    setClassStatus(status = '') {
      return {
        'text-red-600' : status.toLowerCase().includes('inactive'), 
        'bg-red-500' : status.toLowerCase().includes('inactive'),
        'text-purple-600' : status.toLowerCase().includes('onboarding'), 
        'bg-purple-500' : status.toLowerCase().includes('onboarding'),
        'text-green-600' : status.toLowerCase() == 'active',
        'bg-green-500' : status.toLowerCase() == 'active'
      }
    },

    sortBy(column){
      
      let sortMethod;

      switch(column){

        case 'DA Name':
          sortMethod = ({rescued: a}, {rescued: b}) => {
            const aName = [a.firstName, a.lastName].join(' ').toLowerCase()
            const bName = [b.firstName, b.lastName].join(' ').toLowerCase()
            if (aName > bName)
              return 1
            if (aName < bName)
              return -1
            return 0
          }
          break

        case 'Times as Rescuer':
          sortMethod = (a, b) => a.TIMES_RESCUED - b.TIMES_RESCUED
          break

      }
      return sortMethod
    },

    handleCommand({row, title}){
      const { rescuer, rescued, DATE_RESCUED, routeID, kudos } = row || {}
      switch(title){

        case 'exportCsv':
          this.showExportDialog = true
          break

        case 'rescuerDA':
          this.$router.push({name: 'StaffDetail', params: { id: rescuer.id }})
          break

        case 'rescuedDA':
          this.$router.push({name: 'StaffDetail', params: { id: rescued.id }})
          break

        case 'dailyRoster':
          this.$router.push({name: 'DailyRoster', params: { dateId: DATE_RESCUED.notesDate}})
          break

        case 'viewDaIssue':
          this.$router.push({name: 'DaIssueIndex', params: { routeId: routeID }})
          break

        case 'createDaIssue':
          const reportBlitz = {
            routeId: routeID,
            date: this.$moment(DATE_RESCUED.notesDate,"YYYY-MM-DD"),
          }
          this.$router.push({name: 'DaIssueEdit', params: { reportBlitz }})
          break

        case 'viewDaKudo':
          this.kudoModalTitle = `View & Edit ${this.$t('label.associate')} Kudo` 
          const kudo = kudos.items.find(kudo => kudo.staffId === rescuer.id)
          kudo.staff = rescuer
          kudo.route = {id: routeID}
          this.kudoFormFields = kudo
          this.showAddKudoForm = true
          break

        case 'createDaKudo':
          this.kudoModalTitle = `Create ${this.$t('label.associate')} Kudo`
          this.kudoFormFields = {
            kudoType: "Rescuer",
            date: this.$moment(DATE_RESCUED.notesDate,"YYYY-MM-DD"),
            staff: rescuer,
            route:{
              id: routeID
            }
          }
          this.showAddKudoForm = true
          break
      }
    },

    closeKudoForm(mutate){
      if(mutate === true){
        this.loadData()
      }
      this.kudoFormFields = {}
      this.showAddKudoForm = false
    }
  }
}
</script>

<style lang="scss">

.das-who-where-rescued{
  .el-date-editor.date-filter{
      width: 100%;
      height: 32.5px;
      padding: 0px 0px 0px 7px;
      margin: 0px;
      border: 1px solid #DCDFE6 !important;
      border-left: none !important;
      border-radius: 0rem .5rem .5rem 0rem !important;
  }
  .el-date-editor.date-filter .el-range__icon{
      padding-left: 3px !important;
  }
  
  .el-date-editor.date-filter .el-range-input{
      font-size: 13px !important;
  }

  .filter-btn {
    width: 100% !important;
    height: 32.5px;
    border-left: 0;
    padding: 0px 12px 0px 12px;
    border-radius: 0 .5rem .5rem 0 !important;
    box-shadow: none !important;
  }
}
</style>