<template>
  <div v-loading="loading" class="das-who-rescued-others">
    <!-- report summaries -->

    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>{{$t('label.associates')}} Who Rescued Others</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="mb-4">
        <div class="grid grid-flow-row grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-12 lg:col-span-4 xl:col-span-4">
                <el-input
                    class="w-full"
                    v-model="search"
                    size="small"
                    prefix-icon="uil uil-search"
                    clearable
                    placeholder="Filter this list by any column..." />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
              <el-badge class="item filter-by-status-badge text-center">Filter by Date</el-badge>
              <DateRangePiker
                  v-model="dateRange"
                  @change="loadData"
                  class="date-filter w-full"
                  dispatchOnCreate="true"
                  defaultQuickOption="Last two weeks"
                  align="right"
                  type="daterange"
                  format="MM/dd/yyyy"
                />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
                <el-badge class="col-span-6 item filter-by-status-badge text-center">Filter by Status</el-badge>
                <StatusFilter
                  v-model="statusChecked"
                  @change="handleCheckedStatusChange"
                  class="col-span-6"
                  btnClass="filter-btn border-l-0"
                />
            </div>
        </div>
    </div>

    <!-- TABLE -->
      <el-table
        ref="table"
        empty-text="No Data"
        header-cell-class-name="table-header-cell"
        :default-sort="{prop: 'TIME_AS_RESCUER', order: 'descending'}"
        style="width: 100%;"
        class="data-table data-table-style"
        :data="filteredRescuers"
        row-key="rowKey"
        :tree-props="{children: 'SUB_ROWS'}"
        >

        <el-table-column
          :label="`${$t('label.associate')} Name`"
          min-width="200"
          sortable
          :sort-method="sortBy('DA Name')">
          <template slot-scope="{ row }" v-if="row.SUB_ROWS">
            {{row.rescuer.firstName}} {{row.rescuer.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          label="Times as Rescuer"
          min-width="200"
          prop="TIME_AS_RESCUER"
          sortable
          :sort-method="sortBy('Times as Rescuer')">
        </el-table-column>

        <el-table-column
          label="Date as Rescuer"
          min-width="200">
          <template slot-scope="{ row }" v-if="row.DATE_AS_RESCUER">
            {{row.DATE_AS_RESCUER.dateTime}}
          </template>
        </el-table-column>
        
        <el-table-column
          :label="`${$t('label.associate')} Rescued`"
          min-width="200">
          <template slot-scope="{ row }" v-if="row.rescued">
            {{row.rescued.firstName}}  {{row.rescued.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          :label="`${$t('label.associate')} Status`"
          sortable
          prop="status"
          width="195">
          <template slot-scope="{ row }" v-if="row.rescuer.status&&row.SUB_ROWS">
            <CellToolTip :value="row.rescuer.status">
              <div slot-scope="{textValue}" class="flex">
                <span
                class="font-bold rounded-full bg-opacity-10 px-3 text-xs mr-7 max-w-full flex-initial"
                :class="setClassStatus(row.rescuer.status)"
                >{{textValue}}</span>
              </div>
            </CellToolTip>
          </template>
        </el-table-column>

        <el-table-column align="right" width="45" fixed="right">
          <template slot="header">
              <el-dropdown data-cy="dropdown-da-header-table" class="mt-1" @command="handleCommand">
                  <ContextMenuHeaderIcon class="mr-2 context-menu-header-hover"/>
                  <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item :command="{title: 'exportCsv'}">Export as CSV</el-dropdown-item>
                  </el-dropdown-menu>
              </el-dropdown>
          </template>
          <template slot-scope="{ row }">
              <el-dropdown
              class="mt-1"
              trigger="click"
              @command="handleCommand">
                <i class="context-menu uil uil-ellipsis-h"></i>
                <template v-if="row.SUB_ROWS">
                  <!-- Group row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'rescuerDA'}">View rescuer {{$t('label.associate')}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
                <template v-else>
                  <!-- Sub Row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'rescuedDA'}">View rescued {{$t('label.associate')}}</el-dropdown-item>
                    <el-dropdown-item :command="{row, title: 'dailyRoster'}">View day on Daily Roster</el-dropdown-item>
                    <el-dropdown-item v-if="row.kudo" :command="{row, title: 'viewDaKudo'}">View rescuer's {{$t('label.associate')}} Kudo</el-dropdown-item>
                    <el-dropdown-item v-else :command="{row, title: 'createDaKudo'}">Create rescuer's {{$t('label.associate')}} Kudo</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
          </template>
        </el-table-column>

      </el-table>

      <p class="mt-4">{{ numberOfRescuers }} Total Rescuers</p>

    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>
  
    <!-- ADD DA KUDO MODAL -->   
    <el-dialog
        :title="kudoModalTitle"
        :visible.sync="showAddKudoForm">
        <DaKudoForm 
            v-if="showAddKudoForm" 
            :editFormFields="kudoFormFields"
            @close="closeKudoForm"
            @close-add-kudo="closeKudoForm"
            @mutate-add-kudo="closeKudoForm(true)"/>
    </el-dialog>

    <!--EXPORT DIALOG-->
    <el-dialog
        title="Export Rescuers"
        :show-close="true"
        :center="true"
        :visible.sync="showExportDialog"
        width="300px">
        <ExportDialog
            :modal="true"
            exportField="Rescuer"
            exportFields="Rescuers"
            :filterStatus="filterStatusDisplay"
            :number="numberOfRescuers"
            :statusChecked="statusChecked"
            @export-action="csvExportMethod(csvData)"
            @close-dialog="showExportDialog = false">
        </ExportDialog>
    </el-dialog>

</div>
</template>

<script>

import { dailyRostersByGroupAndNotesDate } from './queries';
import FeatureOffline from '@/components/FeatureOffline'
// import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import ExportDialog from '@/components/ExportDialog'
import {exportCSV} from "@/utilities/exportCSV"
import DateRangePiker from '@/components/DateRangePiker'
import StatusFilter from '@/components/StatusFilter'
import DaKudoForm from '@/components/DaKudoForm'
import CellToolTip from '@/components/CellToolTip'
import momentTz from 'moment-timezone'
import { routeReplacement } from './reportUtilities'

export default {
  components:{
    FeatureOffline,
    // PremiumWarning,
    ContextMenuHeaderIcon,
    ExportDialog,
    DateRangePiker,
    StatusFilter,
    DaKudoForm,
    CellToolTip
  },
  props:['tab'],
  data() {
    return {
      heraDown: false,
      loading: false,
      tableData: [],
      numberOfRescuers: 0,
      showExportDialog: null,
      search: null,
      checkAllStatus: false,
      statusChecked: [],
      filterStatusDisplay: null,
      dateRange: [],
      kudoModalTitle: null,
      showAddKudoForm: false,
      kudoFormFields:{}
    }
  },

  mounted(){
    this.statusChecked = this.tempStatusCheckedReports["StaffsWhoRescuedOthers"] || ['Active']
  },

  computed: {
    ...mapState(['userInfo','tempStatusCheckedReports']),

    csvData() {
      const rescuersData = []
      this.filteredRescuers.forEach( ({SUB_ROWS}) => {
        const row = SUB_ROWS.map( ({rescuer, rescued, DATE_AS_RESCUER}) => {
          return {
            "RESCUER": [rescuer.firstName, rescuer.lastName].join(' ').replace(/,/g, "."),
            "DATE AS RESCUER": DATE_AS_RESCUER.dateTime.trim(),
            "RESCUED DA" : [rescued.firstName, rescued.lastName].join(' ').replace(/,/g, ".")
          }
        })
        rescuersData.push(...row)
      })
      return rescuersData
    },

    staffRescuers(){
      const roster = this.tableData
      let table = []
      let rowKey = 0

      roster.forEach( ({route, notesDate}) => {
          route.items.forEach( ({id: routeID, rescuers, time, staff: rescuedDA, kudos, infractions, replaceByRoute, rescued }) => {

            const isReplaced = !!replaceByRoute.items.length && !!rescued
            const activeReplacementAssociate = routeReplacement(replaceByRoute.items)

            rescuers.items.forEach( ({staff: rescuerDa, updatedAt}) => {

              if(!rescuerDa){
                return
              }

              let tableRow = table.find( row => row.rescuer.id === rescuerDa.id)

              if(!tableRow){

                tableRow = {
                  rowKey: ++rowKey, // some unique key to prevent duplicate ids in group rows
                  rescuer: rescuerDa,
                  TIME_AS_RESCUER: 0,
                  SUB_ROWS: []
                }
                
                table.push(tableRow)
              }

              tableRow.SUB_ROWS.push({
                rowKey: ++rowKey, // some unique key to prevent duplicate ids in sub rows
                rescuer: tableRow.rescuer,
                rescued: isReplaced ? activeReplacementAssociate.staff : rescuedDA,
                routeID,
                kudo: kudos.items.find(kudo=>kudo.staffId === tableRow.rescuer.id),
                HAS_INFRACTIONS: !!infractions.items.length,
                DATE_AS_RESCUER: {
                  notesDate,
                  dateTime: momentTz.tz(updatedAt, this.getTenantTimeZone()).format('MM/DD/YYYY hh:mm A')
                },
              })
              ++tableRow.TIME_AS_RESCUER
            })
          })
        })
      return table
    },

    filteredRescuers(){
      let table = []
      const input = this.search?.trim().toLowerCase()
      this.staffRescuers.forEach( row => {
        const daFullName = [row.rescuer.firstName, row.rescuer.firstName].join(' ').trim()
        const match = input
                        ?
                          daFullName.toLowerCase().includes(input) ||
                          input === String(row.TIME_AS_RESCUER)
                        :
                          true
        if( (this.checkAllStatus || this.statusChecked.includes(row.rescuer.status)) && match){
          table.push(row)
        }
      })
      this.numberOfRescuers = table.length
      return table
    }

  },

  methods: {

    /**
     * Load data using the dailyRostersByGroupAndNotesDate custom GraphQL query
     */
    async loadData(){
      
      try{

        this.loading = true

        const input = {
          group: this.userInfo.tenant.group,
          limit: 50,
          sortDirection: "DESC"
        }
        
        // this.dateRange must be an array of Dates
        if(this.dateRange?.length === 2){
          // Search by Range
          input.notesDate = {between: this.dateRange.map(date => this.$moment(date).format('YYYY-MM-DD'))}
        }else{
          // Search on this day
          input.notesDate = {eq: this.$moment(new Date()).format('YYYY-MM-DD') }
        }

        this.tableData = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    csvExportMethod(arrData) {
      const range = 'from-'+ this.dateRange.join('-to-')
      const fileName = `Associates-Who-Rescued-Others-${this.checkAllStatus?'All-Status':this.statusChecked.join('-')}-${this.$moment().format('MM/DD/YYYY')}.csv`
      exportCSV({arrData, fileName})
      this.showExportDialog = false
    },

    handleCheckedStatusChange({statusChecked, filterStatusDisplay, allStatusChecked}) {
      this.filterStatusDisplay = filterStatusDisplay
      this.checkAllStatus = allStatusChecked
      this.$store.commit('setStatusCheckedForReports', {"StaffsWhoRescuedOthers": statusChecked});
    },

    setClassStatus(status = '') {
      return {
        'text-red-600' : status.toLowerCase().includes('inactive'), 
        'bg-red-500' : status.toLowerCase().includes('inactive'),
        'text-purple-600' : status.toLowerCase().includes('onboarding'), 
        'bg-purple-500' : status.toLowerCase().includes('onboarding'),
        'text-green-600' : status.toLowerCase() == 'active',
        'bg-green-500' : status.toLowerCase() == 'active'
      }
    },

    sortBy(column){
      
      let sortMethod;

      switch(column){

        case 'DA Name':
          sortMethod = ({rescuer: a}, {rescuer: b}) => {
            const aName = [a.firstName, a.lastName].join(' ').toLowerCase()
            const bName = [b.firstName, b.lastName].join(' ').toLowerCase()
            if (aName > bName)
              return 1
            if (aName < bName)
              return -1
            return 0
          }
          break

        case 'Times as Rescuer':
          sortMethod = (a, b) => a.TIME_AS_RESCUER - b.TIME_AS_RESCUER
          break

      }
      return sortMethod
    },

    handleCommand({row, title}){
      const { rescuer, rescued, DATE_AS_RESCUER, routeID, kudo } = row || {}
      switch(title){

        case 'exportCsv':
          this.showExportDialog = true
          break

        case 'rescuerDA':
          this.$router.push({name: 'StaffDetail', params: { id: rescuer.id }})
          break

        case 'rescuedDA':
          this.$router.push({name: 'StaffDetail', params: { id: rescued.id }})
          break

        case 'dailyRoster':
          this.$router.push({name: 'DailyRoster', params: { dateId: DATE_AS_RESCUER.notesDate }})
          break

        case 'viewDaIssue':
          this.$router.push({name: 'DaIssueIndex', params: { routeId: routeID }})
          break

        case 'createDaIssue':
          const reportBlitz = {
            routeId: routeID,
            date: this.$moment(DATE_AS_RESCUER.notesDate,"YYYY-MM-DD"),
          }
          this.$router.push({name: 'DaIssueEdit', params: {reportBlitz}})
          break

        case 'viewDaKudo':
          this.kudoModalTitle = `View & Edit ${this.$t('label.associate')} Kudo`
          kudo.staff = rescuer
          kudo.route = {id: routeID}
          this.kudoFormFields = kudo
          this.showAddKudoForm = true
          break

        case 'createDaKudo':
          this.kudoModalTitle = `Create ${this.$t('label.associate')} Kudo`
          this.kudoFormFields = {
            kudoType: "Rescuer",
            date: this.$moment(DATE_AS_RESCUER.notesDate,"YYYY-MM-DD"),
            staff: rescuer,
            route:{
              id: routeID
            }
          }
          this.showAddKudoForm = true
          break
      }
    },

    closeKudoForm(mutate){
      if(mutate === true){
        this.loadData()
      }
      this.kudoFormFields = {}
      this.showAddKudoForm = false
    }

  }

}
</script>

<style lang="scss">
.das-who-rescued-others{
  .el-date-editor.date-filter{
      width: 100%;
      height: 32.5px;
      padding: 0px 0px 0px 7px;
      margin: 0px;
      border: 1px solid #DCDFE6 !important;
      border-left: none !important;
      border-radius: 0rem .5rem .5rem 0rem !important;
  }
  .el-date-editor.date-filter .el-range__icon{
      padding-left: 3px !important;
  }
  
  .el-date-editor.date-filter .el-range-input{
      font-size: 13px !important;
  }

  .filter-btn {
    width: 100% !important;
    height: 32.5px;
    border-left: 0;
    padding: 0px 12px 0px 12px;
    border-radius: 0 .5rem .5rem 0 !important;
    box-shadow: none !important;
  }

  .data-table-style .cell{
    padding-left: 7px !important;
    text-align: left !important;
  }

  .data-table-style .el-table__header thead > tr th:nth-child(1) .cell{
    padding-left: 35px !important;
  }
  .data-table-style tbody > tr td:nth-child(2) .cell{
    padding-left: 8px !important;
  }
}
</style>