<template>
  <div v-loading="loading" class="da-attendance-statistics" >
    <!-- report summaries -->

    <div class="flex items-center justify-between mb-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center h-8">
          <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum" v-once>
            <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
            <el-breadcrumb-item>{{$t('label.associate')}} Attendance Statistics</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>

    <div class="mb-4">
        <div class="grid grid-flow-row grid-cols-12 gap-4">
            <div class="col-span-12 md:col-span-12 lg:col-span-4 xl:col-span-4">
                <el-input
                    class="w-full"
                    v-model="search"
                    size="small"
                    prefix-icon="uil uil-search"
                    clearable
                    placeholder="Filter this list by any column..." />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
              <el-badge class="item filter-by-status-badge text-center">Filter by Date</el-badge>
              <DateRangePiker
                  v-model="dateRange"
                  @change="loadData"
                  class="date-filter w-full"
                  dispatchOnCreate="true"
                  defaultQuickOption="Last two weeks"
                  align="right"
                  type="daterange"
                  format="MM/dd/yyyy"
                />
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-4 md:text-right inline-flex">
                <el-badge class="col-span-6 item filter-by-status-badge text-center">Filter by Status</el-badge>
                <StatusFilter
                  v-model="statusChecked"
                  @change="handleCheckedStatusChange"
                  class="col-span-6"
                  btnClass="filter-btn border-l-0"
                />
            </div>
        </div>
    </div>

    <!-- TABLE -->
      <el-table
        ref="table"
        empty-text="No Data"
        header-cell-class-name="table-header-cell"
        :default-sort = "{prop: 'status', order: 'ascending'}"
        style="width: 100%;"
        class="data-table table-staff-attendance-statistics"
        :data="filteredStaffTable"
        :span-method="tableSpanMethod"
        row-key="rowKey"
        @expand-change="groupExpandChangeHandler"
        :tree-props="{children: 'SUB_ROWS'}"
        >

        <el-table-column
          :label="`${$t('label.associate')} Name`"
          min-width="60"
          sortable
          :sort-method="sortBy('DA Name')">
          <template slot-scope="{ row }" v-if="row.SUB_ROWS">
            {{row.staff.firstName}} {{row.staff.lastName}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="45"
          sortable
          :sort-method="sortBy('Number','NoShowNoCall')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">No Show,<br/>No Call</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF['NoShowNoCall']||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="35"
          sortable
          :sort-method="sortBy('Number','CalledOut')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">Called<br/> Out</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["CalledOut"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="35"
          sortable
          :sort-method="sortBy('Number','LateNoCall')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">Late,<br/>No Call</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["LateNoCall"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="40"
          sortable
          :sort-method="sortBy('Number','LateWithCall')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">Late,<br/>With Call</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["LateWithCall"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          label="VTO"
          min-width="25"
          sortable
          :sort-method="sortBy('Number','VTO')">
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["VTO"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="25"
          sortable
          :sort-method="sortBy('Number','OnTime')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">On<br/>Time</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["OnTime"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="30"
          sortable
          :sort-method="sortBy('Number','NoStatus')">
          <template slot="header" v-once>
            <div class="leading-4 inline-block">No<br/>Status</div>
          </template>
          <template slot-scope="{ row }" v-if="row.NUMBER_OF">
            {{row.NUMBER_OF["NoStatus"]||'0'}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="40"
          >
          <template slot="header">
            <div class="leading-4 inline-block">Date<br/>Rostered</div>
          </template>
          <template slot-scope="{ row }" v-if="row.route">
            {{$moment(row.route.notesDate).format('MM/DD/YYYY')}} {{row.route.time}}
          </template>
        </el-table-column>

        <el-table-column
          min-width="50"
          >
          <template slot="header" v-once>
            <div class="leading-4 inline-block">Roster<br/>Status</div>
          </template>
          <template slot-scope="{ row }" v-if="row.route">
            {{row.route.status||'No Status'}}
          </template>
        </el-table-column>

        <el-table-column
          sortable
          prop="status"
          width="177">
          <template slot="header" v-once>
            <div class="pl-3 leading-4 inline-block">{{$t('label.associate')}} Status</div>
          </template>
          <template slot-scope="{ row }" v-if="row.SUB_ROWS">
            <CellToolTip :value="row.staff.status" :maxLength="15">
              <div slot-scope="{textValue}" class="flex">
                <span
                class="font-bold rounded-full bg-opacity-10 px-3 text-xs mr-7  max-w-full flex-initial"
                :class="setClassStatus(row.staff.status)"
                >{{textValue}}</span>
              </div>
            </CellToolTip>
          </template>
        </el-table-column>

        <el-table-column align="center" width="40" fixed="right" class-name="custom-menu-icon">
          <template slot="header" v-once>
              <el-dropdown data-cy="dropdown-da-header-table" class="mt-1" @command="handleCommand">
                  <ContextMenuHeaderIcon class="mr-2 context-menu-header-hover"/>
                  <el-dropdown-menu slot="dropdown">
                      <el-dropdown-item :command="{title: 'exportCsv'}">Export as CSV</el-dropdown-item>
                  </el-dropdown-menu>
              </el-dropdown>
          </template>
          <template slot-scope="{ row }" v-if="!row.HIDDEN">
              <el-dropdown
              class="mt-1"
              trigger="click"
              @command="handleCommand">
                <i class="context-menu uil uil-ellipsis-h"></i>
                <template v-if="row.SUB_ROWS">
                  <!-- Group row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'viewDA'}">View {{$t('label.associate')}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
                <template v-else>
                  <!-- Sub Row -->
                  <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item :command="{row, title: 'dailyRoster'}">View day on Daily Roster</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
          </template>
        </el-table-column>

      </el-table>
      <p class="mt-4">{{ numberOfStaffs }} Total {{$t('label.associates')}}</p>

    <el-dialog 
      :visible.sync="heraDown"
      width="320px"
      :show-close="false">
      <FeatureOffline
      feature="broadcasting messages"
      @close-modal="heraDown = false"/>
    </el-dialog>
  
    <!--EXPORT DIALOG-->
    <el-dialog
        class="export-dialog-style"
        title="Export of Attendance Statistics"
        :show-close="true"
        :center="true"
        :visible.sync="showExportDialog"
        width="300px">
        <ExportDialog
            :modal="true"
            exportField="Attendance Statistics"
            exportFields="Total DAs"
            :filterStatus="filterStatusDisplay"
            :number="numberOfStaffs"
            :statusChecked="statusChecked"
            @export-action="csvExportMethod(csvData)"
            @close-dialog="showExportDialog = false">
        </ExportDialog>
    </el-dialog>

</div>
</template>

<script>

import { staffAttendanceStatistics } from './queries';
import FeatureOffline from '@/components/FeatureOffline'
// import PremiumWarning from '@/components/PremiumWarning'
import { mapState } from 'vuex'
import ContextMenuHeaderIcon from '@/components/ContextMenuHeaderIcon'
import ExportDialog from '@/components/ExportDialog'
import {exportCSV} from "@/utilities/exportCSV"
import DateRangePiker from '@/components/DateRangePiker'
import StatusFilter from '@/components/StatusFilter'
import CellToolTip from '@/components/CellToolTip'

export default {
  components:{
    FeatureOffline,
    // PremiumWarning,
    ContextMenuHeaderIcon,
    ExportDialog,
    DateRangePiker,
    StatusFilter,
    CellToolTip
  },
  data() {
    return {
      heraDown: false,
      loading: false,
      tableData: [],
      tableRow: {
        expanded:{},
        contracted:{}
      },
      numberOfStaffs: 0,
      showExportDialog: null,
      search: null,
      checkAllStatus: false,
      statusChecked: [],
      filterStatusDisplay: null,
      dateRange: [],
    }
  },

  mounted(){
    this.statusChecked = this.tempStatusCheckedReports["StaffAttendanceStatistics"] || ['Active']
  },

  computed: {
    ...mapState(['userInfo','tempStatusCheckedReports']),

    csvData() {
      const rescuersData = []
      this.filteredStaffTable.forEach( ({rowKey}) => {
        const row = this.tableRow["expanded"][rowKey].map( ({staff, route}) => {
          return {
            "DA NAME" : [staff.firstName, staff.lastName].join(' ').replace(/,/g, "."),
            "DATE ROSTERED": this.$moment(route.notesDate,"YYYY-MM-DD").format("MM/DD/YYYY"),
            "ROSTER STATUS": (route.status || "No Status").replace(",", " - ")
          }
        })
        rescuersData.push(...row)
      })
      return rescuersData
    },

    filteredStaffTable(){

      const input = this.search?.trim().toLowerCase()
      const match = (associativeArray) => Object.keys(associativeArray).find(key => String(associativeArray[key]) === input)

      const filteredTable = this.staffTable.filter( row => {
        const daFullName = [row.staff.firstName, row.staff.lastName].join(' ').trim()
        const matchFound = input
                              ?
                                daFullName.toLowerCase().indexOf(input) > -1 || 
                                match(row.NUMBER_OF)
                              :
                                true
        if( (this.checkAllStatus || this.statusChecked.includes(row.staff.status)) && matchFound){
          return true
        }
        return false
      })
      this.numberOfStaffs = filteredTable.length
      return filteredTable
    },

    staffTable(){
      const rosters = this.tableData

      const table = {
        data: [],
        rowKey: 0,
      }

      rosters.forEach( ({ notesDate, route }) =>{
        route.items.forEach( routeItem => {

          if(routeItem.replaceByRoute?.items.length){
            routeItem.replaceByRoute.items.forEach(replaceBy => {
              const routeReplaceBy = {
                id: routeItem.id,
                time: routeItem.time,
                staff: replaceBy.staff,
                status: replaceBy.status 
              }
              this.pushRoute(table, notesDate, routeReplaceBy)
            })
          }

          this.pushRoute(table, notesDate, routeItem)
        })
      })

      return table.data
    }

  },

  methods: {

    getStatusKey(status) {
      // To make an object key based on status, e.g. "Late, With Call" to "LateWithCall"
      const keyName = status?.replace(/[ ,]/g, '')
      return String(keyName?.trim()||'NoStatus')
    },

    pushRoute(table, notesDate, route){

      const {id: routeID, staff, status: routeStatus, time, replaceByRoute} = route

      if(!staff)
        return

      let row = table.data.find( row => row.staff.id === staff.id)

      if(!row){
        row = {
          rowKey: ++table.rowKey,
          staff:{
            id: staff.id,
            firstName: staff.firstName,
            lastName: staff.lastName,
            status: staff.status
          },
          NUMBER_OF:{}
        }
        row.SUB_ROWS = this.tableRow["contracted"][row.rowKey] = [
          {
            rowKey: ++table.rowKey,
            HIDDEN: true
          }
        ]
        table.data.push(row)
        this.tableRow["expanded"][row.rowKey] = []
      }
      const keyName = this.getStatusKey(routeStatus)
      if(!row.NUMBER_OF[keyName]){
        row.NUMBER_OF[keyName] = 1
      }else{
        row.NUMBER_OF[keyName]++
      }
      this.tableRow["expanded"][row.rowKey].push({
        rowKey: ++table.rowKey,
        staff: row.staff,
        route:{
          id: routeID,
          status: routeStatus,
          notesDate,
          time
        }
      })
    },

    /**
     * Load data using the dailyRostersByGroupAndNotesDate custom GraphQL query
     */
    async loadData(){
      
      try{

        this.loading = true
        const notesDateFilter = {}

        // this.dateRange must be an array of Dates
        const dateRangeHasValidValue = this.dateRange?.length === 2
        if(dateRangeHasValidValue){
          // Search by Range
          notesDateFilter.between = this.dateRange.map(date => this.$moment(date).format('YYYY-MM-DD'))
        }else{
          // Search on this day
          notesDateFilter.eq = this.$moment(new Date()).format('YYYY-MM-DD')
        }

        const input = {
          notesDate: notesDateFilter,
          group: this.userInfo.tenant.group,
          limit: 50,
          sortDirection: "DESC"
        }

        this.tableData = await this.gLoadListAll(staffAttendanceStatistics, input, 'dailyRostersByGroupAndNotesDate')

      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false
      }
    },

    csvExportMethod(arrData) {
      const range = 'from-'+ this.dateRange.join('-to-')
      const fileName = `DA-Attendance-Statistics-${this.checkAllStatus?'All - Status':this.statusChecked.join(', ')}-${this.$moment().format('MM/DD/YYYY')}.csv`
      exportCSV({arrData, fileName})
      this.showExportDialog = false
    },

    handleCheckedStatusChange({statusChecked, filterStatusDisplay, allStatusChecked}) {
      this.filterStatusDisplay = filterStatusDisplay
      this.checkAllStatus = allStatusChecked
      this.$store.commit('setStatusCheckedForReports', {"StaffAttendanceStatistics": statusChecked});
    },

    setClassStatus(status = '') {
      return {
        'text-red-600' : status.toLowerCase().includes('inactive'), 
        'bg-red-500' : status.toLowerCase().includes('inactive'),
        'text-purple-600' : status.toLowerCase().includes('onboarding'), 
        'bg-purple-500' : status.toLowerCase().includes('onboarding'),
        'text-green-600' : status.toLowerCase() == 'active',
        'bg-green-500' : status.toLowerCase() == 'active'
      }
    },

    groupExpandChangeHandler(row, expanded){
      row.SUB_ROWS = this.tableRow[expanded?"expanded":"contracted"][row.rowKey]
    },
    
    tableSpanMethod({row}){
      if(row.HIDDEN){
        return [0, 0]
      }
    },
    
    sortBy(column, key){
      
      let sortMethod;

      switch(column){

        case 'DA Name':
          sortMethod = ({staff: a}, {staff: b}) => {
            const aName = [a.firstName, a.lastName].join(' ').toLowerCase()
            const bName = [b.firstName, b.lastName].join(' ').toLowerCase()
            if (aName > bName)
              return 1
            if (aName < bName)
              return -1
            return 0
          }
          break
        
        case 'Number':
          sortMethod = ({NUMBER_OF: a}, {NUMBER_OF: b}) => {
            const A = a[key] || 0
            const B = b[key] || 0
            return A - B
          }
          break

      }
      return sortMethod
    },

    handleCommand({row, title}){
      const { staff, route } = row || {}
      switch(title){

        case 'exportCsv':
          this.showExportDialog = true
          break

        case 'viewDA':
          this.$router.push({name: 'StaffDetail', params: { id: staff.id }})
          break

        case 'dailyRoster':
          this.$router.push({name: 'DailyRoster', params: { dateId: route.notesDate }})
          break
      }
    }

  }

}
</script>

<style lang="scss">

.da-attendance-statistics{
  .el-date-editor.date-filter{
      width: 100%;
      height: 32.5px;
      padding: 0px 0px 0px 7px;
      margin: 0px;
      border: 1px solid #DCDFE6 !important;
      border-left: none !important;
      border-radius: 0rem .5rem .5rem 0rem !important;
  }
  .el-date-editor.date-filter .el-range__icon{
      padding-left: 3px !important;
  }
  
  .el-date-editor.date-filter .el-range-input{
      font-size: 13px !important;
  }

  .filter-btn {
    width: 100% !important;
    height: 32.5px;
    border-left: 0;
    padding: 0px 12px 0px 12px;
    border-radius: 0 .5rem .5rem 0 !important;
    box-shadow: none !important;
  }
  
  .table-staff-attendance-statistics td, .table-staff-attendance-statistics .cell{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .table-staff-attendance-statistics .cell {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .table-staff-attendance-statistics__header thead > tr th:nth-child(1) .cell{
    padding-left: 25px !important;
  }
  .table-staff-attendance-statistics__body tbody > tr td:nth-child(1) .cell{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px !important;
  }
  .table-staff-attendance-statistics__body tbody .cell .table-staff-attendance-statistics__expand-icon{
    height: 100% !important;
    left: -5px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin: 0px !important;
  }
  .table-staff-attendance-statistics .caret-wrapper {
    left: -7px !important;
  }
  .export-dialog-style .el-dialog__title{
    font-size: 17px !important;
    margin-left: -7px !important;
    margin-right: 7px !important;
  }
  
}
  
</style>