<template>

    <!--Form-->
    <el-form data-cy="add-da-form" :label-width="labelWidth" ref="form" :model="formFields" :rules="rules">
      <div :class="formItemWidth">
      <el-form-item label="Status" prop="status">
        <el-select data-cy="da-status-sel" v-model="formFields.status" placeholder="Status">
          <el-option
              v-for="item in staffSatus"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="First Name" prop="firstName">
        <el-input data-cy="da-first-name-in" v-model="formFields.firstName"></el-input>
      </el-form-item>
      <el-form-item label="Last Name" prop="lastName">
        <el-input data-cy="da-last-name-in" v-model="formFields.lastName"></el-input>
      </el-form-item>
      <el-form-item label="Email" prop="email">
        <el-input data-cy="da-email-in" v-model.trim="formFields.email"></el-input>
      </el-form-item>
      <el-form-item label="Phone" prop="phone">
        <InputPhoneNumber data-cy="da-phone-in" v-model="formFields.phone"></InputPhoneNumber>
      </el-form-item>
      <el-form-item label="Tranporter ID" prop="transporterId">
        <el-input data-cy="da-transporter-in" :disabled="disableTranspoterId" v-model="formFields.transporterId"></el-input>
      </el-form-item>
      <el-form-item label="DL Expiration" prop="dlExpiration">
          <DatePicker data-cy="da-expiration-dpk" :selectedDate="formFields.dlExpiration" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'dlExpiration')" />
      </el-form-item>
      <el-form-item label="Hire Date" prop="hireDate">
          <DatePicker data-cy="da-hire-date-dpk" :selectedDate="formFields.hireDate" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'hireDate')" />
      </el-form-item>
      <el-form-item label="DOB" prop="dob">
          <DatePicker data-cy="da-dob" :selectedDate="formFields.dob" placeholder="Pick a day" @date-selected="handleDateSelected($event, 'dob')" />
      </el-form-item>
      <el-form-item label="Authorized to Drive" prop="authorizedToDrive.items">
        <el-select
          data-cy="da-authorized-to-drive-in"
          v-model="formFields.authorizedToDrive.items"
          multiple
          clearable
          filterable
          :disabled=false>
          <el-option
              v-for="item in customListEnabled(vehicleTypeList)"
              :key="item.id"
              :label="item.option"
              :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      </div>
    </el-form>
</template>

<script>
import Validator from '@/utilities/FormValidator'
import  InputPhoneNumber  from '@/components/InputPhoneNumber.vue'
import DatePicker from '@/components/Datepicker';
import { mapGetters, mapState } from "vuex";
import { AUTHORIZED_TO_DRIVE_CREATE_ASSOCIATE } from '@/utilities/constants/defaultSectionsByCustomList';

export default {
  name: 'AddDaForm',
  props: ['formFields', 'disableTranspoterId', 'requireTransporterId','isDrawer'],
  components: { InputPhoneNumber, DatePicker },
  data() {
    return {
      phone: null,
      results: null,
      rules: {
        firstName: [
            { required: true, message: 'First Name is required', trigger: 'blur' },
        ],
        lastName: [
            { required: true, message: 'Last Name is required', trigger: 'blur' },
        ],
        status: [
            { required: true, message: 'Status is required', trigger: 'blur' },
        ],
        email: [
            {  required: true, validator: Validator.uniqueEmailDA, trigger: 'blur',  daId: null  },
            {  validator: Validator.email, trigger: 'blur' }
        ],
        transporterId: [
            { required: this.requireTransporterId, validator: Validator.uniqueTransporterIdDA, trigger: 'blur',  daId: null  }
        ],
        phone: [
          { validator: Validator.validatePhoneNumberDA, trigger: 'blur' }
        ]
      }
    }
  },

  mounted() {
    const defaultAuthorizedToDrive = this.customListEnabled(this.vehicleTypeList).filter(item => item.isDefaultForSections?.includes(AUTHORIZED_TO_DRIVE_CREATE_ASSOCIATE))
    this.formFields.authorizedToDrive.items = defaultAuthorizedToDrive.map(i=> i.id)
    
  },

  computed: {
    ...mapState([
      'customList',
      'valuelists'
    ]),
    ...mapGetters([
      'vehicleTypeList',
    ]),
    staffSatus() {
      return this.valuelists['staff-status']? this.valueListActivesOnly(this.valuelists['staff-status'].items) : []
    },
    labelWidth(){
      return this.isDrawer ? undefined : '200px'
    },
    formItemWidth(){
      return this.isDrawer ? 'grid sm:grid-cols-2 sm:gap-y-0 sm:gap-x-4' : ''
    }
  },
  methods: {
    handleDateSelected(date, model) {
      this.formFields[model] = date
    },
  }
}
</script>

<style scoped>
    .el-select,  .el-date-editor{
        width: 100%;
    }
</style>