<template>
  <div>
    <!--Header-->
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-9">
      <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
          <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"> Tasks & Reports</i></el-breadcrumb-item>
        <el-breadcrumb-item>{{title}}</el-breadcrumb-item>
      </el-breadcrumb>
      </div>
      <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-3">
        <el-input
          v-model="search"
          size="small"
          prefix-icon="el-icon-search"
          clearable
          class="flex-1"
          placeholder="Filter this list by any column..."/>
      </div>
    </div>


    <!--Table-->
    <el-table
      ref="table"
      empty-text="No Milestones"
      v-loading="loading"    
      :data="filterArray( tableData, search, filter )"
      :default-sort="{prop: 'date', order: 'ascending'}"
      row-class-name="table-row"
      @row-click="handleRowClick"
      style="width: 100%">

      <el-table-column
        label="First Name"
        sortable
        prop="firstName"
        :sort-method="sortFirstName">
        <template slot-scope="scope">
          {{ scope.row.firstName | text }}
        </template>
      </el-table-column>

        <el-table-column
        label="Last Name"
        sortable
        prop="lastName"
        :sort-method="sortLastName">
        <template slot-scope="scope">
          {{ scope.row.lastName | text }}
        </template>
      </el-table-column>

      <el-table-column
        label="Anniversary"
        sortable
        prop="date"
        v-if="optionMilestone !== 'birthday'" 
      >
        <template slot-scope="scope">
          {{ scope.row.hireDate }}
        </template>
      </el-table-column>

      <el-table-column
        label="Birthday"
        sortable
        prop="date"
        :sort-method="sortDate"
        v-else
      >
        <template slot-scope="scope">
          {{ scope.row.dob }}
        </template>
      </el-table-column>

      <el-table-column
        label="Age"
        sortable
        prop="date"
        :sort-method="sortAge"
        v-if="optionMilestone == 'birthday'" 
      >
        <template slot-scope="scope">
          {{ scope.row.age }}
        </template>
      </el-table-column>

      <el-table-column align="right" width="50" >
        <template>
          <i class="el-icon-arrow-right"></i>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
import {staffsByGroup} from '../queries';

const SWITCH_MILESTONE = {
  "birthday": 'Birthdays for Active Associates',
  "thirty-days": '30 Day Anniversaries',
  "three": '3 Month Anniversaries',
  "six": '6 Month Anniversaries',
  "nine": '9 Month Anniversaries',
  "year": '1 Year Anniversaries',
  "two-year": '2 Year Anniversaries',
  "three-year": '3 Year Anniversaries',
  "four-year": '4 Year Anniversaries',
}

export default {
    name: "AnniversariesSummary",
    props: {
      milestoneOption: String
    },
    data(){
        return{
            loading: true,
            currentTab: "birthday",
            tableData: [],
            dataSelected: [],
            search: '',
            tab: 0,
            filter: [],
            optionMilestone: '',
        }
    },

    created() {
      this.optionMilestone = this.milestoneOption || localStorage.getItem('tabReportMilestone') || this.currentTab;
      this.loadData();
    },

    computed: {
      name(){
        const anniversary = this.pluralize(this.tableData.length, "Anniversary", "Anniversaries")
        const birthday = this.pluralize(this.tableData.length, "Upcoming Birthday", "Upcoming Birthdays")
        return this.optionMilestone === 'birthday' ? birthday : anniversary
      },
      title(){
        return SWITCH_MILESTONE[ this.optionMilestone ];
      }
    },
    methods:{
      
        handleRowClick(row, column, event){
          this.$router.push({name: 'StaffDetail', params: { id: row.id }})    
        },

        async loadData(){
            this.loading = true
            var input = {
                group: this.$store.state.userInfo.tenant.group
            }
            try {
              const staffs = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');
              const filterStaffs = staffs.filter((staff)=> staff.hireDate !== null && !["Inactive - Terminated", "Onboarding"].includes(staff.status))
              const today = this.$moment();
              if (this.optionMilestone === "birthday"){
                const filterStaffsBirthday = staffs.filter((staff)=> staff.dob !== null && !["Inactive - Terminated", "Onboarding"].includes(staff.status))
                this.dataSelected = filterStaffsBirthday
                  .map( staff => this.modifyHireDate( staff ) )
                  .filter( staff => staff.status === 'Active' )
                  .map((staff)=>{
                    const hireDate = staff.hireDate ? this.$moment(staff.hireDate).format("MM/DD"): null;
                    const dob = this.$moment(staff.dob).format('MM/DD/YYYY');
                    const date = this.$moment(`${dob}`).format('MMMM, Do')
                    const age = this.$moment().diff(dob, 'years')

                    return {
                      ...staff,
                      hireDate: hireDate ? this.$moment(`${hireDate}/${today.format('YYYY')}`).format('MM/DD/YYYY') : '',
                      age,
                      dob: date
                    }
                  })
                  this.tableData = this.dataSelected;
              } else if (this.optionMilestone === 'year') {
                this.dataSelected = filterStaffs
                  .map( staff => this.modifyHireDate( staff ) )
                  .filter(staff=> {
                      const { hireDate, status } = staff;
                      const diff = this.differenceBetweenDates( today, hireDate );
                      const res = this.isDiffInRange( diff, 12, 13 );
                      return res && status == "Active";
                  })
                  .map((staff)=> {
                    const hireDate = this.$moment(staff.hireDate).format("MM/DD");
                    const dob = staff.dob ? this.$moment(staff.dob).format('MM/DD/YYYY') : null;
                    const date = this.$moment(`${hireDate}/${today.format('YYYY')}`).format('MM/DD/YYYY');
                    return ({
                      ...staff,
                      hireDate: date,
                      dob: dob ? this.$moment(`${dob}`).format('MM/DD/YYYY') : ''
                  })
                  })
                  .sort((a, b) => this.$moment(a.hireDate).format('MMDD') - this.$moment(b.hireDate).format('MMDD'))
              } else if (this.optionMilestone === 'two-year') {
                this.dataSelected = filterStaffs
                  .map( staff => this.modifyHireDate( staff ) )
                  .filter(staff=> {
                      const { hireDate, status } = staff;
                      const diff = this.differenceBetweenDates( today, hireDate );
                      const res = this.isDiffInRange( diff, 24, 25 );
                      return res && status == "Active";
                  })
                  .map((staff)=> {
                    const hireDate = this.$moment(staff.hireDate).format("MM/DD");
                    const dob = staff.dob ? this.$moment(staff.dob).format('MM/DD/YYYY') : null;
                    const date = this.$moment(`${hireDate}/${today.format('YYYY')}`).format('MM/DD/YYYY');
                    return ({
                      ...staff,
                      hireDate: date,
                      dob: dob ? this.$moment(`${dob}`).format('MM/DD/YYYY') : ''
                    })
                  })
                  .sort((a, b) => this.$moment(a.hireDate).format('MMDD') - this.$moment(b.hireDate).format('MMDD'))
              } else if (this.optionMilestone === 'three-year')  {
                  this.dataSelected = filterStaffs
                    .map( staff => this.modifyHireDate( staff ) )
                    .filter(staff=> {
                      const { hireDate, status } = staff;
                      const diff = this.differenceBetweenDates( today, hireDate );
                      const res = this.isDiffInRange( diff, 36, 37 );
                      return res && status == "Active";
                    })
                    .map((staff)=> {
                      const hireDate = this.$moment(staff.hireDate).format("MM/DD");
                      const dob = staff.dob ? this.$moment(staff.dob).format('MM/DD/YYYY') : null;
                      const date = this.$moment(`${hireDate}/${today.format('YYYY')}`).format('MM/DD/YYYY');
                      return ({
                        ...staff,
                        hireDate: date,
                        dob: dob ? this.$moment(`${dob}`).format('MM/DD/YYYY') : ''
                      })
                    })
                    .sort((a, b) => this.$moment(a.hireDate).format('MMDD') - this.$moment(b.hireDate).format('MMDD'))
              }else if (this.optionMilestone === 'four-year')  {
                  this.dataSelected = filterStaffs
                    .map( staff => this.modifyHireDate( staff ) )
                    .filter(staff=> {
                      const { hireDate, status } = staff;
                      const diff = this.differenceBetweenDates( today, hireDate );
                      const res = this.isDiffInRange( diff, 48, 49 );
                      return res && status == "Active";
                    })
                    .map((staff)=> {
                      const hireDate = this.$moment(staff.hireDate).format("MM/DD");
                      const dob = staff.dob ? this.$moment(staff.dob).format('MM/DD/YYYY') : null;
                      const date = this.$moment(`${hireDate}/${today.format('YYYY')}`).format('MM/DD/YYYY');
                      return ({
                        ...staff,
                        hireDate: date,
                        dob: dob ? this.$moment(`${dob}`).format('MM/DD/YYYY') : ''
                      })
                    })
                    .sort((a, b) => this.$moment(a.hireDate).format('MMDD') - this.$moment(b.hireDate).format('MMDD'))
              } else {
                if (this.optionMilestone === 'thirty-days') this.tab = 30
                else if (this.optionMilestone === 'three') this.tab = 3
                else if (this.optionMilestone === 'six') this.tab = 6
                else if (this.optionMilestone === 'nine') this.tab = 9
                
                this.dataSelected = filterStaffs
                  .map((staff) => {
                
                    return { ...staff, hireDate: this.$moment.parseZone(staff.hireDate).format('l LT')                  }
                  })
                  .filter(staff=> {
                      const hireDate = this.$moment(staff.hireDate).add(this.tab, this.tab === 30 ? 'days' : 'months')
                      const diff = this.$moment(hireDate).diff(today, 'days')
                      const offset = this.tab === 30 ? 5 : 30
                      const res = Math.abs(diff) < offset && Math.abs(diff) >= 0
                      return res && staff.status == "Active"
                  })
                  .map((staff)=> {
                    const hireDate = this.$moment(staff.hireDate).add(this.tab, this.tab, this.tab === 30 ? 'days' : 'months');
                    const dob = staff.dob ? this.$moment(staff.dob).format('MM/DD/YYYY') : null;
                      const date = this.$moment(hireDate).format("MM/DD/YYYY")
                    return({
                      ...staff, 
                      hireDate: date,
                      dob: dob ? this.$moment(`${dob}`).format('MM/DD/YYYY') : ''
                  })})
                  .sort((a, b) => this.$moment(a.hireDate).format('MMDD') - this.$moment(b.hireDate).format('MMDD'))
              }
              this.tableData = this.dataSelected;  
            } catch (error) {
              this.tableData = [];
            } finally {
              this.loading = false;
            }
        },

        sortDate(a,b){
          return this.$moment(a.dob, 'MMMM, Do').diff(this.$moment(b.dob, 'MMMM, Do'))
        },

        sortAge(a,b){
          return a.age - b.age
        },

        sortFirstName(a,b){
          return a.firstName.localeCompare(b.firstName)
        },

        sortLastName(a,b){
          return a.lastName.localeCompare(b.lastName)
        },

        determineBirthdayActive( { dob, status }  ) {
          const today = this.$moment();
          let dobWithoutTZ = this.$moment( dob ).format('MM/DD');
          const diff = this.$moment(`${dobWithoutTZ}/${today.format('YYYY')}`).startOf('day').diff(today.startOf('day'), 'months', true);
          const valid = status == 'Active' && (0 <= diff && diff < 1);
          return valid;
        },

        modifyHireDate(staff) {
          const { hireDate } = staff;
          return {
            ...staff,
            hireDate: this.$moment.parseZone( hireDate ).format( 'l LT' )                  
          }
        },

        differenceBetweenDates( startDate, endDate ) {
          const diff = this.$moment(startDate).add(1, 'M').startOf('day').diff(this.$moment(endDate).startOf('day'), 'months', true);
          return diff;
        },

        isDiffInRange( diff, min, max = 0 ) {
          return diff >= min && diff <= max;
        },

        hasThreeYearOrMoore( diff ) {
          return diff >= 36 && (diff % 12 >= 0 && diff % 12 <= 1)
        },

        formatDate( date ) {
          const today = this.$moment();
          const FormattedDate = `${this.$moment(date).format("MM/DD")}/${today.format('YYYY')}`;
          return FormattedDate;
        },
    }
}
</script>

<style scoped>
.table-row td{
  word-break: break-word;
}
.el-table .cell{
  word-break: break-word !important;
}
</style>