<template>
  <div>
    <p class="inline-block text-gray-600 text-base font-bold mb-3">CX FEEDBACK</p>
    <el-form label-position="top" size="small" >
      <div class="flex space-x-4">
        <div class="flex-none w-1/2">
          <el-form-item label="Total Deliveries With Feedback" prop="totalDeliveries" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.totalDeliveries}">
            {{ latestCXFeedback.totalDeliveries | text }}
          </el-form-item>
        </div>
        <div class="flex-none w-1/2">
          <el-form-item label="Above and Beyond" prop="aboveAndBeyond" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.aboveAndBeyond}">
            {{ latestCXFeedback.aboveAndBeyond | text }}
          </el-form-item>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="flex-none w-1/2">
          <el-form-item label="Followed Instructions" prop="followedInstructions" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.followedInstructions}">
            {{ latestCXFeedback.followedInstructions | text }}
          </el-form-item>
        </div>
        <div class="flex-none w-1/2">
          <el-form-item label="Delivered With Care" prop="deliveredWithCare" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.deliveredWithCare}">
            {{ latestCXFeedback.deliveredWithCare | text }}
          </el-form-item>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="flex-none w-1/2">
          <el-form-item label="Friendly" prop="friendly" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.friendly}">
            {{ latestCXFeedback.friendly | text }}
          </el-form-item>
        </div>
        <div class="flex-none w-1/2">
          <el-form-item label="Respectful of Property" prop="respectfulOfProperty" class="non-edit-field" :class="{'placeholder': !latestCXFeedback.respectfulOfProperty}">
            {{ latestCXFeedback.respectfulOfProperty | text }}
          </el-form-item>
        </div>
      </div>
      
    </el-form>

  </div>
</template>

<script>


export default {
  name: "StaffCxFeedback",
  props:[
    'staffData'
  ],

  data() {
    return {
      
    }
  },



  computed: {
    latestCXFeedback(){
      if(this.latestCxFeedbackIndex < 0) return {}
      return this.staffData.cxFeedback.items[this.latestCxFeedbackIndex]
    },

    latestCxFeedbackIndex() {
      if(!this.staffData.cxFeedback) return -1
      return this.staffData.cxFeedback.items.length - 1
    }
  },
  
  methods: {
    
  }
}

</script>
<style scoped>
  
</style>
<style>
  .non-edit-field .el-form-item__content{
    @apply text-brand font-bold text-lg border-none p-0 leading-tight;
  }

  .placeholder .el-form-item__content{
    @apply text-gray-600 !important;
  }

  
</style>

