<template>
  <div v-if="!loading">
    <!--TITLE-->
    <p class="text-gray-600 text-lg font-bold pl-2 pb-2 mb-4 border-b-2">{{title}}</p>
      <!--hides list while saving-->
    <!--LIST-->
        <div data-cy="dl-row" v-for="driver in driverList" :key="driver.id" class="flex justify-between py-2">
            <router-link data-cy="dl-staff-lnk" :to="{name: 'StaffDetail', params:{id: driver.id}}" class="w-40 h-10 el-button--text align-middle text-sm cursor-pointer underline  ml-2 pt-1"> {{ driver.name }}</router-link>
            <div class="flex ">
            <el-date-picker data-cy="dl-expiration-dpk" format="MM/dd/yyyy" v-model="driver.dlExpiration" type="date" class="w-64 h-10 mr-2"> {{ driver.dlExpiration | date }}</el-date-picker>
            <div v-loading="reloading">
              <el-button data-cy="dl-save-btn" type="primary" @click="saveData(driver)" class="w-16 h-10 mr-2"><i class="uil uil-check "></i></el-button> 
            </div>
            </div>
        </div> 
    <!--EMPTY TEXT-->
      <div v-if = "driverList.length== 0 && !loading" class="z-0 items-center text-center text-sm text-gray-600 pt-4">
        <p>Nothing to show</p>
      </div>  
  </div>
</template>

<script>

import {Storage} from 'aws-amplify'
import { staffsByGroup, staffsDlExpirationDate } from '../queries';
import { getStaffUpdatedTimestamp } from '@/utilities/timestampQueries'
import { updateStaff } from '@/graphql/mutations'

export default {
    props: ['title', 'endDate', 'type'],
    data(){
        return{
            loading: true,
            reloading: false,
            driverList: []
        }
    },
    mounted: function(){
        this.loadData()
        
    },
    methods: {
      async loadData(){
      try{
        this.loading= true
        this.checkExpirationDate()
        this.loading= false

      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },
    /**
     * Get a list and count of Staff whose DL is expired or expiring soon
     */
    async checkExpirationDate(){
      var today = this.$moment()
      try{
        var input = {
          group: this.$store.state.userInfo.tenant.group,
          filter: {status: {eq: "Active"}, dlExpiration: {le: this.endDate}}
        }
        var results = await this.gLoadListAll( staffsDlExpirationDate, input, 'staffsByGroup' )
        var staffs = results

        if(this.type == 'expiring'){
          staffs = staffs.filter((staff)=>{
            let expDate = this.$moment(staff.dlExpiration)
            if(expDate._d != "Invalid Date" && expDate >= today ){
              return staff
            }
          })
        }
        else{
          staffs = staffs.filter((staff)=>{
            let expDate = this.$moment(staff.dlExpiration)
            if(expDate._d != "Invalid Date" && expDate < today ){
              return staff
            }
          })
        }

        staffs.forEach (staff => {
          let expDate = this.$moment(staff.dlExpiration).format( "M/D/YYYY")
          let driverName = staff.firstName + " " + staff.lastName
          
            var driver = {id: staff.id, name: driverName, dlExpiration: expDate, updatedAt: staff.updatedAt};
            this.driverList.push(driver)
          
        })
      }catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    },
    /**
     * Save data using the updateStaff GraphQL mutation
     */
    saveData: async function(driver){
      try{

        this.reloading = true
        var input = {
          ...this.editDriverInfo
        }
        var d = new Date(driver.dlExpiration) //clean input
        var input = {
          dlExpiration: d,
          id: driver.id,
          updatedAt: driver.updatedAt
        }
        const staff = await this.api(updateStaff, {input}, getStaffUpdatedTimestamp, 'getStaff')
        
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }finally{
        setTimeout(()=>{  
            this.reloading = false 
            this.$emit("loadData") 
        }, 350)
      }
    }
  }
}
</script>