<template>
	<el-dialog
	  data-cy="change-status-form"
      :title="'Update '+$t('label.associate')+' Status for ' + staffData.firstName + ' ' + staffData.lastName"
      :visible.sync="statusOpen"
      :close-on-click-modal="false"
	  :close-on-press-escape= "false"
	  @close="close()"
      width="50%"
      v-loading="loading"
      >
	      <el-form label-position="left" label-width="150px" :model="statusForm" :rules="statusRules" ref="statusForm">
	        <el-form-item label="New Status" prop="newStatus">
	          <el-select
			  	data-cy="csd-new-status-sel" 
	            v-if="items.length"
	            prop="status"
	            v-model="statusForm.newStatus" 
	            placeholder="Select"
	            class="el-select-form"
	            @change="verifyStatus"
	            >
	            <el-option
	            v-for="item in items"
	            :key="item.value"
	            :label="item.label"
	            :value="item.value">
	            </el-option>
	          </el-select>
	        </el-form-item>
	        <el-form-item label="Date & Time" prop="date">
	          <el-date-picker data-cy="csd-date-dpk" format="MM/dd/yyyy hh:mm A" v-model="statusForm.date" type="datetime" :default-value="new Date()"></el-date-picker>
	        </el-form-item>
	        <el-form-item label="Reason for Change" prop="statusChangeReason">
	          <el-input data-cy="csd-status-change-reason-in" v-model="statusForm.statusChangeReason"></el-input>
	        </el-form-item>
	      </el-form>
	      <span slot="footer" class="dialog-footer space-x-2">
	        <el-button @click="statusOpen = false">Cancel</el-button>
		  	<el-tooltip :disabled="!disabledButtonUpdate" content="Please change Associate status to update" placement="top-start">
	      		<span>
					<el-button data-cy="csd-update-btn" type="primary" :disabled="disabledButtonUpdate" @click="verifyPendingItems">Update</el-button>
				</span>
			</el-tooltip>
		  </span>

	      <!-- Dialos confirm assigned DA -->
	      <el-dialog
		        width="45%"
		        title="Warning"
		        :visible.sync="assignedAsSupervisor"
		        append-to-body
		        v-loading="loading">
		        <section>
		        	<p class="my-0">
		        		{{ `${staffName} has been assigned as a supervisor to ${assignedTo.length} ${assignedTo.length > 1 ? $t('label.associates') : $t('label.associate')}.` }}
		        	</p>

		        	<ul class="list-das-assigned mt-4">
		        		<li v-for="item in assignedTo">{{ `${item.firstName} ${item.lastName}` }}</li>
		        	</ul>

		        	<p class="mt-4">Would you like to choose a new supervisor for these {{$t('label.associates')}}?</p>

		        	<div class="mt-3">
		        		<el-radio v-model="newSupervisorRadio" label="yes">Yes, assign the following supervisor instead of {{ staffName }}:</el-radio>

		        		<div class="my-3" v-if="newSupervisorRadio === 'yes'">
			        		<el-select v-model="newSupervisorSelect" placeholder="Select new supervisor">
							    <el-option
							      v-for="item in staffForSelectSupervisor"
							      :key="item.value"
							      :label="`${item.firstName} ${item.lastName}`"
							      :value="item.id">
							    </el-option>
							</el-select>
			        	</div>

  						<el-radio v-model="newSupervisorRadio" label="no"> No, unassign {{ staffName }} and do not assign a new supervisor</el-radio>
		        	</div>
		        </section>

		        <span slot="footer" class="dialog-footer">
			        <el-button @click="closeAssignedAsSupervisor">Cancel</el-button>
			        <el-button type="primary" :disabled="disabledButtonConfirm" @click="updateSupervisor">Confirm</el-button>
			    </span>
		  </el-dialog>

		  <!-- Dialog if the DA has been rostered for a future date OR they have pending coaching messages OR they have a counseling that isn’t yet signed -->
	      <el-dialog
		        width="45%"
		        title="Warning"
		        :visible.sync="dialogPendingTaks"
		        append-to-body
		        v-loading="loading">
		        <section>
		        	<p>
		        		{{ staffName }} has:
		        	</p>

		        	<ol>
		        		<li v-if="dailyRosterAssignments.length">• Daily Roster assignments for a future date</li>
		        		<li v-if="coachingMessagesPending.length">• unsent coaching messages pending</li>
		        	</ol>

		        	<p class="mt-3">
		        		These will be deleted if you continue. Click Cancel to leave this {{$t('label.associate_s')}} status unchanged.
		        	</p>
		        </section>

		        <span slot="footer" class="dialog-footer">
			        <el-button @click="closePendingTasks">Cancel</el-button>
			        <el-button type="primary" @click="deletePendingItems">Confirm</el-button>
			    </span>
		  </el-dialog>
    </el-dialog>
</template>

<script>
	import { mapState } from 'vuex'
	import { getStaffUpdatedTimestamp, getStaffStatusUpdatedTimestamp } from '@/utilities/timestampQueries'
	import { createStaffStatus, deleteRoute, deletePendingMessage } from '@/graphql/mutations'
	import { updateStaff } from '../mutations'
	import { staffsByGroup, dailyRostersByGroupAndNotesDate, pendingMessagesByGroup } from '../queries'
	import moment from 'moment-timezone';


	export default {
		data() {
			return {
				statusForm: {
			        statusChangeReason: null,
			        newStatus: '',
			        date: null
			  	},
				statusOpen: true,
				statusRules: {
					newStatus: [
					{ required: true, message: 'Please select a status', trigger: 'blur' }
					],
					statusChangeReason: [
					{ required: false, message: 'Please input a reason', trigger: 'blur' }
					],
					date: [
					{ required: true, message: 'Please select a date', trigger: 'blur' }
					]
				},
				loading: false,
				allStaff: [],
				assignedTo: [],
				assignedAsSupervisor: false,
				newSupervisorRadio: '',
				newSupervisorSelect: null,
				dialogPendingTaks: false,
				rosterData: [],
				date: '',
				formattedDate: '',
				yesterday: '',
				pendingMessages: [],
				newStaffStatus: null
			}
		},
		mounted() {
			this.loadAllStaff()

			this.statusForm.statusChangeReason = null
      		this.statusForm.newStatus = this.staffData.status
      		this.statusForm.date = new Date()

      		if(this.staffData.status == "Active") {
      			this.statusForm.newStatus = "Active"
      			this.statusOpen = true
      		} else if(this.staffData.status == "Onboarding"){
		        this.statusForm.statusChangeReason = "Completed onboarding",
		        this.statusForm.newStatus = "Active"
		        this.statusOpen = true
		    }

		    // Daily roster
		    this.routes = []
		    this.date = new Date()
		    this.formattedDate = this.date.toISOString().split('T')[0]
		    this.loadDailyRosterData()
		    this.loadPendingMessages()
		},
		props: {
			items: Array,
			staffData: Object
		},
		watch: {
			loading: function(val) {
				if(val) {
					this.loadAllStaff()
				}
			}
		},
		methods: {
			async loadAllStaff(){
		      this.allStaff = [];
		      try{
		        var input = {
		          group: this.$store.state.userInfo.tenant.group
		        }
		        this.allStaff = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');

		        this.assignedTo = this.allStaff.filter(s => s.assignedLead === this.staffData.id)

		        this.loading = false

		      }catch(e){
		        this.loading = false
		      }
		    },
			async updateStatus() {
				try {
					this.loading = true

					//check staff timestamp
					var timestampResult = await this.api(getStaffUpdatedTimestamp, {id: this.staffData.id})
					var timestamp = timestampResult.data.getStaff.updatedAt
					if(this.staffData.updatedAt != timestamp){
						throw "Record was updated by another user. Please copy any changes and refresh the page."
					}
					// validate form
					this.$refs.statusForm.validate((valid) => {
					if (!valid) throw "Please fill out all required fields."
					})

					var input = {
						reason: this.statusForm.statusChangeReason,
						previousStatus: this.staffData.status,
						date: this.statusForm.date,
						currentStatus: this.statusForm.newStatus,
						staffStatusStaffId: this.staffData.id,
						group: this.$store.state.userInfo.tenant.group,
					}

					const staffStatus = await this.api(createStaffStatus, {input})
					
					var input = {
						id: this.staffData.id,
						status: staffStatus.data.createStaffStatus.currentStatus
					}

					const staff = await this.api(updateStaff, {input})
					this.$emit('updated', staff.data.updateStaff)
					this.close()

					this.loading = false
				}
				catch(e){
					this.displayUserError(e)

					this.loading = false
				}
			},
			close() {
				this.statusForm.statusChangeReason = null
				this.statusForm.newStatus = ''
				this.statusForm.statusChangeReason = null
				this.$emit('closeFormDialog')
			},
			verifyStatus(val) {
				this.newStaffStatus = val
				if(this.statusForm.newStatus == "Inactive - Failed Onboarding"){
					this.statusForm.statusChangeReason = ""
				}
			},
			async updateSupervisor() {
				try {
					this.loading = true
					await Promise.all(this.assignedTo.map(async (staff) => {
					    var input = {...staff}
				        input = this.cleanStaffInput(input)
				        input.assignedLead = this.newSupervisorSelect
				        await this.api(updateStaff, {input}, getStaffUpdatedTimestamp, 'getStaff')
					}))
					
			        this.assignedAsSupervisor = false
			        this.newSupervisorRadio = ''
					this.newSupervisorSelect = null

					if(this.staffData.status === 'Active' && this.statusForm.newStatus !== 'Active') {
						if(this.dailyRosterAssignments.length || this.coachingMessagesPending.length) {
							this.dialogPendingTaks = true
						} else {
							this.updateStatus()
						}
					} else {
						this.updateStatus()
					}
				} catch (e) {
					this.loading = false
				}
			},
			closeAssignedAsSupervisor() {
				this.newSupervisorRadio = ''
				this.newSupervisorSelect = null
				this.assignedAsSupervisor = false
			},
			closePendingTasks() {
				this.dialogPendingTaks = false
			},
			async loadDailyRosterData() {
		      try{
		        var input = {
		          notesDate : {
		            eq: this.formattedDate
		          },
		          group: this.$store.state.userInfo.tenant.group
		        }
		        let data = await this.gLoadListAll(dailyRostersByGroupAndNotesDate, input, 'dailyRostersByGroupAndNotesDate')

		        this.rosterData = data.length ? data[0].route.items : []
		      }
		      catch(e){
		        this.displayUserError(e)
		      }finally{
		        this.loading = false
		      }
			},
			async loadPendingMessages(){
	            try{
	                var input = {
	                    group: this.$store.state.userInfo.tenant.group
	                }
	                var pendingMessages = await this.gLoadListAll(pendingMessagesByGroup, input, 'pendingMessagesByGroup')
	                pendingMessages = pendingMessages.filter(message =>{
	                    return message.staff != null && message.staff != undefined && message.staff != {}
	                })
	                this.pendingMessages = pendingMessages.sort(function(a,b){
	                    return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase())
	                })

	            }catch(e){
	                this.displayUserError(e)
	            }finally{
	                this.loading = false
	            }
	        },
	        async deletePendingItems() {
	        	this.loading = true

	        	try {
	        		if(this.dailyRosterAssignments.length) {
	        			await Promise.all(this.dailyRosterAssignments.map(async (item) => {
						    await this.deleteRoute(item.id)

						    this.loading = false
						}))
	        		}

	        		if(this.coachingMessagesPending.length) {
	        			await Promise.all(this.coachingMessagesPending.map(async (item) => {
						    await this.deleteMessagesPending(item.id)

						    this.loading = false
						}))
	        		}

	        		this.dialogPendingTaks = false

	        		await this.updateStatus()
	        	} catch(e) {
	        		this.loading = false
	        		this.displayUserError(e)
	        	}
	        },
	        async deleteRoute(id){
		      try{
		        await this.api(deleteRoute, {input:{ id }} )
		      }catch(e){
		        this.displayUserError(e)
		      }
		    },
		    async deleteMessagesPending(id) {
		    	try{
			        let input = {id}
			    	await this.api(deletePendingMessage, {input})
			    } catch(e){
			        this.displayUserError(e)
			    }
		    },
		    verifyPendingItems() {
		    	if((this.newStaffStatus === 'Inactive - Terminated' || this.newStaffStatus === 'Onboarding') && this.assignedTo.length) {
					this.assignedAsSupervisor = true

					return
				}

		    	if(this.staffData.status === 'Active' && this.newStaffStatus !== 'Active') {
					if(this.dailyRosterAssignments.length || this.coachingMessagesPending.length) {
						this.deletePendingItems()
						return
					}
				}

				this.updateStatus()
		    },
			formatDate(date) {
				const timeZone = this.userInfo.tenant.timeZone
				return moment(date).tz(timeZone).format('MM/DD/YYYY hh:mm A');
			},
		},
		computed: {
			...mapState(['messengerNotifications', 'userInfo']),
			staffName() {
				return `${this.staffData.firstName} ${this.staffData.lastName}`
			},
			staffForSelectSupervisor() {
				let filteredStaff = this.allStaff.filter(item => item.status != 'Inactive - Terminated' && item.status != 'Onboarding' && item.id != this.staffData.id)

				let finalList = []

				// Only those not listed above (assignedTo)
				filteredStaff.forEach(item => {
					let existInList = this.assignedTo.find(s => s.id === item.id)

					if(!existInList) {
						finalList.push(item)
					}
				})

				return finalList
			},
			disabledButtonConfirm() {
				let status = true

				if(this.newSupervisorRadio === 'yes' && this.newSupervisorSelect || this.newSupervisorRadio === 'no') {
					status = false
				}

				return status
			},
			dailyRosterAssignments() {
				if(this.staffData) {
					let roster = this.rosterData.filter(item => {
						if((item.staff && item.staff.id) === this.staffData.id) {
							return item
						}
					})
					let currentTime = this.$moment(new Date(), 'LT')

					return roster.filter(item => {
						let routerTime = this.$moment(item.time, "LT")
						return currentTime.isBefore(routerTime)
					})
				}
			},
			coachingMessagesPending() {
				return this.pendingMessages.filter(item => item.staff.id === this.staffData.id)
			},
			disabledButtonUpdate() {
				return (this.statusForm.newStatus === this.staffData.status) || !this.statusForm.newStatus ? true : false
			}
 		}
	}
</script>

<style>
.list-das-assigned {
	padding: 0.5rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    list-style-type: disc;
}
</style>