

<template>
    <div>

        <!--Stats Bar-->
        <p data-cy="da_latest_scorecard" class="card-title mr-4">Latest Scorecard</p>
        <p class="inline-block text-gray-600 text-base" v-if="latestScorecard.week">Week {{latestScorecard.week}} - {{latestScorecard.year}}</p>
        
        <div class="grid grid-cols-8 lg:grid-cols-6 grid-flow-row gap-2">
            <div class=" col-span-2 lg:col-span-1">
                <div class="flex">
                    <p class="text-gray-700 text-xs relative top-1">DCR</p>
                    <el-tooltip class="item" effect="dark" content="Delivery Completion Rate" placement="top" popper-class="custom-tooltip-lowest-z-index">
                     <i class="uil uil-question-circle text-base text-gray-700"/>
                    </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.dcr, 'text-brand': latestScorecard.dcr }" 
                    class="text-lg font-bold" >
                    {{ latestScorecard.dcr | condensedPercent }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">DAR </p>
                 <el-tooltip class="item" effect="dark" content="Delivered and Received" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.dar, 'text-brand': latestScorecard.dar }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.dar | text }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">SWC-POD</p>
                 <el-tooltip class="item" effect="dark" content="Standard Work Compliance - Photo-On-Delivery" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.swcPod, 'text-brand': latestScorecard.swcPod }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.swcPod | condensedPercent }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">SWC-CC</p>  
                 <el-tooltip class="item" effect="dark" content="Standard Work Compliance - Contact Compliance" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip> 
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.swcCc, 'text-brand': latestScorecard.swcCc }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.swcCc | condensedPercent }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">SWC-SC</p>
                 <el-tooltip class="item" effect="dark" content="Standard Work Compliance - Scan Compliance" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.swcSc, 'text-brand': latestScorecard.swcSc }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.swcSc | condensedPercent }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">SWC-AD</p>
                 <el-tooltip class="item" effect="dark" content="Standard Work Compliance - Attended Delivery Accuracy" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.swcAd, 'text-brand': latestScorecard.swcAd }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.swcAd | text }}
                </p>
            </div>
            <div class="  col-span-2 lg:col-span-1">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">DNRs</p>
                 <el-tooltip class="item" effect="dark" content="Did Not Receive" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.dnrs, 'text-brand': latestScorecard.dnrs }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.dnrs | text }}
                </p>
            </div>
            <div class=" col-span-2 lg:col-span-1">
                <div class="block md:flex">
                 <p class="text-gray-700 text-xs relative top-1">Overall Tier</p>
                 <el-tooltip class="item" effect="dark" content="Overall Tier" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="formatTextColor(latestScorecard.overallTier)" 
                    class="text-lg font-bold text-gray-600">
                    {{ latestScorecard.overallTier | text }}
                </p>
             </div>
             <div class=" col-span-2 lg:col-span-1 ">
                <div class="flex">
                 <p class="text-gray-700 text-xs custom-fico">FICO</p>
                 <el-tooltip class="item" effect="dark" content="FICO" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.ficoScore || latestScorecard.ficoScore === 'Coming Soon', 'text-brand':  latestScorecard.ficoScore && latestScorecard.ficoScore != 'Coming Soon' }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.ficoScore | text }}
                </p>
             </div>
             <div class=" col-span-4 lg:col-span-3">
                <div class="flex">
                 <p class="text-gray-700 text-xs relative top-1">Key Focus</p>
                 <el-tooltip class="item" effect="dark" content="Key Focus Area" placement="top" popper-class="custom-tooltip-lowest-z-index">
                  <i class="uil uil-question-circle text-base text-gray-700"/>
                 </el-tooltip>
                </div>
                <p 
                    :class="{'text-gray-600': !latestScorecard.keyFocusArea, 'text-brand': latestScorecard.keyFocusArea }" 
                    class="text-lg font-bold">
                    {{ latestScorecard.keyFocusArea | text }}
                </p>
             </div>
        </div>
    </div>
</template>

<script>
    

    export default {
        name: 'LatestScorecard',
        props: ['staffData'],
        data() {
            return {
            }
        },

        computed: {
            latestScorecard() {
                if(!this.staffData.scoreCards || this.staffData.scoreCards.items.length < 1) return {}
                return this.staffData.scoreCards.items.reduce(function(a, b){
                    return parseInt(a.year+a.week.padStart(2, 0)) > parseInt(b.year+b.week.padStart(2, 0)) ? a : b
                })
            },

            rescuedRoutesDialogTitle(){
               return "Routes Rescued By " + this.staffData.firstName + " " + this.staffData.lastName
            }
        },

        methods:{
            showRescuedRoutesTable: function(byOthers){
                if(byOthers == true){
                    this.rescuedRouteByOthersOpen = true;
                }
                else{
                    this.rescuedRoutesOpen = true;
                }
                
            }
        }
    }
</script>
<style>
 .custom-fico {
    @apply relative top-1 !important;
 }
</style>
