<template>
  <div>
    
    <div class="float-left">
      <p class="card-title mr-4">Latest CX and POD Feedback</p>
      <div class="block md:inline-block">
        <span class="text-gray-600 text-base" v-if="latestCXFeedback.week">Week {{latestCXFeedback.week}} - {{latestCXFeedback.year}}</span>
      </div>
    </div>
    <div class="flex space-x-4 justify-end">
      <i 
        @click="handleEdit()"
        class="icon-button hover:text-brand uil uil-pen mb-4"/>
    </div>
      
    <el-form label-position="top" size="small" class="clear-both md:clear-none pt-3 md:pt-0 ">
      <div class="grid grid-cols-6 grid-flow-row gap-0">
        <el-form-item label="Feedback Received" prop="totalDeliveries" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.totalDeliveries}">
          {{ latestCXFeedback.totalDeliveries | text }}
        </el-form-item>
        <el-form-item label="% Positive" prop="positiveFeedback" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.positiveFeedback}">
          {{ latestCXFeedback.positiveFeedback | text }}
        </el-form-item>
        <el-form-item label="% Negative" prop="negativeFeedback" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.negativeFeedback}">
          {{ latestCXFeedback.negativeFeedback | text }}
        </el-form-item>
        <el-form-item label="Great Delivery" prop="deliveryWasGreat" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.deliveryWasGreat}">
          <span >{{ latestCXFeedback.deliveryWasGreat | text }}</span>
        </el-form-item>
        <el-form-item label="Not Great Delivery" prop="deliveryWasntGreat" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.deliveryWasntGreat}">
          {{ latestCXFeedback.deliveryWasntGreat | text }}
        </el-form-item>
        <el-form-item label="Respectful of Property" prop="respectfulOfProperty" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.respectfulOfProperty}">
          {{ latestCXFeedback.respectfulOfProperty | text }}
        </el-form-item>
        <el-form-item label="Followed Instructions" prop="followedInstructions" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.followedInstructions}">
          {{ latestCXFeedback.followedInstructions | text }}
        </el-form-item>
        <el-form-item label="Above and Beyond" prop="aboveAndBeyond" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.aboveAndBeyond}">
          {{ latestCXFeedback.aboveAndBeyond | text }}
        </el-form-item>
        <el-form-item label="Delivered with Care" prop="deliveredWithCare" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.deliveredWithCare}">
          {{ latestCXFeedback.deliveredWithCare | text }}
        </el-form-item>
        <el-form-item label="Care for Others" prop="careForOthers" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.careForOthers}">
          {{ latestCXFeedback.careForOthers | text }}
        </el-form-item>
        <el-form-item label="Mishandled" prop="mishandledPackage" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.mishandledPackage}">
          {{ latestCXFeedback.mishandledPackage | text }}
        </el-form-item>
        <el-form-item label="Driving Unsafely" prop="drivingUnsafely" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.drivingUnsafely}">
          {{ latestCXFeedback.drivingUnsafely | text }}
        </el-form-item>
        <el-form-item :label="`${$t('label.associate')} was Unprofessional`" prop="driverUnprofessional" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.driverUnprofessional}">
          {{ latestCXFeedback.driverUnprofessional | text }}
        </el-form-item>
        <el-form-item label="Not Preferred Location" prop="notDeliveredToPreferredLocation" class="non-edit-field col-span-2" :class="{'placeholder': !latestCXFeedback.notDeliveredToPreferredLocation}">
          {{ latestCXFeedback.notDeliveredToPreferredLocation | text }}
        </el-form-item>
        <el-form-item v-if="!latestDateMatches && latestPod.grandTotal" :label="`POD Rejects (${latestPod.week} - ${latestPod.year})`" prop="podRejects" class="non-edit-field col-span-2" :class="{'placeholder': !latestPod.grandTotal}">
          {{ latestPod.grandTotal | text }}
        </el-form-item>
        <el-form-item v-else label="POD Rejects" prop="podRejects" class="non-edit-field col-span-2" :class="{'placeholder': !latestPod.grandTotal}">
          {{ latestPod.grandTotal | text }}
        </el-form-item>
      </div>
    </el-form>

    <!--EDIT STAFF COMPANY INFO MODAL-->
    <el-dialog
      title="Edit CX & POD Feedback"
      :visible.sync="editModalOpen"
      width="50%"
      :show-close="false"
      :close-on-click-modal="false"
      >

      <CxForm 
        ref="editForm" 
        v-if="editData.cx"
        :formFields="editData.cx"
        :formFieldsPod="editData.pod"/>

      <span slot="footer" class="dialog-footer">
        <el-button @click="handleEditCancel">Cancel</el-button>
        <ButtonWrapper type="primary" :clickHandler="saveData">Update</ButtonWrapper>
      </span>
    </el-dialog>

  </div>
</template>

<script>

import { updateStaffCxFeedback, updatePodQuality } from '@/graphql/mutations'
import { getPodQualityUpdatedTimestamp, getStaffCxFeedbackUpdatedTimestamp } from '@/utilities/timestampQueries'
import CxForm from '@/views/Staff/components/CustomerFeedback/CxForm'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

export default {
  name: "StaffPerformance",
  props:[
    'staffData'
  ],
  components: {
    CxForm,
    ButtonWrapper,
  },
  data() {
    return {
      editModalOpen: false,
      editData: {}
    }
  },

  computed: {
    latestCXFeedback(){
      if(!this.staffData.cxFeedback || this.staffData.cxFeedback.items.length < 1) return {}
      return this.staffData.cxFeedback.items.reduce(function(a, b){
          return parseInt(a.year+a.week.padStart(2, 0)) > parseInt(b.year+b.week.padStart(2, 0)) ? a : b
      })
    }   ,

    latestPod(){
      if(!this.staffData.podQualities || this.staffData.podQualities.items.length < 1) return {}
      return this.staffData.podQualities.items.reduce(function(a, b){
          return parseInt(a.year+a.week.padStart(2, 0)) > parseInt(b.year+b.week.padStart(2, 0)) ? a : b
      })
    },

    latestDateMatches(){
      return (this.latestCXFeedback.week == this.latestPod.week) && (this.latestCXFeedback.year == this.latestPod.year)
    }
    
  },
  
  methods: {

    handleEdit(){
      if(!this.latestCXFeedback.id) {
         this.$alert(`No customer feedback found for ${this.staffData.firstName} ${this.staffData.lastName}`, 'Edit CX & POD Feedback', {
          confirmButtonText: 'OK',
          // callback: action => {
          //   this.$message({
          //     type: 'info',
          //     message: `action: ${ action }`
          //   });
          // }
        });
        return
      }
      this.editData = {cx: {...this.latestCXFeedback}, pod: {...this.latestPod}}
      this.editModalOpen = true
    },

    /** 
     * Handles Cancel button clicks on edit device modal
     **/
    handleEditCancel(){
      this.editModalOpen = false
      this.editData = {}
    },

    /**
     * Save data using the updateStaff GraphQL mutation
     */
    saveData: async function(){
      try{
        var input = {...this.editData.cx}
        const cxResult = await this.api(updateStaffCxFeedback, {input}, getStaffCxFeedbackUpdatedTimestamp, 'getStaffCxFeedback')
        if(this.editData.pod.id){
          input = {...this.editData.pod}
          const podResult = await this.api(updatePodQuality, {input}, getPodQualityUpdatedTimestamp, 'getPodQuality')
        }
        this.$emit("loadData")
        this.editModalOpen = false
      }
      catch(e){
        console.log(e)
        this.displayUserError(e)
      }
    }
  }
}

</script>

