<template>
    <div>
        <div class="text-gray-600 text-xs italic -mt-10 mb-8">{{ filteredText }}</div>
        <el-form v-loading="loading" :model="attachmentData" :rules="rules" ref="form"> 
            <el-form-item>
                <div class="leading-normal">
                    <EmojiTextArea
                        data-cy="message-text-area"
                        ref="refEmojiTextArea"
                        :class="{'text-red-600': reachedNoteMaxCharactors}"
                        :minHeight=200
                        placeholder="Enter a message..."
                        @content-changed="$event => $emit('message-changed', $event)"
                    ></EmojiTextArea>
                    <div data-cy="message-text-count" class="float-right" :class="{'text-red-600' : reachedNoteMaxCharactors}">
                        <span class="font-bold text-xs">{{notesTextLengthCounter}}</span>
                    </div>
                </div>
            </el-form-item>

            <div v-if="!addAttachment" class="block md:flex justify-start">
                <el-form-item prop="attachment" class="settingsSwitch">
                    <el-button type="primary" @click="showAttachment()" data-cy="include-attachment-button">Include Attachment</el-button>
                </el-form-item>
                <div class="my-auto text-gray-600 pl-0 md:pl-3 mt-2 md:mt-0">
                    <p class="mb-2 md:mb-2">Attachments will be sent as an expiring link.</p>
                    <p class="text-xs break-normal">Larger images will be sent as links due to MMS size limitations. Recipients will still be able to tap the link to open the file.</p>
                </div>
            </div>

            <el-form v-if="addAttachment" label-position="top" :inline="true">
                <Attachment ref="attachRefs" @fieldsAttachment="getFieldsAttachment" @fieldsExpirationDate="getFieldsExpirationDate" @fieldsClean="fieldsClean" />
            </el-form>

        </el-form>
        
    </div>
</template>

<script>
import Attachment from "@/components/shared/Attachment/Attachment.vue"
import EmojiTextArea from '@/components/shared/Messenger/EmojiTextArea'

export default {
    name: 'StaffMessageForm',
    props:[
        'message',
        'rules',
        'statusFilter',
        'search',
        'numOfStaff',
        'attachmentData',
        'resetKey',
        'itemsMultipleSelection',
    ],
    components: {
        Attachment,
        EmojiTextArea,
    },
    data: function(){
        return{
            loading: false,
            addAttachment: false,
            document: {
                id: '',
                fileName: '', 
                fileType: '',
                path: '',
                file: '',
                src: '',
                isImage: false
            },
            maxCharacters: 918,
            fields: {
                attachment: "",
                expirationDate: "",
            },
        }
    },

    watch:{
        resetKey(){
            //whenever this field gets changed it clears out the form. 
            this.document = {
                id: '',
                fileName: '', 
                fileType: '',
                path: '',
                file: '',
                src: '',
                isImage: false
            }
            this.addAttachment = false
        },

        reachedNoteMaxCharactors(value){
            this.$emit('max-characters-exceeded', value);
        }
    },

    computed:{
        filteredText(){
            if(this.itemsMultipleSelection) {
                let l = this.itemsMultipleSelection.length

                return `Sending to ${l} Selected ${l > 1 ? this.$t('label.associates') : this.$t('label.associate')}`
            }
        },
        reachedNoteMaxCharactors(){
            return this.message?.trim().length >= this.maxCharacters
        },
        notesTextLengthCounter(){
            return `${this.message?.length??0}/${this.maxCharacters}`
        },
    },

    methods:{
        setMessage(message) {
            this.$emit('message-changed', message);
            this.$refs.refEmojiTextArea.setText(message);
        },

        getFieldsAttachment(fields) {
            this.fields.attachment = fields.file;
            this.includeAttachment(this.fields.attachment);
        },

        getFieldsExpirationDate(fields) {
            this.fields.expirationDate = fields;
            this.attachmentData.attachmentExpirationDate = this.validateExpirationDate(fields)
        },

        validateExpirationDate(date){
            const newDate = (date instanceof Date) ? date : new Date(date)
            return this.$moment(newDate).unix()
        },
        
        fieldsClean() {
            this.fields.attachment = "";
            this.fields.expirationDate = "";
            this.handleDocumentRemove();
        },

        async includeAttachment(e, path){
            try{
                var file = e
                var fileType = file.type
                var fileSize = file.size
                var isImage = fileType.includes("image") ? true : false
                    
                var uuid = this.generateUUID();
                var fileObject = {
                    id: uuid,
                    fileName: file.name, 
                    fileType: file.type,
                    path: path,
                    file: file,
                    src: '',
                    isImage: isImage
                }
                var reader  = new FileReader();
                reader.onloadend = function (){
                    fileObject.src = reader.result
                }
                if(file && fileType.includes("image")){
                    reader.readAsDataURL(file);
                }
                else{
                    fileObject.src = ""
                }
                this.document = fileObject
                this.attachmentData.contentType = fileType 
                this.attachmentData.fileName = file.name
                this.attachmentData.isImage = isImage
                this.attachmentData.file = file
                this.attachmentData.fileSize = fileSize
            }catch(e){
                this.displayUserError(e)
            }

        },

        handleDocumentRemove() {
            this.document = {
                id: '',
                fileName: '', 
                fileType: '',
                path: '',
                file: '',
                src: '',
                isImage: false
            }
            this.attachmentData.isImage = false
            this.attachmentData.fileName = null
            this.attachmentData.contentType = null
            this.attachmentData.file = null
            this.attachmentData.fileSize = null
            this.addAttachment = false
        },

        showAttachment(){
            this.addAttachment = true
        }
    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }

    .fileContainer{
        @apply text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base !important;
    }
</style>