<template>
    <div class="-mt-4" v-loading="systemPreferences.loading">
        <el-tabs tab-position="left" style="height: 300px;">
            <el-tab-pane label="Communication">
                <div class="pl-4">                    
                    <p class="mb-2 font-bold">Communication Preferences</p>
                    
                    <div class="flex items-center space-x-2 mb-2">
                        <p class=" w-32">Email Updates</p>
                        <el-switch
                            data-cy="receive-email-messages-chk"
                            v-model="prefs.receiveEmailMessages"
                            active-color="#13ce66"
                            :disabled="switchLoading"
                            @change="(value)=>{updateSmsOrEmailPreferences(value, 'receiveEmailMessages')}"
                            >
                        </el-switch>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">
                                <p class="font-bold mb-1">Email Opt In Change Log</p>
                                <p v-for="item in emailPreferencesHistory" :key="item.id">
                                    <span>{{ item.description }} at {{ $moment(item.datetime).format(communicationsPreferenceFormat) }}</span>
                                </p>
                            </div>
                            <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
                        </el-tooltip>
                    </div>

                    <div class="flex items-center space-x-2 mb-4">
                        <p class=" w-32">Text Updates</p>
                        <el-switch
                            data-cy="receive-text-messages-chk"
                            v-model="prefs.receiveTextMessages"
                            active-color="#13ce66"
                            :disabled="switchLoading"
                            @change="(value)=>{updateSmsOrEmailPreferences(value, 'receiveTextMessages')}"
                            >
                        </el-switch>
                        <el-tooltip class="item" effect="dark" placement="top">
                            <div slot="content">
                                <p class="font-bold mb-1">Text Opt In Change Log</p>
                                <p v-for="item in smsPreferencesHistory" :key="item.id">
                                    <span>{{ item.description }} at {{ $moment(item.datetime).format(communicationsPreferenceFormat) }}</span>
                                </p>
                            </div>
                            <p class="text-gray-600"><i class="uil uil-question-circle text-base"></i></p>
                        </el-tooltip>
                    </div>

                    <el-button 
                        data-cy="send-test-message-btn"
                        @click="testMessage()"
                        size="mini" 
                        icon="el-icon-s-promotion" 
                        :disabled="!prefs.receiveTextMessages && !prefs.receiveEmailMessages">
                        Send Test Message
                    </el-button>

                    <p class="mt-4 break-normal">{{$t('label.associates')}} can control their own communication preferences by sending <strong class="text-black">START</strong> or <strong class="text-black">STOP</strong> to <a class="text-brand underline inline-block" :href="'tel:' + userInfo.tenant.originationNumber">{{ phone }}</a> or by clicking the link included in all email communications.</p>
                </div>

            </el-tab-pane>
            <el-tab-pane label="Imports">
                <div class="w-full pl-4">                    
                    <p class="mb-2 font-bold">Import Names</p>
                    <div class="w-full mb-2">
                        <el-tag
                            :key="tag+index"
                            v-for="(tag, index) in prefs.alternateNames"
                            class="mb-2 mr-2"
                            closable
                            :disable-transitions="false"
                            @close="handleDeleteAltName(index)">
                            {{tag}}
                        </el-tag>
                        <el-input
                            v-loading="altNameUpdateLoading"
                            data-cy="import-name-in"
                            class="input-new-tag"
                            v-if="inputVisible"
                            v-model="inputValue"
                            ref="saveTagInput"
                            size="mini"
                            @keyup.enter.native="handleInputConfirm"
                            @blur="handleInputConfirm">
                        </el-input>
                        <el-button data-cy="new-import-name-btn" v-else class="button-new-tag" size="small" @click="showInput">+ New Name</el-button>
                        
                    </div>

                    <p class="mt-4 break-normal">This list will be used to determine {{$t('label.associate')}} matches for Mentor imports. It will be populated as you select matching {{$t('label.associates')}} from the import. You can also manually manage the list here.</p>
                </div>

            </el-tab-pane>
            <!-- <el-tab-pane label="Role">Role</el-tab-pane>
            <el-tab-pane label="Other">Other</el-tab-pane> -->
        </el-tabs>

        

        
    </div>
</template>

<script>
import sendMessage from '@/scripts/sendMessage'
import { getStaffPreferences } from '../queries'
import { getStaffUpdatedTimestamp } from '@/utilities/timestampQueries'
import { mapState } from 'vuex'
import { SMS, EMAIL, datetimeFormat } from '@/utilities/constants/messagePreferenceType'
import { updateStaffPreferences, createMessagePreferencesHistory } from '@/views/Staff/mutations'
import { sortByDateProp } from '@/utilities/sortHelpers'

export default {
    props: ['data','systemPreferences'],
    data(){
        return{
            prefs:{
                receiveTextMessages: false,
                receiveEmailMessages: false
            },
            inputVisible: false,
            inputValue: '',
            altNameUpdateLoading: false,
            switchLoading: false,
            communicationsPreferenceFormat: datetimeFormat,
        }
    },
    async mounted(){
        await this.setPrefs()
    },
    computed:{
        ...mapState(['userInfo']),

        smsPreferencesHistory(){
            const messagePreferencesHistory = this.prefs.messagePreferencesHistory?.items || [];
            return this.filterAndSortMessagePreferencesHistory(messagePreferencesHistory, SMS);
        },

        emailPreferencesHistory(){
            const messagePreferencesHistory = this.prefs.messagePreferencesHistory?.items || [];
            return this.filterAndSortMessagePreferencesHistory(messagePreferencesHistory, EMAIL);
        },

        phone(){
            if (!this.userInfo.tenant.originationNumber){
                return
            }else if (this.userInfo.tenant.originationNumber.length <= 10){
                return this.userInfo.tenant.originationNumber
            }else{
                return this.formatPhoneNumber( this.userInfo.tenant.originationNumber.substring(2))
            }
        }
    },
    methods:{
        
        filterAndSortMessagePreferencesHistory(history=[], type){
            return history.filter(item => item.messagePreferenceType === type).sort(sortByDateProp('datetime'));
        },

        async handleDeleteAltName(index) {
            if(this.altNameUpdateLoading || !this.prefs.alternateNames) return
            // update record
            this.altNameUpdateLoading = true
            try{
                this.prefs.alternateNames.splice(index, 1)
                var input = {
                    id: this.prefs.id,
                    alternateNames: this.prefs.alternateNames,
                    updatedAt: this.data.updatedAt
                }
                const updateRes = await this.api(updateStaffPreferences, {input}, getStaffUpdatedTimestamp, 'getStaff')
                this.updateStaffVueData(updateRes.data.updateStaff)
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.altNameUpdateLoading = false
            }
        },

        showInput() {
            this.inputVisible = true;
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },

        async handleInputConfirm() {
            if(this.altNameUpdateLoading) return
            this.altNameUpdateLoading = true
            try{
                let inputValue = this.inputValue.replace(/\s+/g, ' ').trim();
                if (inputValue) {
                    // update record
                    if(this.prefs?.alternateNames){
                        let assNameFound = false;
                        this.prefs.alternateNames.forEach((data, i) => {
                            if(data === inputValue)
                            {
                              this.displayUserError('Already exists! Type another one')
                              assNameFound = true
                            }
                            else
                            {
                            }
                        })
                        !assNameFound && this.prefs.alternateNames.push(inputValue)
                    }
                    else{
                        this.prefs.alternateNames = [inputValue]
                    }
                    var input = {
                        id: this.prefs.id,
                        alternateNames: this.prefs.alternateNames,
                        updatedAt: this.data.updatedAt
                    }
                    const updateRes = await this.api(updateStaffPreferences, {input}, getStaffUpdatedTimestamp, 'getStaff')
                    this.updateStaffVueData(updateRes.data.updateStaff)
                }
                this.inputVisible = false;
                this.inputValue = '';
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.altNameUpdateLoading = false
            }
        },

        async setPrefs(){
            const staffPreferences = await this.api(getStaffPreferences, {id: this.data.id})
            this.updateStaffVueData(staffPreferences.data.getStaff)
            this.systemPreferences.loading = false
        },

        updateStaffVueData(newData){
            Object.entries(newData).forEach(([key, value])=> (this.data[key] = value))
            this.prefs = this.data
            let _prefs  = {...this.prefs}
            this.prefs.alternateNames = [...new Set(_prefs && _prefs.alternateNames && _prefs.alternateNames.map(item => item.replace(/\s+/g, ' ').trim()))]
        },

        async updateSmsOrEmailPreferences(value, fieldName){
            this.switchLoading = true
            const messagePreferencesHistoryInput = {
                group: this.prefs.group,
                messagePreferencesHistoryStaffId: this.prefs.id,
                description: `${this.userInfo.firstName} ${this.userInfo.lastName} changed the opt-in status to ${value}`,
                datetime: new Date().toISOString(),
                messagePreferenceType: fieldName === 'receiveEmailMessages' ? EMAIL : SMS
            }
            const inputStaff = {
                id: this.prefs.id,
                [fieldName]: value,
                updatedAt: this.data.updatedAt
            }
            
            try {
                const { data: updateResponse } = await this.api(updateStaffPreferences, {input: inputStaff}, getStaffUpdatedTimestamp, 'getStaff')
                const { data: createResponse } = await this.api(createMessagePreferencesHistory, {input: messagePreferencesHistoryInput})
                if(updateResponse.updateStaff && updateResponse.updateStaff.messagePreferencesHistory?.items && createResponse.createMessagePreferencesHistory){
                    updateResponse.updateStaff.messagePreferencesHistory.items.push(createResponse.createMessagePreferencesHistory)
                }
                this.displayUserNotification({
                    title: "Success",
                    type: "success",
                    message: 'Communication preference updated'
                })
                this.updateStaffVueData(updateResponse.updateStaff);

            } catch (error) {
                this.displayUserError(error);
            } finally{
                this.switchLoading = false
            }
        },

        testMessage(){
            let bodyText = `Hello ${this.prefs.firstName}! This is a test message from Hera.`
            let bodyHtml = `Hello <strong>${this.prefs.firstName}</strong>! This is a test message from Hera.`
            let header = "Hera Test Email"
            let subject = "Hera Test Email"
            let companyName = this.$store.state.userInfo.tenant.companyName

            sendMessage({staff: this.prefs, companyName, bodyText, bodyHtml, header, subject})
        },
    }
}
</script>