<template>
    <div>
        <div class="flex items-center justify-between mb-4">
            <div class="flex justify-between">
                <div class="flex space-x-2 items-center h-8">
                    <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum"
                        v-once>
                        <el-breadcrumb-item :to="{ name: 'ReportsIndex' }"><i class="uil uil-file-alt"></i> Tasks & Reports</el-breadcrumb-item>
                        <el-breadcrumb-item>30-Day Repeat Offenders</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
            </div>
        </div>

        <TableCard tablecard-class="rounded-lg">
            <template v-slot:table-filters>
                <ContainerFilter inTable>
                    <template v-slot:title>
                        <span>30-Day Repeat Offenders</span>
                    </template>
                    <template v-slot:filters>
                        <CounterFilter :counter="counterFilters" />
                        <MultiSelectFilter
                            type="associateStatus"
                            :title="`${$t('label.associate')} Status`" 
                            :options="associateStatusOptions"
                            :selected="associateStatusSelected"
                            @update-filters="updateFilters"
                        />
                        <MultiSelectFilter
                            type="issueType"
                            :title="`${$t('label.associate')} Issue Type`"
                            :filterAllTitle="`${$t('label.associate')} Issue Types`"
                            :options="issueTypeOptions"
                            :selected="issueTypeSelected"
                            @update-filters="updateFilters"
                        />

                    </template>
                </ContainerFilter>
            </template>

            <template v-slot:table-searchbox>
                <SearchBox inTable @search-data="searchData"/>
            </template>

            <div class="relative">
                <CustomTable
                    inTable
                    ref="table"
                    v-loading="loading"
                    :columns="cols"
                    :data="filterArray(tableData, search)"
                    :totalRecords="totalRecords"
                    :defaultSort="{
                        prop: 'occurrencesThisMonth',
                        order: 'descending',
                    }"
                    :optionsRows="optionsContextRow"
                    :footerTable="`${$t('label.associates')}`" 
                    class="repeat-offenders-report"
                >
                    <template #occurrencesThisMonth="row">
                        {{ row.occurrencesThisMonth }}
                    </template>
                    <template #occurrencesLastMonth="row">
                        {{ row.occurrencesLastMonth }}
                    </template>
                    <template #occurrencesVariance="row">
                        {{ row.occurrencesVariance }}
                        <el-tooltip effect="dark" placement="top" popper-class="custom-tooltip-higher-z-index"
                            :content="tooltipContent(row.occurrencesThisMonth, row.occurrencesLastMonth)">
                            <i v-if="row.occurrencesThisMonth > row.occurrencesLastMonth" class="-mt-1 text-lg p-0 uil uil-sort-amount-up text-red-500"></i>
                            <i v-if="row.occurrencesThisMonth == row.occurrencesLastMonth" class="-mt-1 text-lg p-0 uil uil-bars text-blue-500"></i>
                            <i v-if="row.occurrencesThisMonth < row.occurrencesLastMonth" class="-mt-1 text-lg p-0 uil uil-sort-amount-down text-green-500"></i>
                        </el-tooltip>
                    </template>
                </CustomTable>

                <PremiumTriangle v-if="!hasPerformanceCoaching" showSampleDataText/>
            </div>
           
        </TableCard>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import momentTz from 'moment-timezone'
import { infractionsByGroupAndDate } from '@/views/DaIssues/queries'
import TableCard from '@/components/TableCard/TableCard'
import CustomTable from '@/components/TableCard/CustomTable'
import ContainerFilter from '@/components/TableCard/ContainerFilter'
import SearchBox from '@/components/TableCard/SearchBox'
import MultiSelectFilter from '@/components/MultiSelectFilter'
import CounterFilter from '@/components/CounterFilters'
import PremiumTriangle from '@/components/PremiumTriangle'
import { sampleDataRepeatOffenders } from './sampleData'
import { parseType } from '@/utilities/parseType'

export default {
    name: 'RepeatOffendersReport',
    components: {
        TableCard,
        CustomTable,
        ContainerFilter,
        SearchBox,
        MultiSelectFilter,
        CounterFilter,
        PremiumTriangle
    },
    data() {
        return {
            loading: false,
            associateStatusOptions: [],
            associateStatusSelected: [],
            issueTypeOptions: [],
            issueTypeSelected: [],
            search: '',
            tableData: [],
            unfilteredData: [],
            totalRecords: 0,
            cols: [
                { name: "First Name", col: "firstName", fixed: false, width: "120", sortable: false },
                { name: "Last Name", col: "lastName", fixed: false, width: "120", sortable: false },
                { name: "Issue Type", col: "issueType", fixed: false, width: "140", sortable: false },
                { name: "Occurrences Last 30 Days", col: "occurrencesThisMonth", fixed: false, width: "140", sortable: true, sortMethod: undefined },
                { name: "Occurrences Previous 30 Days", col: "occurrencesLastMonth", fixed: false, width: "140", sortable: false },
                { name: "Occurrence Variance", col: "occurrencesVariance", fixed: false, width: "140", sortable: false }
                
            ],
            optionsContextRow: []

        }
    },

    created(){
        this.loadFilters()
        this.loadData()
    },

    computed: {
        ...mapState([
            'userInfo', 
            'valuelists'
        ]),

        ...mapGetters([
            'hasPerformanceCoaching',
            'issueTypeList',
        ]),

        counterFilters(){
            const filtersAssociateStatus = this.associateStatusSelected.length === this.associateStatusOptions.length ? 0 : 1
            const filtersCounselingType = this.issueTypeSelected.length === this.issueTypeOptions.length ? 0 : 1
            return filtersAssociateStatus + filtersCounselingType
        }
    },

    methods: {

        loadFilters() {
            const staffStatuses  = this.valuelists['staff-status'].items || []
            this.associateStatusOptions = this.valueListActivesOnly(staffStatuses).map(item => item.value)
            const issueTypes = this.customListEnabled(this.issueTypeList)
            this.issueTypeOptions = issueTypes.map(item => item.option)

            this.associateStatusSelected = ['Active']
            this.issueTypeSelected = this.issueTypeOptions
        },

        async getData(starDate, endDate){
            let result = []
            try {
                const input = {
                    group: this.userInfo.tenant.group,
                    date: { between: [starDate, endDate] },
                    sortDirection: "DESC",
                }
                result = await this.gLoadListAll(infractionsByGroupAndDate, input, "infractionsByGroupAndDate")
            } catch (error) {
                this.printUserError(error)
            } finally{
                return result
            }
        },

        async loadData(){
            try {
                this.loading = true
                if(!this.hasPerformanceCoaching){
                    this.unfilteredData = sampleDataRepeatOffenders
                    this.totalRecords =  this.unfilteredData.length
                    this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected, this.issueTypeSelected)
                    return
                }
                const currentDate = momentTz.tz(this.getTenantTimeZone())
                let endDate = this.$moment(currentDate).add(1, "days").format("YYYY-MM-DD")
                let starDate = this.$moment(currentDate).subtract(30, "days").format("YYYY-MM-DD")

                const issuesForThisMonth = await this.getData(starDate, endDate)
                endDate = this.$moment(currentDate).subtract(31, "days").format("YYYY-MM-DD")
                starDate = this.$moment(currentDate).subtract(60, "days").format("YYYY-MM-DD")
                const issuesForThePreviousMonth = await this.getData(starDate, endDate)

                this.unfilteredData = this.formatData(issuesForThisMonth, issuesForThePreviousMonth)
                this.totalRecords = this.unfilteredData.length
                this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected, this.issueTypeSelected)
                
            } catch (error) {
                this.printUserError(error)
            } finally {
                this.loading = false
            }
            
        },   

        formatData(dataForThisMonth=[], dataForThePreviousMonth=[]){
            let formattedData = {}
            const formatIssue = (item, typeOccurrence) => {
                const { staff } = item
                const infractionType = item.type ? item.type.option : parseType(item.infractionType);
                const key = `${staff.id}-${infractionType}`
                if(!formattedData[key]){
                    formattedData[key] = {
                        firstName: staff.firstName,
                        lastName: staff.lastName,
                        status: staff.status,
                        issueType: infractionType,
                        occurrencesThisMonth: 0,
                        occurrencesLastMonth: 0,
                        occurrencesVariance: 0
                    }
                }
                formattedData[key][typeOccurrence]++
            }
            
            dataForThisMonth.forEach((item) => formatIssue(item, "occurrencesThisMonth"))
            dataForThePreviousMonth.forEach((item) => formatIssue(item, "occurrencesLastMonth"))
            
            Object.values(formattedData).forEach(item => {
                item.occurrencesVariance = item.occurrencesThisMonth - item.occurrencesLastMonth
            })
            
            return Object.values(formattedData)
        },

        

        applyFilters(data = [], associateStatusFilters = [], issueTypeFilters = []){
            if(!data.length) return []
            if(!associateStatusFilters.length && !issueTypeFilters.length) return data
            //filter for associate status
            let filteredData = this.filterByField(data, associateStatusFilters, 'status')
           
            //filter for associate issueType
            filteredData = this.filterByField(filteredData, issueTypeFilters, 'issueType')
            return filteredData
        },

        filterByField(data=[], filters=[], field){
            if (!filters.length) return data
            return data.filter(item => filters.includes(item[field]))
        },

        updateFilters(e){
            const { type, filters } = e
            const actions = {
                associateStatus: () => {
                  this.associateStatusSelected = filters
                },
                issueType: () => {
                  this.issueTypeSelected = filters
                }
            }
            actions[type]()
            this.tableData = this.applyFilters(this.unfilteredData, this.associateStatusSelected, this.issueTypeSelected)
        },

        tooltipContent(occurrencesThisMonth=0, occurrencesLastMonth=0) {
            if (occurrencesThisMonth > occurrencesLastMonth) return `Up from this Associate having this Issue ${occurrencesThisMonth}x in the previous 30-day period.`
            if (occurrencesThisMonth < occurrencesLastMonth) return `Down from this Associate having this Issue ${occurrencesThisMonth}x in the previous 30-day period.`
            if (occurrencesThisMonth == occurrencesLastMonth) return `No change in how many times this Associate had this Issue in the previous 30-day period.`
        },

        searchData(e){
            this.search = e
        }
    }
}
</script>
<style>
.repeat-offenders-report .el-table th.el-table__cell > .cell {
    display: flex !important;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
</style>