
<template>
  <div v-if="!loading">
    <!--HEADER-->
    <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-button v-if="$store.getters.hasStaffManagement" class="w-40" size="small" type="primary" @click="addInjury" >Add Injury</el-button>
            <el-popover
                v-else
                placement="bottom"
                title="Premium Required"
                width="215"
                trigger="hover"
                content=""
                class="mr-2 text-center"
                > 
                <el-button class="w-40 opacity-50" size="small" type="primary" slot="reference">Add Injury</el-button>
                <PremiumWarning
                    action="add injury reports"
                    premiumFeature="DA management">
                </PremiumWarning>
            </el-popover>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."/>
        </div>
    </div>  


    <!--INJURY TABLE-->
    <el-table
        v-if="!loading"
        ref="table"
        empty-text="No Injuries"
        :data="filterArray( tableData, search )"
        style="width: 100%">
    
        <el-table-column
          label="Record Created"
          sortable
          prop="date"
          :sort-method="sortDate">
          <template slot-scope="scope">
            {{ scope.row.createdAt | date }}
          </template>
        </el-table-column>

        <el-table-column
          label="Injury Date"
          sortable
          prop="date"
          :sort-method="sortDate">
          <template slot-scope="scope">
            {{ scope.row.injuryDate | date_timezone }}
          </template>
        </el-table-column>

        <el-table-column
          label="Physician"
          prop="physician">
          <template slot-scope="scope">
            {{ scope.row.physicianName | text }}
          </template>
        </el-table-column>   

        <el-table-column
          label="Notes"
          prop="notes"
          width="100">
          <template slot-scope="scope">
            <span class="truncate width-80-px">{{ scope.row.notes | text }}</span>
          </template>
        </el-table-column>   

        <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
            <i class="icon-button hover:text-brand uil uil-print" @click="handlePrint(scope.row.id)"/>
          </template>
        </el-table-column>

        <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
            <router-link :to="{ name: 'InjuryEdit', params:{injuryID: scope.row.id, fullName: fullName}}">
              <i class="icon-button hover:text-brand uil uil-pen"/>
            </router-link>
          </template>
        </el-table-column>

    </el-table>

    <p class="mt-4" >{{ tableData.length || 0 }} Total Injuries</p>


    
  
  </div>

</template>

<script>

import { Storage } from 'aws-amplify'
import { Auth, API } from 'aws-amplify';
import { injuriesByStaff } from '@/graphql/queries'
import PremiumWarning from '@/components/PremiumWarning'

export default {
  name: 'InjuryList',
  props: ['fullName', 'staffID', 'vehicleID'],
  components: {PremiumWarning},
  data() {
    return {
      loading: true,
      search: '',
      injuryData:[]
    }
  },
  mounted(){
      this.loadData()
  },


  methods: {
      addInjury(){
          this.$router.push({ name: 'InjuryNew', params: { staffID: this.staffID, fullName: this.fullName}})
      },
    async loadData() {
      this.loading = true
      try{
      let input = {
        staffId: this.staffID
      }
      if (this.staffID != null && this.staffID != undefined){
        var result = await this.gLoadListAll(injuriesByStaff, input, 'injuriesByStaff')
        this.tableData = result
      }
      }catch(e) {
        console.log(e)
        this.displayUserError(e)        
      }finally{
        this.loading = false
        this.redirect = this.$route.fullPath
      }
    },

    /*
    * Opens the injury data in a print view
    */
    handlePrint: function(id){
        let route = this.$router.resolve({name: 'PrintInjury', params:{injuryID: id}})
        window.open(route.href, '_blank')
    },
    sortDate(a,b){
        return new Date(a.injuryDate) - new Date(b.injuryDate);
    },
    sortLastName(a,b){
      return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
    }

  }
}
</script>
<style scoped>
 .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .width-80-px{
    width: 80px !important;
  }

</style>