<template>
    <div data-cy="new-injury-content">
            <!--add breadcrumb change based on isNew for add/edit in bc-->
        <div class="flex justify-between items-center">
            <div class="flex justify-between">
                <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum" class="mb-4">
                    <el-breadcrumb-item :to="{ name: 'Dashboard' }"><i class="uil uil-home"></i></el-breadcrumb-item>
                    <el-breadcrumb-item :to="{ name: 'StaffIndex' }">{{$t('label.associates')}}</el-breadcrumb-item>
                    <el-breadcrumb-item v-if="staffID" :to="{ name: 'StaffDetail', params: { id: staffID } }">{{fullName}}</el-breadcrumb-item>
                    <el-breadcrumb-item v-if="isNew">New Injury</el-breadcrumb-item>
                    <el-breadcrumb-item v-else>Edit Injury</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
             <span v-if="!isNew" class="flex space-x-2 justify-end -mt-4">
                <i class="icon-button hover:text-brand uil uil-file-download" @click="handlePrint"/>
                <i class="icon-button hover:text-brand uil uil-print" @click="handlePrint"/>
                <i data-cy="delete" class="icon-button hover:text-brand uil uil-trash-alt" @click="deleteModalOpen=true"/>
            </span>
        </div>
        
        <!--MAIN TOP PANEL-->
        <div class="card" v-loading="loading" data-cy="da-information-content">
            <div class="card-title">{{$t('label.associate')}} Information</div>
            <el-form  label-width="160px" :model="formFields" :rules="rules"  ref="formFields" class="w-full">
                <div class="flex flex-col md:flex-row md:justify-between md:space-x-6 lg:space-x-4">
                    <!--LEFT COL-->
                    <div class="w-full md:w-1/2">
                        <el-form-item :label="$t('label.associate')" prop="staff" >
                            <el-select 
                                data-cy="da-list"
                                v-model="formFields.staff.id"  
                                clearable
                                filterable
                                @change="handleStaffChange"
                                placeholder="Select"
                                >
                                    <el-option
                                        class="mobile-select-injury"
                                        v-for="item in staffList"
                                        :key="item.id"
                                        :label="item.firstName + ' ' + item.lastName"
                                        :value="item.id">
                                        <span style="float: left">{{ item.firstName + ' ' + item.lastName }} ({{ item.status }})</span>
                                    </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item :label="`${$t('label.associate')} Address`">
                            <div class="mb-1">
                                <el-input data-cy="address" v-model="formFields.driverAddress" placeholder="Street"></el-input>
                            </div>
                            <div class="mb-1 flex space-x-1">
                                <el-input data-cy="city" v-model="formFields.driverCity" placeholder="City"></el-input>
                                <el-input data-cy="state" v-model="formFields.driverState" placeholder="State"></el-input>
                                <el-input data-cy="zip" v-model="formFields.driverZip" placeholder="Zip"></el-input>
                            </div>
                        </el-form-item>
                        <el-form-item label="Gender">
                            <el-radio-group data-cy="gender" v-model="formFields.driverGender" class="flex flex-row items-center md:inline-flex custom-radio-group-injury">
                                <el-radio-button label="Male" class="custom-radio-width"></el-radio-button>
                                <el-radio-button label="Female" class="custom-border-left"></el-radio-button>
                                <el-radio-button label="Other" ></el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="Date of Birth" prop="driverDOB">
                            <DatePicker data-cy="date-of-birth" class="custom-date-picker" :selectedDate="formFields.driverDOB" placeholder="" @date-selected="handleDateSelected($event, 'driverDOB')" />
                        </el-form-item>

                        
                    </div>

                    <!--RIGHT COL-->
                    <div  class="w-full md:w-1/2">
                        <el-form-item :label="`${$t('label.associate')} Hire Date`"  prop="driverHireDate">
                            <DatePicker data-cy="da-hire-date" class="custom-date-picker" :selectedDate="formFields.driverHireDate" placeholder="" @date-selected="handleDateSelected($event, 'driverHireDate')" />
                        </el-form-item>
                        <el-form-item label="Form Completed By" prop="user" >
                            <el-select
                            data-cy="form-completed-by"
                            v-model="formFields.user.id"  
                            clearable
                            filterable
                            @change="handleUserChange"
                            placeholder="Select">
                                <el-option
                                v-for="user in userList"
                                :key="user.id"
                                :label="user.firstName + ' ' + user.lastName"
                                :value="user.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Completed By Title" prop="title" >
                            <el-input data-cy="completed-by-title" placeholder="Supervisor, Manager, etc."  v-model="formFields.completedByTitle">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="Completed By Phone" prop="completedByPhone" >
                            <el-input data-cy="completed-by-phone" placeholder="Phone" type="tel" pattern="([0-9]{3})[0-9]{3}-[0-9]{4}" class="" v-model="formFields.completedByPhone">
                            </el-input>
                        </el-form-item>
                    </div>
                </div>
            </el-form>
            </div>

            <!--MAIN BOTTOM PANEL-->
            <div class="card" v-loading="loading" data-cy="incident-information-content">
                <p class="card-title">Incident Information</p>
                <div class="flex flex-col md:flex-row md:space-x-4">
                    <!--LEFT COL-->
                    <div class="w-full md:w-1/2">
                        <!-- left label form -->
                        <el-form v-if="!loading" label-width="150px" :model="formFields" :rules="rules" ref="formFieldsIncident">
                            <el-form-item label="Injury Date" prop="injuryDate" >
                                <DatePicker data-cy="injury-date" :selectedDate="formFields.injuryDate" class="custom-date-picker" placeholder="" @date-selected="handleDateSelected($event, 'injuryDate')" />
                            </el-form-item>
                            <el-form-item label="Date of Death" prop="dateOfDeath" >
                                <DatePicker data-cy="date-of-death" :selectedDate="formFields.dateOfDeath" class="custom-date-picker" placeholder="" @date-selected="handleDateSelected($event, 'dateOfDeath')" />
                            </el-form-item>
                            <el-form-item label="Time Shift Started" prop="timeStaffStartedWork" >
                                <el-input data-cy="time-shift-started" placeholder="HH:MMAM/PM" v-model="formFields.timeStaffStartedWork" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Injury Time" prop="injuryTime">
                                <el-input v-if="formFields.injuryTimeIsUnknown == '' || formFields.injuryTimeIsUnknown == false" data-cy="injury-time" placeholder="HH:MMAM/PM" v-model="formFields.injuryTime" clearable class="mr-2"></el-input>
                                <el-input v-else-if="formFields.injuryTimeIsUnknown" data-cy="injury-time" placeholder="HH:MMAM/PM" v-model="formFields.injuryTime" :disabled="true" clearable class="mr-2"></el-input>
                                <el-checkbox v-if="formFields.injuryTime == ''" data-cy="injury-time-is-unknown" v-model="formFields.injuryTimeIsUnknown" ><span class="text-xxs ">Check if injury time is unknown</span></el-checkbox>
                                <el-checkbox v-else-if="formFields.injuryTime" data-cy="injury-time-is-unknown" v-model="formFields.injuryTimeIsUnknown" :disabled="true"><span class="text-xxs ">Check if injury time is unknown</span></el-checkbox>
                           </el-form-item>
                        </el-form>
                        <!-- top label form -->
                        <el-form label-position="top" :model="formFields" :rules="rules" class="">
                            <div class="flex flex-col xl:flex-row xl:justify-between xl:mb-4 ">
                                <el-form-item :label="`Was ${$t('label.associate')} treated in ER?`">
                                    <el-radio-group data-cy="da-treated-in" v-model="formFields.wasTreatedInER" class="flex flex-row items-center md:inline-flex custom-radio-group-injury">
                                        <el-radio-button label="Yes"></el-radio-button>
                                        <el-radio-button label="No"></el-radio-button>
                                        <el-radio-button label="Unknown"></el-radio-button>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item :label="`Was ${$t('label.associate')} hospitalized overnight?`" class="mr-6">
                                    <el-radio-group data-cy="da-hospitalized-overnight" v-model="formFields.wasHospitalizedOvernight" class="flex flex-row items-center md:inline-flex custom-radio-group-injury">
                                        <el-radio-button label="Yes"></el-radio-button>
                                        <el-radio-button label="No"></el-radio-button>
                                        <el-radio-button label="Unknown"></el-radio-button>
                                    </el-radio-group>
                                </el-form-item>
                            </div>
                            <el-form-item label="What happened?" prop="descriptionIncident">
                                <textarea
                                    data-cy="what-happened"
                                    class="el-textarea__inner pt-2"
                                    rows="2"
                                    v-model="formFields.descriptionIncident">
                                </textarea>
                            </el-form-item>
                            <el-form-item :label="`What object or substance directly harmed the ${$t('label.associate')}?`" prop="descriptionDirectHarmCause">
                                <textarea
                                    data-cy="object-or-substance-harmed"
                                    class="el-textarea__inner pt-2"
                                    rows="2"
                                    v-model="formFields.descriptionDirectHarmCause">
                                </textarea>
                            </el-form-item>
                        </el-form>
                    </div>
                    <!--RIGHT COL-->
                    <div class="w-full md:w-1/2">
                        <!-- left label form -->
                        <el-form v-if="!loading" label-width="150px" :model="formFields" :rules="rules">
                            <el-form-item label="Case Number" prop="caseNumber" >
                                <el-input data-cy="case-number" v-model="formFields.caseNumber" ></el-input>
                            </el-form-item>
                            <el-form-item label="Physician" prop="physicianName">
                                <el-input data-cy="physician" placeholder="Name" class="" v-model="formFields.physicianName">
                                </el-input>
                            </el-form-item>
                            <el-form-item label="Physician Facility" prop="facility" >
                                <el-input data-cy="physician-facility" placeholder="Facility Name"  v-model="formFields.physicianFacility">
                                </el-input>
                            </el-form-item>
                            <el-form-item label="Facility Address">
                                <div class="mb-1">
                                    <el-input data-cy="facility-street" v-model="formFields.physicianAddress" placeholder="Street"></el-input>
                                </div>
                                <div class="flex space-x-1">
                                    <el-input data-cy="facility-city" v-model="formFields.physicianCity" placeholder="City"></el-input>
                                    <el-input data-cy="facility-state" v-model="formFields.physicianState" placeholder="State"></el-input>
                                    <el-input data-cy="facility-zip" v-model="formFields.physicianZip" placeholder="Zip"></el-input>
                                </div>
                            </el-form-item>
                        </el-form>
                        <!-- top label form -->
                        <el-form label-position="top" :model="formFields" :rules="rules" class="">

                            <el-form-item :label="`What was the ${$t('label.associate')} doing just before the incident occurred?`" prop="descriptionBeforeAccident">
                                <textarea 
                                    data-cy="before-accident"
                                    class="el-textarea__inner pt-2"
                                    rows="2"
                                    v-model="formFields.descriptionBeforeAccident">
                                </textarea>
                            </el-form-item>
                            <el-form-item label="What was the injury or illness?" prop="descriptionInjury">
                                <textarea
                                    data-cy="injury-or-illness"
                                    class="el-textarea__inner "
                                    rows="2"
                                    v-model="formFields.descriptionInjury">
                                </textarea>
                            </el-form-item>
                            <el-form-item prop="notes" >
                                <template slot="label">
                                    Internal Company Notes
                                    <el-tooltip class="item" popper-class="custom-tooltip-lowest-z-index" effect="dark"  content="These notes will not appear on the OSHA PDF form." placement="top">
                                        <i class="text-gray-700 uil uil-question-circle text-base"></i>
                                    </el-tooltip>
                                </template>
                                <textarea
                                    data-cy="internal-company-notes"
                                    class="el-textarea__inner pt-2"
                                    rows="2"
                                    v-model="formFields.notes">
                                </textarea>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>

            <!--MAIN BOTTOM PANEL-->
            <div class="card" v-loading="loading">
                <p class="card-title">Additional Documents & Images</p>
                <div class="flex space-x-4">
                    <div class="flex-1">
                        <section v-if="formFields.documents.length">
                            <div class="w-full flex mb-8" v-for="(item, index) in formFields.documents" :key="item.id">
                                <div class="flex-auto">
                                    <p>{{ item.name }}</p>
                                </div>
                                <i 
                                title="Download Image"
                                @click="downloadFile(item.key)"
                                class="icon-button uil uil-import ml-4 hover:text-brand"
                                v-if="$route.params.injuryID && item.key"
                                />
                                <i 
                                title="Delete Image"
                                @click="handleDocumentRemove(item, index)"
                                class="icon-button uil uil-trash-alt ml-4 hover:text-red-500"/>
                            </div>
                        </section>
                        <el-form label-position="top" label-width="70px" ref="form">
                            <el-form-item>
                                <label class="fileContainer w-full h-36 mb-4 bg-opacity-50 text-center">
                                    <div class="uil-file text-5xl"></div>
                                    <div>Drop file here or click to upload</div>
                                    <input data-cy="document-file-up" id="FileUpload" type="file" @change="(e) => {insertDocumentForUpload(e, '/injuries/')}" class="align-middle">
                                </label>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>

        
        <div class="flex pt-4 justify-end items-center">
            <ButtonGroupWrapper>
                <template slot-scope="{disabled, setDisabled}">
                    <el-button
                        :disabled="disabled"
                        @click="handleCancel"
                    >
                        Cancel
                    </el-button>
                    <ButtonWrapper
                        type="primary"
                        :disabled="disabled || isSavingData"
                        :clickHandler="handleSaveData"
                        @cb-start="setDisabled(true)"
                        @cb-end="setDisabled(false)"
                    >
                        {{ saveDataBtnText }}
                    </ButtonWrapper>
                </template>
            </ButtonGroupWrapper>
        </div>
        
        <!-- DELETION DIALOG -->
        <el-dialog
            title="Are you sure?"
            :visible.sync="deleteModalOpen"
            width="30%"
            >
            <CommonDeleteDialog 
            deletionMessage="This will permanently delete this Injury Record and its attachments."
            @close-modal="deleteModalOpen=false"
            @delete-action="commitDeleteInjury"

            />
        </el-dialog>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import { createInjury, deleteInjury, updateInjury, createDocument, deleteDocument } from '@/graphql/mutations'
import { getTenant } from '@/views/Accident/queries.js'
import { getInjury } from './queries'
import { getInjuryUpdatedTimestamp } from '@/utilities/timestampQueries'
import { staffsByGroup } from '../../queries'
import Validator from '@/utilities/FormValidator'
import CommonDeleteDialog from '@/components/CommonDeleteDialog'
import DatePicker from '@/components/Datepicker';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

export default {
    name: 'InjuryForm',
    props: ['fullName', 'staffID', 'staffData', 'injuryID' ],
    components:{
        CommonDeleteDialog,
        DatePicker,
        ButtonWrapper,
        ButtonGroupWrapper,
    },
    data(){
        return{
            isSavingData: false,
            formFields: {
                injuryDate: "",
                injuryTime:"",
                injuryTimeIsUnknown: false,
                timeStaffStartedWork: "",
                completedBy: "",
                completedByTitle: "",
                completedByPhone: "",
                physicianName: "",
                physicianFacility: "",
                physicianAddress: "",
                physicianCity: "",
                physicianState: "",
                physicianZip: "",
                driverDOB: "",
                driverHireDate: "",
                driverGender: "",
                driverAddress: "",
                driverCity: "",
                driverState: "",
                driverZip: "",
                wasTreatedInER: "",
                wasHospitalizedOvernight: "",
                descriptionBeforeAccident: "",
                descriptionInjury: "",
                descriptionIncident: "",
                descriptionDirectHarmCause: "",
                injuryType: "",
                notes: "",
                dateOfDeath: "",
                caseNumber: '',
                staff: {id: null},
                user: {id: null},
                documents: []
            },
            deleteModalOpen: false,
            loading: false,
            path: null,
            isNew: false,
            staffList: [],
            userList: [],
            rules: {
                staff: [
                    { required: true, validator: Validator.staff, trigger: 'change' }
                ],
                injuryTime: [
                    {required: true, validator: Validator.timeNotConfirmed, trigger: 'blur' }
                ],
                timeStaffStartedWork: [
                    {required: false, validator: Validator.timeNotConfirmed, trigger: 'blur' }
                ],
                user: [
                    { required: true, validator: Validator.user, trigger: 'change' }
                ]
            },
            path: null,
            fileName: null,
            fileKey: null
        }
    },
    mounted(){
        if (this.isMobileDevice()) 
        {
          this.disableMobileKeyboard();
        }
        this.loadData()
    },

    computed:{
        ...mapState([
            'valuelists',
            'userInfo'
        ]),

        saveDataBtnText() {
            return this.isNew? 'Create': 'Update';
        },
    },

    watch: {
       'formFields.injuryTimeIsUnknown': function(value){
            if(value){  
                this.rules.injuryTime = [
                    { required: true, validator: Validator.timeNotConfirmed }
                ]
            }else{
                this.rules.injuryTime = [
                    { required: true, validator: Validator.time, trigger: 'blur' }
                ]
            }
       }
    },

    methods:{ 
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },

        async handleSaveData() {
            if (this.isNew) {
                return (await this.saveDataWrapper(this.createInjury, 'formFields'));
            }
            await this.saveDataWrapper(this.updateInjury);
        },

        async saveDataWrapper(cb, ...args) {
            if (this.isSavingData) return;
            try {
                this.isSavingData = true;
                await cb(...args);
            }
            catch (error) {
                this.printUserError(error);
                this.displayUserError(error);
            }
            finally {
                this.isSavingData = false;
            }
        },

        /** Delete injury from DB */
        async commitDeleteInjury( ){
            try{
                //check timestamp
                var timestampResult = await this.api(getInjuryUpdatedTimestamp, {id: this.injuryID})
                if(!timestampResult.data.getInjury){
                    throw "Injury report is missing or deleted by another user."
                }
                var timestamp = timestampResult.data.getInjury.updatedAt
                if(timestamp != this.formFields.updatedAt){
                    throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
            this.deleteModalOpen = false
            this.loading = true
            const result = await this.api(deleteInjury, {input:{ id: this.injuryID }} )
            this.$router.go(-1)
            this.$message({
                type: 'success',
                message: 'Injury Deleted'
            });
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }
        },
        /** Prompt if Accident test should really be deleted*/
        async confirmDeleteInjury(){
            if (this.isNew ){
                await this.handleCancel()
                return
            }
            this.$confirm('This will permanently delete this injury. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
                this.commitDeleteInjury()          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },
        /** Creates Injury*/
        async createInjury(refForm){
            // validate form
            let validateFlag = 0
            try{
                await this.$refs[refForm].validate();
                await this.$refs['formFieldsIncident'].validate()
            }catch(e){
                let item = Object.keys(e);
                for(let i=0; i< item.length; i++){
                let key = item[i];
                await this.displayUserError(e[key][0].message);
                }
                validateFlag = 1
            }
            try {
                // Validate Injury Time
                const injuryTime = this.formFields.injuryTime
                let injuryTimeIsUnknown = this.formFields.injuryTimeIsUnknown
                
                if( injuryTime && injuryTimeIsUnknown){                    
                    await this.displayUserError("You must either provide an injury time OR indicate that the injury time is unknown, not both.")
                    validateFlag = 1
                    return 0
                }
                if( (!injuryTime && !injuryTimeIsUnknown)){
                    await this.displayUserError("Please either provide an injury time or check the box indicating that the injury time is unknown.")
                    validateFlag = 1
                    return 0
                }
                //save ids and strip from object
                if(validateFlag === 1){
                    return 0
                }
                var formFields = {...this.formFields};
                let staffID = formFields.staff.id
                let userID = formFields.user.id
                let documents = [...this.formFields.documents]
                delete formFields.staff
                delete formFields.user
                delete formFields.documents

                //Create DB record
                const input = {
                    ...formFields,
                    staffId: staffID,
                    injuryStaffId: staffID,
                    completedBy: this.userInfo.firstName + ' ' + this.userInfo.lastName,
                    injuryCompletedByUserId: userID,
                    group: this.$store.state.userInfo.tenant.group
                }

                const result = await this.api(createInjury, {input: input})

                var injuryID = result.data.createInjury.id;

                //Upload documents
                if(documents.length > 0){
                    for(var item of documents){
                        await this.createDocument(injuryID, item);
                    }
                }
                this.$router.push({name: 'InjuryIndex'})
                this.displayUserNotification({
                    title: "Success",
                    type: "success",
                    message: "Injury Created"
                }) 

            } catch(e) {
                console.log(e)
                this.displayUserError(e)      
            }
        },   
        /**
         * Gets S3 URL using object key and downloads the linked file
         */
        downloadInjuryFile: async function(){
            var documentUrl = await Storage.get(this.formFields.file)
            window.open(documentUrl, "_blank")
        },
        
        /** 
        * Prompts user about saving changes
        */
        handleCancel(){
            this.$confirm('Any unsaved changes will be lost. Continue?', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$router.go(-1)   
            }).catch(() => {
                console.log("canceled delete")         
            });
        },

        /*
        * Opens the last saved injury data in a print view
        */
        handlePrint: function(){
            let route = this.$router.resolve({name: 'PrintInjury', params:{injuryID: this.injuryID}})
            window.open(route.href, '_blank')
        },
      

        /** 
        * Prompts user if file should really be deleted
        * @param {string} objectKey S3 key of file to delete
        */
        async handleRemove(objectKey){
            this.$confirm('This will permanently delete this file. Continue?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.stageDeleteFile(objectKey)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },

        async stageDeleteFile() {
            this.formFields.fileName = null
            this.path = null
            
            document.getElementById('FileUpload').value = ""  
        },


        /**
         * Display picture in card window
         * @param {object} key
         */
        async handlePictureCardPreview(key) {
            const url = await Storage.get(key)
            this.dialogImageUrl = url;
            this.dialogVisible = true;
        },


        handleStaffChange(){
            if(!this.formFields.staff.id){
                this.formFields.driverGender = ''
                this.formFields.driverDOB = ''
                this.formFields.driverHireDate = ''
                return            
            }
            var staffIndex = this.staffList.findIndex(staff => staff.id == this.formFields.staff.id)
            if(staffIndex != -1){
                this.formFields.driverGender = this.staffList[staffIndex].gender
                this.formFields.driverDOB = this.staffList[staffIndex].dob
                this.formFields.driverHireDate = this.staffList[staffIndex].hireDate
            }
            else{
                this.formFields.driverGender = ''
                this.formFields.driverDOB = ''
                this.formFields.driverHireDate = ''  
            }
        },


        handleUserChange(){
            if(!this.formFields.user.id){
                this.formFields.completedBy = ''
                this.formFields.completedByTitle = ''
                this.formFields.completedByPhone = '' 
                return
            }
            var userIndex = this.userList.findIndex(user => user.id == this.formFields.user.id)
            if(userIndex != -1){
                this.formFields.completedBy = `${this.userList[userIndex].firstName} ${this.userList[userIndex].lastName}`
                // this.formFields.completedByTitle = this.userList[userIndex].role
                this.formFields.completedByPhone = this.userList[userIndex].phone
            }
            else{
                this.formFields.completedBy = ''
                this.formFields.completedByTitle = ''
                this.formFields.completedByPhone = ''  
            }
        },


        insertDocumentForUpload: function(e, path){
            var files = e.target.files || e.dataTransfer.files;
            var file = files[0]
            var fileType = file.type
            var fileName = file.name
            var uuid = this.generateUUID();

            var fileObject = {
                id: uuid,
                name: fileName, 
                fileType,
                path,
                file
            }

            this.formFields.documents.push(fileObject)
        },

        /**
         * Loads list of staffs for select using GraphQL
         */
        async loadData(){
            try{
                this.loading = true
                this.isNew = true
                await this.loadStaffList()
                await this.loadUserList()
                if (this.staffID != null && this.staffID != undefined){
                    // this.formFields.completedBy = this.userInfo.firstName + " " + this.userInfo.lastName
                    // this.formFields.completedByPhone = this.userInfo.phone
                    this.formFields.staff.id = this.staffID 
                    this.handleStaffChange()
                }
                if (this.injuryID != null && this.injuryID != undefined){
                    this.isNew = false
                    let injury = await this.api(getInjury, { id: this.injuryID })
                    injury = injury.data.getInjury
                    
                    if(injury.completedByUser){
                        injury.user = {id: injury.completedByUser.id }
                    }
                    else{
                        injury.user = {id: ''}
                    }
                    delete injury.completedByUser
                    this.formFields = injury
                    this.formFields.documents = this.formFields.documents.items

                } else {
                    this.formFields.user.id = this.$store.state.userInfo.id
                }
            }catch(e){
                console.log(e)
                this.displayUserError(e)

            }finally{
                this.loading = false
            }
        },


        /**
         * Loads list of users for select using GraphQL
         */
        loadUserList: async function() {
            try {
                //SET USER LIST
                var input = {
                id: this.$store.state.userInfo.tenant.id,
                };
                var tenant = await this.api(getTenant, input);
                
                const users = tenant.data.getTenant.users.items;
                this.userList = this.excludeSupportAdminFromArray(users);

                if (this.$store.state.userInfo.role !== "admin") {
                    this.userList = this.userList.filter((user) => user.role != "admin");
                }
            } catch (e) {
                console.log(e);
                this.displayUserError(e);
            } finally {
                this.loading = false;
            }
        },

        /**
         * Loads list of staffs for select using GraphQL
         */
        loadStaffList: async function(){
            try{
                var input = {
                group: this.$store.state.userInfo.tenant.group
                }
                this.staffList = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup')
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        },


        /** Update an Injury's information */
        async updateInjury(){
            let validateFlag = 0
            const staffIDV = this.formFields.staff.id
            const userIDV = this.formFields.user.id
            if( !staffIDV){
                await this.displayUserError("Please select an Associate")
            }
            if( !userIDV ){
                await this.displayUserError("Please select a user")
                validateFlag = 1
                // return
            }
            try {
                //check timestamp
                var timestampResult = await this.api(getInjuryUpdatedTimestamp, {id: this.injuryID})
                if(!timestampResult.data.getInjury){
                    validateFlag = 1
                    throw "Injury Record is missing or deleted by another user."
                    
                }
                var timestamp = timestampResult.data.getInjury.updatedAt
                if(timestamp != this.formFields.updatedAt){
                    validateFlag = 1
                    throw "Record was updated by another user. Please copy any changes and refresh the page."
                }
            // validate form
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                console.log(e)
                this.displayUserError("Please fill out all required fields.")
                return 0
            }
            if(validateFlag === 1){
                return 0
            }
            // Validate Injury Time
            const injuryTime = this.formFields.injuryTime
            const injuryTimeIsUnknown = this.formFields.injuryTimeIsUnknown
            if( injuryTime && injuryTimeIsUnknown ){
                await this.displayUserError("You must either provide an injury time OR indicate that the injury time is unknown, not both.")
                validateFlag = 1
                return 0
            }
            if(!injuryTime && !injuryTimeIsUnknown){
                await this.displayUserError("Please either provide an injury time or check the box indicating that the injury time is unknown.")
                validateFlag = 1
                return 0
            }
            //Save
            var formFields = {...this.formFields}
            let staffID = formFields.staff.id
            let userID = formFields.user.id
            let documents = [...formFields.documents]
            delete formFields.staff
            delete formFields.user
            delete formFields.documents
            var input = {
                ...formFields,
                id: this.injuryID,
                staffId: staffID,
                injuryStaffId: staffID,
                injuryCompletedByUserId: userID,
                group: this.$store.state.userInfo.tenant.group
            }     
            var result = await this.api(updateInjury, {input: input}, getInjuryUpdatedTimestamp, 'getInjury')

            var injuryID = result.data.updateInjury.id;

            //Upload documents
            if(documents.length > 0){
                for(var item of documents){
                    if(!item.key) {
                        await this.createDocument(injuryID, item);
                    }
                }
            }
            this.$router.go(-1)
            this.displayUserNotification({
                title: "Success",
                type: "success",
                message: "Injury Updated"
            }) 
            } catch(e) {
                console.log(e)
            }
        },


        /**
         * Validate form
         */
        async validateForm(){
            try{
                await this.$refs["form"].validate()  
            }catch(e){
                console.log(e)
                this.displayUserError("Please fill out all required fields.")
            }
        },

        async createDocument(injuryID, doc){
            try{
                // Upload file to S3
                var path = doc.path;
                var fileType = doc.fileType
                var fileName = doc.name
                var timestamp = String(Date.now())
                var object = await Storage.put(this.cleanQueryPayload(this.userInfo.tenant.group + '/injury/' + injuryID.toLowerCase() + path + timestamp + "/" + fileName), doc.file)


                var input = {
                    group: this.userInfo.tenant.group,
                    uploadDate: timestamp, 
                    name: fileName,
                    type: fileType,
                    key: object.key,
                    documentInjuryId: injuryID
                }

                var result = await this.api(createDocument, {input: input})
            }
            catch(e){
                console.log(e);
                this.displayUserError(e)
                throw(e)
            }
        },

        async handleDocumentRemove(item, index){
            this.$confirm('This will permanently delete this file' + '. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
            this.commitDocumentDeleteFile(item, index)          
            }).catch(() => {
            console.log("canceled delete")         
            });
        },

        async commitDocumentDeleteFile(item, index) {
            if(this.$route.params.injuryID) {
                var result = await Storage.remove(item.key)
                var deleteResult = await this.api(deleteDocument, {input:{ id: item.id}} )
            }

            this.formFields.documents.splice(index, 1)
        }

    }
}
</script>
<style scoped>
@media (max-width: 280px) {
    .custom-radio-width {
        @apply w-1/4;
      }
    .custom-border-left {
        @apply border-l border-gray-300
     }
    }

    .mobile-select-injury {
        @apply max-w-full
    }

@media screen and (max-width: 767px) {
    .mobile-select-injury {
        @apply w-auto max-w-80
     }
    }

    textarea {
        padding-top: 10px;
    }
    .custom-radio-group-injury.el-radio-group {
        display: inline-flex
    }
    .el-select, .el-date-editor{
        width: 100% !important;
    }
    .fileContainer{
        @apply  text-gray-600 bg-gray-100 pt-6 border-gray-600 border-dashed border-2 text-base block !important;
    }
</style>