<template>
  <div data-cy="injury-content">
    <div class="grid grid-flow-row grid-cols-12 gap-4 w-full mb-4 items-center">
      <div class="col-span-12 md:col-span-5 lg:col-span-6 xl:col-span-7">
        <el-breadcrumb separator-class="uil uil-angle-right-b m-breadcrum">
        <el-breadcrumb-item :to="{ name: 'StaffIndex' }"><i class="uil uil-user"></i> {{$t('label.associate')}} Management</el-breadcrumb-item>
        <el-breadcrumb-item>Injuries</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="col-span-12 md:col-span-7 lg:col-span-6 xl:col-span-5">
        <div class="flex">
          <router-link v-if="$store.getters.hasStaffManagement" :to="{ name: 'InjuryNew'} ">
              <el-button class="w-40" size="small" type="primary" >Add Injury</el-button>
          </router-link>
          <el-popover
                v-else
                placement="bottom"
                title="Premium Required"
                width="215"
                trigger="hover"
                content=""
                class="mr-2 text-center"
                > 
                <el-button class="w-40 opacity-50" size="small" type="primary" slot="reference">Add Injury</el-button>
                <PremiumWarning
                    action="add injury reports"
                    premiumFeature="DA management">
                </PremiumWarning>
              </el-popover>
          <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            class="ml-2"
            placeholder="Filter this list by any column..."/>
        </div>
      </div>
    </div>
    <div>
        <el-table
        v-loading="loading"
        ref="table"
        row-class-name="cursor-pointer table-row"
        class="data-table"
        header-cell-class-name="table-header-cell"
        empty-text="No Injuries"
        :default-sort = "{prop: 'date', order: 'descending'}"
        :data="filterArray( tableData, search )"
        style="width: 100%">


        <el-table-column
            width="50"
            prop="date"
            >
            <template slot-scope="scope">
            <div>
                <el-dropdown @command="handleCommand" data-cy="da_table_row_dropdown" class="flex-initial" v-if="scope.row.documents.items.length">
                    <i class="uil uil-paperclip"></i>
                    <el-dropdown-menu  slot="dropdown">
                        <el-dropdown-item :command="item" v-for="item in scope.row.documents.items" :key="item.id">{{ item.name }}</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            </template>
        </el-table-column>

        <el-table-column
            label="Record Created"
            width="160"
            prop="date"
            sortable
            :sort-method="sortDate"
            >
            <template slot-scope="scope">
            <div @click="performAction(scope.row)">
                {{scope.row.createdAt | date}}
            </div>
            </template>
        </el-table-column>

        <el-table-column
            label="Injury Date"
            width="130"
            prop="date"
            sortable
            :sort-method="sortDate"
            >
            <template slot-scope="scope">
            <div @click="performAction(scope.row)">
                {{scope.row.injuryDate | date}}
            </div>
            </template>
        </el-table-column>

        <el-table-column
            label="Time"
            width="100"
            prop="time">
            <template slot-scope="scope">
            <div @click="performAction(scope.row)">{{scope.row.injuryTime }}</div>
            </template>
        </el-table-column>

        <el-table-column
            :label="`${$t('label.associate')} First Name`"
            prop="staffFirstName"
            sortable
            :sort-method="sortFirstName">
            <template slot-scope="scope">
            <div v-if="scope.row.staff" @click="performAction(scope.row)">{{scope.row.staff.firstName | text}}</div>
            <div v-else @click="performAction(scope.row)">—</div>
            </template>
        </el-table-column>

        <el-table-column
            :label="`${$t('label.associate')} Last Name`"
            prop="staffLastName"
            sortable
            :sort-method="sortLastName">
            <template slot-scope="scope">
            <div v-if="scope.row.staff" @click="performAction(scope.row)">{{scope.row.staff.lastName | text}}</div>
            <div v-else @click="performAction(scope.row)">—</div>
            </template>
        </el-table-column>

        <el-table-column
            label="Injury"
            width="200"
            prop="injury">
            <template slot-scope="scope">
            <div class="truncate width-180-px" @click="performAction(scope.row)">{{scope.row.descriptionInjury| text}}</div>
            </template>
        </el-table-column>

        <el-table-column
            label="Incident Description"
            prop="incident"
            width="200">
            <template slot-scope="scope">
            <div class="truncate width-180-px" @click="performAction(scope.row)">{{scope.row.descriptionIncident | text}}</div>
            </template>
        </el-table-column>
    
        </el-table>
        <div v-if="nextToken" class="flex justify-center mt-4">
        <el-button round @click="loadData()">Load More</el-button>
        </div>
    </div>


  </div>
</template>

<script>
import {Storage} from 'aws-amplify'
import { injuriesByGroup } from '../../queries'
import PremiumWarning from '@/components/PremiumWarning'

export default {
  name: "InjuryIndex",
  components: {PremiumWarning},
  data() {
    return {
      tableData: [],
      loading: true,
      search: '',
      nextToken: null
    }
  },
  mounted(){
    this.loadData()
  },

  computed:{
   
  },


  methods: {
    /**
     * Load data using the notificationsByOwner custom GraphQL query
     */
    async loadData(){
      this.loading = true
      try{
        var input = {
        group: this.$store.state.userInfo.tenant.group
        }
        let injuries = await this.gLoadListAll(injuriesByGroup, input, 'injuriesByGroup')
        injuries.sort((a,b) => { return new Date(b.injuryDate) - new Date(a.injuryDate)})
        this.tableData = injuries
    }catch(e){
        console.log(e)
        this.displayUserError(e)
    }finally{
        this.loading = false
    }
    },

    performAction(row, column, event){
        var injury = row
        let fullName = injury.staff.firstName + " " + injury.staff.lastName
        this.$router.push({name: 'InjuryEdit', params:{injuryID: injury.id, staffID: injury.staff.id, fullName: fullName}})
    },

    sortDate(a,b){
        return new Date(a.injuryDate) - new Date(b.injuryDate);
    },

    sortFirstName(a,b){
      return ('' + a.staff.firstName.toLowerCase()).localeCompare(b.staff.firstName.toLowerCase());
    },

    sortLastName(a,b){
      return ('' + a.staff.lastName.toLowerCase()).localeCompare(b.staff.lastName.toLowerCase());
    },

    async handleCommand(data) {
      let key = data.key

      let contentType = ''

      if(key.includes('pdf')) {
        contentType = 'application/pdf'
      } else if(key.includes('png')) {
        contentType = 'image/png'
      } else if(key.includes('jpg')) {
        contentType = 'image/jpeg'
      } else if(key.includes('jpeg')) {
        contentType = 'image/jpeg'
      } else {
        contentType = 'text/html'
      }

      var documentUrl = await Storage.get(key, {
        contentType: contentType
      })
      window.open(documentUrl, "_blank")
    }
  }
}
</script>
<style scoped>

.width-180-px{
  width: 180px !important;
}
</style>