<template>
    <div class="px-4 absolute">
        <!--HEADER-->
        <div class="flex justify-between items-end">
            <div class="w-6/10 block "> 
                <div class="text-2xl "><em>OSHA's Form 301</em></div>
                <div class="text-2xl "><em><b>Log of Work-Related Injuries and Illnesses</b></em></div>
            </div>
            <div class="w-1/5 text-xxxxxs border-1 border-black pl-1 py-1 my-1 h-full mr-2 " style="line-height: 9px;"><b>Attention:</b> This form contains information relating to employee health and must be used in a manner that protects the confidentiality of employees to the extent possible while the information is being used for occupational safety and health purposes.</div>
            <div class="block w-3/10 text-right text-xs font-bold italic  ">
                <div class="flex justify-between">
                    <div> </div>
                    <img onload="windowPrint" src="../../../../assets/images/dol.png" class=" h-10 mt-2 ">
                </div>
                <div class="flex-1 text-right">U.S. Department of Labor</div>
                <div class="text-xxs flex-1 justify-items-end">Occupational Safety and Health Administration</div>
            </div>
        </div>
    
        <div class="border-b-4 border-gray-500"/>
        <!--BODY-->
        <div class="flex font-serif" v-if="!loading">
            <!--LEFT PANEL-->
            <div class="w-3/10 block text-xxs border-r-2 border-gray-500 p-2 my-2">
                <p>This injury and Illness Incident Report is one of the first
                forms you must fill out when a recordable work-related
                injury or illness has occurred. Together with the Log of
                Work-Related Injuries and Illnesses and the
                accompanying Summary, these forms help the employer
                and OSHA develop a picture of the extent and severity of
                work-related incidents.
                </p><br>
                <p>Within 7 calendar days after you receive information that
                a recordable work-related injury or illness has occurred,
                you must fill out this form or an equivalent. Some state
                workers’ compensation, insurance, or other reports may
                be acceptable substitutes. To be considered an equivalent
                form, any substitute must contain all the information
                asked for on this form.
                </p><br>
                <p>According to Public Law 91-596 and 29 CFR 1904,
                OSHA’s recordkeeping rule, you must keep this form on
                file for 5 years following the year to which it pertains.
                </p><br>
                <p>If you need additional copies of this form, you may
                photocopy and use as many as you need.
                </p><br>
                <div class="border-2 border-gray-500 p-1 mt-10">
                    <div class="">Completed by <span class="underline border-black font-sans"> {{formData.completedBy}} </span> </div>
                    <div class="">Title <span class="underline border-black font-sans"> {{formData.completedByTitle}} </span> </div>
                    <div class="">Phone <span class="underline border-black font-sans mr-2">  {{formData.completedByPhone | phone}} </span>  Date: <span class="underline font-sans"> {{formData.createdAt | date}} </span> </div>
                </div>
            </div>

            <!--MID PANEL-->
            <div class="w-3/10 block text-xxs border-r-2 border-gray-500 p-2 my-2 space-y-2">
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 text-xs font-sans"><b><em>Information about the employee</em></b></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">1)</div>
                    <div class="w-9/10 ">Full name <span class="underline font-sans">{{formData.staff.firstName}} {{formData.staff.lastName}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">2)</div>
                    <div class="w-9/10 ">Street <span class="underline font-sans">{{formData.driverAddress}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 ">City <span class="underline mr-2 font-sans">{{formData.driverCity}}</span> State <span class="underline mr-2 font-sans">{{formData.driverState}}</span> ZIP<span class="underline  font-sans"> {{formData.driverZip}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">3)</div>
                    <div class="w-9/10 ">Date of birth <span class="underline font-sans">{{formData.driverDOB | date_timezone}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">4)</div>
                    <div class="w-9/10 ">Date hired <span class="underline font-sans">{{formData.driverHireDate | date_timezone}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">5)</div>
                    <div class="w-9/10 block">
                        <input type="checkbox" id="genderCheck1" v-model="genderCheck1" disabled />
                        <label for="genderCheck1"> Male</label>
                        <br>
                        <input type="checkbox" id="genderCheck2" v-model="genderCheck2" disabled />
                        <label for="genderCheck1"> Female</label>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 text-xs font-sans mt-6"><b><em>Information about the physician or other health care professional</em></b></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">6)</div>
                    <div class="w-9/10 ">Name of physician or other health care professional <span class="underline  font-sans">{{formData.physicianName}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">7)</div>
                    <div class="w-9/10 ">If treatment was given away from the worksite, where was it given?</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 ">Facility <span class="underline  font-sans"> {{formData.physicianFacility}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 ">Street <span class="underline  font-sans"> {{formData.physicianAddress}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 ">City <span class="underline  font-sans mr-2">{{formData.physicianCity}}</span> State <span class="underline mr-2 font-sans">{{formData.physicianState}}</span> ZIP <span class="underline font-sans">{{formData.physicianZip}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">8)</div>
                    <div class="w-9/10 ">Was employee treated in an emergency room?</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="block w-9/10 ">
                        <input type="checkbox" id="emergencyCheck1" v-model="emergencyCheck1" disabled />
                        <label for="emcb1"> Yes</label>
                        <br>
                        <input type="checkbox" id="emergencyCheck2" v-model="emergencyCheck2" disabled />
                        <label for="emcb2"> No</label>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/10">9)</div>
                    <div class="w-9/10 ">Was employee hospitalized overnight as an in-patient?</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="block w-9/10 ">
                        <input type="checkbox" id="overnightCheck1" v-model="overnightCheck1" disabled/>
                        <label for="overnightCheck1"> Yes</label>
                        <br>
                        <input type="checkbox" id="overnightCheck2" v-model="overnightCheck2" disabled/>
                        <label for="overnightCheck2"> No</label>
                    </div>
                </div>
            </div>

            <!--RIGHT PANEL-->
            <div class="w-4/10 block text-xxs p-2 my-2 space-y-2">
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="text-xs font-sans"><b><em>Information about the case</em></b></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">10)</div>
                    <div class="w-9/10 ">Case number from the Log <span class="underline font-sans">{{formData.caseNumber}}</span> <span class="font-xxxxs"><em>(Transfer the case number from the Log after you record the case)</em></span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">11)</div>
                    <div class="w-9/10 ">Date of injury or illness <span class="underline font-sans"> {{formData.injuryDate | date_timezone}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">12)</div>
                    <div class="w-9/10 ">Time employee began work <span class="underline  font-sans"> {{formData.timeStaffStartedWork | text}}</span></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">13)</div>
                    <div class="w-9/10 ">Time of event <span class="underline font-sans"> {{formData.injuryTime}}</span> <input type="checkbox" id="cannotDetermine" v-model="isUnkownCheck" class="ml-2" disabled/><label for="cannotDetermine" class="text-xxxxs"> Check if time cannot be determined</label></div>
                </div>
                <div class="flex">
                    <div class="w-1/10">14)</div>
                    <div class="w-9/10 text-xxxxs "><b>What was the employee doing just before the incident occurred? </b>Describe the activity, as well as the tools, equipment, or material the employee was using. Be specific. Examples: “climbing a ladder while carrying roofing materials”; spraying chlorine from hand sprayer”; “daily computer key-entry.”</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 underline text-xxxs font-sans">{{formData.descriptionBeforeAccident | text}}</div>
                </div>
                <div class="flex">
                    <div class="w-1/10">15)</div>
                    <div class="w-9/10 text-xxxxs "><b>What happened? </b> Tell us how the injury occurred. Examples: “When ladder slipped on wet floor, worker fell 20 feet”; “Worker was sprayed with chlorine when gasket broke during replacement”; “Worker developed soreness in wrist over time.”</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 underline text-xxxs font-sans">{{formData.descriptionIncident | text}}</div>
                </div>
                <div class="flex">
                    <div class="w-1/10">16)</div>
                    <div class="w-9/10 text-xxxxs "><b>What was the injury or illness? </b> Tell us the part of the body that was affected and how it was affected; be more specific than “hurt”, “pain,” or “sore”. Examples: “strained back”; “chemical burn, hand”; “carpal tunnel syndrome.”</div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 text-xxxs underline  font-sans ">{{formData.descriptionInjury | text}}</div>
                </div>
                <div class="flex">
                    <div class="w-1/10">17)</div>
                    <div class="w-9/10 text-xxxxs "><b>What object or substance directly harmed the employee? </b> Examples: “concrete floor”; “chlorine”; “radial arm saw.” <em>If this question does not apply to the incident, leave it blank.</em></div>
                </div>
                <div class="flex">
                    <div class="w-1/10"></div>
                    <div class="w-9/10 text-xxxs  underline font-sans">{{formData.descriptionDirectHarmCause | text}}</div>
                </div>
                <div class="flex">
                    <div class="w-1/10">18)</div>
                    <div class="w-9/10 text-xxxs"><b>If the employee died, when did death occur?</b> <span class="text-xxxxs">Date of death <span class="underline font-sans">  {{formData.dateOfDeath | date_timezone}}</span></span></div>
                </div>
            </div>
        </div>

        <div class="border-b-4 border-black"/>
        <!--FOOTER-->
        <div class="text-xxxxs  font-serif"><em>Public reporting burden for this collection of information is estimated to average 22 minutes per response, including time for reviewing instructions, searching existing data sources, gathering and maintaining the data needed, and completing and reviewing the collection of information. Persons are not required to respond to the collection of information unless it displays a current valid OMB control number. If you have any comments about this estimate or any other aspects of this data collection, including suggestions for reducing this burden, contact: US Department of Labor, OSHA Office of Statistical Analysis, Room N-3644, 200 Constitution Avenue, NW, Washington, DC 20210. Do not send the completed forms to this office.</em>
        </div>

        </div>
</template>

<script>
import { mapState } from 'vuex'
import { Storage } from 'aws-amplify'
import { getInjury } from '../../queries'

export default {
    name: 'InjuryPrint',
    props: ['injuryID'],
    data(){
        return{
            loading: false,
            fileUploadEvent: null,
            formData: {},
            path: null,
            deleteFile: false,
            deleteFileKey: null,
            formFields: {},
            emergencyCheck1: false,
            emergencyCheck2: false,
            overnightCheck1: false,
            overnightCheck2: false,
            genderCheck1: false,
            genderCheck2: false,
            isUnkownCheck: false
        }
    },
    mounted(){
        this.windowPrint()
    },

    computed:{
        ...mapState([
            'valuelists',
            'userInfo'
        ])
    },

methods:{   
    
    async loadData(){
        if (this.injuryID){
            try{
                this.loading = true
                let injury = await this.api(getInjury, { id: this.injuryID }) 
                this.formData = injury.data.getInjury

                if (this.formData.wasTreatedInER == "Yes"){
                    this.emergencyCheck1 = true 
                }else if (this.formData.wasTreatedInER == "No"){ 
                    this.emergencyCheck2 = true 
                }

                if (this.formData.wasHospitalizedOvernight == "Yes"){
                    this.overnightCheck1 = true 
                }else if (this.formData.wasHospitalizedOvernight == "No") { 
                    this.overnightCheck2 = true 
                }

                if (this.formData.injuryTimeIsUnknown== true){
                    this.isUnkownCheck  = true 
                }else if (this.formData.injuryTimeIsUnknown == false) {
                    this.isUnkownCheck = false 
                }
                
                if (this.formData.driverGender == "Male"){
                    this.genderCheck1 = true 
                }else if (this.formData.driverGender == "Female") {
                    this.genderCheck2 = true  
                }
            }catch(e){
                console.log(e)
                this.displayUserError(e)
            }finally{
                this.loading = false
            }
        }
    },

    windowPrint: async function(){
        try{
            await this.loadData()
            window.print()
        }
        catch(e){
            console.log(e)
            this.displayUserError(e)
        }
    }
},
}
</script>