<template>
  <div>
    <!--TABLE CARD COMPONENT-->
    <TableCard tablecard-class="rounded-lg">
        <template v-slot:table-filters>
            <ContainerFilter inTable>
                <template v-slot:title>
                    <span>Associate List</span>
                </template>
                <template v-slot:filters>
                    <CounterFilter :counter="counterFilters" />
                    <!-- Filter: Associate Status -->
                    <MultiSelectFilter
                        type="associateStatus"
                        :title="`${$t('label.associate')} Status`" 
                        :options="associateStatusOptions"
                        :selected="associateStatusSelected"
                        @update-filters="updateFilters"
                    />
                    <!-- Filter: Labels -->
                    <MultiSelectFilter
                        type="labels"
                        title="Labels" 
                        :options="labelOptions"
                        :selected="labelSelected"
                        @update-filters="updateFilters"
                    />
                    <!-- Filter: Preferred Days Off -->
                    <MultiSelectFilter
                        type="daysOff"
                        title="Preferred Days Off" 
                        :options="preferredDaysOffOptions"
                        :selected="preferredDaysOffSelected"
                        @update-filters="updateFilters"
                    />
                </template>
            </ContainerFilter>
        </template>
        <!-- Search Box -->
        <template v-slot:table-searchbox>
            <SearchBox inTable @search-data="searchData"/>
        </template>
        <!-- Table -->
        <CustomTable
            v-loading="!associateList.lastRenderKey"
            ref="table"
            inTable
            withTableMenu
            withSelect
            :columns="cols"
            :data="filteredTableData"
            :totalRecords="totalRecords"
            :search="search"
            :footerTable="`${$t('label.associates')}`" 
            :defaultSort="{
                prop: 'status',
                order: 'ascending',
            }"
            :selectionEntityLabels="['Associate', 'Associates']"
            :selectionCustomActions="selectionActions"
            @click-menu="handleCommand"
            @selection-change="handleSelectionChange"
            :emptyText="emptyText"
            :optionsHeader="optionsContextHeader"
            :optionsRows="optionsContextRow">
            <!-- Labels -->
            <template #labels="row">
                {{ setLabels(row.labels.items) | text }}
            </template>
            <!-- Preferred Days Off -->
            <template #preferredDaysOff="row">
                {{ setPreferredDaysOff(row.preferredDaysOff) | text }}
            </template>
            <!-- View Associate Icon -->
            <template #viewAssociate="row">
                <el-tooltip class="item flex-initial" effect="dark" :content="`View ${$t('label.associate')}`" placement="bottom">
                    <i data-cy="view-da"
                        @click="handleCommand({ action: 'view-associate', row })"
                        class="icon-button uil uil-file-landscape-alt text-2xl">
                    </i>
                </el-tooltip>
            </template>
        </CustomTable>
    </TableCard>

    <!--Send Message-->
    <el-dialog
        title="Send Message"
        :visible.sync="messageModalOpen"
        custom-class="responsive-dialog send-message-dialog"
        :show-close="false"
        @open="resetForm">
        <StaffMessageForm 
            ref="staffMessageForm"
            :message="messageText"
            @message-changed="message => messageText = message"
            @max-characters-exceeded="value => maxCharactersExceeded = value"
            :attachmentData="attachmentData"
            :rules="rules"
            :statusFilter="associateStatusSelected"
            :search="search"
            :resetKey="resetKey"
            :itemsMultipleSelection="selectedAssociates"
            />
        <span slot="footer" class="dialog-footer">
            <p class="text-xs text-gray-600 text-left mt-0 mb-2">
            <span class="font-bold mb-2">Unfortunately, cell phone carriers limit the length of text messages.</span> If you need to send a long message, there are two options. 1. You can break up the message and send it in multiple parts, and 2. if it is very long, you may want to turn it into a newsletter, save it as a PDF and attach it to the message. A PDF newsletter will be easier for the {{$t('label.associate')}} to read and digest all of the information.
            </p>

            <div class="flex flex-wrap justify-between">
            <div class="flex items-center mt-2">
                <message-template-dropdown
                    :currentMessage="messageText"
                    @onMessageTemplateSelection="updateCurrentMessage"
                />
            </div>
            <div class="flex-1 flex justify-end mt-2">
                <el-button data-cy="btn-cancel-staff-message-form" @click="handleEditCancel">Cancel</el-button>
                <el-button type="primary" :disabled="sendButtonDisabled" @click="sendBulk()">Send</el-button>
              </div>
            </div>
        </span>
    </el-dialog>
    
    <!-- Add Associate Drawer -->
    <div v-if="associateIsOpen">
      <Associate
        :isOpen="associateIsOpen"
        :load="associateLoading"
        :formTitle="associateFormTitle"
        @cancel-save="associateCancelSave($event)"
        @save-data="associateSaveData"
      />
    </div>

    <!--Export Associates-->
    <el-dialog
        title="Export Associate"
        :show-close="true"
        :center="true"
        :visible.sync="showExportDialog"
        width="300px"
        :custom-class="'customized'"
        >
        <ExportDialog
            :modal="true"
            :exportField="getExportField()"
            :exportFields="getExportFields()"
            :number="numberItemsToExport"
            :statusChecked="getStatusChecked()"
            @export-action="exportCSV(csvData)"
            @close-dialog="showExportDialog = false">
        </ExportDialog>
    </el-dialog>

    <!-- Change Status -->
    <FormChangeStatusDialog
      v-if="valuelists['staff-status'] && statusOpen"
      :items="valueListActivesOnly(valuelists['staff-status'].items)"
      :staffData="rowSelected" 
      @closeFormDialog="statusOpen = false"
      @updated="updateStatusStaff($event)" />

    <!--Premium Warning Dialog-->
    <el-dialog
        title="Premium Required"
        :show-close="false"
        :center="true"
        :visible.sync="showUpgradeDialog"
        width="300px">
        <PremiumWarning
            action="broadcast messages"
            premiumFeature="Associate management"
            :modal="true"
            @close-dialog="showUpgradeDialog = false">
        </PremiumWarning>
    </el-dialog>

      <!-- HERA Down Dialog -->
      <el-dialog 
          :visible.sync="heraDown"
          width="320px"
          :show-close="false">
          <FeatureOffline
            feature="broadcasting messages"
            @close-modal="heraDown = false"/>
      </el-dialog>
  </div>
</template>

<script>
import TableCard from "@/components/TableCard/TableCard"
import ContainerFilter from "@/components/TableCard/ContainerFilter"
import CounterFilter from "@/components/CounterFilters"
import SearchBox from "@/components/TableCard/SearchBox"
import MultiSelectFilter from "@/components/MultiSelectFilter"
import CustomTable from "@/components/TableCard/CustomTable"
import Associate from "@/views/Staff/components/Associate/Associate"
import ExportDialog from '@/components/ExportDialog'
import FormChangeStatusDialog from "../FormChangeStatusDialog"
import StaffMessageForm from "../StaffMessageForm.vue"
import PremiumWarning from '@/components/PremiumWarning'
import FeatureOffline from '@/components/FeatureOffline'
import MessageTemplateDropdown from '@/components/MessageTemplateDropdown'

import { mapState, mapGetters, mapActions } from 'vuex'
import { createAttachment } from '@/graphql/mutations'
import { exportCSV } from "@/utilities/exportCSV"
import { nanoid } from 'nanoid'
import { Storage } from 'aws-amplify'
import associateMixin from '@/views/Staff/components/Associate/AssociateMixins'
import sendMessage from '@/scripts/sendMessage'
import associateGlobalMixin from '@/views/Staff/mixin'

export default {
    name: 'AssociateList',
    components: { 
        TableCard,
        ContainerFilter,
        CounterFilter,
        SearchBox,
        MultiSelectFilter,
        CustomTable,
        Associate,
        ExportDialog,
        FormChangeStatusDialog,
        PremiumWarning,
        FeatureOffline,
        StaffMessageForm,
        MessageTemplateDropdown
    },
    mixins:[
        associateMixin,
        associateGlobalMixin
    ],
    data(){
        return {
            loading: false,
            search: null,
            showExportDialog: false,
            rowSelected: null,
            statusOpen: false,
            showUpgradeDialog: false,
            associateStatusOptions: [],
            labelOptions: [],
            preferredDaysOffOptions: [],
            selectedAssociates: [],
            messageModalOpen: false,
            resetKey: 0,
            messageText: '',
            attachmentData: {
                file: null,
                attachmentExpirationDate: null,
                contentType: null,
                fileName: null,
                isImage: false,
            },
            rules: {
                messageText: [
                    { required: true, message: 'Please input a message', trigger: 'blur' }
                ]
            },
            heraDown: false,
            cols: [
                { name: "First Name", col: "firstName", fixed: false, width: "175", sortable: true, sortMethod: this.sortFirstName },
                { name: "Last Name", col: "lastName", fixed: false, width: "175", sortable: true, sortMethod: this.sortLastName },
                { name: "Transporter ID", col: "transporterId", fixed: false, width: "215", sortable: true, sortMethod: this.sortTransporterId },
                { name: "Phone", col: "phone", fixed: false, width: "150", sortable: true, sortMethod: this.sortPhone },
                { name: "Key Focus Area", col: "keyFocusArea", fixed: false, width: "175", sortable: true, sortMethod: this.sortKeyFocusArea },
                { name: "Associate Status", col: "status", fixed: false, width: "185", sortable: true },
                { name: "Labels", col: "labels", fixed: false, width: "250", sortable: false },
                { name: "Preferred Days off", col: "preferredDaysOff", fixed: false, width: "250", sortable: false },
                { name: undefined, col: 'viewAssociate', fixed: "right", width: "50", sortable: false }        
            ],
            emptyText: 'No Records',
            optionsContextHeader: [
                { label: "Message Associates", action: "multi-message", divided:  false, enableOnMultipleSelection: true,},
                { label: "Add Associate", action: "add", divided:  true},
                { label: "Export Associates", action: "export", divided:  false},
                { label: "Import Associates", action: "import", divided:  false}
            ],
            optionsContextRow: [
                { label: "Send Message", action: "single-message", divided:  false},
                { label: "View Associate", action: "view-associate", divided:  false},
                { label: "Chage Status", action: "status", divided:  true},
            ],
            preferredDaysOffMap: {
                'Su': 'Sunday',
                'M': 'Monday',
                'Tu': 'Tuesday',
                'W': 'Wednesday',
                'Th': 'Thursday',
                'F': 'Friday',
                'Sa': 'Saturday',
                '': 'Associates with No Preferred Days Off'
            }
        }
    },

    async created(){
        this.loadFilters()
    },
    computed: {
        ...mapState([
            'userInfo', 
            'valuelists',
            'filterAssociateList'
        ]),
    
        ...mapState('subscriptionStore', [
            'associateList',
        ]),

        ...mapGetters([
            'hasDAManagement',
            'hasStaffManagement',
            'getAssociateLabels',
            'isTrialAccount',
            'isTrialExpired',
            'isMobile'
        ]),

        selectionActions() {
            return [
                { command: 'send-messages', label: this.sendMessagesSelectionActionLabel, handler: this.sendSelectionMessagesHandler, shouldDisplay: (selectedRows) => (selectedRows.length) > 0 },
            ];
        },

        sendMessagesSelectionActionLabel() {
            const associateLabel = this.pluralize(this.selectedAssociates.length, 'Associate', 'Associates');
            return `Message Selected ${associateLabel}`;
        },

        counterFilters() {
            const checkEqualLength = (options, selected) => options.length === selected.length ? 0 : 1
            
            const filtersAssociateStatus = checkEqualLength(this.associateStatusOptions, this.associateStatusSelected)
            const filterLabels = checkEqualLength(this.labelOptions, this.labelSelected)
            const filterPreferredDaysOff = checkEqualLength(this.preferredDaysOffOptions, this.preferredDaysOffSelected)

            return filtersAssociateStatus + filterLabels + filterPreferredDaysOff 
        },
        
        computedAssociateList() {
            return (this.associateList || []).map(associate => ({
                ...associate,
                preferredDaysOff: associate.preferredDaysOff && associate.preferredDaysOff.length ? associate.preferredDaysOff : [],
                labels: {
                    items: associate.labels && associate.labels.items && associate.labels.items.length ? associate.labels.items : []
                }
            }));
        },

        computedAssociateLabels(){
            return [...this.getAssociateLabels, { id:'', name: 'Associates with No Label' }]
        },

        computedFilteredAssociateList(){
            // Filter Associate by status
            const filteredByStatus = this.computedAssociateList.filter(staff => this.associateStatusSelected.includes(staff.status))

            // Filter associates by Labels
            const filteredByLabels = filteredByStatus.filter(staff => {
                const labelsByName = new Set((!staff.labels || !staff.labels?.items.length) ? ['Associates with No Label'] : staff.labels?.items.map(label => this.computedAssociateLabels.find(item => item.id == label.labelId)?.name));
                return this.labelSelected.some(item => labelsByName.has(item));
            })

            // Filter associates by preferred days off
            const filteredByDaysOff = filteredByLabels.filter(staff => {
                const daysOff = new Set((!staff.preferredDaysOff || !staff.preferredDaysOff?.length) ? ['Associates with No Preferred Days Off'] : staff.preferredDaysOff?.map(item => this.preferredDaysOffMap[item]));
                return this.preferredDaysOffSelected.some(item =>  daysOff.has(item));
            })

            return filteredByDaysOff
        },

        associateStatusSelected: {
            get(){
                const { status } = this.filterAssociateList
                return status.length ? status : ['Active']
            },
            set(items){
                this.setFilterAssociateList({ filter: 'status', value: items })
            }
        },

        labelSelected: {
            get(){
                const { labels } = this.filterAssociateList
                return labels.length ? labels : this.labelOptions
            },
            set(items){
                this.setFilterAssociateList({ filter: 'labels', value: items })
            }
        },

        preferredDaysOffSelected: {
            get(){
                const { prefferedDaysOff } = this.filterAssociateList
                return prefferedDaysOff.length ? prefferedDaysOff : this.preferredDaysOffOptions
            },
            set(items){
                this.setFilterAssociateList({ filter: 'prefferedDaysOff', value: items })
            }
        },

        totalRecords(){
            return this.filteredTableData.length
        },

        filteredTableData(){
            if(!this.computedFilteredAssociateList?.length) return []

            return this.filterArray(this.computedFilteredAssociateList, this.search)
        },

        numberItemsToExport() {
            return this.filteredTableData.length
        },

        csvData() {
            let listToExport = []
            if(this.hasDAManagement){
                listToExport = this.filteredTableData
            }
            return listToExport.map(item => {
                const totalFantastic = item.scoreCards?.items.filter((scoreCard) => scoreCard.overallTier == "Fantastic").length

                const scoreCardsSorted = item.scoreCards?.items.sort((a,b) => {
                    return parseInt(b.year+b.week.padStart(2, 0)) - parseInt(a.year+a.week.padStart(2, 0))
                })

                var consecutive = 0

                if(scoreCardsSorted && scoreCardsSorted.length > 0) {
                    for(const scoreCard of scoreCardsSorted){
                        if(scoreCard.overallTier == 'Fantastic') consecutive++
                        else break
                    }
                }

                const timeRescued = item && item.route && item.route.items.filter((route) =>{
                        return route.rescued == true;
                }).length;

                const timeRescuer = item && item.routeRescuer && item.routeRescuer.items && item.routeRescuer.items.length;
                return {
                    "FIRST NAME" : item.firstName,
                    "LAST NAME" : item.lastName,
                    "STATUS" : item.status,
                    "TRANSPORTER ID" : item.transporterId,
                    "EMAIL" : item.email,
                    "PHONE" : item.phone,
                    "DOB" : item.dob ? this.$moment(item.dob).format("MM/DD/YYYY") : '',
                    "DL EXPIRATION" : item.dlExpiration ? this.$moment(item.dlExpiration).format("MM/DD/YYYY") : '',
                    "MOTO VEHICLE REPORT" : item.vehicleReport,
                    "GAS CARD PIN": item.gasCardPin,
                    "DEFAULT VEHICLE": item.defaultVehicle?.name,
                    "DEFAULT SECONDARY VEHICLE": item.defaultVehicle2?.name,
                    "DEFAULT TERTIARY VEHICLE": item.defaultVehicle3?.name,
                    "GENDER" : item.gender,
                    "PRONOUNS" : item.pronouns,
                    "LEAD DRIVER" : item.isALead,
                    "ASSIGNED LEAD" : item.assignedLead ? this.setAssignedLead(item.assignedLead): null,
                    "HOURLY STATUS" : item.hourlyStatus,
                    "LABELS": item.labels?.items.map(label => this.computedAssociateLabels.find(item => item.id == label.labelId)?.name),
                    "PREFERRED DAYS OFF": item.preferredDaysOff?.map(item => this.preferredDaysOffMap[item]),
                    "HIRED" : item.hireDate ? this.$moment(item.hireDate).format("MM/DD/YYYY") : '',
                    "FINAL CHECK ISSUED" : item.finalCheckIssueDate ? this.$moment(item.finalCheckIssueDate).format("MM/DD/YYYY"): '',
                    "TOTAL FANTASTIC" : totalFantastic,
                    "CONSECUTIVE" : consecutive,
                    "TIMES RESCUED" : timeRescued,
                    "TIMES RESCUER" : timeRescuer,
                }
            })
        },

        sendButtonDisabled(){
            return this.messageText?.trim() === '' || this.maxCharactersExceeded;
        },
    },
    methods: {
		...mapActions([
			'setFilterAssociateList'
		]),

        loadFilters() {

            // Set Associate Status Options
            const staffStatuses  = this.valuelists['staff-status'].items || []
            this.associateStatusOptions = this.valueListActivesOnly(staffStatuses).map(item => item.value)

            // Set Active Labels
            const labels = this.computedAssociateLabels.map(item => item.name)
            this.labelOptions = labels

            // Set Preferred Days Off Options
            const preferredDaysOff = Object.values(this.preferredDaysOffMap);
            this.preferredDaysOffOptions = preferredDaysOff
        },

        setLabels(labels) {
            if (!labels || !Array.isArray(labels)) return null;

            const selectedLabels = this.computedAssociateLabels.filter(item => labels.find(label => item.id == label.labelId)).map(item => item.name)
            return selectedLabels.length? selectedLabels.join(', ') : null;
        },

        setPreferredDaysOff(days) {
            if (!days || !Array.isArray(days)) return null;

            const selectedDays = days.map(day => this.preferredDaysOffMap[day])
            return selectedDays.length? selectedDays.join(', ') : null;
        },

        searchData(e){
            this.search = e
        },

        updateFilters(e){
            const { type, filters } = e

            if (type === 'associateStatus') {
                this.associateStatusSelected = filters
            }
            else if (type === 'labels') {
                this.labelSelected = filters
            }
            else if (type === 'daysOff') {
                this.preferredDaysOffSelected = filters
            }
        },

        handleCommand(payload){
            const { row, action } = payload

            const actions = {
                add:() => {
                    this.associateOpenCreate()
                },
                export: () => {      
                    this.showExportDialog = true 
                },
                import: () => {
                    this.$router.push({ name: 'StaffImport' })
                },
                'view-associate': () =>{
                    const { id } = row
                    let previousRouteText = 'Associate List',
                    previousRouteName = this.$route.name

                    this.$router.push({ name: 'StaffDetail', params: { id }, query: { previousRouteText, previousRouteName }})
                },
                status: () => {
                    this.rowSelected = payload.row
                    this.statusOpen = true
                },
                'multi-message': () => {
                    if(!this.hasStaffManagement) return this.showUpgradeDialog = true
                    this.newMessage()
                },
                'single-message': async () => {
                    if(!this.hasStaffManagement) return this.showUpgradeDialog = true
                    const { id, firstName, phone } = row
                    // Validate phone
                    if(!phone) return await this.sendMissingNumberToast(firstName)
                    // Validate if mobile
                    if(this.isMobile) return this.$router.push({name: 'MobileMessengerDetail', params: { staffId: id }})
                    this.$router.push({ name: 'Messenger', params: { staffId: id } })
                },
            }
            actions[action]()
        },

        // Sort by firstName
        sortFirstName(a,b){
            return ('' + a.firstName.toLowerCase()).localeCompare(b.firstName.toLowerCase());
        },

        // Sort by lastName
        sortLastName(a,b){
            return ('' + a.lastName.toLowerCase()).localeCompare(b.lastName.toLowerCase());
        },

        // Sort by phone
        sortPhone(a,b){
            if(a.phone != null) a = '' + a.phone.replace(/\D/g,'')
            else if(a.phone == null) a = ''
            else a = '' + a.phone

            if(b.phone != null) b = b.phone.replace(/\D/g,'')
            else if (b.phone == null) b = ''
            else b = b.phone

            return (a).localeCompare(b);
        },

        // Sort by transporter Id
        sortTransporterId(a,b){
            if(a.transporterId != null) a = '' + a.transporterId.toLowerCase()
            else if(a.transporterId == null) a = ''
            else a = '' + a.transporterId

            if(b.transporterId != null) b = b.transporterId.toLowerCase()
            else if (b.transporterId == null) b = ''
            else b = b.transporterId
            
            return (a).localeCompare(b);
        },

        // Sort by Key Focus Area
        sortKeyFocusArea(a, b) {
            return ('' + a.keyFocusArea?.toLowerCase()).localeCompare(b.keyFocusArea?.toLowerCase());
        },

        associateSaveData(another, item) {
            this.associateCancelSave(another, item)
        },

        getExportField(){
            return `${this.$t("label.associate")}`
        },

        getExportFields(){
            return `${this.$t("label.associates")}`
        },
        
        getStatusChecked() {
            return [
                {
                    filter: 'Associate Status',
                    values: this.associateStatusSelected
                },
                {
                    filter: 'Labels',
                    values: this.labelSelected
                },
                {
                    filter: 'Preferred Days off',
                    values: this.preferredDaysOffSelected
                }
            ]
        },

        exportCSV(arrData) {
            const fileName = `associate-export-${this.associateStatusSelected}-${this.$moment().format('MM/DD/YYYY')}.csv`
            exportCSV({ arrData, fileName })
            this.showExportDialog = false
        },

        updateStatusStaff(data) {
            this.rowSelected.status = data.status
            this.rowSelected.updatedAt = data.updatedAt
        },

        handleSelectionChange(selectedRows) {
            this.selectedAssociates = selectedRows;
        },

        /** 
         * Handles Cancel button clicks on send message modal
         **/
        handleEditCancel(){
            this.messageModalOpen = false
            this.$refs.staffMessageForm?.setMessage('');
        },

        async newMessage(){
            const associateWithPhoneNumber = this.selectedAssociates.find(associate => associate.phone);

            if(!associateWithPhoneNumber) {
                for (const { firstName } of this.selectedAssociates) {
                    await this.sendMissingNumberToast(firstName)
                }
            } else if (this.userInfo.tenant.originationNumber == this.getEnvPinpointNumber()){
                this.heraDown = true
            } else {
                this.$refs.staffMessageForm?.setMessage('');
                this.messageModalOpen = true
                this.filteredData = this.$refs.table.data
                this.attachmentData = {
                    file: null,
                    attachmentExpirationDate: null,
                    contentType: null,
                    fileName: null,
                    isImage: false,
                    fileSize: null,
                }
            }
        },

        async sendMissingNumberToast(name) {
            this.displayUserNotification({
                title: 'Associate does not have a phone number',
                type: "warning",
                duration: 0,
                message: `${name} does not have a phone number in their Associate profile. Please add their phone number to Hera in order to send them messages.`,
            })
        },

        resetForm(){
            this.resetKey = this.resetKey + 1
            this.$refs.staffMessageForm?.setMessage('');
        },

        updateCurrentMessage(message) {
            this.$refs.staffMessageForm?.setMessage(message);
        },

        sendSelectionMessagesHandler(selectedRows) {
            if(!this.hasStaffManagement) {
                this.showUpgradeDialog = true;
                return;
            }
            this.newMessage();
        },

        /**
         * Send bulk text messages to all staff who meet filter criteria
         */
        async sendBulk() {
            let message = `<span id="message-send-bulk" class="block">
                                Sending to ${this.selectedAssociates.length} Selected ${this.pluralize(this.selectedAssociates.length, 'Associate', 'Associates')}.
                            </span>`
            this.$confirm(message, 'Warning', {
                confirmButtonText: 'Send',
                cancelButtonText: 'Cancel',
                type: 'warning',
                dangerouslyUseHTMLString: true,
                beforeClose: async (action, instance, done) => {
                    if (action === 'confirm') {
                        instance.confirmButtonLoading = true
                        instance.confirmButtonText = 'Sending...'

                        /* Modify dom with vanilla to change the previous text in the message */
                        let message = document.getElementById('message-send-bulk'),
                            messageLoading = document.createElement('span'),
                            parentElement = message.parentElement

                        messageLoading.setAttribute('id', 'message-loading')
                        messageLoading.textContent = 'Your messages are currently sending. Please do not close your browser. This notification will automatically close after your messages are sent.'
                        parentElement.appendChild(messageLoading)

                        //place file in s3.
                        if(this.attachmentData.file){
                            var now = new Date()
                            var object = await Storage.put(this.userInfo.tenant.group + '/broadcasts/' + now.getTime() + '/' + this.attachmentData.fileName, this.attachmentData.file)
                            var key = object.key

                            //Create attachment record
                            let input = {
                                id: nanoid(9),
                                group: this.userInfo.tenant.group, 
                                s3Key: key,
                                expirationDate: this.attachmentData.attachmentExpirationDate,
                                contentType: this.attachmentData.contentType,
                                fileSize: this.attachmentData.fileSize
                            }
                            var results = await this.api(createAttachment,  { input })
                            var attachmentId = results.data.createAttachment.id
                            var expirationDate = results.data.createAttachment.expirationDate
                            
                        }

                        if(this.isTrialAccount && this.isTrialExpired){
                            throw {
                                message: 'Please select a purchase option to regain access to Hera.'
                            }
                        }

                        let staff = []

                        for (var i=0 ; i < this.selectedAssociates.length ; i++){
                            let _staff = this.selectedAssociates[i]
                            _staff.receiveTextMessages = true
                            staff.push(_staff)
                        }

                        let bodyText = this.messageText;
                        let bodyHtml = this.messageText;
                        let contentType = this.attachmentData.contentType
                        let companyName = this.userInfo.tenant.companyName
                        let route = null
                        await sendMessage({ staff, companyName, route, bodyText, bodyHtml,type: "broadcast", attachmentId, contentType, user: this.userInfo, withShortenUrl: true, expirationDate})
                        done();
                        setTimeout(() => {
                            instance.confirmButtonLoading = false;
                        }, 500)
                    } else {
                        done();
                    }
                }
                }).then(() => {
                    this.clearMessageLoadingSendBulk()

                    this.$message({
                        type: 'success',
                        message: 'Sent'
                    });
                }).catch((e) => {
                    this.clearMessageLoadingSendBulk()

                    if (e == "cancel"){return}
                    this.$message({
                        type: 'info',
                        message: 'Try Again'
                    });          
                }).finally(() => {
                    this.messageModalOpen = false
                })
        },

        clearMessageLoadingSendBulk() {
            let message = document.getElementById('message-send-bulk'),
                messageLoading = document.getElementById('message-loading'),
                parentElement = message.parentElement

            if(parentElement) {
                parentElement.removeChild(messageLoading)
            }
        },
    }
}
</script>

<style>

</style>