<template>
  <div v-loading="loading" data-cy="bulk-updates-content">
    <el-table
      ref="tableBulk"
      :empty-text="`No ${$t('label.associates')}`"
      header-cell-class-name="table-header-cell"
      :default-sort="{ prop: 'status', order: 'ascending' }"
      :data="bulkUpdateStaffList"
      row-class-name="table-row"
      class="data-table">
      <!-- Associate -->
      <el-table-column :label="`${$t('label.associate_s')} Full name`" prop="fullName" sortable>
        <template slot-scope="scope">
          {{ scope.row.firstName }} {{ scope.row.lastName }}
        </template>
      </el-table-column>

      <!-- Status -->
      <el-table-column label="Status" prop="status">
        <template slot-scope="scope">
          <div class="flex">
            <span class="font-bold rounded-full bg-opacity-10 px-3 text-xs truncate  max-w-full flex-initial">
              {{ scope.row.status }}
            </span>
            <i 
              data-cy="status-btn"
              title="Edit"
              @click="openModalStatus(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
          </div>
        </template>
      </el-table-column>

      <!-- Authorize to Drive -->
      <el-table-column width="215px" label="Authorized To Drive" prop="authorizedToDrive">
        <template slot-scope="scope">
          <el-select
            v-loading="itemLoading[`authorizedToDrive-${scope.row.id}`]"
            @visible-change="(open)=>visibleChangeAuthorizeToDrive(open, scope.row)"
            @remove-tag="(e) => removeAuthorizeToDrive(e, scope.row)"
            @change="(e) => onChangeAuthorizeToDrive(e, scope.row)"
            v-model="scope.row.authorizedToDrive.items"
            :disabled="itemLoading[`authorizedToDrive-${scope.row.id}`]"
            popper-class="authorizedToDriveDropdown"
            placeholder="Authorized To Drive"
            size="small"
            data-cy="tbu-authorized-to-drive-sw"
            multiple
            filterable>
            <el-option
              v-for="item in vehicleTypeList"
              :key="item.id"
              :label="item.option"
              :value="item.id"
              :disabled="itemLoading[`authorizedToDrive-${scope.row.id}`]">
            </el-option>
          </el-select>
        </template>
      </el-table-column>

      <!-- Primary Vehicle -->
      <el-table-column label="Primary Vehicle" prop="defaultVehicle.id">
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="tbu-primary-vehicle-sel"
            v-model="scope.row.defaultVehicle.id"
            placeholder="Select"
            size="small"
            filterable
            clearable
            :disabled="itemLoading[`defaultVehicle-${scope.row.id}`]"
            @change="updateRow(scope.row, 'defaultVehicle')"
            @focus="disabledVehicle(scope.row, vehicleList)">

            <el-option 
              v-if="activeSelect!==scope.row.id+scope.column.id"
              :label="scope.row.defaultVehicle.name" 
              :value="scope.row.defaultVehicle.id">
            </el-option>

            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id">
              <el-option
                v-for="item in vehicleList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
                :disabled="item.disabled"
              >
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>

      <!-- Secondary Vehicle -->
      <el-table-column label="Secondary Vehicle" prop="defaultVehicle2.id">
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="tbu-secondary-vehicle-sel"
            v-model="scope.row.defaultVehicle2.id"
            placeholder="Select"
            size="small"
            filterable
            clearable
            :disabled="itemLoading[`defaultVehicle2-${scope.row.id}`]"
            @change="updateRow(scope.row, 'defaultVehicle2')"
            @focus="disabledVehicle(scope.row, vehicleList)"
          >
            <el-option 
              v-if="scope.row.defaultVehicle2.id && activeSelect!==scope.row.id+scope.column.id"
              :label="scope.row.defaultVehicle2.name" 
              :value="scope.row.defaultVehicle2.id">
            </el-option>            
            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id">
              <el-option
                v-for="item in vehicleList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
                :disabled="item.disabled">
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>

      <!-- Tertiary Vehicle -->
      <el-table-column label="Tertiary Vehicle" prop="defaultVehicle3.id">
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="tbu-tertiary-vehicle-sel"
            v-model="scope.row.defaultVehicle3.id"
            placeholder="Select"
            size="small"
            filterable
            clearable
            :disabled="itemLoading[`defaultVehicle3-${scope.row.id}`]"
            @change="updateRow(scope.row, 'defaultVehicle3')"
            @focus="disabledVehicle(scope.row, vehicleList)"
          >
            <el-option 
              v-if="scope.row.defaultVehicle3.id && activeSelect!==scope.row.id+scope.column.id"
              :label="scope.row.defaultVehicle3.name" 
              :value="scope.row.defaultVehicle3.id">
            </el-option>
            <el-option-group v-if="activeSelect===scope.row.id+scope.column.id">
              <el-option
                v-for="item in vehicleList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
                :disabled="item.disabled"
              >
              </el-option>
            </el-option-group>
          </el-select>
        </template>
      </el-table-column>

      <!-- Supervised by -->
      <el-table-column label="Supervised By" prop="assignedLead" sortable>
        <template slot-scope="scope">
          <el-select
            @visible-change="(open)=>setActiveDropdown(open, scope)"
            data-cy="supervised-by"
            v-model="scope.row.assignedLead"
            placeholder="Select"
            size="small"
            filterable
            clearable
            :disabled="itemLoading[`assignedLead-${scope.row.id}`]"
            @change="updateRow(scope.row, 'assignedLead')"
            @focus="checkListOfSupervisors(scope.row.id)">
          <el-option 
            v-if="scope.row.assignedLead && activeSelect!==scope.row.id+scope.column.id"
            :label="scope.row.assignedLead" 
            :value="scope.row.assignedLead">
          </el-option>
          <el-option-group  v-if="activeSelect===scope.row.id+scope.column.id">
            <el-option 
              v-for="item in listOfSupervisors"
              :key="item.id"
              :label="`${item.firstName} ${item.lastName}`"
              :value="item.id"
              :hidden="item.status === 'Inactive - Terminated' || item.status === 'Onboarding'">
            </el-option>
          </el-option-group>
        </el-select>
        <span v-if="scope.row.hiddenStaff" class="text-xs text-red-500">This {{$t('label.associate')}} is {{ scope.row.hiddenStaffStatus }}</span>
      </template>
      </el-table-column>
    </el-table>

    <FormChangeStatusDialog
      v-if="valuelists['staff-status'] && statusOpen"
      :items="valueListActivesOnly(valuelists['staff-status'].items)"
      :staffData="rowSelected"
      @closeFormDialog="statusOpen = false"
      @updated="updateStatusStaff($event)" />
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import FormChangeStatusDialog from '../FormChangeStatusDialog.vue'
import staffMixin from '../../mixin'
import vehicleTypeMixin from '@/mixins/vehicleType'
import { staffsByGroup } from '../../queries/queries'
import { vehiclesByGroup } from '../../queries';

export default {
  name: "StaffBulksUpdates",
  components: {
    FormChangeStatusDialog
  },
  props: {
  },
  mixins: [
    staffMixin,
    vehicleTypeMixin
  ],
  async mounted(){
    await this.loadData()
  },
  data(){
    return {
      activeSelect: '',
      tableData: [],
      vehicleListUpdate: [],
      bulkUpdateStaffList: [],
      tableDataLookup: [],
      loading: false,
      statusOpen: false,
      rowSelected: null,
      staffSupervised: null,
      listOfSupervisors: [],
      keyMessageValues: [
        {
          key: 'assignedLead',
          loading: 'assignedLead',
          message: 'Updated'
        },
        {
          key: 'staffDefaultVehicleId',
          loading: 'defaultVehicle',
          message: 'changed primary vehicle'
        },
        {
          key: 'staffDefaultVehicle2Id',
          loading: 'defaultVehicle2',
          message: 'changed secondary vehicle'
        },
        {
          key: 'staffDefaultVehicle3Id',
          loading: 'defaultVehicle3',
          message: 'changed tertiary vehicle'
        },
        {
          key: 'authorizedToDrive',
          loading: 'authorizedToDrive',
          message: 'Updated'
        },
      ],
      queueList: [],
      isDropdownOpen: false,
      modalOpen: false,
      itemLoading: {}
    }
  },
  computed:{
    ...mapState([
      'valuelists',
      'customList'
    ]),

    ...mapGetters([
      'vehicleTypeList'
    ]),

  },
  methods: {
    
    async loadData(refresh = true){

      try{
        refresh && (this.loading = true)

        var input = {
          group: this.userInfo.tenant.group
        }
        const tableData = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');
        this.statusItems = this.valueListActivesOnly(this.valuelists['staff-status'].items).map(item => item.value)
        
        await this.loadVehiclesData();

        // All Staff List
        this.tableData = tableData
        this.mapBulkUpdateStaffList()

      }catch(e){
        this.displayUserError(e)
      }finally{
        this.loading = false;
      }
    },

    async loadVehiclesData(){
      try{
        let input = {
          group: this.userInfo.tenant.group
        }
        const vehicleList = await this.gLoadListAll(vehiclesByGroup, input, 'vehiclesByGroup');
        this.vehicleList = vehicleList
                              .sort((a,b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase(), undefined, {numeric: true, sensitivity: 'base'}))
                              .filter( vehicle => vehicle.status.toLowerCase() === 'active')
                              .map( vehicle => { 
                                vehicle.disabled = false
                                return vehicle
                              })
      }
      catch(e) {
        this.displayUserError(e)
      }
    },

    mapBulkUpdateStaffList() {

      const itemLoading = {}
      const staffTableData = JSON.parse(JSON.stringify(this.tableData))
      // Look up table
      const tableDataLookup = this.tableData.reduce((lookup, item) => {
        lookup[item.id] = item;
        return lookup;
      }, {});

      this.bulkUpdateStaffList = staffTableData.filter(item => item.status === 'Active').map(staff => {
        if(staff.authorizedToDrive.items) {
          const items = staff.authorizedToDrive.items.map(item => item.optionCustomList.id)
          staff.authorizedToDrive.items = items
        }
        staff.defaultVehicle ||= { id: null, name: null };
        staff.defaultVehicle2 ||= { id: null, name: null };
        staff.defaultVehicle3 ||= { id: null, name: null };
        
        if(staff.assignedLead) {
          const matchedStaff = tableDataLookup[staff.assignedLead];
          
          if (matchedStaff && (matchedStaff.status === 'Inactive - Terminated' || matchedStaff.status === 'Onboarding')) {
            staff.hiddenStaff = true;
            staff.hiddenStaffStatus = matchedStaff.status;
          }
          staff.assignedLead = matchedStaff ? `${matchedStaff.firstName} ${matchedStaff.lastName}` : null;
        }
        this.keyMessageValues.forEach(item => {
          itemLoading[`${item.loading}-${staff.id}`]= false;
        });
        return staff;
      });
      this.itemLoading = itemLoading
    },

    setActiveDropdown(open, scope){
      if(open)
        return this.activeSelect = scope.row.id+scope.column.id 
    },

    visibleChangeAuthorizeToDrive(open, row){

      if(open) return this.isDropdownOpen = true

      this.isDropdownOpen = false
      this.updateAuthorizeToDrive(row)
    },

    async updateAuthorizeToDrive(row) {

      if(this.isDropdownOpen || this.modalOpen) return

      try {
        const staff = this.tableData.find(item => item.id === row.id);

        if(!staff) return

        const itemsSet = new Set(row.authorizedToDrive.items)

        const currentAuthorizeToDriveIds = new Set((staff.authorizedToDrive?.items || []).map(item => item.optionCustomList.id))

        const authorizeToDriveToAdd = row.authorizedToDrive.items.filter(item => !currentAuthorizeToDriveIds.has(item))

        const authorizeToDriveToDelete = (staff.authorizedToDrive?.items || []).filter(item => !itemsSet.has(item.optionCustomList.id)).map(item => ({
            optionsCustomListsStaff: item.id
        }))

        if(!authorizeToDriveToAdd.length && !authorizeToDriveToDelete.length) return

        this.itemLoading[`authorizedToDrive-${staff.id}`] = true

        await this.addAuthorizeToDrive(authorizeToDriveToAdd, staff.id)
        await this.deleteAuthorizeToDrive(authorizeToDriveToDelete)
        await this.loadData(false)

        /** Display Update Notification */
        this.displayUserNotification({
          message: `${staff.firstName} ${staff.lastName} changed authorization to drive`,
          type: "success",
          title: `${this.$t('label.associate')} Updated`
        })

      } catch (e) {
        this.printUserError(e)
        this.displayUserError(e)
      }
      finally {
        this.itemLoading[`authorizedToDrive-${row.id}`] = false
      }
    },

    async onChangeAuthorizeToDrive(currentItemsLits, row) {
      
      if(!this.isDropdownOpen) return

      const bulkStaff = this.bulkUpdateStaffList.find(item => item.id == row.id)
      const staff = this.tableData.find(item => item.id == row.id)

      if(!staff && !bulkStaff) return

      const currentAuthorizeToDriveIds = staff.authorizedToDrive?.items.map(item => item.optionCustomList.id)
      let removedId = currentAuthorizeToDriveIds.find(item => !currentItemsLits.includes(item))

      try {

        let input = {
          bulkStaff, 
          staff,
          vehicleList: this.vehicleList,
          removedId,
          items: row.authorizedToDrive.items,
          currentItemsLits
        }
        await this.updateAssociateAuthorizeToDrive(input, true)
      } catch (e) {
        this.printUserError(e)
        this.displayUserError(e)
      }
      finally {
        this.modalOpen = false
      }
    },

    async removeAuthorizeToDrive(removedId, row) {

      if(this.isDropdownOpen) return this.onChangeAuthorizeToDrive(row.authorizedToDrive.items, row)

      try {
        this.isDropdownOpen = false
        const bulkStaff = this.bulkUpdateStaffList.find(item => item.id == row.id)
        const staff = this.tableData.find(item => item.id == row.id)

        if(!staff) return

        const response = await this.removeAuthorizeToDriveItem('remove-tag', bulkStaff, this.vehicleList, removedId, row.authorizedToDrive.items)
        
        /** Return if User cancels deleting an item from the list */
        if(!response.updateDefaultVehicles && !response.removedAuthorizedToDrive) return

        this.itemLoading[`authorizedToDrive-${staff.id}`] = true
        /** Update Staff */
        if(response.updateDefaultVehicles) await this.updateStaff(bulkStaff)
        /** Remove Option Custim List Staff */
        if(response.removedAuthorizedToDrive) {
          const authorizeToDriveToDelete = staff.authorizedToDrive.items.reduce((result, item) => {
            if (item.optionCustomList.id === removedId) {
              result.push({ optionsCustomListsStaff: item.id });
            }
            return result;
          }, []);

          await this.deleteAuthorizeToDrive(authorizeToDriveToDelete)
        }
        /** Add Option Custom List Staff */
        if(response.updateDefaultVehicles || response.removedAuthorizedToDrive){
          const currentAuthorizeToDriveIds = new Set(staff.authorizedToDrive?.items.map(item => item.optionCustomList.id));
          const authorizeToDriveToAdd = row.authorizedToDrive.items.filter(item => !currentAuthorizeToDriveIds.has(item));

          await this.addAuthorizeToDrive(authorizeToDriveToAdd, staff.id)
        }

        await this.loadData(false)

        /** Display Update Notification */
        this.displayUserNotification({
          message: `${staff.firstName} ${staff.lastName} changed authorization to drive`,
          type: "success",
          title: `${this.$t('label.associate')} Updated`
        })

      } catch (e) {
        this.printUserError(e)
        this.displayUserError(e)
      } finally {
        this.itemLoading[`authorizedToDrive-${row.id}`] = false
      }
    },

    async updateAssociateAuthorizeToDrive(input, modalOpen = false){

      let { 
        bulkStaff,
        staff,
        vehicleList,
        removedId,
        items,
        currentItemsLits
      } = input

      try {

        this.modalOpen = modalOpen
        const response = await this.removeAuthorizeToDriveItem('on-chage', bulkStaff, vehicleList, removedId, items)
        
        /** Return if User cancels deleting an item from the list */
        if(!response.updateDefaultVehicles && !response.removedAuthorizedToDrive) return
        
        this.itemLoading[`authorizedToDrive-${staff.id}`] = true
        /** Update Staff */
        if(response.updateDefaultVehicles) await this.updateStaff(bulkStaff)
        /** Remove Option Custim List Staff */
        if(response.removedAuthorizedToDrive) {
          const currentItemsSet = new Set(currentItemsLits);
          const authorizeToDriveToDelete = staff.authorizedToDrive?.items?.reduce((result, item) => {
            if (!currentItemsSet.has(item.optionCustomList?.id)) {
              result.push({ optionsCustomListsStaff: item.id });
            }
            return result;
          }, []);

          await this.deleteAuthorizeToDrive(authorizeToDriveToDelete)
        }
        /** Add Option Custom List Staff */
        if(response.updateDefaultVehicles || response.removedAuthorizedToDrive){
          const currentAuthorizeToDriveIds = new Set(staff.authorizedToDrive?.items.map(item => item.optionCustomList.id));
          const authorizeToDriveToAdd = currentItemsLits.filter(item => !currentAuthorizeToDriveIds.has(item));

          await this.addAuthorizeToDrive(authorizeToDriveToAdd, staff.id)
        }

        await this.loadData(false)

        /** Display Update Notification */
        this.displayUserNotification({
          message: `${staff.firstName} ${staff.lastName} changed authorization to drive`,
          type: "success",
          title: `${this.$t('label.associate')} Updated`
        })

      } catch (e) {
        throw e
      }
      finally {
        this.modalOpen = false
        this.itemLoading[`authorizedToDrive-${staff.id}`] = false
      }
    },

    clearActiveSelect() {
      this.activeSelect = null
    },

    disabledVehicle(row, list) {

      const authorizedVehicles = new Set(row.authorizedToDrive.items);
      const defaultVehicleIds = [
        row.defaultVehicle && row.defaultVehicle.id,
        row.defaultVehicle2 && row.defaultVehicle2.id,
        row.defaultVehicle3 && row.defaultVehicle3.id,
      ];

      list.forEach(item => {
        item.disabled = true;
        if (authorizedVehicles.has(item.vehicleType.id)) {
          item.disabled = false;
        }
        if (defaultVehicleIds.includes(item.id)) {
          item.disabled = true;
        }
      });
    },

    async updateRow(row, key) {
      let loadingId = `${key}-${row.id}`

      this.queueList.push({
        row,
        vehicleList: this.vehicleList,
        tableData: this.tableData,
        key
      })

      if(this.queueList.length) {
        do {
          try {
            this.itemLoading[loadingId] = true
            await this.updateRowValue(this.queueList[0])
            await this.loadData(false)
            this.itemLoading[loadingId] = false
          } catch (e) {
            this.printUserError(e)
            this.displayUserError(e)
          } finally {
            this.queueList.shift()
          }
        }while(this.queueList.length)
      }
    },

    openModalStatus(row) {
      this.rowSelected = row
      this.statusOpen = true;
    },

    async updateStatusStaff() {
      await this.loadData()
    },

    checkListOfSupervisors(staffId) {
      this.listOfSupervisors = this.tableData.filter(item => item.id != staffId)
    },
  },
}
</script>
<style>
  .el-select{
    width: 100%;
  }
  .parent-select.hidden_staff .el-input__inner{
    border: 1px solid #f56565;
  }
  .authorizedToDriveDropdown {
    z-index: 1000 !important;
  }
  .customized .el-dialog__title{
    padding: 0 .7rem;
  }

  .el-message-box__message .vehicleMessage {
      padding: 0.5rem 1rem 0.5rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.5rem;
      list-style-type: disc;
  }
</style>