<template>
  <div class="staff-index" data-cy="dashboard">
    <!-- Report summaries -->
    <div class="grid grid-cols-12 grid-flow-row gap-4">
      <DaPerformanceSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
      <IssueTrendsSumary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card" />
      <InfractionSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
      <NetradyneSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
      <EocSummaryCard class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"
        :type="eocCard.type"
        :title="eocCard.title"
        :icon="eocCard.icon"
        :footer="eocCard.footer"
        :footerText="eocCard.footerText"
        :path="eocCard.path"
        :tabs="eocCard.tabs"
        :tab="eocCard.currentTab"/>
      <EventsSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
      <LicenseSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/>
      <OptOutSummary class="col-span-12 lg:col-span-6 xl:col-span-4 dashboard-card"/> 
    </div>
  </div>
</template>

<script>
import LicenseSummary from '../../components/SummaryCard/LicenseSummary'
import InfractionSummary from '../../components/SummaryCard/InfractionSummary'
import DaPerformanceSummary from '../../components/SummaryCard/DaPerformanceSummary'
import NetradyneSummary from '../../components/SummaryCard/NetradyneAlertSummary'
import OptOutSummary from '../../components/SummaryCard/OptOutSummary'
import IssueTrendsSumary from '../../components/SummaryCard/IssueTrendsSummary'
import EventsSummary from '../../components/SummaryCard/EventsSummary'
import EocSummaryCard from "../../components/SummaryCard/EocSummaryCard";

export default {
  name: 'StaffDashboard',
  components:{
    LicenseSummary,
    InfractionSummary,
    NetradyneSummary,
    DaPerformanceSummary,
    OptOutSummary,
    EventsSummary,
    IssueTrendsSumary,
    EocSummaryCard
  },
  data() {
    return {
      eocCard: {
          key: 1,
          type: 'EocMetrics',
          title: 'Engine Off Compliance (EOC)',
          icon: 'uil-power',
          tabs: [
            {
              key: 1,
              name: "lowestYesterday",
              table: [],
              title: "Lowest Yesterday",
            },
            {
              key: 2,
              name: "lowest7DayAverages",
              table: [],
              title: "Lowest 7-Day Averages",
            },
          ],
          currentTab: 'lowestYesterday',
          footer: true,
          footerText: 'View EOC Metrics Report',
          path: 'EOCMetricsReport'
      }, 
    }
  },
  mounted(){
    if(window.Cypress) window.StaffDashboard=this   /*this line is for test cypress*/
  },
  computed: {
  },
}
</script>
<style lang="scss">
.staff-index{
  z-index: 2091;
}
</style>