<template>
  <div class="staff-index">
    <div data-cy="onboarding-content">
      <table-card tablecard-class="rounded-lg">
          <template v-slot:table-filters>
              <container-filter inTable>
                  <template v-slot:title>
                      <span class="uppercase">Onboarding</span>
                  </template>
                  <template v-slot:filters>
                      <counter-filter :counter="getResumeFilters" />
                      <multi-select-filter
                          type="onboarding"
                          title="Onboarding Status"
                          filterAllTitle="Onboarding Statuses"
                          :options="onboardingStatusOptions"
                          :selected="onboardingStatusChecked"
                          @update-filters="updateFilters"
                      />

                      <multi-select-filter
                          type="background"
                          title="Background Check Status"
                          filterAllTitle="Background Check Statuses"
                          :options="backgroundCheckStatus"
                          :selected="backgroundChecked"
                          @update-filters="updateFilters"
                      />

                      <multi-select-filter
                          type="drug"
                          title="Drug Test Status"
                          filterAllTitle="Drug Test Statuses"
                          :options="drugTestsStatus"
                          :selected="drugChecked"
                          @update-filters="updateFilters"
                      />
                  </template>
              </container-filter>
          </template>
          <template v-slot:table-searchbox>
              <search-box inTable @search-data="searchData"></search-box>
          </template>
          <custom-table
              v-loading="loading"
              ref="table"
              inTable
              withTableMenu
              withSelect
              :selectionEntityLabels="['Associate', 'Associates']"
              :selectionCustomActions="selectionActions"
              :data="onboardingList"
              :totalRecords="numberOfOnboardingStaff"
              :columns="cols"
              :emptyText="'No ' + onboardingEntity"
              :footerTable="onboardingEntity + 's'"
              :optionsRows="optionsContextRow"
              :optionsHeader="optionsContextHeader"
              @click-menu="handleCommand"
              @selection-change="handleSelectionChange"
            >
              <template #phone="row">
                  {{ row.phone | phone }}
              </template>

              <template #onboardingStatus="row">
                  <span v-if="row.vehicleType === 'Standard Vehicles' && row.tasksCompleted.length !== 0">
                    {{ getTotalTasksCompletedByVehicle( row.vehicleType, row.onBoarding.items ) }}/{{ getTotalTaskByVehicle(row.vehicleType) }}
                  </span>
                  <span v-else-if="row.vehicleType === 'Custom Delivery Vans' && row.tasksCompleted.length !== 0">
                    {{ getTotalTasksCompletedByVehicle( row.vehicleType, row.onBoarding.items ) }}/{{ getTotalTaskByVehicle(row.vehicleType) }}
                  </span>
                  <span v-else-if="row.vehicleType === 'Vehicles Over 10,000 LBS' && row.tasksCompleted.length !== 0">
                    {{ getTotalTasksCompletedByVehicle( row.vehicleType, row.onBoarding.items ) }}/{{ getTotalTaskByVehicle(row.vehicleType) }}
                  </span>
                  <span v-else-if="row.vehicleType === null && row.tasksCompleted.length === 0">
                    Not Yet Started
                  </span>
                  <span v-else-if="row.vehicleType === null && row.tasksCompleted.length !== 0">
                    {{ row.tasksCompleted.length }}/11 Tasks Completed
                  </span>
                  <span v-else>
                    Not Yet Started
                  </span>
              </template>
              <template #viewDA="row">
                  <el-tooltip class="item flex-initial" effect="dark" :content="`View ${$t('label.associate')}`" placement="bottom">
                      <i data-cy="view-da" @click="handleRowClick(row)" class="icon-button uil uil-file-landscape-alt text-2xl"></i>
                  </el-tooltip>
              </template>
          </custom-table>
      </table-card>
    </div>

      <!--BULK MESSAGE-->
      <el-dialog
          title="Send Message"
          :visible.sync="messageModalOpen"
          custom-class="responsive-dialog send-message-dialog"
          :show-close="false"
          @open="resetForm">
          <StaffMessageForm 
              ref="staffMessageForm"
              :message="messageText"
              @message-changed="message => messageText = message"
              :attachmentData="attachmentData"
              :rules="rules"
              :statusFilter="filterStatus"
              :search="search"
              :resetKey="resetKey"
              :itemsMultipleSelection="selectedAssociates"
              />
          <span slot="footer" class="dialog-footer">
              <p class="text-xs text-gray-600 text-left mt-0 mb-2">
                <span class="font-bold mb-2">Unfortunately, cell phone carriers limit the length of text messages.</span> If you need to send a long message, there are two options. 1. You can break up the message and send it in multiple parts, and 2. if it is very long, you may want to turn it into a newsletter, save it as a PDF and attach it to the message. A PDF newsletter will be easier for the {{$t('label.associate')}} to read and digest all of the information.
              </p>

              <div class="flex flex-wrap justify-between">
                <div class="flex items-center mt-2">
                  <message-template-dropdown
                    :currentMessage="messageText"
                    @onMessageTemplateSelection="updateCurrentMessage"
                  />
                </div>
                <div class="flex-1 flex justify-end mt-2">
                  <el-button data-cy="btn-cancel-staff-message-form" @click="handleEditCancel">Cancel</el-button>
                  <el-button type="primary" @click="sendBulk()">Send</el-button>
                </div>
              </div>
          </span>
      </el-dialog>
      <!--PREMIUM WARNING DIALOG-->
      <el-dialog
          title="Premium Required"
          :show-close="false"
          :center="true"
          :visible.sync="showUpgradeDialog"
          width="300px">
          <PremiumWarning
              action="broadcast messages"
              premiumFeature="DA management"
              :modal="true"
              @close-dialog="showUpgradeDialog = false">
          </PremiumWarning>
      </el-dialog>

      <!-- HERA DOWN DIALOG -->
      <el-dialog 
          :visible.sync="heraDown"
          width="320px"
          :show-close="false">
          <FeatureOffline
          feature="broadcasting messages"
          @close-modal="heraDown = false"/>
      </el-dialog>

      <!--EXPORT DIALOG-->
      <el-dialog
          :title="getTitleExportDialog()"
          :show-close="true"
          :center="true"
          :visible.sync="showExportDialog"
          width="300px"
          :custom-class="'customized'"
          >
          <ExportDialog
              :modal="true"
              :exportField="getExportField()"
              :exportFields="getExportFields()"
              :number="numberItemsToExport"
              :statusChecked="getStatusChecked()"
              @export-action="exportCSV(csvData)"
              @close-dialog="showExportDialog = false">
          </ExportDialog>
      </el-dialog>

      <!-- FORM CHANGE STATUS DIALOG -->
      <FormChangeStatusDialog
        v-if="valuelists['staff-status'] && statusOpen"
        @closeFormDialog="statusOpen = false"
        :items="valueListActivesOnly(valuelists['staff-status'].items)"
        :staffData="rowSelected"
        @updated="updateStatusStaff($event)" />

  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex"
import { staffsByGroup } from '../../queries';
import { createAttachment } from '@/graphql/mutations'
import sendMessage from '@/scripts/sendMessage'
import StaffMessageForm from '../../components/StaffMessageForm'
import ExportDialog from '@/components/ExportDialog'
import FeatureOffline from '@/components/FeatureOffline'
import PremiumWarning from '@/components/PremiumWarning'
import store from '@/store/index'
import { nanoid } from 'nanoid'
import { Storage } from 'aws-amplify'
import MessageTemplateDropdown from '@/components/MessageTemplateDropdown';
import { exportCSV } from "@/utilities/exportCSV"
import FormChangeStatusDialog from '../../components/FormChangeStatusDialog'
import { phoneNumberMask } from '@/utilities/phoneNumberFormat'
import { onboardingStatus, onboardingStatusCompleted, onboardingType } from '../../utils/onboardingStatus';
import TableCard from "@/components/TableCard/TableCard";
import ContainerFilter from "@/components/TableCard/ContainerFilter";
import SearchBox from "@/components/TableCard/SearchBox";
import CustomTable from "@/components/TableCard/CustomTable";
import MultiSelectFilter from "@/components/MultiSelectFilter";
import CounterFilter from "@/components/CounterFilters";
import associateGlobalMixin from '@/views/Staff/mixin'

export default {
  name: 'StaffOnboarding',
  components:{
    StaffMessageForm,
    MessageTemplateDropdown,
    FeatureOffline,
    PremiumWarning,
    ExportDialog,
    FormChangeStatusDialog,
    TableCard,
    ContainerFilter,
    SearchBox,
    CustomTable,
    MultiSelectFilter,
    CounterFilter,
  },
  mixins:[
    associateGlobalMixin
  ],
  data() {
    return {
      isMobile: null,
      onboardingEntity: "Onboarding Associate",
      statusItems: [],
      orderFunction: "",
      sortFunction: "",
      heraDown: false,
      loading: false,
      tableData: [],
      search: '',
      filteredData: [],
      filterStatus: "Active",
      messageModalOpen: false,
      messageText: "",
      showUpgradeDialog: false,
      attachmentData: {
        file: null,
        attachmentExpirationDate: null,
        contentType: null,
        fileName: null,
        isImage: false,
      },
      rules: {
        messageText: [
          { required: true, message: 'Please input a message', trigger: 'blur' }
        ]
      },
      resetKey: 0,
      showExportDialog: false,
      selectedAssociates: [],
      statusChecked: ['Active'],
      checkAllStatus: false,
      statusOpen: false,
      rowSelected: null,
      numberOfOnboardingStaff: 0,
      onBoardingTemplates: [],
      itemsByVehicleType: [],
      cols: [
        { name: 'First Name', col: 'firstName' , fixed: false, width: "150", sortable: true,  sortMethod: this.sortFirstName },
        { name: 'Last Name', col: 'lastName' , fixed: false, width: "150", sortable: true,  sortMethod: this.sortLastName },
        { name: 'Phone', col: 'phone' , fixed: false, width: "140", sortable: true,  sortMethod: this.sortPhone },
        { name: 'Onboarding Status', col: 'onboardingStatus' , fixed: false, width: "200", sortable: true,  sortMethod: this.sortOnboardingStatus },
        { name: 'Last Update', col: 'lastUpdate' , fixed: false, width: "140", sortable: true,  sortMethod: this.sortLastUpdate },
        { name: 'Recently Task Completed', col: 'recentlyTaskCompleted' , fixed: false, width: "240", sortable: true,  sortMethod: this.sortRecentlyCompleted },
        { name: 'Background Check', col: 'backgroundCheck' , fixed: false, width: "200", sortable: true,  sortMethod: this.sortBackgroundCheck },
        { name: 'Drug Test', col: 'drugTest' , fixed: false, width: "160", sortable: true,  sortMethod: this.sortDrugTest },
        { name: undefined, col: 'viewDA', fixed: false, width: "50", sortable: false }        
      ],
      optionsContextRow: [
        {
          label: 'Send Message',
          action: 'message-single',
          divided: false,
          condition: this.hasMessengerManagement
        },
        {
          label: `View ${ this.$t('label.associate') }`,
          action: 'view',
          divided: false
        },
        {
          label: 'Change Status',
          action: 'change-status',
          divided: true,
        },
      ],
      optionsContextHeader: 
      [
        {
          label: `Message ${ this.$t('label.associates') }`,
          action: 'message',
          divided: false,
          enableOnMultipleSelection: true,
        },
        {
          label: `Add ${ this.$t('label.associates') }`,
          action: 'add',
          divided: true,
        },
        {
          label: `Export ${ this.$t('label.associates') }`,
          action: 'export',
          divided: false
        },
        {
          label: `Import ${ this.$t('label.associates') }`,
          action: 'import',
          divided: false
        }
      ],
      onboardingStatusOptions: [
          'Not Yet Started',
          'Some Tasks Completed',
          'All Tasks Completed'
      ],
      onboardingStatusChecked: [
          'Not Yet Started',
          'Some Tasks Completed',
          'All Tasks Completed'
      ],
      backgroundCheckStatus: [
          'Not Started', 
          'Initiated Date', 
          'Cleared Date', 
          'Adjudicated', 
          'Report Review', 
          'Doesn’t Meet Requirements', 
          'Amazon Cleared'
      ],
      backgroundChecked: [
          'Not Started', 
          'Initiated Date', 
          'Cleared Date', 
          'Adjudicated', 
          'Report Review', 
          'Doesn’t Meet Requirements', 
          'Amazon Cleared'
      ],
      drugTestsStatus: [
          'Not Ordered', 
          'Ordered', 
          'Collected', 
          'Completed: NOT Cleared', 
          'Completed: Cleared',
          'Cleared'
      ],
      drugChecked: [
          'Not Ordered', 
          'Ordered', 
          'Collected', 
          'Completed: NOT Cleared', 
          'Completed: Cleared',
          'Cleared'
      ],
      originalTableData: [],
    }
  },

  async mounted(){
    this.isMobile = window.innerWidth < 768 ? true : false;
    if(window.Cypress) window.StaffOnboarding = this   /*this line is for test cypress*/

    await this.loadData();
  },

  beforeMount(){
    let onboardingOrder = onboardingStatus.sort((a,b) => a.orderStatus - b.orderStatus)
    //The onboarding status list is loaded.
    onboardingOrder.forEach(onboarding => this.onBoardingTemplates.push({ name: onboarding.name, color: onboarding.color }))
    
    onboardingType.forEach(type => {
      let onboardingItem = []
      onboardingOrder.filter(onboarding => onboarding.DAwillBeDrive.includes(type)).forEach(onboarding => onboardingItem.push(onboarding.name))
      this.itemsByVehicleType.push({ name: type, items: onboardingItem, task: onboardingItem.length })
    })
  },

  computed: {
    ...mapState([
      'valuelists',
      'userInfo'
    ]),
    ...mapGetters([
      'hasMessengerManagement',
      'hasDAManagement'
    ]),

    selectionActions() {
      return [
        { command: 'send-messages', label: this.sendMessagesSelectionActionLabel, handler: this.sendSelectionMessagesHandler, shouldDisplay: (selectedRows) => (selectedRows.length) > 0 },
      ];
    },

    sendMessagesSelectionActionLabel() {
      const associateLabel = this.pluralize(this.selectedAssociates.length, 'Associate', 'Associates');
      return `Message Selected ${associateLabel}`;
    },

    getResumeFilters() {
      const countOnboarding = this.onboardingStatusOptions.length === this.onboardingStatusChecked.length ? 0 : 1
      const countBackground = this.backgroundCheckStatus.length === this.backgroundChecked.length ? 0 : 1
      const countDrug = this.drugTestsStatus.length === this.drugChecked.length ? 0 : 1

      return countOnboarding + countBackground + countDrug
    },

    filteredStaff(){
      let items = []

      if(this.statusChecked.length) {
        this.statusChecked.forEach(item => {
            let filtersList = [
                {
                    key: 'status',
                    value: item
                }
            ]

            let itemsByStatus = this.filterArray(this.tableData, this.search, filtersList)
            itemsByStatus.map(function(item) {
              item.phone = phoneNumberMask(item.phone)
              return item
            })

            items.push(...itemsByStatus)
        })
      }

      return items
    },

    csvData() {
      let listToExport = [] 
      if(this.hasDAManagement){
        listToExport = this.onboardingList
      }
      return listToExport.map(item => {
        const totalFantastic = (item.scoreCards?.items || []).filter(scoreCard => scoreCard.overallTier === "Fantastic").length

        const scoreCardsSorted = [...(item.scoreCards?.items || [])].sort((a,b) => {
          return parseInt(b.year+b.week.padStart(2, 0)) - parseInt(a.year+a.week.padStart(2, 0))
        })

        let consecutive = 0

        for (const scoreCard of scoreCardsSorted) {
          if(scoreCard.overallTier !== 'Fantastic') break;
          consecutive++;
        }

        const timeRescued = (item.route?.items || []).filter((route) =>{
          return route.rescued == true;
        }).length;

        const timeRescuer = (item.routeRescuer?.items || []).length; 
      return {
        "FIRST NAME" : item.firstName,
        "LAST NAME" : item.lastName,
        "STATUS" : item.status,
        "TRANSPORTER ID" : item.transporterId,
        "EMAIL" : item.email,
        "PHONE" : item.phone,
        "DOB" : item.dob ? this.$moment(item.dob).format("MM/DD/YYYY") : '',
        "DL EXPIRATION" : item.dlExpiration ? this.$moment(item.dlExpiration).format("MM/DD/YYYY") : '',
        "MOTO VEHICLE REPORT" : item.vehicleReport,
        "GAS CARD PIN": item.gasCardPin,
        "DEFAULT VEHICLE": item.defaultVehicle?.name,
        "DEFAULT SECONDARY VEHICLE": item.defaultVehicle2?.name,
        "DEFAULT TERTIARY VEHICLE": item.defaultVehicle3?.name,
        "GENDER" : item.gender,
        "PRONOUNS" : item.pronouns,
        "LEAD DRIVER" : item.isALead,
        "ASSIGNED LEAD" : item.assignedLead ? this.setAssignedLead(item.assignedLead): null,
        "HOURLY STATUS" : item.hourlyStatus,
        "HIRED" : item.hireDate ? this.$moment(item.hireDate).format("MM/DD/YYYY") : '',
        "FINAL CHECK ISSUED" : item.finalCheckIssueDate ? this.$moment(item.finalCheckIssueDate).format("MM/DD/YYYY"): '',
        "TOTAL FANTASTIC" : totalFantastic,
        "CONSECUTIVE" : consecutive,
        "TIMES RESCUED" : timeRescued,
        "TIMES RESCUER" : timeRescuer,
      }})
    },

    onboardingList() {
        let filter = [{key: 'status', value: 'Onboarding'}],
            items = this.filterArray( this.tableData, this.search, filter )

        if(this.numberOfOnboardingStaff === 0) {
            this.numberOfOnboardingStaff = items.length
        }

        items.forEach(item => {
            item.tasksCompleted = this.getTasksCompleted(item.onBoarding)
            item.recentlyTaskCompleted = this.recentlyTaskCompleted(item.onBoarding)
            item.lastUpdate = this.lastUpdate(item.onBoarding)
            item.backgroundCheck = this.getStatus(item.onBoarding, 'Background Check')
            item.drugTest = this.getStatus(item.onBoarding, 'Drug Test')
            item.onboardStatus = this.getOnboardingStatus(item)
        })
        this.originalTableData = items

        items = this.originalTableData.filter(staff => this.onboardingStatusChecked.includes(staff.onboardStatus))
        items = items.filter((staff) => {
            if (this.backgroundChecked.length !== this.backgroundCheckStatus.length) {
                return this.backgroundChecked.includes(staff.backgroundCheck)
            }
            return true
            
        })
        items = items.filter((staff) => {
            if (this.drugChecked.length !== this.drugTestsStatus.length) {
                return this.drugChecked.includes(staff.drugTest)
            }
            return true
            
        })
        return items
    },

    /**
     * Shows number of items to export based on current status
     */
    numberItemsToExport() {
        return this.onboardingList.length
    },
  },
  methods: {

    getStatusChecked(){
      return [
        {
          filter: 'Onboarding Status',
          values: this.onboardingStatusChecked
        },
        {
          filter: 'Background Check Status',
          values: this.backgroundChecked
        },
        {
          filter: 'Drug Test Status',
          values: this.drugChecked
        }
      ]
    },

    getExportField(){
      return this.onboardingEntity
    },

    getExportFields(){
      return `${this.onboardingEntity}s`
    },

    getTitleExportDialog(){
      return `Export ${this.onboardingEntity}s `
    },

    searchData(e){
      console.log({ search: e });
      this.search = e
    },

    getStatus(row, name) {
      for (const onboarding of row.items) {
          if (onboarding.name == name) {
              return onboarding.status
          }
      }
      return '—'
    },

    getOnboardingStatus(staff) {
      const vehicle = staff.vehicleType;
      const allTask = staff.onBoarding?.items || [];

      let completed = 0

      if(!vehicle && !allTask) {
        completed = 0
      }

      if(!vehicle && allTask) {
        completed = allTask.length
      }

      if(vehicle && allTask) {
        completed = this.getTotalTasksCompletedByVehicle( vehicle, allTask );
      }

      if (completed !== 0 ) {
          if (vehicle === 'Custom Delivery Vans') {
              if (completed < 14) {
                  return 'Some Tasks Completed'
              }
              return 'All Tasks Completed'
          }

          if (vehicle === 'Vehicles Over 10,000 LBS') {
              if (completed < 16) {
                  return 'Some Tasks Completed'
              }
              return 'All Tasks Completed'
          }

          if (completed < 13) return 'Some Tasks Completed'

          return 'All Tasks Completed'
      } 
      return 'Not Yet Started'
    },

    updateFilters(e) {
      const { filters, type } = e;
      if (type === 'onboarding') {
        this.onboardingStatusChecked = filters
      }
      if (type === 'background') {
        this.backgroundChecked = filters
      }
      if (type === 'drug') {
        this.drugChecked = filters
      }
    },

    /**
     * On row click go to the StaffDetail route.
     * @param {object} row
     * @param {object} column
     * @param {object} event
     */
    handleRowClick(row, column, event){
      console.log({ sortFunction: this.sortFunction });
      console.log({ row });
      switch(this.sortFunction) {
        case 'firstName':
          this.onboardingList.sort(this.sortFirstName)
          break;
        case 'lastName':
          this.onboardingList.sort(this.sortLastName)
          break;
        case 'transporterId':
          this.filteredStaff.sort(this.sortTransporterId)
          break;
        case 'phone':
          this.onboardingList.sort(this.sortPhone)
          break;
        case 'onboardingStatus':
          this.onboardingList.sort(this.sortOnboardingStatus)
          break;
        case 'lastUpdate':table.data
          this.onboardingList.sort(this.sortLastUpdate)
          break;
        case 'recentlyCompleted':
          this.onboardingList.sort(this.sortRecentlyCompleted)
          break
      }

      let filteredStaff = this.filteredStaff
      let onboardingList = this.onboardingList

      if (this.orderFunction === "descending") {
        filteredStaff = this.filteredStaff.reverse()
        onboardingList = this.onboardingList.reverse()
      }

      let previousRouteText = 'Onboarding',
          previousRouteName = this.$route.name

      this.$store.commit("setStaffList", onboardingList)
      this.$router.push({name: 'StaffDetail', params: { id: row.id }, query: { previousRouteText, previousRouteName }})
    },

    async handleCommand(payload){
      var row = payload.row
      var action = payload.action
      var status = payload.status ?? null

      if(action == "view"){
          this.handleRowClick(row)
          return
      }
      else if(action == "message"){
          if(this.$store.getters.hasStaffManagement) {
            this.newMessage();
          }
          else{
              this.showUpgradeDialog = true
          }
      }
      else if(action == "message-single"){
          if(this.$store.getters.hasStaffManagement) {
            if(row.phone) {
              if(this.isMobile) {
                this.$router.push({name: 'MobileMessengerDetail', params: {staffId: row.id}})
              }
              else {
                this.$router.push({name: 'Messenger', params: {staffId: row.id}})
              }
            } else {
              await this.sendMissingNumberToast(row.firstName)
            }
          }
          else{
              this.showUpgradeDialog = true
          }
      }
      else if(action == 'add'){
          this.$router.push({name: 'StaffNew', params:{ formStatus: status }})
      }
      else if(action == 'import'){
          this.$router.push({name: 'StaffImport'})
      }
      else if(action == 'export'){
          this.showExportDialog = true 
      } else if(action === 'change-status') {
          this.rowSelected = payload.row

          this.statusOpen = true
      }
    },

    updateCurrentMessage(message) {
      this.$refs.staffMessageForm?.setMessage(message);
    },

    exportCSV(arrData) {
      const fileName = `Associate-export-${this.filterStatus}-${this.$moment().format('MM/DD/YYYY')}.csv`
      exportCSV({arrData, fileName})
      this.showExportDialog = false
    },

    /**
     * Load data using the staffsByGroup custom GraphQL query
     */
    async loadData(refresh = true){
      this.tableData = [];
      try{
        if(refresh) {
          this.loading = true;
        }

        var input = {
          group: this.userInfo.tenant.group
        }

        this.tableData = await this.gLoadListAll(staffsByGroup, input, 'staffsByGroup');
        this.statusItems = this.valueListActivesOnly(this.valuelists['staff-status'].items).map(item => item.value)

      }catch(e){
        this.printUserError(e)
        this.displayUserError(e)
      }finally{
        this.loading = false;
      }
    },

    /** 
     * Handles Cancel button clicks on send message modal
     **/
    handleEditCancel(){
      this.messageModalOpen = false
      this.$refs.staffMessageForm?.setMessage('');
    },

    sendSelectionMessagesHandler(selectedRows) {
      if(!this.$store.getters.hasStaffManagement) {
        this.showUpgradeDialog = true;
        return;
      }
      this.newMessage();
    },

    async newMessage(){
      const found = this.selectedAssociates.find(da => da.phone);

      if(!found) {
        for (const da of this.selectedAssociates) {
          await this.sendMissingNumberToast(da.firstName)
        }
      } else if(this.userInfo.tenant.originationNumber == this.getEnvPinpointNumber()){
        this.heraDown = true
      }
      else{
        this.$refs.staffMessageForm?.setMessage('');
        this.messageModalOpen = true
        this.filteredData = this.$refs.table.data
        this.attachmentData = {
          file: null,
          attachmentExpirationDate: null,
          contentType: null,
          fileName: null,
          isImage: false,
          fileSize: null,
        }
      }
    },

    async sendMissingNumberToast(name) {
      this.displayUserNotification({
        title: 'Associate does not have a phone number',
        type: "warning",
        duration: 0,
        message: `${name} does not have a phone number in their Associate profile. Please add their phone number to Hera in order to send them messages.`,
      })
    },

    sortFirstName(a,b){
      return ('' + a.firstName.toLowerCase()).localeCompare(b.firstName.toLowerCase());
    },

    sortLastName(a,b){
      return ('' + a.lastName.toLowerCase()).localeCompare(b.lastName.toLowerCase());
    },

    sortPhone(a,b){
      if(a.phone != null) a = '' + a.phone.replace(/\D/g,'')
      else if(a.phone == null) a = ''
      else a = '' + a.phone

      if(b.phone != null) b = b.phone.replace(/\D/g,'')
      else if (b.phone == null) b = ''
      else b = b.phone

      return (a).localeCompare(b);
    },

    sortTransporterId(a,b){
      if(a.transporterId != null) a = '' + a.transporterId.toLowerCase()
      else if(a.transporterId == null) a = ''
      else a = '' + a.transporterId

      if(b.transporterId != null) b = b.transporterId.toLowerCase()
      else if (b.transporterId == null) b = ''
      else b = b.transporterId
      
      return (a).localeCompare(b);
    },

    sortOnboardingStatus(a, b) {
      return a.tasksCompleted.length - b.tasksCompleted.length
    },

    sortLastUpdate(a, b) {
      let aDate = a.lastUpdate || this.$moment()
      let bDate = b.lastUpdate || this.$moment()

      return this.$moment(aDate).valueOf() - this.$moment(bDate).valueOf()
    },

    sortRecentlyCompleted(a, b) {
      return ('' + a.recentlyTaskCompleted.toLowerCase()).localeCompare(b.recentlyTaskCompleted.toLowerCase())
    },

    sortBackgroundCheck(a, b) {
      return ('' + a.backgroundCheck.toLowerCase()).localeCompare(b.backgroundCheck.toLowerCase())
    },

    sortDrugTest(a, b) {
      return ('' + a.drugTest.toLowerCase()).localeCompare(b.drugTest.toLowerCase())
    },

    /**
     * Send bulk text messages to all staff who meet filter criteria
     */
    sendBulk: async function(){
      let s = (this.selectedAssociates.length>1) ? "s" : "",
          message = `<span id="message-send-bulk" class="block">Sending to ${this.selectedAssociates.length} Selected ${this.$t('label.associate')}${s}.</span>`

      this.$confirm(message, 'Warning', {
          confirmButtonText: 'Send',
          cancelButtonText: 'Cancel',
          type: 'warning',
          dangerouslyUseHTMLString: true,
          beforeClose: async (action, instance, done) => {
            if (action === 'confirm') {
              instance.confirmButtonLoading = true
              instance.confirmButtonText = 'Sending...'

              /* Modify dom with vanilla to change the previous text in the message */
              let message = document.getElementById('message-send-bulk'),
                  messageLoading = document.createElement('span'),
                  parentElement = message.parentElement

              messageLoading.setAttribute('id', 'message-loading')
              messageLoading.textContent = 'Your messages are currently sending. Please do not close your browser. This notification will automatically close after your messages are sent.'
              parentElement.appendChild(messageLoading)

              //place file in s3.
              if(this.attachmentData.file){
                var now = new Date()
                var object = await Storage.put(store.state.userInfo.tenant.group + '/broadcasts/' + now.getTime() + '/' + this.attachmentData.fileName, this.attachmentData.file)
                var key = object.key

                //Create attachment record
                var input = {
                    id: nanoid(9),
                    group: this.userInfo.tenant.group, 
                    s3Key: key,
                    expirationDate: this.attachmentData.attachmentExpirationDate,
                    contentType: this.attachmentData.contentType,
                    fileSize: this.attachmentData.fileSize
                }
                var results = await this.api(createAttachment,  {input: input})
                var attachmentId = results.data.createAttachment.id
                var expirationDate = results.data.createAttachment.expirationDate
                
              }

              if(store.getters.isTrialAccount && store.getters.isTrialExpired){
                throw {
                  message: 'Please select a purchase option to regain access to Hera.'
                }
              }

              console.log('VUE_APP_USE_SENDMESSAGE_LAMBDA', process.env.VUE_APP_USE_SENDMESSAGE_LAMBDA)
              // force to use frontend to send messages
              if(false && process.env.VUE_APP_USE_SENDMESSAGE_LAMBDA == 0) {

                console.log('Using frontend to send messages')

                for (var i=0 ; i < this.selectedAssociates.length ; i++){
                  let staff = this.selectedAssociates[i]
                  staff.receiveTextMessages = true
                  let bodyText = this.messageText
                  let bodyHtml = this.messageText
                  let contentType = this.attachmentData.contentType
                  let companyName = this.$store.state.userInfo.tenant.companyName
                  let route = null
                  var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml,type: "broadcast", attachmentId, contentType, user: this.$store.state.userInfo})
                    done();
                    setTimeout(() => {
                      instance.confirmButtonLoading = false;
                    }, 500)
                }

              } else {

                let staff = []

                for (var i=0 ; i < this.selectedAssociates.length ; i++){
                  let _staff = this.selectedAssociates[i]
                  _staff.receiveTextMessages = true
                  staff.push(_staff)
                }

                let bodyText = this.messageText
                let bodyHtml = this.messageText
                let contentType = this.attachmentData.contentType
                let companyName = this.$store.state.userInfo.tenant.companyName
                let route = null
                var response = await sendMessage({ staff, companyName, route, bodyText, bodyHtml,type: "broadcast", attachmentId, contentType, user: this.$store.state.userInfo, withShortenUrl: true, expirationDate})
                done();
                setTimeout(() => {
                  instance.confirmButtonLoading = false;
                }, 500)

              }
            } else {
              done();
            }
          }
        }).then(() => {
          this.clearMessageLoadingSendBulk()

          this.$message({
            type: 'success',
            message: 'Sent'
          });
        }).catch((e) => {
          this.clearMessageLoadingSendBulk()

          if (e == "cancel"){return}
          this.$message({
            type: 'info',
            message: 'Try Again'
          });          
        });
        this.messageModalOpen = false
    },

    resetForm(){
      this.resetKey = this.resetKey + 1
      this.$refs.staffMessageForm?.setMessage('');
    },

    handleSelectionChange(selectedRows) {
      this.selectedAssociates = selectedRows;
    },

    updateStatusStaff(data) {
      this.rowSelected.status = data.status
    },

    getTasksCompleted(data) {
        let completed = []

        if(data && data.items){
          // label name changed on HERA-447
          const labelChanges = {
            "In-Person Training": "In-Person Amazon Training",
            "Uniform Issued": "Uniforms Issued",
            "Ride Along Completed": "Ride Along"
          }
          data.items.forEach((label, index, labels) => {
            if(Object.keys(labelChanges).includes(label.name)){
              data.items[index].name = labelChanges[label.name];
            }
          })  
        }
      
        data.items.forEach((item, index) => {
          
            let onBoardingTemplateItem = this.onBoardingTemplates.find(i => i.name === item.name)

            // Asign props of onBoardingTemplateItem to compare
            if(onBoardingTemplateItem) {
                Object.assign(item, onBoardingTemplateItem)
            }
          
            if (item.isComplete === true && item.status === null) {
              let option = "Completed"
              if(item.name === 'Drug Test'){
                option = "Completed: Cleared"
              }
              if(item.name === 'Uniforms Issued'){
                option = "Issued"
              }
              if(item.name === 'Medical Card'){
                option = "Issued"
              }
              item.status = option
            }

            if (item.color === 'isComplete' && item.isComplete === true) {
              completed.push(item)
            } else if (item.color === 'date1' && item.dateComplete) {
              completed.push(item)
            } else if (item.color === 'status' && ( 
                      item.status === 'Completed' ||
                      item.status === 'Completed: Cleared' ||
                      item.status === 'Cleared' ||  
                      item.status === 'Signed' ||
                      item.status === 'Issued' ||
                      item.status === 'Amazon Cleared' ||
                      item.status === 'Profile Completed' ||
                      item.status === 'Account Created')) {
              completed.push(item)
            }
        })
        return completed
    },

    lastUpdate(data) {
        return data.items.length ? this.$moment(data.items[data.items.length - 1].updatedAt).format('MM/DD/YYYY') : ''
    },

    recentlyTaskCompleted(data) {
        let completed = this.getTasksCompleted(data)
        completed = completed.sort((a,b) => this.$moment(a.updatedAt).valueOf() - this.$moment(b.updatedAt).valueOf())

        return completed.length ? completed[completed.length - 1].name : '—'
    },

    clearMessageLoadingSendBulk() {
        let message = document.getElementById('message-send-bulk'),
            messageLoading = document.getElementById('message-loading'),
            parentElement = message.parentElement

        if(parentElement) {
            parentElement.removeChild(messageLoading)
        }
    },

    getTotalTasksCompletedByVehicle( type, listTasksCompleted ) {
      const listTaskByVehicle = this.itemsByVehicleType.find( record => record.name === type );
      const { items } = listTaskByVehicle;
      let taskCount = 0;
      listTasksCompleted.forEach( task => {
        taskCount = (items.includes(task.name) && onboardingStatusCompleted.includes(task.status)) ? taskCount + 1 : taskCount;
      });
      return taskCount;
    },

    getTotalTaskByVehicle(type){
      let taskbyVehicle = this.itemsByVehicleType.find(item => item.name === type)
      return `${ taskbyVehicle.task ? taskbyVehicle.task : 0 } Tasks Completed`
    },
  }
}
</script>
<style lang="scss">
.staff-index{
  z-index: 2091;

  @media (min-width: 768px) { // md 
    .responsive-dialog{
      width: 50% !important;
    }
  }
  @media (max-width: 640px) { // sm 
    .responsive-dialog{
      width: 75% !important;
    }
  }
  .staff-index {
    .popper__arrow {
        left: initial !important;
        right: .3rem !important;
    }
  }
  .responsive-dialog.send-message-dialog .el-dialog__body {
    padding: 30px 20px 7px 20px;
  }
}

.customized .el-dialog__title{
  padding: 0 .7rem;
}

.el-message-box__message .vehicleMessage {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    list-style-type: disc;
}
</style>