<template>
    <el-form label-width="125px" >
        <div class="flex">
            <el-form-item class="flex-1" label="Year">
                <el-input v-model="formFields.year"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Week">
                <el-input v-model="formFields.week"></el-input>
            </el-form-item>        
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Name">
                <el-input v-model="formFields.name"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="Transporter ID">
                <el-input v-model="formFields.transporterId"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Delivered">
                <el-input v-model="formFields.delivered"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="FICO Score">
                <el-input v-model="formFields.ficoScore"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Seatbelt Off Rate">
                <el-input v-model="formFields.seatbeltOffRate"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="DCR">
                <el-input v-model="formFields.dcr"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="DAR">
                <el-input v-model="formFields.dar"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="SWC-POD">
                <el-input v-model="formFields.swcPod"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="SWC-CC">
                <el-input v-model="formFields.swcCc"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="SWC-SC">
                <el-input v-model="formFields.swcSc"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="SWC-AD">
                <el-input v-model="formFields.swcAd"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="DNRs">
                <el-input v-model="formFields.dnrs"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Pod Opps">
                <el-input v-model="formFields.podOpps"></el-input>
            </el-form-item>
            <el-form-item class="flex-1" label="CC Opps">
                <el-input v-model="formFields.ccOpps"></el-input>
            </el-form-item>
        </div>
        <div class="flex">
            <el-form-item class="flex-1" label="Key Focus Area">
                <el-input v-model="formFields.keyFocusArea"></el-input>
            </el-form-item>
         
        </div>
        



    </el-form>
</template>

<script>
export default {
    name: 'PodQuaityForm',
    props:['formFields'],    
}
</script>