<template>
  <div>

    <!--HEADER-->
    <div class="grid grid-flow-row grid-cols-12 gap-2 md:gap-4">
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-8 xl:col-span-9 text-right">
            <el-button data-cy="da-uniform-add-btn" class="w-40" size="small" type="primary" @click="openNewUniformModal">Add Uniform</el-button>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-6 lg:col-span-4 xl:col-span-3">
            <el-input
            v-model="search"
            size="small"
            prefix-icon="uil uil-search"
            clearable
            placeholder="Filter this list by any column..."/>
        </div>
    </div>  


    <!--UNIFORM TABLE-->
    <el-table
        ref="table"
        empty-text="No Uniforms"
        :data="filterArray( uniforms, search )"
        style="width: 100%">
        

        <el-table-column
          label="Uniform Type"
          sortable
          prop="uniformType.value">
          <template slot-scope="scope">
            <div v-if="scope.row.uniformType">{{scope.row.uniformType.value | text}}</div>
            <div v-else class="placeholder" >{{null | text}}</div>
          </template>
        </el-table-column>


        <el-table-column
          label="Uniform Size"
          sortable
          prop="size.value">
          <template slot-scope="scope">
            <div v-if="scope.row.size">{{scope.row.size.value | text}}</div>
            <div v-else class="placeholder">{{null | text}}</div>
          </template>
        </el-table-column>


        <el-table-column
          label="Quantity Issued"
          sortable
          prop="qty">
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.qty}">{{scope.row.qty | text}}</div>
          </template>
        </el-table-column>


        <el-table-column
          label="Issue Date"
          sortable
          prop="issueDate">
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.issueDate}">{{scope.row.issueDate | date_timezone}}</div>
          </template>
        </el-table-column>   

        <el-table-column
          label="Returned Date"
          sortable
          prop="returnedDate">
          <template slot-scope="scope">
            <div :class="{'placeholder': !scope.row.returnedDate}">{{scope.row.returnedDate | date_timezone}}</div>
          </template>
        </el-table-column>   


        <el-table-column
          fixed="right"
          width="50">
          <template slot-scope="scope">
              <i 
              data-cy="uf-edit-btn"
              @click="openEditUniformModal(scope.row)"
              class="icon-button hover:text-brand uil uil-pen"/>
          </template>
        </el-table-column>

    </el-table>

    <p class="mt-4">{{ uniforms.length || 0 }} Total Uniform Items</p>


    <!--NEW MODAL-->
    <el-dialog
      title="Add Uniform"
      :visible.sync="newModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <UniformForm :formFields="newUniformData"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <el-button
              :disabled="disabled"
              @click="newModalOpen = false"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="uf-confirm-btn"
              type="primary"
              :clickHandler="createUniform"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Confirm
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>


    <!--EDIT MODAL-->
    <el-dialog
      title="Edit Uniform Item"
      :visible.sync="editModalOpen"
      width="50%"
      :close-on-click-modal="false"
      >

      <UniformForm :formFields="editUniformData"/>

      <span slot="footer" class="dialog-footer">
        <ButtonGroupWrapper>
          <template slot-scope="{disabled, setDisabled}">
            <ButtonWrapper
              type="danger"
              class="float-left"
              data-cy="uf-delete-btn"
              :clickHandler="confirmdeleteUniform"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Delete
            </ButtonWrapper>
            <el-button
              :disabled="disabled"
              @click="editModalOpen = false"
            >
              Cancel
            </el-button>
            <ButtonWrapper
              data-cy="uf-update-btn"
              type="primary"
              :clickHandler="updateUniform"
              :disabled="disabled"
              @cb-start="setDisabled(true)"
              @cb-end="setDisabled(false)"
            >
              Update
            </ButtonWrapper>
          </template>
        </ButtonGroupWrapper>
      </span>
    </el-dialog>
  
  </div>

</template>

<script>

import UniformForm from './UniformForm'
import { getUniformUpdatedTimestamp } from '@/utilities/timestampQueries'
import { createUniform, updateUniform, deleteUniform } from '@/graphql/mutations'

import { Auth, API } from 'aws-amplify';
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';
import ButtonGroupWrapper from '@/components/shared/ButtonGroupWrapper/ButtonGroupWrapper';

  export default {
    components: {
      UniformForm,
      ButtonWrapper,
      ButtonGroupWrapper,
    },
    props: ['uniforms', 'staffId'],
    data() {
      return {
        newModalOpen: false,
        search: '',
        newUniformData:{},
        editModalOpen: false,
        editUniformData:{}
      }
    },


    methods: {


      /** Creates uniform */
      async createUniform(){
        try {
        
          //Create DB record
          const input = {
            ...this.newUniformData,
            uniformStaffId: this.staffId,
            group: this.$store.state.userInfo.tenant.group
          }          
          const result = await this.api(createUniform, {input: input})

          //Clean up app state
          this.newModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserError(e)       
        }
      },


      /**
       * Opens the edit uniform modal
       * @param {object} uniform - Complete uniform object used for UniformForm
       */
      openEditUniformModal(uniform){        
        var uniformUniformTypeId = uniform.uniformType? uniform.uniformType.id : null
        var uniformSizeId = uniform.size ? uniform.size.id : null
        let editUniform = {
          id: uniform.id,
          uniformUniformTypeId,
          uniformSizeId,
          qty: uniform.qty,
          issueDate: uniform.issueDate,
          returnedDate: uniform.returnedDate,
          updatedAt: uniform.updatedAt
        }
        
        this.editUniformData = editUniform
        this.editModalOpen = true
      },

      openNewUniformModal(){
        this.newUniformData = {}
        this.newModalOpen = true
      },


      /** Update a uniforms information */
      async updateUniform(){
        try {
          //check timestamp
          var timestampResult = await this.api(getUniformUpdatedTimestamp, {id: this.editUniformData.id})
          if(!timestampResult.data.getUniform){
            throw "Uniform is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getUniform.updatedAt
          if(this.editUniformData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const input = {
            ...this.editUniformData
          }
          const result = await this.api(updateUniform, {input: input}, getUniformUpdatedTimestamp, 'getUniform')
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Uniform Updated'
          });
        } catch(e) {
          console.log(e)
          this.displayUserError(e)         
        }
      },


      /** Prompt if uniform should really be deleted*/
      async confirmdeleteUniform(){
        try {
          await this.$confirm('This will permanently delete the uniform. Continue?', 'Warning', {
            confirmButtonText: 'Delete',
            cancelButtonText: 'Cancel',
            type: 'warning'
          });
          await this.commitdeleteUniform();
        }
        catch (error) {
          this.printUserError(error);
        }
      },


      /** Delete uniform from DB */
      async commitdeleteUniform( ){
        try{

          //check timestamp
          var timestampResult = await this.api(getUniformUpdatedTimestamp, {id: this.editUniformData.id})
          if(!timestampResult.data.getUniform){
            throw "Uniform is missing or deleted by another user."
          }
          var timestamp = timestampResult.data.getUniform.updatedAt
          if(this.editUniformData.updatedAt != timestamp){
            throw "Record was updated by another user. Please copy any changes and refresh the page."
          }
          const result = await this.api(deleteUniform, {input:{ id: this.editUniformData.id }} )
          this.editUniformData = {}
          this.editModalOpen = false
          this.$emit('loadData')
          this.$message({
            type: 'success',
            message: 'Uniform Deleted'
          });
        }catch(e){
          console.log(e)
          this.displayUserError(e)
        }
      },
      

      /** Clears all filters on table */
      clearFilter() {
        this.$refs.filterTable.clearFilter();
      },

    },
  }
</script>