<template>
    <el-form label-width="120px" >

        <el-form-item v-if="uniformType" label="Uniform Type">
            <el-select 
                data-cy="uf-type-sel"
                v-model="formFields.uniformUniformTypeId"
                @change="handleUniformType"
                >
                <el-option-group>
                    <el-option v-for="type in uniformType" :key="type.id" :value="type.id" :label="type.value"></el-option>
                </el-option-group>
                <el-option-group>
                    <el-option divided value="Add Additional Uniform Type">Add Additional Uniform Type</el-option>
                </el-option-group>
            </el-select>
        </el-form-item>

        <el-form-item v-if="uniformSize"  label="Uniform Size">
            <el-select data-cy="uf-size-sel" v-model="formFields.uniformSizeId">
                <el-option v-for="size in uniformSize" :key="size.id" :value="size.id" :label="size.value"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="Qty Issued">
            <el-input-number data-cy="uf-qty-in" v-model="formFields.qty" :min="1"></el-input-number>
        </el-form-item>

        <el-form-item label="Issue Date">
            <DatePicker data-cy="uf-issue-date-dpk" :selectedDate="formFields.issueDate" placeholder="" @date-selected="handleDateSelected($event, 'issueDate')" />
        </el-form-item>

        <el-form-item label="Returned Date">
            <DatePicker data-cy="uf-returned-date-dpk" :selectedDate="formFields.returnedDate" placeholder="" @date-selected="handleDateSelected($event, 'returnedDate')" />
        </el-form-item>

    </el-form>
</template>

<script>
import { mapState } from 'vuex'
import DatePicker from '@/components/Datepicker';
export default {
    components: {
            DatePicker
    },
    props:['formFields'],
    data(){
        return{
            uniformType: null,
            uniformSize: null
        }
    },
    mounted(){
        this.loadUniformType()
        this.loadUniformSize()
    },
    computed:{
        ...mapState(['valuelists']),
    },

    methods:{
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },
    
         handleUniformType: function(value){
            if( value == 'Add Additional Uniform Type'){
                this.$router.push({name: 'SettingsDropDowns', params:{ list: 'staff'}})
            }
        },
        loadUniformType(){
            let valueList = this.valuelists['uniform-type'].items
            let currentValue = valueList.find(item => item.id == this.formFields.uniformUniformTypeId)
            if( currentValue && currentValue.deleted ){
                this.uniformType = valueList
            }else{
                this.uniformType = valueList.filter(item => !item.deleted)
            }
        },
        loadUniformSize(){
            const orderSize = ["Short", "Regular", "Long", "XS", "XS/S", "S", "S/M", "M", "M/L", "L", "XL", "XXL", "2XL/3X" , "XXXL", "XXXXL", "4XL/5XL" , "XXXXXL"];
            this.uniformSize = this.valueListActivesOnly(this.$store.state.valuelists['uniform-size'].items)

            this.uniformSize = this.uniformSize.filter(item => orderSize.indexOf(item.value) != -1)

            this.uniformSize.sort((a, b) => {
                let idxA = orderSize.indexOf(a.value)
                let idxB = orderSize.indexOf(b.value)

                if(idxA < idxB) {
                    return -1
                }

                if(idxA > idxB) {
                    return 1
                }

                return 0;
            });
        }
    },
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }
</style>