#verify_form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(13, 13, 13, 1) inset !important;
    -webkit-text-fill-color: white !important;
    background-color: rgba(13, 13, 13, 1) !important;
    color:white !important;
    transition: background-color 5000s ease-in-out 0s;
}

#verify_form input,label{
    color:#fff !important;
    font-size: 13px;
    font-family: Muli;
}

.otpContainer{
    position:fixed;
    padding:0px 5vw;
    top:50vh;
    left:35vw;
    width:unset;
    height:auto;
    margin-top:-9em;
    border-radius:5px;
    background-color: rgba(13, 13, 13,0.9);
}

.otpMain{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url(/img/login_bg.jpg);
    height:100vh;
    width:100vw;
    background-size:cover;
    color:#fff;
}



.verification-appear{
    opacity: 0;
    transition: opacity 3s ease-in;
}


.verification-appear.verification-appear-active {

    opacity: 1;
    transition-duration: 2000ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1),ease-in;
}