<template>
    <div data-cy="vehicle-maintenance-form">
        <!-- Maintenance Details -->
        <div class="el-content-title__drawer">
            Details
        </div>
        <el-form label-width="183px" label-position="top" :model="formFields" ref="form" :rules="rules">
            <div class="flex space-x-4" v-if="additionalField">
                <div class="flex-1">
                    <el-form-item label="Vehicle" prop="accidentVehicleId">
                        <el-select data-cy="vehicles-sel" v-model="formFields.accidentVehicleId" filterable placeholder="Vehicle" @change="updateVehicle">
                            <el-option
                                v-for="item in vehicleList"
                                :key="item.id"
                                :label="item.label"
                                :value="item.id"
                            >
                                <span style="float: left">{{ item.label }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
            </div>

            <div class="flex space-x-4">
                <div class="flex-1">
                    <el-form-item label="Services" prop="services">
                        <el-select data-cy="services-sel" v-model="formFields.services" multiple filterable placeholder="Select Service(s)">
                            <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['vehicle-maintenance-services'].items)"
                            :key="item.id"
                            :label="item.value"
                            :value="item.value"/>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="flex-1 pt-11">
                    <!-- Add new service option -->
                    <div class="flex" v-show="inputServiceVisible">
                        <el-input
                        data-cy="new-service-option-in"
                        class="mr-1"
                        v-model="inputSerivceValue"
                        ref="saveServiceInput"
                        size="small"
                        placeholder="Add Item"
                        @keyup.enter.native="handleInputConfirm('service')"
                        @blur="hideInput('service')"
                        >
                        </el-input>
                        <el-button data-cy="service-option-save-btn" size="small" @click="handleInputConfirm('service')">Save Item</el-button>
                    </div>
                    <el-button data-cy="service-option-new-btn" v-show="!inputServiceVisible" size="small" @click="showInput('service')">+ New Dropdown Item</el-button>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="flex-1">
                    <el-form-item label="Location" prop="location">
                        <el-select data-cy="location-sel" class="custom-select-keyboardless" v-model="formFields.location" placeholder="Select Location">
                            <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['service-location'].items)"
                            :key="item.id"
                            :label="item.value"
                            :value="item.value"/>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="flex-1 pt-11">
                    <!-- Add new service option -->
                    <div class="flex" v-show="inputLocationVisible">
                        <el-input
                        data-cy="new-location-option-in"
                        class="mr-1"
                        v-model="inputLocationValue"
                        ref="saveLocationInput"
                        size="small"
                        placeholder="Add Item"
                        @keyup.enter.native="handleInputConfirm('location')"
                        @blur="hideInput('location')"
                        >
                        </el-input>
                        <el-button data-cy="location-option-save-btn" size="small" @click="handleInputConfirm('location')">Save Item</el-button>
                    </div>
                    <el-button data-cy="location-option-new-btn" v-show="!inputLocationVisible" size="small" @click="showInput('location')">+ New Dropdown Item</el-button>
                </div>
            </div>

            <div class="block lg:flex lg:space-x-2">
                <div class="flex-1">
                    <el-form-item label="Status" prop="maintenanceStatus">
                        <el-select data-cy="status-sel" v-model="formFields.maintenanceStatus" class="custom-select-keyboardless" placeholder="Select Status">
                            <el-option
                            v-for="item in valueListActivesOnly($store.state.valuelists['maintenance-status'].items)"
                            :key="item.id"
                            :label="item.value"
                            :value="item.value"/>
                        </el-select>
                    </el-form-item>

                    <!-- Accident date is being used for maintenance too-->
                    <el-form-item label="Date" prop="accidentDate">
                        <DatePicker data-cy="accident-date-dpk" :selectedDate="formFields.accidentDate" class="custom-date-picker" 
                        placeholder="Pick a day" @date-selected="handleDateSelected($event, 'accidentDate')" />
                    </el-form-item>
                </div>

                <div class="flex-1">
                    <el-form-item label="Mileage As of Maintenance" prop="mileage">
                        <el-input data-cy="mileage-in" v-model="formFields.mileage" @input="formatMileageInput(formFields.mileage)"></el-input>
                    </el-form-item>
                </div>
            </div>
            <div class="w-full">
                    <el-form-item label="Notes" prop="notes">
                        <el-input
                          data-cy="notes-in"
                          type="textarea"
                          :rows="3"
                          :autosize="{ minRows: 3, maxRows: 7}"
                          v-model="formFields.notes">
                        </el-input>
                    </el-form-item>
                </div>
        </el-form>

        <!-- Documents -->
        <div class="el-content-title__drawer">
            Documents
        </div>
        <!-- Edit View -->
        <div v-if="!formLoading" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-4">
            <div v-for="(document, index) in createdDocuments" :key="document.id"  class="group relative">
                <div v-if="document.type.includes('image')" class="min-h-40 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40 flex items-center">
                    <img @click="handlePictureCardPreview(document.key)" :src="document.url" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                </div>
                <div v-else class="min-h-40 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40 flex justify-center items-center">
                    <i class="uil uil-file-alt text-6xl"/>
                </div>
                <div class="mt-2">
                     <el-tooltip placement="top">
                        <template #content> {{document.name}} </template>
                        <el-tag type="info" effect="plain" class="truncate overflow-hidden aspect-w-1 w-full">{{document.name}}</el-tag>
                    </el-tooltip>
                    <i 
                    title="Download Image"
                    @click="downloadFile(createdDocuments[index].key)"
                    class="icon-button uil uil-import hover:text-brand"/>
                    <i 
                    title="Delete Image"
                    @click="handleDocumentDelete(index)"
                    class="icon-button uil uil-trash-alt hover:text-red-500"/>
                </div>
                <div v-if="document.markedForDeletion" class="pending-deletion-container">
                    <i class="icon-button uil uil-times-circle text-white flex justify-end" @click="handleImageDeleteUndo(index)"></i>
                    <div class="h-full relative">
                        <p class="text-white text-xl font-bold mt-16 text-center align-middle">Pending Deletion</p>
                        <p class="text-white text-s text-center -mt-1 align-middle">Will be deleted when clicking "Update"</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- View Adding new docs -->
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-4">
            <div v-for="(document, index) in documents" :key="document.id"  class="group relative">
                <div v-if="document.src" class="min-h-40 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40 flex items-center">
                    <img @click="handlePictureNewUpload(document.src)" :src="document.src" class="h-full w-full object-cover object-center lg:h-full lg:w-full cursor-pointer">
                </div>
                <div v-else class="min-h-40 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-40 flex justify-center items-center">
                    <i class="uil uil-file-alt text-6xl"/>
                </div>
                <div class="mt-2">
                     <el-tooltip placement="top">
                        <template #content> {{document.fileName}} </template>
                        <el-tag type="info" effect="plain" class="truncate overflow-hidden aspect-w-1 w-full">{{document.fileName}}</el-tag>
                    </el-tooltip>
                    <i 
                    title="Delete Image"
                    @click="confirmDocumentRemove(index)"
                    class="icon-button uil uil-trash-alt hover:text-red-500"/>
                </div>
            </div>
        </div>
        <label class="fileContainer w-full h-32 bg-opacity-50 text-center mt-4">
            <div class="uil-file text-5xl"></div>
            <div>Drop file here or click to upload</div>
            <input 
            data-cy="images-up"
            id="FileUploadImage" 
            type="file"
            :accept="acceptFile"
            @change="(e) => {insertImagesForUpload(e, '/images/')}" 
            class="align-middle">
        </label>

        <!-- Reminders -->
        <div class="el-content-title__drawer pt-4">
            Add Future Maintenance Reminders
        </div>
        <div v-for="(reminder, index) in reminders" :key="index" class="w-full " :class="{'border-dotted border-b-2':index < reminders.length - 1}">
            <ReminderForm
                ref="reminder" 
                :formFields="reminder"
                :showDelete="true"
                :showAddService=false
                @delete-reminder="removeReminder(index)"/>
        </div>
        <div class="mt-4">
            <el-button data-cy="add-maintenace-reminder-btn" @click="addReminder" type="primary" plain>Add Maintenance Reminder</el-button>
        </div>
        <el-dialog append-to-body :visible.sync="dialogVisible" center :close-on-click-modal="false" show-close>
            <img class="w-full" :src="dialogImageUrl">
        </el-dialog>
    </div>
</template>

<script>
import ReminderForm from '../Reminders/ReminderForm'
import { createValueListItem } from '@/graphql/mutations'
import Validator from '@/utilities/FormValidator'
import loadValuelists from '@/scripts/loadValueLists'
import { Storage } from 'aws-amplify'
import DatePicker from '@/components/Datepicker';

export default {
    name: 'MaintenanceForm',
    props:['formFields', 'reminders', 'documents', 'createdDocuments', 'deletedDocuments', 'additionalField', 'vehicleList'],
    components: {ReminderForm, DatePicker},
    data: function(){
        return{
            acceptFile : ".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, audio/*, video/*, image/*, .pdf, .txt, .xls, .xlsx, .xlsm, .ppt, .pptx, .pps, .pot, .csv" ,
            inputServiceVisible: false,
            inputSerivceValue: '',
            adding: false,
            inputLocationVisible: false,
            inputLocationValue: '',
            formLoading: false,
            rules: {
                accidentDate: [
                    { required: true, message: 'Please enter a date', trigger: 'change' }
                ],
                location: [
                    { required: true, message: 'Please select a location', trigger: 'change' },
                ],
                maintenanceStatus: [
                    { required: true, message: 'Please select a status', trigger: 'change' },
                ],
                accidentVehicleId: [
                    { required: true, message: 'Please select a vehicle', trigger: 'change' },
                ],
                services: [
                    { required: true, validator: Validator.maintenanceServices, trigger: 'change' }
                ]
            },
            vehicleSelect: null,
            dialogImageUrl: '',
            dialogVisible: false,
        }
    },

    watch:{
        //This loads the url of the documents each time the created documents array is changed, was the only way I could get them to load more than once.
        createdDocuments(){
            this.loadData()
        }
    },

    mounted(){
        if (this.isMobileDevice()){
             this.disableMobileKeyboard();
            }
        this.loadData();
    },

    methods: {
        handleDateSelected(date, model) {
            this.formFields[model] = date
        },
        updateVehicle( e ) {
            const vehicleID = e;
            this.$emit( 'update-vehicle-selected', { vehicleID });
        },

        addReminder(){
            this.reminders.push({
                vehicleId: this.formFields.vehicleId,
                services: [],
                dueByMileage: null,
                dueByDate: null
            })
            // console.log(this.$refs.reminder[this.reminders.length - 1])
            // this.$refs.reminder[this.reminders.length - 1].$refs.form.clearValidate()
        },


        /**
         * Confirm the user wants to delete the image
         */
        confirmDocumentDelete(index){
            this.$confirm('Would you like to delete this file?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.handleDocumentDelete(index)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },


        /**
         * Confirm the user wants to remove the image
         */
        confirmDocumentRemove(index){
            this.$confirm('Would you like to delete this file?', 'Warning', {
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.handleDocumentRemove(index)          
            }).catch(() => {
                console.log("canceled delete")         
            });
        },


        /**
         * Formats mileage with the thousand seperator
         */
        formatMileageInput(mileage){
            this.formFields.mileage = this.formatMileage(mileage)
        },


        /**
         * Removes image from added images array
         */
        handleDocumentDelete(index){
            this.createdDocuments[index].markedForDeletion = true
            var document = {...this.createdDocuments[index]}
            this.deletedDocuments.push(document)
        },


        async handleInputConfirm(tagType) { 

            try{
                var isUnique = null
                //Check if value was entered
                if(tagType == "service"){
                    if(this.adding || !this.inputSerivceValue){
                        this.inputServiceVisible = false
                        return
                    }
                }
                else if(tagType == "location"){
                    if(this.adding || !this.inputLocationValue){
                        this.inputLocationVisible = false
                        return
                    }
                }

                //hide inputs
                this.adding = true


                //clean value
                var value = ''; 

                //create value list item
                let input = {
                    custom: true,
                    group: this.$store.state.userInfo.tenant.group
                }
                if(tagType == "service"){
                    value = this.toTitleCase(this.inputSerivceValue).trim()
                    isUnique = await this.isUniqueInArray(value, 'value', this.$store.state.valuelists['vehicle-maintenance-services'].items)
                    input.value = value
                    input.valueListItemValueListId = this.$store.state.valuelists['vehicle-maintenance-services'].id 
                }
                else if(tagType == "location"){
                    value = this.toTitleCase(this.inputLocationValue).trim()
                    isUnique = await this.isUniqueInArray(value, 'value', this.$store.state.valuelists['service-location'].items)
                    input.value = value
                    input.valueListItemValueListId = this.$store.state.valuelists['service-location'].id 
                }

                if(!isUnique){
                    var titleCaseTagType = this.toTitleCase(tagType)
                    this.displayUserError(`${titleCaseTagType} already exists`)
                    this.adding = false
                    return
                }

                this.inputServiceVisible = false
                this.inputLocationVisible = false
                this.adding = false
                this.inputSerivceValue = ''
                this.inputLocationValue = ''
                await this.api(createValueListItem, {input})
                await loadValuelists(this, this.$store.state.userInfo.tenant.id)
                this.displayUserNotification({
                    title: "Success",
                    type: "success",
                    message: `Added ${tagType} succesfully.`
                })

                if(tagType == "service"){
                    this.formFields.services.push(value)
                }
                else if(tagType == "location"){
                    this.formFields.location = value
                }

            }catch(e){
                console.log(e)
                this.adding = false
                this.displayUserError(e)
            }
            finally{
                this.$refs.form.validate()
            }
        },


        /**
         * Removes image from added images array
         */
        handleDocumentRemove(index){
            this.documents.splice(index, 1);
        },


        hideInput(input){
            if(input == "service" && !this.inputSerivceValue){
                this.inputServiceVisible = false
            }
            else if(input == "location" && !this.inputLocationValue){
                this.inputLocationVisible = false
            }
        },


        insertImagesForUpload: function(e, path){
            try{
                
                var files = e.target.files || e.dataTransfer.files;
                var file = files[0]
                var fileType = file.type

                var uuid = this.generateUUID();
                var fileObject = {
                    id: uuid,
                    fileName: file.name, 
                    fileType: file.type,
                    path: path,
                    file: file,
                    src: ''
                }


                var reader  = new FileReader();

                reader.onloadend = function (){
                    fileObject.src = reader.result
                }

                if(file && fileType.includes("image")){
                    reader.readAsDataURL(file);
                }
                else{
                    fileObject.src = ""
                }

                this.documents.push(fileObject)
                
            }
            catch(e){
                console.log(e)
                this.displayUserError(e)
            }
            finally{
                e.target.value = "";
            }
        },

        async loadData(){
            this.formLoading = true
            await this.setImagesURL()
            this.inputServiceVisible = false
            this.inputSerivceValue = ''
            this.adding = false
            this.inputLocationVisible = false
            this.inputLocationValue = ''
            this.formLoading = false
        },


        removeReminder(index){
            this.reminders.splice(index, 1)
        },


        showInput(input) {
            if(input == "service"){
                this.inputServiceVisible = true;
                this.$nextTick(_ => {
                this.$refs.saveServiceInput.$refs.input.focus();
                });
            }
            if(input == "location"){
                this.inputLocationVisible = true;
                this.$nextTick(_ => {
                this.$refs.saveLocationInput.$refs.input.focus();
                });
            }
        },

        /**
         * Creates array of image URLs from s3
         */
        setImagesURL: function(){
            this.createdDocuments.map(async (image) =>{
                image.url = await Storage.get(image.key)
            })
        },

        /**
         * Removes image from deleted images array
         */
        handleImageDeleteUndo(index){
            this.createdDocuments[index].markedForDeletion = false
            var doc = {...this.createdDocuments[index]}
            var deletedIndex = this.deletedDocuments.findIndex(deletedDoc => {
                return deletedDoc.id == doc.id
            })
            this.deletedDocuments.splice(deletedIndex, 1);
        },

        async handlePictureCardPreview(key) {
            const url = await Storage.get(key)
            this.dialogImageUrl = url;
            this.dialogVisible = true;
        },
        handlePictureNewUpload(src) {
            this.dialogImageUrl = src;
            this.dialogVisible = true;
        },

    }
}
</script>
<style scoped>
    .el-select, .el-date-editor{
        width: 100% !important;
    }

    .fileContainer{
        @apply bg-gray-100 !important;
        @apply pt-6 !important;
        @apply border-gray-600;
        @apply border-dashed;
        @apply border-2;
        @apply text-base;
        color: #606266;
    }

    span.el-tag {
      margin-right: 8px;
      cursor: pointer;
    }

    

    .input-new-tag{
        display: inline-block;
        width: 300px;
    }


</style>
