<template>
  <div>
    <!--HEADER-->
    <div class="flex justify-between">
      <div>
      </div>

    </div>  


    <!--SCORECARD TABLE-->
    <el-table
        ref="table"
        empty-text="No Past Coaching Opportunities"
        :data="filterArray( tableData, search )"
        :default-sort = "{prop: 'createdAt', order: 'descending'}"
        @row-click="expandRow"
        style="width: 100%"
        >
        

        <el-table-column
          label="Sent"
          sortable
          width="100"
          row-class-name="cursor-pointer"
          class-name="cell-top"
          prop="createdAt">
          <template slot-scope="scope">
            <p class="text-black">{{scope.row.createdAt | moment("M/D/YYYY") }}</p>
            <p class="text-gray-600 text-xs">{{scope.row.createdAt | moment("h:mm A") }}</p>
          </template>
        </el-table-column>

        <el-table-column
          label="Message"
          class-name="cell-top cursor-pointer" 
          prop="subject">
          <template slot-scope="scope">
            <p class="text-black">{{scope.row.subject}}</p>
            <p class="text-gray-600 text-xs ellipsis">{{scope.row.bodyText}}</p>
            <!-- <button 
              @click="previewHtml(scope.row)"
              class="text-blue-600 text-xs underline">
              View HTML Message
            </button> -->
          </template>
        </el-table-column>

        <el-table-column type="expand" >
          <template slot-scope="props" class="expand-message">
            <!-- <p class="text-gray-600 text-xs">{{ props.row.bodyText  }}</p> -->
            <el-input
              type="textarea"
              autosize
              class="message"
              :disabled="true"
              placeholder="Please input"
              v-model="props.row.bodyText"></el-input>
          </template>
        </el-table-column>


        <el-table-column
          label="SMS Status"
          width="130"
          prop="smsStatus">
          <template slot-scope="scope">
            <el-tooltip :content="scope.row.smsSendInformation" placement="top" popper-class="custom-tooltip-higher-z-index">
              <!-- <el-tag
              effect="plain"
                :type="getTagClass(scope.row.smsStatus)"
                disable-transitions>{{scope.row.smsStatus}}</el-tag> -->
                <div
                  :class="{'text-red-500' : scope.row.smsStatus.toLowerCase() != 'error', 
                          'text-brand' : scope.row.smsStatus.toLowerCase() == 'success', 
                          'max-w-max-content' :true}"
                >{{scope.row.smsStatus }}</div>
            </el-tooltip>
          </template>
        </el-table-column>


        <el-table-column
          label="Email Status"
          width="110"
          prop="emailStatus">
          <template slot-scope="scope">
            <el-tooltip :content="scope.row.emailSendInformation" placement="top-start" popper-class="custom-tooltip-higher-z-index">
              <!-- <el-tag
              effect="plain"
                :type="getTagClass(scope.row.emailStatus)"
                disable-transitions>{{scope.row.emailStatus}}</el-tag> -->
                <div
                  :class="{'text-red-500' : scope.row.emailStatus.toLowerCase() != 'error', 
                          'text-brand' : scope.row.emailStatus.toLowerCase() == 'success',
                          'max-w-max-content' :true}"
                >{{scope.row.emailStatus }}</div>
            </el-tooltip>
            
          </template>
        </el-table-column>

        <!-- <el-table-column
          label=""
          width="60"
          prop="emailPreview"
          align="right">
          <template slot-scope="scope">
            <i 
              title="View HTML Preview"
              @click.stop="previewHtml(scope.row)"
              class="icon-button hover:text-brand uil uil-external-link-alt"/>
          </template>
        </el-table-column> -->


    </el-table>

    <p class="mt-4">{{ tableData.length || 0 }} Total Coaching Opportunities</p>  

    <el-dialog     
      :visible.sync="htmlPreviewOpen"
      width="80%"
      title="HTML Preview"
      :close-on-click-modal="false"
      :show-close="true"
      >
      <div v-html="htmlMessage"></div>
    </el-dialog>

  </div>

</template>

<script>

import { Auth, API } from 'aws-amplify';

  export default {
    name: 'StaffPastCoachingOpportunities',
    props: ['tableData'],
    data() {
      return {
        search: '',
        selectedScorecardWeek: '',
        htmlPreviewOpen: false,
      htmlMessage: null
      }
    },
    
    methods: {
      weekYearSort(a, b){
        return parseInt(a.year+a.week.padStart(2, 0)) - parseInt(b.year+b.week.padStart(2, 0))
      },

      /**
     * Determines the correct tag color based on the message status
     */
    getTagClass(status){
      let className = null
      if(status == "Success"){
        className = 'success'
      }
      else if(status == 'Error'){
        className = 'danger'
      }
      return className
    },

    /**
     * Preview the HTML email sent out
     * @param {object} row - The message row
     */
    previewHtml(row){
      this.htmlMessage = row.bodyHtml
      this.htmlPreviewOpen = true
    },

    formatMessage(str){
      return str.replace(/\n/g, '<br>')
    },

    expandRow(row, col, event){
      this.$refs.table.toggleRowExpansion(row)
    }
    }
  }
</script>

<style>
.message.el-textarea.is-disabled .el-textarea__inner {
  @apply cursor-text bg-opacity-0 text-xs bg-white text-gray-700 p-0 m-0 border-none resize-none !important;
}
.expand-message .el-table__expanded-cell{
  @apply p-0 !important;
}
</style>

<style scoped>

.max-w-max-content {
    max-width: max-content;
  }
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
