<template>
  <div>
    <DailyLog
      ref="dailyLog"

      :isOpen="isOpen"
      :loading="loading"
      :formTitle="formTitle"
      :formFields="formFields"

      :primarySectionTitle="primarySectionTitle"
      :secondarySectionTitle="secondarySectionTitle"

      :logLinks="logLinks"

      :logImages="logImages"
      :logImagesToCreate="logImagesToCreate"
      :logImagesToDelete="logImagesToDelete"

      :mostRecentDailyLog="mostRecentDailyLog"
      :mostRecentDailyLogImages="mostRecentDailyLogImages"

      :createdByOptions="createdByOptions"
      :handleSearchCreatedBy="handleSearchCreatedBy"

      @log-date-or-time-change="$event => $emit('date-or-time-change', $event)"
      @cancel-save="() => $emit('cancel-save')"
      @save-data="() => $emit('save-data')"
    >
      <template #dailyLogTitle>
        <span class="py-1 text-lg">
          {{ formTitle }} for <i class="uil-truck text-xl"></i> {{ vehicleName }}
        </span>
      </template>

      <template #additionalButtons="{disabled, setDisabled}">
        <el-button
          v-if="hasVehicleManagement"
          type="primary"
          data-cy="drawer-save-btn"
          :disabled="disabled || loading"
          @click="handleSavePlusAddDamage(setDisabled)"
        >
          <span class="space-x-2">
            <span>Save + Add Vehicle Damage</span>
            <el-tooltip class="item" effect="dark" placement="bottom">
              <div slot="content">
                Use this option to save this Daily Photo Log and then create a Vehicle Damage record using some of this Log's photos.
              </div>
              <span class="text-gray-600"><i class="uil uil-info-circle text-white"></i></span>
            </el-tooltip>
          </span>
        </el-button>
        <PremiumWarningButton 
          v-else 
          buttonText="Save + Add Vehicle Damage" 
          action="create" 
          premiumFeature="vehicle" 
          placement="top"/>

      </template>
    </DailyLog>

    <!-- VEHICLE DAMAGE -->
    <VehicleDamage
      :isOpen="VehicleDamage_IsOpen"
      :loading="VehicleDamage_Loading"
      :formTitle="VehicleDamage_FormTitle"
      :formAction="VehicleDamage_FormAction"
      :formFields="VehicleDamage_FormFields"
      :prefixCounselingCreatedFrom="VehicleDamage_PrefixCounselingCreatedFrom"
      :counselingData="VehicleDamage_CounselingData"
      :deleteModalOpen="VehicleDamage_DeleteModalOpen"

      :staffList="associateList"
      :vehicleList="vehicleList"

      :disableVehicleSelection="VehicleDamage_DisableVehicleSelection"

      :damageImages="VehicleDamage_DamageImages"
      :imagesToCreate="VehicleDamage_ImagesToCreate"
      :imagesToDelete="VehicleDamage_ImagesToDelete"

      @print="$_VehicleDamage_print"
      @open-delete-dialog="$_VehicleDamage_openDeleteDialog"
      @cancel-save="$_VehicleDamage_cancelSave"
      @save-data="handleDamageSave"
      @cancel-delete="$_VehicleDamage_closeDeleteDialog"
      @delete="$_VehicleDamage_delete"
    />
  </div>
</template>

<script>
import DailyLog from '@/components/DailyLog/DailyLog';
import VehicleDamage from '@/views/Vehicles/components/VehicleDamage/VehicleDamage';
import VehicleDamageMixin from '@/views/Vehicles/components/VehicleDamage/VehicleDamageMixin';
import PremiumWarningButton from '@/components/PremiumWarningButton'
import { mapGetters, mapState } from 'vuex'
import ButtonWrapper from '@/components/shared/ButtonWrapper/ButtonWrapper';

export default {
  name: 'VehicleDailyLog',

  mixins: [
    VehicleDamageMixin,
  ],

  components: {
    DailyLog,
    VehicleDamage,
    PremiumWarningButton,
    ButtonWrapper,
  },

  props: {
    isOpen: Boolean,
    loading: Boolean,
    formTitle: String,
    formFields: Object,
    vehicle: Object,

    primarySectionTitle: String,
    secondarySectionTitle: String,

    logLinks: Array,

    logImages: Array,
    logImagesToCreate: Array,
    logImagesToDelete: Array,

    mostRecentDailyLog: [Object, null],
    mostRecentDailyLogImages: Array,

    createdByOptions: Array,
    handleSearchCreatedBy: Function,
  },

  computed: {
    ...mapGetters(['hasVehicleManagement']),

    ...mapState('subscriptionStore', [
      'associateList',
      'vehicleList'
    ]),

    vehicleName() {
      return this.vehicle?.name || '—';
    },
  },

  methods: {
    async handleDamageSave() {
      await this.$_VehicleDamage_saveData();

      if (!this.VehicleDamage_IsOpen) { // Save success
        this.displayUserNotification({
          title: 'Success',
          type: "success",
          message: 'Vehicle Damage successfuly created',
        });

        this.$emit('save-damage-success');
      }
    },

    async handleSavePlusAddDamage(setDisabledCb) {
      try {
        setDisabledCb(true); // Call to disable buttons inside group
        await this.$refs.dailyLog.$refs.dailyLogForm.$refs.form.validate();
        const payload = {
          openVehicleDamage: this.$_VehicleDamage_open,
        };
        this.$emit('save-plus-add-damage', payload);
      }
      catch(error) { // Throw custom error instead of default
        const msg = "Please fill out all required fields and correct any errors.";
        this.printUserError(error);
        this.displayUserError(msg);
      }
      finally {
        setDisabledCb(false); // Call to enable buttons on invalid form
      }
    },
  },

}
</script>
