<template>
  <div>
    <div v-if="!validToken">
      <h1 class="text-center">INVALID URL</h1>
    </div>
    <div v-else v-loading="loading" class="h-full text-center">
      <div class="flex justify-center">
        <img v-if="data.tenant.logo" :src="data.tenant.logo" alt="logo" width="200px" @error="handleLogoImageError">
        <strong v-else>{{ data.tenant.companyName  }}</strong>
      </div>

      <h1>Vehicle Photo Log request for <i class="uil uil-truck text-2xl"></i> {{ data.vehicle.name }}</h1>
      <h2>Assigned to: {{ associateFullName }}</h2>
      <h2>For: {{ rosterDate }}</h2>

      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

      <template v-if="validRosterDay">
        <h3>Take current photos of <i class="uil uil-truck text-2xl"></i> {{ data.vehicle.name }}</h3>
        <p class="text-base pt-2 pb-5">Remember to take photos of every side of the Vehicle.</p>

        <div class="fileContainer text-center bg-opacity-50 bg-white border-2 border-gray-400">
          <div class="text-gray-700 text-sm py-1">Tap to Open Camera</div>
          <input
            ref="imageUploadInput"
            class="align-middle"
            type="file"
            multiple
            accept="image/*"
            :capture="typeCapture"
            @change="handleAddNewImage" >
        </div>

        <div class="container mt-4 grid grid-cols-12 grid-flow-row gap-4">
          <div v-for="image of data.documents"
            :key="image.url"
            class="mb-2 col-span-12 sm:col-span-6 relative p-2"
          >
            <img :src="image.url" class="h-36 w-full object-cover cursor-pointer rounded-lg" >
            <div v-if="image.uploaded" class="absolute top-3 right-3">
              <div class="bg-green-500 rounded-full p-2">
                <i class="w-6 el-icon-check text-white text-xl"></i>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <p class="text-base">
          This Vehicle Photo Log is no longer accessible because it is no longer {{ rosterDate }}. If you're trying to upload photos for today, please ask your manager for a new link. Photos for previous days will need to be sent another way.
        </p>
      </template>
    </div>
  </div>
</template>

<script>
import { API } from 'aws-amplify';
import axios from 'axios';

export default {
  data() {
    return {
      loading: false,
      validToken: true,
      validRosterDay: true,
      data: {
        tenant: { group: '', logo: '', companyName: '' },
        vehicle: { id: '', name: '' },
        associate: { firstName: '', lastName: '', id: ''},
        rosteredDay: { notesDate: '' }, // YYYY-MM-DD
        documents: [], // { url: '', type: '' }
      },
      typeCapture: ''
    }
  },

  computed: {
    routeToken() {
      return this.$route.params.token;
    },

    associateFullName() {
      const {firstName, lastName} = this.data.associate;

      if (firstName && lastName) return `${firstName} ${lastName}`;
      if (firstName) return firstName;
      if (lastName) return lastName;

      return '—';
    },

    rosterDate() {
      const date = this.data.rosteredDay.notesDate;
      return this.$moment(date, 'YYYY-MM-DD').format('MM/DD/YYYY');
    },
  },

  methods:{
    async fetchDailyLogData() {
      try {

        this.loading = true;

        const apiName = 'heraPublicApi';
        const apiPath = `/u/vehicle-photo-logs/${this.routeToken}`;
        const response = await API.get(apiName, apiPath);
        this.data = response.body;

        const { tenant } = this.data
        this.typeCapture = (!tenant.allowLibraryUpload) ? 'camera' : null

      }
      catch (error) {
        if (!error?.response?.data) {
          console.log(error);
          this.displayUserError(error.message);
          return;
        }

        this.handleErrorData(error.response.data);
      }
      finally {
        this.loading = false;
      }
    },

    displayUserError(message) {
      this.$notify({
        title: 'Error',
        type: "error",
        message: message,
        duration: 2500,
        customClass:'uil uil-exclamation-triangle'
      });
    },

    handleErrorData(data) {
      const { payload, type } = data;

      if (payload) {
        this.data = {...this.data, ...payload};
      }

      if (type === 'INVALID_TOKEN') {
        this.validToken = false;
        return;
      }
      if (type === 'INVALID_ROSTER_DAY') {
        this.validRosterDay = false;
        return;
      }
    },

    handleLogoImageError() {
      this.data.tenant.logo = '';
    },

    async handleAddNewImage(e) {
      const files = e.target.files || e.dataTransfer.files;

      let hasInvalidFiles = false;

      try {
        for (const file of files) {
          if((!file.type.includes("image"))) {
            hasInvalidFiles = true;
            continue;
          }
          await this.handleFileUpload(file);
        }

        if (hasInvalidFiles) {
          this.displayUserError("Some selected files are not images and won't be saved");
        }
      }
      catch (error) {
        console.log(error);
        this.displayUserError(error.message);
      }
      finally {
        this.$refs.imageUploadInput.value = '';
      }
    },

    async getSignedUrl(s3Key, file) {
      const apiName = 'heraPublicApi';
      const apiPath = `/u/vehicle-photo-logs/${this.routeToken}/get-upload-url`;
      const {uploadUrl} = await API.post(apiName, apiPath, {
        body: { s3Key, contentType: file.type },
      });
      return uploadUrl;
    },

    async createDocumentRecord(s3Key, file) {
      const documentPayload = {
        group: this.data.tenant.group,
        name: file.name,
        type: file.type,
        key: s3Key,
        documentDate: (new Date()).toISOString(),
        uploadDate: (new Date()).toISOString(),
        takenByAssociateId: this.data.associate.id
      };

      const apiName = 'heraPublicApi';
      const apiPath = `/u/vehicle-photo-logs/${this.routeToken}`;
      const options = { body: documentPayload };
      const newDocument = await API.post(apiName, apiPath, options);
      return newDocument;
    },

    getPlainDate(date=new Date(), format) {
      if (typeof date === 'string') return date.replace(/\//ig, '-');
      if (!(date instanceof Date)) return date;
      const dateFormat = format || 'YYYY-MM-DD';
      return this.$moment(date).format(dateFormat);
    },

    async handleFileUpload(file) {
      const millisNow = (new Date()).getTime();
      const plainDate = this.getPlainDate(); // YYY-MM-DD

      const s3Key = 'photo-log-images/' +
        this.data.tenant.group + '/vehicles/' +
        this.data.vehicle.id.toLowerCase() +
        `/${plainDate}/${millisNow}-${file.name}`;

      // Upload file to S3
      const signedUrl = await this.getSignedUrl(s3Key, file);
      await axios.put(signedUrl, file, {
        headers: { 'Content-Type': file.type },
      });

      // Create document
      const newDocument = await this.createDocumentRecord(s3Key, file);

      // Display new images
      this.data.documents = [ ...this.data.documents, {
        url: newDocument.url,
        type: newDocument.type,
        uploaded: true,
      }];
    },
  },

  created() {
    this.fetchDailyLogData();
  },
}
</script>
