.input-group-text {
    padding: 10px !important;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar .logo a.logo-mini img {
    border-radius: unset !important;
}

.table-responsive {
    overflow: hidden !important;
    display: contents !important;
}

/*toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.fa-lg {
    font-size: 1.6333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*togle end*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*toggle end*/

/*modal*/
.modal-content {
    box-shadow: 0 0 30px black !important;
}

.modal-content .modal-footer {
    border-top: 0;
    justify-content: flex-end !important;
}

/*modal end*/

/*pagination*/
.pagination {
    text-align: center;
    float: left;
    width: 100%;
}

.pagination a {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #dfdede;
    box-sizing: border-box;
    border-radius: 16%;
    position: relative;
    font-size: 13px;
    color: #bebec4;
    cursor: pointer;
    background: #27293d;
    letter-spacing: 1px;
}

.pagination li a {
    margin: 1px;
}

.pagination li a:hover, a:focus {
    color: white;
}

.pagination li.active a {
    background: #2a6df6;
    color: #dfdede;
    margin: 1px;
}

.pagination li.next.disabled a, .pagination li.previous.disabled a {
    cursor: default;
    background: #726d6d;
    color: #bebec4;
}

.pagination li.next.disabled a:hover, .pagination li.previous.disabled a:hover {
    cursor: default;
    color: #bebec4;
}

/*pagination end*/

.table-responsive {
    overflow: scroll;
    padding-bottom: unset !important;
}

/*toggle*/
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

/*toggle end*/

/*flag select option*/
.flag-select {
    position: relative;
    padding: unset !important;
    color: #bebec4 !important;
}

.flag-select img {
    top: unset;
    position: unset !important;
}

.flag-select .selected--flag--option {
    padding: unset !important;
}

.flag-select .arrow-down {
    color: #bebec4 !important;
    top: 2px;
    left: 10%;
    position: relative;
}

/*flag select option end*/

.form-group .form-control, .input-group .form-control {
    border: 1px solid rgba(248, 247, 247, 0.8) !important;
}

.input-group-append, .input-group-prepend .input-group-text, .input-group-prepend .input-group-text {
    border: 1px solid rgba(248, 247, 247, 0.8) !important;
}

/*notification*/
.notification {
    box-sizing: border-box;
    padding: 15px 300px 40px 50px !important;
    border-radius: 50px !important;
    color: #fff;
    background-color: #ccc;
    box-shadow: 0 0 12px #999;
    cursor: pointer;
    font-size: smaller !important;
    line-height: 2.2em !important;
    position: relative;
    opacity: 0.9;
    margin-top: 15px;
    font-weight: 300 !important;
    border: none !important;
}

.notification-container {
    overflow-x: unset !important;
    overflow-y: unset !important;
    width: 380px !important;
}

.notification-message {
    display: flex;
    width: max-content;
}

/* tab component*/
.tab-heading-div {
    position: relative;
    background: #1394ff;
    width: 100%;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    padding: 0 20px 0 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    background-color: #1e1e2f;
    border-color: transparent !important;
    border-bottom-color: #e3e3e3 !important;
    padding: 6px 4px 6px 4px !important;
}

.nav-tabs {
     border-bottom: unset !important;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 6px !important;
    list-style: none;
}

.nav-link, .nav-link:hover{
    border: none !important;
    transition: none !important;
}

/* detail information */
.main-container {
    padding: 13px 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,.14);
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #27293d;
    width: 100%;
}

.name-div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(230, 81, 0);
}

.text-div {
    padding: 0;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/*helper*/
.text-color-gray {
    color : #bebec4
}

.align-center {
    text-align: center;
}
 .card p {
    color: #5E626F !important;
     font-family: "Poppins", sans-serif;
}

.small-font{
    font-size: small;
}
.heading {
    background: transparent;
    text-align: center;
    width: 100%;
    color: white;
    line-height: 40px;
    font-size: 15px;
    font-weight: 300;
}
/*scroll bar*/
.scrollbar
{
    height: 79vh;
    overflow-y: auto;
    margin-bottom: 25px;
    overflow-x: hidden;
}


.force-overflow
{
    min-height: 450px;
}

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 7px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #344675;
}
#myHeader {
    width: 100%;
    max-width: 100%;
    overflow-x: auto
}

#myHeader::-webkit-scrollbar {
    width: 7px;
    height:7px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

#myHeader::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#myHeader::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #344675;
}

.innerDiv {
    background-color: #27293d;
    margin: 7px;
    padding: 6px 15px 6px 15px;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px black;
}

.small-circle-blue {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #1394ff;
}

.small-circle-transparent {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #1394ff;
    margin: 0 auto;
    background-color: transparent;
}

.small-circle-text {
    padding: 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.small-circle-text-trans {
    padding: 0;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.border {
    border: 1px solid #bebec4;
    background-color: #bebec4;
    border-radius: 2px;
    height: 72%;
    width: 1px;
    margin: 3px 0px 3px 8px;
}

.detail-col {
    font-weight: 600;
    margin-bottom: 7px;
}

.alert-dismissible {
    padding-right: 11.25rem !important;
    margin-left: 20%;
}

.dropdown-icon {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn span, .navbar .navbar-nav > a.btn span {
    position: relative;
    display: inherit !important;
    margin-left: 20%;
}

/*white content - light theme*/

.white-content .pagination a {
    background: rgba(255, 255, 255, 0.8);
}

.white-content .main-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.white-content .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgba(255, 255, 255, 0.8);
}

/*Dropdown*/

.dropdown.show .dropdown-menu, .bootstrap-select.show .dropdown-menu:not(.inner), .dropdown-menu.bootstrap-datetimepicker-widget.top.open, .dropdown-menu.bootstrap-datetimepicker-widget.bottom.open, .dropup.show:not(.bootstrap-select) .dropdown-menu, .navbar .dropdown.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 1px, 0) !important;
}

.dropdown .dropdown-menu, .dropup:not(.bootstrap-select) .dropdown-menu, .bootstrap-select .dropdown-menu:not(.inner), .dropdown-menu.bootstrap-datetimepicker-widget.bottom {
    /*-webkit-transform: translate3d(0, -20px, 0) !important;*/
    /*transform: translate3d(0, -20px, 0) !important;*/
    /*visibility: hidden;*/
    display: block;
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    top: 100% !important;
}

.dropdown-menu.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu.show {
    /*display: block;*/
}

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
    /*right: auto;*/
    bottom: auto;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.1428rem;
    /*-webkit-transition: all 150ms linear;*/
    transition: all 150ms linear;
}

.dropdown-menu {
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 0;*/
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #525f7f;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    /*border: 0 solid rgba(34, 42, 66, 0.15);*/
    /*border-radius: 0.1428rem;*/
    /*box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);*/
}

.dropdown-menu.dropdown-menu-right:before, .dropdown-menu.dropdown-menu-right:after {
    left: auto;
    right: 10px;
}

.dropdown-menu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    /*left: 10px;*/
    /*right: auto;*/
    color: #ffffff;
    border-bottom: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
}

.dropdown-menu.dropdown-menu-right:before, .dropdown-menu.dropdown-menu-right:after {
    left: auto;
    right: 10px;
}

/*Dropdown End*/

.css-1pahdxg-control{
    background-color: lightskyblue !important;
}

.css-1ml51p6-MenuList {
    max-height: 200px !important;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

/*InputTags*/

.react-tagsinput {
    background-color: #27293d !important;
    border-radius: 0.4285rem;
    border: 1px solid #ccc;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #bdbec4 !important;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 88px !important;
}

.react-tagsinput--focused {
    border-color: #b2b3b9 !important;
}
/*InputTags End*/

.IntegrationReactSelect-input-2 {
    display: contents !important;
    padding: 0;
}

.input{
    color:white !important;
}

.error-style {
    text-align: center;
    margin-bottom: 14px;
    color: red !important;
}

.pointer {
    cursor: pointer;
}

.react-datepicker__input-container input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: rgb(39, 41, 61);
    border-radius: 8px;
    border: 1px solid rgba(248, 247, 247, 0.8);
    color : rgba(255, 255, 255, 0.8);
    padding-left: 7%;
}

.modal-content .modal-header .modal-title {
    color: #222a42;
    padding-right: 3%;
}

.btn:disabled, .btn[disabled], .btn.disabled {
    opacity: 4.5;
    /*filter: alpha(opacity=50);*/
    pointer-events: none;
}