<template>
  <div>
    <form class="" @submit.prevent="setup">
      <h3 class="mb-2">Setup</h3>
      <p class="mb-2">1. First you must manually add your account to AWS Cognito, then you can sign in here to create the first system admin user and group.</p>
      <p class="mb-2">2. Add 2 new groups, admin and system_admin and add the user to both.</p>
      <p class="mb-2">3. Make sure the AdminQueriesadxxxxxxxLambdaRole-env role has full cognito privs</p>
      <p class="mb-2">4. There is no success messages or error messages, check your consol.log</p>
      <input name="email" class="block border p-2 w-full mb-4 rounded" type="text" v-model="formFields.email" placeholder="Email"/>
      <input name="password" class="block border p-2 w-full mb-4 rounded" type="password" v-model="formFields.password" placeholder="Password"/>
      <div class="block sm:flex sm:space-x-4">
        <button class="flex-1 w-full border p-2 bg-blue-600 text-white rounded">Setup</button>
      </div>
    </form>
  </div>
</template>

<script>


import { createTenant, createUser } from '@/graphql/mutations'
import { Auth, API } from 'aws-amplify';


  export default {
    data(){
    return{
        formFields:{
          email: '',
          password: ''
        }
      }
    },
    methods: {
      async setup(){
        var login = await Auth.signIn(this.formFields.email, this.formFields.password)
        console.log({step0: login})
        var tenant = await this.createTenant()
        console.log({step1: tenant})
        var user = await this.createUser(tenant)
        console.log({step2: user})
      },

      /** Create a new Tenant and Group */
      async createTenant(){
        try {
          
          //Create Group
          let groupName = this.generateGroupName('dbservices')
          var resultGroupCreate = await this.createCognitoGroup(groupName)


          //Create Tenant record
          const input = {
            group: groupName,
            companyName: "DB Services",
            numberOfSeats: 100          
          }
          console.log(input)
          const result = await this.api(createTenant, {input: input})
          return result.data.createTenant
          
        } catch(e) {
          console.log(e)
          alert(e.message)        
        }
      },

      /** Create a cognito group for the new tenant */
      async createCognitoGroup(groupName) {         
        let apiName = 'AdminQueries';
        let path = '/createGroup';
        let myInit = {
            body: {
              "groupname": groupName
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, myInit);
        console.log(result)
        return result
      },

      generateGroupName(groupName) {
        let randomNumber = Math.ceil(Math.random() * 100)
        
        const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
        const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
        const p = new RegExp(a.split('').join('|'), 'g')

        let cleanGroupName = groupName.toString().toLowerCase()
          .replace(/\s+/g, '-') // Replace spaces with -
          .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
          .replace(/&/g, '-and-') // Replace & with 'and'
          .replace(/[^\w\-]+/g, '') // Remove all non-word characters
          .replace(/\-\-+/g, '-') // Replace multiple - with single -
          .replace(/^-+/, '') // Trim - from start of text
          .replace(/-+$/, '') // Trim - from end of text
        return cleanGroupName + "-" + randomNumber
      },

      async createUser(tenant){
        try {
          console.log({tenant: tenant})
          var email = "mason.sten@gmail.com"
        
          //Create DB record
          const input = {
            firstName: "Test",
            lastName: "User",
            email: email,
            role: "admin",
            userTenantId: tenant.id,
            group: ['system_admin', tenant.group ]
          }        

          const result = await this.api(createUser, {input: input})
          console.log({createDBUser:result})
          const userId = result.data.createUser.id

          //create cognito user
          var cognitoUser = await this.createCognitoUser(email, userId)
          console.log({createCognitoUser: cognitoUser})
          //Add user to group
          var addToGroup = await this.addUserToCognitoGroup(email, tenant.group)
          console.log({addToGroup: addToGroup})
          //Clean up app state
          this.userModalOpen = false
          this.$emit('loadData')
        } catch(e) {
          console.log(e)
          this.displayUserNotification({
            title: "Error",
            type: "error",
            message: e.errors[0].message
          })          
        }
      },


      async createCognitoUser(username, userId){
        let apiName = 'AdminQueries';
        let path = '/createUser';
        let post = {
            body: {
              "username": username,
              "userId": userId,
              "temporaryPassword": "Filemaker246"
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, post);
        console.log(result)
        return result
      },


      async addUserToCognitoGroup(username, groupname) { 
        let apiName = 'AdminQueries';
        let path = '/addUserToGroup';
        let myInit = {
            body: {
              "username" : username,
              "groupname": groupname
            }, 
            headers: {
              'Content-Type' : 'application/json',
              Authorization: `${(await Auth.currentSession()).getAccessToken().getJwtToken()}`
            } 
        }
        var result = await API.post(apiName, path, myInit);
      },

    },
  }
</script>