<template>
  <el-drawer
    class="drawer-style"
    :visible.sync="visibility"
    custom-class="custom-drawer"
    :show-close="false"
    :close-on-press-escape="false"
    :wrapperClosable="false"
    with-header
    direction="rtl"
  >
    <!-- Title  -->
    <template slot="title">
      <slot name="drawerTitle">
        <el-row class="leading-normal p-1">
          <el-col :span="24">
            <span class="text-lg">{{ title }}</span>
          </el-col>
          <el-col :span="24" class="leading-3">
            <span class="text-xs">{{ subtitle }}</span>
          </el-col>
        </el-row>
      </slot>
      <slot name="drawerIcons"></slot>
    </template>
    <!-- Content -->
    <slot name="drawerContent" class="custom-drawer__content">
      <slot></slot>
    </slot>
    <!-- Footer -->
    <slot name="drawerfooter" class="custom-drawer__footer p-4 flex justify-end">
      <slot></slot>
    </slot>
    <el-row>
      <el-col :span="24" class="custom-drawer__footer p-4 flex justify-start">
        <slot name="drawerfooter-start" >
          <slot></slot>
        </slot>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24" class="custom-drawer__footer p-4 flex justify-end">
        <slot name="drawerfooter-end" >
          <slot></slot>
        </slot>
      </el-col>
    </el-row>
  </el-drawer>
</template>
<script>
export default {
  props: {
    visibility: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: "",
    },
    subtitle: {
      type: String,
      default: "",
    },
  },
};
</script>
<style>
.el-content-title__drawer{
  @apply w-full border-b font-bold mb-2 text-gray-600 !important;
}
.drawer-style .el-drawer__header {
  @apply bg-brand p-4 mb-0;
  color: #fff;
}
.el-drawer__body {
  position: relative;
}
</style>